Repository microsoft/vcpkg, pull requests merged in 2020-12, with the labels that each got.

#14866 [vcpkg baseline] [gdal] Fix build errors on linux and osx
  ports/gdal/CONTROL
  ports/gdal/portfile.cmake
Labels: category:port-bug, info:internal

#14852 [vcpkg] Expose alpha end-to-end versioning
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature

#14774 [rtaudio] Add new port
  ports/rtaudio/LICENSE
  ports/rtaudio/portfile.cmake
  ports/rtaudio/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:new-port, depends:vm-update, requires:author-response

#14791 [vcpkg] Remove non-existing 'import' command in vcpkg help information
  toolsrc/src/vcpkg/commands.autocomplete.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:vcpkg-bug, info:internal

#14863 [c-ares] Update to 1.17.1.
  ports/c-ares/CONTROL
  ports/c-ares/portfile.cmake
Labels: category:port-update, info:reviewed

#14801 [cwalk] Add new port
  ports/cwalk/portfile.cmake
  ports/cwalk/vcpkg.json
Labels: category:new-port, info:reviewed

#14800 [Proj4] Update to 7.2.0
  ports/libspatialite/CONTROL
  ports/libspatialite/portfile.cmake
  ports/proj4/CONTROL
  ports/proj4/disable-export-namespace.patch
  ports/proj4/disable-projdb-with-arm-uwp.patch
  ports/proj4/fix-linux-build.patch
  ports/proj4/fix-proj4-targets-cmake.patch
  ports/proj4/fix-sqlite-dependency-export.patch
  ports/proj4/fix-win-output-name.patch
  ports/proj4/portfile.cmake
  ports/proj4/tools-cmake.patch
  ports/spatialite-tools/CONTROL
  ports/spatialite-tools/portfile.cmake
Labels: category:port-update, info:reviewed

#14782 [xbyak] update to 5.991
  ports/xbyak/portfile.cmake
  ports/xbyak/vcpkg.json
Labels: category:port-update, info:reviewed

#14771 [elfutils] add new port
  ports/elfutils/CONTROL
  ports/elfutils/configure.ac.patch
  ports/elfutils/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#14724 [opengl] port path fix when crosscompiling
  ports/opengl/CONTROL
  ports/opengl/portfile.cmake
Labels: category:port-bug, info:reviewed

#14719 [ceres] upgrade to 2.0.0
  ports/ceres/0001_cmakelists_fixes.patch
  ports/ceres/0002_use_glog_target.patch
  ports/ceres/0003_fix_exported_ceres_config.patch
  ports/ceres/0004_fix_find_eigen.patch
  ports/ceres/CONTROL
  ports/ceres/portfile.cmake
  ports/theia/portfile.cmake
Labels: category:port-update, info:reviewed

#11225 [magnum] fixes adding any feature that depends on any other feature it will enable all the defaults
  ports/magnum/CONTROL
Labels: category:port-feature, info:reviewed

#14762 [redis-plus-plus] Add c++17 feature
  ports/redis-plus-plus/CONTROL
  ports/redis-plus-plus/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#14785 [openssl] Handle INSTALL_NAME_DIR and OSX_DEPLOYMENT_TARGET for macOS shared builds
  ports/openssl/CONTROL
  ports/openssl/unix/CMakeLists.txt
Labels: category:port-feature, requires:discussion

#14868 [aws-sdk-cpp] Restore AWSSDKConfig.cmake and add usage
  ports/aws-sdk-cpp/CONTROL
  ports/aws-sdk-cpp/fix-AWSSDKCONFIG.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/usage
Labels: category:port-bug, info:internal, info:reviewed

#14790 [osg] Update dependency
  ports/osg/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#14884 [vcpkg baseline][vtk-m] fix the sha512
  docs/maintainers/vcpkg_from_github.md
  docs/maintainers/vcpkg_from_gitlab.md
  ports/moos-core/CONTROL
  ports/moos-core/portfile.cmake
  ports/vtk-m/CONTROL
  ports/vtk-m/portfile.cmake
  scripts/cmake/vcpkg_from_github.cmake
  scripts/cmake/vcpkg_from_gitlab.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14872 [microsoft-signalr] Fix build error on Linux
  ports/microsoft-signalr/CONTROL
  ports/microsoft-signalr/portfile.cmake
  ports/microsoft-signalr/remove-fno-rtti-compile-option.patch
Labels: category:port-bug, info:internal, info:reviewed

#14803 Include "zip" as required apt dependency in bootstrap error message
  scripts/bootstrap.sh
Labels: category:tool-update, info:reviewed

#14913 [vcpkg baseline][monkeys-audio] Update to 565d.
  ports/monkeys-audio/CONTROL
  ports/monkeys-audio/portfile.cmake
Labels: category:port-update, info:reviewed

#14755 [libtorrent] Update to 1.2.11
  ports/libtorrent/CONTROL
  ports/libtorrent/add-datetime-to-boost-libs.patch
  ports/libtorrent/fix_python_cmake.patch
  ports/libtorrent/portfile.cmake
Labels: category:port-update, info:reviewed

#14904 [magic-enum] Update to v0.7.1
  ports/magic-enum/CONTROL
  ports/magic-enum/portfile.cmake
Labels: category:port-update, info:reviewed

#14886 [google-cloud-cpp] update to latest release (v1.21.0)
  ports/google-cloud-cpp/CONTROL
  ports/google-cloud-cpp/portfile.cmake
Labels: category:port-update, info:reviewed

#14927 [vcpkg] Error on '#' in version strings to avoid confusion
  toolsrc/include/vcpkg/base/jsonreader.h
  toolsrc/include/vcpkg/base/util.h
  toolsrc/include/vcpkg/versiondeserializers.h
  toolsrc/include/vcpkg/versiont.h
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/versiondeserializers.cpp
Labels: category:vcpkg-feature, info:internal

#14945 Fix failures when parsing the default options for binary caching not being emitted.
  toolsrc/include/vcpkg/base/parse.h
  toolsrc/src/vcpkg/base/parse.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/versiondeserializers.cpp
Labels: category:vcpkg-bug, info:internal

#14776 [Chipmunk] build via cmake
  ports/chipmunk/CONTROL
  ports/chipmunk/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#14857 Change Nuget binary cache pre-release info to always start with letters
  toolsrc/src/vcpkg-test/binarycaching.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
Labels: category:vcpkg-feature, info:reviewed

#14862 [nghttp2] Update to 1.42.0.
  ports/nghttp2/CONTROL
  ports/nghttp2/portfile.cmake
Labels: category:port-update, info:reviewed

#14936 [aws-sdk-cpp] Add find_dependency to AWSSDKConfig.cmake and fix usage
  ports/aws-sdk-cpp/CONTROL
  ports/aws-sdk-cpp/fix-AWSSDKCONFIG.patch
  ports/aws-sdk-cpp/usage
Labels: category:port-bug, info:internal, info:reviewed

#14901 [opencascade] Fix static build
  ports/opencascade/CONTROL
  ports/opencascade/fix-build-with-vs2017.patch
  ports/opencascade/fix-static-build.patch
  ports/opencascade/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#14880 [cuda] Add ENV CUDA_HOME to path hints
  ports/cuda/CONTROL
  ports/cuda/vcpkg_find_cuda.cmake
Labels: category:port-feature, info:reviewed

#14897 [termcolor]; Add termcolor
  ports/termcolor/portfile.cmake
  ports/termcolor/vcpkg.json
Labels: category:new-port, info:reviewed

#14898 [kuku] Add new port
  ports/kuku/CMakeLists-windows.patch
  ports/kuku/CONTROL
  ports/kuku/portfile.cmake
Labels: category:new-port, info:reviewed

#14912 [flashlight-cuda] Add stb as dependency, bump port commit
  ports/flashlight-cuda/portfile.cmake
  ports/flashlight-cuda/vcpkg.json
Labels: category:port-update, info:reviewed

#14911 [arrayfire] Update port to fix cuSparse issue with CUDA 10.1
  ports/arrayfire/build.patch
  ports/arrayfire/vcpkg.json
Labels: category:port-bug, info:reviewed

#14916 [quill] Update 1.6.0
  ports/quill/CONTROL
  ports/quill/portfile.cmake
Labels: category:port-update, info:reviewed

#14921 [libpqxx] update to 7.2.1
  ports/libpqxx/CONTROL
  ports/libpqxx/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14935 [usockets] Fix build issue with feature ssl
  ports/usockets/CMakeLists.txt
  ports/usockets/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#14813 [pugixml] Update to 1.11.1
  ports/pugixml/CONTROL
  ports/pugixml/portfile.cmake
  ports/pugixml/pugixml-v1.10_fix_debug_pkgconfig.patch
Labels: category:port-update

#14841 [pegtl] Update to 3.0.0 release
  ports/pegtl/CONTROL
  ports/pegtl/portfile.cmake
Labels: category:port-update, info:reviewed

#14842 [cppgraphqlgen] Update to v3.3.0
  ports/cppgraphqlgen/CONTROL
  ports/cppgraphqlgen/portfile.cmake
Labels: category:port-update, info:reviewed

#14972 [ATK] Installing .pc files
  ports/atk/CMakeLists.txt.in
  ports/atk/CONTROL
  ports/atk/portfile.cmake
Labels: category:port-feature, info:reviewed

#14975 [nanobench] update to 4.3.0
  ports/nanobench/CONTROL
  ports/nanobench/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14980 [EASTL] update to 3.17.03
  ports/eastl/CONTROL
  ports/eastl/fix_cmake_install.patch
  ports/eastl/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14981 [libcopp] update to 1.3.3
  ports/libcopp/CONTROL
  ports/libcopp/portfile.cmake
Labels: category:port-update, info:reviewed

#14970 [ NASM ] Update version from 2.14.02 to 2.15.05
  ports/freetds/portfile.cmake
  ports/freetds/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update, requires:author-response

#14889 [vcpkg] Add SemVer and Date versioning schemes
  scripts/generateBaseline.py
  toolsrc/include/vcpkg/versions.h
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/versions.cpp
Labels: category:vcpkg-feature, info:internal

#13126 [vcpkg_fixup_pkgconfig] Handle spaces in path, do not validate individual libraries
  docs/maintainers/vcpkg_fixup_pkgconfig.md
  ports/ceres/portfile.cmake
  ports/libbson/CONTROL
  ports/libbson/portfile.cmake
  ports/mongo-c-driver/CONTROL
  ports/mongo-c-driver/portfile.cmake
  ports/nettle/CONTROL
  ports/nettle/portfile.cmake
  ports/x265/CONTROL
  ports/x265/portfile.cmake
  scripts/azure-pipelines/end-to-end-tests.ps1
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:tool-update, info:internal, info:reviewed

#14923 [cimg] update to 2.9.4
  ports/cimg/CONTROL
  ports/cimg/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14946 [fontconfig] fix dll name in def file
  ports/fontconfig/CONTROL
  ports/fontconfig/fix_def_dll_name.patch
  ports/fontconfig/portfile.cmake
Labels: category:port-bug, info:reviewed

#14997 [libcopp] Update to 1.3.4 (#14996)
  ports/libcopp/CONTROL
  ports/libcopp/portfile.cmake
Labels: category:port-update, info:reviewed

#14952 [vcpkg] Fix uploading to Azure DevOps Artifacts
  docs/users/binarycaching.md
  toolsrc/src/vcpkg/binarycaching.cpp
Labels: category:vcpkg-bug, info:internal

#14483 [libjpeg-turbo] Enabled jpeg7 and jpeg8 APIs
  ports/libjpeg-turbo/CONTROL
  ports/libjpeg-turbo/portfile.cmake
Labels: category:port-feature, info:reviewed

#14960 [pcl] Fix build when librealsense2 is present
  ports/pcl/CONTROL
  ports/pcl/portfile.cmake
  ports/pcl/realsense2.patch
Labels: category:port-bug, info:reviewed

#15001 Fix crosscompiling for x86_64 on ARM64 macOS
  triplets/x64-osx.cmake
Labels: info:reviewed

#14991 [libxml2] build failure with x64-linux-dynamic (Fix #14990)
  ports/libxml2/CMakeLists.txt
  ports/libxml2/CONTROL
Labels: category:port-bug, info:reviewed

#15036 [speexdsp] Fix include directories for Linux builds
  ports/speexdsp/CMakeLists.txt
  ports/speexdsp/CONTROL
  scripts/ci.baseline.txt
Labels: category:port-bug

#15030 [tcl, anyrpc, ois, osgearth] Build Fixes 2020-12-09
  ports/anyrpc/CONTROL
  ports/anyrpc/portfile.cmake
  ports/anyrpc/vcpkg.json
  ports/ois/CONTROL
  ports/ois/portfile.cmake
  ports/ois/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#14917 [freetype] Make zlib and brotli features
  ports/freetype/CONTROL
  ports/freetype/fix-exports.patch
  ports/freetype/portfile.cmake
  ports/freetype/vcpkg-cmake-wrapper.cmake
Labels: category:port-feature, info:reviewed

#14948 [vcpkg] Improve error messages for incomplete Mono
  toolsrc/include/vcpkg/base/expected.h
  toolsrc/src/vcpkg/tools.cpp
Labels: category:vcpkg-feature, info:internal

#12785 [OpenCV] fix compatibility with VTK9
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  ports/opencv2/CONTROL
  ports/opencv2/portfile.cmake
  ports/opencv3/0005-fix-vtk9.patch
  ports/opencv3/CONTROL
  ports/opencv3/portfile.cmake
  ports/opencv4/0006-fix-vtk9.patch
  ports/opencv4/0007-fix-vtk9-contrib.patch
  ports/opencv4/CONTROL
  ports/opencv4/portfile.cmake
  ports/tesseract/CONTROL
  ports/tesseract/portfile.cmake
  ports/vtk/module-name-mangling.patch
  ports/vtk/portfile.cmake
  scripts/test_ports/vcpkg-ci-opencv/CONTROL
  scripts/test_ports/vcpkg-ci-opencv/portfile.cmake
Labels: category:port-bug, info:reviewed

#14925 [sail] Add new port
  ports/sail/portfile.cmake
  ports/sail/usage
  ports/sail/vcpkg.json
Labels: category:new-port, info:reviewed

#14992 [sdl2] Don't propagate shared link options
  ports/sdl2/no-propagate-shared-link-options.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
Labels: category:port-bug, info:reviewed

#15002 [libpng] Fix cross-compilation on macOS
  ports/libpng/CONTROL
  ports/libpng/macos-arch-fix.patch
  ports/libpng/portfile.cmake
Labels: category:port-bug, info:reviewed

#15056 [opencascade] Fix OpenCASCADE_INSTALL_PREFIX path in config
  ports/opencascade/CONTROL
  ports/opencascade/fix-install-prefix-path.patch
  ports/opencascade/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15058 [mp3lame] Fix lib suffix on Unix
  ports/mp3lame/CONTROL
  ports/mp3lame/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15057 [taskflow] update port to v2.7.0
  ports/taskflow/CONTROL
  ports/taskflow/portfile.cmake
Labels: category:port-update, info:reviewed

#15062 [openssl] Remove extra slashes when installing usage
  ports/openssl/CONTROL
  ports/openssl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15042 [sentry-native] Fix sentry-config-cmake.in
  ports/sentry-native/CONTROL
  ports/sentry-native/fix-config-cmake.patch
  ports/sentry-native/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15045 [vcpkg] Don't require native tools on arm64 macOS
  toolsrc/src/vcpkg.cpp
Labels: category:vcpkg-feature, info:reviewed

#15027 [arrayfire] Remove forge and graphics deps from port
  ports/arrayfire/build.patch
  ports/arrayfire/portfile.cmake
  ports/arrayfire/vcpkg.json
Labels: category:port-feature, info:reviewed

#15095 Avoid C4819 warning during bootstrap-vcpkg.bat
  toolsrc/src/vcpkg/export.prefab.cpp
  toolsrc/src/vcpkg/registries.cpp
Labels: category:vcpkg-bug, info:reviewed

#15060 [fontconfig] Disable install data files
  ports/fontconfig/CONTROL
  ports/fontconfig/disable-install-data.patch
  ports/fontconfig/portfile.cmake
Labels: category:port-bug, info:internal, requires:discussion

#15084 [vcpkg] Adhere to older draft schema to improve compatibility with editors (such as VS)
  scripts/vcpkg.schema.json
Labels: category:vcpkg-feature, info:reviewed

#15082 [glbinding] Improve usage information
  ports/glbinding/CONTROL
  ports/glbinding/portfile.cmake
  ports/glbinding/usage
  ports/glbinding/vcpkg.json
Labels: category:port-feature, info:reviewed

#14954 [vcpkg] Disable survey message
  toolsrc/src/vcpkg.cpp
Labels: category:vcpkg-feature, info:internal

#15076 Properly index package actions in log
  toolsrc/src/vcpkg/install.cpp
Labels: category:vcpkg-bug, info:reviewed

#15081 [vcpkg] Refactor end-to-end tests
  scripts/azure-pipelines/end-to-end-tests-dir/backcompat-helpers.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/binarycaching.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/cli.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/create.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/integrate-install.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/spaces.ps1
  scripts/azure-pipelines/end-to-end-tests-prelude.ps1
  scripts/azure-pipelines/end-to-end-tests.ps1
  scripts/ports.cmake
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg-test/arguments.cpp
  toolsrc/src/vcpkg-test/commands.create.cpp
  toolsrc/src/vcpkg/commands.create.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:code-cleanup

#15110 [vcpkg] Fix CMAKE_CURRENT_LIST_DIR in load_dep_info_vars()
  toolsrc/include/vcpkg/base/files.h
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/cmakevars.cpp
Labels: category:vcpkg-bug, info:internal, info:reviewed

#15010 [vcpkg] Remove extra indirection in IVersionedPortfileProvider/IBaselineProvider
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
Labels: category:vcpkg-feature, info:internal

#15116 [vcpkg] fix v140. again
  toolsrc/include/vcpkg/versiondeserializers.h
  toolsrc/src/vcpkg/versiondeserializers.cpp
Labels: category:vcpkg-bug

#14825 [vcpkg_apply_patches] Fix Git too long path error
  scripts/cmake/vcpkg_apply_patches.cmake
Labels: category:vcpkg-feature, info:reviewed

#13899 [imgui] Add experimental docking feature
  ports/imgui/CONTROL
  ports/imgui/portfile.cmake
Labels: category:new-port, info:reviewed

#15104 [ csv2 ]update to latest commit
  ports/p-ranav-csv2/CONTROL
  ports/p-ranav-csv2/portfile.cmake
Labels: category:port-update, info:reviewed

#15109 Azure-IoT-Sdk for C release 2020-12-09
  ports/azure-c-shared-utility/CONTROL
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-iot-sdk-c/CONTROL
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-uamqp-c/CONTROL
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uhttp-c/CONTROL
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-umqtt-c/CONTROL
  ports/azure-umqtt-c/portfile.cmake
Labels: category:port-update, info:reviewed

#15105 [NLopt] Update to 2.7.0
  ports/nlopt/0001-suppress-MS-compiler-complaint-about-negating-unsign.patch
  ports/nlopt/CONTROL
  ports/nlopt/portfile.cmake
  ports/nlopt/vcpkg.json
Labels: category:port-update, info:reviewed

#15044 [osg] build failure
  ports/osg/CONTROL
  ports/osg/fix-example-application.patch
Labels: category:port-bug, info:internal, info:reviewed

#15147 [openexr] Remove python dependency of openexr.
  ports/openexr/CONTROL
  ports/openexr/vcpkg.json
Labels: category:port-bug, info:internal

#15141 [vcpkg ci] upload diff from clang-format to artifacts
  format.diff
  scripts/azure-pipelines/Create-FormatDiff.ps1
  scripts/azure-pipelines/Format-CxxCode.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/Check-CMakeFunctionDocumentation.ps1
  scripts/azure-pipelines/windows/Check-CxxFormatting.ps1
  scripts/azure-pipelines/windows/Check-ManifestFormatting.ps1
  scripts/azure-pipelines/windows/Get-ChangedFiles.ps1
Labels: category:vcpkg-feature

#15068 [oneDNN] New port
  ports/onednn/portfile.cmake
  ports/onednn/vcpkg.json
Labels: category:new-port, info:reviewed

#15156 [Realsense2] Update to 2.40.0
  ports/realsense2/CONTROL
  ports/realsense2/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15038 [readosm] Update to 1.1.0a
  ports/readosm/CONTROL
  ports/readosm/fix-makefiles.patch
  ports/readosm/fix-version-macro.patch
  ports/readosm/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#15022 [eigen3] update to 3.3.9
  ports/eigen3/CONTROL
  ports/eigen3/disable_pkgconfig_absolute_path_check.patch
  ports/eigen3/portfile.cmake
Labels: category:port-update, info:reviewed

#15125 [coin] x64-windows-statid-md fixes
  ports/coin/CONTROL
  ports/coin/portfile.cmake
Labels: category:community-triplet, category:port-bug, info:reviewed

#15142 [mdns] added new port
  ports/mdns/portfile.cmake
  ports/mdns/vcpkg.json
Labels: category:new-port, info:reviewed

#15092 [breakpad] Support breakpad_client on Linux & macOS
  ports/breakpad/CMakeLists.txt
  ports/breakpad/CONTROL
  ports/breakpad/check_getcontext.cc
  ports/breakpad/portfile.cmake
Labels: category:port-feature, info:reviewed

#14876 [clrng] Add new port: clRNG
  ports/clrng/001-build-fixup.patch
  ports/clrng/CONTROL
  ports/clrng/portfile.cmake
Labels: category:new-port, info:reviewed

#15171 [docs] Document acceptable uses for features.
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:internal

#15149 [vcpkg] Fix warning (as error) when building vcpgk/toolsrc with clang++ 10 or g++ 9.3 (see #15148)
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg/versiondeserializers.cpp
Labels: category:vcpkg-bug

#15115 [vcpkg] `VCPKG_ENV_PASSTHROUGH_UNTRACKED`
  docs/users/triplets.md
  scripts/azure-pipelines/end-to-end-tests-dir/env-passthrough.ps1
  scripts/testing/env-passthrough/passthrough.cmake
  scripts/vcpkg_get_tags.cmake
  toolsrc/include/vcpkg/build.h
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.env.cpp
Labels: category:vcpkg-feature, info:internal

#14976 [osgearth/rocksdb] Update to latest release
  ports/osgearth/CONTROL
  ports/osgearth/RocksDB.patch
  ports/osgearth/portfile.cmake
  ports/rocksdb/0001-disable-gtest.patch
  ports/rocksdb/0002-only-build-one-flavor.patch
  ports/rocksdb/0003-use-find-package.patch
  ports/rocksdb/0004-add-config-to-findpackage.patch
  ports/rocksdb/0004-fix-dependency-in-config.patch
  ports/rocksdb/0005-backport-msvc-fixes-pr-7439.patch
  ports/rocksdb/0005-do-not-install-cmake-modules.patch
  ports/rocksdb/CONTROL
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#15177 [cppmicroservices] Fix warning C4834
  ports/cppmicroservices/CONTROL
  ports/cppmicroservices/fix-warning-c4834.patch
  ports/cppmicroservices/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15159 [comms] fixes debug build configuration
  ports/comms-ublox/portfile.cmake
  ports/comms-ublox/vcpkg.json
  ports/comms/portfile.cmake
  ports/comms/usage
  ports/comms/vcpkg.json
  ports/commsdsl/portfile.cmake
  ports/commsdsl/vcpkg.json
Labels: category:port-bug, info:reviewed

#14891 [python3] Build interpreter
  docs/maintainers/vcpkg_build_make.md
  ports/python3/0001-static-library.patch
  ports/python3/0002-static-crt.patch
  ports/python3/0002-use-vcpkg-zlib.patch
  ports/python3/0003-devendor-external-dependencies.patch
  ports/python3/0004-dont-copy-vcruntime.patch
  ports/python3/0005-only-build-required-projects.patch
  ports/python3/0006-fix-duplicate-symbols.patch
  ports/python3/CONTROL
  ports/python3/openssl.props.in
  ports/python3/portfile.cmake
  ports/python3/python_vcpkg.props.in
  ports/python3/vcpkg.json
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_copy_tool_dependencies.cmake
Labels: category:port-feature, category:tool-update, info:reviewed

#15037 [librttopo]new port
  ports/librttopo/CONTROL
  ports/librttopo/fix-geoconfig.patch
  ports/librttopo/fix-makefiles.patch
  ports/librttopo/portfile.cmake
  ports/librttopo/rttopo_config.h.in
Labels: category:new-port, info:reviewed

#15188 Fixed internal compiler error when using newer GCC@master.
  toolsrc/src/vcpkg/base/json.cpp
Labels: category:vcpkg-bug, info:reviewed

#15186 [pegtl] Update to release version 3.1.0
  ports/pegtl/CONTROL
  ports/pegtl/portfile.cmake
Labels: category:port-update, info:reviewed

#15112 [freetype] avoid target_link_libraries call since qt6 does not like it.
  ports/freetype/CONTROL
  ports/freetype/vcpkg-cmake-wrapper.cmake
Labels: category:port-feature, info:internal, info:reviewed

#15182 [sobjectizer] update to v.5.7.2.1
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
Labels: category:port-update, info:reviewed

#15168 [civetweb] Disable extensive log output for debug builds
  ports/civetweb/CONTROL
  ports/civetweb/add-option-to-disable-debug-tools.patch
  ports/civetweb/portfile.cmake
Labels: category:port-feature, info:reviewed

#15040 [libspatialite] Update 5.0.0
  ports/libspatialite/CONTROL
  ports/libspatialite/fix-configure-debug.patch
  ports/libspatialite/fix-latin-literals.patch
  ports/libspatialite/fix-linux-configure.patch
  ports/libspatialite/fix-makefiles.patch
  ports/libspatialite/fix-sources.patch
  ports/libspatialite/geos-config-debug.in
  ports/libspatialite/geos-config.in
  ports/libspatialite/portfile.cmake
  ports/spatialite-tools/CONTROL
  ports/spatialite-tools/portfile.cmake
Labels: category:port-update, info:reviewed

#15179 [mingw] Use find_file to find compiler, fall back to unprefixed windres if the prefixed version doesn't exist
  scripts/toolchains/mingw.cmake
Labels: category:community-triplet, category:vcpkg-bug, info:reviewed

#15214 [avisynthplus] Update to 3.6.1
  ports/avisynthplus/portfile.cmake
  ports/avisynthplus/vcpkg.json
Labels: category:port-update, info:reviewed

#15206 Print failing upload attempts in !debug.
  toolsrc/include/vcpkg/base/strings.h
  toolsrc/include/vcpkg/base/stringview.h
  toolsrc/src/vcpkg-test/strings.cpp
  toolsrc/src/vcpkg/base/strings.cpp
  toolsrc/src/vcpkg/base/stringview.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/commands.integrate.cpp
  toolsrc/src/vcpkg/export.chocolatey.cpp
  toolsrc/src/vcpkg/export.prefab.cpp
Labels: category:vcpkg-feature, info:internal, info:reviewed

#15005 [qt5] Fix linux dynamic build
  ports/qt5-base/CONTROL
  ports/qt5-base/cmake/install_qt.cmake
  ports/qt5-base/portfile.cmake
  scripts/cmake/vcpkg_build_qmake.cmake
Labels: category:port-bug, info:reviewed

#15187 Write manifest "vcpkg install" output to stdout
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed

#15114 [vcpkg registries] support versions
  scripts/azure-pipelines/end-to-end-tests-dir/create.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/integrate-install.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/registries.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/spaces.ps1
  scripts/azure-pipelines/end-to-end-tests-prelude.ps1
  scripts/azure-pipelines/end-to-end-tests.ps1
  scripts/e2e_ports/overlays/vcpkg-uses-test-cmake/portfile.cmake
  scripts/e2e_ports/overlays/vcpkg-uses-test-cmake/vcpkg.json
  scripts/e2e_ports/overlays/vcpkg-uses-vcpkg-common-functions/portfile.cmake
  scripts/e2e_ports/overlays/vcpkg-uses-vcpkg-common-functions/vcpkg.json
  scripts/e2e_ports/port_versions/baseline.json
  scripts/e2e_ports/port_versions/v-/vcpkg-internal-e2e-test-port.json
  scripts/e2e_ports/vcpkg-internal-e2e-test-port/portfile.cmake
  scripts/e2e_ports/vcpkg-internal-e2e-test-port/vcpkg.json
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/base/jsonreader.h
  toolsrc/include/vcpkg/configuration.h
  toolsrc/include/vcpkg/configurationdeserializer.h
  toolsrc/include/vcpkg/fwd/registries.h
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/include/vcpkg/versiondeserializers.h
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg-test/registries.cpp
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/configuration.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/paragraphs.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/src/vcpkg/versiondeserializers.cpp
  toolsrc/src/vcpkg/versions.cpp
Labels: category:vcpkg-feature, info:internal

#15127 [ffmpeg] fix up the pkgconfig files
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15151 [opentracing] Update VMs 2020-12
  ports/mmloader/CONTROL
  ports/mmloader/fix_c_and_cxx_flags.patch
  ports/mmloader/portfile.cmake
  ports/mmloader/vcpkg.json
  ports/opentracing/CONTROL
  ports/opentracing/portfile.cmake
  ports/opentracing/repair_mojibake.patch
  ports/opentracing/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows-unstable/job.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-vmss.ps1
  scripts/azure-pipelines/windows/initialize-environment.ps1
  scripts/azure-pipelines/windows/provision-image.txt
  scripts/ci.baseline.txt
  scripts/vcpkgTools.xml
  toolsrc/src/vcpkg/base/downloads.cpp
Labels: category:infrastructure, category:tool-update, info:internal

#13950 [many ports] add GnuPG libraries
  ports/gpgme/CONTROL
  ports/gpgme/disable-docs.patch
  ports/gpgme/disable-tests.patch
  ports/gpgme/portfile.cmake
  ports/libassuan/CONTROL
  ports/libassuan/fix-pkgconfig.patch
  ports/libassuan/portfile.cmake
  ports/libgcrypt/CONTROL
  ports/libgcrypt/fix-pkgconfig.patch
  ports/libgcrypt/portfile.cmake
  ports/libgpg-error/CONTROL
  ports/libgpg-error/portfile.cmake
Labels: category:new-port, info:reviewed

#14807 [curl] Add feature idn2
  ports/curl/0012-fix-dependency-idn2.patch
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#15039 [spatialite-tools]update to 5.0.0
  ports/spatialite-tools/CONTROL
  ports/spatialite-tools/fix-linux-configure.patch
  ports/spatialite-tools/fix-makefiles.patch
  ports/spatialite-tools/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#15183 [ctp] bugfix for linux-x64 and file name case sensitivity
  ports/ctp/CONTROL
  ports/ctp/portfile.cmake
Labels: category:port-bug, info:reviewed

#15244 [x-plane] Update to 3.0.3
  ports/x-plane/CONTROL
  ports/x-plane/portfile.cmake
  ports/x-plane/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#15240 [Hedley] Update to v14
  ports/hedley/CONTROL
  ports/hedley/portfile.cmake
Labels: category:port-update, info:reviewed

#15259 [libpqxx] update to 7.3.0
  ports/libpqxx/CONTROL
  ports/libpqxx/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15263 [libass] update to 0.15.0
  ports/libass/ConstantValues.patch
  ports/libass/portfile.cmake
  ports/libass/vcpkg.json
Labels: category:port-update, info:internal, info:reviewed

#15215 [zziplib] Uses upstream CMakeLists.txt
  ports/zziplib/CMakeLists.txt
  ports/zziplib/CONTROL
  ports/zziplib/always-find-unixcommands-on-unix.patch
  ports/zziplib/fix-export-define.patch
  ports/zziplib/install-dll-to-proper-folder.patch
  ports/zziplib/no-release-postfix.patch
  ports/zziplib/portfile.cmake
Labels: category:port-feature, info:reviewed

#15258 Update MacOS Software
  scripts/azure-pipelines/osx/Get-InternalBaseBox.ps1
  scripts/azure-pipelines/osx/Install-Prerequisites.ps1
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/Setup-VagrantMachines.ps1
  scripts/azure-pipelines/osx/configuration/Vagrantfile
  scripts/azure-pipelines/osx/configuration/installables.json
  scripts/azure-pipelines/osx/configuration/vagrant-configuration.schema.json
Labels: category:infrastructure, info:internal

#15295 [minimp3] update to 2020-11-27
  ports/minimp3/CONTROL
  ports/minimp3/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15063 [imgui] Fix find dependencies
  ports/imgui/CMakeLists.txt
  ports/imgui/CONTROL
  ports/imgui/imgui-config.cmake.in
  ports/imgui/portfile.cmake
Labels: category:port-bug, info:internal

#15282 [mingw] Remove executable extension on non-Windows hosts
  scripts/toolchains/mingw.cmake
Labels: category:community-triplet, info:reviewed

#15126 [sdl1] x64-windows-static-md fixes
  ports/sdl1/CONTROL
  ports/sdl1/SDL.vcxproj.in
  ports/sdl1/SDL_dynamic.vcxproj
  ports/sdl1/SDLmain.vcxproj.in
  ports/sdl1/SDLmain_dynamic.vcxproj
  ports/sdl1/portfile.cmake
Labels: category:community-triplet, category:port-feature, info:reviewed

#15234 [libjpeg-turbo] fix incompatibility for c11 and c17
  ports/libjpeg-turbo/CONTROL
  ports/libjpeg-turbo/fix-incompatibility-for-c11-c17.patch
  ports/libjpeg-turbo/portfile.cmake
Labels: category:port-feature, info:reviewed

#15286 [boost-di] Update to 1.2.0
  ports/boost-di/CONTROL
  ports/boost-di/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15222 Port for Microsoft GitHub DirectX-Headers
  ports/directx-headers/CONTROL
  ports/directx-headers/portfile.cmake
Labels: category:new-port, requires:discussion

#15338 [restinio] update to v.0.6.13
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
Labels: category:port-update, info:reviewed

#15236 [gmp/nettle] Update to latest release revision
  ports/gmp/portfile.cmake
  ports/gmp/prefix.patch
  ports/gmp/runtime.patch
  ports/gmp/vcpkg.json
  ports/gmp/vs.build.patch
  ports/nettle/CONTROL
  ports/nettle/fix-InstallLibPath.patch
  ports/nettle/gmp.patch
  ports/nettle/name.dir.patch
  ports/nettle/portfile.cmake
  ports/nettle/runtime.hogweed.patch
  ports/nettle/runtime.nettle.patch
  ports/nettle/runtime.patch
  scripts/ci.baseline.txt
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#15269 [libsodium] use x64 specific gcc options only on x64 platform
  ports/libsodium/CMakeLists.txt
  ports/libsodium/CONTROL
Labels: category:port-bug, info:reviewed

#15274 [boost-modular-build-helper] Allow setting B2_OPTIONS_[DBG|REL] in BOOST_CMAKE_FRAGMENT (fixes #15273)
  ports/boost-modular-build-helper/CONTROL
  ports/boost-modular-build-helper/boost-modular-build.cmake
Labels: category:port-feature, info:reviewed

#15219 [gloo] New Port
  ports/gloo/portfile.cmake
  ports/gloo/vcpkg.json
Labels: category:new-port, info:reviewed

#14988 [GLIBMM] Installing .pc file
  ports/atkmm/CONTROL
  ports/atkmm/portfile.cmake
  ports/glib/CMakeLists.txt
  ports/glib/CONTROL
  ports/glibmm/CMakeLists.txt
  ports/glibmm/CONTROL
  ports/glibmm/portfile.cmake
  ports/libsigcpp/CMakeLists.txt
  ports/libsigcpp/CONTROL
  ports/libsigcpp/portfile.cmake
  ports/libxmlpp/CMakeLists.txt
  ports/libxmlpp/CONTROL
Labels: category:port-feature, info:reviewed

#14583 [ijg-libjpeg] add new port
  ports/ijg-libjpeg/CMakeLists.txt
  ports/ijg-libjpeg/portfile.cmake
  ports/ijg-libjpeg/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#15246 [protobuf] Fix the default proto file path
  ports/protobuf/CONTROL
  ports/protobuf/fix-default-proto-file-path.patch
  ports/protobuf/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15265 [boost-modular-build-helper] Fix repeat building issue on linux and osx
  ports/boost-modular-build-helper/boost-modular-build.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15210 Updated directxtk et al for cmake package support
  ports/directxmath/CONTROL
  ports/directxmath/portfile.cmake
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxtex/CONTROL
  ports/directxtex/enable_openexr_support.patch
  ports/directxtex/portfile.cmake
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
  ports/uvatlas/CONTROL
  ports/uvatlas/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, category:port-feature, category:port-update, info:reviewed

#15257 Add testing with VS2015 and VS2017 compilers.
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: category:infrastructure, info:internal

#15018 [cppunit] add linux support and bump version to 1.15.1
  docs/examples/packaging-github-repos.md
  docs/examples/packaging-zipfiles.md
  docs/maintainers/vcpkg_build_msbuild.md
  ports/cppunit/0001-static-crt-linkage.patch
  ports/cppunit/CMakeLists.txt
  ports/cppunit/CONTROL
  ports/cppunit/CppUnitConfig.cmake
  ports/cppunit/portfile.cmake
  ports/cppunit/vcpkg.json
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_build_msbuild.cmake
Labels: category:port-feature, category:port-update, info:reviewed

#15355 [vcpkg] Fix pwsh version detection for old versions to download a fresh copy.
  toolsrc/src/vcpkg/tools.cpp
Labels: category:vcpkg-bug, info:internal

#15353 Build results from 2020-12-27
  ports/atk/CONTROL
  ports/atk/portfile.cmake
  ports/atkmm/CONTROL
  ports/atkmm/portfile.cmake
  ports/capnproto/CONTROL
  ports/capnproto/portfile.cmake
  ports/chartdir/CONTROL
  ports/chartdir/portfile.cmake
  ports/gdk-pixbuf/CONTROL
  ports/gdk-pixbuf/portfile.cmake
  ports/glibmm/CONTROL
  ports/glibmm/portfile.cmake
  ports/gtkmm/CONTROL
  ports/gtkmm/portfile.cmake
  ports/leaf/CONTROL
  ports/leaf/portfile.cmake
  ports/leaf/vcpkg.json
  ports/libsigcpp/CONTROL
  ports/libsigcpp/portfile.cmake
  ports/libxmlpp/CONTROL
  ports/libxmlpp/portfile.cmake
  ports/magic-get/CONTROL
  ports/magic-get/portfile.cmake
  ports/magic-get/vcpkg.json
  ports/pangomm/CONTROL
  ports/pangomm/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:code-cleanup, category:port-bug, info:internal
