Repository microsoft/vcpkg, pull requests merged in 2020-07, with the labels that each got.

#12172 [vcpkg ci] add macos scripts to vcpkg repo
  .gitignore
  scripts/azure-pipelines/osx/Install-Prerequisites.ps1
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/Setup-VagrantMachines.ps1
  scripts/azure-pipelines/osx/Utilities.psm1
  scripts/azure-pipelines/osx/configuration/VagrantFile
  scripts/azure-pipelines/osx/configuration/installables.json
  scripts/azure-pipelines/osx/configuration/installables.schema.json
  scripts/azure-pipelines/osx/configuration/vagrant-configuration.schema.json
Labels: category:infrastructure, info:internal

#12176 [vcpkg] VM Update
  scripts/Generate-SpdxLicenseList.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/create-vmss-helpers.psm1
  scripts/azure-pipelines/generate-skip-list.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/provision-image.txt
  scripts/bootstrap.ps1
Labels: category:infrastructure, info:internal

#12170 [vcpkg] Enable NuGet-based binary caching via mono
  scripts/vcpkgTools.xml
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/tools.cpp
Labels: category:vcpkg-feature, info:internal

#12145 [vcpkg] Update message in bootstrap.ps1
  docs/users/integration.md
  scripts/bootstrap.ps1
Labels: category:vcpkg-bug, info:internal, info:reviewed

#12155 [imgui] Update to 1.77
  ports/imgui/CMakeLists.txt
  ports/imgui/CONTROL
  ports/imgui/portfile.cmake
Labels: category:port-update, requires:testing

#12167 [infoware] Bump version to 0.5.4
  ports/infoware/CONTROL
  ports/infoware/portfile.cmake
Labels: category:port-update, requires:testing

#12209 [azure-iot-sdk-c] Fix feature name and enable to build
  ports/azure-iot-sdk-c/CONTROL
  ports/azure-iot-sdk-c/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12206 [span-lite] Update to 0.7.0
  ports/span-lite/CONTROL
  ports/span-lite/portfile.cmake
Labels: category:port-update, info:reviewed

#11399 [vtk] Added opengl feature.
  ports/vtk/CONTROL
  ports/vtk/portfile.cmake
Labels: category:port-feature, info:reviewed

#12212 [msbuild] Revert the importance to Normal
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug, info:internal

#12197 [vcpkg] Remove the tombstones and 'ignore' baseline concepts.
  scripts/azure-pipelines/analyze-test-results.ps1
  scripts/azure-pipelines/generate-skip-list.ps1
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/ci.baseline.txt
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/binarycaching.h
  toolsrc/include/vcpkg/build.h
  toolsrc/include/vcpkg/install.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.buildexternal.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/commands.upgrade.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/postbuildlint.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:infrastructure, info:internal

#12217 [safeint] Update to 3.24
  ports/safeint/CONTROL
  ports/safeint/portfile.cmake
Labels: category:port-update, info:reviewed

#12205 [xerces-c] rename feature from xmlch_wchar to xmlch-wchar
  ports/xerces-c/CONTROL
  ports/xerces-c/portfile.cmake
Labels: category:port-bug, info:reviewed

#12233 [pcre2] Restore the https://ftp.pcre.org/ mirror in addition to the SourceForge mirrors.
  ports/pcre2/CONTROL
  ports/pcre2/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#12018 [vcpkg_from_sourceforge] Add retry mirror function (2/2)
  docs/maintainers/vcpkg_from_sourceforge.md
  ports/argtable2/CONTROL
  ports/cairo/CONTROL
  ports/cunit/CONTROL
  ports/epsilon/CONTROL
  ports/freeglut/CONTROL
  ports/freeimage/CONTROL
  ports/geographiclib/CONTROL
  ports/giflib/CONTROL
  ports/gsoap/CONTROL
  ports/healpix/CONTROL
  ports/irrlicht/CONTROL
  ports/itpp/CONTROL
  ports/libaiff/CONTROL
  ports/libdisasm/CONTROL
  ports/libmad/CONTROL
  ports/libmikmod/CONTROL
  ports/libnice/CONTROL
  ports/libnice/portfile.cmake
  ports/libsquish/CONTROL
  ports/libusb-win32/CONTROL
  ports/libuuid/CONTROL
  ports/libxmp-lite/CONTROL
  ports/mathgl/CONTROL
  ports/mp3lame/CONTROL
  ports/opencc/CONTROL
  ports/pcre/CONTROL
  ports/pcre/portfile.cmake
  ports/plplot/CONTROL
  ports/podofo/CONTROL
  ports/polyclipping/CONTROL
  ports/portmidi/CONTROL
  ports/rapidxml/CONTROL
  ports/sigslot/CONTROL
  ports/tinyxml/CONTROL
  ports/wtl/CONTROL
  scripts/cmake/vcpkg_download_distfile.cmake
  scripts/cmake/vcpkg_from_sourceforge.cmake
Labels: category:vcpkg-feature, info:internal

#4608 [vcpkg] Use IncludePath and LibraryPath properties
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-feature

#12242 [vcpkg] Remove use of std::variant and std::visit to fix VS2015.
  toolsrc/include/vcpkg/base/stringview.h
  toolsrc/src/vcpkg/base/stringview.cpp
  toolsrc/src/vcpkg/platform-expression.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:vcpkg-bug, info:internal

#12252 [pcre] Use vcpkg_from_sourceforge as a fallback
  ports/pcre/CONTROL
  ports/pcre/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#12278 [Exiv2] update to 0.27.3
  ports/exiv2/1059-Add-missing-library-link-on-Windows.patch
  ports/exiv2/CONTROL
  ports/exiv2/iconv.patch
  ports/exiv2/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12274 [nanodbc] Set unixodbc as a dependency under non-Windows
  ports/nanodbc/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#12272 [vcpkg] Revert change which causes sources to be purged by default in `vcpkg build`
  toolsrc/src/vcpkg/build.cpp
Labels: category:vcpkg-bug, info:internal

#12263 [vcpkg] Update toolsrc VERSION to 2020.06.15
  toolsrc/VERSION.txt
Labels: category:vcpkg-feature, info:internal, info:reviewed, requires:discussion

#12253 [ppmagic] Add new port
  ports/ppmagic/CONTROL
  ports/ppmagic/portfile.cmake
Labels: category:new-port, info:reviewed

#12246 [opencc] Fix regression on pipeline
  ports/opencc/CONTROL
  ports/opencc/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12239 [doctest] update to 2.4.0
  ports/doctest/CONTROL
  ports/doctest/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12232 [opengl wincrypt winsock2] Use $ENV{WindowsSdkDir} instead of hard coding Windows SDK paths.
  ports/opengl/CONTROL
  ports/opengl/portfile.cmake
  ports/wincrypt/CONTROL
  ports/wincrypt/portfile.cmake
  ports/winsock2/CONTROL
  ports/winsock2/portfile.cmake
  scripts/cmake/vcpkg_common_functions.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/vcpkg_get_program_files_32_bit.cmake
  toolsrc/vcpkg.sln
Labels: category:port-bug, info:internal, info:reviewed

#12219 [openvr] Update to 1.12.5
  ports/openvr/CONTROL
  ports/openvr/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#12218 [utf8h] Update to latest version
  ports/utf8h/CONTROL
  ports/utf8h/portfile.cmake
Labels: category:port-update, info:reviewed

#12214 [skyr-url] Changed version number to 1.12.0
  ports/skyr-url/CONTROL
  ports/skyr-url/portfile.cmake
Labels: category:port-update, info:reviewed

#12213 [libyuv] Find dependency port libjpeg-turbo
  ports/libyuv/CONTROL
  ports/libyuv/fix-build-type.patch
  ports/libyuv/fix_cmakelists.patch
  ports/libyuv/libyuv-config.cmake
  ports/libyuv/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12189 [polyhook2] Update to latest
  ports/polyhook2/CONTROL
  ports/polyhook2/portfile.cmake
Labels: category:port-update, info:reviewed

#12183 [ace] 6.5.10
  ports/ace/CONTROL
  ports/ace/portfile.cmake
  ports/ace/process_manager.patch
Labels: category:port-update, requires:testing

#12141 [curl] Update to 7.71.0
  ports/curl/0001_cmake.patch
  ports/curl/0002_fix_uwp.patch
  ports/curl/0003_fix_libraries.patch
  ports/curl/0004_nghttp2_staticlib.patch
  ports/curl/0005_remove_imp_suffix.patch
  ports/curl/0006_fix_tool_depends.patch
  ports/curl/0007_disable_tool_export_curl_target.patch
  ports/curl/0008_fix_tools_path.patch
  ports/curl/0009_fix_openssl_config.patch
  ports/curl/0010_fix_othertests_cmake.patch
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12147 [robin-hood-hashing] Update to 3.7.0
  ports/robin-hood-hashing/CONTROL
  ports/robin-hood-hashing/portfile.cmake
Labels: category:port-update, info:reviewed

#12161 [libexif] Update to 0.6.22
  ports/libexif/CONTROL
  ports/libexif/portfile.cmake
Labels: category:port-update, info:reviewed

#12162 [marl] Update to 2020-06-30
  ports/marl/CONTROL
  ports/marl/portfile.cmake
  ports/marl/vcpkg.json
Labels: category:port-update, info:reviewed

#12177 [vcpkg] Added python script to generate all packages file list, added to azur…
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/file_script.py
  scripts/vcpkgTools.xml
Labels: category:vcpkg-feature, info:reviewed

#12139 [cli] update the version to 1.2.0
  ports/cli/CONTROL
  ports/cli/portfile.cmake
Labels: category:port-update, info:reviewed

#12137 [tinyfiledialogs] Update version and download path to v3.6.3
  ports/tinyfiledialogs/CONTROL
  ports/tinyfiledialogs/portfile.cmake
Labels: category:port-update, info:reviewed

#12126 [libffi] Add pkgconfig file
  ports/libffi/CMakeLists.txt
  ports/libffi/CONTROL
  ports/libffi/portfile.cmake
Labels: category:port-feature, info:reviewed

#12111 [angle] Add egl renderer to list of files compiled for linux
  ports/angle/CMakeLists.txt
  ports/angle/CONTROL
Labels: category:port-bug, info:reviewed

#12101 [vcpkg] Add mingw dynamic libs triplet
  .gitignore
  scripts/cmake/vcpkg_copy_pdbs.cmake
  triplets/community/arm-mingw-dynamic.cmake
  triplets/community/arm-mingw-static.cmake
  triplets/community/arm64-mingw-dynamic.cmake
  triplets/community/arm64-mingw-static.cmake
  triplets/community/x64-mingw-dynamic.cmake
  triplets/community/x64-mingw-static.cmake
  triplets/community/x86-mingw-dynamic.cmake
  triplets/community/x86-mingw-static.cmake
Labels: category:vcpkg-feature, info:reviewed

#12068 [caf] Update to 0.17.3
  ports/caf/CONTROL
  ports/caf/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12090 [getdns] Add new port.
  ports/getdns/CONTROL
  ports/getdns/ignore_copying.patch
  ports/getdns/install_dlls.patch
  ports/getdns/openssl_depend_libs.patch
  ports/getdns/portfile.cmake
Labels: category:new-port, info:reviewed

#12093 [vcpkg docs] new README/Quick Start guide
  README.md
  README_zh_CN.md
Labels: category:documentation, info:internal

#12300 [libbson, vcpkg baseline] Remove passing and fix spurious failure.
  ports/libbson/CONTROL
  ports/libbson/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:infrastructure, info:internal

#12293 [Font Chef] add font-chef C/C++ library
  ports/font-chef/CONTROL
  ports/font-chef/portfile.cmake
Labels: category:new-port, info:reviewed

#12264 [libcoppp] Update version to 1.3.0
  ports/libcopp/CONTROL
  ports/libcopp/portfile.cmake
  ports/libcopp/usage
Labels: category:port-update

#11767 [openimageio] Update to version 2.1.16.0
  ports/openimageio/CONTROL
  ports/openimageio/fix-config-cmake.patch
  ports/openimageio/fix-dependfmt.patch
  ports/openimageio/fix_static_build.patch
  ports/openimageio/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12200 [vcpkg] Implement --editable
  docs/examples/installing-and-using-packages.md
  docs/examples/packaging-zipfiles.md
  docs/examples/patching.md
  scripts/cmake/vcpkg_extract_source_archive_ex.cmake
  toolsrc/include/vcpkg/build.h
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/install.cpp
Labels: category:documentation, category:vcpkg-feature, info:internal

#12140 [simdjson] Update to 0.4.6
  ports/simdjson/CONTROL
  ports/simdjson/no_benchmark.patch
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#11967 [evpp] Fix build error on OSX
  ports/evpp/CONTROL
  ports/evpp/fix-osx-build.patch
  ports/evpp/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal, info:reviewed

#11920 [implot] Add new port
  ports/implot/CMakeLists.txt
  ports/implot/CONTROL
  ports/implot/portfile.cmake
Labels: category:new-port, info:reviewed

#11851 [protobuf] Update to 3.12.3
  ports/protobuf/CONTROL
  ports/protobuf/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12259 [triplets][osx] add support for arm64 'apple silicon'
  .gitignore
  triplets/community/arm64-osx.cmake
Labels: category:vcpkg-feature, requires:author-response

#11754 [pcre2] Update to 10.35
  ports/pcre2/CONTROL
  ports/pcre2/fix-arm64-config.patch
  ports/pcre2/fix-space.patch
  ports/pcre2/fix-uwp.patch
  ports/pcre2/pcre2-10.35_fix-space.patch
  ports/pcre2/pcre2-10.35_fix-uwp.patch
  ports/pcre2/pcre2-10.35_fix_postfix_for_debug_Windows_builds.patch
  ports/pcre2/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, category:port-update, info:reviewed

#11753 Fix support for toolchains that set CMAKE_FIND_ROOT_PATH_MODE_* variables to ONLY
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature

#12317 [vcpkg README] Fix links
  README.md
  README_zh_CN.md
Labels: category:documentation, info:internal, info:reviewed

#12323 Ignore dependencies not found errors when downloading mode
  toolsrc/src/vcpkg/build.cpp
Labels: category:vcpkg-bug, info:internal, requires:discussion

#12322 [fontconfig] Fix fonts.conf install path
  ports/fontconfig/CMakeLists.txt
  ports/fontconfig/CONTROL
  ports/fontconfig/portfile.cmake
Labels: category:port-bug, info:internal

#12306 [Many ports] Fix invalid character in feature name
  ports/capstone/CONTROL
  ports/capstone/portfile.cmake
  ports/faad2/CONTROL
  ports/faad2/portfile.cmake
  ports/libwebp/CONTROL
  ports/libwebp/portfile.cmake
  ports/tesseract/CONTROL
  ports/tesseract/portfile.cmake
  ports/vxl/CONTROL
  ports/vxl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12305 [libfort] Add new port
  ports/libfort/portfile.cmake
  ports/libfort/vcpkg.json
Labels: category:new-port, info:reviewed

#12257 [vcpkg] Fix MSBuild regressions #12062 and #12086.
  scripts/azure-pipelines/end-to-end-tests.ps1
  scripts/buildsystems/msbuild/vcpkg-general.xml
  scripts/buildsystems/msbuild/vcpkg.targets
  scripts/testing/integrate-install/NoProps.vcxproj
  scripts/testing/integrate-install/Project1.vcxproj
  scripts/testing/integrate-install/Source.cpp
  scripts/testing/integrate-install/VcpkgTriplet.vcxproj
  scripts/testing/integrate-install/VcpkgTriplet2.vcxproj
  scripts/testing/integrate-install/VcpkgUseStatic.vcxproj
  scripts/testing/integrate-install/VcpkgUseStatic2.vcxproj
Labels: category:infrastructure, info:internal

#12037 [freerdp] Fix x64-osx triplet
  ports/freerdp/CONTROL
  ports/freerdp/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#11846 [freetype] Update to 2.10.2
  ports/freetype/0002-Add-CONFIG_INSTALL_PATH-option.patch
  ports/freetype/0005-Fix-DLL-EXPORTS.patch
  ports/freetype/CONTROL
  ports/freetype/portfile.cmake
Labels: category:port-update, info:reviewed

#11650 [threadpool] Add new port
  ports/threadpool/CONTROL
  ports/threadpool/portfile.cmake
Labels: category:new-port, info:reviewed

#12333 [azure-storage-cpp] Upgrade to 7.5.0
  ports/azure-storage-cpp/CONTROL
  ports/azure-storage-cpp/portfile.cmake
Labels: category:port-update, info:reviewed

#12227 [vcpkg manifests] fix some issues
  docs/maintainers/control-files.md
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/buildsystems/vcpkg.cmake
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/versiont.h
  toolsrc/src/vcpkg.cpp
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/commands.list.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/commands.search.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/update.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/src/vcpkg/versiont.cpp
Labels: category:vcpkg-bug, info:internal, info:manifests

#12332 [directxtk][directxtk12][directxtex][directxmesh] Update to latest version
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxtex/CONTROL
  ports/directxtex/portfile.cmake
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
Labels: category:port-update, info:reviewed

#11991 [MyGUI] Add new port
  ports/mygui/CONTROL
  ports/mygui/fix-generation.patch
  ports/mygui/portfile.cmake
Labels: category:new-port, info:reviewed

#12117 [nlohmann-json] Always install multiple headers to allow forward declarations
  ports/nlohmann-json/CONTROL
  ports/nlohmann-json/portfile.cmake
Labels: category:port-feature, info:reviewed

#8322 [kfr] Add new port
  ports/kfr/CONTROL
  ports/kfr/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#12244 [cuda] correct env variables for newer cuda versions
  ports/cuda/CONTROL
  ports/cuda/portfile.cmake
  toolsrc/src/vcpkg/base/system.process.cpp
Labels: category:port-update, category:vcpkg-bug, info:reviewed, requires:discussion

#12256 [vcpkg] Move default binary cache from `$root/archives` to user-wide directory
  scripts/azure-pipelines/end-to-end-tests.ps1
  toolsrc/include/vcpkg/binarycaching.h
  toolsrc/src/vcpkg-test/binaryconfigparser.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.buildexternal.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/commands.upgrade.cpp
  toolsrc/src/vcpkg/install.cpp
Labels: category:infrastructure, info:internal

#12399 [minhook] fix usage issue
  ports/minhook/CONTROL
  ports/minhook/fix-usage.patch
  ports/minhook/install-destination.patch
  ports/minhook/portfile.cmake
Labels: category:port-bug, info:internal

#12318 [openal-soft] Revert #12047
  ports/openal-soft/CONTROL
  ports/openal-soft/fix-arm-builds.patch
  ports/openal-soft/portfile.cmake
Labels: category:port-bug

#12394 [pybind11] Update to v2.5.0
  ports/pybind11/CONTROL
  ports/pybind11/portfile.cmake
Labels: category:port-update, requires:author-response

#12178 [vcpkg] Add a schema file for vcpkg.json
  scripts/vcpkg.schema.json
Labels: category:vcpkg-feature

#12386 [vcpkg] Add CMake heuristics for header-only libraries
  toolsrc/src/vcpkg/install.cpp
Labels: category:vcpkg-feature, info:internal, info:reviewed

#12366 [vcpkg] Improve informational message for `--editable` while cleaning sources
  scripts/cmake/vcpkg_extract_source_archive_ex.cmake
Labels: category:vcpkg-feature, info:internal

#12378 [vcpkg] proper errorcheck during files installation
  toolsrc/src/vcpkg/base/files.cpp
Labels: category:vcpkg-bug, info:reviewed

#12384 [vcpkg-ci] Always publish file lists
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/file_script.py
Labels: category:infrastructure, info:internal

#12360 [blend2d] Update to beta_2020-07-09
  ports/blend2d/CONTROL
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
Labels: category:port-update, info:reviewed

#12347 [pcre2] Fix -mshstk needed with -fcf-protection
  ports/pcre2/CONTROL
  ports/pcre2/pcre2-10.35_add_check_for_Intel_CET.patch
  ports/pcre2/portfile.cmake
Labels: category:port-bug, info:reviewed

#11739 [openmesh] Upgrade to 8.1
  ports/openmesh/CONTROL
  ports/openmesh/portfile.cmake
Labels: category:port-update, info:reviewed

#12254 [vcpkg] Track hashes of cmake script helpers in consuming portfiles
  docs/maintainers/portfile-functions.md
  docs/maintainers/vcpkg_build_make.md
  docs/maintainers/vcpkg_common_definitions.md
  docs/maintainers/vcpkg_configure_make.md
  docs/maintainers/vcpkg_find_acquire_program.md
  docs/maintainers/vcpkg_fixup_pkgconfig.md
  docs/maintainers/vcpkg_from_sourceforge.md
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/vcpkg_from_sourceforge.cmake
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:internal

#12361 [vcpkg] Fix iOS toolchain detection when using the iOS community triplets
  scripts/toolchains/ios.cmake
  toolsrc/src/vcpkg/build.cpp
Labels: category:vcpkg-feature, info:reviewed

#11204 [vcpkg] RFC: Binarycaching
  docs/specifications/binarycaching.md
Labels: category:vcpkg-feature

#12398 [libb2] Add supports and install pkg-conifg on macOS VM
  ports/libb2/CONTROL
  ports/libb2/portfile.cmake
  ports/libb2/vcpkg.json
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/ci.baseline.txt
Labels: category:port-bug, depends:vm-update, info:internal, info:reviewed

#12211 [corrade,magnum,*-plugins,*-extras,*-integration] Update to v2020.06
  docs/users/triplets.md
  ports/corrade/CONTROL
  ports/corrade/portfile.cmake
  ports/magnum-extras/CONTROL
  ports/magnum-extras/portfile.cmake
  ports/magnum-integration/CONTROL
  ports/magnum-integration/portfile.cmake
  ports/magnum-plugins/CONTROL
  ports/magnum-plugins/portfile.cmake
  ports/magnum/002-sdl-includes-head.patch
  ports/magnum/002-sdl-includes.patch
  ports/magnum/CONTROL
  ports/magnum/portfile.cmake
  ports/meshoptimizer/CONTROL
  ports/meshoptimizer/portfile.cmake
Labels: category:documentation, category:port-update, info:reviewed

#12412 [python3] Fix building x86-windows-static triplet on VS 2017.
  ports/python3/0001-static-library.patch
  ports/python3/0002-static-crt.patch
  ports/python3/CONTROL
Labels: category:port-bug

#12379 [geographiclib] Update to 1.50.1
  ports/geographiclib/CONTROL
  ports/geographiclib/cxx-library-only.patch
  ports/geographiclib/fix-usage.patch
  ports/geographiclib/portfile.cmake
  ports/geographiclib/remove-tools-and-fix-version.patch
  ports/geographiclib/usage
  ports/geographiclib/vcpkg.json
Labels: category:port-update

#12368 [vcpkg formatting] Turn off DeriveLineEnding
  toolsrc/.clang-format
  toolsrc/include/vcpkg-test/mockcmakevarprovider.h
  toolsrc/include/vcpkg/base/cache.h
  toolsrc/include/vcpkg/base/ignore_errors.h
  toolsrc/include/vcpkg/base/span.h
  toolsrc/include/vcpkg/base/view.h
  toolsrc/include/vcpkg/binarycaching.h
  toolsrc/include/vcpkg/binarycaching.private.h
  toolsrc/include/vcpkg/buildenvironment.h
  toolsrc/include/vcpkg/export.chocolatey.h
  toolsrc/include/vcpkg/platform-expression.h
  toolsrc/include/vcpkg/textrowcol.h
  toolsrc/include/vcpkg/visualstudio.h
  toolsrc/src/vcpkg-test/mockcmakevarsprovider.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/buildenvironment.cpp
  toolsrc/src/vcpkg/commands.ciclean.cpp
  toolsrc/src/vcpkg/commands.dependinfo.cpp
  toolsrc/src/vcpkg/commands.xvsinstances.cpp
  toolsrc/src/vcpkg/export.chocolatey.cpp
Labels: requires:discussion

#12407 [zstd] fix pkg-config files
  ports/zstd/CONTROL
  ports/zstd/portfile.cmake
Labels: category:port-feature

#12419 [folly] Fix build error C3861
  ports/folly/CONTROL
  ports/folly/folly_c3861.patch
  ports/folly/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12417 [boost-modular-build-helper] Remove has_icu.lib
  ports/boost-modular-build-helper/CONTROL
  ports/boost-modular-build-helper/boost-modular-build.cmake
Labels: category:port-bug, info:internal

#12415 [libpq] Remove broken features
  ports/libpq/CONTROL
  ports/libpq/portfile.cmake
Labels: category:port-bug, info:internal

#12401 [liblzma, libvpx] Add mingw support
  ports/liblzma/CMakeLists.txt
  ports/liblzma/CONTROL
  ports/liblzma/portfile.cmake
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
Labels: category:port-feature, category:port-update, info:reviewed

#12400 [vcpkg] implement copy_symlink working for non-elevated processes
  toolsrc/src/vcpkg/base/files.cpp
Labels: category:vcpkg-bug, info:reviewed

#12432 vcpkg_configure_make: typo fix '_vcpkg_append_to_configure_environment'
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#12354 [hiredis] Fix feature ssl build error on windows
  ports/hiredis/CONTROL
  ports/hiredis/fix-feature-example.patch
  ports/hiredis/fix-pthread.h-not-found-on-windows.patch
  ports/hiredis/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12279 [eigen3] Fix eigen3 and cuda compatibility issue
  ports/eigen3/CONTROL
  ports/eigen3/fix-cuda-error.patch
  ports/eigen3/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12329 [imgui] Split bindings to multiple features
  ports/imgui/CMakeLists.txt
  ports/imgui/CONTROL
  ports/imgui/portfile.cmake
Labels: category:port-feature

#12338 [libyuv] Fix static build issue
  ports/libyuv/CONTROL
  ports/libyuv/fix-build-type.patch
  ports/libyuv/libyuv-config.cmake
  ports/libyuv/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12351 [vcpkg] Clean up command switch code
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/src/vcpkg-test/arguments.cpp
  toolsrc/src/vcpkg/commands.autocomplete.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.contact.cpp
  toolsrc/src/vcpkg/commands.dependinfo.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.env.cpp
  toolsrc/src/vcpkg/commands.format-manifest.cpp
  toolsrc/src/vcpkg/commands.list.cpp
  toolsrc/src/vcpkg/commands.search.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/commands.upgrade.cpp
  toolsrc/src/vcpkg/export.chocolatey.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/remove.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:vcpkg-feature

#12133 [zlib] Add pkgconfig file
  ports/zlib/CONTROL
  ports/zlib/portfile.cmake
Labels: category:port-feature

#12179 [vcpkg] print list in json
  toolsrc/src/vcpkg/commands.list.cpp
Labels: category:vcpkg-feature, info:internal

#12084 Build fix with MinGW GCC 9.2.0
  scripts/ports.cmake
  toolsrc/include/vcpkg/base/system_headers.h
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/build.cpp
Labels: category:vcpkg-bug, info:reviewed

#12455 [libmicrohttpd] Add `platform.h` to restricted header list.
  ports/libmicrohttpd/CONTROL
  ports/libmicrohttpd/portfile.cmake
  toolsrc/src/vcpkg/postbuildlint.cpp
Labels: category:port-bug, info:internal, info:reviewed

#12458 [magnum-plugins] Fix file conflict with stb
  ports/magnum-plugins/002-fix-stb-conflict.patch
  ports/magnum-plugins/CONTROL
  ports/magnum-plugins/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12490 [edlib] Adding new port
  ports/edlib/CONTROL
  ports/edlib/fix-cmake-install.patch
  ports/edlib/portfile.cmake
Labels: category:new-port, info:reviewed

#12483 [libmupdf] Update libmupdf to 1.17.0
  ports/libmupdf/CONTROL
  ports/libmupdf/Fix-error-C2169.patch
  ports/libmupdf/portfile.cmake
Labels: category:port-update, info:reviewed

#12472 [vtk|cuda] add nvcc to the path
  ports/vtk/CONTROL
  ports/vtk/portfile.cmake
Labels: category:port-bug, info:reviewed

#12534 Add initial s390x support
  scripts/buildsystems/vcpkg.cmake
  toolsrc/include/vcpkg/base/system.h
  toolsrc/src/vcpkg/base/system.cpp
  triplets/community/s390x-linux.cmake
Labels: category:vcpkg-feature, requires:discussion

#11550 [vcpkg/scripts/pkgconfig] rewrite pkg-config check for libraries
  ports/apr/CONTROL
  ports/apr/portfile.cmake
  ports/bzip2/CONTROL
  ports/bzip2/bzip2.pc.in
  ports/bzip2/portfile.cmake
  ports/gmp/CONTROL
  ports/ignition-modularscripts/CONTROL
  ports/ignition-modularscripts/ignition_modular_library.cmake
  ports/ignition-msgs5/CONTROL
  ports/ignition-msgs5/portfile.cmake
  ports/libpng/CONTROL
  ports/libpng/pkgconfig.2.patch
  ports/libpng/pkgconfig.patch
  ports/libpng/portfile.cmake
  ports/nettle/CONTROL
  ports/ompl/CONTROL
  ports/ompl/portfile.cmake
  ports/pcre/CONTROL
  ports/pcre/portfile.cmake
  ports/protobuf/CONTROL
  ports/protobuf/portfile.cmake
  ports/sdl1/CONTROL
  ports/sdl1/portfile.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:tool-update, info:reviewed

#11130 [opencv4] update to v4.3
  ports/alembic/CONTROL
  ports/alembic/fix-C1083.patch
  ports/alembic/fix-find-openexr-ilmbase.patch
  ports/alembic/portfile.cmake
  ports/cudnn/CONTROL
  ports/cudnn/FindCUDNN.cmake
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/field3d/0001_fix_build_errors.patch
  ports/field3d/0002_improve_win_compatibility.patch
  ports/field3d/0003_hdf5_api.patch
  ports/field3d/CONTROL
  ports/field3d/fix-build_error.patch
  ports/field3d/portfile.cmake
  ports/freeimage/CMakeLists.txt
  ports/freeimage/CONTROL
  ports/libass/CMakeLists.txt
  ports/libass/CONTROL
  ports/libepoxy/CONTROL
  ports/libepoxy/portfile.cmake
  ports/opencv/CONTROL
  ports/opencv2/CONTROL
  ports/opencv2/FindCUDA.cmake
  ports/opencv2/portfile.cmake
  ports/opencv3/0001-disable-downloading.patch
  ports/opencv3/0002-install-options.patch
  ports/opencv3/0003-force-package-requirements.patch
  ports/opencv3/0004-add-missing-stdexcept-include.patch
  ports/opencv3/0009-fix-uwp.patch
  ports/opencv3/CONTROL
  ports/opencv3/FindCUDA.cmake
  ports/opencv3/portfile.cmake
  ports/opencv4/0001-disable-downloading.patch
  ports/opencv4/0002-install-options.patch
  ports/opencv4/0003-force-package-requirements.patch
  ports/opencv4/0004-fix-policy-CMP0057.patch
  ports/opencv4/0005-add-missing-stdexcept-include.patch
  ports/opencv4/0009-fix-uwp.patch
  ports/opencv4/CONTROL
  ports/opencv4/FindCUDA.cmake
  ports/opencv4/portfile.cmake
  ports/openexr/CONTROL
  ports/openexr/FindOpenEXR.cmake
  ports/openexr/fix_clang_not_setting_modern_cplusplus.patch
  ports/openexr/fix_install_ilmimf.patch
  ports/openexr/fix_linux_static_library_names.patch
  ports/openexr/fixup_cmake_exports_path.patch
  ports/openexr/portfile.cmake
  ports/openexr/remove_find_package_macro.patch
  ports/openexr/remove_symlinks.patch
  ports/openexr/vcpkg-cmake-wrapper.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:port-update, info:reviewed

#12493 [Azure-IoT-Sdk*] Update to 2020-07-19
  ports/azure-c-shared-utility/CONTROL
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-iot-sdk-c/CONTROL
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-uamqp-c/CONTROL
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uhttp-c/CONTROL
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-umqtt-c/CONTROL
  ports/azure-umqtt-c/portfile.cmake
Labels: category:port-update

#12467 [vcpkg-acquire-msys] Install new keyring
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: category:tool-update, info:reviewed

#12406 [neargye-semver] Add new port
  ports/neargye-semver/CONTROL
  ports/neargye-semver/portfile.cmake
Labels: category:new-port, info:reviewed

#9561 [libusb] Fix issue to support linux
  ports/libftdi1/CONTROL
  ports/libftdi1/portfile.cmake
  ports/libusb/CONTROL
  ports/libusb/portfile.cmake
  ports/treehopper/CONTROL
  ports/treehopper/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#7226 [liblzma] Patch headers to fix https://github.com/OpenTTD/OpenTTD/pull/7614
  ports/liblzma/CONTROL
  ports/liblzma/portfile.cmake
Labels: info:internal, info:reviewed

#12460 [vcpkg] Improve format check failure message
  docs/maintainers/maintainer-guide.md
  scripts/azure-pipelines/windows/Check-CxxFormatting.ps1
  scripts/azure-pipelines/windows/Check-ManifestFormatting.ps1
Labels: category:documentation, category:infrastructure, info:internal

#9248 fix issue #9228 : Add support to subgroups in gitlab
  scripts/cmake/vcpkg_from_gitlab.cmake
Labels: category:vcpkg-feature, requires:discussion

#12513 [vcpkg] EOL LF for ci.baseline.txt
  .gitattributes
  scripts/ci.baseline.txt
Labels: category:vcpkg-bug, info:reviewed

#8628 [marble] Add new port
  ports/marble/CONTROL
  ports/marble/portfile.cmake
  ports/marble/qtfix.patch
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#9221 [rtmidi] Fix configure CMakeLists.txt
  ports/rtmidi/CMakeLists.txt
  ports/rtmidi/CONTROL
  ports/rtmidi/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#11929 [Simple-FFT] Add new port
  ports/simple-fft/CONTROL
  ports/simple-fft/portfile.cmake
Labels: category:new-port, info:reviewed

#12011 [stx] Add new port
  ports/stx/CMakeLists.patch
  ports/stx/CONTROL
  ports/stx/portfile.cmake
Labels: category:new-port, info:reviewed

#12078 [outcome] Update library and fix portfile
  ports/outcome/CONTROL
  ports/outcome/portfile.cmake
Labels: category:port-update, info:reviewed

#12095 [librdkafka] Upgrade to 1.4.4
  ports/librdkafka/CONTROL
  ports/librdkafka/portfile.cmake
Labels: category:port-update, info:reviewed

#12118 [mozjpeg] fix build
  ports/mozjpeg/CONTROL
  ports/mozjpeg/fix-install-error.patch
  ports/mozjpeg/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:reviewed

#12210 [ogre] Update to version 1.12.7 and fix link error
  ports/imgui/CMakeLists.txt
  ports/imgui/CONTROL
  ports/ogre/CONTROL
  ports/ogre/fix-dependency.patch
  ports/ogre/fix-findimgui.patch
  ports/ogre/portfile.cmake
  ports/ogre/toolchain_fixes.patch
  ports/ogre/vcpkg.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#12273 [fltk] Force static library due to global variables. Fix CMake Targets.
  ports/fltk/CONTROL
  ports/fltk/config-path.patch
  ports/fltk/include.patch
  ports/fltk/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12543 [nana] Fix the version and language standard
  ports/nana/CMakeLists.txt
  ports/nana/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#12542 [winpcap] Remove the keyword 'inline' macro
  ports/winpcap/CONTROL
  ports/winpcap/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12535 [boost] s390x support
  ports/boost-build/CONTROL
  ports/boost-build/portfile.cmake
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/CONTROL
  ports/boost-modular-build-helper/boost-modular-build.cmake
Labels: category:port-feature, info:reviewed

#12530 [libmodbus] Fix static linkage error
  ports/libmodbus/CMakeLists.txt
  ports/libmodbus/CONTROL
  ports/libmodbus/fix-static-linkage.patch
  ports/libmodbus/portfile.cmake
  ports/libmodbus/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#12514 [mpir] Fix build error if VCPKG_BUILD_TYPE is set as release or debug
  ports/mpir/CONTROL
  ports/mpir/portfile.cmake
  ports/mpir/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#12569 [vcpkg_fixup_pkgconfig] Remove required in first find_program call for pkg-config
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:tool-update, info:reviewed

#12097 Fix vcpkg android toolchain so it adds flags that aren't just ignored
  scripts/toolchains/android.cmake
Labels: category:vcpkg-bug, info:reviewed

#11524 [brpc] Add new port
  ports/brpc/CONTROL
  ports/brpc/fix_boost_ptr.patch
  ports/brpc/fix_thrift.patch
  ports/brpc/portfile.cmake
Labels: category:new-port, info:reviewed

#12104 Fix vcpkg_fixup_cmake_targets to work correctly on MinGW
  ports/akali/CONTROL
  scripts/cmake/vcpkg_fixup_cmake_targets.cmake
Labels: category:vcpkg-feature, info:reviewed

#12087 [RESTinio] Update to v.0.6.8.1
  ports/restinio/CONTROL
  ports/restinio/portfile.cmake
Labels: category:port-update, info:reviewed

#12277 [libevent] update to 2.1.12
  ports/evpp/CONTROL
  ports/evpp/fix-linux-build.patch
  ports/fizz/CONTROL
  ports/fizz/fix-build_error.patch
  ports/fizz/portfile.cmake
  ports/libevent/CONTROL
  ports/libevent/fix-LibeventConfig_cmake_in_path.patch
  ports/libevent/fix-crt_linkage.patch
  ports/libevent/fix-file_path.patch
  ports/libevent/portfile.cmake
Labels: category:port-update, info:reviewed

#12372 [jsoncons] Update to v0.154.1
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
Labels: category:port-update, info:reviewed

#12374 [sdl2-mixer] Fix FLAC symbol export when static linking, add nativemidi default feature
  ports/libflac/CONTROL
  ports/libflac/portfile.cmake
  ports/libsndfile/CONTROL
  ports/libsndfile/portfile.cmake
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-mixer/CONTROL
  ports/sdl2-mixer/portfile.cmake
Labels: category:port-bug, info:reviewed

#12413 [physx] Add patch for NVIDIAGameWorks/PhysX#322.
  ports/physx/CONTROL
  ports/physx/internalMBP_symbols.patch
  ports/physx/portfile.cmake
Labels: category:port-feature, info:reviewed

#12426 [gf] Add the new package GF
  ports/gamedev-framework/CONTROL
  ports/gamedev-framework/portfile.cmake
Labels: category:new-port, info:reviewed

#12480 [robin-hood-hashing] Update to latest version
  ports/robin-hood-hashing/CONTROL
  ports/robin-hood-hashing/portfile.cmake
Labels: category:port-update, info:reviewed

#12482 [audiofile] Add new port
  ports/audiofile/portfile.cmake
  ports/audiofile/vcpkg.json
Labels: category:new-port, info:reviewed
