Repository microsoft/vcpkg, pull requests merged in 2020-09, with the labels that each got.

#13200 [clapack, lapack-reference] Add conflict messages
  ports/clapack/CONTROL
  ports/clapack/portfile.cmake
  ports/lapack-reference/CONTROL
  ports/lapack-reference/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#13174 [libhsplasma] Add new port
  ports/libhsplasma/CONTROL
  ports/libhsplasma/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#13118 [sentry-native] Add new port
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
Labels: category:new-port, info:reviewed

#13139 [libxmlmm ] Add new port libxmlmm 0.6.0
  ports/libxmlmm/CMakeLists.txt
  ports/libxmlmm/CONTROL
  ports/libxmlmm/portfile.cmake
Labels: category:new-port, info:reviewed

#12846 [vcpkg_configure_cmake] Pass CMAKE_DISABLE_SOURCE_CHANGES to all ports by default
  docs/maintainers/vcpkg_configure_cmake.md
  scripts/cmake/vcpkg_configure_cmake.cmake
Labels: category:vcpkg-feature, info:internal

#13019 [vcpkg] Replace uses of msys pacman.exe with direct package downloads
  ports/behaviortree-cpp/portfile.cmake
  ports/behaviortree-cpp/vcpkg.json
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
  ports/kf5i18n/CONTROL
  ports/kf5i18n/portfile.cmake
  ports/lapack-reference/CONTROL
  ports/lapack-reference/portfile.cmake
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
  ports/tensorflow-cc/CONTROL
  ports/tensorflow-cc/portfile.cmake
  ports/vcpkg-gfortran/CONTROL
  ports/vcpkg-gfortran/portfile.cmake
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/cmake/vcpkg_download_distfile.cmake
  scripts/cmake/vcpkg_find_fortran.cmake
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:tool-update, info:internal

#13228 [vcpkg] Implement 'repository' tag for NuGet binary caching
  toolsrc/include/vcpkg/binarycaching.private.h
  toolsrc/src/vcpkg-test/binarycaching.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
Labels: category:vcpkg-feature

#13164 [levmar] Add new port
  ports/levmar/add-install.patch
  ports/levmar/portfile.cmake
  ports/levmar/vcpkg.json
Labels: category:new-port, info:reviewed

#13258 [blend2d] Update to beta_2020-08-24
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
Labels: category:port-update, info:reviewed

#13242 [bzip2] Add SHA512 hash check
  ports/bzip2/CONTROL
  ports/bzip2/portfile.cmake
  ports/bzip2/vcpkg.json
Labels: category:port-bug, info:reviewed

#13238 [darknet] update to v2020-08-30
  ports/darknet/CONTROL
  ports/darknet/fix_shared_static.patch
  ports/darknet/portfile.cmake
Labels: category:port-update, info:reviewed

#13302 [vcpkg] Add July 2020 changelog
  CHANGELOG.md
Labels: info:internal

#13289 [json5-parser] update source for json5-parser from BitBucket to GitHub.
  ports/json5-parser/CONTROL
  ports/json5-parser/portfile.cmake
Labels: category:port-bug, info:internal

#13295 [vcpkg baseline][rest-rpc] Skip check in baseline
  ports/msgpack/CONTROL
  ports/msgpack/portfile.cmake
  ports/rest-rpc/CONTROL
  ports/rest-rpc/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:vcpkg-bug, info:internal

#13038 [vcpkg] Registries MVP
  toolsrc/.clang-format
  toolsrc/CMakeLists.txt
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/base/fwd/json.h
  toolsrc/include/vcpkg/base/fwd/optional.h
  toolsrc/include/vcpkg/base/fwd/span.h
  toolsrc/include/vcpkg/base/fwd/stringview.h
  toolsrc/include/vcpkg/base/json.h
  toolsrc/include/vcpkg/base/optional.h
  toolsrc/include/vcpkg/base/stringview.h
  toolsrc/include/vcpkg/base/util.h
  toolsrc/include/vcpkg/configuration.h
  toolsrc/include/vcpkg/fwd/configuration.h
  toolsrc/include/vcpkg/fwd/registries.h
  toolsrc/include/vcpkg/paragraphs.h
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg-test/files.cpp
  toolsrc/src/vcpkg-test/optional.cpp
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/base/json.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.format-manifest.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/configuration.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/paragraphs.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/windows-bootstrap/vcpkglib/vcpkglib.vcxproj
Labels: category:vcpkg-feature, info:internal

#12881 [vcpkg RFC] initial registries RFC
  docs/specifications/registries.md
Labels: category:vcpkg-feature, info:internal

#13252 [hypre] Update to 2.19.0
  ports/hypre/CONTROL
  ports/hypre/fix-blas-vs14-math.patch
  ports/hypre/fix-export-global-data-symbols.patch
  ports/hypre/fix-lapack-vs14-math.patch
  ports/hypre/fix-macro-to-template.patch
  ports/hypre/fix-root-cmakelists.patch
  ports/hypre/portfile.cmake
  ports/superlu/CONTROL
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#13313 [vcpkg.cmake] error out if the mode has changed
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-bug, info:internal

#12857 [many ports] Add supports
  ports/alembic/CONTROL
  ports/alembic/portfile.cmake
  ports/atkmm/CONTROL
  ports/atkmm/portfile.cmake
  ports/avisynthplus/portfile.cmake
  ports/avisynthplus/vcpkg.json
  ports/speex/CONTROL
  ports/speex/portfile.cmake
  scripts/ci.baseline.txt
  scripts/vcpkg_get_tags.cmake
Labels: category:port-feature, info:internal

#11290 [vcpkg] #11129: Add VCPKG_LINKER_FLAGS_<CONFIG>.
  docs/users/triplets.md
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/toolchains/android.cmake
  scripts/toolchains/freebsd.cmake
  scripts/toolchains/ios.cmake
  scripts/toolchains/linux.cmake
  scripts/toolchains/mingw.cmake
  scripts/toolchains/osx.cmake
  scripts/toolchains/windows.cmake
Labels: category:vcpkg-feature, info:reviewed

#13079 [simdjson] Update to 0.5.x
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
Labels: category:port-update, info:reviewed

#13207 [knet] Add new port
  ports/knet/portfile.cmake
  ports/knet/usage
  ports/knet/vcpkg.json
Labels: category:new-port, info:reviewed

#13250 [freetype] static build fix
  ports/freetype/CONTROL
  ports/freetype/brotli-static.patch
  ports/freetype/portfile.cmake
Labels: category:port-bug, info:reviewed

#13278 [folly] Fix findpackage error messages
  ports/folly/CONTROL
  ports/folly/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13309 [hpx] Adapting for HPX V1.5
  ports/hpx/CONTROL
  ports/hpx/boost-1.73.patch
  ports/hpx/portfile.cmake
Labels: category:port-update

#13280 [cli11] Update to 1.9.1
  ports/cli11/CONTROL
  ports/cli11/portfile.cmake
Labels: category:port-update

#13231 [vcpkg] Delay failures in `vcpkg install` until missing manifest requested
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/install.cpp
Labels: category:vcpkg-bug, info:internal

#13275 Fix ffmpeg build for PATH with spaces.
  ports/ffmpeg/CONTROL
  ports/ffmpeg/build.sh.in
Labels: category:port-bug

#13325 [dlib] Fix dependency port sqlite3
  ports/dlib/CONTROL
  ports/dlib/fix-sqlite3-fftw-linkage.patch
Labels: category:port-bug, info:internal, info:reviewed

#13336 [google-cloud-cpp] Upgrade to v1.17.1
  ports/google-cloud-cpp/CONTROL
  ports/google-cloud-cpp/portfile.cmake
Labels: category:port-update

#13341 [libtorrent] Update to 1.2.10
  ports/libtorrent/CONTROL
  ports/libtorrent/add-datetime-to-boost-libs.patch
  ports/libtorrent/fix_find_iconv.patch
  ports/libtorrent/no_use_iconv.patch
  ports/libtorrent/portfile.cmake
Labels: category:port-update, info:reviewed

#13297 [vcpkg_acquire_msys.cmake] Add gettext tool
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: category:tool-update, info:reviewed

#13290 [vcpkg] Fix compile on gcc 6
  toolsrc/cmake/utilities.cmake
  toolsrc/include/vcpkg/base/json.h
  toolsrc/src/vcpkg/configuration.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:vcpkg-bug

#13334 [sqlitecpp] Update to 3.1.1
  ports/sqlitecpp/CONTROL
  ports/sqlitecpp/fix_dependency.patch
  ports/sqlitecpp/portfile.cmake
Labels: category:port-update

#13229 [blaze][ceres][clapack][geogram][lapack][lapack-reference][opencv4][selene] Fix deps issues
  ports/bigint/CMakeLists.txt
  ports/bigint/CONTROL
  ports/bigint/portfile.cmake
  ports/bigint/usage
  ports/bigint/vcpkg-cmake-wrapper.cmake
  ports/blaze/CONTROL
  ports/blaze/fix-vm-build.patch
  ports/blaze/portfile.cmake
  ports/ceres/0003_fix_exported_ceres_config.patch
  ports/ceres/CONTROL
  ports/clapack/FindLAPACK.cmake
  ports/clapack/portfile.cmake
  ports/clapack/vcpkg-cmake-wrapper.cmake
  ports/geogram/CONTROL
  ports/lapack-reference/CONTROL
  ports/lapack-reference/FindLAPACK.cmake
  ports/lapack-reference/vcpkg-cmake-wrapper.cmake
  ports/lapack/CONTROL
  ports/lapack/portfile.cmake
  ports/mlpack/CONTROL
  ports/opencv4/CONTROL
  ports/opencv4/portfile.cmake
  ports/selene/CONTROL
  ports/selene/portfile.cmake
  ports/zxing-cpp/0003-fix-dependency-bigint.patch
  ports/zxing-cpp/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, category:port-feature, info:internal, requires:all-feature-testing

#13329 [sentry-native] Fix build failure and cmake path
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
Labels: category:port-bug, info:internal, requires:discussion

#13321 [rappture] Add new port
  ports/rappture/CMakeLists.txt
  ports/rappture/CONTROL
  ports/rappture/portfile.cmake
  ports/rappture/rappture.patch
Labels: category:new-port

#13328 [sqlite-orm] Add features and also fix usage
  ports/sqlite-orm/CONTROL
  ports/sqlite-orm/disable-examples.patch
  ports/sqlite-orm/fix-build-error.patch
  ports/sqlite-orm/fix-example-feature.patch
  ports/sqlite-orm/fix-includes-not-found.patch
  ports/sqlite-orm/fix-test-feature.patch
  ports/sqlite-orm/fix-usage.patch
  ports/sqlite-orm/portfile.cmake
Labels: category:port-bug, category:port-feature, info:internal

#13266 [libxml2] Update to 2.9.10
  ports/libxml2/CONTROL
  ports/libxml2/portfile.cmake
Labels: category:port-update

#13045 [curl] Update to 7.22.0
  ports/curl/0002_fix_uwp.patch
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-update

#13260 [serd] Add new port
  ports/serd/CMakeLists.txt
  ports/serd/portfile.cmake
  ports/serd/vcpkg.json
Labels: category:new-port

#13285 Add option for WCHAR32 support in ImGUI
  ports/imgui/CMakeLists.txt
  ports/imgui/CONTROL
  ports/imgui/portfile.cmake
Labels: category:port-feature

#13274 [python3] Fix installation on OpenSUSE
  ports/python3/CONTROL
  ports/python3/portfile.cmake
Labels: category:port-bug, info:internal

#10645 Fix [boost] MSVC 2013 v120 Build
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost/CONTROL
  scripts/boost/generate-ports.ps1
  triplets/community/x86-windows-v120.cmake
Labels: category:port-bug

#13267 [powershell] Update to 7.0.3
  scripts/vcpkgTools.xml
Labels: category:tool-update, info:internal, info:reviewed

#13257 [highfive] Update to 2.2.2
  ports/hdf5/portfile.cmake
  ports/highfive/CONTROL
  ports/highfive/portfile.cmake
Labels: category:port-update, requires:all-feature-testing, requires:author-response

#13263 Download pkgconfig for protobuf in download mode
  ports/protobuf/CONTROL
  ports/protobuf/portfile.cmake
Labels: category:port-bug

#12509 [vcpkg] json format for search
  toolsrc/src/vcpkg/commands.search.cpp
Labels: category:vcpkg-feature, info:internal

#11880 [vcpkg] Add community triple arm64-linux and arm-linux.
  ports/boost-build/CONTROL
  ports/boost-build/portfile.cmake
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/CONTROL
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/libffi/CMakeLists.txt
  ports/libffi/CONTROL
  scripts/bootstrap.sh
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  toolsrc/src/vcpkg.cpp
  toolsrc/src/vcpkg/triplet.cpp
  triplets/community/arm-linux.cmake
  triplets/community/arm64-linux.cmake
Labels: category:vcpkg-feature, requires:author-response

#12396 [chromium-base] Add new port
  docs/maintainers/vcpkg_find_acquire_program.md
  ports/chromium-base/CONTROL
  ports/chromium-base/chromium-baseConfig.cmake.in
  ports/chromium-base/portfile.cmake
  ports/chromium-base/res/.gn
  ports/chromium-base/res/0001-base.patch
  ports/chromium-base/res/0002-build.patch
  ports/chromium-base/res/BUILD.gn
  ports/chromium-base/res/LASTCHANGE.committime
  ports/chromium-base/res/build_overrides/build.gni
  ports/chromium-base/res/fontconfig/BUILD.gn
  ports/chromium-base/res/gclient_args.gni
  ports/chromium-base/res/icu/BUILD.gn
  ports/chromium-base/res/icu/config.gni
  ports/chromium-base/res/libxml/BUILD.gn
  ports/chromium-base/res/protobuf/proto_library.gni
  ports/chromium-base/res/test_fonts/BUILD.gn
  ports/chromium-base/res/testing/gmock/BUILD.gn
  ports/chromium-base/res/testing/gtest/BUILD.gn
  ports/chromium-base/res/testing/libfuzzer/fuzzer_test.gni
  ports/chromium-base/res/testing/test.gni
  ports/chromium-base/res/tools/win/DebugVisualizers/BUILD.gn
  ports/chromium-base/res/tools/win/DebugVisualizers/chrome.natvis
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:new-port, category:tool-update, category:vcpkg-feature

#10449 [pcl] Move VTK to an optional feature
  ports/pcl/CONTROL
  ports/pcl/portfile.cmake
Labels: category:port-feature, info:reviewed

#13318 [entt] Update to 3.5.1
  ports/entt/CONTROL
  ports/entt/portfile.cmake
Labels: category:port-update, info:reviewed

#13305 [sentry-native] Update to 0.4.1
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
Labels: category:port-update, info:reviewed

#13273 [realsense2] Update to 2.38.1
  ports/realsense2/CONTROL
  ports/realsense2/portfile.cmake
Labels: category:port-update, info:internal

#13382 [xtensor-io] [taskflow] [tcl] [sophus] Fix CI 2020-09-06
  ports/xtensor-io/CONTROL
  ports/xtensor-io/disable-highfive.patch
  ports/xtensor-io/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#13387 [boost] Remove invalid identifier !v120
  ports/boost/CONTROL
  scripts/boost/generate-ports.ps1
Labels: category:port-bug, info:internal

#12926 [execute_process] Don't strip embedded semicolons
  docs/maintainers/execute_process.md
  scripts/cmake/execute_process.cmake
  scripts/cmake/vcpkg_apply_patches.cmake
  scripts/cmake/vcpkg_download_distfile.cmake
  scripts/cmake/vcpkg_execute_in_download_mode.cmake
  scripts/cmake/vcpkg_execute_required_process.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/vcpkg_from_git.cmake
  scripts/cmake/vcpkg_from_gitlab.cmake
Labels: category:vcpkg-bug

#13427 [benchmark] Update to 1.5.1 and fix pkgconfig
  ports/benchmark/CONTROL
  ports/benchmark/portfile.cmake
Labels: category:port-feature, category:port-update

#13424 [libigl] Install extra headers when feature selected
  ports/libigl/CONTROL
  ports/libigl/install-extra-headers.patch
  ports/libigl/portfile.cmake
Labels: category:port-bug, info:internal

#13408 [zeromq]Fix missing system version for mingw builds
  ports/zeromq/CONTROL
  ports/zeromq/portfile.cmake
Labels: category:port-bug

#13411 [sord] Add new port
  ports/sord/CMakeLists.txt
  ports/sord/portfile.cmake
  ports/sord/vcpkg.json
Labels: category:new-port, info:reviewed

#13416 [mp-units] add new port
  ports/mp-units/CONTROL
  ports/mp-units/cmake.patch
  ports/mp-units/config.patch
  ports/mp-units/portfile.cmake
Labels: category:new-port, info:reviewed

#13393 [geos] Fix linking of geos for mingw
  ports/geos/CONTROL
  ports/geos/portfile.cmake
Labels: category:port-bug

#13390 [mp3lame] fix crt linkage
  ports/mp3lame/CONTROL
  ports/mp3lame/portfile.cmake
Labels: category:port-bug, info:reviewed

#13386 [vcpkg] improve s390x support
  scripts/bootstrap.sh
  toolsrc/src/vcpkg.cpp
  toolsrc/src/vcpkg/triplet.cpp
Labels: category:vcpkg-feature, info:reviewed

#13401 [tmx] Fix build failure
  ports/tmx/CONTROL
  ports/tmx/fix-build-error.patch
  ports/tmx/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#13358 [lerc] Add New Port
  ports/lerc/CONTROL
  ports/lerc/enable_static_build.patch
  ports/lerc/install_lib_to_archive_path.patch
  ports/lerc/portfile.cmake
Labels: category:new-port, info:reviewed

#13375 [libtorrent] Fix build on arm-linux community triplet
  ports/libtorrent/CONTROL
Labels: category:port-feature, info:reviewed

#13240 [vcpkg|toolchain] add VCPKG_OVERLAY_(PORTS|TRIPLETS) to the toolchain
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed

#13471 [libigl] Re-fix install extra headers
  ports/libigl/CONTROL
  ports/libigl/install-extra-headers.patch
Labels: category:port-bug, info:internal, info:reviewed

#13445 [qhull] Update to 8.0.2
  ports/qhull/CONTROL
  ports/qhull/include-qhullcpp-shared.patch
  ports/qhull/mac-fix.patch
  ports/qhull/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12795 [urdfdom] Fixing up _IMPORT_PREFIX
  ports/urdfdom/0003_import_prefix.patch
  ports/urdfdom/CONTROL
  ports/urdfdom/portfile.cmake
Labels: category:port-bug, info:reviewed

#13433 [hffix] New port hffix library 1.0.0
  ports/hffix/CMakeLists.txt
  ports/hffix/CONTROL
  ports/hffix/portfile.cmake
Labels: category:new-port, info:reviewed

#13443 [pybind11] Fixup cmake information
  ports/pybind11/CONTROL
  ports/pybind11/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13425 [shogun] Fix build error
  ports/shogun/CONTROL
  ports/shogun/fix-ASSERT-not-found.patch
  ports/shogun/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12459 [qwt] update to 6.1.5
  ports/qwt/CONTROL
  ports/qwt/build.patch
  ports/qwt/fix-dynamic-static.patch
  ports/qwt/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12627 [freeimage] Add freeimage-config.cmake
  ports/freeimage/CMakeLists.txt
  ports/freeimage/CONTROL
  ports/freeimage/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#13360 [d3dx12] Add new port
  ports/d3dx12/portfile.cmake
  ports/d3dx12/vcpkg.json
Labels: category:new-port, info:reviewed

#13421 [vcpkg] Merge the vcpkg metadata uploader into the vcpkg binary
  docs/tool-maintainers/layout.md
  scripts/bootstrap.ps1
  toolsrc/CMakeLists.txt
  toolsrc/include/vcpkg/base/system.process.h
  toolsrc/include/vcpkg/commands.upload-metrics.h
  toolsrc/src/vcpkg-test/commands.cpp
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/commands.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.upload-metrics.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkgmetricsuploader.cpp
  toolsrc/windows-bootstrap/dirs.proj
  toolsrc/windows-bootstrap/vcpkg.props
  toolsrc/windows-bootstrap/vcpkg.vcxproj
  toolsrc/windows-bootstrap/vcpkg/vcpkg.vcxproj
  toolsrc/windows-bootstrap/vcpkg/vcpkg.vcxproj.filters
  toolsrc/windows-bootstrap/vcpkglib/vcpkglib.vcxproj
  toolsrc/windows-bootstrap/vcpkglib/vcpkglib.vcxproj.filters
  toolsrc/windows-bootstrap/vcpkgmetricsuploader/vcpkgmetricsuploader.vcxproj
  toolsrc/windows-bootstrap/vcpkgmetricsuploader/vcpkgmetricsuploader.vcxproj.filters
Labels: category:vcpkg-feature, info:internal

#13488 [vcpkg manifest] Add documentation!
  README.md
  docs/examples/manifest-mode-cmake.md
  docs/examples/packaging-github-repos.md
  docs/examples/packaging-zipfiles.md
  docs/examples/patching.md
  docs/index.md
  docs/maintainers/control-files.md
  docs/maintainers/maintainer-guide.md
  docs/maintainers/manifest-files.md
  docs/maintainers/pr-review-checklist.md
  docs/users/manifests.md
  docs/users/triplets.md
  ports/abseil/vcpkg.json
  ports/blend2d/vcpkg.json
  ports/colmap/vcpkg.json
  ports/cpu-features/vcpkg.json
  ports/geographiclib/vcpkg.json
  ports/libsndfile/vcpkg.json
  ports/numcpp/vcpkg.json
  ports/ogre/vcpkg.json
  scripts/azure-pipelines/windows/Check-ManifestFormatting.ps1
  toolsrc/include/vcpkg/base/json.h
  toolsrc/include/vcpkg/platform-expression.h
  toolsrc/src/vcpkg-test/commands.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg-test/platform-expression.cpp
  toolsrc/src/vcpkg/commands.cpp
  toolsrc/src/vcpkg/commands.format-manifest.cpp
  toolsrc/src/vcpkg/platform-expression.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
Labels: category:documentation

#13497 [tool-meson] Update to 0.55.3
  ports/tool-meson/CONTROL
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update, info:reviewed

#13486 [vcpkg] Add metrics for binarycaching feature
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/install.cpp
Labels: category:vcpkg-feature, info:internal

#13501 [sqlite3] Update to 3.33.0
  ports/sqlite3/CONTROL
  ports/sqlite3/portfile.cmake
Labels: category:port-update, requires:all-feature-testing

#13520 [sdl2] Fix pkgconfig: missing system lib dbus-1
  ports/sdl2/CONTROL
  ports/sdl2/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13512 [ffmpeg] Fix bug #13511: arm64-linux build failure
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
Labels: category:port-bug, info:reviewed

#13359 [croncpp] Added croncpp port
  ports/croncpp/0001-fix-cmake.patch
  ports/croncpp/CONTROL
  ports/croncpp/portfile.cmake
Labels: category:new-port, info:reviewed

#13340 [qt-advanced-docking-system] update to 3.6.1
  ports/qt-advanced-docking-system/CONTROL
  ports/qt-advanced-docking-system/config_changes.patch
  ports/qt-advanced-docking-system/hardcode_version.patch
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/skip_license_install.patch
Labels: category:port-update, info:reviewed

#13322 [triangle] Add new port
  ports/triangle/CMakeLists.txt
  ports/triangle/CONTROL
  ports/triangle/enable_64bit_architecture.patch
  ports/triangle/exports.def
  ports/triangle/portfile.cmake
Labels: category:new-port, info:reviewed

#13320 [dartsim] Add new port
  ports/dartsim/1478.patch
  ports/dartsim/1497.patch
  ports/dartsim/portfile.cmake
  ports/dartsim/vcpkg.json
Labels: category:new-port, info:reviewed

#13517 [vcpkg-docs] Add docs/users/binarycaching.md
  docs/specifications/binarycaching.md
  docs/users/binarycaching.md
  toolsrc/src/vcpkg/binarycaching.cpp
Labels: category:documentation, info:internal

#13552 [google-cloud-cpp] Update to v1.18.0 release
  ports/google-cloud-cpp/CONTROL
  ports/google-cloud-cpp/portfile.cmake
Labels: category:port-update

#13535 [json_dto] Update to v.0.2.10
  ports/json-dto/CONTROL
  ports/json-dto/portfile.cmake
Labels: category:port-update, info:reviewed

#13578 Fix feature flags option typo
  docs/users/manifests.md
Labels: category:documentation, info:reviewed

#13568 [opus] Fix for arm64-ios
  ports/opus/CONTROL
  ports/opus/portfile.cmake
Labels: category:port-feature, info:reviewed

#13595 [jsoncons] Update to version 0.156.1
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
Labels: category:port-update, info:reviewed

#13589 [vcpkg manifest-mode] Fix parallel msbuild failures
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug, info:internal

#13584 [inja/kd-soap/fastrtps/graphite2/jsonnet] Update to latest release revision
  ports/fastrtps/CONTROL
  ports/fastrtps/fix-install.patch
  ports/fastrtps/namespace_tinyxml2.patch
  ports/fastrtps/portfile.cmake
  ports/graphite2/CONTROL
  ports/graphite2/disable-tests.patch
  ports/graphite2/portfile.cmake
  ports/inja/CONTROL
  ports/inja/cmake-version.patch
  ports/inja/portfile.cmake
  ports/jsonnet/001-enable-msvc.patch
  ports/jsonnet/002-fix-dependency-and-install.patch
  ports/jsonnet/CONTROL
  ports/jsonnet/portfile.cmake
  ports/kd-soap/CONTROL
  ports/kd-soap/kd-soap.patch
  ports/kd-soap/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13617 [skyr-url] Changed version number to 1.13.0
  ports/skyr-url/CONTROL
  ports/skyr-url/portfile.cmake
Labels: category:port-update, info:reviewed

#13553 [xbyak] Update port to 5.97
  ports/xbyak/CONTROL
  ports/xbyak/portfile.cmake
  ports/xbyak/vcpkg.json
Labels: category:port-update, info:reviewed

#13546 [sentry-native] Update port to 0.4.2
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
Labels: category:port-update, info:reviewed

#13544 [unqlite] Add new port
  ports/unqlite/portfile.cmake
  ports/unqlite/vcpkg.json
Labels: category:new-port, info:reviewed

#13508 [vcpkg] Add build scripts to produce signed vcpkg binaries.
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/signing.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/packages.config
  scripts/azure-pipelines/windows/signing.signproj
  toolsrc/CMakeLists.txt
Labels: category:infrastructure, info:internal

#13560 [Many ports] Update to the latest version or commit
  ports/liblinear/CMakeLists.txt
  ports/liblinear/CONTROL
  ports/liblinear/portfile.cmake
  ports/libmaxminddb/CONTROL
  ports/libmaxminddb/fix-linux-build.patch
  ports/libmaxminddb/portfile.cmake
  ports/libqrencode/CONTROL
  ports/libqrencode/fix-found-wingetopt.patch
  ports/libqrencode/portfile.cmake
  ports/librsync/001-enable-static-libs.patch
  ports/librsync/CONTROL
  ports/librsync/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:internal, info:reviewed

#13529 [scintilla] Add static linking to Scintilla
  ports/scintilla/0001-static-lib.patch
  ports/scintilla/0002-static-crt.patch
  ports/scintilla/CONTROL
  ports/scintilla/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#13638 [ffnvcodec] only supports windows and linux
  ports/ffnvcodec/CONTROL
Labels: category:port-feature, info:reviewed

#13629 [mimalloc] Update to 1.6.4
  ports/mimalloc/CONTROL
  ports/mimalloc/fix-cmake.patch
  ports/mimalloc/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:internal, info:reviewed

#13537 [vcpkg] Fix the case of current_path() before use on Windows.
  toolsrc/include/vcpkg/base/files.h
  toolsrc/src/vcpkg-test/files.cpp
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-bug, info:internal

#13706 [tinyutf8] Updating to v4.0.2
  ports/tinyutf8/CONTROL
  ports/tinyutf8/fixbuild.patch
  ports/tinyutf8/portfile.cmake
Labels: category:port-update, info:reviewed

#13685 [documentation] Fix manifest link
  README.md
  README_zh_CN.md
Labels: category:documentation, info:reviewed

#13705 [orc] Update to the latest version
  ports/orc/0003-dependencies-from-vcpkg.patch
  ports/orc/0004-update-tzdata.patch
  ports/orc/0005-disable-tzdata.patch
  ports/orc/CONTROL
  ports/orc/portfile.cmake
Labels: category:port-update, info:internal

#13667 [vcpkg] Show Empty Object on vcpkg --list when used with --x-json
  toolsrc/src/vcpkg/commands.list.cpp
Labels: category:vcpkg-feature, info:reviewed

#13663 [apr-util] use find_package(expat)
  ports/apr-util/CONTROL
  ports/apr-util/use-vcpkg-expat.patch
Labels: category:port-bug, info:reviewed

#13636 [libvpx] fix cmake target for linux
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
  ports/libvpx/unofficial-libvpx-config.cmake.in
Labels: category:port-bug, info:reviewed

#13625 [libzip] Update to libzip 1.7.3
  ports/libzip/CONTROL
  ports/libzip/fix-findpackage.patch
  ports/libzip/portfile.cmake
Labels: category:port-update, info:reviewed

#13599 [qt5] Install Qt5 Network SSL dependencies
  ports/qt5-base/CONTROL
  ports/qt5-base/qtdeploy.ps1
Labels: category:port-bug, info:reviewed

#13562 [Ninja] update to 1.10.1
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
Labels: category:tool-update, info:reviewed

#13665 [scintilla] Update to 4.4.5
  ports/scintilla/CONTROL
  ports/scintilla/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#13545 [nng] Update to 1.3.2
  ports/nng/CONTROL
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
Labels: category:port-update, info:reviewed

#13491 [vcpkg, libpq] separate static and shared library installations
  ports/libpq/CONTROL
  ports/libpq/Makefile
  ports/libpq/portfile.cmake
  scripts/cmake/vcpkg_build_make.cmake
Labels: category:port-bug, info:reviewed

#13502 [ffmpeg] fix feature dependencies
  ports/ffmpeg/CONTROL
Labels: category:port-bug, info:reviewed

#13450 try fixing x264
  ports/x264/CONTROL
  ports/x264/portfile.cmake
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:port-bug, category:tool-update, info:reviewed

#13462 [lv2] Add new port
  ports/lv2/CMakeLists.txt
  ports/lv2/portfile.cmake
  ports/lv2/vcpkg.json
Labels: category:new-port, info:reviewed

#13681 [libtins] Update to version 4.3
  ports/libtins/CONTROL
  ports/libtins/portfile.cmake
Labels: category:port-update, requires:author-response

#13722 [vcpkg] Fix Windows pipeline's outdated Ninja reference
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: category:infrastructure, info:internal, info:reviewed

#13598 [seal] Fixed and updated ports/seal to 3.5.9.
  ports/seal/CONTROL
  ports/seal/no-source-writes.patch
  ports/seal/portfile.cmake
Labels: category:port-bug, category:port-update, requires:author-response

#13451 [qt5-location] Rename vendored libs to avoid conflicts
  ports/assimp/CONTROL
  ports/assimp/config.patch
  ports/assimp/irrlicht.patch
  ports/assimp/portfile.cmake
  ports/irrxml/CMakeLists.txt
  ports/irrxml/disable_asm_calls.patch
  ports/irrxml/portfile.cmake
  ports/irrxml/vcpkg.json
  ports/qt5-location/CONTROL
  ports/qt5-location/clipper.patch
  ports/qt5-location/portfile.cmake
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:port-bug, info:internal

#13732 [vcpkg_build_cmake] Set PARALLEL_ARG when using Ninja
  scripts/cmake/vcpkg_build_cmake.cmake
Labels: category:vcpkg-feature, info:internal

#13765 [vcpkg baseline] Update libvmdk
  ports/libvmdk/CONTROL
  ports/libvmdk/no_fs_and_fadvise_on_macos.patch
  ports/libvmdk/portfile.cmake
Labels: category:port-update, category:vcpkg-bug, info:internal, info:reviewed

#13709 [freerdp] Update to the latest version
  ports/freerdp/CONTROL
  ports/freerdp/fix-include-install-path.patch
  ports/freerdp/fix-include-path.patch
  ports/freerdp/fix-libusb.patch
  ports/freerdp/openssl_threads.patch
  ports/freerdp/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13669 [vcpkg] Skip all files named .DS_Store, no need to check if the file is regular
  toolsrc/src/vcpkg/paragraphs.cpp
Labels: category:code-cleanup

#13657 [libyaml/sqlpp11/xeus/uvatlas/xxhash] Update to the latest version
  ports/libyaml/CONTROL
  ports/libyaml/portfile.cmake
  ports/sqlpp11/CONTROL
  ports/sqlpp11/fix-dependency.patch
  ports/sqlpp11/portfile.cmake
  ports/uvatlas/CONTROL
  ports/uvatlas/portfile.cmake
  ports/xeus/CONTROL
  ports/xeus/Fix-Compile-nlohmann-json.patch
  ports/xeus/Fix-TypeConversion.patch
  ports/xeus/Fix-static-build.patch
  ports/xeus/portfile.cmake
  ports/xxhash/CONTROL
  ports/xxhash/fix-arm-uwp.patch
  ports/xxhash/portfile.cmake
Labels: category:port-update, info:internal

#13647 [ogdf] Fix build error on Visual Studio 2019
  ports/ogdf/CONTROL
  ports/ogdf/fix-c4723.patch
  ports/ogdf/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13659 [protobuf] Add vcpkg-cmake-wrapper.cmake
  ports/protobuf/CONTROL
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13645 [polyhook2] Update to new version
  ports/polyhook2/CONTROL
  ports/polyhook2/portfile.cmake
Labels: category:port-update

#13671 [cpp-netlib] Fix usage with boost 1.73
  ports/cpp-netlib/CONTROL
  ports/cpp-netlib/portfile.cmake
  ports/cpp-netlib/stream-handler-executor.patch
Labels: category:port-bug, info:internal, info:reviewed

#13676 [asmjit/botan/brotil] Update version
  ports/asmjit/CONTROL
  ports/asmjit/portfile.cmake
  ports/botan/CONTROL
  ports/botan/fix-msvc-build.patch
  ports/botan/portfile.cmake
  ports/brotli/CONTROL
  ports/brotli/install.patch
  ports/brotli/pkgconfig.patch
  ports/brotli/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13672 [mbedtls/nana] Update to the latest version
  ports/mbedtls/CONTROL
  ports/mbedtls/enable-pthread.patch
  ports/mbedtls/portfile.cmake
  ports/nana/CMakeLists.txt
  ports/nana/CONTROL
  ports/nana/fix-addstdexcept.patch
  ports/nana/fix-build-error.patch
  ports/nana/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13720 [freeimage] Fix link errors with libTIFF
  ports/freeimage/CONTROL
  ports/freeimage/portfile.cmake
  ports/freeimage/use-functions-to-override-libtiff-warning-error-handlers.patch
Labels: category:port-bug, info:reviewed

#13708 [libidn2] Support UNIX
  ports/getdns/CONTROL
  ports/gmime/CONTROL
  ports/libidn2/CONTROL
  ports/libidn2/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal

#13698 [gamma] Fix find dependency libsndfile
  ports/gamma/CMakeLists.txt
  ports/gamma/CONTROL
  ports/gamma/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13699 [nanodbc] Fix vcpkg_fixup_cmake_targets CONFIG_PATH on unix
  ports/nanodbc/CONTROL
  ports/nanodbc/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13641 [vcpkg-docs] Add note about GitHub hosted agents
  docs/users/binarycaching.md
Labels: category:documentation, info:internal

#13644 Update the latest g++-10 version if exists
  scripts/bootstrap.sh
Labels: category:vcpkg-feature, info:reviewed

#13677 [capnproto/check/cppgraphqlgen] Update version
  ports/capnproto/0001-fix-capnpc-extension-handling-on-Windows.patch
  ports/capnproto/CONTROL
  ports/capnproto/portfile.cmake
  ports/check/CONTROL
  ports/check/fix-lib-path.patch
  ports/check/portfile.cmake
  ports/cppgraphqlgen/CONTROL
  ports/cppgraphqlgen/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13684 [x264] Fix *inx dynamic build
  ports/x264/CONTROL
  ports/x264/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13679 [dimcli/draco/refprop-headers/coolprop] Update version
  ports/coolprop/CONTROL
  ports/coolprop/fix-builderror.patch
  ports/coolprop/fix-dependency.patch
  ports/coolprop/fmt-fix.patch
  ports/coolprop/portfile.cmake
  ports/dimcli/CONTROL
  ports/dimcli/portfile.cmake
  ports/draco/CONTROL
  ports/draco/fix-compile-error-uwp.patch
  ports/draco/fix-uwperror.patch
  ports/draco/portfile.cmake
  ports/refprop-headers/CONTROL
  ports/refprop-headers/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13630 [range-v3] Update to 0.11.0
  ports/range-v3/CONTROL
  ports/range-v3/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13571 Add compiler info to nuspec description
  scripts/detect_compiler/CMakeLists.txt
  toolsrc/include/vcpkg/build.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg-test/binarycaching.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:reviewed

#13558 [aws-c-*] Update version
  ports/aws-c-common/CONTROL
  ports/aws-c-common/disable-error-4068.patch
  ports/aws-c-common/disable-internal-crt-option.patch
  ports/aws-c-common/fix-cmake-target-path.patch
  ports/aws-c-common/portfile.cmake
  ports/aws-c-event-stream/CONTROL
  ports/aws-c-event-stream/fix-cmake-target-path.patch
  ports/aws-c-event-stream/portfile.cmake
  ports/aws-checksums/CONTROL
  ports/aws-checksums/fix-cmake-target-path.patch
  ports/aws-checksums/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13523 [nettle] Fix build error on Linux
  ports/nettle/CONTROL
  ports/nettle/fix-InstallLibPath.patch
  ports/nettle/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed
