Repository microsoft/vcpkg, pull requests merged in 2020-08, with the labels that each got.

#12548 [vcpkg manifest] look at `platform` directives
  toolsrc/include/vcpkg/commands.setinstalled.h
  toolsrc/include/vcpkg/packagespec.h
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
Labels: category:vcpkg-bug, info:internal

#12494 [qt-webengine] Fix building with vs2017
  ports/qt5-webengine/CONTROL
  ports/qt5-webengine/portfile.cmake
  ports/qt5-webengine/vs2017.patch
  scripts/ci.baseline.txt
Labels: category:port-bug, info:reviewed

#12342 [qt5-base] Add zstd as a dependency
  ports/field3d/0003_hdf5_api.patch
  ports/netcdf-c/CONTROL
  ports/paraview/CONTROL
  ports/paraview/portfile.cmake
  ports/qt5-base/CONTROL
  ports/qt5-base/portfile.cmake
  ports/vcpkg-ci-paraview/CONTROL
  ports/vcpkg-ci-paraview/portfile.cmake
  ports/vtk/6811.patch
  ports/vtk/portfile.cmake
Labels: category:port-feature, info:reviewed

#11376 [avro-cpp] new port
  ports/avro-cpp/CONTROL
  ports/avro-cpp/install.patch
  ports/avro-cpp/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#11535 [mpg123] Allow cross-compiling, fix previous builds tainting rebuilds
  ports/mpg123/CONTROL
  ports/mpg123/portfile.cmake
  scripts/azure-pipelines/osx/azure-pipelines.yml
Labels: category:infrastructure, category:port-feature, info:reviewed

#12624 Fix .gitignore excluding triplets/community, sort, and driveby vcpkg_check_linkage.md doc bug.
  .gitignore
  docs/maintainers/vcpkg_check_linkage.md
Labels: category:documentation, info:internal, info:reviewed

#12427 [xframe] new port for the xframe library
  ports/xframe/CONTROL
  ports/xframe/portfile.cmake
Labels: category:new-port, info:reviewed

#12423 [vcpkg] Add environment variable VCPKG_DEFAULT_BINARY_CACHE
  toolsrc/src/vcpkg/binarycaching.cpp
Labels: category:vcpkg-feature, requires:author-response

#12456 [coroutine] Fix error C7651
  ports/coroutine/CONTROL
  ports/coroutine/fix-errorC7651.patch
  ports/coroutine/portfile.cmake
  ports/coroutine/vcpkg.json
Labels: category:port-bug, depends:upstream-changes, info:internal

#10670 [vcpkg] Fix [boost] find_package for MSVC2013 / v120
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, requires:author-response

#12537 [Arrow] Update to 1.0.0
  ports/arrow/CONTROL
  ports/arrow/all.patch
  ports/arrow/portfile.cmake
Labels: category:port-update, info:reviewed

#10252 [libigl] Fix configure error and dependencies
  ports/libigl/CONTROL
  ports/libigl/fix-dependency.patch
  ports/libigl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12421 [argtable3] Update to 3.1.5
  ports/argtable3/CONTROL
  ports/argtable3/fix-cmake.patch
  ports/argtable3/portfile.cmake
  ports/argtable3/vcpkg.json
Labels: category:port-update, info:internal, info:reviewed

#12549 [vcpkg manifest] add feature support
  scripts/buildsystems/vcpkg.cmake
  toolsrc/src/vcpkg/install.cpp
Labels: category:vcpkg-feature, depends:different-pr, info:internal

#12157 [many ports] Remove _find_package guards that break *_FOUND
  ports/asiosdk/CONTROL
  ports/asiosdk/vcpkg-cmake-wrapper.cmake
  ports/cudnn/CONTROL
  ports/cudnn/vcpkg-cmake-wrapper.cmake
  ports/ffmpeg/CONTROL
  ports/ffmpeg/vcpkg-cmake-wrapper.cmake
  ports/jxrlib/CONTROL
  ports/jxrlib/vcpkg-cmake-wrapper.cmake
  ports/libmodman/CONTROL
  ports/libmodman/vcpkg-cmake-wrapper.cmake
  ports/libproxy/CONTROL
  ports/libproxy/vcpkg-cmake-wrapper.cmake
  ports/openexr/CONTROL
  ports/openimageio/CONTROL
  ports/openimageio/vcpkg-cmake-wrapper.cmake
  ports/stb/CONTROL
  ports/stb/vcpkg-cmake-wrapper.cmake
Labels: category:vcpkg-feature, info:reviewed

#12544 [openssl-unix] Add mingw with dynamic libs support - take 2
  ports/openssl-unix/CMakeLists.txt
  ports/openssl-unix/CONTROL
  ports/openssl-unix/portfile.cmake
Labels: category:port-feature, requires:author-response

#12471 [vcpkg format-manifest] Add convert-control flag
  ports/3fd/vcpkg.json
  ports/abseil/vcpkg.json
  ports/argparse/vcpkg.json
  ports/avisynthplus/vcpkg.json
  ports/blend2d/vcpkg.json
  ports/coroutine/vcpkg.json
  ports/geographiclib/vcpkg.json
  ports/mosquitto/vcpkg.json
  ports/ogre/vcpkg.json
  ports/qt5/CONTROL
  scripts/azure-pipelines/windows/Check-ManifestFormatting.ps1
  toolsrc/include/vcpkg/base/json.h
  toolsrc/include/vcpkg/base/strings.h
  toolsrc/include/vcpkg/base/stringview.h
  toolsrc/include/vcpkg/packagespec.h
  toolsrc/include/vcpkg/platform-expression.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/src/vcpkg-test/json.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg-test/paragraph.cpp
  toolsrc/src/vcpkg/base/json.cpp
  toolsrc/src/vcpkg/base/strings.cpp
  toolsrc/src/vcpkg/commands.format-manifest.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkg/packagespec.cpp
  toolsrc/src/vcpkg/platform-expression.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
Labels: category:vcpkg-feature, info:internal

#12732 [vcpkg baseline] Fix pbc build failure with x64-osx
  ports/pbc/CONTROL
  ports/pbc/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12723 [mpir] fix on linux
  ports/mpir/portfile.cmake
  ports/mpir/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#12516 [sqlite3] Namespaced targets with unofficial::
  docs/examples/installing-and-using-packages.md
  docs/examples/overlay-triplets-linux-dynamic.md
  ports/libgpod/CMakeLists.txt
  ports/libgpod/CONTROL
  ports/libodb-sqlite/CMakeLists.txt
  ports/libodb-sqlite/CONTROL
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/CONTROL
  ports/sqlite3/portfile.cmake
  ports/sqlite3/sqlite3-config.in.cmake
  ports/sqlitecpp/0001-Find-external-sqlite3.patch
  ports/sqlitecpp/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#12637 [gtkmm] fix missing symbol exports with gtkmm release build
  ports/gtkmm/CONTROL
  ports/gtkmm/fix_treeviewcolumn.patch
  ports/gtkmm/portfile.cmake
Labels: category:port-bug, info:reviewed

#12640 [vcpkg] add environment variable VCPKG_OVERLAY_PORTS
  docs/users/config-environment.md
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:port-feature, info:reviewed

#12747 [google-cloud-cpp] Update to v1.16.0
  ports/google-cloud-cpp/CONTROL
  ports/google-cloud-cpp/portfile.cmake
Labels: category:port-update, info:reviewed

#12742 [wavpack] Fix failure on linux and osx
  ports/wavpack/CONTROL
  ports/wavpack/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#12737 [shapelib] Update to 1.5.0
  ports/shapelib/CONTROL
  ports/shapelib/portfile.cmake
Labels: category:port-update, info:reviewed

#12735 [alembic] Update to 1.7.13
  ports/alembic/CONTROL
  ports/alembic/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12733 [wxwidgets] Update to 3.1.4
  ports/wxwidgets/CONTROL
  ports/wxwidgets/disable-platform-lib-dir.patch
  ports/wxwidgets/fix-macos-clipboard.patch
  ports/wxwidgets/fix-stl-build-vs2019-16.6.patch
  ports/wxwidgets/portfile.cmake
Labels: category:port-update, info:reviewed

#12731 [librdkafka] Update to 1.5.0
  ports/librdkafka/CONTROL
  ports/librdkafka/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12728 [teemo] Update to v2.1
  ports/teemo/CONTROL
  ports/teemo/portfile.cmake
Labels: category:port-update, info:reviewed

#12727 [msbuild] Revert the importance to Normal
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug, info:internal, info:reviewed

#12717 [vcpkg] Fix prettify output not working in some cases
  scripts/cmake/vcpkg_prettify_command.cmake
Labels: category:vcpkg-feature, info:reviewed

#12715 [vcpkg] Add VCPKG_TARGET_IS_IOS
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:vcpkg-feature, info:reviewed

#12716 [vcpkg] Fix arm64-osx triplet not building for arm64
  triplets/community/arm64-osx.cmake
Labels: category:vcpkg-feature, info:reviewed

#12711 [cgal] Update cgal to 5.0.3
  ports/cgal/CONTROL
  ports/cgal/portfile.cmake
Labels: category:port-update, info:reviewed

#12705 [vcpkg] Add png++ port (as pngpp)
  ports/pngpp/portfile.cmake
  ports/pngpp/vcpkg.json
Labels: category:new-port, info:reviewed

#12755 [netcdf-c] also depend on embree on osx
  ports/netcdf-c/CONTROL
Labels: category:port-bug

#12706 [libvpx] fix pdb paths
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
Labels: category:port-bug, info:reviewed

#12601 [nlohmann-json] Update to 3.9.0
  ports/nlohmann-json/CONTROL
  ports/nlohmann-json/portfile.cmake
  ports/xeus/Fix-Compile-nlohmann-json.patch
  ports/xeus/portfile.cmake
Labels: category:port-update

#12701 [vcpkg-ci-paraview] move into scripts/test_ports
  scripts/test_ports/vcpkg-ci-paraview/CONTROL
  scripts/test_ports/vcpkg-ci-paraview/portfile.cmake
Labels: category:infrastructure, info:reviewed

#12699 [vcpkg baseline] remove qt translations from skip list
  scripts/ci.baseline.txt
Labels: info:reviewed

#12695 [ngspice] Initial port
  ports/ngspice/CONTROL
  ports/ngspice/portfile.cmake
  ports/ngspice/use-winbison-global.patch
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#12690 [monkeys-audio] Update to 5.48
  ports/monkeys-audio/CONTROL
  ports/monkeys-audio/portfile.cmake
Labels: category:port-update, info:reviewed

#12683 [quill] Update to version 1.3.3
  ports/quill/CONTROL
  ports/quill/portfile.cmake
Labels: category:port-update, info:reviewed

#12680 [gamedev-framework] fix install path of *.cmake files
  ports/gamedev-framework/CONTROL
  ports/gamedev-framework/portfile.cmake
Labels: category:port-bug, info:reviewed

#12678 [vcpkg] Add missing check for x86
  toolsrc/src/vcpkg/base/system.cpp
Labels: category:vcpkg-feature, info:reviewed

#12674 [libpq] only require bison and flex on Windows
  ports/libpq/CONTROL
  ports/libpq/portfile.cmake
Labels: category:port-bug, info:reviewed

#12669 [libmariadb] Include bundled zlib and openssl
  ports/libmariadb/CONTROL
  ports/libmariadb/portfile.cmake
Labels: category:port-feature, info:reviewed

#12667 [blend2d] Update to beta_2020-07-31
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
Labels: category:port-update, info:reviewed

#12656 [libusb] build fails on windows due to symlink in extracted archive
  ports/libusb/CONTROL
  ports/libusb/portfile.cmake
Labels: category:port-bug, info:reviewed

#12655 [lzokay] Add new port
  ports/lzokay/portfile.cmake
  ports/lzokay/vcpkg.json
Labels: category:new-port, info:reviewed

#12629 [pcre] Fix installation when only building release
  ports/pcre/CONTROL
  ports/pcre/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12498 [libffi] fix crash in debug
  ports/libffi/CONTROL
  ports/libffi/portfile.cmake
  ports/libffi/win32-disable-stackframe-check.patch
  ports/libffi/win64-disable-stackframe-check.patch
Labels: category:port-bug, info:reviewed

#12497 [jthread] Initial port
  ports/josuttis-jthread/CONTROL
  ports/josuttis-jthread/portfile.cmake
Labels: category:new-port, info:reviewed

#12766 [lzokay] format manifest
  ports/lzokay/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#12752 [vcpkg_build_qmake] Disable multi-threaded build when file fails to open
  ports/qt5-base/CONTROL
  scripts/cmake/vcpkg_build_qmake.cmake
Labels: category:tool-update, info:internal

#12405 [brotli] add pkgconfig / [freetype] depend on brotli
  ports/brotli/CONTROL
  ports/brotli/pkgconfig.patch
  ports/brotli/portfile.cmake
  ports/cairo/CMakeLists.txt
  ports/cairo/CONTROL
  ports/cairomm/CMakeLists.txt
  ports/cairomm/CONTROL
  ports/freetype-gl/CONTROL
  ports/freetype-gl/glew.patch
  ports/freetype-gl/portfile.cmake
  ports/freetype/0002-Add-CONFIG_INSTALL_PATH-option.patch
  ports/freetype/CONTROL
  ports/freetype/brotli-static.patch
  ports/freetype/pkgconfig.patch
  ports/freetype/portfile.cmake
  ports/freetype/vcpkg-cmake-wrapper.cmake
  ports/libass/CMakeLists.txt
  ports/libass/CONTROL
  ports/libraqm/CMakeLists.txt
  ports/libraqm/CONTROL
  ports/pango/CMakeLists.txt
  ports/pango/CONTROL
  ports/podofo/CONTROL
  ports/podofo/freetype.patch
  ports/podofo/portfile.cmake
  ports/qt5-base/portfile.cmake
  ports/sfml/CONTROL
  ports/sfml/portfile.cmake
  ports/sfml/stb_include.patch
Labels: category:port-feature, depends:different-pr

#12312 [fmt] Update to 7.0.2 + [spdlog] Update to 1.7.0
  ports/fmt/CONTROL
  ports/fmt/portfile.cmake
  ports/spdlog/CONTROL
  ports/spdlog/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#12464 [lapack] add metaport lapack to switch lapack impl with an overlay
  ports/armadillo/CONTROL
  ports/blaze/CONTROL
  ports/ceres/CONTROL
  ports/clapack/CONTROL
  ports/dlib/CONTROL
  ports/ensmallen/CONTROL
  ports/g2o/CONTROL
  ports/geogram/CONTROL
  ports/lapack/CMakeLists.txt
  ports/lapack/CONTROL
  ports/lapack/portfile.cmake
  ports/mlpack/CONTROL
  ports/suitesparse/CONTROL
Labels: category:new-port, category:port-feature, info:reviewed

#12688 [wtl ] Upgrade wtl to 10.0.10077.
  ports/wtl/CONTROL
  ports/wtl/portfile.cmake
Labels: category:port-update

#12515 [pangolin] Fix build failure on UNIX
  ports/pangolin/CONTROL
  ports/pangolin/fix-dependency-python.patch
  ports/pangolin/fix-dependeny-ffmpeg.patch
  ports/pangolin/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal, info:reviewed

#12410 [colmap] Add port for COLMAP 3.6
  ports/colmap/portfile.cmake
  ports/colmap/usage
  ports/colmap/vcpkg.json
Labels: category:new-port, info:reviewed

#12635 [ffmpeg] fix FindFFMPEG.cmake to work properly even without avresample
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
Labels: category:port-bug, info:reviewed

#12794 [ocoros-kdl] Fix the CMake config file
  ports/orocos-kdl/CONTROL
  ports/orocos-kdl/portfile.cmake
Labels: category:port-bug, info:reviewed

#12792 [log4cpp] Fix header file install path
  ports/log4cpp/CONTROL
  ports/log4cpp/fix-includepath.patch
  ports/log4cpp/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#12787 [nlohmann-json] Update to 3.9.1
  ports/nlohmann-json/CONTROL
  ports/nlohmann-json/portfile.cmake
Labels: category:port-update, info:reviewed

#12786 [libu2f-server] Fix wrong include reference
  ports/libu2f-server/CONTROL
  ports/libu2f-server/portfile.cmake
Labels: category:port-bug, info:reviewed

#12784 [gSoap] Update to 2.8.105 and add a required shared directory
  ports/gsoap/CONTROL
  ports/gsoap/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#12782 [bond] Update to v9.0.2
  ports/bond/CONTROL
  ports/bond/fix-install-path.patch
  ports/bond/portfile.cmake
Labels: category:port-update, info:reviewed

#12781 [abseil] Fix CMake warning
  ports/abseil/fix-cmake-threads-dependency.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
Labels: category:port-bug, info:reviewed

#12768 [libtorrent] Update to 1.2.8
  ports/libtorrent/CONTROL
  ports/libtorrent/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#12762 [boost] Add Supports fields and more accurately handle arm64-windows/x64-uwp
  ports/boost-asio/CONTROL
  ports/boost-context/CONTROL
  ports/boost-coroutine/CONTROL
  ports/boost-fiber/CONTROL
  ports/boost-filesystem/CONTROL
  ports/boost-graph-parallel/CONTROL
  ports/boost-iostreams/CONTROL
  ports/boost-locale/CONTROL
  ports/boost-log/CONTROL
  ports/boost-mpi/CONTROL
  ports/boost-parameter-python/CONTROL
  ports/boost-poly-collection/CONTROL
  ports/boost-python/CONTROL
  ports/boost-safe-numerics/CONTROL
  ports/boost-stacktrace/CONTROL
  ports/boost-test/CONTROL
  ports/boost-wave/CONTROL
  ports/boost/CONTROL
  ports/libtorrent/CONTROL
  scripts/boost/generate-ports.ps1
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal, info:reviewed

#12761 [flac] Disable stack smash protection and FORTIFY_SOURCE for mingw
  ports/libflac/CONTROL
  ports/libflac/portfile.cmake
Labels: category:port-feature, info:reviewed

#12748 [qwtw] Add new port
  ports/qwtw/CONTROL
  ports/qwtw/portfile.cmake
Labels: category:new-port, info:reviewed

#12739 [date] Fix config.cmake and usage
  ports/date/0003-find-dependency-pthread.patch
  ports/date/CONTROL
  ports/date/portfile.cmake
  ports/date/usage
  ports/date/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12630 [secp256k1] Fix build failures and export cmake targets
  ports/secp256k1/CMakeLists.txt
  ports/secp256k1/CONTROL
  ports/secp256k1/portfile.cmake
  ports/secp256k1/secp256k1-config.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#12611 [grpc] Fix generate plugin grpc_csharp_ext
  ports/grpc/00011-fix-csharp_plugin.patch
  ports/grpc/CONTROL
  ports/grpc/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12610 [libzip] Fix find_package error
  ports/libzip/CONTROL
  ports/libzip/fix-findpackage.patch
  ports/libzip/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12577 [Xbyak] Update to 5.93
  ports/xbyak/CONTROL
  ports/xbyak/portfile.cmake
Labels: category:port-update, info:reviewed

#12592 [openimageio] Fix installed cmake file path
  ports/openimageio/CONTROL
  ports/openimageio/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12559 [tiff] Update 4.0.10 to 4.1.0
  ports/tiff/CONTROL
  ports/tiff/cmakelists.patch
  ports/tiff/portfile.cmake
Labels: category:port-update, info:reviewed

#12560 [CppAD] Add CppAD port
  ports/cppad/CONTROL
  ports/cppad/pkgconfig-fix.patch
  ports/cppad/portfile.cmake
  ports/cppad/windows-fix.patch
Labels: category:new-port, info:reviewed

#12546 [tensorflow-cc] fix build issues on Windows
  ports/tensorflow-cc/CONTROL
  ports/tensorflow-cc/portfile.cmake
Labels: category:port-bug, info:reviewed

#12524 [asmjit] Update to the latest commit
  ports/asmjit/CONTROL
  ports/asmjit/portfile.cmake
  ports/polyhook2/CONTROL
  ports/polyhook2/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#11949 [libressl] add download mirror
  ports/libressl/CONTROL
  ports/libressl/portfile.cmake
Labels: category:port-feature, info:reviewed

#11943 [tlx] Add new port (Need fixes)
  ports/tlx/CONTROL
  ports/tlx/portfile.cmake
Labels: category:new-port, info:reviewed

#12528 [libass] Fix build error on x64-windows-static
  ports/libass/CMakeLists.txt
  ports/libass/CONTROL
  ports/libass/portfile.cmake
  ports/libass/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#11037 [darknet] ready for yolo_v4
  ports/darknet/CONTROL
  ports/darknet/fix_shared_static.patch
  ports/darknet/portfile.cmake
Labels: category:port-feature, info:reviewed

#12758 [curl] Fix tools
  ports/curl/0008_fix_tools_path.patch
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12783 [raylib] Fix the feature issue
  ports/raylib/CONTROL
  ports/raylib/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#9162 [crashrpt] Add new port
  ports/crashrpt/001-add-install-target-and-find-deps.patch
  ports/crashrpt/CONTROL
  ports/crashrpt/portfile.cmake
  ports/dbghelp/CONTROL
  ports/dbghelp/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#12555 [embree3] Update to 3.11.0
  ports/embree3/CONTROL
  ports/embree3/fix-InstallPath.patch
  ports/embree3/fix-cmake-path.patch
  ports/embree3/fix-embree-path.patch
  ports/embree3/fix-path.patch
  ports/embree3/portfile.cmake
  ports/embree3/usage
Labels: category:port-update, info:reviewed

#12810 [vcpkg] Make C++ the primary github language
  .gitattributes
Labels: category:vcpkg-feature, info:reviewed

#12484 [raylib] rm vcpkg-cmake-wrapper.cmake, add hidpi
  ports/raylib/CONTROL
  ports/raylib/portfile.cmake
  ports/raylib/usage
  ports/raylib/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, category:port-feature

#12710 [physx] Add support for checked and profile builds.
  ports/physx/CONTROL
  ports/physx/portfile.cmake
Labels: category:port-feature

#12198 [vcpkg] Add `vcpkg export` to E2E tests. Enable E2E tests on all platforms.
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/end-to-end-tests.ps1
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/Check-ManifestFormatting.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
  toolsrc/include/vcpkg/base/system.process.h
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/tools.cpp
Labels: category:infrastructure, category:vcpkg-feature, info:internal

#12835 [implot] Update to 0.4
  ports/implot/CONTROL
  ports/implot/portfile.cmake
Labels: category:port-update, info:reviewed

#12827 [jsoncons] Update to version 0.155.1
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
Labels: category:port-update, info:reviewed

#12778 [directxsdk] Add new Port
  ports/directxsdk/portfile.cmake
  ports/directxsdk/vcpkg.json
Labels: category:new-port, info:reviewed

#12753 [zlib, libpng] Fix pkg-config for mingw
  ports/libpng/CONTROL
  ports/libpng/pkgconfig.2.patch
  ports/libpng/portfile.cmake
  ports/zlib/CONTROL
  ports/zlib/add_debug_postfix_on_mingw.patch
  ports/zlib/portfile.cmake
Labels: category:port-bug, info:reviewed

#12517 [fribidi] Update to 1.0.10
  ports/fribidi/CONTROL
  ports/fribidi/fix-win-static-suffix.patch
  ports/fribidi/portfile.cmake
Labels: category:port-update, info:reviewed

#12776 [vcpkg_copy_tool_dependencies] Use vcpkg internal powershell
  ports/protobuf/CONTROL
  ports/protobuf/portfile.cmake
  scripts/cmake/vcpkg_copy_tool_dependencies.cmake
Labels: category:vcpkg-bug, info:internal, info:reviewed

#12434 [netcdf-c] Fix dependency libmath
  ports/netcdf-c/CONTROL
  ports/netcdf-c/fix-dependency-libmath.patch
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/usage
  ports/netcdf-cxx4/CONTROL
  ports/netcdf-cxx4/fix-dependecy-hdf5.patch
  ports/netcdf-cxx4/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12856 [vcpkg baseline] Fix openimageio and pangolin build failures on Linux
  ports/libheif/CONTROL
  ports/libheif/install-extra-headers.patch
  ports/libheif/portfile.cmake
  ports/openimageio/CONTROL
  ports/pangolin/CONTROL
  ports/pangolin/fix-dependency-python.patch
Labels: category:port-bug, info:internal

#12672 [osg] Update to 3.6.5
  ports/osg/CONTROL
  ports/osg/portfile.cmake
  ports/osg/remove-prefix.patch
Labels: category:port-update, info:reviewed

#12800 [curl] Fix static build
  ports/curl/0002_fix_uwp.patch
  ports/curl/0011_fix_static_build.patch
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12805 [lapack-reference|fortran] Add new port
  ports/clapack/CONTROL
  ports/clapack/portfile.cmake
  ports/lapack-reference/CONTROL
  ports/lapack-reference/FindLAPACK.cmake
  ports/lapack-reference/portfile.cmake
  ports/lapack-reference/vcpkg-cmake-wrapper.cmake
  ports/lapack/CONTROL
  ports/lapack/clapack/FindLAPACK.cmake
  ports/lapack/clapack/vcpkg-cmake-wrapper.cmake
  ports/lapack/portfile.cmake
  ports/mlpack/CONTROL
  ports/mlpack/cmakelists.patch
  ports/openblas/CONTROL
  ports/openblas/portfile.cmake
  ports/vcpkg-gfortran/CONTROL
  ports/vcpkg-gfortran/portfile.cmake
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_find_fortran.cmake
Labels: category:new-port, info:reviewed

#12829 [vcpkg] Fix resolution of default features when using Manifest mode
  toolsrc/include/vcpkg-test/util.h
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/packagespec.h
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
Labels: category:vcpkg-bug, info:internal

#12880 [bzip2] fixes for building release-only
  ports/bzip2/CONTROL
  ports/bzip2/portfile.cmake
Labels: category:port-bug

#12818 [constexpr-contracts] Adds new port
  ports/constexpr-contracts/CONTROL
  ports/constexpr-contracts/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#12373 [wpilib] Update to 2020.3.2
  ports/wpilib/CONTROL
  ports/wpilib/portfile.cmake
Labels: category:port-update, info:reviewed

#12845 [vcpkg] Lift `--x-json` to a global option, implement experimental `x-package-info` command
  toolsrc/include/vcpkg/base/json.h
  toolsrc/include/vcpkg/binaryparagraph.h
  toolsrc/include/vcpkg/commands.info.h
  toolsrc/include/vcpkg/install.h
  toolsrc/include/vcpkg/statusparagraph.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/src/vcpkg-test/commands.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg-test/strings.cpp
  toolsrc/src/vcpkg-test/system.cpp
  toolsrc/src/vcpkg.cpp
  toolsrc/src/vcpkg/base/json.cpp
  toolsrc/src/vcpkg/commands.cpp
  toolsrc/src/vcpkg/commands.info.cpp
  toolsrc/src/vcpkg/commands.list.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/statusparagraphs.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkglib.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/windows-bootstrap/vcpkglib/vcpkglib.vcxproj
Labels: category:vcpkg-feature, info:internal

#12056 [openssl-windows] Added feature option to build openssl with no-pinshared flag
  ports/openssl-windows/CONTROL
  ports/openssl-windows/portfile.cmake
Labels: category:port-feature

#12890 [imgui] Add messages for unsupported features
  ports/imgui/CONTROL
  ports/imgui/portfile.cmake
Labels: category:port-bug, info:reviewed

#12889 [restinio] update to 0.6.9
  ports/restinio/CONTROL
  ports/restinio/portfile.cmake
Labels: category:port-update, info:reviewed

#12885 [wxwidgets] copy pdbs
  ports/wxwidgets/CONTROL
  ports/wxwidgets/portfile.cmake
Labels: category:port-feature, info:reviewed

#12876 [vcpkg] Reduce dependencies and contents of vcpkgpaths.h
  toolsrc/include/vcpkg-test/util.h
  toolsrc/include/vcpkg/tools.h
  toolsrc/include/vcpkg/triplet.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg-test/binarycaching.cpp
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg-test/plan.cpp
  toolsrc/src/vcpkg-test/specifier.cpp
  toolsrc/src/vcpkg-test/statusparagraphs.cpp
  toolsrc/src/vcpkg-test/util.cpp
  toolsrc/src/vcpkg/archives.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/buildenvironment.cpp
  toolsrc/src/vcpkg/commands.fetch.cpp
  toolsrc/src/vcpkg/commands.hash.cpp
  toolsrc/src/vcpkg/commands.integrate.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/export.chocolatey.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/export.ifw.cpp
  toolsrc/src/vcpkg/export.prefab.cpp
  toolsrc/src/vcpkg/triplet.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:internal, info:reviewed

#12875 [proj4] use sqlite3 config cmake, make sqlite3 private
  ports/proj4/CONTROL
  ports/proj4/fix-sqlite-dependency-export.patch
  ports/proj4/portfile.cmake
  ports/proj4/use-sqlite3-config.patch
Labels: category:port-bug, info:reviewed

#12866 [msys] Improve vcpkg_acquire_msys
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: category:tool-update, info:internal, info:reviewed

#12859 [tomlplusplus] Update to 2.1.0
  ports/tomlplusplus/CONTROL
  ports/tomlplusplus/portfile.cmake
Labels: category:port-update, info:reviewed

#12854 [vxl] Update patch
  ports/vxl/CONTROL
  ports/vxl/fix_dependency.patch
  ports/vxl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12843 [ffmpeg] Some libraries in ffmpeg can be optional
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
Labels: category:port-feature, info:reviewed

#12562 [geogram] update to 1.7.5
  ports/geogram/CONTROL
  ports/geogram/fix-cmake-config-and-install.patch
  ports/geogram/portfile.cmake
Labels: category:port-update, info:reviewed

#11532 [sqlite3] Sqlite3 geopoly and json1 features
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/CONTROL
  ports/sqlite3/portfile.cmake
Labels: category:port-feature, info:reviewed

#12895 [vcpkg_find_acquire_program] add version check for ninja
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/vcpkg_find_fortran.cmake
Labels: category:vcpkg-feature

#12927 [meson] Update meson to 0.55.1
  ports/tool-meson/CONTROL
  ports/tool-meson/portfile.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update, info:reviewed

#12837 Fix/clang10 linux
  toolsrc/src/vcpkg/base/system.cpp
  toolsrc/src/vcpkg/build.cpp
Labels: category:vcpkg-bug, requires:author-response

#9146 [expat] Update the version to 2.2.9 (add support for uwp)
  ports/apr-util/CONTROL
  ports/apr-util/use-vcpkg-expat.patch
  ports/exiv2/CONTROL
  ports/exiv2/expat.patch
  ports/exiv2/portfile.cmake
  ports/expat/CONTROL
  ports/expat/fix-find-package-by-cmake.patch
  ports/expat/portfile.cmake
  ports/expat/usage
  ports/fontconfig/CMakeLists.txt
  ports/fontconfig/CONTROL
  ports/fontconfig/portfile.cmake
  ports/gdal/CONTROL
  ports/gdal/portfile.cmake
  ports/gdcm/CONTROL
  ports/gdcm/portfile.cmake
  ports/gdcm/use-expat-config.patch
  ports/io2d/CONTROL
  ports/io2d/fix-expat.patch
  ports/io2d/portfile.cmake
  ports/itk/CONTROL
  ports/itk/expat.patch
  ports/itk/portfile.cmake
  ports/libkml/CONTROL
  ports/libkml/fix-expat.patch
  ports/libkml/portfile.cmake
  ports/poco/CONTROL
  ports/poco/portfile.cmake
  ports/poco/use-vcpkg-expat.patch
  ports/readosm/CONTROL
  ports/readosm/portfile.cmake
  ports/skia/CONTROL
  ports/skia/portfile.cmake
  ports/spatialite-tools/CONTROL
  ports/spatialite-tools/portfile.cmake
  ports/vtk/FindExpat.patch
  ports/vtk/portfile.cmake
  ports/wxwidgets/CONTROL
  ports/wxwidgets/fix-expat.patch
  ports/wxwidgets/portfile.cmake
  scripts/ci.baseline.txt
  scripts/test_ports/cmake/CONTROL
  scripts/test_ports/cmake/portfile.cmake
Labels: category:port-feature, category:port-update, info:internal

#12774 [vcpkg] Use std::filesystem when Visual Studio is greater than 2015
  toolsrc/include/pch.h
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/base/system.process.h
  toolsrc/src/vcpkg-test/commands.build.cpp
  toolsrc/src/vcpkg-test/files.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg/archives.cpp
  toolsrc/src/vcpkg/base/downloads.cpp
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/base/json.cpp
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/cmakevars.cpp
  toolsrc/src/vcpkg/commands.ciclean.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.env.cpp
  toolsrc/src/vcpkg/commands.fetch.cpp
  toolsrc/src/vcpkg/commands.format-manifest.cpp
  toolsrc/src/vcpkg/commands.integrate.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/export.chocolatey.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/export.ifw.cpp
  toolsrc/src/vcpkg/export.prefab.cpp
  toolsrc/src/vcpkg/help.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkg/paragraphs.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/postbuildlint.cpp
  toolsrc/src/vcpkg/remove.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/tools.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/src/vcpkg/visualstudio.cpp
  toolsrc/windows-bootstrap/vcpkg.props
  toolsrc/windows-bootstrap/vcpkg.sln
  toolsrc/windows-bootstrap/vcpkg/vcpkg.vcxproj
  toolsrc/windows-bootstrap/vcpkglib/vcpkglib.vcxproj
  toolsrc/windows-bootstrap/vcpkgmetricsuploader/vcpkgmetricsuploader.vcxproj
Labels: category:vcpkg-bug, info:internal

#12961 [Qwtw] Update to 3.1.0
  ports/qwtw/CONTROL
  ports/qwtw/portfile.cmake
Labels: category:port-update

#12954 [ace] Update to 6.5.11
  ports/ace/CONTROL
  ports/ace/portfile.cmake
Labels: category:port-update, info:reviewed

#11737 [ompl]: upgrade to 1.5.0
  ports/ompl/CONTROL
  ports/ompl/portfile.cmake
Labels: category:port-update, info:reviewed

#12626 [vcpkg_find_acquire_program] Enable find_acquire(PKGCONFIG)
  ports/geogram/portfile.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:tool-update, info:internal

#11277 [ffmpeg] Add feature support for zlib, iconv, fdk-aac, mp3lame, opus, soxr, theora.
  ports/fdk-aac/CMakeLists.txt
  ports/fdk-aac/CONTROL
  ports/ffmpeg/0004-fix-debug-build.patch
  ports/ffmpeg/0006-fix-StaticFeatures.patch
  ports/ffmpeg/0007-fix-lib-naming.patch
  ports/ffmpeg/0008-Fix-wavpack-detection.patch
  ports/ffmpeg/0009-Fix-fdk-detection.patch
  ports/ffmpeg/0010-Fix-x264-detection.patch
  ports/ffmpeg/0011-Fix-x265-detection.patch
  ports/ffmpeg/0012-Fix-ssl-110-detection.patch
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffnvcodec/CONTROL
  ports/ffnvcodec/portfile.cmake
  ports/libogg/CONTROL
  ports/libogg/portfile.cmake
  ports/libvorbis/CONTROL
  ports/libvorbis/portfile.cmake
  ports/opus/CONTROL
  ports/opus/portfile.cmake
  ports/sdl2/0006-sdl2-Enable-creation-of-pkg-cfg-file-on-windows.patch
  ports/sdl2/CONTROL
  ports/sdl2/portfile.cmake
  ports/speex/0001-make-pkg-config-lib-name-configurable.patch
  ports/speex/CMakeLists.txt
  ports/speex/CONTROL
  ports/speex/portfile.cmake
  ports/wavpack/CONTROL
  ports/wavpack/portfile.cmake
  ports/x265/CONTROL
  ports/x265/portfile.cmake
  ports/zlib/0001-Prevent-invalid-inclusions-when-HAVE_-is-set-to-0.patch
  ports/zlib/CONTROL
  ports/zlib/portfile.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:port-feature, info:reviewed

#10042 [pcl] Update to 1.10.0
  ports/pcl/CONTROL
  ports/pcl/boost-1.70.patch
  ports/pcl/boost-1.73.patch
  ports/pcl/cuda_10_1.patch
  ports/pcl/fix-link-libpng.patch
  ports/pcl/pcl_config.patch
  ports/pcl/pcl_utils.patch
  ports/pcl/portfile.cmake
  ports/pcl/remove-broken-targets.patch
  ports/pcl/use_flann_targets.patch
  ports/pcl/use_target_link_libraries_in_pclconfig.patch
Labels: category:port-update, info:internal

#12608 [tinygltf] update to v2.4.0
  ports/tinygltf/CONTROL
  ports/tinygltf/portfile.cmake
Labels: category:port-update, info:internal

#12863 [pmdk] Update to 1.9
  ports/pmdk/CONTROL
  ports/pmdk/portfile.cmake
Labels: category:port-update, info:internal

#12916 [blaze] Update to Blaze 3.8
  ports/blaze/CONTROL
  ports/blaze/portfile.cmake
Labels: category:port-update, info:reviewed

#12932 [kangaru] Update to v4.2.4
  ports/kangaru/CONTROL
  ports/kangaru/portfile.cmake
Labels: category:port-update, info:reviewed

#12930 [trantor] Update to 1.0.0-rc16
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
Labels: category:port-update, info:reviewed

#12924 [quill] Update to 1.4.0
  ports/quill/CONTROL
  ports/quill/portfile.cmake
Labels: category:port-update, info:reviewed

#12899 [7zip] Resolve issue #12898
  ports/7zip/CMakeLists.txt
  ports/7zip/CONTROL
Labels: category:port-feature, info:reviewed

#12967 [borringssl] Disable report warning 4065 and set file conflict as FATAL_ERROR
  ports/boringssl/0002-disable-waring-4065.patch
  ports/boringssl/CONTROL
  ports/boringssl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12931 [drogon] Update to 1.0.0.beta20
  ports/drogon/CONTROL
  ports/drogon/pg.patch
  ports/drogon/portfile.cmake
Labels: category:port-bug, info:reviewed

#12864 [vcpkg_execute_build_process] Re-fix qt5 components build
  ports/qt5/CONTROL
  scripts/cmake/vcpkg_execute_build_process.cmake
Labels: category:vcpkg-bug, info:internal, info:reviewed

#12867 [openssl] Interrupt the build process when files conflict
  ports/openssl-unix/CONTROL
  ports/openssl-unix/portfile.cmake
  ports/openssl-uwp/CONTROL
  ports/openssl-uwp/portfile.cmake
  ports/openssl-windows/portfile.cmake
  ports/openssl/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#12871 [harfbuzz] Fix include path
  ports/harfbuzz/CONTROL
  ports/harfbuzz/fix_include.patch
  ports/harfbuzz/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13000 [vcpkg] Fix baseline
  scripts/ci.baseline.txt
Labels: category:infrastructure, info:internal

#12985 [vcpkg] Add Forward Declarations (originally by @cngzhnp)
  toolsrc/.clang-format
  toolsrc/CMakeLists.txt
  toolsrc/include/vcpkg-test/mockcmakevarprovider.h
  toolsrc/include/vcpkg/archives.h
  toolsrc/include/vcpkg/base/util.h
  toolsrc/include/vcpkg/buildenvironment.h
  toolsrc/include/vcpkg/cmakevars.h
  toolsrc/include/vcpkg/commands.h
  toolsrc/include/vcpkg/commands.interface.h
  toolsrc/include/vcpkg/commands.owns.h
  toolsrc/include/vcpkg/commands.search.h
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/export.ifw.h
  toolsrc/include/vcpkg/fwd/registries.h
  toolsrc/include/vcpkg/fwd/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/fwd/vcpkgpaths.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/include/vcpkg/statusparagraph.h
  toolsrc/include/vcpkg/tools.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg-test/util.cpp
  toolsrc/src/vcpkg/archives.cpp
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/base/system.print.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/buildenvironment.cpp
  toolsrc/src/vcpkg/commands.autocomplete.cpp
  toolsrc/src/vcpkg/commands.buildexternal.cpp
  toolsrc/src/vcpkg/commands.cache.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.ciclean.cpp
  toolsrc/src/vcpkg/commands.contact.cpp
  toolsrc/src/vcpkg/commands.create.cpp
  toolsrc/src/vcpkg/commands.dependinfo.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.env.cpp
  toolsrc/src/vcpkg/commands.fetch.cpp
  toolsrc/src/vcpkg/commands.format-manifest.cpp
  toolsrc/src/vcpkg/commands.hash.cpp
  toolsrc/src/vcpkg/commands.info.cpp
  toolsrc/src/vcpkg/commands.integrate.cpp
  toolsrc/src/vcpkg/commands.list.cpp
  toolsrc/src/vcpkg/commands.owns.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/commands.search.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/commands.upgrade.cpp
  toolsrc/src/vcpkg/commands.version.cpp
  toolsrc/src/vcpkg/commands.xvsinstances.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/help.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkg/postbuildlint.cpp
  toolsrc/src/vcpkg/tools.cpp
  toolsrc/src/vcpkg/update.cpp
Labels: category:vcpkg-feature, info:internal

#12976 [vcpkg] Update hint message
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.version.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/update.cpp
Labels: category:vcpkg-bug, info:internal

#12978 [intel-mkl] Update to 2020.0.0
  ports/intel-mkl/CONTROL
  ports/intel-mkl/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed
