Repository microsoft/vcpkg, pull requests merged in 2020-10, with the labels that each got.

#13385 [osgearth] update to latest to fix build issue with latest geos
  ports/osg/CONTROL
  ports/osgearth/CONTROL
  ports/osgearth/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:reviewed

#13711 [vcpkg/manifest] write manifest install logs into the build dir.
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed

#12249 oat++ suite bump to version 1.1
  ports/oatpp-consul/CONTROL
  ports/oatpp-consul/portfile.cmake
  ports/oatpp-curl/CONTROL
  ports/oatpp-curl/portfile.cmake
  ports/oatpp-libressl/CONTROL
  ports/oatpp-libressl/portfile.cmake
  ports/oatpp-mbedtls/CONTROL
  ports/oatpp-mbedtls/find-mbedtls.patch
  ports/oatpp-mbedtls/portfile.cmake
  ports/oatpp-swagger/CONTROL
  ports/oatpp-swagger/portfile.cmake
  ports/oatpp-websocket/CONTROL
  ports/oatpp-websocket/portfile.cmake
  ports/oatpp/CONTROL
  ports/oatpp/portfile.cmake
Labels: category:port-update, requires:author-response

#13822 [infoware] fix linking issues with non-release builds
  ports/infoware/CONTROL
  ports/infoware/portfile.cmake
  ports/infoware/vcpkg.json
Labels: category:port-bug, info:reviewed

#13810 [mbedtls] Add supports
  ports/mbedtls/CONTROL
  ports/mbedtls/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal, info:reviewed

#13719 [geogram] build geogram dynamic if crt linkage dynamic
  ports/geogram/CONTROL
  ports/geogram/portfile.cmake
Labels: category:port-feature, info:reviewed

#13819 [readerwriterqueue] Update to 1.0.3
  ports/readerwriterqueue/CONTROL
  ports/readerwriterqueue/portfile.cmake
Labels: category:port-update, info:reviewed

#13820 [concurrentqueue] Update to 1.0.2
  ports/concurrentqueue/CONTROL
  ports/concurrentqueue/portfile.cmake
Labels: category:port-update, info:reviewed

#13751 [vcpkg] Enable reentrant vcpkg calls
  toolsrc/include/vcpkg/base/optional.h
  toolsrc/include/vcpkg/base/system.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/src/vcpkg-test/optional.cpp
  toolsrc/src/vcpkg-test/system.cpp
  toolsrc/src/vcpkg.cpp
  toolsrc/src/vcpkg/base/system.cpp
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:code-cleanup, info:internal

#13763 [modp-base64] Update to current github instead of web.archive.org
  ports/modp-base64/CMakeLists.txt
  ports/modp-base64/CONTROL
  ports/modp-base64/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13818 [utfcpp] Update to 3.1.2
  ports/utfcpp/CONTROL
  ports/utfcpp/portfile.cmake
Labels: category:port-update, info:reviewed

#13446 [vcpkg] Avoid computing triplet ABIs for editable packages
  scripts/azure-pipelines/end-to-end-tests.ps1
  toolsrc/include/vcpkg/binarycaching.h
  toolsrc/include/vcpkg/build.h
  toolsrc/src/vcpkg/build.cpp
Labels: category:vcpkg-feature

#13780 [ffmpeg] fix zlib feature support on x64-linux
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
Labels: category:port-bug, info:reviewed

#13734 [gitignore] add default build dir of vs code to ignore list
  .gitignore
Labels: category:vcpkg-feature, info:reviewed

#13770 [trantor] Update to 1.0.0
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
Labels: category:port-update, info:reviewed

#13807 [fuzzylite] Fix the headers to import the library with dynamic linkage
  ports/fuzzylite/CONTROL
  ports/fuzzylite/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13776 [jsoncpp] Update to latest revision
  ports/jsoncpp/CONTROL
  ports/jsoncpp/allow-disable-examples.patch
  ports/jsoncpp/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13767 Upgrade log4cxx
  ports/log4cxx/001_msvc.patch
  ports/log4cxx/CMakeLists.txt
  ports/log4cxx/CONTROL
  ports/log4cxx/expat.patch
  ports/log4cxx/linux.patch
  ports/log4cxx/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#13908 [log4cxx] Fix osx build break by not building tests that require a Java compiler.
  ports/log4cxx/CONTROL
  ports/log4cxx/portfile.cmake
Labels: category:port-bug, info:internal

#13365 [ffmpeg] Update to 4.3.1
  ports/aubio/CMakeLists.txt
  ports/aubio/CONTROL
  ports/ffmpeg/0006-fix-StaticFeatures.patch
  ports/ffmpeg/0011-Fix-x265-detection.patch
  ports/ffmpeg/0012-Fix-ssl-110-detection.patch
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffnvcodec/CONTROL
  ports/ffnvcodec/portfile.cmake
  ports/libvorbis/0002-Fixup-pkgconfig-libs.patch
  ports/libvorbis/portfile.cmake
  ports/libvorbis/vcpkg.json
Labels: category:port-update, info:reviewed

#13412 [libsigcpp-3] Add new port
  ports/libsigcpp-3/disable_tests_enable_static_build.patch
  ports/libsigcpp-3/portfile.cmake
  ports/libsigcpp-3/vcpkg.json
Labels: category:new-port, info:reviewed

#13440 [cuda] Export vcpkg_find_cuda.cmake
  ports/cuda/CONTROL
  ports/cuda/portfile.cmake
  ports/cuda/vcpkg_find_cuda.cmake
Labels: category:port-feature, info:internal, info:reviewed

#13812 [vcpkg baseline][libqcow] Update to new version
  ports/libqcow/CONTROL
  ports/libqcow/macos_fixes.patch
  ports/libqcow/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13803 [libwebsockets] Update to the latest version
  ports/libwebsockets/CMakeLists.patch
  ports/libwebsockets/CONTROL
  ports/libwebsockets/fix-build-error.patch
  ports/libwebsockets/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:internal, info:reviewed

#13857 Always accept = or space as delimiters when parsing common command line parameters.
  scripts/azure-pipelines/end-to-end-tests.ps1
  toolsrc/src/vcpkg-test/arguments.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:vcpkg-bug, info:internal

#13801 [sdl2] Fix build when VCPKG_BUILD_TYPE is set to "release"
  ports/sdl2/CONTROL
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
Labels: category:port-bug, info:reviewed

#13821 [7zip] Add supports field
  ports/7zip/CONTROL
  ports/7zip/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal

#13524 [libsbml] New port for libsbml
  ports/libsbml/CONTROL
  ports/libsbml/fix-linkage-type.patch
  ports/libsbml/portfile.cmake
Labels: category:new-port, info:reviewed

#13815 [fmt] Add usage file
  ports/fmt/CONTROL
  ports/fmt/portfile.cmake
  ports/fmt/usage
Labels: category:port-bug

#13493 [opencascade] Initial port
  ports/opencascade/CONTROL
  ports/opencascade/fix-msvc-32bit-builds.patch
  ports/opencascade/portfile.cmake
Labels: category:new-port

#13549 [v-hacd] Fix cmake patch for include files
  ports/v-hacd/CONTROL
  ports/v-hacd/fix-cmake.patch
Labels: category:port-bug, info:reviewed

#13623 [vcpkg] Use more forward declarations rather than definitions
  toolsrc/include/vcpkg/base/json.h
  toolsrc/include/vcpkg/build.h
  toolsrc/include/vcpkg/cmakevars.h
  toolsrc/include/vcpkg/commands.h
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/export.chocolatey.h
  toolsrc/include/vcpkg/export.prefab.h
  toolsrc/include/vcpkg/fwd/build.h
  toolsrc/include/vcpkg/fwd/cmakevars.h
  toolsrc/include/vcpkg/fwd/dependencies.h
  toolsrc/include/vcpkg/fwd/portfileprovider.h
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/include/vcpkg/postbuildlint.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/include/vcpkg/remove.h
  toolsrc/include/vcpkg/triplet.h
  toolsrc/include/vcpkg/update.h
  toolsrc/src/vcpkg-test/commands.build.cpp
  toolsrc/src/vcpkg-test/update.cpp
  toolsrc/src/vcpkg.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.dependinfo.cpp
  toolsrc/src/vcpkg/commands.search.cpp
  toolsrc/src/vcpkg/commands.upgrade.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/input.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/remove.cpp
  toolsrc/src/vcpkg/update.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
Labels: category:code-cleanup, info:reviewed

#13585 [log4cplus/muparser/nmslib] Update to the latest version
  ports/log4cplus/CONTROL
  ports/log4cplus/fix-usage-error.patch
  ports/log4cplus/portfile.cmake
  ports/muparser/CONTROL
  ports/muparser/portfile.cmake
  ports/nmslib/CONTROL
  ports/nmslib/fix-cmake-order.patch
  ports/nmslib/fix-headers.patch
  ports/nmslib/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:internal, info:reviewed

#13587 [openblas] Update to the 0.3.10
  ports/openblas/CONTROL
  ports/openblas/fix-space-path.patch
  ports/openblas/fix-uwp-build.patch
  ports/openblas/github_2481.patch
  ports/openblas/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13620 [libzippp] Update to libzippp-4.0-1.7.3
  ports/libzippp/CONTROL
  ports/libzippp/portfile.cmake
Labels: category:port-update, info:reviewed

#13695 [opensubdiv] New port
  ports/opensubdiv/fix_compile-option.patch
  ports/opensubdiv/portfile.cmake
  ports/opensubdiv/vcpkg.json
Labels: category:new-port, info:reviewed

#13559 [fastcdr/jack2/fcl/ensmallen/hwloc] Update to latest release
  ports/ensmallen/CONTROL
  ports/ensmallen/portfile.cmake
  ports/fastcdr/CONTROL
  ports/fastcdr/portfile.cmake
  ports/fcl/CONTROL
  ports/fcl/portfile.cmake
  ports/hwloc/CMakeLists.txt
  ports/hwloc/CONTROL
  ports/hwloc/portfile.cmake
  ports/jack2/CONTROL
  ports/jack2/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:internal, info:reviewed

#13938 [jsoncons] Update to 0.158.0
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
Labels: category:port-update, info:reviewed

#13724 [lerc] Export Package
  ports/lerc/CONTROL
  ports/lerc/create_package.patch
  ports/lerc/portfile.cmake
Labels: category:port-feature, info:reviewed

#13729 [tinyexpr] Add new port
  ports/tinyexpr/CMakeLists.txt
  ports/tinyexpr/exports.def
  ports/tinyexpr/fix-issue-34.patch
  ports/tinyexpr/portfile.cmake
  ports/tinyexpr/vcpkg.json
Labels: category:new-port, info:reviewed

#13916 [freeimage] Fix macOS build error
  ports/freeimage/CONTROL
  ports/freeimage/use-external-png-zlib.patch
Labels: category:port-bug, info:reviewed

#13907 [drogon] Update to 1.0.0
  ports/drogon/CONTROL
  ports/drogon/portfile.cmake
Labels: category:port-update, info:reviewed

#13900 [mikktspace] Initial port
  ports/mikktspace/CMakeLists.txt
  ports/mikktspace/CONTROL
  ports/mikktspace/portfile.cmake
Labels: category:new-port, info:reviewed

#13895 [gcem] Update to version 1.13.1
  ports/gcem/CONTROL
  ports/gcem/portfile.cmake
Labels: category:port-update, info:reviewed

#13942 [osg] Fix feature plugin
  ports/coin/CONTROL
  ports/osg/CONTROL
  ports/osg/fix-dependency-coin.patch
  ports/osg/portfile.cmake
  ports/osgearth/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#13737 [azure-kinect-sensor-sdk] Fix azure-kinect-sensor-sdk[tool] build error
  ports/azure-kinect-sensor-sdk/CONTROL
  ports/azure-kinect-sensor-sdk/fix-dependency-imgui.patch
Labels: category:port-bug, info:internal, info:reviewed

#13399 [vcpkg] Further JSON error improvements
  docs/users/manifests.md
  toolsrc/include/vcpkg/base/fwd/json.h
  toolsrc/include/vcpkg/base/fwd/span.h
  toolsrc/include/vcpkg/base/json.h
  toolsrc/include/vcpkg/base/jsonreader.h
  toolsrc/include/vcpkg/base/span.h
  toolsrc/include/vcpkg/base/strings.h
  toolsrc/include/vcpkg/base/view.h
  toolsrc/include/vcpkg/configuration.h
  toolsrc/include/vcpkg/configurationdeserializer.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg-test/strings.cpp
  toolsrc/src/vcpkg/base/json.cpp
  toolsrc/src/vcpkg/base/strings.cpp
  toolsrc/src/vcpkg/configuration.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/platform-expression.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:internal

#13992 [gdal] Fix debug library name in vcpkg-cmake-wrapper
  ports/gdal/CONTROL
  ports/gdal/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13990 [ecsutil] Update ECSUtil v1.0.7.10
  ports/ecsutil/CONTROL
  ports/ecsutil/portfile.cmake
Labels: category:port-update, info:reviewed

#13977 [opencl] fix crt linkage for x64-windows-static-md
  ports/opencl/CONTROL
  ports/opencl/portfile.cmake
Labels: category:port-bug, info:reviewed

#13964 [qca]support linux-osx-static build
  ports/qca/0001-fix-path-for-vcpkg.patch
  ports/qca/0002-fix-build-error.patch
  ports/qca/CONTROL
  ports/qca/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, category:port-update, info:reviewed

#13962 [openimageio] Fix build tools on windows-static
  ports/openimageio/CONTROL
  ports/openimageio/fix-libheif.patch
  ports/openimageio/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13960 [marl] Update to Oct 2,2020
  ports/marl/portfile.cmake
  ports/marl/vcpkg.json
Labels: category:port-update, info:internal, info:reviewed

#13713 [vcpkg/manifest/toolchain] Add install/bootstrap options & fix CACHE variables usage
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature

#13936 [botan] ask for amalgamation build on windows
  ports/botan/CONTROL
  ports/botan/portfile.cmake
Labels: category:port-bug, requires:author-response

#13886 [sltbench] Add new port
  ports/sltbench/portfile.cmake
  ports/sltbench/vcpkg.json
Labels: category:new-port, info:reviewed

#13959 [nettle] Fix build failure on osx
  ports/nettle/CONTROL
  ports/nettle/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13958 [re2] update to 2020-10-01
  ports/re2/CONTROL
  ports/re2/portfile.cmake
Labels: category:port-update, info:reviewed

#13944 [libpmemobj-cpp] Update to 1.11
  ports/libpmemobj-cpp/CONTROL
  ports/libpmemobj-cpp/fixlibpmemobj-cpp.patch
  ports/libpmemobj-cpp/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13943 [tomlplusplus] update to 2.2.0
  ports/tomlplusplus/CONTROL
  ports/tomlplusplus/portfile.cmake
Labels: category:port-update, info:reviewed

#13884 [rbdl] Add new port
  ports/rbdl/001_x64_number_of_sections_exceeded_in_object_file_patch.diff
  ports/rbdl/CONTROL
  ports/rbdl/portfile.cmake
Labels: category:new-port, info:reviewed

#13839 [usrsctp] Update to new version
  ports/usrsctp/CONTROL
  ports/usrsctp/portfile.cmake
Labels: category:port-update, info:reviewed

#13296 [implot] Update to v0.7
  ports/implot/CMakeLists.txt
  ports/implot/CONTROL
  ports/implot/mac_os_build_fix.patch
  ports/implot/portfile.cmake
Labels: category:port-update, info:reviewed

#13643 [rocksdb] update to v6.11.4
  ports/rocksdb/0001-disable-gtest.patch
  ports/rocksdb/0002-only-build-one-flavor.patch
  ports/rocksdb/0003-use-find-package.patch
  ports/rocksdb/0004-add-config-to-findpackage.patch
  ports/rocksdb/0004-static-linking-in-linux.patch
  ports/rocksdb/0005-add-config-to-findpackage.patch
  ports/rocksdb/0005-backport-msvc-fixes-pr-7439.patch
  ports/rocksdb/CONTROL
  ports/rocksdb/portfile.cmake
Labels: category:port-update, info:reviewed

#13824 [PCL] Remove -fext-numeric-literals when building x64-osx
  ports/pcl/CONTROL
  ports/pcl/boost-1.70.patch
Labels: category:port-bug, info:reviewed

#14000 [vcpkg/configure_make] add USE_WRAPPERS option
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#14004 [lest] Add optional 'Homepage' field to CONTROL
  ports/lest/CONTROL
Labels: category:port-update, info:reviewed

#13996 [sentry-native] Update to 0.4.3
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
Labels: category:port-update, info:reviewed

#14006 [ogre]Update to 1.12.9 and fix bites error
  ports/ogre/fix-dependency.patch
  ports/ogre/fix-findimgui.patch
  ports/ogre/portfile.cmake
  ports/ogre/toolchain_fixes.patch
  ports/ogre/vcpkg.json
Labels: category:port-bug, category:port-update, info:reviewed

#13993 [glew] Add dependency
  ports/glew/CONTROL
  ports/glew/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13982 [portaudio] Fix build on windows
  ports/portaudio/CONTROL
  ports/portaudio/portfile.cmake
Labels: category:port-bug, info:reviewed

#13980 [icu] Update automake dependency 1.15 -> 1.16
  ports/icu/CONTROL
  ports/icu/portfile.cmake
Labels: category:port-bug, info:reviewed

#13975 [directxtk12] Use CMake build system
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
Labels: category:port-update, info:reviewed

#13932 [ffmpeg:x64-linux] install tools also on non-windows platforms
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
Labels: category:port-feature, info:reviewed

#13969 [directxtex] Use CMake build system, add OpenEXR support and dx12 feature
  ports/directxtex/CONTROL
  ports/directxtex/enable_openexr_support.patch
  ports/directxtex/portfile.cmake
Labels: category:port-feature, info:reviewed

#13939 Use libwebsocket's master for libuv-related bugfixes
  ports/libwebsockets/CONTROL
  ports/libwebsockets/portfile.cmake
Labels: category:port-update, info:reviewed

#13956 [openssl] Update to 1.1.1h
  ports/openssl-unix/CONTROL
  ports/openssl-unix/portfile.cmake
  ports/openssl-uwp/CONTROL
  ports/openssl-uwp/portfile.cmake
  ports/openssl-windows/CONTROL
  ports/openssl-windows/portfile.cmake
Labels: category:port-update, info:reviewed

#13838 [libpng[apng]] Add msys installation to use awk
  ports/libpng/CONTROL
  ports/libpng/portfile.cmake
Labels: category:port-bug, info:reviewed

#10408 [libgeotiff] Upgrade to version 1.6.0
  ports/libgeotiff/CONTROL
  ports/libgeotiff/cmakelists.patch
  ports/libgeotiff/fix-proj4.patch
  ports/libgeotiff/fix-staticbuild.patch
  ports/libgeotiff/geotiff-config.patch
  ports/libgeotiff/portfile.cmake
  ports/liblas/CONTROL
  ports/liblas/fix-BuildError.patch
  ports/liblas/fix-geotiff.patch
  ports/liblas/portfile.cmake
  ports/pdal/CONTROL
  ports/pdal/fix-CPL_DLL.patch
  ports/pdal/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13011 [vcpkg] VCPKG_APPINSTALL_DEPS install dependencies on install #1653
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed

#13521 [utfcpp] Use vcpkg_*_cmake and add features
  ports/assimp/build_fixes.patch
  ports/assimp/irrlicht.patch
  ports/utfcpp/CONTROL
  ports/utfcpp/fix-test.patch
  ports/utfcpp/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13850 Fixed port of mongo-c-driver/mongo-cxx-driver for android
  ports/mongo-c-driver/CONTROL
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-cxx-driver/CONTROL
  ports/mongo-cxx-driver/fix-android.patch
  ports/mongo-cxx-driver/portfile.cmake
Labels: category:port-feature, info:reviewed

#13786 [sqlcipher] Add new port
  ports/sqlcipher/CMakeLists.txt
  ports/sqlcipher/portfile.cmake
  ports/sqlcipher/sqlcipher-config.in.cmake
  ports/sqlcipher/vcpkg.json
Labels: category:new-port, info:reviewed

#13778 [metis] Fix redefinition with msvc header file
  ports/metis/CONTROL
  ports/metis/fix-INT_MIN_define.patch
  ports/metis/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13740 [openvdb] Update to the latest version
  ports/openvdb/0001-remove-pkgconfig.patch
  ports/openvdb/0002-fix-cmake-modules.patch
  ports/openvdb/0003-fix-cmake.patch
  ports/openvdb/CONTROL
  ports/openvdb/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13783 [libtheora] add unofficial cmake config, remove FindOGG.cmake
  ports/libtheora/CMakeLists.txt
  ports/libtheora/CONTROL
  ports/libtheora/FindOGG.cmake
  ports/libtheora/portfile.cmake
  ports/libtheora/unofficial-theora-config.cmake.in
Labels: category:port-feature, info:reviewed

#13860 [halide] Update to version 10.0.0
  ports/halide/CONTROL
  ports/halide/fix-install-path.patch
  ports/halide/portfile.cmake
  ports/halide/usage
  ports/llvm/CONTROL
  ports/llvm/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, requires:author-response

#14001 [vcpkg/configure_make] add option DETERMINE_BUILD_TRIPLET
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#14028 [vcpkg baseline][openxr-loader] Fix dependency port jsoncpp
  ports/openxr-loader/CONTROL
  ports/openxr-loader/fix-openxr-sdk-jsoncpp.patch
  ports/openxr-loader/portfile.cmake
Labels: category:port-bug, info:internal

#13771 [sratom] Add new port
  ports/sratom/CMakeLists.txt
  ports/sratom/portfile.cmake
  ports/sratom/vcpkg.json
Labels: category:new-port, info:reviewed

#14032 [ogre] Add assimp as dependency
  ports/ogre/fix-dependency.patch
  ports/ogre/vcpkg.json
Labels: category:port-bug, info:internal

#14054 [chakracore,gamma,libopenmpt,portaudio,usrsctp] Fix baseline for 2020-10-14
  ports/chakracore/CONTROL
  ports/chakracore/portfile.cmake
  ports/chakracore/vcpkg.json
  ports/libopenmpt/CMakeLists.txt
  ports/libopenmpt/CONTROL
  ports/libopenmpt/deaf2e3837fb08b1a53fd21bb53adbafe0a84e7d.patch
  ports/libopenmpt/portfile.cmake
  ports/libopenmpt/vcpkg.json
  ports/portaudio/CONTROL
  ports/portaudio/portfile.cmake
  ports/portaudio/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:infrastructure, category:port-bug, info:internal

#14002 [vcpkg/configure_cmake] add LOGNAME option
  scripts/cmake/vcpkg_configure_cmake.cmake
Labels: category:tool-update, info:reviewed

#14059 [libmariadb] Update the patch
  ports/libmariadb/CONTROL
  ports/libmariadb/fix-InstallPath.patch
  ports/libmariadb/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14066 [gamedev-framework] Update new version 0.18.0
  ports/gamedev-framework/CONTROL
  ports/gamedev-framework/portfile.cmake
  ports/gamedev-framework/vcpkg.json
Labels: category:port-update, info:reviewed

#14061 [assimp] Fix missing find dependency utfcpp
  ports/assimp/CONTROL
  ports/assimp/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14046 [magic-enum] Update to v0.7.0
  ports/magic-enum/CONTROL
  ports/magic-enum/portfile.cmake
Labels: category:port-update, info:reviewed

#14039 [openmama] Update to 6.3.1
  ports/openmama/CONTROL
  ports/openmama/portfile.cmake
Labels: category:port-update, info:reviewed

#13991 [icu] Disable layoutex feature
  ports/icu/CONTROL
  ports/icu/portfile.cmake
Labels: category:port-bug, info:reviewed

#14058 [vcpkg baseline][qca] Disable plugin botan temporary
  ports/qca/0003-disable-plugin-botan.patch
  ports/qca/CONTROL
  ports/qca/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14035 [curl] Update to 7.73.0
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-update

#14086 [json-c] always install pc files
  ports/json-c/CONTROL
  ports/json-c/pkgconfig.patch
  ports/json-c/portfile.cmake
Labels: category:port-feature, info:reviewed

#14067 [libpqxx] Update to 7.2.0
  ports/libpqxx/CONTROL
  ports/libpqxx/fix-deprecated-bug.patch
  ports/libpqxx/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14036 [antlr4] update to 4.8
  ports/antlr4/CONTROL
  ports/antlr4/export_guid.patch
  ports/antlr4/fixed_build.patch
  ports/antlr4/portfile.cmake
  ports/antlr4/uuid_discovery_fix.patch
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#14078 [oatpp] Update to 1.2.0
  ports/oatpp-consul/CONTROL
  ports/oatpp-consul/portfile.cmake
  ports/oatpp-curl/CONTROL
  ports/oatpp-curl/portfile.cmake
  ports/oatpp-libressl/CONTROL
  ports/oatpp-libressl/portfile.cmake
  ports/oatpp-mbedtls/CONTROL
  ports/oatpp-mbedtls/portfile.cmake
  ports/oatpp-swagger/CONTROL
  ports/oatpp-swagger/portfile.cmake
  ports/oatpp-websocket/CONTROL
  ports/oatpp-websocket/portfile.cmake
  ports/oatpp/CONTROL
  ports/oatpp/portfile.cmake
Labels: category:port-update, info:reviewed

#14064 [cfitsio] Update to 3.49 and fix dependency zlib
  ports/ccfits/CONTROL
  ports/ccfits/fix-dependency.patch
  ports/ccfits/portfile.cmake
  ports/cfitsio/0001-correct-headers-for-getcwd.patch
  ports/cfitsio/0001-fix-dependencies.patch
  ports/cfitsio/0002-export-cmake-targets.patch
  ports/cfitsio/0003-add-Wno-error-implicit-funciton-declaration-to-cmake.patch
  ports/cfitsio/CONTROL
  ports/cfitsio/portfile.cmake
  ports/healpix/CONTROL
  ports/healpix/fix-dependency.patch
  ports/healpix/portfile.cmake
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#13477 [qt5] Update to 5.15.1
  ports/assimp/portfile.cmake
  ports/qt5-3d/CONTROL
  ports/qt5-3d/portfile.cmake
  ports/qt5-activeqt/CONTROL
  ports/qt5-androidextras/CONTROL
  ports/qt5-base/CONTROL
  ports/qt5-base/cmake/configure_qt.cmake
  ports/qt5-base/cmake/qt_port_hashes.cmake
  ports/qt5-base/cmake/qt_port_hashes_latest.cmake
  ports/qt5-base/patches/8c44d70.diff
  ports/qt5-base/patches/zstdd.patch
  ports/qt5-base/portfile.cmake
  ports/qt5-charts/CONTROL
  ports/qt5-connectivity/CONTROL
  ports/qt5-datavis3d/CONTROL
  ports/qt5-declarative/CONTROL
  ports/qt5-doc/CONTROL
  ports/qt5-gamepad/CONTROL
  ports/qt5-graphicaleffects/CONTROL
  ports/qt5-imageformats/CONTROL
  ports/qt5-imageformats/fix-include-math.patch
  ports/qt5-imageformats/portfile.cmake
  ports/qt5-location/CONTROL
  ports/qt5-macextras/CONTROL
  ports/qt5-mqtt/CONTROL
  ports/qt5-multimedia/CONTROL
  ports/qt5-networkauth/CONTROL
  ports/qt5-purchasing/CONTROL
  ports/qt5-quickcontrols/CONTROL
  ports/qt5-quickcontrols2/CONTROL
  ports/qt5-remoteobjects/CONTROL
  ports/qt5-script/CONTROL
  ports/qt5-scxml/CONTROL
  ports/qt5-sensors/CONTROL
  ports/qt5-serialbus/CONTROL
  ports/qt5-serialport/CONTROL
  ports/qt5-speech/CONTROL
  ports/qt5-svg/CONTROL
  ports/qt5-tools/CONTROL
  ports/qt5-tools/assistant.patch
  ports/qt5-tools/portfile.cmake
  ports/qt5-translations/CONTROL
  ports/qt5-virtualkeyboard/CONTROL
  ports/qt5-wayland/CONTROL
  ports/qt5-webchannel/CONTROL
  ports/qt5-webengine/CONTROL
  ports/qt5-webengine/build.patch
  ports/qt5-webengine/portfile.cmake
  ports/qt5-webengine/vs2017.patch
  ports/qt5-webglplugin/CONTROL
  ports/qt5-websockets/CONTROL
  ports/qt5-webview/CONTROL
  ports/qt5-winextras/CONTROL
  ports/qt5-x11extras/CONTROL
  ports/qt5-xmlpatterns/CONTROL
  ports/qt5/CONTROL
  scripts/cmake/vcpkg_configure_qmake.cmake
Labels: category:port-update, category:tool-update, info:reviewed

#13730 [vcpkg_common_definitions] Add macro VCPKG_HOST_IS_<target>
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:vcpkg-feature, info:internal, info:reviewed

#14011 [qtkeychain] update to 0.11.1
  ports/qtkeychain/CONTROL
  ports/qtkeychain/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13465 [vcpkg] Set CMAKE_SYSTEM_PROCESSOR if target architecture is arm-linux or arm64-linux.
  scripts/toolchains/linux.cmake
Labels: category:vcpkg-feature, info:reviewed

#14110 [vcpkg baseline][qca] Re-fix find pkgconfig using FindPkgConfig.cmake
  ports/qca/0003-disable-plugin-botan.patch
  ports/qca/CONTROL
  ports/qca/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12612 [cmake] upgrade to 3.18
  ports/folly/CONTROL
  ports/folly/fix-cmake-3.18.patch
  ports/folly/portfile.cmake
  ports/opencv2/CONTROL
  ports/opencv2/FindCUDA.cmake
  ports/opencv2/portfile.cmake
  ports/opencv3/CONTROL
  ports/opencv3/FindCUDA.cmake
  ports/opencv3/portfile.cmake
  ports/opencv4/FindCUDA.cmake
  ports/opencv4/portfile.cmake
  ports/plplot/CONTROL
  ports/plplot/fix-pkg-config.patch
  ports/plplot/portfile.cmake
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/ci.baseline.txt
  scripts/vcpkgTools.xml
Labels: category:tool-update, info:reviewed

#14111 [grpc] Update to v1.32.0
  ports/grpc/00005-fix-uwp-error.patch
  ports/grpc/00009-use-system-upb.patch
  ports/grpc/00010-add-feature-absl-sync.patch
  ports/grpc/00011-fix-csharp_plugin.patch
  ports/grpc/CONTROL
  ports/grpc/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13906 [boost-multi-array] Additional dependencies for boost multiarray
  ports/boost-multi-array/CONTROL
Labels: category:port-bug, info:reviewed

#13811 [libplist/libusbmuxd/libimobiledevice/libideviceactivation/usbmuxd] Update version
  ports/libgpod/CMakeLists.txt
  ports/libgpod/CONTROL
  ports/libideviceactivation/CMakeLists.txt
  ports/libideviceactivation/CONTROL
  ports/libideviceactivation/portfile.cmake
  ports/libimobiledevice/CMakeLists.txt
  ports/libimobiledevice/CONTROL
  ports/libimobiledevice/fix-functions-declaration.patch
  ports/libimobiledevice/portfile.cmake
  ports/libplist/CMakeLists.txt
  ports/libplist/CONTROL
  ports/libplist/portfile.cmake
  ports/libusbmuxd/CMakeLists.txt
  ports/libusbmuxd/CONTROL
  ports/libusbmuxd/portfile.cmake
  ports/usbmuxd/CONTROL
  ports/usbmuxd/fix-definitions.patch
  ports/usbmuxd/fix-dependence-libimobiledevice.patch
  ports/usbmuxd/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#13025 [CMake] VCPKG_APPLOCAL_DEPS sometimes causes conflicts when processing multiple files in the same directory
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed

#14056 [itk,libsamplerate,libsndfile] Apply some Visual Studio 2019 version 16.9 preview 1 workarounds
  ports/itk/CONTROL
  ports/itk/portfile.cmake
  ports/itk/use-the-lrintf-intrinsic.patch
  ports/itk/vcpkg.json
  ports/libsamplerate/CONTROL
  ports/libsamplerate/portfile.cmake
  ports/libsamplerate/vcpkg.json
  ports/libsndfile/portfile.cmake
  ports/libsndfile/vcpkg.json
Labels: category:infrastructure, category:port-bug, info:internal, info:reviewed

#14052 [libspnav] Add new port
  ports/libspnav/CONTROL
  ports/libspnav/portfile.cmake
Labels: category:new-port, info:reviewed

#14074 [libwebsockets] Extend LWS build params with gencrypto & tls options
  ports/libwebsockets/CONTROL
  ports/libwebsockets/portfile.cmake
Labels: category:port-feature, info:reviewed

#14082 [pangolin] Fix the link error in static build
  ports/pangolin/CONTROL
  ports/pangolin/fix-dependeny-ffmpeg.patch
  ports/pangolin/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14101 [opencv4] Fix build failure with some features
  ports/opencv4/0006-jpeg2000_getref.patch
  ports/opencv4/CONTROL
  ports/opencv4/portfile.cmake
Labels: category:port-bug, info:reviewed

#14105 [libmediainfo] Update to 20.09
  ports/libmediainfo/CONTROL
  ports/libmediainfo/portfile.cmake
Labels: category:port-update, info:reviewed

#14121 [libmariadb] Update to 3.1.10
  ports/libmariadb/CONTROL
  ports/libmariadb/disable-test-build.patch
  ports/libmariadb/fix-InstallPath.patch
  ports/libmariadb/fix-iconv.patch
  ports/libmariadb/md.patch
  ports/libmariadb/portfile.cmake
Labels: category:port-feature, category:port-update, info:internal, info:reviewed

#14026 [ffmpeg] fix theora, speex, and openssl static linkage, and refactor/robustify library selection code into functions
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
Labels: category:port-bug, info:reviewed

#14050 [libvorbis] MinGW build fix
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:tool-update, info:reviewed

#14051 [curl] Fix #14049
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-bug, info:reviewed

#13692 [kenlm] New Port
  ports/kenlm/fix-boost.patch
  ports/kenlm/portfile.cmake
  ports/kenlm/vcpkg.json
Labels: category:new-port, info:reviewed

#14016 [ezc3d] Add new port
  ports/ezc3d/portfile.cmake
  ports/ezc3d/vcpkg.json
Labels: category:new-port, info:reviewed

#13074 [libgit2] Devendor bundled dependencies and allow choosing SSL backend
  ports/libgit2/CONTROL
  ports/libgit2/portfile.cmake
  ports/pcre2/CONTROL
  ports/pcre2/portfile.cmake
Labels: category:port-feature, requires:author-response

#12614 [cgal] Upgrade CGAL to 5.1
  ports/cgal/CONTROL
  ports/cgal/portfile.cmake
Labels: category:port-update, info:reviewed

#14116 [vulkan-headers] Added new port.
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
Labels: category:new-port, info:reviewed

#13987 [opencv] Move dependency of protobuf from core to dnn/flann
  ports/opencv3/CONTROL
  ports/opencv3/portfile.cmake
  ports/opencv4/CONTROL
  ports/opencv4/portfile.cmake
Labels: category:port-bug, info:reviewed

#14122 [mlpack] Update to 3.4.1
  ports/mlpack/CONTROL
  ports/mlpack/cmakelists.patch
  ports/mlpack/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14112 [hpx] Fix cmake config issue
  ports/hpx/CONTROL
  ports/hpx/portfile.cmake
Labels: category:port-bug, info:internal

#14084 [json-dto] update to v.0.2.11
  ports/json-dto/CONTROL
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
Labels: category:port-update, requires:author-response

#14085 [rocksdb] update to v6.13.3
  ports/rocksdb/0001-disable-gtest.patch
  ports/rocksdb/0003-use-find-package.patch
  ports/rocksdb/0005-backport-msvc-fixes-pr-7439.patch
  ports/rocksdb/CONTROL
  ports/rocksdb/Findlz4.cmake
  ports/rocksdb/Findsnappy.cmake
  ports/rocksdb/Findzstd.cmake
  ports/rocksdb/portfile.cmake
Labels: category:port-update, info:reviewed

#14120 [freetds] Update to v1.2.5 and update source to github.
  ports/freetds/CONTROL
  ports/freetds/crypt32.patch
  ports/freetds/fix-encoding-h-dependency.patch
  ports/freetds/portfile.cmake
  ports/freetds/skip-unit-tests.patch
  ports/freetds/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#14139 [libimobiledevice] Use upstream patched version
  ports/libimobiledevice/CONTROL
  ports/libimobiledevice/fix-functions-declaration.patch
  ports/libimobiledevice/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14142 [ptex] Fix build on *inx
  ports/ptex/CONTROL
  ports/ptex/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, category:port-feature, info:internal

#14079 [vcpkg] Add `versions` feature flag and version field manifest parsing
  toolsrc/include/vcpkg/fwd/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/include/vcpkg/versions.h
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg-test/plan.cpp
  toolsrc/src/vcpkg-test/util.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:internal

#14141 [libnoise] Fix build and header, install FindLibNoise.cmake
  ports/libnoise/CONTROL
  ports/libnoise/fix-build.patch
  ports/libnoise/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#13540 [libp7-baical] Fix build error
  ports/libp7-baical/CONTROL
  ports/libp7-baical/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#14063 [libzippp] Use VCPKG_TARGET_IS_WINDOWS rather than WIN32 and avoid libzip default features
  ports/libzippp/CONTROL
  ports/libzippp/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14088 [shaderwriter] Add new port.
  ports/shaderwriter/portfile.cmake
  ports/shaderwriter/vcpkg.json
Labels: category:new-port, info:reviewed

#14100 [log4cplus ] Normilize log4cplus unicode build
  ports/log4cplus/CONTROL
  ports/log4cplus/portfile.cmake
Labels: category:port-feature, info:reviewed

#14125 [leptonica] Update to 1.80.0
  ports/leptonica/CONTROL
  ports/leptonica/find-dependency.patch
  ports/leptonica/fix-cmakelists.patch
  ports/leptonica/fix-find-libwebp.patch
  ports/leptonica/portfile.cmake
  ports/leptonica/use-tiff-libraries.patch
Labels: category:port-update, info:internal, info:reviewed

#14129 [vcpkg] Vcpkg appinstall deps fixes
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-bug, info:reviewed

#14145 [efsw] Fix share location
  ports/efsw/CONTROL
  ports/efsw/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14152 [grpc] Update to v1.32.0 - use correct port version
  ports/grpc/00001-fix-uwp.patch
  ports/grpc/00002-static-linking-in-linux.patch
  ports/grpc/00004-link-gdi32-on-windows.patch
  ports/grpc/00011-fix-csharp_plugin.patch
  ports/grpc/CONTROL
Labels: category:port-bug, info:reviewed

#13953 [vcpkg_find_acquire_program] Fix SWIG on non-Windows platforms.
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update, info:reviewed
