Repository microsoft/vcpkg, pull requests merged in 2020-11, with the labels that each got.

#14317 [vcpkg] Fix incorrect determination of PowerShell not found
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/vcpkg_copy_tool_dependencies.cmake
Labels: category:vcpkg-bug, info:internal

#14347 [qt-advanced-docking-system] Update to version 3.6.3
  ports/qt-advanced-docking-system/CONTROL
  ports/qt-advanced-docking-system/portfile.cmake
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#14330 [ffmpeg] fix x264 feature linking on x64-linux
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
Labels: category:port-bug, info:reviewed

#14319 [drogon] Update to 1.1.0
  ports/drogon/CONTROL
  ports/drogon/pg.patch
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.patch
Labels: category:port-update, info:reviewed

#14206 [vcpkg] Add tab completion for Fish
  scripts/vcpkg_completion.fish
  toolsrc/src/vcpkg/commands.integrate.cpp
Labels: category:vcpkg-feature

#14189 [vcpkg] User help: selecting-library-features.md
  docs/users/selecting-library-features.md
Labels: category:documentation, requires:author-response

#14314 [elfio] Add new vcpkg port elfio
  ports/elfio/portfile.cmake
  ports/elfio/vcpkg.json
Labels: category:new-port, info:reviewed

#14367 Add CHANGELOG up to 2020.11.01
  CHANGELOG.md
Labels: info:internal

#14366 [vcpkg] Disable vcpkg_copy_tool_dependencies on non-Windows
  scripts/cmake/vcpkg_copy_tool_dependencies.cmake
Labels: category:vcpkg-bug, info:internal

#14377 Update CHANGELOG 2020.11.03
  CHANGELOG.md
Labels: info:internal

#14195 [comms] Add new ports
  ports/comms/portfile.cmake
  ports/comms/vcpkg.json
  ports/commsdsl/fix-libxml2.patch
  ports/commsdsl/portfile.cmake
  ports/commsdsl/use-FindPackage.patch
  ports/commsdsl/vcpkg.json
Labels: category:new-port, info:reviewed

#14375 [google-cloud-cpp] Update to the v1.20.0 release
  ports/google-cloud-cpp/CONTROL
  ports/google-cloud-cpp/portfile.cmake
Labels: category:port-update, info:reviewed

#14109 [abseil] Revert changes about arm build
  ports/abseil/fix-MSVCbuildfail.patch
  ports/abseil/fix-arm-build.patch
  ports/abseil/fix-cmake-threads-dependency.patch
  ports/abseil/fix-uwp-build.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#14299 [rtabmap] New port
  ports/rtabmap/001_opencv.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
Labels: category:new-port, info:reviewed

#14372 [fmt] update to 7.1.1
  ports/fmt/CONTROL
  ports/fmt/portfile.cmake
Labels: category:port-update, info:reviewed

#14308 [OpenSSL] refactor openssl ports.
  ports/openssl-unix/CONTROL
  ports/openssl-unix/portfile.cmake
  ports/openssl-unix/usage
  ports/openssl-uwp/CONTROL
  ports/openssl-uwp/portfile.cmake
  ports/openssl-uwp/usage
  ports/openssl-windows/CONTROL
  ports/openssl-windows/ConfigureIncludeQuotesFix.patch
  ports/openssl-windows/EmbedSymbolsInStaticLibsZ7.patch
  ports/openssl-windows/EnableWinARM32.patch
  ports/openssl-windows/EnableWinARM64.patch
  ports/openssl-windows/STRINGIFYPatch.patch
  ports/openssl-windows/portfile.cmake
  ports/openssl-windows/usage
  ports/openssl/CONTROL
  ports/openssl/portfile.cmake
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/unix/ConfigureIncludeQuotesFix.patch
  ports/openssl/unix/EmbedSymbolsInStaticLibsZ7.patch
  ports/openssl/unix/STRINGIFYPatch.patch
  ports/openssl/unix/portfile.cmake
  ports/openssl/unix/remove-deps.cmake
  ports/openssl/unix/vcpkg-cmake-wrapper.cmake
  ports/openssl/uwp/EnableUWPSupport.patch
  ports/openssl/uwp/fix-uwp-configure-unicode.patch
  ports/openssl/uwp/make-openssl.bat
  ports/openssl/uwp/portfile.cmake
  ports/openssl/windows/portfile.cmake
  ports/openssl/windows/vcpkg-cmake-wrapper.cmake
Labels: category:port-feature, info:reviewed

#14325 [tbb] Support tbb build for arm-linux & arm64-linux
  ports/tbb/CMakeLists.txt
  ports/tbb/CONTROL
  ports/tbb/portfile.cmake
Labels: category:port-feature, info:reviewed

#14382 [kenlm, pdal] Fix const overload on Visual Studio 2019 version 16.8
  ports/kenlm/fix-const-overloaded.patch
  ports/kenlm/portfile.cmake
  ports/kenlm/vcpkg.json
  ports/pdal/0004-fix-const-overloaded.patch
  ports/pdal/CONTROL
  ports/pdal/portfile.cmake
Labels: category:port-bug, info:internal

#14344 [tool-meson] Update to 0.56.0
  ports/libepoxy/CONTROL
  ports/libepoxy/libepoxy-1.5.4_meson_c_std.patch
  ports/libepoxy/portfile.cmake
  ports/tool-meson/CONTROL
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:port-update, category:tool-update, info:reviewed

#14360 [ffmpeg] add if guard, fix library ordering on linux, minor clean up
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
Labels: category:port-bug, info:reviewed

#7824 [fastcgi]Add new port
  ports/fastcgi/CONTROL
  ports/fastcgi/portfile.cmake
Labels: category:new-port, requires:discussion

#14380 [implot] Update to 0.8
  ports/implot/CONTROL
  ports/implot/portfile.cmake
Labels: category:port-update, info:reviewed

#14385 [oatpp-curl] Fix curl dependency cannot be found
  ports/oatpp-curl/CONTROL
  ports/oatpp-curl/curl-submodule-no-pkg-config-in-vcpkg.patch
  ports/oatpp-curl/fix-find-curl.patch
  ports/oatpp-curl/portfile.cmake
Labels: category:port-bug, info:internal

#14379 [imgui] Update to 1.79
  ports/imgui/CONTROL
  ports/imgui/portfile.cmake
Labels: category:port-update

#14400 [vcpkg baseline] [rtabmap] Set option dependencies OFF
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#14387 [xeus] remove openssl static build patch as it is no longer needed
  ports/xeus/CONTROL
  ports/xeus/Fix-static-build.patch
  ports/xeus/portfile.cmake
Labels: category:port-bug, info:reviewed

#14383 [magnum] Removing quotes around tools list where vcpkg_copy_tools is involked
  ports/magnum/CONTROL
  ports/magnum/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14349 [sentry-native] Disable warning C5105
  ports/sentry-native/CONTROL
  ports/sentry-native/fix-warningC5105.patch
  ports/sentry-native/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14343 [vcpkg, azure-macro-utils-c] Fix SHA and add FILE_DISAMBIGUATOR for vcpkg_from_github
  ports/azure-macro-utils-c/CONTROL
  ports/azure-macro-utils-c/portfile.cmake
  scripts/cmake/vcpkg_from_github.cmake
Labels: category:port-bug, info:internal

#13739 [eigen3] Fix include path
  ports/eigen3/CONTROL
  ports/eigen3/portfile.cmake
Labels: category:port-bug, info:internal

#14396 [vcpkg] copy tools pdb if they exist.
  scripts/cmake/vcpkg_clean_executables_in_bin.cmake
  scripts/cmake/vcpkg_copy_tools.cmake
Labels: category:tool-update, info:reviewed

#14341 [oatpp] Add new port and vcpkg.json
  ports/oatpp-consul/CONTROL
  ports/oatpp-consul/vcpkg.json
  ports/oatpp-curl/CONTROL
  ports/oatpp-curl/vcpkg.json
  ports/oatpp-libressl/CONTROL
  ports/oatpp-libressl/portfile.cmake
  ports/oatpp-libressl/vcpkg.json
  ports/oatpp-mbedtls/CONTROL
  ports/oatpp-mbedtls/vcpkg.json
  ports/oatpp-mongo/no-designatore-expression.patch
  ports/oatpp-mongo/portfile.cmake
  ports/oatpp-mongo/vcpkg.json
  ports/oatpp-postgresql/portfile.cmake
  ports/oatpp-postgresql/vcpkg.json
  ports/oatpp-sqlite/CONTROL
  ports/oatpp-sqlite/vcpkg.json
  ports/oatpp-swagger/CONTROL
  ports/oatpp-swagger/vcpkg.json
  ports/oatpp-websocket/CONTROL
  ports/oatpp-websocket/vcpkg.json
  ports/oatpp-zlib/portfile.cmake
  ports/oatpp-zlib/vcpkg.json
  ports/oatpp/CONTROL
  ports/oatpp/vcpkg.json
Labels: category:port-feature, info:reviewed

#13658 [rhash] Update to the latest version
  ports/rhash/CMakeLists.txt
  ports/rhash/CONTROL
  ports/rhash/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:internal, info:reviewed

#14388 [ffmpeg] simplify openssl library search, and fix linux openssl feature linking
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
Labels: category:port-bug, info:reviewed

#14413 [fmt] update to 7.1.2
  ports/fmt/CONTROL
  ports/fmt/portfile.cmake
Labels: category:port-update, info:reviewed

#14426 [vcpkg baseline][rtabmap] Fix dependency issue when build tools
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
Labels: category:port-bug, info:internal

#14416 [cppgraphqlgen] Update to v3.2.4
  ports/cppgraphqlgen/CONTROL
  ports/cppgraphqlgen/portfile.cmake
Labels: category:port-update

#14422 [osg-qt] Fix installation when building static on Windows
  ports/osg-qt/CONTROL
  ports/osg-qt/fix-static-install.patch
  ports/osg-qt/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#14248 [libnice] Fix build error on Linux
  ports/libnice/CMakeLists.txt
  ports/libnice/CONTROL
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#14351 add dataframe of github hosseinmoein/DataFrame
  ports/dataframe/CONTROL
  ports/dataframe/portfile.cmake
Labels: category:new-port, info:reviewed

#13849 [physx] Add support for Linux, macOS, and UWP
  ports/physx/CONTROL
  ports/physx/fix_discarded_qualifiers.patch
  ports/physx/portfile.cmake
  ports/physx/preset.xml.in
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#14414 [span-lite] update to 0.8.1
  ports/span-lite/CONTROL
  ports/span-lite/portfile.cmake
  ports/span-lite/vcpkg.json
Labels: category:port-update, info:reviewed

#14457 [openssl] Add build depends to deprecated openssl ports
  ports/openssl-unix/CONTROL
  ports/openssl-uwp/CONTROL
  ports/openssl-windows/CONTROL
Labels: category:port-bug, info:reviewed

#14153 [vcpkg] Initial Registries: Part 2 MVP
  toolsrc/include/vcpkg/base/delayed_init.h
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/base/jsonreader.h
  toolsrc/include/vcpkg/base/optional.h
  toolsrc/include/vcpkg/base/pragmas.h
  toolsrc/include/vcpkg/configurationdeserializer.h
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/include/vcpkg/versiont.h
  toolsrc/src/vcpkg-test/commands.create.cpp
  toolsrc/src/vcpkg-test/files.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.autocomplete.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.format-manifest.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/commands.upgrade.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/paragraphs.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/src/vcpkg/versiont.cpp
Labels: category:vcpkg-feature, info:internal

#14292 [caf] Add usage and vcpkg-cmake-wrapper
  ports/caf/CONTROL
  ports/caf/portfile.cmake
  ports/caf/usage
  ports/caf/vcpkg-cmake-wrapper.cmake
Labels: category:port-feature, info:internal, requires:author-response

#14407 [libffi] mingw support
  ports/libffi/CMakeLists.txt
  ports/libffi/CONTROL
  ports/libffi/portfile.cmake
Labels: category:port-feature, info:reviewed

#14439 [string-theory] Update to 3.4
  ports/string-theory/CONTROL
  ports/string-theory/portfile.cmake
Labels: category:port-update, info:reviewed

#14443 [krabsetw] Update to 4.1.14
  ports/krabsetw/portfile.cmake
  ports/krabsetw/vcpkg.json
Labels: category:port-update, info:reviewed

#14444 [mpg123] Upgrade to 1.26.3
  ports/mpg123/0001-fix-crt-linking.patch
  ports/mpg123/0001-fix-x86-build.patch
  ports/mpg123/0003-add-arm-configs.patch
  ports/mpg123/0004-add-arm64-uwp-config.patch
  ports/mpg123/CONTROL
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
Labels: category:port-update, info:reviewed

#14456 [wepoll] update to 1.5.8
  ports/wepoll/CONTROL
  ports/wepoll/portfile.cmake
Labels: category:port-update, info:reviewed

#14453 [yas] update to 7.0.5
  ports/yas/CONTROL
  ports/yas/portfile.cmake
Labels: category:port-update, info:reviewed

#14452 [zstr] update to 1.0.4
  ports/zstr/CONTROL
  ports/zstr/portfile.cmake
Labels: category:port-update, info:reviewed

#14450 [bond] update to 9.0.3
  ports/bond/CONTROL
  ports/bond/portfile.cmake
Labels: category:port-update, info:reviewed

#14448 [quill] Update to 1.5.2
  ports/quill/CONTROL
  ports/quill/portfile.cmake
Labels: category:port-update, info:reviewed

#14447 [alembic] update to 1.7.16
  ports/alembic/CONTROL
  ports/alembic/portfile.cmake
Labels: category:port-update, info:reviewed

#14446 [protopuf] Add a new port protopuf
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
Labels: category:new-port, info:reviewed

#14435 [opencascade] update debug paths in *Targets-debug.cmake
  ports/opencascade/CONTROL
  ports/opencascade/portfile.cmake
Labels: category:port-bug, info:reviewed

#14417 [sdl2] apply upstream patch to fix macos vulkan fixes #13773
  ports/sdl2/0008-fix-macos-metal-test.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
Labels: category:port-bug, info:reviewed

#13300 [sdl2pp] Update to 0.16.1 and fix find_package error
  ports/sdl2pp/CONTROL
  ports/sdl2pp/fix-dependencies.patch
  ports/sdl2pp/portfile.cmake
  ports/sdl2pp/usage
  ports/sdl2pp/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, info:internal, info:reviewed, requires:discussion

#14460 [szip, openssl] Fix problems with mingw
  ports/openssl/CONTROL
  ports/openssl/portfile.cmake
  triplets/community/arm-mingw-dynamic.cmake
  triplets/community/arm64-mingw-dynamic.cmake
  triplets/community/x64-mingw-dynamic.cmake
  triplets/community/x86-mingw-dynamic.cmake
Labels: category:port-feature, info:reviewed

#14462 [libcuckoo] Update version to v0.3
  ports/libcuckoo/CONTROL
  ports/libcuckoo/portfile.cmake
Labels: category:port-update, info:reviewed

#14479 [aws-sdk-cpp] Update to 1.8.83
  ports/aws-sdk-cpp/CONTROL
  ports/aws-sdk-cpp/CONTROL.in
  ports/aws-sdk-cpp/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11898 Add support for llvm-objdump to applocal.ps1
  scripts/buildsystems/msbuild/applocal.ps1
Labels: category:vcpkg-feature

#14290 [libmysql/libmariadb] Export unofficial cmake targets
  ports/libmariadb/CONTROL
  ports/libmariadb/export-cmake-targets.patch
  ports/libmariadb/portfile.cmake
  ports/libmysql/CONTROL
  ports/libmysql/export-cmake-targets.patch
  ports/libmysql/portfile.cmake
  ports/libmysql/usage
  ports/libmysql/vcpkg-cmake-wrapper.cmake
Labels: category:port-feature, info:internal, info:reviewed

#14465 [libflac] require NASM for libflac[asm]
  ports/libflac/CONTROL
  ports/libflac/portfile.cmake
Labels: category:port-bug, info:reviewed

#14405 [netcdf-cxx4] Export cmake targets
  ports/netcdf-cxx4/CONTROL
  ports/netcdf-cxx4/export-cmake-targets.patch
  ports/netcdf-cxx4/netCDFCxxConfig.cmake.in
  ports/netcdf-cxx4/portfile.cmake
Labels: category:port-feature, info:internal

#12936 [vcpkg/scripts] Add a way to get cmake compiler settings/flags
  ports/x264/CONTROL
  ports/x264/portfile.cmake
  scripts/buildsystems/make_wrapper/windres-rc
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/cmake/vcpkg_internal_get_cmake_vars.cmake
  scripts/get_cmake_vars/CMakeLists.txt
  scripts/ports.cmake
Labels: category:tool-update, category:vcpkg-feature, info:reviewed

#14477 [openssl] Remove unused patches
  ports/openssl/unix/ConfigureIncludeQuotesFix.patch
  ports/openssl/unix/EmbedSymbolsInStaticLibsZ7.patch
  ports/openssl/unix/STRINGIFYPatch.patch
  ports/openssl/uwp/fix-uwp-configure-unicode.patch
Labels: category:port-update, info:internal, info:reviewed

#14485 [libosmscout] Add new port
  ports/libosmscout/portfile.cmake
  ports/libosmscout/vcpkg.json
Labels: category:new-port, requires:author-response

#13355 [v8] Update v8 to current stable version: 8.6.395.17
  ports/v8/3f8dc4b.patch
  ports/v8/CONTROL
  ports/v8/V8Config-shared.cmake
  ports/v8/V8Config-static.cmake
  ports/v8/build.patch
  ports/v8/portfile.cmake
  ports/v8/v8.patch
Labels: category:port-bug, category:port-update

#14481 [onnxruntime-gpu] Add port for onnxruntime (GPU)
  ports/onnxruntime-gpu/portfile.cmake
  ports/onnxruntime-gpu/vcpkg.json
Labels: category:new-port, requires:discussion

#13680 [paho-mqtt] Update to version 1.3.5
  ports/paho-mqtt/CONTROL
  ports/paho-mqtt/export-cmake-targets.patch
  ports/paho-mqtt/fix-install-path.patch
  ports/paho-mqtt/fix-static-build.patch
  ports/paho-mqtt/fix-unresolvedsymbol-arm.patch
  ports/paho-mqtt/fix-win-macro.patch
  ports/paho-mqtt/portfile.cmake
  ports/paho-mqtt/remove_compiler_options.patch
  ports/paho-mqttpp3/CONTROL
  ports/paho-mqttpp3/fix-dependency.patch
Labels: category:port-update, info:internal, info:reviewed

#14421 [netcdf-c] Fix linkage error
  ports/netcdf-c/CONTROL
  ports/netcdf-c/fix-linkage-error.patch
  ports/netcdf-c/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14454 [xsimd][xtensor][xtl] Update to latest
  ports/xsimd/CONTROL
  ports/xsimd/portfile.cmake
  ports/xtensor/CONTROL
  ports/xtensor/portfile.cmake
  ports/xtl/CONTROL
  ports/xtl/portfile.cmake
Labels: category:port-update, info:reviewed

#14455 [xeus] update to 0.24.3
  ports/xeus/CONTROL
  ports/xeus/portfile.cmake
Labels: category:port-update, info:reviewed

#14476 [libxslt] Fix install tools and pkgconfig
  ports/libxml2/CMakeLists.txt
  ports/libxml2/CONTROL
  ports/libxml2/portfile.cmake
  ports/libxslt/CONTROL
  ports/libxslt/portfile.cmake
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#14482 [gamedev-framework] update to 0.18.1
  ports/gamedev-framework/portfile.cmake
  ports/gamedev-framework/vcpkg.json
Labels: category:port-update, info:reviewed

#14493 Fix some "passing, remove from fail lists" from the 2020-11-08 build
  scripts/ci.baseline.txt
Labels: category:code-cleanup, info:internal, info:reviewed

#14496 [restinio] update to v.0.6.12
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
Labels: category:port-update, info:reviewed

#14376 [libigl] Fix dynamic build and enable header-only mode
  ports/libigl/CONTROL
  ports/libigl/fix-config.patch
  ports/libigl/fix-dependency.patch
  ports/libigl/install-extra-headers.patch
  ports/libigl/portfile.cmake
Labels: category:port-feature, info:reviewed

#13028 More or less completely rewritten tensorflow-cc port
  ports/tensorflow-cc/CONTROL
  ports/tensorflow-cc/README-linux
  ports/tensorflow-cc/README-macos
  ports/tensorflow-cc/README-windows
  ports/tensorflow-cc/TensorflowCCConfig.cmake
  ports/tensorflow-cc/change-macros-for-static-lib.patch
  ports/tensorflow-cc/convert_lib_params_linux.py
  ports/tensorflow-cc/convert_lib_params_windows.py
  ports/tensorflow-cc/file-exists.patch
  ports/tensorflow-cc/fix-dbg-build-errors.patch
  ports/tensorflow-cc/fix-linux-build.patch
  ports/tensorflow-cc/fix-more-build-errors.patch
  ports/tensorflow-cc/generate_static_link_cmd_linux.py
  ports/tensorflow-cc/generate_static_link_cmd_macos.py
  ports/tensorflow-cc/generate_static_link_cmd_windows.py
  ports/tensorflow-cc/portfile.cmake
  ports/tensorflow-cc/tensorflow-cc-config-shared.cmake.in
  ports/tensorflow-cc/tensorflow-cc-config-static.cmake.in
  ports/tensorflow-cc/tensorflow-cc-config-windows-dll.cmake.in
  ports/tensorflow-cc/tensorflow-cc-config-windows-lib.cmake.in
  scripts/build_info.cmake
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  toolsrc/VERSION.txt
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/build.h
  toolsrc/src/vcpkg/base/files.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/postbuildlint.cpp
Labels: category:port-feature, category:port-update, category:tool-update

#14533 [libmariadb] Export target mariadbclient
  ports/libmariadb/CONTROL
  ports/libmariadb/export-cmake-targets.patch
Labels: category:port-bug, info:internal, info:reviewed

#14530 [harfbuzz] fix icu linkage
  ports/harfbuzz/CONTROL
  ports/harfbuzz/icu.patch
  ports/harfbuzz/portfile.cmake
Labels: category:port-bug, info:reviewed

#14473 [curl] Enable feature tool and install curl-config on non-Windows
  ports/curl/CONTROL
  ports/curl/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#13687 [usd] fix dll path and update to 20.08
  ports/usd/CONTROL
  ports/usd/fix-build-error.patch
  ports/usd/fix_build-location.patch
  ports/usd/portfile.cmake
Labels: category:port-bug, category:port-update, info:reviewed

#14505 [nuspell] Update version to 4.0.1
  ports/nuspell/CONTROL
  ports/nuspell/cmake-disable-cli-and-docs.patch
  ports/nuspell/portfile.cmake
Labels: category:port-update, info:reviewed

#14518 [ampl-mp] Update version, separate port ampl-asl and fix arm build
  ports/ampl-asl/CONTROL
  ports/ampl-asl/copyright
  ports/ampl-asl/fix-crt-linkage.patch
  ports/ampl-asl/install-extra-headers.patch
  ports/ampl-asl/install-targets.patch
  ports/ampl-asl/portfile.cmake
  ports/ampl-asl/workaround-msvc-optimizer-ice.patch
  ports/ampl-mp/CONTROL
  ports/ampl-mp/disable-matlab-mex.patch
  ports/ampl-mp/fix-arm-build.patch
  ports/ampl-mp/fix-build.patch
  ports/ampl-mp/fix-dependency-asl.patch
  ports/ampl-mp/install-targets.patch
  ports/ampl-mp/portfile.cmake
  ports/ampl-mp/workaround-msvc-optimizer-ice.patch
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/ci.baseline.txt
Labels: category:new-port, category:port-feature, info:internal, info:reviewed

#14521 [comms ] update to the next version
  ports/comms/portfile.cmake
  ports/comms/vcpkg.json
  ports/commsdsl/fix-cmake-cmakedir-path.patch
  ports/commsdsl/fix-libxml2.patch
  ports/commsdsl/portfile.cmake
  ports/commsdsl/use-FindPackage.patch
  ports/commsdsl/vcpkg.json
Labels: category:port-update, info:reviewed

#14522 [realsense2] Update to version 2.39.0
  ports/realsense2/CONTROL
  ports/realsense2/portfile.cmake
Labels: category:port-update, info:reviewed

#14523 [comms-ublox] added new port
  ports/comms-ublox/fix-comms.patch
  ports/comms-ublox/portfile.cmake
  ports/comms-ublox/vcpkg.json
Labels: category:new-port, info:reviewed

#14499 [freetype] Fix INTERFACE_LINK_LIBRARIES in exported cmake file
  ports/freetype/CONTROL
  ports/freetype/fix-exports.patch
  ports/freetype/portfile.cmake
  ports/libpng/CONTROL
  ports/libpng/fix-export-targets.patch
  ports/libpng/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed, requires:discussion

#14395 [ZSTD] Update to 1.4.5
  ports/arrow/CONTROL
  ports/arrow/portfile.cmake
  ports/orc/0003-dependencies-from-vcpkg.patch
  ports/orc/CONTROL
  ports/zstd/0001-export-zstd-config.patch
  ports/zstd/CONTROL
  ports/zstd/fix_assert.patch
  ports/zstd/install_dll.patch
  ports/zstd/install_pkgpc.patch
  ports/zstd/portfile.cmake
Labels: category:port-update, requires:discussion

#14310 [vcpkg] Add korean version Readme
  README.md
  README_ko_KR.md
Labels: category:vcpkg-feature, requires:discussion

#14528 [3fd] Update to 2.6.3, fix port
  ports/3fd/DataException.patch
  ports/3fd/RapidXML.patch
  ports/3fd/portfile.cmake
  ports/3fd/remove-seekpos.patch
  ports/3fd/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-bug, category:port-update, info:internal

#14399 [llvm] install tools in tools/llvm
  ports/llvm/0005-fix-tools-path.patch
  ports/llvm/CONTROL
  ports/llvm/portfile.cmake
  scripts/build_info.cmake
  test.cmake
  toolsrc/VERSION.txt
  toolsrc/include/vcpkg/build.h
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/postbuildlint.cpp
Labels: category:port-feature

#14245 [vcpkg baseline] Clean up baseline, use Keyword Supports Part 1
  ports/aliyun-oss-c-sdk/CONTROL
  ports/ampl-mp/CONTROL
  ports/angelscript/CONTROL
  ports/argtable2/CONTROL
  ports/arrow/CONTROL
  ports/asiosdk/CONTROL
  ports/asyncplusplus/CONTROL
  scripts/ci.baseline.txt
Labels: category:code-cleanup

#14183 [vcpkg] Implement constraints and overrides in manifests
  toolsrc/include/vcpkg/packagespec.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/include/vcpkg/versions.h
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/packagespec.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
Labels: category:vcpkg-feature, info:internal

#14305 [poco] Fix dependency, add features
  ports/poco/CONTROL
  ports/poco/fix_dependency.patch
  ports/poco/include_pcre.patch
  ports/poco/portfile.cmake
  ports/poco/static_pcre.patch
  ports/poco/use-vcpkg-libharu.patch
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#14018 [vcpkg] preprocess _ignore_flags with vcpkg_escape_regex_control_characters
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:tool-update, info:reviewed

#14517 [boost] Install usage file
  ports/boost-modular-build-helper/CONTROL
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost-modular-build-helper/portfile.cmake
  ports/boost-modular-build-helper/usage
  ports/boost-vcpkg-helpers/CONTROL
  ports/boost-vcpkg-helpers/boost-modular-headers.cmake
  ports/boost-vcpkg-helpers/portfile.cmake
  ports/boost-vcpkg-helpers/usage
Labels: category:port-bug, info:internal, info:reviewed

#14536 [opencl] Remove feature wdk
  ports/opencl/CONTROL
  ports/opencl/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14540 [libidn2] Update to version 2.3.0
  ports/libidn2/CONTROL
  ports/libidn2/portfile.cmake
Labels: category:port-update, info:reviewed

#14541 [sentry-native] Update to version 0.4.4
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
Labels: category:port-update, info:reviewed

#14555 [tbb] fix shared tbb library configuration build under *nix
  ports/tbb/CONTROL
  ports/tbb/portfile.cmake
Labels: category:port-bug, info:reviewed

#14535 [libarchive] Fix dependencies, combine patches
  ports/libarchive/CONTROL
  ports/libarchive/fix-dependencies.patch
  ports/libarchive/fix-lz4.patch
  ports/libarchive/fix-zstd.patch
  ports/libarchive/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14579 [baseline][libarchive] : regression fix
  ports/libarchive/CONTROL
  ports/libarchive/fix-dependencies.patch
  ports/libarchive/portfile.cmake
  ports/libarchive/usage
  ports/libarchive/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, info:internal

#14546 [aws-sdk-cpp] Make aws-sdk-cpp rpath relocatable
  ports/aws-sdk-cpp/CONTROL
  ports/aws-sdk-cpp/patch-relocatable-rpath.patch
  ports/aws-sdk-cpp/portfile.cmake
Labels: category:port-bug, info:reviewed

#14554 [assimp] Fix cmake config name and add cmake version
  ports/assimp/CONTROL
  ports/assimp/build_fixes.patch
  ports/assimp/irrlicht.patch
  ports/assimp/portfile.cmake
  ports/ogre/fix-dependency.patch
  ports/ogre/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#14562 [ignition-transport8] Fix ignition-transport8 version
  ports/ignition-transport8/CONTROL
Labels: category:port-bug, info:reviewed

#14580 fix single configuration make builds.
  scripts/cmake/vcpkg_internal_get_cmake_vars.cmake
Labels: category:vcpkg-bug

#14586 [vcpkg baseline][monkeys-audio] Update to 5.59
  ports/monkeys-audio/CONTROL
  ports/monkeys-audio/portfile.cmake
  ports/monkeys-audio/remove-certificate-step.patch
Labels: category:port-update, info:internal, info:reviewed

#13691 [libprotobuf-mutator] Add new port
  ports/libprotobuf-mutator/portfile.cmake
  ports/libprotobuf-mutator/vcpkg.json
Labels: category:new-port, info:reviewed

#14539 [directxtk][directxtk12][directxtex][directxmesh] Update to latest version
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxtex/CONTROL
  ports/directxtex/enable_openexr_support.patch
  ports/directxtex/portfile.cmake
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
Labels: category:port-update, info:reviewed

#14563 [robin-hood-hashing] Update to 3.9.1
  ports/robin-hood-hashing/CONTROL
  ports/robin-hood-hashing/portfile.cmake
Labels: category:port-update, info:reviewed

#14566 [liblsl] Update to 1.13.1
  ports/liblsl/CONTROL
  ports/liblsl/portfile.cmake
Labels: category:port-update, info:reviewed

#14246 [vcpkg baseline] Clean up baseline, use Keyword Supports Part 2
  ports/atk/CONTROL
  ports/atlmfc/CONTROL
  ports/aubio/CONTROL
  ports/avro-cpp/CONTROL
  ports/aws-c-common/CONTROL
  ports/aws-checksums/CONTROL
  ports/aws-lambda-cpp/CONTROL
  ports/azure-kinect-sensor-sdk/CONTROL
  ports/bde/CONTROL
  ports/benchmark/CONTROL
  ports/bitserializer/CONTROL
  scripts/ci.baseline.txt
Labels: category:code-cleanup

#13626 [vcpkg] Add experimental x-azblob binary provider
  docs/users/binarycaching.md
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  toolsrc/include/vcpkg/base/downloads.h
  toolsrc/include/vcpkg/base/fwd/lockguarded.h
  toolsrc/include/vcpkg/base/lockguarded.h
  toolsrc/include/vcpkg/base/util.h
  toolsrc/include/vcpkg/binarycaching.h
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/globalstate.h
  toolsrc/include/vcpkg/metrics.h
  toolsrc/src/vcpkg-test/binaryconfigparser.cpp
  toolsrc/src/vcpkg-test/downloads.cpp
  toolsrc/src/vcpkg/base/downloads.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/globalstate.cpp
  toolsrc/src/vcpkg/install.cpp
Labels: category:vcpkg-feature, info:internal

#14587 [xmlsec] Update to 1.2.31
  ports/xmlsec/0001-uwp-fix.patch
  ports/xmlsec/CONTROL
  ports/xmlsec/portfile.cmake
Labels: category:port-update, info:reviewed

#14589 [poco] Fix dependency and cmake config issue
  ports/poco/CONTROL
  ports/poco/fix_dependency.patch
Labels: category:port-bug, info:internal, info:reviewed

#14618 [SUNDIALS] Update to 5.5.0
  ports/sundials/CONTROL
  ports/sundials/portfile.cmake
  ports/sundials/uwp-c4703-warning.patch
Labels: category:port-update, info:internal, info:reviewed

#14624 [cppzmq] Add draft feature
  ports/cppzmq/CONTROL
  ports/cppzmq/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#14497 [libde265] Updated to v1.0.8
  ports/libde265/CONTROL
  ports/libde265/fix-libde265-headers.patch
  ports/libde265/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12945 [meson|scripts] update scripts
  ports/fribidi/CONTROL
  ports/fribidi/fix-win-static-suffix.patch
  ports/fribidi/portfile.cmake
  ports/munit/CONTROL
  ports/munit/portfile.cmake
  ports/tool-meson/CONTROL
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/vcpkg_install_meson.cmake
  scripts/get_cmake_vars/CMakeLists.txt
Labels: category:tool-update

#13448 [BLAS] add metaport
  ports/armadillo/CONTROL
  ports/blas/CMakeLists.txt
  ports/blas/CONTROL
  ports/blas/portfile.cmake
  ports/clapack/CONTROL
  ports/dlib/CONTROL
  ports/ensmallen/CONTROL
  ports/geogram/CONTROL
  ports/halide/CONTROL
  ports/hypre/CONTROL
  ports/lapack-reference/CONTROL
  ports/lapack/CMakeLists.txt
  ports/lapack/CONTROL
  ports/shogun/CONTROL
  ports/superlu/CONTROL
Labels: category:new-port

#14213 [libjuice] Update libjuice for libdatachannel port.
  ports/libjuice/CONTROL
  ports/libjuice/fix-for-vcpkg.patch
  ports/libjuice/portfile.cmake
Labels: category:port-update

#14576 [seal] Update to version 3.6.0. Changed default features.
  ports/seal/CONTROL
  ports/seal/no-source-writes.patch
  ports/seal/portfile.cmake
Labels: category:port-feature, category:port-update, requires:author-response

#14605 CGAL: Update to 5.1.1
  ports/cgal/CONTROL
  ports/cgal/portfile.cmake
Labels: category:port-update, requires:all-feature-testing

#14240 [arrayfire] New Port
  ports/arrayfire/build.patch
  ports/arrayfire/portfile.cmake
  ports/arrayfire/vcpkg.json
Labels: category:new-port, info:reviewed

#14644 [vcpkg baseline][qt5-location] Update patch
  ports/qt5-location/CONTROL
  ports/qt5-location/portfile.cmake
  ports/qt5-location/rename_third_party_libs_conflicts.patch
Labels: category:port-bug, info:internal, info:reviewed

#14626 [libpq/ffmpeg] Fix iconv/intl linkage not covered by CI
  ports/ffmpeg/0007-fix-lib-naming.patch
  ports/ffmpeg/CONTROL
  ports/libpq/CONTROL
  ports/libpq/patches/windows/Solution_Debug.patch
  ports/libpq/patches/windows/Solution_Release.patch
Labels: category:port-bug

#13755 [vcpkg] Two bug fixes and some improvements in buildsystems/msbuild
  scripts/buildsystems/msbuild/vcpkg-general.xml
  scripts/buildsystems/msbuild/vcpkg.props
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug

#13759 [camport3] add new port
  ports/camport3/CONTROL
  ports/camport3/portfile.cmake
Labels: category:new-port, info:reviewed

#14659 [vcpkg] fix vs2015 build
  toolsrc/include/vcpkg/base/lockguarded.h
  toolsrc/src/vcpkg/build.cpp
Labels: category:vcpkg-bug, info:internal

#14083 [qt5-tools] Patch windeployqt to locate icudtd correctly.
  ports/qt5-tools/CONTROL
  ports/qt5-tools/icudt-debug-suffix.patch
  ports/qt5-tools/portfile.cmake
Labels: category:port-bug, info:reviewed

#14661 [vcpkg] fix cmake paths in tags (alternative 2)
  toolsrc/include/vcpkg/base/span.h
  toolsrc/src/vcpkg/cmakevars.cpp
Labels: category:vcpkg-bug, info:internal

#14510 [python3] Upgrade to 3.9.0
  ports/itk/portfile.cmake
  ports/itk/vcpkg.json
  ports/pybind11/CONTROL
  ports/pybind11/portfile.cmake
  ports/python3/0001-static-library.patch
  ports/python3/0002-static-crt.patch
  ports/python3/CONTROL
  ports/python3/portfile.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:port-update

#13449 [gdal] Update to 3.1.3
  docs/maintainers/portfile-functions.md
  docs/maintainers/vcpkg_acquire_msys.md
  docs/maintainers/vcpkg_build_make.md
  docs/maintainers/vcpkg_build_nmake.md
  docs/maintainers/vcpkg_check_linkage.md
  docs/maintainers/vcpkg_common_definitions.md
  docs/maintainers/vcpkg_configure_cmake.md
  docs/maintainers/vcpkg_configure_make.md
  docs/maintainers/vcpkg_download_distfile.md
  docs/maintainers/vcpkg_execute_in_download_mode.md
  docs/maintainers/vcpkg_execute_required_process.md
  docs/maintainers/vcpkg_find_acquire_program.md
  docs/maintainers/vcpkg_find_fortran.md
  docs/maintainers/vcpkg_fixup_pkgconfig.md
  docs/maintainers/vcpkg_from_github.md
  docs/maintainers/vcpkg_install_nmake.md
  docs/maintainers/vcpkg_internal_get_cmake_vars.md
  ports/gdal/0001-Fix-debug-crt-flags.patch
  ports/gdal/0002-Fix-build.patch
  ports/gdal/0002-Fix-static-build.patch
  ports/gdal/0003-Fix-static-build.patch
  ports/gdal/0003-Fix-std-fabs.patch
  ports/gdal/0004-Fix-std-fabs.patch
  ports/gdal/0005-Fix-cfitsio.patch
  ports/gdal/CONTROL
  ports/gdal/dependency_win.cmake
  ports/gdal/portfile.cmake
  ports/gdal/usage
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/pdal/PDALConfig.patch
  ports/pdal/fix-dependency.patch
  ports/pdal/portfile.cmake
  scripts/cmake/execute_process.cmake
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_build_nmake.cmake
  scripts/cmake/vcpkg_install_nmake.cmake
Labels: category:port-feature, category:port-update, category:tool-update, info:internal

#14655 [leptonica] add missing dependency
  ports/leptonica/CONTROL
Labels: category:port-bug, info:reviewed

#14648 [libheif] update to 1.9.1
  ports/libheif/CONTROL
  ports/libheif/dont_build_examples_and_gdk_pixbuf.patch
  ports/libheif/install-extra-headers.patch
  ports/libheif/portfile.cmake
  ports/libheif/remove_finding_pkgconfig.patch
Labels: category:port-update, info:internal, info:reviewed

#14647 [abseil] Re-fix cxx 17 standard, add macro ABSL_USE_CXX17
  ports/abseil/fix-cxx-standard.patch
  ports/abseil/fix-lnk2019-error.patch
  ports/abseil/fix-use-cxx17-stdlib-types.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  ports/grpc/00012-fix-use-cxx17.patch
  ports/grpc/CONTROL
  ports/grpc/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14646 [soci] Update to 4.0.1
  ports/soci/CONTROL
  ports/soci/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#14642 [zeromq] Add feature draft
  ports/zeromq/CONTROL
  ports/zeromq/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#14350 [curl] Fixes pkgconfig configuration file
  ports/curl/CONTROL
  ports/curl/portfile.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:port-bug, info:reviewed

#14615 [liblzma] use upstream CMakeLists.txt + Add pkgconfig.
  ports/liblzma/CMakeLists.txt
  ports/liblzma/CONTROL
  ports/liblzma/fix_config_include.patch
  ports/liblzma/portfile.cmake
  ports/liblzma/usage
  ports/liblzma/vcpkg-cmake-wrapper.cmake
  ports/liblzma/win_output_name.patch
Labels: category:port-feature, category:port-update, info:reviewed

#14623 [hunspell] Avoid automatically added lib prefix
  ports/hunspell/CMakeLists.txt
  ports/hunspell/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#14651 [openvdb] Fix dependency issue and usage issue
  ports/openvdb/0003-fix-cmake.patch
  ports/openvdb/CONTROL
  ports/openvdb/portfile.cmake
  ports/openvdb/usage
  ports/openvdb/vcpkg-cmake-wrapper.cmake
Labels: category:port-bug, info:internal, info:reviewed

#14243 [vcpkg] X_VCPKG_APPINSTALL_DEPS_INSTALL optionally install dependencies on install
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature

#14549 [vcpkg] initial openbsd (community) support
  docs/maintainers/vcpkg_common_definitions.md
  ports/openssl/unix/CMakeLists.txt
  scripts/bootstrap.sh
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/toolchains/openbsd.cmake
  toolsrc/cmake/utilities.cmake
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/tools.cpp
  toolsrc/src/vcpkg/triplet.cpp
  triplets/community/x64-openbsd.cmake
Labels: category:vcpkg-feature

#13704 [libdatachannel] Add new port
  ports/libdatachannel/fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
Labels: category:new-port

#14714 [vcpkg baseline][qt-advanced-docking-system] Update hash
  ports/qt-advanced-docking-system/CONTROL
  ports/qt-advanced-docking-system/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed
