Repository microsoft/vcpkg, pull requests merged in 2020-06, with the labels that each got.

#11609 [protobuf-c] Fix wrong dependency for feature test
  ports/protobuf-c/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#11668 [CI|python3] add setuptools
  scripts/azure-pipelines/linux/provision-image.sh
Labels: category:vm-update-request, info:reviewed

#11613 [vcpkg-baseline][unixodbc/nanodbc] Fix unixodbc build failure and set it as a dependency on nanodbc
  ports/nanodbc/CONTROL
  ports/unixodbc/CONTROL
  ports/unixodbc/portfile.cmake
  scripts/azure-pipelines/linux/provision-image.sh
Labels: category:port-bug, category:vm-update-request, info:internal, info:reviewed

#11643 [vtk] Fix single configuration builds
  ports/vtk/CONTROL
  ports/vtk/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11638 [nghttp2] Fix to build nghttp2 statically
  ports/nghttp2/CONTROL
  ports/nghttp2/portfile.cmake
Labels: category:port-bug, info:reviewed

#11635 [sqlite3] update to 3.32
  ports/sqlite3/CONTROL
  ports/sqlite3/portfile.cmake
Labels: category:port-update, info:reviewed

#11634 [gli] Add CMake config support
  ports/gli/CONTROL
  ports/gli/disable-test.patch
  ports/gli/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#11639 [freerdp] Optional 'urbdrc' feature
  ports/freerdp/CONTROL
  ports/freerdp/portfile.cmake
Labels: category:port-bug, info:reviewed

#11630 [abseil] Fix arm build
  ports/abseil/CONTROL
  ports/abseil/fix-arm-build.patch
  ports/abseil/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#11632 [mimalloc] Install mimalloc-redirect.dll to CMAKE_INSTALL_BINDIR
  ports/mimalloc/CONTROL
  ports/mimalloc/fix-cmake.patch
  ports/mimalloc/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11611 [wavelib] Add new port
  ports/wavelib/CONTROL
  ports/wavelib/portfile.cmake
Labels: category:new-port, info:reviewed

#11622 [refl-cpp] Add new port
  ports/refl-cpp/CONTROL
  ports/refl-cpp/portfile.cmake
Labels: category:new-port, info:reviewed

#11646 [vcpkg baseline][ocilib] Fix build failure
  ports/ocilib/CONTROL
  ports/ocilib/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11604 [vcpkg-baseline][quickfix] Fix build failure on arm64-windows
  ports/quickfix/CONTROL
  ports/quickfix/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11586 [vcpkg-baseline][zxing-cpp] Fix build failure
  ports/libiconv/CONTROL
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg-cmake-wrapper.cmake
  ports/zxing-cpp/0002-improve-features.patch
  ports/zxing-cpp/CONTROL
  ports/zxing-cpp/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11625 [jwt-cpp] Update to v0.4.0
  ports/jwt-cpp/CONTROL
  ports/jwt-cpp/fix-picojson.patch
  ports/jwt-cpp/fix-warning.patch
  ports/jwt-cpp/portfile.cmake
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#11533 [trantor] Add new port
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
Labels: category:new-port, info:reviewed

#11561 [polyhook2] Update to 2020-05-25
  ports/polyhook2/CONTROL
  ports/polyhook2/fix-build-error.patch
  ports/polyhook2/portfile.cmake
Labels: category:port-update, info:reviewed

#11562 [sockpp] Add new port
  ports/sockpp/CONTROL
  ports/sockpp/portfile.cmake
  ports/sockpp/sockppConfig.cmake
  ports/sockpp/usage
  scripts/ci.baseline.txt
Labels: category:new-port, requires:author-response

#11715 [osg] Fix conflict when asio and boost-asio are installed.
  ports/osg/CONTROL
  ports/osg/portfile.cmake
  ports/osg/use-boost-asio.patch
Labels: category:port-bug, info:internal

#11323 [vcpkg] add x86-wasm.cmake to community triplets
  .gitignore
  docs/maintainers/control-files.md
  docs/users/triplets.md
  toolsrc/src/vcpkg/logicexpression.cpp
  triplets/community/wasm32-emscripten.cmake
Labels: category:vcpkg-feature, info:reviewed, requires:author-response

#10319 [bond] updated version + added bond-over-grpc integration as feature
  ports/bond/CONTROL
  ports/bond/portfile.cmake
  ports/bond/skip-grpc-compilation.patch
Labels: info:reviewed

#11721 [gdk-pixbuf] GdkPixbuf fix for building on macOS
  ports/gdk-pixbuf/CMakeLists.txt
  ports/gdk-pixbuf/CONTROL
Labels: category:port-bug, info:reviewed

#11714 [icu] Update to 67.1
  ports/icu/CONTROL
  ports/icu/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11713 [ace] Fix missing cpp files
  ports/ace/CONTROL
  ports/ace/portfile.cmake
Labels: category:port-bug, info:reviewed

#11709 [libtorrent] Update to 1.2.7
  ports/libtorrent/CONTROL
  ports/libtorrent/portfile.cmake
Labels: category:port-update, info:reviewed

#11706 [fmt] add vcpkg_fixup_pkgconfig
  ports/fmt/CONTROL
  ports/fmt/portfile.cmake
Labels: category:port-feature, info:reviewed

#11704 [magic-enum] Update to v0.6.5
  ports/magic-enum/CONTROL
  ports/magic-enum/portfile.cmake
Labels: category:port-update, info:reviewed

#11703 [llvm] fix llvm-tblgen build with MSVC v19.26
  ports/llvm/0003-fix-vs2019-v16.6.patch
  ports/llvm/CONTROL
  ports/llvm/portfile.cmake
Labels: category:port-bug, info:reviewed

#11702 [enet] Update to 1.3.15
  ports/enet/CONTROL
  ports/enet/portfile.cmake
Labels: category:port-update, info:reviewed

#11647 [vcpkg baseline][libfabric] Only support dynamic build
  ports/libfabric/CONTROL
  ports/libfabric/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#11699 [jsoncons] Update to v0.153.0
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
Labels: category:port-update, info:reviewed

#11698 [google-cloud-cpp] Consolidate all google-cloud* packages
  ports/google-cloud-cpp-common/CONTROL
  ports/google-cloud-cpp-common/portfile.cmake
  ports/google-cloud-cpp-spanner/CONTROL
  ports/google-cloud-cpp-spanner/portfile.cmake
  ports/google-cloud-cpp/0001-fix-x86-build.patch
  ports/google-cloud-cpp/CONTROL
  ports/google-cloud-cpp/portfile.cmake
  ports/googleapis/CONTROL
  ports/googleapis/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#11694 [cpprestsdk] Avoid using pkg-config to find OpenSSL libraries on Linux
  ports/cpprestsdk/CONTROL
  ports/cpprestsdk/portfile.cmake
Labels: category:port-feature, info:reviewed

#11652 [Protozero] Add new port
  ports/protozero/CONTROL
  ports/protozero/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#11608 [amqpcpp] Update to 4.1.7
  ports/amqpcpp/CONTROL
  ports/amqpcpp/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:internal, info:reviewed

#11759 [mpir] Baseline-skip on all platforms due to conflict with gmp.
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#11764 [vcpkg] Add directories to x-ci-clean lost in merge conflict resolution.
  scripts/azure-pipelines/linux/azure-pipelines.yml
Labels: category:infrastructure, info:internal

#11732 [nowide] Set nowide to empty package
  ports/nowide/CONTROL
  ports/nowide/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11742 [vcpkg-baseline][manyport] Fix baseline error
  ports/cpp-taskflow/CONTROL
  ports/cpp-taskflow/portfile.cmake
  ports/eabase/CONTROL
  ports/eabase/portfile.cmake
  ports/fastrtps/CONTROL
  ports/fastrtps/portfile.cmake
  ports/sdformat9/CONTROL
  ports/sdformat9/fix-dependency-urdfdom.patch
  ports/sdformat9/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#11779 [vcpkg] Provide $(VcpkgRoot) and $(VcpkgCurrentInstalledDir) for customers.
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug

#11763 docs: fix CMakeLists example for SQLite3
  docs/examples/installing-and-using-packages.md
Labels: category:documentation, info:reviewed

#11750 [vcpkg README] Add #include<C++> channel
  README.md
Labels: category:vcpkg-feature, requires:testing

#11778 [blend2d] Update to beta_2020-06-01
  ports/blend2d/CONTROL
  ports/blend2d/portfile.cmake
Labels: category:port-update, info:reviewed

#11774 [skyr-url] Changed version number for skyr-url
  ports/skyr-url/CONTROL
  ports/skyr-url/portfile.cmake
Labels: category:port-update, info:reviewed

#11766 [winreg] Update to 2.4.0
  ports/winreg/CONTROL
  ports/winreg/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11725 [p-ranav-csv2] Add new port
  ports/p-ranav-csv/CONTROL
  ports/p-ranav-csv2/CONTROL
  ports/p-ranav-csv2/portfile.cmake
Labels: category:new-port, info:reviewed

#11722 [librsvg] Fix for macOS
  ports/librsvg/CMakeLists.txt
  ports/librsvg/CONTROL
Labels: category:port-bug, info:reviewed

#11719 [mozjpeg] Update to latest commit
  ports/mozjpeg/CONTROL
  ports/mozjpeg/fix-install-error.patch
  ports/mozjpeg/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11693 [CI|gfortran] Install gfortran for OSX and Linux CI
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/osx/azure-pipelines.yml
Labels: category:infrastructure, depends:vm-update, info:reviewed

#11564 [pcre] Add pkgconfig files
  ports/pcre/CONTROL
  ports/pcre/portfile.cmake
Labels: category:port-feature, info:reviewed

#11839 [vcpkg] Fix OSX CI by ensuring the downloads directory exists
  ports/tensorflow-cc/CONTROL
  ports/tensorflow-cc/portfile.cmake
  scripts/azure-pipelines/clean-tombstones.yml
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/osx/initialize-environment.sh
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/ci.baseline.txt
  toolsrc/src/vcpkg/commands.ciclean.cpp
Labels: category:infrastructure, info:internal, info:reviewed

#11785 [mlpack] Explicitly depend on stb
  ports/mlpack/CONTROL
  ports/mlpack/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature

#11472 [Arrow] Update to 0.17.1
  ports/arrow/CONTROL
  ports/arrow/all.patch
  ports/arrow/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#11771 [sqlpp11] update to v0.59
  ports/sqlpp11-connector-mysql/CONTROL
  ports/sqlpp11/CONTROL
  ports/sqlpp11/ddl2cpp_path.patch
  ports/sqlpp11/portfile.cmake
Labels: category:port-update, info:reviewed

#11867 [cpprestsdk] Fix find dependency openssl
  ports/cpprestsdk/CONTROL
  ports/cpprestsdk/fix-find-openssl.patch
  ports/cpprestsdk/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11841 [cr] Add new port
  ports/cr/CONTROL
  ports/cr/portfile.cmake
Labels: category:new-port, info:reviewed

#11830 [unicorn-lib] Update to 01cc7fc (2020-03-02)
  ports/unicorn-lib/CONTROL
  ports/unicorn-lib/portfile.cmake
Labels: category:port-update, info:reviewed

#11827 [abseil] Enable dynamic build on Windows
  ports/abseil/CONTROL
  ports/abseil/fix-arm-build.patch
  ports/abseil/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#11826 [sol] Update to version 3.2.1
  ports/sol2/CONTROL
  ports/sol2/portfile.cmake
Labels: category:port-update, info:reviewed

#11814 [magic-enum] Update to v0.6.6
  ports/magic-enum/CONTROL
  ports/magic-enum/portfile.cmake
Labels: category:port-update, info:reviewed

#11736 [avisynthplus] Upgrade to 3.6.0
  ports/avisynthplus/CONTROL
  ports/avisynthplus/generate-version-3.5.patch
  ports/avisynthplus/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, depends:vm-update, info:reviewed

#11633 [plibsys] Fix failures on linux and osx
  ports/plibsys/CONTROL
  ports/plibsys/fix_configuration.patch
  ports/plibsys/portfile.cmake
  ports/plibsys/usage
  ports/plibsys/vcpkg-cmake-wrapper.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#11865 [vcpkg baseline] Fix baseline
  ports/librsvg/CONTROL
  ports/librsvg/portfile.cmake
  ports/libxmp-lite/CONTROL
  ports/libxmp-lite/portfile.cmake
  ports/msix/CONTROL
  ports/msix/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11599 [json-schema-validator] Add new port
  ports/json-schema-validator/CONTROL
  ports/json-schema-validator/cmake-find-package.patch
  ports/json-schema-validator/fix-ambiguous-assignment.patch
  ports/json-schema-validator/forward-find-package.patch
  ports/json-schema-validator/portfile.cmake
  ports/json-schema-validator/usage
Labels: category:new-port, info:reviewed

#11440 [usd] Fix build error on Linux
  ports/usd/CONTROL
  ports/usd/fix-build-error.patch
  ports/usd/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#11429 [opencv4] Fix linking halide
  ports/opencv4/CONTROL
  ports/opencv4/portfile.cmake
Labels: category:port-bug, info:reviewed

#11659 [log4cxx] Add new port
  ports/log4cxx/001_msvc.patch
  ports/log4cxx/CMakeLists.txt
  ports/log4cxx/CONTROL
  ports/log4cxx/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#11689 [xbyak] Add new port
  ports/xbyak/CONTROL
  ports/xbyak/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#11711 [licensepp] Add new port
  ports/cryptopp/CONTROL
  ports/cryptopp/portfile.cmake
  ports/licensepp/CONTROL
  ports/licensepp/FindCryptoPP.cmake
  ports/licensepp/fix-cmake.patch
  ports/licensepp/portfile.cmake
  ports/licensepp/use-old-pem-pack.patch
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed

#11716 [sqlite] Updated to 3.32.1 to fix a security vulnerability
  ports/sqlite3/CONTROL
  ports/sqlite3/portfile.cmake
Labels: category:port-update, info:reviewed

#9426 [libpcap] Fix pkgconfig libs and include path
  ports/libpcap/0001-fix-package-name.patch
  ports/libpcap/CONTROL
  ports/libpcap/portfile.cmake
Labels: category:port-feature, info:reviewed

#11344 [openssl-unix] Fix openssl-unix android build
  ports/openssl-unix/CMakeLists.txt
  ports/openssl-unix/CONTROL
  ports/openssl-unix/portfile.cmake
Labels: category:port-bug, info:reviewed

#11458 [ms-angle] Set ms-angle to empty package
  ports/ms-angle/001-fix-uwp.patch
  ports/ms-angle/CMakeLists.txt
  ports/ms-angle/CONTROL
  ports/ms-angle/portfile.cmake
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, requires:discussion

#11729 [polyhook2] Update polyhook to latest
  ports/polyhook2/CONTROL
  ports/polyhook2/portfile.cmake
Labels: category:port-update, info:reviewed

#11606 [v-hacd] Add new port
  ports/v-hacd/CMakeLists.txt
  ports/v-hacd/CONTROL
  ports/v-hacd/fix-cmake.patch
  ports/v-hacd/portfile.cmake
Labels: category:new-port, info:reviewed

#11723 [sciter] Update to 4.4.3.20.7852
  ports/sciter/CONTROL
  ports/sciter/portfile.cmake
Labels: category:port-update, info:reviewed

#11844 [libgit2] Update to 1.0.1
  ports/libgit2/CONTROL
  ports/libgit2/portfile.cmake
Labels: category:port-update, info:reviewed

#11810 [vcpkg-acquire-msys] Improvement
  ports/ffmpeg/CONTROL
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: category:vcpkg-bug, info:reviewed

#11852 [irrlicht] Add Supports and fix environment variable reference
  ports/irrlicht/CMakeLists.txt
  ports/irrlicht/CONTROL
  ports/irrlicht/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11863 [libosmium ] added new port
  ports/libosmium/CONTROL
  ports/libosmium/portfile.cmake
Labels: category:new-port, info:reviewed

#11866 [uWbSockets] Update to 18.1.0
  ports/uwebsockets/CONTROL
  ports/uwebsockets/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11815 [nameof] Update to 0.9.4
  ports/nameof/CONTROL
  ports/nameof/portfile.cmake
Labels: category:port-update, info:reviewed

#11883 [WinReg] Update to 3.0.1
  ports/winreg/CONTROL
  ports/winreg/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11868 [cairo] Install the xlib header file when selecting feature x11
  ports/cairo/CMakeLists.txt
  ports/cairo/CONTROL
  ports/cairo/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#11870 [lua] Add vcpkg-cmake-wrapper
  ports/lua/CONTROL
  ports/lua/portfile.cmake
  ports/lua/vcpkg-cmake-wrapper.cmake.in
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#11795 [libvpx] Add cmake config file
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
  ports/libvpx/unofficial-libvpx-config.cmake.in
Labels: category:port-feature, info:reviewed

#11794 [directxtk][directxtk12][directxtex][directxmesh] Update to latest version
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxtex/CONTROL
  ports/directxtex/portfile.cmake
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
Labels: category:port-update, info:reviewed

#11793 [spdlog] Update to 1.61
  ports/spdlog/CONTROL
  ports/spdlog/disable-master-project-check.patch
  ports/spdlog/fix-error-4275.patch
  ports/spdlog/fix-feature-export.patch
  ports/spdlog/fix-include.patch
  ports/spdlog/fix-uwp.patch
  ports/spdlog/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11735 [gzip-hpp] Add new port
  ports/gzip-hpp/CONTROL
  ports/gzip-hpp/portfile.cmake
Labels: category:new-port, info:reviewed

#11365 [vcpkg] [cudnn] [msmpi] [openmpi] Update VMSS
  docs/maintainers/control-files.md
  ports/msmpi/CONTROL
  ports/msmpi/portfile.cmake
  ports/openmpi/CONTROL
  ports/openmpi/portfile.cmake
  ports/sdl2/CONTROL
  ports/sdl2/fix-EventToken-header-reference.patch
  ports/sdl2/portfile.cmake
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/clean-tombstones.yml
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-vmss.ps1
  scripts/azure-pipelines/windows/provision-image.ps1
  scripts/boost/generate-ports.ps1
  scripts/ci.baseline.txt
Labels: category:infrastructure, info:internal, info:reviewed

#11146 [vcpkg] Add nologo to windows toolchain
  scripts/toolchains/windows.cmake
Labels: requires:discussion

#11891 [vcpkg] Fix bootstrap on VS2015
  toolsrc/src/vcpkg/metrics.cpp
Labels: category:vcpkg-bug, info:internal

#11858 [vcpkg] Merge unit test pass into x86-windows.
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/run-tests.yml
Labels: category:infrastructure, info:internal

#11892 [gtk] DISABLE_PARALLEL_CONFIGURE
  ports/gtk/CONTROL
  ports/gtk/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11888 [WinReg] Update to 3.1.0
  ports/winreg/CONTROL
  ports/winreg/portfile.cmake
Labels: category:port-update, info:reviewed

#11884 [glib/gts] Add pkgconfig files
  ports/glib/CMakeLists.txt
  ports/glib/CONTROL
  ports/glib/portfile.cmake
  ports/gts/CONTROL
  ports/gts/fix-pkgconfig.patch
  ports/gts/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#11869 [xalan-c] Fix import Xalan.exe
  ports/xalan-c/CONTROL
  ports/xalan-c/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#11849 [libuuid] Install uuid.pc file
  ports/libuuid/CONTROL
  ports/libuuid/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#11789 [fmt] Update to 6.2.1
  ports/fmt/CONTROL
  ports/fmt/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11796 [LAStools] Update to 200509
  ports/lastools/CONTROL
  ports/lastools/fix_install_paths_lastools.patch
  ports/lastools/portfile.cmake
Labels: category:port-update, info:reviewed

#11728 [discord-game-sdk] Won't compile with certain compilers
  ports/discord-game-sdk/CONTROL
  ports/discord-game-sdk/include-cstdint.patch
  ports/discord-game-sdk/portfile.cmake
Labels: category:port-bug, info:reviewed

#11738 [libpmemobj-cpp] Update to 1.10
  ports/libpmemobj-cpp/CONTROL
  ports/libpmemobj-cpp/fixlibpmemobj-cpp.patch
  ports/libpmemobj-cpp/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11733 [librabbitmq] Update to use rabbitmq-config.cmake
  ports/librabbitmq/CONTROL
  ports/librabbitmq/portfile.cmake
Labels: category:port-update, info:reviewed

#11708 [python3] Update to Python 3.8
  ports/hyperscan/CONTROL
  ports/python3/0001-static-library.patch
  ports/python3/0002-static-crt.patch
  ports/python3/CONTROL
  ports/python3/portfile.cmake
  ports/vtk/CONTROL
  ports/vtk/portfile.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:port-update, info:reviewed

#11473 [ace] tao as feature
  ports/ace/CONTROL
  ports/ace/portfile.cmake
Labels: category:port-feature, info:reviewed

#11683 [bitserializer] Update to new version 0.10
  ports/bitserializer-cpprestjson/CONTROL
  ports/bitserializer-cpprestjson/portfile.cmake
  ports/bitserializer-pugixml/CONTROL
  ports/bitserializer-pugixml/portfile.cmake
  ports/bitserializer-rapidjson/CONTROL
  ports/bitserializer-rapidjson/portfile.cmake
  ports/bitserializer-rapidyaml/CONTROL
  ports/bitserializer-rapidyaml/portfile.cmake
  ports/bitserializer/CONTROL
  ports/bitserializer/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#11616 [tinyxml2] Update to 8.0.0; avoid exporting symbols when building static libraries
  ports/tinyxml2/CONTROL
  ports/tinyxml2/fix-symbol-exports.patch
  ports/tinyxml2/portfile.cmake
Labels: category:port-update, info:reviewed

#10731 [libpcap] Enable compilation of libpcap port on x86-windows and x64-windows
  ports/libpcap/CONTROL
  ports/libpcap/add-disable-packet-option.patch
  ports/libpcap/install-pc-on-msvc.patch
  ports/libpcap/portfile.cmake
  ports/winpcap/CONTROL
  ports/winpcap/portfile.cmake
  scripts/ci.baseline.txt
Labels: info:reviewed, requires:discussion

#11407 [ccd] Add emscripten support
  ports/ccd/CONTROL
  ports/ccd/portfile.cmake
  ports/ccd/support-emscripten.patch
Labels: category:port-feature, requires:discussion

#11410 [infoware] Add port of infoware library
  ports/infoware/CONTROL
  ports/infoware/portfile.cmake
Labels: category:new-port, info:reviewed

#11896 [vcpkg baseline] Fix baseline error
  ports/dmlc/CONTROL
  ports/dmlc/portfile.cmake
  ports/geographiclib/CONTROL
  ports/geographiclib/portfile.cmake
  ports/itpp/CONTROL
  ports/itpp/portfile.cmake
  ports/mpg123/CONTROL
  ports/mpg123/portfile.cmake
  ports/msix/CONTROL
  ports/msix/portfile.cmake
  ports/plplot/CONTROL
  ports/plplot/portfile.cmake
  ports/pthreads/CONTROL
  ports/pthreads/portfile.cmake
  ports/qwt/CONTROL
  ports/qwt/portfile.cmake
  ports/soundtouch/CONTROL
  ports/soundtouch/portfile.cmake
  ports/tclap/CONTROL
  ports/tclap/portfile.cmake
  ports/tinyfiledialogs/CONTROL
  ports/tinyfiledialogs/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-bug, category:vcpkg-bug, info:internal

#11859 [nowide] Restores the standalone version
  ports/nowide/CONTROL
  ports/nowide/portfile.cmake
Labels: requires:discussion

#9205 [mpir] Add mpirxx.lib
  ports/mpir/CONTROL
  ports/mpir/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed, requires:discussion

#4361 Adds vcpkg item to project settings in Visual Studio
  ports/fftw3/CONTROL
  ports/fftw3/portfile.cmake
  scripts/buildsystems/msbuild/vcpkg-general.xml
  scripts/buildsystems/msbuild/vcpkg.props
  scripts/buildsystems/msbuild/vcpkg.targets
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/commands.integrate.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:reviewed

#11842 [vcpkg] Extract common paths settings to make_cmake_cmd...
  scripts/ports.cmake
  toolsrc/include/vcpkg/base/system.process.h
  toolsrc/include/vcpkg/buildenvironment.h
  toolsrc/include/vcpkg/commands.h
  toolsrc/src/vcpkg-test/commands.create.cpp
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/buildenvironment.cpp
  toolsrc/src/vcpkg/cmakevars.cpp
  toolsrc/src/vcpkg/commands.create.cpp
  toolsrc/vcpkglib/vcpkglib.vcxproj
Labels: category:vcpkg-bug, info:internal

#11978 Attempt to mitigate Windows Defender detections by making provision-image.ps1 not a powershell script
  scripts/azure-pipelines/windows/create-vmss.ps1
  scripts/azure-pipelines/windows/provision-image.txt
Labels: category:infrastructure, info:internal

#11987 [slikenet] Add cmake config and targets file
  ports/slikenet/CONTROL
  ports/slikenet/fix-install.patch
  ports/slikenet/portfile.cmake
  ports/slikenet/slikenet-config.cmake
  ports/slikenet/usage
  ports/slikenet/vcpkg-cmake-wrapper.cmake
Labels: category:port-feature, info:internal

#11984 [breakpad] Fix build failure on OSX
  ports/breakpad/CMakeLists.txt
  ports/breakpad/CONTROL
  ports/breakpad/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal, info:reviewed

#11015 [vcpkg] Fix issue #9781 by exporting from the installed directory
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/install.h
  toolsrc/src/vcpkg/commands.exportifw.cpp
  toolsrc/src/vcpkg/export.chocolatey.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/install.cpp
Labels: category:vcpkg-bug, info:internal, requires:author-response

#11981 [thrift] Update to 0.13.0 and fix OSX build
  ports/thrift/CONTROL
  ports/thrift/portfile.cmake
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:port-feature, category:port-update, depends:vm-update, info:internal, info:reviewed

#11963 [libvpx] Support arm64-windows
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal, info:reviewed

#11982 [libzip] Update to 1.7.1
  ports/libzip/CONTROL
  ports/libzip/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#11971 [directxtk12][directxtex] Update to latest version
  ports/directxtex/CONTROL
  ports/directxtex/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
Labels: category:port-update, info:reviewed

#12000 [vcpkg] Clean tombstones in every build except PR validations
  scripts/azure-pipelines/azure-pipelines.yml
Labels: category:infrastructure, info:internal

#11965 [vcpkg baseline] Retrigger failed ports in baseline
  ports/geographiclib/CONTROL
  ports/geographiclib/portfile.cmake
  ports/polyclipping/CONTROL
  ports/polyclipping/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:infrastructure, info:internal, info:reviewed

#11966 [tinyxml2] Fix generation of pkg-config file
  ports/tinyxml2/CONTROL
  ports/tinyxml2/fix-debug-postfix.patch
  ports/tinyxml2/portfile.cmake
Labels: category:port-bug, info:reviewed

#11955 [nanobench] Add new port
  ports/nanobench/CONTROL
  ports/nanobench/portfile.cmake
Labels: category:new-port, info:reviewed

#11952 [Document]Mention --ignore-space-at-eol in patching.md
  docs/examples/patching.md
Labels: category:documentation, info:reviewed

#11941 [nlohmann-json] Upgrade to 3.8.0
  ports/nlohmann-json/CONTROL
  ports/nlohmann-json/portfile.cmake
Labels: category:port-update, info:reviewed

#11938 [vcpkg] Add mirror to download Strawberry Perl
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:vcpkg-feature, info:reviewed

#11937 [trantor] Bump version to v1.0.0-rc14
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
Labels: category:port-update, info:reviewed

#11931 [vcpkg] Put user-defined configuration triplets path on top of the search queue
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:reviewed

#11926 [graphicsmagick] fix Magick++.h header location.
  ports/graphicsmagick/CMakeLists.txt
  ports/graphicsmagick/CONTROL
Labels: category:port-bug, info:reviewed

#11912 [bitsery] Update to 5.1.0 version
  ports/bitsery/CONTROL
  ports/bitsery/fix-install-paths.patch
  ports/bitsery/portfile.cmake
Labels: category:port-update, info:reviewed

#11911 [skyr-url] Updated version number of skyr-url
  ports/skyr-url/CONTROL
  ports/skyr-url/portfile.cmake
Labels: category:port-update, info:reviewed

#11999 [vcpkg] Use SSH keys instead of password authentication when minting Linux scale sets
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/windows/create-vmss.ps1
Labels: category:infrastructure, depends:vm-update, info:internal

#11654 [vcpkg] Track compiler information in ABI
  scripts/detect_compiler/CMakeLists.txt
  scripts/detect_compiler/portfile.cmake
  scripts/ports.cmake
  toolsrc/include/vcpkg/base/expected.h
  toolsrc/include/vcpkg/base/pragmas.h
  toolsrc/include/vcpkg/base/util.h
  toolsrc/include/vcpkg/binarycaching.h
  toolsrc/include/vcpkg/build.h
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/export.prefab.h
  toolsrc/include/vcpkg/vcpkgcmdarguments.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/base/downloads.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/cmakevars.cpp
  toolsrc/src/vcpkg/commands.buildexternal.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/commands.setinstalled.cpp
  toolsrc/src/vcpkg/commands.upgrade.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/export.prefab.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:internal

#9960 [CGNS/ParaView] Add new ports
  ports/cgns/CONTROL
  ports/cgns/cgnsconfig.h
  ports/cgns/defines.patch
  ports/cgns/hdf5.patch
  ports/cgns/linux_lfs.patch
  ports/cgns/portfile.cmake
  ports/cgns/zlib_szip_mpi.patch
  ports/paraview/CONTROL
  ports/paraview/VisIt_Build.patch
  ports/paraview/cgns.patch
  ports/paraview/paraview_build.patch
  ports/paraview/portfile.cmake
  ports/paraview/python_include.patch
  ports/paraview/python_wrapper.patch
  ports/paraview/qt_plugin.patch
  ports/paraview/qt_static_plugins.patch
  ports/paraview/remove_duplicates.patch
  ports/paraview/removedoublesymbols.patch
  ports/vtk/6890.diff
  ports/vtk/CONTROL
  ports/vtk/FindLZMA.patch
  ports/vtk/FindLibHaru.patch
  ports/vtk/NoUndefDebug.patch
  ports/vtk/SplitLibraryConfigurations.cmake
  ports/vtk/portfile.cmake
  ports/vtk/python_debug.patch
  ports/vtk/pythonwrapper.patch
  scripts/ci.baseline.txt
Labels: category:new-port, info:reviewed, requires:discussion

#12052 [so5extra] update to v.1.4.1.
  ports/so5extra/CONTROL
  ports/so5extra/portfile.cmake
Labels: category:port-update, info:reviewed

#12051 [SObjectizer] update to v.5.7.1.
  ports/sobjectizer/CONTROL
  ports/sobjectizer/portfile.cmake
Labels: category:port-update, info:reviewed

#11747 [hdf5] Update HDF5 to 1.12
  ports/field3d/CONTROL
  ports/field3d/hdf5.api.patch
  ports/field3d/portfile.cmake
  ports/hdf5/CONTROL
  ports/hdf5/export-private.patch
  ports/hdf5/fix-generate.patch
  ports/hdf5/hdf5_config.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/static-targets.patch
  ports/hdf5/szip.patch
  scripts/ci.baseline.txt
Labels: category:port-update, depends:different-pr, info:reviewed

#12050 [freerdp] Update to version 2.1.1
  ports/freerdp/CONTROL
  ports/freerdp/fix-libusb.patch
  ports/freerdp/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#12047 [openal-soft] Fix build failure by updating the library
  ports/openal-soft/CONTROL
  ports/openal-soft/fix-arm-builds.patch
  ports/openal-soft/portfile.cmake
Labels: category:port-update, info:reviewed

#12036 [absent] Bump version 0.3.1
  ports/absent/CONTROL
  ports/absent/portfile.cmake
Labels: category:port-update, info:reviewed

#12026 [cjson] fix windows-static for don't export symbols
  ports/cjson/CONTROL
  ports/cjson/portfile.cmake
Labels: category:port-bug, info:reviewed

#12024 [Drogon] Add new port
  ports/drogon/CONTROL
  ports/drogon/drogon_ctl_install.patch
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.patch
Labels: category:new-port, info:reviewed

#12023 [open62541] update to v1.1, add encryption support
  ports/open62541/CONTROL
  ports/open62541/fix-install-bindir.patch
  ports/open62541/portfile.cmake
Labels: category:port-feature, category:port-update, info:reviewed

#12022 [abseil] Fix usage issue
  ports/abseil/CONTROL
  ports/abseil/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#12020 [nowide] Update to 11.0.0
  ports/nowide/CONTROL
  ports/nowide/portfile.cmake
Labels: category:port-update, info:reviewed
