Repository microsoft/vcpkg, pull requests merged in 2021-07, with the labels that each got.

#18645 [vcpkg baseline][simage] Update to 1.8.1
  ports/simage/CONTROL
  ports/simage/disable-cpackd.patch
  ports/simage/disable-examples.patch
  ports/simage/disable-tests.patch
  ports/simage/link-flac-library.patch
  ports/simage/link-math-library.patch
  ports/simage/link-ogg-library.patch
  ports/simage/portfile.cmake
  ports/simage/potentially-uninitialized-local-pointer-variable.patch
  ports/simage/requies-all-dependencies.patch
  ports/simage/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/simage.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed, requires:vcpkg-team-review

#17790 [curl] Fix linker flags in curl-config and libcurl.pc for osx
  ports/curl/0020-fix-pc-file.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, requires:vcpkg-team-review

#18747 [halide] Fix several issues with the Halide port after v12
  ports/halide/portfile.cmake
  ports/halide/usage
  ports/halide/vcpkg.json
  versions/baseline.json
  versions/h-/halide.json
Labels: category:port-bug, info:reviewed

#18745 Remove nettle from ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:code-cleanup, info:internal, info:reviewed

#18740 Remove ability to disable exception support in TBB runtime
  ports/tbb/CMakeLists.txt
  ports/tbb/CONTROL
  ports/tbb/portfile.cmake
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-bug, info:reviewed

#18729 [libressl] update to 3.3.3
  ports/libressl/0001-enable-ocspcheck-on-msvc.patch
  ports/libressl/0002-suppress-msvc-warnings.patch
  ports/libressl/CONTROL
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: category:port-update, info:reviewed

#18728 [asio] update to 1.18.2
  ports/asio/inline_dummy_return.patch
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18710 [json-dto] Update to 0.2.13
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update, info:reviewed

#18673 [docs] Fix typo in README_ko_KR.md
  README_ko_KR.md
Labels: category:documentation, info:reviewed

#18694 [geographiclib] Update to version 1.52
  ports/geographiclib/cxx-library-only.patch
  ports/geographiclib/portfile.cmake
  ports/geographiclib/vcpkg.json
  versions/baseline.json
  versions/g-/geographiclib.json
Labels: category:port-update, info:reviewed

#18639 [spdlog] Do not build examples
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-feature, info:reviewed

#18643 [drogon] Update to 1.7.1
  ports/drogon/CONTROL
  ports/drogon/portfile.cmake
  ports/drogon/ssize_t.patch
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-update, info:reviewed

#18646 [socket-io-client] update to 3.0.0
  ports/socket-io-client/CONTROL
  ports/socket-io-client/fix-error-C3321.patch
  ports/socket-io-client/fix-file-not-found.patch
  ports/socket-io-client/fix-install.patch
  ports/socket-io-client/portfile.cmake
  ports/socket-io-client/vcpkg.json
  versions/baseline.json
  versions/s-/socket-io-client.json
Labels: category:port-update, info:internal

#18652 [morton-nd] Update to v4.0.0.
  ports/morton-nd/CONTROL
  ports/morton-nd/portfile.cmake
  versions/baseline.json
  versions/m-/morton-nd.json
Labels: category:port-update, info:reviewed

#18621 [libdatachannel] Fix usage
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-bug, info:internal

#18622 [fmt] Fix an easily avoidable compilation warning
  ports/fmt/fix-warning4189.patch
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:port-bug, info:reviewed

#18627 [sentry-native] Update to 0.4.10
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#18601 [Vc] Update to 1.4.2
  ports/vc/CONTROL
  ports/vc/portfile.cmake
  versions/baseline.json
  versions/v-/vc.json
Labels: category:port-update, info:reviewed

#18596 [seal] Fixed cannot find SEAL.
  ports/seal/portfile.cmake
  ports/seal/vcpkg.json
  versions/baseline.json
  versions/s-/seal.json
Labels: category:port-bug, info:reviewed

#18569 Fix mongo-c-driver for custom VCPKG_BUILD_TYPE
  ports/mongo-c-driver/CONTROL
  ports/mongo-c-driver/portfile.cmake
  versions/baseline.json
  versions/m-/mongo-c-driver.json
Labels: category:port-bug, info:reviewed

#18741 [protobuf] Fixed protoc path
  ports/protobuf/vcpkg-cmake-wrapper.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:reviewed

#18671 [recast] Export unofficial target
  ports/recast/CMakeLists.txt
  ports/recast/CONTROL
  ports/recast/portfile.cmake
  ports/recast/vcpkg.json
  versions/baseline.json
  versions/r-/recast.json
Labels: category:port-feature, info:internal, info:reviewed

#18156 [vcpkg] Expand Architecture list with escape chars
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-feature, info:reviewed, requires:vcpkg-team-review

#18714 [libxml2] Fix target
  ports/libxml2/vcpkg-cmake-wrapper.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:reviewed

#18705 [bzip2] Update repository
  ports/bzip2/portfile.cmake
  ports/bzip2/vcpkg.json
  versions/b-/bzip2.json
  versions/baseline.json
Labels: category:port-update, info:internal

#18724 [tgui] Fix feature tool dependency
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-bug, info:internal, info:reviewed

#18389 [OpenSSL] support for "no-autoload-config" config option
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#18409 [rmlui] Add Rmlui library
  ports/rmlui/add-robin-hood.patch
  ports/rmlui/portfile.cmake
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:new-port, info:reviewed

#18439 [cnl] Update to version 1.1.7
  ports/cnl/CONTROL
  ports/cnl/portfile.cmake
  versions/baseline.json
  versions/c-/cnl.json
Labels: category:port-update, info:reviewed

#18607 [vcpkg.cmake] fix X_VCPKG_APPLOCAL_DEPS_INSTALL
  scripts/buildsystems/vcpkg.cmake
Labels: category:scripts-audit, category:vcpkg-bug, info:internal, info:world-rebuild

#18279 [klein] create a new port
  ports/klein/find_simde_first.patch
  ports/klein/portfile.cmake
  ports/klein/usage
  ports/klein/vcpkg.json
  versions/baseline.json
  versions/k-/klein.json
Labels: category:new-port, info:reviewed

#18767 [vcpkg baseline][cnl] Disable tests
  ports/cnl/CONTROL
  ports/cnl/disable-test.patch
  ports/cnl/portfile.cmake
  ports/cnl/vcpkg.json
  versions/baseline.json
  versions/c-/cnl.json
Labels: category:port-bug, info:internal, info:reviewed

#18825 [hdf5] Fix linking order in pc file
  ports/hdf5/pkgconfig-link-order.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug

#18814 [catch2] Fix linux build in NTFS fs
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-bug, info:reviewed

#18807 Improve binarycaching.md Azure DevOps example
  docs/users/binarycaching.md
Labels: category:documentation, requires:vcpkg-team-review

#18826 [sdl2-mixer] Add fluidsynth feature
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-feature

#18765 [paho-mqtt] update to 1.3.9
  ports/paho-mqtt/CONTROL
  ports/paho-mqtt/fix-install-path.patch
  ports/paho-mqtt/portfile.cmake
  ports/paho-mqtt/vcpkg.json
  versions/baseline.json
  versions/p-/paho-mqtt.json
Labels: category:port-update, info:internal

#18787 [Qt6] Update to 6.1.2
  ports/qt/vcpkg.json
  ports/qt5compat/vcpkg.json
  ports/qtactiveqt/vcpkg.json
  ports/qtbase/clang-cl_source_location.patch
  ports/qtbase/cmake/qt_port_details.cmake
  ports/qtbase/dc5e7b6.diff
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  ports/qtcharts/vcpkg.json
  ports/qtcoap/vcpkg.json
  ports/qtdatavis3d/vcpkg.json
  ports/qtdeclarative/vcpkg.json
  ports/qtdoc/vcpkg.json
  ports/qtimageformats/vcpkg.json
  ports/qtlottie/vcpkg.json
  ports/qtmqtt/vcpkg.json
  ports/qtnetworkauth/vcpkg.json
  ports/qtopcua/vcpkg.json
  ports/qtquick3d/vcpkg.json
  ports/qtquickcontrols2/vcpkg.json
  ports/qtquicktimeline/vcpkg.json
  ports/qtscxml/vcpkg.json
  ports/qtshadertools/vcpkg.json
  ports/qtsvg/vcpkg.json
  ports/qttools/vcpkg.json
  ports/qttranslations/vcpkg.json
  ports/qtvirtualkeyboard/vcpkg.json
  ports/qtwayland/vcpkg.json
  versions/baseline.json
  versions/q-/qt.json
  versions/q-/qt5compat.json
  versions/q-/qtactiveqt.json
  versions/q-/qtbase.json
  versions/q-/qtcharts.json
  versions/q-/qtcoap.json
  versions/q-/qtdatavis3d.json
  versions/q-/qtdeclarative.json
  versions/q-/qtdoc.json
  versions/q-/qtimageformats.json
  versions/q-/qtlottie.json
  versions/q-/qtmqtt.json
  versions/q-/qtnetworkauth.json
  versions/q-/qtopcua.json
  versions/q-/qtquick3d.json
  versions/q-/qtquickcontrols2.json
  versions/q-/qtquicktimeline.json
  versions/q-/qtscxml.json
  versions/q-/qtshadertools.json
  versions/q-/qtsvg.json
  versions/q-/qttools.json
  versions/q-/qttranslations.json
  versions/q-/qtvirtualkeyboard.json
  versions/q-/qtwayland.json
Labels: category:port-update, info:reviewed

#18803 [ffmpeg] fix LGPL build, disable avisynthplus on static builds
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#18759 [google-cloud-cpp] update to latest release (v1.29.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#18750 [exiv2] update to 0.27.4
  ports/exiv2/CONTROL
  ports/exiv2/fix-ninja-error.patch
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-update, info:internal, info:reviewed

#18706 [crow] update to v0.3+1 (0.3.1)
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-update, info:reviewed

#18725 [irrlicht] Add OSX support
  ports/irrlicht/CMakeLists.txt
  ports/irrlicht/CONTROL
  ports/irrlicht/fix-osx-compilation.patch
  ports/irrlicht/portfile.cmake
  ports/qt5-3d/CONTROL
  ports/qt5-3d/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/irrlicht.json
  versions/q-/qt5-3d.json
Labels: category:port-feature, info:reviewed

#18771 [mapbox-wagyu] add new port
  ports/mapbox-wagyu/portfile.cmake
  ports/mapbox-wagyu/vcpkg.json
  versions/baseline.json
  versions/m-/mapbox-wagyu.json
Labels: category:new-port, info:reviewed

#18360 [ftxui] Add new port (fix #16327)
  ports/ftxui/portfile.cmake
  ports/ftxui/vcpkg.json
  versions/baseline.json
  versions/f-/ftxui.json
Labels: category:new-port, info:reviewed

#18438 [xlsxio] new port
  ports/xlsxio/fix-dependencies.patch
  ports/xlsxio/portfile.cmake
  ports/xlsxio/vcpkg.json
  versions/baseline.json
  versions/x-/xlsxio.json
Labels: category:new-port, info:reviewed

#18529 [boost-modular-build-helper] Fix boost build toolchain options not being used
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost-modular-build-helper/user-config.jam
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-feature

#18553 [libzippp] Update to 4.1-1.8.0
  ports/libzippp/CONTROL
  ports/libzippp/portfile.cmake
  versions/baseline.json
  versions/l-/libzippp.json
Labels: category:port-update, info:reviewed

#18692 [proxywrapper] Remove proxywrapper package
  ports/proxywrapper/CONTROL
  ports/proxywrapper/fix-find-libproxy.patch
  ports/proxywrapper/fix-macos-build.patch
  ports/proxywrapper/portfile.cmake
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#18672 [glew] Fix the dependency
  ports/glew/CONTROL
  ports/glew/portfile.cmake
  ports/glew/vcpkg.json
  versions/baseline.json
  versions/g-/glew.json
Labels: category:port-bug, info:internal

#18768 [socket-io-client]fix socket-io-client use
  ports/socket-io-client/fix-file-not-found.patch
  ports/socket-io-client/portfile.cmake
  ports/socket-io-client/vcpkg.json
  versions/baseline.json
  versions/s-/socket-io-client.json
Labels: category:port-bug, info:internal, info:reviewed

#16719 [cctag] Add new port
  ports/cctag/portfile.cmake
  ports/cctag/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cctag.json
Labels: category:new-port, info:reviewed

#17604 [sleepy-discord] Add new port
  ports/sleepy-discord/portfile.cmake
  ports/sleepy-discord/vcpkg.json
  versions/baseline.json
  versions/s-/sleepy-discord.json
Labels: category:new-port, info:reviewed

#18858 Download khrplatform.h with vcpkg instead of gl3w_gen.py so that our downloader settings are used
  ports/gl3w/CONTROL
  ports/gl3w/portfile.cmake
  ports/gl3w/vcpkg.json
  versions/baseline.json
  versions/g-/gl3w.json
Labels: category:port-bug, info:internal, info:reviewed

#18779 [azure-core-cpp] Update to 1.1.0
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, requires:author-response

#18757 [protopuf] Update to 2.1.0
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-update, info:reviewed

#18860 [utf8proc] Export cmake targets
  ports/utf8proc/CONTROL
  ports/utf8proc/export-cmake-targets.patch
  ports/utf8proc/portfile.cmake
  ports/utf8proc/vcpkg.json
  versions/baseline.json
  versions/u-/utf8proc.json
Labels: category:port-feature, category:port-update, info:internal, info:reviewed

#18715 [gli] upgrade the gli to latest
  ports/gli/CONTROL
  ports/gli/portfile.cmake
  ports/gli/vcpkg.json
  versions/baseline.json
  versions/g-/gli.json
Labels: category:port-update, info:reviewed

#18842 [protozero] update to 1.7.0
  ports/protozero/CONTROL
  ports/protozero/portfile.cmake
  ports/protozero/vcpkg.json
  versions/baseline.json
  versions/p-/protozero.json
Labels: category:port-update, info:reviewed

#18856 [sentry-native] Update to 0.4.11
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#18436 [ avcpp ] Update version
  ports/avcpp/0001-remove-problematic-compound-literal.patch
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18891 Update pool to get print spooler CVE fix.
  scripts/azure-pipelines/azure-pipelines.yml
Labels: category:infrastructure, info:internal

#18812 [vcpkg baseline][tensorflow] Skip osx check in baseline
  scripts/ci.baseline.txt
Labels: category:vcpkg-bug, info:internal, info:reviewed

#18909 [implot] Update to 0.11
  ports/implot/portfile.cmake
  ports/implot/vcpkg.json
  versions/baseline.json
  versions/i-/implot.json
Labels: category:port-update, info:reviewed

#18910 [ttauri] Update ttauri to version 0.4.0
  ports/ttauri/portfile.cmake
  ports/ttauri/vcpkg.json
  versions/baseline.json
  versions/t-/ttauri.json
Labels: category:port-update, info:reviewed

#18788 [vcpkg] Remove unused testing files
  scripts/testing/version-files/default-baseline-1/vcpkg.json
  scripts/testing/version-files/default-baseline-2/vcpkg.json
  scripts/testing/version-files/default-baseline-2/versions/z-/zlib.json
  scripts/testing/version-files/ports/cat/portfile.cmake
  scripts/testing/version-files/ports/cat/vcpkg.json
  scripts/testing/version-files/ports/dog/portfile.cmake
  scripts/testing/version-files/ports/dog/vcpkg.json
  scripts/testing/version-files/ports/duck/portfile.cmake
  scripts/testing/version-files/ports/duck/vcpkg.json
  scripts/testing/version-files/ports/mouse/portfile.cmake
  scripts/testing/version-files/ports/mouse/vcpkg.json
  scripts/testing/version-files/ports_incomplete/cat/portfile.cmake
  scripts/testing/version-files/ports_incomplete/cat/vcpkg.json
  scripts/testing/version-files/ports_incomplete/dog/portfile.cmake
  scripts/testing/version-files/ports_incomplete/dog/vcpkg.json
  scripts/testing/version-files/ports_incomplete/duck/portfile.cmake
  scripts/testing/version-files/ports_incomplete/duck/vcpkg.json
  scripts/testing/version-files/ports_incomplete/ferret/portfile.cmake
  scripts/testing/version-files/ports_incomplete/ferret/vcpkg.json
  scripts/testing/version-files/ports_incomplete/fish/portfile.cmake
  scripts/testing/version-files/ports_incomplete/fish/vcpkg.json
  scripts/testing/version-files/ports_incomplete/mouse/portfile.cmake
  scripts/testing/version-files/ports_incomplete/mouse/vcpkg.json
  scripts/testing/version-files/versions/baseline.json
  scripts/testing/version-files/versions/c-/cat.json
  scripts/testing/version-files/versions/d-/dog.json
  scripts/testing/version-files/versions/d-/duck.json
  scripts/testing/version-files/versions/m-/mouse.json
  scripts/testing/version-files/versions_incomplete/baseline.json
  scripts/testing/version-files/versions_incomplete/c-/cat.json
  scripts/testing/version-files/versions_incomplete/d-/dog.json
  scripts/testing/version-files/versions_incomplete/f-/fish.json
  scripts/testing/version-files/versions_incomplete/m-/mouse.json
  scripts/testing/version-files/without-default-baseline-2/vcpkg.json
  scripts/testing/version-files/without-default-baseline-2/versions/z-/zlib.json
Labels: category:code-cleanup, info:reviewed

#18848 [PMDK] update to 1.11
  ports/pmdk/CONTROL
  ports/pmdk/portfile.cmake
  ports/pmdk/remove-non-ascii-character.patch
  ports/pmdk/vcpkg.json
  versions/baseline.json
  versions/p-/pmdk.json
Labels: category:port-update, info:internal, info:reviewed

#18754 [python3] Update to 3.9.6
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update, category:tool-update, info:reviewed

#18873 [bddisasm] Update to 1.33.0
  ports/bddisasm/portfile.cmake
  ports/bddisasm/vcpkg.json
  versions/b-/bddisasm.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18877 [ensmallen] Update to the 2.17.0
  ports/ensmallen/CONTROL
  ports/ensmallen/portfile.cmake
  ports/ensmallen/vcpkg.json
  versions/baseline.json
  versions/e-/ensmallen.json
Labels: category:port-update, info:internal, info:reviewed

#18892 Update to Ubuntu 20.04.
  ports/graphqlparser/CONTROL
  ports/graphqlparser/portfile.cmake
  ports/graphqlparser/remove-invalid-bison-directive.patch
  ports/graphqlparser/vcpkg.json
  ports/msgpack11/CONTROL
  ports/msgpack11/disable-werror.patch
  ports/msgpack11/portfile.cmake
  ports/msgpack11/vcpkg.json
  ports/opensubdiv/fix-version-search.patch
  ports/opensubdiv/portfile.cmake
  ports/opensubdiv/vcpkg.json
  ports/qt5-wayland/CONTROL
  ports/qt5-wayland/portfile.cmake
  ports/qt5-wayland/vcpkg.json
  ports/qtwayland/portfile.cmake
  ports/qtwayland/vcpkg.json
  ports/soem/CONTROL
  ports/soem/disable-werror.patch
  ports/soem/portfile.cmake
  ports/soem/vcpkg.json
  ports/sophus/CONTROL
  ports/sophus/disable-werror.patch
  ports/sophus/portfile.cmake
  ports/sophus/vcpkg.json
  ports/tfhe/CONTROL
  ports/tfhe/portfile.cmake
  ports/tfhe/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/graphqlparser.json
  versions/m-/msgpack11.json
  versions/o-/opensubdiv.json
  versions/q-/qt5-wayland.json
  versions/q-/qtwayland.json
  versions/s-/soem.json
  versions/s-/sophus.json
  versions/t-/tfhe.json
Labels: category:infrastructure, info:internal

#18924 [sciter ] Updated sciter version to 4.4.8.3
  ports/sciter/CONTROL
  ports/sciter/portfile.cmake
  versions/baseline.json
  versions/s-/sciter.json
Labels: category:port-update

#15719 [glslang] Update to 11.1.0
  ports/glslang/CMakeLists-targets.patch
  ports/glslang/CMakeLists-windows.patch
  ports/glslang/always-install-resource-limits.patch
  ports/glslang/glslang-config.cmake
  ports/glslang/ignore-crt.patch
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  ports/shaderc/CMakeLists.txt
  ports/shaderc/CONTROL
  ports/shaderc/build-version.inc
  ports/shaderc/disable-update-version.patch
  ports/shaderc/fix-build-type.patch
  ports/shaderc/fix-install.patch
  ports/shaderc/glslang/CMakeLists.txt
  ports/shaderc/portfile.cmake
  ports/shaderc/spirv-tools/CMakeLists.txt
  ports/shaderc/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
  versions/s-/shaderc.json
Labels: category:port-update, requires:vcpkg-team-review

#18953 Change VM size to Standard_D32ds_v4 + Use Ephemeral Disks
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/windows/create-vmss.ps1
Labels: info:internal

#17013 [Pistache] update to HEAD
  ports/pistache/CONTROL
  ports/pistache/fix-debug-empty.patch
  ports/pistache/portfile.cmake
  ports/pistache/vcpkg.json
  versions/baseline.json
  versions/p-/pistache.json
Labels: category:port-update, info:internal, info:reviewed

#17989 [czmq] Update to v4.2.1
  ports/czmq/CONTROL
  ports/czmq/Findlibcurl.cmake
  ports/czmq/Findlibmicrohttpd.cmake
  ports/czmq/Findlibzmq.cmake
  ports/czmq/Findlz4.cmake
  ports/czmq/Finduuid.cmake
  ports/czmq/fix-dependencies.patch
  ports/czmq/portfile.cmake
  ports/czmq/vcpkg.json
  versions/baseline.json
  versions/c-/czmq.json
Labels: category:port-update, info:reviewed

#18207 [vcpkg] Add debug_message to vcpkg_configure_meson.cmake
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:vcpkg-feature, info:reviewed

#18041 [spdlog] support wchar when target is Windows
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-feature, info:reviewed

#18103 [cairo] Fix static cairo builds
  ports/cairo/cairo_static_fix.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  ports/cairo/win_dll_def.patch
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug, info:reviewed

#18655 [vcpkg docs] Update Spanish readme
  README_es.md
Labels: category:documentation, info:reviewed

#18659 [ffmpeg] Enable fdk on arm or uwp.
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#17945 [libxml2] Update to 2.9.12 and use upstream CMakeLists.txt
  ports/libxml2/CMakeLists.txt
  ports/libxml2/config.linux.h
  ports/libxml2/config.osx.h
  ports/libxml2/fix_cmakelist.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/rcVersion.h.in
  ports/libxml2/usage
  ports/libxml2/vcpkg-cmake-wrapper.cmake
  ports/libxml2/vcpkg.json
  ports/libxslt/CONTROL
  ports/libxslt/only_build_one_lib_type.patch
  ports/libxslt/portfile.cmake
  ports/libxslt/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
  versions/l-/libxslt.json
Labels: category:port-update, info:reviewed

#18234 [presentmon] Update presentmon port from 1.6.0 release to 1.7.0
  ports/presentmon/CMakeLists.txt
  ports/presentmon/portfile.cmake
  ports/presentmon/vcpkg.json
  versions/baseline.json
  versions/p-/presentmon.json
Labels: category:port-update, info:reviewed

#18212 [d3d12-memory-allocator] new port
  ports/d3d12-memory-allocator/CMakeLists.txt
  ports/d3d12-memory-allocator/portfile.cmake
  ports/d3d12-memory-allocator/vcpkg.json
  versions/baseline.json
  versions/d-/d3d12-memory-allocator.json
Labels: category:new-port, info:reviewed

#18624 [ffmpeg] enable opengl feature on osx
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#18611 [docs] CMake command docs say to use 0 for missing SHA512
  docs/maintainers/vcpkg_from_bitbucket.md
  docs/maintainers/vcpkg_from_github.md
  docs/maintainers/vcpkg_from_gitlab.md
  docs/maintainers/vcpkg_from_sourceforge.md
  scripts/cmake/vcpkg_from_bitbucket.cmake
  scripts/cmake/vcpkg_from_github.cmake
  scripts/cmake/vcpkg_from_gitlab.cmake
  scripts/cmake/vcpkg_from_sourceforge.cmake
Labels: category:documentation, info:reviewed

#18465 [boost-python] Allow feature python2 on Unix
  ports/boost-python/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-python.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#16034 [openvdb] update to v8.0.0
  ports/openvdb/0003-fix-cmake.patch
  ports/openvdb/CONTROL
  ports/openvdb/portfile.cmake
  ports/openvdb/vcpkg.json
  versions/baseline.json
  versions/o-/openvdb.json
Labels: category:port-feature, category:port-update, info:internal, info:reviewed

#18316 [c4core, ryml] Add windows arm/arm64 support
  ports/c4core/portfile.cmake
  ports/c4core/vcpkg.json
  ports/ryml/portfile.cmake
  ports/ryml/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/c4core.json
  versions/r-/ryml.json
Labels: category:port-feature, category:port-update, info:reviewed

#18445 [libe57] Add new port
  ports/libe57/0001_cmake.patch
  ports/libe57/0002_replace_tr1_with_cpp11.patch
  ports/libe57/0003_fix_osx_support.patch
  ports/libe57/portfile.cmake
  ports/libe57/vcpkg.json
  versions/baseline.json
  versions/l-/libe57.json
Labels: category:new-port, info:reviewed

#18923 Fix nativefiledialog port using build time include dir
  ports/nativefiledialog/CMakeLists.txt
  ports/nativefiledialog/CONTROL
  ports/nativefiledialog/portfile.cmake
  ports/nativefiledialog/vcpkg.json
  versions/baseline.json
  versions/n-/nativefiledialog.json
Labels: category:port-bug, info:reviewed

#18881 [nuklear] Export unofficial target, add features
  ports/nuklear/CMakeLists.txt
  ports/nuklear/CONTROL
  ports/nuklear/portfile.cmake
  ports/nuklear/vcpkg.json
  versions/baseline.json
  versions/n-/nuklear.json
Labels: category:port-feature, info:internal, info:reviewed

#18780 [Faiss] Fix dependencies
  ports/clapack/FindLAPACK.cmake
  ports/clapack/vcpkg.json
  ports/faiss/fix-dependencies.patch
  ports/faiss/portfile.cmake
  ports/faiss/vcpkg.json
  ports/lapack-reference/CONTROL
  ports/lapack-reference/portfile.cmake
  versions/baseline.json
  versions/c-/clapack.json
  versions/f-/faiss.json
  versions/l-/lapack-reference.json
Labels: category:port-bug, info:reviewed

#18630 [openssl] Fix x86-osx -> arm64-osx cross-compilation
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed, requires:vcpkg-team-review

#17623 [liburing] create a new port
  ports/liburing/fix-configure.patch
  ports/liburing/fix-spec-version.patch
  ports/liburing/portfile.cmake
  ports/liburing/usage
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: category:new-port, info:reviewed

#18942 [mlpack] Add feature openmp
  ports/mlpack/fix-dependencies.patch
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: category:port-feature, info:internal, info:reviewed

#18983 Update vcpkg-tool to 2021-07-16.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: category:infrastructure, category:tool-update, info:internal

#18994 [pistache] Build fixes from 2021-07-18
  ports/pistache/disable-warnings.patch
  ports/pistache/portfile.cmake
  ports/pistache/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pistache.json
Labels: category:port-bug, info:internal, info:reviewed

#18995 [libffi] Update to v3.4.2
  ports/libffi/CMakeLists.txt
  ports/libffi/fficonfig.h
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  ports/libffi/win32-disable-stackframe-check.patch
  ports/libffi/win64-disable-stackframe-check.patch
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-update, info:reviewed

#18964 [exiv2] Make add nls feature
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg-cmake-wrapper.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-feature

#18479 [simdjson] Update to v0.9.6
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-feature, category:port-update, info:reviewed

#18985 [embree2] Fix static linking
  ports/embree2/portfile.cmake
  ports/embree2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/e-/embree2.json
Labels: category:port-bug, info:internal, info:reviewed

#19011 [vcpkg] Do not emit 'PASSING, REMOVE FROM FAIL LIST' results when using vcpkg to test prerelease versions of MSVC++
  scripts/azure-pipelines/analyze-test-results.ps1
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows-unstable/job.yml
Labels: category:infrastructure, info:internal

#18432 [angle] Update to chromium/4472
  ports/angle/CMakeLists.txt
  ports/angle/CONTROL
  ports/angle/angle_commit.h
  ports/angle/portfile.cmake
  ports/angle/third-party-zlib-far-undef.patch
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-update, requires:vcpkg-team-review

#18970 [docs] More Getting Started fixes
  docs/examples/versioning.getting-started.md
  docs/users/versioning.md
Labels: category:documentation, info:internal, info:reviewed

#19033 [libxml2] fix wrapper
  ports/libxml2/vcpkg-cmake-wrapper.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug

#19028 [Azure SDK] Update Azure SDK to the latest version
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/baseline.json
Labels: category:port-update, requires:author-response

#19043 [entt] update to 3.8.0
  ports/entt/portfile.cmake
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:reviewed

#19039 [rxspencer] Update to latest release 3.9.0 and also support dynamic build
  ports/rxspencer/CONTROL
  ports/rxspencer/portfile.cmake
  ports/rxspencer/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/rxspencer.json
Labels: category:port-feature, category:port-update, info:internal, info:reviewed

#19037 [libgo] Add DISABLE_PARALLEL_CONFIGURE
  ports/libgo/CONTROL
  ports/libgo/portfile.cmake
  ports/libgo/vcpkg.json
  versions/baseline.json
  versions/l-/libgo.json
Labels: category:port-bug, info:internal, info:reviewed

#19031 [libpq]fix windows build failure
  ports/libpq/patches/windows/install.patch
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-bug, info:reviewed

#19023 [Pcg] update to latest commit
  ports/pcg/CONTROL
  ports/pcg/portfile.cmake
  versions/baseline.json
  versions/p-/pcg.json
Labels: category:port-bug, category:port-update, info:reviewed

#19014 [arrow] Re-fix dependencies
  ports/arrow/all.patch
  ports/arrow/fix-dependencies.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#19000 [osg-qt] Remove unnecessary dependency
  ports/osg-qt/CONTROL
  versions/baseline.json
  versions/o-/osg-qt.json
Labels: category:port-bug, info:reviewed

#18997 [libunistring] New port
  ports/libunistring/copyright
  ports/libunistring/portfile.cmake
  ports/libunistring/vcpkg.json
  versions/baseline.json
  versions/l-/libunistring.json
Labels: category:new-port, info:reviewed

#18991 [imguizmo] new port
  ports/imguizmo/CMakeLists.txt
  ports/imguizmo/portfile.cmake
  ports/imguizmo/vcpkg.json
  versions/baseline.json
  versions/i-/imguizmo.json
Labels: category:new-port, info:reviewed

#18989 [ADVobfuscator] Add new port
  ports/advobfuscator/portfile.cmake
  ports/advobfuscator/vcpkg.json
  versions/a-/advobfuscator.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#18977 [YARA] update to 4.1.1
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-update, info:reviewed

#18976 [vulkan-headers, vulkan-hpp ,vulkan-memory-allocator] Update to the latestion version
  ports/ashes/fix-cast.patch
  ports/ashes/portfile.cmake
  ports/ashes/vcpkg.json
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-hpp/CONTROL
  ports/vulkan-hpp/portfile.cmake
  ports/vulkan-memory-allocator/CONTROL
  ports/vulkan-memory-allocator/portfile.cmake
  versions/a-/ashes.json
  versions/baseline.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-hpp.json
  versions/v-/vulkan-memory-allocator.json
Labels: category:port-update, info:reviewed

#18974 [crow] update to 0.3.2 (v0.3+2)
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-bug, category:port-update, info:reviewed

#18975 [urho3d] Add features, fix usage
  ports/urho3d/add_options.patch
  ports/urho3d/fix-install.patch
  ports/urho3d/portfile.cmake
  ports/urho3d/vcpkg.json
  versions/baseline.json
  versions/u-/urho3d.json
Labels: category:port-bug, info:internal, info:reviewed

#18973 [libavif] Update 0.9.1 to 0.9.2
  ports/libavif/always-install-configs.patch
  ports/libavif/fix-assigning-size_t.patch
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  versions/baseline.json
  versions/l-/libavif.json
Labels: category:port-update, info:reviewed

#18972 [cpp-httplib] Update library to 0.9.1
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#18917 [robin-hood-hashing] Update to 3.11.3
  ports/robin-hood-hashing/portfile.cmake
  ports/robin-hood-hashing/vcpkg.json
  versions/baseline.json
  versions/r-/robin-hood-hashing.json
Labels: category:port-update, info:reviewed

#18911 [nana]add MinGW subsystem support for nana
  ports/nana/CONTROL
  ports/nana/vcpkg.json
  versions/baseline.json
  versions/n-/nana.json
Labels: category:port-feature, info:reviewed

#18899 [pcapplusplus] New port
  ports/pcapplusplus/portfile.cmake
  ports/pcapplusplus/vcpkg.json
  versions/baseline.json
  versions/p-/pcapplusplus.json
Labels: category:new-port, info:reviewed

#18897 [flatbuffers] upgrade the `flatbuffers` to v2.0.0
  ports/flatbuffers/CONTROL
  ports/flatbuffers/fix-issue-6036.patch
  ports/flatbuffers/fix-uwp-build.patch
  ports/flatbuffers/ignore_use_of_cmake_toolchain_file.patch
  ports/flatbuffers/no-werror.patch
  ports/flatbuffers/portfile.cmake
  ports/mnn/portfile.cmake
  ports/mnn/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
  versions/m-/mnn.json
Labels: category:port-update, info:reviewed

#18867 [libmodplug] [ffmpeg] fix libmodplug .pc file for static windows build
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  ports/libmodplug/004-export-pkgconfig.patch
  ports/libmodplug/CONTROL
  ports/libmodplug/portfile.cmake
  ports/libmodplug/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/l-/libmodplug.json
Labels: category:port-feature, info:reviewed

#18847 [apsi] Add new port
  ports/apsi/portfile.cmake
  ports/apsi/vcpkg.json
  versions/a-/apsi.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#18829 [liblzma] add install bundle for support build target for ios platform.
  ports/liblzma/CONTROL
  ports/liblzma/add_support_ios.patch
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-feature, info:reviewed

#18817 [vcpkg] Update vcpkg tools
  ports/tool-meson/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/t-/tool-meson.json
Labels: category:tool-update, info:internal, info:reviewed

#18770 [llvm] improve cross compilation
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:community-triplet, info:reviewed

#18769 [libmariadb] Fix plugin installation, fix pkgconfig
  ports/libmariadb/export-cmake-targets.patch
  ports/libmariadb/fix-InstallPath.patch
  ports/libmariadb/portfile.cmake
  ports/libmariadb/vcpkg.json
  versions/baseline.json
  versions/l-/libmariadb.json
Labels: category:port-bug, info:internal, info:reviewed

#19079 [SPSCQueue ]Update to v1.1
  ports/spscqueue/CONTROL
  ports/spscqueue/portfile.cmake
  versions/baseline.json
  versions/s-/spscqueue.json
Labels: category:port-update, info:reviewed

#18738 [libuuid] Added cmake config and targets
  ports/libuuid/CMakeLists.txt
  ports/libuuid/CONTROL
  ports/libuuid/portfile.cmake
  ports/libuuid/unofficial-libuuid-config.cmake.in
  ports/libuuid/vcpkg.json
  versions/baseline.json
  versions/l-/libuuid.json
Labels: category:port-feature, info:reviewed

#18632 [vcpkg_configure_make] MacOS assume target arch is host arch
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#18618 [azure-storage-cpp] Deprecate azure-storage-cpp package
  ports/azure-storage-cpp/CONTROL
  ports/azure-storage-cpp/portfile.cmake
  versions/a-/azure-storage-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18614 [laszip] Migrate LASzip to the new manifest format.
  ports/laszip/CONTROL
  ports/laszip/portfile.cmake
  ports/laszip/vcpkg.json
  versions/baseline.json
  versions/l-/laszip.json
Labels: category:port-update, info:reviewed

#18608 [icu] Fix x86-osx -> arm64-osx cross-compilation
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:community-triplet, info:reviewed

#18551 [teemo] Update version to v2.2.
  ports/teemo/CONTROL
  ports/teemo/portfile.cmake
  versions/baseline.json
  versions/t-/teemo.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#18535 [openblas] Fix C/CXX flag customization in openblas
  ports/openblas/portfile.cmake
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-bug, info:reviewed

#18512 [spdlog] Update to 1.9.0
  ports/spdlog/fix-mingw-build.patch
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-update, info:reviewed

#18511 [tiff] Fix build on arm64-linux
  ports/tiff/FindCMath.patch
  ports/tiff/portfile.cmake
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:community-triplet, category:port-bug, info:reviewed

#18475 [openssl] Fix vcpkg-cmake-wrapper.cmake
  ports/openssl/portfile.cmake
  ports/openssl/unix/portfile.cmake
  ports/openssl/unix/vcpkg-cmake-wrapper.cmake
  ports/openssl/vcpkg-cmake-wrapper.cmake
  ports/openssl/vcpkg-cmake-wrapper.cmake.in
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  ports/openssl/windows/vcpkg-cmake-wrapper.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:internal, info:reviewed

#18453 [soil2] Update version
  ports/soil2/CMakeLists.txt
  ports/soil2/CONTROL
  ports/soil2/portfile.cmake
  ports/soil2/soil2ConfigVersion.cmake.in
  ports/soil2/vcpkg.json
  versions/baseline.json
  versions/s-/soil2.json
Labels: category:port-update, info:reviewed

#18358 [SLikeNet] Update and fix building with x64-mingw-static
  ports/slikenet/CONTROL
  ports/slikenet/portfile.cmake
  ports/slikenet/vcpkg.json
  versions/baseline.json
  versions/s-/slikenet.json
Labels: category:community-triplet, category:port-update, info:reviewed

#17974 [nanodbc] Allow specifing the ODBC version for nanodbc
  ports/nanodbc/CONTROL
  ports/nanodbc/portfile.cmake
  versions/baseline.json
  versions/n-/nanodbc.json
Labels: category:port-bug, info:reviewed

#17105 [starlink-ast] create new port
  ports/starlink-ast/portfile.cmake
  ports/starlink-ast/vcpkg.json
  versions/baseline.json
  versions/s-/starlink-ast.json
Labels: category:new-port, info:reviewed

#15962 [physfs] Patches to fix behavior on macOS / Linux
  ports/physfs/001-fix-lzmasdk-arm64-windows.patch
  ports/physfs/002-fix-posix-eintr.patch
  ports/physfs/003-fix-posix-cloexec.patch
  ports/physfs/portfile.cmake
  ports/physfs/vcpkg.json
  versions/baseline.json
  versions/p-/physfs.json
Labels: category:port-bug, info:reviewed

#18476 [ChakraCore] Add Linux support
  ports/chakracore/fix-debug-linux-build.patch
  ports/chakracore/portfile.cmake
  ports/chakracore/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/chakracore.json
Labels: category:port-feature, info:reviewed
