Repository microsoft/vcpkg, pull requests merged in 2021-01, with the labels that each got.

#15158 [poppler] Add new port
  ports/poppler/0001-remove-CMAKE_CXX_STANDARD.patch
  ports/poppler/0002-remove-test-subdirectory.patch
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
Labels: category:new-port, requires:discussion

#11273 [ignition-common3] Add new port 🤖
  ports/ignition-common3/CONTROL
  ports/ignition-common3/portfile.cmake
Labels: category:new-port, info:reviewed

#14412 [geotrans] update to version 3.8 (on-hold waiting for CI/VM port 21 for ftp to be opened or alternate host site)
  ports/geotrans/CMakeLists.txt
  ports/geotrans/CONTROL
  ports/geotrans/portfile.cmake
  ports/geotrans/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-update, info:reviewed

#15194 [ogre] make zziplib, freeimage, assimp, freetype and less strict resource manager as feature
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
Labels: category:port-feature, info:reviewed

#15296 [darknet] yolo v4 weights's hash need to update
  ports/darknet/CONTROL
  ports/darknet/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15314 fix licensingfile of kf5archive
  ports/kf5archive/CONTROL
  ports/kf5archive/portfile.cmake
Labels: category:port-bug, info:reviewed

#15393 [freeimage] Fix for FreeImage incorrect image format enum after disabling vendor plugins
  ports/freeimage/CONTROL
  ports/freeimage/portfile.cmake
  ports/freeimage/update_format_enum_values.patch
Labels: category:port-bug, info:reviewed

#15398 [sdl2] Update to 2.0.14
  ports/sdl2-image/CMakeLists.txt
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-net/CMakeLists.txt
  ports/sdl2-ttf/CMakeLists.txt
  ports/sdl2/0001-sdl2-Enable-creation-of-pkg-cfg-file-on-windows.patch
  ports/sdl2/0002-sdl2-skip-ibus-on-linux.patch
  ports/sdl2/0003-sdl2-fix-uwp-build.patch
  ports/sdl2/0008-fix-macos-metal-test.patch
  ports/sdl2/disable-hidapi-for-uwp.patch
  ports/sdl2/disable-wcslcpy-and-wcslcat-for-windows.patch
  ports/sdl2/enable-winrt-cmake.patch
  ports/sdl2/export-symbols-only-in-shared-build.patch
  ports/sdl2/fix-EventToken-header-reference.patch
  ports/sdl2/fix-space-in-path.patch
  ports/sdl2/no-propagate-shared-link-options.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  ports/smpeg2/CMakeLists.txt
Labels: category:port-update, info:reviewed

#15416 [libheif] update to 1.10.0
  ports/libheif/CONTROL
  ports/libheif/portfile.cmake
Labels: category:port-update, info:reviewed

#15419 [docs] fix "CMake script" -> "makefile" for vcpkg_(n)build_make
  docs/maintainers/vcpkg_build_make.md
  docs/maintainers/vcpkg_build_nmake.md
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_build_nmake.cmake
Labels: category:documentation, info:reviewed

#15435 Provide proxy setting instruction for more compatibility.
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:vcpkg-feature, info:reviewed

#15436 simdjson update to v0.7.1
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
Labels: category:port-update, info:internal, info:reviewed

#15438 [wil] Use internal CMakeLists
  ports/wil/CONTROL
  ports/wil/fix-install-headers.patch
  ports/wil/portfile.cmake
Labels: category:port-feature, info:internal, info:reviewed

#15445 [opencl] Fix dynamic build on linux
  ports/opencl/CONTROL
  ports/opencl/portfile.cmake
Labels: category:port-bug, info:reviewed

#15172 [vcpkg] Improve versioning files generators
  scripts/generateBaseline.py
  scripts/generatePortVersionsDb.py
  toolsrc/src/vcpkg/commands.porthistory.cpp
Labels: category:vcpkg-feature, info:internal

#15396 [vcpkg] Improve docs for binarycaching
  docs/users/binarycaching.md
  docs/users/config-environment.md
Labels: category:documentation, info:internal

#15473 [vcpkg baseline][cppcms] Fix issue with detecting Python 2.
  ports/cppcms/CONTROL
  ports/cppcms/portfile.cmake
Labels: category:port-bug, info:reviewed

#15472 [vcpkg] Restore embedded git hash behind an option.
  scripts/bootstrap.ps1
  toolsrc/CMakeLists.txt
  toolsrc/include/vcpkg/commands.version.h
  toolsrc/src/vcpkg/commands.version.cpp
Labels: category:vcpkg-feature, info:internal

#15013 [vcpkg] Add support for --overlay-ports to versioning
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/fwd/portfileprovider.h
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
Labels: category:vcpkg-feature, info:internal

#14999 [vcpkg] Add commands to maintain and verify versions db integrity
  scripts/azure-pipelines/end-to-end-tests-dir/versions.ps1
  scripts/testing/version-files/default-baseline-1/vcpkg.json
  scripts/testing/version-files/default-baseline-2/port_versions/z-/zlib.json
  scripts/testing/version-files/default-baseline-2/vcpkg.json
  scripts/testing/version-files/port_versions/baseline.json
  scripts/testing/version-files/port_versions/c-/cat.json
  scripts/testing/version-files/port_versions/d-/dog.json
  scripts/testing/version-files/port_versions/d-/duck.json
  scripts/testing/version-files/port_versions/m-/mouse.json
  scripts/testing/version-files/port_versions_incomplete/baseline.json
  scripts/testing/version-files/port_versions_incomplete/c-/cat.json
  scripts/testing/version-files/port_versions_incomplete/d-/dog.json
  scripts/testing/version-files/port_versions_incomplete/f-/fish.json
  scripts/testing/version-files/port_versions_incomplete/m-/mouse.json
  scripts/testing/version-files/ports/cat/portfile.cmake
  scripts/testing/version-files/ports/cat/vcpkg.json
  scripts/testing/version-files/ports/dog/portfile.cmake
  scripts/testing/version-files/ports/dog/vcpkg.json
  scripts/testing/version-files/ports/duck/portfile.cmake
  scripts/testing/version-files/ports/duck/vcpkg.json
  scripts/testing/version-files/ports/mouse/portfile.cmake
  scripts/testing/version-files/ports/mouse/vcpkg.json
  scripts/testing/version-files/ports_incomplete/cat/portfile.cmake
  scripts/testing/version-files/ports_incomplete/cat/vcpkg.json
  scripts/testing/version-files/ports_incomplete/dog/portfile.cmake
  scripts/testing/version-files/ports_incomplete/dog/vcpkg.json
  scripts/testing/version-files/ports_incomplete/duck/portfile.cmake
  scripts/testing/version-files/ports_incomplete/duck/vcpkg.json
  scripts/testing/version-files/ports_incomplete/ferret/portfile.cmake
  scripts/testing/version-files/ports_incomplete/ferret/vcpkg.json
  scripts/testing/version-files/ports_incomplete/fish/portfile.cmake
  scripts/testing/version-files/ports_incomplete/fish/vcpkg.json
  scripts/testing/version-files/ports_incomplete/mouse/portfile.cmake
  scripts/testing/version-files/ports_incomplete/mouse/vcpkg.json
  toolsrc/include/vcpkg/commands.add-version.h
  toolsrc/include/vcpkg/commands.civerifyversions.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg-test/arguments.cpp
  toolsrc/src/vcpkg-test/commands.cpp
  toolsrc/src/vcpkg/commands.add-version.cpp
  toolsrc/src/vcpkg/commands.civerifyversions.cpp
  toolsrc/src/vcpkg/commands.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/vcpkgcmdarguments.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/windows-bootstrap/vcpkg.vcxproj
Labels: category:vcpkg-feature, info:internal

#15504 [vcpkg] Fix build for mingw
  toolsrc/include/vcpkg/base/files.h
  toolsrc/src/vcpkg/base/files.cpp
Labels: category:vcpkg-bug, info:internal

#15491 [vcpkg baseline][poppler] Fix issue with using libcurl.
  ports/curl/CONTROL
  ports/curl/vcpkg-cmake-wrapper.cmake
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
Labels: category:port-bug, info:reviewed

#15191 [openssl] install pkgconfig file
  ports/openssl/CONTROL
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/unix/portfile.cmake
Labels: category:port-feature, info:reviewed

#15411 [vcpkg] Add x64-windows-static-md to pipeline
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/ci.baseline.txt
Labels: category:community-triplet, category:infrastructure, info:reviewed

#15421 [tmx] Update tmx port to 1.1.0
  ports/tmx/CONTROL
  ports/tmx/fix-build-error.patch
  ports/tmx/portfile.cmake
Labels: category:port-update, info:reviewed

#15467 [quill] Update to v1.6.1
  ports/quill/CONTROL
  ports/quill/portfile.cmake
Labels: category:port-update, info:reviewed

#15468 [type-safe] New port.
  ports/debug-assert/portfile.cmake
  ports/debug-assert/vcpkg.json
  ports/type-safe/disable_tests.patch
  ports/type-safe/portfile.cmake
  ports/type-safe/vcpkg.json
Labels: category:new-port, info:reviewed

#15486 [libzippp] fix find lzma
  ports/libzippp/CONTROL
  ports/libzippp/fix-find-lzma.patch
  ports/libzippp/portfile.cmake
Labels: category:port-bug, info:reviewed

#15507 [pybind11] Use vcpkg Python3.
  ports/pybind11/CONTROL
Labels: category:port-bug, info:reviewed

#15510 [google-cloud-cpp] update to latest release (v1.22.0)
  ports/google-cloud-cpp/CONTROL
  ports/google-cloud-cpp/portfile.cmake
Labels: category:port-update, info:reviewed

#15354 [vcpkg] Fix unrecognized identifier errors in prbuild and cibuild.
  ports/tensorflow-cc/CONTROL
  ports/tensorflow-cc/portfile.cmake
  ports/tensorflow-cc/vcpkg.json
  ports/tensorflow-common/CONTROL
  ports/tensorflow-common/LICENSE.txt
  ports/tensorflow-common/portfile.cmake
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  ports/tensorflow/CONTROL
  ports/tensorflow/portfile.cmake
  ports/tensorflow/vcpkg.json
  toolsrc/src/vcpkg/platform-expression.cpp
Labels: category:port-bug, category:vcpkg-bug, category:vcpkg-feature, info:internal

#15543 [vcpkg/docs] Add Missing Links in Spanish Readme
  README_es.md
Labels: category:documentation, info:reviewed

#15196 [libjpeg-turbo/mozjpeg] Add conflict messages
  ports/libjpeg-turbo/CONTROL
  ports/libjpeg-turbo/portfile.cmake
  ports/mozjpeg/CONTROL
  ports/mozjpeg/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15336 [KTX] Add port
  ports/ktx/0001-Use-vcpkg-zstd.patch
  ports/ktx/0002-Fix-versioning.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
Labels: category:new-port, info:reviewed

#15460 update trantor to 1.1.1
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
Labels: category:port-update, info:reviewed

#15482 [libepoxy] Update to 1.5.5
  ports/libepoxy/CONTROL
  ports/libepoxy/libepoxy-1.5.4_Add_call_convention_to_mock_function.patch
  ports/libepoxy/libepoxy-1.5.4_meson_c_std.patch
  ports/libepoxy/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15485 Update to hidapi-0.10.1
  ports/hidapi/portfile.cmake
  ports/hidapi/vcpkg.json
Labels: category:port-update, info:reviewed

#15513 Fix duplicate symbols of asio::dummy_return<void>
  ports/boost-asio/CONTROL
  ports/boost-asio/inline_dummy_return.patch
  ports/boost-asio/portfile.cmake
Labels: category:port-bug, info:reviewed

#15517 [sqlite-orm] Update to 1.6
  ports/sqlite-orm/CONTROL
  ports/sqlite-orm/fix-build-error.patch
  ports/sqlite-orm/fix-dependency.patch
  ports/sqlite-orm/fix-example-feature.patch
  ports/sqlite-orm/fix-features-build-error.patch
  ports/sqlite-orm/fix-test-feature.patch
  ports/sqlite-orm/fix-usage.patch
  ports/sqlite-orm/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15537 [polyhook2]Update to the latest version
  ports/polyhook2/CONTROL
  ports/polyhook2/portfile.cmake
Labels: category:port-update, info:reviewed

#15298 [openssl] Update to 1.1.1i
  ports/openssl/CONTROL
  ports/openssl/portfile.cmake
  ports/openssl/unix/CMakeLists.txt
Labels: category:port-feature, category:port-update, info:reviewed

#15144 [fontconfig] add vcpkg cmake wrapper.
  ports/fontconfig/CONTROL
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg-cmake-wrapper.cmake.in
Labels: category:port-bug, depends:different-pr

#15049 [vcpkg_from_git] new options TAG and X_OUT_REF
  docs/maintainers/vcpkg_from_git.md
  scripts/cmake/vcpkg_from_git.cmake
Labels: category:tool-update, info:reviewed

#15538 [vcpkg] Show the cache file name at download time to provide more ancillary information in non-ARIA2 mode.
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:tool-update, info:reviewed

#14640 [mesa] new port
  ports/mesa/CONTROL
  ports/mesa/dual-osmesa-part2.patch
  ports/mesa/dual-osmesa.patch
  ports/mesa/portfile.cmake
  ports/mesa/swravx512.patch
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:new-port

#15170 [qt5-base] mysql plugin added
  ports/libcds/001-cmake-install.patch
  ports/qt5-base/CONTROL
  ports/qt5-base/patches/mysql-configure.patch
  ports/qt5-base/patches/mysql_plugin_include.patch
  ports/qt5-base/portfile.cmake
  ports/qt5/CONTROL
Labels: category:port-feature, info:reviewed

#15567 [entt] update to <3.6>
  ports/entt/CONTROL
  ports/entt/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15569 [paho-mqtt] update to 1.3.8
  ports/paho-mqtt/CONTROL
  ports/paho-mqtt/portfile.cmake
Labels: category:port-update, info:internal, info:reviewed

#15583 [vcpkg] Add a different way to use CommandBuilder, support InWorkingDirectory
  toolsrc/include/vcpkg/base/system.process.h
  toolsrc/src/vcpkg-test/system.cpp
  toolsrc/src/vcpkg/archives.cpp
  toolsrc/src/vcpkg/base/downloads.cpp
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/export.cpp
  toolsrc/src/vcpkg/export.prefab.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkg/tools.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, info:internal

#15584 [vcpkg] Resolve macos host machines running out of disk space by reducing size and using fixed disks.
  scripts/azure-pipelines/osx/Setup-VagrantMachines.ps1
  scripts/azure-pipelines/osx/configuration/Vagrantfile
Labels: category:infrastructure, info:internal

#15299 [vcpkg] use VCPKG_ROOT_DIR instead of DOWNLOADS for WORKING_DIRECTORY in do_version_check
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:vcpkg-feature, info:reviewed

#15549 [cppgraphqlgen] Fix --head for new branch/option
  ports/cppgraphqlgen/CONTROL
  ports/cppgraphqlgen/portfile.cmake
Labels: category:port-bug, info:reviewed

#15558 [palsigslot] New port
  ports/palsigslot/portfile.cmake
  ports/palsigslot/usage
  ports/palsigslot/vcpkg.json
Labels: category:new-port, requires:author-response

#15554 directxmesh, directxtex, and uvatlas now support linux
  ports/directx-headers/CONTROL
  ports/directx-headers/portfile.cmake
  ports/directxmath/CONTROL
  ports/directxmath/portfile.cmake
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxtex/CONTROL
  ports/directxtex/enable_openexr_support.patch
  ports/directxtex/portfile.cmake
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
  ports/uvatlas/CONTROL
  ports/uvatlas/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#15574 [poppler] Fix error gperf is not recognized as an internal or externa command
  ports/poppler/0003-fix-gperf-not-recognized.patch
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#15585 [speexdsp] Configure and install speexdsp.pc
  ports/speexdsp/CMakeLists.txt
  ports/speexdsp/CONTROL
  ports/speexdsp/portfile.cmake
Labels: category:port-feature, info:reviewed

#15589 [libzip] Relative pkgconfig paths
  ports/libzip/CONTROL
  ports/libzip/portfile.cmake
Labels: category:port-feature, info:reviewed

#15595 [nana] Fix fontconfig dependency
  ports/nana/CMakeLists.txt
  ports/nana/CONTROL
  ports/nana/config.cmake.in
Labels: category:port-bug, info:internal, info:reviewed

#15580 [vcpkg] Add parse checking for version fields and enable non-string versions outside 'versions' flag
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/versiondeserializers.cpp
Labels: category:vcpkg-feature, info:internal, info:reviewed

#15516 [vcpkg] Add sources for TLS 1.2 downloader tool.
  scripts/azure-pipelines/Format-CxxCode.ps1
  scripts/azure-pipelines/signing.yml
  scripts/azure-pipelines/windows/signing.signproj
  toolsrc/CMakeLists.txt
  toolsrc/src/tls12-download.c
Labels: category:vcpkg-feature, info:internal

#15600 [graphicsmagick] update to version 1.3.36
  ports/graphicsmagick/CMakeLists.txt
  ports/graphicsmagick/CONTROL
  ports/graphicsmagick/portfile.cmake
Labels: category:port-update, info:reviewed

#15596 [qt5-base] Improve the warning message on Linux
  ports/qt5-base/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15200 [tool-meson] Rev vcpkg's meson build
  ports/tool-meson/CONTROL
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:port-update, category:tool-update, info:reviewed

#15636 [vcpkg] Fix incorrect handling of messages for permenantly disabled metrics.
  scripts/azure-pipelines/end-to-end-tests-dir/disable-metrics.ps1
  toolsrc/src/vcpkg.cpp
Labels: category:vcpkg-bug, info:internal

#15633 [vcpkg] Change version field in `baseline.json`
  scripts/e2e_ports/port_versions/baseline.json
  scripts/generateBaseline.py
  scripts/testing/version-files/default-baseline-2/vcpkg.json
  scripts/testing/version-files/port_versions/baseline.json
  scripts/testing/version-files/port_versions_incomplete/baseline.json
  toolsrc/include/vcpkg/registries.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/include/vcpkg/versiondeserializers.h
  toolsrc/src/vcpkg/commands.add-version.cpp
  toolsrc/src/vcpkg/commands.civerifyversions.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/versiondeserializers.cpp
Labels: category:vcpkg-feature, info:internal

#15627 [vcpkg] Rewriting CmdLineBuilder (2/n)
  format.diff
  test.cmake
  toolsrc/include/vcpkg/base/cache.h
  toolsrc/include/vcpkg/base/system.process.h
  toolsrc/include/vcpkg/build.h
  toolsrc/include/vcpkg/buildenvironment.h
  toolsrc/src/vcpkg/archives.cpp
  toolsrc/src/vcpkg/base/system.process.cpp
  toolsrc/src/vcpkg/binarycaching.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/buildenvironment.cpp
  toolsrc/src/vcpkg/commands.contact.cpp
  toolsrc/src/vcpkg/commands.create.cpp
  toolsrc/src/vcpkg/commands.edit.cpp
  toolsrc/src/vcpkg/commands.env.cpp
  toolsrc/src/vcpkg/commands.integrate.cpp
  toolsrc/src/vcpkg/commands.porthistory.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/export.chocolatey.cpp
  toolsrc/src/vcpkg/export.ifw.cpp
  toolsrc/src/vcpkg/export.prefab.cpp
  toolsrc/src/vcpkg/metrics.cpp
  toolsrc/src/vcpkg/postbuildlint.cpp
  toolsrc/src/vcpkg/tools.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
  toolsrc/src/vcpkg/visualstudio.cpp
Labels: category:vcpkg-feature, info:internal

#15578 [vcpkg_apply_patches] don't change line endings on patching.
  scripts/cmake/vcpkg_apply_patches.cmake
Labels: category:vcpkg-feature, info:reviewed, requires:discussion

#15054 [vcpkg registries] Add git registries
  scripts/azure-pipelines/end-to-end-tests-dir/registries.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/versions.ps1
  scripts/azure-pipelines/end-to-end-tests-prelude.ps1
  scripts/azure-pipelines/end-to-end-tests.ps1
  scripts/buildsystems/vcpkg.cmake
  scripts/e2e_ports/port_versions/baseline.json
  toolsrc/CMakeLists.txt
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/base/system.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/base/system.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:vcpkg-feature, depends:different-pr, info:internal

#15655 [vcpkg] Add CI check for version files and update maintainer's guideline
  docs/maintainers/maintainer-guide.md
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: category:infrastructure, info:internal

#15637 [physfs] Enable arm64 for non-Windows targets
  port_versions/baseline.json
  port_versions/p-/physfs.json
  ports/physfs/CONTROL
  ports/physfs/portfile.cmake
  ports/physfs/vcpkg.json
Labels: category:port-feature, info:reviewed

#15565 [vcpkg] Add initial versioning documentation
  docs/users/manifests.md
  docs/users/versioning.md
  scripts/azure-pipelines/end-to-end-tests-dir/registries.ps1
  scripts/azure-pipelines/end-to-end-tests-dir/versions.ps1
  scripts/azure-pipelines/end-to-end-tests-prelude.ps1
  scripts/generatePortVersionsDb.py
  scripts/testing/version-files/default-baseline-1/vcpkg.json
  scripts/testing/version-files/default-baseline-2/vcpkg.json
  scripts/testing/version-files/without-default-baseline-2/port_versions/z-/zlib.json
  scripts/testing/version-files/without-default-baseline-2/vcpkg.json
  scripts/vcpkg.schema.json
  toolsrc/include/vcpkg/base/expected.h
  toolsrc/include/vcpkg/base/files.h
  toolsrc/include/vcpkg/base/json.h
  toolsrc/include/vcpkg/base/jsonreader.h
  toolsrc/include/vcpkg/sourceparagraph.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/include/vcpkg/versions.h
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg/base/json.cpp
  toolsrc/src/vcpkg/commands.civerifyversions.cpp
  toolsrc/src/vcpkg/help.cpp
  toolsrc/src/vcpkg/install.cpp
  toolsrc/src/vcpkg/paragraphs.cpp
  toolsrc/src/vcpkg/registries.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: category:documentation, category:vcpkg-feature, info:internal

#15047 [CGAL] Upgrade to 5.2
  port_versions/baseline.json
  port_versions/c-/cgal.json
  ports/cgal/CONTROL
  ports/cgal/portfile.cmake
Labels: category:port-update, info:reviewed

#15661 [gtest] Add a patch to fix build error in GCC 11
  port_versions/baseline.json
  port_versions/g-/gtest.json
  ports/gtest/CONTROL
  ports/gtest/fix-build-failure-in-gcc-11.patch
  ports/gtest/portfile.cmake
Labels: category:port-bug, info:reviewed

#15597 [qt5] Remove dependency qt5 feature mysqlplugin when building x86
  port_versions/baseline.json
  port_versions/q-/qt5.json
  ports/qt5/CONTROL
Labels: category:port-bug, info:internal, info:reviewed

#15639 directxtex, directxmesh, directxtk, uvatlas ports updated to fix cach…
  port_versions/baseline.json
  port_versions/d-/directxmesh.json
  port_versions/d-/directxtex.json
  port_versions/d-/directxtk.json
  port_versions/d-/directxtk12.json
  port_versions/u-/uvatlas.json
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxtex/CONTROL
  ports/directxtex/portfile.cmake
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
  ports/uvatlas/CONTROL
  ports/uvatlas/portfile.cmake
Labels: category:port-bug, info:reviewed

#11758 [vcpkg] RFC: Versioning
  docs/specifications/versioning.md
Labels: category:vcpkg-feature, info:internal

#15089 [libarchive+tesseract+opencv] add missing libarchiveConfig.cmake, fix tesseract downstream and unblock opencv CI
  .gitignore
  docs/maintainers/vcpkg_check_features.md
  port_versions/baseline.json
  port_versions/d-/dmlc.json
  port_versions/g-/gdcm.json
  port_versions/l-/libarchive.json
  port_versions/o-/opencv.json
  port_versions/o-/opencv2.json
  port_versions/o-/opencv3.json
  port_versions/o-/opencv4.json
  port_versions/t-/tesseract.json
  ports/dmlc/CONTROL
  ports/gdcm/CONTROL
  ports/libarchive/CONTROL
  ports/libarchive/portfile.cmake
  ports/libarchive/vcpkg-cmake-wrapper.cmake.in
  ports/opencv/CONTROL
  ports/opencv2/CONTROL
  ports/opencv3/CONTROL
  ports/opencv3/portfile.cmake
  ports/opencv4/0008-fix-vtk9.patch
  ports/opencv4/CONTROL
  ports/opencv4/portfile.cmake
  ports/tesseract/CONTROL
  ports/tesseract/portfile.cmake
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_check_features.cmake
  scripts/test_ports/vcpkg-ci-opencv/CONTROL
  scripts/test_ports/vcpkg-ci-paraview/CONTROL
Labels: category:port-bug, info:reviewed

#15427 [msdfgen] New port
  port_versions/baseline.json
  port_versions/m-/msdfgen.json
  ports/msdfgen/compatibility.patch
  ports/msdfgen/portfile.cmake
  ports/msdfgen/vcpkg.json
Labels: category:new-port, info:reviewed

#15509 [openimageio] Bump to 2.2.10.0.
  port_versions/baseline.json
  port_versions/o-/openimageio.json
  ports/openimageio/CONTROL
  ports/openimageio/fix-dependency.patch
  ports/openimageio/fix-dependfmt.patch
  ports/openimageio/fix-libheif.patch
  ports/openimageio/fix-tools-path.patch
  ports/openimageio/portfile.cmake
Labels: category:port-update, info:reviewed

#15577 [SOCI] Add support for soci-mysql connector
  port_versions/baseline.json
  port_versions/s-/soci.json
  ports/soci/CONTROL
  ports/soci/portfile.cmake
Labels: category:port-bug, category:port-feature, info:reviewed

#15581 [ignition-fuel-tools4] Add new port 🤖
  port_versions/baseline.json
  port_versions/i-/ignition-fuel-tools4.json
  ports/ignition-fuel-tools4/CONTROL
  ports/ignition-fuel-tools4/portfile.cmake
Labels: category:new-port, info:reviewed

#15622 [vcpkg_build_make] remove libtool artifacts
  scripts/cmake/vcpkg_build_make.cmake
Labels: category:tool-update, info:reviewed

#15634 [openal-soft] Fix issue with cmake config.
  port_versions/baseline.json
  port_versions/o-/openal-soft.json
  ports/openal-soft/CONTROL
  ports/openal-soft/portfile.cmake
Labels: category:port-bug, info:reviewed

#15624 [glslang] Provide glslang-default-resource-limits library.
  port_versions/baseline.json
  port_versions/g-/glslang.json
  ports/glslang/CMakeLists-targets.patch
  ports/glslang/CONTROL
Labels: category:port-feature, info:reviewed

#15611 [vcpkg_acquire_msys] add findutils as a dependency to libtool
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: category:tool-update, info:reviewed

#15609 delete linux from fail port from tomlplusplus
  port_versions/baseline.json
  port_versions/t-/tomlplusplus.json
  ports/tomlplusplus/CONTROL
  ports/tomlplusplus/portfile.cmake
Labels: category:port-feature, info:reviewed

#15688 fix wrong path in docs/specifications/manifests.md
  docs/specifications/manifests.md
Labels: category:documentation, info:reviewed

#15700 [pegtl] Update to 3.2.0 release
  port_versions/baseline.json
  port_versions/p-/pegtl.json
  ports/pegtl/CONTROL
  ports/pegtl/portfile.cmake
Labels: category:port-update, info:reviewed

#15669 [google-cloud-cpp] update to v1.23.0
  port_versions/baseline.json
  port_versions/g-/google-cloud-cpp.json
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
Labels: category:port-update, info:reviewed

#15746 [vcpkg baseline] Disable spatialite-tools on linux and osx
  scripts/ci.baseline.txt
Labels: category:vcpkg-bug, info:internal, info:reviewed

#15743 [usockets] Update uSockets to the latest version
  port_versions/baseline.json
  port_versions/u-/usockets.json
  ports/usockets/CONTROL
  ports/usockets/portfile.cmake
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#15722 [phnt] Update to 2020-12-21
  port_versions/baseline.json
  port_versions/p-/phnt.json
  ports/phnt/CONTROL
  ports/phnt/portfile.cmake
  ports/phnt/vcpkg.json
Labels: category:port-update, info:reviewed

#15720 [sdformat9] Update to 9.4.0
  port_versions/baseline.json
  port_versions/s-/sdformat9.json
  ports/sdformat9/CONTROL
  ports/sdformat9/fix-dependency-urdfdom.patch
  ports/sdformat9/portfile.cmake
  ports/sdformat9/respect-build-testing.patch
Labels: category:port-update, info:reviewed

#15645 [xlnt] Prevent macro redefinition
  port_versions/baseline.json
  port_versions/x-/xlnt.json
  ports/xlnt/CONTROL
  ports/xlnt/static-linking-for-windows.patch
Labels: category:port-bug, info:reviewed

#15672 [blend2d] Update to beta_2021-01-02
  port_versions/b-/blend2d.json
  port_versions/baseline.json
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
Labels: category:port-update, info:reviewed

#15684 [physfs] Fix arm64-windows
  port_versions/baseline.json
  port_versions/p-/physfs.json
  ports/physfs/fix-lzmasdk-arm64-windows.patch
  ports/physfs/portfile.cmake
  ports/physfs/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#15683 [simage] Fix optional dependencies
  port_versions/baseline.json
  port_versions/s-/simage.json
  ports/simage/CONTROL
  ports/simage/portfile.cmake
Labels: category:port-bug, info:internal, info:reviewed

#15608 Librealsense2 android build
  port_versions/baseline.json
  port_versions/r-/realsense2.json
  ports/realsense2/CONTROL
  ports/realsense2/portfile.cmake
Labels: category:port-feature, info:reviewed

#15613 [libconfig] shlwapi is not available on linux
  port_versions/baseline.json
  port_versions/l-/libconfig.json
  ports/libconfig/CMakeLists.txt
  ports/libconfig/CONTROL
Labels: category:port-feature, info:reviewed

#15721 [xorstr] Update to 2020-11-29
  port_versions/baseline.json
  port_versions/x-/xorstr.json
  ports/xorstr/CONTROL
  ports/xorstr/portfile.cmake
  ports/xorstr/vcpkg.json
Labels: category:port-update, requires:author-response

#15692 update libusb to 1.0.24
  port_versions/baseline.json
  port_versions/l-/libusb.json
  ports/libusb/CONTROL
  ports/libusb/portfile.cmake
Labels: category:port-update, requires:author-response

#15671 [libopusenc] fix macOS and Linux build
  port_versions/baseline.json
  port_versions/l-/libopusenc.json
  ports/libopusenc/CMakeLists.txt
  ports/libopusenc/CONTROL
  ports/libopusenc/vcpkg.json
Labels: category:port-feature, requires:author-response

#15666 [podofo] Fix feature crypto
  port_versions/baseline.json
  port_versions/p-/podofo.json
  ports/podofo/0005-fix-crypto.patch
  ports/podofo/CONTROL
  ports/podofo/portfile.cmake
Labels: category:port-bug, info:internal, requires:all-feature-testing

#15740 [vcpkg baseline][vcpkg_configure_make] Fix arm64-windows, arm-uwp
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#15767 [vcpkg] fix edit command on windows
  toolsrc/src/vcpkg/commands.edit.cpp
Labels: category:vcpkg-bug, info:internal

#15768 [vcpkg baseline][spatialite-tools] fix linux osx build falied
  port_versions/baseline.json
  port_versions/s-/spatialite-tools.json
  ports/spatialite-tools/CONTROL
  ports/spatialite-tools/fix-makefiles.patch
  scripts/ci.baseline.txt
Labels: category:port-bug, info:reviewed

#15764 [opencolorio] Install OpenColorIOConfig.cmake
  port_versions/baseline.json
  port_versions/o-/opencolorio.json
  ports/opencolorio/CONTROL
  ports/opencolorio/portfile.cmake
  ports/opencolorio/vcpkg.json
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#15751 [reproc] update to 14.2.1
  port_versions/baseline.json
  port_versions/r-/reproc.json
  ports/reproc/CONTROL
  ports/reproc/portfile.cmake
Labels: category:port-update, info:internal

#15752 [libsass/sassc] add new port/tool
  port_versions/baseline.json
  port_versions/l-/libsass.json
  port_versions/s-/sassc.json
  ports/libsass/CONTROL
  ports/libsass/portfile.cmake
  ports/libsass/remove_compiler_flags.patch
  ports/sassc/CONTROL
  ports/sassc/portfile.cmake
  ports/sassc/remove_compiler_flags.patch
Labels: category:new-port, requires:author-response

#15735 [libjepg-turbo] Fix *.pc files
  port_versions/baseline.json
  port_versions/l-/libjpeg-turbo.json
  ports/libjpeg-turbo/CONTROL
  ports/libjpeg-turbo/portfile.cmake
Labels: category:port-feature, info:reviewed

#15701 [cppgraphqlgen] Update to 3.5.0 release
  port_versions/baseline.json
  port_versions/c-/cppgraphqlgen.json
  ports/cppgraphqlgen/CONTROL
  ports/cppgraphqlgen/portfile.cmake
  ports/cppgraphqlgen/vcpkg.json
Labels: category:port-update, info:reviewed

#15682 [pagmo2] Add new port
  port_versions/baseline.json
  port_versions/p-/pagmo2.json
  ports/pagmo2/disable-C4701.patch
  ports/pagmo2/disable-md-override.patch
  ports/pagmo2/find-tbb.patch
  ports/pagmo2/portfile.cmake
  ports/pagmo2/vcpkg.json
Labels: category:new-port, info:reviewed

#15718 [sfml] Install usage and change version scheme to relaxed
  port_versions/baseline.json
  port_versions/s-/sfml.json
  ports/sfml/CONTROL
  ports/sfml/portfile.cmake
  ports/sfml/usage
  ports/sfml/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#15374 [osg] fix x64-windows-static-md builds
  port_versions/baseline.json
  port_versions/o-/osg.json
  ports/osg/CONTROL
  ports/osg/osgdb_zip_nozip.patch
  ports/osg/portfile.cmake
Labels: category:port-bug, info:reviewed

#15785 [crfsuite] change /include/x.h => /include/crfsuite/x.h
  port_versions/baseline.json
  port_versions/c-/crfsuite.json
  ports/crfsuite/CMakeLists.txt
  ports/crfsuite/CONTROL
  ports/crfsuite/portfile.cmake
  ports/crfsuite/vcpkg.json
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#15777 [osgearth] Make all find_packages required in effort to make this port less "flaky", and turn on in CI.
  port_versions/baseline.json
  port_versions/o-/osgearth.json
  ports/osgearth/CONTROL
  ports/osgearth/make-all-find-packages-required.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/vcpkg.json
  scripts/ci.baseline.txt
  toolsrc/src/vcpkg/platform-expression.cpp
Labels: category:port-bug, category:vcpkg-feature, info:internal, info:reviewed

#15804 [aws-sdk-cpp] Fix PRIVATE => PRVATE typo
  ports/aws-sdk-cpp/CONTROL
  ports/aws-sdk-cpp/usage
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#15729 [vcpkg baseline] [mesa] Fix conflicts with angle
  ports/mesa/CONTROL
  ports/mesa/portfile.cmake
  versions/baseline.json
  versions/m-/mesa.json
Labels: category:port-bug, info:internal, info:reviewed

#15790 [sentry-native] Update to 0.4.5
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#15797 [libsamplerate] Upgrade to 0.2.0
  ports/libsamplerate/CMakeLists.txt
  ports/libsamplerate/Use-the-lrintf-intrinsic.patch
  ports/libsamplerate/portfile.cmake
  ports/libsamplerate/vcpkg.json
  versions/baseline.json
  versions/l-/libsamplerate.json
Labels: category:port-update, info:reviewed

#15572 [vcpkg,boost-modular-build-helper] initial ppc64le community support
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost-modular-build-helper/vcpkg.json
  scripts/bootstrap.sh
  scripts/buildsystems/vcpkg.cmake
  toolsrc/include/vcpkg/base/system.h
  toolsrc/src/vcpkg.cpp
  toolsrc/src/vcpkg/base/system.cpp
  toolsrc/src/vcpkg/triplet.cpp
  triplets/community/ppc64le-linux.cmake
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:community-triplet, category:vcpkg-feature, info:reviewed, requires:discussion

#15727 [poppler] Disable clang-format check
  ports/poppler/0004-disable-clang-format.patch
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: category:port-bug, info:internal, info:reviewed

#15732 [msys2] Update msys components pkgconfig url
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update, info:internal, info:reviewed

#15810 Restore x-upload-metrics command accidentally disabled by removing VCPKG_DISABLE_METRICS
  toolsrc/src/vcpkg-test/commands.cpp
  toolsrc/src/vcpkg/commands.cpp
  toolsrc/src/vcpkg/commands.upload-metrics.cpp
Labels: category:vcpkg-bug, info:internal

#15770 [darknet] update to latest version
  ports/darknet/0001-rename-_castu32_f32-to-gemm_castu32_f32.patch
  ports/darknet/CONTROL
  ports/darknet/portfile.cmake
  versions/baseline.json
  versions/d-/darknet.json
Labels: category:port-update, info:reviewed

#15789 [ogre] Do not use strict mode by default in ogre for backward compatibility
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-bug, info:internal, info:reviewed

#15162 [OpenCV] update to v4.5 and to v3.4.12
  ports/opencv3/0002-install-options.patch
  ports/opencv3/0004-add-missing-stdexcept-include.patch
  ports/opencv3/0005-fix-vtk9.patch
  ports/opencv3/0009-fix-uwp.patch
  ports/opencv3/CONTROL
  ports/opencv3/portfile.cmake
  ports/opencv4/0002-install-options.patch
  ports/opencv4/0003-force-package-requirements.patch
  ports/opencv4/0004-fix-policy-CMP0057.patch
  ports/opencv4/0005-add-missing-stdexcept-include.patch
  ports/opencv4/0006-fix-glog-abbreviated-severity.patch
  ports/opencv4/0006-jpeg2000_getref.patch
  ports/opencv4/0007-fix-vtk9-contrib.patch
  ports/opencv4/0008-fix-vtk9.patch
  ports/opencv4/0009-fix-uwp.patch
  ports/opencv4/CONTROL
  ports/opencv4/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-update, info:reviewed

#15802 [ceres] Mark all dependencies REQUIRED
  ports/ceres/find-package-required.patch
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  ports/suitesparse/CONTROL
  ports/suitesparse/FindCXSparse.cmake
  ports/suitesparse/vcpkg.json
  versions/baseline.json
  versions/c-/ceres.json
  versions/s-/suitesparse.json
Labels: category:port-bug, info:internal, info:reviewed

#15709 [vcpkg] Fix regression in error messages with registries/versioning
  toolsrc/include/vcpkg/paragraphs.h
  toolsrc/include/vcpkg/portfileprovider.h
  toolsrc/include/vcpkg/registries.h
  toolsrc/src/vcpkg-test/dependencies.cpp
  toolsrc/src/vcpkg/commands.portsdiff.cpp
  toolsrc/src/vcpkg/paragraphs.cpp
  toolsrc/src/vcpkg/portfileprovider.cpp
  toolsrc/src/vcpkg/registries.cpp
Labels: category:vcpkg-bug, info:internal

#15734 [tiff] add vcpkg_fixup_pkgconfig for tiff
  ports/tiff/CONTROL
  ports/tiff/portfile.cmake
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-bug, category:port-feature, info:reviewed

#15782 [lzo] Install pc file on windows
  ports/lzo/CONTROL
  ports/lzo/always_install_pc.patch
  ports/lzo/portfile.cmake
  versions/baseline.json
  versions/l-/lzo.json
Labels: category:port-feature, info:reviewed

#15825 [vcpkg] Improve diagnostics around compiler tracking and toolset errors. 'Fixes' #15823.
  toolsrc/include/vcpkg/build.h
  toolsrc/include/vcpkg/vcpkgpaths.h
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.env.cpp
  toolsrc/src/vcpkg/vcpkgpaths.cpp
Labels: info:internal

#15845 [docs] Correct the "new port requests" link in FAQ
  docs/about/faq.md
Labels: category:documentation, info:reviewed

#14937 [gamenetworkingsockets] Add new port
  ports/gamenetworkingsockets/portfile.cmake
  ports/gamenetworkingsockets/vcpkg.json
  versions/baseline.json
  versions/g-/gamenetworkingsockets.json
Labels: category:new-port, info:reviewed

#13081 [mpc/mpfr] Add new port / update mpfr
  ports/gmp/adddef.patch
  ports/gmp/portfile.cmake
  ports/gmp/vcpkg.json
  ports/mpc/CONTROL
  ports/mpc/gmpd.patch
  ports/mpc/portfile.cmake
  ports/mpfr/CMakeLists.txt
  ports/mpfr/CONTROL
  ports/mpfr/dll.patch
  ports/mpfr/gmpd.patch
  ports/mpfr/portfile.cmake
  scripts/cmake/vcpkg_acquire_msys.cmake
  versions/baseline.json
  versions/g-/gmp.json
  versions/m-/mpc.json
  versions/m-/mpfr.json
Labels: category:new-port, category:port-update, info:reviewed

#15500 [openigtlink] Fix cmake config location
  ports/openigtlink/CONTROL
  ports/openigtlink/portfile.cmake
  versions/baseline.json
  versions/o-/openigtlink.json
Labels: category:port-bug, info:reviewed

#15540 [sdl2] Fix improper replacement of -lSDL2main + remove IGNORE_FLAGS and SYSTEM_LIBRARIES
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#15667 [vtk] use patch for QT_NO_KEYWORDS support from upstream
  ports/vtk/0002-Qt-enforce-QT_NO_KEYWORDS-builds-by-VTK-itself.patch
  ports/vtk/CONTROL
  ports/vtk/portfile.cmake
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-bug, info:reviewed

#15680 Fix Mbed TLS build for Android
  ports/mbedtls/CONTROL
  ports/mbedtls/portfile.cmake
  versions/baseline.json
  versions/m-/mbedtls.json
Labels: category:community-triplet, category:port-bug, info:reviewed

#15771 [libiconv] Updated typo in iconv share files location
  ports/libiconv/CONTROL
  ports/libiconv/portfile.cmake
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-bug, info:reviewed

#15841 [trantor] Update to 1.2.0
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.patch
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#15806 [libxslt] Fixed macos build
  ports/libxslt/CONTROL
  ports/libxslt/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libxslt.json
Labels: category:port-feature, info:reviewed

#15812 [freeimage] Fix plugin disable patch
  ports/freeimage/CONTROL
  ports/freeimage/disable-plugins-depending-on-internal-third-party-libraries.patch
  ports/freeimage/portfile.cmake
  ports/freeimage/update_format_enum_values.patch
  versions/baseline.json
  versions/f-/freeimage.json
Labels: category:port-bug, info:internal, info:reviewed

#15837 [ngspice] Update to rev 33
  ports/ngspice/CONTROL
  ports/ngspice/portfile.cmake
  ports/ngspice/use-winbison-global.patch
  versions/baseline.json
  versions/n-/ngspice.json
Labels: category:port-update, info:reviewed

#12860 [harfbuzz] Use meson and update to 2.7.0
  ports/harfbuzz/0001-fix-cmake-export.patch
  ports/harfbuzz/0003-remove-broken-test.patch
  ports/harfbuzz/CONTROL
  ports/harfbuzz/find-package-freetype-2.patch
  ports/harfbuzz/fix_include.patch
  ports/harfbuzz/glib-cmake.patch
  ports/harfbuzz/harfbuzzConfig.cmake.in
  ports/harfbuzz/icu.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  ports/pango/0002-remove-hb-glib.diff
  ports/pango/CONTROL
  ports/pango/portfile.cmake
  versions/baseline.json
  versions/h-/harfbuzz.json
  versions/p-/pango.json
Labels: category:port-update, info:reviewed

#14971 [ms-gltf] Add new port
  ports/ms-gltf/fix-apple-filesystem.patch
  ports/ms-gltf/fix-install.patch
  ports/ms-gltf/portfile.cmake
  ports/ms-gltf/vcpkg.json
  versions/baseline.json
  versions/m-/ms-gltf.json
Labels: category:new-port, info:reviewed

#15009 [dav1d] Add dav1d AV1 decoder port
  ports/dav1d/patch_underscore_prefix.patch
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:new-port, info:reviewed

#15828 Add dummy version.txt for vcpkg older than vcpkg_minimum_required.
  toolsrc/VERSION.txt
Labels: category:vcpkg-feature

#15871 [vcpkg] Improve error reporting for vcpkg_abi_info.txt copy failure.
  toolsrc/src/vcpkg/build.cpp
Labels: category:infrastructure, category:vcpkg-bug, info:internal

#15606 [boost-locale] android build
  ports/boost-locale/b2-options.cmake.in
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  ports/libiconv/CONTROL
  ports/libiconv/portfile.cmake
  versions/b-/boost-locale.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-feature, info:reviewed, requires:author-response, requires:discussion
