Repository microsoft/vcpkg, pull requests merged in 2021-08, with the labels that each got.

#19311 Clean the downloads directory every CI run.
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: category:infrastructure, info:internal

#19314 Avoid rmdir the downloads directory is nonexistent.
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: category:infrastructure, info:internal

#19296 [intel-mkl] Lookup oneapi installation for mkl headers
  ports/intel-mkl/CONTROL
  ports/intel-mkl/portfile.cmake
  versions/baseline.json
  versions/i-/intel-mkl.json
Labels: category:port-feature, info:reviewed

#19287 [vcpkg baseline][tinyfiledialogs] Change repo to sourceforge
  ports/tinyfiledialogs/CMakeLists.txt
  ports/tinyfiledialogs/CONTROL
  ports/tinyfiledialogs/portfile.cmake
  ports/tinyfiledialogs/vcpkg.json
  versions/baseline.json
  versions/t-/tinyfiledialogs.json
Labels: category:port-bug, info:internal, info:reviewed

#19282 [c4core, ryml] Update to latest version and add features
  ports/c4core/portfile.cmake
  ports/c4core/vcpkg.json
  ports/ryml/portfile.cmake
  ports/ryml/vcpkg.json
  versions/baseline.json
  versions/c-/c4core.json
  versions/r-/ryml.json
Labels: category:port-feature, category:port-update, info:reviewed

#19264 [FreeRDP] update to 2.4.0
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-update, info:reviewed

#19221 [libxml2] Fix build error on uwp
  ports/libxml2/fix-uwp.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:internal, info:reviewed

#19201 [kf5solid] new port
  ports/kf5solid/portfile.cmake
  ports/kf5solid/vcpkg.json
  versions/baseline.json
  versions/k-/kf5solid.json
Labels: category:new-port, info:reviewed

#19200 [kf5jobwidgets] new port
  ports/kf5jobwidgets/portfile.cmake
  ports/kf5jobwidgets/vcpkg.json
  versions/baseline.json
  versions/k-/kf5jobwidgets.json
Labels: category:new-port, info:reviewed

#19164 [vcpkg_build_make] Always use msys make on win32 host
  scripts/cmake/vcpkg_build_make.cmake
Labels: category:tool-update, info:reviewed

#19126 Fix c-ares compilation under Linux with dynamic linkage
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-bug, info:reviewed

#19040 [Poco] update to 1.11.0
  ports/poco/arm64_pcre.patch
  ports/poco/fix-error-c3861.patch
  ports/poco/fix_dependency.patch
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-update, info:internal, info:reviewed

#19054 [protobuf] add support for mingw subsystem
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-feature, info:reviewed

#19245 [vcpkg-cmake] Fix docs and usage of option MAYBE_UNUSED_VARIABLES
  docs/maintainers/ports/vcpkg-cmake/vcpkg_cmake_configure.md
  docs/maintainers/vcpkg_configure_cmake.md
  ports/kf5auth/portfile.cmake
  ports/kf5auth/vcpkg.json
  ports/kf5codecs/portfile.cmake
  ports/kf5codecs/vcpkg.json
  ports/kf5completion/portfile.cmake
  ports/kf5completion/vcpkg.json
  ports/kf5config/portfile.cmake
  ports/kf5config/vcpkg.json
  ports/kf5dbusaddons/portfile.cmake
  ports/kf5dbusaddons/vcpkg.json
  ports/kf5guiaddons/portfile.cmake
  ports/kf5guiaddons/vcpkg.json
  ports/kf5holidays/portfile.cmake
  ports/kf5holidays/vcpkg.json
  ports/kf5i18n/portfile.cmake
  ports/kf5i18n/vcpkg.json
  ports/kf5itemmodels/portfile.cmake
  ports/kf5itemmodels/vcpkg.json
  ports/kf5itemviews/portfile.cmake
  ports/kf5itemviews/vcpkg.json
  ports/kf5plotting/portfile.cmake
  ports/kf5plotting/vcpkg.json
  ports/kf5sonnet/portfile.cmake
  ports/kf5sonnet/vcpkg.json
  ports/kf5syntaxhighlighting/portfile.cmake
  ports/kf5syntaxhighlighting/vcpkg.json
  ports/kf5widgetsaddons/portfile.cmake
  ports/kf5widgetsaddons/vcpkg.json
  ports/kf5windowsystem/portfile.cmake
  ports/kf5windowsystem/vcpkg.json
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  versions/baseline.json
  versions/k-/kf5auth.json
  versions/k-/kf5codecs.json
  versions/k-/kf5completion.json
  versions/k-/kf5config.json
  versions/k-/kf5dbusaddons.json
  versions/k-/kf5guiaddons.json
  versions/k-/kf5holidays.json
  versions/k-/kf5i18n.json
  versions/k-/kf5itemmodels.json
  versions/k-/kf5itemviews.json
  versions/k-/kf5plotting.json
  versions/k-/kf5sonnet.json
  versions/k-/kf5syntaxhighlighting.json
  versions/k-/kf5widgetsaddons.json
  versions/k-/kf5windowsystem.json
  versions/v-/vcpkg-cmake.json
Labels: category:documentation, category:port-bug, info:internal, info:reviewed

#18411 [daw-json-link] New port
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  ports/daw-utf-range/portfile.cmake
  ports/daw-utf-range/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
  versions/d-/daw-json-link.json
  versions/d-/daw-utf-range.json
Labels: category:new-port, info:reviewed

#19207 [macos ci] update 2021-07-27
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/remove-werror.patch
  ports/azure-iot-sdk-c/vcpkg.json
  ports/coroutine/add-noexcept-to-frame.patch
  ports/coroutine/portfile.cmake
  ports/coroutine/vcpkg.json
  ports/itpp/portfile.cmake
  ports/itpp/rename-version.patch
  ports/itpp/vcpkg.json
  ports/libodb-boost/CONTROL
  ports/libodb-boost/portfile.cmake
  ports/libodb-mysql/portfile.cmake
  ports/libodb-mysql/vcpkg.json
  ports/libodb-pgsql/CONTROL
  ports/libodb-pgsql/portfile.cmake
  ports/libodb-sqlite/CONTROL
  ports/libodb-sqlite/portfile.cmake
  ports/libodb/portfile.cmake
  ports/libodb/vcpkg.json
  ports/libunistring/fix-for-automake-1.16.4.patch
  ports/libunistring/portfile.cmake
  ports/libunistring/vcpkg.json
  ports/nanodbc/CONTROL
  ports/nanodbc/portfile.cmake
  ports/nanodbc/rename-version.patch
  ports/nanodbc/vcpkg.json
  ports/plplot/CONTROL
  ports/plplot/portfile.cmake
  ports/plplot/vcpkg.json
  ports/selene/portfile.cmake
  ports/selene/trivial-pixel.patch
  ports/selene/vcpkg.json
  ports/sentencepiece/CONTROL
  ports/sentencepiece/portfile.cmake
  ports/sentencepiece/rename-version.patch
  ports/sentencepiece/vcpkg.json
  ports/xlnt/CONTROL
  ports/xlnt/portfile.cmake
  ports/xlnt/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/Utilities.psm1
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/osx/configuration/Vagrantfile-box.rb
  scripts/azure-pipelines/osx/configuration/installables.json
  versions/a-/azure-iot-sdk-c.json
  versions/baseline.json
  versions/c-/coroutine.json
  versions/i-/itpp.json
  versions/l-/libodb-boost.json
  versions/l-/libodb-mysql.json
  versions/l-/libodb-pgsql.json
  versions/l-/libodb-sqlite.json
  versions/l-/libodb.json
  versions/l-/libunistring.json
  versions/n-/nanodbc.json
  versions/p-/plplot.json
  versions/s-/selene.json
  versions/s-/sentencepiece.json
  versions/x-/xlnt.json
Labels: category:infrastructure, info:internal

#19347 [vcpkg-tool] Update to 2021-08-03
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/tls12-download.exe
Labels: category:tool-update, info:internal, info:reviewed

#19323 [vcpkg baseline][hunspell] Fix usage when building static
  ports/hunspell/portfile.cmake
  ports/hunspell/vcpkg.json
  versions/baseline.json
  versions/h-/hunspell.json
Labels: category:port-bug, info:internal, info:reviewed

#19229 [arrow] Update to 5.0.0
  ports/arrow/all.patch
  ports/arrow/fix-dependencies.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19336 [google-cloud-cpp] update to latest version (v1.30.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#19318 [openal-soft] Add pkgconfig
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-bug, info:internal, info:reviewed

#19339 [sentry-native] Update to 0.4.12
  ports/sentry-native/fix-libcurl.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#19343 [wil] Update wil to the latest commit
  ports/wil/CONTROL
  ports/wil/portfile.cmake
  versions/baseline.json
  versions/w-/wil.json
Labels: category:port-update, info:reviewed

#19280 [workflow] Update version to 0.9.6
  ports/workflow/portfile.cmake
  ports/workflow/vcpkg.json
  versions/baseline.json
  versions/w-/workflow.json
Labels: category:port-update, info:reviewed

#19276 [qhull] fix missing symbols
  ports/qhull/CONTROL
  ports/qhull/fix-missing-symbols.patch
  ports/qhull/portfile.cmake
  versions/baseline.json
  versions/q-/qhull.json
Labels: category:port-bug, info:reviewed

#19281 [ libsnoretoast ] new port
  ports/libsnoretoast/portfile.cmake
  ports/libsnoretoast/vcpkg.json
  versions/baseline.json
  versions/l-/libsnoretoast.json
Labels: category:new-port, info:reviewed

#19305 [libdatachannel][libjuice] Update libdatachannel to 0.14.1 and libjuice to 0.8.4.
  ports/libdatachannel/CXX17_ADAPTOR_TYPEDEFS_DEPRECATION_WARNING.patch
  ports/libdatachannel/fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  ports/libjuice/fix-for-vcpkg.patch
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
  versions/l-/libjuice.json
Labels: category:port-update, info:reviewed

#19269 [c4core] builds on mac
  ports/c4core/portfile.cmake
  ports/c4core/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/c4core.json
Labels: category:port-feature, info:reviewed

#19270 [jack2] update to 1.9.19; install pkgconfig file; fix library name
  ports/jack2/CMakeLists.txt
  ports/jack2/CONTROL
  ports/jack2/jack.def
  ports/jack2/portfile.cmake
  ports/jack2/vcpkg.json
  versions/baseline.json
  versions/j-/jack2.json
Labels: category:port-bug, category:port-update, info:reviewed

#19256 [signalrclient]Update homepage URL
  ports/signalrclient/CONTROL
  versions/baseline.json
  versions/s-/signalrclient.json
Labels: category:port-update, info:reviewed

#19365 [7zip] Upgrade vcpkgTools 7zip to 19.00 msi
  scripts/vcpkgTools.xml
Labels: info:internal, info:reviewed, category:tool-update

#18982 [portsmf] add new port with version 236
  ports/portsmf/portfile.cmake
  ports/portsmf/vcpkg.json
  versions/baseline.json
  versions/p-/portsmf.json
Labels: category:new-port, info:reviewed

#18883 [rbdl-orb] Adding RBDL-ORB to vcpkg
  ports/rbdl-orb/portfile.cmake
  ports/rbdl-orb/vcpkg.json
  versions/baseline.json
  versions/r-/rbdl-orb.json
Labels: category:new-port, info:reviewed

#18876 [find_fortran] update msys components libiconv and zlib
  scripts/cmake/vcpkg_find_fortran.cmake
Labels: info:internal, info:reviewed, category:tool-update

#19361 [vcpkg baseline][vcpkg_configure_make] Pass make tool to `vcpkg_build_make`
  ports/starlink-ast/portfile.cmake
  ports/starlink-ast/vcpkg.json
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  versions/baseline.json
  versions/s-/starlink-ast.json
Labels: info:reviewed, category:tool-update, info:world-rebuild

#19460 [librsvg] Remove debug postfix
  ports/librsvg/CMakeLists.txt
  ports/librsvg/portfile.cmake
  ports/librsvg/vcpkg.json
  versions/baseline.json
  versions/l-/librsvg.json
Labels: category:port-bug, info:internal, info:reviewed

#19458 [rtmidi] Fix fatal error C1083: Cannot open include file: jack/jack.h
  ports/rtmidi/CONTROL
  ports/rtmidi/portfile.cmake
  ports/rtmidi/vcpkg.json
  versions/baseline.json
  versions/r-/rtmidi.json
Labels: category:port-bug, info:internal, info:reviewed

#19457 [value-ptr-lite] Fix usage
  ports/value-ptr-lite/CONTROL
  ports/value-ptr-lite/portfile.cmake
  ports/value-ptr-lite/vcpkg.json
  versions/baseline.json
  versions/v-/value-ptr-lite.json
Labels: category:port-bug, info:internal, info:reviewed

#19446 [kf5attica] new port
  ports/kf5attica/portfile.cmake
  ports/kf5attica/vcpkg.json
  versions/baseline.json
  versions/k-/kf5attica.json
Labels: category:new-port, info:reviewed

#19444 [harfbuzz] Don't make use of IN_LIST
  ports/harfbuzz/harfbuzzConfig.cmake.in
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-bug, info:reviewed

#19437 [cppitertools] update to version 2.1
  ports/cppitertools/CONTROL
  ports/cppitertools/portfile.cmake
  versions/baseline.json
  versions/c-/cppitertools.json
Labels: category:port-update, info:reviewed

#19434 [readerwriterqueue] Update version to 1.0.5
  ports/readerwriterqueue/CONTROL
  ports/readerwriterqueue/portfile.cmake
  ports/readerwriterqueue/vcpkg.json
  versions/baseline.json
  versions/r-/readerwriterqueue.json
Labels: category:port-update, info:reviewed

#19453 [vcpkg baseline][rbdl-orb/rbdl/ptex] file conflicts, skip rbdl-orb in CI testing
  ports/ptex/CONTROL
  ports/ptex/portfile.cmake
  ports/ptex/vcpkg.json
  ports/rbdl-orb/portfile.cmake
  ports/rbdl-orb/vcpkg.json
  ports/rbdl/CONTROL
  ports/rbdl/portfile.cmake
  ports/rbdl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/ptex.json
  versions/r-/rbdl-orb.json
  versions/r-/rbdl.json
Labels: category:port-bug, info:internal, info:reviewed

#19420 [microsoft-signalr] Update port
  ports/microsoft-signalr/CONTROL
  ports/microsoft-signalr/portfile.cmake
  versions/baseline.json
  versions/m-/microsoft-signalr.json
Labels: category:port-feature, category:port-update, info:reviewed

#19433 [libzippp] update to 5.0-1.8.0
  ports/libzippp/CONTROL
  ports/libzippp/portfile.cmake
  versions/baseline.json
  versions/l-/libzippp.json
Labels: category:port-update, info:reviewed

#19393 [Azure SDK Core] Update to 1.2.0 Aug Release
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19298 [proj4] Add usage, fixup target PROJ::proj
  ports/proj4/portfile.cmake
  ports/proj4/usage
  ports/proj4/vcpkg.json
  versions/baseline.json
  versions/p-/proj4.json
Labels: category:port-bug, info:internal, info:reviewed

#19428 [libarchive] Restore pkgconfig file
  ports/libarchive/fix-buildsystem.patch
  ports/libarchive/portfile.cmake
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-feature, info:reviewed

#19423 [portsmf] update to 238
  ports/portsmf/portfile.cmake
  ports/portsmf/vcpkg.json
  versions/baseline.json
  versions/p-/portsmf.json
Labels: category:port-bug, category:port-update, info:reviewed

#19396 [catch2] Support static build
  ports/catch2/fix-install-path.patch
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-feature, info:internal, info:reviewed

#19381 [libpqxx] Upgrade up to 7.6.0
  ports/libpqxx/CONTROL
  ports/libpqxx/fix-build-with-vs2017.patch
  ports/libpqxx/portfile.cmake
  ports/libpqxx/vcpkg.json
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: category:port-update, info:reviewed

#19375 [pybind11] Update to 2.7.1
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#19370 [simdjson] Update to 0.9.7
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#19354 [ace] Upgrade to 7.0.3
  ports/ace/CONTROL
  ports/ace/portfile.cmake
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19272 [yaml-cpp] update to 0.7.0
  ports/opencolorio-tools/0001-lcms-dependency-search.patch
  ports/opencolorio-tools/0002-msvc-cpluscplus.patch
  ports/opencolorio-tools/0003-osx-self-assign-field.patch
  ports/opencolorio-tools/0004-yaml-dependency-search.patch
  ports/opencolorio-tools/0005-tinyxml-dependency-search.patch
  ports/opencolorio-tools/0006-oiio-dependency-search.patch
  ports/opencolorio-tools/CONTROL
  ports/opencolorio-tools/portfile.cmake
  ports/opencolorio/0001-lcms-dependency-search.patch
  ports/opencolorio/0002-msvc-cpluscplus.patch
  ports/opencolorio/0003-osx-self-assign-field.patch
  ports/opencolorio/0004-yaml-dependency-search.patch
  ports/opencolorio/0005-tinyxml-dependency-search.patch
  ports/opencolorio/0006-oiio-dependency-search.patch
  ports/opencolorio/fix-pystring-name.patch
  ports/opencolorio/portfile.cmake
  ports/opencolorio/use-find-openxer.patch
  ports/opencolorio/vcpkg.json
  ports/openimageio/fix-dependency.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  ports/pystring/CMakeLists.txt
  ports/pystring/CONTROL
  ports/pystring/vcpkg.json
  ports/yaml-cpp/CONTROL
  ports/yaml-cpp/fix-include-path.patch
  ports/yaml-cpp/portfile.cmake
  ports/yaml-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opencolorio.json
  versions/o-/openimageio.json
  versions/p-/pystring.json
  versions/y-/yaml-cpp.json
Labels: category:port-update, info:reviewed

#19369 [vcpkg-cmake] Fix vcpkg_copy_pdbs false alarm
  scripts/cmake/vcpkg_copy_pdbs.cmake
Labels: category:vcpkg-bug, info:reviewed

#18955 [cmake] Update to 3.21.1
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/ports.cmake
  scripts/vcpkgTools.xml
Labels: info:internal, info:reviewed, category:tool-update, info:world-rebuild

#19485 [Azure SDK Identity] Update to 1.1.0
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  versions/a-/azure-identity-cpp.json
  versions/baseline.json
Labels: category:port-bug, category:port-update, info:reviewed

#19487 [Azure SDK Key Vault Keys] update version to 4.0.0 GA
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19488 [Azure SDK Storage] Update to 12.1.0
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19491 [keystone] Fix static build with dynamic CRT on Windows
  ports/keystone/CONTROL
  ports/keystone/portfile.cmake
  ports/keystone/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/k-/keystone.json
Labels: category:port-bug, info:internal, info:reviewed

#19461 [intel-mkl] Update description field
  ports/intel-mkl/CONTROL
  ports/intel-mkl/vcpkg.json
  versions/baseline.json
  versions/i-/intel-mkl.json
Labels: category:port-feature, info:internal, info:reviewed

#19364 [tensorflow-cc] on x64 Windows with dynamic linkage misses C++ symbols in DLL
  ports/tensorflow-cc/portfile.cmake
  ports/tensorflow-cc/vcpkg.json
  versions/baseline.json
  versions/t-/tensorflow-cc.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#15921 [lua] Export cmake targets, rewrite CMakeLists and delete usage
  ports/lua/CMakeLists.txt
  ports/lua/portfile.cmake
  ports/lua/usage
  ports/lua/vcpkg-cmake-wrapper.cmake.in
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: category:port-bug, info:internal, info:reviewed

#19482 [c-ares] Update to 1.17.2.
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#19456 [vcpkg] The FreeBSD spelling of x86-64 is amd64.
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, category:tool-update

#18971 [curl] Update
  ports/curl/0002_fix_uwp.patch
  ports/curl/0004_nghttp2_staticlib.patch
  ports/curl/0005_remove_imp_suffix.patch
  ports/curl/0012-fix-dependency-idn2.patch
  ports/curl/0020-fix-pc-file.patch
  ports/curl/0021-normaliz.patch
  ports/curl/0022-deduplicate-libs.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#18495 [mesa] Update to 21.1.6
  ports/mesa/dual-osmesa-part2b.patch
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  versions/baseline.json
  versions/m-/mesa.json
Labels: info:internal, category:port-update, info:reviewed

#19470 [bshoshany-thread-pool] add a new port (1.9)
  ports/bshoshany-thread-pool/portfile.cmake
  ports/bshoshany-thread-pool/vcpkg.json
  versions/b-/bshoshany-thread-pool.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#19464 [openal-soft] enable coreaudio backend for ios
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-feature, info:reviewed

#16007 [fdk-aac] make patent-encumbered HE-AAC optional
  ports/fdk-aac/portfile.cmake
  ports/fdk-aac/vcpkg.json
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/fdk-aac.json
  versions/f-/ffmpeg.json
Labels: category:port-update, requires:author-response

#19516 [vcpkg baseline][rtaudio] Fix hidden dependencies on Linux
  ports/rtaudio/LICENSE
  ports/rtaudio/portfile.cmake
  ports/rtaudio/vcpkg.json
  versions/baseline.json
  versions/r-/rtaudio.json
Labels: category:port-bug, info:internal, info:reviewed

#19543 [vcpkg] Update tool to 2021-08-12.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#19376 [catch2] Update to version 2.13.7
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#19358 [ffmpeg/opencv4] Update opencv4 feature dependency and remove ffmpeg feature 'postproc' from default feature
  ports/ffmpeg/vcpkg.json
  ports/opencv2/CONTROL
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/0010-fix-uwp-tiff-imgcodecs.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0010-fix-uwp-tiff-imgcodecs.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:internal, info:reviewed

#19553 Skip embree2 in CI for static triplets due to conflicts.
  scripts/ci.baseline.txt
Labels: info:internal

#19541 [openimageio] Fix broken hash
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-bug, info:internal, info:reviewed

#19507 [google-cloud-cpp] update to latest release (v1.30.1)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#19474 [proj4] Fix the usage
  ports/proj4/portfile.cmake
  ports/proj4/usage
  ports/proj4/vcpkg.json
  versions/baseline.json
  versions/p-/proj4.json
Labels: category:port-bug, info:internal, info:reviewed

#19505 [aom] Update to 3.1.2
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18827 [OpenCV] update to v4.5.3 and to v3.4.15
  ports/libiconv/CONTROL
  ports/libiconv/vcpkg-cmake-wrapper.cmake
  ports/libxml2/vcpkg-cmake-wrapper.cmake
  ports/libxml2/vcpkg.json
  ports/opencv/vcpkg.json
  ports/opencv3/0002-install-options.patch
  ports/opencv3/0006-fix-uwp.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0002-install-options.patch
  ports/opencv4/0004-fix-policy-CMP0057.patch
  ports/opencv4/0006-fix-uwp.patch
  ports/opencv4/0008-devendor-quirc.patch
  ports/opencv4/0009-fix-qt-integration.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  scripts/test_ports/vcpkg-ci-opencv/CONTROL
  versions/baseline.json
  versions/l-/libiconv.json
  versions/l-/libxml2.json
  versions/o-/opencv.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-update

#19508 Update VMs for Patch Tuesday, 2021-08-11
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-vmss.ps1
  scripts/azure-pipelines/windows/deploy-windows-sdks.ps1
  scripts/azure-pipelines/windows/provision-entire-image.ps1
Labels: info:internal, category:infrastructure

#19545 [vcpkg_find_fortran] Update libiconv and zlib hash
  scripts/cmake/vcpkg_find_fortran.cmake
Labels: info:internal, info:reviewed, category:tool-update

#19469 [rollup:2021-08-09] Rollup PR
  docs/maintainers/vcpkg_find_fortran.md
  docs/maintainers/vcpkg_from_git.md
  ports/tinyfiledialogs/portfile.cmake
  ports/tinyfiledialogs/vcpkg.json
  ports/vcpkg-cmake-config/vcpkg.json
  ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
  scripts/cmake/vcpkg_download_distfile.cmake
  scripts/cmake/vcpkg_find_fortran.cmake
  scripts/cmake/vcpkg_fixup_cmake_targets.cmake
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
  scripts/cmake/vcpkg_from_git.cmake
  scripts/get_cmake_vars/CMakeLists.txt
  scripts/ports.cmake
  versions/baseline.json
  versions/t-/tinyfiledialogs.json
  versions/v-/vcpkg-cmake-config.json
Labels: info:internal, category:rollup

#19585 [hpx] Adapting for HPX V1.7.1
  ports/hpx/hpx-1.7.0-format-from-string.patch
  ports/hpx/portfile.cmake
  ports/hpx/vcpkg.json
  versions/baseline.json
  versions/h-/hpx.json
Labels: category:port-update, info:reviewed

#19584 [fltk] Update fltk to version 1.3.7
  ports/fltk/fltk_version.dat
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-update, info:reviewed

#19583 [rtaudio] update
  ports/rtaudio/portfile.cmake
  ports/rtaudio/vcpkg.json
  versions/baseline.json
  versions/r-/rtaudio.json
Labels: category:port-update, info:reviewed

#19582 [bshoshany-thread-pool] Updated to v2.0.0
  ports/bshoshany-thread-pool/portfile.cmake
  ports/bshoshany-thread-pool/vcpkg.json
  versions/b-/bshoshany-thread-pool.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19572 [vamp-sdk] update to 2.10; switch download URL to GitHub; fix path of installed headers
  ports/vamp-sdk/CMakeLists.txt
  ports/vamp-sdk/portfile.cmake
  ports/vamp-sdk/vcpkg.json
  versions/baseline.json
  versions/v-/vamp-sdk.json
Labels: category:port-update, info:reviewed

#19539 [zug] Add port
  ports/zug/portfile.cmake
  ports/zug/vcpkg.json
  versions/baseline.json
  versions/z-/zug.json
Labels: category:new-port, info:reviewed

#19536 [opentelemetry-cpp] New port
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:new-port, info:reviewed

#19521 [immer] update port
  ports/immer/CONTROL
  ports/immer/portfile.cmake
  ports/immer/vcpkg.json
  versions/baseline.json
  versions/i-/immer.json
Labels: category:port-feature, category:port-update, info:reviewed

#19510 [lua] Add error message to feature `cpp` when building uwp
  ports/lua/portfile.cmake
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: category:port-bug, info:internal, info:reviewed

#19509 [sdl2] Update to 2.0.16
  ports/sdl2/0001-sdl2-Enable-creation-of-pkg-cfg-file-on-windows.patch
  ports/sdl2/0002-sdl2-skip-ibus-on-linux.patch
  ports/sdl2/0003-sdl2-disable-sdlmain-target-search-on-uwp.patch
  ports/sdl2/0003-sdl2-fix-uwp-build.patch
  ports/sdl2/0004-sdl2-alias-on-static-build.patch
  ports/sdl2/0004-sdl2-macos-thread-detection-fix.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg-cmake-wrapper.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#19307 [angle] Fix mingw build
  ports/angle/003-fix-mingw.patch
  ports/angle/CMakeLists.txt
  ports/angle/portfile.cmake
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#19357 [abseil] Upgrade to 20210324.2
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19374 [libconfig] build on macos
  ports/libconfig/CMakeLists.txt
  ports/libconfig/CONTROL
  ports/libconfig/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libconfig.json
Labels: category:port-feature, info:reviewed

#19274 [wxwidgets] make wxUSE_STL an optional triplet feature disabled by default
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:reviewed

#19641 Fix freebsd vcpkg-tool compilation issue
  scripts/vcpkgTools.xml
Labels: category:vcpkg-bug, info:reviewed

#19633 [vcpkg baseline][paraview:x64-osx][vcpkg_cmake_config_fixup] Revert #19469
  ports/vcpkg-cmake-config/vcpkg.json
  ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
  scripts/cmake/vcpkg_fixup_cmake_targets.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake-config.json
Labels: info:internal, info:reviewed, category:tool-update, info:world-rebuild

#19723 [tinyfiledialogs] Fix usage
  ports/tinyfiledialogs/CMakeLists.txt
  ports/tinyfiledialogs/portfile.cmake
  ports/tinyfiledialogs/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/t-/tinyfiledialogs.json
Labels: category:port-bug, info:internal, info:reviewed

#19712 [KWSys] add new port
  ports/kwsys/portfile.cmake
  ports/kwsys/vcpkg.json
  versions/baseline.json
  versions/k-/kwsys.json
Labels: category:new-port, info:reviewed

#19719 [rmlui] Update to 4.2
  ports/rmlui/portfile.cmake
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:port-update, info:reviewed

#19697 [vcpkg] Update cmake 3.20.4 hash
  scripts/vcpkgTools.xml
Labels: info:reviewed, category:tool-update

#19691 [frugually-deep] update to v0.15.10 p0
  ports/frugally-deep/portfile.cmake
  ports/frugally-deep/vcpkg.json
  versions/baseline.json
  versions/f-/frugally-deep.json
Labels: category:port-update, info:reviewed

#19677 [imgui] Update to 1.84.1
  ports/imgui/CMakeLists.txt
  ports/imgui/imgui-config.cmake.in
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, requires:all-feature-testing

#18739 [glog] Fixed gflags dependency
  ports/gflags/CONTROL
  ports/gflags/portfile.cmake
  ports/gflags/usage
  ports/gflags/vcpkg-cmake-wrapper.cmake
  versions/baseline.json
  versions/g-/gflags.json
Labels: category:port-bug, info:reviewed

#19637 [crow] fix sha-512 sum
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-bug, info:reviewed

#19628 [vcpkg baseline][lapack-reference] Fix copy openblas's pkgconfig file
  ports/lapack-reference/CONTROL
  ports/lapack-reference/portfile.cmake
  ports/lapack-reference/vcpkg.json
  versions/baseline.json
  versions/l-/lapack-reference.json
Labels: category:port-bug, info:internal, info:reviewed

#19761 [bddisasm] Update to 1.34.2
  ports/bddisasm/portfile.cmake
  ports/bddisasm/vcpkg.json
  versions/b-/bddisasm.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19741 [llvm] update to 12.0.1
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-update, info:reviewed

#19760 [pango] Fix libthai spelling
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: category:port-bug, info:reviewed

#19621 [approval-tests-cpp] Update to 10.10.0
  ports/approval-tests-cpp/portfile.cmake
  ports/approval-tests-cpp/vcpkg.json
  versions/a-/approval-tests-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19640 [vcpkg] bootstrap.sh: fail if there is no entry for a tool os combination
  scripts/bootstrap.sh
Labels: info:reviewed, category:tool-update

#19279 [libunifex] create a new port
  ports/libunifex/allow-warnings.patch
  ports/libunifex/fix-install.patch
  ports/libunifex/portfile.cmake
  ports/libunifex/vcpkg.json
  versions/baseline.json
  versions/l-/libunifex.json
Labels: category:new-port, info:reviewed

#18248 [CGNS|VTK-M|VTK|ParaView] Update ports
  ports/cgns/CONTROL
  ports/cgns/defines.patch
  ports/cgns/hdf5.patch
  ports/cgns/portfile.cmake
  ports/cgns/vcpkg.json
  ports/cgns/zlib_szip_mpi.patch
  ports/paraview/CONTROL
  ports/paraview/VisIt_Build.patch
  ports/paraview/catalyst_install.patch
  ports/paraview/external_vtk.patch
  ports/paraview/paraview_build.patch
  ports/paraview/portfile.cmake
  ports/paraview/remove_duplicates.patch
  ports/paraview/vcpkg.json
  ports/qt5-svg/CONTROL
  ports/qt5-svg/portfile.cmake
  ports/qt5-svg/static_svg_link_fix.patch
  ports/vtk-m/CONTROL
  ports/vtk-m/portfile.cmake
  ports/vtk-m/vcpkg.json
  ports/vtk/0002-Qt-enforce-QT_NO_KEYWORDS-builds-by-VTK-itself.patch
  ports/vtk/156fb524.patch
  ports/vtk/1f00a0c9.patch
  ports/vtk/6811.patch
  ports/vtk/CONTROL
  ports/vtk/FindPostgreSQL.cmake
  ports/vtk/d107698a.patch
  ports/vtk/fix-freetype.patch
  ports/vtk/module-name-mangling.patch
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  ports/vtk/vtkm.patch
  versions/baseline.json
  versions/c-/cgns.json
  versions/p-/paraview.json
  versions/q-/qt5-svg.json
  versions/v-/vtk-m.json
  versions/v-/vtk.json
Labels: category:port-update, info:reviewed

#19203 [kf5guiaddons] fix Wayland scanner not being found by transitive deps; fix static builds
  ports/kf5guiaddons/add_missing_static_dependencies.patch
  ports/kf5guiaddons/fix_cmake.patch
  ports/kf5guiaddons/portfile.cmake
  ports/kf5guiaddons/vcpkg.json
  versions/baseline.json
  versions/k-/kf5guiaddons.json
Labels: category:port-bug, info:reviewed

#19284 [freetype] update to 2.11.0
  ports/freetype/0001-Fix-install-command.patch
  ports/freetype/CONTROL
  ports/freetype/brotli-static.patch
  ports/freetype/fix-bzip2-pc.patch
  ports/freetype/fix-exports.patch
  ports/freetype/pkgconfig.patch
  ports/freetype/portfile.cmake
  ports/freetype/vcpkg.json
  versions/baseline.json
  versions/f-/freetype.json
Labels: category:port-update, info:reviewed

#19790 Document VCPKG_TARGET_IS_MINGW
  docs/maintainers/vcpkg_common_definitions.md
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:documentation, info:reviewed

#19351 [spix] Add new port
  ports/anyrpc/portfile.cmake
  ports/anyrpc/vcpkg.json
  ports/spix/portfile.cmake
  ports/spix/vcpkg.json
  versions/a-/anyrpc.json
  versions/baseline.json
  versions/s-/spix.json
Labels: category:new-port, category:port-update, info:reviewed

#19615 [harfbuzz] update to 2.8.2
  ports/harfbuzz/0001-circumvent-samefile-error.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: info:internal, category:port-update, info:reviewed

#19477 [wavelib] Update to 2021-08-10
  ports/wavelib/CONTROL
  ports/wavelib/portfile.cmake
  ports/wavelib/vcpkg.json
  versions/baseline.json
  versions/w-/wavelib.json
Labels: category:port-update, info:reviewed

#19450 [kf5wallet] new port
  ports/kf5wallet/portfile.cmake
  ports/kf5wallet/vcpkg.json
  versions/baseline.json
  versions/k-/kf5wallet.json
Labels: category:new-port, info:reviewed

#19622 fix bootstrap.sh on arm macs
  scripts/bootstrap.sh
Labels: category:vcpkg-feature, info:reviewed

#19755 [daw-json-link,daw-header-libraries,daw-utf-range]Update many ports
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  ports/daw-utf-range/portfile.cmake
  ports/daw-utf-range/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
  versions/d-/daw-json-link.json
  versions/d-/daw-utf-range.json
Labels: info:internal, category:port-update, info:reviewed

#19744 [cli] update to v.2.0.0
  ports/cli/CONTROL
  ports/cli/portfile.cmake
  ports/cli/vcpkg.json
  versions/baseline.json
  versions/c-/cli.json
Labels: category:port-update, info:reviewed

#19652 [libics] Add DISABLE_PARALLEL_CONFIGURE and update to 1.6.5
  ports/libics/CONTROL
  ports/libics/portfile.cmake
  ports/libics/vcpkg.json
  versions/baseline.json
  versions/l-/libics.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#19630 [libpmemobj-cpp] update to 1.13.0
  ports/libpmemobj-cpp/CONTROL
  ports/libpmemobj-cpp/portfile.cmake
  ports/libpmemobj-cpp/vcpkg.json
  versions/baseline.json
  versions/l-/libpmemobj-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#19627 [plf-colony] Update to 6.28
  ports/plf-colony/CONTROL
  ports/plf-colony/portfile.cmake
  ports/plf-colony/vcpkg.json
  versions/baseline.json
  versions/p-/plf-colony.json
Labels: category:port-update, info:reviewed

#19754 [libmt32emu] update from 2.5.0 to 2.5.3
  ports/libmt32emu/portfile.cmake
  ports/libmt32emu/vcpkg.json
  versions/baseline.json
  versions/l-/libmt32emu.json
Labels: info:internal, category:port-update, info:reviewed

#19614 [ctre] Update to 3.4.1
  ports/ctre/CONTROL
  ports/ctre/portfile.cmake
  ports/ctre/vcpkg.json
  versions/baseline.json
  versions/c-/ctre.json
Labels: category:port-update, info:reviewed

#19612 [Mesa] update to 21.2.0
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  versions/baseline.json
  versions/m-/mesa.json
Labels: info:internal, category:port-update, info:reviewed

#19618 [jwt-cpp] port update to add version 0.5.1
  ports/jwt-cpp/portfile.cmake
  ports/jwt-cpp/vcpkg.json
  versions/baseline.json
  versions/j-/jwt-cpp.json
Labels: category:port-update, info:reviewed

#19603 [functions-framework-cpp] update to latest release (v0.6.0)
  ports/functions-framework-cpp/portfile.cmake
  ports/functions-framework-cpp/vcpkg.json
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:port-update, info:reviewed

#19700 [docs] improve integrate documentation
  docs/README.md
  docs/users/integration.md
Labels: category:documentation, info:reviewed

#19600 [google-cloud-cpp] use features to stop package growth
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#18696 [vcpkg] [issue template] Questions would be posted in the discussion section instead
  .github/ISSUE_TEMPLATE/i-have-a-question.md
Labels: info:internal, requires:vcpkg-team-review

#19655 [libffi] Use -llibffi on Windows
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-bug, info:reviewed

#19643 [eastl] fix dependency eabase
  ports/eabase/CONTROL
  ports/eabase/fix_cmake_install.patch
  ports/eabase/vcpkg.json
  ports/eastl/CONTROL
  ports/eastl/EASTLConfig.cmake.in
  ports/eastl/vcpkg.json
  versions/baseline.json
  versions/e-/eabase.json
  versions/e-/eastl.json
Labels: category:port-feature, info:reviewed

#19581 [comms,commsdsl,comms-ublox] update ports
  ports/comms-ublox/fix-comms.patch
  ports/comms-ublox/portfile.cmake
  ports/comms-ublox/vcpkg.json
  ports/comms/portfile.cmake
  ports/comms/vcpkg.json
  ports/commsdsl/portfile.cmake
  ports/commsdsl/vcpkg.json
  versions/baseline.json
  versions/c-/comms-ublox.json
  versions/c-/comms.json
  versions/c-/commsdsl.json
Labels: category:port-update, info:reviewed

#19542 [ngspice] Update to release 35
  ports/ngspice/CONTROL
  ports/ngspice/portfile.cmake
  ports/ngspice/remove-64-in-codemodel-name.patch
  ports/ngspice/remove-post-build.patch
  ports/ngspice/vcpkg.json
  versions/baseline.json
  versions/n-/ngspice.json
Labels: category:port-update, info:reviewed

#19660 [liblo] Fix filenames for linux in liblo portfile
  ports/liblo/CONTROL
  ports/liblo/portfile.cmake
  ports/liblo/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/liblo.json
Labels: category:port-feature, info:reviewed

#19443 [trantor] Update to 1.5.1
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  ports/trantor/vcpkg.patch
  versions/baseline.json
  versions/d-/drogon.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#19236 [Bullet3] fixes config failures.
  ports/bullet3/CONTROL
  ports/bullet3/cmake-fix.patch
  ports/bullet3/portfile.cmake
  ports/bullet3/vcpkg.json
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed
