Repository microsoft/vcpkg, pull requests merged in 2021-06, with the labels that each got.

#18146 [embree3] Fix target files cannot be found
  ports/embree3/fix-targets-file-not-found.patch
  ports/embree3/portfile.cmake
  ports/embree3/vcpkg.json
  versions/baseline.json
  versions/e-/embree3.json
Labels: category:port-bug, info:internal, info:reviewed

#18111 [tensorflow-common] check for invalid username
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  versions/baseline.json
  versions/t-/tensorflow-common.json
Labels: category:port-bug, info:reviewed

#18104 [z3] Update to 4.8.10 to support arm triplet
  ports/z3/CONTROL
  ports/z3/LICENSE
  ports/z3/portfile.cmake
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-feature, category:port-update, info:internal, info:reviewed

#18101 [cpu-features] Fixed and updated cpu-features.
  ports/cpu-features/make_list_cpu_features_optional.patch
  ports/cpu-features/portfile.cmake
  ports/cpu-features/vcpkg.json
  versions/baseline.json
  versions/c-/cpu-features.json
Labels: category:port-bug, category:port-update, info:reviewed

#18083 [aom] Add new port
  ports/aom/aom-install.diff
  ports/aom/aom-rename-static.diff
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#18027 [vcpkg] Use objdump for dll dependencies
  scripts/buildsystems/msbuild/applocal.ps1
Labels: category:tool-update, info:reviewed

#17986 [drogon] Update to 1.6.0
  ports/drogon/CONTROL
  ports/drogon/portfile.cmake
  ports/drogon/ssize_t.patch
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-update, info:reviewed

#18148 [openssl] Restore Blowfish cipher in OpenSSL
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#18176 [safeint] Update to 3.0.26 version
  ports/safeint/CONTROL
  ports/safeint/portfile.cmake
  ports/safeint/vcpkg.json
  versions/baseline.json
  versions/s-/safeint.json
Labels: category:port-update, info:reviewed

#18186 [vcpkg_install_gn] Fix variable name typo
  scripts/cmake/vcpkg_install_gn.cmake
Labels: category:tool-update, info:reviewed

#18220 [eNet] update to 1.3.17
  ports/enet/CONTROL
  ports/enet/portfile.cmake
  ports/enet/vcpkg.json
  versions/baseline.json
  versions/e-/enet.json
Labels: category:port-update, info:internal, info:reviewed

#18239 [comms,commsdsl,comms-ublox] update ports
  ports/comms-ublox/portfile.cmake
  ports/comms-ublox/vcpkg.json
  ports/comms/portfile.cmake
  ports/comms/vcpkg.json
  ports/commsdsl/portfile.cmake
  ports/commsdsl/vcpkg.json
  versions/baseline.json
  versions/c-/comms-ublox.json
  versions/c-/comms.json
  versions/c-/commsdsl.json
Labels: category:port-update, info:reviewed

#16836 [vcpkg baseline] [forest] Remove forest
  ports/forest/CONTROL
  ports/forest/portfile.cmake
  scripts/ci.baseline.txt
Labels: category:port-feature, info:internal, info:reviewed

#16932 [libgpg-error] update to 1.42, add Windows support, arm fixes
  ports/libgpg-error/CONTROL
  ports/libgpg-error/outdir.patch
  ports/libgpg-error/portfile.cmake
  ports/libgpg-error/runtime.patch
  ports/libgpg-error/vcpkg.json
  versions/baseline.json
  versions/l-/libgpg-error.json
Labels: category:port-update, info:reviewed

#18202 [vcpkg baseline][realsense2] Fix config issue on osx
  ports/realsense2/CONTROL
  ports/realsense2/fix_config_osx.patch
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-bug, info:internal, info:reviewed

#18258 [vcpkg docs] Updated list of off-by-default features
  docs/users/config-environment.md
Labels: category:documentation

#18213 [igraph] update to 0.9.4
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#18200 [cppgraphqlgen] bump version to 3.6.0
  ports/cppgraphqlgen/portfile.cmake
  ports/cppgraphqlgen/vcpkg.json
  versions/baseline.json
  versions/c-/cppgraphqlgen.json
Labels: category:port-update, info:reviewed

#18199 [xmlsec]Update to 1.2.32
  ports/xmlsec/0001-uwp-fix.patch
  ports/xmlsec/CMakeLists.txt
  ports/xmlsec/portfile.cmake
  ports/xmlsec/vcpkg.json
  versions/baseline.json
  versions/x-/xmlsec.json
Labels: category:port-update, info:reviewed

#18253 [vcpkg docs] Update readme.md
  README.md
Labels: category:documentation, info:internal

#18185 [box2d] Update CMake arguments
  ports/box2d/portfile.cmake
  ports/box2d/vcpkg.json
  versions/b-/box2d.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18184 [sentry-native] Enable arm64 on macOS
  ports/sentry-native/fix-libcurl.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#18244 [libavif] Create a new port
  ports/libavif/always-install-configs.patch
  ports/libavif/disable-source-utf8.patch
  ports/libavif/fix-assigning-size_t.patch
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  versions/baseline.json
  versions/l-/libavif.json
Labels: category:new-port, info:reviewed

#18178 [sundials] fix cmake targets to link bin/*.dll
  ports/sundials/install-dlls-in-bin.patch
  ports/sundials/portfile.cmake
  ports/sundials/vcpkg.json
  versions/baseline.json
  versions/s-/sundials.json
Labels: category:port-bug, info:internal, info:reviewed

#18048 [aricpp] new port
  ports/aricpp/portfile.cmake
  ports/aricpp/vcpkg.json
  versions/a-/aricpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#18046 [bddisasm] new port
  ports/bddisasm/portfile.cmake
  ports/bddisasm/vcpkg.json
  versions/b-/bddisasm.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#18009 [tomlplusplus] update to 2.4.0
  ports/tomlplusplus/CONTROL
  ports/tomlplusplus/portfile.cmake
  versions/baseline.json
  versions/t-/tomlplusplus.json
Labels: category:port-update, info:reviewed

#17205 [vcpkg] Don't override pkg-config prefix
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#17084 [vcpkg/scripts/make] correct linker flag name
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#18182 [ffmpeg] Add support for arm64 on macOS
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#13639 [vcpkg] Add experimental $X_VCPKG_ASSET_SOURCES for source caching
  docs/users/assetcaching.md
  docs/users/config-environment.md
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_download_distfile.cmake
  scripts/cmake/vcpkg_from_sourceforge.cmake
Labels: category:vcpkg-feature, info:internal

#18106 [docs] vcpkg_from_github beast moved to boost-beast
  docs/maintainers/vcpkg_from_github.md
  scripts/cmake/vcpkg_from_github.cmake
Labels: category:documentation, info:reviewed, info:world-rebuild

#18091 [doc] document vcpkg_fixup_pkgconfig merging behaviour
  docs/maintainers/vcpkg_fixup_pkgconfig.md
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:documentation, info:reviewed, info:world-rebuild

#18246 [google-cloud-cpp] update to latest (v1.28.0) version
  ports/google-cloud-cpp/disable-benchmarks.patch
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, requires:author-response

#17962 [vcpkg] [Android]Compile armv6 with arm mode
  scripts/toolchains/android.cmake
Labels: category:vcpkg-feature, requires:discussion

#17338 [aws-sdk-cpp] [openssl] Fix iOS build
  ports/aws-c-common/disable-internal-crt-option.patch
  ports/aws-c-common/disable_warnings_as_errors.patch
  ports/aws-c-common/portfile.cmake
  ports/aws-sdk-cpp/compute_build_only.cmake
  ports/aws-sdk-cpp/generateFeatures.ps1
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/a-/aws-c-common.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:community-triplet

#18293 [tgui] Fixed sfml feature
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-bug, info:reviewed

#18132 Add VCPKG_MAKE_CONFIGURE_OPTIONS (that can be set in the triplet)
  docs/users/triplets.md
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:tool-update, info:reviewed

#14720 [libbson] fix cmake find
  ports/libbson/portfile.cmake
  ports/mongo-c-driver/CONTROL
  ports/mongo-c-driver/fix-dependency-libbson.patch
  ports/mongo-cxx-driver/CONTROL
  ports/mongo-cxx-driver/fix-dependency-libbson.patch
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
  versions/m-/mongo-cxx-driver.json
Labels: category:port-bug, requires:discussion

#16462 [scripts/vcpkgTools.xml] add specs for gsutil
  scripts/vcpkgTools.xml
Labels: category:vcpkg-feature, info:reviewed

#17932 [raylib] update to 3.7
  ports/raylib/CONTROL
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:port-update, info:internal, info:reviewed

#17941 [szip, hdf5] Fix mingw import lib names, control linkage
  ports/hdf5/mingw-import-libs.patch
  ports/hdf5/pkgconfig-requires.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/szip.patch
  ports/hdf5/vcpkg.json
  ports/szip/CONTROL
  ports/szip/fix-linkage-config.patch
  ports/szip/fix-szip-config-to-set-szip-found.patch
  ports/szip/mingw-lib-names.patch
  ports/szip/portfile.cmake
  ports/szip/szip.pc.in
  ports/szip/vcpkg.json
  triplets/community/arm-mingw-dynamic.cmake
  triplets/community/arm64-mingw-dynamic.cmake
  triplets/community/x64-mingw-dynamic.cmake
  triplets/community/x86-mingw-dynamic.cmake
  versions/baseline.json
  versions/h-/hdf5.json
  versions/s-/szip.json
Labels: category:community-triplet, category:port-bug, info:reviewed

#17957 [luasec] new port
  ports/luasec/CMakeLists.txt
  ports/luasec/portfile.cmake
  ports/luasec/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/luasec.json
Labels: category:new-port, info:reviewed

#17985 [ffmpeg] use pkgconfig to get system dependencies for cmake
  ports/avcpp/0002-av_init_packet_deprecation.patch
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  ports/vcpkg-pkgconfig-get-modules/vcpkg.json
  ports/vcpkg-pkgconfig-get-modules/x_vcpkg_pkgconfig_get_modules.cmake
  versions/a-/avcpp.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/v-/vcpkg-pkgconfig-get-modules.json
Labels: category:port-feature, info:reviewed

#17990 [highfive] Update to v2.3
  ports/highfive/CONTROL
  ports/highfive/fix-dependency-hdf5.patch
  ports/highfive/portfile.cmake
  ports/highfive/vcpkg.json
  versions/baseline.json
  versions/h-/highfive.json
Labels: category:port-update, info:reviewed

#17993 [osgearth] Fix undefined references due to openjp2 and xml2
  ports/osgearth/fix-dependency-osg.patch
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-bug, info:reviewed

#18037 [hunspell] Fix build error on Windows
  ports/hunspell/0002-disable-test.patch
  ports/hunspell/0003-fix-win-build.patch
  ports/hunspell/portfile.cmake
  ports/hunspell/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/h-/hunspell.json
Labels: category:port-bug, info:internal, info:reviewed

#18043 [hexl] Add new port
  ports/hexl/disable_downloading_cpu_features.patch
  ports/hexl/portfile.cmake
  ports/hexl/vcpkg.json
  versions/baseline.json
  versions/h-/hexl.json
Labels: category:new-port, info:reviewed

#18089 [flashlight-cpu] Fix installation
  ports/flashlight-cpu/fix-dependencies.patch
  ports/flashlight-cpu/portfile.cmake
  ports/flashlight-cpu/vcpkg.json
  versions/baseline.json
  versions/f-/flashlight-cpu.json
Labels: category:port-bug, info:internal, info:reviewed

#18115 [libpng] fix Android ARM triplet build failure
  ports/libpng/CONTROL
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:community-triplet, info:reviewed

#18128 [gettext] Fix building for android
  ports/gettext/android.patch
  ports/gettext/portfile.cmake
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext.json
Labels: category:community-triplet, info:reviewed

#18168 [darknet] fix uselib_track tool installation
  ports/darknet/portfile.cmake
  ports/darknet/vcpkg.json
  versions/baseline.json
  versions/d-/darknet.json
Labels: category:port-bug, info:reviewed

#18169 [libssh] disable gssapi
  ports/libssh/CONTROL
  ports/libssh/portfile.cmake
  versions/baseline.json
  versions/l-/libssh.json
Labels: category:port-bug, category:port-feature, info:reviewed

#18187 [tiff] Update to 4.3.0, improvements
  ports/selene/CONTROL
  ports/selene/portfile.cmake
  ports/selene/tiff-deprecated-typedefs.patch
  ports/selene/vcpkg.json
  ports/tiff/CONTROL
  ports/tiff/cmakelists.patch
  ports/tiff/fix-pkgconfig.patch
  ports/tiff/fix-stddef.patch
  ports/tiff/portfile.cmake
  ports/tiff/vcpkg-cmake-wrapper.cmake
  ports/tiff/vcpkg-cmake-wrapper.cmake.in
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/s-/selene.json
  versions/t-/tiff.json
Labels: category:port-feature, category:port-update, info:reviewed

#18197 [ccfits] Fix usage
  ports/ccfits/CONTROL
  ports/ccfits/portfile.cmake
  ports/ccfits/vcpkg.json
  versions/baseline.json
  versions/c-/ccfits.json
Labels: category:port-bug, info:internal, info:reviewed

#18203 [orocos-kdl] Export include path to targets
  ports/orocos-kdl/CONTROL
  ports/orocos-kdl/export-include-dir.patch
  ports/orocos-kdl/portfile.cmake
  ports/orocos-kdl/vcpkg.json
  versions/baseline.json
  versions/o-/orocos-kdl.json
Labels: category:port-bug, info:internal, info:reviewed

#18183 [libvpx] Update to latest and add support for arm64 on macOS
  ports/libvpx/0001-vcxproj-nasm.patch
  ports/libvpx/0002-Fix-nasm-debug-format-flag.patch
  ports/libvpx/0003-add-uwp-and-v142-support.patch
  ports/libvpx/0004-remove-library-suffixes.patch
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-feature, category:port-update, info:reviewed, requires:vcpkg-team-review

#17122 [unittest-cpp] fix config.cmake file
  ports/unittest-cpp/CONTROL
  ports/unittest-cpp/fix-include-path.patch
  ports/unittest-cpp/portfile.cmake
  ports/unittest-cpp/vcpkg.json
  versions/baseline.json
  versions/u-/unittest-cpp.json
Labels: category:port-bug, info:internal, info:reviewed

#18206 [xtensor] update to 0.23.9
  ports/xtensor/CONTROL
  ports/xtensor/portfile.cmake
  ports/xtensor/vcpkg.json
  ports/xtl/CONTROL
  ports/xtl/fix-fixup-cmake.patch
  ports/xtl/portfile.cmake
  ports/xtl/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor.json
  versions/x-/xtl.json
Labels: category:port-update, info:internal, info:reviewed

#18219 [python2] Support UNIX
  ports/python2/CONTROL
  ports/python2/portfile.cmake
  ports/python2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/python2.json
Labels: category:port-feature, info:internal, info:reviewed

#18223 [zlib-ng] create a new port
  ports/zlib-ng/portfile.cmake
  ports/zlib-ng/vcpkg.json
  versions/baseline.json
  versions/z-/zlib-ng.json
Labels: category:new-port, info:reviewed

#18227 [vcpkg] Support COMPONENT in X_VCPKG_APPLOCAL_DEPS_INSTALL
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed

#18265 [openblas] Add feature simplethread and thread
  ports/openblas/CONTROL
  ports/openblas/portfile.cmake
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-feature, info:internal, info:reviewed

#18254 [matio] Use official CMakeLists, add features
  ports/matio/CMakeLists.txt
  ports/matio/CONTROL
  ports/matio/fix-dependencies.patch
  ports/matio/portfile.cmake
  ports/matio/vcpkg.json
  versions/baseline.json
  versions/m-/matio.json
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#18251 [protobuf] Protobuf no longer compiles with vs2019 Update 16.10 w/ c++latest
  ports/protobuf/port_def.patch
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:reviewed

#18042 [openssl] Add cmake wrapper to handle OPENSSL_ROOT_DIR
  ports/kf5holidays/portfile.cmake
  ports/kf5holidays/vcpkg.json
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg-cmake-wrapper.cmake
  ports/openssl/vcpkg.json
  scripts/buildsystems/vcpkg.cmake
  versions/baseline.json
  versions/k-/kf5holidays.json
  versions/o-/openssl.json
Labels: category:port-bug, info:internal, info:reviewed, info:world-rebuild

#18123 [openexr] fixup pkgconfig
  ports/openexr/0001-remove_find_package_macro.patch
  ports/openexr/0002-fixup_cmake_exports_path.patch
  ports/openexr/0003-remove_symlinks.patch
  ports/openexr/0004-Fix-pkg-config-lib-suffix-for-cmake-debug-builds.patch
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  versions/baseline.json
  versions/o-/openexr.json
Labels: category:port-bug, info:reviewed

#17856 [expat] Update to 2.4.1
  ports/expat/CONTROL
  ports/expat/pkgconfig.patch
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: category:port-update, info:internal, info:reviewed

#18277 [cpp-httplib] Upgrade to v0.8.9
  ports/cpp-httplib/CONTROL
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#18278 [cpp-base64] Upgrade to V2.rc.08
  ports/cpp-base64/CONTROL
  ports/cpp-base64/portfile.cmake
  ports/cpp-base64/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-base64.json
Labels: category:port-update, info:reviewed

#18295 [bullet3]Update to 3.17
  ports/bullet3/CONTROL
  ports/bullet3/cmake-fix.patch
  ports/bullet3/portfile.cmake
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18299 [utfcpp] Update to 3.2.1 version
  ports/utfcpp/CONTROL
  ports/utfcpp/fix-test.patch
  ports/utfcpp/portfile.cmake
  ports/utfcpp/vcpkg.json
  versions/baseline.json
  versions/u-/utfcpp.json
Labels: category:port-update, info:reviewed

#18301 [libtorrent] Update to 1.2.14
  ports/libtorrent/portfile.cmake
  ports/libtorrent/vcpkg.json
  versions/baseline.json
  versions/l-/libtorrent.json
Labels: category:port-update, info:reviewed

#18305 [coolprop] Fix usage, re-fix installation
  ports/coolprop/CONTROL
  ports/coolprop/fix-install.patch
  ports/coolprop/portfile.cmake
  ports/coolprop/vcpkg.json
  versions/baseline.json
  versions/c-/coolprop.json
Labels: category:port-bug, info:internal, info:reviewed

#18306 [matplotplusplus] Re-fix 3rd libraries installation
  ports/matplotplusplus/install-3rd-libraries.patch
  ports/matplotplusplus/portfile.cmake
  ports/matplotplusplus/vcpkg.json
  versions/baseline.json
  versions/m-/matplotplusplus.json
Labels: category:port-bug, info:internal, info:reviewed

#18308 [rapidjson] Remove usage
  ports/rapidjson/CONTROL
  ports/rapidjson/portfile.cmake
  ports/rapidjson/usage
  ports/rapidjson/vcpkg.json
  versions/baseline.json
  versions/r-/rapidjson.json
Labels: category:port-feature, info:internal, info:reviewed

#18310 [openssl] Fix build on ARM64 macos by updating ninja to 1.10.2
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
Labels: category:community-triplet, category:tool-update, info:reviewed

#18313 [gamenetworkingsockets] update to 1.3.0
  ports/gamenetworkingsockets/portfile.cmake
  ports/gamenetworkingsockets/vcpkg.json
  versions/baseline.json
  versions/g-/gamenetworkingsockets.json
Labels: category:port-update, info:reviewed

#18315 [crow] update to v0.3
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-update, info:reviewed

#18318 [hazelcast-cpp-client] update to v4.1.1
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#18325 [argtable3] Update to v3.2.1
  ports/argtable3/portfile.cmake
  ports/argtable3/vcpkg-cmake-wrapper.cmake
  ports/argtable3/vcpkg.json
  versions/a-/argtable3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18329 [azure-storage-*] Update Azure SDK Jun Release
  ports/azure-security-keyvault-common-cpp/portfile.cmake
  ports/azure-security-keyvault-common-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-common-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18338 [approval-tests-cpp] New port
  ports/approval-tests-cpp/portfile.cmake
  ports/approval-tests-cpp/vcpkg.json
  versions/a-/approval-tests-cpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#18345 [kf5config] Add DISABLE_PARALLEL_CONFIGURE
  ports/kf5config/portfile.cmake
  ports/kf5config/vcpkg.json
  versions/baseline.json
  versions/k-/kf5config.json
Labels: category:port-bug, info:internal, info:reviewed

#18347 [redis-plus-plus] update to 1.2.3
  ports/redis-plus-plus/CONTROL
  ports/redis-plus-plus/fix-conversion.patch
  ports/redis-plus-plus/fix-ws2-linking-windows.patch
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: category:port-update, info:internal, info:reviewed

#18348 [dataframe] update version of dataframe
  ports/dataframe/CONTROL
  ports/dataframe/portfile.cmake
  versions/baseline.json
  versions/d-/dataframe.json
Labels: category:port-update, info:reviewed

#17573 [clapack] Remove broken host-arithchk
  ports/clapack/arith_linux64.h
  ports/clapack/arith_osx.h
  ports/clapack/arith_win32.h
  ports/clapack/arith_win64.h
  ports/clapack/portfile.cmake
  ports/clapack/support-uwp.patch
  ports/clapack/vcpkg.json
  versions/baseline.json
  versions/c-/clapack.json
Labels: category:port-bug, info:internal, requires:vcpkg-team-review

#18340 [vcpkg_download_distfile] Fix regression for downloading via ARIA2 and downloading with HTTP headers
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:vcpkg-bug, info:internal

#18285 [vcpkg_download_distfile] Pad the SHA to re-enable testing the hash
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:vcpkg-feature, info:internal

#18383 [vcpkg baseline][otl] Update to 40463
  ports/otl/CONTROL
  ports/otl/portfile.cmake
  ports/otl/vcpkg.json
  versions/baseline.json
  versions/o-/otl.json
Labels: category:port-update, info:internal, info:reviewed

#18374 [sqlite3] Update to 3.35.5
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#18367 [ffmpeg] fix release-only builds
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#18366 [directxtk, directxtk12, directxmesh, directxtex, uvatlas] ports updated for June 2021 releases
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/CONTROL
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/CONTROL
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#18459 [vcpkg_download_distfile] Add condition for padding the SHA
  docs/examples/packaging-github-repos.md
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:documentation, category:vcpkg-bug, info:internal

#18390 [open6254] Enable uwp support
  ports/open62541/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-feature, info:reviewed

#18385 [aubio] Add ws2_32 to linkage
  ports/aubio/CMakeLists.txt
  ports/aubio/portfile.cmake
  ports/aubio/vcpkg.json
  versions/a-/aubio.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#18384 [devil] Fix ilut header
  ports/devil/0006-fix-ilut-header.patch
  ports/devil/CONTROL
  ports/devil/portfile.cmake
  ports/devil/vcpkg.json
  versions/baseline.json
  versions/d-/devil.json
Labels: category:port-bug, info:internal

#18377 [libpq] Add Secur32.lib and openssl to libpq cmake wrapper
  ports/libpq/vcpkg-cmake-wrapper.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-bug, info:reviewed

#18230 [ryml] [c4core] Update RapidYaml (ryml) to newer version
  ports/c4core/CONTROL
  ports/c4core/portfile.cmake
  ports/c4core/vcpkg.json
  ports/ryml/CONTROL
  ports/ryml/cmake-fix.patch
  ports/ryml/portfile.cmake
  ports/ryml/vcpkg.json
  versions/baseline.json
  versions/c-/c4core.json
  versions/r-/ryml.json
Labels: category:port-update, info:reviewed

#18359 [yyjson] Update to v0.3.0
  ports/yyjson/portfile.cmake
  ports/yyjson/vcpkg.json
  versions/baseline.json
  versions/y-/yyjson.json
Labels: category:port-update, info:reviewed

#18362 [raylib] Fix MinGW build
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:community-triplet, info:reviewed

#17975 [arrow] Update to 4.0.0
  ports/arrow/CONTROL
  ports/arrow/all.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update

#18472 [minizip] Fix usage, fix minizipConfig.cmake
  ports/minizip/CMakeLists.txt
  ports/minizip/CONTROL
  ports/minizip/minizipConfig.cmake.in
  ports/minizip/vcpkg.json
  versions/baseline.json
  versions/m-/minizip.json
Labels: category:port-bug, info:internal, info:reviewed

#17045 [vcpkg] Fix windres-rc wrapper
  scripts/buildsystems/make_wrapper/windres-rc
Labels: category:vcpkg-bug, requires:vcpkg-team-review

#17153 [ffmpeg] Warn/fail when selecting unsupported features.
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#18525 [uwebsockets] update to 19.2.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: category:port-update, info:internal, info:reviewed

#18516 [libass] fix fontconfig dependency in .pc file
  ports/libass/CMakeLists.txt
  ports/libass/vcpkg.json
  versions/baseline.json
  versions/l-/libass.json
Labels: category:port-bug, info:reviewed

#18492 [libgpg-error] Remove COPYING.LIB from lib folder
  ports/libgpg-error/portfile.cmake
  ports/libgpg-error/vcpkg.json
  versions/baseline.json
  versions/l-/libgpg-error.json
Labels: category:port-bug, info:internal, info:reviewed

#18489 [flashlight-cuda] Fix installation
  ports/flashlight-cuda/portfile.cmake
  ports/flashlight-cuda/vcpkg.json
  versions/baseline.json
  versions/f-/flashlight-cuda.json
Labels: category:port-bug, info:internal, info:reviewed

#18487 [function2] Update to version 4.2.0
  ports/function2/CONTROL
  ports/function2/portfile.cmake
  versions/baseline.json
  versions/f-/function2.json
Labels: category:port-update, info:reviewed

#18486 [infoware] update to latest commit
  ports/infoware/portfile.cmake
  ports/infoware/vcpkg.json
  versions/baseline.json
  versions/i-/infoware.json
Labels: category:port-update, info:reviewed

#18567 [qt5-*] Make QT and dependents build on arm macos
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:community-triplet

#18530 [openblas] Fix the macro collision with Windows 10 SDK
  ports/openblas/fix-marco-conflict.patch
  ports/openblas/portfile.cmake
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-bug, info:internal, info:reviewed

#18528 [pthreads] Fix debug dll look-up path
  ports/pthreads/vcpkg-cmake-wrapper.cmake
  ports/pthreads/vcpkg.json
  versions/baseline.json
  versions/p-/pthreads.json
Labels: category:port-bug, info:reviewed

#18509 [gtest] Update to 1.11.0
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-update, info:reviewed

#18451 [librttopo] Allow building for Android
  ports/librttopo/CONTROL
  ports/librttopo/portfile.cmake
  versions/baseline.json
  versions/l-/librttopo.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#18320 [Qt6] Update to 6.1.1
  ports/qt/vcpkg.json
  ports/qt5compat/vcpkg.json
  ports/qtactiveqt/vcpkg.json
  ports/qtbase/20b3eb0.diff
  ports/qtbase/clang-cl_source_location.patch
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/cmake/qt_port_details.cmake
  ports/qtbase/dc5e7b6.diff
  ports/qtbase/portfile.cmake
  ports/qtbase/qt.conf.in
  ports/qtbase/vcpkg.json
  ports/qtcharts/vcpkg.json
  ports/qtcoap/vcpkg.json
  ports/qtdatavis3d/vcpkg.json
  ports/qtdeclarative/vcpkg.json
  ports/qtdoc/vcpkg.json
  ports/qtimageformats/portfile.cmake
  ports/qtimageformats/vcpkg.json
  ports/qtimageformats/webp.patch
  ports/qtlottie/vcpkg.json
  ports/qtmqtt/vcpkg.json
  ports/qtnetworkauth/vcpkg.json
  ports/qtopcua/vcpkg.json
  ports/qtquick3d/vcpkg.json
  ports/qtquickcontrols2/vcpkg.json
  ports/qtquicktimeline/vcpkg.json
  ports/qtscxml/vcpkg.json
  ports/qtshadertools/vcpkg.json
  ports/qtsvg/vcpkg.json
  ports/qttools/portfile.cmake
  ports/qttools/vcpkg.json
  ports/qttranslations/vcpkg.json
  ports/qtvirtualkeyboard/vcpkg.json
  ports/qtwayland/vcpkg.json
  versions/baseline.json
  versions/q-/qt.json
  versions/q-/qt5compat.json
  versions/q-/qtactiveqt.json
  versions/q-/qtbase.json
  versions/q-/qtcharts.json
  versions/q-/qtcoap.json
  versions/q-/qtdatavis3d.json
  versions/q-/qtdeclarative.json
  versions/q-/qtdoc.json
  versions/q-/qtimageformats.json
  versions/q-/qtlottie.json
  versions/q-/qtmqtt.json
  versions/q-/qtnetworkauth.json
  versions/q-/qtopcua.json
  versions/q-/qtquick3d.json
  versions/q-/qtquickcontrols2.json
  versions/q-/qtquicktimeline.json
  versions/q-/qtscxml.json
  versions/q-/qtshadertools.json
  versions/q-/qtsvg.json
  versions/q-/qttools.json
  versions/q-/qttranslations.json
  versions/q-/qtvirtualkeyboard.json
  versions/q-/qtwayland.json
Labels: category:port-update, info:reviewed

#18452 [libspatialite] Fix building for android
  ports/libspatialite/CONTROL
  ports/libspatialite/portfile.cmake
  versions/baseline.json
  versions/l-/libspatialite.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#18457 [seal]Updated to version 3.6.6. Replaced CONTROL with manifest file.
  ports/hexl/find_dependency_cpu_features.patch
  ports/hexl/portfile.cmake
  ports/seal/CONTROL
  ports/seal/portfile.cmake
  ports/seal/vcpkg.json
  versions/baseline.json
  versions/h-/hexl.json
  versions/s-/seal.json
Labels: category:port-feature, category:port-update, info:reviewed

#18425 [libcopp]Update to version 1.4.1
  ports/libcopp/CONTROL
  ports/libcopp/portfile.cmake
  ports/libcopp/vcpkg.json
  versions/baseline.json
  versions/l-/libcopp.json
Labels: category:port-update, info:reviewed

#18431 [dxut, fx11, directxmath] ports updated
  ports/directxmath/CONTROL
  ports/directxmath/vcpkg.json
  ports/dxut/portfile.cmake
  ports/dxut/vcpkg.json
  ports/effects11/vcpkg.json
  versions/baseline.json
  versions/d-/directxmath.json
  versions/d-/dxut.json
  versions/e-/effects11.json
Labels: category:port-update, info:reviewed

#18404 [uvatlas, spectra] ports updated
  ports/spectra/CONTROL
  ports/spectra/portfile.cmake
  ports/spectra/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/s-/spectra.json
  versions/u-/uvatlas.json
Labels: category:port-feature, category:port-update, info:reviewed

#18284 [jsoncons] Update to 0.165.0
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#18386 [cpr] Update to 1.6.2
  ports/cpr/001-cpr-config.patch
  ports/cpr/CONTROL
  ports/cpr/enable-install.patch
  ports/cpr/fix-uwp.patch
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
Labels: category:port-update, info:internal, info:reviewed

#18387 [ CGAL] Update version to 5.2.2
  ports/cgal/CONTROL
  ports/cgal/portfile.cmake
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-update, info:reviewed

#18241 [nanopb] update to 0.4.5 and add generator
  ports/nanopb/CONTROL
  ports/nanopb/fix-python.patch
  ports/nanopb/portfile.cmake
  ports/nanopb/vcpkg.json
  versions/baseline.json
  versions/n-/nanopb.json
Labels: category:port-update, info:reviewed

#18233 Update VMs and pick up VS2019 16.10
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-vmss.ps1
  scripts/azure-pipelines/windows/deploy-install-disk.ps1
  scripts/azure-pipelines/windows/deploy-inteloneapi.ps1
  scripts/azure-pipelines/windows/deploy-settings.txt
  scripts/azure-pipelines/windows/deploy-tlssettings.ps1
  scripts/azure-pipelines/windows/provision-entire-image.ps1
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/ci.baseline.txt
Labels: category:infrastructure, info:internal

#17336 [vcpkg.cmake] PREPEND CMAKE_FIND_ROOT_PATH
  docs/users/manifests.md
  scripts/buildsystems/vcpkg.cmake
Labels: category:documentation, info:reviewed, info:world-rebuild

#18604 [boringssl] update to newer commit
  ports/boringssl/0001-vcpkg.patch
  ports/boringssl/CONTROL
  ports/boringssl/portfile.cmake
  ports/boringssl/vcpkg.json
  versions/b-/boringssl.json
  versions/baseline.json
Labels: category:port-update, info:internal

#18600 [vcpkg baseline][kf5* librsvg] Add DISABLE_PARALLEL_CONFIGURE
  ports/kf5completion/portfile.cmake
  ports/kf5completion/vcpkg.json
  ports/kf5coreaddons/portfile.cmake
  ports/kf5coreaddons/vcpkg.json
  ports/kf5crash/portfile.cmake
  ports/kf5crash/vcpkg.json
  ports/kf5i18n/portfile.cmake
  ports/kf5i18n/vcpkg.json
  ports/kf5itemmodels/portfile.cmake
  ports/kf5itemmodels/vcpkg.json
  ports/kf5itemviews/portfile.cmake
  ports/kf5itemviews/vcpkg.json
  ports/kf5plotting/portfile.cmake
  ports/kf5plotting/vcpkg.json
  ports/kf5widgetsaddons/portfile.cmake
  ports/kf5widgetsaddons/vcpkg.json
  ports/librsvg/portfile.cmake
  ports/librsvg/vcpkg.json
  versions/baseline.json
  versions/k-/kf5completion.json
  versions/k-/kf5coreaddons.json
  versions/k-/kf5crash.json
  versions/k-/kf5i18n.json
  versions/k-/kf5itemmodels.json
  versions/k-/kf5itemviews.json
  versions/k-/kf5plotting.json
  versions/k-/kf5widgetsaddons.json
  versions/l-/librsvg.json
Labels: category:port-bug, info:internal, info:reviewed

#18595 [benchmark] Update to 1.5.5
  ports/benchmark/CONTROL
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#18590 [nuspell] Update to version 5.0.0
  ports/nuspell/CONTROL
  ports/nuspell/cmake-disable-cli-and-docs.patch
  ports/nuspell/portfile.cmake
  ports/nuspell/vcpkg.json
  versions/baseline.json
  versions/n-/nuspell.json
Labels: category:port-update, info:reviewed

#18583 [matplotplusplus] Fix usage
  ports/matplotplusplus/portfile.cmake
  ports/matplotplusplus/vcpkg.json
  versions/baseline.json
  versions/m-/matplotplusplus.json
Labels: category:port-bug, info:internal, info:reviewed

#18579 [vcpkg baseline][ncurses] Fix gnu download link
  ports/ncurses/portfile.cmake
  ports/ncurses/vcpkg.json
  versions/baseline.json
  versions/n-/ncurses.json
Labels: category:port-bug, info:internal, info:reviewed

#18575 [magic-enum] Update to v0.7.3
  ports/magic-enum/CONTROL
  ports/magic-enum/portfile.cmake
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#18471 [new port] libsmb2
  ports/libsmb2/portfile.cmake
  ports/libsmb2/vcpkg.json
  versions/baseline.json
  versions/l-/libsmb2.json
Labels: category:new-port, info:reviewed

#18524 [fluidsynth] update to 2.2.1
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:internal, info:reviewed

#18534 [trantor] Update to 1.5.0
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
  ports/trantor/ssize_t.patch
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#18546 [libogg] Upgrade to 1.3.5
  ports/libogg/CONTROL
  ports/libogg/portfile.cmake
  ports/libogg/vcpkg.json
  versions/baseline.json
  versions/l-/libogg.json
Labels: category:port-update, info:reviewed

#18549 [fdk-aac] Update to version 2.0.2.
  ports/fdk-aac/CMakeLists.txt
  ports/fdk-aac/CONTROL
  ports/fdk-aac/fdk-aac.def
  ports/fdk-aac/portfile.cmake
  ports/fdk-aac/vcpkg.json
  versions/baseline.json
  versions/f-/fdk-aac.json
Labels: category:port-update, info:reviewed

#18550 [pcre] Update to 8.45
  ports/pcre/CONTROL
  ports/pcre/export-cmake-targets.patch
  ports/pcre/pcre-8.44_suppress_cmake_and_compiler_warnings-errors.patch
  ports/pcre/pcre-8.45_fix_postfix_for_debug_Windows_builds.patch
  ports/pcre/pcre-8.45_suppress_cmake_and_compiler_warnings-errors.patch
  ports/pcre/portfile.cmake
  ports/pcre/vcpkg.json
  versions/baseline.json
  versions/p-/pcre.json
Labels: category:port-update, info:reviewed

#17394 [gstreamer] create a new port
  ports/gstreamer/plugins-base-use-zlib.patch
  ports/gstreamer/plugins-good-use-zlib.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#18405 [python3] Fix python3:x64-linux builds
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#18664 CI Fixes from 2021-06-26
  scripts/ci.baseline.txt
Labels: category:infrastructure, info:internal

#18120 [netcdf-c] Fix pc files; use features
  ports/netcdf-c/CONTROL
  ports/netcdf-c/config-pkg-location.patch
  ports/netcdf-c/fix-dependency-zlib.patch
  ports/netcdf-c/fix-manpage-msys.patch
  ports/netcdf-c/fix-pkgconfig.patch
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/vcpkg.json
  versions/baseline.json
  versions/n-/netcdf-c.json
Labels: category:port-feature, info:reviewed

#18065 [portaudio] Switch to vcpkg_from_github, minor format improvements
  ports/portaudio/fix-library-can-not-be-found.patch
  ports/portaudio/portfile.cmake
  ports/portaudio/vcpkg.json
  versions/baseline.json
  versions/p-/portaudio.json
Labels: category:port-feature, info:reviewed

#18075 [sleef] create a new port
  ports/sleef/portfile.cmake
  ports/sleef/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/sleef.json
Labels: category:new-port, requires:author-response

#18720 Update vcpkg tool to resolve leak of the asset cache token
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: category:infrastructure, info:internal

#17302 [llvm] update to 12.0.0, enable zlib and libxml2
  ports/halide/CONTROL
  ports/halide/portfile.cmake
  ports/halide/vcpkg.json
  ports/llvm/0001-add-msvc-options.patch
  ports/llvm/0003-fix-openmp-debug.patch
  ports/llvm/0006-workaround-msvc-bug.patch
  ports/llvm/0008-fix-libcxx-install.patch
  ports/llvm/0009-fix-tools-install-path.patch
  ports/llvm/0010-fix-libffi.patch
  ports/llvm/0011-fix-libxml2.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  ports/mesa/CONTROL
  ports/mesa/dual-osmesa-part2b.patch
  ports/mesa/dual-osmesa.patch
  ports/mesa/portfile.cmake
  ports/mesa/swravx512-post-static-link.patch
  ports/mesa/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/h-/halide.json
  versions/l-/llvm.json
  versions/m-/mesa.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#18403 [mpg123] Upgrade to 1.28.0
  ports/libopenmpt/CMakeLists.txt
  ports/libopenmpt/vcpkg.json
  ports/mpg123/0001-fix-checkcpuarch-path.patch
  ports/mpg123/0001-fix-x86-build.patch
  ports/mpg123/0002-fix-libmpg123-uwp-build.patch
  ports/mpg123/0003-fix-libout123-uwp-build.patch
  ports/mpg123/0004-fix-libsyn123-uwp-build.patch
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/l-/libopenmpt.json
  versions/m-/mpg123.json
Labels: category:port-update, info:reviewed
