Repository microsoft/vcpkg, pull requests merged in 2021-03, with the labels that each got.

#16268 [Imgui] Update docking-experimental and freetype features to 1.81
  ports/imgui/CMakeLists.txt
  ports/imgui/CONTROL
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#16381 [vcpkg] [docs] Add Boost versioning example
  docs/examples/modify-baseline-to-pin-old-boost.md
Labels: category:documentation, info:internal, info:versioning

#16473 [vcpkg baseline][libnice] Temporarily Skip all triplets check
  scripts/ci.baseline.txt
Labels: category:vcpkg-bug, info:internal, info:reviewed

#16468 [vcpkg-cmake] Fix typo in vcpkg_cmake_configure that prevented custom triplets from working
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:port-bug, info:reviewed

#16447 [functions-framework-cpp] update to latest release (v0.5.0)
  ports/functions-framework-cpp/0001-fix-msvc-build.patch
  ports/functions-framework-cpp/portfile.cmake
  ports/functions-framework-cpp/vcpkg.json
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:port-update, info:reviewed

#16455 [qscintilla] Update to 2.12
  ports/qscintilla/CONTROL
  ports/qscintilla/fix-static.patch
  ports/qscintilla/portfile.cmake
  versions/baseline.json
  versions/q-/qscintilla.json
Labels: category:port-update, info:reviewed

#16459 [protopuf] Update to 1.0.1
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-update, info:reviewed

#16470 [sobjectizer] update to v5.7.2.3
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed

#16446 [celero] Updated to v2.7.2
  ports/celero/CONTROL
  ports/celero/fix-win32-define.patch
  ports/celero/portfile.cmake
  versions/baseline.json
  versions/c-/celero.json
Labels: category:port-update, info:reviewed

#16460 [libhv] Add new port
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:new-port, info:reviewed

#16458 [exprtk] Update ExprTk
  ports/exprtk/CONTROL
  ports/exprtk/copyright
  ports/exprtk/portfile.cmake
  versions/baseline.json
  versions/e-/exprtk.json
Labels: category:port-update, info:reviewed

#16428 Upgrade to Python 3.9.2 to avoid CVE-2021-3177 and CVE-2021-23336
  scripts/vcpkgTools.xml
Labels: category:tool-update, info:reviewed

#16429 [glm] Add namespace to export target
  ports/glm/CMakeLists.txt
  ports/glm/CONTROL
  ports/glm/vcpkg.json
  ports/globjects/CONTROL
  ports/globjects/fix-dependency-glm.patch
  ports/globjects/portfile.cmake
  ports/globjects/vcpkg.json
  versions/baseline.json
  versions/g-/glm.json
  versions/g-/globjects.json
Labels: category:port-feature, info:internal, info:reviewed

#16491 [g3log] update to 1.3.4
  ports/g3log/CONTROL
  ports/g3log/portfile.cmake
  ports/g3log/vcpkg.json
  versions/baseline.json
  versions/g-/g3log.json
Labels: category:port-update, info:internal

#16489 [docs] Update to Community Resources in doc
  docs/index.md
Labels: category:documentation, info:reviewed

#16480 [vcpkg_*_cmake] remove deprecation message
  docs/maintainers/maintainer-guide.md
  scripts/cmake/vcpkg_build_cmake.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_fixup_cmake_targets.cmake
  scripts/cmake/vcpkg_install_cmake.cmake
Labels: category:documentation, category:vcpkg-bug, info:internal

#16603 Update Lua port to version 5.4.2
  ports/lua/CONTROL
  ports/lua/portfile.cmake
  versions/baseline.json
  versions/l-/lua.json
Labels: category:port-update, info:reviewed

#16591 [cpp-httplib] Upgrade to v0.8.4
  ports/cpp-httplib/CONTROL
  ports/cpp-httplib/portfile.cmake
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#16576 [krabsetw] Update krabsetw to 4.1.18
  ports/krabsetw/portfile.cmake
  ports/krabsetw/vcpkg.json
  versions/baseline.json
  versions/k-/krabsetw.json
Labels: category:port-update, info:reviewed

#16550 [sentry-native] Update to 0.4.8
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#16568 [trantor] Update to 1.3.0
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#16572 [geos] upgrade to 3.9.1
  ports/geos/CONTROL
  ports/geos/portfile.cmake
  versions/baseline.json
  versions/g-/geos.json
Labels: category:port-update, info:reviewed

#16575 [wil] Updating WIL version to match its nuget package version
  ports/wil/CONTROL
  ports/wil/fix-install-headers.patch
  ports/wil/portfile.cmake
  versions/baseline.json
  versions/w-/wil.json
Labels: category:port-update, info:reviewed

#16525 [openssl] update to 1.1.1j
  ports/openssl/CONTROL
  ports/openssl/portfile.cmake
  ports/openssl/uwp/EnableUWPSupport.patch
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#16522 [vcpkg docs] Fix typo in docs/index.md
  docs/index.md
Labels: category:documentation, info:reviewed

#16510 [fplus] update to v0.2.13-p0
  ports/fplus/CONTROL
  ports/fplus/portfile.cmake
  ports/fplus/vcpkg.json
  versions/baseline.json
  versions/f-/fplus.json
Labels: category:port-update, info:internal, info:reviewed

#16508 [scintilla] update to 4.4.6
  ports/scintilla/CONTROL
  ports/scintilla/portfile.cmake
  ports/scintilla/vcpkg.json
  versions/baseline.json
  versions/s-/scintilla.json
Labels: category:port-update, info:internal, info:reviewed

#16512 [hiredis] Fix include path
  ports/hiredis/CONTROL
  ports/hiredis/fix-include-path.patch
  ports/hiredis/portfile.cmake
  ports/hiredis/vcpkg.json
  versions/baseline.json
  versions/h-/hiredis.json
Labels: category:port-bug, info:internal, info:reviewed

#16493 [mongoose] update to 7.1
  ports/mongoose/CONTROL
  ports/mongoose/portfile.cmake
  ports/mongoose/vcpkg.json
  versions/baseline.json
  versions/m-/mongoose.json
Labels: category:port-update, info:internal, info:reviewed

#16488 [msix] Add DISABLE_PARALLEL_CONFIGURE
  ports/msix/CONTROL
  ports/msix/portfile.cmake
  ports/msix/vcpkg.json
  versions/baseline.json
  versions/m-/msix.json
Labels: category:port-bug, info:internal, info:reviewed

#16492 [Azure pipeline] Upload file list logs for unstable testing
  scripts/azure-pipelines/windows-unstable/job.yml
Labels: category:infrastructure, info:internal, info:reviewed

#16461 [liblsl] Update to 1.14.0
  ports/liblsl/CONTROL
  ports/liblsl/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/liblsl.json
Labels: category:port-update, info:reviewed

#16482 [boost-context] fix build result on apple arm
  ports/boost-context/b2-options.cmake.in
  ports/boost-context/vcpkg.json
  versions/b-/boost-context.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#16426 [libmysql] Re-fix dependency openssl
  ports/libmysql/CONTROL
  ports/libmysql/system-libs.patch
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-bug, info:internal, info:reviewed

#16627 [host dependencies] add support in the scripts
  docs/index.md
  docs/maintainers/vcpkg_common_definitions.md
  docs/users/config-environment.md
  docs/users/host-dependencies.md
  docs/users/manifests.md
  scripts/buildsystems/msbuild/vcpkg-general.xml
  scripts/buildsystems/msbuild/vcpkg.targets
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/ports.cmake
  scripts/vcpkg.schema.json
Labels: category:vcpkg-feature, info:internal

#16337 [docs/users/binarycaching.md] a little blurb about using GCS
  docs/users/binarycaching.md
Labels: category:documentation, info:reviewed

#16649 [taglib] Upgrade from 1.12-beta-2 to 1.12
  ports/taglib/CONTROL
  ports/taglib/msvc-disable-deprecated-warnings.patch
  ports/taglib/portfile.cmake
  ports/taglib/vcpkg.json
  versions/baseline.json
  versions/t-/taglib.json
Labels: category:port-update, info:reviewed

#16593 [hazelcast-cpp-client] New version update to 4.0.1
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#15593 [pangolin] Fix static build error
  ports/ffmpeg/CONTROL
  ports/ffmpeg/vcpkg-cmake-wrapper.cmake
  ports/pangolin/CONTROL
  ports/pangolin/add-definition.patch
  ports/pangolin/fix-dependeny-ffmpeg.patch
  ports/pangolin/portfile.cmake
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/p-/pangolin.json
Labels: category:port-bug, info:internal, info:reviewed

#16621 [harfbuzz] work around upstream SameFileError
  ports/harfbuzz/0001-circumvent-samefile-error.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-bug, requires:discussion

#16548 [Azure-Kinect-Sensor-SDK] update to 1.41
  ports/azure-kinect-sensor-sdk/CONTROL
  ports/azure-kinect-sensor-sdk/fix-builds.patch
  ports/azure-kinect-sensor-sdk/portfile.cmake
  versions/a-/azure-kinect-sensor-sdk.json
  versions/baseline.json
Labels: category:port-update, info:internal, info:reviewed

#10979 [popsift] add new port v0.9
  ports/popsift/CONTROL
  ports/popsift/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/popsift.json
Labels: category:new-port, info:reviewed

#15620 [libtorrent] update to 1.2.12
  ports/libtorrent/CONTROL
  ports/libtorrent/fix-AppleClang-test.patch
  ports/libtorrent/portfile.cmake
  versions/baseline.json
  versions/l-/libtorrent.json
Labels: category:port-update, info:internal, info:reviewed

#14242 [many ports] Add GnuTLS and its dependencies
  ports/libgnutls/portfile.cmake
  ports/libgnutls/vcpkg.json
  ports/libtasn1/portfile.cmake
  ports/libtasn1/vcpkg.json
  versions/baseline.json
  versions/l-/libgnutls.json
  versions/l-/libtasn1.json
Labels: category:new-port, info:reviewed

#16502 [docs] Improve inter-document linking; add 'latest' links
  docs/examples/manifest-mode-cmake.md
  docs/examples/versioning.getting-started.md
  docs/index.md
  docs/maintainers/control-files.md
  docs/specifications/binarycaching.md
  docs/specifications/export-command.md
  docs/specifications/feature-packages.md
  docs/specifications/manifests.md
  docs/specifications/ports-overlay.md
  docs/specifications/prefab.md
  docs/specifications/registries-2.md
  docs/specifications/registries.md
  docs/specifications/scripts-extraction.md
  docs/specifications/versioning.md
  docs/users/android.md
  docs/users/binarycaching.md
  docs/users/config-environment.md
  docs/users/integration.md
  docs/users/manifests.md
  docs/users/selecting-library-features.md
  docs/users/triplets.md
  docs/users/versioning.implementation-details.md
  docs/users/versioning.md
  docs/users/versioning.reference.md
Labels: category:documentation, info:internal

#16701 [robin-hood-hashing] update to 3.10.0
  ports/robin-hood-hashing/CONTROL
  ports/robin-hood-hashing/portfile.cmake
  ports/robin-hood-hashing/vcpkg.json
  versions/baseline.json
  versions/r-/robin-hood-hashing.json
Labels: category:port-update, info:reviewed

#16679 [sqlite3] Update to 3.35.0
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#16684 [openvr ] Update openvr to 1.16.8
  ports/openvr/CONTROL
  ports/openvr/portfile.cmake
  versions/baseline.json
  versions/o-/openvr.json
Labels: category:port-update, info:reviewed

#16697 [uSockets] update to version 0.7.1
  ports/usockets/CONTROL
  ports/usockets/portfile.cmake
  ports/usockets/vcpkg.json
  versions/baseline.json
  versions/u-/usockets.json
Labels: category:port-update, info:reviewed

#16705 [sundials] Update to 5.7.0 and also update repository
  ports/sundials/CONTROL
  ports/sundials/portfile.cmake
  ports/sundials/vcpkg.json
  versions/baseline.json
  versions/s-/sundials.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#16672 [uWebSockets] updated to 19.0.0 alpha 5
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: category:port-update, depends:different-pr

#16643 [prometheus-cpp] Update to version 0.12.2
  ports/prometheus-cpp/CONTROL
  ports/prometheus-cpp/portfile.cmake
  versions/baseline.json
  versions/p-/prometheus-cpp.json
Labels: category:port-update, info:reviewed

#16664 [abseil] Upgrade abseil to 20200923 patch 3, fix gcc11 build error
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16667 [indicators] update to 2.0
  ports/indicators/portfile.cmake
  ports/indicators/vcpkg.json
  versions/baseline.json
  versions/i-/indicators.json
Labels: category:port-update, info:internal, info:reviewed

#16661 [openjpeg] 16645 Fix compile w/features jp3d,jpip,jpwl,mj2 triplet x64-windows VS 2019 ver 16.9.1
  ports/openjpeg/CONTROL
  ports/openjpeg/fix-lrintf-to-opj_lrintf.patch
  ports/openjpeg/portfile.cmake
  ports/openjpeg/vcpkg.json
  versions/baseline.json
  versions/o-/openjpeg.json
Labels: category:port-bug, info:reviewed

#16708 [ace] Upgrade to 7.0.1
  ports/ace/CONTROL
  ports/ace/portfile.cmake
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-update, requires:author-response

#16710 [ixwebsocket] Fix cmake-configure files install path
  ports/ixwebsocket/CONTROL
  ports/ixwebsocket/portfile.cmake
  ports/ixwebsocket/vcpkg.json
  versions/baseline.json
  versions/i-/ixwebsocket.json
Labels: category:port-bug, info:internal, info:reviewed

#16312 [vcpkg] Add tar support for gettext
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: category:tool-update, info:reviewed

#16592 [CGAL] Restore boost dependencies
  ports/cgal/CONTROL
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-feature, info:reviewed

#15957 [gmp] correct supports field to run CI for other platforms
  ports/gmp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gmp.json
Labels: category:port-bug, depends:vm-update, info:reviewed

#16625 [ocilib] fix wrong solution filename
  ports/ocilib/CONTROL
  ports/ocilib/portfile.cmake
  ports/ocilib/vcpkg.json
  versions/baseline.json
  versions/o-/ocilib.json
Labels: category:port-bug, info:reviewed

#16657 [magnum/magnum-plugins] fix magnum-plugins building all magnum dependencies
  ports/magnum-plugins/CONTROL
  versions/baseline.json
  versions/m-/magnum-plugins.json
Labels: category:port-bug, info:reviewed

#16633 [vcpkg_execute_build_process] Add warning message when memory or hard disk space is insufficient
  scripts/cmake/vcpkg_execute_build_process.cmake
Labels: category:vcpkg-feature, info:internal, info:reviewed

#16659 [qt5-base] make libpq an optional dependency
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, info:reviewed

#16552 [vc] Update HEAD_REF and fix CMake configure options
  ports/vc/CONTROL
  ports/vc/portfile.cmake
  versions/baseline.json
  versions/v-/vc.json
Labels: category:port-update, info:reviewed

#16693 [libbacktrace] new port
  ports/libbacktrace/portfile.cmake
  ports/libbacktrace/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libbacktrace.json
Labels: category:new-port, info:reviewed

#16727 [imgui] Update to 1.82
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#16683 [tweeny] Update to v3.2.0
  ports/tweeny/CONTROL
  ports/tweeny/portfile.cmake
  ports/tweeny/vcpkg.json
  versions/baseline.json
  versions/t-/tweeny.json
Labels: category:port-update, info:reviewed

#16590 [vcpkg] Initial support of FreeBSD x86 platform
  triplets/community/x86-freebsd.cmake
Labels: category:vcpkg-feature, requires:discussion

#16737 [sdl2-mixer] Fix features link error
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-mixer/CONTROL
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-bug, info:internal, info:reviewed

#16755 [detours] support debug builds
  ports/detours/CONTROL
  ports/detours/portfile.cmake
  versions/baseline.json
  versions/d-/detours.json
Labels: category:port-feature, info:reviewed

#16760 [vcpkg docs] Modify manifest-root-dir as manifest-root
  docs/specifications/manifests.md
Labels: category:documentation, info:internal, info:reviewed

#16761 [vcpkg] Add "arm64-windows-static-md" triplet
  triplets/community/arm64-windows-static-md.cmake
Labels: category:community-triplet, info:reviewed

#16758 [docs] Rename docs/index.md to docs/README.md
  CHANGELOG.md
  README_es.md
  README_fr.md
  README_ko_KR.md
  README_zh_CN.md
  docs/README.md
Labels: category:documentation, info:reviewed

#16776 [vcpkg baseline] Skip libgnutls:x64-osx in Ci testing
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#16763 [collada-dom] Add REMOVE_RECURSE to solve DLLs error path
  ports/collada-dom/CONTROL
  ports/collada-dom/fix-shared-keyword.patch
  ports/collada-dom/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/collada-dom.json
Labels: category:port-bug, info:internal, info:reviewed

#16651 [drogon] Update to 1.4.1
  ports/drogon/CONTROL
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.patch
  ports/libpq/CONTROL
  ports/libpq/vcpkg-cmake-wrapper.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
  versions/l-/libpq.json
Labels: category:port-update, info:reviewed

#16767 [libwebsockets] Update to v4.1.6
  ports/libwebsockets/CONTROL
  ports/libwebsockets/portfile.cmake
  versions/baseline.json
  versions/l-/libwebsockets.json
Labels: category:port-update, info:reviewed

#16733 [angle] Include EGL/eglext_angle.h in ANGLE
  ports/angle/CMakeLists.txt
  ports/angle/CONTROL
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#16696 New port for mailio.
  ports/mailio/portfile.cmake
  ports/mailio/vcpkg.json
  versions/baseline.json
  versions/m-/mailio.json
Labels: category:new-port, info:reviewed

#16765 [WinReg] update to v4.0.0
  ports/winreg/CONTROL
  ports/winreg/portfile.cmake
  versions/baseline.json
  versions/w-/winreg.json
Labels: category:port-update, info:internal, info:reviewed

#16553 [metrohash] support more triplets by excluding 128 CRC source
  ports/metrohash/CMakeLists.txt
  ports/metrohash/portfile.cmake
  ports/metrohash/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/metrohash.json
Labels: category:port-feature, info:reviewed

#16346 [fbgemm] create a new port
  ports/fbgemm/fix-cmakelists.patch
  ports/fbgemm/portfile.cmake
  ports/fbgemm/vcpkg.json
  versions/baseline.json
  versions/f-/fbgemm.json
Labels: category:new-port, info:reviewed

#16749 [ttauri] Add new port
  ports/ttauri/portfile.cmake
  ports/ttauri/vcpkg.json
  versions/baseline.json
  versions/t-/ttauri.json
Labels: category:new-port, info:reviewed

#16824 [termcolor] update to 2.0.0
  ports/termcolor/portfile.cmake
  ports/termcolor/vcpkg.json
  versions/baseline.json
  versions/t-/termcolor.json
Labels: category:port-update, info:internal, info:reviewed

#16818 [implot] Update to 0.9
  ports/implot/CONTROL
  ports/implot/mac_os_build_fix.patch
  ports/implot/portfile.cmake
  ports/implot/vcpkg.json
  versions/baseline.json
  versions/i-/implot.json
Labels: category:port-update, info:reviewed

#16805 Updates links to documentation in repo's root README.md
  README.md
Labels: category:documentation, info:reviewed

#16513 [opencascade] fix #16252
  ports/opencascade/CONTROL
  ports/opencascade/fix-install-prefix-path.patch
  ports/opencascade/install-include-dir.patch
  ports/opencascade/portfile.cmake
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-bug, info:reviewed

#16788 [happly] add new port
  ports/happly/portfile.cmake
  ports/happly/vcpkg.json
  versions/baseline.json
  versions/h-/happly.json
Labels: category:new-port, info:reviewed

#16703 [args] update to latest version
  ports/args/CONTROL
  ports/args/portfile.cmake
  ports/args/vcpkg.json
  versions/a-/args.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16596 [scripts] vcpkg_configure_make: do not set --build on macOS
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:vcpkg-feature, depends:different-pr

#16726 [libxml2] Disable http and ftp on UWP
  ports/libxml2/CMakeLists.txt
  ports/libxml2/CONTROL
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:internal, info:reviewed

#16714 [openh264] Add openh264 port
  ports/openh264/portfile.cmake
  ports/openh264/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  versions/baseline.json
  versions/o-/openh264.json
Labels: category:new-port, info:reviewed

#16835 [libhv] Add DISABLE_PARALLEL
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:port-bug, info:internal, info:reviewed

#16834 [sqlite3] Update to 3.35.2
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#16795 [docs] link to up to date versioning specification
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:reviewed

#16796 [docs] fix links for vcpkg-tool maintainer help
  docs/README.md
Labels: category:documentation, info:reviewed

#16804 [blend2d] Update to beta_2021-03-17
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
  versions/b-/blend2d.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#15717 [mnn,flatbuffers] add a new port and patch
  ports/flatbuffers/CONTROL
  ports/flatbuffers/fix-issue-6036.patch
  ports/flatbuffers/portfile.cmake
  ports/mnn/portfile.cmake
  ports/mnn/use-package-and-install.patch
  ports/mnn/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
  versions/m-/mnn.json
Labels: category:new-port, info:reviewed

#16839 [libusb] Fix the support for Visual Studio 2019
  ports/libusb/CONTROL
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-bug, info:internal, info:reviewed

#16675 [websocketpp] Add features to build without Boost
  ports/websocketpp/CONTROL
  ports/websocketpp/vcpkg.json
  versions/baseline.json
  versions/w-/websocketpp.json
Labels: category:port-feature, info:reviewed

#16842 [workflow] update version of workflow port
  ports/workflow/portfile.cmake
  ports/workflow/vcpkg.json
  versions/baseline.json
  versions/w-/workflow.json
Labels: category:port-update, info:reviewed

#16843 [flatbuffers] support iOS triplets
  ports/flatbuffers/CONTROL
  ports/flatbuffers/portfile.cmake
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:community-triplet, category:port-feature

#16820 [jsoncons] Update to v0.163.0
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#16819 [spdlog] Fix build for Android
  ports/spdlog/CONTROL
  ports/spdlog/fix-androidbuild.patch
  ports/spdlog/portfile.cmake
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-feature, info:reviewed

#16668 Azure Core Release Beta 7
  ports/azure-core-cpp/CONTROL
  ports/azure-core-cpp/portfile.cmake
  ports/azure-identity-cpp/CONTROL
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/CONTROL
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-common-cpp/CONTROL
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/CONTROL
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/CONTROL
  ports/azure-storage-files-shares-cpp/portfile.cmake
  versions/a-/azure-core-cpp.json
  versions/a-/azure-identity-cpp.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16711 [asio] update to 1.18.1
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-update, info:internal, info:reviewed

#16794 [Influxdb-cxx] add new port
  ports/influxdb-cxx/portfile.cmake
  ports/influxdb-cxx/vcpkg.json
  versions/baseline.json
  versions/i-/influxdb-cxx.json
Labels: category:new-port, info:reviewed

#16549 [poco] Fix feature sqlite3
  ports/poco/CONTROL
  ports/poco/fix-feature-sqlite3.patch
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-bug, info:internal, info:reviewed

#16527 [argparse] Update to the latest commit
  ports/argparse/portfile.cmake
  ports/argparse/vcpkg.json
  versions/a-/argparse.json
  versions/baseline.json
Labels: category:port-update, info:internal, info:reviewed

#16859 boost-modular-build-helper] Add system library dl for boost-regex[icu] and boost-locale[icu] on linux
  ports/boost-modular-build-helper/user-config.jam
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-bug, info:internal

#16837 [vcpkg baseline][gsoap] Update to 2.8.112
  ports/gsoap/CONTROL
  ports/gsoap/portfile.cmake
  ports/gsoap/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gsoap.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#16799 [jwt-cpp] update to v0.5.0
  ports/jwt-cpp/CONTROL
  ports/jwt-cpp/fix-warning.patch
  ports/jwt-cpp/portfile.cmake
  ports/jwt-cpp/vcpkg.json
  versions/baseline.json
  versions/j-/jwt-cpp.json
Labels: category:port-update, info:reviewed

#16875 [fakeit] add new port
  ports/fakeit/portfile.cmake
  ports/fakeit/vcpkg.json
  versions/baseline.json
  versions/f-/fakeit.json
Labels: category:new-port, info:reviewed

#16810 [libgwenhywfar] new port
  ports/libgnutls/portfile.cmake
  ports/libgnutls/vcpkg.json
  ports/libgwenhywfar/portfile.cmake
  ports/libgwenhywfar/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libgnutls.json
  versions/l-/libgwenhywfar.json
Labels: category:new-port, depends:different-pr, requires:author-response

#16051 [aubio] allow to build without dependencies
  ports/aubio/CMakeLists.txt
  ports/aubio/CONTROL
  ports/aubio/portfile.cmake
  ports/aubio/vcpkg.json
  versions/a-/aubio.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#16816 [libmt32emu] new port
  ports/libmt32emu/portfile.cmake
  ports/libmt32emu/vcpkg.json
  versions/baseline.json
  versions/l-/libmt32emu.json
Labels: category:new-port, info:reviewed

#15375 [osgearth] Fix x64-windows-static-md
  ports/osg/CONTROL
  ports/osg/portfile.cmake
  ports/osgearth/StaticOSG.patch
  ports/osgearth/deprecated_cpp_fix.patch
  ports/osgearth/fix-dependencies.patch
  ports/osgearth/fix-dependency-osg.patch
  ports/osgearth/fix-tinyxml.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/remove-tool-debug-suffix.patch
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osg.json
  versions/o-/osgearth.json
Labels: category:community-triplet, category:port-bug, info:reviewed

#16885 [microsoft-signalr] Update port with new version and find_package support
  ports/microsoft-signalr/CONTROL
  ports/microsoft-signalr/portfile.cmake
  ports/microsoft-signalr/remove-fno-rtti-compile-option.patch
  versions/baseline.json
  versions/m-/microsoft-signalr.json
Labels: category:port-update, info:reviewed

#16858 [ryu] ryuConfig.cmake now selects the correct libraries when cross compiling
  ports/ryu/ryuConfig.cmake
  ports/ryu/vcpkg.json
  versions/baseline.json
  versions/r-/ryu.json
Labels: category:port-bug

#16871 [WinReg] Update to v4.1.0
  ports/winreg/CONTROL
  ports/winreg/portfile.cmake
  versions/baseline.json
  versions/w-/winreg.json
Labels: category:port-update, info:internal, info:reviewed

#16806 [sail] Update 0.9.0-pre11 -> 0.9.0-pre12
  ports/sail/portfile.cmake
  ports/sail/usage
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#16856 [ixwebsocket] update to 11.2.3
  ports/ixwebsocket/portfile.cmake
  ports/ixwebsocket/vcpkg.json
  versions/baseline.json
  versions/i-/ixwebsocket.json
Labels: category:port-update, info:reviewed

#16364 [tensorflow] upgrade to 2.4.1
  ports/tensorflow-cc/portfile.cmake
  ports/tensorflow-cc/vcpkg.json
  ports/tensorflow-common/change-macros-for-static-lib.patch
  ports/tensorflow-common/fix-dbg-build-errors.patch
  ports/tensorflow-common/fix-linux-build.patch
  ports/tensorflow-common/fix-more-build-errors.patch
  ports/tensorflow-common/fix-windows-build.patch
  ports/tensorflow-common/portfile.cmake
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  ports/tensorflow/portfile.cmake
  ports/tensorflow/vcpkg.json
  versions/baseline.json
  versions/t-/tensorflow-cc.json
  versions/t-/tensorflow-common.json
  versions/t-/tensorflow.json
Labels: category:port-update, info:reviewed

#16045 Nanodbc/fix/config cmake files path linux
  ports/nanodbc/CONTROL
  ports/nanodbc/portfile.cmake
  versions/baseline.json
  versions/n-/nanodbc.json
Labels: category:port-bug, info:reviewed

#16779 [vtk] Add support for unicode path for VTK reader/writer
  ports/vtk/CONTROL
  ports/vtk/portfile.cmake
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-feature, info:reviewed

#16904 [vcpkg baseline][osgearth/gdal] Re-fix dependency gdal
  ports/gdal/CONTROL
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:internal

#16928 [abseil] Upgrade to 20210324
  ports/abseil/fix-msvc-flags.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16913 [nowide] Upgrade to 11.1.1
  ports/nowide/CONTROL
  ports/nowide/portfile.cmake
  versions/baseline.json
  versions/n-/nowide.json
Labels: category:port-update, info:reviewed

#16901 [robin-hood-hashing] Update to 3.11.1
  ports/robin-hood-hashing/portfile.cmake
  ports/robin-hood-hashing/vcpkg.json
  versions/baseline.json
  versions/r-/robin-hood-hashing.json
Labels: category:port-update, info:reviewed

#16892 [glfw3] Update to version 3.3.3
  ports/glfw3/CONTROL
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:port-update, info:reviewed

#16884 [libcbor] New port
  ports/libcbor/LibCborConfig.cmake
  ports/libcbor/portfile.cmake
  ports/libcbor/vcpkg.json
  versions/baseline.json
  versions/l-/libcbor.json
Labels: category:new-port, info:reviewed

#16883 [vamp-sdk] new package
  ports/vamp-sdk/CMakeLists.txt
  ports/vamp-sdk/portfile.cmake
  ports/vamp-sdk/vcpkg.json
  versions/baseline.json
  versions/v-/vamp-sdk.json
Labels: category:new-port, info:reviewed

#16881 [docs] Vulkan SDK usage for Android triplets
  docs/users/android.md
Labels: category:documentation, info:reviewed

#16877 [llvm] add features enable-{eh,ffi,bindings,terminfo,threads}
  ports/llvm/CONTROL
  ports/llvm/portfile.cmake
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-feature, info:reviewed

#16872 [g3log] Add supports
  ports/g3log/portfile.cmake
  ports/g3log/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/g3log.json
Labels: category:port-bug, info:internal, info:reviewed

#16867 [docs-triplets] Suggest overlay triplets
  docs/users/triplets.md
Labels: category:documentation, info:internal, info:reviewed

#16852 [maintainer-guide] Clarify best practices for default features
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:reviewed

#16768 Upgrade ffmpeg to 4.3.2
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#16730 [libsodium] Rework CMake build to match autoconf
  ports/libsodium/CMakeLists.txt
  ports/libsodium/CONTROL
  ports/libsodium/portfile.cmake
  ports/libsodium/sodiumConfig.cmake.in
  ports/libsodium/vcpkg.json
  versions/baseline.json
  versions/l-/libsodium.json
Labels: category:port-feature, info:reviewed

#16536 [ginkgo] Create new port
  ports/ginkgo/cmake-fixes.patch
  ports/ginkgo/portfile.cmake
  ports/ginkgo/vcpkg.json
  ports/ginkgo/windows-iterator.patch
  versions/baseline.json
  versions/g-/ginkgo.json
Labels: category:new-port, info:reviewed

#16436 [iir1] Add new port
  ports/iir1/portfile.cmake
  ports/iir1/vcpkg.json
  versions/baseline.json
  versions/i-/iir1.json
Labels: category:new-port, info:reviewed

#16420 [python3] Add feature deprecated-win7-support.
  ports/python3/0001-static-library.patch
  ports/python3/0007-restore-support-for-windows-7.patch
  ports/python3/portfile.cmake
  ports/python3/python_vcpkg.props.in
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-feature, info:reviewed, requires:discussion

#16401 [breakpad] add support for Android triplets
  ports/breakpad/CMakeLists.txt
  ports/breakpad/CONTROL
  ports/breakpad/fix-unordered_map.patch
  ports/breakpad/portfile.cmake
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#14658 [clamav] Add new port
  ports/clamav/CONTROL
  ports/clamav/build.patch
  ports/clamav/cmakefiles.patch
  ports/clamav/curl.patch
  ports/clamav/portfile.cmake
  versions/baseline.json
  versions/c-/clamav.json
Labels: category:new-port, info:reviewed

#14750 [azure-kinect-sensor-sdk] not working on Linux
  ports/azure-c-shared-utility/CONTROL
  ports/azure-c-shared-utility/disable-error.patch
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-kinect-sensor-sdk/CONTROL
  ports/azure-kinect-sensor-sdk/add-MATROSKA_VERSION-define.patch
  ports/azure-kinect-sensor-sdk/disable-c4275.patch
  ports/azure-kinect-sensor-sdk/fix-builds.patch
  ports/azure-kinect-sensor-sdk/fix-calibration-c.patch
  ports/azure-kinect-sensor-sdk/fix-linux.patch
  ports/azure-kinect-sensor-sdk/fix-uvc.patch
  ports/azure-kinect-sensor-sdk/portfile.cmake
  versions/a-/azure-c-shared-utility.json
  versions/a-/azure-kinect-sensor-sdk.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#14962 [geogram] Fix windows dynamic build usage
  ports/geogram/CONTROL
  ports/geogram/fix-windows-dynamic.patch
  ports/geogram/portfile.cmake
  versions/baseline.json
  versions/g-/geogram.json
Labels: category:port-bug, info:reviewed

#16770 [qt5-webengine] Fix issues
  ports/qt5-webengine/CONTROL
  ports/qt5-webengine/portfile.cmake
  versions/baseline.json
  versions/q-/qt5-webengine.json
Labels: category:port-bug, info:reviewed

#16882 [ffmpeg] Fix FindFFMPEG lib versions for building opencv[ffmpeg]
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#16969 [open62541] add amalgamation feature
  ports/open62541/CONTROL
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-feature, info:reviewed
