Repository microsoft/vcpkg, pull requests merged in 2021-12, with the labels that each got.

#20658 [OpenCV] update to v4.5.4 and v3.4.16
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  ports/opencv/vcpkg.json
  ports/opencv2/0002-install-options.patch
  ports/opencv2/0003-force-package-requirements.patch
  ports/opencv2/0005-fix-cuda.patch
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/0011-fix-caffe-io.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0004-fix-policy-CMP0057.patch
  ports/opencv4/0008-devendor-quirc.patch
  ports/opencv4/0011-fix-caffe-io.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  scripts/test_ports/vcpkg-ci-opencv/CONTROL
  scripts/test_ports/vcpkg-ci-opencv/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
  versions/o-/opencv.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-update, info:reviewed

#21683 [sdl2] Fix mingw compilation issues
  ports/sdl2/0005-sdl2-fix-mingw-checks.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#21693 [plplot] no absolute paths
  ports/plplot/portfile.cmake
  ports/plplot/vcpkg.json
  versions/baseline.json
  versions/p-/plplot.json
Labels: category:port-feature, info:reviewed

#21699 [hpx] no absolute paths
  ports/hpx/portfile.cmake
  ports/hpx/vcpkg.json
  versions/baseline.json
  versions/h-/hpx.json
Labels: category:port-feature, info:reviewed

#21701 [gdcm] no absolute paths
  ports/gdcm/portfile.cmake
  ports/gdcm/vcpkg.json
  versions/baseline.json
  versions/g-/gdcm.json
Labels: category:port-feature, info:reviewed

#21705 [libftdi1] no absolute paths
  ports/libftdi1/portfile.cmake
  ports/libftdi1/vcpkg.json
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libftdi1.json
  versions/l-/libusb.json
Labels: category:port-bug, info:reviewed

#21761 [xxhash] Update to 0.8.1
  ports/xxhash/portfile.cmake
  ports/xxhash/vcpkg.json
  versions/baseline.json
  versions/x-/xxhash.json
Labels: category:port-update, info:reviewed

#21770 [boinc] Fix android build
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: info:reviewed, category:community-triplet

#21784 [casclib] Add option CASC_UNICODE
  ports/casclib/portfile.cmake
  ports/casclib/vcpkg.json
  versions/baseline.json
  versions/c-/casclib.json
Labels: category:port-bug, info:internal, info:reviewed

#21797 Add missing qwt headers
  ports/qwt/portfile.cmake
  ports/qwt/vcpkg.json
  versions/baseline.json
  versions/q-/qwt.json
Labels: category:port-bug, info:reviewed

#21700 [ginkgo] no absolute paths
  ports/ginkgo/portfile.cmake
  ports/ginkgo/vcpkg.json
  versions/baseline.json
  versions/g-/ginkgo.json
Labels: category:port-feature

#21825 [vcpkg baseline] Remove qwt-qt6 due to conflict with qwt.
  ports/qwt-qt6/disable-examples-playground-tests.patch
  ports/qwt-qt6/portfile.cmake
  ports/qwt-qt6/vcpkg.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#20449 [osgearth] Fix osgearth vcpkg build failures and linking/compilation failures from installed bits
  ports/osgearth/fix-dependency-osg.patch
  ports/osgearth/fix-gcc11-compilation.patch
  ports/osgearth/fix-imgui.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-bug, info:reviewed

#21786 [foxi] create a new port
  ports/foxi/portfile.cmake
  ports/foxi/remove-test-targets.patch
  ports/foxi/vcpkg.json
  versions/baseline.json
  versions/f-/foxi.json
Labels: category:new-port, info:reviewed

#21789 [libtins] Misc fixes
  ports/libpcap/portfile.cmake
  ports/libpcap/vcpkg.json
  ports/libtins/find-pcap_static.patch
  ports/libtins/fix-source-writes.patch
  ports/libtins/portfile.cmake
  ports/libtins/vcpkg.json
  versions/baseline.json
  versions/l-/libpcap.json
  versions/l-/libtins.json
Labels: category:port-bug, info:reviewed

#21799 [python3] Restrict string replacement to used build type
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-feature, info:reviewed

#21803 [google-cloud-cpp] update to latest release (v1.34.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#21809 [gsl] update to 2.7.1
  ports/gsl/portfile.cmake
  ports/gsl/vcpkg.json
  versions/baseline.json
  versions/g-/gsl.json
Labels: category:port-update, info:reviewed

#21811 [libhydrogen] Update version to latest commit
  ports/libhydrogen/portfile.cmake
  ports/libhydrogen/vcpkg.json
  versions/baseline.json
  versions/l-/libhydrogen.json
Labels: info:internal, category:port-update, info:reviewed

#21813 [influxdb-cxx] Fix build error, fix usage
  ports/influxdb-cxx/include-stringview.patch
  ports/influxdb-cxx/portfile.cmake
  ports/influxdb-cxx/vcpkg.json
  versions/baseline.json
  versions/i-/influxdb-cxx.json
Labels: category:port-bug, info:internal, info:reviewed

#21816 [gdal] Remove tool testepsg
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:internal, info:reviewed

#21594 [spatialite-tools] Revise and update to 5.0.1
  ports/readosm/fix-makefiles.patch
  ports/readosm/pc-file.patch
  ports/readosm/portfile.cmake
  ports/readosm/vcpkg.json
  ports/spatialite-tools/fix-linux-configure.patch
  ports/spatialite-tools/fix-makefiles.patch
  ports/spatialite-tools/portfile.cmake
  ports/spatialite-tools/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/readosm.json
  versions/s-/spatialite-tools.json
Labels: category:port-feature, category:port-update, info:reviewed

#21393 [range-v3] updates REF to range-v3:HEAD
  ports/range-v3/portfile.cmake
  ports/range-v3/vcpkg.json
  versions/baseline.json
  versions/r-/range-v3.json
Labels: category:port-update, info:reviewed

#21465 Fixed android toolchain with newest NDK
  scripts/toolchains/android.cmake
Labels: info:reviewed, category:community-triplet, requires:vcpkg-team-review

#21714 [fltk] no absolute paths
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-bug, info:reviewed

#21801 UPDATE Qt-Advanced-Docking-System to v3.7.2
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-update, info:reviewed

#21807 [cpr] update to <1.7.0>
  ports/cpr/001-cpr-config.patch
  ports/cpr/cprConfig.cmake
  ports/cpr/fix-uwp.patch
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
Labels: info:internal, category:port-update, info:reviewed

#21812 [sdl2-mixer] Fix feature mpg123 build error
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-mixer/fix-featurempg123.patch
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-bug, info:internal, info:reviewed

#21832 [qwt] Restore patch to fix qwt link static library
  ports/qwt/fix-dynamic-static.patch
  ports/qwt/portfile.cmake
  ports/qwt/vcpkg.json
  versions/baseline.json
  versions/q-/qwt.json
Labels: category:port-bug, info:internal, info:reviewed

#21829 [libyaml] Export the pkgconfig files
  ports/libyaml/export-pkgconfig.patch
  ports/libyaml/portfile.cmake
  ports/libyaml/vcpkg.json
  versions/baseline.json
  versions/l-/libyaml.json
Labels: category:port-feature, info:internal, info:reviewed

#21820 [tl-ranges] Add new port
  ports/tl-ranges/portfile.cmake
  ports/tl-ranges/vcpkg.json
  versions/baseline.json
  versions/t-/tl-ranges.json
Labels: category:new-port, info:reviewed

#21836 [skCrypter] add new port
  ports/skcrypter/portfile.cmake
  ports/skcrypter/vcpkg.json
  versions/baseline.json
  versions/s-/skCrypter.json
Labels: category:new-port, info:reviewed

#21815 [libdisasm] Support uwp
  ports/breakpad/vcpkg.json
  ports/libdisasm/CMakeLists.txt
  ports/libdisasm/portfile.cmake
  ports/libdisasm/vcpkg.json
  scripts/ci.baseline.txt
  versions/b-/breakpad.json
  versions/baseline.json
  versions/l-/libdisasm.json
Labels: category:port-feature, info:internal, info:reviewed

#21808 [libdc1394] Add new port
  ports/libdc1394/portfile.cmake
  ports/libdc1394/vcpkg.json
  versions/baseline.json
  versions/l-/libdc1394.json
Labels: category:new-port, info:reviewed

#21839 [qca] Bump version to 2.3.4
  ports/qca/0002-fix-build-error.patch
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-update, info:reviewed

#21840 Revert baseline changes from #20449
  scripts/ci.baseline.txt
Labels: category:port-bug, info:reviewed

#21844 [mimalloc] Update to 2.0.3
  ports/mimalloc/fix-cmake.patch
  ports/mimalloc/portfile.cmake
  ports/mimalloc/vcpkg.json
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: category:port-update, info:reviewed

#21853 [xxhash] no absolute paths
  ports/xxhash/portfile.cmake
  ports/xxhash/vcpkg.json
  versions/baseline.json
  versions/x-/xxhash.json
Labels: category:port-feature, info:reviewed

#21855 [omplapp] no absolute paths
  ports/omplapp/portfile.cmake
  ports/omplapp/vcpkg.json
  versions/baseline.json
  versions/o-/omplapp.json
Labels: category:port-feature, info:reviewed

#21856 [libcrafter] no absolute paths
  ports/libcrafter/portfile.cmake
  ports/libcrafter/vcpkg.json
  versions/baseline.json
  versions/l-/libcrafter.json
Labels: category:port-feature, info:reviewed

#21858 [itk] no absolute paths
  ports/itk/portfile.cmake
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-feature, info:reviewed

#21867 [nowide] update to 11.1.3
  ports/nowide/portfile.cmake
  ports/nowide/vcpkg.json
  versions/baseline.json
  versions/n-/nowide.json
Labels: category:port-update, info:reviewed

#21859 [qt5-declarative] no absolute paths
  ports/qt5-base/cmake/qt_submodule_installation.cmake
  ports/qt5-base/vcpkg.json
  ports/qt5-declarative/portfile.cmake
  ports/qt5-declarative/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
  versions/q-/qt5-declarative.json
Labels: category:port-feature, info:reviewed

#21860 [apr] no absolute paths
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#21875 [ffmpeg] Fix detection of x264.
  ports/ffmpeg/0019-libx264-Do-not-explicitly-set-X264_API_IMPORTS.patch
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#21878 [ensmallen] update to 2.18.1
  ports/ensmallen/portfile.cmake
  ports/ensmallen/vcpkg.json
  versions/baseline.json
  versions/e-/ensmallen.json
Labels: info:internal, category:port-update, info:reviewed

#21871 [imgui-sfml] Fix usage
  ports/imgui-sfml/005-fix-imtextureid-define.patch
  ports/imgui-sfml/portfile.cmake
  ports/imgui-sfml/vcpkg.json
  versions/baseline.json
  versions/i-/imgui-sfml.json
Labels: category:port-bug, info:internal, info:reviewed

#21846 [lodepng,lodepng-c, libjxl] Update, merge lodepng-c into lodepng
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  ports/libjxl/disable-jxl_extras.patch
  ports/libjxl/fix-dependencies.patch
  ports/libjxl/fix-link-flags.patch
  ports/libjxl/portfile.cmake
  ports/libjxl/vcpkg.json
  ports/lodepng-c/CMakeLists.txt
  ports/lodepng-c/portfile.cmake
  ports/lodepng-c/vcpkg.json
  ports/lodepng/CMakeLists.txt
  ports/lodepng/portfile.cmake
  ports/lodepng/usage
  ports/lodepng/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdal.json
  versions/l-/libjxl.json
  versions/l-/lodepng-c.json
  versions/l-/lodepng.json
Labels: category:port-feature, category:port-update, info:reviewed

#21864 [ompl] Fix config for find_package
  ports/ompl/0002_Fix_config.patch
  ports/ompl/vcpkg.json
  versions/baseline.json
  versions/o-/ompl.json
Labels: category:port-bug, info:reviewed

#21887 [openxr-loader] Update to 1.0.20
  ports/openxr-loader/fix-openxr-sdk-jsoncpp.patch
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-update, info:reviewed

#20636 [aom/libavif] Add support for ARM and UWP
  ports/aom/aom-uninitialized-pointer.diff
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  ports/libyuv/deprecated-warning.patch
  ports/libyuv/portfile.cmake
  ports/libyuv/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
  versions/l-/libavif.json
  versions/l-/libyuv.json
Labels: category:port-feature, info:reviewed

#19162 [yasm] Fix feature tools
  ports/yasm/add-feature-tools.patch
  ports/yasm/portfile.cmake
  ports/yasm/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/y-/yasm.json
Labels: category:port-bug, info:internal, info:reviewed

#21902 [skcrypter] Fix casing of version db file
  versions/s-/skcrypter.json
Labels: category:port-bug, info:reviewed

#21900 [google-cloud-cpp] update to latest release (v1.34.1)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#21894 [opencensus-cpp] Update to 2021-08-26
  ports/opencensus-cpp/fix-install.patch
  ports/opencensus-cpp/portfile.cmake
  ports/opencensus-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opencensus-cpp.json
Labels: category:port-update, info:reviewed

#21854 [OpenCV] add python feature
  ports/opencv/vcpkg.json
  ports/opencv2/0002-install-options.patch
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/0002-install-options.patch
  ports/opencv3/0011-remove-python2.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0002-install-options.patch
  ports/opencv4/0011-remove-python2.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  scripts/test_ports/vcpkg-ci-opencv/vcpkg.json
  versions/baseline.json
  versions/o-/opencv.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:reviewed

#21113 [arrow] Update to 6.0.0
  ports/arrow/fix-dependencies.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#21925 [vcpkg baseline] [Qt6] add FETCH_REF for qt modules without tag
  ports/libyaml/export-pkgconfig.patch
  ports/libyaml/vcpkg.json
  ports/qtapplicationmanager/vcpkg.json
  ports/qtapplicationmanager/wrapper-fixes.patch
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/cmake/qt_port_details.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/l-/libyaml.json
  versions/q-/qtapplicationmanager.json
  versions/q-/qtbase.json
Labels: category:port-bug

#21841 [wxwidgets] Add 'WXWIDGETS_USE_STD_CONTAINERS' option
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:reviewed

#21932 [vcpkg] Update tool to 2021-12-09.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, info:reviewed, category:tool-update

#21657 [qt5-base] Fix the incompatibility between configuration script and --x-buildtrees
  ports/qt5-base/cmake/configure_qt.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: info:internal, category:tool-update

#20439 [vcpkg-cmake-config] fix up cmake_current_packages_dir
  ports/vcpkg-cmake-config/vcpkg.json
  ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake-config.json
Labels: category:vcpkg-bug, info:internal, info:reviewed, info:world-rebuild

#21931 [libyuv] Remove from ci.baseline.txt.
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#21802 [Qt-Advanced-Docking-System] update to version 3.8.0
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-update, info:reviewed

#21911 [rsocket] Remove keyword supports
  ports/rsocket/portfile.cmake
  ports/rsocket/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/rsocket.json
Labels: category:port-bug, info:internal, info:reviewed

#21930 [aws-sdk-cpp]update to 1.9.160
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#21924 [wtl] Add two "post-release updates".
  ports/wtl/appwizard_setup.js-vs2022.patch
  ports/wtl/atlmisc.h-bug329.patch
  ports/wtl/portfile.cmake
  ports/wtl/vcpkg.json
  versions/baseline.json
  versions/w-/wtl.json
Labels: category:port-bug, requires:author-response

#20405 [libzen] Update to 0.4.39
  ports/libzen/portfile.cmake
  ports/libzen/vcpkg.json
  versions/baseline.json
  versions/l-/libzen.json
Labels: info:internal, category:port-update, info:reviewed

#20443 [proj4] Update to 8.1.1, revise features and dependencies
  ports/gdal/dependency_win.cmake
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  ports/libspatialite/portfile.cmake
  ports/libspatialite/vcpkg.json
  ports/proj4/fix-proj4-targets-cmake.patch
  ports/proj4/fix-sqlite3-bin.patch
  ports/proj4/pkgconfig.patch
  ports/proj4/portfile.cmake
  ports/proj4/vcpkg.json
  ports/spatialite-tools/portfile.cmake
  ports/spatialite-tools/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
  versions/l-/libspatialite.json
  versions/p-/proj4.json
  versions/s-/spatialite-tools.json
Labels: category:port-feature, info:reviewed

#21944 [qtbase] fix installed qt.conf
  ports/qtbase/portfile.cmake
  ports/qtbase/qt.conf.in
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:reviewed

#21953 [vcpkg baseline][libde265] Remove optional dependency on sdl and modernize.
  ports/libde265/portfile.cmake
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: category:port-bug, info:internal, info:reviewed

#21933 [v8] Fix link error
  ports/v8/V8Config-static.cmake
  ports/v8/portfile.cmake
  ports/v8/vcpkg.json
  versions/baseline.json
  versions/v-/v8.json
Labels: category:port-bug, info:internal

#21316 [mlpack] Fix supports
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: category:port-bug, info:internal, info:reviewed

#21320 [tesseract] Fix non-Windows build
  ports/tesseract/fix-timeval.patch
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-bug, info:internal, info:reviewed

#21857 [vcpkg-cmake] Fix windows toolchain chainloading for uwp
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/vcpkg.json
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  versions/baseline.json
  versions/n-/netcdf-c.json
  versions/v-/vcpkg-cmake.json
Labels: info:reviewed, category:tool-update

#21927 [python3] Upgrade to Python 3.10.1
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update

#21915 [co] update to version v2.0.3
  ports/co/portfile.cmake
  ports/co/vcpkg.json
  versions/baseline.json
  versions/c-/co.json
Labels: category:port-update, info:reviewed

#21940 [mpfr] Add warning message on Linux
  ports/mpfr/portfile.cmake
  ports/mpfr/vcpkg.json
  versions/baseline.json
  versions/m-/mpfr.json
Labels: category:port-bug, info:internal, info:reviewed

#21958 [mongo-cxx-driver] Fix installation
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: category:port-bug, info:internal, info:reviewed

#21897 [highfive] Add eigen3 feature option
  ports/highfive/fix-error-C1128.patch
  ports/highfive/portfile.cmake
  ports/highfive/vcpkg.json
  versions/baseline.json
  versions/h-/highfive.json
Labels: category:port-feature, info:internal, info:reviewed

#21948 [fribidi] Support new platform
  ports/fribidi/portfile.cmake
  ports/fribidi/vcpkg.json
  versions/baseline.json
  versions/f-/fribidi.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#21978 [vcpkg baseline][rsocket] Use C++17.
  ports/rsocket/portfile.cmake
  ports/rsocket/use-cpp-17.patch
  ports/rsocket/vcpkg.json
  versions/baseline.json
  versions/r-/rsocket.json
Labels: category:port-bug, info:internal, info:reviewed

#17301 [dlib] update to <19.22>
  ports/dlib/find_blas.patch
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: info:internal, category:port-update, info:reviewed

#21151 [wil] Fix usage
  ports/wil/portfile.cmake
  ports/wil/vcpkg.json
  versions/baseline.json
  versions/w-/wil.json
Labels: category:port-bug, info:internal, info:reviewed

#21941 [exiv2] update to 0.27.5
  ports/exiv2/fix-find_expat.patch
  ports/exiv2/fix-ninja-error.patch
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: info:internal, category:port-update, info:reviewed

#21946 [xtensor-io ] updates to 0.13.0
  ports/xtensor-io/portfile.cmake
  ports/xtensor-io/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor-io.json
Labels: category:port-update, info:reviewed

#21965 [qtkeychain] Support to build with less dependencies
  ports/qtkeychain/portfile.cmake
  ports/qtkeychain/vcpkg.json
  versions/baseline.json
  versions/q-/qtkeychain.json
Labels: category:port-feature, info:reviewed

#21969 [trantor] Update to 1.5.4
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#21971 [robin-hood-hashing] Update to 3.11.4
  ports/robin-hood-hashing/portfile.cmake
  ports/robin-hood-hashing/vcpkg.json
  versions/baseline.json
  versions/r-/robin-hood-hashing.json
Labels: category:port-update, info:reviewed

#21972 [libuuid] Fix wrong pkg-config installation (#21970)
  ports/libuuid/portfile.cmake
  ports/libuuid/vcpkg.json
  versions/baseline.json
  versions/l-/libuuid.json
Labels: category:port-bug, info:reviewed

#21987 [rmlui] Update to version 4.3
  ports/rmlui/portfile.cmake
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:port-update, info:reviewed

#22002 [json_dto] Update to v.0.3.0
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update, info:reviewed

#22004 [mmloader]Update mmloader to v1.0.1
  ports/mmloader/fix_c_and_cxx_flags.patch
  ports/mmloader/portfile.cmake
  ports/mmloader/vcpkg.json
  versions/baseline.json
  versions/m-/mmloader.json
Labels: category:port-update, info:reviewed

#21949 [vk-bootstrap] New port
  ports/vk-bootstrap/portfile.cmake
  ports/vk-bootstrap/vcpkg.json
  ports/vk-bootstrap/vk-bootstrap-config.cmake
  ports/vk-bootstrap/vk-bootstrap-targets-debug.cmake
  ports/vk-bootstrap/vk-bootstrap-targets-release.cmake
  versions/baseline.json
  versions/v-/vk-bootstrap.json
Labels: category:new-port, info:reviewed

#21954 [vcpkg] Change osx to run every 48 hours rather than every 24.
  scripts/azure-pipelines/azure-pipelines-osx.yml
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/generate-skip-list.ps1
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
Labels: info:internal, category:infrastructure

#21989 [kddockwidgets] new port
  ports/kddockwidgets/fix_find_package.patch
  ports/kddockwidgets/portfile.cmake
  ports/kddockwidgets/vcpkg.json
  versions/baseline.json
  versions/k-/kddockwidgets.json
Labels: category:new-port, info:reviewed

#21977 [osgearth] Change blend2d dependency to use the blend2d target
  ports/osgearth/make-all-find-packages-required.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-bug, info:internal, info:reviewed

#21912 [vcpkg baseline][tensorflow] setup python venv
  ports/tensorflow-common/generate_static_link_cmd_linux.py
  ports/tensorflow-common/generate_static_link_cmd_macos.py
  ports/tensorflow-common/generate_static_link_cmd_windows.py
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/provision-image.sh
  versions/baseline.json
  versions/t-/tensorflow-common.json
Labels: category:port-bug, category:infrastructure

#21179 [libevent] no absolute paths
  ports/libevent/portfile.cmake
  ports/libevent/vcpkg.json
  versions/baseline.json
  versions/l-/libevent.json
Labels: category:port-bug, info:reviewed

#22003 [Pcre2] Check if files exists before call vcpkg_replace_string.
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
Labels: category:port-bug, info:reviewed

#22007 [lodepng] Fix cannot open include file "lodepng.h"
  ports/lodepng/CMakeLists.txt
  ports/lodepng/vcpkg.json
  versions/baseline.json
  versions/l-/lodepng.json
Labels: category:port-bug, info:internal, info:reviewed

#22015 [MyGUI] update to 3.4.1
  ports/mygui/fix-generation.patch
  ports/mygui/portfile.cmake
  ports/mygui/vcpkg.json
  versions/baseline.json
  versions/m-/mygui.json
Labels: info:internal, category:port-update, info:reviewed

#21484 [s2n] Update, add openssl dependency
  ports/s2n/portfile.cmake
  ports/s2n/remove-libcrypto-messages.patch
  ports/s2n/use-openssl-crypto.patch
  ports/s2n/vcpkg.json
  versions/baseline.json
  versions/s-/s2n.json
Labels: category:port-feature, category:port-update, info:reviewed

#21583 Libpq update and VCPKG_OSX_SYSROOT fix
  ports/libpq/patches/windows/Solution_DEBUG.patch
  ports/libpq/patches/windows/Solution_RELEASE.patch
  ports/libpq/patches/windows/install.patch
  ports/libpq/patches/windows/python3_build_DEBUG.patch
  ports/libpq/patches/windows/python3_build_RELEASE.patch
  ports/libpq/patches/windows/win_bison_flex.patch
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-bug, category:port-update, requires:author-response

#22009 [qhttpengine] New port
  ports/qhttpengine/portfile.cmake
  ports/qhttpengine/vcpkg.json
  versions/baseline.json
  versions/q-/qhttpengine.json
Labels: category:new-port, info:reviewed

#22018 [ xtensor-io ] Fix wrong hash
  ports/xtensor-io/portfile.cmake
  ports/xtensor-io/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor-io.json
Labels: category:port-bug, info:internal

#22013 [vcpkg] Update VMs for December 2021 Patch Tuesday
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
Labels: category:infrastructure

#20559 [starlink] Veggiesaurus/starlink ast cminpack fix
  ports/starlink-ast/portfile.cmake
  ports/starlink-ast/vcpkg.json
  versions/baseline.json
  versions/s-/starlink-ast.json
Labels: category:port-bug, info:reviewed

#22022 [tensorflow] update to 2.7, including bazel latest 4.x update
  ports/tensorflow-cc/vcpkg.json
  ports/tensorflow-common/Update-bazel-max-version.patch
  ports/tensorflow-common/fix-windows-build.patch
  ports/tensorflow-common/portfile.cmake
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  ports/tensorflow/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  versions/baseline.json
  versions/t-/tensorflow-cc.json
  versions/t-/tensorflow-common.json
  versions/t-/tensorflow.json
Labels: category:port-update

#22028 [vcpkg baseline] Fix mpg123 build failed on Linux
  ports/mpg123/fix-modulejack.patch
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:internal, info:reviewed

#21695 [qt5-base] no _debug lib suffixes on macOS (#14225)
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, info:reviewed

#22017 [abseil] Upgrade to 2021.1102
  ports/abseil/fix-cxx-standard.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#21528 [python3] Support arm
  ports/pybind11/vcpkg.json
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
  versions/p-/python3.json
Labels: category:port-feature, info:internal, info:reviewed

#22020 [openmvg] update to 2.0
  ports/openmvg/0001-eigen_3.4.0.patch
  ports/openmvg/build_fixes.patch
  ports/openmvg/portfile.cmake
  ports/openmvg/vcpkg.json
  versions/baseline.json
  versions/o-/openmvg.json
Labels: info:internal, category:port-update, info:reviewed

#22021 [brynet] Update to 1.11.1
  ports/brynet/portfile.cmake
  ports/brynet/vcpkg.json
  versions/b-/brynet.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#22024 [graphicsmagick] update to version 1.3.37
  ports/graphicsmagick/portfile.cmake
  ports/graphicsmagick/vcpkg.json
  versions/baseline.json
  versions/g-/graphicsmagick.json
Labels: category:port-update, info:reviewed

#22032 [meson] fix windows linker detection
  ports/vcpkg-tool-meson/fix_linker_detection.patch
  ports/vcpkg-tool-meson/portfile.cmake
  ports/vcpkg-tool-meson/vcpkg.json
  scripts/cmake/vcpkg_configure_meson.cmake
  versions/baseline.json
  versions/v-/vcpkg-tool-meson.json
Labels: info:reviewed, category:tool-update

#22036 [libgpg-error] Release-only build support
  ports/libgpg-error/portfile.cmake
  ports/libgpg-error/vcpkg.json
  versions/baseline.json
  versions/l-/libgpg-error.json
Labels: category:port-feature, info:reviewed

#22055 [elfutils] provide static or shared libraries correctly
  ports/elfutils/portfile.cmake
  ports/elfutils/vcpkg.json
  versions/baseline.json
  versions/e-/elfutils.json
Labels: category:port-bug, info:reviewed

#22056 [gl3w] Use khrplatform.h from the egl-registry port
  ports/gl3w/portfile.cmake
  ports/gl3w/vcpkg.json
  versions/baseline.json
  versions/g-/gl3w.json
Labels: category:port-bug, info:reviewed

#22046 [caf] Update to 0.18.5
  ports/caf/fix_dependency.patch
  ports/caf/openssl-version-override.patch
  ports/caf/portfile.cmake
  ports/caf/usage
  ports/caf/vcpkg-cmake-wrapper.cmake
  ports/caf/vcpkg.json
  versions/baseline.json
  versions/c-/caf.json
Labels: info:internal, category:port-update, info:reviewed

#21896 [gmsh] Add new port
  ports/gmsh/fix-install.patch
  ports/gmsh/portfile.cmake
  ports/gmsh/vcpkg.json
  versions/baseline.json
  versions/g-/gmsh.json
Labels: category:new-port

#21659 [ompl] Add vcpkg_check_linkage
  ports/ompl/portfile.cmake
  ports/ompl/vcpkg.json
  versions/baseline.json
  versions/o-/ompl.json
Labels: category:port-bug, info:internal, info:reviewed

#21788 [pcl] Add feature apps, visualization, simulation, examples and add usage
  ports/pcl/install-examples.patch
  ports/pcl/portfile.cmake
  ports/pcl/usage
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-feature, info:internal, info:reviewed

#22059 [vcpkg baseline][activemq-cpp] Added missing libuuid dependency
  ports/activemq-cpp/vcpkg.json
  versions/a-/activemq-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#22025 [optimus-cpp] New port: ID hashing and Obfuscation using Knuth's Algorithm for C++
  ports/optimus-cpp/portfile.cmake
  ports/optimus-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/optimus-cpp.json
Labels: category:new-port, info:reviewed

#21869 [tensorflow-common] remove single quotes from vcpkg flags
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  scripts/cmake/vcpkg_acquire_msys.cmake
  versions/baseline.json
  versions/t-/tensorflow-common.json
Labels: category:port-bug, info:reviewed, category:tool-update

#22049 [sdl2-mixer] Fix link mpg123 error
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-bug, info:internal, info:reviewed

#15983 [x64-windows-release] add a single config community triplet based on x64-windows and make it work on some ports
  ports/calceph/portfile.cmake
  ports/calceph/vcpkg.json
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  ports/libjpeg-turbo/vcpkg-cmake-wrapper.cmake
  ports/libjpeg-turbo/vcpkg.json
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  ports/x264/portfile.cmake
  ports/x264/vcpkg.json
  triplets/community/x64-windows-release.cmake
  versions/baseline.json
  versions/c-/calceph.json
  versions/l-/libffi.json
  versions/l-/libjpeg-turbo.json
  versions/t-/tensorflow-common.json
  versions/x-/x264.json
Labels: info:reviewed, category:community-triplet

#20749 [llvm] update to 13.0.0
  ports/halide/portfile.cmake
  ports/halide/usage
  ports/halide/usage.in
  ports/halide/vcpkg.json
  ports/llvm/0002-fix-install-paths.patch
  ports/llvm/0003-fix-openmp-debug.patch
  ports/llvm/0004-fix-dr-1734.patch
  ports/llvm/0005-fix-tools-path.patch
  ports/llvm/0007-fix-compiler-rt-install-path.patch
  ports/llvm/0008-fix-libcxx-install.patch
  ports/llvm/0009-fix-tools-install-path.patch
  ports/llvm/0010-fix-libffi.patch
  ports/llvm/0011-fix-libxml2.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  ports/mesa/d3d10sw.patch
  ports/mesa/portfile.cmake
  ports/mesa/radv-msvc-llvm13-2.patch
  ports/mesa/swr-llvm13.patch
  ports/mesa/swr-msvc-2.patch
  ports/mesa/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-llvm/portfile.cmake
  scripts/test_ports/vcpkg-ci-llvm/vcpkg.json
  versions/baseline.json
  versions/h-/halide.json
  versions/l-/llvm.json
  versions/m-/mesa.json
  versions/o-/opencv4.json
Labels: category:port-update, info:reviewed

#21570 [quazip] no absolute paths
  ports/quazip/portfile.cmake
  ports/quazip/vcpkg.json
  versions/baseline.json
  versions/q-/quazip.json
Labels: category:port-feature, info:reviewed

#21571 [qca] no absolute paths
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-feature, info:reviewed

#21574 [cutelyst2] no absolute paths
  ports/cutelyst2/portfile.cmake
  ports/cutelyst2/vcpkg.json
  versions/baseline.json
  versions/c-/cutelyst2.json
Labels: category:port-feature, info:reviewed

#22103 [vcpkg docs][ES] Sync with English readme (#21952)
  README_es.md
Labels: category:documentation, info:reviewed

#22079 [msbuild] Correct resulting triplet installation folder
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug, info:reviewed

#22071 [cppgraphqlgen] Update to latest 4.0.0 release
  ports/cppgraphqlgen/portfile.cmake
  ports/cppgraphqlgen/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cppgraphqlgen.json
Labels: category:port-update, info:reviewed

#22090 [python3] Fix feature deprecated-win7-support.
  ports/python3/0006-restore-support-for-windows-7.patch
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#22095 [vcpkg-scripts] Pass native install dir to nmake
  scripts/cmake/vcpkg_build_nmake.cmake
Labels: info:reviewed, category:tool-update

#22089 [sqlcipher] bump version to 4.5.0
  ports/sqlcipher/CMakeLists.txt
  ports/sqlcipher/portfile.cmake
  ports/sqlcipher/vcpkg.json
  versions/baseline.json
  versions/s-/sqlcipher.json
Labels: category:port-update, info:reviewed

#22087 [ncurses] Update
  ports/ncurses/portfile.cmake
  ports/ncurses/usage
  ports/ncurses/vcpkg.json
  versions/baseline.json
  versions/n-/ncurses.json
Labels: category:port-update, info:reviewed

#22084 [arrow] Update to 6.0.1
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#22065 [log4cxx] Update to 0.12.1
  ports/log4cxx/portfile.cmake
  ports/log4cxx/vcpkg.json
  versions/baseline.json
  versions/l-/log4cxx.json
Labels: category:port-update, info:reviewed

#22105 [teemo] Update to v2.4
  ports/teemo/portfile.cmake
  ports/teemo/vcpkg.json
  versions/baseline.json
  versions/t-/teemo.json
Labels: category:port-update, info:reviewed

#22100 [rapidcheck] Update rapidcheck to 2021-10-10
  ports/rapidcheck/portfile.cmake
  ports/rapidcheck/vcpkg.json
  versions/baseline.json
  versions/r-/rapidcheck.json
Labels: category:port-update, info:reviewed

#22098 [libunifex] no absolute paths
  ports/libunifex/portfile.cmake
  ports/libunifex/vcpkg.json
  versions/baseline.json
  versions/l-/libunifex.json
Labels: category:port-feature, info:reviewed

#22061 [ graphicsmagick ] Add Webp support feature
  ports/graphicsmagick/CMakeLists.txt
  ports/graphicsmagick/vcpkg.json
  versions/baseline.json
  versions/g-/graphicsmagick.json
Labels: category:port-feature, info:reviewed

#21826 [Tracy Profiler] Add new port
  ports/tracy/add-install.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:new-port, info:reviewed

#22110 [vcpkg baseline][ffmpeg] Fix dependency alsa
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:internal, info:reviewed

#21171 [libzen,libmediainfo] update and no absolute paths
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  ports/libzen/portfile.cmake
  ports/libzen/vcpkg.json
  versions/baseline.json
  versions/l-/libmediainfo.json
  versions/l-/libzen.json
Labels: category:port-feature, info:reviewed

#22048 [libdatachannel] update to 0.16.0
  ports/libdatachannel/0001-fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed
