Repository microsoft/vcpkg, pull requests merged in 2021-11, with the labels that each got.

#21078 [ci] Remove unaffected ports from pull request builds
  scripts/azure-pipelines/test-modified-ports.ps1
Labels: category:infrastructure

#21106 [fcl] Enable dynamic support
  ports/fcl/vcpkg.json
  versions/baseline.json
  versions/f-/fcl.json
Labels: category:port-bug, info:internal, info:reviewed

#21120 [drlibs] Update to 2021-11-02
  ports/drlibs/portfile.cmake
  ports/drlibs/vcpkg.json
  versions/baseline.json
  versions/d-/drlibs.json
Labels: category:port-update, info:reviewed

#21118 [google-cloud-cpp] update to latest release (v1.33.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#21108 [bullet3] Add support for OSX arm triplet
  ports/bullet3/portfile.cmake
  ports/bullet3/vcpkg.json
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#21105 [libsercomm] Adding new port
  ports/libsercomm/portfile.cmake
  ports/libsercomm/vcpkg.json
  versions/baseline.json
  versions/l-/libsercomm.json
Labels: category:new-port, info:reviewed

#21153 Update vcpkg-tool to 2021-11-02.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#21059 [openmvs] fix sha512
  ports/openmvs/portfile.cmake
  ports/openmvs/vcpkg.json
  versions/baseline.json
  versions/o-/openmvs.json
Labels: category:port-bug, info:reviewed

#20971 [vcpkg] Add aria2 as vcpkg required tool (step 1)
  scripts/vcpkgTools.xml
Labels: category:vcpkg-feature, info:internal, info:reviewed

#21058 [NUGET] update to 5.11.0
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
Labels: category:vcpkg-bug, info:reviewed, category:tool-update

#18130 [vcpkg] Always use an autotools build triplet
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update, info:world-rebuild

#20879 [vcpkg_host_path_list] add SET subcommand
  docs/maintainers/vcpkg_host_path_list.md
  scripts/cmake/vcpkg_host_path_list.cmake
Labels: info:internal, info:reviewed, category:tool-update

#20915 [clblast] Update to 1.5.2
  ports/clblast/portfile.cmake
  ports/clblast/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/clblast.json
Labels: category:port-update, info:reviewed

#21014 [eastl] update to 3.18.00
  ports/eastl/portfile.cmake
  ports/eastl/vcpkg.json
  versions/baseline.json
  versions/e-/eastl.json
Labels: info:internal, category:port-update, info:reviewed

#21015 [WinReg] update to v4.1.2
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#21018 [gdal] New feature "cfitsio"
  ports/gdal/dependency_win.cmake
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-feature, info:reviewed

#21023 [botan][gtest][openmesh][polyclipping][quill] Fix release-only build
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  ports/openmesh/portfile.cmake
  ports/openmesh/vcpkg.json
  ports/polyclipping/portfile.cmake
  ports/polyclipping/vcpkg.json
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
  versions/g-/gtest.json
  versions/o-/openmesh.json
  versions/p-/polyclipping.json
  versions/q-/quill.json
Labels: category:port-feature, info:reviewed

#21024 [Seal] Update to version 3.7.1
  ports/seal/portfile.cmake
  ports/seal/vcpkg.json
  versions/baseline.json
  versions/s-/seal.json
Labels: category:port-update, info:reviewed

#21028 [x264] Update to latest stable version.
  ports/ffmpeg/0019-libx264-Do-not-explicitly-set-X264_API_IMPORTS.patch
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  ports/x264/portfile.cmake
  ports/x264/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/x-/x264.json
Labels: category:port-update, info:reviewed

#21178 [cppunit] no absolute paths
  ports/cppunit/portfile.cmake
  ports/cppunit/vcpkg.json
  versions/baseline.json
  versions/c-/cppunit.json
Labels: category:port-bug, info:reviewed

#21177 [gdcm] no absolute paths
  ports/gdcm/portfile.cmake
  ports/gdcm/vcpkg.json
  versions/baseline.json
  versions/g-/gdcm.json
Labels: category:port-bug, info:reviewed

#21172 [libgit2] no absolute paths
  ports/libgit2/portfile.cmake
  ports/libgit2/vcpkg.json
  versions/baseline.json
  versions/l-/libgit2.json
Labels: category:port-bug, info:reviewed

#21167 [qpid-proton] no absolute paths
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/vcpkg.json
  versions/baseline.json
  versions/q-/qpid-proton.json
Labels: category:port-feature, info:reviewed

#21165 [ponder] fix post build check
  ports/ponder/portfile.cmake
  ports/ponder/vcpkg.json
  versions/baseline.json
  versions/p-/ponder.json
Labels: category:port-bug, info:reviewed

#21156 [optional-lite] fix sha
  ports/optional-lite/portfile.cmake
  ports/optional-lite/vcpkg.json
  versions/baseline.json
  versions/o-/optional-lite.json
Labels: category:port-bug, info:reviewed

#21145 [ftgl] fix cmake config
  ports/ftgl/portfile.cmake
  ports/ftgl/vcpkg.json
  versions/baseline.json
  versions/f-/ftgl.json
Labels: category:port-bug, info:reviewed

#21155 [fcl] Fix fcl 0.7.0 does not configure if Doxygen is found
  ports/fcl/portfile.cmake
  ports/fcl/vcpkg.json
  versions/baseline.json
  versions/f-/fcl.json
Labels: category:port-bug, info:reviewed

#21152 [abseil] Support x86 and arm
  ports/abseil/fix-32-bit-arm.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#21130 [bddisasm] Update to 1.34.7
  ports/bddisasm/portfile.cmake
  ports/bddisasm/vcpkg.json
  versions/b-/bddisasm.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#21111 [librdkafka] Upgrade up to 1.8.2
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#21104 [ompl] no absolute paths
  ports/ompl/portfile.cmake
  ports/ompl/vcpkg.json
  versions/baseline.json
  versions/o-/ompl.json
Labels: category:port-bug, info:reviewed

#21087 [highway] Add new port
  ports/highway/portfile.cmake
  ports/highway/vcpkg.json
  versions/baseline.json
  versions/h-/highway.json
Labels: category:new-port, info:reviewed

#21136 [minitrace] fix cmake config
  ports/minitrace/portfile.cmake
  ports/minitrace/vcpkg.json
  versions/baseline.json
  versions/m-/minitrace.json
Labels: category:port-bug, info:reviewed

#21121 [draco] Update to 1.4.3
  ports/draco/disable-symlinks.patch
  ports/draco/portfile.cmake
  ports/draco/vcpkg.json
  versions/baseline.json
  versions/d-/draco.json
Labels: category:port-update, info:reviewed

#21103 [protopuf] fix cmake config
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-bug, info:reviewed

#21099 [xtensor-io] no absolute paths
  ports/xtensor-io/portfile.cmake
  ports/xtensor-io/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor-io.json
Labels: category:port-feature, info:reviewed

#21098 [xtensor-blas] no absolute path
  ports/xtensor-blas/portfile.cmake
  ports/xtensor-blas/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor-blas.json
Labels: category:port-feature, info:reviewed

#21097 [libusb] no absolute paths
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-bug, info:reviewed

#21096 [mongo-cxx-driver] no absolute paths
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: category:port-bug, info:reviewed

#21094 [sjpeg] Add new port
  ports/sjpeg/portfile.cmake
  ports/sjpeg/vcpkg.json
  versions/baseline.json
  versions/s-/sjpeg.json
Labels: category:new-port, info:reviewed

#21085 [reproc] Update to 14.2.4
  ports/reproc/portfile.cmake
  ports/reproc/vcpkg.json
  versions/baseline.json
  versions/r-/reproc.json
Labels: category:port-update, info:reviewed

#21076 [knet] Update to v1.0.3
  ports/knet/portfile.cmake
  ports/knet/vcpkg.json
  versions/baseline.json
  versions/k-/knet.json
Labels: category:port-update, info:reviewed

#21041 [alembic] Update to 1.8.3
  ports/alembic/disable-warnings-as-error.patch
  ports/alembic/fix-find-openexr-ilmbase.patch
  ports/alembic/fix-runtime-destination.patch
  ports/alembic/portfile.cmake
  ports/alembic/vcpkg.json
  versions/a-/alembic.json
  versions/baseline.json
Labels: category:port-feature, category:port-update, info:reviewed

#18855 [pcl] Update to 1.12.0 [rtabmap] Update to 0.20.13
  ports/pcl/add-gcc-version-check.patch
  ports/pcl/fix-check-sse.patch
  ports/pcl/fix-cmake_find_library_suffixes.patch
  ports/pcl/fix-find-qhull.patch
  ports/pcl/fix-link-libpng.patch
  ports/pcl/fix-numeric-literals-flag.patch
  ports/pcl/pcl_config.patch
  ports/pcl/pcl_utils.patch
  ports/pcl/portfile.cmake
  ports/pcl/realsense2.patch
  ports/pcl/remove-broken-targets.patch
  ports/pcl/vcpkg.json
  ports/rtabmap/001_opencv.patch
  ports/rtabmap/fix-qt.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
  versions/r-/rtabmap.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#21199 [libftdi1] no absolute paths
  ports/libftdi1/portfile.cmake
  ports/libftdi1/vcpkg.json
  versions/baseline.json
  versions/l-/libftdi1.json
Labels: category:port-bug, info:reviewed

#21193 [pcre2] fetch from github
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
Labels: category:port-bug, info:reviewed

#21149 [opentelemetry-cpp] Add missing features #21124
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#21147 [bcg729] fix cmake config fixup call
  ports/bcg729/portfile.cmake
  ports/bcg729/vcpkg.json
  versions/b-/bcg729.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#21122 [drogon] Update to 1.7.3
  ports/drogon/Fix-Drogon-not-building-caused-by-FindFilesystem-105.patch
  ports/drogon/portfile.cmake
  ports/drogon/resolv.patch
  ports/drogon/vcpkg.json
  ports/drogon/vcpkg.patch
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-update, info:reviewed

#21110 [dbg-macro] update version of dbg-macro to 2021-08-08
  ports/dbg-macro/portfile.cmake
  ports/dbg-macro/vcpkg.json
  versions/baseline.json
  versions/d-/dbg-macro.json
Labels: category:port-update, info:reviewed

#21102 [shapelib] fix cmake export path
  ports/shapelib/portfile.cmake
  ports/shapelib/vcpkg.json
  versions/baseline.json
  versions/s-/shapelib.json
Labels: category:port-bug, info:reviewed

#21101 [simage] no absolute path
  ports/simage/portfile.cmake
  ports/simage/vcpkg.json
  versions/baseline.json
  versions/s-/simage.json
Labels: category:port-bug, info:reviewed

#21170 [mdspan] Add new port for kokkos/mdspan
  ports/mdspan/portfile.cmake
  ports/mdspan/vcpkg.json
  versions/baseline.json
  versions/m-/mdspan.json
Labels: category:new-port, info:reviewed

#21157 [vcpkg_download_distfile] allow uppercase SHA512
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:vcpkg-bug, info:reviewed

#21064 [rsm-binary-io] Update to 2.0.4
  ports/rsm-binary-io/portfile.cmake
  ports/rsm-binary-io/vcpkg.json
  versions/baseline.json
  versions/r-/rsm-binary-io.json
Labels: category:port-update, info:reviewed

#21040 [opencolorio] Update to 2.1.0
  ports/opencolorio/fix-pystring-name.patch
  ports/opencolorio/portfile.cmake
  ports/opencolorio/use-find-openexr.patch
  ports/opencolorio/vcpkg.json
  versions/baseline.json
  versions/o-/opencolorio.json
Labels: category:port-update, info:reviewed

#21054 [snappy] Fix hash and switch to vcpkg_cmake_*
  ports/snappy/portfile.cmake
  ports/snappy/vcpkg.json
  versions/baseline.json
  versions/s-/snappy.json
Labels: category:port-bug, info:reviewed

#21042 [libLAS] Remove dependency on all of boost
  ports/liblas/vcpkg.json
  versions/baseline.json
  versions/l-/liblas.json
Labels: category:port-feature, info:reviewed

#21033 [pybind11] Update to 2.8.1
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#21031 [libwebm] Update to 1.0.0.28
  ports/libwebm/0001-fix-cmake.patch
  ports/libwebm/0003-fix-android-ndk-r22.patch
  ports/libwebm/Fix-cmake.patch
  ports/libwebm/no-samples.patch
  ports/libwebm/portfile.cmake
  ports/libwebm/vcpkg.json
  versions/baseline.json
  versions/l-/libwebm.json
Labels: info:internal, category:port-update, info:reviewed

#21030 [args] Update to 6.2.7
  ports/args/portfile.cmake
  ports/args/vcpkg.json
  versions/a-/args.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#21005 [hazelcast-cpp-client] update to v5.0.0
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#20981 [libevent] Fix 'install failure empty bin/ folder'
  ports/libevent/fix-usage.patch
  ports/libevent/portfile.cmake
  ports/libevent/vcpkg.json
  versions/baseline.json
  versions/l-/libevent.json
Labels: category:port-bug, info:internal, info:reviewed, category:community-triplet

#18681 [new port] squirrel
  ports/squirrel/fix_optionally_build_sq.patch
  ports/squirrel/portfile.cmake
  ports/squirrel/vcpkg.json
  versions/baseline.json
  versions/s-/squirrel.json
Labels: category:new-port, info:reviewed

#20050 [getdns/flint/arb] Update to the latest version
  ports/arb/CMakeLists.txt
  ports/arb/fix-build-error.patch
  ports/arb/portfile.cmake
  ports/arb/vcpkg.json
  ports/flint/dll_flint.patch
  ports/flint/fix-cmakelists.patch
  ports/flint/lib_flint.patch
  ports/flint/portfile.cmake
  ports/flint/vcpkg.json
  ports/getdns/ignore_copying.patch
  ports/getdns/install_dlls.patch
  ports/getdns/openssl_depend_libs.patch
  ports/getdns/portfile.cmake
  ports/getdns/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/arb.json
  versions/baseline.json
  versions/f-/flint.json
  versions/g-/getdns.json
Labels: info:internal, category:port-update, info:reviewed

#21036 [avro-c] Update to 1.11.0 and also support osx
  ports/avro-c/avro.patch
  ports/avro-c/portfile.cmake
  ports/avro-c/snappy-pr-793.patch
  ports/avro-c/vcpkg.json
  versions/a-/avro-c.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#21082 Fix aws-checksums not building on Windows
  ports/aws-checksums/vcpkg.json
  versions/a-/aws-checksums.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#21100 [symengine] no absolute paths
  ports/symengine/portfile.cmake
  ports/symengine/vcpkg.json
  versions/baseline.json
  versions/s-/symengine.json
Labels: category:port-bug, info:reviewed

#20987 [scripts-audit] nmake buildsystem
  docs/maintainers/vcpkg_build_nmake.md
  scripts/cmake/vcpkg_build_nmake.cmake
  scripts/cmake/vcpkg_install_nmake.cmake
Labels: info:internal, category:scripts-audit

#20885 [scripts-audit] CMake buildsystem
  docs/maintainers/vcpkg_build_cmake.md
  scripts/cmake/vcpkg_build_cmake.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_install_cmake.cmake
Labels: info:internal, category:scripts-audit, info:world-rebuild

#20322 [scripts-audit] QMake buildsystem
  docs/maintainers/vcpkg_configure_qmake.md
  ports/qt5-base/vcpkg.json
  scripts/cmake/vcpkg_build_qmake.cmake
  scripts/cmake/vcpkg_configure_qmake.cmake
  scripts/cmake/vcpkg_install_qmake.cmake
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: info:internal, category:scripts-audit, requires:vcpkg-team-review

#21220 [Azure SDK Core] Update to 1.3.1 Nov Release
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, requires:all-feature-testing

#21250 [vcpkg baseline][botan/qca] Fix botan pkgconfig and add botan as a required dependency to qca
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  ports/qca/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#21026 [script audit] Meson buildsystem
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/cmake/vcpkg_install_meson.cmake
Labels: info:internal, info:reviewed, category:scripts-audit

#21247 [Azure SDK Storage] Nov Release Update
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#21216 [srell] Update to 3.001
  ports/srell/portfile.cmake
  ports/srell/vcpkg.json
  versions/baseline.json
  versions/s-/srell.json
Labels: category:port-update, info:reviewed

#21212 [string-theory] Update to 3.5
  ports/string-theory/portfile.cmake
  ports/string-theory/vcpkg.json
  versions/baseline.json
  versions/s-/string-theory.json
Labels: category:port-update, info:reviewed

#21266 [libmagic] no absolute paths
  ports/libmagic/portfile.cmake
  ports/libmagic/vcpkg.json
  versions/baseline.json
  versions/l-/libmagic.json
Labels: category:port-bug, info:reviewed

#21265 [libsrt] no absolute paths
  ports/libsrt/portfile.cmake
  ports/libsrt/vcpkg.json
  versions/baseline.json
  versions/l-/libsrt.json
Labels: category:port-bug, info:reviewed

#21264 [mongo-c-driver] no absolute paths
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-c-driver.json
Labels: category:port-bug, info:reviewed

#21259 [amqpcpp] Update to 4.3.15
  ports/amqpcpp/portfile.cmake
  ports/amqpcpp/vcpkg.json
  versions/a-/amqpcpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#21258 [unixodbc] no absolute paths
  ports/unixodbc/portfile.cmake
  ports/unixodbc/vcpkg.json
  versions/baseline.json
  versions/u-/unixodbc.json
Labels: category:port-feature, info:reviewed

#21257 [ocilib] no absolute paths
  ports/ocilib/portfile.cmake
  ports/ocilib/vcpkg.json
  versions/baseline.json
  versions/o-/ocilib.json
Labels: category:port-feature, info:reviewed

#21256 [tcl] no absolute paths
  ports/tcl/portfile.cmake
  ports/tcl/vcpkg.json
  versions/baseline.json
  versions/t-/tcl.json
Labels: category:port-bug, info:reviewed

#21252 [workflow] Update version to 0.9.7
  ports/workflow/portfile.cmake
  ports/workflow/vcpkg.json
  versions/baseline.json
  versions/w-/workflow.json
Labels: category:port-update, info:reviewed

#21244 [ois] Update to 1.5.1
  ports/ois/portfile.cmake
  ports/ois/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/ois.json
Labels: category:port-update, info:reviewed

#21225 [pcre] Remove download from ftp.pcre.org
  ports/pcre/portfile.cmake
  ports/pcre/vcpkg.json
  versions/baseline.json
  versions/p-/pcre.json
Labels: category:port-bug, info:reviewed

#21243 [nghttp2] Update to v1.46.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#21240 [aws-sdk-cpp] Fix the path in the export cmake config
  ports/aws-sdk-cpp/fix-aws-root.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#21232 mapbox-geojson-cpp dependency on mapbox-variant
  ports/mapbox-geojson-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mapbox-geojson-cpp.json
Labels: category:port-feature, info:reviewed

#21230 [json-dto] Update to 0.2.15
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update, info:reviewed

#21214 [rsm-bsa] Update to 4.0.0
  ports/rsm-bsa/portfile.cmake
  ports/rsm-bsa/vcpkg.json
  versions/b-/bsa.json
  versions/baseline.json
  versions/r-/rsm-bsa.json
Labels: category:port-feature, category:port-update, info:reviewed

#21209 [raylib] Update to 4.0.0
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:port-update, info:reviewed

#21204 [gsl-lite] Update to v0.40.0
  ports/gsl-lite/portfile.cmake
  ports/gsl-lite/vcpkg.json
  versions/baseline.json
  versions/g-/gsl-lite.json
Labels: category:port-update, info:reviewed

#21180 [apr] no absolute paths
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#21174 [hexl ] Update to v1.2.3
  ports/hexl/portfile.cmake
  ports/hexl/vcpkg.json
  versions/baseline.json
  versions/h-/hexl.json
Labels: category:port-update, info:reviewed

#21062 [vcpkg-cmake-config] Fix parsing of NO_PREFIX_CORRECTION
  ports/vcpkg-cmake-config/vcpkg.json
  ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
  scripts/cmake/vcpkg_fixup_cmake_targets.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake-config.json
Labels: info:reviewed, category:tool-update

#21143 [ismrmrd] no absolute paths
  ports/ismrmrd/portfile.cmake
  ports/ismrmrd/vcpkg.json
  versions/baseline.json
  versions/i-/ismrmrd.json
Labels: category:port-bug, info:reviewed

#21137 [libwebsockets] no absolute paths
  ports/libwebsockets/portfile.cmake
  ports/libwebsockets/vcpkg.json
  versions/baseline.json
  versions/l-/libwebsockets.json
Labels: category:port-bug, info:reviewed

#21073 [libpq] Android compatibility
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-feature, info:reviewed

#21051 [geos] Update to 3.10.0
  ports/geos/disable-warning-4996.patch
  ports/geos/dont-build-astyle.patch
  ports/geos/dont-build-docs.patch
  ports/geos/fix-exported-config.patch
  ports/geos/fix-static-deps.patch
  ports/geos/install-hpp-files.patch
  ports/geos/make-geos-config-relocatable.patch
  ports/geos/pc-file-for-msvc.patch
  ports/geos/pc-file-libs-private.patch
  ports/geos/portfile.cmake
  ports/geos/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/geos.json
Labels: category:port-feature, category:port-update, info:reviewed

#21267 [hwloc] no absolute paths
  ports/hwloc/portfile.cmake
  ports/hwloc/vcpkg.json
  versions/baseline.json
  versions/h-/hwloc.json
Labels: category:port-bug, info:reviewed

#21217 [libjxl] Add new port
  ports/libjxl/fix-dependencies.patch
  ports/libjxl/fix-install-directories.patch
  ports/libjxl/portfile.cmake
  ports/libjxl/vcpkg.json
  versions/baseline.json
  versions/l-/libjxl.json
Labels: category:new-port, info:reviewed

#21144 Python3 no absolute paths
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#21135 [hpx] no absolute paths
  ports/hpx/portfile.cmake
  ports/hpx/vcpkg.json
  versions/baseline.json
  versions/h-/hpx.json
Labels: category:port-feature, info:reviewed

#21066 [libpng] remove absolute paths
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-feature, info:reviewed

#21065 [glib] remove absolute paths
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-feature, info:reviewed

#18068 [zstr] Fix include issues, add usage message override, add homepage and zlib dependency to vcpkg.json
  ports/zstr/portfile.cmake
  ports/zstr/usage
  ports/zstr/vcpkg.json
  versions/baseline.json
  versions/z-/zstr.json
Labels: category:port-bug, info:reviewed

#21131 [mosquitto] fixed building of static libraries
  ports/mosquitto/portfile.cmake
  ports/mosquitto/vcpkg-cmake-wrapper.cmake
  ports/mosquitto/vcpkg.json
  versions/baseline.json
  versions/m-/mosquitto.json
Labels: category:port-bug, info:reviewed

#20328 [libmupdf] Update to 1.19.0-rc2
  ports/libmupdf/CMakeLists.txt
  ports/libmupdf/dont-generate-extract-3rd-party-things.patch
  ports/libmupdf/portfile.cmake
  ports/libmupdf/use-if-instead-of-ifdef-in-writer.patch
  ports/libmupdf/vcpkg.json
  versions/baseline.json
  versions/l-/libmupdf.json
Labels: category:port-update, info:reviewed

#21248 [vcpkg baseline][pcre2] fix checksum and update to 10.39
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/unicorn-lib/CMakeLists.txt
  ports/unicorn-lib/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
  versions/q-/qt5-base.json
  versions/u-/unicorn-lib.json
Labels: category:port-bug, category:port-update

#21297 Issue templates: Fix typo in build failure
  .github/ISSUE_TEMPLATE/report-package-build-failure.md
Labels: category:vcpkg-bug, info:reviewed

#21294 [openmpi] no absolute paths
  ports/openmpi/portfile.cmake
  ports/openmpi/vcpkg.json
  versions/baseline.json
  versions/o-/openmpi.json
Labels: category:port-bug, info:reviewed

#21291 [Azure SDK Key Vault] Update to Nov Release Key Vault Certificates
  ports/azure-security-keyvault-certificates-cpp/portfile.cmake
  ports/azure-security-keyvault-certificates-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-certificates-cpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#21288 [icu] no absolute paths
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:reviewed

#21272 [fastcgi] no absolute paths
  ports/fastcgi/portfile.cmake
  ports/fastcgi/vcpkg.json
  versions/baseline.json
  versions/f-/fastcgi.json
Labels: category:port-bug, info:reviewed

#21271 [libpq] no absolute paths
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-bug, info:reviewed

#21270 [gperftools] no absolute paths
  ports/gperftools/portfile.cmake
  ports/gperftools/vcpkg.json
  versions/baseline.json
  versions/g-/gperftools.json
Labels: category:port-bug, info:reviewed

#21249 [opencv2] Fix build failure when vcpkg folder path include "++"
  ports/opencv2/fix-path-contains-++-error.patch
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  versions/baseline.json
  versions/o-/opencv2.json
Labels: category:port-bug, info:internal, info:reviewed

#21309 Update VMs for November Patch Tuesday
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/create-vmss-helpers.psm1
  scripts/azure-pipelines/linux/provision-image.sh
Labels: info:internal, category:infrastructure

#21253 [libgeotiff] Update to 1.7.0, revise features and config
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  ports/libgeotiff/cmakelists.patch
  ports/libgeotiff/fix-config-version.patch
  ports/libgeotiff/fix-proj4.patch
  ports/libgeotiff/fix-staticbuild.patch
  ports/libgeotiff/geotiff-config.patch
  ports/libgeotiff/portfile.cmake
  ports/libgeotiff/skip-doc-install.patch
  ports/libgeotiff/usage
  ports/libgeotiff/vcpkg.json
  ports/liblas/fix-geotiff.patch
  ports/liblas/portfile.cmake
  ports/liblas/vcpkg.json
  ports/pdal/fix-dependency.patch
  ports/pdal/geotiff.patch
  ports/pdal/portfile.cmake
  ports/pdal/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdal.json
  versions/l-/libgeotiff.json
  versions/l-/liblas.json
  versions/p-/pdal.json
Labels: category:port-feature, category:port-bug, category:port-update, info:reviewed

#21056 [qt] Fix missing Cocoa include
  ports/qt5-base/patches/cocoa.patch
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/qtbase/cocoa.patch
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:reviewed

#21173 [scripts-audit] vcpkg_find_acquire_program
  docs/maintainers/vcpkg_find_acquire_program.md
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: info:internal, category:scripts-audit

#21301 [knet] Update to v1.1.0
  ports/knet/portfile.cmake
  ports/knet/vcpkg.json
  versions/baseline.json
  versions/k-/knet.json
Labels: category:port-update, info:reviewed

#21262 [launch-darkly-server] Add new port
  ports/launch-darkly-server/portfile.cmake
  ports/launch-darkly-server/vcpkg.json
  versions/baseline.json
  versions/l-/launch-darkly-server.json
Labels: category:new-port, info:reviewed

#20835 [gRPC] update to v1.41.0
  ports/grpc/00009-use-system-upb.patch
  ports/grpc/00010-add-feature-absl-sync.patch
  ports/grpc/00014-pkgconfig-upbdefs.patch
  ports/grpc/portfile.cmake
  ports/grpc/snprintf.patch
  ports/grpc/vcpkg.json
  ports/upb/add-all-libs-target.patch
  ports/upb/add-cmake-install.patch
  ports/upb/fix-cmakelists.patch
  ports/upb/no-wyhash.patch
  ports/upb/portfile.cmake
  ports/upb/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
  versions/u-/upb.json
Labels: info:internal, category:port-update, info:reviewed, requires:vcpkg-team-review

#21305 [sdformat6] no absolute paths
  ports/sdformat6/portfile.cmake
  ports/sdformat6/vcpkg.json
  versions/baseline.json
  versions/s-/sdformat6.json
Labels: category:port-bug, info:reviewed

#21302 [lager] no absolute paths
  ports/lager/portfile.cmake
  ports/lager/vcpkg.json
  versions/baseline.json
  versions/l-/lager.json
Labels: category:port-bug, info:reviewed

#21289 [ace] no absolute paths
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#21287 [botan] no absolute paths
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#21269 [libgpg-error] no absolute paths
  ports/libgpg-error/portfile.cmake
  ports/libgpg-error/vcpkg.json
  versions/baseline.json
  versions/l-/libgpg-error.json
Labels: category:port-bug, info:reviewed

#21268 [graphite2] no absolute paths
  ports/graphite2/portfile.cmake
  ports/graphite2/vcpkg.json
  versions/baseline.json
  versions/g-/graphite2.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#21068 [quantlib] update to 1.24
  ports/quantlib/disable-examples-tests.patch
  ports/quantlib/fix-mac-build.patch
  ports/quantlib/portfile.cmake
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update, info:reviewed

#21188 [sdl2] Add feature x11
  ports/ffmpeg/vcpkg.json
  ports/gamedev-framework/vcpkg.json
  ports/pixel/vcpkg.json
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/g-/gamedev-framework.json
  versions/p-/pixel.json
  versions/s-/sdl2.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#21341 [vcpkg|scripts] fix version check in vcpkg_find_acquire_program
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update

#21306 [kdbindings] add port
  ports/kdbindings/portfile.cmake
  ports/kdbindings/vcpkg.json
  versions/baseline.json
  versions/k-/kdbindings.json
Labels: category:new-port, info:reviewed

#21321 [pcapplusplus] Update to 21.11
  ports/pcapplusplus/portfile.cmake
  ports/pcapplusplus/vcpkg.json
  versions/baseline.json
  versions/p-/pcapplusplus.json
Labels: category:port-update, info:reviewed

#21319 [vtk] Fix missing includes
  ports/vtk/missing-limits.patch
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-bug, info:internal, info:reviewed

#21315 [eastl] update to 3.18.00
  ports/eastl/portfile.cmake
  ports/eastl/vcpkg.json
  versions/baseline.json
  versions/e-/eastl.json
Labels: category:port-bug, info:internal, info:reviewed

#21049 [ffmpeg] update version to 4.4.1
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#21236 Python 3.10: fix deprecated win7 support patch
  ports/python3/0006-restore-support-for-windows-7.patch
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#21303 [plplot] no absolute paths
  ports/plplot/portfile.cmake
  ports/plplot/vcpkg.json
  versions/baseline.json
  versions/p-/plplot.json
Labels: category:port-bug, info:reviewed

#21314 [opencascade] Update to 7.6.0
  ports/opencascade/fix-pdb-find.patch
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: info:internal, category:port-update, info:reviewed

#21263 [asio-grpc] Update to 1.3.1
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/usage
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-feature, category:port-update, requires:author-response

#21127 README updated to include tool repo
  README.md
Labels: category:documentation, requires:vcpkg-team-review

#21285 [libatomic-ops] New port
  ports/libatomic-ops/portfile.cmake
  ports/libatomic-ops/vcpkg.json
  versions/baseline.json
  versions/l-/libatomic-ops.json
Labels: category:port-feature, category:new-port

#21261 [gdal] Update to 3.4.0, minor adjustments
  ports/gdal/0005-Fix-configure.patch
  ports/gdal/0007-Control-tools.patch
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, requires:author-response, requires:all-feature-testing

#21273 [directxtk, directxtk12, directxtex, directxmesh, uvatlas] updated ports to November 2021 releases
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, requires:all-feature-testing

#21092 [vcpkg] Revise appdeploy and copy_tool_dependencies
  scripts/buildsystems/msbuild/applocal.ps1
  scripts/cmake/vcpkg_copy_tool_dependencies.cmake
Labels: category:vcpkg-bug, category:vcpkg-feature, requires:vcpkg-team-review

#21412 [bdwgc] Turn on C++, cords an threads support
  ports/bdwgc/portfile.cmake
  ports/bdwgc/vcpkg.json
  versions/b-/bdwgc.json
  versions/baseline.json
Labels: category:port-feature
