Repository microsoft/vcpkg, pull requests merged in 2021-09, with the labels that each got.

#19752 [faiss] update to v1.7.1
  ports/faiss/fix-dependencies.patch
  ports/faiss/portfile.cmake
  ports/faiss/vcpkg.json
  versions/baseline.json
  versions/f-/faiss.json
Labels: info:internal, category:port-update

#19522 [boost-context] arm64 linux abi fix
  ports/boost-context/b2-options.cmake.in
  ports/boost-context/vcpkg.json
  versions/b-/boost-context.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#19504 [freexl] Fix mingw, cleanup
  ports/freexl/CONTROL
  ports/freexl/fix-pc-file.patch
  ports/freexl/portfile.cmake
  ports/freexl/vcpkg.json
  versions/baseline.json
  versions/f-/freexl.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#19845 [jwt-cpp] Fixes SHA512
  ports/jwt-cpp/portfile.cmake
  ports/jwt-cpp/vcpkg.json
  versions/baseline.json
  versions/j-/jwt-cpp.json
Labels: category:port-bug, info:reviewed

#19815 [vcpkg][vcpkg_from_github] Fix version regex matching issue
  scripts/cmake/vcpkg_from_github.cmake
Labels: category:vcpkg-bug, info:internal, info:reviewed

#19194 [kf5archive] fix cmake.in to allow consumption by static builds
  ports/kf5archive/add_support_for_static_builds.patch
  ports/kf5archive/add_zstd_to_cmake_config.patch
  ports/kf5archive/only_pkg_check_modules_if_pkgconfig_found.patch
  ports/kf5archive/portfile.cmake
  ports/kf5archive/use_cmake_to_find_zstd.patch
  ports/kf5archive/vcpkg.json
  versions/baseline.json
  versions/k-/kf5archive.json
Labels: category:port-bug, info:reviewed

#19265 [oatpp-openssl] new port
  ports/oatpp-openssl/portfile.cmake
  ports/oatpp-openssl/vcpkg.json
  versions/baseline.json
  versions/o-/oatpp-openssl.json
Labels: category:new-port, info:reviewed

#19355 [libvpx] Add pkgconfig
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  ports/libvpx/vpx.pc.in
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-bug, info:internal, info:reviewed

#19620 [icu] remove setting triplet
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:reviewed

#19363 [tensorflow] fix macOS build errors caused by numpy and bazel upgrades
  ports/tensorflow-common/convert_lib_params_macos.py
  ports/tensorflow-common/generate_static_link_cmd_linux.py
  ports/tensorflow-common/generate_static_link_cmd_macos.py
  ports/tensorflow-common/generate_static_link_cmd_windows.py
  ports/tensorflow-common/portfile.cmake
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/t-/tensorflow-common.json
Labels: category:port-bug, info:reviewed

#19767 [vcpkg] Repair msbuild damage and workaround the way we integrate on VS2015.
  docs/users/manifests.md
  scripts/buildsystems/msbuild/vcpkg.props
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug, category:vcpkg-feature, info:internal, requires:author-response

#19911 Apply @workpadwan 's fix to bootstrap.sh on non-bash systems.
  scripts/bootstrap.sh
Labels: category:vcpkg-bug, info:internal

#19532 [libvpx] Add realtime and highbitdepth features.
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-feature, info:reviewed

#19120 Fix target_link_libraries on repeated inclusion of wrappers
  ports/exiv2/vcpkg-cmake-wrapper.cmake
  ports/exiv2/vcpkg.json
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  ports/libarchive/vcpkg-cmake-wrapper.cmake.in
  ports/libarchive/vcpkg.json
  ports/libiconv/CONTROL
  ports/libiconv/vcpkg.json
  ports/libuv/CONTROL
  ports/libuv/vcpkg-cmake-wrapper.cmake
  ports/libuv/vcpkg.json
  ports/libxml2/vcpkg-cmake-wrapper.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
  versions/g-/gdal.json
  versions/l-/libarchive.json
  versions/l-/libiconv.json
  versions/l-/libuv.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:reviewed

#19366 [portmidi] add osx support
  ports/portmidi/CONTROL
  ports/portmidi/portfile.cmake
  ports/portmidi/vcpkg.json
  versions/baseline.json
  versions/p-/portmidi.json
Labels: category:port-feature, info:reviewed

#19435 [corrade/magnum/-plugins] Fix build, minor cleanup and minor warning fix in vcpkg CMake scripts
  ports/corrade/portfile.cmake
  ports/corrade/vcpkg.json
  ports/magnum-plugins/001-tools-path.patch
  ports/magnum-plugins/CONTROL
  ports/magnum-plugins/portfile.cmake
  ports/magnum/001-tools-path.patch
  ports/magnum/CONTROL
  ports/magnum/portfile.cmake
  versions/baseline.json
  versions/c-/corrade.json
  versions/m-/magnum-plugins.json
  versions/m-/magnum.json
Labels: category:port-bug, info:reviewed

#19844 [qtbase] Download submodules over https instead of plain git protocol
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-feature

#19846 [asio] update to 1.19.2
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#19480 [tvision] Add new port
  ports/tvision/portfile.cmake
  ports/tvision/vcpkg.json
  versions/baseline.json
  versions/t-/tvision.json
Labels: category:new-port, info:reviewed

#19690 [nlohmann-json] update to 3.10.2
  ports/nlohmann-json/CONTROL
  ports/nlohmann-json/portfile.cmake
  ports/nlohmann-json/vcpkg.json
  versions/baseline.json
  versions/n-/nlohmann-json.json
Labels: category:port-update, requires:vcpkg-team-review

#19492 [geos,librttopo] Fix linkage and other quirks
  ports/geos/fix-static-deps.patch
  ports/geos/portfile.cmake
  ports/geos/vcpkg.json
  ports/librttopo/CONTROL
  ports/librttopo/fix-geoconfig.patch
  ports/librttopo/fix-pc-file.patch
  ports/librttopo/geos-config.patch
  ports/librttopo/portfile.cmake
  ports/librttopo/vcpkg.json
  versions/baseline.json
  versions/g-/geos.json
  versions/l-/librttopo.json
Labels: category:port-feature, category:port-bug, info:reviewed

#19645 [autodock-vina] New Port
  ports/autodock-vina/01-windows.patch
  ports/autodock-vina/CMakeLists.txt
  ports/autodock-vina/portfile.cmake
  ports/autodock-vina/vcpkg.json
  versions/a-/autodock-vina.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#19661 [lager] add port
  ports/lager/portfile.cmake
  ports/lager/vcpkg.json
  versions/baseline.json
  versions/l-/lager.json
Labels: category:new-port, info:reviewed

#19889 [google-cloud-cpp] update to latest release (v1.31.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#19840 [pangolin] Update to 0.6 and also support osx
  ports/pangolin/add-definition.patch
  ports/pangolin/deprecated_constants.patch
  ports/pangolin/fix-build-error-in-vs2019.patch
  ports/pangolin/fix-cmake-version.patch
  ports/pangolin/fix-dependency-python.patch
  ports/pangolin/fix-includepath-error.patch
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: category:port-feature, info:internal, category:port-update, info:reviewed

#19826 [libdatachannel] Update to v0.14.3
  ports/libdatachannel/0001-fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#19798 [jasper] update to 2.0.33
  ports/jasper/CONTROL
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
Labels: info:internal, category:port-update, info:reviewed

#19468 [hexl] Update version to 1.2.1
  ports/hexl/disable_downloading_cpu_features.patch
  ports/hexl/find_dependency_cpu_features.patch
  ports/hexl/portfile.cmake
  ports/hexl/vcpkg.json
  versions/baseline.json
  versions/h-/hexl.json
Labels: category:port-update, info:reviewed

#19636 [openssl] Support static builds on UWP
  ports/openssl/uwp/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#19912 Decouple the storage account used for binary caching from the images.
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: info:internal, category:infrastructure, info:world-rebuild

#19843 [qt5-base] Download submodules over https instead of http
  ports/qt5-base/cmake/qt_download_submodule.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature

#19842 [zlib] Download source over https instead of http
  ports/zlib/portfile.cmake
  ports/zlib/vcpkg.json
  versions/baseline.json
  versions/z-/zlib.json
Labels: category:port-feature

#19935 [libosmium/libxlsxwriter] Update to the latest version
  ports/libosmium/CONTROL
  ports/libosmium/portfile.cmake
  ports/libosmium/vcpkg.json
  ports/libxlsxwriter/CONTROL
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libosmium.json
  versions/l-/libxlsxwriter.json
Labels: info:internal, category:port-update, info:reviewed

#18644 [ktx] update to 4.0.0
  ports/ktx/0001-Use-vcpkg-zstd.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: info:internal, category:port-update, info:reviewed

#19179 [kf5crash] fix cmake.in to allow consumption by static builds
  ports/kf5crash/portfile.cmake
  ports/kf5crash/support_static_builds.patch
  ports/kf5crash/vcpkg.json
  versions/baseline.json
  versions/k-/kf5crash.json
Labels: category:port-bug, info:reviewed

#19441 [icu] fixes for macOS dynamic lib install
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:reviewed

#19740 [pystring] rename `libpystring` to `pystring`
  ports/pystring/CMakeLists.txt
  ports/pystring/portfile.cmake
  ports/pystring/vcpkg.json
  versions/baseline.json
  versions/p-/pystring.json
Labels: category:port-bug, info:reviewed

#19738 [folly] also support arm64
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-feature, info:reviewed

#19793 [catch2] Guard build type for Catch2
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-bug, info:reviewed

#19742 [simdutf] add new port
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/simdutf.json
Labels: category:new-port, info:reviewed

#19827 [quill] Update to 1.6.3
  ports/quill/CONTROL
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#19853 [hazelcast-cpp-client] update to v4.2.0
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#19956 [docs] Add short names note.
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:internal, info:reviewed

#19941 [approval-tests-cpp] Update to 10.11.0
  ports/approval-tests-cpp/portfile.cmake
  ports/approval-tests-cpp/vcpkg.json
  versions/a-/approval-tests-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19829 [docs] Fix a typo in CMAKE_DISABLE_FIND_PACKAGE command
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:reviewed

#19535 [co] Add new port
  ports/co/portfile.cmake
  ports/co/vcpkg.json
  versions/baseline.json
  versions/c-/co.json
Labels: category:new-port, info:reviewed

#19757 [kf5globalaccel] new port
  ports/kf5globalaccel/portfile.cmake
  ports/kf5globalaccel/vcpkg.json
  versions/baseline.json
  versions/k-/kf5globalaccel.json
Labels: category:new-port, info:reviewed

#19959 [libmupdf/liblinear/libkeyfinder] Update to latest version
  ports/libkeyfinder/portfile.cmake
  ports/libkeyfinder/vcpkg.json
  ports/liblinear/CONTROL
  ports/liblinear/portfile.cmake
  ports/liblinear/vcpkg.json
  ports/libmupdf/CONTROL
  ports/libmupdf/portfile.cmake
  ports/libmupdf/vcpkg.json
  versions/baseline.json
  versions/l-/libkeyfinder.json
  versions/l-/liblinear.json
  versions/l-/libmupdf.json
Labels: info:internal, category:port-update, info:reviewed

#19839 [sentry-native] Update port to use new vcpkg cmake scripts
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#19746 [libigl] fix imgui feature
  ports/libigl/CONTROL
  versions/baseline.json
  versions/l-/libigl.json
Labels: category:port-bug, info:reviewed

#19810 [kf5solid] Fix CMake config; some extra fixes
  ports/kf5solid/fix_config_cmake.patch
  ports/kf5solid/portfile.cmake
  ports/kf5solid/vcpkg.json
  versions/baseline.json
  versions/k-/kf5solid.json
Labels: category:port-bug, info:reviewed

#19770 [OpenCV] fix protobuf references
  ports/opencv3/0001-disable-downloading.patch
  ports/opencv3/0002-install-options.patch
  ports/opencv3/0003-force-package-requirements.patch
  ports/opencv3/0004-fix-eigen.patch
  ports/opencv3/0005-fix-vtk9.patch
  ports/opencv3/0006-fix-uwp.patch
  ports/opencv3/0007-fix-hdf5.patch
  ports/opencv3/0008-devendor-quirc.patch
  ports/opencv3/0009-fix-protobuf.patch
  ports/opencv3/0010-fix-uwp-tiff-imgcodecs.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0001-disable-downloading.patch
  ports/opencv4/0002-install-options.patch
  ports/opencv4/0003-force-package-requirements.patch
  ports/opencv4/0004-fix-policy-CMP0057.patch
  ports/opencv4/0005-fix-eigen.patch
  ports/opencv4/0006-fix-uwp.patch
  ports/opencv4/0007-fix-hdf5.patch
  ports/opencv4/0008-devendor-quirc.patch
  ports/opencv4/0009-fix-protobuf.patch
  ports/opencv4/0010-fix-uwp-tiff-imgcodecs.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#19854 [libssh] add static build support for MinGW subsystem
  ports/libssh/0002-mingw_for_Android.patch
  ports/libssh/0003-create_symlink_unix_only.patch
  ports/libssh/CONTROL
  ports/libssh/portfile.cmake
  versions/baseline.json
  versions/l-/libssh.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#19858 [sentencepiece] Update port to v0.1.95
  ports/sentencepiece/portfile.cmake
  ports/sentencepiece/rename-version.patch
  ports/sentencepiece/vcpkg.json
  versions/baseline.json
  versions/s-/sentencepiece.json
Labels: category:port-update, info:reviewed

#18581 [fmt] update to 8.0.1
  ports/fmt/fix-warning4189.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: info:internal, category:port-update, info:reviewed

#19118 [kealib] Update, revise features
  ports/kealib/CONTROL
  ports/kealib/hdf5_include.patch
  ports/kealib/portfile.cmake
  ports/kealib/vcpkg.json
  versions/baseline.json
  versions/k-/kealib.json
Labels: category:port-update, info:reviewed

#19360 [cpp-ipc] Add new port
  ports/cpp-ipc/portfile.cmake
  ports/cpp-ipc/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-ipc.json
Labels: category:new-port, info:reviewed

#19670 [buck-yeh-bux] add port
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#19703 [yaml-cpp] fix cmake and pkgconfig files
  ports/yaml-cpp/portfile.cmake
  ports/yaml-cpp/vcpkg.json
  versions/baseline.json
  versions/y-/yaml-cpp.json
Labels: category:port-bug, info:reviewed

#19726 [icu] Fix tool path
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:internal, info:reviewed

#18323 proj4 uwp improvments
  ports/proj4/disable-projdb-with-arm-uwp.patch
  ports/proj4/fix-filemanager-uwp.patch
  ports/proj4/portfile.cmake
  ports/proj4/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/proj4.json
Labels: category:port-feature, info:reviewed

#19817 [harfbuzz] update to 2.9.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: info:internal, category:port-update, info:reviewed

#19820 [uriparser] Update to v0.9.5
  ports/uriparser/CONTROL
  ports/uriparser/portfile.cmake
  ports/uriparser/vcpkg.json
  versions/baseline.json
  versions/u-/uriparser.json
Labels: category:port-update, info:reviewed

#19917 [libmediainfo/glslang] Update to the latest version
  ports/glslang/copyright
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  ports/libmediainfo/CONTROL
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  ports/libmediainfo/vcpkg_support_in_cmakelists.patch
  versions/baseline.json
  versions/g-/glslang.json
  versions/l-/libmediainfo.json
Labels: info:internal, category:port-update, info:reviewed

#19957 [google-cloud-cpp] update to latest release (v1.31.1)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#19958 [ms-gltf] Update to latest release r1.9.5.4
  ports/ms-gltf/portfile.cmake
  ports/ms-gltf/vcpkg.json
  versions/baseline.json
  versions/m-/ms-gltf.json
Labels: category:port-bug, info:internal, info:reviewed

#19961 [openimageio] update version to 2.3.7.2
  ports/openimageio/disable-test.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: info:internal, category:port-update, info:reviewed

#19972 [libuv/librsync/libqrencode] Update to latest release version
  ports/libqrencode/CONTROL
  ports/libqrencode/portfile.cmake
  ports/libqrencode/vcpkg.json
  ports/librsync/CONTROL
  ports/librsync/portfile.cmake
  ports/librsync/vcpkg.json
  ports/libuv/CMakeLists.txt
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libqrencode.json
  versions/l-/librsync.json
  versions/l-/libuv.json
Labels: info:internal, category:port-update, info:reviewed

#19977 [arcus/any-lite/aixlog] Update to the latest version
  ports/aixlog/CONTROL
  ports/aixlog/portfile.cmake
  ports/aixlog/vcpkg.json
  ports/any-lite/CONTROL
  ports/any-lite/portfile.cmake
  ports/any-lite/vcpkg.json
  ports/arcus/CONTROL
  ports/arcus/portfile.cmake
  ports/arcus/vcpkg.json
  versions/a-/aixlog.json
  versions/a-/any-lite.json
  versions/a-/arcus.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#19979 [libharu] Fix renaming library when one of the build type is selected
  ports/libharu/CONTROL
  ports/libharu/portfile.cmake
  ports/libharu/vcpkg.json
  versions/baseline.json
  versions/l-/libharu.json
Labels: category:port-bug, info:reviewed

#20003 [Libsamplerate] Update to version 0.2.2
  ports/libsamplerate/portfile.cmake
  ports/libsamplerate/vcpkg.json
  versions/baseline.json
  versions/l-/libsamplerate.json
Labels: category:port-update, info:reviewed

#19965 [libhsplasma/libpcap/lv2/libcrafter] Update to the latest version
  ports/libcrafter/CONTROL
  ports/libcrafter/portfile.cmake
  ports/libcrafter/vcpkg.json
  ports/libhsplasma/CONTROL
  ports/libhsplasma/portfile.cmake
  ports/libhsplasma/vcpkg.json
  ports/libpcap/0001-fix-package-name.patch
  ports/libpcap/CONTROL
  ports/libpcap/add-disable-packet-option.patch
  ports/libpcap/install-pc-on-msvc.patch
  ports/libpcap/portfile.cmake
  ports/libpcap/vcpkg.json
  ports/lv2/CMakeLists.txt
  ports/lv2/portfile.cmake
  ports/lv2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libcrafter.json
  versions/l-/libhsplasma.json
  versions/l-/libpcap.json
  versions/l-/lv2.json
Labels: info:internal, category:port-update, info:reviewed

#20002 [vamp-sdk] fix library filenames to match upstream build systems
  ports/vamp-sdk/CMakeLists.txt
  ports/vamp-sdk/vcpkg.json
  versions/baseline.json
  versions/v-/vamp-sdk.json
Labels: category:port-bug, info:reviewed

#20004 [so5extra] Update to 1.4.1.1
  ports/so5extra/CONTROL
  ports/so5extra/portfile.cmake
  ports/so5extra/vcpkg.json
  versions/baseline.json
  versions/s-/so5extra.json
Labels: category:port-update, info:reviewed

#20024 [libfort/libgit2/cli11] update to the latest version
  ports/cli11/CONTROL
  ports/cli11/portfile.cmake
  ports/cli11/vcpkg.json
  ports/libfort/portfile.cmake
  ports/libfort/vcpkg.json
  ports/libgit2/CONTROL
  ports/libgit2/portfile.cmake
  ports/libgit2/vcpkg.json
  versions/baseline.json
  versions/c-/cli11.json
  versions/l-/libfort.json
  versions/l-/libgit2.json
Labels: info:internal, category:port-update, info:reviewed

#20008 [h3/jaeger-client-cpp] Update to the latest version
  ports/h3/CONTROL
  ports/h3/portfile.cmake
  ports/h3/vcpkg.json
  ports/jaeger-client-cpp/CONTROL
  ports/jaeger-client-cpp/fix-CMakeLists.patch
  ports/jaeger-client-cpp/portfile.cmake
  ports/jaeger-client-cpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/h-/h3.json
  versions/j-/jaeger-client-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#20051 [fftw3/libwebsockets/uwebsockets] Update to latest release
  ports/fftw3/CONTROL
  ports/fftw3/portfile.cmake
  ports/fftw3/vcpkg.json
  ports/libwebsockets/export-include-path.patch
  ports/libwebsockets/portfile.cmake
  ports/libwebsockets/vcpkg.json
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/f-/fftw3.json
  versions/l-/libwebsockets.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update

#20039 [libbson, mongo-c-driver] Convert to vcpkg.json.
  ports/libbson/CONTROL
  ports/libbson/disable-source-write.patch
  ports/libbson/fix-include-directory.patch
  ports/libbson/fix-static-cmake-2.patch
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/CONTROL
  ports/mongo-c-driver/disable-source-write.patch
  ports/mongo-c-driver/fix-include-directory.patch
  ports/mongo-c-driver/fix-static-cmake.patch
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/usage
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: category:port-feature, category:port-bug, info:internal

#19996 [aubio] Add support for find_package
  ports/aubio/CMakeLists.txt
  ports/aubio/portfile.cmake
  ports/aubio/vcpkg.json
  versions/a-/aubio.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#19319 [libjpeg-turbo] Update wrapper to correctly find debug/release variant
  ports/azure-kinect-sensor-sdk/add-MATROSKA_VERSION-define.patch
  ports/azure-kinect-sensor-sdk/fix-builds.patch
  ports/azure-kinect-sensor-sdk/fix-uvc.patch
  ports/azure-kinect-sensor-sdk/portfile.cmake
  ports/azure-kinect-sensor-sdk/vcpkg.json
  ports/libjpeg-turbo/CONTROL
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg-cmake-wrapper.cmake
  ports/libjpeg-turbo/vcpkg.json
  versions/a-/azure-kinect-sensor-sdk.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-bug, info:reviewed

#19943 [Azure SDK Core] Update to 1.2.1 Sep Release
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, requires:all-feature-testing

#19891 [angle] Enable ANGLE's desktop GL backend
  ports/angle/CMakeLists.txt
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#18927 [meson] fix cross compiling from linux to windows
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/get_cmake_vars/CMakeLists.txt
Labels: info:reviewed, category:tool-update

#19610 [freeimage] Enable version information in FreeImage.dll
  ports/freeimage/CMakeLists.txt
  ports/freeimage/vcpkg.json
  versions/baseline.json
  versions/f-/freeimage.json
Labels: category:port-bug, info:internal, info:reviewed

#19916 [openimageio] Fix find and use dependencies
  ports/openimageio/fix-dependencies.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg-cmake-wrapper.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-bug, info:internal, info:reviewed

#19847 [sqlite3] update to 3.36.0
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: info:internal, category:port-update, info:reviewed

#19823 [uthash] Add new port
  ports/uthash/portfile.cmake
  ports/uthash/vcpkg.json
  versions/baseline.json
  versions/u-/uthash.json
Labels: category:new-port, info:reviewed

#19478 [nng] Update to v1.5.1
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: category:port-update, info:reviewed

#20016 [kf5i18n] static builds fixes
  ports/kf5i18n/fix_static_builds.patch
  ports/kf5i18n/portfile.cmake
  ports/kf5i18n/vcpkg.json
  versions/baseline.json
  versions/k-/kf5i18n.json
Labels: category:port-bug, info:reviewed

#20028 [usrsctp] update to 0.9.5.0
  ports/usrsctp/portfile.cmake
  ports/usrsctp/vcpkg.json
  versions/baseline.json
  versions/u-/usrsctp.json
Labels: category:port-update, info:reviewed

#20046 [sail] Update to 0.9.0-pre16
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#20058 [approval-tests-cpp] Update to 10.12.0
  ports/approval-tests-cpp/portfile.cmake
  ports/approval-tests-cpp/vcpkg.json
  versions/a-/approval-tests-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#20071 [functions-framework-cpp] update to latest version (v1.0.0)
  ports/functions-framework-cpp/portfile.cmake
  ports/functions-framework-cpp/vcpkg.json
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:port-update, info:reviewed

#20078 [civetweb] Update to version 1.15
  ports/civetweb/add-option-to-disable-debug-tools.patch
  ports/civetweb/portfile.cmake
  ports/civetweb/vcpkg.json
  versions/baseline.json
  versions/c-/civetweb.json
Labels: category:port-update, info:reviewed

#19285 [fontconfig] update to 2.13.94
  ports/fontconfig/build.patch
  ports/fontconfig/build2.patch
  ports/fontconfig/disable-install-data.patch
  ports/fontconfig/fix_def_dll_name.patch
  ports/fontconfig/macos_arm_fccache.patch
  ports/fontconfig/portfile.cmake
  ports/fontconfig/remove_tests.patch
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-update, info:reviewed

#19659 [boinc] Add new port
  ports/boinc/CMakeLists.txt
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#20006 [vcpkg baseline][pangolin] Add features, fix dependency pybind11
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg-cmake-wrapper.cmake
  ports/libusb/vcpkg.json
  ports/libuvc/build_fix.patch
  ports/libuvc/portfile.cmake
  ports/libuvc/vcpkg.json
  ports/pangolin/add-definition.patch
  ports/pangolin/fix-dependencies.patch
  ports/pangolin/fix-dependency-python.patch
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
  versions/l-/libuvc.json
  versions/p-/pangolin.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#19809 Azure-IoT-Sdk for C release for 08-30-2021
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/vcpkg.json
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uamqp-c/vcpkg.json
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-uhttp-c/vcpkg.json
  ports/azure-umqtt-c/portfile.cmake
  ports/azure-umqtt-c/vcpkg.json
  versions/a-/azure-c-shared-utility.json
  versions/a-/azure-iot-sdk-c.json
  versions/a-/azure-uamqp-c.json
  versions/a-/azure-uhttp-c.json
  versions/a-/azure-umqtt-c.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#19997 [David-Haim/concurrencpp] Add new port
  ports/concurrencpp/fix-include-path.patch
  ports/concurrencpp/portfile.cmake
  ports/concurrencpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/concurrencpp.json
Labels: category:new-port, info:reviewed

#20105 [vcpkg] Update tool to 2021-09-10.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#20095 [libpqxx] Fix build issue with vs2017
  ports/libpqxx/fix_build_with_vs2017.patch
  ports/libpqxx/portfile.cmake
  ports/libpqxx/vcpkg.json
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: category:port-bug, info:internal

#20064 Update pwsh to 7.1.14, separate image minting from vmss minting, and update VMs.
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/create-vmss-helpers.psm1
  scripts/azure-pipelines/linux/create-image.ps1
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/create-vmss.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/vcpkgTools.xml
Labels: info:internal, category:infrastructure

#20108 [lz4] Install pc file, cleanup
  ports/lz4/CMakeLists.txt
  ports/lz4/portfile.cmake
  ports/lz4/vcpkg.json
  versions/baseline.json
  versions/l-/lz4.json
Labels: category:port-feature

#20083 re-enable qt5-activeqt
  scripts/ci.baseline.txt
Labels: category:port-feature

#16845 [libarchive] update to 3.5.2
  ports/libarchive/portfile.cmake
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-update, info:reviewed

#19243 [gdal] Make building executables optional
  ports/gdal/0003-Fix-static-build.patch
  ports/gdal/0007-Control-tools.patch
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-feature, info:reviewed

#20122 [Taskflow] update to 3.2.0
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: category:port-update, info:reviewed

#20117 [Libuv] Fix iOS Build
  ports/libuv/CMakeLists.txt
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-feature, info:reviewed

#19794 [libhv] update to v1.2.1
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:port-update, info:reviewed

#19773 [libgo] fix baseline issue
  ports/libgo/cmake.patch
  ports/libgo/libgo-config.cmake
  ports/libgo/portfile.cmake
  ports/libgo/usage
  ports/libgo/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libgo.json
Labels: category:port-feature, info:reviewed

#19980 [uchardet] Update to 2021-09-03
  ports/uchardet/fix-uwp-build.patch
  ports/uchardet/portfile.cmake
  ports/uchardet/vcpkg.json
  versions/baseline.json
  versions/u-/uchardet.json
Labels: category:port-update, info:reviewed

#19918 [Qt] update to 6.1.3
  ports/qt/vcpkg.json
  ports/qt5compat/vcpkg.json
  ports/qtactiveqt/vcpkg.json
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/cmake/qt_port_details.cmake
  ports/qtbase/vcpkg.json
  ports/qtcharts/vcpkg.json
  ports/qtcoap/vcpkg.json
  ports/qtdatavis3d/vcpkg.json
  ports/qtdeclarative/vcpkg.json
  ports/qtdoc/vcpkg.json
  ports/qtimageformats/vcpkg.json
  ports/qtlottie/vcpkg.json
  ports/qtmqtt/vcpkg.json
  ports/qtnetworkauth/vcpkg.json
  ports/qtopcua/vcpkg.json
  ports/qtquick3d/vcpkg.json
  ports/qtquickcontrols2/vcpkg.json
  ports/qtquicktimeline/vcpkg.json
  ports/qtscxml/vcpkg.json
  ports/qtshadertools/vcpkg.json
  ports/qtsvg/vcpkg.json
  ports/qttools/portfile.cmake
  ports/qttools/vcpkg.json
  ports/qttranslations/vcpkg.json
  ports/qtvirtualkeyboard/vcpkg.json
  ports/qtwayland/vcpkg.json
  versions/baseline.json
  versions/q-/qt.json
  versions/q-/qt5compat.json
  versions/q-/qtactiveqt.json
  versions/q-/qtbase.json
  versions/q-/qtcharts.json
  versions/q-/qtcoap.json
  versions/q-/qtdatavis3d.json
  versions/q-/qtdeclarative.json
  versions/q-/qtdoc.json
  versions/q-/qtimageformats.json
  versions/q-/qtlottie.json
  versions/q-/qtmqtt.json
  versions/q-/qtnetworkauth.json
  versions/q-/qtopcua.json
  versions/q-/qtquick3d.json
  versions/q-/qtquickcontrols2.json
  versions/q-/qtquicktimeline.json
  versions/q-/qtscxml.json
  versions/q-/qtshadertools.json
  versions/q-/qtsvg.json
  versions/q-/qttools.json
  versions/q-/qttranslations.json
  versions/q-/qtvirtualkeyboard.json
  versions/q-/qtwayland.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#20087 [Docs] Document the unique port attribution rule.
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:internal, info:reviewed

#20116 [cpp-httplib] Update library to 0.9.4
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#20127 [quill] Fix compile error in internal version of Visual Studio
  ports/quill/fix-c4189-warning.patch
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-bug, info:internal

#20074 [VTK] fix cmake patches not recycling targets already defined
  ports/vtk/FindHDF5.cmake
  ports/vtk/FindLZ4.patch
  ports/vtk/pegtl.patch
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-bug, info:reviewed

#18895 [New port] Rexo
  ports/rexo/portfile.cmake
  ports/rexo/vcpkg.json
  versions/baseline.json
  versions/r-/rexo.json
Labels: category:new-port, info:reviewed

#19180 [kf5service] new port
  ports/kf5service/portfile.cmake
  ports/kf5service/vcpkg.json
  versions/baseline.json
  versions/k-/kf5service.json
Labels: category:new-port, info:reviewed

#19195 [kf5package] new port
  ports/kf5package/portfile.cmake
  ports/kf5package/vcpkg.json
  versions/baseline.json
  versions/k-/kf5package.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#19766 [kf5textwidgets] new port
  ports/kf5textwidgets/portfile.cmake
  ports/kf5textwidgets/vcpkg.json
  versions/baseline.json
  versions/k-/kf5textwidgets.json
Labels: category:new-port, info:reviewed

#19851 [Python3] update to 3.9.7
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
Labels: info:internal, category:port-update, info:reviewed, category:tool-update

#19335 [sbp] new port
  ports/sbp/portfile.cmake
  ports/sbp/vcpkg.json
  ports/sbp/win32-install-fix.patch
  versions/baseline.json
  versions/s-/sbp.json
Labels: category:new-port, info:reviewed

#20111 [fbgemm] fix find_package
  ports/fbgemm/portfile.cmake
  ports/fbgemm/vcpkg.json
  versions/baseline.json
  versions/f-/fbgemm.json
Labels: category:port-bug, info:reviewed

#19698 [vcpkg-ci] Request conversion of CONTROL files
  .github/workflows/untrustedPR.yml
Labels: requires:author-response, category:infrastructure

#19088 [vcpkg_cmake_configure/vcpkg_configure_cmake] Support VS2022 17.0
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-feature, info:internal, info:reviewed

#19648 [armadillo]update to 10.6.2
  ports/armadillo/portfile.cmake
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#19654 [vcpkg|msys] Update some components
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: info:reviewed, category:tool-update

#19981 [netcdf-c] Fix build under Linux with dynamic linkage
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/vcpkg.json
  versions/baseline.json
  versions/n-/netcdf-c.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#20066 [audiofile/cgltf/libsbml] Update to the latest version
  ports/audiofile/fix-cmakeLists.patch
  ports/audiofile/portfile.cmake
  ports/audiofile/vcpkg.json
  ports/cgltf/portfile.cmake
  ports/cgltf/vcpkg.json
  ports/libsbml/fix-linkage-type.patch
  ports/libsbml/portfile.cmake
  ports/libsbml/vcpkg.json
  versions/a-/audiofile.json
  versions/baseline.json
  versions/c-/cgltf.json
  versions/l-/libsbml.json
Labels: info:internal, category:port-update, info:reviewed

#20077 [prometheus-cpp] Update to version 0.13.0
  ports/prometheus-cpp/portfile.cmake
  ports/prometheus-cpp/vcpkg.json
  versions/baseline.json
  versions/p-/prometheus-cpp.json
Labels: category:port-update, info:reviewed

#20096 [vcpkg_install_meson] Don't touch mingw static lib .a suffix
  scripts/cmake/vcpkg_install_meson.cmake
Labels: info:reviewed, category:tool-update

#20102 [lv2] Fix installation of headers to legacy paths
  ports/lv2/CMakeLists.txt
  ports/lv2/vcpkg.json
  versions/baseline.json
  versions/l-/lv2.json
Labels: category:port-bug, info:reviewed

#20132 [botan/bitsery/cgl] Update to latest release revision
  ports/bitsery/portfile.cmake
  ports/bitsery/vcpkg.json
  ports/botan/fix-generate-build-path.patch
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  ports/cgl/portfile.cmake
  ports/cgl/vcpkg.json
  versions/b-/bitsery.json
  versions/b-/botan.json
  versions/baseline.json
  versions/c-/cgl.json
Labels: info:internal, category:port-update, info:reviewed

#20089 [sdl2-mixer] Fix link error building with features
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-bug, info:internal, info:reviewed

#16382 [stduuid] Adding new port stduuid
  ports/stduuid/portfile.cmake
  ports/stduuid/vcpkg.json
  versions/baseline.json
  versions/s-/stduuid.json
Labels: category:new-port, requires:author-response

#20068 [cimg/libgd/libfabric] Update to latest release version
  ports/cimg/portfile.cmake
  ports/cimg/vcpkg.json
  ports/libfabric/add_additional_includes.patch
  ports/libfabric/portfile.cmake
  ports/libfabric/vcpkg.json
  ports/libgd/0001-fix-cmake.patch
  ports/libgd/fix_msvc_build.patch
  ports/libgd/intrin.patch
  ports/libgd/no-write-source-dir.patch
  ports/libgd/portfile.cmake
  ports/libgd/vcpkg.json
  versions/baseline.json
  versions/c-/cimg.json
  versions/l-/libfabric.json
  versions/l-/libgd.json
Labels: info:internal, category:port-update, info:reviewed

#20139 [docs] Improve docs for vcpkg_build_nmake
  docs/maintainers/vcpkg_build_nmake.md
  scripts/cmake/vcpkg_build_nmake.cmake
Labels: category:documentation, info:reviewed

#16567 [kf5iconthemes] new port
  ports/kf5iconthemes/fix_config_cmake.patch
  ports/kf5iconthemes/portfile.cmake
  ports/kf5iconthemes/vcpkg.json
  versions/baseline.json
  versions/k-/kf5iconthemes.json
Labels: category:new-port, info:reviewed

#19496 [rsm-bsa] new port
  ports/rsm-bsa/portfile.cmake
  ports/rsm-bsa/vcpkg.json
  scripts/ci.baseline.txt
  versions/b-/bsa.json
  versions/baseline.json
  versions/r-/rsm-bsa.json
Labels: category:new-port, info:reviewed

#20144 [vcpkg] ci.baseline.txt updates for 2021-09-13
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#20140 Add "cascades" enforcement
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#20181 Back out "cascades" enforcement
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#19978 [kfr] Update to 4.2.1
  ports/kfr/portfile.cmake
  ports/kfr/vcpkg.json
  versions/baseline.json
  versions/k-/kfr.json
Labels: category:port-update, info:reviewed

#18938 [cmark] update to 0.30.1
  ports/cmark/add-feature-tools.patch
  ports/cmark/portfile.cmake
  ports/cmark/rename-shared-lib.patch
  ports/cmark/vcpkg.json
  versions/baseline.json
  versions/c-/cmark.json
Labels: info:internal, category:port-update, info:reviewed

#20164 [tomlplusplus] Update to 2.5.0
  ports/tomlplusplus/portfile.cmake
  ports/tomlplusplus/vcpkg.json
  versions/baseline.json
  versions/t-/tomlplusplus.json
Labels: category:port-update, info:reviewed

#20175 [curl] Update to 7.79.0
  ports/curl/0010_fix_othertests_cmake.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#18526 [soci] update to 4.0.2
  ports/soci/export-include-dirs.patch
  ports/soci/fix-mysql-feature-error.patch
  ports/soci/portfile.cmake
  ports/soci/vcpkg.json
  versions/baseline.json
  versions/s-/soci.json
Labels: info:internal, category:port-update, info:reviewed

#19668 [qt] Add patches to fix missing includes
  ports/qt5-base/patches/limits_include.patch
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/qt5-declarative/limits_include.patch
  ports/qt5-declarative/portfile.cmake
  ports/qt5-declarative/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
  versions/q-/qt5-declarative.json
Labels: category:port-bug, info:reviewed

#20189 [aws-crt-cpp/aws-sdk-cpp] Disable parallel configure
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#20191 [sobjectizer] Update to 5.7.2.6
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed
