Repository microsoft/vcpkg, pull requests merged in 2021-04, with the labels that each got.

#16838 [mapbox-geometry,mapbox-polylabel,geojson-vt-cpp,geojson-cpp] new ports
  ports/mapbox-geojson-cpp/portfile.cmake
  ports/mapbox-geojson-cpp/vcpkg.json
  ports/mapbox-geojson-vt-cpp/portfile.cmake
  ports/mapbox-geojson-vt-cpp/vcpkg.json
  ports/mapbox-geometry/portfile.cmake
  ports/mapbox-geometry/vcpkg.json
  ports/mapbox-polylabel/portfile.cmake
  ports/mapbox-polylabel/vcpkg.json
  versions/baseline.json
  versions/m-/mapbox-geojson-cpp.json
  versions/m-/mapbox-geojson-vt-cpp.json
  versions/m-/mapbox-geometry.json
  versions/m-/mapbox-polylabel.json
Labels: category:new-port, info:reviewed

#17014 [vcpkg baseline][pangolin] Add options to dependencies to avoid finding them automatically
  ports/pangolin/CONTROL
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: category:port-bug, info:internal, info:reviewed

#16373 [podofo] update to 0.9.7
  ports/podofo/0001-unique_ptr.patch
  ports/podofo/0003-uwp_fix.patch
  ports/podofo/CONTROL
  ports/podofo/fix-x64-osx.patch
  ports/podofo/portfile.cmake
  ports/podofo/vcpkg.json
  versions/baseline.json
  versions/p-/podofo.json
Labels: category:port-update, info:internal, info:reviewed

#16383 [antlr4] update to 4.9.1
  ports/antlr4/CONTROL
  ports/antlr4/fix_utfcpp_dependency.patch
  ports/antlr4/portfile.cmake
  versions/a-/antlr4.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16997 [protobuf] Fix deprecation warning in vcpkg_check_feature()
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:internal, info:reviewed

#16302 [bext-di] Rename `boost-di` to `bext-di`
  ports/bext-di/portfile.cmake
  ports/bext-di/vcpkg.json
  versions/b-/bext-di.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#16340 [fp16] create a new port
  ports/fp16/find-psimd.patch
  ports/fp16/portfile.cmake
  ports/fp16/vcpkg.json
  versions/baseline.json
  versions/f-/fp16.json
Labels: category:new-port, info:reviewed

#16342 [pthreadpool] create a new port
  ports/pthreadpool/fix-cmakelists.patch
  ports/pthreadpool/portfile.cmake
  ports/pthreadpool/vcpkg.json
  versions/baseline.json
  versions/p-/pthreadpool.json
Labels: category:new-port, info:reviewed

#16345 [mfl] Add new port
  ports/mfl/portfile.cmake
  ports/mfl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mfl.json
Labels: category:new-port, info:reviewed

#16347 vcpkg_copy_tool_dependencies: show description how to install powershell
  scripts/cmake/vcpkg_copy_tool_dependencies.cmake
Labels: category:tool-update, info:reviewed

#15362 [ceres] Fix static library path on Linux
  ports/ceres/0004_fix_lib_path_linux.patch
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  versions/baseline.json
  versions/c-/ceres.json
Labels: category:port-bug, info:internal, info:reviewed

#15913 [sciplot] Add new port
  ports/sciplot/portfile.cmake
  ports/sciplot/vcpkg.json
  versions/baseline.json
  versions/s-/sciplot.json
Labels: category:new-port, info:reviewed

#17027 [google-cloud-cpp] update to the latest release (v1.26.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, requires:author-response

#17015 [vtk] enables openvr module when openvr is listed
  ports/vtk/CONTROL
  ports/vtk/portfile.cmake
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-bug, info:reviewed

#17018 [vcpkg] Pass no parallel build command to execute_process when parallel build is disabled
  scripts/cmake/vcpkg_build_make.cmake
Labels: category:tool-update, info:reviewed

#17004 [libmariadb] update to the 3.1.12
  ports/libmariadb/CONTROL
  ports/libmariadb/fix-iconv.patch
  ports/libmariadb/portfile.cmake
  versions/baseline.json
  versions/l-/libmariadb.json
Labels: category:port-update, info:internal, info:reviewed

#16900 [vcpkg/scripts] add variable VCPKG_CROSSCOMPILING
  docs/maintainers/vcpkg_common_definitions.md
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:tool-update, info:reviewed

#16957 [libarchive] Remove lzo from the default feature list
  ports/libarchive/CONTROL
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-feature, info:internal, info:reviewed

#16984 [gsl-lite] Update to 0.38.0
  ports/gsl-lite/CONTROL
  ports/gsl-lite/portfile.cmake
  ports/gsl-lite/vcpkg.json
  versions/baseline.json
  versions/g-/gsl-lite.json
Labels: category:port-update, info:reviewed

#16910 [mpg123] Upgrade to 1.26.3-1
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:reviewed

#16891 [libsoundio] Add support for linux backends
  ports/libsoundio/CONTROL
  ports/libsoundio/portfile.cmake
  ports/libsoundio/vcpkg.json
  versions/baseline.json
  versions/l-/libsoundio.json
Labels: category:port-feature, info:reviewed

#16916 [dav1d] Update to 0.8.2
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-update, info:reviewed

#16952 [vcpkg_acquire_msys] Update package versions
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/test_ports/vcpkg-acquire-msys-test/CONTROL
  scripts/test_ports/vcpkg-acquire-msys-test/portfile.cmake
Labels: category:tool-update, info:internal

#16959 [vcpkg/make/scripts]only append the lib directories if they exist.
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update

#16285 [libffi] Fix processors
  ports/libffi/CMakeLists.txt
  ports/libffi/CONTROL
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-bug, info:reviewed

#16802 [celero] Updated to Celero v2.8.0
  ports/celero/CONTROL
  ports/celero/portfile.cmake
  versions/baseline.json
  versions/c-/celero.json
Labels: category:port-update, info:reviewed

#17083 [vcpkg baseline][gdal] Fix configure error on OSX
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:internal, info:reviewed

#15787 [ffmpeg] Add support for dav1d,fontconfig,freetype,fribidi,ilbc,modplug,opengl,openjpeg,libssh,tensorflow,tesseract,webp,libxml2 dependencies.
  ports/fdk-aac/CONTROL
  ports/ffmpeg/0011-Fix-x265-detection.patch
  ports/ffmpeg/0015-Fix-xml2-detection.patch
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffnvcodec/CONTROL
  ports/fontconfig/CONTROL
  ports/fontconfig/portfile.cmake
  ports/fribidi/CONTROL
  ports/libmodplug/004-export-pkgconfig.patch
  ports/libmodplug/CONTROL
  ports/libmodplug/portfile.cmake
  ports/libssh/0001-export-pkgconfig-file.patch
  ports/libssh/CONTROL
  ports/libssh/portfile.cmake
  ports/libvpx/CONTROL
  ports/libwebp/CONTROL
  ports/libwebp/portfile.cmake
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  ports/opencl/CONTROL
  ports/openjpeg/portfile.cmake
  ports/openjpeg/vcpkg.json
  ports/pangolin/fix-cmake-version.patch
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  ports/tesseract/CONTROL
  ports/tesseract/portfile.cmake
  ports/wavpack/CONTROL
  ports/wavpack/fix-symbol-exports.patch
  ports/wavpack/portfile.cmake
  ports/x265/CONTROL
  scripts/test_ports/vcpkg-ci-ffmpeg/CONTROL
  scripts/test_ports/vcpkg-ci-ffmpeg/portfile.cmake
  versions/baseline.json
  versions/f-/fdk-aac.json
  versions/f-/ffmpeg.json
  versions/f-/ffnvcodec.json
  versions/f-/fontconfig.json
  versions/f-/fribidi.json
  versions/l-/libmodplug.json
  versions/l-/libssh.json
  versions/l-/libvpx.json
  versions/l-/libwebp.json
  versions/l-/libxml2.json
  versions/o-/opencl.json
  versions/o-/openjpeg.json
  versions/p-/pangolin.json
  versions/t-/tesseract.json
  versions/w-/wavpack.json
  versions/x-/x265.json
Labels: category:port-feature, info:reviewed

#17120 format vcpkg.json testing files
  scripts/testing/version-files/ports_incomplete/cat/vcpkg.json
  scripts/testing/version-files/ports_incomplete/dog/vcpkg.json
  scripts/testing/version-files/ports_incomplete/duck/vcpkg.json
  scripts/testing/version-files/ports_incomplete/ferret/vcpkg.json
  scripts/testing/version-files/ports_incomplete/fish/vcpkg.json
  scripts/testing/version-files/ports_incomplete/mouse/vcpkg.json
Labels: category:vcpkg-bug, info:reviewed

#17113 [libmariadb] Fix build error with cmake 3.20.0
  ports/libmariadb/CONTROL
  ports/libmariadb/fix-build-error-with-cmake3.20.patch
  ports/libmariadb/portfile.cmake
  ports/libmariadb/vcpkg.json
  versions/baseline.json
  versions/l-/libmariadb.json
Labels: category:port-bug, info:internal, info:reviewed

#17112 [fastcdr] Fix support Linux
  ports/fastcdr/CONTROL
  ports/fastcdr/portfile.cmake
  ports/fastcdr/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/fastcdr.json
Labels: category:port-bug, info:internal, info:reviewed

#17106 [sdl2] Fix pthread detection on macOS
  ports/sdl2/0004-sdl2-macos-thread-detection-fix.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#17085 [vcpkg/scripts/make] add compiler tools to PATH
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed

#17082 [nuklear] Upgrade from 2020-09-14 to 2021-03-18 version and switch repo
  ports/nuklear/CONTROL
  ports/nuklear/portfile.cmake
  versions/baseline.json
  versions/n-/nuklear.json
Labels: category:port-update, info:reviewed

#17076 Update libjuice to 0.7.1 to update libdatachannel
  ports/libjuice/CONTROL
  ports/libjuice/fix-for-vcpkg.patch
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libjuice.json
Labels: category:port-update, info:reviewed

#17070 [libmt32emu] update to 2.5.0
  ports/libmt32emu/portfile.cmake
  ports/libmt32emu/vcpkg.json
  versions/baseline.json
  versions/l-/libmt32emu.json
Labels: category:port-update, info:reviewed

#17068 fix VCPKG_CROSSCOMPILING
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:vcpkg-bug, info:reviewed

#17067 [sqlite3] Update to 3.35.4
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#17066 add link to common vcpkg definitions
  docs/README.md
Labels: category:documentation, info:reviewed

#17026 Openmpi keep -isystem flags in configure scripts
  ports/openmpi/CONTROL
  ports/openmpi/keep_isystem.patch
  ports/openmpi/portfile.cmake
  versions/baseline.json
  versions/o-/openmpi.json
Labels: category:port-bug, info:reviewed

#17024 Libspatialite remove cflags from vcpkg_configure_make options
  ports/libspatialite/CONTROL
  ports/libspatialite/portfile.cmake
  versions/baseline.json
  versions/l-/libspatialite.json
Labels: category:port-bug, info:reviewed

#17023 Libgpg-error add cflags to tools build commands
  ports/libgpg-error/CONTROL
  ports/libgpg-error/add_cflags_to_tools.patch
  ports/libgpg-error/portfile.cmake
  versions/baseline.json
  versions/l-/libgpg-error.json
Labels: category:port-bug, info:reviewed

#17025 Spatialite-tools remove cflags from vcpkg_configure_make options
  ports/spatialite-tools/CONTROL
  ports/spatialite-tools/portfile.cmake
  versions/baseline.json
  versions/s-/spatialite-tools.json
Labels: category:port-bug, info:reviewed

#17021 Libgcrypt add cflags to tool build command
  ports/libgcrypt/CONTROL
  ports/libgcrypt/fix-flags.patch
  ports/libgcrypt/portfile.cmake
  versions/baseline.json
  versions/l-/libgcrypt.json
Labels: category:port-bug, info:reviewed

#17010 [gettext] Add feature tools
  ports/gettext/CONTROL
  ports/gettext/portfile.cmake
  ports/gettext/rel_path.patch
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext.json
Labels: category:port-feature, info:reviewed

#17003 [libwebsockets] Fix usage, export include path
  ports/libwebsockets/CONTROL
  ports/libwebsockets/export-include-path.patch
  ports/libwebsockets/fix-dependency-libuv.patch
  ports/libwebsockets/portfile.cmake
  ports/libwebsockets/vcpkg.json
  versions/baseline.json
  versions/l-/libwebsockets.json
Labels: category:port-bug, info:internal, info:reviewed

#16975 [libodb-mysql] Fix usage
  ports/libodb-mysql/CONTROL
  ports/libodb-mysql/portfile.cmake
  ports/libodb-mysql/usage
  ports/libodb-mysql/vcpkg.json
  ports/libodb/CONTROL
  ports/libodb/odbConfig.cmake
  ports/libodb/vcpkg.json
  versions/baseline.json
  versions/l-/libodb-mysql.json
  versions/l-/libodb.json
Labels: category:port-bug, info:internal, info:reviewed

#16927 [vcpkg] Convert env vars slash if host is Win32
  scripts/get_cmake_vars/CMakeLists.txt
Labels: category:tool-update, info:reviewed

#16822 [bext-ut] create a new port
  ports/bext-ut/portfile.cmake
  ports/bext-ut/vcpkg.json
  versions/b-/bext-ut.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#16766 [fmt] Fix build error when building arm64-uwp
  ports/fmt/fix-write-batch.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:community-triplet, category:port-bug, info:internal, info:reviewed

#16742 [glad] Add features to support different configurations.
  ports/glad/CONTROL
  ports/glad/find_python.patch
  ports/glad/portfile.cmake
  ports/glad/vcpkg.json
  versions/baseline.json
  versions/g-/glad.json
Labels: category:port-feature, info:reviewed

#16617 [libxslt] Update to 1.1.34
  ports/libxslt/0001-Fix-makefile.patch
  ports/libxslt/0002-Fix-lzma.patch
  ports/libxslt/0003-Fix-configure.patch
  ports/libxslt/CONTROL
  ports/libxslt/portfile.cmake
  versions/baseline.json
  versions/l-/libxslt.json
Labels: category:port-update, info:reviewed

#16526 [poco] Remove dependency port openssl for feature netssl on windows
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-feature, info:internal, info:reviewed

#16628 Port for PresentMon, windows-only ETW swap-chain presentation capture and analysis tool
  ports/presentmon/CMakeLists.txt
  ports/presentmon/portfile.cmake
  ports/presentmon/vcpkg.json
  versions/baseline.json
  versions/p-/presentmon.json
Labels: category:new-port, info:reviewed

#16371 [wxwidgets] Fix include path in UNIX
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/setup.h
  ports/wxwidgets/setup.h.in
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:internal, info:reviewed

#16348 [pthreads] support ARM arch and UWP platform
  ports/pthreads/fix-arm-macro.patch
  ports/pthreads/fix-uwp-linkage.patch
  ports/pthreads/portfile.cmake
  ports/pthreads/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pthreads.json
Labels: category:port-feature, info:reviewed

#16344 [nnpack] create a new port
  ports/nnpack/fix-cmakelists.patch
  ports/nnpack/portfile.cmake
  ports/nnpack/vcpkg.json
  versions/baseline.json
  versions/n-/nnpack.json
Labels: category:new-port, info:reviewed

#16392 [woff2] fix for static linking and alternative compiler toolchains
  ports/woff2/0001-unofficial-brotli.patch
  ports/woff2/CONTROL
  ports/woff2/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/w-/woff2.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#16879 [rapidcsv] new port
  ports/rapidcsv/portfile.cmake
  ports/rapidcsv/vcpkg.json
  versions/baseline.json
  versions/r-/rapidcsv.json
Labels: category:new-port, requires:author-response

#17074 [mpg123] Upgrade to 1.26.4
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-update, info:reviewed

#16897 [libxml2] add missing GNUInstallDirs to fix pc files
  ports/libxml2/CMakeLists.txt
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:reviewed

#16068 Add disable-exceptions feature to portfile for tbb
  ports/tbb/CMakeLists.txt
  ports/tbb/CONTROL
  ports/tbb/portfile.cmake
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-feature, info:reviewed

#16994 [boost-regex] fix build with icu on osx
  ports/boost-regex/b2-options.cmake
  ports/boost-regex/vcpkg.json
  versions/b-/boost-regex.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#17160 [vcpkg] add versions for testing files
  scripts/testing/version-files/versions_incomplete/c-/cat.json
  scripts/testing/version-files/versions_incomplete/m-/mouse.json
Labels: category:vcpkg-bug, info:reviewed

#15573 [paho-mqttpp3] update to 1.2.0
  ports/paho-mqttpp3/CONTROL
  ports/paho-mqttpp3/fix-dependency.patch
  ports/paho-mqttpp3/fix-include-path.patch
  ports/paho-mqttpp3/portfile.cmake
  ports/paho-mqttpp3/vcpkg.json
  versions/baseline.json
  versions/p-/paho-mqttpp3.json
Labels: category:port-update, info:internal, info:reviewed

#17173 [trantor] Update to 1.4.0
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#17169 [behaviortree-cpp] update to 3.5.6
  ports/behaviortree-cpp/001_port_fixes.patch
  ports/behaviortree-cpp/002_fix_dependencies.patch
  ports/behaviortree-cpp/portfile.cmake
  ports/behaviortree-cpp/vcpkg.json
  versions/b-/behaviortree-cpp.json
  versions/baseline.json
Labels: category:port-update, info:internal, info:reviewed

#17168 [clamav] Fix the conflicts with libmspack
  ports/clamav/CONTROL
  ports/clamav/mspack.patch
  ports/clamav/portfile.cmake
  ports/clamav/vcpkg.json
  versions/baseline.json
  versions/c-/clamav.json
Labels: category:port-bug, info:internal, info:reviewed

#17152 [spdlog] Use external fmt header
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-bug, info:internal, info:reviewed

#17148 [hunspell] switch to make to enable build of hunspell tools
  ports/hunspell/CMakeLists.txt
  ports/hunspell/CONTROL
  ports/hunspell/config.h.in
  ports/hunspell/portfile.cmake
  ports/hunspell/vcpkg.json
  versions/baseline.json
  versions/h-/hunspell.json
Labels: category:port-feature, info:reviewed

#17126 [jsoncons] Update to 0.163.1
  ports/jsoncons/CONTROL
  ports/jsoncons/portfile.cmake
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#17123 [directxtex,directxmesh, directxtk, directxtk12, uvatlas] updated for April 2021 releases
  ports/directxmesh/CONTROL
  ports/directxmesh/portfile.cmake
  ports/directxtex/CONTROL
  ports/directxtex/enable_openexr_support.patch
  ports/directxtex/portfile.cmake
  ports/directxtk/CONTROL
  ports/directxtk/portfile.cmake
  ports/directxtk12/CONTROL
  ports/directxtk12/portfile.cmake
  ports/uvatlas/CONTROL
  ports/uvatlas/portfile.cmake
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#17158 [qt5] Move qt5 headers into qt5 subdir
  ports/qt5-base/cmake/configure_qt.cmake
  ports/qt5-base/cmake/qt_fix_prl.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, info:reviewed

#17117 [glib] fix build error for x64-linux-dynamic
  ports/glib/CMakeLists.txt
  ports/glib/CONTROL
  versions/baseline.json
  versions/g-/glib.json
Labels: category:community-triplet, info:reviewed

#17101 [minizip-ng] add new port
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: category:new-port, info:reviewed

#17094 [fltk] Fix link to system libs
  ports/fltk/CONTROL
  ports/fltk/fix-system-link.patch
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-bug, info:internal, info:reviewed

#17077 [libdatachannel ] Update to 0.12.0
  ports/libdatachannel/fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#16911 [freeglut] Don't enforce x64 when the compiler is 64 bit
  ports/freeglut/CONTROL
  ports/freeglut/no_x64_enforcement.patch
  ports/freeglut/portfile.cmake
  versions/baseline.json
  versions/f-/freeglut.json
Labels: category:port-bug, info:reviewed

#16860 [lz4] update to 1.9.3
  ports/lz4/CONTROL
  ports/lz4/portfile.cmake
  versions/baseline.json
  versions/l-/lz4.json
Labels: category:port-update, info:reviewed

#16369 [soci] Re-fix feature mysql
  ports/soci/export-include-dirs.patch
  ports/soci/fix-dependency-libmysql.patch
  ports/soci/portfile.cmake
  ports/soci/vcpkg.json
  versions/baseline.json
  versions/s-/soci.json
Labels: category:port-bug, info:internal, info:reviewed

#17209 [vcpkg baseline] [nowide] update to 11.1.2
  ports/nowide/CONTROL
  ports/nowide/portfile.cmake
  ports/nowide/vcpkg.json
  versions/baseline.json
  versions/n-/nowide.json
Labels: category:port-update, info:reviewed

#16725 [openmama] Modify the output path of the common header file
  ports/openmama/CONTROL
  ports/openmama/portfile.cmake
  ports/openmama/vcpkg.json
  versions/baseline.json
  versions/o-/openmama.json
Labels: category:port-bug, info:internal, info:reviewed

#14918 [zxing-cpp] Update zxing-cpp and fix iconv dependency
  ports/zxing-cpp/0003-fix-dependency-bigint.patch
  ports/zxing-cpp/CONTROL
  ports/zxing-cpp/portfile.cmake
  versions/baseline.json
  versions/z-/zxing-cpp.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#17238 [minizip-ng] Modify the output include path of the header file
  ports/minizip-ng/Modify-header-file-path.patch
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: category:port-bug, info:internal, info:reviewed

#17230 [c-ares] Fix definition on static build, add options to disable tools and tests
  ports/c-ares/CONTROL
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-bug, info:internal, info:reviewed

#17223 Update bitmagic version to 7.2.0
  ports/bitmagic/CONTROL
  ports/bitmagic/portfile.cmake
  versions/b-/bitmagic.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#17220 [docs] add more blog posts
  docs/README.md
Labels: category:documentation, info:reviewed

#17218 [vcpkg Readme] Added x64 triplet note for Windows Quick Start
  README.md
Labels: category:documentation, info:reviewed

#17208 [hypodermic] Add new port (v2.5.2)
  ports/hypodermic/disable_hypodermic_tests.patch
  ports/hypodermic/portfile.cmake
  ports/hypodermic/vcpkg.json
  versions/baseline.json
  versions/h-/hypodermic.json
Labels: category:new-port, info:reviewed

#17198 [docs] Typo fix for Korean doc.
  README_ko_KR.md
Labels: category:documentation, info:reviewed

#17190 [drogon] Update to 1.5.1
  ports/drogon/CONTROL
  ports/drogon/drogon_config.patch
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.patch
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-update, info:reviewed

#17182 [cpp-httplib] Upgrade to v0.8.6
  ports/cpp-httplib/CONTROL
  ports/cpp-httplib/portfile.cmake
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#17191 [mpg123] Upgrade to 1.26.5
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-update, info:reviewed

#17197 sync GLIB_DLL_SUFFIX with pkgconfig
  ports/glib/CMakeLists.txt
  ports/glib/CONTROL
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-bug, info:reviewed

#17206 [libgeotiff] Fix mingw build
  ports/libgeotiff/CONTROL
  ports/libgeotiff/portfile.cmake
  versions/baseline.json
  versions/l-/libgeotiff.json
Labels: category:community-triplet, info:reviewed

#16449 [protobuf] Update to 3.15.8
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-update, requires:author-response

#17170 [knet]Update to v1.0.2
  ports/knet/portfile.cmake
  ports/knet/vcpkg.json
  versions/baseline.json
  versions/k-/knet.json
Labels: category:port-update, info:reviewed

#17049 [vcpkg] improve pull request template
  .github/pull_request_template.md
Labels: category:vcpkg-feature, info:reviewed, requires:discussion

#17102 [scripts] Fix Perl download link
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update, info:reviewed

#16413 [cudnn] auto-download only if cuda version matches
  ports/cuda/CONTROL
  ports/cuda/portfile.cmake
  ports/cuda/vcpkg_find_cuda.cmake
  ports/cudnn/CONTROL
  ports/cudnn/FindCUDNN.cmake
  ports/cudnn/portfile.cmake
  versions/baseline.json
  versions/c-/cuda.json
  versions/c-/cudnn.json
Labels: category:port-feature, category:port-update, info:reviewed, requires:discussion

#16232 [llvm] update to 11.1.0, add features and fix issues
  ports/llvm/0002-fix-install-paths.patch
  ports/llvm/0007-fix-compiler-rt-install-path.patch
  ports/llvm/0008-fix-libcxx-install.patch
  ports/llvm/0009-fix-tools-install-path.patch
  ports/llvm/CONTROL
  ports/llvm/clang_usage
  ports/llvm/flang_usage
  ports/llvm/lld_usage
  ports/llvm/llvm_usage
  ports/llvm/mlir_usage
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, category:port-feature, info:reviewed

#17250 [vcpkg baseline][pangolin] Set CMAKE_DISABLE_FIND_PACKAGE_XX to ON
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: category:port-bug, info:internal, info:reviewed

#17277 [vcpkg baseline][popsift] Fix vcpkg_find_cuda.cmake path
  ports/popsift/CONTROL
  ports/popsift/portfile.cmake
  ports/popsift/vcpkg.json
  versions/baseline.json
  versions/p-/popsift.json
Labels: category:port-bug, info:internal, info:reviewed

#17236 [ffmpeg] no longer hardcode version strings in FindFFMPEG script
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug

#17174 [xaudio2redist] Add new port
  ports/xaudio2redist/portfile.cmake
  ports/xaudio2redist/vcpkg.json
  versions/baseline.json
  versions/x-/xaudio2redist.json
Labels: category:new-port, info:reviewed

#17235 [fluidsynth] update portfile features.
  ports/fluidsynth/CONTROL
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-feature, info:reviewed

#17298 [ffmpeg] add -fPIC
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug

#17142 [azure-core-cpp, azure-identity-cpp] Update to latest version
  ports/azure-core-cpp/CONTROL
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-identity-cpp/CONTROL
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  ports/azure-storage-blobs-cpp/CONTROL
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/CONTROL
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/CONTROL
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/CONTROL
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-identity-cpp.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, requires:author-response

#17143 [azure-security-keyvault-*] Add new ports
  ports/azure-security-keyvault-common-cpp/portfile.cmake
  ports/azure-security-keyvault-common-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-common-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/baseline.json
Labels: category:new-port, depends:different-pr, requires:author-response

#17346 [cudnn] add other locations to find lib already installed
  ports/cudnn/CONTROL
  ports/cudnn/FindCUDNN.cmake
  ports/cudnn/portfile.cmake
  versions/baseline.json
  versions/c-/cudnn.json
Labels: category:port-bug, info:reviewed

#15292 [gdal] Update to 3.2.2
  ports/gdal/0001-Fix-debug-crt-flags.patch
  ports/gdal/0004-Fix-cfitsio.patch
  ports/gdal/0004-Fix-std-fabs.patch
  ports/gdal/0005-Fix-configure.patch
  ports/gdal/dependency_win.cmake
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#17287 [libvpx] Fix libvpx compilation (install process)
  ports/ffmpeg/0005-fix-libvpx-linking.patch
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
  ports/libvpx/0004-remove-library-suffixes.patch
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
  ports/libvpx/unofficial-libvpx-config.cmake.in
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/l-/libvpx.json
Labels: category:port-bug

#16825 [cairo,cairomm] add fontconfig and quartz feature and update cairo version
  ports/cairo/CMakeLists.txt
  ports/cairo/cairo-features.h.in
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  ports/cairomm/CMakeLists.txt
  ports/cairomm/CONTROL
  ports/cairomm/portfile.cmake
  ports/cairomm/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
  versions/c-/cairomm.json
Labels: category:port-bug, info:reviewed, requires:discussion

#17271 [catch2] Fix share/catch2 directory name conflict
  ports/catch2/CONTROL
  ports/catch2/portfile.cmake
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-bug, info:reviewed

#15725 [aws-cpp-sdk] [zlib] [openssl] [curl] Fix zlib, OpenSSL, curl and AWS SDK for Android
  docs/maintainers/vcpkg_common_definitions.md
  docs/maintainers/vcpkg_fixup_pkgconfig.md
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  ports/curl/0009_fix_openssl_config.patch
  ports/curl/CONTROL
  ports/curl/CurlAndroidCrossCompile.cmake
  ports/curl/portfile.cmake
  ports/libssh/0002-mingw_for_Android.patch
  ports/libssh/CONTROL
  ports/libssh/portfile.cmake
  ports/openssl/CONTROL
  ports/openssl/unix/CMakeLists.txt
  ports/zlib/0002-android-build-mingw.patch
  ports/zlib/CONTROL
  ports/zlib/portfile.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
  versions/c-/curl.json
  versions/l-/libssh.json
  versions/o-/openssl.json
  versions/z-/zlib.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#15831 [spirv-cross,spirv-headers,spirv-tools] 2021-01-15 update
  ports/spirv-cross/portfile.cmake
  ports/spirv-cross/vcpkg.json
  ports/spirv-headers/CONTROL
  ports/spirv-headers/portfile.cmake
  ports/spirv-headers/vcpkg.json
  ports/spirv-tools/cmake-install.patch
  ports/spirv-tools/comment-distutils.patch
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-cross.json
  versions/s-/spirv-headers.json
  versions/s-/spirv-tools.json
Labels: category:port-update, info:reviewed

#16546 [wxwidgets] Fix cmake wrapper
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:internal, info:reviewed

#16386 [qt5-base] Add feature vulkan
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#16108 [minizip] support iOS/Android triplets
  ports/minizip/0003-no-io64.patch
  ports/minizip/CMakeLists.txt
  ports/minizip/CONTROL
  ports/minizip/portfile.cmake
  versions/baseline.json
  versions/m-/minizip.json
Labels: category:port-feature, info:reviewed

#16107 [lua] support iOS triplets
  ports/lua/CMakeLists.txt
  ports/lua/CONTROL
  ports/lua/fix-ios-system.patch
  ports/lua/portfile.cmake
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#16082 [libarchive] Fix static linking dependencies
  ports/libarchive/portfile.cmake
  ports/libarchive/vcpkg-cmake-wrapper.cmake.in
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-bug, info:reviewed

#13725 [matplotplusplus] Add new port
  ports/matplotplusplus/portfile.cmake
  ports/matplotplusplus/vcpkg.json
  versions/baseline.json
  versions/m-/matplotplusplus.json
Labels: category:new-port, info:reviewed

#16610 [tiff] support zstd compression in TIFF image files (take 2)
  ports/tiff/CONTROL
  ports/tiff/portfile.cmake
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-feature, info:reviewed

#16740 [libpq] mingw support
  ports/libpq/Makefile
  ports/libpq/patches/mingw/additional-zlib-names.patch
  ports/libpq/patches/mingw/link-with-crypt32.patch
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-feature, info:reviewed

#16936 [ghc-filesystem] create a new port
  ports/ghc-filesystem/portfile.cmake
  ports/ghc-filesystem/vcpkg.json
  versions/baseline.json
  versions/g-/ghc-filesystem.json
Labels: category:new-port, info:reviewed

#17341 [vcpkg baseline][marble] Disable find I18n
  ports/marble/CONTROL
  ports/marble/portfile.cmake
  ports/marble/vcpkg.json
  versions/baseline.json
  versions/m-/marble.json
Labels: category:port-bug, info:internal, info:reviewed

#17356 [corrade] Fix VS2019 build error
  ports/corrade/CONTROL
  ports/corrade/fix-vs2019.patch
  ports/corrade/portfile.cmake
  ports/corrade/vcpkg.json
  versions/baseline.json
  versions/c-/corrade.json
Labels: category:port-bug, info:internal, info:reviewed

#17290 [lodepng-c] Disable parallel configure
  ports/lodepng-c/portfile.cmake
  ports/lodepng-c/vcpkg.json
  versions/baseline.json
  versions/l-/lodepng-c.json
Labels: category:port-bug, info:internal, info:reviewed

#17258 [vcpkg] Fix the wrong slash
  scripts/bootstrap.ps1
Labels: category:vcpkg-bug, info:internal, info:reviewed

#17447 [azure-sdk-for-cpp] Upgrade vcpkg manifest files
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  ports/azure-security-keyvault-common-cpp/portfile.cmake
  ports/azure-security-keyvault-common-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-identity-cpp.json
  versions/a-/azure-security-keyvault-common-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#17461 [matplotplusplus] Install extra 3rd libraries
  ports/matplotplusplus/install-3rd-libraries.patch
  ports/matplotplusplus/portfile.cmake
  ports/matplotplusplus/vcpkg.json
  versions/baseline.json
  versions/m-/matplotplusplus.json
Labels: category:port-bug, info:internal

#17444 [gsl-lite] Update to 0.38.1
  ports/gsl-lite/portfile.cmake
  ports/gsl-lite/vcpkg.json
  versions/baseline.json
  versions/g-/gsl-lite.json
Labels: category:port-update, info:reviewed

#17439 control-files.md: fix dead link and add command how to convert files
  docs/maintainers/control-files.md
Labels: category:documentation, info:reviewed

#17214 [doc] Improve manifest documentation links
  docs/README.md
  docs/maintainers/control-files.md
Labels: category:documentation, info:reviewed

#17422 [grpc][upb] Update to newer versions
  ports/grpc/00009-use-system-upb.patch
  ports/grpc/00010-add-feature-absl-sync.patch
  ports/grpc/00013-build-upbdefs.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  ports/upb/CONTROL
  ports/upb/add-all-libs-target.patch
  ports/upb/add-cmake-install.patch
  ports/upb/fix-uwp.patch
  ports/upb/no-wyhash.patch
  ports/upb/portfile.cmake
  ports/upb/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
  versions/u-/upb.json
Labels: category:port-update, info:internal, info:reviewed

#17432 [flashlight-cpu] Update port to v0.3
  ports/flashlight-cpu/portfile.cmake
  ports/flashlight-cpu/vcpkg.json
  versions/baseline.json
  versions/f-/flashlight-cpu.json
Labels: category:port-update, info:reviewed

#17415 [tinygltf] fix json path
  ports/tinygltf/CONTROL
  ports/tinygltf/portfile.cmake
  versions/baseline.json
  versions/t-/tinygltf.json
Labels: category:port-feature, info:reviewed

#17413 [sentry-native] Update to 0.4.9
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#17407 [taskflow] update to 3.1.0
  ports/taskflow/CONTROL
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: category:port-update, info:internal, info:reviewed

#17401 [portaudio] update to 19.7
  ports/portaudio/portfile.cmake
  ports/portaudio/vcpkg.json
  versions/baseline.json
  versions/p-/portaudio.json
Labels: category:port-update, info:reviewed

#17399 [directx-headers] port updated
  ports/directx-headers/CONTROL
  ports/directx-headers/portfile.cmake
  ports/directx-headers/vcpkg.json
  versions/baseline.json
  versions/d-/directx-headers.json
Labels: category:port-update, info:reviewed

#17389 [libxml2] Pass version to rc via configured file
  ports/libxml2/CMakeLists.txt
  ports/libxml2/RemoveIncludeFromWindowsRcFile.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/rcVersion.h.in
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:reviewed

#17420 [Libtasn1] disable documentation
  ports/libtasn1/portfile.cmake
  ports/libtasn1/vcpkg.json
  versions/baseline.json
  versions/l-/libtasn1.json
Labels: category:port-feature

#17373 [openssl/unix] Run `make` with 'VCPKG_CONCURRENCY' parallelism
  ports/openssl/CONTROL
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/unix/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#17362 [Outcome] update to v2.2.0 release.
  ports/llfio/CONTROL
  ports/llfio/portfile.cmake
  ports/llfio/usage-error-code-dynamic
  ports/llfio/usage-error-code-static
  ports/llfio/usage-status-code-dynamic
  ports/llfio/usage-status-code-static
  ports/ned14-internal-quickcpplib/CONTROL
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/outcome/CONTROL
  ports/outcome/portfile.cmake
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
  versions/o-/outcome.json
Labels: category:port-update, info:reviewed

#17367 [spirv-cross] small cleanup
  ports/spirv-cross/portfile.cmake
  ports/spirv-cross/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-cross.json
Labels: category:port-update, info:reviewed

#17371 [hdf5] threadsafe support
  ports/hdf5/CONTROL
  ports/hdf5/portfile.cmake
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-feature, info:reviewed

#17355 [cub] update to 1.12.0
  ports/cub/CONTROL
  ports/cub/portfile.cmake
  ports/cub/vcpkg.json
  versions/baseline.json
  versions/c-/cub.json
Labels: category:port-update, info:internal, info:reviewed

#17318 [pthreads] Make port empty on mingw
  ports/pthreads/portfile.cmake
  ports/pthreads/vcpkg.json
  versions/baseline.json
  versions/p-/pthreads.json
Labels: category:community-triplet

#17297 [armadillo] update to <10.4.0>
  ports/armadillo/CONTROL
  ports/armadillo/portfile.cmake
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: category:port-update, info:internal, info:reviewed
