Repository microsoft/vcpkg, pull requests merged in 2021-02, with the labels that each got.

#15954 [libsamplerate] Update to 0.2.1
  ports/libsamplerate/portfile.cmake
  ports/libsamplerate/vcpkg.json
  versions/baseline.json
  versions/l-/libsamplerate.json
Labels: category:port-update, info:reviewed

#15953 [libsndfile] Update to 1.0.31
  ports/libsndfile/portfile.cmake
  ports/libsndfile/vcpkg.json
  versions/baseline.json
  versions/l-/libsndfile.json
Labels: category:port-update, info:reviewed

#15936 [libjpeg-turbo] update to 2.0.6
  ports/libjpeg-turbo/CONTROL
  ports/libjpeg-turbo/portfile.cmake
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-update, info:internal, info:reviewed

#15950 [libgcrypt] Update libgcrypt
  ports/libgcrypt/CONTROL
  ports/libgcrypt/portfile.cmake
  versions/baseline.json
  versions/l-/libgcrypt.json
Labels: category:port-update, info:reviewed

#15935 [raylib] Fix usage
  ports/raylib/CONTROL
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg-cmake-wrapper.cmake
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:port-bug, info:internal, info:reviewed

#15943 [fast-cpp-csv-parser ] Update to the latest commit: Fixes compiler warnings
  ports/fast-cpp-csv-parser/CONTROL
  ports/fast-cpp-csv-parser/portfile.cmake
  versions/baseline.json
  versions/f-/fast-cpp-csv-parser.json
Labels: category:port-update, info:reviewed

#15937 [meson] fix single-config builds
  scripts/cmake/vcpkg_install_meson.cmake
Labels: category:tool-update, info:reviewed

#15885 [libconfig] Fix libconfig when installing master branch
  ports/libconfig/CONTROL
  ports/libconfig/portfile.cmake
  versions/baseline.json
  versions/l-/libconfig.json
Labels: category:port-feature, info:reviewed

#15882 [ngspice] build codemodel extension libraries
  ports/ngspice/CONTROL
  ports/ngspice/portfile.cmake
  ports/ngspice/use-winbison-sharedspice.patch
  ports/ngspice/use-winbison-vngspice.patch
  versions/baseline.json
  versions/n-/ngspice.json
Labels: category:port-feature, info:reviewed

#15850 [drogon] Upgrade to v1.3.0
  ports/drogon/CONTROL
  ports/drogon/portfile.cmake
  ports/drogon/resolv.patch
  ports/drogon/vcpkg.patch
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-update, info:reviewed

#15821 [libffi] Added armv7-a to allowed architectures for Android 32 bit arm builds
  ports/libffi/CMakeLists.txt
  ports/libffi/CONTROL
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-feature, info:reviewed

#15868 [libidn2] Fix cross-compile (non-Windows)
  ports/libidn2/CONTROL
  ports/libidn2/portfile.cmake
  ports/libidn2/vcpkg.json
  versions/baseline.json
  versions/l-/libidn2.json
Labels: category:community-triplet, category:port-bug, info:reviewed

#15715 [metrohash] support Android triplet build
  ports/metrohash/CMakeLists.txt
  ports/metrohash/CONTROL
  ports/metrohash/portfile.cmake
  ports/metrohash/vcpkg.json
  versions/baseline.json
  versions/m-/metrohash.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#15677 [vcpkg] Miscellaneous internal improvements extracted from #15424
  ports/armadillo/CONTROL
  ports/armadillo/portfile.cmake
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  toolsrc/include/vcpkg-test/util.h
  toolsrc/include/vcpkg/base/optional.h
  toolsrc/include/vcpkg/dependencies.h
  toolsrc/include/vcpkg/remove.h
  toolsrc/src/vcpkg-test/catch.cpp
  toolsrc/src/vcpkg-test/commands.build.cpp
  toolsrc/src/vcpkg-test/manifests.cpp
  toolsrc/src/vcpkg-test/optional.cpp
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/commands.ci.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/export.prefab.cpp
  toolsrc/src/vcpkg/paragraphs.cpp
  toolsrc/src/vcpkg/remove.cpp
  toolsrc/src/vcpkg/sourceparagraph.cpp
  toolsrc/src/vcpkg/triplet.cpp
  versions/a-/armadillo.json
  versions/baseline.json
Labels: category:vcpkg-feature, info:internal

#15757 [Arrow] Update to 3.0.0
  ports/arrow/CONTROL
  ports/arrow/all.patch
  ports/arrow/portfile.cmake
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#15986 [chromaprint] add new port with version 1.5.0
  ports/chromaprint/portfile.cmake
  ports/chromaprint/vcpkg.json
  versions/baseline.json
  versions/c-/chromaprint.json
Labels: category:new-port, requires:author-response

#16009 [vcpkg] fix checking out git registry ports
  scripts/azure-pipelines/end-to-end-tests-dir/registries.ps1
  toolsrc/src/vcpkg/build.cpp
  toolsrc/src/vcpkg/dependencies.cpp
  toolsrc/src/vcpkg/registries.cpp
Labels: category:vcpkg-bug, info:internal

#16001 [google-cloud-cpp] update to the latest release (v1.24.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update

#16018 [log4cxx] Fix dependency and pkgconfig
  ports/log4cxx/CONTROL
  ports/log4cxx/expat.patch
  ports/log4cxx/pkgconfig.patch
  ports/log4cxx/portfile.cmake
  versions/baseline.json
  versions/l-/log4cxx.json
Labels: category:port-bug, info:internal

#15997 [opencascade] Update to 7.5.0
  ports/opencascade/CONTROL
  ports/opencascade/fix-build-with-vs2017.patch
  ports/opencascade/fix-install-prefix-path.patch
  ports/opencascade/fix-msvc-32bit-builds.patch
  ports/opencascade/fix-pdb-find.patch
  ports/opencascade/fix-static-build.patch
  ports/opencascade/portfile.cmake
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-update, info:internal, info:reviewed

#15926 [vcpkg] Emit parse errors to match '<file>:<line>:<col>: error: <text>' for better IDE compatibility
  toolsrc/src/vcpkg-test/json.cpp
  toolsrc/src/vcpkg/base/json.cpp
  toolsrc/src/vcpkg/base/parse.cpp
Labels: category:vcpkg-feature, info:internal, info:reviewed

#15906 Add shell.nix for building on NixOS
  shell.nix
Labels: category:vcpkg-feature, info:reviewed

#15995 [libpqxx] Fix build with Visual Studio 2017
  ports/libpqxx/CONTROL
  ports/libpqxx/fix-build-with-vs2017.patch
  ports/libpqxx/portfile.cmake
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: category:port-bug, info:internal, info:reviewed

#16013 [azure-core-cpp] Add new port
  ports/azure-core-cpp/CONTROL
  ports/azure-core-cpp/portfile.cmake
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:new-port, requires:author-response

#15994 [date] Fix vcpkg_fixup_cmake_targets for mingw
  ports/date/CONTROL
  ports/date/portfile.cmake
  versions/baseline.json
  versions/d-/date.json
Labels: category:port-bug, info:reviewed

#15990 [libdjinterop] add new port with version 0.14.6
  ports/libdjinterop/portfile.cmake
  ports/libdjinterop/vcpkg.json
  versions/baseline.json
  versions/l-/libdjinterop.json
Labels: category:new-port, info:reviewed

#15988 [libebur128] add new port with version 1.2.5
  ports/libebur128/portfile.cmake
  ports/libebur128/vcpkg.json
  versions/baseline.json
  versions/l-/libebur128.json
Labels: category:new-port, info:reviewed

#15975 [nameof] Update to 0.10.0
  ports/nameof/CONTROL
  ports/nameof/portfile.cmake
  versions/baseline.json
  versions/n-/nameof.json
Labels: category:port-update, info:reviewed

#15974 [magic-enum] Update to v0.7.2
  ports/magic-enum/CONTROL
  ports/magic-enum/portfile.cmake
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#15934 [physx] Use /Z7 instead of /Zi to integrate the debug info when building static
  ports/physx/CONTROL
  ports/physx/fix-compiler-flag.patch
  ports/physx/portfile.cmake
  versions/baseline.json
  versions/p-/physx.json
Labels: category:port-bug, info:internal, info:reviewed

#15973 [vcpkg baseline][armadillo] Update to 10.2.0 and also update the repository
  ports/armadillo/CONTROL
  ports/armadillo/add-disable-find-package.patch
  ports/armadillo/fix-CMakePath.patch
  ports/armadillo/portfile.cmake
  ports/armadillo/remove_custom_modules.patch
  versions/a-/armadillo.json
  versions/baseline.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#15960 [vcpkg] fix X_VCPKG_APPLOCAL_DEPS_INSTALL
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-bug, requires:discussion

#15965 [cairo] Make freetype and fontconfig optional.
  ports/cairo/CMakeLists.txt
  ports/cairo/CONTROL
  ports/cairo/cairo-features.h.in
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-feature

#16014 [azure-identity-cpp] Publish version 1.0.0-beta.3
  ports/azure-identity-cpp/CONTROL
  ports/azure-identity-cpp/portfile.cmake
  versions/a-/azure-identity-cpp.json
  versions/baseline.json
Labels: category:new-port, depends:different-pr

#15948 [ shaderwriter ]Update to version 1.0.0
  ports/shaderwriter/portfile.cmake
  ports/shaderwriter/vcpkg.json
  versions/baseline.json
  versions/s-/shaderwriter.json
Labels: category:port-update

#13590 [vcpkg registries] Registries: Take 2
  docs/specifications/registries-2.md
Labels: category:vcpkg-feature, info:internal

#9231 [pcl] Add gcc version check
  ports/pcl/CONTROL
  ports/pcl/add-gcc-version-check.patch
  ports/pcl/portfile.cmake
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:internal, requires:discussion

#15410 [msbuild]Fix incorrect triplet configuration for Project Reunion apps
  scripts/buildsystems/msbuild/vcpkg.props
Labels: category:vcpkg-bug

#15693 [vcpkg] More versioning docs
  docs/users/versioning.getting-started.md
  docs/users/versioning.implementation-details.md
  docs/users/versioning.md
  docs/users/versioning.reference.md
Labels: category:documentation, info:internal

#16109 [geos] Update to 3.9.0
  ports/geos/CONTROL
  ports/geos/dont-build-astyle.patch
  ports/geos/portfile.cmake
  versions/baseline.json
  versions/g-/geos.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#16106 [abseil] Remove link flag '-ignore:4221'
  ports/abseil/fix-msvc-flags.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:community-triplet, category:port-bug, info:internal, info:reviewed

#16095 [vcpkg] Fix unsupported modifiers for X_VCPKG_APPLOCAL_DEPS_INSTALL.
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-bug, requires:discussion

#16089 [spdlog] Support build shared library
  ports/spdlog/CONTROL
  ports/spdlog/portfile.cmake
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-bug, info:internal, info:reviewed

#16085 [netcdf-c] Fix usage
  ports/netcdf-c/CONTROL
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/usage
  versions/baseline.json
  versions/n-/netcdf-c.json
Labels: category:port-bug, info:internal, info:reviewed

#16071 [gtest] fix builds when using --head
  ports/gtest/CONTROL
  ports/gtest/portfile.cmake
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-bug, info:reviewed

#16053 [azure-storage-files-shares-cpp] Add new port
  ports/azure-storage-files-shares-cpp/CONTROL
  ports/azure-storage-files-shares-cpp/portfile.cmake
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#16037 [glslang] support iOS triplets
  ports/glslang/CONTROL
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-feature, info:reviewed

#16038 [spirv-cross,spirv-tools] support iOS triplets
  ports/spirv-cross/CONTROL
  ports/spirv-cross/portfile.cmake
  ports/spirv-cross/vcpkg.json
  ports/spirv-tools/CONTROL
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-cross.json
  versions/s-/spirv-tools.json
Labels: category:port-feature

#16033 [sdl2] Fix vulkan feature dependencies
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#15887 [boost-concept-check] Fix warning C4834 when install pagmo2
  ports/boost-concept-check/fix-warning-c4834.patch
  ports/boost-concept-check/portfile.cmake
  ports/boost-concept-check/vcpkg.json
  versions/b-/boost-concept-check.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#16008 [ngspice] Update to rev 34
  ports/ngspice/CONTROL
  ports/ngspice/portfile.cmake
  versions/baseline.json
  versions/n-/ngspice.json
Labels: category:port-update, info:reviewed

#16021 [sentry-native] Update to 0.4.7
  ports/sentry-native/CONTROL
  ports/sentry-native/portfile.cmake
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#16035 [metrohash] support iOS triplets
  ports/metrohash/CMakeLists.txt
  ports/metrohash/vcpkg.json
  versions/baseline.json
  versions/m-/metrohash.json
Labels: category:port-feature, info:reviewed

#15989 [functions-framework-cpp] add new port with version 0.3.0
  ports/functions-framework-cpp/portfile.cmake
  ports/functions-framework-cpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:new-port, info:reviewed

#15971 [matio] Update to v1.5.19
  ports/matio/CONTROL
  ports/matio/portfile.cmake
  versions/baseline.json
  versions/m-/matio.json
Labels: category:port-update, info:reviewed

#15967 [discreture] Add new port
  ports/discreture/CONTROL
  ports/discreture/portfile.cmake
  ports/discreture/usage
  versions/baseline.json
  versions/d-/discreture.json
Labels: category:new-port, info:reviewed

#15945 [openal-soft] Update to 1.21.1
  ports/openal-soft/CONTROL
  ports/openal-soft/dont-export-symbols-in-static-build.patch
  ports/openal-soft/fix-arm-builds.patch
  ports/openal-soft/fix-mingw-build.patch
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-update, info:reviewed

#15978 [proj4] Bump to proj 7.2.1
  ports/proj4/portfile.cmake
  ports/proj4/vcpkg.json
  versions/baseline.json
  versions/p-/proj4.json
Labels: category:port-update, info:reviewed

#16000 [ffmpeg] avfilter: fix dependencies and linux library ordering
  ports/ffmpeg/0014-avfilter-dependency-fix.patch
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#15941 [curl] Fix/android curl debug bin
  ports/curl/CONTROL
  ports/curl/portfile.cmake
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, info:reviewed

#15650 [log4cpp] find_package support
  ports/log4cpp/CONTROL
  ports/log4cpp/fix-export-targets.patch
  ports/log4cpp/log4cpp-config.in.cmake
  ports/log4cpp/portfile.cmake
Labels: category:port-feature

#14888 [libigl] Always install as header-only library
  ports/libigl/CONTROL
  ports/libigl/portfile.cmake
  versions/baseline.json
  versions/l-/libigl.json
Labels: category:port-feature, info:reviewed

#14749 [libuvc] added
  ports/libuvc/CONTROL
  ports/libuvc/build_fix.patch
  ports/libuvc/portfile.cmake
  versions/baseline.json
  versions/l-/libuvc.json
Labels: category:new-port, info:reviewed

#13361 [wxwidgets] Fix #4756
  ports/gppanel/CMakeLists.txt
  ports/gppanel/CONTROL
  ports/gppanel/portfile.cmake
  ports/gppanel/usage
  ports/gppanel/vcpkg.json
  ports/wxchartdir/CONTROL
  ports/wxchartdir/portfile.cmake
  ports/wxchartdir/vcpkg.json
  ports/wxwidgets/CONTROL
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/usage
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/g-/gppanel.json
  versions/w-/wxchartdir.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:internal, info:reviewed

#16138 [vcpkg baseline][log4cpp] Update version record
  versions/baseline.json
  versions/l-/log4cpp.json
Labels: category:vcpkg-bug, info:internal, info:reviewed

#16010 [directxsdk] Update DirectX SDK port
  ports/directxsdk/portfile.cmake
  ports/directxsdk/vcpkg.json
  versions/baseline.json
  versions/d-/directxsdk.json
Labels: category:port-update

#16069 [docs/users/manifests.md] Prioritize examples. Fix example. Add MSBuild integration documentation.
  docs/users/manifests.md
Labels: category:documentation, info:internal

#16130 [(z_)vcpkg_prettify_command(_line)] Scripts Tree Audit
  docs/maintainers/internal/z_vcpkg_function_arguments.md
  docs/maintainers/internal/z_vcpkg_prettify_command_line.md
  docs/maintainers/portfile-functions.md
  docs/maintainers/vcpkg_execute_required_process.md
  docs/maintainers/vcpkg_prettify_command.md
  scripts/cmake/vcpkg_execute_build_process.cmake
  scripts/cmake/vcpkg_execute_required_process.cmake
  scripts/cmake/vcpkg_execute_required_process_repeat.cmake
  scripts/cmake/vcpkg_prettify_command.cmake
  scripts/cmake/z_vcpkg_function_arguments.cmake
  scripts/cmake/z_vcpkg_prettify_command_line.cmake
  scripts/ports.cmake
Labels: category:documentation, category:vcpkg-feature, info:internal

#16162 [google-cloud-cpp] populate license field
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#16160 [azure-core-cpp] Azure Core Release Beta6
  ports/azure-core-cpp/CONTROL
  ports/azure-core-cpp/portfile.cmake
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16166 [glfw3/glew] Fix pkgconfig
  ports/glew/CONTROL
  ports/glew/portfile.cmake
  ports/glfw3/CONTROL
  ports/glfw3/portfile.cmake
  versions/baseline.json
  versions/g-/glew.json
  versions/g-/glfw3.json
Labels: category:port-bug, info:internal

#16144 [fast-float] Add new port
  ports/fast-float/portfile.cmake
  ports/fast-float/vcpkg.json
  versions/baseline.json
  versions/f-/fast-float.json
Labels: category:new-port, requires:author-response

#16163 [functions-framework-cpp] populate license field
  ports/functions-framework-cpp/vcpkg.json
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:port-feature

#16154 [wxWidgets] Fix issue with port usage
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/setup.h
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, requires:author-response

#16148 [ashes] Update to 2021-09-02
  ports/ashes/portfile.cmake
  ports/ashes/vcpkg.json
  versions/a-/ashes.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16140 [workflow] add port of sogou/workflow
  ports/workflow/portfile.cmake
  ports/workflow/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/w-/workflow.json
Labels: category:new-port, requires:author-response

#16131 [ngspice] fix win32 codemodel glob
  ports/ngspice/CONTROL
  ports/ngspice/portfile.cmake
  versions/baseline.json
  versions/n-/ngspice.json
Labels: category:port-bug, info:reviewed

#16134 [gl2ps] update to 1.4.2
  ports/gl2ps/CONTROL
  ports/gl2ps/portfile.cmake
  ports/gl2ps/separate-static-dynamic-build.patch
  versions/baseline.json
  versions/g-/gl2ps.json
Labels: category:port-update, info:internal, info:reviewed

#16065 [cpprestsdk] Bump version to 2.10.18
  ports/cpprestsdk/portfile.cmake
  ports/cpprestsdk/vcpkg.json
  versions/baseline.json
  versions/c-/cpprestsdk.json
Labels: category:port-update

#16137 [shaderc] Use build type to build targets
  ports/shaderc/CONTROL
  ports/shaderc/fix-build-type.patch
  ports/shaderc/portfile.cmake
  versions/baseline.json
  versions/s-/shaderc.json
Labels: category:port-bug, info:internal, info:reviewed

#16087 [boost-python] Fix build issue with feature python2
  ports/boost-modular-build-helper/Jamroot.jam
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#16057 [prometheus-cpp] Update to version 0.12.1
  ports/prometheus-cpp/CONTROL
  ports/prometheus-cpp/portfile.cmake
  versions/baseline.json
  versions/p-/prometheus-cpp.json
Labels: category:port-update, requires:author-response

#15892 [libvpx] Fix arm-uwp builds for v142 toolset
  ports/libvpx/0003-add-uwp-and-v142-support.patch
  ports/libvpx/CONTROL
  ports/libvpx/portfile.cmake
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-bug, requires:author-response

#15867 [vcpkg] vcpkg_configure_meson: Support macOS cross-compile
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:tool-update

#15739 [restc-cpp] new port
  ports/restc-cpp/0001-exclude-cmake-external-projects.patch
  ports/restc-cpp/portfile.cmake
  ports/restc-cpp/vcpkg.json
  versions/baseline.json
  versions/r-/restc-cpp.json
Labels: category:new-port, requires:author-response

#15724 [freerdp] Fix include path
  ports/freerdp/CONTROL
  ports/freerdp/fix-include-path.patch
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-bug, info:reviewed

#16193 [scripts-audit] z_vcpkg_function_arguments
  scripts/cmake/z_vcpkg_function_arguments.cmake
Labels: category:scripts-audit, info:internal

#16195 [z_vcpkg_prettify_command_line] write to output variable
  scripts/cmake/z_vcpkg_prettify_command_line.cmake
Labels: category:scripts-audit, info:internal

#16191 [scripts-audit] vcpkg_buildpath_length_warning
  docs/maintainers/vcpkg_buildpath_length_warning.md
  scripts/cmake/vcpkg_buildpath_length_warning.cmake
Labels: category:scripts-audit, info:internal

#16190 [scripts-audit] execute_process
  scripts/cmake/execute_process.cmake
Labels: category:scripts-audit, info:internal

#16189 [scripts-audit] vcpkg_add_to_path
  docs/maintainers/vcpkg_add_to_path.md
  scripts/cmake/vcpkg_add_to_path.cmake
Labels: category:scripts-audit, info:internal

#16270 [vcpkg baseline][gsoap] Update to 2.8.111
  ports/gsoap/CONTROL
  ports/gsoap/portfile.cmake
  versions/baseline.json
  versions/g-/gsoap.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#16238 [ryu] added ryu_printf
  ports/ryu/CONTROL
  ports/ryu/portfile.cmake
  ports/ryu/ryuConfig.cmake
  ports/ryu/vcpkg.json
  versions/baseline.json
  versions/r-/ryu.json
Labels: category:port-feature, requires:author-response

#16230 [sobjectizer] update to v.5.7.2.2
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update

#16245 [magnum,-plugins] Fix deployment of plugin types and incorrect removal of plugin lib dir on unix
  ports/magnum-plugins/CONTROL
  ports/magnum-plugins/portfile.cmake
  ports/magnum/CONTROL
  ports/magnum/magnumdeploy.ps1
  ports/magnum/portfile.cmake
  versions/baseline.json
  versions/m-/magnum-plugins.json
  versions/m-/magnum.json
Labels: category:port-bug

#16055 [vcpkg] Add scripts tree extraction notes.
  docs/specifications/scripts-extraction.md
Labels: category:documentation, category:scripts-audit, category:vcpkg-feature, info:internal

#16257 [scripts audit] ports.cmake
  scripts/cmake/vcpkg_common_functions.cmake
  scripts/cmake/vcpkg_test_cmake.cmake
  scripts/ports.cmake
  triplets/arm-uwp.cmake
  triplets/arm64-windows.cmake
  triplets/x64-linux.cmake
  triplets/x64-osx.cmake
  triplets/x64-uwp.cmake
  triplets/x64-windows-static.cmake
  triplets/x86-windows.cmake
Labels: category:scripts-audit, info:internal

#16212 [vcpkg] Change scripts/tls12-download.exe mode from 100644 to 100755
  scripts/tls12-download.exe
Labels: category:vcpkg-bug, info:reviewed

#16061 [scripts-audit] vcpkg.cmake
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/z_vcpkg_function_arguments.cmake
Labels: category:scripts-audit, category:vcpkg-feature, info:internal

#16289 [vcpkg baseline][ktx/otl] Update download hash
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  ports/otl/CONTROL
  ports/otl/portfile.cmake
  versions/baseline.json
  versions/k-/ktx.json
  versions/o-/otl.json
Labels: category:port-bug, info:internal, info:reviewed

#16202 [quill] Uncomment QUILL_FMT_EXTERNAL macro
  ports/quill/CONTROL
  ports/quill/portfile.cmake
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-bug, info:reviewed

#16246 [halide] Update Halide to 11.0.1
  ports/halide/CONTROL
  ports/halide/portfile.cmake
  ports/halide/usage
  versions/baseline.json
  versions/h-/halide.json
Labels: category:port-update

#16261 [continuable] add a new port
  ports/continuable/fix-cmakelists.patch
  ports/continuable/portfile.cmake
  ports/continuable/vcpkg.json
  versions/baseline.json
  versions/c-/continuable.json
Labels: category:new-port, requires:author-response

#16296 [soci] Fix feature mysql
  ports/soci/CONTROL
  ports/soci/fix-dependency-libmysql.patch
  ports/soci/portfile.cmake
  ports/soci/vcpkg.json
  versions/baseline.json
  versions/s-/soci.json
Labels: category:port-bug, info:internal

#16320 [librtmp] Switch to GitHub mirror
  ports/librtmp/CONTROL
  ports/librtmp/portfile.cmake
  ports/librtmp/vcpkg.json
  versions/baseline.json
  versions/l-/librtmp.json
Labels: category:port-feature, info:internal

#16324 [vcpkg docs] Update the versioning.getting-started.md
  docs/users/versioning.getting-started.md
Labels: category:documentation, info:internal

#16317 direcxtsdk port updated to use MS Downloads
  ports/directxsdk/portfile.cmake
  ports/directxsdk/vcpkg.json
  versions/baseline.json
  versions/d-/directxsdk.json
Labels: category:port-bug, info:reviewed

#16307 [functions-framework-cpp] update to latest release (v0.4.0)
  ports/functions-framework-cpp/0001-fix-msvc-build.patch
  ports/functions-framework-cpp/portfile.cmake
  ports/functions-framework-cpp/vcpkg.json
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:port-update, info:reviewed

#16264 [hpx] Update hpx to V1.6.0
  ports/hpx/CONTROL
  ports/hpx/portfile.cmake
  versions/baseline.json
  versions/h-/hpx.json
Labels: category:port-update, info:reviewed

#16260 [vcpkg] vcpkg_configure_meson: cross-compile fixes for Android
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:tool-update, info:reviewed

#16294 [llvm] Fix resource path when building tools
  ports/llvm/CONTROL
  ports/llvm/portfile.cmake
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:internal, requires:discussion

#16359 [vcpkg baseline][stxxl] Skip baseline check for windows build
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#16356 [vcpkg baseline][poppler] Add feature splash and add its dependency boost-container and boost-move
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: category:port-bug, info:internal, info:reviewed

#16379 [seal] Updated SEAL version to 3.6.2.
  ports/seal/CONTROL
  ports/seal/portfile.cmake
  versions/baseline.json
  versions/s-/seal.json
Labels: category:port-update, info:reviewed

#16375 [boost] /safeseh
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-feature, requires:discussion

#16366 [brynet] upgrade to 1.10.0
  ports/brynet/CONTROL
  ports/brynet/portfile.cmake
  versions/b-/brynet.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#16370 [sdl2] Update patch
  ports/sdl2/0002-sdl2-skip-ibus-on-linux.patch
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:internal, info:reviewed, info:versioning

#16354 [amqpcpp] update to 4.3.11
  ports/amqpcpp/CONTROL
  ports/amqpcpp/portfile.cmake
  ports/amqpcpp/vcpkg.json
  versions/a-/amqpcpp.json
  versions/baseline.json
Labels: category:port-update, info:internal, info:reviewed

#16341 [fxdiv] create a new port
  ports/fxdiv/portfile.cmake
  ports/fxdiv/vcpkg.json
  versions/baseline.json
  versions/f-/fxdiv.json
Labels: category:new-port, info:reviewed

#16339 [psimd] add a new port
  ports/psimd/portfile.cmake
  ports/psimd/vcpkg.json
  versions/baseline.json
  versions/p-/psimd.json
Labels: category:new-port, info:reviewed

#16336 [docs/users/manifests.md] add a link to the specification
  docs/users/manifests.md
Labels: category:documentation, info:reviewed

#16325 [libpmemobj-cpp] update to ver. 1.12
  ports/libpmemobj-cpp/CONTROL
  ports/libpmemobj-cpp/portfile.cmake
  versions/baseline.json
  versions/l-/libpmemobj-cpp.json
Labels: category:port-update, info:internal, info:reviewed

#16322 [box2d] update to 2.4.1
  ports/box2d/CONTROL
  ports/box2d/export-targets.patch
  ports/box2d/portfile.cmake
  ports/box2d/vcpkg.json
  versions/b-/box2d.json
  versions/baseline.json
Labels: category:port-update, info:internal, info:reviewed

#16315 [python3] upgrade to 3.9.2
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update, info:reviewed

#16125 [sqlite3] Update to 3.34.1
  ports/sqlite3/CONTROL
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#16235 [hazelcast-cpp-client] Add new port
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:new-port, info:reviewed

#16380 [rsasynccpp] Add new port (Rstein.AsyncCpp)
  ports/rsasynccpp/portfile.cmake
  ports/rsasynccpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/rsasynccpp.json
Labels: category:new-port, requires:author-response

#16385 [vcpkg baseline] [itpp] Fix include directory
  ports/itpp/CONTROL
  ports/itpp/portfile.cmake
  ports/itpp/vcpkg.json
  versions/baseline.json
  versions/i-/itpp.json
Labels: category:port-bug, info:internal, info:reviewed

#16400 [vcpkg-tool] Publish release 2021-02-24-d67989bce1043b98092ac45996a8230a059a2d7e
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: category:vcpkg-feature, info:internal

#16421 [docs] Add references to awesome community websites. Fixes #16278
  docs/index.md
Labels: category:documentation, info:internal, info:reviewed

#16323 [docs] Add CMake Integration to manifests.md
  docs/users/integration.md
  docs/users/manifests.md
Labels: category:documentation, info:internal

#16411 [realsense2] Update version to v 2.42.0
  ports/realsense2/CONTROL
  ports/realsense2/portfile.cmake
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-update, info:internal, info:reviewed

#16404 [concurrentqueue] Update to 1.0.3
  ports/concurrentqueue/CONTROL
  ports/concurrentqueue/portfile.cmake
  ports/concurrentqueue/vcpkg.json
  versions/baseline.json
  versions/c-/concurrentqueue.json
Labels: category:port-update, info:internal, info:reviewed

#16397 [brotli] add iOS support
  ports/brotli/CONTROL
  ports/brotli/fix-ios.patch
  ports/brotli/portfile.cmake
  versions/b-/brotli.json
  versions/baseline.json
Labels: category:community-triplet, category:port-feature, info:reviewed

#16398 [libwebm] apply upstream changes to support Android NDK r15b and later
  ports/libwebm/0003-fix-android-ndk-r22.patch
  ports/libwebm/CONTROL
  ports/libwebm/portfile.cmake
  versions/baseline.json
  versions/l-/libwebm.json
Labels: category:port-bug, info:reviewed

#16378 [boost-context] fix linux -> windows cross compile
  ports/boost-context/b2-options.cmake.in
  ports/boost-context/portfile.cmake
  ports/boost-context/vcpkg.json
  versions/b-/boost-context.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed
