Repository microsoft/vcpkg, pull requests merged in 2021-05, with the labels that each got.

#16577 [icu] add host depedency
  ports/icu/CONTROL
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-feature, requires:discussion

#17580 [docs] Consolidate versioning documentation
  docs/examples/versioning.getting-started.md
  docs/maintainers/maintainer-guide.md
  docs/users/config-environment.md
  docs/users/manifests.md
  docs/users/versioning.md
  docs/users/versioning.reference.md
Labels: category:documentation, info:internal

#17634 [pthreadpool] remove unused dependency
  ports/pthreadpool/vcpkg.json
  versions/baseline.json
  versions/p-/pthreadpool.json
Labels: category:port-feature, info:reviewed

#17589 [ghc-filesystem] Fix port/package name discrepancy
  ports/ghc-filesystem/portfile.cmake
  ports/ghc-filesystem/vcpkg.json
  versions/baseline.json
  versions/g-/ghc-filesystem.json
Labels: category:port-bug, info:reviewed

#17593 [vcpkg baseline][libheif] fix CI errors if gdk-pixbuf can be found
  ports/libheif/CONTROL
  ports/libheif/gdk-pixbuf.patch
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-bug, info:reviewed

#17424 [grpc] Create codegen feature
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-feature, info:internal

#17611 [asio] Add inline dummy return patch
  ports/asio/inline_dummy_return.patch
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#17596 [cairo] Windows: Fix cairo dll definition
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  ports/cairo/win_dll_def.patch
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug

#17299 [ffmpeg] soxr dependency fix
  ports/ffmpeg/CONTROL
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#17659 [ffmpeg] fix dnn dependency
  ports/ffmpeg/0016-configure-dnn-needs-avformat.patch
  ports/ffmpeg/CONTROL
  ports/ffmpeg/portfile.cmake
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#17019 [fontconfig] Add cflags in tools build command
  ports/fontconfig/CONTROL
  ports/fontconfig/build2.patch
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-feature, info:reviewed, requires:author-response

#16847 Compile for android including armv6.
  scripts/toolchains/android.cmake
  triplets/community/arm-android.cmake
  triplets/community/arm-neon-android.cmake
  triplets/community/arm64-android.cmake
  triplets/community/armv6-android.cmake
  triplets/community/x64-android.cmake
  triplets/community/x86-android.cmake
Labels: category:community-triplet, info:reviewed

#17063 [cpuinfo,fbgemm,nnpack] update to latest source version and rename targets
  ports/cpuinfo/CONTROL
  ports/cpuinfo/fix-install.patch
  ports/cpuinfo/portfile.cmake
  ports/cpuinfo/vcpkg.json
  ports/fbgemm/fix-cmakelists.patch
  ports/fbgemm/vcpkg.json
  ports/nnpack/fix-cmakelists.patch
  ports/nnpack/vcpkg.json
  versions/baseline.json
  versions/c-/cpuinfo.json
  versions/f-/fbgemm.json
  versions/n-/nnpack.json
Labels: category:port-update, info:reviewed, requires:discussion

#17689 [vcpkg] Update vcpkg tool version 2021-05-05
  ports/liblsl/CONTROL
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  scripts/azure-pipelines/analyze-test-results.ps1
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/vcpkg_get_tags.cmake
  versions/baseline.json
  versions/l-/liblsl.json
  versions/p-/protobuf.json
Labels: category:port-bug, category:vcpkg-feature, info:internal, info:reviewed

#17204 [ffmpeg] avdevice CoreAudio dependency fix for osx
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed, requires:author-response

#17631 [tool-meson] update to 0.58
  ports/tool-meson/CONTROL
  ports/tool-meson/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  versions/baseline.json
  versions/t-/tool-meson.json
Labels: category:tool-update, info:reviewed

#17672 [docs registries] Add reference documentation
  .gitignore
  docs/README.md
  docs/maintainers/registries.md
  docs/users/registries.md
Labels: category:documentation, info:internal

#17683 [igraph] update to 0.9.3
  ports/igraph/001_add_crt_secure_no_warnings.patch
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#17669 [gtkmm] Update to 4.0.1
  ports/gtkmm/build.patch
  ports/gtkmm/gtkapi.patch
  ports/gtkmm/portfile.cmake
  ports/gtkmm/vcpkg.json
  versions/baseline.json
  versions/g-/gtkmm.json
Labels: category:port-update, info:reviewed

#17661 [google-cloud-cpp] update to latest (v1.27.0) version
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#17648 [seal]Updated to version 3.6.4
  ports/seal/CONTROL
  ports/seal/portfile.cmake
  versions/baseline.json
  versions/s-/seal.json
Labels: category:port-update, info:reviewed

#17641 [DCMTK] Update to 3.6.6
  ports/dcmtk/CONTROL
  ports/dcmtk/dcmtk.patch
  ports/dcmtk/portfile.cmake
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: category:port-update, info:reviewed

#17629 [msmpi] Update the download hash
  ports/msmpi/CONTROL
  ports/msmpi/portfile.cmake
  ports/msmpi/vcpkg.json
  versions/baseline.json
  versions/m-/msmpi.json
Labels: category:port-update, info:internal, info:reviewed

#17625 [ffmpeg] fix optional X11 platform dependencies
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#17624 [libass] Update to 0.15.1
  ports/libass/CMakeLists.txt
  ports/libass/config.h.in
  ports/libass/portfile.cmake
  ports/libass/vcpkg.json
  versions/baseline.json
  versions/l-/libass.json
Labels: category:port-update, info:reviewed

#17620 [cairo] update to 1.17.4
  ports/cairo/0001_fix_osx_defined.patch
  ports/cairo/build2.patch
  ports/cairo/export-only-in-shared-build.patch
  ports/cairo/portfile.cmake
  ports/cairo/remove_test_perf.patch
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-update, info:reviewed

#17598 [hdf5] fix pc files
  ports/hdf5/CONTROL
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, info:reviewed

#17597 [infoware] Bump version to 0.6.0
  ports/infoware/portfile.cmake
  ports/infoware/vcpkg.json
  versions/baseline.json
  versions/i-/infoware.json
Labels: category:port-update, info:reviewed

#17533 [cryptopp] Update to 8.5.0
  ports/cryptopp/CONTROL
  ports/cryptopp/cmake.patch
  ports/cryptopp/patch.patch
  ports/cryptopp/portfile.cmake
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-update, info:reviewed

#17456 [Openssl] Fix mingw build
  ports/openssl/CONTROL
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:community-triplet, info:reviewed

#17431 [nccl] Remove NCCL auto-download due to licensing issues
  ports/nccl/FindNCCL.cmake
  ports/nccl/portfile.cmake
  ports/nccl/vcpkg.json
  versions/baseline.json
  versions/n-/nccl.json
Labels: category:port-bug, info:reviewed

#16965 [libfido2] New port
  ports/libfido2/fix_cmakelists.patch
  ports/libfido2/portfile.cmake
  ports/libfido2/vcpkg.json
  versions/baseline.json
  versions/l-/libfido2.json
Labels: category:new-port, info:reviewed

#17032 [libtcod] Update to 1.16.7
  ports/libtcod/portfile.cmake
  ports/libtcod/vcpkg.json
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#17065 [qnnpack] create a new port
  ports/qnnpack/portfile.cmake
  ports/qnnpack/use-packages.patch
  ports/qnnpack/vcpkg.json
  versions/baseline.json
  versions/q-/qnnpack.json
Labels: category:new-port, info:reviewed

#17682 [fann] Support UNIX, re-fix installation
  ports/fann/CONTROL
  ports/fann/fix-installation.patch
  ports/fann/fix-uwp-build.patch
  ports/fann/portfile.cmake
  ports/fann/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/fann.json
Labels: category:port-feature, info:internal, info:reviewed

#17710 [libheif] Install pdbs
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-feature, info:internal, info:reviewed

#17637 [libffi] Update patch to fix apply patch failure
  ports/libffi/vcpkg.json
  ports/libffi/win32-disable-stackframe-check.patch
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-bug, info:internal, info:reviewed

#17714 [vcpkg baseline][asiosdk] Update hash
  ports/asiosdk/CONTROL
  ports/asiosdk/portfile.cmake
  ports/asiosdk/vcpkg.json
  versions/a-/asiosdk.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#17706 [vcpkg] Update cmake to 3.20.2
  scripts/vcpkgTools.xml
Labels: info:reviewed, info:world-rebuild

#17179 [docs] link to new functions in deprecated warnings
  docs/maintainers/portfile-functions.md
  docs/maintainers/vcpkg_apply_patches.md
  docs/maintainers/vcpkg_build_cmake.md
  docs/maintainers/vcpkg_configure_cmake.md
  docs/maintainers/vcpkg_fixup_cmake_targets.md
  docs/maintainers/vcpkg_install_cmake.md
  docs/regenerate.ps1
  scripts/cmake/vcpkg_apply_patches.cmake
  scripts/cmake/vcpkg_build_cmake.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_fixup_cmake_targets.cmake
  scripts/cmake/vcpkg_install_cmake.cmake
Labels: category:documentation, info:reviewed, info:world-rebuild

#17560 [doc] Fix spelling errors
  docs/about/privacy.md
  docs/examples/modify-baseline-to-pin-old-boost.md
  docs/examples/vcpkg_android_example_cmake_script/cmake/vcpkg_android.cmake
  docs/examples/versioning.getting-started.md
  docs/maintainers/control-files.md
  docs/maintainers/manifest-files.md
  docs/maintainers/ports/vcpkg-cmake/vcpkg_cmake_configure.md
  docs/maintainers/vcpkg_build_cmake.md
  docs/maintainers/vcpkg_build_make.md
  docs/maintainers/vcpkg_build_nmake.md
  docs/maintainers/vcpkg_copy_tools.md
  docs/specifications/prefab.md
  docs/specifications/registries-2.md
  docs/specifications/registries.md
  docs/specifications/versioning.md
  docs/users/android.md
  docs/users/config-environment.md
  docs/users/versioning.implementation-details.md
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_build_cmake.cmake
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_build_nmake.cmake
  scripts/cmake/vcpkg_copy_tools.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:documentation, info:world-rebuild

#17711 [protopuf] Update to 2.0.0
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-update, info:reviewed

#17709 [gtest] Update to the latest commit
  ports/gtest/0002-Fix-z7-override.patch
  ports/gtest/CONTROL
  ports/gtest/fix-build-failure-in-gcc-11.patch
  ports/gtest/fix-main-lib-path.patch
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-update, info:internal, info:reviewed

#17862 [sobjectizer] Update to 5.7.2.4
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed

#17797 [vcpkg baseline][chartdir] Update version to 7.0.0
  ports/chartdir/CONTROL
  ports/chartdir/portfile.cmake
  ports/chartdir/vcpkg.json
  versions/baseline.json
  versions/c-/chartdir.json
Labels: category:port-update, info:internal, info:reviewed

#17789 [bsio] Add new port
  ports/bsio/portfile.cmake
  ports/bsio/vcpkg.json
  versions/b-/bsio.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#17605 [vcpkg] Prepare 2021.05.12 release
  CHANGELOG.md
Labels: category:vcpkg-feature, info:internal, info:reviewed

#17846 [cairo] fixes cross compilation problems
  ports/cairo/0001-meson-fix-macOS-build-and-add-macOS-ci.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug, info:reviewed

#17798 [Python2 ]Update to 2.7.18
  ports/python2/001-build-msvc.patch
  ports/python2/002-build-msvc.patch
  ports/python2/004-static-library-msvc.patch
  ports/python2/005-static-crt-msvc.patch
  ports/python2/CONTROL
  ports/python2/portfile.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  versions/baseline.json
  versions/p-/python2.json
Labels: category:port-update, info:reviewed

#17766 [thor] Support UNIX, re-fix dependency sfml
  ports/thor/CONTROL
  ports/thor/fix-dependency-sfml.patch
  ports/thor/portfile.cmake
  ports/thor/sfml-no-depend-libjpeg.patch
  ports/thor/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/t-/thor.json
Labels: category:port-feature, info:reviewed

#17765 [prometheus-cpp] Update to version 0.12.3
  ports/prometheus-cpp/CONTROL
  ports/prometheus-cpp/portfile.cmake
  versions/baseline.json
  versions/p-/prometheus-cpp.json
Labels: category:port-update, info:reviewed

#17724 [hazelcast-cpp-client] update for new release version 4.1.0
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#17701 [embree3] Fix Embree 3 static compilation patch
  ports/embree3/CONTROL
  ports/embree3/fix-static-usage.patch
  versions/baseline.json
  versions/e-/embree3.json
Labels: category:port-bug, info:reviewed

#17418 [curl] Fix android builds. Greatly simplify pkgconfig handling.
  ports/curl/0009_fix_openssl_config.patch
  ports/curl/CONTROL
  ports/curl/CurlAndroidCrossCompile.cmake
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:community-triplet, info:internal, requires:author-response

#17776 [scripts-audit] gn buildsystem
  docs/maintainers/portfile-functions.md
  docs/maintainers/vcpkg_build_gn.md
  docs/maintainers/vcpkg_install_gn.md
  scripts/cmake/vcpkg_build_gn.cmake
  scripts/cmake/vcpkg_configure_gn.cmake
  scripts/cmake/vcpkg_install_gn.cmake
  scripts/ports.cmake
Labels: category:scripts-audit, info:internal, info:world-rebuild, requires:discussion

#17779 [scripts-audit] simple msbuild-buildsystem changes
  scripts/cmake/vcpkg_build_msbuild.cmake
  scripts/cmake/vcpkg_clean_msbuild.cmake
  scripts/cmake/vcpkg_install_msbuild.cmake
Labels: category:scripts-audit, info:internal, info:world-rebuild

#17955 [vcpkg.cmake] fix Neumann-A problem with find_package
  scripts/buildsystems/vcpkg.cmake
Labels: category:code-cleanup, info:internal, info:world-rebuild

#17527 [wxWidgets] update to 3.1.5
  ports/wxwidgets/fix-stl-build-vs2019-16.6.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-update, info:internal, info:reviewed

#16472 [tensorpipe] create a new port
  ports/tensorpipe/fix-cmakelists.patch
  ports/tensorpipe/portfile.cmake
  ports/tensorpipe/support-pybind11.patch
  ports/tensorpipe/support-test.patch
  ports/tensorpipe/vcpkg.json
  versions/baseline.json
  versions/t-/tensorpipe.json
Labels: category:new-port, info:reviewed

#17735 [ffmpeg] update to upstream version 4.4
  ports/ffmpeg/0008-Fix-wavpack-detection.patch
  ports/ffmpeg/0016-configure-dnn-needs-avformat.patch
  ports/ffmpeg/0017-Patch-for-ticket-9019-CUDA-Compile-Broken-Using-MSVC.patch
  ports/ffmpeg/CONTROL
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#17064 [xnnpack] create a new port
  ports/xnnpack/portfile.cmake
  ports/xnnpack/use-packages.patch
  ports/xnnpack/vcpkg.json
  versions/baseline.json
  versions/x-/xnnpack.json
Labels: category:new-port, info:reviewed

#17093 [tgui] Fix usage and update to 0.9.1
  ports/tgui/CONTROL
  ports/tgui/fix-dependencies.patch
  ports/tgui/fix-usage.patch
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#17343 [tinyfiledialogs] 3.6.3 -> 3.8.8
  ports/tinyfiledialogs/CONTROL
  ports/tinyfiledialogs/portfile.cmake
  versions/baseline.json
  versions/t-/tinyfiledialogs.json
Labels: category:port-update, info:reviewed

#17361 [robin-map] add target
  ports/robin-map/CONTROL
  ports/robin-map/portfile.cmake
  ports/robin-map/vcpkg.json
  versions/baseline.json
  versions/r-/robin-map.json
Labels: category:port-feature, info:reviewed

#17653 [vcpkg baseline][libmicrohttpd] Control dependencies, doc, examples, test
  ports/libmicrohttpd/CONTROL
  ports/libmicrohttpd/portfile.cmake
  ports/libmicrohttpd/vcpkg.json
  versions/baseline.json
  versions/l-/libmicrohttpd.json
Labels: category:port-bug, category:port-feature, info:reviewed

#17590 [winlamb] Add new port
  ports/winlamb/portfile.cmake
  ports/winlamb/vcpkg.json
  versions/baseline.json
  versions/w-/winlamb.json
Labels: category:new-port, info:reviewed

#17592 [openh264] only build shared or static library
  ports/openh264/0001-respect-default-library-option.patch
  ports/openh264/portfile.cmake
  ports/openh264/vcpkg.json
  versions/baseline.json
  versions/o-/openh264.json
Labels: category:port-bug, info:reviewed

#17644 [cudnn] Fix port: install find module, add usage
  ports/cudnn/CONTROL
  ports/cudnn/portfile.cmake
  ports/cudnn/usage
  versions/baseline.json
  versions/c-/cudnn.json
Labels: category:port-feature, info:reviewed

#17643 [flashlight-cpu] Update port
  ports/flashlight-cpu/portfile.cmake
  ports/flashlight-cpu/vcpkg.json
  versions/baseline.json
  versions/f-/flashlight-cpu.json
Labels: category:port-update, info:reviewed

#17668 [pango] update to 1.48.4
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: category:port-update, info:reviewed

#17601 [oatpp] update to 1.2.5
  ports/oatpp-consul/portfile.cmake
  ports/oatpp-consul/vcpkg.json
  ports/oatpp-curl/portfile.cmake
  ports/oatpp-curl/vcpkg.json
  ports/oatpp-libressl/portfile.cmake
  ports/oatpp-libressl/vcpkg.json
  ports/oatpp-mbedtls/portfile.cmake
  ports/oatpp-mbedtls/vcpkg.json
  ports/oatpp-mongo/no-designatore-expression.patch
  ports/oatpp-mongo/portfile.cmake
  ports/oatpp-mongo/vcpkg.json
  ports/oatpp-postgresql/fix-windows-build.patch
  ports/oatpp-postgresql/portfile.cmake
  ports/oatpp-postgresql/vcpkg.json
  ports/oatpp-sqlite/portfile.cmake
  ports/oatpp-sqlite/vcpkg.json
  ports/oatpp-swagger/portfile.cmake
  ports/oatpp-swagger/vcpkg.json
  ports/oatpp-websocket/portfile.cmake
  ports/oatpp-websocket/vcpkg.json
  ports/oatpp-zlib/portfile.cmake
  ports/oatpp-zlib/vcpkg.json
  ports/oatpp/fix-windows-build.patch
  ports/oatpp/portfile.cmake
  ports/oatpp/vcpkg.json
  versions/baseline.json
  versions/o-/oatpp-consul.json
  versions/o-/oatpp-curl.json
  versions/o-/oatpp-libressl.json
  versions/o-/oatpp-mbedtls.json
  versions/o-/oatpp-mongo.json
  versions/o-/oatpp-postgresql.json
  versions/o-/oatpp-sqlite.json
  versions/o-/oatpp-swagger.json
  versions/o-/oatpp-websocket.json
  versions/o-/oatpp-zlib.json
  versions/o-/oatpp.json
Labels: category:port-update, info:reviewed

#17900 [pybind11] update to 2.6.2
  ports/pybind11/CONTROL
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:internal, info:reviewed

#17910 [glfw3] update to 3.3.4
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:port-update, info:internal, info:reviewed

#17936 [sobjectizer] Update to 5.7.2.5
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed

#17937 [librdkafka] Upgrade up to 1.7
  ports/librdkafka/CONTROL
  ports/librdkafka/fix-arm64.patch
  ports/librdkafka/portfile.cmake
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#17952 [trantor] Update to 1.4.1
  ports/trantor/CONTROL
  ports/trantor/portfile.cmake
  ports/trantor/ssize_t.patch
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#17944 [libuv] Upgrade to v1.41.0
  ports/libuv/CONTROL
  ports/libuv/portfile.cmake
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-update, info:reviewed

#17916 [libdivide] bump up to 4.0.0
  ports/libdivide/CONTROL
  ports/libdivide/portfile.cmake
  versions/baseline.json
  versions/l-/libdivide.json
Labels: category:port-update, info:reviewed

#17925 [embree3] Update to 3.12.2 and add features
  ports/embree3/CONTROL
  ports/embree3/fix-path.patch
  ports/embree3/fix-static-usage.patch
  ports/embree3/portfile.cmake
  ports/embree3/vcpkg.json
  versions/baseline.json
  versions/e-/embree3.json
Labels: category:port-bug, category:port-update, info:internal, info:reviewed

#17958 [robin-hood-hashing] Update to 3.11.2
  ports/robin-hood-hashing/portfile.cmake
  ports/robin-hood-hashing/vcpkg.json
  versions/baseline.json
  versions/r-/robin-hood-hashing.json
Labels: category:port-update, info:reviewed

#17946 [libtcod] Update to 1.18.0
  ports/libtcod/portfile.cmake
  ports/libtcod/vcpkg.json
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#17923 [Entt] update to 3.7.1
  ports/entt/CONTROL
  ports/entt/portfile.cmake
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:internal, info:reviewed

#17966 [glad] fix features
  ports/glad/portfile.cmake
  ports/glad/vcpkg.json
  versions/baseline.json
  versions/g-/glad.json
Labels: category:port-bug, info:reviewed

#17953 [atomic-queue]: available in vcpkg!
  ports/atomic-queue/portfile.cmake
  ports/atomic-queue/vcpkg.json
  versions/a-/atomic-queue.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#17948 [vcpkg] Initial support of FreeBSD x86-64 platform
  triplets/community/x64-freebsd.cmake
Labels: category:port-feature, info:reviewed

#17935 [ade] fix single config triplets
  ports/ade/CONTROL
  ports/ade/portfile.cmake
  versions/a-/ade.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#17754 [Polyhook2]Update to the latest version
  ports/polyhook2/CONTROL
  ports/polyhook2/portfile.cmake
  versions/baseline.json
  versions/p-/polyhook2.json
Labels: category:port-update, info:reviewed

#17721 [qscintilla] Modify macro QSCINTILLA_DLL to 1 in qscintilla header
  ports/qscintilla/CONTROL
  ports/qscintilla/portfile.cmake
  ports/qscintilla/vcpkg.json
  versions/baseline.json
  versions/q-/qscintilla.json
Labels: category:port-bug, info:internal, info:reviewed

#17617 [rtaudio] add ASIO backend as a feature
  ports/rtaudio/portfile.cmake
  ports/rtaudio/remove-unused-variable.patch
  ports/rtaudio/vcpkg.json
  versions/baseline.json
  versions/r-/rtaudio.json
Labels: category:port-feature, info:reviewed

#17685 [minizip-ng] made cmake installs relative
  ports/minizip-ng/Modify-header-file-path.patch
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: category:port-bug, info:reviewed

#17716 [avcpp] Add new port
  ports/avcpp/0001-remove-problematic-compound-literal.patch
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#17700 [workflow] update the port workflow version
  ports/workflow/portfile.cmake
  ports/workflow/vcpkg.json
  versions/baseline.json
  versions/w-/workflow.json
Labels: category:port-update, info:reviewed

#17933 [ace] Upgrade to 7.0.2
  ports/ace/CONTROL
  ports/ace/portfile.cmake
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#17747 [libxml2] Improve pc file
  ports/libxml2/CMakeLists.txt
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:reviewed

#18000 [vcpkg docs] Update versioning.getting-started.md
  docs/examples/versioning.getting-started.md
Labels: category:documentation, info:internal, info:reviewed

#17983 [vcpkg baseline][many ports] Fix build error
  ports/clamav/portfile.cmake
  ports/clamav/vcpkg.json
  ports/embree2/CONTROL
  ports/embree2/cmake_policy.patch
  ports/embree2/portfile.cmake
  ports/embree2/vcpkg.json
  ports/embree3/cmake_policy.patch
  ports/embree3/portfile.cmake
  ports/embree3/vcpkg.json
  ports/mlpack/CONTROL
  ports/mlpack/fix-configure-error.patch
  ports/mlpack/fix-test-dependency.patch
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  ports/wxwidgets/fix-build.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/clamav.json
  versions/e-/embree2.json
  versions/e-/embree3.json
  versions/m-/mlpack.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:internal, info:reviewed

#18002 Azure SDK May Release
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  ports/azure-security-keyvault-common-cpp/portfile.cmake
  ports/azure-security-keyvault-common-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-identity-cpp.json
  versions/a-/azure-security-keyvault-common-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update

#17914 [libb2] fix build
  ports/libb2/portfile.cmake
  ports/libb2/vcpkg.json
  versions/baseline.json
  versions/l-/libb2.json
Labels: category:port-bug, info:reviewed, requires:discussion

#18039 [vcpkg baseline][libheif] Fix build failure on OSX
  ports/libheif/disable-depend-dav1d.patch
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-bug, info:internal, info:reviewed

#18034 [rtaudio] update port
  ports/rtaudio/portfile.cmake
  ports/rtaudio/remove-unused-variable.patch
  ports/rtaudio/vcpkg.json
  versions/baseline.json
  versions/r-/rtaudio.json
Labels: category:port-update, info:reviewed

#18031 [docs] Add vcpkg.dev to community sites
  docs/README.md
Labels: category:documentation, info:internal, info:reviewed

#18019 [json-dto] Update to 0.2.12
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update, info:reviewed

#18016 [wxwidgets] Merge fix-patch from upstream
  ports/wxwidgets/fix-build.patch
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:reviewed

#18001 [draco] Fix build failure on gcc 11
  ports/draco/fix-build-error-in-gcc11.patch
  ports/draco/vcpkg.json
  versions/baseline.json
  versions/d-/draco.json
Labels: category:port-bug, info:internal, info:reviewed

#17999 [ixwebsocket] Update to 11.2.6
  ports/ixwebsocket/portfile.cmake
  ports/ixwebsocket/vcpkg.json
  versions/baseline.json
  versions/i-/ixwebsocket.json
Labels: category:port-update, info:internal, info:reviewed

#17994 [sail] Update to 0.9.0-pre13
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#17954 [popsift] fix copy tools
  ports/popsift/portfile.cmake
  ports/popsift/vcpkg.json
  versions/baseline.json
  versions/p-/popsift.json
Labels: category:port-bug, info:reviewed

#17942 [getopt-win32] fix static builds
  ports/getopt-win32/CONTROL
  ports/getopt-win32/portfile.cmake
  ports/getopt-win32/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/getopt-win32.json
Labels: category:port-feature, info:reviewed, requires:discussion

#17926 [ismrmrd] Updated to version 1.5.0
  ports/ismrmrd/CONTROL
  ports/ismrmrd/portfile.cmake
  versions/baseline.json
  versions/i-/ismrmrd.json
Labels: category:port-update, info:reviewed

#17909 [openimageio] Add dependency for feature tools
  ports/openimageio/CONTROL
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-bug, info:internal, info:reviewed

#17761 Update proxy failure hint
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:tool-update, info:reviewed

#17645 [flashlight-cuda] Update port
  ports/flashlight-cuda/portfile.cmake
  ports/flashlight-cuda/vcpkg.json
  versions/baseline.json
  versions/f-/flashlight-cuda.json
Labels: category:port-update, info:reviewed

#17696 [cfitsio] Fix pc files
  ports/cfitsio/0004-pkg-config.patch
  ports/cfitsio/CONTROL
  ports/cfitsio/portfile.cmake
  ports/cfitsio/vcpkg.json
  versions/baseline.json
  versions/c-/cfitsio.json
Labels: category:port-bug, info:reviewed

#17586 [fltk] Update to 1.3.6 rc1 and fix osx build
  ports/fltk/add-link-libraries.patch
  ports/fltk/config-path.patch
  ports/fltk/findlibsfix.patch
  ports/fltk/fix-system-link.patch
  ports/fltk/fltk_version.dat
  ports/fltk/include.patch
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-update, info:internal, info:reviewed

#17551 [YARA] update to 4.1.0
  ports/yara/CONTROL
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-update, info:internal, info:reviewed

#17642 [spirv-tools] Update to v2021.1
  ports/spirv-tools/0001-don-t-use-MP4.patch
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-tools.json
Labels: category:port-update, info:reviewed

#17284 [ffmpeg] add usage
  ports/ffmpeg/usage
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#17268 [many ports] Update KF5 frameworks to 5.81
  ports/ecm/portfile.cmake
  ports/ecm/vcpkg.json
  ports/kf5archive/portfile.cmake
  ports/kf5archive/vcpkg.json
  ports/kf5completion/add-qdbus-to-required-libraries.patch
  ports/kf5completion/portfile.cmake
  ports/kf5completion/vcpkg.json
  ports/kf5config/portfile.cmake
  ports/kf5config/vcpkg.json
  ports/kf5coreaddons/portfile.cmake
  ports/kf5coreaddons/vcpkg.json
  ports/kf5crash/add_x11extras.patch
  ports/kf5crash/portfile.cmake
  ports/kf5crash/vcpkg.json
  ports/kf5guiaddons/portfile.cmake
  ports/kf5guiaddons/vcpkg.json
  ports/kf5holidays/portfile.cmake
  ports/kf5holidays/vcpkg.json
  ports/kf5i18n/portfile.cmake
  ports/kf5i18n/vcpkg.json
  ports/kf5itemmodels/portfile.cmake
  ports/kf5itemmodels/vcpkg.json
  ports/kf5itemviews/portfile.cmake
  ports/kf5itemviews/vcpkg.json
  ports/kf5plotting/portfile.cmake
  ports/kf5plotting/vcpkg.json
  ports/kf5syntaxhighlighting/portfile.cmake
  ports/kf5syntaxhighlighting/vcpkg.json
  ports/kf5widgetsaddons/portfile.cmake
  ports/kf5widgetsaddons/vcpkg.json
  ports/kf5windowsystem/portfile.cmake
  ports/kf5windowsystem/vcpkg.json
  versions/baseline.json
  versions/e-/ecm.json
  versions/k-/kf5archive.json
  versions/k-/kf5completion.json
  versions/k-/kf5config.json
  versions/k-/kf5coreaddons.json
  versions/k-/kf5crash.json
  versions/k-/kf5guiaddons.json
  versions/k-/kf5holidays.json
  versions/k-/kf5i18n.json
  versions/k-/kf5itemmodels.json
  versions/k-/kf5itemviews.json
  versions/k-/kf5plotting.json
  versions/k-/kf5syntaxhighlighting.json
  versions/k-/kf5widgetsaddons.json
  versions/k-/kf5windowsystem.json
Labels: category:port-update, info:reviewed

#17273 [HarfBuzz] Update Port to 2.8.1
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#17435 [catch2] updated catch2 to version 2.13.6
  ports/catch2/CONTROL
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#16478 [yasm-tool] Migrate to Host Dependencies
  ports/gmp/portfile.cmake
  ports/gmp/vcpkg.json
  ports/yasm-tool-helper/portfile.cmake
  ports/yasm-tool-helper/vcpkg.json
  ports/yasm-tool-helper/yasm-tool-helper.cmake
  ports/yasm-tool-helper/yasm-tool-helper.cmake.in
  ports/yasm-tool/portfile.cmake
  ports/yasm-tool/vcpkg-port-config.cmake.in
  ports/yasm-tool/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
  versions/y-/yasm-tool-helper.json
  versions/y-/yasm-tool.json
Labels: category:port-bug, info:internal, info:reviewed

#16971 [native supports-expr] docs changes
  docs/maintainers/control-files.md
  docs/maintainers/manifest-files.md
  docs/users/host-dependencies.md
Labels: category:documentation

#18077 [openh264] fixup the installed pkgconfig files
  ports/openh264/portfile.cmake
  ports/openh264/vcpkg.json
  versions/baseline.json
  versions/o-/openh264.json
Labels: category:port-bug, info:reviewed

#18078 [dav1d] fixup the installed pkgconfig files
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-bug, info:reviewed

#18087 [vcpkg baseline][asiosdk] Update the filename
  ports/asiosdk/portfile.cmake
  ports/asiosdk/vcpkg.json
  versions/a-/asiosdk.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#18070 [libgnutls] Disable tpm
  ports/libgnutls/portfile.cmake
  ports/libgnutls/vcpkg.json
  versions/baseline.json
  versions/l-/libgnutls.json
Labels: category:port-bug, info:reviewed

#18063 [vcpkg-cmake-config] Fix removal of files in `debug/share`
  ports/vcpkg-cmake-config/vcpkg.json
  ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake-config.json
Labels: category:port-bug, category:tool-update, info:reviewed

#18026 vcpkg_configure_meson: mingw build fix
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:tool-update, info:reviewed, info:world-rebuild

#18025 [libsodium] Fix mingw builds
  ports/libsodium/CMakeLists.txt
  ports/libsodium/vcpkg.json
  versions/baseline.json
  versions/l-/libsodium.json
Labels: category:port-bug, info:reviewed

#18024 [curl] Fix mingw to default to winssl (matching windows builds)
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#18005 [cudnn] Add library path
  ports/cudnn/CONTROL
  ports/cudnn/FindCUDNN.cmake
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  versions/baseline.json
  versions/c-/cudnn.json
Labels: category:port-bug, info:internal, info:reviewed

#17970 Don't create empty elements in include path vars
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, requires:discussion

#17969 [ctp] New version v6.6.1_P1_20210406_se
  ports/ctp/CONTROL
  ports/ctp/portfile.cmake
  versions/baseline.json
  versions/c-/ctp.json
Labels: category:port-update, info:reviewed

#17898 Fix handling of empty fields in vcpkg_fixup_pkgconfig
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
Labels: category:tool-update, info:reviewed

#17978 [vcpkg] Update tls12-download.exe to 2021-05-05 version
  scripts/tls12-download.exe
Labels: category:vcpkg-bug, info:internal, info:reviewed

#17715 [jxrlib] Add usage and fix FindJXR.cmake
  ports/jxrlib/CONTROL
  ports/jxrlib/FindJXR.cmake
  ports/jxrlib/portfile.cmake
  ports/jxrlib/usage
  ports/jxrlib/vcpkg.json
  versions/baseline.json
  versions/j-/jxrlib.json
Labels: category:port-bug, category:port-feature, info:internal, info:reviewed

#16908 [xmlsec] add pkgconfig files
  ports/xmlsec/CMakeLists.txt
  ports/xmlsec/CONTROL
  ports/xmlsec/pkgconfig_fixes.patch
  ports/xmlsec/portfile.cmake
  ports/xmlsec/vcpkg.json
  versions/baseline.json
  versions/x-/xmlsec.json
Labels: category:port-feature, info:reviewed

#16953 [libtasn1] Add Windows support, update to 4.17
  ports/libtasn1/msvc_fixes.patch
  ports/libtasn1/portfile.cmake
  ports/libtasn1/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libtasn1.json
Labels: category:port-feature, category:port-update, info:reviewed

#17137 [vcpkg] Fix lib uuid handling for x64-mingw-dynamic
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:community-triplet, info:reviewed

#18033 [Doc] Update binarycaching.md with clearer description
  docs/users/binarycaching.md
Labels: category:documentation, info:internal, info:reviewed

#17886 [yomm2] new port
  ports/yomm2/fix_find_boost.patch
  ports/yomm2/fix_uwp_osx.patch
  ports/yomm2/portfile.cmake
  ports/yomm2/vcpkg.json
  versions/baseline.json
  versions/y-/yomm2.json
Labels: category:new-port, info:reviewed

#17616 [geos] Relocatable geos-config; dynamic builds on Unix
  ports/geos/CONTROL
  ports/geos/make-geos-config-relocatable.patch
  ports/geos/pc-file-libs-private.patch
  ports/geos/portfile.cmake
  ports/geos/usage
  ports/geos/vcpkg.json
  versions/baseline.json
  versions/g-/geos.json
Labels: category:port-bug, category:port-feature, info:reviewed, requires:discussion

#18116 [vcpkg baseline][libtasn1] Fix static build
  ports/libtasn1/portfile.cmake
  ports/libtasn1/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libtasn1.json
Labels: category:port-bug, info:internal, info:reviewed

#18112 [scripts-audit] Rollup 2021-05-21
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/cmake/vcpkg_fail_port_install.cmake
  scripts/cmake/vcpkg_internal_escape_regex_control_characters.cmake
  scripts/cmake/z_vcpkg_apply_patches.cmake
  scripts/cmake/z_vcpkg_escape_regex_control_characters.cmake
  scripts/ports.cmake
Labels: category:scripts-audit, info:internal, info:reviewed

#17215 [vcpkg/scripts/make] determine whether to use automake wrappers
  scripts/cmake/vcpkg_configure_make.cmake
Labels: category:tool-update, info:reviewed, info:world-rebuild

#18119 [vcpkg] Remove workaround in Ci pipeline
  scripts/azure-pipelines/test-modified-ports.ps1
Labels: category:infrastructure, info:internal

#17845 [meson] fix build_machine configuration
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:tool-update, info:reviewed

#17348 [openssl] [aws-c-common] Fix AWS SDK for C++ build on WASM32 and Android
  ports/aws-c-common/CONTROL
  ports/aws-c-common/disable_outline_atomics.patch
  ports/aws-c-common/portfile.cmake
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/a-/aws-c-common.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:community-triplet, info:reviewed

#18069 [transwarp] add a new port
  ports/transwarp/portfile.cmake
  ports/transwarp/vcpkg.json
  versions/baseline.json
  versions/t-/transwarp.json
Labels: category:new-port, info:reviewed

#18100 [imgui] Update to 1.83 version
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed
