Repository microsoft/vcpkg, pull requests merged in 2022-08, with the labels that each got.

#26078 [Ixwebsocket] Update to 11.4.3
  ports/ixwebsocket/portfile.cmake
  ports/ixwebsocket/vcpkg.json
  versions/baseline.json
  versions/i-/ixwebsocket.json
Labels: category:port-update, info:reviewed

#26071 [c9y] update to version 0.4.0
  ports/c9y/portfile.cmake
  ports/c9y/vcpkg.json
  versions/baseline.json
  versions/c-/c9y.json
Labels: category:port-update, info:reviewed

#26061 [protobuf] update to 3.21.4
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-update, info:reviewed

#25954 [z3] Update to v4.10.2
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#25992 [dv-processing] Update to latest version
  ports/dv-processing/portfile.cmake
  ports/dv-processing/vcpkg-build.patch
  ports/dv-processing/vcpkg.json
  versions/baseline.json
  versions/d-/dv-processing.json
Labels: category:port-update, info:reviewed

#26084 [gtl] update version to v1.1.2
  ports/gtl/portfile.cmake
  ports/gtl/vcpkg.json
  versions/baseline.json
  versions/g-/gtl.json
Labels: category:port-update, info:reviewed

#26093 [apr-util] unglue macro
  ports/apr-util/portfile.cmake
  ports/apr-util/unglue.patch
  ports/apr-util/vcpkg.json
  versions/a-/apr-util.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#26095 [cpprestsdk] Fix narrowing and remove werror
  ports/cpprestsdk/fix_narrowing.patch
  ports/cpprestsdk/portfile.cmake
  ports/cpprestsdk/vcpkg.json
  versions/baseline.json
  versions/c-/cpprestsdk.json
Labels: category:port-bug, info:reviewed

#26074 [glib] Fix x64-linux-dynamic build
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#26088 [cgns] Fix x64-linux-dynamic build
  ports/cgns/portfile.cmake
  ports/cgns/vcpkg.json
  versions/baseline.json
  versions/c-/cgns.json
Labels: info:reviewed, category:community-triplet

#26090 [directx-headers, directxtk, directxtk12, directxtex, directxmesh, uvatlas] ports updated for July 2022
  ports/directx-headers/portfile.cmake
  ports/directx-headers/vcpkg.json
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directx-headers.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#26047 [cunit] Fix Linux library name and export CMake
  ports/cunit/CMakeLists.txt
  ports/cunit/portfile.cmake
  ports/cunit/vcpkg.json
  versions/baseline.json
  versions/c-/cunit.json
Labels: category:port-bug, info:internal, info:reviewed

#26052 [fontconfig] fix preprocessor for clang-cl
  ports/fontconfig/fix-preprocessor-clang-cl.patch
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-feature, info:reviewed

#26055 [highfive] clang-cl fix flags
  ports/highfive/fix_compiler_flags.patch
  ports/highfive/portfile.cmake
  ports/highfive/vcpkg.json
  versions/baseline.json
  versions/h-/highfive.json
Labels: category:port-feature, info:reviewed

#26053 [Flann] disable openmp
  ports/flann/portfile.cmake
  ports/flann/vcpkg.json
  versions/baseline.json
  versions/f-/flann.json
Labels: category:vcpkg-feature, requires:author-response

#26056 [Cairo] fix clang-cl build
  ports/cairo/fix_clang-cl_build.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-feature, info:reviewed

#26072 [hash-library] Install config file
  ports/hash-library/CMakeLists.txt
  ports/hash-library/vcpkg.json
  versions/baseline.json
  versions/h-/hash-library.json
Labels: category:port-bug, info:reviewed

#26023 [openssl] remove no-stdio for iOS
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#25607 [vcpkg_download_distfile] Make file name more unique
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: info:reviewed, category:tool-update

#26105 [simdjson] Update to 2.2.2
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#26110 [google-cloud-cpp] update to latest release (v2.1.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#26040 [docs] Add doc entry for `VCPKG_FIXUP_ELF_RPATH`
  docs/users/triplets.md
Labels: category:documentation, info:reviewed

#26069 [linmath] Add port
  ports/linmath/portfile.cmake
  ports/linmath/vcpkg.json
  versions/baseline.json
  versions/l-/linmath.json
Labels: category:new-port, info:reviewed

#26070 sdl2: Add patch fixing non-threaded emscripten build
  ports/sdl2/0005-emscripten-fix-undefined-symbol-errors-in-non-threaded.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#26045 [gpgmm] Add gpgmm. Highly experimental.
  ports/gpgmm/portfile.cmake
  ports/gpgmm/vcpkg.json
  versions/baseline.json
  versions/g-/gpgmm.json
Labels: category:new-port, info:reviewed

#26098 [harfbuzz] always fix pc files
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-feature, info:reviewed

#26085 [mp-units] Configure only src folder
  ports/mp-units/cmake.patch
  ports/mp-units/portfile.cmake
  ports/mp-units/vcpkg.json
  versions/baseline.json
  versions/m-/mp-units.json
Labels: category:port-feature, info:reviewed

#26126 [librdkafka] Upgrade version up to 1.9.2
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#26131 [sentry-native] Update to 0.5.0
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#26060 [curl] Fix SSL on iOS
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: info:reviewed, category:community-triplet

#26094 [cjson] respect toolchain flags
  ports/cjson/portfile.cmake
  ports/cjson/vcpkg.json
  versions/baseline.json
  versions/c-/cjson.json
Labels: category:port-feature, info:reviewed

#26142 [libjuice] chore(version): updated to 1.0.3
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libjuice.json
Labels: category:port-update, info:reviewed

#26141 [libdatachannel] chore(version): updated to 0.17.9
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#26113 [wxwidgets] Add feature fonts
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:internal, info:reviewed

#26057 [snappy] fix clang-cl builds
  ports/snappy/fix_clang-cl_build.patch
  ports/snappy/portfile.cmake
  ports/snappy/vcpkg.json
  versions/baseline.json
  versions/s-/snappy.json
Labels: category:port-feature, info:reviewed

#26096 [gstreamer] fix clang-cl builds
  ports/gstreamer/fix-clang-cl-bad.patch
  ports/gstreamer/fix-clang-cl-base.patch
  ports/gstreamer/fix-clang-cl-good.patch
  ports/gstreamer/fix-clang-cl-gstreamer.patch
  ports/gstreamer/fix-clang-cl-ugly.patch
  ports/gstreamer/fix-clang-cl.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:reviewed

#26077 [libmariadb] Fix features
  ports/libmariadb/portfile.cmake
  ports/libmariadb/vcpkg.json
  versions/baseline.json
  versions/l-/libmariadb.json
Labels: category:port-bug, info:reviewed

#25934 [Libcaer] Update to latest version
  ports/libcaer/libcaer-static-build.patch
  ports/libcaer/portfile.cmake
  ports/libcaer/vcpkg.json
  versions/baseline.json
  versions/l-/libcaer.json
Labels: category:port-update, info:reviewed

#26092 [avisynthplus] fix clang-cl/intel with ninja generator
  ports/avisynthplus/clang-cl.patch
  ports/avisynthplus/portfile.cmake
  ports/avisynthplus/vcpkg.json
  versions/a-/avisynthplus.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#25937 [glib] Support static build on Windows.
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-bug, info:internal

#26146 [superlu] Fix superlu.lib missing
  ports/superlu/portfile.cmake
  ports/superlu/vcpkg.json
  versions/baseline.json
  versions/s-/superlu.json
Labels: category:port-bug, info:internal, info:reviewed

#26121 [libmysql] Add ncurses dependency
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-feature, info:reviewed

#26116 [oatpp*] Remove CMAKE_CXX_FLAGS setting
  ports/oatpp-consul/portfile.cmake
  ports/oatpp-consul/vcpkg.json
  ports/oatpp-curl/portfile.cmake
  ports/oatpp-curl/vcpkg.json
  ports/oatpp-libressl/portfile.cmake
  ports/oatpp-libressl/vcpkg.json
  ports/oatpp-mongo/portfile.cmake
  ports/oatpp-mongo/vcpkg.json
  ports/oatpp-postgresql/portfile.cmake
  ports/oatpp-postgresql/vcpkg.json
  ports/oatpp-sqlite/portfile.cmake
  ports/oatpp-sqlite/vcpkg.json
  ports/oatpp-ssdp/portfile.cmake
  ports/oatpp-ssdp/vcpkg.json
  ports/oatpp-swagger/portfile.cmake
  ports/oatpp-swagger/vcpkg.json
  ports/oatpp-zlib/portfile.cmake
  ports/oatpp-zlib/vcpkg.json
  ports/oatpp/portfile.cmake
  ports/oatpp/vcpkg.json
  versions/baseline.json
  versions/o-/oatpp-consul.json
  versions/o-/oatpp-curl.json
  versions/o-/oatpp-libressl.json
  versions/o-/oatpp-mongo.json
  versions/o-/oatpp-postgresql.json
  versions/o-/oatpp-sqlite.json
  versions/o-/oatpp-ssdp.json
  versions/o-/oatpp-swagger.json
  versions/o-/oatpp-zlib.json
  versions/o-/oatpp.json
Labels: category:port-bug, info:internal, info:reviewed

#25883 [ogre] Fix pkgconfig
  ports/ogre/fix-pkgconfig.patch
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-bug, info:internal, info:reviewed

#26144 [live555] Update to 2022-07-14
  ports/live555/fix-RTSPClient.patch
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#26083 [sdl2-mixer] Fix usage
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/usage
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-feature

#26162 [brpc] Add DISABLE_PARALLEL_CONFIGURE
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#26175 [azure-core-cpp] publish version 1.7.1
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: info:reviewed

#26157 [gklib] Fix share path case.
  ports/gklib/build-fixes.patch
  ports/gklib/portfile.cmake
  ports/gklib/vcpkg.json
  versions/baseline.json
  versions/g-/gklib.json
Labels: category:port-bug, info:internal

#25995 [python3] x64-linux-dynamic fixes
  ports/python3/0010-ensurepip.patch
  ports/python3/0011-dont-skip-rpath.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#25658 [fmt] Update to 9.0.0
  ports/fmt/fix-format-conflict.patch
  ports/fmt/fix-invalid-command.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:port-update, info:reviewed

#26024 [osgearth] Fix errors that occur in the osgearth config file on some platforms
  ports/osgearth/fix-osgearth-config.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-bug, info:reviewed

#25821 [opencc] Update to 1.1.4, fix x64-linux-dynamic build
  ports/opencc/portfile.cmake
  ports/opencc/vcpkg.json
  versions/baseline.json
  versions/o-/opencc.json
Labels: category:port-update, info:reviewed, category:community-triplet

#26159 [libvpx] update version to 1.12.0
  ports/libvpx/0003-add-uwp-v142-and-v143-support.patch
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/l-/libvpx.json
Labels: info:internal, category:port-update, info:reviewed

#25812 [stb] Add stb_perlin.h
  ports/stb/portfile.cmake
  ports/stb/vcpkg.json
  versions/baseline.json
  versions/s-/stb.json
Labels: category:port-bug, info:reviewed

#26026 [sdl2-ttf,tgui,sfml] Update sdl2-ttf to 2.20.0, revise dependencies import and export
  ports/milerius-sfml-imgui/FixFindPackageIssue.patch
  ports/milerius-sfml-imgui/vcpkg.json
  ports/sdl2-ttf/CMakeLists.txt
  ports/sdl2-ttf/fix-pkgconfig.patch
  ports/sdl2-ttf/portfile.cmake
  ports/sdl2-ttf/usage
  ports/sdl2-ttf/vcpkg.json
  ports/sdl2pp/fix-dependencies.patch
  ports/sdl2pp/vcpkg.json
  ports/sfml/fix-dependencies.patch
  ports/sfml/portfile.cmake
  ports/sfml/stb_include.patch
  ports/sfml/use-system-freetype.patch
  ports/sfml/vcpkg.json
  ports/tgui/devendor-stb.patch
  ports/tgui/fix-dependencies.patch
  ports/tgui/fix-usage.patch
  ports/tgui/portfile.cmake
  ports/tgui/usage
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/m-/milerius-sfml-imgui.json
  versions/s-/sdl2-ttf.json
  versions/s-/sdl2pp.json
  versions/s-/sfml.json
  versions/t-/tgui.json
Labels: category:port-update, info:reviewed

#26154 [bshoshany-thread-pool] Updated to v3.3.0
  ports/bshoshany-thread-pool/portfile.cmake
  ports/bshoshany-thread-pool/vcpkg.json
  versions/b-/bshoshany-thread-pool.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26051 [libpq] update to 14.4 and pass flags in msbuild
  ports/libpq/libpq.props.in
  ports/libpq/patches/fix-configure.patch
  ports/libpq/patches/windows/macro-def.patch
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-update, info:reviewed

#26170 [openssl] Fix pc files
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#22191 [docs] binarycaching.md: NuGet requires to set API Key for source
  docs/users/binarycaching.md
Labels: category:documentation, info:reviewed

#25591 [urdfdom] Update to 3.1.0
  ports/dartsim/disable_unit_tests_examples_and_tutorials.patch
  ports/dartsim/portfile.cmake
  ports/dartsim/vcpkg.json
  ports/urdfdom-headers/fix-include-path.patch
  ports/urdfdom-headers/portfile.cmake
  ports/urdfdom-headers/vcpkg.json
  ports/urdfdom/0001_use_math_defines.patch
  ports/urdfdom/0002_fix_exports.patch
  ports/urdfdom/0004_fix-dependency-console_bridge.patch
  ports/urdfdom/0005-fix-config-and-install.patch
  ports/urdfdom/portfile.cmake
  ports/urdfdom/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/dartsim.json
  versions/u-/urdfdom-headers.json
  versions/u-/urdfdom.json
Labels: category:port-update, info:reviewed

#25863 [boost] Look for /Zi and other flags
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#25997 [dlib] Fix pc file, cleanup, drop lib suffixes for MSVC
  ports/dlib/fix-dependencies.patch
  ports/dlib/fix-sqlite3-fftw-linkage.patch
  ports/dlib/force_finding_packages.patch
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: category:port-bug, info:reviewed

#26151 [cryptopp]: Fix compilation with clang-cl
  ports/cryptopp/cmake.patch
  ports/cryptopp/patch.patch
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#26155 [ace] Update to 7.0.8
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26156 [botan] Add arm64-windows support
  ports/botan/arm64-windows.patch
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#26058 [tree-sitter] add new port
  ports/tree-sitter/CMakeLists.txt
  ports/tree-sitter/pkgconfig.patch
  ports/tree-sitter/portfile.cmake
  ports/tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter.json
Labels: category:new-port, info:reviewed

#26166 [magic-enum] Update to v0.8.1
  ports/magic-enum/portfile.cmake
  ports/magic-enum/vcpkg.json
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#26168 [nameof] Update to 0.10.2
  ports/nameof/portfile.cmake
  ports/nameof/vcpkg.json
  versions/baseline.json
  versions/n-/nameof.json
Labels: category:port-update, info:reviewed

#26176 [azure-core-tracing-opentelemetry-cpp] publish version 1.0.0-beta.3
  ports/azure-core-tracing-opentelemetry-cpp/3844.patch
  ports/azure-core-tracing-opentelemetry-cpp/portfile.cmake
  ports/azure-core-tracing-opentelemetry-cpp/vcpkg.json
  versions/a-/azure-core-tracing-opentelemetry-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26182 [arrow] fix build with clang-cl
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#26183 [graphene] fix clang-cl build
  ports/graphene/fix_clang-cl.patch
  ports/graphene/portfile.cmake
  ports/graphene/vcpkg.json
  versions/baseline.json
  versions/g-/graphene.json
Labels: category:port-bug, info:reviewed

#26185 [Luasocket] fix builds without pdbs
  ports/luasocket/portfile.cmake
  ports/luasocket/vcpkg.json
  versions/baseline.json
  versions/l-/luasocket.json
Labels: category:port-bug, info:reviewed

#26207 [gdk-pixbuf] Enable build in CI.
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#26180 [vcpkg baseline][libcaer] Disable parallel configure
  ports/libcaer/portfile.cmake
  ports/libcaer/vcpkg.json
  versions/baseline.json
  versions/l-/libcaer.json
Labels: category:port-bug, info:internal

#26163 [ffmpeg] Fix prefix detection
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:internal

#26184 [gts] fix build with clang-cl
  ports/gts/fix-dllexport_2.patch
  ports/gts/fix_missing_extern.patch
  ports/gts/portfile.cmake
  ports/gts/vcpkg.json
  versions/baseline.json
  versions/g-/gts.json
Labels: info:reviewed, category:community-triplet

#26209 [tree-sitter] fix typo in version number
  ports/tree-sitter/CMakeLists.txt
  ports/tree-sitter/portfile.cmake
  ports/tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter.json
Labels: category:port-bug

#26173 [eve] Update to latest version
  ports/eve/portfile.cmake
  ports/eve/vcpkg.json
  versions/baseline.json
  versions/e-/eve.json
Labels: category:port-update, info:reviewed

#26224 [tree-sitter] Remove the invalid records
  versions/t-/tree-sitter.json
Labels: category:port-bug, info:internal, info:reviewed

#26225 [expected-lite] update to v0.6.2
  ports/expected-lite/portfile.cmake
  ports/expected-lite/vcpkg.json
  versions/baseline.json
  versions/e-/expected-lite.json
Labels: info:internal, category:port-update, info:reviewed

#26227 [glad] update to v0.1.36
  ports/glad/portfile.cmake
  ports/glad/vcpkg.json
  versions/baseline.json
  versions/g-/glad.json
Labels: info:internal, category:port-update, info:reviewed

#26222 [Azure Storage] Update to August Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26216 [DiscordCoreAPI] Update to version 2022-08-07
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#26212 [azmq] update to v1.0.3
  ports/azmq/portfile.cmake
  ports/azmq/vcpkg.json
  versions/a-/azmq.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26210 [libfv] update libfv version to v0.0.8
  ports/fawdlstty-libfv/portfile.cmake
  ports/fawdlstty-libfv/vcpkg.json
  versions/baseline.json
  versions/f-/fawdlstty-libfv.json
Labels: category:port-update, info:reviewed

#26145 [minio-cpp] chore(version): updated to v0.1.0
  ports/minio-cpp/fix_cmake_file.patch
  ports/minio-cpp/portfile.cmake
  ports/minio-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/minio-cpp.json
Labels: category:port-update, info:reviewed

#26206 [pdal] Prepare for nlohmann-json 3.11.x
  ports/pdal/portfile.cmake
  ports/pdal/vcpkg.json
  versions/baseline.json
  versions/p-/pdal.json
Labels: category:port-feature, info:reviewed

#26219 [libsrt] Update to 1.5.0
  ports/libsrt/portfile.cmake
  ports/libsrt/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libsrt.json
Labels: category:new-port, info:reviewed

#26165 [rapidjson] Fix cmake config
  ports/rapidjson/portfile.cmake
  ports/rapidjson/vcpkg.json
  versions/baseline.json
  versions/r-/rapidjson.json
Labels: category:port-bug, info:reviewed

#26152 libusb: Fix compilation on MinGW
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: info:reviewed, category:community-triplet

#26199 [grpc] Fix protobuf protoc executable variable
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-feature, depends:different-pr

#26239 [pybind11] Fix usage
  ports/pybind11/fix-usage.patch
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-bug, info:internal, info:reviewed

#26232 [breakpad] Update to 2022.07.12
  ports/breakpad/fix-unordered_map.patch
  ports/breakpad/portfile.cmake
  ports/breakpad/vcpkg.json
  scripts/ci.baseline.txt
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26229 [harfbuzz] Fix build error
  ports/harfbuzz/fix-win32-build.patch
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-bug, info:internal, info:reviewed

#26230 [aws-c-common/aws-c-io ] update to the latest version
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-io.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26234 [opentelemetry-cpp] update version to 1.5.0
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#26231 [crashrpt] Fix build error
  ports/crashrpt/002-fix-wtl-includepath.patch
  ports/crashrpt/003-add-definition-UNICODE.patch
  ports/crashrpt/portfile.cmake
  ports/crashrpt/vcpkg.json
  versions/baseline.json
  versions/c-/crashrpt.json
Labels: category:port-bug, info:internal, info:reviewed

#25365 [cmake] update to 3.24
  scripts/vcpkgTools.xml
Labels: info:reviewed, category:tool-update

#26240 [vcpkg] Fix cross compiling macOS
  scripts/toolchains/osx.cmake
Labels: category:vcpkg-bug, info:reviewed

#26248 [buck-yeh-bux] fix clang-cl builds
  ports/buck-yeh-bux/fix-clang-cl.patch
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#26251 [cppcms] Fix narrowing for clang-cl builds
  ports/cppcms/fix_narrowing_error.patch
  ports/cppcms/portfile.cmake
  ports/cppcms/vcpkg.json
  versions/baseline.json
  versions/c-/cppcms.json
Labels: info:reviewed, category:community-triplet

#26253 [crc32c] Clang-cl fix
  ports/crc32c/fix_clang-cl.patch
  ports/crc32c/portfile.cmake
  ports/crc32c/vcpkg.json
  versions/baseline.json
  versions/c-/crc32c.json
Labels: category:port-feature, info:reviewed

#26252 [cpr] disable werror
  ports/cpr/disable_werror.patch
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
Labels: category:port-feature, requires:author-response

#26262 [sqlcipher] update to 4.5.2
  ports/sqlcipher/portfile.cmake
  ports/sqlcipher/vcpkg.json
  versions/baseline.json
  versions/s-/sqlcipher.json
Labels: category:port-update, requires:author-response

#26258 [osgearth] Fix naming of target and exported variables
  ports/osgearth/fix-osgearth-config.patch
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-bug

#26177 [vcpkg-msbuild-integration] Set the default value of `VcpkgConfiguration` according to `$(UseDebugLibraries)`
  scripts/buildsystems/msbuild/vcpkg.props
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-feature, info:internal

#24845 [gobject-introspection] no absolute paths
  ports/gobject-introspection/0003-fix-paths.patch
  ports/gobject-introspection/portfile.cmake
  ports/gobject-introspection/vcpkg.json
  versions/baseline.json
  versions/g-/gobject-introspection.json
Labels: category:port-bug, requires:vcpkg-team-review

#22363 [mathgl] no absolute paths
  ports/mathgl/portfile.cmake
  ports/mathgl/vcpkg.json
  versions/baseline.json
  versions/m-/mathgl.json
Labels: category:port-bug, requires:vcpkg-team-review

#26261 [sdl2] add 'wayland' feature
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-feature, info:reviewed

#25652 [mysql-connector-cpp] Add new port
  ports/mysql-connector-cpp/FindMySQL.cmake
  ports/mysql-connector-cpp/fix-static-build.patch
  ports/mysql-connector-cpp/mysql-connector-cpp-config.cmake.in
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/usage
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:new-port, requires:author-response

#25856 [luajit] update to the latest commit
  ports/luajit/001-fix-build-path.patch
  ports/luajit/002-fix-crt-linkage.patch
  ports/luajit/003-do-not-set-macosx-deployment-target.patch
  ports/luajit/portfile.cmake
  ports/luajit/vcpkg.json
  versions/baseline.json
  versions/l-/luajit.json
Labels: info:internal, category:port-update, info:reviewed

#26122 [openldap] Add new port
  ports/openldap/m4.patch
  ports/openldap/openssl.patch
  ports/openldap/portfile.cmake
  ports/openldap/subdirs.patch
  ports/openldap/usage
  ports/openldap/vcpkg.json
  versions/baseline.json
  versions/o-/openldap.json
Labels: category:new-port, info:reviewed

#26236 [rioki-glow] Adds new port glow 0.2.0
  ports/rioki-glow/portfile.cmake
  ports/rioki-glow/vcpkg.json
  versions/baseline.json
  versions/r-/rioki-glow.json
Labels: category:new-port, info:reviewed

#26244 [fakeit] update to 2.3.0
  ports/fakeit/portfile.cmake
  ports/fakeit/vcpkg.json
  versions/baseline.json
  versions/f-/fakeit.json
Labels: category:port-update, info:reviewed

#26257 [minio-cpp] chore(version): updated to v0.1.1
  ports/minio-cpp/portfile.cmake
  ports/minio-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/minio-cpp.json
Labels: category:port-update, info:reviewed

#26263 [openal-soft] add 'pipewire' feature and PulseAudio backend
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-feature, info:reviewed

#26269 [pixman] add mips64 support
  ports/pixman/portfile.cmake
  ports/pixman/vcpkg.json
  versions/baseline.json
  versions/p-/pixman.json
Labels: category:port-feature, info:reviewed

#26273 [libuv] update to 1.44.2
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-update, info:reviewed

#26267 [boost-modular-build-helper] add mips64 support
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#26266 [libffi] add misp64 support
  ports/libffi/CMakeLists.txt
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: info:reviewed, category:community-triplet

#26268 [libmariadb] update to v3.3.1
  ports/libmariadb/arm64.patch
  ports/libmariadb/export-cmake-targets.patch
  ports/libmariadb/fix-InstallPath.patch
  ports/libmariadb/no-extra-static-lib.patch
  ports/libmariadb/pkgconfig.patch
  ports/libmariadb/portfile.cmake
  ports/libmariadb/vcpkg.json
  versions/baseline.json
  versions/l-/libmariadb.json
Labels: info:internal, category:port-update, info:reviewed

#26201 Audit use of TO_NATIVE_PATH.
  ports/gdal/dependency_win.cmake
  ports/gdal/vcpkg.json
  ports/opengl/portfile.cmake
  ports/opengl/vcpkg.json
  ports/openni2/portfile.cmake
  ports/openni2/vcpkg.json
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  scripts/buildsystems/vcpkg.cmake
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_build_qmake.cmake
  scripts/cmake/vcpkg_execute_required_process_repeat.cmake
  scripts/ports.cmake
  versions/baseline.json
  versions/g-/gdal.json
  versions/o-/opengl.json
  versions/o-/openni2.json
  versions/o-/openssl.json
Labels: category:vcpkg-bug, category:port-bug, info:internal, category:scripts-audit

#23568 [vcpkg_from_gitlab] improvements
  scripts/cmake/vcpkg_download_distfile.cmake
  scripts/cmake/vcpkg_from_gitlab.cmake
Labels: info:reviewed, category:tool-update

#25845 [libgpiod] Arm support cxx bindings
  ports/libgpiod/portfile.cmake
  ports/libgpiod/vcpkg.json
  versions/baseline.json
  versions/l-/libgpiod.json
Labels: category:port-feature, info:reviewed

#26242 [Tesseract] Add arm64-windows
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-feature, info:reviewed

#26255 [Dcmtk] enable dependencies
  ports/dcmtk/portfile.cmake
  ports/dcmtk/vcpkg.json
  ports/dcmtk/windows-patch.patch
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: category:port-feature, info:reviewed

#26275 [xtensor-blas] Updates to 0.20.0
  ports/xtensor-blas/portfile.cmake
  ports/xtensor-blas/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor-blas.json
Labels: category:port-update, info:reviewed

#26280 [sqlite3] update to 3.39.2
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#26289 [glfw3] update to 3.3.8
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: info:internal, category:port-update, info:reviewed

#26291 [opencc] De-vendor rapidjson
  ports/opencc/fix-dependencies.patch
  ports/opencc/portfile.cmake
  ports/opencc/vcpkg.json
  versions/baseline.json
  versions/o-/opencc.json
Labels: category:port-feature, info:internal, info:reviewed

#26292 [dv-processing] Update to hotfix release 1.5.1
  ports/dv-processing/portfile.cmake
  ports/dv-processing/vcpkg.json
  versions/baseline.json
  versions/d-/dv-processing.json
Labels: category:port-update, info:reviewed

#26302 [bdwgc] Installing pkg-config files for debug builds
  ports/bdwgc/portfile.cmake
  ports/bdwgc/vcpkg.json
  versions/b-/bdwgc.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#26310 [shaderwriter] Update to v2.4.0
  ports/shaderwriter/portfile.cmake
  ports/shaderwriter/vcpkg.json
  versions/baseline.json
  versions/s-/shaderwriter.json
Labels: category:port-update, info:reviewed

#26319 [libwebp] Update to 1.2.4
  ports/libwebp/portfile.cmake
  ports/libwebp/vcpkg.json
  versions/baseline.json
  versions/l-/libwebp.json
Labels: category:port-update, info:reviewed

#26124 [nlohmann-json] Update to 3.11.2
  ports/nlohmann-json/portfile.cmake
  ports/nlohmann-json/usage
  ports/nlohmann-json/vcpkg.json
  versions/baseline.json
  versions/n-/nlohmann-json.json
Labels: category:port-update, info:reviewed

#26324 [libosmium] Update to 2.18.0
  ports/libosmium/portfile.cmake
  ports/libosmium/vcpkg.json
  versions/baseline.json
  versions/l-/libosmium.json
Labels: category:port-update, info:reviewed

#26249 [c89stringutils] remove forced flags
  ports/c89stringutils/no_flags.patch
  ports/c89stringutils/portfile.cmake
  ports/c89stringutils/vcpkg.json
  versions/baseline.json
  versions/c-/c89stringutils.json
Labels: category:port-feature, info:reviewed

#26341 [ci.baseline.txt] add some entries for arm64-osx
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#26338 [geos] fix clang-cl builds
  ports/geos/fix_clang-cl.patch
  ports/geos/portfile.cmake
  ports/geos/vcpkg.json
  versions/baseline.json
  versions/g-/geos.json
Labels: category:port-bug, info:reviewed

#26114 [tesseract] update to 5.2.0
  ports/opencv4/0018-fix-depend-tesseract.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  ports/tesseract/fix-depend-libarchive.patch
  ports/tesseract/fix-tiff-linkage.patch
  ports/tesseract/fix-timeval.patch
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
  versions/t-/tesseract.json
Labels: info:internal, category:port-update, info:reviewed

#26329 [szip] add definitions for the try_run call for iOS
  ports/szip/portfile.cmake
  ports/szip/vcpkg.json
  versions/baseline.json
  versions/s-/szip.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#26360 [luajit] Fix build failure that resulted in no output.
  ports/luajit/002-fix-crt-linkage.patch
  ports/luajit/004-fix-build-path-and-crt-linkage.patch
  ports/luajit/portfile.cmake
  ports/luajit/vcpkg.json
  versions/baseline.json
  versions/l-/luajit.json
Labels: category:port-bug, info:internal, info:reviewed

#26350 [libmt32emu] Update to 2.7.0
  ports/libmt32emu/portfile.cmake
  ports/libmt32emu/vcpkg.json
  versions/baseline.json
  versions/l-/libmt32emu.json
Labels: info:internal, category:port-update, info:reviewed

#26356 [dpp] update from 10.0.15 to 10.0.16
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#26358 [asio] upgrade to version 1.24.0
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26365 [docs] Update triplets.md for VS2022
  docs/users/triplets.md
Labels: category:documentation, info:reviewed

#26367 [libsquish] Fix usage
  ports/libsquish/export-target.patch
  ports/libsquish/vcpkg.json
  versions/baseline.json
  versions/l-/libsquish.json
Labels: category:port-bug, info:internal, info:reviewed

#26300 [gmp] arm64 windows build support
  ports/gmp/portfile.cmake
  ports/gmp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gmp.json
Labels: category:port-feature, info:reviewed

#26187 [arrow] Update Arrow to 9.0.0
  ports/arrow/cuda-ptr.patch
  ports/arrow/fix-ThirdPartyToolchain.patch
  ports/arrow/portfile.cmake
  ports/arrow/static-link-libs.patch
  ports/arrow/vcpkg.json
  ports/arrow/vs-2022-fixes.patch
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed
