Repository microsoft/vcpkg, pull requests merged in 2022-03, with the labels that each got.

#23238 [xtensor] Update to 0.24.0
  ports/xtensor/portfile.cmake
  ports/xtensor/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor.json
Labels: info:internal, category:port-update, info:reviewed

#23283 Remove deprecated cmake from templates
  scripts/templates/portfile.in.cmake
  scripts/templates/vcpkg.json.in
Labels: info:reviewed, category:tool-update

#23321 update maintainer docs due to cmake 3.22
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:reviewed

#23286 [Intelrdfpmathlib] Fix post build error
  ports/intelrdfpmathlib/portfile.cmake
  ports/intelrdfpmathlib/vcpkg.json
  versions/baseline.json
  versions/i-/intelrdfpmathlib.json
Labels: category:port-bug, info:reviewed

#23173 [libcpplocate] New port
  ports/libcpplocate/fix-install-paths.patch
  ports/libcpplocate/portfile.cmake
  ports/libcpplocate/vcpkg.json
  versions/baseline.json
  versions/l-/libcpplocate.json
Labels: category:new-port, info:reviewed

#22329 [python2] no absolute paths
  ports/python2/portfile.cmake
  ports/python2/vcpkg.json
  versions/baseline.json
  versions/p-/python2.json
Labels: category:port-bug, info:reviewed

#22342 [openmvg] no absolute paths
  ports/openmvg/portfile.cmake
  ports/openmvg/vcpkg.json
  versions/baseline.json
  versions/o-/openmvg.json
Labels: category:port-feature, info:reviewed

#22567 [vcpkg_configure_make] Report warning when unresolved arguments are passed in
  ports/apr-util/portfile.cmake
  ports/apr-util/vcpkg.json
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  ports/liburing/portfile.cmake
  ports/liburing/vcpkg.json
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  versions/a-/apr-util.json
  versions/a-/apr.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: category:vcpkg-feature, info:internal, info:reviewed, category:tool-update

#23250 [triton] Fix usage
  ports/triton/fix-dependencies.patch
  ports/triton/vcpkg.json
  versions/baseline.json
  versions/t-/triton.json
Labels: category:port-bug, info:internal, info:reviewed

#23296 [SpeexDSP] Missing windows definitions
  ports/speexdsp/jitter_ctl.patch
  ports/speexdsp/portfile.cmake
  ports/speexdsp/vcpkg.json
  versions/baseline.json
  versions/s-/speexdsp.json
Labels: category:port-bug, info:reviewed

#23325 [calceph] update to version 3.5.1
  ports/calceph/makefilevc.patch
  ports/calceph/portfile.cmake
  ports/calceph/vcpkg.json
  versions/baseline.json
  versions/c-/calceph.json
Labels: category:port-update, info:reviewed

#23330 [mpir] Fix download REF and HASH
  ports/mpir/portfile.cmake
  ports/mpir/vcpkg.json
  versions/baseline.json
  versions/m-/mpir.json
Labels: category:port-bug, info:internal, info:reviewed

#23342 [google-cloud-cpp] update to latest release (v1.37.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/support_absl_cxx17.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#23338 [polyhook2] Update to latest (2022-03-01)
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  versions/baseline.json
  versions/p-/polyhook2.json
Labels: category:port-update, info:reviewed

#23335 [fmt] fix invalid command
  ports/fmt/fix-invalid-command.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:port-bug, info:internal, info:reviewed

#23332 [directxmath, directxtex, directxmesh, directxtk, directxtk12, uvatlas] ports updated
  ports/directxmath/portfile.cmake
  ports/directxmath/vcpkg.json
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/enable_openexr_support.patch
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmath.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#23331 [vamp-sdk] install pkgconfig files
  ports/vamp-sdk/CMakeLists.txt
  ports/vamp-sdk/portfile.cmake
  ports/vamp-sdk/vcpkg.json
  versions/baseline.json
  versions/v-/vamp-sdk.json
Labels: category:port-feature, info:internal, info:reviewed

#23318 [python3] Remove static libraries belonging to python3 executable
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:internal, info:reviewed

#23194 [winsparkle] Intitial commit with binary copy
  ports/winsparkle/portfile.cmake
  ports/winsparkle/vcpkg.json
  versions/baseline.json
  versions/w-/winsparkle.json
Labels: category:new-port

#23352 [vtk] use interface target instead of alias for lz4
  ports/vtk/FindLZ4.patch
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-bug, info:reviewed

#23324 [cryptopp] Update to version 8.6.0 to fix CVE-2021-40530
  ports/cryptopp/cmake.patch
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-update, info:reviewed

#23334 [llvm] fix build error
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:internal, info:reviewed

#23327 [libssh2] Fix various issues + add features
  ports/libssh2/0002-fix-macros.patch
  ports/libssh2/LICENSE
  ports/libssh2/portfile.cmake
  ports/libssh2/vcpkg.json
  versions/baseline.json
  versions/l-/libssh2.json
Labels: category:port-feature, info:reviewed

#23371 [Azure SDK Core] Update to 1.4.0 Mar Release
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23365 [parallel-hashmap] update version to 1.34
  ports/parallel-hashmap/portfile.cmake
  ports/parallel-hashmap/vcpkg.json
  versions/baseline.json
  versions/p-/parallel-hashmap.json
Labels: category:port-update, info:reviewed

#23280 [libjpeg-turbo] Upgrade to 2.1.3
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-update, info:reviewed

#23184 [libgit2] Update to 1.4.2
  ports/libgit2/fix-configcmake.patch
  ports/libgit2/portfile.cmake
  ports/libgit2/vcpkg.json
  versions/baseline.json
  versions/l-/libgit2.json
Labels: category:port-update, info:reviewed

#22455 [serdepp] add new port
  ports/serdepp/portfile.cmake
  ports/serdepp/vcpkg.json
  versions/baseline.json
  versions/s-/serdepp.json
Labels: category:new-port, info:reviewed

#23029 [7-zip] update to <21.07>
  ports/7zip/CMakeLists.txt
  ports/7zip/License.txt
  ports/7zip/portfile.cmake
  ports/7zip/vcpkg.json
  versions/7-/7zip.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#23322 [vcpkg.cmake] Setup CMAKE_PROGRAM_PATH for the host if possible
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, category:tool-update

#23411 [vcpkg baseline][onnx] Fix find dependency protobuf
  ports/onnx/fix-dependency-protobuf.patch
  ports/onnx/portfile.cmake
  ports/onnx/vcpkg.json
  versions/baseline.json
  versions/o-/onnx.json
Labels: category:port-bug, info:internal, info:reviewed

#23410 [vcpkg baseline][vcpkg toolchain] Fix toolchain usage with CMake <= 3.19
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-bug, info:reviewed

#23409 [WinReg] update to v5.0.0
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#23408 [opencolorio] Fix tools build error
  ports/opencolorio/fix-buildTools.patch
  ports/opencolorio/portfile.cmake
  ports/opencolorio/vcpkg.json
  versions/baseline.json
  versions/o-/opencolorio.json
Labels: category:port-bug, info:internal, info:reviewed

#23403 [ampl-asl] Add supports expression
  ports/ampl-asl/portfile.cmake
  ports/ampl-asl/vcpkg.json
  versions/a-/ampl-asl.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#23393 [tcb-span] Add new port
  ports/tcb-span/portfile.cmake
  ports/tcb-span/vcpkg.json
  versions/baseline.json
  versions/t-/tcb-span.json
Labels: category:new-port, info:reviewed

#23336 [libe57] update to 1.1.332; fix debug library lookup
  ports/libe57/0001_cmake.patch
  ports/libe57/0002_replace_tr1_with_cpp11.patch
  ports/libe57/portfile.cmake
  ports/libe57/vcpkg.json
  versions/baseline.json
  versions/l-/libe57.json
Labels: category:port-update, info:reviewed

#23264 [mimalloc] Update to 2.0.5
  ports/mimalloc/fix-cmake.patch
  ports/mimalloc/portfile.cmake
  ports/mimalloc/vcpkg.json
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: category:port-update, info:reviewed

#23424 Update vcpkg-tool to 2022-03-08.
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/vcpkgTools.xml
Labels: info:internal, category:infrastructure

#22466 [gazebo] new port
  ports/gazebo/0001-Fix-deps.patch
  ports/gazebo/portfile.cmake
  ports/gazebo/vcpkg.json
  ports/sdformat9/portfile.cmake
  ports/sdformat9/use-external-tinyxml-windows.patch
  ports/sdformat9/vcpkg.json
  versions/baseline.json
  versions/g-/gazebo.json
  versions/s-/sdformat9.json
Labels: category:new-port, requires:author-response

#23186 [proj, proj4] Update to PROJ 9.0.0 & make proj the regular port
  ports/gdal/vcpkg.json
  ports/libgeotiff/vcpkg.json
  ports/libosmium/vcpkg.json
  ports/libspatialite/vcpkg.json
  ports/mapnik/vcpkg.json
  ports/proj/fix-proj4-targets-cmake.patch
  ports/proj/fix-win-output-name.patch
  ports/proj/portfile.cmake
  ports/proj/tools-cmake.patch
  ports/proj/usage
  ports/proj/vcpkg.json
  ports/proj4/pkgconfig.patch
  ports/proj4/portfile.cmake
  ports/proj4/vcpkg.json
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
  versions/l-/libgeotiff.json
  versions/l-/libosmium.json
  versions/l-/libspatialite.json
  versions/m-/mapnik.json
  versions/p-/proj.json
  versions/p-/proj4.json
  versions/v-/vtk.json
Labels: category:new-port, category:port-update, info:reviewed

#23443 [Azure Storage] Update to March Release
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23441 [Azure SDK Key Vault] Update to March Release Certificates and Secrets
  ports/azure-security-keyvault-certificates-cpp/portfile.cmake
  ports/azure-security-keyvault-certificates-cpp/vcpkg.json
  ports/azure-security-keyvault-secrets-cpp/portfile.cmake
  ports/azure-security-keyvault-secrets-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-certificates-cpp.json
  versions/a-/azure-security-keyvault-secrets-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23434 [croncpp] don't build tests
  ports/croncpp/no-test.patch
  ports/croncpp/portfile.cmake
  ports/croncpp/vcpkg.json
  versions/baseline.json
  versions/c-/croncpp.json
Labels: category:port-feature, info:reviewed

#23368 [google-cloud-cpp] update to latest release (v1.38.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/support_absl_cxx17.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#23467 Update VMs for March 2022 Patch Tuesday
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-image.ps1
  scripts/azure-pipelines/linux/provision-image.sh
Labels: info:internal, category:infrastructure

#23478 [vcpkg baseline] Fix ports build on Linux
  ports/libgnutls/portfile.cmake
  ports/libgnutls/vcpkg.json
  ports/ncurses/portfile.cmake
  ports/ncurses/vcpkg.json
  ports/pcapplusplus/CMakeLists.txt
  ports/pcapplusplus/portfile.cmake
  ports/pcapplusplus/vcpkg.json
  versions/baseline.json
  versions/l-/libgnutls.json
  versions/n-/ncurses.json
  versions/p-/pcapplusplus.json
Labels: category:port-bug, info:internal, info:reviewed

#23487 [proj4] Retain former features (fixes `vcpkg upgrade`)
  ports/proj4/vcpkg.json
  versions/baseline.json
  versions/p-/proj4.json
Labels: category:port-feature, info:reviewed

#23480 [libheif] fix license
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-feature, info:reviewed

#23479 [libde265] fix static linkage
  ports/libde265/portfile.cmake
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: category:port-bug, info:reviewed

#23471 [lionkor-commandline] Add new port
  ports/lionkor-commandline/add-install.patch
  ports/lionkor-commandline/portfile.cmake
  ports/lionkor-commandline/vcpkg.json
  versions/baseline.json
  versions/l-/lionkor-commandline.json
Labels: category:new-port, info:reviewed

#23458 [zpp-bits] Add new port
  ports/zpp-bits/portfile.cmake
  ports/zpp-bits/vcpkg.json
  versions/baseline.json
  versions/z-/zpp-bits.json
Labels: category:new-port, info:reviewed

#23438 [sentencepiece] Clarify supported triplets
  ports/sentencepiece/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/sentencepiece.json
Labels: category:port-feature, info:reviewed

#23427 [libjpeg-turbo] Fix usage when building static
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-bug, info:internal, info:reviewed

#23423 Fix the dependency of installing arrow with the parquet feature
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#23426 [ois] fix pkgconfig file not installed on windows
  ports/ois/0001_install_pkgconfig_win32.patch
  ports/ois/portfile.cmake
  ports/ois/vcpkg.json
  versions/baseline.json
  versions/o-/ois.json
Labels: category:port-bug, info:reviewed

#23406 [yato] fix arm build by updating
  ports/yato/portfile.cmake
  ports/yato/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/y-/yato.json
Labels: category:port-update, info:reviewed

#23348 [raylib] Fix cannot find -lglfw on Linux
  ports/raylib/fix-linkGlfw.patch
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:port-bug, info:internal, info:reviewed

#23400 [GTL] Add new port
  ports/gtl/portfile.cmake
  ports/gtl/vcpkg.json
  versions/baseline.json
  versions/g-/gtl.json
Labels: category:new-port, info:reviewed

#23357 [sciter-js] Updated sciter-js to 4.4.8.31
  ports/sciter-js/portfile.cmake
  ports/sciter-js/vcpkg.json
  versions/baseline.json
  versions/s-/sciter-js.json
Labels: category:port-update, info:reviewed

#23399 [llvm] Fix LLVM install for 'utils' feature
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-feature, info:reviewed

#23484 [qt5-webengine] Fix apply patch failed
  ports/qt5-webengine/build_1.patch
  ports/qt5-webengine/build_2.patch
  ports/qt5-webengine/build_3.patch
  ports/qt5-webengine/portfile.cmake
  ports/qt5-webengine/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-webengine.json
Labels: category:port-bug, info:internal, info:reviewed

#23156 [python3] Update to Python 3.10.2.
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update, info:reviewed

#23042 [HPX] Don't remove HPXCacheVariables.cmake during install
  ports/hpx/fix-cmakecache-paths.patch
  ports/hpx/portfile.cmake
  ports/hpx/vcpkg.json
  versions/baseline.json
  versions/h-/hpx.json
Labels: category:port-feature, info:reviewed

#23525 [baseline] [python3] fix bz2(d) search on linux
  ports/python3/0010-bz2d.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#23431 add port vcpkg-tool-python2
  ports/blitz/vcpkg.json
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  ports/qt5-base/cmake/qt_build_submodule.cmake
  ports/qt5-base/vcpkg.json
  ports/qtinterfaceframework/portfile.cmake
  ports/qtinterfaceframework/vcpkg.json
  ports/qtwebengine/vcpkg.json
  ports/shiva/no_copy_dll.patch
  ports/shiva/portfile.cmake
  ports/shiva/vcpkg.json
  ports/v8/vcpkg.json
  ports/vcpkg-gn/vcpkg.json
  ports/vcpkg-tool-lessmsi/portfile.cmake
  ports/vcpkg-tool-lessmsi/vcpkg.json
  ports/vcpkg-tool-python2/portfile.cmake
  ports/vcpkg-tool-python2/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  versions/b-/blitz.json
  versions/baseline.json
  versions/p-/pybind11.json
  versions/q-/qt5-base.json
  versions/q-/qtinterfaceframework.json
  versions/q-/qtwebengine.json
  versions/s-/shiva.json
  versions/v-/v8.json
  versions/v-/vcpkg-gn.json
  versions/v-/vcpkg-tool-lessmsi.json
  versions/v-/vcpkg-tool-python2.json
Labels: category:new-port

#23520 [vcpkg-ci] Update "PR Suggestions" workflow actions
  .github/workflows/trustedPR.yml
  .github/workflows/untrustedPR.yml
Labels: category:infrastructure, requires:vcpkg-team-review

#23522 [c-dbg-macro] Add new port
  ports/c-dbg-macro/portfile.cmake
  ports/c-dbg-macro/vcpkg.json
  versions/baseline.json
  versions/c-/c-dbg-macro.json
Labels: category:new-port, info:reviewed

#23498 [speex] Add necessary tool information to OSX
  ports/speex/portfile.cmake
  ports/speex/vcpkg.json
  versions/baseline.json
  versions/s-/speex.json
Labels: category:port-bug, info:internal, info:reviewed

#23504 [uwebsockets] Update to 20.11.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: category:port-update, info:reviewed

#23501 [eventpp] Add new port - eventpp
  ports/eventpp/portfile.cmake
  ports/eventpp/vcpkg.json
  versions/baseline.json
  versions/e-/eventpp.json
Labels: category:new-port, info:reviewed

#23548 [ixwebsocket] Update to v11.3.3
  ports/ixwebsocket/portfile.cmake
  ports/ixwebsocket/vcpkg.json
  versions/baseline.json
  versions/i-/ixwebsocket.json
Labels: category:port-update, info:reviewed

#23541 [cpp-httplib] update to 0.10.3
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: info:internal, category:port-update, info:reviewed

#23536 [opengl] install pkgconfig files for windows
  ports/opengl/glu.pc.in
  ports/opengl/opengl.pc.in
  ports/opengl/portfile.cmake
  ports/opengl/vcpkg.json
  versions/baseline.json
  versions/o-/opengl.json
Labels: category:port-feature, info:reviewed

#23506 [google-cloud-cpp] define about 60 new features
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#23202 [github_actions] improve port compatibility
  ports/giflib/portfile.cmake
  ports/giflib/vcpkg-cmake-wrapper.cmake
  ports/giflib/vcpkg.json
  scripts/buildsystems/vcpkg.cmake
  versions/baseline.json
  versions/g-/giflib.json
Labels: category:port-bug, info:reviewed

#23530 [sqlcipher] update to 4.5.1
  ports/sqlcipher/CMakeLists.txt
  ports/sqlcipher/portfile.cmake
  ports/sqlcipher/vcpkg.json
  versions/baseline.json
  versions/s-/sqlcipher.json
Labels: category:port-update, info:reviewed

#23435 [zeromq] Download patch files for GitHub PRs
  ports/zeromq/portfile.cmake
  ports/zeromq/vcpkg.json
  ports/zeromq/zeromq-libzmq-4310-64e6d37ab8.diff
  ports/zeromq/zeromq-libzmq-4311-2b04e0ce47.diff
  versions/baseline.json
  versions/z-/zeromq.json
Labels: category:port-bug, info:reviewed

#23535 [xerces-c] fix library name in pkg-config file under windows
  ports/xerces-c/portfile.cmake
  ports/xerces-c/vcpkg.json
  versions/baseline.json
  versions/x-/xerces-c.json
Labels: category:port-bug, info:reviewed

#23511 [7zip] Fix cmake package config
  ports/7zip/7zip-config.cmake.in
  ports/7zip/CMakeLists.txt
  ports/7zip/portfile.cmake
  ports/7zip/unRarLicense.txt
  ports/7zip/vcpkg.json
  versions/7-/7zip.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#23588 [lager] update to latest
  ports/lager/portfile.cmake
  ports/lager/vcpkg.json
  versions/baseline.json
  versions/l-/lager.json
Labels: category:port-update, info:reviewed

#23566 [baseline] fix tidy-html5
  ports/tidy-html5/portfile.cmake
  ports/tidy-html5/vcpkg.json
  versions/baseline.json
  versions/t-/tidy-html5.json
Labels: category:port-bug, info:reviewed

#23571 [scnlib] Update to 1.0
  ports/scnlib/portfile.cmake
  ports/scnlib/vcpkg.json
  versions/baseline.json
  versions/s-/scnlib.json
Labels: category:port-update, info:reviewed

#23601 Increase timeout on Windows builds.
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#23579 [google-cloud-cpp] refactor feature dependencies
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#23482 [unrar] Add vcpkg-cmake-wrapper and usage
  ports/unrar/Config.cmake.in
  ports/unrar/portfile.cmake
  ports/unrar/vcpkg.json
  versions/baseline.json
  versions/u-/unrar.json
Labels: category:port-feature, info:internal, info:reviewed

#23551 [marl] update to 2022-03-02
  ports/marl/portfile.cmake
  ports/marl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/marl.json
Labels: category:port-update, info:reviewed

#23550 [pixel] Update to master
  ports/pixel/001-prevent-examples.patch
  ports/pixel/portfile.cmake
  ports/pixel/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pixel.json
Labels: category:port-update, info:reviewed

#23552 [Botan] Add zlib option
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#23586 [librdkafka] disable debug option
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-feature, info:internal, info:reviewed

#23560 [itk] Fix ITK build error
  ports/itk/portfile.cmake
  ports/itk/python_gpu_wrapping.patch
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-bug, info:internal, info:reviewed

#23510 [libiconv] remove doc files from share
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-bug, info:reviewed

#23011 Update VMs for VS2022, CUDA 11.6
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-cuda.ps1
  scripts/azure-pipelines/windows/deploy-inteloneapi.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#23564 [cargs] Add new port
  ports/cargs/portfile.cmake
  ports/cargs/vcpkg.json
  versions/baseline.json
  versions/c-/cargs.json
Labels: category:new-port, info:reviewed

#23581 [qpid-proton] Fix qpid proton #23580
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/qpid-protonConfig.cmake
  ports/qpid-proton/vcpkg.json
  versions/baseline.json
  versions/q-/qpid-proton.json
Labels: category:port-bug, info:reviewed

#23589 [openssl] update to 1.1.1n
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#23605 [asio] upgrade to v1.22.1
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23553 [vcpkg baseline][python2] fix bz2(d) search on Linux
  ports/python2/008-bz2d.patch
  ports/python2/portfile.cmake
  ports/python2/vcpkg.json
  versions/baseline.json
  versions/p-/python2.json
Labels: category:port-bug, info:internal, info:reviewed

#23603 [Botan] delete absolute path
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#23602 [functions-framework-cpp] update to the latest release (v1.1.0)
  ports/functions-framework-cpp/portfile.cmake
  ports/functions-framework-cpp/vcpkg.json
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:port-update, info:reviewed

#23587 [eigen3] Disable Eigen3 configure checks
  ports/eigen3/portfile.cmake
  ports/eigen3/remove_configure_checks.patch
  ports/eigen3/vcpkg.json
  versions/baseline.json
  versions/e-/eigen3.json
Labels: category:port-feature, info:reviewed

#23608 [vcpkg baseline][tbb] Disable binary mismatch checking
  ports/tbb/portfile.cmake
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-bug, info:internal, info:reviewed

#23177 [qt5-winextras] remove unneeded dependencies
  ports/qt5-winextras/patches/require_quick.patch
  ports/qt5-winextras/patches/unrequire_quick.patch
  ports/qt5-winextras/portfile.cmake
  ports/qt5-winextras/vcpkg.json
  ports/qt5/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-winextras.json
  versions/q-/qt5.json
Labels: category:port-bug, info:reviewed

#23625 [POCO] update to v1.11.1
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: info:internal, category:port-update, info:reviewed

#23621 [Fakeit] update to v2.1.0
  ports/fakeit/portfile.cmake
  ports/fakeit/vcpkg.json
  versions/baseline.json
  versions/f-/fakeit.json
Labels: info:internal, category:port-update, info:reviewed

#23523 [curl] Update to 7.82.0
  ports/curl/curl-7.81.0-ssl.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#23554 [colmap] Re-enable pipeline test on OSX
  ports/colmap/fix-dependencies.patch
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/colmap.json
Labels: category:port-feature, info:internal, info:reviewed

#23198 [libhv] add ssl support
  ports/libhv/fix-find_package.patch
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:port-feature, info:internal, info:reviewed

#23674 Fix PR Suggestions
  .github/workflows/trustedPR.yml
Labels: category:infrastructure

#23638 [vcpkg baseline][qtapplicationmanager] Configure hardcodes bin paths.
  ports/qtapplicationmanager/portfile.cmake
  ports/qtapplicationmanager/vcpkg.json
  versions/baseline.json
  versions/q-/qtapplicationmanager.json
Labels: category:port-bug, info:reviewed

#22633 [shapelib] Fix shapelib usage
  ports/shapelib/fix-usage.patch
  ports/shapelib/vcpkg.json
  versions/baseline.json
  versions/s-/shapelib.json
Labels: category:port-bug, info:internal, info:reviewed

#23655 [argtable3] Disable examples
  ports/argtable3/portfile.cmake
  ports/argtable3/vcpkg.json
  versions/a-/argtable3.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#23656 [nanorange] update to master
  ports/nanorange/portfile.cmake
  ports/nanorange/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/n-/nanorange.json
Labels: category:port-update, info:reviewed

#23591 [grpc] update to 1.44.0
  ports/grpc/00001-fix-uwp.patch
  ports/grpc/00003-undef-base64-macro.patch
  ports/grpc/00004-link-gdi32-on-windows.patch
  ports/grpc/00006-fix-uwp-error.patch
  ports/grpc/00010-add-feature-absl-sync.patch
  ports/grpc/00012-fix-use-cxx17.patch
  ports/grpc/00014-pkgconfig-upbdefs.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: info:internal, category:port-update, info:reviewed

#23669 [websocketpp] Patching websocketpp for c++20 support
  ports/websocketpp/cxx20.patch
  ports/websocketpp/portfile.cmake
  ports/websocketpp/vcpkg.json
  versions/baseline.json
  versions/w-/websocketpp.json
Labels: category:port-feature, info:reviewed

#23679 [libsquish] Add feature sse2 for OSX
  ports/libsquish/portfile.cmake
  ports/libsquish/vcpkg.json
  versions/baseline.json
  versions/l-/libsquish.json
Labels: category:port-feature, info:reviewed

#23651 [poppler] Update to 22.03.0
  ports/poppler/export-unofficial-poppler.patch
  ports/poppler/portfile.cmake
  ports/poppler/usage
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: category:port-update, info:reviewed

#23652 2022 03 19 glib update
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  ports/glibmm/build-support-vs2022-builds.patch
  ports/glibmm/portfile.cmake
  ports/glibmm/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
  versions/g-/glibmm.json
Labels: category:port-update, info:reviewed

#23475 [gdal] Update to 3.4.2
  ports/gdal/0009-atlbase.patch
  ports/gdal/0009-poppler-cxx17.patch
  ports/gdal/0010-symprefix.patch
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#23623 [OpenVDB] Update to V9.0.0
  ports/openvdb/0003-fix-cmake.patch
  ports/openvdb/fix-Target-notfound.patch
  ports/openvdb/portfile.cmake
  ports/openvdb/vcpkg.json
  versions/baseline.json
  versions/o-/openvdb.json
Labels: info:internal, category:port-update, info:reviewed

#23673 [Bullet3] Remove platform restrictions
  ports/bullet3/portfile.cmake
  ports/bullet3/uwp-deltav-fix.patch
  ports/bullet3/vcpkg.json
  ports/bullet3/windows-arm64-sse-fix.patch
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#21281 [nss] Add new ports nspr and nss
  ports/nspr/portfile.cmake
  ports/nspr/vcpkg.json
  ports/nss/01-nspr-no-lib-prefix.patch
  ports/nss/02-gen-debug-info-for-release.patch
  ports/nss/portfile.cmake
  ports/nss/vcpkg.json
  ports/vcpkg-tool-gyp-nss/portfile.cmake
  ports/vcpkg-tool-gyp-nss/vcpkg.json
  ports/vcpkg-tool-mozbuild/portfile.cmake
  ports/vcpkg-tool-mozbuild/vcpkg.json
  versions/baseline.json
  versions/n-/nspr.json
  versions/n-/nss.json
  versions/v-/vcpkg-tool-gyp-nss.json
  versions/v-/vcpkg-tool-mozbuild.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#23043 [gamenetworkingsockets] update version to 1.4.0
  ports/gamenetworkingsockets/portfile.cmake
  ports/gamenetworkingsockets/vcpkg.json
  versions/baseline.json
  versions/g-/gamenetworkingsockets.json
Labels: category:port-update, info:reviewed

#23701 [chartdir] Update SHA512 to fix install error
  ports/chartdir/portfile.cmake
  ports/chartdir/vcpkg.json
  versions/baseline.json
  versions/c-/chartdir.json
Labels: category:port-bug, info:internal, info:reviewed

#23502 [itk] Add feature opencv supporting ITKBridgeOpenCV
  ports/itk/portfile.cmake
  ports/itk/vcpkg.json
  versions/i-/itk.json
Labels: category:port-feature, info:reviewed

#23681 [libdatrie] Update and fixes
  ports/libdatrie/CMakeLists.txt
  ports/libdatrie/fix-trietool.patch
  ports/libdatrie/portfile.cmake
  ports/libdatrie/usage
  ports/libdatrie/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libdatrie.json
Labels: category:port-bug, category:port-update, info:reviewed

#23686 [fbthrift] Fix incorrect path in FBThriftConfig.cmake
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
Labels: category:port-bug, info:internal, info:reviewed

#23696 [mailio] Version 0.21.0
  ports/mailio/portfile.cmake
  ports/mailio/vcpkg.json
  versions/baseline.json
  versions/m-/mailio.json
Labels: category:port-update, info:reviewed

#23678 [sdl2] Fix wasm32-emscripten declaration-after-statement error
  ports/sdl2/0007-timer-Fix-Emscripten-declaration-after-statement-err.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#23707 Remove passing-remove-from-fail-lists from 2022-03-19
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#23706 [WinReg] update to v5.0.1
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#23671 [imfl/color-console] Add new port
  ports/color-console/portfile.cmake
  ports/color-console/usage
  ports/color-console/vcpkg.json
  versions/baseline.json
  versions/c-/color-console.json
Labels: category:new-port, info:reviewed

#23719 [nss] Version bump to 3.76
  ports/nss/portfile.cmake
  ports/nss/vcpkg.json
  versions/baseline.json
  versions/n-/nss.json
Labels: category:port-update, info:reviewed

#23708 Fix usage of FindPkgConfig module
  ports/libdatrie/usage
  ports/libdatrie/vcpkg.json
  ports/libfido2/fix_cmakelists.patch
  ports/libfido2/vcpkg.json
  ports/liburing/usage
  ports/liburing/vcpkg.json
  ports/poppler/usage
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/l-/libdatrie.json
  versions/l-/libfido2.json
  versions/l-/liburing.json
  versions/p-/poppler.json
Labels: category:port-bug, info:reviewed

#23664 [libarchive] Fix lzo support in wrapper
  ports/libarchive/usage
  ports/libarchive/vcpkg-cmake-wrapper.cmake.in
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-bug, info:reviewed

#23662 [ztd-text] Add port
  ports/ztd-text/portfile.cmake
  ports/ztd-text/usage
  ports/ztd-text/vcpkg.json
  versions/baseline.json
  versions/z-/ztd-text.json
Labels: category:new-port, info:reviewed

#23466 [gmp] Switch sources on windows away from SMP fork.
  ports/gmp/adddef.patch
  ports/gmp/msvc_symbol.patch
  ports/gmp/portfile.cmake
  ports/gmp/runtime.patch
  ports/gmp/vcpkg.json
  ports/gmp/vs.build.patch
  ports/gmp/yasm.patch
  ports/mpc/gmpd.patch
  ports/mpc/portfile.cmake
  ports/mpc/vcpkg.json
  ports/mpfr/gmpd.patch
  ports/mpfr/portfile.cmake
  ports/mpfr/vcpkg.json
  ports/nettle/gmp.patch
  ports/nettle/name.dir.patch
  ports/nettle/portfile.cmake
  ports/nettle/remove_gmpd.patch
  ports/nettle/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
  versions/m-/mpc.json
  versions/m-/mpfr.json
  versions/n-/nettle.json
Labels: category:port-update, info:reviewed

#23684 [minizip-ng] Updated minizip version and fixed windows build for previous version
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: category:port-update, info:reviewed

#23446 [libgeotiff] Update to 1.7.1
  ports/libgeotiff/cmakelists.patch
  ports/libgeotiff/fix-staticbuild.patch
  ports/libgeotiff/geotiff-config.patch
  ports/libgeotiff/portfile.cmake
  ports/libgeotiff/skip-doc-install.patch
  ports/libgeotiff/vcpkg.json
  versions/baseline.json
  versions/l-/libgeotiff.json
Labels: category:port-update, info:reviewed

#23153 [libjuice] Update to 0.9.8
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libjuice.json
Labels: category:port-update, info:reviewed

#22409 [nlohmann-json] Add option to control implicit conversions behaviour
  ports/nlohmann-json/portfile.cmake
  ports/nlohmann-json/usage
  ports/nlohmann-json/vcpkg.json
  versions/baseline.json
  versions/n-/nlohmann-json.json
Labels: category:port-feature, info:reviewed, requires:author-response

#23430 [vcpk-ci] Trigger some test ports from vcpkg.cmake changes
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed, requires:vcpkg-team-review

#23682 [libnoise] Export CMake files
  ports/libnoise/fix-build.patch
  ports/libnoise/portfile.cmake
  ports/libnoise/vcpkg.json
  versions/baseline.json
  versions/l-/libnoise.json
Labels: category:port-bug, info:internal, info:reviewed

#22516 [libpq] Update version to 14.1 2
  ports/libpq/config.pl
  ports/libpq/patches/fix-configure.patch
  ports/libpq/patches/linux/configure.patch
  ports/libpq/patches/mingw/additional-zlib-names.patch
  ports/libpq/patches/windows/MSBuildProject-static-lib.patch
  ports/libpq/patches/windows/MSBuildProject_fix_gendef_perl.patch
  ports/libpq/patches/windows/Mkvcbuild-static-lib.patch
  ports/libpq/patches/windows/Solution.patch
  ports/libpq/patches/windows/Solution_DEBUG.patch
  ports/libpq/patches/windows/Solution_RELEASE.patch
  ports/libpq/patches/windows/fix-compile-flag-Zi.patch
  ports/libpq/patches/windows/install.patch
  ports/libpq/patches/windows/minimize_install.patch
  ports/libpq/patches/windows/msgfmt.patch
  ports/libpq/patches/windows/openssl_exe_path.patch
  ports/libpq/patches/windows/python3_build_DEBUG.patch
  ports/libpq/patches/windows/python3_build_RELEASE.patch
  ports/libpq/patches/windows/python_lib.patch
  ports/libpq/patches/windows/tcl_version.patch
  ports/libpq/patches/windows/win_bison_flex.patch
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-update, info:reviewed

#23745 [unicorn] update to latest version v1.0.3
  ports/unicorn/portfile.cmake
  ports/unicorn/vcpkg.json
  versions/baseline.json
  versions/u-/unicorn.json
Labels: info:internal, category:port-update, info:reviewed

#23733 [xmlsec] Bump to 1.2.33
  ports/xmlsec/portfile.cmake
  ports/xmlsec/vcpkg.json
  versions/baseline.json
  versions/x-/xmlsec.json
Labels: category:port-update, info:reviewed

#23742 Fix the VS2022 'unstable' queues.
  scripts/azure-pipelines/windows-unstable/job.yml
  scripts/azure-pipelines/windows-unstable/rearrange-msvc-drop-layout.ps1
Labels: info:internal, category:infrastructure

#23729 [aws-sdk-cpp] update to 1.9.220
  ports/aws-sdk-cpp/fix-config.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23743 [arb] Support dynamic build
  ports/arb/portfile.cmake
  ports/arb/vcpkg.json
  versions/a-/arb.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#23739 [winsparkle] Fix header file and debug path
  ports/winsparkle/portfile.cmake
  ports/winsparkle/vcpkg.json
  versions/baseline.json
  versions/w-/winsparkle.json
Labels: category:port-bug, info:internal, info:reviewed
