Repository microsoft/vcpkg, pull requests merged in 2022-10, with the labels that each got.

#26875 [geogram] Add arm64-windows support
  ports/geogram/portfile.cmake
  ports/geogram/use-arm64-intrinsics.patch
  ports/geogram/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/geogram.json
Labels: category:port-bug, info:reviewed

#26510 [scripts] fixes for armv7l host builds
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: info:reviewed, category:tool-update, category:community-triplet

#26317 [vcpkg script] vcpkg_configure_meson: Support wasm32-emscripten triplet
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:vcpkg-feature, info:reviewed, requires:vcpkg-team-review

#27026 gtk 3.24.34 port
  ports/gtk3/0001-build.patch
  ports/gtk3/portfile.cmake
  ports/gtk3/vcpkg.json
  versions/baseline.json
  versions/g-/gtk3.json
Labels: category:new-port, info:reviewed

#26977 [lemon-parser-generator] New port
  ports/lemon-parser-generator/CMakeLists.txt
  ports/lemon-parser-generator/portfile.cmake
  ports/lemon-parser-generator/vcpkg.json
  versions/baseline.json
  versions/l-/lemon-parser-generator.json
Labels: category:new-port

#27109 [cmakerc] Add usage text.
  ports/cmakerc/portfile.cmake
  ports/cmakerc/usage
  ports/cmakerc/vcpkg.json
  versions/baseline.json
  versions/c-/cmakerc.json
Labels: category:port-bug, info:internal

#27110 [nmap] Fix usage text; nmap is not curl.
  ports/nmap/usage
  ports/nmap/vcpkg.json
  versions/baseline.json
  versions/n-/nmap.json
Labels: category:port-bug, info:internal

#26963 [concurrencpp] Update to 0.1.5
  ports/concurrencpp/portfile.cmake
  ports/concurrencpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/concurrencpp.json
Labels: category:port-update

#26994 [trantor] Update to 1.5.7 [drogon] Update to 1.8.1
  ports/drogon/portfile.cmake
  ports/drogon/redis.patch
  ports/drogon/vcpkg.json
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
  versions/t-/trantor.json
Labels: category:port-update, requires:author-response

#27006 [spine-runtimes] create a new port
  ports/spine-runtimes/fix-cmake.patch
  ports/spine-runtimes/portfile.cmake
  ports/spine-runtimes/vcpkg.json
  versions/baseline.json
  versions/s-/spine-runtimes.json
Labels: category:new-port

#27048 [nvtt] Clean up baseline, add supports field instead
  ports/nvtt/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/n-/nvtt.json
Labels: category:port-feature, info:internal, category:code-cleanup

#27144 [baseline][bitserializer, tbb] Remove from ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#25335 [folly]: fix lib dependency
  ports/folly/FindLZ4.cmake
  ports/folly/FindSnappy.cmake
  ports/folly/fix-deps.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-bug, info:reviewed

#27141 [libui] Revise platform support
  ports/libui/portfile.cmake
  ports/libui/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libui.json
Labels: category:port-bug, info:reviewed

#27137 [expat] Fix static builds with mingw
  ports/expat/mingw_static_fix.patch
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: info:reviewed, category:community-triplet

#27128 [scripts] add policy VCPKG_POLICY_SKIP_ABSOLUTE_PATHS_CHECK
  scripts/build_info.cmake
Labels: info:reviewed, depends:different-pr, category:tool-update

#27127 [pango] Update to 1.50.11
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: category:port-update, info:reviewed

#27123 [rioki-glow] Update glow 0.2.1
  ports/rioki-glow/portfile.cmake
  ports/rioki-glow/vcpkg.json
  versions/baseline.json
  versions/r-/rioki-glow.json
Labels: category:port-update, info:reviewed

#27116 [nrf-ble-driver] update and fix arm64-osx
  ports/nrf-ble-driver/portfile.cmake
  ports/nrf-ble-driver/support-arm64-osx.diff
  ports/nrf-ble-driver/vcpkg.json
  versions/baseline.json
  versions/n-/nrf-ble-driver.json
Labels: category:port-update, info:reviewed

#27089 [protobuf] Teach about crosscompile
  ports/protobuf/vcpkg-cmake-wrapper.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:reviewed

#27087 [wxwidgets] Use vcpkg gtk3 for linux et al., fix mingw cross builds
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/sdl2.patch
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:reviewed

#27064 [chmlib] support on arm
  ports/chmlib/all-platforms.patch
  ports/chmlib/portfile.cmake
  ports/chmlib/vcpkg.json
  versions/baseline.json
  versions/c-/chmlib.json
Labels: category:port-bug, info:reviewed

#27072 [s2geometry] update version to 0.10.0
  ports/s2geometry/CMakeLists.txt.patch
  ports/s2geometry/portfile.cmake
  ports/s2geometry/vcpkg.json
  versions/baseline.json
  versions/s-/s2geometry.json
Labels: category:port-update, info:reviewed

#27105 [scripts|world rebuild] Retry 'make install' in non-parallel mode
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_execute_build_process.cmake
Labels: info:reviewed, category:tool-update

#26931 [libmariadb] add zstd to option list
  ports/libmariadb/portfile.cmake
  ports/libmariadb/vcpkg.json
  ports/libmariadb/zstd.patch
  versions/baseline.json
  versions/l-/libmariadb.json
Labels: category:port-bug, info:reviewed

#27036 [dbus] no absolute paths
  ports/dbus/portfile.cmake
  ports/dbus/vcpkg.json
  versions/baseline.json
  versions/d-/dbus.json
Labels: category:port-bug, info:reviewed

#26951 [mfl] Fix supports for building on normal triplets
  ports/mfl/disable-tests.patch
  ports/mfl/portfile.cmake
  ports/mfl/vcpkg.json
  versions/baseline.json
  versions/m-/mfl.json
Labels: category:port-bug, info:reviewed

#26780 [vcpkg] GENERATOR with Makefiles can build parallel
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_build.cmake
  scripts/cmake/vcpkg_build_cmake.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: info:reviewed, category:tool-update

#26679 [ffmpeg] srt support
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  ports/libsrt/fix-static.patch
  ports/libsrt/portfile.cmake
  ports/openssl/install-pc-files.cmake
  ports/openssl/vcpkg.json
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/l-/libsrt.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#26628 [opensubdiv] Upgrade to 3.4.4
  ports/opensubdiv/portfile.cmake
  ports/opensubdiv/vcpkg.json
  versions/baseline.json
  versions/o-/opensubdiv.json
Labels: category:port-update, info:reviewed

#26214 [osg] Fix plugin installation and target locations
  ports/osg/portfile.cmake
  ports/osg/unofficial-export.patch
  ports/osg/vcpkg.json
  versions/baseline.json
  versions/o-/osg.json
Labels: category:port-bug, info:reviewed

#27078 [ignition-tools] new port
  ports/ignition-tools/portfile.cmake
  ports/ignition-tools/vcpkg.json
  versions/baseline.json
  versions/i-/ignition-tools.json
Labels: category:new-port, info:reviewed

#27082 [boringssl] Add pkg-config file so it still works with gRPC
  ports/boringssl/install-pc-files.cmake
  ports/boringssl/openssl.pc.in
  ports/boringssl/portfile.cmake
  ports/boringssl/vcpkg.json
  versions/b-/boringssl.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#27151 [libical] update to 3.0.15
  ports/libical/portfile.cmake
  ports/libical/vcpkg.json
  versions/baseline.json
  versions/l-/libical.json
Labels: info:internal, category:port-update, info:reviewed

#27145 [draco] Update to 1.5.3
  ports/draco/disable-symlinks.patch
  ports/draco/portfile.cmake
  ports/draco/vcpkg.json
  versions/baseline.json
  versions/d-/draco.json
Labels: category:port-update, info:reviewed

#27133 [rapidfuzz] new port
  ports/rapidfuzz/portfile.cmake
  ports/rapidfuzz/vcpkg.json
  versions/baseline.json
  versions/r-/rapidfuzz.json
Labels: category:new-port, info:reviewed

#27162 [fmt] Update to 9.1.0
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: info:internal, category:port-update, info:reviewed

#27148 [simdjson] update to 3.0.0
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: info:internal, category:port-update, info:reviewed

#27186 [Azure SDK Key Vault] Update to Oct Release Keys, Certificates and Secrets
  ports/azure-security-keyvault-certificates-cpp/portfile.cmake
  ports/azure-security-keyvault-certificates-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  ports/azure-security-keyvault-secrets-cpp/portfile.cmake
  ports/azure-security-keyvault-secrets-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-certificates-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/a-/azure-security-keyvault-secrets-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#27182 [sdl2-mixer] Fix building on Android by not building samples
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: info:reviewed, category:community-triplet

#27171 [mp3lame] allow universal macos builds
  ports/mp3lame/add-macos-universal-config.patch
  ports/mp3lame/portfile.cmake
  ports/mp3lame/vcpkg.json
  versions/baseline.json
  versions/m-/mp3lame.json
Labels: info:reviewed, category:community-triplet

#27168 [sdl2] update to 2.24.1
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#27175 [Azure Storage] Update to October Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26928 [Qt3D] add missing qt port
  ports/angle/CMakeLists.txt
  ports/angle/portfile.cmake
  ports/angle/vcpkg.json
  ports/egl-registry/portfile.cmake
  ports/egl-registry/vcpkg-cmake-wrapper.cmake
  ports/egl-registry/vcpkg.json
  ports/qt/vcpkg.json
  ports/qt3d/portfile.cmake
  ports/qt3d/vcpkg.json
  ports/qtbase/cmake/qt_port_data.cmake
  ports/qtbase/cmake/qt_port_details.cmake
  ports/qtbase/vcpkg.json
  ports/qtinterfaceframework/portfile.cmake
  ports/qtinterfaceframework/vcpkg.json
  ports/qtmultimedia/portfile.cmake
  ports/qtmultimedia/vcpkg.json
  ports/qtwebengine/portfile.cmake
  ports/qtwebengine/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/angle.json
  versions/baseline.json
  versions/e-/egl-registry.json
  versions/q-/qt.json
  versions/q-/qt3d.json
  versions/q-/qtbase.json
  versions/q-/qtinterfaceframework.json
  versions/q-/qtmultimedia.json
  versions/q-/qtwebengine.json
Labels: category:new-port, info:reviewed

#27156 [osgearth] Plugin installation fixes
  ports/osgearth/export-plugins.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-bug, info:reviewed

#27138 [fastgltf] New port
  ports/fastgltf/portfile.cmake
  ports/fastgltf/vcpkg.json
  versions/baseline.json
  versions/f-/fastgltf.json
Labels: category:new-port, info:reviewed

#27134 [hikogui] update to version 0.7.0
  ports/hikogui/portfile.cmake
  ports/hikogui/vcpkg.json
  ports/ttauri/portfile.cmake
  ports/ttauri/vcpkg.json
  versions/baseline.json
  versions/h-/hikogui.json
  versions/t-/ttauri.json
Labels: category:new-port, category:port-update, info:reviewed

#26617 [vcpkg scripts] Crosscompiling fixes
  docs/users/triplets.md
  ports/vcpkg-cmake-get-vars/cmake_get_vars/CMakeLists.txt
  ports/vcpkg-cmake-get-vars/vcpkg.json
  ports/vcpkg-cmake/vcpkg.json
  scripts/buildsystems/meson/meson.template.in
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/get_cmake_vars/CMakeLists.txt
  versions/baseline.json
  versions/v-/vcpkg-cmake-get-vars.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-feature, info:reviewed

#24633 [mdl] Add port MDL-SDK 2021.1.2
  ports/mdl-sdk/001-freeimage-from-vcpkg.patch
  ports/mdl-sdk/002-install-rules.patch
  ports/mdl-sdk/003-freeimage-disable-faxg3.patch
  ports/mdl-sdk/004-missing-std-includes.patch
  ports/mdl-sdk/005-missing-link-windows-crypt-libraries.patch
  ports/mdl-sdk/006-guard-nonexisting-targets.patch
  ports/mdl-sdk/007-plugin-options.patch
  ports/mdl-sdk/008-build-static-llvm.patch
  ports/mdl-sdk/009-include-priority-vendored-llvm.patch
  ports/mdl-sdk/portfile.cmake
  ports/mdl-sdk/unofficial-mdl-config.cmake.in
  ports/mdl-sdk/vcpkg.json
  versions/baseline.json
  versions/m-/mdl-sdk.json
Labels: category:new-port, info:reviewed

#26949 [glib]: bump version to 2.74.0
  ports/glib/libintl.patch
  ports/glib/portfile.cmake
  ports/glib/use-libiconv-on-windows.patch
  ports/glib/vcpkg.json
  ports/lcm/glib.link.patch
  ports/lcm/vcpkg.json
  ports/libmount/portfile.cmake
  ports/libmount/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
  versions/l-/lcm.json
  versions/l-/libmount.json
Labels: category:port-update, info:reviewed

#27023 [liblrc] create a new port
  ports/liblrc/fix-cmake.patch
  ports/liblrc/portfile.cmake
  ports/liblrc/set_up_compile_error.patch
  ports/liblrc/vcpkg.json
  versions/baseline.json
  versions/l-/liblrc.json
Labels: category:new-port, info:reviewed

#27107 [ogre] Update to 13.4.4
  ports/ogre/cfg-rel-paths.patch
  ports/ogre/disable-dependency-qt.patch
  ports/ogre/fix-cmake-feature-summary.patch
  ports/ogre/fix-dependencies.patch
  ports/ogre/fix-dependency.patch
  ports/ogre/fix-pkgconfig.patch
  ports/ogre/pkgconfig.patch
  ports/ogre/portfile.cmake
  ports/ogre/swig-python-polyfill.patch
  ports/ogre/toolchain_fixes.patch
  ports/ogre/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-update, info:reviewed

#27169 [sail] Add features
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-feature, info:reviewed

#27184 [FFmpeg] Fix build on ARM64
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#27209 Update vcpkg-tool to 2022-10-12.
  .github/workflows/untrustedPR.yml
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#27188 Add documentation of https://github.com/microsoft/vcpkg-tool/pull/725
  docs/users/config-environment.md
Labels: category:documentation, info:internal, requires:vcpkg-tool-release

#27000 [docs] Document `VCPKG_NO_CI` environment variable
  docs/users/config-environment.md
Labels: category:documentation, info:internal, requires:vcpkg-tool-release

#27178 [docs] Document `VERSION`
  docs/maintainers/vcpkg_common_definitions.md
Labels: category:documentation, info:reviewed, requires:vcpkg-tool-release

#27212 VM Update October 2022
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/provision-image.sh
Labels: info:internal, category:infrastructure

#27216 [baseline] Remove mfl from ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#26438 [luv] add new port
  ports/lua-compat53/portfile.cmake
  ports/lua-compat53/usage
  ports/lua-compat53/vcpkg.json
  ports/luv/fix-find-libuv.patch
  ports/luv/fix-find-lua-compat53.patch
  ports/luv/fix-find-luajit.patch
  ports/luv/fix-msvc-build.patch
  ports/luv/portfile.cmake
  ports/luv/vcpkg.json
  versions/baseline.json
  versions/l-/lua-compat53.json
  versions/l-/luv.json
Labels: category:new-port, info:reviewed

#27195 [zycore] Add new port
  ports/zycore/fix-install.patch
  ports/zycore/portfile.cmake
  ports/zycore/vcpkg.json
  versions/baseline.json
  versions/z-/zycore.json
Labels: category:new-port, info:reviewed

#27202 [cgal] update to 5.5.1
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-update, info:reviewed

#27201 [python3] Fix compilation of built-in modules on older versions of GCC
  ports/python3/0012-gcc-ldflags-fix.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: depends:upstream-changes, info:reviewed

#27198 [im3d] New port
  ports/im3d/CMakeLists.txt
  ports/im3d/portfile.cmake
  ports/im3d/vcpkg.json
  versions/baseline.json
  versions/i-/im3d.json
Labels: category:new-port, info:reviewed

#27189 [vulkan-memory-allocator-hpp] New port
  ports/vulkan-memory-allocator-hpp/portfile.cmake
  ports/vulkan-memory-allocator-hpp/unofficial-vulkan-memory-allocator-hpp-config.cmake
  ports/vulkan-memory-allocator-hpp/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-memory-allocator-hpp.json
Labels: category:new-port, info:reviewed

#27038 [xapian] add new port
  ports/xapian/portfile.cmake
  ports/xapian/vcpkg.json
  versions/baseline.json
  versions/x-/xapian.json
Labels: category:new-port, info:reviewed

#27158 [Docs] Vcpkg via FetchContent
  README.md
Labels: category:documentation, info:reviewed

#27187 [ITK] Fix ITK linker error on usage
  ports/itk/dont-build-gtest.patch
  ports/itk/portfile.cmake
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-bug, info:reviewed

#27185 [wil] Update to v1.0.220914.1
  ports/wil/portfile.cmake
  ports/wil/vcpkg.json
  versions/baseline.json
  versions/w-/wil.json
Labels: category:port-update, info:reviewed

#27179 [vcpkg script] Find Python interpreter to used for scripts/buildsystems/osx/applocal.py
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-bug, info:reviewed

#26857 [opentelemetry-cpp] Update to 1.6.0 and fix abseil[cxx17]
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/support_absl_cxx17.patch
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#26887 [vlpp] Fix configure issues, export unofficial target
  ports/vlpp/CMakeLists.txt
  ports/vlpp/fix-arm.patch
  ports/vlpp/fix-tool-build.patch
  ports/vlpp/portfile.cmake
  ports/vlpp/vcpkg.json
  versions/baseline.json
  versions/v-/vlpp.json
Labels: category:port-bug, info:internal, info:reviewed

#27124 [benchmark] update to version 1.7.0
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#27203 [wyhash] New port
  ports/wyhash/portfile.cmake
  ports/wyhash/vcpkg.json
  versions/baseline.json
  versions/w-/wyhash.json
Labels: category:new-port, info:reviewed

#27224 [libxfont,libxft] Add new port
  ports/libxfont/build.patch
  ports/libxfont/build2.patch
  ports/libxfont/configure.patch
  ports/libxfont/portfile.cmake
  ports/libxfont/vcpkg.json
  ports/libxft/portfile.cmake
  ports/libxft/vcpkg.json
  versions/baseline.json
  versions/l-/libxfont.json
  versions/l-/libxft.json
Labels: category:new-port, info:reviewed

#27238 [zziplib] fix build for Android triplets running on Windows host
  ports/zziplib/portfile.cmake
  ports/zziplib/vcpkg.json
  versions/baseline.json
  versions/z-/zziplib.json
Labels: category:port-feature, info:reviewed

#27259 [gdal] ios compatibility
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#27239 [ogre] Feature/dependency control fixes
  ports/ogre/fix-dependencies.patch
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-feature, category:port-bug, info:reviewed

#27166 [portmidi] Update to 2.0.4
  ports/portmidi/portfile.cmake
  ports/portmidi/vcpkg.json
  versions/baseline.json
  versions/p-/portmidi.json
Labels: category:port-update, info:reviewed

#27215 [glog] Add feature WITH_CUSTOM_PREFIX
  ports/glog/portfile.cmake
  ports/glog/vcpkg.json
  versions/baseline.json
  versions/g-/glog.json
Labels: category:port-feature, info:internal, info:reviewed

#27221 [DTL] Update DTL (Diff Template Library) to v1.20
  ports/dtl/portfile.cmake
  ports/dtl/vcpkg.json
  versions/baseline.json
  versions/d-/dtl.json
Labels: category:port-update, info:reviewed

#27232 [libpqxx] Don't use default features for libpq
  ports/libpqxx/vcpkg.json
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: category:port-feature, info:reviewed

#27274 [mozjpeg] update to v4.1.1
  ports/mozjpeg/portfile.cmake
  ports/mozjpeg/vcpkg.json
  versions/baseline.json
  versions/m-/mozjpeg.json
Labels: info:internal, category:port-update

#27286 [vcpkg tool] Update vcpkg-tool to hotfix 2022-10-17.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, info:reviewed, category:infrastructure

#27163 [pdal] Fix gcc-8 compatibility
  ports/pdal/fix-gcc8-compatibility.patch
  ports/pdal/portfile.cmake
  ports/pdal/vcpkg.json
  versions/baseline.json
  versions/p-/pdal.json
Labels: category:port-bug, info:internal, info:reviewed

#27228 [atk] Allow building on ARM
  ports/atk/portfile.cmake
  ports/atk/vcpkg.json
  versions/a-/atk.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#27294 [allegro5|baseline] Minor changes, expect CI fail for arm64-windows
  ports/allegro5/cmake-project-include.cmake
  ports/allegro5/do-not-copy-pdbs-to-lib.patch
  ports/allegro5/export-targets.patch
  ports/allegro5/fix-pdb-install.patch
  ports/allegro5/msvc-arm64-atomic.patch
  ports/allegro5/portfile.cmake
  ports/allegro5/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/allegro5.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#27272 [minizip-ng] update to 3.0.7
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: info:internal, category:port-update, info:reviewed

#27266 [meshoptimizer] Updating to 0.18 and adding gltfpack feature
  ports/meshoptimizer/portfile.cmake
  ports/meshoptimizer/vcpkg.json
  versions/baseline.json
  versions/m-/meshoptimizer.json
Labels: category:port-feature, category:port-update, info:reviewed

#27250 [clickhouse-cpp] Update to 2.2.1
  ports/clickhouse-cpp/fix-deps-and-build-type.patch
  ports/clickhouse-cpp/fix-error-C4996.patch
  ports/clickhouse-cpp/fix-error-c2668.patch
  ports/clickhouse-cpp/fix-uwp.patch
  ports/clickhouse-cpp/portfile.cmake
  ports/clickhouse-cpp/vcpkg.json
  versions/baseline.json
  versions/c-/clickhouse-cpp.json
Labels: category:port-update, info:reviewed

#27313 [gdk-pixbuf] Fix PASSING, REMOVE FROM FAIL LIST
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#27233 [cserialport] Add new port
  ports/cserialport/portfile.cmake
  ports/cserialport/vcpkg.json
  versions/baseline.json
  versions/c-/cserialport.json
Labels: category:new-port, info:reviewed

#27302 [libical] update to v3.0.16
  ports/libical/portfile.cmake
  ports/libical/vcpkg.json
  versions/baseline.json
  versions/l-/libical.json
Labels: info:internal, category:port-update, info:reviewed

#27225 X Window Part 8/N
  ports/libxcomposite/portfile.cmake
  ports/libxcomposite/vcpkg.json
  ports/libxinerama/portfile.cmake
  ports/libxinerama/vcpkg.json
  ports/libxpresent/portfile.cmake
  ports/libxpresent/vcpkg.json
  ports/libxscrnsaver/portfile.cmake
  ports/libxscrnsaver/vcpkg.json
  ports/libxv/portfile.cmake
  ports/libxv/vcpkg.json
  versions/baseline.json
  versions/l-/libxcomposite.json
  versions/l-/libxinerama.json
  versions/l-/libxpresent.json
  versions/l-/libxscrnsaver.json
  versions/l-/libxv.json
Labels: category:new-port, info:reviewed

#27336 [font-util, xtrans, libe57] fix release only builds.
  ports/font-util/portfile.cmake
  ports/font-util/vcpkg.json
  ports/libe57/portfile.cmake
  ports/libe57/vcpkg.json
  ports/xtrans/portfile.cmake
  ports/xtrans/vcpkg.json
  versions/baseline.json
  versions/f-/font-util.json
  versions/l-/libe57.json
  versions/x-/xtrans.json
Labels: category:port-bug, info:reviewed

#27297 [GLFW3] Add message for installing pkg-config
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:port-feature, info:internal, info:reviewed

#27312 [openscap] Fix build
  ports/openscap/vcpkg.json
  versions/baseline.json
  versions/o-/openscap.json
Labels: category:port-bug, info:reviewed

#27321 [ogre] no absolute paths
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-bug, info:reviewed

#27326 [zydis] fix arm64 osx build
  ports/zydis/fix-arm64-build.patch
  ports/zydis/portfile.cmake
  ports/zydis/vcpkg.json
  versions/baseline.json
  versions/z-/zydis.json
Labels: category:port-bug, info:reviewed

#27218 [clipp] Add patch to fix std::result_of deprecated in C++20
  ports/clipp/Fix-result_of-deprecated-in-C++20.patch
  ports/clipp/portfile.cmake
  ports/clipp/vcpkg.json
  versions/baseline.json
  versions/c-/clipp.json
Labels: category:port-bug, info:internal, info:reviewed

#27345 [glslang] Make building binaries optional
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-feature, info:reviewed

#27346 [libjuice] Update to 1.0.6
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libjuice.json
Labels: info:internal, category:port-update, info:reviewed

#27354 [sentry-native] Update to 0.5.2
  ports/sentry-native/fix-crashpad.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#24861 [tensorflow-cc] Update to 2.10.0
  ports/tensorflow-cc/vcpkg.json
  ports/tensorflow-common/fix-build-error.patch
  ports/tensorflow-common/generate_static_link_cmd_linux.py
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  ports/tensorflow/vcpkg.json
  ports/vcpkg-tool-bazel/portfile.cmake
  ports/vcpkg-tool-bazel/vcpkg.json
  versions/baseline.json
  versions/t-/tensorflow-cc.json
  versions/t-/tensorflow-common.json
  versions/t-/tensorflow.json
  versions/v-/vcpkg-tool-bazel.json
Labels: category:port-update, info:reviewed

#27325 [nvtt] does not support arm64 osx
  ports/nvtt/vcpkg.json
  ports/open62541/5238.patch
  ports/open62541/open.patch
  versions/baseline.json
  versions/n-/nvtt.json
  versions/o-/open62541.json
Labels: category:port-feature, requires:author-response, category:community-triplet

#24615 [opensubdiv] Upgrade to 3.5.0
  ports/opensubdiv/fix-build-type.patch
  ports/opensubdiv/fix-mac-build.patch
  ports/opensubdiv/portfile.cmake
  ports/opensubdiv/vcpkg.json
  versions/baseline.json
  versions/o-/opensubdiv.json
Labels: category:port-feature, depends:upstream-changes, info:reviewed

#27331 [protobuf] updated version 3.21.8
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-update, info:reviewed

#27355 [hdf5] Fix single config builds.
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, info:reviewed

#27358 [asio-grpc] Update to 2.2.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#27359 [tbb] Enable iOS builds for TBB
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-feature, info:reviewed

#27361 [cryptopp] Allow disabling Crypto++ ASM using a triplet file
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-feature, info:reviewed

#27366 [libical] Fix CMake option with berkeleydb
  ports/libical/portfile.cmake
  ports/libical/vcpkg.json
  versions/baseline.json
  versions/l-/libical.json
Labels: category:port-bug, info:internal, info:reviewed

#27347 [libdatachannel] update to 0.17.11
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: info:internal, category:port-update, info:reviewed

#27352 [glibmm] Update to 2.74.0 (microsoft#27351)
  ports/glibmm/build-support-vs2022-builds.patch
  ports/glibmm/portfile.cmake
  ports/glibmm/vcpkg.json
  versions/baseline.json
  versions/g-/glibmm.json
Labels: category:port-update, info:reviewed

#27323 [vowpal-wabbit] New port
  ports/vowpal-wabbit/cmake_remove_bin_targets.patch
  ports/vowpal-wabbit/portfile.cmake
  ports/vowpal-wabbit/usage
  ports/vowpal-wabbit/vcpkg.json
  versions/baseline.json
  versions/v-/vowpal-wabbit.json
Labels: category:new-port, info:reviewed

#27371 [vcpkg baseline][gdk-pixbuf] Fix build issues, license, cleanup
  ports/gdk-pixbuf/loaders-cache.patch
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
Labels: category:port-bug, info:reviewed

#27415 [vcpkg-tool-nodejs] update
  ports/vcpkg-tool-nodejs/portfile.cmake
  ports/vcpkg-tool-nodejs/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-tool-nodejs.json
Labels: info:reviewed, category:tool-update

#27307 [tesseract] Link executable to libarchive to fix linker error
  ports/tesseract/fix-depend-libarchive.patch
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-update, info:reviewed

#27368 [vcpkg docs] Update vcpkg_extract_source_archive.md
  docs/maintainers/vcpkg_extract_source_archive.md
Labels: category:documentation, info:reviewed

#27428 [vcpkg baseline][mchehab-zbar] Fix build error on x64-windows-static
  ports/mchehab-zbar/portfile.cmake
  ports/mchehab-zbar/vcpkg.json
  versions/baseline.json
  versions/m-/mchehab-zbar.json
Labels: category:port-bug, info:internal, info:reviewed

#27417 [mygui] fix osx build
  ports/mygui/fix-osx-build.patch
  ports/mygui/portfile.cmake
  ports/mygui/vcpkg.json
  versions/baseline.json
  versions/m-/mygui.json
Labels: category:port-bug, info:reviewed

#27413 [sleef] does not supports arm64-osx
  ports/sleef/vcpkg.json
  versions/baseline.json
  versions/s-/sleef.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#27404 [qt5] Fix pkg-config setup in qt5-base
  ports/qt5-base/cmake/configure_qt.cmake
  ports/qt5-base/vcpkg.json
  scripts/cmake/vcpkg_configure_qmake.cmake
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, info:reviewed, category:tool-update

#27396 [libepoxy] update to 1.5.10
  ports/libepoxy/portfile.cmake
  ports/libepoxy/vcpkg.json
  versions/baseline.json
  versions/l-/libepoxy.json
Labels: category:port-update, info:reviewed

#27388 [libtcod] Update to 1.23.0
  ports/libtcod/portfile.cmake
  ports/libtcod/vcpkg.json
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#27391 [wxwidgets] Fix wrapper
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:reviewed

#27324 [libcaer] fix hash
  ports/libcaer/portfile.cmake
  ports/libcaer/vcpkg.json
  versions/baseline.json
  versions/l-/libcaer.json
Labels: category:port-bug, info:reviewed

#27370 [exiv2] Adding platform restrictions to Dependencies libiconv
  ports/exiv2/vcpkg-cmake-wrapper.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-bug, info:internal, info:reviewed

#27335 [opus] Fix arm64-mingw builds
  ports/opus/portfile.cmake
  ports/opus/vcpkg.json
  versions/baseline.json
  versions/o-/opus.json
Labels: info:reviewed, category:community-triplet

#27314 [libcanberra] Control dependencies
  ports/libcanberra/lc-messages.patch
  ports/libcanberra/ltdl.patch
  ports/libcanberra/macos_fix.patch
  ports/libcanberra/pkgconfig.patch
  ports/libcanberra/portfile.cmake
  ports/libcanberra/vcpkg.json
  versions/baseline.json
  versions/l-/libcanberra.json
Labels: category:port-bug, info:reviewed

#27284 [openssl-unix, openssl-uwp, openssl-windows] Change version to deprecated
  ports/openssl-unix/portfile.cmake
  ports/openssl-unix/vcpkg.json
  ports/openssl-uwp/portfile.cmake
  ports/openssl-uwp/vcpkg.json
  ports/openssl-windows/portfile.cmake
  ports/openssl-windows/vcpkg.json
  versions/baseline.json
  versions/o-/openssl-unix.json
  versions/o-/openssl-uwp.json
  versions/o-/openssl-windows.json
Labels: category:port-feature, info:reviewed

#26923 [ktx] Update to 4.1.0-rc3.
  ports/ktx/0003-libtool.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-update, info:reviewed

#27320 [catch2] no absolute paths
  ports/catch2/no-absolute-paths.patch
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-bug

#27226 [zlib, minizip] Update to 1.2.13, and embed the ZLIB_DLL setting.
  ports/libkml/fix-mingw.patch
  ports/libkml/fix-minizip.patch
  ports/libkml/portfile.cmake
  ports/libkml/vcpkg.json
  ports/minizip/0004-define.patch
  ports/minizip/CMakeLists.txt
  ports/minizip/portfile.cmake
  ports/minizip/usage
  ports/minizip/vcpkg.json
  ports/zlib/0002-skip-building-examples.patch
  ports/zlib/0003-build-static-or-shared-not-both.patch
  ports/zlib/0004-android-and-mingw-fixes.patch
  ports/zlib/CVE-2022-37434.patch
  ports/zlib/cmake_dont_build_more_than_needed.patch
  ports/zlib/debug-postfix-mingw.patch
  ports/zlib/portfile.cmake
  ports/zlib/vcpkg.json
  versions/baseline.json
  versions/l-/libkml.json
  versions/m-/minizip.json
  versions/z-/zlib.json
Labels: info:internal, category:port-update, info:reviewed

#27367 [libssh] Update libssh to v0.10.4
  ports/libssh/0001-export-pkgconfig-file.patch
  ports/libssh/portfile.cmake
  ports/libssh/vcpkg.json
  versions/baseline.json
  versions/l-/libssh.json
Labels: category:port-update, info:reviewed

#27342 [openmesh] update to 9.0
  ports/openmesh/portfile.cmake
  ports/openmesh/vcpkg.json
  versions/baseline.json
  versions/o-/openmesh.json
Labels: info:internal, category:port-update, info:reviewed

#27343 [opencv4] Fix freetype, harfbuzz, gtk dependencies
  ports/opencv4/0015-fix-freetype.patch
  ports/opencv4/0016-fix-freetype-contrib.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#27380 [scripts] Fix meson for mingw
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: info:reviewed, category:tool-update

#27412 [torch-th] fix arm64-osx build
  ports/torch-th/fix-arm64-osx-config.patch
  ports/torch-th/portfile.cmake
  ports/torch-th/vcpkg.json
  versions/baseline.json
  versions/t-/torch-th.json
Labels: category:port-bug, info:reviewed

#27414 [graphqlparser] needs python2
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#27424 [triton] Update triton
  ports/triton/001-fix-dependency-z3.patch
  ports/triton/002-fix-capstone-5.patch
  ports/triton/003-fix-python.patch
  ports/triton/portfile.cmake
  ports/triton/vcpkg.json
  versions/baseline.json
  versions/t-/triton.json
Labels: category:port-update, info:reviewed

#27435 [open62541] Remove unused files
  ports/open62541/5238.patch
  ports/open62541/open.patch
  versions/o-/open62541.json
Labels: category:port-feature, info:reviewed

#27440 [wayland(-protocols)] update ports
  ports/wayland-protocols/portfile.cmake
  ports/wayland-protocols/vcpkg.json
  ports/wayland/portfile.cmake
  ports/wayland/tests.patch
  ports/wayland/vcpkg.json
  versions/baseline.json
  versions/w-/wayland-protocols.json
  versions/w-/wayland.json
Labels: category:port-update, info:reviewed

#27448 [dxut] port updated for October 2022 release
  ports/dxut/portfile.cmake
  ports/dxut/vcpkg.json
  versions/baseline.json
  versions/d-/dxut.json
Labels: category:port-update, info:reviewed

#27462 [aom] Update to 3.5.0
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#27463 [leveldb] Disable tests and benchmarks
  ports/leveldb/portfile.cmake
  ports/leveldb/vcpkg.json
  versions/baseline.json
  versions/l-/leveldb.json
Labels: category:port-bug, info:reviewed

#27450 [ode] Fix error C3861
  ports/ode/fix-error-C3861.patch
  ports/ode/portfile.cmake
  ports/ode/vcpkg.json
  versions/baseline.json
  versions/o-/ode.json
Labels: category:port-bug, info:internal, info:reviewed

#27398 [graphene] update to 1.10.8 (microsoft#27397)
  ports/graphene/portfile.cmake
  ports/graphene/vcpkg.json
  versions/baseline.json
  versions/g-/graphene.json
Labels: category:port-update, info:reviewed

#27464 [qt-advanced-docking-system] Upgrade to Qt6
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/qt.patch
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-update, info:reviewed
