Repository microsoft/vcpkg, pull requests merged in 2022-06, with the labels that each got.

#24803 [cgal] Add boost-multi-array to deps
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-bug, requires:vcpkg-team-review

#24975 [brpc] Updata to 1.1.0
  ports/brpc/fix-boost-ptr.patch
  ports/brpc/fix-build.patch
  ports/brpc/fix_thrift.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-update, requires:author-response

#24899 [boringssl] Remove -WX and -Werror
  ports/boringssl/0002-disable-waring-4065.patch
  ports/boringssl/0002-remove-WX-Werror.patch
  ports/boringssl/portfile.cmake
  ports/boringssl/vcpkg.json
  versions/b-/boringssl.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#24997 [angle] Enable angle test in internal CI test
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure, requires:vcpkg-team-review

#25037 [b64] Add target include directories and export config.cmake
  ports/b64/CMakeLists.txt
  ports/b64/portfile.cmake
  ports/b64/vcpkg.json
  versions/b-/b64.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#25036 [hdf5] Fix feature parallel on Linux
  ports/hdf5/fix-parallel.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, info:internal, info:reviewed

#25030 [xsimd] Update to 8.1.0
  ports/xsimd/portfile.cmake
  ports/xsimd/vcpkg.json
  versions/baseline.json
  versions/x-/xsimd.json
Labels: category:port-update, info:reviewed

#25004 [nethost] Update nethost
  ports/nethost/0001-nethost-cmakelists.patch
  ports/nethost/0002-settings-cmake.patch
  ports/nethost/portfile.cmake
  ports/nethost/usage
  ports/nethost/vcpkg.json
  versions/baseline.json
  versions/n-/nethost.json
Labels: category:port-update, info:reviewed

#25008 [hidapi] Update to 0.12.0
  ports/hidapi/portfile.cmake
  ports/hidapi/vcpkg.json
  versions/baseline.json
  versions/h-/hidapi.json
Labels: category:port-update, info:reviewed

#25022 [SDL] enable hidapi
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-feature, info:internal, info:reviewed

#24963 [getopt-win32] ARM64 support
  ports/getopt-win32/CMakeLists.txt
  ports/getopt-win32/portfile.cmake
  ports/getopt-win32/vcpkg.json
  ports/graphviz/vcpkg.json
  ports/ideviceinstaller/vcpkg.json
  ports/libirecovery/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/getopt-win32.json
  versions/g-/graphviz.json
  versions/i-/ideviceinstaller.json
  versions/l-/libirecovery.json
Labels: category:port-feature, info:reviewed, requires:author-response

#25020 [directx-dxc] port added to provide latest DirectX 12 HLSL Shader Compiler
  ports/directx-dxc/directx-dxc-config.cmake.in
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:new-port, info:reviewed, requires:author-response

#25065 [igraph] update to 0.9.9
  ports/igraph/glpk-uwp.patch
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#25049 [Bitmagic] Update to 7.11.2
  ports/bitmagic/portfile.cmake
  ports/bitmagic/vcpkg.json
  versions/b-/bitmagic.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25042 [libhv] Export CMake config files
  ports/libhv/fix-export_cmake.patch
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:port-feature, info:internal, info:reviewed

#24758 [hdf5] Update to 1.12.2
  ports/hdf5/fix-parallel.patch
  ports/hdf5/hdf5_config.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-update, info:reviewed

#25060 [xaudio2redist] port updated to version 1.2.9
  ports/xaudio2redist/portfile.cmake
  ports/xaudio2redist/vcpkg.json
  versions/baseline.json
  versions/x-/xaudio2redist.json
Labels: category:port-update, info:reviewed

#24998 [c4core] update version to 0.1.9 AND [ryml] update to 0.4.1
  ports/c4core/portfile.cmake
  ports/c4core/vcpkg.json
  ports/ryml/cmake-fix.patch
  ports/ryml/portfile.cmake
  ports/ryml/vcpkg.json
  versions/baseline.json
  versions/c-/c4core.json
  versions/r-/ryml.json
Labels: info:internal, category:port-update, info:reviewed

#24967 [cppwinrt] port rewrite to use cppwint.exe tool from NuGet Gallery
  ports/cppwinrt/cppwinrt-config.cmake
  ports/cppwinrt/portfile.cmake
  ports/cppwinrt/usage
  ports/cppwinrt/vcpkg.json
  versions/baseline.json
  versions/c-/cppwinrt.json
Labels: category:port-update, info:reviewed

#24538 [glog] Glog nominmax
  ports/glog/fix-windows-CXX11_ATOMIC.patch
  ports/glog/nogdi-nominmax.patch
  ports/glog/portfile.cmake
  ports/glog/vcpkg.json
  versions/baseline.json
  versions/g-/glog.json
Labels: category:port-bug, info:reviewed

#24903 [hareflow] Add hareflow
  ports/hareflow/portfile.cmake
  ports/hareflow/vcpkg.json
  versions/baseline.json
  versions/h-/hareflow.json
Labels: category:new-port, info:reviewed

#25103 [Azure Storage] Update to June Release
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  versions/a-/azure-storage-common-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25106 [crashpad] Fix can't find build/build_config.h
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug, info:internal, info:reviewed

#25093 [asio-grpc] Update to 1.7.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25133 [libhsplasma] Update to 2022-05-19
  ports/libhsplasma/portfile.cmake
  ports/libhsplasma/vcpkg.json
  versions/baseline.json
  versions/l-/libhsplasma.json
Labels: category:port-update, info:reviewed

#25127 [string-theory] Update to 3.6
  ports/string-theory/portfile.cmake
  ports/string-theory/vcpkg.json
  versions/baseline.json
  versions/s-/string-theory.json
Labels: category:port-update, info:reviewed

#25122 [srell] Update to 3.010
  ports/srell/portfile.cmake
  ports/srell/vcpkg.json
  versions/baseline.json
  versions/s-/srell.json
Labels: category:port-update, info:reviewed

#25121 [expected-lite] Update to 0.6.0
  ports/expected-lite/portfile.cmake
  ports/expected-lite/vcpkg.json
  versions/baseline.json
  versions/e-/expected-lite.json
Labels: category:port-update, info:reviewed

#25117 [Azure SDK Key Vault] Update to June Release Certificates and Secrets
  ports/azure-security-keyvault-certificates-cpp/portfile.cmake
  ports/azure-security-keyvault-certificates-cpp/vcpkg.json
  ports/azure-security-keyvault-secrets-cpp/portfile.cmake
  ports/azure-security-keyvault-secrets-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-certificates-cpp.json
  versions/a-/azure-security-keyvault-secrets-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25116 [boinc] Update to 7.20.0
  ports/boinc/001-add-openssl3-support.patch
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25114 [buck-yeh-bux-mariadb-client] Update to 1.0.3
  ports/buck-yeh-bux-mariadb-client/portfile.cmake
  ports/buck-yeh-bux-mariadb-client/vcpkg.json
  versions/b-/buck-yeh-bux-mariadb-client.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25041 [libfv] Add new port
  ports/fawdlstty-libfv/portfile.cmake
  ports/fawdlstty-libfv/vcpkg.json
  versions/baseline.json
  versions/f-/fawdlstty-libfv.json
Labels: category:new-port, info:reviewed

#25095 [sdl1] Enable mingw
  ports/sdl1/portfile.cmake
  ports/sdl1/sdl-config.patch
  ports/sdl1/vcpkg.json
  versions/baseline.json
  versions/s-/sdl1.json
Labels: category:port-feature, info:reviewed, requires:author-response, category:community-triplet

#25092 [harfbuzz] Fix CMake config
  ports/harfbuzz/harfbuzzConfig.cmake.in
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-bug, info:reviewed

#25108 [wtl] Fix internal include path
  ports/wtl/portfile.cmake
  ports/wtl/vcpkg.json
  versions/baseline.json
  versions/w-/wtl.json
Labels: category:port-bug, info:internal, info:reviewed

#25152 [xbyak] Update to 6.60
  ports/xbyak/portfile.cmake
  ports/xbyak/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/x-/xbyak.json
Labels: category:port-update, info:reviewed

#25150 [hexl] Update to 1.2.4
  ports/hexl/portfile.cmake
  ports/hexl/vcpkg.json
  versions/baseline.json
  versions/h-/hexl.json
Labels: category:port-update, info:reviewed

#25136 [protopuf] Update to 2.2.0
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-update, info:reviewed

#25130 [ashes] Updated to 2022-06-08.
  ports/ashes/portfile.cmake
  ports/ashes/vcpkg.json
  versions/a-/ashes.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25113 [vcpkg baseline][air-ctl]add support uwp and dynamic library
  ports/air-ctl/portfile.cmake
  ports/air-ctl/vcpkg.json
  versions/a-/air-ctl.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#24595 [opencv4, opencv3, opencv2] Add feature dc1394
  ports/opencv/vcpkg.json
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  scripts/test_ports/vcpkg-ci-opencv/vcpkg.json
  versions/baseline.json
  versions/o-/opencv.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:internal, info:reviewed

#25120 [jwt-cpp] Update jwt-cpp to 0.6.0
  ports/jwt-cpp/portfile.cmake
  ports/jwt-cpp/vcpkg.json
  versions/baseline.json
  versions/j-/jwt-cpp.json
Labels: category:port-update, info:reviewed

#25141 [cgal] Update to version 5.4.1
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-update, info:reviewed

#25055 [tinyobjloader] Update to 2.0.0rc9
  ports/tinyobjloader/portfile.cmake
  ports/tinyobjloader/vcpkg.json
  versions/baseline.json
  versions/t-/tinyobjloader.json
Labels: category:port-update, info:reviewed

#25144 [buck-yeh-bux-sqlite] New port
  ports/buck-yeh-bux-mariadb-client/vcpkg.json
  ports/buck-yeh-bux-sqlite/portfile.cmake
  ports/buck-yeh-bux-sqlite/vcpkg.json
  ports/buck-yeh-bux/vcpkg.json
  scripts/ci.baseline.txt
  versions/b-/buck-yeh-bux-mariadb-client.json
  versions/b-/buck-yeh-bux-sqlite.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#24235 [blaze] fix mac arm build
  ports/blaze/fix-vm-build.patch
  ports/blaze/portfile.cmake
  ports/blaze/vcpkg.json
  versions/b-/blaze.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25159 [tiff] Fix libm as dependency for android
  ports/tiff/android-libm.patch
  ports/tiff/portfile.cmake
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25171 [rhash] Add target include directories and export unofficial config file
  ports/rhash/CMakeLists.txt
  ports/rhash/portfile.cmake
  ports/rhash/vcpkg.json
  versions/baseline.json
  versions/r-/rhash.json
Labels: category:port-feature, info:internal, info:reviewed

#22676 [vcpkg_execute_*_process] Add support for build profiling
  scripts/cmake/vcpkg_execute_build_process.cmake
  scripts/cmake/vcpkg_execute_required_process.cmake
  scripts/cmake/vcpkg_execute_required_process_repeat.cmake
Labels: info:reviewed, category:tool-update

#24756 [docs] Add integrate.md
  docs/commands/integrate.md
Labels: category:documentation

#24112 [cgal] Fix incorrect warning message
  ports/cgal/fix-incorrect-warning.patch
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-feature, info:internal, info:reviewed

#25211 [check] Fix the incorrect path of dll
  ports/check/fix-lib-path.patch
  ports/check/vcpkg.json
  versions/baseline.json
  versions/c-/check.json
Labels: category:port-bug, info:internal, info:reviewed

#25200 [libpng] Fix `find_package` debug libraries
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg-cmake-wrapper.cmake
  ports/libpng/vcpkg.json
  scripts/test_ports/cmake-user/project/CMakeLists.txt
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-bug, info:reviewed

#25184 [libiconv] Update to 1.17
  ports/libiconv/0002-Config-for-MSVC.patch
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-update, info:reviewed

#25180 Fix libspatialite build with VCPKG_BUILD_TYPE=release
  ports/libspatialite/portfile.cmake
  ports/libspatialite/vcpkg.json
  versions/baseline.json
  versions/l-/libspatialite.json
Labels: category:port-feature, info:reviewed

#25156 [rtmidi] Add new 'linux-alsa' feature
  ports/rtmidi/portfile.cmake
  ports/rtmidi/vcpkg.json
  versions/baseline.json
  versions/r-/rtmidi.json
Labels: category:port-feature, info:reviewed

#25160 [pipewire] new port
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: category:new-port, info:reviewed

#25154 [physx] Add support for Mac on ARM.
  ports/physx/portfile.cmake
  ports/physx/remove-werror.patch
  ports/physx/vcpkg.json
  versions/baseline.json
  versions/p-/physx.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#25162 [mqtt-cpp] Update to 13.0.0
  ports/mqtt-cpp/portfile.cmake
  ports/mqtt-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mqtt-cpp.json
Labels: category:port-update, info:reviewed

#25166 [plog] Update to 1.1.8
  ports/plog/portfile.cmake
  ports/plog/usage
  ports/plog/vcpkg.json
  versions/baseline.json
  versions/p-/plog.json
Labels: category:port-update, info:reviewed

#25219 Update vcpkg-unstable internal pipeline to MSVC-CI-PHASE5-YAML
  scripts/azure-pipelines/windows-unstable/job.yml
Labels: info:internal, info:reviewed, category:infrastructure

#25142 [llvm] updated to 14.0.4 + add spirv backend support
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-feature, category:port-update

#23732 [chartdir] use versioned download link
  ports/chartdir/portfile.cmake
  ports/chartdir/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/chartdir.json
Labels: category:port-update, info:reviewed

#25217 [webview2] New port of Microsoft.Web.WebView2
  ports/webview2/portfile.cmake
  ports/webview2/unofficial-webview2-config.cmake
  ports/webview2/vcpkg.json
  versions/baseline.json
  versions/w-/webview2.json
Labels: category:new-port, info:internal, info:reviewed

#24755 [docs] Add search.md
  docs/commands/search.md
Labels: category:documentation

#25241 [crfft, constexpr] Fix copyright location
  ports/clfft/portfile.cmake
  ports/clfft/vcpkg.json
  ports/constexpr/portfile.cmake
  ports/constexpr/vcpkg.json
  versions/baseline.json
  versions/c-/clfft.json
  versions/c-/constexpr.json
Labels: category:port-bug, info:reviewed

#25223 [installerbase] update to 4.4.0
  scripts/vcpkgTools.xml
Labels: info:internal, info:reviewed, category:tool-update, requires:vcpkg-team-review

#25209 [gmp | mpir] Add --with-pic
  ports/gmp/portfile.cmake
  ports/gmp/vcpkg.json
  ports/mpir/portfile.cmake
  ports/mpir/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
  versions/m-/mpir.json
Labels: category:port-feature, info:reviewed

#25207 [paho-mqtt] Update to 1.3.10 and fix include path
  ports/paho-mqtt/fix-install-path.patch
  ports/paho-mqtt/fix-unresolvedsymbol-arm.patch
  ports/paho-mqtt/portfile.cmake
  ports/paho-mqtt/remove_compiler_options.patch
  ports/paho-mqtt/vcpkg.json
  ports/paho-mqttpp3/fix-include-path.patch
  ports/paho-mqttpp3/portfile.cmake
  ports/paho-mqttpp3/vcpkg.json
  versions/baseline.json
  versions/p-/paho-mqtt.json
  versions/p-/paho-mqttpp3.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#25206 [socket-io-client] fix supports
  ports/socket-io-client/vcpkg.json
  versions/baseline.json
  versions/s-/socket-io-client.json
Labels: category:port-bug, info:internal, info:reviewed

#25191 [quantlib] Fix `supports`
  ports/quantlib/portfile.cmake
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-feature, info:reviewed

#25226 Update vcpkg-tool to 2022-06-15
  docs/maintainers/internal/vcpkg_tool_release_process.md
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/ci.baseline.txt
Labels: info:internal, category:tool-update

#24674 [vcpkg docs] Added documentation for VCPKG_FORCE_DOWNLOADED_BINARIES env var
  docs/users/config-environment.md
Labels: category:documentation

#25135 [openmvs, vcglib] Update openmvs 2.0.1, vcglib 2022.02
  ports/openmvs/fix-build-boost-1_77_0.patch
  ports/openmvs/fix-build.patch
  ports/openmvs/no-absolute-paths.patch
  ports/openmvs/portfile.cmake
  ports/openmvs/vcpkg.json
  ports/vcglib/consume-vcpkg-eigen3.patch
  ports/vcglib/fix-build.patch
  ports/vcglib/portfile.cmake
  ports/vcglib/vcpkg.json
  versions/baseline.json
  versions/o-/openmvs.json
  versions/v-/vcglib.json
Labels: category:port-feature, category:port-update, info:reviewed

#25134 [qt5-tools] Fix deploying translation files with `windeployqt`
  ports/qt5-tools/Fix-regression-in-lconvert-handling-empty-translations.patch
  ports/qt5-tools/portfile.cmake
  ports/qt5-tools/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-tools.json
Labels: category:port-bug, info:reviewed

#25110 [libcaer] New port for libcaer
  ports/libcaer/libcaer-static-build.patch
  ports/libcaer/portfile.cmake
  ports/libcaer/vcpkg.json
  versions/baseline.json
  versions/l-/libcaer.json
Labels: category:new-port, info:reviewed

#24716 [random123] Add new port
  ports/random123/portfile.cmake
  ports/random123/vcpkg.json
  versions/baseline.json
  versions/r-/random123.json
Labels: category:new-port, info:reviewed

#25089 [hdf5] Refix msmpi library path in pkgconfig
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, info:internal, info:reviewed

#25257 [proj] Update to 9.0.1
  ports/proj/fix-proj4-targets-cmake.patch
  ports/proj/portfile.cmake
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-update, info:reviewed

#25254 [buck-yeh-bux] Update to 1.6.6
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25240 [wxwidgets] Remove debug asserts from Release build.
  ports/wxcharts/portfile.cmake
  ports/wxcharts/vcpkg.json
  ports/wxwidgets/example/CMakeLists.txt
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  scripts/test_ports/vcpkg-ci-wxwidgets/portfile.cmake
  versions/baseline.json
  versions/w-/wxcharts.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:reviewed

#25228 [mygui] Add feature tools
  ports/mygui/Install-tools.patch
  ports/mygui/Use-vcpkg-sdl2.patch
  ports/mygui/portfile.cmake
  ports/mygui/vcpkg.json
  versions/baseline.json
  versions/m-/mygui.json
Labels: category:port-feature, info:internal, info:reviewed

#25111 [saucer, lockpp] add new port
  ports/lockpp/portfile.cmake
  ports/lockpp/vcpkg.json
  ports/saucer/portfile.cmake
  ports/saucer/unofficial-webview2.patch
  ports/saucer/vcpkg.json
  versions/baseline.json
  versions/l-/lockpp.json
  versions/s-/saucer.json
Labels: category:new-port, info:reviewed

#25021 [ignition-cmake2/ignition-modularscripts/ignition-common3] Add options, support pkgconfig and fix usage for common3-graph
  ports/ignition-cmake2/add-pkgconfig-and-remove-privatefor-limit.patch
  ports/ignition-cmake2/portfile.cmake
  ports/ignition-cmake2/vcpkg.json
  ports/ignition-common3/fix-dependencies.patch
  ports/ignition-common3/portfile.cmake
  ports/ignition-common3/vcpkg.json
  ports/ignition-modularscripts/vcpkg-port-config.cmake
  ports/ignition-modularscripts/vcpkg.json
  versions/baseline.json
  versions/i-/ignition-cmake2.json
  versions/i-/ignition-common3.json
  versions/i-/ignition-modularscripts.json
Labels: category:port-bug, info:internal, info:reviewed

#25290 [air-ctl] Update to v1.1.0
  ports/air-ctl/portfile.cmake
  ports/air-ctl/vcpkg.json
  versions/a-/air-ctl.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25272 [redis-plus-plus] Add feature async-std and fix dependency libuv
  ports/redis-plus-plus/fix-dependency-libuv.patch
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: category:port-feature, info:internal, info:reviewed

#25247 [skia] Build configuration fix
  ports/skia/portfile.cmake
  ports/skia/skiaConfig.cmake.in
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:reviewed

#25229 [wtl] Add another post-release update
  ports/wtl/atlribbon.h-wtl66.patch
  ports/wtl/portfile.cmake
  ports/wtl/vcpkg.json
  versions/baseline.json
  versions/w-/wtl.json
Labels: category:port-update, info:reviewed

#25224 [librabbitmq] Fix cannot include header file when using.
  ports/librabbitmq/fix-link-header-files.patch
  ports/librabbitmq/portfile.cmake
  ports/librabbitmq/vcpkg.json
  versions/baseline.json
  versions/l-/librabbitmq.json
Labels: category:port-bug, info:internal, info:reviewed

#25105 [python3] Update to 3.10.5.
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update, info:reviewed

#24596 [gtk] Add a dependency on gettext[tools] to build translation files
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
Labels: category:port-feature, info:reviewed

#24939 [comms,commsdsl,comms-ublox] update ports
  ports/comms-ublox/copyright
  ports/comms-ublox/fix-comms.patch
  ports/comms-ublox/portfile.cmake
  ports/comms-ublox/vcpkg.json
  ports/comms/portfile.cmake
  ports/comms/vcpkg.json
  ports/commsdsl/portfile.cmake
  ports/commsdsl/vcpkg.json
  versions/baseline.json
  versions/c-/comms-ublox.json
  versions/c-/comms.json
  versions/c-/commsdsl.json
Labels: category:port-update, info:reviewed

#25075 [many ports] Remove from CI baseline
  ports/cppcms/no-tests-and-examples.patch
  ports/cppcms/portfile.cmake
  ports/cppcms/vcpkg.json
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  ports/devicenameresolver/portfile.cmake
  ports/devicenameresolver/vcpkg.json
  ports/epsilon/portfile.cmake
  ports/epsilon/vcpkg.json
  ports/fann/portfile.cmake
  ports/fann/vcpkg.json
  ports/libbf/portfile.cmake
  ports/libbf/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cppcms.json
  versions/c-/cudnn.json
  versions/d-/devicenameresolver.json
  versions/e-/epsilon.json
  versions/f-/fann.json
  versions/l-/libbf.json
Labels: category:port-feature, info:reviewed

#25341 [hotfix] Update vcpkg-tool to 2022-06-17.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: category:vcpkg-bug, info:internal

#25313 [doctest] Update to 2.4.9
  ports/doctest/portfile.cmake
  ports/doctest/vcpkg.json
  versions/baseline.json
  versions/d-/doctest.json
Labels: category:port-update, info:reviewed

#25168 [quickcpplib] Update port to 2022-06-17
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  versions/baseline.json
  versions/n-/ned14-internal-quickcpplib.json
Labels: category:port-update, info:reviewed

#24720 [osg] Cleanup, export unofficial config
  ports/osg/disable-present3d-staticview-in-linux.patch
  ports/osg/fix-curl.patch
  ports/osg/fix-dependency-coin.patch
  ports/osg/fix-example-application.patch
  ports/osg/fix-liblas.patch
  ports/osg/fix-nvtt-squish.patch
  ports/osg/fix-nvtt.patch
  ports/osg/fix-sdl.patch
  ports/osg/link-libraries.patch
  ports/osg/plugin-pdb-install.patch
  ports/osg/portfile.cmake
  ports/osg/remove-prefix.patch
  ports/osg/static.patch
  ports/osg/unofficial-export.patch
  ports/osg/unofficial-osg-config.cmake
  ports/osg/vcpkg.json
  ports/osgearth/StaticOSG.patch
  ports/osgearth/find-package.patch
  ports/osgearth/fix-dependency-osg.patch
  ports/osgearth/fix-imgui.patch
  ports/osgearth/link-libraries.patch
  ports/osgearth/osgearth-library-static.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/use-unofficial-osg-config.patch
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osg.json
  versions/o-/osgearth.json
Labels: category:port-feature, info:reviewed

#24869 [KTX] Fixing port to properly patch zstd for platforms other than windows
  ports/ktx/0001-Use-vcpkg-zstd.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25123 [vcpkg-cmake] Fix the application of VCPKG_CMAKE_CONFIGURE_OPTIONS with more than one option
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: info:reviewed, category:tool-update

#25296 [libarchive] Fix zstd feature
  ports/libarchive/fix-deps.patch
  ports/libarchive/pkgconfig-modules.patch
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-bug, info:reviewed

#25317 [log4cxx] Update to 0.13.0
  ports/log4cxx/expat.patch
  ports/log4cxx/pkgconfig.patch
  ports/log4cxx/portfile.cmake
  ports/log4cxx/threadutility.patch
  ports/log4cxx/vcpkg.json
  versions/baseline.json
  versions/l-/log4cxx.json
Labels: category:port-update, info:reviewed

#25328 [podofo] Install PoDoFoConfig.cmake, fix usage
  ports/podofo/install-cmake-config.patch
  ports/podofo/portfile.cmake
  ports/podofo/vcpkg.json
  versions/baseline.json
  versions/p-/podofo.json
Labels: category:port-feature, info:internal, info:reviewed

#25183 [cmake-user] Extend test port coverage
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/test_ports/cmake-user/vcpkg.json
Labels: info:reviewed, category:tool-update

#25288 [dav1d] update to 1.0.0
  ports/dav1d/patch_underscore_prefix.patch
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: info:internal, category:port-update, info:reviewed

#25347 [fuzzylite] fix osx build
  ports/fuzzylite/no-werror.patch
  ports/fuzzylite/portfile.cmake
  ports/fuzzylite/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/fuzzylite.json
Labels: category:port-bug, info:reviewed

#25342 [utf8proc] no absolute paths
  ports/utf8proc/portfile.cmake
  ports/utf8proc/vcpkg.json
  versions/baseline.json
  versions/u-/utf8proc.json
Labels: category:port-bug, info:reviewed

#25124 [azure-identity-cpp] publish version 1.3.0
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  versions/a-/azure-identity-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25380 [nu-book/zxing-cpp] update to 1.3.0
  ports/nu-book-zxing-cpp/ignore-pdb-install-symbols-in-lib.patch
  ports/nu-book-zxing-cpp/portfile.cmake
  ports/nu-book-zxing-cpp/vcpkg.json
  versions/baseline.json
  versions/n-/nu-book-zxing-cpp.json
Labels: category:port-update, info:reviewed

#25360 [speexdsp] Modify the name of dll to match lib
  ports/speexdsp/CMakeLists.txt
  ports/speexdsp/portfile.cmake
  ports/speexdsp/vcpkg.json
  versions/baseline.json
  versions/s-/speexdsp.json
Labels: category:port-bug, info:internal, info:reviewed

#25355 [libhydrogen] update und fix arm64-osx build
  ports/libhydrogen/no-arch.patch
  ports/libhydrogen/portfile.cmake
  ports/libhydrogen/vcpkg.json
  versions/baseline.json
  versions/l-/libhydrogen.json
Labels: category:port-update, info:reviewed, category:community-triplet

#25351 [openmpi] update to latest release
  ports/openmpi/portfile.cmake
  ports/openmpi/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/openmpi.json
Labels: category:port-update, info:reviewed

#25345 [sciplot] fix arm64-osx build
  ports/sciplot/portfile.cmake
  ports/sciplot/vcpkg.json
  versions/baseline.json
  versions/s-/sciplot.json
Labels: category:port-update, info:reviewed

#25331 [tinyutf8] update to 4.4.3
  ports/tinyutf8/fixbuild.patch
  ports/tinyutf8/portfile.cmake
  ports/tinyutf8/vcpkg.json
  versions/baseline.json
  versions/t-/tinyutf8.json
Labels: info:internal, category:port-update, info:reviewed

#25369 [google-cloud-cpp] update to latest release (v1.42.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#25404 [PMDK] update to 1.12.0
  ports/pmdk/portfile.cmake
  ports/pmdk/vcpkg.json
  versions/baseline.json
  versions/p-/pmdk.json
Labels: info:internal, category:port-update, info:reviewed

#25389 [fontconfig] Fix mingw build
  ports/fontconfig/fix-mingw-gperf-fallback.patch
  ports/fontconfig/libgetopt.patch
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-feature, info:reviewed

#25346 [gts] use supports expression
  ports/gts/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gts.json
Labels: category:port-feature, info:reviewed

#25325 [docs] fix 404 url
  docs/examples/packaging-zipfiles.md
Labels: category:documentation, info:reviewed

#25292 [DiscordCoreAPI] Update to version 2022-06-18.
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#25019 [catch2] Set CMAKE_CXX_STANDARD to 17.
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-bug, info:internal, info:reviewed

#25299 [boost-modular-build-helper] Support boost architecture arm+x86 (#25294)
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: info:reviewed, category:community-triplet

#25343 [tre] fix macos build
  ports/tre/CMakeLists.txt
  ports/tre/fix-config.patch
  ports/tre/portfile.cmake
  ports/tre/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/t-/tre.json
Labels: category:port-bug, info:reviewed

#25256 [docs] Add documentation for x-update-baseline
  docs/commands/update-baseline.md
  docs/examples/versioning.getting-started.md
  docs/maintainers/registries.md
  docs/users/manifests.md
  docs/users/registries.md
  docs/users/versioning.md
Labels: category:documentation, info:internal, info:reviewed

#24782 [zeromq] Fix mingw build issues (24711)
  ports/zeromq/portfile.cmake
  ports/zeromq/vcpkg.json
  versions/baseline.json
  versions/z-/zeromq.json
Labels: info:reviewed, category:community-triplet

#25312 [glog] upgrade to v0.6
  ports/caffe2/fix-isgloginitialized.patch
  ports/caffe2/portfile.cmake
  ports/caffe2/vcpkg.json
  ports/evpp/compile-features.patch
  ports/evpp/portfile.cmake
  ports/evpp/vcpkg.json
  ports/fbthrift/fix-glog.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/folly/fix-abort.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/glog/cmakelists_atomicdetect.patch
  ports/glog/fix-SOME_KIND_OF_LOG.patch
  ports/glog/fix_cplusplus_macro.patch
  ports/glog/fix_crosscompile_symbolize.patch
  ports/glog/fix_glog_CMAKE_MODULE_PATH.patch
  ports/glog/fix_log_every_n.patch
  ports/glog/glog_disable_debug_postfix.patch
  ports/glog/portfile.cmake
  ports/glog/vcpkg.json
  versions/baseline.json
  versions/c-/caffe2.json
  versions/e-/evpp.json
  versions/f-/fbthrift.json
  versions/f-/folly.json
  versions/g-/glog.json
Labels: category:port-update, info:reviewed

#25326 [ogre] Fix usage, regenerate patches, deprecate feature assimp
  ports/ogre/fix-dependency.patch
  ports/ogre/fix-findimgui.patch
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-bug, info:internal, info:reviewed

#25260 Update VMs for June Patch Tuesday
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/azure-pipelines/windows/deploy-windows-sdks.ps1
  scripts/ci.baseline.txt
  scripts/vcpkgTools.xml
Labels: info:internal, category:infrastructure

#25409 [many ports] Fix copyright install
  ports/chartdir/portfile.cmake
  ports/chartdir/vcpkg.json
  ports/mdnsresponder/portfile.cmake
  ports/mdnsresponder/vcpkg.json
  ports/mgnlibs/portfile.cmake
  ports/mgnlibs/vcpkg.json
  ports/moos-core/portfile.cmake
  ports/moos-core/vcpkg.json
  ports/quirc/portfile.cmake
  ports/quirc/vcpkg.json
  versions/baseline.json
  versions/c-/chartdir.json
  versions/m-/mdnsresponder.json
  versions/m-/mgnlibs.json
  versions/m-/moos-core.json
  versions/q-/quirc.json
Labels: category:port-bug

#25264 [docs] Add docs for remove command
  docs/commands/index.md
  docs/commands/install.md
  docs/commands/remove.md
Labels: category:documentation, info:internal

#25420 [so5extra] Update to 1.5.2
  ports/so5extra/portfile.cmake
  ports/so5extra/vcpkg.json
  versions/baseline.json
  versions/s-/so5extra.json
Labels: category:port-update, info:reviewed

#25410 [gtest] update to 1.12.0
  ports/gtest/portfile.cmake
  ports/gtest/remove-werror.patch
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-update, info:reviewed

#25403 [pffft] fix supports
  ports/pffft/fix-invalid-command.patch
  ports/pffft/portfile.cmake
  ports/pffft/vcpkg.json
  versions/baseline.json
  versions/p-/pffft.json
Labels: category:port-bug, info:internal, info:reviewed

#25416 [antlr4] Update to 4.10.1
  ports/antlr4/fix_LNK2001.patch
  ports/antlr4/fixed_build.patch
  ports/antlr4/portfile.cmake
  ports/antlr4/uuid_discovery_fix.patch
  ports/antlr4/vcpkg.json
  versions/a-/antlr4.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#25446 [sol2] update to 3.3.0
  ports/sol2/fix-namespace.patch
  ports/sol2/portfile.cmake
  ports/sol2/vcpkg.json
  versions/baseline.json
  versions/s-/sol2.json
Labels: info:internal, category:port-update, info:reviewed

#25370 [imgui] Update to 1.88
  ports/imgui-sfml/portfile.cmake
  ports/imgui-sfml/vcpkg.json
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui-sfml.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#25178 [docs] Update docs for `vcpkg_extract_source_archive`
  docs/commands/install.md
  docs/maintainers/maintainer-guide.md
  docs/maintainers/vcpkg_extract_source_archive.md
  docs/maintainers/vcpkg_extract_source_archive_ex.md
Labels: category:documentation, info:internal

#24308 [pthreads4w] update for single config builds, improve downstream compatibility
  ports/darknet/portfile.cmake
  ports/darknet/vcpkg.json
  ports/pthreads/PThreads4WConfig.cmake
  ports/pthreads/portfile.cmake
  ports/pthreads/usage
  ports/pthreads/vcpkg-cmake-wrapper-pthread.cmake
  ports/pthreads/vcpkg-cmake-wrapper-pthreads-windows.cmake
  ports/pthreads/vcpkg-cmake-wrapper-pthreads.cmake
  ports/pthreads/vcpkg.json
  versions/baseline.json
  versions/d-/darknet.json
  versions/p-/pthreads.json
Labels: category:port-feature, info:reviewed

#25453 [air-ctl] Update to v1.1.1
  ports/air-ctl/portfile.cmake
  ports/air-ctl/vcpkg.json
  versions/a-/air-ctl.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25327 [openal-soft] Update to 1.22.0
  ports/magnum/004-fix-FindOpenAL.patch
  ports/magnum/portfile.cmake
  ports/magnum/vcpkg.json
  ports/openal-soft/dont-export-symbols-in-static-build.patch
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/m-/magnum.json
  versions/o-/openal-soft.json
Labels: info:internal, category:port-update, info:reviewed

#25452 [gdal] Delete useless pdbs in lib directory
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:internal, info:reviewed

#25421 [lz4] Patch for CVE-2021-3520
  ports/lz4/0001-Fix-potential-memory-corruption-with-negative-memmov.patch
  ports/lz4/portfile.cmake
  ports/lz4/vcpkg.json
  versions/baseline.json
  versions/l-/lz4.json
Labels: category:port-bug, info:reviewed

#25488 Update nodejs to 16.15.1.
  scripts/vcpkgTools.xml
Labels: info:internal, category:infrastructure

#25451 [openssl] Change repo to github and update to 3.0.4
  ports/openssl/portfile.cmake
  ports/openssl/unix/portfile.cmake
  ports/openssl/uwp/portfile.cmake
  ports/openssl/vcpkg.json
  ports/openssl/windows/flags.patch
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:internal, category:port-update, info:reviewed

#25361 [vcpkg_setup_pkgconfig_path] Fix backup/restore
  docs/maintainers/internal/z_vcpkg_setup_pkgconfig_path.cmake.md
  scripts/cmake/z_vcpkg_setup_pkgconfig_path.cmake
  scripts/test_ports/unit-test-cmake/portfile.cmake
  scripts/test_ports/unit-test-cmake/test-vcpkg_backup_restore_env_vars.cmake
  scripts/test_ports/unit-test-cmake/test-z_vcpkg_setup_pkgconfig_path.cmake
  scripts/test_ports/unit-test-cmake/vcpkg.json
Labels: info:reviewed, category:tool-update

#25169 [nanogui] add glad support
  ports/nanogui/fix-glad-dependence.patch
  ports/nanogui/portfile.cmake
  ports/nanogui/vcpkg.json
  versions/baseline.json
  versions/n-/nanogui.json
Labels: category:port-feature, info:internal, info:reviewed

#25273 [dv-processing] Add New port for dv processing
  ports/dv-processing/portfile.cmake
  ports/dv-processing/vcpkg-build.patch
  ports/dv-processing/vcpkg.json
  versions/baseline.json
  versions/d-/dv-processing.json
Labels: category:new-port, requires:author-response

#25494 [daw-json-link] update to v3.0.0
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
  versions/d-/daw-json-link.json
Labels: info:internal, category:port-update, info:reviewed

#25462 [librdkafka] Upgrade librdkafka up to 1.9.0
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#25460 [sqlite3] Remove the restriction of using find_dependency(Threads) only under static linking
  ports/sqlite3/sqlite3-config.in.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-bug, info:internal, info:reviewed, category:community-triplet

#25418 [QT] arm64-windows build
  ports/jasper/vcpkg.json
  ports/libraw/vcpkg.json
  ports/osg/vcpkg.json
  ports/qt5-imageformats/portfile.cmake
  ports/qt5-imageformats/vcpkg.json
  ports/qtapplicationmanager/portfile.cmake
  ports/qtapplicationmanager/stack-walker-arm64.patch
  ports/qtapplicationmanager/vcpkg.json
  ports/qtwebengine/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
  versions/l-/libraw.json
  versions/o-/osg.json
  versions/q-/qt5-imageformats.json
  versions/q-/qtapplicationmanager.json
  versions/q-/qtwebengine.json
Labels: info:reviewed, category:community-triplet
