Repository microsoft/vcpkg, pull requests merged in 2022-04, with the labels that each got.

#23886 [vcpkg-tool] update to 2022-03-30
  scripts/addPoshVcpkgToPowershellProfile.ps1
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/buildsystems/msbuild/applocal.ps1
  scripts/posh-vcpkg/0.0.1/posh-vcpkg.psm1
Labels: info:internal, category:tool-update

#23878 [vcpkg baseline][quickfix] Remove from CI baseline
  ports/quickfix/portfile.cmake
  ports/quickfix/vcpkg.json
  scripts/ci.baseline.txt
  scripts/templates/portfile.in.cmake
  versions/baseline.json
  versions/q-/quickfix.json
Labels: category:port-feature, info:reviewed

#21641 [cmake-user] Verify library location for debug vs. release, fix ports
  ports/freetype/portfile.cmake
  ports/freetype/vcpkg-cmake-wrapper.cmake
  ports/freetype/vcpkg.json
  ports/icu/vcpkg-cmake-wrapper.cmake
  ports/icu/vcpkg.json
  ports/libjpeg-turbo/vcpkg-cmake-wrapper.cmake
  ports/libjpeg-turbo/vcpkg.json
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/test_ports/cmake-user/project/CMakeLists.txt
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/f-/freetype.json
  versions/i-/icu.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-bug, category:vcpkg-feature, info:reviewed, depends:vcpkg-team

#23916 [nvtt] Fix build failed with Visual Studio 2022
  ports/nvtt/fix-intrinsic-function.patch
  ports/nvtt/portfile.cmake
  ports/nvtt/vcpkg.json
  versions/baseline.json
  versions/n-/nvtt.json
Labels: category:port-bug, info:internal, info:reviewed

#23912 [Azure SDK Core] Update to 1.5.0 Apr Release
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23901 [yara ] update to v4.2.0
  ports/yara/CMakeLists.txt
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: info:internal, category:port-update, info:reviewed

#23891 [args] Update to 6.3.0
  ports/args/portfile.cmake
  ports/args/vcpkg.json
  versions/a-/args.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23893 [pybind11] Update to 2.9.2
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#23894 [rsm-bsa] Update to 4.0.3
  ports/rsm-bsa/portfile.cmake
  ports/rsm-bsa/vcpkg.json
  versions/baseline.json
  versions/r-/rsm-bsa.json
Labels: category:port-update, info:reviewed

#23849 [cairo] update to 1.7.6
  ports/cairo/0001-meson-fix-macOS-build-and-add-macOS-ci.patch
  ports/cairo/cairo_static_fix.patch
  ports/cairo/meson-fix-bfd.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-update, info:reviewed

#23880 [concurrencpp] Update to 0.1.4
  ports/concurrencpp/portfile.cmake
  ports/concurrencpp/vcpkg.json
  versions/baseline.json
  versions/c-/concurrencpp.json
Labels: category:port-update, info:reviewed

#23865 [WinReg] update to v5.1.0
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#22575 [expat]update to 2.4.8
  ports/expat/pkgconfig.patch
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: info:internal, category:port-update, info:reviewed

#23836 [libmt32emu] update from 2.5.3 to 2.6.2
  ports/libmt32emu/portfile.cmake
  ports/libmt32emu/vcpkg.json
  versions/baseline.json
  versions/l-/libmt32emu.json
Labels: info:internal, category:port-update, info:reviewed

#23922 [fontconfig] update to 2.14.0
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-update, info:reviewed

#23917 [nss] Version bump to 3.77
  ports/nss/portfile.cmake
  ports/nss/vcpkg.json
  versions/baseline.json
  versions/n-/nss.json
Labels: category:port-update, info:reviewed

#23906 [gtest] Fix clang-tidy error in gtest
  ports/gtest/clang-tidy-no-lint.patch
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-bug, info:reviewed

#23867 [lunasvg] Add new port
  ports/lunasvg/fix-install.patch
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:new-port, info:reviewed

#23807 [freeglut] Update to 3.2.2, fix X11 dependencies
  ports/freeglut/gcc10.patch
  ports/freeglut/portfile.cmake
  ports/freeglut/use_targets_to_export_x11_dependency.patch
  ports/freeglut/vcpkg-cmake-wrapper.cmake
  ports/freeglut/vcpkg.json
  ports/freeglut/windows-static-output-name.patch
  ports/freeglut/x11-dependencies-export.patch
  versions/baseline.json
  versions/f-/freeglut.json
Labels: category:port-update, info:reviewed

#23799 [mailio] correct hint
  ports/mailio/portfile.cmake
  ports/mailio/vcpkg.json
  versions/baseline.json
  versions/m-/mailio.json
Labels: category:port-bug, info:reviewed

#23710 [date] Fix uninitialized values
  ports/date/fix-uninitialized-values.patch
  ports/date/portfile.cmake
  ports/date/vcpkg.json
  versions/baseline.json
  versions/d-/date.json
Labels: category:port-bug, info:internal, info:reviewed

#22138 [blend2d] Update to 2022-02-19
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
  versions/b-/blend2d.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23089 [vcpkg-get-python-packages] add helper to manage python and pip
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  ports/vcpkg-get-python-packages/README.md
  ports/vcpkg-get-python-packages/copyright
  ports/vcpkg-get-python-packages/portfile.cmake
  ports/vcpkg-get-python-packages/vcpkg-port-config.cmake
  ports/vcpkg-get-python-packages/vcpkg.json
  ports/vcpkg-get-python-packages/x_vcpkg_get_python_packages.cmake
  versions/baseline.json
  versions/m-/mesa.json
  versions/v-/vcpkg-get-python-packages.json
Labels: category:new-port, info:reviewed

#23900 [CUDA, CUDNN] fix support clause
  ports/cuda/vcpkg.json
  ports/cudnn/vcpkg.json
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/c-/cuda.json
  versions/c-/cudnn.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#23815 [librdkafka] fix find_dependency LZ4.
  ports/librdkafka/lz4.patch
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-bug, info:reviewed

#22878 [openssl] update to 3.0.2
  ports/aws-sdk-cpp/fix-openssl3.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  ports/azure-c-shared-utility/openssl.patch
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  ports/idevicerestore/fix-vcxproj.patch
  ports/idevicerestore/portfile.cmake
  ports/idevicerestore/vcpkg.json
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/uwp-warnings.patch
  ports/libdatachannel/vcpkg.json
  ports/libmysql/openssl.patch
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  ports/librabbitmq/fix-uwpwarning.patch
  ports/librabbitmq/vcpkg.json
  ports/librtmp/CMakeLists.txt
  ports/librtmp/vcpkg.json
  ports/libssh2/0003-fix-openssl3.patch
  ports/libssh2/portfile.cmake
  ports/libssh2/vcpkg.json
  ports/libu2f-server/CMakeLists.txt
  ports/libu2f-server/vcpkg.json
  ports/libwebsockets/fix-build-error.patch
  ports/libwebsockets/vcpkg.json
  ports/luasec/vcpkg.json
  ports/open62541/openssl.patch
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  ports/openssl/portfile.cmake
  ports/openssl/unix/portfile.cmake
  ports/openssl/uwp/EnableUWPSupport.patch
  ports/openssl/uwp/portfile.cmake
  ports/openssl/vcpkg-cmake-wrapper.cmake.in
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  ports/qpid-proton/fix-openssl3.patch
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/vcpkg.json
  ports/uthenticode/openssl.patch
  ports/uthenticode/portfile.cmake
  ports/uthenticode/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/a-/azure-c-shared-utility.json
  versions/baseline.json
  versions/i-/idevicerestore.json
  versions/l-/libdatachannel.json
  versions/l-/libmysql.json
  versions/l-/librabbitmq.json
  versions/l-/librtmp.json
  versions/l-/libssh2.json
  versions/l-/libu2f-server.json
  versions/l-/libwebsockets.json
  versions/l-/luasec.json
  versions/o-/open62541.json
  versions/o-/openssl.json
  versions/q-/qpid-proton.json
  versions/u-/uthenticode.json
Labels: category:port-update, info:reviewed

#23990 [argtable3] actually disable examples
  ports/argtable3/portfile.cmake
  ports/argtable3/vcpkg.json
  versions/a-/argtable3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23988 [google-cloud-cpp] update to latest release (v1.39.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/support_absl_cxx17.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#23959 [glslang] update port to v11.8.0
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-update, info:reviewed

#23978 [darknet] update to latest version
  ports/darknet/portfile.cmake
  ports/darknet/vcpkg.json
  versions/baseline.json
  versions/d-/darknet.json
Labels: category:port-update, info:reviewed

#23970 [immer] update to latest version
  ports/immer/portfile.cmake
  ports/immer/vcpkg.json
  versions/baseline.json
  versions/i-/immer.json
Labels: category:port-update, info:reviewed

#23962 [drlibs] Update to 2022-04-03
  ports/drlibs/portfile.cmake
  ports/drlibs/vcpkg.json
  versions/baseline.json
  versions/d-/drlibs.json
Labels: category:port-update, info:reviewed

#23961 [libiconv] Fix usage
  ports/libiconv/portfile.cmake
  ports/libiconv/usage
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-bug, info:reviewed

#23964 [ashes] Updated port to 2022-04-03
  ports/ashes/fix-cast.patch
  ports/ashes/portfile.cmake
  ports/ashes/vcpkg.json
  versions/a-/ashes.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23953 [libpff] Fix zlib import
  ports/libpff/CMakeLists.txt
  ports/libpff/portfile.cmake
  ports/libpff/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libpff.json
Labels: category:port-bug, info:reviewed

#23951 [sleef] Fix unused configure variable
  ports/sleef/portfile.cmake
  ports/sleef/vcpkg.json
  versions/baseline.json
  versions/s-/sleef.json
Labels: category:port-bug, info:reviewed

#23957 [shaderwriter] Updated to version 2.2.0.
  ports/shaderwriter/portfile.cmake
  ports/shaderwriter/vcpkg.json
  versions/baseline.json
  versions/s-/shaderwriter.json
Labels: category:port-update, info:reviewed

#23998 [azure-sdk-for-cpp] Update to latest version
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23949 [mpeg123] fix yasm dependency.
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:reviewed

#23948 [redis-plus-plus] Update to 1.3.2
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: category:port-update, info:reviewed

#23947 [tgbot-cpp] Update to v1.3
  ports/tgbot-cpp/portfile.cmake
  ports/tgbot-cpp/vcpkg.json
  versions/baseline.json
  versions/t-/tgbot-cpp.json
Labels: category:port-update, info:reviewed

#23945 [baseline][quickfix] Don't build tests
  ports/quickfix/00001-fix-build.patch
  ports/quickfix/vcpkg.json
  versions/baseline.json
  versions/q-/quickfix.json
Labels: category:port-bug, info:reviewed

#23943 [clblast] Fix static build
  ports/clblast/portfile.cmake
  ports/clblast/vcpkg.json
  versions/baseline.json
  versions/c-/clblast.json
Labels: category:port-feature, info:reviewed

#23942 [ktx] only remove dlls in static builds
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-bug, info:reviewed

#23914 [imgui-sfml] Update to 2.5
  ports/imgui-sfml/005-fix-imtextureid-define.patch
  ports/imgui-sfml/portfile.cmake
  ports/imgui-sfml/vcpkg.json
  versions/baseline.json
  versions/i-/imgui-sfml.json
Labels: category:port-update, info:reviewed

#23946 [hps] Add new port
  ports/hps/portfile.cmake
  ports/hps/usage
  ports/hps/vcpkg.json
  versions/baseline.json
  versions/h-/hps.json
Labels: category:new-port, info:reviewed

#22834 [proxygen]: fix dependency
  ports/proxygen/fix-zstd-zlib-dependency.patch
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  versions/baseline.json
  versions/p-/proxygen.json
Labels: category:port-bug, info:reviewed

#23872 [crow] update to 1.0
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-update, info:reviewed

#23989 [vcpkg CMake] Fix for #18529 that broke iOS compilation
  ports/vcpkg-cmake/cmake_get_vars/CMakeLists.txt
  ports/vcpkg-cmake/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-bug, info:reviewed, category:community-triplet

#23999 [vcpkg baseline][cairo] Add option atomic-ops and disable it
  ports/cairo/disable-atomic-ops-check.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug, info:internal

#24004 [openssl] Fix building in Release only mode
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#23895 [DiscordCoreAPI] Adding DiscordCoreAPI Discord bot library package.
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:new-port, info:reviewed

#23800 [libsndfile] Update to 1.1.0
  ports/libsndfile/fix-mp3lame.patch
  ports/libsndfile/fix-uwp.patch
  ports/libsndfile/portfile.cmake
  ports/libsndfile/vcpkg.json
  versions/baseline.json
  versions/l-/libsndfile.json
Labels: category:port-feature, category:port-update, info:reviewed

#23928 [openxr-loader] Fix package name and enable arm
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-bug, info:reviewed

#24000 [cub] Update to 1.16.0
  ports/cub/fix-usage.patch
  ports/cub/portfile.cmake
  ports/cub/usage
  ports/cub/vcpkg.json
  versions/baseline.json
  versions/c-/cub.json
Labels: info:internal, category:port-update, info:reviewed

#24015 [iir1] Fix find_package failed
  ports/iir1/portfile.cmake
  ports/iir1/vcpkg.json
  versions/baseline.json
  versions/i-/iir1.json
Labels: category:port-bug, info:internal, info:reviewed

#23896 [vcpkg-ci-llvm] Reduce llvm artifact to cacheable size
  scripts/test_ports/vcpkg-ci-llvm/vcpkg.json
Labels: category:port-feature, requires:discussion

#24011 [zziplib] Update to v0.13.72
  .github/workflows/untrustedPR.yml
  ports/zziplib/always-find-unixcommands-on-unix.patch
  ports/zziplib/cmake-project-include.cmake
  ports/zziplib/fix-export-define.patch
  ports/zziplib/install-dll-to-proper-folder.patch
  ports/zziplib/portfile.cmake
  ports/zziplib/vcpkg.json
  versions/baseline.json
  versions/z-/zziplib.json
Labels: category:port-update, category:infrastructure, requires:vcpkg-team-review

#22135 [glog] update to v0.5
  ports/caffe2/no-inout-macros.patch
  ports/caffe2/portfile.cmake
  ports/caffe2/vcpkg.json
  ports/glog/fix_glog_CMAKE_MODULE_PATH.patch
  ports/glog/fix_log_every_n.patch
  ports/glog/glog_disable_debug_postfix.patch
  ports/glog/nogdi-nominmax.patch
  ports/glog/portfile.cmake
  ports/glog/vcpkg.json
  versions/baseline.json
  versions/c-/caffe2.json
  versions/g-/glog.json
Labels: category:port-update, info:reviewed

#23242 [loguru] Add feature to build with fmt
  ports/loguru/CMakeLists.txt
  ports/loguru/portfile.cmake
  ports/loguru/vcpkg.json
  versions/baseline.json
  versions/l-/loguru.json
Labels: category:port-feature, info:reviewed

#23830 [braft] New port
  ports/braft/export-target.patch
  ports/braft/fix-build.patch
  ports/braft/fix-dependency.patch
  ports/braft/portfile.cmake
  ports/braft/vcpkg.json
  versions/b-/braft.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#23965 [clockutils] Fix x64-windows-static-md
  ports/clockutils/portfile.cmake
  ports/clockutils/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/clockutils.json
Labels: category:port-bug, info:reviewed

#23979 [capstone] update to 5.0.0-rc2
  ports/capstone/001-silence-windows-crt-secure-warnings.patch
  ports/capstone/portfile.cmake
  ports/capstone/vcpkg.json
  ports/triton/001-fix-dependency-z3.patch
  ports/triton/002-fix-dependency-capstone.patch
  ports/triton/003-fix-capstone-5.patch
  ports/triton/004-fix-python.patch
  ports/triton/fix-usage.patch
  ports/triton/portfile.cmake
  ports/triton/vcpkg.json
  versions/baseline.json
  versions/c-/capstone.json
  versions/t-/triton.json
Labels: category:port-update, info:reviewed

#24025 [bdwgc] Don't build docs
  ports/bdwgc/portfile.cmake
  ports/bdwgc/vcpkg.json
  versions/b-/bdwgc.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#24032 [graphviz,libslirp] Limit msys to windows
  ports/graphviz/portfile.cmake
  ports/graphviz/vcpkg.json
  ports/libslirp/portfile.cmake
  ports/libslirp/vcpkg.json
  versions/baseline.json
  versions/g-/graphviz.json
  versions/l-/libslirp.json
Labels: category:port-feature, info:reviewed

#24065 [igraph] update to 0.9.8
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#24062 [c-ares] update to 1.18.1
  ports/c-ares/avoid-docs.patch
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#24061 [openssl] Fix dynamic builds on UNIX
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#24059 [imath] Update to 3.1.5
  ports/imath/portfile.cmake
  ports/imath/vcpkg.json
  versions/baseline.json
  versions/i-/imath.json
Labels: category:port-update, info:reviewed

#24057 [openxr-loader] remove from CI baseline
  ports/openxr-loader/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-feature, info:reviewed

#24055 [harfbuzz] fix arm64 osx build
  ports/harfbuzz/fix-macos-build.diff
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#24045 [LMDB] update to 0.9.29
  ports/lmdb/portfile.cmake
  ports/lmdb/vcpkg.json
  versions/baseline.json
  versions/l-/lmdb.json
Labels: category:port-update, info:reviewed

#23690 [vcpkg] Update android usage documentation
  docs/users/android.md
Labels: category:documentation, info:reviewed

#23445 [icu] update to 70.1
  ports/icu/disable-escapestr-tool.patch
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: info:internal, category:port-update, info:reviewed

#23846 [vcpkg] Refactor toolchain & generator selection
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_configure_meson.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-feature, info:reviewed

#24063 [dstorage] Add port for Microsoft.Direct3D.DirectStorage NuGet
  ports/dstorage/dstorage-config.cmake.in
  ports/dstorage/portfile.cmake
  ports/dstorage/vcpkg.json
  versions/baseline.json
  versions/d-/dstorage.json
Labels: category:new-port, requires:author-response

#24077 [ffmpeg] Fix flag replacement
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#24087 [opencv2] no absolute paths
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  versions/baseline.json
  versions/o-/opencv2.json
Labels: category:port-bug, info:reviewed

#24082 [glfw] Update to 3.3.7
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:port-update, info:reviewed

#24054 [dxsdk-d3dx, xaudio2redist] ports updated to use config find
  ports/dxsdk-d3dx/dxsdk-d3dx-config.cmake.in
  ports/dxsdk-d3dx/portfile.cmake
  ports/dxsdk-d3dx/vcpkg.json
  ports/xaudio2redist/Findxaudio2redist.cmake
  ports/xaudio2redist/portfile.cmake
  ports/xaudio2redist/vcpkg-cmake-wrapper.cmake
  ports/xaudio2redist/vcpkg.json
  ports/xaudio2redist/xaudio2redist-config.cmake.in
  versions/baseline.json
  versions/d-/dxsdk-d3dx.json
  versions/x-/xaudio2redist.json
Labels: category:port-feature, category:port-update, info:reviewed

#24088 [getdns] Disable building docs
  ports/getdns/disable-docs.patch
  ports/getdns/disable-install-COPYING-in-config-step.patch
  ports/getdns/portfile.cmake
  ports/getdns/vcpkg.json
  versions/baseline.json
  versions/g-/getdns.json
Labels: category:port-feature, info:reviewed

#24024 [expat] Delete docs
  ports/expat/portfile.cmake
  ports/expat/vcpkg-cmake-wrapper.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: category:port-feature, info:reviewed

#23944 [cpuinfo,fbgemm,xnnpack] update cpuinfo to latest
  ports/cpuinfo/fix-install.patch
  ports/cpuinfo/portfile.cmake
  ports/cpuinfo/vcpkg.json
  ports/fbgemm/fix-cmakelists.patch
  ports/fbgemm/vcpkg.json
  ports/nnpack/fix-cmakelists.patch
  ports/nnpack/portfile.cmake
  ports/nnpack/vcpkg.json
  ports/qnnpack/use-packages.patch
  ports/qnnpack/vcpkg.json
  ports/xnnpack/use-packages.patch
  ports/xnnpack/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cpuinfo.json
  versions/f-/fbgemm.json
  versions/n-/nnpack.json
  versions/q-/qnnpack.json
  versions/x-/xnnpack.json
Labels: category:port-update, info:reviewed

#24031 [vcpkg baseline][many port] Fix baseline issues
  ports/discordcoreapi/fix-cert-installation.patch
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-bug, info:internal, info:reviewed

#23764 [zeroc-ice] New port
  ports/zeroc-ice/md5i_fix.patch
  ports/zeroc-ice/portfile.cmake
  ports/zeroc-ice/prepare_for_build.cmake
  ports/zeroc-ice/slice2swift.patch
  ports/zeroc-ice/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/z-/zeroc-ice.json
Labels: category:new-port, info:reviewed

#24105 [libatomic-ops] Disable docs
  ports/libatomic-ops/portfile.cmake
  ports/libatomic-ops/vcpkg.json
  versions/baseline.json
  versions/l-/libatomic-ops.json
Labels: category:port-feature, info:reviewed

#24103 [sfgui] Create patch to add missing header
  ports/sfgui/002-add-limits-header.patch
  ports/sfgui/portfile.cmake
  ports/sfgui/vcpkg.json
  versions/baseline.json
  versions/s-/sfgui.json
Labels: category:port-bug, info:reviewed

#24096 [Qt-Advanced-Docking-System] update to 3.8.2
  ports/qt-advanced-docking-system/hardcode_version.patch
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-update, info:reviewed

#24072 Use EMSCRIPTEN_ROOT variable in addition to EMSDK
  triplets/community/wasm32-emscripten.cmake
Labels: info:reviewed, category:community-triplet

#24013 [qtkeychain] Update to 0.13.2+2 to fix the exported CMake target
  ports/qtkeychain/portfile.cmake
  ports/qtkeychain/vcpkg.json
  versions/baseline.json
  versions/q-/qtkeychain.json
Labels: category:port-update, info:reviewed

#23538 [VCPKG] Adding support for COS binary caching
  scripts/vcpkgTools.xml
Labels: category:vcpkg-feature, info:reviewed

#24104 [dstorage, dxsdk-d3dx, xaudio2redist] ports updated to support static-md triplets
  ports/dstorage/vcpkg.json
  ports/dxsdk-d3dx/vcpkg.json
  ports/xaudio2redist/vcpkg.json
  versions/baseline.json
  versions/d-/dstorage.json
  versions/d-/dxsdk-d3dx.json
  versions/x-/xaudio2redist.json
Labels: category:port-feature, info:reviewed

#23864 [libwebp] Update, cleanup
  ports/libwebp/0001-build.patch
  ports/libwebp/0002-cmake-config-add-backwards-compatibility.patch
  ports/libwebp/0002-cmake-config.patch
  ports/libwebp/0003-always-mux.patch
  ports/libwebp/0003-fix-tool-dependencies.patch
  ports/libwebp/0004-add-missing-linked-library.patch
  ports/libwebp/0006-fix-dependecies-platform.patch
  ports/libwebp/0009-glut.patch
  ports/libwebp/portfile.cmake
  ports/libwebp/vcpkg.json
  ports/opencv3/0003-force-package-requirements.patch
  ports/opencv3/vcpkg.json
  ports/opencv4/0003-force-package-requirements.patch
  ports/opencv4/vcpkg.json
  ports/osgearth/make-all-find-packages-required.patch
  ports/osgearth/vcpkg.json
  ports/qt5-imageformats/portfile.cmake
  ports/qt5-imageformats/vcpkg.json
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  ports/tiff/portfile.cmake
  ports/tiff/vcpkg-cmake-wrapper.cmake.in
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/l-/libwebp.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
  versions/o-/osgearth.json
  versions/q-/qt5-imageformats.json
  versions/s-/skia.json
  versions/t-/tiff.json
Labels: category:port-update, info:reviewed

#23838 [ceres] update to v2.1.0
  ports/ceres/0002_use_glog_target.patch
  ports/ceres/0003_fix_exported_ceres_config.patch
  ports/ceres/0004_fix_lib_path_linux.patch
  ports/ceres/find-package-required.patch
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  versions/baseline.json
  versions/c-/ceres.json
Labels: info:internal, category:port-update, info:reviewed

#24108 [osg] Added OPENGL_PROFILE option to osg port as a triplet variable.
  ports/osg/portfile.cmake
  ports/osg/usage
  ports/osg/vcpkg.json
  versions/baseline.json
  versions/o-/osg.json
Labels: category:port-feature, info:reviewed

#24129 [qpid-proton] Stop using linker optimization
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/vcpkg.json
  versions/baseline.json
  versions/q-/qpid-proton.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#24023 [clipboardxx] Add new port
  ports/clipboardxx/portfile.cmake
  ports/clipboardxx/unofficial-clipboardxx-config.cmake.in
  ports/clipboardxx/vcpkg.json
  versions/baseline.json
  versions/c-/clipboardxx.json
Labels: category:new-port, info:reviewed

#24041 [qtinterfaceframework|opencv] fix python stuff
  ports/libilbc/absl.patch
  ports/libilbc/portfile.cmake
  ports/libilbc/vcpkg.json
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  ports/qtinterfaceframework/49b44d4.diff
  ports/qtinterfaceframework/portfile.cmake
  ports/qtinterfaceframework/requirements_minimal.txt
  ports/qtinterfaceframework/vcpkg.json
  ports/vcpkg-get-python-packages/portfile.cmake
  ports/vcpkg-get-python-packages/python310._pth
  ports/vcpkg-get-python-packages/vcpkg.json
  ports/vcpkg-get-python-packages/x_vcpkg_get_python_packages.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libilbc.json
  versions/m-/mesa.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
  versions/q-/qtinterfaceframework.json
  versions/v-/vcpkg-get-python-packages.json
Labels: category:port-bug, info:reviewed

#24151 [qt-advanced-docking-system] Remove directory license
  ports/qt-advanced-docking-system/config_changes.patch
  ports/qt-advanced-docking-system/portfile.cmake
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-bug, info:reviewed

#24158 [nanoflann] Update to 1.4.2
  ports/nanoflann/portfile.cmake
  ports/nanoflann/vcpkg.json
  versions/baseline.json
  versions/n-/nanoflann.json
Labels: category:port-update, info:reviewed

#24083 [mongo-cxx-driver] set c++17 for std::experimental build
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: category:port-bug, info:reviewed

#23725 [sdl2-image] Features must use sdl2[x11] on Linux
  ports/sdl2-image/CMakeLists.txt
  ports/sdl2-image/portfile.cmake
  ports/sdl2-image/sdl2-image-config.cmake.in
  ports/sdl2-image/vcpkg.json
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-image.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#24131 Update VMs for April Patch Tuesday
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-inteloneapi.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#24170 [opentelemetry-cpp] update version to 1.3.0
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#24047 [wxwidgets] Validate and fix
  ports/wxwidgets/disable-platform-lib-dir.patch
  ports/wxwidgets/example/CMakeLists.txt
  ports/wxwidgets/fix-libs-export.patch
  ports/wxwidgets/fix-linux-configure.patch
  ports/wxwidgets/install-layout.patch
  ports/wxwidgets/mingw-output-name.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/relocatable-wx-config.patch
  ports/wxwidgets/usage
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  scripts/test_ports/vcpkg-ci-wxwidgets/portfile.cmake
  scripts/test_ports/vcpkg-ci-wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug

#24169 [zeroc-ice] correct windows-static and linux
  ports/zeroc-ice/mcppd_fix.patch
  ports/zeroc-ice/portfile.cmake
  ports/zeroc-ice/vcpkg.json
  versions/baseline.json
  versions/z-/zeroc-ice.json
Labels: category:port-feature, info:internal, requires:author-response

#24216 [libgcrypt] new stable release (1.10.1)
  ports/libgcrypt/portfile.cmake
  ports/libgcrypt/vcpkg.json
  versions/baseline.json
  versions/l-/libgcrypt.json
Labels: category:port-update, info:reviewed

#24211 [libpng] Fix and cleanup
  ports/libpng/cmake.patch
  ports/libpng/fix-export-targets.patch
  ports/libpng/pkgconfig.2.patch
  ports/libpng/pkgconfig.patch
  ports/libpng/portfile.cmake
  ports/libpng/usage
  ports/libpng/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-bug, info:reviewed

#24208 [flatbuffers] Update to 2.0.6
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-update, info:reviewed

#24187 [tinyspline] Update to 0.4.0
  ports/tinyspline/portfile.cmake
  ports/tinyspline/vcpkg.json
  versions/baseline.json
  versions/t-/tinyspline.json
Labels: category:port-update, info:reviewed

#24188 [fixed-string] Update to 0.1.1
  ports/fixed-string/portfile.cmake
  ports/fixed-string/vcpkg.json
  versions/baseline.json
  versions/f-/fixed-string.json
Labels: category:port-update, info:reviewed

#24189 [avisynthplus] Update to 3.7.2
  ports/avisynthplus/portfile.cmake
  ports/avisynthplus/vcpkg.json
  versions/a-/avisynthplus.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#24204 [DiscordCoreAPI] Fixing a certificate location issue.
  ports/discordcoreapi/fix-cert-installation.patch
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#24186 [nlopt] Update to 2.7.1
  ports/nlopt/portfile.cmake
  ports/nlopt/vcpkg.json
  versions/baseline.json
  versions/n-/nlopt.json
Labels: category:port-update, info:reviewed

#24185 [quazip] Update to 1.3
  ports/quazip/portfile.cmake
  ports/quazip/vcpkg.json
  versions/baseline.json
  versions/q-/quazip.json
Labels: category:port-update, info:reviewed

#24184 [camport3] Update to 1.6.2
  ports/camport3/portfile.cmake
  ports/camport3/vcpkg.json
  versions/baseline.json
  versions/c-/camport3.json
Labels: category:port-update, info:reviewed

#24183 [gcem] Update to 1.14.1
  ports/gcem/portfile.cmake
  ports/gcem/vcpkg.json
  versions/baseline.json
  versions/g-/gcem.json
Labels: category:port-update, info:reviewed

#24182 [bfgroup-lyra] Update to 1.6
  ports/bfgroup-lyra/portfile.cmake
  ports/bfgroup-lyra/vcpkg.json
  versions/b-/bfgroup-lyra.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#24181 [bext-ut] Update to 1.1.9
  ports/bext-ut/avoid-cpm.patch
  ports/bext-ut/portfile.cmake
  ports/bext-ut/vcpkg.json
  versions/b-/bext-ut.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#24180 [console-bridge] Update to 1.0.2
  ports/console-bridge/portfile.cmake
  ports/console-bridge/vcpkg.json
  versions/baseline.json
  versions/c-/console-bridge.json
Labels: category:port-update, info:reviewed

#24179 [robin-map] Update to 1.0.1
  ports/robin-map/portfile.cmake
  ports/robin-map/vcpkg.json
  versions/baseline.json
  versions/r-/robin-map.json
Labels: category:port-update, info:reviewed

#24178 [plog] Update to 1.1.6
  ports/plog/portfile.cmake
  ports/plog/usage
  ports/plog/vcpkg.json
  versions/baseline.json
  versions/p-/plog.json
Labels: category:port-update, info:reviewed

#24177 [kangaru] Update to 4.3.0
  ports/kangaru/portfile.cmake
  ports/kangaru/vcpkg.json
  versions/baseline.json
  versions/k-/kangaru.json
Labels: category:port-update, info:reviewed

#24176 [duckx] Update to 1.2.2
  ports/duckx/portfile.cmake
  ports/duckx/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/duckx.json
Labels: category:port-update, info:reviewed

#24175 [tinydir] Update to 1.2.5
  ports/tinydir/portfile.cmake
  ports/tinydir/vcpkg.json
  versions/baseline.json
  versions/t-/tinydir.json
Labels: category:port-update, info:reviewed

#24166 [libxml2] Update to 2.9.13
  ports/libxml2/disable-docs.patch
  ports/libxml2/fix-uwp.patch
  ports/libxml2/fix_cmakelist.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-update, info:reviewed

#24165 [mimalloc] Update to 2.0.6
  ports/mimalloc/portfile.cmake
  ports/mimalloc/vcpkg.json
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: category:port-update, info:reviewed

#24162 [glog] no absolute paths
  ports/glog/portfile.cmake
  ports/glog/vcpkg.json
  versions/baseline.json
  versions/g-/glog.json
Labels: category:port-bug, info:reviewed

#24161 [mpg123] fix M1 build
  ports/mpg123/fix-m1-build.patch
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:reviewed

#24159 [simbody] Disable docs
  ports/simbody/portfile.cmake
  ports/simbody/vcpkg.json
  versions/baseline.json
  versions/s-/simbody.json
Labels: category:port-bug, info:reviewed

#24157 [antlr4] Fix CMake files export
  ports/antlr4/fix_utfcpp_dependency.patch
  ports/antlr4/fixed_build.patch
  ports/antlr4/portfile.cmake
  ports/antlr4/vcpkg.json
  versions/a-/antlr4.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#24101 [vcpkg-cmake] Fix usage of CMAKE_CXX_COMPILER_TARGET
  ports/vcpkg-cmake/cmake_get_vars/CMakeLists.txt
  ports/vcpkg-cmake/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-bug, info:reviewed

#24191 [vlpp] fix to support ARM on unix
  ports/vlpp/fix-arm.patch
  ports/vlpp/portfile.cmake
  ports/vlpp/vcpkg.json
  versions/baseline.json
  versions/v-/vlpp.json
Labels: category:port-feature, info:reviewed

#24233 [libcds] add support expression
  ports/libcds/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libcds.json
Labels: category:port-feature, info:reviewed

#24232 [sdl1] add support expression
  ports/sdl1/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/sdl1.json
Labels: category:port-feature, info:reviewed

#24231 [protozero] update to 1.7.1
  ports/protozero/fix-builderror.patch
  ports/protozero/fix-no-tests.patch
  ports/protozero/portfile.cmake
  ports/protozero/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/protozero.json
Labels: category:port-update, info:reviewed

#24230 [meschach] add support expression
  ports/meschach/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/meschach.json
Labels: category:port-feature, info:reviewed

#24224 [zpp-bits] Update to 4.4.4
  ports/zpp-bits/portfile.cmake
  ports/zpp-bits/vcpkg.json
  versions/baseline.json
  versions/z-/zpp-bits.json
Labels: category:port-update, info:reviewed

#24225 [nanobench] Update to 4.3.7
  ports/nanobench/fix-cmakefile.patch
  ports/nanobench/portfile.cmake
  ports/nanobench/vcpkg.json
  versions/baseline.json
  versions/n-/nanobench.json
Labels: category:port-update, info:reviewed

#24227 [qpid-proton] update and don't build tests
  ports/qpid-proton/fix-openssl3.patch
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/vcpkg.json
  versions/baseline.json
  versions/q-/qpid-proton.json
Labels: category:port-update, info:reviewed

#24220 [apr] Fix release only builds on Linux
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#24209 [z3] Update to 4.8.15
  ports/z3/fix-32-bit-build.patch
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#24081 [triton] New version with no boost dependencies
  ports/triton/001-fix-dependency-z3.patch
  ports/triton/002-fix-capstone-5.patch
  ports/triton/002-fix-dependency-capstone.patch
  ports/triton/003-fix-python.patch
  ports/triton/004-fix-python.patch
  ports/triton/portfile.cmake
  ports/triton/vcpkg.json
  versions/baseline.json
  versions/t-/triton.json
Labels: category:port-update, info:reviewed

#24090 [openssl] Fix dynamic build on OSX
  ports/openssl/unix/CMakeLists.txt
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#24153 [gumbo] Add Exported CMake Targets
  ports/gumbo/CMakeLists.txt
  ports/gumbo/portfile.cmake
  ports/gumbo/vcpkg.json
  versions/baseline.json
  versions/g-/gumbo.json
Labels: category:port-feature, info:internal, info:reviewed

#24163 [entt] Update to 3.10.0
  ports/entt/portfile.cmake
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:reviewed

#24223 [quill] Update to 1.7.0
  ports/quill/fix-c4189-warning.patch
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#24192 [python2] add support expression
  ports/python2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/python2.json
Labels: category:port-feature, info:reviewed

#24201 [many ports] Fix use of Readme as copyright
  ports/jack2/portfile.cmake
  ports/jack2/vcpkg.json
  ports/libxmlmm/portfile.cmake
  ports/libxmlmm/vcpkg.json
  ports/physx/portfile.cmake
  ports/physx/vcpkg.json
  ports/pugixml/portfile.cmake
  ports/pugixml/vcpkg.json
  ports/rtmidi/fix-POSIXname.patch
  ports/rtmidi/portfile.cmake
  ports/rtmidi/vcpkg.json
  ports/stb/portfile.cmake
  ports/stb/vcpkg.json
  ports/tinyxml2/portfile.cmake
  ports/tinyxml2/vcpkg.json
  ports/tmxlite/portfile.cmake
  ports/tmxlite/vcpkg.json
  ports/volk/portfile.cmake
  ports/volk/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/j-/jack2.json
  versions/l-/libxmlmm.json
  versions/p-/physx.json
  versions/p-/pugixml.json
  versions/r-/rtmidi.json
  versions/s-/stb.json
  versions/t-/tinyxml2.json
  versions/t-/tmxlite.json
  versions/v-/volk.json
Labels: category:port-bug, info:reviewed

#24264 [vcpkg baseline][duckx] fix deps
  ports/duckx/fix_dependencies.patch
  ports/duckx/portfile.cmake
  ports/duckx/vcpkg.json
  versions/baseline.json
  versions/d-/duckx.json
Labels: category:port-bug, info:reviewed
