Repository microsoft/vcpkg, pull requests merged in 2022-01, with the labels that each got.

#21231 [gdal] Add features for hdf5, netcdf, postgresql
  ports/gdal/0005-Fix-configure.patch
  ports/gdal/dependency_win.cmake
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdal.json
  versions/h-/hdf5.json
Labels: category:port-feature, info:reviewed

#22256 [portmidi] update to 2.0.1; add Linux support
  ports/portmidi/add-feature-options.patch
  ports/portmidi/fix-build-install.patch
  ports/portmidi/fix-macOS.patch
  ports/portmidi/portfile.cmake
  ports/portmidi/vcpkg.json
  versions/baseline.json
  versions/p-/portmidi.json
Labels: category:port-feature, category:port-update, info:reviewed

#22272 [magnum] Fix feature glfwapplication find glfw failed
  ports/magnum/003-fix-FindGLFW.patch
  ports/magnum/portfile.cmake
  ports/magnum/vcpkg.json
  versions/baseline.json
  versions/m-/magnum.json
Labels: category:port-bug, info:internal, info:reviewed

#22283 [proj4] Update to 8.2.1
  ports/proj4/fix-filemanager-uwp.patch
  ports/proj4/pkgconfig.patch
  ports/proj4/portfile.cmake
  ports/proj4/vcpkg.json
  versions/baseline.json
  versions/p-/proj4.json
Labels: category:port-update

#22293 [ftxui] update to 0.11
  ports/ftxui/portfile.cmake
  ports/ftxui/vcpkg.json
  versions/baseline.json
  versions/f-/ftxui.json
Labels: info:reviewed

#22198 [python3] Install pkg-config files on Windows platforms
  ports/python3/0009-python-embed.pc.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-feature, requires:author-response

#21572 [unixodbc] no absolute paths
  ports/unixodbc/portfile.cmake
  ports/unixodbc/vcpkg.json
  versions/baseline.json
  versions/u-/unixodbc.json
Labels: category:port-feature

#22211 [gettext] Fix tools build
  ports/gettext/portfile.cmake
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext.json
Labels: category:port-bug

#21998 [qt-advanced-docking-system] update and use qt6
  ports/qt-advanced-docking-system/config_changes.patch
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/qt.patch
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-feature, category:port-update, info:reviewed

#22165 [vcpkg docs] Update Table of Content and Korean Readme
  README.md
  README_ko_KR.md
Labels: category:documentation, info:reviewed

#22227 [qca] new feature botan
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-feature, info:reviewed

#22091 [ace] Modifications to generate the correct build files for x64-linux configuration
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#22242 [minio-cpp] add new port
  ports/minio-cpp/fix_cmake_file.patch
  ports/minio-cpp/portfile.cmake
  ports/minio-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/minio-cpp.json
Labels: category:new-port, info:reviewed

#22333 [kf5windowsystem] no absolute paths
  ports/kf5windowsystem/portfile.cmake
  ports/kf5windowsystem/vcpkg.json
  versions/baseline.json
  versions/k-/kf5windowsystem.json
Labels: category:port-bug, info:reviewed

#22332 [opencolorio] no absolute paths
  ports/opencolorio/portfile.cmake
  ports/opencolorio/vcpkg.json
  versions/baseline.json
  versions/o-/opencolorio.json
Labels: category:port-bug, info:reviewed

#22322 [gdal] Fix configuration bug
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#22326 [sail] no absolute paths
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-bug, info:reviewed

#22324 [kf5attica] no absolute paths
  ports/kf5attica/portfile.cmake
  ports/kf5attica/vcpkg.json
  versions/baseline.json
  versions/k-/kf5attica.json
Labels: category:port-bug, info:reviewed

#22320 [hidapi] Fix cmake error
  ports/hidapi/portfile.cmake
  ports/hidapi/vcpkg.json
  versions/baseline.json
  versions/h-/hidapi.json
Labels: category:port-bug, info:internal, info:reviewed

#22321 [vcpkg baseline][urho3d] Fix dependency readline
  ports/readline-osx/CMakeLists.txt
  ports/readline-osx/config.h
  ports/readline-osx/portfile.cmake
  ports/readline-osx/vcpkg.json
  ports/readline-unix/portfile.cmake
  ports/readline-unix/vcpkg.json
  ports/readline/vcpkg.json
  ports/urho3d/fix-dependency-readline.patch
  ports/urho3d/portfile.cmake
  ports/urho3d/vcpkg.json
  versions/baseline.json
  versions/r-/readline-osx.json
  versions/r-/readline-unix.json
  versions/r-/readline.json
  versions/u-/urho3d.json
Labels: category:port-bug, category:new-port, info:internal, info:reviewed

#22315 [boolinq] update to v3.0.4
  ports/boolinq/portfile.cmake
  ports/boolinq/vcpkg.json
  versions/b-/boolinq.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#22313 [vcpkg|scripts] correctly restore env vars
  scripts/cmake/vcpkg_build_make.cmake
Labels: info:reviewed, category:tool-update, info:world-rebuild

#22312 [portmidi] update to 2.0.2
  ports/portmidi/fix-macOS.patch
  ports/portmidi/portfile.cmake
  ports/portmidi/vcpkg.json
  versions/baseline.json
  versions/p-/portmidi.json
Labels: category:port-update, info:reviewed

#22299 [libkeyfinder] update to 2.2.6
  ports/libkeyfinder/portfile.cmake
  ports/libkeyfinder/vcpkg.json
  versions/baseline.json
  versions/l-/libkeyfinder.json
Labels: category:port-update, info:reviewed

#22316 [openImageIO] update to 2.3.10.1
  ports/openimageio/disable-test.patch
  ports/openimageio/fix-config-cmake.patch
  ports/openimageio/fix-dependencies.patch
  ports/openimageio/fix_static_build.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: info:internal, category:port-update, info:reviewed

#22348 [google-cloud-cpp] update to v1.35.0
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#20565 [simbody] new port
  ports/simbody/portfile.cmake
  ports/simbody/vcpkg.json
  versions/baseline.json
  versions/s-/simbody.json
Labels: category:new-port, info:reviewed

#22336 [libraw] Add feature openmp and fix usage
  ports/libraw/portfile.cmake
  ports/libraw/vcpkg-cmake-wrapper.cmake
  ports/libraw/vcpkg.json
  versions/baseline.json
  versions/l-/libraw.json
Labels: category:port-bug, info:internal, info:reviewed

#22337 [glibmm] no absolute paths
  ports/glibmm/CMakeLists.txt
  ports/glibmm/msvc_recommended_pragmas.h
  ports/glibmm/portfile.cmake
  ports/glibmm/vcpkg.json
  versions/baseline.json
  versions/g-/glibmm.json
Labels: category:port-bug, info:reviewed

#22364 [vulkan-headers/vulkan-hpp] update to v1.2.203
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-hpp/portfile.cmake
  ports/vulkan-hpp/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-hpp.json
Labels: info:internal, category:port-update, info:reviewed

#22349 [fmt] update to 8.1.0
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:port-update, info:reviewed

#22346 [marble] no absolute paths
  ports/marble/portfile.cmake
  ports/marble/vcpkg.json
  versions/baseline.json
  versions/m-/marble.json
Labels: category:port-bug, info:reviewed

#22351 Openxr loader no absolute
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-bug, info:reviewed

#22352 Open62541 no absolute
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-bug, info:reviewed

#22355 [mygui] no absolute paths
  ports/mygui/portfile.cmake
  ports/mygui/vcpkg.json
  versions/baseline.json
  versions/m-/mygui.json
Labels: category:port-feature, info:reviewed

#22357 [libmodman] no absolute paths
  ports/libmodman/portfile.cmake
  ports/libmodman/vcpkg.json
  versions/baseline.json
  versions/l-/libmodman.json
Labels: category:port-bug, info:reviewed

#22359 [clfft] no absolute paths
  ports/clfft/portfile.cmake
  ports/clfft/vcpkg.json
  versions/baseline.json
  versions/c-/clfft.json
Labels: category:port-bug, info:reviewed

#22360 [clrng] no absolute paths
  ports/clrng/portfile.cmake
  ports/clrng/vcpkg.json
  versions/baseline.json
  versions/c-/clrng.json
Labels: category:port-bug, info:reviewed

#22361 [clblas] no absolute paths
  ports/clblas/portfile.cmake
  ports/clblas/vcpkg.json
  versions/baseline.json
  versions/c-/clblas.json
Labels: category:port-bug, info:reviewed

#22362 [libuvc] no absolute paths
  ports/libuvc/portfile.cmake
  ports/libuvc/vcpkg.json
  versions/baseline.json
  versions/l-/libuvc.json
Labels: category:port-bug, info:reviewed

#22334 [wxwidgets] no absolute paths
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#22384 [teemo] Update to v2.6
  ports/teemo/portfile.cmake
  ports/teemo/vcpkg.json
  versions/baseline.json
  versions/t-/teemo.json
Labels: category:port-update, info:reviewed

#22379 [igraph] update to 0.9.6
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#22374 [refl-cpp] Update to 0.12.2
  ports/refl-cpp/portfile.cmake
  ports/refl-cpp/vcpkg.json
  versions/baseline.json
  versions/r-/refl-cpp.json
Labels: category:port-update, info:reviewed

#22366 [glfw3] update to version 3.3.6
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: info:internal, category:port-update, info:reviewed

#22356 [numactl] no absolute paths
  ports/numactl/portfile.cmake
  ports/numactl/vcpkg.json
  versions/baseline.json
  versions/n-/numactl.json
Labels: category:port-feature, info:reviewed

#22327 [qtdeclarative] no absolute paths
  ports/qtdeclarative/portfile.cmake
  ports/qtdeclarative/vcpkg.json
  versions/baseline.json
  versions/q-/qtdeclarative.json
Labels: category:port-bug, info:reviewed

#22325 [soqt] no absolute paths
  ports/soqt/portfile.cmake
  ports/soqt/vcpkg.json
  versions/baseline.json
  versions/s-/soqt.json
Labels: category:port-bug, info:reviewed

#19834 Comply with SDL by adding security guidance.
  README.md
Labels: category:documentation, info:internal, info:reviewed

#21937 [colmap] Fix LNK2019 in x64-windows-static triplet
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  ports/libraw/vcpkg-cmake-wrapper.cmake
  ports/libraw/vcpkg.json
  versions/baseline.json
  versions/c-/colmap.json
  versions/l-/libraw.json
Labels: category:port-bug, info:internal, info:reviewed

#22274 [boost-modular-build-helper] Use boost's correct .jam file.
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/user-config.jam.in
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#22358 [libgwenhywfar] no absolute paths
  ports/libgwenhywfar/portfile.cmake
  ports/libgwenhywfar/vcpkg.json
  versions/baseline.json
  versions/l-/libgwenhywfar.json
Labels: category:port-bug, info:reviewed

#22335 [freerdp] no absolute paths
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#21929 [docs] Update docs with full release of manifests, registries, and versioning
  docs/examples/modify-baseline-to-pin-old-boost.md
  docs/maintainers/registries.md
  docs/users/manifests.md
  docs/users/registries.md
  docs/users/versioning.md
Labels: category:documentation, info:internal

#22343 [botan] no absolute paths
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed, requires:vcpkg-team-review

#22397 [baseline] as of 2.0.2, portmidi:x64-windows-static-md passes
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#22376 [openssl] Update to 1.1.1m
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#20842 [boost-modular-build-helper] Add missing dependency
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost-modular-build-helper/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#22387 [arrow] Fix CMake link error
  ports/arrow/portfile.cmake
  ports/arrow/usage
  ports/arrow/vcpkg-cmake-wrapper.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#22367 [urdfdom][sdformat9] Re-fix build
  ports/dartsim/portfile.cmake
  ports/dartsim/vcpkg.json
  ports/sdformat9/fix-dependency-urdfdom.patch
  ports/sdformat9/portfile.cmake
  ports/sdformat9/vcpkg.json
  ports/urdfdom/0003_import_prefix.patch
  ports/urdfdom/0005-fix-config-and-install.patch
  ports/urdfdom/portfile.cmake
  ports/urdfdom/vcpkg.json
  versions/baseline.json
  versions/d-/dartsim.json
  versions/s-/sdformat9.json
  versions/u-/urdfdom.json
Labels: category:port-bug, info:internal, info:reviewed

#22389 [plf-colony] Update to 6.33 - [plf-hive] Add new port
  ports/plf-colony/portfile.cmake
  ports/plf-colony/vcpkg.json
  ports/plf-hive/portfile.cmake
  ports/plf-hive/vcpkg.json
  versions/baseline.json
  versions/p-/plf-colony.json
  versions/p-/plf-hive.json
Labels: category:new-port, category:port-update, info:reviewed

#22398 [uriparser] update to 0.9.6
  ports/uriparser/portfile.cmake
  ports/uriparser/vcpkg.json
  versions/baseline.json
  versions/u-/uriparser.json
Labels: info:internal, category:port-update, info:reviewed

#22399 [sobjectizer] Update to v.5.7.3
  ports/so5extra/portfile.cmake
  ports/so5extra/vcpkg.json
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/so5extra.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed

#22402 [proj4]: Make the tiff specific features configurable and don't requi…
  ports/proj4/vcpkg.json
  versions/baseline.json
  versions/p-/proj4.json
Labels: category:port-feature, info:reviewed

#22411 [cppgraphqlgen] Update from v4.0.0 to v4.1.0
  ports/cppgraphqlgen/portfile.cmake
  ports/cppgraphqlgen/vcpkg.json
  versions/baseline.json
  versions/c-/cppgraphqlgen.json
Labels: category:port-update, info:reviewed

#22453 [mman] only windows
  ports/mman/portfile.cmake
  ports/mman/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mman.json
Labels: category:port-feature, info:reviewed

#22452 [vlpp] fix mac build
  ports/vlpp/CMakeLists.txt
  ports/vlpp/portfile.cmake
  ports/vlpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/v-/vlpp.json
Labels: category:port-bug, info:reviewed

#22446 [s2n] disable -Werror for gcc 11 build
  ports/s2n/portfile.cmake
  ports/s2n/vcpkg.json
  versions/baseline.json
  versions/s-/s2n.json
Labels: category:port-bug, info:reviewed

#22437 [sdl2-image] Support x64-uwp
  ports/mygui/vcpkg.json
  ports/sdl2-image/0001-sdl2-image-potentially-uninitialized_local-pointer-variable-start.patch
  ports/sdl2-image/portfile.cmake
  ports/sdl2-image/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mygui.json
  versions/s-/sdl2-image.json
Labels: category:port-feature, info:reviewed

#22435 [openblas] Upgrade to latest version 0.03.19
  ports/openblas/fix-marco-conflict.patch
  ports/openblas/portfile.cmake
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-update, info:reviewed

#22420 [simbody] no absolute paths
  ports/simbody/portfile.cmake
  ports/simbody/vcpkg.json
  versions/baseline.json
  versions/s-/simbody.json
Labels: category:port-bug, info:reviewed

#22314 [macos ci] update to 2022-01-03
  ports/ace/fix-macos-12.patch
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  ports/libpqxx/fix_build_with_apple_clang_13.patch
  ports/libpqxx/portfile.cmake
  ports/libpqxx/vcpkg.json
  ports/libsoundio/fix_cmakelists.patch
  ports/libsoundio/vcpkg.json
  scripts/azure-pipelines/azure-pipelines-osx.yml
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/osx/Get-InternalBaseBox.ps1
  scripts/azure-pipelines/osx/Install-Prerequisites.ps1
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/Setup-VagrantMachines.ps1
  scripts/azure-pipelines/osx/configuration/Vagrantfile-vm.rb
  scripts/azure-pipelines/osx/configuration/installables.json
  scripts/azure-pipelines/osx/configuration/installables.schema.json
  scripts/ci.baseline.txt
  versions/a-/ace.json
  versions/baseline.json
  versions/l-/libpqxx.json
  versions/l-/libsoundio.json
Labels: info:internal, depends:vm-update, requires:discussion

#22426 [drogon] Fix libmariadb import/export and usage
  ports/drogon/portfile.cmake
  ports/drogon/usage
  ports/drogon/use-libmariadb.patch
  ports/drogon/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-bug, info:reviewed

#22475 [getdns] Disable install COPYING in CMakeLists.txt of source
  ports/getdns/disable-install-COPYING-in-config-step.patch
  ports/getdns/portfile.cmake
  ports/getdns/vcpkg.json
  versions/baseline.json
  versions/g-/getdns.json
Labels: category:port-bug, info:internal, info:reviewed

#22460 [pybind11] Update to 2.9.0
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#22441 [wintoast] only windows
  ports/wintoast/portfile.cmake
  ports/wintoast/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/w-/wintoast.json
Labels: category:port-feature, info:reviewed

#22439 [chakracore] Add flag to use all available CPUs
  ports/chakracore/portfile.cmake
  ports/chakracore/vcpkg.json
  versions/baseline.json
  versions/c-/chakracore.json
Labels: category:port-feature, info:reviewed

#22432 [luasocket] only works on windows
  ports/luasocket/portfile.cmake
  ports/luasocket/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/luasocket.json
Labels: category:port-feature, info:reviewed

#22417 [vcpkg_execute_build_process] Catch ld signal 9
  scripts/cmake/vcpkg_execute_build_process.cmake
Labels: category:vcpkg-feature, info:reviewed

#22416 [realsense2] Update to 2.50.0
  ports/realsense2/fix-dependency-glfw3.patch
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-update, info:reviewed

#21275 [pdal] Revise and update
  ports/pdal-c/cmake-project-include.cmake
  ports/pdal-c/fix-docs-version.patch
  ports/pdal-c/portfile.cmake
  ports/pdal-c/preserve-install-dir.patch
  ports/pdal-c/remove-tests.patch
  ports/pdal-c/vcpkg.json
  ports/pdal/0001-win32_compiler_options.cmake.patch
  ports/pdal/0002-no-source-dir-writes.patch
  ports/pdal/0003-fix-copy-vendor.patch
  ports/pdal/0004-fix-const-overloaded.patch
  ports/pdal/FindGEOS.cmake
  ports/pdal/fix-CPL_DLL.patch
  ports/pdal/fix-dependency.patch
  ports/pdal/fix-find-library-suffix.patch
  ports/pdal/fix-unix-compiler-options.patch
  ports/pdal/libpq.patch
  ports/pdal/no-pkgconfig-requires.patch
  ports/pdal/no-rpath.patch
  ports/pdal/portfile.cmake
  ports/pdal/usage
  ports/pdal/use-vcpkg-boost.patch
  ports/pdal/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pdal-c.json
  versions/p-/pdal.json
Labels: category:port-bug, category:port-update, info:reviewed

#22461 [vcpkg] z_vcpkg_get_cmake_vars(): Use build-type-specific cache variable if VCPKG_BUILD_TYPE is defined
  scripts/cmake/z_vcpkg_get_cmake_vars.cmake
Labels: category:vcpkg-feature, requires:author-response

#22493 [Azure SDK Identity] Update to 1.1.1 Jan Release
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  versions/a-/azure-identity-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#21960 [opencolorio/lcms] Fix dependency
  ports/lcms/CMakeLists.txt
  ports/lcms/vcpkg.json
  ports/opencolorio/fix-dependency.patch
  ports/opencolorio/portfile.cmake
  ports/opencolorio/vcpkg.json
  versions/baseline.json
  versions/l-/lcms.json
  versions/o-/opencolorio.json
Labels: category:port-bug, info:internal, info:reviewed

#22031 [NCCL] Fix usage, add wrapper and install Find module file
  ports/nccl/portfile.cmake
  ports/nccl/vcpkg.json
  versions/baseline.json
  versions/n-/nccl.json
Labels: category:port-bug, info:internal, info:reviewed

#22369 [protobuf] fix protobuf-3.18 mingw build failure
  ports/protobuf/fix-mingw-build.patch
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: info:reviewed, category:community-triplet

#22462 [boost-modular-headers] download the license file only once
  ports/boost-vcpkg-helpers/boost-modular-headers.cmake
  ports/boost-vcpkg-helpers/portfile.cmake
  ports/boost-vcpkg-helpers/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-vcpkg-helpers.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#22464 [wxwidgets] Fix debug-/release-only build
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:reviewed

#22471 [buck-yeh-bux] Fix error C7595
  ports/buck-yeh-bux/fix-errorC7595.patch
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#22382 [Starlink-ast] update to 9.2.7
  ports/starlink-ast/portfile.cmake
  ports/starlink-ast/vcpkg.json
  versions/baseline.json
  versions/s-/starlink-ast.json
Labels: category:port-update, info:reviewed

#22483 [fontconfig] don't build font cache in case of crosscompile
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-bug, info:reviewed

#22488 [netcdf-c] fix installation on windows when hdf5[parallel] is installed
  ports/netcdf-c/fix-dependency-mpi.patch
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/vcpkg.json
  versions/baseline.json
  versions/n-/netcdf-c.json
Labels: category:port-bug, info:reviewed

#22489 [gettext] Fix uwp "tools" build
  ports/gettext/0004-Fix-uwp-tools-build.patch
  ports/gettext/portfile.cmake
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext.json
Labels: category:port-bug, info:reviewed

#20464 [many ports] Update HTTP to HTTPS links where it can be done safely.
  ports/antlr4/portfile.cmake
  ports/antlr4/vcpkg.json
  ports/apr-util/portfile.cmake
  ports/apr-util/vcpkg.json
  ports/avisynthplus/vcpkg.json
  ports/berkeleydb/portfile.cmake
  ports/berkeleydb/vcpkg.json
  ports/bext-di/portfile.cmake
  ports/bext-di/vcpkg.json
  ports/cello/vcpkg.json
  ports/cfitsio/portfile.cmake
  ports/cfitsio/vcpkg.json
  ports/chartdir/vcpkg.json
  ports/clapack/portfile.cmake
  ports/clapack/vcpkg.json
  ports/cppunit/portfile.cmake
  ports/cppunit/vcpkg.json
  ports/crfsuite/vcpkg.json
  ports/exprtk/vcpkg.json
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  ports/fftw3/portfile.cmake
  ports/fftw3/vcpkg.json
  ports/fftwpp/vcpkg.json
  versions/a-/antlr4.json
  versions/a-/apr-util.json
  versions/a-/avisynthplus.json
  versions/b-/berkeleydb.json
  versions/b-/bext-di.json
  versions/baseline.json
  versions/c-/cello.json
  versions/c-/cfitsio.json
  versions/c-/chartdir.json
  versions/c-/clapack.json
  versions/c-/cppunit.json
  versions/c-/crfsuite.json
  versions/e-/exprtk.json
  versions/f-/ffmpeg.json
  versions/f-/fftw3.json
  versions/f-/fftwpp.json
Labels: category:port-feature, info:reviewed

#22330 [vtk] no absolute paths
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#22414 [CppXaml] Add new port
  ports/cppxaml/portfile.cmake
  ports/cppxaml/vcpkg.json
  versions/baseline.json
  versions/c-/cppxaml.json
Labels: category:new-port, info:reviewed

#22438 [antlr4] update to 4.9.3
  ports/antlr4/export_guid.patch
  ports/antlr4/fix_utfcpp_dependency.patch
  ports/antlr4/portfile.cmake
  ports/antlr4/uuid_discovery_fix.patch
  ports/antlr4/vcpkg.json
  versions/a-/antlr4.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#22510 Fixing Tracy Port
  ports/tracy/add-install.patch
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-bug, info:reviewed

#22512 [openxr-loader] Update to 1.0.22
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-update, info:reviewed

#22514 [libmicrohttpd] update to v0.9.75
  ports/libmicrohttpd/fix-msvc-project.patch
  ports/libmicrohttpd/portfile.cmake
  ports/libmicrohttpd/vcpkg.json
  versions/baseline.json
  versions/l-/libmicrohttpd.json
Labels: info:internal, category:port-update, info:reviewed

#22458 [speex] fix build on osx by disableing example binaries
  ports/speex/portfile.cmake
  ports/speex/vcpkg.json
  versions/baseline.json
  versions/s-/speex.json
Labels: category:port-bug, info:reviewed

#22519 [vcpkg_find_fortran] Update the mingw-w64-i686-mpc*
  scripts/cmake/vcpkg_find_fortran.cmake
Labels: info:internal, info:reviewed, category:tool-update

#22388 [icu] Fix pc files
  ports/icu/fix-win-build.patch
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:internal

#22494 [vcpkg] Update VMs for Patch Tuesday and fix pwsh CVE.
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/vcpkgTools.xml
Labels: info:internal, category:infrastructure

#22500 [crow] update to 0.3.4 (v0.3+4)
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-update, info:reviewed

#22509 [wxWidgets] Fix issue introduced in 9b654a1f2174edaf63ef6af2c2d7e1ccd3cba83a
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:reviewed

#22137 [tiff] Fix -lm on android
  ports/tiff/fix-pkgconfig.patch
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#22534 [vcpkg baseline][rtabmap] Set WITH_PDAL to OFF
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/r-/rtabmap.json
Labels: category:port-bug, info:internal, info:reviewed

#22491 Remove lingering artifacts from the beta release of the azure-security-keyvault-common-cpp as it is no longer necessary.
  ports/azure-security-keyvault-common-cpp/portfile.cmake
  ports/azure-security-keyvault-common-cpp/vcpkg.json
  versions/baseline.json
Labels: category:port-update

#22370 [gdal] Update to 3.4.1
  ports/gdal/0005-Fix-configure.patch
  ports/gdal/dependency_win.cmake
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#22385 [mongoose] update to v7.5
  ports/mongoose/portfile.cmake
  ports/mongoose/vcpkg.json
  versions/baseline.json
  versions/m-/mongoose.json
Labels: category:port-update, info:reviewed

#22492 [zstd] update to v1.5.2
  ports/zstd/fix-c4703-error.patch
  ports/zstd/portfile.cmake
  ports/zstd/vcpkg.json
  versions/baseline.json
  versions/z-/zstd.json
Labels: info:internal, category:port-update, info:reviewed

#22410 [boost-modular-build-helper] Fix boost build gcc macos
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#22612 [scylla wrapper] only windows
  ports/scylla-wrapper/portfile.cmake
  ports/scylla-wrapper/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/scylla-wrapper.json
Labels: category:port-feature, info:internal, info:reviewed

#22611 [aws-c-mqtt] Fix dependencies
  ports/aws-c-mqtt/vcpkg.json
  versions/a-/aws-c-mqtt.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#22600 [piex] fix mac build
  ports/piex/CMakeLists.txt
  ports/piex/portfile.cmake
  ports/piex/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/piex.json
Labels: category:port-feature, info:reviewed

#22596 [milerius-sfml-imgui] fix mac build
  ports/milerius-sfml-imgui/cpp11.patch
  ports/milerius-sfml-imgui/portfile.cmake
  ports/milerius-sfml-imgui/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/milerius-sfml-imgui.json
Labels: category:port-feature, info:reviewed

#22588 [guetzli] fix mac build
  ports/guetzli/CMakeLists.txt
  ports/guetzli/portfile.cmake
  ports/guetzli/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/guetzli.json
Labels: category:port-feature, info:reviewed

#22587 [crossguid] fix mac build
  ports/crossguid/portfile.cmake
  ports/crossguid/vcpkg.json
  ports/crossguid/warnings.patch
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/crossguid.json
Labels: category:port-feature, info:reviewed

#22578 [gherkin-c] Fix UNIX build, fix install path
  ports/gherkin-c/fix-include-path.patch
  ports/gherkin-c/fix-install-error.patch
  ports/gherkin-c/portfile.cmake
  ports/gherkin-c/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gherkin-c.json
Labels: category:port-feature, info:internal, info:reviewed

#22563 Fix building libwebsockets with Emscripten
  ports/libwebsockets/fix-find-openssl.patch
  ports/libwebsockets/portfile.cmake
  ports/libwebsockets/vcpkg.json
  versions/baseline.json
  versions/l-/libwebsockets.json
Labels: category:port-bug, info:reviewed

#22562 [libdshowcapture] only windows
  ports/libdshowcapture/portfile.cmake
  ports/libdshowcapture/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libdshowcapture.json
Labels: category:port-feature, info:reviewed

#22560 [libxmp-lite] only windows
  ports/libxmp-lite/portfile.cmake
  ports/libxmp-lite/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libxmp-lite.json
Labels: category:port-feature, info:reviewed

#22558 [minhook] only windows
  ports/minhook/portfile.cmake
  ports/minhook/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/minhook.json
Labels: category:port-feature, info:reviewed

#22557 [readline-win32] only windows
  ports/readline-win32/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/readline-win32.json
Labels: category:port-feature, info:reviewed

#22556 [unicorn] only windows
  ports/unicorn/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/u-/unicorn.json
Labels: category:port-feature, info:reviewed

#22555 [wincrypt] only windows
  ports/wincrypt/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/w-/wincrypt.json
Labels: category:port-feature, info:reviewed

#22554 [winsock2] only windows
  ports/winsock2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/w-/winsock2.json
Labels: category:port-feature, info:reviewed

#22543 [ffmpeg] fix Crosscompiling on osx
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#22537 [robin-hood-hashing] Update to 3.11.5
  ports/robin-hood-hashing/portfile.cmake
  ports/robin-hood-hashing/vcpkg.json
  versions/baseline.json
  versions/r-/robin-hood-hashing.json
Labels: category:port-update, info:reviewed

#22531 [LibJuice][Libdatachannel] Update v0.9.6 / Update v0.16.4
  ports/libdatachannel/0001-fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
  versions/l-/libjuice.json
Labels: category:port-update, info:reviewed

#22524 [libtcod] Update to 1.20.1
  ports/libtcod/portfile.cmake
  ports/libtcod/vcpkg.json
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#22573 [mesa] Update hash
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  versions/baseline.json
  versions/m-/mesa.json
Labels: category:port-bug, info:internal, info:reviewed

#22559 [mhook] only windows
  ports/mhook/portfile.cmake
  ports/mhook/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mhook.json
Labels: category:port-feature, info:reviewed

#22504 [llfio] Support static linkage triplets
  ports/llfio/issue-83-fix-backport.patch
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/ned14-internal-quickcpplib/portfile.cmake
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
Labels: category:port-feature, info:reviewed

#22624 [qt5-3d] Support Visual Studio 2022
  ports/qt5-3d/portfile.cmake
  ports/qt5-3d/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-3d.json
Labels: category:port-feature, info:reviewed

#22615 [nayuki-qr-code-generator] new port
  ports/nayuki-qr-code-generator/CMakeLists.txt
  ports/nayuki-qr-code-generator/portfile.cmake
  ports/nayuki-qr-code-generator/vcpkg.json
  versions/baseline.json
  versions/n-/nayuki-qr-code-generator.json
Labels: category:new-port, info:reviewed

#21942 [google-cloud-cpp] Support abseil[cxx17]
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/support_absl_cxx17.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, requires:author-response

#21430 [Quantlib] Update port to v1.25
  ports/quantlib/portfile.cmake
  ports/quantlib/usage
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update, info:reviewed

#21511 [irrlicht] Add the remind of libraries which needed by Linux
  ports/irrlicht/portfile.cmake
  ports/irrlicht/vcpkg.json
  versions/baseline.json
  versions/i-/irrlicht.json
Labels: category:port-feature, info:internal, info:reviewed

#22171 [FlashRuntimeExtensions] Add new port
  ports/flash-runtime-extensions/README.md
  ports/flash-runtime-extensions/portfile.cmake
  ports/flash-runtime-extensions/vcpkg.json
  versions/baseline.json
  versions/f-/flash-runtime-extensions.json
Labels: category:new-port, info:reviewed

#22153 [flann] Fix missing hdf5 dependency in flann-config.cmake
  ports/flann/fix-build-error.patch
  ports/flann/fix-dependency-hdf5.patch
  ports/flann/portfile.cmake
  ports/flann/vcpkg.json
  versions/baseline.json
  versions/f-/flann.json
Labels: category:port-bug, info:reviewed

#20790 [vcpkg ci] Ask for adding a license field
  .github/workflows/untrustedPR.yml
Labels: info:reviewed, category:infrastructure

#22487 [FLTK] Update to 1.3.8
  ports/fltk/fltk_version.dat
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-update, info:reviewed

#22442 [co] Rename port co to cocoyaxi
  ports/co/portfile.cmake
  ports/co/vcpkg.json
  ports/cocoyaxi/fix-event-destruct.patch
  ports/cocoyaxi/install-dll.patch
  ports/cocoyaxi/portfile.cmake
  ports/cocoyaxi/vcpkg.json
  versions/baseline.json
  versions/c-/co.json
  versions/c-/cocoyaxi.json
Labels: category:port-feature, info:reviewed

#22577 [dimcli] Add supports field instead of written in ci.baseline, disable testing, support osx
  ports/dimcli/fix-build.patch
  ports/dimcli/portfile.cmake
  ports/dimcli/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/dimcli.json
Labels: category:port-feature, info:internal, info:reviewed

#22617 [curlpp] fix single config builds
  ports/curlpp/portfile.cmake
  ports/curlpp/vcpkg.json
  versions/baseline.json
  versions/c-/curlpp.json
Labels: category:port-bug, info:reviewed

#22635 [mapnik] update port
  ports/mapnik/portfile.cmake
  ports/mapnik/proj-find-fix.patch
  ports/mapnik/vcpkg.json
  versions/baseline.json
  versions/m-/mapnik.json
Labels: category:port-update, info:reviewed

#22638 [Kubernetes] Update to latest commit
  ports/kubernetes/001-fix-destination.patch
  ports/kubernetes/portfile.cmake
  ports/kubernetes/vcpkg.json
  versions/baseline.json
  versions/k-/kubernetes.json
Labels: category:port-update, info:reviewed

#22639 [freeimage] Re-fix dependency libwebp
  ports/freeimage/CMakeLists.txt
  ports/freeimage/vcpkg.json
  versions/baseline.json
  versions/f-/freeimage.json
Labels: category:port-bug, info:internal, info:reviewed
