Repository microsoft/vcpkg, pull requests merged in 2022-07, with the labels that each got.

#25514 [vcpkg baseline][librdkafka] Add feature curl
  ports/librdkafka/fix_curl.patch
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#25509 [rapidjson] Update hash
  ports/rapidjson/portfile.cmake
  ports/rapidjson/vcpkg.json
  versions/baseline.json
  versions/r-/rapidjson.json
Labels: category:port-bug, info:internal, info:reviewed

#25513 [libspatialite] Fix mingw crossbuilds
  ports/libspatialite/fix-mingw.patch
  ports/libspatialite/portfile.cmake
  ports/libspatialite/vcpkg.json
  versions/baseline.json
  versions/l-/libspatialite.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25439 [soxr] fix `arm64-osx` build
  ports/soxr/003_detect_arm.patch
  ports/soxr/portfile.cmake
  ports/soxr/vcpkg.json
  versions/baseline.json
  versions/s-/soxr.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#25374 [dpdk] Update to version v22.03
  ports/dpdk/CMakeLists.txt
  ports/dpdk/FindNuma.cmake
  ports/dpdk/dpdkConfig.cmake
  ports/dpdk/enable-either-static-or-shared-build.patch
  ports/dpdk/portfile.cmake
  ports/dpdk/remove-examples-src-from-datadir.patch
  ports/dpdk/stop-building-apps.patch
  ports/dpdk/unofficial-dpdk-config.cmake.in
  ports/dpdk/usage
  ports/dpdk/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/dpdk.json
Labels: category:port-update, info:reviewed

#25522 [libdatachannel] chore(version): updated to 0.17.8
  ports/libdatachannel/0001-fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/uwp-warnings.patch
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#25568 [draco] update to v1.5.2
  ports/draco/fix-compile-error-uwp.patch
  ports/draco/portfile.cmake
  ports/draco/vcpkg.json
  versions/baseline.json
  versions/d-/draco.json
Labels: info:internal, category:port-update, info:reviewed

#25567 [cnats] update to 3.3.0
  ports/cnats/portfile.cmake
  ports/cnats/vcpkg.json
  versions/baseline.json
  versions/c-/cnats.json
Labels: info:internal, category:port-update, info:reviewed

#25564 [DiscordCoreAPI] Update to version 2022-07-05
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#25561 [libcuckoo] Update port @0.3.1
  ports/libcuckoo/portfile.cmake
  ports/libcuckoo/vcpkg.json
  versions/baseline.json
  versions/l-/libcuckoo.json
Labels: category:port-update, info:reviewed

#25548 [WinReg] update to v5.1.1
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#25535 [osg libraw openexr jasper] Dont block arm64-osx
  ports/jasper/vcpkg.json
  ports/libraw/vcpkg.json
  ports/openexr/vcpkg.json
  ports/osg/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
  versions/l-/libraw.json
  versions/o-/openexr.json
  versions/o-/osg.json
Labels: category:port-feature, info:reviewed

#25527 [boinc] Update to 7.20.1
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25523 [gamenetworkingsockets] update version to 1.4.1
  ports/gamenetworkingsockets/portfile.cmake
  ports/gamenetworkingsockets/vcpkg.json
  versions/baseline.json
  versions/g-/gamenetworkingsockets.json
Labels: category:port-update, info:reviewed

#25516 [air-ctl] Update to v1.1.2
  ports/air-ctl/portfile.cmake
  ports/air-ctl/vcpkg.json
  versions/a-/air-ctl.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25515 [curl] Update to 7.84.0
  ports/curl/0012-fix-dependency-idn2.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  ports/curl/wolfssl-ntlm.patch
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#25510 [libavif] update to v0.10.1
  ports/libavif/fix-compiler-warnings.patch
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  versions/baseline.json
  versions/l-/libavif.json
Labels: info:internal, category:port-update, info:reviewed

#25502 [proj] Disable docs
  ports/proj/portfile.cmake
  ports/proj/remove-doc.patch
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-bug, info:reviewed

#25500 [gazebo] Fix Plugin failed with status code 3221225785
  ports/gazebo/portfile.cmake
  ports/gazebo/vcpkg.json
  versions/baseline.json
  versions/g-/gazebo.json
Labels: category:port-bug, info:internal, info:reviewed

#25458 [sqlpp11] update to 0.61
  ports/sqlpp11-connector-mysql/portfile.cmake
  ports/sqlpp11-connector-mysql/vcpkg.json
  ports/sqlpp11-connector-sqlite3/portfile.cmake
  ports/sqlpp11-connector-sqlite3/vcpkg.json
  ports/sqlpp11/ddl2cpp_path.patch
  ports/sqlpp11/fix-dependency.patch
  ports/sqlpp11/portfile.cmake
  ports/sqlpp11/vcpkg.json
  versions/baseline.json
  versions/s-/sqlpp11-connector-mysql.json
  versions/s-/sqlpp11-connector-sqlite3.json
  versions/s-/sqlpp11.json
Labels: category:port-update, info:reviewed

#25438 [new port] Ableton Link
  ports/ableton/correct_cmake_include_directory.patch
  ports/ableton/portfile.cmake
  ports/ableton/replace_local_asiostandalone_by_vcpkg_asio.patch
  ports/ableton/replace_local_catch_by_vcpkg_catch2.patch
  ports/ableton/vcpkg.json
  versions/a-/ableton.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#25417 [yoga] Add unofficial-yoga-config.cmake
  ports/yoga/Export-unofficial-yoga-config.patch
  ports/yoga/portfile.cmake
  ports/yoga/vcpkg.json
  versions/baseline.json
  versions/y-/yoga.json
Labels: category:port-feature, info:internal, info:reviewed

#25388 [7-Zip] update to 22.00
  ports/7zip/portfile.cmake
  ports/7zip/vcpkg.json
  versions/7-/7zip.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#25137 [fmt] fix format conflict
  ports/fmt/fix-format-conflict.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:port-bug, info:internal, info:reviewed, depends:different-pr

#25600 [libfreenect2] Add feature openni2
  ports/libfreenect2/portfile.cmake
  ports/libfreenect2/vcpkg.json
  versions/baseline.json
  versions/l-/libfreenect2.json
Labels: category:port-feature, info:internal, info:reviewed

#25582 [yyjson] Update to 0.5.1
  ports/yyjson/portfile.cmake
  ports/yyjson/vcpkg.json
  versions/baseline.json
  versions/y-/yyjson.json
Labels: category:port-update, info:reviewed

#25580 [openal-soft] fix mingw build and update to 1.22.2
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-update, info:reviewed

#25573 [yasm] Fix supports expression value
  ports/yasm/fix-arm-cross-build.patch
  ports/yasm/portfile.cmake
  ports/yasm/vcpkg.json
  versions/baseline.json
  versions/y-/yasm.json
Labels: category:port-feature, info:internal, info:reviewed

#24777 [isal] Update port
  ports/isal/CMakeLists.txt
  ports/isal/fix-nmake.patch
  ports/isal/isalConfig.cmake
  ports/isal/portfile.cmake
  ports/isal/usage
  ports/isal/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/isal.json
Labels: category:port-bug, info:reviewed

#24843 [assimp] Update to 5.2.4
  ports/assimp/4542.patch
  ports/assimp/build_fixes.patch
  ports/assimp/irrlicht.patch
  ports/assimp/portfile.cmake
  ports/assimp/vcpkg.json
  ports/qt5-3d/portfile.cmake
  ports/qt5-3d/vcpkg.json
  ports/qtquick3d/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
  versions/q-/qt5-3d.json
  versions/q-/qtquick3d.json
Labels: category:port-bug, category:port-update, info:reviewed

#25616 [vcpkg baseline][tmx] Fix libxml dependency
  ports/tmx/libxml2.patch
  ports/tmx/portfile.cmake
  ports/tmx/vcpkg.json
  versions/baseline.json
  versions/t-/tmx.json
Labels: category:port-bug, info:reviewed

#24400 [protobuf] Update to 3.21.2
  ports/gazebo/portfile.cmake
  ports/gazebo/vcpkg.json
  ports/ignition-msgs1/fix-Add_std_string.patch
  ports/ignition-msgs1/portfile.cmake
  ports/ignition-msgs1/vcpkg.json
  ports/ignition-msgs5/02-Add_std_string.patch
  ports/ignition-msgs5/portfile.cmake
  ports/ignition-msgs5/vcpkg.json
  ports/ignition-msgs6/01-Add_std_string.patch
  ports/ignition-msgs6/portfile.cmake
  ports/ignition-msgs6/vcpkg.json
  ports/protobuf/fix-default-proto-file-path.patch
  ports/protobuf/fix-static-build.patch
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/g-/gazebo.json
  versions/i-/ignition-msgs1.json
  versions/i-/ignition-msgs5.json
  versions/i-/ignition-msgs6.json
  versions/p-/protobuf.json
Labels: info:internal, category:port-update, info:reviewed

#25617 [pcre] Fix build failure for loongarch64 cpu
  ports/pcre/portfile.cmake
  ports/pcre/vcpkg.json
  versions/baseline.json
  versions/p-/pcre.json
Labels: info:reviewed, category:community-triplet

#25606 [cairo] Fix mingw-dynamic builds
  ports/cairo/mingw-dllexport.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: info:reviewed, category:community-triplet

#25596 [ffmpeg] Fix failure of cross-compiling for ffmpeg due to use inappropriate strip.
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#25565 [json-c] Updated to the version 2022-06-22
  ports/json-c/portfile.cmake
  ports/json-c/vcpkg.json
  versions/baseline.json
  versions/j-/json-c.json
Labels: category:port-update, info:reviewed

#25531 [vcpkg script] Test pkg-config integration
  scripts/ci.baseline.txt
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/test_ports/cmake-user/project/CMakeLists.txt
  scripts/test_ports/cmake-user/project/FindZLIBviaPkgConfig.cmake
  scripts/test_ports/cmake-user/vcpkg.json
Labels: category:vcpkg-feature, info:reviewed

#25505 [boost-regex] Fix icu feature
  ports/boost-regex/b2-options.cmake
  ports/boost-regex/vcpkg.json
  versions/b-/boost-regex.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#25189 [scripts|world rebuild] Always save `config.log` and `CMakeCache.txt`
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/cmake/vcpkg_execute_required_process.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-feature, info:reviewed

#22392 [gdal] Update to 3.5.1, build with CMake
  ports/gdal/0001-Fix-debug-crt-flags.patch
  ports/gdal/0002-Fix-build.patch
  ports/gdal/0004-Fix-cfitsio.patch
  ports/gdal/0005-Fix-configure.patch
  ports/gdal/0006-Fix-mingw-dllexport.patch
  ports/gdal/0007-Control-tools.patch
  ports/gdal/0008-Fix-absl-string_view.patch
  ports/gdal/0009-atlbase.patch
  ports/gdal/0010-symprefix.patch
  ports/gdal/find-link-libraries.patch
  ports/gdal/portfile.cmake
  ports/gdal/usage
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  ports/libgeotiff/portfile.cmake
  ports/libgeotiff/public-dependencies.patch
  ports/libgeotiff/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
  versions/l-/libgeotiff.json
Labels: category:port-feature, info:reviewed

#25646 [gdal] Fix hdf5 dependency
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#25630 [gtest] update to 1.12.1
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-update, info:reviewed

#25628 [boost-modular-build-helper] Add iOS target-os
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#25624 [cppcodec] Windows compatibility fix
  ports/cppcodec/0001-Fix-62.patch
  ports/cppcodec/portfile.cmake
  ports/cppcodec/vcpkg.json
  versions/baseline.json
  versions/c-/cppcodec.json
Labels: category:port-bug, info:reviewed

#25613 [boost-build] Fix build failure for loongarch64
  ports/boost-build/0003-update-architecture-feature.jam-file.patch
  ports/boost-build/portfile.cmake
  ports/boost-build/vcpkg.json
  versions/b-/boost-build.json
  versions/baseline.json
  versions/l-/libharu.json
Labels: category:port-feature, info:reviewed

#25611 [readline-win32] export target
  ports/readline-win32/CMakeLists.txt
  ports/readline-win32/portfile.cmake
  ports/readline-win32/vcpkg.json
  versions/baseline.json
  versions/r-/readline-win32.json
Labels: category:port-feature, info:internal, info:reviewed

#24745 [libuv] update to 1.44.1 and use official CMakeLists
  ports/libuv/CMakeLists.txt
  ports/libuv/fix-build-type.patch
  ports/libuv/portfile.cmake
  ports/libuv/unofficial-libuv-config.in.cmake
  ports/libuv/usage
  ports/libuv/vcpkg-cmake-wrapper.cmake
  ports/libuv/vcpkg.json
  ports/qpid-proton/fix-dependencies.patch
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/vcpkg.json
  ports/tensorpipe/use-vcpkg.patch
  ports/tensorpipe/vcpkg.json
  ports/usockets/CMakeLists.txt
  ports/usockets/vcpkg.json
  ports/uvw/CMakeLists.txt
  ports/uvw/vcpkg.json
  ports/wpilib/fix-dependency-libuv.patch
  ports/wpilib/portfile.cmake
  ports/wpilib/vcpkg.json
  scripts/test_ports/cmake/fix-dependency-libuv.patch
  scripts/test_ports/cmake/portfile.cmake
  scripts/test_ports/cmake/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
  versions/q-/qpid-proton.json
  versions/t-/tensorpipe.json
  versions/u-/usockets.json
  versions/u-/uvw.json
  versions/w-/wpilib.json
Labels: info:internal, category:port-update, info:reviewed

#24829 [nuklear] Upgrade to latest nuklear (12/05/2022)
  ports/nuklear/CMakeLists.txt
  ports/nuklear/portfile.cmake
  ports/nuklear/vcpkg.json
  versions/baseline.json
  versions/n-/nuklear.json
Labels: category:port-update, info:reviewed

#25597 [OpenSSL] update to 3.0.5
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg-cmake-wrapper.cmake.in
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: info:internal, category:port-update, info:reviewed

#25560 [ned14-internal-quickcpplib] Update port @2022-07-04
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/ned14-internal-quickcpplib/portfile.cmake
  ports/ned14-internal-quickcpplib/quicklib-depheaders.patch
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
Labels: category:port-update, info:reviewed

#25461 [apsi] update to v0.8.2 and fix supports
  ports/apsi/portfile.cmake
  ports/apsi/vcpkg.json
  versions/a-/apsi.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#25572 [wxwidgets] Update and fix
  ports/wxcharts/portfile.cmake
  ports/wxcharts/vcpkg.json
  ports/wxwidgets/example/CMakeLists.txt
  ports/wxwidgets/install-layout.patch
  ports/wxwidgets/mingw-output-name.patch
  ports/wxwidgets/nanosvg-ext-depend.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  scripts/test_ports/vcpkg-ci-wxwidgets/portfile.cmake
  scripts/test_ports/vcpkg-ci-wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxcharts.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, category:port-update, info:reviewed

#25604 [ezfoundation] Add new port
  ports/ezfoundation/ezFoundation_vcpkg.patch
  ports/ezfoundation/portfile.cmake
  ports/ezfoundation/vcpkg.json
  versions/baseline.json
  versions/e-/ezfoundation.json
Labels: category:new-port, info:reviewed

#25614 [boost-modular-build-helper] Add support for loongarch64 cpu
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#25637 [gdal] compatibility with 32bit devices android_api<24
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25662 [basisu] Fix x64-linux-dynamic build, switch to vcpkg_cmake_configure
  ports/basisu/portfile.cmake
  ports/basisu/vcpkg.json
  versions/b-/basisu.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#25664 [liblas] Fix geotiff dependency, document usage, add feature 'tools'
  ports/liblas/fix-cmake-config.patch
  ports/liblas/misc-fixes.patch
  ports/liblas/portfile.cmake
  ports/liblas/usage
  ports/liblas/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/liblas.json
Labels: category:port-feature, category:port-bug, info:reviewed

#25666 [fastrtps] Update to 2.7.0, fix tool path and x64-linux-dynamic build
  ports/fastrtps/disable-symlink.patch
  ports/fastrtps/portfile.cmake
  ports/fastrtps/vcpkg.json
  versions/baseline.json
  versions/f-/fastrtps.json
Labels: category:port-update, info:reviewed, category:community-triplet

#25687 [uwebsockets] update to 20.14.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update, info:reviewed

#25685 [sdformat9] Update to 9.8.0
  ports/sdformat9/portfile.cmake
  ports/sdformat9/vcpkg.json
  versions/baseline.json
  versions/s-/sdformat9.json
Labels: info:internal, category:port-update, info:reviewed

#25684 [uvw] Fix usage
  ports/uvw/uvw-config.cmake
  ports/uvw/vcpkg.json
  versions/baseline.json
  versions/u-/uvw.json
Labels: category:port-bug, info:internal, info:reviewed

#25679 [vcpkg baseline][isal, spdk-isal] Fix conflict
  ports/isal/portfile.cmake
  ports/isal/vcpkg.json
  ports/spdk-isal/portfile.cmake
  ports/spdk-isal/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/isal.json
  versions/s-/spdk-isal.json
Labels: category:port-bug, info:internal, info:reviewed

#25678 [vcpkg baseline][yasm/vcpkg-tool-ninja] Fix build
  ports/vcpkg-tool-ninja/portfile.cmake
  ports/vcpkg-tool-ninja/use-internal-re2c.patch
  ports/vcpkg-tool-ninja/vcpkg.json
  ports/yasm/portfile.cmake
  ports/yasm/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-tool-ninja.json
  versions/y-/yasm.json
Labels: category:port-bug, info:internal, info:reviewed

#25671 [pcre] Fix x64-linux-dynamic build
  ports/pcre/portfile.cmake
  ports/pcre/vcpkg.json
  versions/baseline.json
  versions/p-/pcre.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25677 [vcpkg baseline][ngspice] update to rev 37
  ports/ngspice/portfile.cmake
  ports/ngspice/vcpkg.json
  versions/baseline.json
  versions/n-/ngspice.json
Labels: info:internal, category:port-update, info:reviewed

#25672 [qtbase] Fix x64-linux-dynamic build
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: info:reviewed, category:community-triplet

#25722 [speexdsp] update to v1.2.1
  ports/speexdsp/CMakeLists.txt
  ports/speexdsp/portfile.cmake
  ports/speexdsp/vcpkg.json
  versions/baseline.json
  versions/s-/speexdsp.json
Labels: info:internal, category:port-update, info:reviewed

#25721 [air-ctl] fix stdalign.h not find issue
  ports/air-ctl/portfile.cmake
  ports/air-ctl/vcpkg.json
  versions/a-/air-ctl.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#25719 [libpff] update to 20211114
  ports/libpff/portfile.cmake
  ports/libpff/vcpkg.json
  versions/baseline.json
  versions/l-/libpff.json
Labels: info:internal, category:port-update, info:reviewed

#25718 [gtk] fix cross build
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
Labels: info:reviewed, category:community-triplet

#25715 [WinReg] update to v6.0.0
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#25699 [python3] Fix wrapper, mark mingw unsupported
  ports/python3/vcpkg-cmake-wrapper.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-feature, info:reviewed

#25688 [freerdp] update to 2.7
  ports/freerdp/fix-include-path.patch
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  versions/baseline.json
  versions/f-/freerdp.json
Labels: info:internal, category:port-update, info:reviewed

#25626 [ableton] Fixed ASIO vs. ASIOSDK confusion
  ports/ableton/portfile.cmake
  ports/ableton/replace_asiosdk_download_by_vcpkg_asiosdk.patch
  ports/ableton/replace_local_asiostandalone_by_vcpkg_asio.patch
  ports/ableton/vcpkg.json
  versions/a-/ableton.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#25239 [vcpkg] Add `vcpkg_install_copyright()` portfile function
  docs/maintainers/maintainer-guide.md
  docs/maintainers/portfile-functions.md
  docs/maintainers/vcpkg_install_copyright.md
  scripts/cmake/vcpkg_install_copyright.cmake
  scripts/ports.cmake
  scripts/templates/portfile.in.cmake
Labels: category:vcpkg-feature, info:reviewed

#24310 [liblsquic] Add new port
  ports/liblsquic/disable-asan.patch
  ports/liblsquic/portfile.cmake
  ports/liblsquic/vcpkg.json
  versions/baseline.json
  versions/l-/liblsquic.json
Labels: category:new-port, info:reviewed

#25569 [vcpkg baseline][libharu] update to 2.4.0-rc1
  ports/libharu/add-boolean-typedef.patch
  ports/libharu/export-targets.patch
  ports/libharu/fix-build-fail.patch
  ports/libharu/fix-include-path.patch
  ports/libharu/portfile.cmake
  ports/libharu/tiff.patch
  ports/libharu/vcpkg.json
  ports/vtk/fix-find-libharu.patch
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/l-/libharu.json
  versions/v-/vtk.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#25749 [dlib] update to 19.24
  ports/dlib/fix-sqlite3-fftw-linkage.patch
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: info:internal, category:port-update, info:reviewed

#25601 [imgui] Set C++ 11 standard in CMakeLists.txt
  ports/imgui/CMakeLists.txt
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-feature, info:reviewed

#25660 [libmicrodns] Add new port
  ports/libmicrodns/portfile.cmake
  ports/libmicrodns/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libmicrodns.json
Labels: category:new-port, info:reviewed

#25746 [libsquish] Fix unexpected OpenMP dependency
  ports/libsquish/portfile.cmake
  ports/libsquish/vcpkg.json
  versions/baseline.json
  versions/l-/libsquish.json
Labels: category:port-bug, info:reviewed

#25669 [rsig] Updates rsig to 0.1.1
  ports/rsig/portfile.cmake
  ports/rsig/usage
  ports/rsig/vcpkg.json
  versions/baseline.json
  versions/r-/rsig.json
Labels: category:port-update, info:reviewed

#25742 [WavPack] update to 5.5.0
  ports/wavpack/OpenSSL.patch
  ports/wavpack/fix-symbol-exports.patch
  ports/wavpack/portfile.cmake
  ports/wavpack/vcpkg.json
  versions/baseline.json
  versions/w-/wavpack.json
Labels: info:internal, category:port-update, info:reviewed

#25733 [libproxy] Add vcpkg_check_linkage(ONLY_DYNAMIC_LIBRARY)
  ports/libproxy/portfile.cmake
  ports/libproxy/vcpkg.json
  versions/baseline.json
  versions/l-/libproxy.json
Labels: category:port-bug, info:internal, info:reviewed

#25727 [libmount] Update to 2.38
  ports/libmount/portfile.cmake
  ports/libmount/vcpkg.json
  versions/baseline.json
  versions/l-/libmount.json
Labels: info:internal, category:port-update, info:reviewed

#25271 [hiredis] Fix the conflict of macro ssize_t
  ports/hiredis/portfile.cmake
  ports/hiredis/vcpkg.json
  versions/baseline.json
  versions/h-/hiredis.json
Labels: category:port-bug, info:internal

#25765 [WinReg] update to v6.1.0
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#25754 [openal-soft] Add ALSA dependency on Linux
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-bug, info:reviewed

#25507 [azure-core-tracing-opentelemetry-cpp | azure-core-cpp] Add new port and publish azure-core-cpp version to 1.0.0-beta.2
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-core-tracing-opentelemetry-cpp/portfile.cmake
  ports/azure-core-tracing-opentelemetry-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-core-tracing-opentelemetry-cpp.json
  versions/baseline.json
Labels: category:new-port, category:port-update, requires:author-response

#25629 [azure-security-attestation-cpp] publish version 1.0.0
  ports/azure-security-attestation-cpp/portfile.cmake
  ports/azure-security-attestation-cpp/vcpkg.json
  versions/a-/azure-security-attestation-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25071 [grpc] Update to 1.46.3
  ports/grpc/00005-fix-uwp-error.patch
  ports/grpc/00006-fix-uwp-error.patch
  ports/grpc/00009-use-system-upb.patch
  ports/grpc/00010-add-feature-absl-sync.patch
  ports/grpc/00013-build-upbdefs.patch
  ports/grpc/00014-pkgconfig-upbdefs.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  ports/upb/0001-make-cmakelists-py.patch
  ports/upb/0002-fix-uwp.patch
  ports/upb/add-all-libs-target.patch
  ports/upb/add-cmake-install.patch
  ports/upb/fix-cmakelists.patch
  ports/upb/fix-uwp.patch
  ports/upb/portfile.cmake
  ports/upb/upb-config-vcpkg-tools.cmake
  ports/upb/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
  versions/u-/upb.json
Labels: category:port-update, info:reviewed

#25608 [google-cloud-cpp] update to latest release (v2.0.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/support_absl_cxx17.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#25689 [gdk-pixbuf] fix bug for cross build
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#24471 [Folly] add vcpkg_cmake_wrapper.cmake
  ports/folly/portfile.cmake
  ports/folly/vcpkg-cmake-wrapper.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-bug, info:internal, info:reviewed

#25398 [secp256k1] Update secp256k1 from 2017 to 2022
  ports/secp256k1/CMakeLists.txt
  ports/secp256k1/libsecp256k1-config.h
  ports/secp256k1/portfile.cmake
  ports/secp256k1/secp256k1-config.cmake
  ports/secp256k1/vcpkg.json
  versions/baseline.json
  versions/s-/secp256k1.json
Labels: category:port-update, info:reviewed

#25748 [libgd] update to 2.3.3
  ports/libgd/0001-fix-cmake.patch
  ports/libgd/fix_msvc_build.patch
  ports/libgd/intrin.patch
  ports/libgd/no-write-source-dir.patch
  ports/libgd/portfile.cmake
  ports/libgd/vcpkg.json
  versions/baseline.json
  versions/l-/libgd.json
Labels: info:internal, category:port-update, info:reviewed

#25755 [gul14] Add new port
  ports/gul14/portfile.cmake
  ports/gul14/vcpkg.json
  versions/baseline.json
  versions/g-/gul14.json
Labels: category:new-port, info:reviewed

#25769 [folly] update to v2022.07.11.00
  ports/folly/fix-abort.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
  versions/p-/proxygen.json
Labels: info:internal, category:port-update, info:reviewed

#25778 [gdal] no absolute paths
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#25782 [cctag] update to v1.0.2
  ports/cctag/portfile.cmake
  ports/cctag/vcpkg.json
  versions/baseline.json
  versions/c-/cctag.json
Labels: category:port-update, info:reviewed

#25789 [armadillo] update to 11.2.3
  ports/armadillo/add-disable-find-package.patch
  ports/armadillo/fix-CMakePath.patch
  ports/armadillo/portfile.cmake
  ports/armadillo/remove_custom_modules.patch
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#25791 [libdc1394] Fix dependencies, fix osx
  ports/libdc1394/fix-macosx.patch
  ports/libdc1394/portfile.cmake
  ports/libdc1394/vcpkg.json
  versions/baseline.json
  versions/l-/libdc1394.json
Labels: category:port-bug, info:reviewed

#25650 [gpgmm] Add gpgmm. Highly experimental.
  ports/gpgmm/portfile.cmake
  ports/gpgmm/vcpkg.json
  versions/baseline.json
  versions/g-/gpgmm.json
Labels: category:new-port, info:reviewed

#25785 Update VMs for July 2022 Patch Tuesday, and to Ubuntu 22.04.
  ports/cuda/vcpkg.json
  ports/cuda/vcpkg_find_cuda.cmake
  ports/cudnn/FindCUDNN.cmake
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-image.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/c-/cuda.json
  versions/c-/cudnn.json
Labels: info:internal, category:infrastructure

#25615 [meson] Add support for loongarch64 cpu.
  docs/users/triplets.md
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:vcpkg-feature

#25788 Update vcpkg-tool to 2022-07-14.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#23035 [vcpkg] Fixup rpath after building dynamic libraries on linux
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/z_vcpkg_fixup_rpath.cmake
  scripts/ports.cmake
  triplets/community/x64-linux-dynamic.cmake
Labels: category:vcpkg-feature, info:reviewed

#25830 [libtorrent] update to 2.0.7
  ports/libtorrent/portfile.cmake
  ports/libtorrent/vcpkg.json
  versions/baseline.json
  versions/l-/libtorrent.json
Labels: info:internal, category:port-update, info:reviewed

#25826 [ccfits] Fix x64-linux-dynamic build
  ports/ccfits/dll_exports.patch
  ports/ccfits/vcpkg.json
  versions/baseline.json
  versions/c-/ccfits.json
Labels: category:port-bug, info:reviewed

#25824 [zopfli] Fix x64-linux-dynamic build
  ports/zopfli/portfile.cmake
  ports/zopfli/vcpkg.json
  versions/baseline.json
  versions/z-/zopfli.json
Labels: category:port-bug, info:reviewed

#25816 [apr] no absolute paths
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#25823 [readline-unix] Fix x64-linux-dynamic build
  ports/readline-unix/portfile.cmake
  ports/readline-unix/vcpkg.json
  versions/baseline.json
  versions/r-/readline-unix.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25819 [libtheora] Fix x64-linux-debug build
  ports/libtheora/CMakeLists.txt
  ports/libtheora/portfile.cmake
  ports/libtheora/vcpkg.json
  versions/baseline.json
  versions/l-/libtheora.json
Labels: category:port-feature, info:reviewed

#25809 [trantor] Update to 1.5.6
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  ports/trantor/vcpkg.patch
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#25808 [nowide] update to 11.2.0
  ports/nowide/portfile.cmake
  ports/nowide/vcpkg.json
  versions/baseline.json
  versions/n-/nowide.json
Labels: category:port-update, info:reviewed

#25806 Save meson logs on failure
  docs/maintainers/vcpkg_execute_required_process.md
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: category:vcpkg-feature, info:reviewed

#25802 [libtcod] Update to 1.21.0
  ports/libtcod/portfile.cmake
  ports/libtcod/stb-headers.patch
  ports/libtcod/vcpkg.json
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#25795 [bshoshany-thread-pool] Updated to v3.1.0
  ports/bshoshany-thread-pool/portfile.cmake
  ports/bshoshany-thread-pool/vcpkg.json
  versions/b-/bshoshany-thread-pool.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25763 [sdl2-mixer] Update to 2.6.1
  ports/sdl2-mixer/CMakeLists.txt
  ports/sdl2-mixer/fix-featurempg123.patch
  ports/sdl2-mixer/fix-pkg-prefix.patch
  ports/sdl2-mixer/fix-pkgconfig.patch
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  ports/sdl2pp/fix-dependencies.patch
  ports/sdl2pp/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
  versions/s-/sdl2pp.json
Labels: category:port-update, info:reviewed

#25761 [sqlitecpp] do not use stack protection
  ports/sqlitecpp/portfile.cmake
  ports/sqlitecpp/vcpkg.json
  versions/baseline.json
  versions/s-/sqlitecpp.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#25787 [blake3] Add new port
  ports/blake3/CMakeLists.txt
  ports/blake3/portfile.cmake
  ports/blake3/vcpkg.json
  versions/b-/blake3.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#25841 [pipewire] no absolute paths
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: category:port-bug, info:reviewed

#25837 [boinc] Update to 7.20.2
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25835 [dpdk] no absolute paths
  ports/dpdk/unofficial-dpdk-config.cmake.in
  ports/dpdk/vcpkg.json
  versions/baseline.json
  versions/d-/dpdk.json
Labels: category:port-bug, info:reviewed

#25804 [gdal] no absolute paths
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#25377 [pybind11] Update to version 2.10.0
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#25344 [solid3] fix arm64-osx build
  ports/solid3/no-sse.patch
  ports/solid3/portfile.cmake
  ports/solid3/vcpkg.json
  versions/baseline.json
  versions/s-/solid3.json
Labels: info:reviewed, category:community-triplet

#25621 [opencv4,dv-processing] fix pkgconfig
  ports/dv-processing/portfile.cmake
  ports/dv-processing/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/d-/dv-processing.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#25796 [grpc] no absolute paths
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-bug, info:reviewed

#25811 [meson] update to version 0.63
  ports/vcpkg-tool-meson/portfile.cmake
  ports/vcpkg-tool-meson/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-tool-meson.json
Labels: info:reviewed, category:tool-update

#25834 [brpc] Update to 1.2.0 and fix build error with gcc 11
  ports/brpc/brpc-1783.diff
  ports/brpc/fix-boost-ptr.patch
  ports/brpc/fix-build.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-bug, category:port-update, info:reviewed

#25838 [openscap] no absolute paths
  ports/openscap/portfile.cmake
  ports/openscap/vcpkg.json
  versions/baseline.json
  versions/o-/openscap.json
Labels: category:port-bug, info:reviewed

#25839 [cgal] Update to version 5.4.2
  ports/cgal/fix-incorrect-warning.patch
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-update, info:reviewed

#25842 [gamedev-framework] Update to v1.0.0
  ports/gamedev-framework/portfile.cmake
  ports/gamedev-framework/vcpkg.json
  versions/baseline.json
  versions/g-/gamedev-framework.json
Labels: category:port-update, info:reviewed

#25852 [sqlite3] update to 3.39.1
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: info:internal, category:port-update, info:reviewed

#25844 [msbuild] don't fail on error messages
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-feature, info:reviewed

#25861 [Protobuf] fix used source dir
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:reviewed

#25870 [ccd] add double-precision option
  ports/ccd/portfile.cmake
  ports/ccd/vcpkg.json
  versions/baseline.json
  versions/c-/ccd.json
Labels: category:port-feature, info:reviewed

#25878 [onednn] update to 2.6.1
  ports/onednn/portfile.cmake
  ports/onednn/vcpkg.json
  versions/baseline.json
  versions/o-/onednn.json
Labels: info:internal, category:port-update, info:reviewed

#25884 [concurrencpp] fix supports
  ports/concurrencpp/portfile.cmake
  ports/concurrencpp/vcpkg.json
  versions/baseline.json
  versions/c-/concurrencpp.json
Labels: category:port-bug, info:internal, info:reviewed

#25889 [ogre-next] Update to 2.3.1
  ports/ogre-next/portfile.cmake
  ports/ogre-next/vcpkg.json
  versions/baseline.json
  versions/o-/ogre-next.json
Labels: info:internal, category:port-update, info:reviewed

#25922 [vcpkg baseline][opencv4] Fix hash check
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:internal, info:reviewed

#25920 Update vcpkg-tool to 2022-07-21
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#25925 [xlnt] Add missing include
  ports/xlnt/fix-missing-include.patch
  ports/xlnt/portfile.cmake
  ports/xlnt/vcpkg.json
  versions/baseline.json
  versions/x-/xlnt.json
Labels: category:port-bug, info:internal, info:reviewed

#25853 [glib] update to 2.72.3
  ports/glib/libintl.patch
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: info:internal, category:port-update, info:reviewed

#25914 [grpc] Update to 1.48.0
  ports/grpc/00001-fix-uwp.patch
  ports/grpc/00004-link-gdi32-on-windows.patch
  ports/grpc/00009-use-system-upb.patch
  ports/grpc/00011-fix-csharp_plugin.patch
  ports/grpc/00012-fix-use-cxx17.patch
  ports/grpc/00014-pkgconfig-upbdefs.patch
  ports/grpc/00015-disable-download-archive.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-update, info:reviewed

#25911 [z3] Update to v4.9.1
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#25910 [brynet] Upgrade to 1.12.1
  ports/brynet/portfile.cmake
  ports/brynet/vcpkg.json
  versions/b-/brynet.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#25887 [DCMTK] update to 3.6.7
  ports/dcmtk/portfile.cmake
  ports/dcmtk/vcpkg.json
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: info:internal, category:port-update, info:reviewed

#25894 [mbedtls] Update to v2.28.1
  ports/mbedtls/portfile.cmake
  ports/mbedtls/vcpkg.json
  versions/baseline.json
  versions/m-/mbedtls.json
Labels: category:port-update, info:reviewed
