Repository microsoft/vcpkg, pull requests merged in 2022-12, with the labels that each got.

#28101 [VCPKG DOCS] FIX the checksum of the downloaded file from zip to tag.gz
  docs/examples/packaging-github-repos.md
Labels: category:documentation, info:reviewed

#27982 [vcpkg tool] Add optional tracing of `find_package`
  docs/users/buildsystems/cmake-integration.md
  scripts/buildsystems/vcpkg.cmake
Labels: category:tool-update, requires:vcpkg-team-review

#28075 [kubernetes] Update version
  ports/kubernetes/portfile.cmake
  ports/kubernetes/vcpkg.json
  versions/baseline.json
  versions/k-/kubernetes.json
Labels: category:port-update, info:reviewed

#28074 [g3log] Update g3log to 2.1
  ports/g3log/portfile.cmake
  ports/g3log/vcpkg.json
  versions/baseline.json
  versions/g-/g3log.json
Labels: category:port-update, info:reviewed

#28061 [ismrmrd] Update to version 1.13
  ports/ismrmrd/portfile.cmake
  ports/ismrmrd/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/ismrmrd.json
Labels: category:port-update, info:reviewed

#28095 [libwebsockets] Update to v4.3.2
  ports/libwebsockets/export-include-path.patch
  ports/libwebsockets/fix-build-error.patch
  ports/libwebsockets/portfile.cmake
  ports/libwebsockets/vcpkg.json
  versions/baseline.json
  versions/l-/libwebsockets.json
Labels: category:port-update, info:reviewed

#28029 [glslang] Bump to latest version again
  ports/glslang/install-to-datadir.patch
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  ports/shaderc/fix-tbuiltinresource-for-glslang-11-12.patch
  ports/shaderc/portfile.cmake
  versions/baseline.json
  versions/g-/glslang.json
  versions/s-/shaderc.json
Labels: category:port-update, info:reviewed

#28112 [google-cloud-cpp] update to latest release (v2.5.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#28111 [asyncplusplus] improve port
  ports/asyncplusplus/portfile.cmake
  ports/asyncplusplus/vcpkg.json
  versions/a-/asyncplusplus.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28109 [sdl2-net] no absolute paths
  ports/sdl2-net/portfile.cmake
  ports/sdl2-net/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-net.json
Labels: category:port-feature, info:reviewed

#28113 [sdl2] update to 2.26.1
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#28097 [glog] Fix CUDA not working with NVCC compiler.
  ports/glog/fix_cplusplus_macro.patch
  ports/glog/portfile.cmake
  ports/glog/vcpkg.json
  versions/baseline.json
  versions/g-/glog.json
Labels: category:port-bug, info:internal, info:reviewed

#28090 [alsa] Fix issue #26161
  ports/alsa/fix-plugin-dir.patch
  ports/alsa/portfile.cmake
  ports/alsa/usage
  ports/alsa/vcpkg.json
  versions/a-/alsa.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#28116 [vcpkg docs] Modify incorrect description of <source> valid clear
  docs/users/binarycaching.md
Labels: category:documentation, info:internal, info:reviewed

#26955 [ngtcp2] new port
  ports/ngtcp2/export-unofficical-target.patch
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:new-port, info:reviewed

#27971 [brotli] Export libm usage requirement, cleanup, usage
  ports/brotli/fix-ios.patch
  ports/brotli/install.patch
  ports/brotli/pkgconfig.patch
  ports/brotli/portfile.cmake
  ports/brotli/unofficial-brotli-config.cmake
  ports/brotli/usage
  ports/brotli/vcpkg-cmake-wrapper.cmake
  ports/brotli/vcpkg.json
  versions/b-/brotli.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#28169 [DiscordCoreAPI] Update to version 2022-12-04
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#28162 [smf]: Add v0.1.1 version port
  ports/smf/portfile.cmake
  ports/smf/usage
  ports/smf/vcpkg.json
  versions/baseline.json
  versions/s-/smf.json
Labels: category:new-port, info:reviewed

#28138 [protopuf] Update to 2.2.1
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-update, info:reviewed

#28158 [c9y] Update to 0.5.1
  ports/c9y/portfile.cmake
  ports/c9y/vcpkg.json
  versions/baseline.json
  versions/c-/c9y.json
Labels: category:port-update, info:reviewed

#28147 [quill] Update to 2.5.1
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#28157 [proj] Update to 9.1.1
  ports/proj/fix-proj4-targets-cmake.patch
  ports/proj/portfile.cmake
  ports/proj/tools-cmake.patch
  ports/proj/usage
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-update, info:reviewed

#28155 [qtbase] Fix configuration race
  ports/qtbase/fix_egl_2.patch
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:reviewed

#28188 [libpng] Update to 1.6.39
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-update, info:reviewed

#28199 [opencv3] remove non-existing header files
  ports/opencv3/fix-tbb-error.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
Labels: category:port-bug, info:internal, info:reviewed

#28194 [quazip] Fix find package
  ports/quazip/portfile.cmake
  ports/quazip/vcpkg.json
  versions/baseline.json
  versions/q-/quazip.json
Labels: category:port-bug, info:internal, info:reviewed

#28190 [ctre] Update to 3.7.1
  ports/ctre/portfile.cmake
  ports/ctre/vcpkg.json
  versions/baseline.json
  versions/c-/ctre.json
Labels: category:port-update, info:reviewed

#28180 [opencv2] no absolute paths
  ports/opencv2/portfile.cmake
  ports/opencv2/usage.in
  ports/opencv2/vcpkg.json
  versions/baseline.json
  versions/o-/opencv2.json
Labels: category:port-bug, info:reviewed

#28178 [rocksdb] no absolute paths
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-bug, info:reviewed

#28176 [llhttp] no absolute paths
  ports/llhttp/portfile.cmake
  ports/llhttp/vcpkg.json
  versions/baseline.json
  versions/l-/llhttp.json
Labels: category:port-bug, info:reviewed

#28172 [dlfcn-win32] Fix install failure when build type is set to release
  ports/dlfcn-win32/portfile.cmake
  ports/dlfcn-win32/vcpkg.json
  versions/baseline.json
  versions/d-/dlfcn-win32.json
Labels: category:port-bug, info:reviewed

#28129 [sse2neon] Add new port
  ports/sse2neon/portfile.cmake
  ports/sse2neon/vcpkg.json
  versions/baseline.json
  versions/s-/sse2neon.json
Labels: category:new-port, info:reviewed

#28121 [libssh] fix json file
  scripts/ci.baseline.txt
  versions/l-/libssh.json
Labels: info:internal, category:port-update, info:reviewed

#28137 [sdl2-image] Fix dynamic linking
  ports/sdl2-image/portfile.cmake
  ports/sdl2-image/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-image.json
Labels: category:port-bug, info:reviewed

#28218 [gcem] Update to version 1.16.0
  ports/gcem/portfile.cmake
  ports/gcem/vcpkg.json
  versions/baseline.json
  versions/g-/gcem.json
Labels: category:port-update, info:reviewed

#28203 [opencv4] no absolute paths
  ports/opencv4/portfile.cmake
  ports/opencv4/usage.in
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#28107 [ranges] Update tl-ranges to latest commit
  ports/tl-ranges/portfile.cmake
  ports/tl-ranges/vcpkg.json
  versions/baseline.json
  versions/t-/tl-ranges.json
Labels: category:port-update, info:reviewed

#28179 [opencv3] no absolute paths
  ports/opencv3/portfile.cmake
  ports/opencv3/usage.in
  ports/opencv3/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
Labels: category:port-bug, info:reviewed

#28216 [vcpkg] Fix VS can still be IntelliSense after disabling vcpkg
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug, info:internal, info:reviewed

#28234 [usockets] update to 0.8.3
  ports/usockets/portfile.cmake
  ports/usockets/vcpkg.json
  versions/baseline.json
  versions/u-/usockets.json
Labels: info:internal, category:port-update, info:reviewed

#28228 [tl-expected, tl-optional, tl-ranges] Fix CMake config location
  ports/tl-expected/portfile.cmake
  ports/tl-expected/vcpkg.json
  ports/tl-optional/portfile.cmake
  ports/tl-optional/vcpkg.json
  ports/tl-ranges/portfile.cmake
  ports/tl-ranges/vcpkg.json
  versions/baseline.json
  versions/t-/tl-expected.json
  versions/t-/tl-optional.json
  versions/t-/tl-ranges.json
Labels: category:port-bug, info:reviewed

#28222 [boinc] Update to 7.20.5
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28221 [sentry-native] Update to 0.5.3
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#28204 [libtheora] Fix usage issue
  ports/libtheora/CMakeLists.txt
  ports/libtheora/portfile.cmake
  ports/libtheora/unofficial-theora-config.cmake.in
  ports/libtheora/vcpkg.json
  versions/baseline.json
  versions/l-/libtheora.json
Labels: category:port-bug, info:internal, info:reviewed

#28214 [bullet3] Fix wrong target_link_libraries printed
  ports/bullet3/cmake-fix.patch
  ports/bullet3/portfile.cmake
  ports/bullet3/usage
  ports/bullet3/vcpkg.json
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#28201 [redis-plus-plus] update version to 1.3.6
  ports/redis-plus-plus/fix-dependency-libuv.patch
  ports/redis-plus-plus/fix-ws2-linking-windows.patch
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: info:internal, category:port-update, info:reviewed

#28161 Trace wrappers
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#28253 [cpp-jwt] set license
  ports/cpp-jwt/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-jwt.json
Labels: category:port-feature, info:reviewed

#28239 [libxpm] update to 3.5.14
  ports/libxpm/portfile.cmake
  ports/libxpm/vcpkg.json
  versions/baseline.json
  versions/l-/libxpm.json
Labels: category:port-update, info:reviewed

#28237 [qt5-webglplugin] Add required dependency on qt5-websockets
  ports/qt5-webglplugin/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-webglplugin.json
Labels: category:port-bug, info:reviewed

#28196 [doc] Replace "Build Mode" with "Project Mode"
  docs/maintainers/maintainer-guide.md
Labels: category:documentation, info:reviewed, requires:vcpkg-team-review

#28192 [getopt-win32] Allow use as a CMake package
  ports/getopt-win32/CMakeLists.txt
  ports/getopt-win32/portfile.cmake
  ports/getopt-win32/usage
  ports/getopt-win32/vcpkg.json
  versions/baseline.json
  versions/g-/getopt-win32.json
Labels: category:port-feature, info:reviewed

#28294 [tabulate] update to version 1.4
  ports/tabulate/portfile.cmake
  ports/tabulate/vcpkg.json
  versions/baseline.json
  versions/t-/tabulate.json
Labels: category:port-update, info:reviewed

#28293 [rmlui] Update to version 5.0
  ports/rmlui/portfile.cmake
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:port-update, info:reviewed

#28292 [vcpkg docs] Update the tool release checklist
  docs/maintainers/internal/vcpkg_tool_release_process.md
Labels: category:documentation, info:internal, info:reviewed, category:infrastructure

#28290 [wayland-protocols] update to 1.31
  ports/wayland-protocols/portfile.cmake
  ports/wayland-protocols/vcpkg.json
  versions/baseline.json
  versions/w-/wayland-protocols.json
Labels: category:port-update, info:reviewed

#28289 [pipewire] update to 0.3.62
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: category:port-update, info:reviewed

#28282 [libproxy] Update to 0.4.18. Enable static builds
  ports/libproxy/fix-arm-build.patch
  ports/libproxy/fix-dependency-libmodman.patch
  ports/libproxy/fix-install-py.patch
  ports/libproxy/portfile.cmake
  ports/libproxy/vcpkg.json
  versions/baseline.json
  versions/l-/libproxy.json
Labels: category:port-update, info:reviewed

#28279 [baseline][kf5solid] Explicitly disable imobile backend
  ports/kf5solid/portfile.cmake
  ports/kf5solid/vcpkg.json
  versions/baseline.json
  versions/k-/kf5solid.json
Labels: category:port-feature, info:reviewed

#28276 [libzippp] Update to v6.0-1.9.2
  ports/libzippp/portfile.cmake
  ports/libzippp/vcpkg.json
  versions/baseline.json
  versions/l-/libzippp.json
Labels: category:port-update, info:reviewed

#28268 [sse2neon] Fix sse2neon header install path
  ports/sse2neon/portfile.cmake
  ports/sse2neon/vcpkg.json
  versions/baseline.json
  versions/s-/sse2neon.json
Labels: category:port-bug, info:reviewed

#28261 [libxml2] update to 2.10.3
  ports/libxml2/disable-docs.patch
  ports/libxml2/fix-uwp.patch
  ports/libxml2/fix_cmakelist.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-update, info:reviewed

#28252 [live555] Export unofficial targets
  ports/live555/CMakeLists.txt
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: category:port-feature, info:reviewed

#28246 [glib] update to 2.75.0
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#28187 [vcpkg docs] Delete old schema file
  docs/users/manifests.md
  scripts/vcpkg.schema.json
Labels: category:documentation, info:internal, info:reviewed

#28244 [jasper] update to 4.0.0
  ports/devil/jasper-4.patch
  ports/devil/portfile.cmake
  ports/devil/vcpkg.json
  ports/jasper/no_stdc_check.patch
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/d-/devil.json
  versions/j-/jasper.json
Labels: category:port-update, info:reviewed

#28242 [double-conversion] Update to 3.2.1
  ports/double-conversion/portfile.cmake
  ports/double-conversion/vcpkg.json
  ports/itk/double-conversion.patch
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/d-/double-conversion.json
  versions/i-/itk.json
Labels: category:port-update, info:reviewed

#28149 [fastcdr] Update to 1.0.25
  ports/fastcdr/install-cmake.patch
  ports/fastcdr/pdb-file.patch
  ports/fastcdr/portfile.cmake
  ports/fastcdr/vcpkg.json
  versions/baseline.json
  versions/f-/fastcdr.json
Labels: category:port-update, info:reviewed

#28093 [libphonenumber] Adding libphonenumber port, pushing changes to get help on error
  ports/libphonenumber/fix-absl-with-geocoder-off.patch
  ports/libphonenumber/fix-icui18n-lib-name.patch
  ports/libphonenumber/fix-re2-identifiers.patch
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/remove-build-test.patch
  ports/libphonenumber/remove-shared-lib.patch
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:new-port, requires:author-response

#28281 [dxut, effects11] update port for latest GitHub release
  ports/dxut/portfile.cmake
  ports/dxut/vcpkg.json
  ports/effects11/portfile.cmake
  ports/effects11/vcpkg.json
  versions/baseline.json
  versions/d-/dxut.json
  versions/e-/effects11.json
Labels: category:port-update, info:reviewed

#28277 [rtaudio] use support expressions
  ports/rtaudio/vcpkg.json
  versions/baseline.json
  versions/r-/rtaudio.json
Labels: category:port-feature, info:reviewed

#28295 [fontconfig] Fix wrapper, usage
  ports/fontconfig/portfile.cmake
  ports/fontconfig/usage
  ports/fontconfig/vcpkg-cmake-wrapper.cmake.in
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-bug, info:reviewed

#28174 [egl] Revise wrapper and pkgconfig files for windows
  ports/egl/egl.pc.in
  ports/egl/portfile.cmake
  ports/egl/vcpkg-cmake-wrapper.cmake
  ports/egl/vcpkg.json
  versions/baseline.json
  versions/e-/egl.json
Labels: category:port-bug, info:reviewed

#28163 [simd] Add new port
  ports/simd/fix-CMakeLists-install.patch
  ports/simd/portfile.cmake
  ports/simd/vcpkg.json
  versions/baseline.json
  versions/s-/simd.json
Labels: category:new-port, info:reviewed

#28148 [sdl2] Disable X11 feature and make it and Wayland defaults
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-feature, info:reviewed

#28139 [tmxparser] Update to master
  ports/tmxparser/disable_werror.patch
  ports/tmxparser/fix_dependencies.patch
  ports/tmxparser/fix_include_paths.patch
  ports/tmxparser/portfile.cmake
  ports/tmxparser/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/t-/tmxparser.json
Labels: category:port-update, info:reviewed

#28118 [poppler] Add dependency - python3
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: category:port-feature, info:internal, info:reviewed

#28022 [libplist & libusbmuxd & libimobiledevice] Support build on macos & linux
  ports/ideviceinstaller/vcpkg.json
  ports/libimobiledevice/CMakeLists.txt
  ports/libimobiledevice/vcpkg.json
  ports/libirecovery/vcpkg.json
  ports/libplist/CMakeLists.txt
  ports/libplist/fix_static_build.patch
  ports/libplist/portfile.cmake
  ports/libplist/vcpkg.json
  ports/libusbmuxd/CMakeLists.txt
  ports/libusbmuxd/portfile.cmake
  ports/libusbmuxd/vcpkg.json
  ports/usbmuxd/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/ideviceinstaller.json
  versions/l-/libimobiledevice.json
  versions/l-/libirecovery.json
  versions/l-/libplist.json
  versions/l-/libusbmuxd.json
  versions/u-/usbmuxd.json
Labels: category:port-feature, info:reviewed

#27766 [openimageio] Update to v2.4.5.0
  ports/openimageio/fix-dependencies.patch
  ports/openimageio/fix-openexr-dll.patch
  ports/openimageio/fix-openimageio_include_dir.patch
  ports/openimageio/imath-version-guard.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: info:internal, category:port-update, info:reviewed

#27922 [marisa-trie] Add new port
  ports/marisa-trie/portfile.cmake
  ports/marisa-trie/usage
  ports/marisa-trie/vcpkg.json
  versions/baseline.json
  versions/m-/marisa-trie.json
Labels: category:new-port, info:reviewed

#28329 [capnproto] update to 0.10.3
  ports/capnproto/portfile.cmake
  ports/capnproto/vcpkg.json
  versions/baseline.json
  versions/c-/capnproto.json
Labels: category:port-update, info:reviewed

#28254 [fmt] set license
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:port-feature, info:reviewed

#28255 [libmodbus] set license
  ports/libmodbus/vcpkg.json
  versions/baseline.json
  versions/l-/libmodbus.json
Labels: category:port-feature, info:reviewed

#28256 [msgpack] set license
  ports/msgpack/vcpkg.json
  versions/baseline.json
  versions/m-/msgpack.json
Labels: category:port-feature, info:reviewed

#28257 [neargye-semver] set license
  ports/neargye-semver/vcpkg.json
  versions/baseline.json
  versions/n-/neargye-semver.json
Labels: category:port-feature, info:reviewed

#28258 [range-v3] set license
  ports/range-v3/vcpkg.json
  versions/baseline.json
  versions/r-/range-v3.json
Labels: category:port-feature, info:reviewed

#28260 [utf8h] set license
  ports/utf8h/vcpkg.json
  versions/baseline.json
  versions/u-/utf8h.json
Labels: category:port-feature, info:reviewed

#28259 [re2] set license
  ports/re2/vcpkg.json
  versions/baseline.json
  versions/r-/re2.json
Labels: category:port-feature, info:reviewed

#28333 [OpenTelemetry-cpp] Update OpenTelemetry-cpp to 1.8.1
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#28326 [pango] Update to 1.10.12
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: category:port-update, info:reviewed

#28321 [geographiclib] update version to 2.1.2
  ports/geographiclib/portfile.cmake
  ports/geographiclib/vcpkg.json
  versions/baseline.json
  versions/g-/geographiclib.json
Labels: category:port-update, info:reviewed

#28309 [directxmath] updated port to DirectXMath 3.18 release
  ports/directxmath/portfile.cmake
  ports/directxmath/vcpkg.json
  versions/baseline.json
  versions/d-/directxmath.json
Labels: category:port-update, info:reviewed

#28278 [fftw3] use support expressions
  ports/fftw3/vcpkg.json
  versions/baseline.json
  versions/f-/fftw3.json
Labels: category:port-feature, info:reviewed

#28245 [qtbase] make double-conversion a hard dependency
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:reviewed

#28106 [FreeRDP] update version to 2.9.0
  ports/freerdp/fix-FreeRDP.patch
  ports/freerdp/fix-libusb.patch
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-update, info:reviewed

#28212 [eve] Update and fixes
  ports/eve/portfile.cmake
  ports/eve/usage
  ports/eve/vcpkg.json
  versions/baseline.json
  versions/e-/eve.json
Labels: category:port-bug, category:port-update, info:reviewed

#28324 [dbus] update to 1.15.2
  ports/dbus/getpeereid.patch
  ports/dbus/portfile.cmake
  ports/dbus/rdynamic.patch
  ports/dbus/vcpkg.json
  versions/baseline.json
  versions/d-/dbus.json
Labels: category:port-update, info:reviewed

#28217 [freetype] Fix cmake usage
  ports/freetype/brotli-static.patch
  ports/freetype/portfile.cmake
  ports/freetype/usage
  ports/freetype/vcpkg.json
  versions/baseline.json
  versions/f-/freetype.json
Labels: category:port-bug, info:reviewed

#28335 [vcpkg scripts] [vcpkg_clean_executables_in_bin] Clean bundles
  scripts/cmake/vcpkg_clean_executables_in_bin.cmake
Labels: category:vcpkg-feature, info:reviewed

#28351 [catch2] Update to 3.2.1
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#27830 [Python3] cross build support
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-feature, info:reviewed

#28251 [amd-amf] Add amd-amf port
  ports/amd-amf/portfile.cmake
  ports/amd-amf/vcpkg.json
  versions/a-/amd-amf.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#28299 [asio] add target guard for target `asio::asio`
  ports/asio/asio-config.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#28316 [qt5-base] Remove unnecessary cleaning and speed up build on macOS #28314
  ports/qt5-base/cmake/install_qt.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, info:reviewed

#28363 [libphonenumber] libphonenumber works with static, removing !static
  ports/libphonenumber/vcpkg.json
  versions/l-/libphonenumber.json
Labels: category:port-feature, info:reviewed

#28354 [magic-enum] update port to v0.8.2
  ports/magic-enum/portfile.cmake
  ports/magic-enum/vcpkg.json
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#28383 [vcpkg baseline][usbmuxd] Add "!static" to the port.
  ports/usbmuxd/vcpkg.json
  versions/baseline.json
  versions/u-/usbmuxd.json
Labels: category:port-bug, info:internal, info:reviewed

#28291 [glslang] Update GLSLANG to 11.13.0
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-update, info:reviewed

#28338 [cryptopp] Support for Release-only build
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#28382 [vcpkg baseline][ideviceinstaller] Fix LNK2019 in static triplet
  ports/ideviceinstaller/Add-missing-lib.patch
  ports/ideviceinstaller/portfile.cmake
  ports/ideviceinstaller/vcpkg.json
  versions/baseline.json
  versions/i-/ideviceinstaller.json
Labels: category:port-bug, info:internal, info:reviewed

#28381 [vcpkg baseline] [libproxy] Fix build error on Linux
  ports/libproxy/portfile.cmake
  ports/libproxy/vcpkg.json
  versions/baseline.json
  versions/l-/libproxy.json
Labels: category:port-bug, info:internal, info:reviewed

#28380 [vcpkg baseline] [libirecovery] Fix supports
  ports/libirecovery/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libirecovery.json
Labels: category:port-bug, info:internal, info:reviewed

#28377 [vcpkg baseline] [bgfx] Fix dependencies
  ports/bgfx/fix-dependencies.patch
  ports/bgfx/fix-headerfile.patch
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#28394 Update vcpkg-tool to 2022-12-14
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#28419 Update VMs for December 2022
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
Labels: info:internal, info:reviewed, category:infrastructure

#28413 [pangolin] fix feature tools
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: category:port-feature, info:reviewed

#28414 [wampcc] fix feature tools
  ports/wampcc/portfile.cmake
  ports/wampcc/vcpkg.json
  versions/baseline.json
  versions/w-/wampcc.json
Labels: category:port-feature, info:reviewed

#28410 [exiv2] use supports expression
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-feature, info:reviewed

#28275 [tiff] Update to 4.5.0
  ports/tiff/FindCMath.patch
  ports/tiff/android-libm.patch
  ports/tiff/cmakelists.patch
  ports/tiff/portfile.cmake
  ports/tiff/vcpkg-cmake-wrapper.cmake.in
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-update, info:reviewed

#28406 [azure-core-cpp] use supports expression
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#28409 [cpuinfo] fix arm64-osx build
  ports/cpuinfo/portfile.cmake
  ports/cpuinfo/vcpkg.json
  versions/baseline.json
  versions/c-/cpuinfo.json
Labels: info:reviewed, category:community-triplet

#28404 [ace] fix feature xml
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#28401 [libspatialindex] modernize
  ports/libspatialindex/portfile.cmake
  ports/libspatialindex/vcpkg.json
  versions/baseline.json
  versions/l-/libspatialindex.json
Labels: category:port-bug, info:reviewed

#28400 [cpputest] modernize
  ports/cpputest/portfile.cmake
  ports/cpputest/vcpkg.json
  versions/baseline.json
  versions/c-/cpputest.json
Labels: category:port-feature, info:reviewed

#28399 [plog] Update to 1.1.9
  ports/plog/portfile.cmake
  ports/plog/vcpkg.json
  versions/baseline.json
  versions/p-/plog.json
Labels: category:port-update, info:reviewed

#28398 [elfio] Update to 3.11
  ports/elfio/portfile.cmake
  ports/elfio/vcpkg.json
  versions/baseline.json
  versions/e-/elfio.json
Labels: category:port-update, info:reviewed

#28412 [igraph] no -Werror
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-bug, info:reviewed

#28408 [cgns] add missing dependencies
  ports/cgns/vcpkg.json
  versions/baseline.json
  versions/c-/cgns.json
Labels: category:port-bug, info:reviewed

#28368 [expat] Fix build failure.
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: category:port-bug, info:reviewed

#28297 [fltk] Control dependencies
  ports/fltk/dependencies.patch
  ports/fltk/findlibsfix.patch
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-feature, info:reviewed

#28433 [vcpkg baseline][zeroc-ice] Add ci-baseline failed to skip ci test
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#28411 [google-cloud-cpp] add missing dependency
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-bug, info:reviewed

#27686 [RFC][docs] Add pattern matching docs
  docs/users/registries.md
Labels: category:documentation, info:internal, info:reviewed, requires:vcpkg-tool-release

#28365 [hwloc] Update to 2.9.0
  ports/hwloc/fix_wrong_ifdef.patch
  ports/hwloc/portfile.cmake
  ports/hwloc/stdout_fileno.patch
  ports/hwloc/vcpkg.json
  versions/baseline.json
  versions/h-/hwloc.json
Labels: category:port-update, requires:author-response

#28391 [gdal] Update to 3.6.1
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update

#28403 [protobuf-c] fix feature tools
  ports/protobuf-c/portfile.cmake
  ports/protobuf-c/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf-c.json
Labels: category:port-bug

#28346 [opentelemetry-cpp] Update vcpkg schema URL
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, requires:author-response

#28436 [cpp-httplib] export target
  ports/cpp-httplib/fix-find-brotli.patch
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-feature, info:internal

#28328 [highfive] update to 2.6.2
  ports/highfive/fix-dependency-hdf5.patch
  ports/highfive/fix_compiler_flags.patch
  ports/highfive/portfile.cmake
  ports/highfive/vcpkg.json
  versions/baseline.json
  versions/h-/highfive.json
Labels: category:port-update, info:reviewed

#28355 [stronk] update port to v0.3.1
  ports/stronk/portfile.cmake
  ports/stronk/vcpkg.json
  versions/baseline.json
  versions/s-/stronk.json
Labels: category:port-update, info:reviewed

#28367 [getopt-win32] Missing include directory in package
  ports/getopt-win32/CMakeLists.txt
  ports/getopt-win32/vcpkg.json
  versions/baseline.json
  versions/g-/getopt-win32.json
Labels: category:port-bug, info:reviewed

#28402 [sail] Update to 0.9.0-rc2
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#28439 [ace] Upgrade to 7.0.11
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28263 [ffmpeg/mfx-dispatch] Add mfx-dispatch port, add qsv support and amf support for ffmpeg 4.4.3
  ports/ffmpeg/0023-fix-qsv-init.patch
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  ports/mfx-dispatch/fix-unresolved-symbol.patch
  ports/mfx-dispatch/portfile.cmake
  ports/mfx-dispatch/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/m-/mfx-dispatch.json
Labels: category:new-port, info:reviewed

#28444 [vcpkg] Update PowerShell to 7.3.1
  scripts/vcpkgTools.xml
Labels: info:internal, info:reviewed, category:tool-update

#28007 [skia] Turn into usable and maintainable port
  ports/skia/dawn_use_vcpkg_spirv.patch
  ports/skia/disable-msvc-env-setup.patch
  ports/skia/example/CMakeLists.txt
  ports/skia/expat.gn
  ports/skia/fontconfig.gn
  ports/skia/freetype2.gn
  ports/skia/harfbuzz.gn
  ports/skia/icu.gn
  ports/skia/libjpeg-turbo.gn
  ports/skia/libpng.gn
  ports/skia/libwebp.gn
  ports/skia/piex.gn
  ports/skia/portfile.cmake
  ports/skia/python-executable.patch
  ports/skia/skia-functions.cmake
  ports/skia/skiaConfig.cmake
  ports/skia/skiaConfig.cmake.in
  ports/skia/third-party.gn.in
  ports/skia/unofficial-skia-config.cmake
  ports/skia/usage
  ports/skia/use_vcpkg_fontconfig.patch
  ports/skia/uwp.patch
  ports/skia/vcpkg.json
  ports/skia/zlib.gn
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-skia/portfile.cmake
  scripts/test_ports/vcpkg-ci-skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:reviewed

#28469 [vulkan-headers] update to 1.3.238
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-headers.json
Labels: category:port-update, info:reviewed

#27772 [pcapplusplus] Update to 22.11
  ports/pcapplusplus/CMakeLists.txt
  ports/pcapplusplus/portfile.cmake
  ports/pcapplusplus/vcpkg.json
  versions/baseline.json
  versions/p-/pcapplusplus.json
Labels: category:port-update, info:reviewed

#28241 [ace] use supports expressions
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#28480 [ableton] no werror et al
  ports/ableton/no-werror.patch
  ports/ableton/portfile.cmake
  ports/ableton/vcpkg.json
  versions/a-/ableton.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed
