Repository microsoft/vcpkg, pull requests merged in 2022-02, with the labels that each got.

#20527 [vcpkg-scripts] Use pkgconf in vcpkg pkgconfig get modules
  ports/vcpkg-pkgconfig-get-modules/portfile.cmake
  ports/vcpkg-pkgconfig-get-modules/vcpkg.json
  ports/vcpkg-pkgconfig-get-modules/x_vcpkg_pkgconfig_get_modules.cmake
  versions/baseline.json
  versions/v-/vcpkg-pkgconfig-get-modules.json
Labels: info:reviewed, category:tool-update

#20059 [vcpkg] Remove start-of-string regex check for overlay triplet name matching.…
  scripts/toolchains/android.cmake
Labels: category:vcpkg-bug, info:reviewed, category:community-triplet

#22854 [pixman] fix build on M1 macs
  ports/pixman/no-host-cpu-checks.patch
  ports/pixman/portfile.cmake
  ports/pixman/vcpkg.json
  versions/baseline.json
  versions/p-/pixman.json
Labels: category:community-triplet

#22795 [sqlite3] update to <3.37.1>
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: info:internal, category:port-update

#22791 [ms-gsl] Bump GSL to 4.0.0
  ports/coroutine/gsl-4_0_0.patch
  ports/coroutine/portfile.cmake
  ports/coroutine/vcpkg.json
  ports/ms-gsl/portfile.cmake
  ports/ms-gsl/vcpkg.json
  ports/seal/gsl.patch
  ports/seal/portfile.cmake
  ports/seal/vcpkg.json
  versions/baseline.json
  versions/c-/coroutine.json
  versions/m-/ms-gsl.json
  versions/s-/seal.json
Labels: category:port-update, requires:author-response

#22719 [armadillo] no absolute paths
  ports/armadillo/portfile.cmake
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: category:port-feature, requires:author-response

#22713 [qtbase] add namespace support
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-feature

#22629 Update vcpkg-tool to 2022-01-19
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure, category:tool-update

#22907 libraqm update to 0.9.0
  ports/libraqm/portfile.cmake
  ports/libraqm/vcpkg.json
  versions/baseline.json
  versions/l-/libraqm.json
Labels: category:port-update

#22894 [opendnp3] Disable FetchContent in favor of predownloading
  ports/opendnp3/deps/asio.cmake
  ports/opendnp3/portfile.cmake
  ports/opendnp3/vcpkg.json
  versions/baseline.json
  versions/o-/opendnp3.json
Labels: category:port-bug, info:internal

#22880 Ace Build Windows - Missing files in include package
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-bug

#22863 [vcpkg-cmake-config] add missing TOOLS_PATH
  docs/maintainers/ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.md
  ports/vcpkg-cmake-config/vcpkg.json
  ports/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake-config.json
Labels: category:tool-update

#21489 [vcpkg_fail_port_install] Deprecate function
  docs/maintainers/portfile-functions.md
  docs/maintainers/vcpkg_fail_port_install.md
  scripts/cmake/vcpkg_fail_port_install.cmake
  scripts/templates/portfile.in.cmake
Labels: category:vcpkg-feature, info:internal, info:reviewed

#22396 [docs] Add Authoring-script-ports.md
  docs/README.md
  docs/maintainers/authoring-script-ports.md
  docs/users/host-dependencies.md
Labels: category:documentation, info:internal, info:reviewed

#22904 [c89stringutils] New port
  ports/c89stringutils/portfile.cmake
  ports/c89stringutils/vcpkg.json
  versions/baseline.json
  versions/c-/c89stringutils.json
Labels: category:new-port

#22695 [docs] document VCPKG_INSTALLED_DIR variable
  docs/users/manifests.md
Labels: category:documentation, info:internal

#22906 update polyhook2
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  versions/baseline.json
  versions/p-/polyhook2.json
Labels: category:port-update

#22902 [python3][python2] Use MKDIR_P to create directories to avoid race conditions
  ports/python2/portfile.cmake
  ports/python2/vcpkg.json
  ports/python3/0008-fix-parallel-install.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python2.json
  versions/p-/python3.json
Labels: category:port-bug, info:internal

#22929 [popsift] Fix missing Thrust include, already merged upstream.
  ports/popsift/fix_missing_thrust_include.patch
  ports/popsift/portfile.cmake
  ports/popsift/vcpkg.json
  versions/baseline.json
  versions/p-/popsift.json
Labels: category:port-bug, info:internal, category:infrastructure

#22905 [rhasheq] New port
  ports/rhasheq/portfile.cmake
  ports/rhasheq/vcpkg.json
  versions/baseline.json
  versions/r-/rhasheq.json
Labels: category:new-port, requires:author-response

#22844 [opencv4] Disable building cpufeatures since it conflict with libwebp
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: info:internal, category:community-triplet, requires:vcpkg-team-review

#22986 [sail] Update to 0.9.0-pre20
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#22973 [lua] update to 5.4.4
  ports/lua/portfile.cmake
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: info:internal, category:port-update, info:reviewed

#22965 [taskflow] new version 3.3.0
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: category:port-update, info:reviewed

#22956 [elfutils] Update to 0.186
  ports/elfutils/portfile.cmake
  ports/elfutils/vcpkg.json
  versions/baseline.json
  versions/e-/elfutils.json
Labels: category:port-update, info:reviewed

#22955 [ftxui] update to 2.0.0
  ports/ftxui/portfile.cmake
  ports/ftxui/vcpkg.json
  versions/baseline.json
  versions/f-/ftxui.json
Labels: category:port-update, info:reviewed

#22833 [s2n] Update s2n's version to1.3.5
  ports/s2n/portfile.cmake
  ports/s2n/remove-trycompile.patch
  ports/s2n/vcpkg.json
  versions/baseline.json
  versions/s-/s2n.json
Labels: category:port-update, info:reviewed

#22960 [sleepy-discord] Auto Complete Slash commands update
  ports/sleepy-discord/portfile.cmake
  ports/sleepy-discord/vcpkg.json
  versions/baseline.json
  versions/s-/sleepy-discord.json
Labels: category:port-update, info:reviewed

#22970 [sdformat6] Disable test
  ports/sdformat6/disable-test.patch
  ports/sdformat6/fix-dependency-urdfdom.patch
  ports/sdformat6/portfile.cmake
  ports/sdformat6/vcpkg.json
  versions/baseline.json
  versions/s-/sdformat6.json
Labels: category:port-bug, info:internal, info:reviewed

#22864 [Ace] Support -fPIC compiler flag on Linux
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#22529 [python3] Fix pkgconfig for debug Linux builds
  ports/python3/0009-python-embed.pc.patch
  ports/python3/0009-python.pc.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#22963 [kf5archive] Fix feature control and license info
  ports/kf5archive/control-dependencies.patch
  ports/kf5archive/portfile.cmake
  ports/kf5archive/use_cmake_to_find_zstd.patch
  ports/kf5archive/vcpkg.json
  versions/baseline.json
  versions/k-/kf5archive.json
Labels: category:port-feature, category:port-bug, info:reviewed

#22959 [libidn2] Update to 2.3.1
  ports/libidn2/CMakeLists.txt
  ports/libidn2/config.h
  ports/libidn2/portfile.cmake
  ports/libidn2/vcpkg.json
  versions/baseline.json
  versions/l-/libidn2.json
Labels: category:port-update, info:reviewed

#22701 [openssl] Revise vcpkg cmake wrapper
  ports/openssl/vcpkg-cmake-wrapper.cmake.in
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed, requires:author-response

#22308 [cgal] Update to 5.4
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-update, info:reviewed

#22991 [dlib] update to 19.23
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: info:internal, category:port-update, info:reviewed

#22984 [ffmpeg] Block "tensorflow" and others for the "all" feature on non-x64.
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:internal

#22975 [muparser] Fix usage
  ports/muparser/portfile.cmake
  ports/muparser/vcpkg.json
  versions/baseline.json
  versions/m-/muparser.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#21538 [eastl] Fix error C2338
  ports/eastl/Fix-error-C2338.patch
  ports/eastl/portfile.cmake
  ports/eastl/vcpkg.json
  versions/baseline.json
  versions/e-/eastl.json
Labels: category:port-bug, info:internal, info:reviewed

#22895 [jasper]: Move opengl & freeglut dependencies under default-features in order to enable flexibility to not require any of those when importing jasper package (via default-features=false).
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
Labels: category:port-feature, info:reviewed

#22944 [gobject-introspection] Fix x86-windows build
  ports/gobject-introspection/portfile.cmake
  ports/gobject-introspection/vcpkg.json
  versions/baseline.json
  versions/g-/gobject-introspection.json
Labels: category:port-feature, info:reviewed

#22943 [Audiofile] Update to 1.1.0
  ports/audiofile/fix-cmakeLists.patch
  ports/audiofile/portfile.cmake
  ports/audiofile/vcpkg.json
  versions/a-/audiofile.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#22983 [ceres] Don't force C++14 on downstream customers.
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  versions/baseline.json
  versions/c-/ceres.json
Labels: category:port-bug, info:internal

#22331 [vcpkg_configure_make] Set the --host parameter in case of Linux
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review, requires:discussion

#23007 [cocoyaxi] Fix SHA.
  ports/cocoyaxi/portfile.cmake
  ports/cocoyaxi/vcpkg.json
  versions/baseline.json
  versions/c-/cocoyaxi.json
Labels: category:port-bug, info:internal

#22967 [Folly, fizz, wangle, proxygen, fbthrift, mvfst] Update to latest version
  ports/fbthrift/fix-sodium-target.patch
  ports/fbthrift/fix-zlib.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/0001-fix-libsodium.patch
  ports/fizz/fix-zlib.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/fix-duplicated-target.patch
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/rsocket/fix-folly.patch
  ports/rsocket/portfile.cmake
  ports/rsocket/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/r-/rsocket.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#22942 [macos ci] 2022-02-04 update
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/configuration/Vagrantfile-vm.rb
  scripts/azure-pipelines/osx/configuration/vagrant-box-configuration.json
  scripts/ci.baseline.txt
Labels: info:internal, requires:vcpkg-team-review

#22995 [pcl] Re-fix feature visualization, fix use qhull
  ports/pcl/fix-find-qhull.patch
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:internal, info:reviewed

#22946 [gh suggestions] change license link, make it details
  .github/workflows/untrustedPR.yml
Labels: category:vcpkg-feature, info:internal, info:reviewed

#23040 [easyhook] Update target .NET Framework version to 4.7.2.
  ports/easyhook/portfile.cmake
  ports/easyhook/vcpkg.json
  versions/baseline.json
  versions/e-/easyhook.json
Labels: category:port-feature, category:port-bug, info:internal

#22295 [Spirv reflect] Add new port
  ports/spirv-reflect/CMakeLists.txt
  ports/spirv-reflect/portfile.cmake
  ports/spirv-reflect/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-reflect.json
Labels: category:new-port

#23044 [polyhook2] Update to latest
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  versions/baseline.json
  versions/p-/polyhook2.json
Labels: category:port-update, info:reviewed

#22705 [faiss] Update to 1.7.2
  ports/faiss/portfile.cmake
  ports/faiss/vcpkg.json
  versions/baseline.json
  versions/f-/faiss.json
Labels: category:port-update, info:reviewed

#23024 [gtkmm] update to 4.6.0
  ports/gtkmm/portfile.cmake
  ports/gtkmm/vcpkg.json
  versions/baseline.json
  versions/g-/gtkmm.json
Labels: info:internal, category:port-update, info:reviewed

#23062 Minor bugfixes to MacOS deployment readme.
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/configuration/Vagrantfile-vm.rb
Labels: info:internal, category:infrastructure

#23059 Update vcpkg-tool to 2022-02-11
  scripts/azure-pipelines/azure-pipelines-osx.yml
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#23080 [Azure SDK] Update vcpkg ports for Feb Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23066 [log4cplus] Remove unneeded catch dependency
  ports/log4cplus/vcpkg.json
  versions/baseline.json
  versions/l-/log4cplus.json
Labels: category:port-bug, info:internal, info:reviewed

#23081 [doctest] Update to 2.4.8
  ports/doctest/portfile.cmake
  ports/doctest/vcpkg.json
  versions/baseline.json
  versions/d-/doctest.json
Labels: category:port-update, info:reviewed

#23079 [vcpkg doc] Add doc for `supports` expression `staticcrt`
  docs/maintainers/manifest-files.md
Labels: category:documentation, info:internal, info:reviewed

#23037 [librabbitmq] Update to 0.11.0
  ports/librabbitmq/portfile.cmake
  ports/librabbitmq/vcpkg.json
  versions/baseline.json
  versions/l-/librabbitmq.json
Labels: category:port-update, info:reviewed

#22657 [nu-book-zxing-cpp] New port
  ports/nu-book-zxing-cpp/ignore-pdb-install-symbols-in-lib.patch
  ports/nu-book-zxing-cpp/portfile.cmake
  ports/nu-book-zxing-cpp/vcpkg.json
  ports/zxing-cpp/0001-opencv4-compat.patch
  ports/zxing-cpp/0002-improve-features.patch
  ports/zxing-cpp/0003-fix-dependency-bigint.patch
  ports/zxing-cpp/portfile.cmake
  ports/zxing-cpp/vcpkg.json
  versions/baseline.json
  versions/n-/nu-book-zxing-cpp.json
Labels: category:new-port, info:reviewed

#22988 [imgui] Update to 1.87 [implot] Update to 0.13
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  ports/implot/CMakeLists.txt
  ports/implot/portfile.cmake
  ports/implot/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
  versions/i-/implot.json
Labels: category:port-update, info:reviewed

#23056 [google-cloud-cpp] add new features
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#22060 [hwloc] update to 2.7.0
  ports/hpx/fix-dependency-hwloc.patch
  ports/hpx/portfile.cmake
  ports/hpx/vcpkg.json
  ports/hwloc/fix_shared_win_build.patch
  ports/hwloc/portfile.cmake
  ports/hwloc/vcpkg.json
  versions/baseline.json
  versions/h-/hpx.json
  versions/h-/hwloc.json
Labels: info:internal, category:port-update, info:reviewed

#22822 [zstd] No debug postfix. No renaming of CMake config files.
  ports/blosc/0001-find-deps.patch
  ports/blosc/vcpkg.json
  ports/boost-iostreams/b2-options.cmake
  ports/boost-iostreams/vcpkg.json
  ports/elfutils/configure.ac.patch
  ports/elfutils/vcpkg.json
  ports/libwandio/configure.lib.patch
  ports/libwandio/vcpkg.json
  ports/qt5-base/patches/zstdd.patch
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/zstd/no-static-suffix.patch
  ports/zstd/portfile.cmake
  ports/zstd/usage
  ports/zstd/vcpkg.json
  versions/b-/blosc.json
  versions/b-/boost-iostreams.json
  versions/baseline.json
  versions/e-/elfutils.json
  versions/l-/libwandio.json
  versions/q-/qt5-base.json
  versions/z-/zstd.json
Labels: category:port-bug, info:reviewed

#20556 [libnice] Update to 0.1.18
  ports/libnice/CMakeLists.txt
  ports/libnice/portfile.cmake
  ports/libnice/vcpkg.json
  versions/baseline.json
  versions/l-/libnice.json
Labels: category:port-update, info:reviewed

#22798 [vcpkg_configure_make] Fix handling of link flags
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update

#22974 [vcpkg_acquire_msys] Update version and hash
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: info:internal, info:reviewed, category:tool-update

#23108 [pybind11] Update to 2.9.1
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#22945 [boinc] Add custom patch (copied from mainstream unreleased code) to support OpenSSL3
  ports/boinc/001-add-openssl3-support.patch
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#23084 [vcpkg_find_acquire_program] Update tool flex/bison to 2.5.25, change repo to github
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: info:internal, info:reviewed, category:tool-update

#23067 [flatbuffers] Add cross-compilation support for flatc
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-feature, info:internal, info:reviewed

#23048 [leveldb] Fix find and use depencencies
  ports/brpc/vcpkg.json
  ports/leveldb/fix-dependencies.patch
  ports/leveldb/leveldbConfig.cmake.in
  ports/leveldb/portfile.cmake
  ports/leveldb/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
  versions/l-/leveldb.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#23064 [seal] Support dynamic triplets
  ports/seal/portfile.cmake
  ports/seal/shared-zstd.patch
  ports/seal/vcpkg.json
  versions/baseline.json
  versions/s-/seal.json
Labels: category:port-feature, info:internal, info:reviewed

#23088 [taglib] fix linkage for consumers.
  ports/taglib/portfile.cmake
  ports/taglib/vcpkg.json
  versions/baseline.json
  versions/t-/taglib.json
Labels: category:port-bug, info:reviewed

#20549 [vcpkg.cmake] remove timestamp file
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature

#23102 [tinyexif] update to master
  ports/tinyexif/portfile.cmake
  ports/tinyexif/vcpkg.json
  versions/baseline.json
  versions/t-/tinyexif.json
Labels: info:internal, category:port-update, info:reviewed

#22859 [mpfr] Skip doc and examples
  ports/mpfr/portfile.cmake
  ports/mpfr/src-only.patch
  ports/mpfr/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mpfr.json
Labels: category:port-feature, info:reviewed

#23009 [sqlite3] Add more features
  docs/maintainers/ports/vcpkg-pkgconfig-get-modules/x_vcpkg_pkgconfig_get_modules.md
  ports/libspatialite/portfile.cmake
  ports/libspatialite/vcpkg.json
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/portfile.cmake
  ports/sqlite3/sqlite3.pc.in
  ports/sqlite3/vcpkg.json
  ports/vcpkg-pkgconfig-get-modules/vcpkg.json
  ports/vcpkg-pkgconfig-get-modules/x_vcpkg_pkgconfig_get_modules.cmake
  versions/baseline.json
  versions/l-/libspatialite.json
  versions/s-/sqlite3.json
  versions/v-/vcpkg-pkgconfig-get-modules.json
Labels: category:port-feature, info:internal, info:reviewed, category:tool-update

#23063 [fribidi] Fix cross-compilation in meson. Re-enable arm64-windows.
  ports/fribidi/meson-crosscompile.patch
  ports/fribidi/portfile.cmake
  ports/fribidi/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/fribidi.json
Labels: category:port-bug, info:internal, info:reviewed

#20720 [libsrtp] Add Exported CMake Targets for LibSRTP
  ports/libsrtp/portfile.cmake
  ports/libsrtp/vcpkg.json
  versions/baseline.json
  versions/l-/libsrtp.json
Labels: category:port-feature, info:reviewed

#23144 Recombine osx and normal ci.
  scripts/azure-pipelines/azure-pipelines-osx.yml
  scripts/azure-pipelines/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#23124 [fbthrift, fizz, folly, mvfst] Fix dependency resolution.
  ports/fbthrift/add-missing-algorithm-include.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/0002-fix-libevent.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
Labels: category:port-bug, info:internal

#23132 [opencv] Add Patch to Skip ZLIB Hacks
  ports/opencv3/0012-fix-zlib.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0012-fix-zlib.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:community-triplet

#23134 Change minimum CMake version to 3.7.2.
  docs/maintainers/cmake-guidelines.md
  ports/faad2/CMakeLists.txt
  ports/faad2/vcpkg.json
  scripts/buildsystems/vcpkg.cmake
  versions/baseline.json
  versions/f-/faad2.json
Labels: category:documentation, info:internal, category:infrastructure

#22720 [poppler,gdal] Major update to poppler; poppler feature for gdal
  ports/gdal/0009-poppler-cxx17.patch
  ports/gdal/dependency_win.cmake
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  ports/poppler/0002-remove-test-subdirectory.patch
  ports/poppler/0003-fix-gperf-not-recognized.patch
  ports/poppler/0004-disable-clang-format.patch
  ports/poppler/cmake-project-include.cmake
  ports/poppler/export-unofficial-poppler.patch
  ports/poppler/portfile.cmake
  ports/poppler/unofficial-poppler-config.cmake
  ports/poppler/usage
  ports/poppler/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdal.json
  versions/p-/poppler.json
Labels: category:port-update, info:reviewed

#23018 [vcpkg docs] Remove deprecated functions from docs
  docs/examples/packaging-github-repos.md
  docs/examples/patching.md
  docs/maintainers/maintainer-guide.md
  docs/maintainers/vcpkg_check_features.md
  docs/maintainers/vcpkg_find_fortran.md
  scripts/cmake/vcpkg_check_features.cmake
  scripts/cmake/vcpkg_find_fortran.cmake
Labels: category:documentation, info:reviewed

#23022 [cairo] fix accidental dependency on system libbfd
  ports/cairo/meson-fix-bfd.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug, info:reviewed

#23034 [ports] add support expressions
  ports/apsi/vcpkg.json
  ports/bde/vcpkg.json
  ports/brpc/vcpkg.json
  ports/ctemplate/vcpkg.json
  ports/dcmtk/vcpkg.json
  ports/embree2/vcpkg.json
  ports/tesseract/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/apsi.json
  versions/b-/bde.json
  versions/b-/brpc.json
  versions/baseline.json
  versions/c-/ctemplate.json
  versions/d-/dcmtk.json
  versions/e-/embree2.json
  versions/t-/tesseract.json
Labels: category:port-feature, info:reviewed

#23020 [New Port] Add Xqilla port
  ports/xqilla/CMakeLists.txt
  ports/xqilla/fix-compare.patch
  ports/xqilla/portfile.cmake
  ports/xqilla/vcpkg.json
  versions/baseline.json
  versions/x-/xqilla.json
Labels: category:new-port, info:reviewed

#23031 [ao] Add new port libao
  ports/libao/0001-windows-build-patch.patch
  ports/libao/portfile.cmake
  ports/libao/vcpkg.json
  versions/baseline.json
  versions/l-/libao.json
Labels: category:new-port, info:reviewed

#23032 [arrow] Update to 7.0.0
  ports/arrow/all.patch
  ports/arrow/fix-dependencies.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23120 [libhv] update to 1.2.4
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:port-update, info:reviewed

#23126 [leveldb] Fix target "Threads::Threads" was not found
  ports/leveldb/leveldbConfig.cmake.in
  ports/leveldb/vcpkg.json
  versions/baseline.json
  versions/l-/leveldb.json
Labels: category:port-bug, info:internal, info:reviewed

#23128 [open62541] update to 1.2.3 & add historizing feature
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-feature, category:port-update, info:reviewed

#23145 [double-conversion] update to v3.2.0
  ports/double-conversion/portfile.cmake
  ports/double-conversion/vcpkg.json
  versions/baseline.json
  versions/d-/double-conversion.json
Labels: info:internal, category:port-update, info:reviewed

#23150 [libtins] Fix bug in portfile.cmake
  ports/libtins/portfile.cmake
  ports/libtins/vcpkg.json
  versions/baseline.json
  versions/l-/libtins.json
Labels: category:port-bug, info:reviewed

#23157 [yajl] Update REF and SHA512
  ports/yajl/portfile.cmake
  ports/yajl/vcpkg.json
  versions/baseline.json
  versions/y-/yajl.json
Labels: category:port-bug, info:internal, info:reviewed

#23161 [rsm-bsa] Update to 4.0.2
  ports/rsm-bsa/portfile.cmake
  ports/rsm-bsa/vcpkg.json
  versions/baseline.json
  versions/r-/rsm-bsa.json
Labels: category:port-feature, info:reviewed

#23219 [gainput] Support Linux
  ports/gainput/fix-build.patch
  ports/gainput/portfile.cmake
  ports/gainput/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gainput.json
Labels: category:port-feature, info:internal, info:reviewed

#23224 [json-dto] Update to 0.3.1
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update, info:reviewed

#23211 [tgui] fix absolute paths
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-bug, info:reviewed

#23203 [polyhook2] Update to latest (2022-02-21)
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  versions/baseline.json
  versions/p-/polyhook2.json
Labels: category:port-update, info:reviewed

#23192 [lazy-importer] Update to 2022-02-09
  ports/lazy-importer/portfile.cmake
  ports/lazy-importer/vcpkg.json
  versions/baseline.json
  versions/l-/lazy-importer.json
Labels: category:port-update, info:reviewed

#23191 [openxr-loader] Fix build failure in world rebuild CI.
  ports/openxr-loader/fix-jinja2.patch
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-bug, info:reviewed

#23189 [charls] Update to 2.3.4
  ports/charls/portfile.cmake
  ports/charls/vcpkg.json
  versions/baseline.json
  versions/c-/charls.json
Labels: category:port-update, info:reviewed

#23188 [arrow] add plasma support for non Windows platforms
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#23182 [trantor] Update to 1.5.5
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#23181 [vcpkg doc] Fixes typo in vcpkg_download_distfile.cmake
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: category:vcpkg-feature, info:reviewed

#23180 [leveldb] Fix homepage
  ports/leveldb/vcpkg.json
  versions/baseline.json
  versions/l-/leveldb.json
Labels: category:port-bug, info:reviewed

#23158 [ITK] update to v5.2.1
  ports/itk/cufftw.patch
  ports/itk/hdf5.patch
  ports/itk/portfile.cmake
  ports/itk/python_gpu_wrapping.patch
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
Labels: info:internal, category:port-update, info:reviewed

#23151 [ngspice] Fix error C2065
  ports/ngspice/Fix-C2065.patch
  ports/ngspice/portfile.cmake
  ports/ngspice/vcpkg.json
  versions/baseline.json
  versions/n-/ngspice.json
Labels: category:port-bug, info:internal, info:reviewed

#23148 [graphviz] Fix tools
  ports/graphviz/portfile.cmake
  ports/graphviz/vcpkg.json
  versions/baseline.json
  versions/g-/graphviz.json
Labels: category:port-bug, info:reviewed

#23129 [qhull] Fix copyright, pc files, cmake usage
  ports/qhull/portfile.cmake
  ports/qhull/usage
  ports/qhull/vcpkg.json
  versions/baseline.json
  versions/q-/qhull.json
Labels: category:port-bug, info:reviewed

#23125 [gstreamer] Support arm-windows and add features
  ports/gstreamer/gstreamer-disable-hot-doc.patch
  ports/gstreamer/gstreamer-disable-no-unused.patch
  ports/gstreamer/plugin-base-disable-no-unused.patch
  ports/gstreamer/plugins-ugly-disable-doc.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:internal, info:reviewed

#23114 [cereal] Update to 1.3.1
  ports/cereal/portfile.cmake
  ports/cereal/vcpkg.json
  ports/openmvg/build_fixes.patch
  ports/openmvg/vcpkg.json
  versions/baseline.json
  versions/c-/cereal.json
  versions/o-/openmvg.json
Labels: category:port-update, info:reviewed

#23045 [vcpkg docs] Update ko_KR translation
  README_ko_KR.md
Labels: category:documentation, info:reviewed

#23111 [New port] Add Triton port
  ports/triton/fix-dependencies.patch
  ports/triton/fix-python.patch
  ports/triton/fix-usage.patch
  ports/triton/portfile.cmake
  ports/triton/vcpkg.json
  versions/baseline.json
  versions/t-/triton.json
Labels: category:new-port, info:reviewed

#23122 [capstone] Use static runtime if capstone wants to be statically linked
  ports/capstone/portfile.cmake
  ports/capstone/vcpkg.json
  versions/baseline.json
  versions/c-/capstone.json
Labels: category:port-feature, info:reviewed

#22917 [libcurl-simple-https] New port
  ports/libcurl-simple-https/portfile.cmake
  ports/libcurl-simple-https/vcpkg.json
  versions/baseline.json
  versions/l-/libcurl-simple-https.json
Labels: category:new-port, info:reviewed

#22801 [OpenCV] upgrade to v4.5.5
  ports/cuda/vcpkg.json
  ports/ffmpeg/vcpkg.json
  ports/ffnvcodec/vcpkg.json
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  ports/harfbuzz/harfbuzzConfig.cmake.in
  ports/harfbuzz/vcpkg.json
  ports/leptonica/Modify-include-dir.patch
  ports/leptonica/fix-cmakelists.patch
  ports/leptonica/fix-find-libwebp.patch
  ports/leptonica/fix-src-cmakelists.patch
  ports/leptonica/portfile.cmake
  ports/leptonica/vcpkg.json
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  ports/opencv/vcpkg.json
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0013-fix-opengl.patch
  ports/opencv4/0014-fix-gstreamer.patch
  ports/opencv4/0015-fix-freetype.patch
  ports/opencv4/0016-fix-freetype-contrib.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  ports/vcpkg-tool-meson/portfile.cmake
  ports/vcpkg-tool-meson/vcpkg.json
  scripts/detect_compiler/CONTROL
  scripts/detect_compiler/vcpkg.json
  scripts/test_ports/llfio-run-tests/CONTROL
  scripts/test_ports/llfio-run-tests/vcpkg.json
  scripts/test_ports/outcome-run-tests/CONTROL
  scripts/test_ports/outcome-run-tests/vcpkg.json
  scripts/test_ports/vcpkg-acquire-msys-test/CONTROL
  scripts/test_ports/vcpkg-acquire-msys-test/vcpkg.json
  scripts/test_ports/vcpkg-ci-ffmpeg/CONTROL
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  scripts/test_ports/vcpkg-ci-opencv/vcpkg.json
  scripts/test_ports/vcpkg-ci-paraview/CONTROL
  scripts/test_ports/vcpkg-ci-paraview/vcpkg.json
  scripts/test_ports/vcpkg-find-acquire-program/CONTROL
  scripts/test_ports/vcpkg-find-acquire-program/vcpkg.json
  versions/baseline.json
  versions/c-/cuda.json
  versions/f-/ffmpeg.json
  versions/f-/ffnvcodec.json
  versions/g-/gstreamer.json
  versions/h-/harfbuzz.json
  versions/l-/leptonica.json
  versions/o-/ogre.json
  versions/o-/opencv.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
  versions/v-/vcpkg-tool-meson.json
Labels: category:port-update

#23235 [vcpkg baseline][libao] Disable dlfcn check under windows
  ports/libao/portfile.cmake
  ports/libao/vcpkg.json
  versions/baseline.json
  versions/l-/libao.json
Labels: category:port-bug, info:internal

#22618 [vcpkg docs][ES] Sync with English readme (#19834)
  README_es.md
Labels: category:documentation

#23163 [tinyexif] Remove from fail list.
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#23227 [drogon] Update to 1.7.5
  ports/drogon/fs.patch
  ports/drogon/mac-system-uuid.patch
  ports/drogon/portfile.cmake
  ports/drogon/use-libmariadb.patch
  ports/drogon/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-update, info:reviewed

#23221 [libgpiod] Add new port.
  ports/libgpiod/portfile.cmake
  ports/libgpiod/vcpkg.json
  versions/baseline.json
  versions/l-/libgpiod.json
Labels: category:new-port, info:reviewed

#23061 [Tracy] Fixing issue where version 0.7.8 was pulling the wrong version
  ports/tracy/add-install.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-bug, info:reviewed

#23241 [libfido2] Update to 1.10.0
  ports/libfido2/fix_cmakelists.patch
  ports/libfido2/portfile.cmake
  ports/libfido2/vcpkg.json
  versions/baseline.json
  versions/l-/libfido2.json
Labels: category:port-update, info:reviewed

#23222 [skia] Arm64 for skia on osx
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: info:reviewed, category:community-triplet

#23228 [lapack-reference] Update to 3.10
  ports/lapack-reference/portfile.cmake
  ports/lapack-reference/vcpkg.json
  ports/lapack/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/lapack-reference.json
  versions/l-/lapack.json
Labels: category:port-update, info:reviewed

#23218 [yasm/yasm-tool] Incorporate yasm-tool into yasm
  ports/gmp/vcpkg.json
  ports/yasm-tool-helper/vcpkg.json
  ports/yasm-tool-helper/yasm-tool-helper.cmake.in
  ports/yasm-tool/portfile.cmake
  ports/yasm-tool/vcpkg.json
  ports/yasm/portfile.cmake
  ports/yasm/vcpkg-port-config.cmake.in
  ports/yasm/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
  versions/y-/yasm-tool-helper.json
  versions/y-/yasm-tool.json
  versions/y-/yasm.json
Labels: category:port-feature, info:internal, info:reviewed

#23010 [pkgconf] enable search for system libs on linux
  ports/pkgconf/portfile.cmake
  ports/pkgconf/vcpkg.json
  versions/baseline.json
  versions/p-/pkgconf.json
Labels: category:port-feature, requires:vcpkg-team-review

#21772 [vcpkg] Meson osx sysroot
  scripts/cmake/vcpkg_configure_meson.cmake
  scripts/get_cmake_vars/CMakeLists.txt
Labels: info:reviewed, category:tool-update

#23226 Update authentication.md
  docs/users/authentication.md
Labels: category:documentation, requires:vcpkg-team-review

#23255 [vcpkg] Add fixed changelog generator.
  scripts/Get-Changelog.ps1
Labels: info:internal, category:infrastructure

#23179 Fixed inaccurate Chinese words
  CONTRIBUTING_zh.md
  README_zh_CN.md
Labels: category:documentation, info:reviewed

#23272 [vcpkg baseline] Move cspice headers
  ports/cspice/CMakeLists.txt
  ports/cspice/vcpkg.json
  versions/baseline.json
  versions/c-/cspice.json
Labels: category:port-bug

#23162 Update vcpkg tool to 2022-02-24.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#22985 [vcpkg-tools] update cmake and git (windows only)
  ports/qtinterfaceframework/portfile.cmake
  ports/qtinterfaceframework/vcpkg.json
  scripts/test_ports/cmake/portfile.cmake
  scripts/test_ports/cmake/vcpkg.json
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/q-/qtinterfaceframework.json
Labels: category:tool-update

#22856 [liblzma] No debug postfix. Rewrite wrapper.
  ports/avro-c/avro.patch
  ports/avro-c/vcpkg.json
  ports/boost-iostreams/b2-options.cmake
  ports/boost-iostreams/vcpkg.json
  ports/elfutils/configure.ac.patch
  ports/elfutils/vcpkg.json
  ports/ffmpeg/0004-fix-debug-build.patch
  ports/ffmpeg/vcpkg.json
  ports/gdal/vcpkg-cmake-wrapper.cmake
  ports/gdal/vcpkg.json
  ports/libarchive/fix-dependencies.patch
  ports/libarchive/pkgconfig-modules.patch
  ports/libarchive/vcpkg.json
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg-cmake-wrapper.cmake
  ports/liblzma/vcpkg.json
  ports/liblzma/win_output_name.patch
  ports/libwandio/configure.lib.patch
  ports/libwandio/vcpkg.json
  ports/libxml2/vcpkg-cmake-wrapper.cmake
  ports/libxml2/vcpkg.json
  ports/libxslt/0001-Fix-makefile.patch
  ports/libxslt/vcpkg.json
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  ports/qt5-imageformats/portfile.cmake
  ports/qt5-imageformats/vcpkg.json
  ports/tiff/vcpkg-cmake-wrapper.cmake.in
  ports/tiff/vcpkg.json
  ports/vtk/FindLZMA.patch
  ports/vtk/vcpkg.json
  versions/a-/avro-c.json
  versions/b-/boost-iostreams.json
  versions/baseline.json
  versions/e-/elfutils.json
  versions/f-/ffmpeg.json
  versions/g-/gdal.json
  versions/l-/libarchive.json
  versions/l-/liblzma.json
  versions/l-/libwandio.json
  versions/l-/libxml2.json
  versions/l-/libxslt.json
  versions/p-/python3.json
  versions/q-/qt5-imageformats.json
  versions/t-/tiff.json
  versions/v-/vtk.json
Labels: category:port-bug, info:reviewed

#23315 [cmake-user] Re-enable tests with minimum cmake version 3.7.2
  scripts/ci.baseline.txt
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/test_ports/cmake-user/vcpkg.json
Labels: category:vcpkg-feature, info:reviewed

#23292 [Lua] Fix feature cpp
  ports/lua/portfile.cmake
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: category:port-bug, info:reviewed

#23279 [approval-tests-cpp] Update to 10.12.2
  ports/approval-tests-cpp/portfile.cmake
  ports/approval-tests-cpp/vcpkg.json
  versions/a-/approval-tests-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23277 [asio-grpc] Update to 1.4.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#23276 [libressl] update to 3.4.2
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: category:port-update, info:reviewed

#23273 [PCL] Fix namespace and VS2022 error C3052
  ports/pcl/fix-error-C3052.patch
  ports/pcl/fix-namespace-cub.patch
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:internal, info:reviewed

#23269 [shaderc] Fix CMake export target files
  ports/shaderc/fix-export-cmakefiles.patch
  ports/shaderc/portfile.cmake
  ports/shaderc/vcpkg.json
  versions/baseline.json
  versions/s-/shaderc.json
Labels: category:port-feature, info:internal, info:reviewed

#23268 [tomlplusplus] Update to 3.0.1
  ports/tomlplusplus/portfile.cmake
  ports/tomlplusplus/vcpkg.json
  versions/baseline.json
  versions/t-/tomlplusplus.json
Labels: category:port-update, info:reviewed

#23263 [elfio] Update elfio to 3.10
  ports/elfio/portfile.cmake
  ports/elfio/vcpkg.json
  versions/baseline.json
  versions/e-/elfio.json
Labels: category:port-update, info:reviewed
