Repository microsoft/vcpkg, pull requests merged in 2022-09, with the labels that each got.

#26564 [vcpkg baseline][kf5globalaccel] Fix build on windows when x11 is around
  ports/kf5globalaccel/portfile.cmake
  ports/kf5globalaccel/vcpkg.json
  versions/baseline.json
  versions/k-/kf5globalaccel.json
Labels: category:port-bug, info:reviewed

#26614 [DPP] Update to 10.0.17
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#26615 [fast-float] Update to 3.5.1
  ports/fast-float/portfile.cmake
  ports/fast-float/vcpkg.json
  versions/baseline.json
  versions/f-/fast-float.json
Labels: category:port-update, info:reviewed

#26612 [scripts] Set VCPKG_TARGET_BUNDLE_SUFFIX to .app for iOS to allow for tools building more cleanly
  scripts/cmake/vcpkg_common_definitions.cmake
Labels: category:vcpkg-feature, info:reviewed

#26626 [vcpkg tool] Update vcpkg-tool to 2022-09-01
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#26640 GitHub Workflows security hardening
  .github/workflows/trustedPR.yml
Labels: category:infrastructure

#26623 [bdwgc] Update to v8.2.2
  ports/bdwgc/portfile.cmake
  ports/bdwgc/vcpkg.json
  versions/b-/bdwgc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26629 [libdatachannel] update version to 0.17.10
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#26631 [libjuice] update version to 1.0.4
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libjuice.json
Labels: category:port-update, info:reviewed

#26632 [octomap] update version to 1.9.6
  ports/octomap/portfile.cmake
  ports/octomap/vcpkg.json
  versions/baseline.json
  versions/o-/octomap.json
Labels: info:internal, category:port-update, info:reviewed

#26642 [azure-core-cpp] publish version 1.7.2
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26643 [dpdk] Update to v22.07
  ports/dpdk/portfile.cmake
  ports/dpdk/vcpkg.json
  versions/baseline.json
  versions/d-/dpdk.json
Labels: category:port-update, info:reviewed

#26650 [influxdb-cxx] Update to latest commit on 2022-08-20
  ports/influxdb-cxx/include-stringview.patch
  ports/influxdb-cxx/portfile.cmake
  ports/influxdb-cxx/vcpkg.json
  versions/baseline.json
  versions/i-/influxdb-cxx.json
Labels: info:internal, category:port-update, info:reviewed

#25855 [outcome] Update to version 2.2.3
  ports/llfio/fix-vendored-status-code-include.patch
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/outcome/fix-find-library.patch
  ports/outcome/fix-status-code-include.patch
  ports/outcome/outcome-prune-sources.patch
  ports/outcome/portfile.cmake
  ports/outcome/vcpkg.json
  ports/status-code/no-target-sources.patch
  ports/status-code/portfile.cmake
  ports/status-code/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
  versions/o-/outcome.json
  versions/s-/status-code.json
Labels: category:port-update, info:reviewed

#25874 [catch2] Update to 3.1.0
  ports/catch2/fix-install-path.patch
  ports/catch2/fix-uwp-build.patch
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#26641 [openexr] use vcpkg_copy_tools to fix iOS build issue
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  versions/baseline.json
  versions/o-/openexr.json
Labels: category:port-bug, info:reviewed

#26620 Update to wolfSSL v5.5.0, wolfMQTT v1.14.1, wolfTPM v2.6.0
  ports/wolfmqtt/portfile.cmake
  ports/wolfmqtt/vcpkg.json
  ports/wolfmqtt/wolfmqtt_pr305.diff
  ports/wolfssl/portfile.cmake
  ports/wolfssl/vcpkg.json
  ports/wolfssl/wolfssl_pr5401.diff
  ports/wolfssl/wolfssl_pr5529.diff
  ports/wolftpm/portfile.cmake
  ports/wolftpm/vcpkg.json
  ports/wolftpm/wolftpm_pr235.diff
  versions/baseline.json
  versions/w-/wolfmqtt.json
  versions/w-/wolfssl.json
  versions/w-/wolftpm.json
Labels: category:port-update, info:reviewed

#26562 [boost-modular-build-helper] Add BSD and FreeBSD target-os
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#26636 [opencv4] disable optional hdf5 dependency for iOS, where it doesn't build (yet)
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:reviewed

#26536 [mysql-connector-cpp] update to 8.0.30
  ports/mysql-connector-cpp/FindMySQL.cmake
  ports/mysql-connector-cpp/export-targets.patch
  ports/mysql-connector-cpp/fix-static-build.patch
  ports/mysql-connector-cpp/fix-static-build8.patch
  ports/mysql-connector-cpp/mysql-connector-cpp-config.cmake.in
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/usage
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:port-update, info:reviewed

#26420 [Tesseract] add support [arm-osx] and [arm-linux]
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-feature, info:internal, info:reviewed, category:community-triplet

#25865 [curl] Add Unicode support
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, requires:author-response

#18029 [shiftmedia-gnutls] new port (Windows fork of GnuTLS)
  ports/shiftmedia-libgnutls/external-libtasn1.patch
  ports/shiftmedia-libgnutls/pkgconfig.patch
  ports/shiftmedia-libgnutls/portfile.cmake
  ports/shiftmedia-libgnutls/vcpkg.json
  versions/baseline.json
  versions/s-/shiftmedia-libgnutls.json
Labels: category:port-feature

#26696 [Azure Storage] Update to Sept Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26687 [vcpkg baseline][dpp] Add DISABLE_PARALLEL_CONFIGURE
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-bug, info:internal, info:reviewed

#26689 [cpr] Update to 1.9.2
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
Labels: category:port-update, info:reviewed

#26647 [google-cloud-cpp] update to latest release (v2.2.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#26662 [libheif] Update to version 1.13.0
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-update, info:reviewed

#26656 [igraph] update to 0.9.10
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#26686 [mysql-connector-cpp] Add correct target namespace
  ports/mysql-connector-cpp/export-targets.patch
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:port-bug, info:internal, info:reviewed

#26652 [realsense2] Update version to v2.51.1
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-update, info:reviewed

#26639 [drogon] Update to 1.8.0
  ports/drogon/portfile.cmake
  ports/drogon/redis.patch
  ports/drogon/static-brotli.patch
  ports/drogon/use-libmariadb.patch
  ports/drogon/vcpkg.json
  ports/drogon/vcpkg.patch
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-update, info:reviewed

#26649 [proj] Upgrade to 9.1.0
  ports/proj/fix-proj4-targets-cmake.patch
  ports/proj/portfile.cmake
  ports/proj/remove-doc.patch
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-update, info:reviewed

#26648 [cubeb] Add new port
  ports/cubeb/portfile.cmake
  ports/cubeb/vcpkg.json
  versions/baseline.json
  versions/c-/cubeb.json
Labels: category:new-port, info:reviewed

#26684 [Xwindow] part 5/N
  ports/libice/fix_build.patch
  ports/libice/portfile.cmake
  ports/libice/vcpkg.json
  ports/libsm/portfile.cmake
  ports/libsm/vcpkg.json
  ports/libsm/windows.patch
  versions/baseline.json
  versions/l-/libice.json
  versions/l-/libsm.json
Labels: category:new-port, info:reviewed

#26707 [asio-grpc] Update to 2.1.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26705 [crowcpp] Update to 1.0-5
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-update, info:reviewed

#26701 [restinio] Update to 0.6.17
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
  versions/baseline.json
  versions/r-/restinio.json
Labels: category:port-update, info:reviewed

#26700 [atk] fix supports
  ports/atk/portfile.cmake
  ports/atk/vcpkg.json
  versions/a-/atk.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#26658 [vcpkg baseline][kf5globalaccel] Fix baseline
  ports/kf5globalaccel/make_x11_required.patch
  ports/kf5globalaccel/portfile.cmake
  ports/kf5globalaccel/vcpkg.json
  versions/baseline.json
  versions/k-/kf5globalaccel.json
Labels: category:port-bug, info:internal

#26721 [dlfcn-win32] update to v1.3.1
  ports/dlfcn-win32/portfile.cmake
  ports/dlfcn-win32/vcpkg.json
  versions/baseline.json
  versions/d-/dlfcn-win32.json
Labels: info:internal, category:port-update, info:reviewed

#26690 [ncurses] Add file(MAKE_DIRECTORY) to create the missing directories
  ports/ncurses/portfile.cmake
  ports/ncurses/vcpkg.json
  versions/baseline.json
  versions/n-/ncurses.json
Labels: category:port-bug, info:internal, info:reviewed

#25935 [Libxpm] ADD new port
  ports/libxpm/portfile.cmake
  ports/libxpm/remove_strings_h.patch
  ports/libxpm/vcpkg.json
  versions/baseline.json
  versions/l-/libxpm.json
Labels: category:new-port, info:reviewed

#25890 [Mesa] Update to 22.1.7
  ports/mesa/clang.patch
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  versions/baseline.json
  versions/m-/mesa.json
Labels: category:port-update, info:reviewed

#26318 Add VCPKG_TARGET_IS_EMSCRIPTEN, fix opus and libsodium ports for wasm32-emscripten
  docs/maintainers/vcpkg_common_definitions.md
  ports/libsodium/portfile.cmake
  ports/libsodium/vcpkg.json
  ports/opus/portfile.cmake
  ports/opus/vcpkg.json
  scripts/cmake/vcpkg_common_definitions.cmake
  versions/baseline.json
  versions/l-/libsodium.json
  versions/o-/opus.json
Labels: info:reviewed, category:tool-update

#26644 [z4kn4fein-semver] Add new port
  ports/z4kn4fein-semver/portfile.cmake
  ports/z4kn4fein-semver/vcpkg.json
  versions/baseline.json
  versions/z-/z4kn4fein-semver.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#26711 [zserge-webview] update to 2022-09-07
  ports/zserge-webview/portfile.cmake
  ports/zserge-webview/vcpkg.json
  versions/baseline.json
  versions/z-/zserge-webview.json
Labels: info:internal, category:port-update, info:reviewed, requires:vcpkg-team-review

#26729 [alpaca] Add port
  ports/alpaca/portfile.cmake
  ports/alpaca/vcpkg.json
  versions/a-/alpaca.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#26724 [status-code,outcome,llfio,ned14-internal-quickcpplib] Update to 2022-09-08
  ports/llfio/fix-vendored-status-code-include.patch
  ports/llfio/issue-83-fix-backport.patch
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/ned14-internal-quickcpplib/portfile.cmake
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  ports/outcome/portfile.cmake
  ports/outcome/vcpkg.json
  ports/status-code/no-target-sources.patch
  ports/status-code/portfile.cmake
  ports/status-code/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
  versions/o-/outcome.json
  versions/s-/status-code.json
Labels: category:port-update, info:reviewed

#26718 [libxslt] Update to 1.1.37
  ports/libxslt/extern_export.patch
  ports/libxslt/fix-gcrypt-deps.patch
  ports/libxslt/portfile.cmake
  ports/libxslt/skip-install-docs.patch
  ports/libxslt/vcpkg.json
  versions/baseline.json
  versions/l-/libxslt.json
Labels: category:port-update, info:reviewed

#26502 [speex] Use native autotools for all triplets
  ports/speex/0001-make-pkg-config-lib-name-configurable.patch
  ports/speex/CMakeLists.txt
  ports/speex/fix-vla-check.patch
  ports/speex/portfile.cmake
  ports/speex/subdirs.patch
  ports/speex/vcpkg.json
  versions/baseline.json
  versions/s-/speex.json
Labels: category:port-feature, info:reviewed

#26354 [Qt5|qmake] pass toolchain setup
  ports/qt5-base/cmake/configure_qt.cmake
  ports/qt5-base/cmake/qt_build_submodule.cmake
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  scripts/cmake/vcpkg_configure_qmake.cmake
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, category:vcpkg-bug, info:reviewed

#26671 [glslang] Bump version to 11.11.0
  ports/glslang/always-install-resource-limits.patch
  ports/glslang/glslang-config.cmake
  ports/glslang/portfile.cmake
  ports/glslang/usage
  ports/glslang/vcpkg.json
  ports/shaderc/glslang/CMakeLists.txt
  ports/shaderc/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
  versions/s-/shaderc.json
Labels: category:port-update, info:reviewed

#26704 [libmariadb] Fix build error on Linux
  ports/libmariadb/export-cmake-targets.patch
  ports/libmariadb/fix-CMakeLists.patch
  ports/libmariadb/fix-InstallPath.patch
  ports/libmariadb/no-extra-static-lib.patch
  ports/libmariadb/portfile.cmake
  ports/libmariadb/vcpkg.json
  versions/baseline.json
  versions/l-/libmariadb.json
Labels: category:port-bug, info:internal, info:reviewed

#26683 [saucer, ereignis] Update `saucer` port and add `ereignis`
  ports/ereignis/portfile.cmake
  ports/ereignis/vcpkg.json
  ports/qt5-webengine/vcpkg.json
  ports/saucer/portfile.cmake
  ports/saucer/vcpkg.json
  versions/baseline.json
  versions/e-/ereignis.json
  versions/q-/qt5-webengine.json
  versions/s-/saucer.json
Labels: category:new-port, category:port-update, info:reviewed

#26774 [wxwidgets] update version to v3.2.1
  ports/wxwidgets/fix-libs-export.patch
  ports/wxwidgets/install-layout.patch
  ports/wxwidgets/nanosvg-ext-depend.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: info:internal, category:port-update, info:reviewed

#26773 [arrayfire] Fix feature opencl dependency clFFT
  ports/arrayfire/fix-dependency-clfft.patch
  ports/arrayfire/portfile.cmake
  ports/arrayfire/vcpkg.json
  versions/a-/arrayfire.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#26770 [yara] Update to 4.2.3 to resolve security vulnerability
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-update, info:reviewed

#26746 [libtcod] Update to 1.22.3
  ports/libtcod/portfile.cmake
  ports/libtcod/vcpkg.json
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#26752 [grpc] fix upb library order in pkgconfig
  ports/grpc/00014-pkgconfig-upbdefs.patch
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-bug, info:reviewed

#26744 [gdk-pixbuf]: fix pkgconfig tools path
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
Labels: category:port-bug, info:reviewed

#26743 [glib]: fix pkgconfig tools path
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-bug, info:reviewed

#26713 [configcat] Add new port
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:new-port, info:reviewed

#26669 [DPP] Bump to version 10.0.18
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#26646 [vcpkg baseline][many ports] Fix baseline issues
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#26771 [vcpkg baseline][many ports] Fix regressions
  ports/libxpm/fix-dependency-gettext.patch
  ports/libxpm/portfile.cmake
  ports/libxpm/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libxpm.json
Labels: category:port-bug, info:internal, info:reviewed

#26698 [vcpkg baseline][osg] Fix port dependencies and build errors
  ports/osg/link-libraries.patch
  ports/osg/portfile.cmake
  ports/osg/unofficial-osg-config.cmake
  ports/osg/use-openexr-config.patch
  ports/osg/vcpkg.json
  versions/baseline.json
  versions/o-/osg.json
Labels: category:port-feature, info:reviewed

#26775 [sqlpp11] Update to latest commit
  ports/sqlpp11/ddl2cpp_path.patch
  ports/sqlpp11/portfile.cmake
  ports/sqlpp11/vcpkg.json
  versions/baseline.json
  versions/s-/sqlpp11.json
Labels: info:internal, category:port-update, info:reviewed

#26782 [arrayfire] Fix usage
  ports/arrayfire/portfile.cmake
  ports/arrayfire/vcpkg.json
  versions/a-/arrayfire.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#26801 [liburing] update to 2.2
  ports/liburing/fix-configure.patch
  ports/liburing/fix-spec-version.patch
  ports/liburing/portfile.cmake
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: info:internal, category:port-update, info:reviewed

#26797 [nuspell] Update port to v5.1.1
  ports/nuspell/fix-tools.patch
  ports/nuspell/portfile.cmake
  ports/nuspell/vcpkg.json
  versions/baseline.json
  versions/n-/nuspell.json
Labels: category:port-update, info:reviewed

#26783 [saucer] Fix configure
  ports/saucer/fix-source-generation.patch
  ports/saucer/portfile.cmake
  ports/saucer/vcpkg.json
  versions/baseline.json
  versions/s-/saucer.json
Labels: category:port-bug, info:internal, info:reviewed

#26781 [sail] Update to 0.9.0-rc1
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#26778 [Dlib] Enable arm64-windows
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/dlib.json
Labels: category:port-feature, info:reviewed

#26678 [openfbx] Add port
  ports/openfbx/CMakeLists.txt
  ports/openfbx/portfile.cmake
  ports/openfbx/unofficial-openfbxConfig.cmake.in
  ports/openfbx/vcpkg.json
  versions/baseline.json
  versions/o-/openfbx.json
Labels: category:new-port, info:reviewed

#26569 [issue template] Emphasise that console output isn't enough
  .github/ISSUE_TEMPLATE/report-package-build-failure.md
Labels: category:vcpkg-feature, info:reviewed

#26785 [gstreamer] Add opus support
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:internal, info:reviewed

#26805 [cgltf] Update to 1.13.
  ports/cgltf/portfile.cmake
  ports/cgltf/vcpkg.json
  versions/baseline.json
  versions/c-/cgltf.json
Labels: category:port-update, info:reviewed

#26809 [libsrt] Add bonding support
  ports/libsrt/portfile.cmake
  ports/libsrt/vcpkg.json
  versions/baseline.json
  versions/l-/libsrt.json
Labels: category:port-feature, info:internal, info:reviewed

#26820 [vcpkg baseline][saucer] Re-fix configure error
  ports/saucer/fix-source-generation.patch
  ports/saucer/vcpkg.json
  versions/baseline.json
  versions/s-/saucer.json
Labels: category:port-bug, info:internal, info:reviewed

#26859 [llfio,outcome,ned14-internal-quickcpplib] Fix minor nits
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/ned14-internal-quickcpplib/portfile.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  ports/outcome/portfile.cmake
  ports/outcome/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
  versions/o-/outcome.json
Labels: category:port-bug, info:reviewed

#26856 [assimp] Update to version 5.2.5
  ports/assimp/4542.patch
  ports/assimp/build_fixes.patch
  ports/assimp/portfile.cmake
  ports/assimp/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26819 [Azure Storage] Update to Sept hotfix Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26802 [roaring ] updatee to 0.7.1
  ports/roaring/portfile.cmake
  ports/roaring/vcpkg.json
  versions/baseline.json
  versions/r-/roaring.json
Labels: category:port-update, info:reviewed

#26812 [alpaka] Add new port
  ports/alpaka/portfile.cmake
  ports/alpaka/usage
  ports/alpaka/vcpkg.json
  versions/a-/alpaka.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#26576 [xwindow] part 4/N
  ports/font-util/build.patch
  ports/font-util/portfile.cmake
  ports/font-util/vcpkg.json
  ports/libfontenc/build.patch
  ports/libfontenc/configure.ac.patch
  ports/libfontenc/portfile.cmake
  ports/libfontenc/vcpkg.json
  ports/libfs/portfile.cmake
  ports/libfs/vcpkg.json
  versions/baseline.json
  versions/f-/font-util.json
  versions/l-/libfontenc.json
  versions/l-/libfs.json
Labels: category:new-port, info:reviewed

#26432 [igraph] update to 0.10
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#25059 [hpx] add some features, fix some bugs
  ports/ffmpeg/0004-fix-debug-build.patch
  ports/ffmpeg/vcpkg.json
  ports/hpx/fix-debug.patch
  ports/hpx/fix-export.patch
  ports/hpx/fix_output_name_clash.patch
  ports/hpx/format.patch
  ports/hpx/portfile.cmake
  ports/hpx/usage
  ports/hpx/vcpkg.json
  ports/jemalloc/portfile.cmake
  ports/jemalloc/vcpkg.json
  ports/snappy/portfile.cmake
  ports/snappy/snappy.pc.in
  ports/snappy/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/h-/hpx.json
  versions/j-/jemalloc.json
  versions/s-/snappy.json
Labels: category:port-feature, category:port-bug, info:reviewed

#26555 Bump spix version to 0.4
  ports/spix/portfile.cmake
  ports/spix/vcpkg.json
  versions/baseline.json
  versions/s-/spix.json
Labels: category:new-port, info:reviewed

#26816 [openal-soft] fix mingw x86 build
  ports/openal-soft/0001-fix-mingw-x86-build.patch
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#26798 Add espidf smoke test.
  docs/maintainers/internal/vcpkg_tool_release_process.md
Labels: info:internal, category:infrastructure

#26618 [vcpkg_acquire_msys] add 'which' package to default set on Windows
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update

#26740 [stronk] Add new port
  ports/stronk/portfile.cmake
  ports/stronk/vcpkg.json
  versions/baseline.json
  versions/s-/stronk.json
Labels: category:new-port, info:reviewed

#26882 [lerc] Update to 4.0.0
  ports/lerc/create_package.patch
  ports/lerc/portfile.cmake
  ports/lerc/vcpkg.json
  versions/baseline.json
  versions/l-/lerc.json
Labels: category:port-update, info:reviewed

#26879 [taskflow] Update to 3.4.0
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: category:port-update, info:reviewed

#26881 [vcpkg] Update vcpkg-tool to 2022-09-20
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, info:reviewed, category:infrastructure, category:tool-update

#26633 [robin-map] Fix error when use find_package(robin-map CONFIG REQUIRED)
  ports/robin-map/portfile.cmake
  ports/robin-map/vcpkg.json
  versions/baseline.json
  versions/r-/robin-map.json
Labels: category:port-bug, info:internal, info:reviewed

#26899 [vcpkg baseline][otl] update error hash
  ports/otl/portfile.cmake
  ports/otl/vcpkg.json
  versions/baseline.json
  versions/o-/otl.json
Labels: category:port-bug, info:internal, info:reviewed

#26898 [argparse] Update to v2.8
  ports/argparse/portfile.cmake
  ports/argparse/vcpkg.json
  versions/a-/argparse.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26892 [eve] Updated EVE version
  ports/eve/portfile.cmake
  ports/eve/vcpkg.json
  versions/baseline.json
  versions/e-/eve.json
Labels: category:port-update, info:reviewed

#26839 [kangaru ] Update to version 4.3.1
  ports/kangaru/portfile.cmake
  ports/kangaru/vcpkg.json
  versions/baseline.json
  versions/k-/kangaru.json
Labels: category:port-update, info:reviewed

#24549 [new port] Add rubberband
  ports/rubberband/portfile.cmake
  ports/rubberband/vcpkg.json
  versions/baseline.json
  versions/r-/rubberband.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#26339 [scripts|cmake] use ENV{VisualStudioVersion} to switch cmake generator
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: info:reviewed, category:tool-update

#26361 [azure-iot-sdk-c] LTS Release 07-2022_Ref02
  ports/azure-c-shared-utility/openssl.patch
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  ports/azure-iot-sdk-c/fix-iothubclient-includes.patch
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/vcpkg.json
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uamqp-c/vcpkg.json
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-uhttp-c/vcpkg.json
  ports/azure-umqtt-c/portfile.cmake
  ports/azure-umqtt-c/vcpkg.json
  versions/a-/azure-c-shared-utility.json
  versions/a-/azure-iot-sdk-c.json
  versions/a-/azure-uamqp-c.json
  versions/a-/azure-uhttp-c.json
  versions/a-/azure-umqtt-c.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#26851 [xwindow] part 5b
  ports/libxi/portfile.cmake
  ports/libxi/vcpkg.json
  ports/libxrandr/portfile.cmake
  ports/libxrandr/vcpkg.json
  ports/libxrender/portfile.cmake
  ports/libxrender/vcpkg.json
  ports/libxres/build.patch
  ports/libxres/portfile.cmake
  ports/libxres/vcpkg.json
  versions/baseline.json
  versions/l-/libxi.json
  versions/l-/libxrandr.json
  versions/l-/libxrender.json
  versions/l-/libxres.json
Labels: category:new-port, info:reviewed

#26927 [protobuf] update to v3.21.6 release
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-update, info:reviewed

#26936 [capnproto] update capnp version to 0.10.2
  ports/capnproto/portfile.cmake
  ports/capnproto/vcpkg.json
  versions/baseline.json
  versions/c-/capnproto.json
Labels: category:port-update, info:reviewed

#26933 Version lock the github actions actions.
  .github/workflows/trustedPR.yml
  .github/workflows/untrustedPR.yml
  .github/workflows/validateDocs.yml
Labels: info:internal, category:infrastructure

#26284 [tbb, pagmo2] Update TBB to 2021.5 and update pagmo2 to 2.18.0
  ports/cctag/0001-fix-osx.patch
  ports/cctag/0002-find-tbb.patch
  ports/cctag/portfile.cmake
  ports/cctag/vcpkg.json
  ports/embree2/cmake_policy.patch
  ports/embree2/portfile.cmake
  ports/embree2/vcpkg.json
  ports/gazebo/fix-tbb.patch
  ports/gazebo/portfile.cmake
  ports/gazebo/vcpkg.json
  ports/pagmo2/disable-C4701.patch
  ports/pagmo2/disable-md-override.patch
  ports/pagmo2/disable-werror.patch
  ports/pagmo2/doxygen.patch
  ports/pagmo2/find-tbb.patch
  ports/pagmo2/portfile.cmake
  ports/pagmo2/vcpkg.json
  ports/tbb/CMakeLists.txt
  ports/tbb/fix-static-build.patch
  ports/tbb/portfile.cmake
  ports/tbb/terminate-when-buildtool-notfound.patch
  ports/tbb/usage
  ports/tbb/vcpkg.json
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cctag.json
  versions/g-/gazebo.json
  versions/p-/pagmo2.json
  versions/t-/tbb.json
  versions/u-/usd.json
Labels: info:internal, category:port-update, requires:author-response

#26794 [docs] Fix several issues encountered during publishing
  docs/commands/common-options.md
  docs/commands/install.md
  docs/commands/remove.md
  docs/commands/update-baseline.md
  docs/users/manifests.md
Labels: category:documentation, info:internal, requires:author-response

#26836 [grpc] Update to 1.49.0
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  ports/grpc/00009-use-system-upb.patch
  ports/grpc/00014-pkgconfig-upbdefs.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  ports/upb/0001-make-cmakelists-py.patch
  ports/upb/portfile.cmake
  ports/upb/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
  versions/g-/grpc.json
  versions/u-/upb.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#26676 [gdal] Update to v3.5.2
  ports/gdal/cpl-disable-dll.patch
  ports/gdal/dependency_win.cmake
  ports/gdal/fix-gdal-target-interfaces.patch
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#26862 [openexr] Update from 2 to 3.1.5, patch all consuming ports
  ports/directxtex/enable_openexr_support.patch
  ports/directxtex/vcpkg.json
  ports/freeimage/CMakeLists.txt
  ports/freeimage/use-external-openexr.patch
  ports/freeimage/vcpkg.json
  ports/ilmbase/vcpkg.json
  ports/opencv2/0003-force-package-requirements.patch
  ports/opencv2/0019-fix-openexr.patch
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/0003-force-package-requirements.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0003-force-package-requirements.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  ports/openexr/0001-remove_find_package_macro.patch
  ports/openexr/0002-fixup_cmake_exports_path.patch
  ports/openexr/0003-fix-arm-intrin-detection-pr-1216.patch
  ports/openexr/portfile.cmake
  ports/openexr/usage
  ports/openexr/vcpkg-cmake-wrapper.cmake
  ports/openexr/vcpkg.json
  ports/openvdb/portfile.cmake
  ports/openvdb/vcpkg.json
  ports/osg/openexr3.patch
  ports/osg/portfile.cmake
  ports/osg/use-openexr-config.patch
  ports/osg/vcpkg.json
  ports/pangolin/fix-dependencies.patch
  ports/pangolin/vcpkg.json
  ports/theia/fix-external-dependencies.patch
  ports/theia/portfile.cmake
  ports/theia/vcpkg.json
  ports/uvatlas/openexr.patch
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxtex.json
  versions/f-/freeimage.json
  versions/i-/ilmbase.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
  versions/o-/openexr.json
  versions/o-/openvdb.json
  versions/o-/osg.json
  versions/p-/pangolin.json
  versions/t-/theia.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#26982 [drlibs] Update to 2022-09-26
  ports/drlibs/portfile.cmake
  ports/drlibs/vcpkg.json
  versions/baseline.json
  versions/d-/drlibs.json
Labels: category:port-update, info:reviewed

#26975 [DiscordCoreAPI] Updating to version 2012-09-25
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#26966 [vcpkg baseline][grppi] Manually control use of tbb
  ports/grppi/portfile.cmake
  ports/grppi/tbb.patch
  ports/grppi/vcpkg.json
  versions/baseline.json
  versions/g-/grppi.json
Labels: category:port-bug, info:reviewed

#26962 [sciplot] Disable examples and docs
  ports/sciplot/portfile.cmake
  ports/sciplot/vcpkg.json
  versions/baseline.json
  versions/s-/sciplot.json
Labels: category:port-feature, info:reviewed

#26961 [dbus] disable doxygen
  ports/dbus/portfile.cmake
  ports/dbus/vcpkg.json
  versions/baseline.json
  versions/d-/dbus.json
Labels: category:port-feature, info:reviewed

#26960 [DPP] Bump to version 10.0.19
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#26954 [utfcpp] Modernize, fix mingw
  ports/utfcpp/portfile.cmake
  ports/utfcpp/vcpkg.json
  versions/baseline.json
  versions/u-/utfcpp.json
Labels: info:reviewed, category:community-triplet

#26953 [jsonnet, opentelemetry-cpp] Remove `!(windows & !static)`
  ports/jsonnet/portfile.cmake
  ports/jsonnet/vcpkg.json
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/j-/jsonnet.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-bug, info:reviewed

#26895 VM Update September 2022
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-image.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/ci.baseline.txt
  scripts/vcpkgTools.xml
Labels: info:internal, info:reviewed, category:infrastructure

#26792 [zlib] Fix CVE-2022-37434
  ports/zlib/CVE-2022-37434.patch
  ports/zlib/portfile.cmake
  ports/zlib/vcpkg.json
  versions/baseline.json
  versions/z-/zlib.json
Labels: category:port-bug, info:reviewed

#26906 [libpq] Fix ios build
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: info:reviewed, category:community-triplet

#26878 Default to arm64 target on arm64 hosts with VS2019 or above
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-feature, info:reviewed

#26918 [boost-fiber] Enable x64-osx
  ports/boost-fiber/vcpkg.json
  scripts/boost/generate-ports.ps1
  scripts/ci.baseline.txt
  versions/b-/boost-fiber.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#26932 [parallel-hashmap] Update to version 1.36
  ports/parallel-hashmap/portfile.cmake
  ports/parallel-hashmap/vcpkg.json
  versions/baseline.json
  versions/p-/parallel-hashmap.json
Labels: category:port-update, info:reviewed

#26940 [opensubdiv] Add feature opengl
  ports/opensubdiv/portfile.cmake
  ports/opensubdiv/vcpkg.json
  versions/baseline.json
  versions/o-/opensubdiv.json
Labels: category:port-feature, info:internal, info:reviewed

#26971 [luajit] Install .pc file for windows
  ports/luajit/005-do-not-pass-ld-e-macosx.patch
  ports/luajit/luajit.pc.win.in
  ports/luajit/portfile.cmake
  ports/luajit/vcpkg.json
  versions/baseline.json
  versions/l-/luajit.json
Labels: category:port-feature, info:reviewed

#26978 [ffmpeg] Set `--disable-audiotoolbox` when targeting iOS
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#26980 [zziplib] Fix exported interface include dirs
  ports/zziplib/export-targets.patch
  ports/zziplib/vcpkg.json
  versions/baseline.json
  versions/z-/zziplib.json
Labels: category:port-bug, info:reviewed

#26988 [nghttp2] update to 1.50.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#27003 [angelscript] update version to 2.36.0
  ports/angelscript/portfile.cmake
  ports/angelscript/vcpkg.json
  versions/a-/angelscript.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#27007 [vcpkg baseline][embree3] Add supports field `!arm`
  ports/embree3/portfile.cmake
  ports/embree3/vcpkg.json
  versions/baseline.json
  versions/e-/embree3.json
Labels: category:port-bug, info:internal, info:reviewed

#26935 [python3] build python3.dll for stable ABI usage
  ports/python3/0001-static-library.patch
  ports/python3/0005-only-build-required-projects.patch
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-feature, info:reviewed

#26968 [halide] No vendored wasm
  ports/halide/portfile.cmake
  ports/halide/vcpkg.json
  versions/baseline.json
  versions/h-/halide.json
Labels: category:port-feature, info:reviewed

#27014 [proxy] update to version 1.1.1
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#26989 [nghttp3] update to 0.7.1
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#27012 [configcat] Update to version 1.0.0
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:port-update, info:reviewed

#26998 [bzip2] add a "tool" feature to control the build of bzip2.exe
  ports/bzip2/portfile.cmake
  ports/bzip2/vcpkg.json
  versions/b-/bzip2.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#26766 [new port] at-spi2-atk 2.38.0 port
  ports/at-spi2-atk/portfile.cmake
  ports/at-spi2-atk/vcpkg.json
  ports/at-spi2-core/portfile.cmake
  ports/at-spi2-core/vcpkg.json
  versions/a-/at-spi2-atk.json
  versions/a-/at-spi2-core.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#27001 [google-cloud-cpp] fix feature dependencies
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#26958 [cpp-httplib] Update to v0.11.2 (#26957)
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#26600 [LuaBridge3] Add new port
  ports/luabridge3/portfile.cmake
  ports/luabridge3/vcpkg.json
  versions/baseline.json
  versions/l-/luabridge3.json
Labels: category:new-port, info:reviewed

#26864 [libofx] new port
  ports/libofx/portfile.cmake
  ports/libofx/vcpkg.json
  versions/baseline.json
  versions/l-/libofx.json
Labels: category:new-port, info:reviewed

#26815 [angle] update list of required apt packages
  ports/angle/portfile.cmake
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#27044 [DPP] Bump to version 10.0.20
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#27042 [jxrlib] Fix mingw build
  ports/jxrlib/CMakeLists.txt
  ports/jxrlib/fix-mingw.patch
  ports/jxrlib/guiddef.patch
  ports/jxrlib/portfile.cmake
  ports/jxrlib/vcpkg.json
  versions/baseline.json
  versions/j-/jxrlib.json
Labels: info:reviewed, category:community-triplet

#27041 [mimalloc] build for ARM Linux, Mac
  ports/mimalloc/vcpkg.json
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: info:reviewed, category:community-triplet

#27037 [nuspell] Update port to v5.1.2
  ports/nuspell/portfile.cmake
  ports/nuspell/vcpkg.json
  versions/baseline.json
  versions/n-/nuspell.json
Labels: category:port-update, info:reviewed
