Repository microsoft/vcpkg, pull requests merged in 2023-05, with the labels that each got.

#31178 [nu-book-zxing-cpp] Enable stack protector, UWP
  ports/nu-book-zxing-cpp/portfile.cmake
  ports/nu-book-zxing-cpp/vcpkg.json
  versions/baseline.json
  versions/n-/nu-book-zxing-cpp.json
Labels: category:port-bug, info:internal

#31084 [glew] Only set the base address on x86 (32bit)
  ports/glew/base_address.patch
  ports/glew/portfile.cmake
  ports/glew/vcpkg.json
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/g-/glew.json
  versions/o-/osgearth.json
Labels: category:port-bug, requires:author-response

#28656 Add gz ports: [gz-cmake3] [gz-utils2] [gz-tools2] [gz-math7]
  ports/gz-cmake3/portfile.cmake
  ports/gz-cmake3/usage
  ports/gz-cmake3/vcpkg.json
  ports/gz-math7/portfile.cmake
  ports/gz-math7/vcpkg.json
  ports/gz-tools2/portfile.cmake
  ports/gz-tools2/vcpkg.json
  ports/gz-utils2/portfile.cmake
  ports/gz-utils2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gz-cmake3.json
  versions/g-/gz-math7.json
  versions/g-/gz-tools2.json
  versions/g-/gz-utils2.json
Labels: category:new-port, info:reviewed

#31138 [fluidsynth] Add pulseaudio feature for Linux
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-feature, requires:author-response

#31037 [ryu] Fix toolchain selection on *nixes. Fix macOS build. Add support for Mingw-w64 on Windows
  ports/ryu/portfile.cmake
  ports/ryu/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/ryu.json
Labels: category:port-feature

#31134 [LIBMYSQL] Fix osx build creates invalid nuget package
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-update

#31148 [qt5-base] GLU is not required
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature

#31086 [functions-framework-cpp] fixup package name
  ports/functions-framework-cpp/portfile.cmake
  ports/functions-framework-cpp/vcpkg.json
  versions/baseline.json
  versions/f-/functions-framework-cpp.json
Labels: category:port-bug

#31130 [hiredis] fix examples
  ports/hiredis/fix-feature-example.patch
  ports/hiredis/vcpkg.json
  versions/baseline.json
  versions/h-/hiredis.json
Labels: category:port-bug

#31139 [BlingFire] Adding BlingFire Package
  ports/blingfire/portfile.cmake
  ports/blingfire/vcpkg.json
  versions/b-/blingfire.json
  versions/baseline.json
Labels: category:new-port

#31106 [ogre] Fix function override problem in macos system.
  ports/ogre/fix_override.patch
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-bug, info:internal

#31078 [luasocket] bump to 3.1.0
  ports/luasocket/portfile.cmake
  ports/luasocket/vcpkg.json
  versions/baseline.json
  versions/l-/luasocket.json
Labels: category:port-update, requires:author-response

#31214 [gz-tools2] fix build
  ports/gz-tools2/vcpkg.json
  versions/baseline.json
  versions/g-/gz-tools2.json
Labels: category:port-bug, info:reviewed

#31186 [node-api-headers] add usage
  ports/node-api-headers/portfile.cmake
  ports/node-api-headers/usage
  ports/node-api-headers/vcpkg.json
  versions/baseline.json
  versions/n-/node-api-headers.json
Labels: category:port-feature, info:reviewed

#31243 [libmysql] fix sha
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-bug, info:reviewed

#31239 [vcpkg] lld-link workaround should be used with ClangCl MSBuild platform toolset
  scripts/buildsystems/msbuild/vcpkg.props
Labels: info:reviewed, category:tool-update

#31235 [openexr] Update to v3.1.7
  ports/openexr/avx.patch
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  versions/baseline.json
  versions/o-/openexr.json
Labels: category:port-update, info:reviewed

#31219 [opentelemetry-cpp] Fixes #31218
  ports/opentelemetry-cpp/add-missing-find-dependency.patch
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-bug, info:reviewed

#31179 [pthreads] Fixed whitespaces in path issue
  ports/pthreads/portfile.cmake
  ports/pthreads/vcpkg.json
  ports/pthreads/whitespace_in_path.patch
  versions/baseline.json
  versions/p-/pthreads.json
Labels: category:port-bug, info:reviewed

#31158 [jasper] fix incorrect library name in jasper.pc
  ports/jasper/fix-library-name.patch
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
Labels: category:port-bug, info:internal, info:reviewed

#31131 [rcon] add new port
  ports/cialloo-rcon/portfile.cmake
  ports/cialloo-rcon/usage
  ports/cialloo-rcon/vcpkg.json
  versions/baseline.json
  versions/c-/cialloo-rcon.json
Labels: category:new-port, info:reviewed

#30901 [tree-similarity] add new port of tree-similarity to measure tree edit distance
  ports/tree-similarity/portfile.cmake
  ports/tree-similarity/usage
  ports/tree-similarity/vcpkg.json
  versions/baseline.json
  versions/t-/tree-similarity.json
Labels: category:new-port, info:reviewed

#31220 [draco] Update to v1.5.6
  ports/draco/disable-symlinks.patch
  ports/draco/fix-compile-error-uwp.patch
  ports/draco/fix-pkgconfig.patch
  ports/draco/portfile.cmake
  ports/draco/vcpkg.json
  versions/baseline.json
  versions/d-/draco.json
Labels: category:port-update, info:reviewed

#31266 [librdkafka] Upgrade up to 2.1.1
  ports/librdkafka/fix_curl.patch
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#31265 [libcopp] update to 2.2.0
  ports/libcopp/portfile.cmake
  ports/libcopp/vcpkg.json
  versions/baseline.json
  versions/l-/libcopp.json
Labels: info:internal, category:port-update, info:reviewed

#31260 [libphonenumber] Update to 8.13.11
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: info:internal, category:port-update, info:reviewed

#31240 [uwebsockets] update to 20.40.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update, info:reviewed

#28266 [Libvault] new port
  ports/libvault/0001-fix-dependencies.patch
  ports/libvault/portfile.cmake
  ports/libvault/usage
  ports/libvault/vcpkg.json
  versions/baseline.json
  versions/l-/libvault.json
Labels: category:new-port, info:reviewed

#29767 [libass] update to 0.17.1
  ports/libass/CMakeLists.txt
  ports/libass/config.h.in
  ports/libass/portfile.cmake
  ports/libass/vcpkg.json
  versions/baseline.json
  versions/l-/libass.json
Labels: category:port-feature, category:port-update, info:reviewed

#29374 [libsonic] Add new port
  ports/libsonic/CMakeLists.txt
  ports/libsonic/portfile.cmake
  ports/libsonic/vcpkg.json
  versions/baseline.json
  versions/l-/libsonic.json
Labels: category:new-port, info:reviewed

#30175 [nettle] Switch from yasm to clang
  ports/nettle/ccas.patch
  ports/nettle/hogweed-arm.def
  ports/nettle/hogweed-arm64.def
  ports/nettle/install-dll.patch
  ports/nettle/msvc-support.patch
  ports/nettle/nettle-arm.def
  ports/nettle/nettle-arm64.def
  ports/nettle/portfile.cmake
  ports/nettle/vcpkg.json
  ports/shiftmedia-libgnutls/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/n-/nettle.json
  versions/s-/shiftmedia-libgnutls.json
Labels: category:port-feature, category:port-update, info:reviewed

#31309 [ignition-modularscripts] Disable docs, reduce warnings, update style
  ports/ignition-modularscripts/vcpkg-port-config.cmake
  ports/ignition-modularscripts/vcpkg.json
  versions/baseline.json
  versions/i-/ignition-modularscripts.json
Labels: category:port-update, info:reviewed

#30379 [qtbase] fix glib2 not found
  ports/qtbase/GLIB2-static.patch
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:internal, info:reviewed

#31300 [vsg] New port (VulkanSceneGraph)
  ports/vsg/devendor-glslang.patch
  ports/vsg/portfile.cmake
  ports/vsg/vcpkg.json
  versions/baseline.json
  versions/v-/vsg.json
Labels: category:new-port, info:reviewed

#31299 [xpack]Update to 1.0.5
  ports/xpack/portfile.cmake
  ports/xpack/vcpkg.json
  versions/baseline.json
  versions/x-/xpack.json
Labels: category:port-update, info:reviewed

#31286 [microsoft-signalr] Fix usage issue
  ports/microsoft-signalr/find-msgpack.patch
  ports/microsoft-signalr/vcpkg.json
  versions/baseline.json
  versions/m-/microsoft-signalr.json
Labels: category:port-bug, info:internal, info:reviewed

#31301 [gstreamer]: fix pkgconfig parameters of gstreamer
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-bug, info:reviewed

#31284 [jsoncons] Update to 0.170.1
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#31282 [qt5-imageformats] Move deps to features
  ports/qt5-imageformats/portfile.cmake
  ports/qt5-imageformats/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-imageformats.json
Labels: category:port-feature, info:reviewed

#31278 [libgit2] use support expressions
  ports/libgit2/portfile.cmake
  ports/libgit2/vcpkg.json
  versions/baseline.json
  versions/l-/libgit2.json
Labels: category:port-feature, info:reviewed

#31277 [baseline][gz-math7] Control options
  ports/gz-math7/portfile.cmake
  ports/gz-math7/vcpkg.json
  versions/baseline.json
  versions/g-/gz-math7.json
Labels: category:port-bug, info:reviewed

#31274 [usd] Add missing dependency
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-bug, info:reviewed

#31269 [bond] Update to 10.0.0
  ports/bond/portfile.cmake
  ports/bond/skip-grpc-compilation.patch
  ports/bond/vcpkg.json
  versions/b-/bond.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#31281 [cpp-httplib] Update to 0.12.3
  ports/cpp-httplib/fix-find-brotli.patch
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#31262 [libxlsxwriter] Fix pc file, de-vendor minizip
  ports/libxlsxwriter/dependencies.diff
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libxlsxwriter.json
Labels: category:port-bug, info:reviewed, depends:different-pr

#31257 [pdal, pdal-c] Update to v2.5.3, v2.2.0 and fix GCC 13 build
  ports/pdal-c/portfile.cmake
  ports/pdal-c/vcpkg.json
  ports/pdal/fix-dependency.patch
  ports/pdal/fix-gcc-13-build.patch
  ports/pdal/fix-gcc8-compatibility.patch
  ports/pdal/fix-unix-compiler-options.patch
  ports/pdal/portfile.cmake
  ports/pdal/usage
  ports/pdal/vcpkg.json
  versions/baseline.json
  versions/p-/pdal-c.json
  versions/p-/pdal.json
Labels: category:port-update, info:reviewed

#31253 [sdl2-mixer-ext] add new port
  ports/sdl2-mixer-ext/fix-dependencies.patch
  ports/sdl2-mixer-ext/portfile.cmake
  ports/sdl2-mixer-ext/usage
  ports/sdl2-mixer-ext/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer-ext.json
Labels: category:new-port, info:reviewed

#31339 [gmp] Fix building for linux x86
  ports/gmp/portfile.cmake
  ports/gmp/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
Labels: info:reviewed, category:community-triplet

#31333 [boinc] Update to 7.22.1
  ports/boinc/CMakeLists.txt
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31325 Avoid recalculating the default msbuild settings.
  ports/3fd/portfile.cmake
  ports/3fd/vcpkg.json
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  ports/activemq-cpp/portfile.cmake
  ports/activemq-cpp/vcpkg.json
  ports/easyhook/portfile.cmake
  ports/easyhook/vcpkg.json
  ports/ecsutil/portfile.cmake
  ports/ecsutil/vcpkg.json
  ports/ocilib/portfile.cmake
  ports/ocilib/vcpkg.json
  ports/rsasynccpp/portfile.cmake
  ports/rsasynccpp/vcpkg.json
  scripts/templates/portfile.in.cmake
  versions/3-/3fd.json
  versions/a-/ace.json
  versions/a-/activemq-cpp.json
  versions/baseline.json
  versions/e-/easyhook.json
  versions/e-/ecsutil.json
  versions/o-/ocilib.json
  versions/r-/rsasynccpp.json
Labels: info:internal, info:reviewed, category:code-cleanup

#31319 [Glaze] update
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#31317 [uvw] Update to 3.0.0
  ports/uvw/CMakeLists.txt
  ports/uvw/fix-find-libuv.patch
  ports/uvw/portfile.cmake
  ports/uvw/uvw-config.cmake
  ports/uvw/vcpkg.json
  versions/baseline.json
  versions/u-/uvw.json
Labels: info:internal, category:port-update, info:reviewed

#31291 [qt5-declarative] Add d3d12 feature
  ports/qt5-declarative/portfile.cmake
  ports/qt5-declarative/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-declarative.json
Labels: category:port-feature, info:reviewed

#31285 [vk-bootstrap] Update to v0.7
  ports/vk-bootstrap/portfile.cmake
  ports/vk-bootstrap/vcpkg.json
  versions/baseline.json
  versions/v-/vk-bootstrap.json
Labels: category:port-update, info:reviewed

#30758 [libzim]add package
  ports/libzim/0001-build-share-library.patch
  ports/libzim/portfile.cmake
  ports/libzim/vcpkg.json
  versions/baseline.json
  versions/l-/libzim.json
Labels: category:new-port, info:reviewed

#30608 [luajit] Use common build functions
  ports/luajit/004-fix-build-path-and-crt-linkage.patch
  ports/luajit/Makefile.nmake
  ports/luajit/configure
  ports/luajit/luajit.pc.win.in
  ports/luajit/msvcbuild.patch
  ports/luajit/portfile.cmake
  ports/luajit/vcpkg.json
  versions/baseline.json
  versions/l-/luajit.json
Labels: category:port-feature, info:reviewed

#30442 [qttools] copy traget tools only if they exists.
  ports/qttools/portfile.cmake
  ports/qttools/vcpkg.json
  versions/baseline.json
  versions/q-/qttools.json
Labels: category:port-bug, info:reviewed

#29969 [vcpkg.cmake] Fix CMP0126 warning when running in trace mode (#23784)
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, category:tool-update

#31371 [uwebsockets] update to 20.41.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update, info:reviewed

#31369 [xtensor] update to 0.24.6
  ports/xsimd/portfile.cmake
  ports/xsimd/vcpkg.json
  ports/xtensor/fix-find-tbb-and-install-destination.patch
  ports/xtensor/portfile.cmake
  ports/xtensor/vcpkg.json
  ports/xtl/portfile.cmake
  ports/xtl/vcpkg.json
  versions/baseline.json
  versions/x-/xsimd.json
  versions/x-/xtensor.json
  versions/x-/xtl.json
Labels: info:internal, category:port-update, info:reviewed

#31365 [libgit2] fix support expressions
  ports/libgit2/vcpkg.json
  versions/baseline.json
  versions/l-/libgit2.json
Labels: category:port-feature, info:reviewed

#31356 [benchmark] Update Google Benchmark to v1.8.0
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31353 [azure-security-keyvault-*-cpp] Update to May Release
  ports/azure-security-keyvault-certificates-cpp/portfile.cmake
  ports/azure-security-keyvault-certificates-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  ports/azure-security-keyvault-secrets-cpp/portfile.cmake
  ports/azure-security-keyvault-secrets-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-certificates-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/a-/azure-security-keyvault-secrets-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31344 [usd] update to v23.05
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-update, info:reviewed

#31342 [taskflow] Update version to 3.6.0
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: info:internal, category:port-update, info:reviewed

#31338 [xapian] update version to 1.4.22
  ports/xapian/portfile.cmake
  ports/xapian/vcpkg.json
  versions/baseline.json
  versions/x-/xapian.json
Labels: category:port-update, info:reviewed

#26482 [numcpp] update to 2.10.1
  ports/numcpp/portfile.cmake
  ports/numcpp/vcpkg.json
  versions/baseline.json
  versions/n-/numcpp.json
Labels: info:internal, category:port-update, info:reviewed

#31149 [libsbml] Update to 5.20.0
  ports/libsbml/fix-deps-libxml.patch
  ports/libsbml/libsbml-config.cmake
  ports/libsbml/portfile.cmake
  ports/libsbml/usage
  ports/libsbml/vcpkg.json
  versions/baseline.json
  versions/l-/libsbml.json
Labels: info:internal, category:port-update, info:reviewed

#31321 [arrow] Update to 12.0.0
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31305 [hnswlib] backport CMake targets
  ports/hnswlib/cmake.patch
  ports/hnswlib/portfile.cmake
  ports/hnswlib/usage
  ports/hnswlib/vcpkg.json
  versions/baseline.json
  versions/h-/hnswlib.json
Labels: category:port-feature, info:reviewed

#31372 [sfml] Support for Release-only build
  ports/sfml/portfile.cmake
  ports/sfml/vcpkg.json
  versions/baseline.json
  versions/s-/sfml.json
Labels: category:port-bug, info:internal, info:reviewed

#31367 [openblas] Update version to 0.3.23
  ports/openblas/fix-space-path.patch
  ports/openblas/portfile.cmake
  ports/openblas/uwp.patch
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: info:internal, category:port-update, info:reviewed

#31335 [urdfdom] update urdfdom
  ports/urdfdom/0006-pc_file_for_windows.patch
  ports/urdfdom/portfile.cmake
  ports/urdfdom/vcpkg.json
  versions/baseline.json
  versions/u-/urdfdom.json
Labels: category:port-update, info:reviewed

#31287 [behaviortree-cpp] Update to 4.1.1
  ports/behaviortree-cpp/001_port_fixes.patch
  ports/behaviortree-cpp/002_fix_dependencies.patch
  ports/behaviortree-cpp/fix-x86_build.patch
  ports/behaviortree-cpp/portfile.cmake
  ports/behaviortree-cpp/vcpkg.json
  versions/b-/behaviortree-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#31350 [libmad] Add dynamic support
  ports/libmad/CMakeLists.txt
  ports/libmad/mad.pc.in
  ports/libmad/portfile.cmake
  ports/libmad/vcpkg.json
  versions/baseline.json
  versions/l-/libmad.json
Labels: category:port-feature, info:reviewed

#31315 [Jsonifier] Updating to version v0.9.1
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#31364 [boinc] fix build error.
  ports/boinc/fix-build.patch
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#31294 [pcre2] Convert JIT to feature
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
Labels: category:port-feature, info:reviewed

#31384 [microsoft-signalr] Fix find jsoncpp
  ports/microsoft-signalr/portfile.cmake
  ports/microsoft-signalr/vcpkg.json
  versions/baseline.json
  versions/m-/microsoft-signalr.json
Labels: category:port-bug, info:internal, info:reviewed

#31267 [gstreamer] Add a ges feature
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:internal, info:reviewed

#30483 [intel-mkl] Overhaul, install osx
  ports/intel-mkl/copy-from-dmg.cmake
  ports/intel-mkl/portfile.cmake
  ports/intel-mkl/vcpkg-cmake-wrapper.cmake
  ports/intel-mkl/vcpkg-port-config.cmake
  ports/intel-mkl/vcpkg.json
  versions/baseline.json
  versions/i-/intel-mkl.json
Labels: category:port-feature, info:reviewed

#31413 [libde265] update to v1.0.11
  ports/libde265/fix-interface-include.patch
  ports/libde265/fix-libde265-headers.patch
  ports/libde265/portfile.cmake
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#31410 [vcpkg baseline][binlog] disable performance tests
  ports/binlog/portfile.cmake
  ports/binlog/vcpkg.json
  versions/b-/binlog.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#31405 [nghttp3] update to 0.11.0
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#31401 [Thorvg] Update to 0.9.0
  ports/thorvg/install-tools.patch
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#31394 [caf] update to 0.19.1
  ports/caf/portfile.cmake
  ports/caf/vcpkg.json
  versions/baseline.json
  versions/c-/caf.json
Labels: category:port-update, info:reviewed

#31390 [qt-advanced-docking-system] Update to 4.0.3
  ports/qt-advanced-docking-system/config_changes.patch
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/qt.patch
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: info:internal, category:port-update, info:reviewed

#31383 [baseline][libzim][xapian] Disable gtest, fix mingw and windows builds
  ports/libzim/0001-build-share-library.patch
  ports/libzim/cross-builds.diff
  ports/libzim/disable-gtest.diff
  ports/libzim/dllexport.diff
  ports/libzim/portfile.cmake
  ports/libzim/vcpkg.json
  ports/xapian/configure.diff
  ports/xapian/msvc-no-debug.diff
  ports/xapian/portfile.cmake
  ports/xapian/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libzim.json
  versions/x-/xapian.json
Labels: category:port-bug, info:reviewed

#31345 [Azure Storage] Update to May Release
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31261 [minizip] Enable uwp
  ports/minizip/CMakeLists.txt
  ports/minizip/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/minizip.json
Labels: category:port-feature, info:reviewed

#31396 [easyloggingpp] Features to support multithreading
  ports/easyloggingpp/0001_add_cmake_options.patch
  ports/easyloggingpp/portfile.cmake
  ports/easyloggingpp/vcpkg.json
  versions/baseline.json
  versions/e-/easyloggingpp.json
Labels: category:port-feature, info:reviewed

#31391 [libproxy] Fix the issue that the proxy cannot run
  ports/libproxy/fix-install-py.patch
  ports/libproxy/fix-tools-path.patch
  ports/libproxy/portfile.cmake
  ports/libproxy/support-windows.patch
  ports/libproxy/usage
  ports/libproxy/vcpkg.json
  versions/baseline.json
  versions/l-/libproxy.json
Labels: category:port-bug, info:internal, info:reviewed

#31397 [ltla-umappp|ltla-*] new ports
  ports/ltla-aarand/portfile.cmake
  ports/ltla-aarand/vcpkg.json
  ports/ltla-cppirlba/portfile.cmake
  ports/ltla-cppirlba/vcpkg.json
  ports/ltla-cppkmeans/portfile.cmake
  ports/ltla-cppkmeans/vcpkg.json
  ports/ltla-knncolle/portfile.cmake
  ports/ltla-knncolle/vcpkg.json
  ports/ltla-powerit/portfile.cmake
  ports/ltla-powerit/vcpkg.json
  ports/ltla-umappp/portfile.cmake
  ports/ltla-umappp/vcpkg.json
  versions/baseline.json
  versions/l-/ltla-aarand.json
  versions/l-/ltla-cppirlba.json
  versions/l-/ltla-cppkmeans.json
  versions/l-/ltla-knncolle.json
  versions/l-/ltla-powerit.json
  versions/l-/ltla-umappp.json
Labels: category:new-port, info:reviewed

#31358 Update VMs for Patch Tuesday May 2023
  scripts/azure-pipelines/android/create-image.ps1
  scripts/azure-pipelines/android/create-vmss.ps1
  scripts/azure-pipelines/android/setup-managed-identity.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/vcpkgTools.xml
Labels: info:internal, category:infrastructure

#31419 [jsoncons] Update to version 0.170.2
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#31414 [wasmedge] Update to 0.12.1
  ports/wasmedge/portfile.cmake
  ports/wasmedge/quotes.patch
  ports/wasmedge/vcpkg.json
  versions/baseline.json
  versions/w-/wasmedge.json
Labels: category:port-update, info:reviewed

#31398 [shader-slang] Update to v0.27.20
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: category:port-update, info:reviewed

#31381 [gdal] Update to 3.7.0
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  ports/pdal/gdal-3.7.patch
  ports/pdal/mingw.patch
  ports/pdal/portfile.cmake
  ports/pdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
  versions/p-/pdal.json
Labels: category:port-update, info:reviewed

#31271 [amqpcpp] Update to 4.3.23
  ports/amqpcpp/fix-max_min_macros.patch
  ports/amqpcpp/portfile.cmake
  ports/amqpcpp/vcpkg.json
  versions/a-/amqpcpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#31428 [toolchain] Toolchain update to remove /MP when using clang-cl custom triplets
  scripts/toolchains/uwp.cmake
  scripts/toolchains/windows.cmake
  scripts/toolchains/xbox.cmake
Labels: info:reviewed, category:tool-update

#31426 Xbox toolchain fix for CHECK_INCLUDE_FILES macro
  scripts/toolchains/xbox.cmake
Labels: info:reviewed, category:tool-update

#31392 [libgit2] Add GIT_OPENSSL OPTION to fix setting certificate location fail
  ports/libgit2/portfile.cmake
  ports/libgit2/vcpkg.json
  versions/baseline.json
  versions/l-/libgit2.json
Labels: category:port-feature, info:internal, info:reviewed

#31388 [vcpkg baseline][infoware][pciids] Update infoware and add new port pciids
  ports/infoware/cross-build.diff
  ports/infoware/portfile.cmake
  ports/infoware/vcpkg.json
  ports/pciids/acquire_pciids.cmake
  ports/pciids/portfile.cmake
  ports/pciids/vcpkg-port-config.cmake
  ports/pciids/vcpkg.json
  versions/baseline.json
  versions/i-/infoware.json
  versions/p-/pciids.json
Labels: category:new-port, category:port-update, info:reviewed

#31368 [libmysql] Fix libmysql export static library error
  ports/libmysql/export-cmake-targets.patch
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-bug, info:internal, info:reviewed

#31427 UWP toolchain switch to disable use of deprecated C++/CX extensions
  scripts/toolchains/uwp.cmake
Labels: info:reviewed, category:tool-update

#31437 [botan] Fix osx cross builds
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#31418 [bshoshany-thread-pool] Updated to v3.4.0
  ports/bshoshany-thread-pool/portfile.cmake
  ports/bshoshany-thread-pool/vcpkg.json
  versions/b-/bshoshany-thread-pool.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31435 [fineftp] add new port fineftp-v1.3.4
  ports/fineftp/asio.patch
  ports/fineftp/portfile.cmake
  ports/fineftp/vcpkg.json
  versions/baseline.json
  versions/f-/fineftp.json
Labels: category:new-port, info:reviewed

#31415 [lexbor] Add new port
  ports/lexbor/portfile.cmake
  ports/lexbor/vcpkg.json
  versions/baseline.json
  versions/l-/lexbor.json
Labels: category:new-port, info:reviewed

#31406 nghttp2: update to 1.53.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#31145 [influxdb-cxx] Update to v0.7.1
  ports/influxdb-cxx/fix-dllexports.patch
  ports/influxdb-cxx/portfile.cmake
  ports/influxdb-cxx/vcpkg.json
  versions/baseline.json
  versions/i-/influxdb-cxx.json
Labels: info:internal, category:port-update, info:reviewed

#31473 [ccfits] Support for Release-only build
  ports/ccfits/portfile.cmake
  ports/ccfits/vcpkg.json
  versions/baseline.json
  versions/c-/ccfits.json
Labels: category:port-bug, info:internal, info:reviewed

#31460 [opencascade] Fix the paths in target files for static build
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-bug, info:internal, info:reviewed

#31436 [freetype-gl] Add feature glad
  ports/freetype-gl/portfile.cmake
  ports/freetype-gl/vcpkg.json
  versions/baseline.json
  versions/f-/freetype-gl.json
Labels: category:port-feature, info:internal, info:reviewed

#31420 [libigl] Fix libigl features
  ports/libigl/install-extra-targets.patch
  ports/libigl/portfile.cmake
  ports/libigl/vcpkg.json
  versions/baseline.json
  versions/l-/libigl.json
Labels: category:port-bug, info:reviewed

#31387 [boringssl] Fix pkg-config & cmake find module compat
  ports/boringssl/install-pc-files.cmake
  ports/boringssl/portfile.cmake
  ports/boringssl/usage
  ports/boringssl/vcpkg.json
  versions/b-/boringssl.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#31499 [gdcm] Update to 3.0.22
  ports/gdcm/fix-dependence-getopt.patch
  ports/gdcm/portfile.cmake
  ports/gdcm/vcpkg.json
  versions/baseline.json
  versions/g-/gdcm.json
Labels: info:internal, category:port-update, info:reviewed

#31491 [glib] update to 2.76.2
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#31489 [openimageio] Update to 2.4.11.1
  ports/openimageio/fix-msvc-build.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-update, info:reviewed

#31487 [live555] Update version to 2023.5.10
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: info:internal, category:port-update, info:reviewed

#31484 tracy - upgrade to 0.9.1
  ports/tracy/003-fix-imgui-path.patch
  ports/tracy/004-fix-crash-handler.patch
  ports/tracy/004-fix-missing-threads-dep.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-update, info:reviewed

#31479 [simdjson] Update to 3.1.8
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#31456 [alembic] update to 1.8.5
  ports/alembic/disable-warnings-as-error.patch
  ports/alembic/fix-runtime-destination.patch
  ports/alembic/portfile.cmake
  ports/alembic/vcpkg.json
  versions/a-/alembic.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#31501 [flecs] Add usage file
  ports/flecs/portfile.cmake
  ports/flecs/usage
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-bug, info:internal, info:reviewed

#31477 [libde265] Fix incorrect pc file
  ports/libde265/fix-lib-version.patch
  ports/libde265/portfile.cmake
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: category:port-bug, info:internal, info:reviewed

#31453 [pdcurses] Add export CMake config
  ports/pdcurses/portfile.cmake
  ports/pdcurses/unofficial-pdcurses-config.cmake
  ports/pdcurses/vcpkg.json
  versions/baseline.json
  versions/p-/pdcurses.json
Labels: category:port-feature, info:internal, info:reviewed

#31509 [glslang] update to 12.2.0
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-update, info:reviewed

#31493 [harfbuzz] update to 7.2.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#31471 [vcpkg baseline][binlog] Remove binlog:arm64-android in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#31439 [vcpkg baseline][vcpkg-ci-arrow | arrow] Fix ci error
  ports/arrow/fix-ci-error.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#30429 [gettext] Split, fixes, faster build, checked-in config cache
  ports/gettext-libintl/0003-Fix-win-unicode-paths.patch
  ports/gettext-libintl/android.patch
  ports/gettext-libintl/bashify.cmake
  ports/gettext-libintl/portfile.cmake
  ports/gettext-libintl/usage
  ports/gettext-libintl/uwp.patch
  ports/gettext-libintl/vcpkg-cmake-wrapper.cmake
  ports/gettext-libintl/vcpkg.json
  ports/gettext/Makefile
  ports/gettext/bashify.cmake
  ports/gettext/macosx-libs.patch
  ports/gettext/parallel-gettext-tools.patch
  ports/gettext/portfile.cmake
  ports/gettext/subdirs.patch
  ports/gettext/vcpkg.json
  ports/mchehab-zbar/portfile.cmake
  ports/mchehab-zbar/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/g-/gettext-libintl.json
  versions/g-/gettext.json
  versions/m-/mchehab-zbar.json
Labels: category:port-bug, category:new-port, info:reviewed

#31502 [cairomm] Disable test
  ports/cairomm/portfile.cmake
  ports/cairomm/vcpkg.json
  versions/baseline.json
  versions/c-/cairomm.json
Labels: category:port-bug, info:internal, info:reviewed

#31462 [qtpositioning] devendor poly2tri
  ports/qtpositioning/devendor-poly2tri.patch
  ports/qtpositioning/portfile.cmake
  ports/qtpositioning/vcpkg.json
  versions/baseline.json
  versions/q-/qtpositioning.json
Labels: category:port-feature, info:reviewed

#31378 [fmt] Update to 10.0.0
  ports/cachelib/fmt-10.patch
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/coolprop/fmt-fix.patch
  ports/coolprop/vcpkg.json
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  ports/seacas/fix-fmt-10.patch
  ports/seacas/portfile.cmake
  ports/seacas/vcpkg.json
  ports/spdlog/fmt-10-support.patch
  ports/spdlog/portfile.cmake
  ports/spdlog/usage
  ports/spdlog/vcpkg.json
  ports/wasmedge/fmt-10.patch
  ports/wasmedge/portfile.cmake
  ports/wasmedge/vcpkg.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/c-/coolprop.json
  versions/f-/fmt.json
  versions/s-/seacas.json
  versions/s-/spdlog.json
  versions/w-/wasmedge.json
Labels: category:port-update, info:reviewed

#31562 [quill] Update to 2.9.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#31561 [charls] update to 2.4.2
  ports/charls/portfile.cmake
  ports/charls/vcpkg.json
  versions/baseline.json
  versions/c-/charls.json
Labels: info:internal, category:port-update, info:reviewed

#31560 [simde] update to 0.7.6
  ports/simde/portfile.cmake
  ports/simde/vcpkg.json
  versions/baseline.json
  versions/s-/simde.json
Labels: info:internal, category:port-update, info:reviewed

#31555 [zlib-ng] update to 2.0.7
  ports/zlib-ng/portfile.cmake
  ports/zlib-ng/vcpkg.json
  versions/baseline.json
  versions/z-/zlib-ng.json
Labels: info:internal, category:port-update, info:reviewed

#31549 [angelscript] update to 2.36.1
  ports/angelscript/portfile.cmake
  ports/angelscript/vcpkg.json
  versions/a-/angelscript.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#31543 [boinc] Update boinc to 7.22.2
  ports/boinc/fix-build.patch
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31540 [c9y] update to version 0.8.0
  ports/c9y/portfile.cmake
  ports/c9y/vcpkg.json
  versions/baseline.json
  versions/c-/c9y.json
Labels: category:port-update, info:reviewed

#31534 [flecs] update to 3.2.3
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#31523 [cpp-async] Add new port
  ports/cpp-async/portfile.cmake
  ports/cpp-async/usage
  ports/cpp-async/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-async.json
Labels: category:new-port, info:reviewed

#31482 [portable-file-dialogs] Add new port
  ports/portable-file-dialogs/portfile.cmake
  ports/portable-file-dialogs/vcpkg.json
  versions/baseline.json
  versions/p-/portable-file-dialogs.json
Labels: category:new-port, info:reviewed

#31417 [idyntree] Update to 9.0.0
  ports/idyntree/portfile.cmake
  ports/idyntree/vcpkg.json
  versions/baseline.json
  versions/i-/idyntree.json
Labels: category:port-update, info:reviewed

#31504 [gsl] fix gsl x64-linux-dynamic build by guarding win32 string replaces
  ports/gsl/CMakeLists.txt
  ports/gsl/vcpkg.json
  versions/baseline.json
  versions/g-/gsl.json
Labels: info:reviewed, category:community-triplet

#31579 [libtorrent] Update to 2.0.9
  ports/libtorrent/0001-fix-build-error-on-Windows-ARM64-by-add-new-define.patch
  ports/libtorrent/portfile.cmake
  ports/libtorrent/vcpkg.json
  versions/baseline.json
  versions/l-/libtorrent.json
Labels: info:internal, category:port-update, info:reviewed

#31575 [minizip-ng] update version to 4.0.0
  ports/minizip-ng/Modify-header-file-path.patch
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: info:internal, category:port-update, info:reviewed

#31558 [irrlicht] update to <1.8.5>
  ports/irrlicht/fix-osx-compilation.patch
  ports/irrlicht/fix-sysctl.patch
  ports/irrlicht/portfile.cmake
  ports/irrlicht/vcpkg.json
  versions/baseline.json
  versions/i-/irrlicht.json
Labels: info:internal, category:port-update, info:reviewed

#31570 [task-thread-pool] new port
  ports/task-thread-pool/portfile.cmake
  ports/task-thread-pool/vcpkg.json
  versions/baseline.json
  versions/t-/task-thread-pool.json
Labels: category:new-port, info:reviewed
