Repository microsoft/vcpkg, pull requests merged in 2023-11, with the labels that each got.

#34789 [shaderwriter] Update to version v2.7.0
  ports/shaderwriter/portfile.cmake
  ports/shaderwriter/vcpkg.json
  versions/baseline.json
  versions/s-/shaderwriter.json
Labels: category:port-update, info:reviewed

#34787 [skia] Update version to 0.38.2
  ports/skia/core-opengl32.patch
  ports/skia/disable-msvc-env-setup.patch
  ports/skia/portfile.cmake
  ports/skia/support-x86-MSVC-build.patch
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: info:internal, category:port-update, info:reviewed

#34736 [libmysql] Update to 8.0.34
  ports/libmysql/Add-target-include-directories.patch
  ports/libmysql/cross-build.patch
  ports/libmysql/dependencies.patch
  ports/libmysql/export-cmake-targets.patch
  ports/libmysql/homebrew.patch
  ports/libmysql/ignore-boost-version.patch
  ports/libmysql/install-exports.patch
  ports/libmysql/libmysql-config.cmake
  ports/libmysql/portfile.cmake
  ports/libmysql/system-libs.patch
  ports/libmysql/usage
  ports/libmysql/vcpkg-cmake-wrapper.cmake
  ports/libmysql/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-update, info:reviewed

#34641 [google-cloud-cpp] update to v2.17.0#2
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#33223 [yaml-cpp] Update to 0.8.0
  ports/yaml-cpp/portfile.cmake
  ports/yaml-cpp/vcpkg.json
  ports/yaml-cpp/yaml-cpp-pr-1212.patch
  versions/baseline.json
  versions/y-/yaml-cpp.json
Labels: category:port-update, info:reviewed

#34841 [pocketfft] add new port
  ports/pocketfft/portfile.cmake
  ports/pocketfft/vcpkg.json
  versions/baseline.json
  versions/p-/pocketfft.json
Labels: category:new-port, info:reviewed

#34822 [flagpp] Add a new port
  ports/flagpp/portfile.cmake
  ports/flagpp/vcpkg.json
  versions/baseline.json
  versions/f-/flagpp.json
Labels: category:new-port, info:internal, info:reviewed

#34369 [zoe] Add new port
  ports/zoe/portfile.cmake
  ports/zoe/vcpkg.json
  versions/baseline.json
  versions/z-/zoe.json
Labels: category:new-port, info:reviewed

#34838 [ace] Respect VCPKG_BUILD_TYPE
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#34781 [ignition-common1] use supports expressions
  ports/ignition-common1/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/i-/ignition-common1.json
Labels: category:port-feature, info:reviewed

#34741 [magnum] use supports expressions
  ports/corrade/portfile.cmake
  ports/corrade/vcpkg.json
  ports/magnum/portfile.cmake
  ports/magnum/vcpkg.json
  versions/baseline.json
  versions/c-/corrade.json
  versions/m-/magnum.json
Labels: category:port-feature, info:reviewed

#34217 [cpptrace] New port
  ports/cpptrace/libdwarf_fixes.patch
  ports/cpptrace/portfile.cmake
  ports/cpptrace/runtime_destination.patch
  ports/cpptrace/uintptr_fix.patch
  ports/cpptrace/usage
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:new-port, info:reviewed

#34801 [llvm] fix clang rescource dir
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:reviewed

#34862 [directxmesh, directxtex, directxtk, uvatlas] Update for October 2023 releases
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#34861 [cppslippi] Update CppSlippi to 1.2.3.14
  ports/cppslippi/portfile.cmake
  ports/cppslippi/vcpkg.json
  versions/baseline.json
  versions/c-/cppslippi.json
Labels: category:port-update, info:reviewed

#34859 [aws-lambda-cpp] Update version to 0.2.9
  ports/aws-lambda-cpp/portfile.cmake
  ports/aws-lambda-cpp/vcpkg.json
  versions/a-/aws-lambda-cpp.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#34856 [wolfssl] update to 5.6.4
  ports/wolfssl/fix-windows-build.patch
  ports/wolfssl/portfile.cmake
  ports/wolfssl/vcpkg.json
  ports/wolfssl/warning-and-include.patch
  versions/baseline.json
  versions/w-/wolfssl.json
Labels: category:port-update, info:reviewed

#34854 [libunibreak] update to 5.1
  ports/libunibreak/portfile.cmake
  ports/libunibreak/vcpkg.json
  versions/baseline.json
  versions/l-/libunibreak.json
Labels: category:port-update, info:reviewed

#34853 [libtommath] update to 1.2.1
  ports/libtommath/portfile.cmake
  ports/libtommath/vcpkg.json
  versions/baseline.json
  versions/l-/libtommath.json
Labels: category:port-update, info:reviewed

#34852 [librsync] update to 2.3.4
  ports/librsync/portfile.cmake
  ports/librsync/vcpkg.json
  versions/baseline.json
  versions/l-/librsync.json
Labels: category:port-update, info:reviewed

#34851 [avro-c] update to 1.11.3
  ports/avro-c/portfile.cmake
  ports/avro-c/vcpkg.json
  versions/a-/avro-c.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34849 [Glaze] version 1.5.6
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#34845 [baresip-libre] update to version 3.6.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/use-c11.patch
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34802 [fribidi] Update to 1.0.13
  ports/fribidi/portfile.cmake
  ports/fribidi/vcpkg.json
  versions/baseline.json
  versions/f-/fribidi.json
Labels: category:port-update, info:reviewed

#34850 [tacopie] Fix build for mingw
  ports/tacopie/fix-mingw-build.patch
  ports/tacopie/portfile.cmake
  ports/tacopie/vcpkg.json
  versions/baseline.json
  versions/t-/tacopie.json
Labels: category:port-bug, info:reviewed

#34839 [thorvg] Add usage and update version
  ports/thorvg/portfile.cmake
  ports/thorvg/usage
  ports/thorvg/vcpkg.json
  ports/thorvg/windows-build-option.patch
  versions/baseline.json
  versions/t-/thorvg.json
Labels: info:internal, category:port-update, info:reviewed

#34831 [gz-sensors7] New port
  ports/gz-sensors7/portfile.cmake
  ports/gz-sensors7/vcpkg.json
  versions/baseline.json
  versions/g-/gz-sensors7.json
Labels: category:new-port, info:reviewed

#34885 [reproc] Fix gcc 13 build error
  ports/reproc/fix-gcc13-build-error.patch
  ports/reproc/portfile.cmake
  ports/reproc/vcpkg.json
  versions/baseline.json
  versions/r-/reproc.json
Labels: category:port-bug, info:internal, info:reviewed

#34882 [poco] update to 1.12.5
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: info:internal, category:port-update, info:reviewed

#34868 [tesseract] Update to 5.3.3
  ports/tesseract/fix-aarch64-mfpu-not-available.patch
  ports/tesseract/fix-link-include-path.patch
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#34883 [azure-storage-common-cpp] Fix compilation when using Clang on Windows
  ports/azure-storage-common-cpp/fix-clang-on-windows.patch
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  versions/a-/azure-storage-common-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#34640 [tinyorm] added initial port TinyORM v0.36.5
  ports/tinyorm/portfile.cmake
  ports/tinyorm/vcpkg.json
  versions/baseline.json
  versions/t-/tinyorm.json
Labels: category:new-port, info:reviewed

#34711 [OpenSSL] Enabling Arm64 assembly on Windows by using clang
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#34921 [quill] Update to 3.4.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#34895 [Glaze] Update 1.5.7
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#34900 [magnum] remove empty dirs
  ports/magnum/portfile.cmake
  ports/magnum/vcpkg.json
  versions/baseline.json
  versions/m-/magnum.json
Labels: category:port-bug, info:reviewed

#34917 [mailio] update to 0.23.0
  ports/mailio/fix-library-type-and-remove-boost-test-deps.patch
  ports/mailio/portfile.cmake
  ports/mailio/vcpkg.json
  versions/baseline.json
  versions/m-/mailio.json
Labels: category:port-update

#34797 [rmqcpp] Add port for rmqcpp - a C++ RabbitMQ Client Library
  ports/rmqcpp/portfile.cmake
  ports/rmqcpp/usage
  ports/rmqcpp/vcpkg.json
  versions/baseline.json
  versions/r-/rmqcpp.json
Labels: category:new-port, info:reviewed

#34759 [sciter-js] Update to 5.0.3.0
  ports/sciter-js/portfile.cmake
  ports/sciter-js/vcpkg.json
  versions/baseline.json
  versions/s-/sciter-js.json
Labels: category:port-update, info:reviewed

#34902 [ogre next] update to 2.3.2
  ports/gz-cmake3/dependencies.patch
  ports/gz-cmake3/vcpkg.json
  ports/ogre-next/fix-pc-file.patch
  ports/ogre-next/portfile.cmake
  ports/ogre-next/toolchain_fixes.patch
  ports/ogre-next/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gz-cmake3.json
  versions/o-/ogre-next.json
Labels: category:port-update, info:reviewed

#34888 [python3] adjust sysconfig include dir to match vcpkg layout
  ports/python3/0018-fix-sysconfig-include.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#34889 [opencv] turn openvino dependency as optional feature
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:reviewed

#34898 [websocketpp] fix cpp20.patch
  ports/websocketpp/cxx20.patch
  ports/websocketpp/vcpkg.json
  versions/baseline.json
  versions/w-/websocketpp.json
Labels: category:port-bug, info:reviewed

#34944 [arrow] Update to 14.0.0
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34933 [utfcpp] Update to 4.0.2
  ports/assimp/build_fixes.patch
  ports/assimp/vcpkg.json
  ports/utfcpp/fix-include-path.patch
  ports/utfcpp/portfile.cmake
  ports/utfcpp/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
  versions/u-/utfcpp.json
Labels: category:port-update, info:reviewed

#34942 [dpp] Bump to version 10.0.28
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#34943 [DiscordCoreAPI] to v2.0.2 and [Jsonifier] to v0.9.91
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#34732 [saucer] update to 2.1.0
  ports/ereignis/portfile.cmake
  ports/ereignis/vcpkg.json
  ports/lockpp/portfile.cmake
  ports/lockpp/vcpkg.json
  ports/saucer/fix-source-generation.patch
  ports/saucer/fix_findpkg.patch
  ports/saucer/portfile.cmake
  ports/saucer/unofficial-webview2.patch
  ports/saucer/vcpkg.json
  versions/baseline.json
  versions/e-/ereignis.json
  versions/l-/lockpp.json
  versions/s-/saucer.json
Labels: info:internal, category:port-update, info:reviewed

#34969 [cppslippi] Update to 1.3.3.14
  ports/cppslippi/portfile.cmake
  ports/cppslippi/vcpkg.json
  versions/baseline.json
  versions/c-/cppslippi.json
Labels: category:port-update, info:reviewed

#34968 [Azure Storage] Update to November Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/fix-clang-on-windows.patch
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34965 [workflow] update to v0.10.9
  ports/workflow/portfile.cmake
  ports/workflow/vcpkg.json
  versions/baseline.json
  versions/w-/workflow.json
Labels: category:port-update, info:reviewed

#34960 [azure-core-amqp-cpp][azure-messaging-eventhubs-cpp] Update to November releases
  ports/azure-core-amqp-cpp/portfile.cmake
  ports/azure-core-amqp-cpp/vcpkg.json
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-core-amqp-cpp.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34955 [argparse] bump version to 3.0
  ports/argparse/portfile.cmake
  ports/argparse/vcpkg.json
  versions/a-/argparse.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34950 [sqlite3] update to 3.43.2
  ports/sqlite3/add-config-include.patch
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: info:internal, category:port-update, info:reviewed

#34753 [sail] Update to 0.9.0
  ports/sail/avif.patch
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  ports/sail/webp.patch
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#34828 [7zip] Add C headers to includes
  ports/7zip/CMakeLists.txt
  ports/7zip/vcpkg.json
  versions/7-/7zip.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#34516 [crc32c] add license
  ports/crc32c/vcpkg.json
  versions/baseline.json
  versions/c-/crc32c.json
Labels: info:reviewed, category:code-cleanup

#34928 [dartsim] fix pc dependencies
  ports/dartsim/fix-pc-dependencies.patch
  ports/dartsim/portfile.cmake
  ports/dartsim/vcpkg.json
  versions/baseline.json
  versions/d-/dartsim.json
Labels: category:port-bug, info:reviewed

#34961 [opencv4] OpenJPEG feature
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:reviewed

#34956 [vit-vit-ctpl] add port
  ports/vit-vit-ctpl/portfile.cmake
  ports/vit-vit-ctpl/vcpkg.json
  versions/baseline.json
  versions/v-/vit-vit-ctpl.json
Labels: category:new-port, info:reviewed

#34978 [mozjpeg] update to 4.1.5
  ports/mozjpeg/portfile.cmake
  ports/mozjpeg/vcpkg.json
  versions/baseline.json
  versions/m-/mozjpeg.json
Labels: category:port-update, info:reviewed

#34977 [miniaudio] update to 0.11.19
  ports/miniaudio/portfile.cmake
  ports/miniaudio/vcpkg.json
  versions/baseline.json
  versions/m-/miniaudio.json
Labels: category:port-update, info:reviewed

#34964 [glib] update to 2.78.1
  ports/glib/portfile.cmake
  ports/glib/suppress-libelf-dependency.patch
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#34958 [configcat] Update to version 3.1.0
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:port-update, info:reviewed

#34972 [tgui] Update to 1.1.0
  ports/tgui/devendor-stb.patch
  ports/tgui/fix-dependencies.patch
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: info:internal, category:port-update, info:reviewed

#34873 [google-cloud-cpp] update to latest release (v2.18.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#34990 [tinyorm] Disable warnings as errors.
  ports/tinyorm/portfile.cmake
  ports/tinyorm/vcpkg.json
  versions/baseline.json
  versions/t-/tinyorm.json
Labels: category:port-bug, info:internal, info:reviewed

#34980 [magnum] fix features
  ports/magnum/portfile.cmake
  ports/magnum/vcpkg.json
  versions/baseline.json
  versions/m-/magnum.json
Labels: category:port-feature, info:reviewed

#33295 [wolfssl] Add feature flags `dtls` and `secret-callback`
  ports/wolfssl/portfile.cmake
  ports/wolfssl/vcpkg.json
  versions/baseline.json
  versions/w-/wolfssl.json
Labels: category:port-feature, info:reviewed

#34903 [zlib-ng] add flags in .pc file
  ports/zlib-ng/fix-cflags.patch
  ports/zlib-ng/portfile.cmake
  ports/zlib-ng/vcpkg.json
  versions/baseline.json
  versions/z-/zlib-ng.json
Labels: category:port-feature, info:reviewed

#35016 [ncnn] Update to 20231027
  ports/ncnn/portfile.cmake
  ports/ncnn/vcpkg.json
  versions/baseline.json
  versions/n-/ncnn.json
Labels: info:internal, category:port-update, info:reviewed

#34975 [joltphysics] Update to 4.0.0
  ports/joltphysics/fix-export.diff
  ports/joltphysics/portfile.cmake
  ports/joltphysics/vcpkg.json
  versions/baseline.json
  versions/j-/joltphysics.json
Labels: info:internal, category:port-update, info:reviewed

#34974 [sobjectizer] Update to v.5.8.1.1
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed

#34893 [qtdeclarative] fix hidden build order dep on qtlanguageserver
  ports/qtdeclarative/vcpkg.json
  versions/baseline.json
  versions/q-/qtdeclarative.json
Labels: category:port-bug, info:reviewed

#34998 [python3] explicitly disable tkinter module on posix
  ports/python3/0012-force-disable-curses.patch
  ports/python3/0012-force-disable-modules.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#34996 [log4cxx] fix find_package error
  ports/log4cxx/fix-find-package.patch
  ports/log4cxx/portfile.cmake
  ports/log4cxx/vcpkg.json
  versions/baseline.json
  versions/l-/log4cxx.json
Labels: category:port-bug, info:internal, info:reviewed

#35012 Add msbuild feature to use z-applocal, and avoid trying to applocal deploy for non executable project types.
  scripts/buildsystems/msbuild/vcpkg-general.xml
  scripts/buildsystems/msbuild/vcpkg.props
  scripts/buildsystems/msbuild/vcpkg.targets
Labels: category:vcpkg-bug, category:vcpkg-feature, info:internal, info:reviewed

#35006 [xmlsec] no uwp
  ports/xmlsec/vcpkg.json
  versions/baseline.json
  versions/x-/xmlsec.json
Labels: category:port-bug, info:reviewed

#35004 [yara] no uwp
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-bug, info:reviewed

#34735 [itsy-bitsy,ztd-cuneicode,ztd-encoding-tables,ztd-idk,ztd-platform,ztd-static-containers] add new port
  ports/itsy-bitsy/fix-cmake-install.patch
  ports/itsy-bitsy/portfile.cmake
  ports/itsy-bitsy/vcpkg.json
  ports/ztd-cuneicode/fix-cmake-install.patch
  ports/ztd-cuneicode/portfile.cmake
  ports/ztd-cuneicode/vcpkg.json
  ports/ztd-encoding-tables/fix-cmake-install.patch
  ports/ztd-encoding-tables/portfile.cmake
  ports/ztd-encoding-tables/vcpkg.json
  ports/ztd-idk/fix-cmake-install.patch
  ports/ztd-idk/portfile.cmake
  ports/ztd-idk/vcpkg.json
  ports/ztd-platform/fix-cmake-install.patch
  ports/ztd-platform/portfile.cmake
  ports/ztd-platform/vcpkg.json
  ports/ztd-static-containers/fix-cmake.patch
  ports/ztd-static-containers/portfile.cmake
  ports/ztd-static-containers/vcpkg.json
  ports/ztd-text/fix-cmake-install.patch
  ports/ztd-text/portfile.cmake
  ports/ztd-text/usage
  ports/ztd-text/vcpkg.json
  versions/baseline.json
  versions/i-/itsy-bitsy.json
  versions/z-/ztd-cuneicode.json
  versions/z-/ztd-encoding-tables.json
  versions/z-/ztd-idk.json
  versions/z-/ztd-platform.json
  versions/z-/ztd-static-containers.json
  versions/z-/ztd-text.json
Labels: category:new-port, info:reviewed

#35077 [sentry-native] Update to 0.6.7
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#35069 [magic-enum] update to 0.9.4
  ports/magic-enum/portfile.cmake
  ports/magic-enum/vcpkg.json
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#35067 [matio] update to 1.5.26
  ports/matio/portfile.cmake
  ports/matio/vcpkg.json
  versions/baseline.json
  versions/m-/matio.json
Labels: category:port-update, info:reviewed

#35054 [aws-c-io] update to 0.13.35
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  versions/a-/aws-c-io.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35079 [vcpkg baseline][ztd-text] passing remove from fail
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#35073 [gdal] Update to 3.7.3
  ports/gdal/fix-jpeg.patch
  ports/gdal/portfile.cmake
  ports/gdal/upstream-b5858ed.diff
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#35044 [dlib] no uwp
  ports/dlib/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/dlib.json
Labels: category:port-bug, info:reviewed

#35046 [realsense2] no uwp
  ports/realsense2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-bug, info:reviewed

#35045 [nng] no uwp
  ports/nng/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/n-/nng.json
Labels: category:port-feature, info:reviewed

#35087 [usrsctp] add license
  ports/usrsctp/vcpkg.json
  versions/baseline.json
  versions/u-/usrsctp.json
Labels: info:reviewed, category:code-cleanup

#35081 [stale bot] don't mark issues as stale and not stale in the same run
  .github/workflows/stale.yml
Labels: info:reviewed, category:infrastructure

#35064 [kdalgorithms] update to 1.2
  ports/kdalgorithms/portfile.cmake
  ports/kdalgorithms/vcpkg.json
  versions/baseline.json
  versions/k-/kdalgorithms.json
Labels: category:port-update, info:reviewed

#35058 [yaml-cpp] Update patch with upstream fixes.
  ports/yaml-cpp/vcpkg.json
  ports/yaml-cpp/yaml-cpp-pr-1212.patch
  versions/baseline.json
  versions/y-/yaml-cpp.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#35056 [bext-di] Update to 1.3.0
  ports/bext-di/portfile.cmake
  ports/bext-di/vcpkg.json
  versions/b-/bext-di.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35055 [aws-c-cal] update to 0.6.9
  ports/aws-c-cal/portfile.cmake
  ports/aws-c-cal/vcpkg.json
  versions/a-/aws-c-cal.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35043 [msdfgen] Update to 1.11
  ports/msdfgen/portfile.cmake
  ports/msdfgen/vcpkg.json
  versions/baseline.json
  versions/m-/msdfgen.json
Labels: category:port-update, info:reviewed

#35039 [octomap] update to 1.9.8
  ports/octomap/portfile.cmake
  ports/octomap/vcpkg.json
  versions/baseline.json
  versions/o-/octomap.json
Labels: category:port-update, info:reviewed

#35042 [ffmpeg] Bump to 6.1
  ports/avisynthplus/clang-cl.patch
  ports/avisynthplus/portfile.cmake
  ports/avisynthplus/vcpkg.json
  ports/ffmpeg/0001-create-lib-libraries.patch
  ports/ffmpeg/0004-fix-debug-build.patch
  ports/ffmpeg/0006-fix-StaticFeatures.patch
  ports/ffmpeg/0020-fix-aarch64-libswscale.patch
  ports/ffmpeg/0024-fix-gcc13-binutils.patch
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  ports/ffnvcodec/portfile.cmake
  ports/ffnvcodec/vcpkg.json
  versions/a-/avisynthplus.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/f-/ffnvcodec.json
Labels: category:port-update, info:reviewed

#35038 [numactl] update to 2.0.16
  ports/numactl/portfile.cmake
  ports/numactl/vcpkg.json
  versions/baseline.json
  versions/n-/numactl.json
Labels: category:port-update, info:reviewed

#35037 [nsync] update to 1.26.0
  ports/nsync/portfile.cmake
  ports/nsync/vcpkg.json
  versions/baseline.json
  versions/n-/nsync.json
Labels: category:port-update, info:reviewed

#35035 [azure-identity-cpp] publish version 1.6.0
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  versions/a-/azure-identity-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35029 [Qt] Try mirrors if main server is down
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/cmake/qt_port_details.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-feature, info:reviewed

#35028 [ginkgo] Update version to 1.7.0
  ports/ginkgo/portfile.cmake
  ports/ginkgo/vcpkg.json
  versions/baseline.json
  versions/g-/ginkgo.json
Labels: category:port-update, info:reviewed

#35026 [arrow] Update to 14.0.1
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35025 [configcat] Update to version 3.1.1
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:port-update, info:reviewed

#35019 [libmt32emu] update to 2.7.1
  ports/libmt32emu/portfile.cmake
  ports/libmt32emu/vcpkg.json
  versions/baseline.json
  versions/l-/libmt32emu.json
Labels: category:port-update, info:reviewed

#34935 [llfio,ned14-internal-quickcpplib,outcome,status-code] Update to 2023-11-06
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/ned14-internal-quickcpplib/portfile.cmake
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  ports/outcome/fix-find-library.patch
  ports/outcome/fix-status-code-include.patch
  ports/outcome/portfile.cmake
  ports/outcome/vcpkg.json
  ports/status-code/add-missing-include.patch
  ports/status-code/portfile.cmake
  ports/status-code/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
  versions/o-/outcome.json
  versions/s-/status-code.json
Labels: category:port-update, info:reviewed

#34881 Improve and extract internals of vcpkg_find_acquire_program.
  scripts/cmake/vcpkg_download_sourceforge.cmake
  scripts/cmake/vcpkg_extract_archive.cmake
  scripts/cmake/vcpkg_extract_source_archive.cmake
  scripts/cmake/vcpkg_find_acquire_program(7Z).cmake
  scripts/cmake/vcpkg_find_acquire_program(ARIA2).cmake
  scripts/cmake/vcpkg_find_acquire_program(BAZEL).cmake
  scripts/cmake/vcpkg_find_acquire_program(DARK).cmake
  scripts/cmake/vcpkg_find_acquire_program(DOXYGEN).cmake
  scripts/cmake/vcpkg_find_acquire_program(GN).cmake
  scripts/cmake/vcpkg_find_acquire_program(GO).cmake
  scripts/cmake/vcpkg_find_acquire_program(GPERF).cmake
  scripts/cmake/vcpkg_find_acquire_program(JOM).cmake
  scripts/cmake/vcpkg_find_acquire_program(MESON).cmake
  scripts/cmake/vcpkg_find_acquire_program(NASM).cmake
  scripts/cmake/vcpkg_find_acquire_program(NINJA).cmake
  scripts/cmake/vcpkg_find_acquire_program(NUGET).cmake
  scripts/cmake/vcpkg_find_acquire_program(PATCHELF).cmake
  scripts/cmake/vcpkg_find_acquire_program(PERL).cmake
  scripts/cmake/vcpkg_find_acquire_program(PKGCONFIG).cmake
  scripts/cmake/vcpkg_find_acquire_program(RUBY).cmake
  scripts/cmake/vcpkg_find_acquire_program(SCONS).cmake
  scripts/cmake/vcpkg_find_acquire_program(SWIG).cmake
  scripts/cmake/vcpkg_find_acquire_program(YASM).cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/cmake/vcpkg_from_sourceforge.cmake
  scripts/ports.cmake
Labels: category:vcpkg-bug, category:vcpkg-feature, info:internal, category:code-cleanup

#35009 [cfitsio] fix uwp build
  ports/cfitsio/0006-fix-uwp.patch
  ports/cfitsio/portfile.cmake
  ports/cfitsio/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cfitsio.json
Labels: category:port-bug, info:reviewed

#35118 [sfml] Update to 2.6.1
  ports/sfml/fix-osx.patch
  ports/sfml/portfile.cmake
  ports/sfml/vcpkg.json
  versions/baseline.json
  versions/s-/sfml.json
Labels: info:internal, category:port-update, info:reviewed

#35113 [bgfx] Update to 1.122.8595-458
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35111 [ztd-static-containers] fix deps
  ports/ztd-static-containers/vcpkg.json
  versions/baseline.json
  versions/z-/ztd-static-containers.json
Labels: category:port-bug, info:reviewed

#35109 [alpaka] Update to 1.0.0
  ports/alpaka/portfile.cmake
  ports/alpaka/vcpkg.json
  versions/a-/alpaka.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35106 [libobfuscate] new port
  ports/libobfuscate/portfile.cmake
  ports/libobfuscate/vcpkg.json
  versions/baseline.json
  versions/l-/libobfuscate.json
Labels: category:new-port, info:reviewed

#35099 [wil] Update to latest v1.0.231028.1 version
  ports/wil/portfile.cmake
  ports/wil/vcpkg.json
  versions/baseline.json
  versions/w-/wil.json
Labels: category:port-update, info:reviewed

#35104 [jasper] Update to 4.1.0
  ports/jasper/no_stdc_check.patch
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
Labels: category:port-update, info:reviewed

#35101 [winsparkle] update to 0.8.1
  ports/winsparkle/portfile.cmake
  ports/winsparkle/vcpkg.json
  versions/baseline.json
  versions/w-/winsparkle.json
Labels: category:port-update, info:reviewed

#35100 [kubazip] update to 0.2.6
  ports/kubazip/portfile.cmake
  ports/kubazip/vcpkg.json
  versions/baseline.json
  versions/k-/kubazip.json
Labels: category:port-update, info:reviewed

#35105 [qt-advanced-docking-system] update to 4.2.0
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/qt.patch
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-update, info:reviewed

#35070 [aws-c-http,aws-c-auth,aws-c-s3,aws-c-mqtt,aws-c-common,aws-sdk-cpp,aws-crt-cpp] update to 0.7.14, 0.7.6, 0.3.24, 0.9.9, 0.9.9,1.11.201,0.24.7
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-http/portfile.cmake
  ports/aws-c-http/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-http.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35053 [zimpl] New port
  ports/zimpl/libm.diff
  ports/zimpl/msvc.diff
  ports/zimpl/portfile.cmake
  ports/zimpl/vcpkg.json
  versions/baseline.json
  versions/z-/zimpl.json
Labels: category:new-port, info:reviewed

#35020 [exiv2] update to 0.28.1 and fix build error
  ports/exiv2/dont-find-python.patch
  ports/exiv2/fix-expat.patch
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#35083 [restinio] Update to 0.7.0
  ports/restinio/fix-cmake-config.diff
  ports/restinio/fix-project.diff
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
  versions/baseline.json
  versions/r-/restinio.json
Labels: category:port-update, info:reviewed

#34519 [libaes-siv] New port
  ports/libaes-siv/CMakeLists.txt
  ports/libaes-siv/header_rename.patch
  ports/libaes-siv/portfile.cmake
  ports/libaes-siv/usage
  ports/libaes-siv/vcpkg.json
  versions/baseline.json
  versions/l-/libaes-siv.json
Labels: category:new-port, info:reviewed

#35047 [libvpx] Bump to 1.13.1
  ports/libvpx/0003-add-uwp-v142-and-v143-support.patch
  ports/libvpx/0005-fix-arm64-build.patch
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  ports/libvpx/vpx.pc.in
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-update, info:reviewed

#35147 [ode] update to 0.16.4
  ports/ode/portfile.cmake
  ports/ode/vcpkg.json
  versions/baseline.json
  versions/o-/ode.json
Labels: category:port-update, info:reviewed

#35135 [libressl] enable support for uwp and arm.
  ports/libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: info:reviewed, category:code-cleanup

#35132 [nuspell] update to 5.1.4
  ports/nuspell/portfile.cmake
  ports/nuspell/vcpkg.json
  versions/baseline.json
  versions/n-/nuspell.json
Labels: category:port-update, info:reviewed

#35122 [flecs] update to 3.2.9
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#35096 [unittest-cpp] Fix build failure on uwp
  ports/unittest-cpp/portfile.cmake
  ports/unittest-cpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/u-/unittest-cpp.json
Labels: category:port-bug, info:internal, info:reviewed

#35030 [geographiclib] Remove unnecessary and broken cross-compile check.
  ports/geographiclib/portfile.cmake
  ports/geographiclib/remove-broken-and-unnecessary-cross-compile-check.patch
  ports/geographiclib/vcpkg.json
  versions/baseline.json
  versions/g-/geographiclib.json
Labels: category:port-bug, info:reviewed

#35034 [itay-grudev-singleapplication] Add new port
  ports/itay-grudev-singleapplication/Config.cmake.in
  ports/itay-grudev-singleapplication/portfile.cmake
  ports/itay-grudev-singleapplication/vcpkg.json
  versions/baseline.json
  versions/i-/itay-grudev-singleapplication.json
Labels: category:new-port, info:reviewed

#35097 [jsonifier] Remove duplicate header files
  ports/jsonifier/portfile.cmake
  ports/jsonifier/uninstall-head.patch
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/j-/jsonifier.json
Labels: category:port-bug, info:internal, info:reviewed

#34999 [wintoast] Update to 1.3.0
  ports/wintoast/CMakeLists.txt
  ports/wintoast/Config.cmake.in
  ports/wintoast/portfile.cmake
  ports/wintoast/vcpkg.json
  versions/baseline.json
  versions/w-/wintoast.json
Labels: category:port-update, info:reviewed

#34994 [mongo-cxx-driver] update to 3.9.0
  ports/libbson/fix-include-directory.patch
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/disable-dynamic-when-static.patch
  ports/mongo-c-driver/fix-dependencies.patch
  ports/mongo-c-driver/fix-include-directory.patch
  ports/mongo-c-driver/fix-mingw.patch
  ports/mongo-c-driver/pkgconfig.patch
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  ports/mongo-cxx-driver/fix-dependencies.patch
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
  versions/m-/mongo-cxx-driver.json
Labels: info:internal, category:port-update, info:reviewed

#35162 [magic-enum] update to 0.9.5
  ports/magic-enum/portfile.cmake
  ports/magic-enum/vcpkg.json
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#35155 [nayuki-qr-code-generator] add license
  ports/nayuki-qr-code-generator/vcpkg.json
  versions/baseline.json
  versions/n-/nayuki-qr-code-generator.json
Labels: info:reviewed, category:code-cleanup

#35149 [openblas] update to 0.3.25
  ports/openblas/portfile.cmake
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-update, info:reviewed

#35115 [gdal] Update to 3.8.0
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#34147 [llgi] create a new port
  ports/llgi/fix-cmake-use-vcpkg.patch
  ports/llgi/fix-sources.patch
  ports/llgi/portfile.cmake
  ports/llgi/vcpkg.json
  versions/baseline.json
  versions/l-/llgi.json
Labels: category:new-port, info:reviewed

#35150 [live555] update to 2023-11-08
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: info:internal, category:port-update, info:reviewed

#35131 [imgui] Update to 1.90
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#34925 [aom] Bump to 3.7.0
  ports/aom/aom-rename-static.diff
  ports/aom/aom-uninitialized-pointer.diff
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34874 [tracy] fix manifest mode build
  ports/tracy/001-fix-vcxproj-vcpkg.patch
  ports/tracy/002-use-internal-imgui.patch
  ports/tracy/005-fix-imgui-path-legacy.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-bug, info:reviewed

#34887 [vcpkg baseline][libmysql] fix libmysql and libmariadb are incompatible on x86-windows
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure, requires:vcpkg-team-review

#35201 [vcpkg baseline][libvpx/libressl] Update status in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#35199 [tree-sitter] fix a typo in pkg-config file
  ports/tree-sitter/pkgconfig.patch
  ports/tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter.json
Labels: category:port-bug, info:reviewed

#35194 [libde265] Update to 1.0.12
  ports/libde265/fix-lib-version.patch
  ports/libde265/portfile.cmake
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: category:port-update, info:reviewed

#35170 [vcpkg baseline][status-code] passing remove from fail
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#35191 [glslang] fix tools
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-bug, info:reviewed
