Repository microsoft/vcpkg, pull requests merged in 2023-07, with the labels that each got.

#32302 [async-mqtt] Update async-mqtt version to 1.0.5.
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32301 [igraph] update to 0.10.5
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#32299 [google-cloud-cpp] update to 2.12.0
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#32296 [nowide] Update to 11.3.0
  ports/nowide/portfile.cmake
  ports/nowide/vcpkg.json
  versions/baseline.json
  versions/n-/nowide.json
Labels: info:internal, category:port-update, info:reviewed

#32294 [cairo] Add usage
  ports/cairo/portfile.cmake
  ports/cairo/usage
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-feature, info:internal, info:reviewed

#32289 [openssl] Use bash from PATH rather then /bin
  ports/openssl/unix/configure
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#32320 [vcpkg baseline][halide] Add x86-windows=fail in ci.baseline.txt temporarily
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#32298 [vcpkg baseline][colmap/graphicsmagick/llfio/mfl/mp-units] Modify ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#32403 [highway] Bump to 1.0.4
  ports/highway/portfile.cmake
  ports/highway/vcpkg.json
  versions/baseline.json
  versions/h-/highway.json
Labels: category:port-update, info:reviewed

#32388 [arrayfire] Fix compilation missing macro variables
  ports/arrayfire/build.patch
  ports/arrayfire/vcpkg.json
  ports/clblast/fix_install_path.patch
  ports/clblast/portfile.cmake
  ports/clblast/vcpkg.json
  versions/a-/arrayfire.json
  versions/baseline.json
  versions/c-/clblast.json
Labels: category:port-bug, info:internal, info:reviewed

#32384 [cudnn] Fix cudnn on arm64 architecture
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  versions/baseline.json
  versions/c-/cudnn.json
Labels: info:reviewed, category:community-triplet

#32381 [libffi] Fix mingw output name, cleanup
  ports/libffi/CMakeLists.txt
  ports/libffi/libffiConfig.cmake.in
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-bug, info:reviewed

#32372 [blend2d] update port to 2023-06-16
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
  versions/b-/blend2d.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32369 [simdjson] Update to 3.2.0
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#32367 [sleepy-discord] Fix missing header
  ports/sleepy-discord/fix-boost.patch
  ports/sleepy-discord/fix-messing-header.patch
  ports/sleepy-discord/portfile.cmake
  ports/sleepy-discord/vcpkg.json
  versions/baseline.json
  versions/s-/sleepy-discord.json
Labels: category:port-bug, info:internal, info:reviewed

#32366 [geogram] Enable MacOs+Arm64 build
  ports/geogram/vcpkg.json
  versions/baseline.json
  versions/g-/geogram.json
Labels: category:port-feature, info:internal, info:reviewed

#32350 [quill] Update to 3.1.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#32344 [flatbush] update to v1.2.0
  ports/flatbush/portfile.cmake
  ports/flatbush/vcpkg.json
  versions/baseline.json
  versions/f-/flatbush.json
Labels: category:port-update, info:reviewed

#32335 [osg] Fix examples and tools
  ports/osg/fix-sdl.patch
  ports/osg/portfile.cmake
  ports/osg/vcpkg.json
  versions/baseline.json
  versions/o-/osg.json
Labels: category:port-bug, info:reviewed

#32332 [libepoxy] More platforms
  ports/libepoxy/portfile.cmake
  ports/libepoxy/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libepoxy.json
Labels: category:port-bug, info:reviewed

#32326 [async-mqtt]Update async-mqtt version to 1.0.6.
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32324 [cli] Update the version to 2.1
  ports/cli/portfile.cmake
  ports/cli/vcpkg.json
  versions/baseline.json
  versions/c-/cli.json
Labels: category:port-update, info:reviewed

#32316 [enet] export .pc file
  ports/enet/CMakeLists.txt
  ports/enet/vcpkg.json
  versions/baseline.json
  versions/e-/enet.json
Labels: category:port-feature, info:internal, info:reviewed

#32312 [libdjinterop] Fix find_package error
  ports/libdjinterop/portfile.cmake
  ports/libdjinterop/vcpkg.json
  versions/baseline.json
  versions/l-/libdjinterop.json
Labels: category:port-bug, info:internal, info:reviewed

#32280 [pfring] Update version and portfile
  ports/pfring/makefile.patch
  ports/pfring/portfile.cmake
  ports/pfring/use-vcpkg-libpcap.patch
  ports/pfring/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pfring.json
Labels: category:port-bug, category:port-update, info:reviewed

#32259 [xerces-c] Fix dependencies
  ports/libe57/vcpkg.json
  ports/xerces-c/dependencies.patch
  ports/xerces-c/portfile.cmake
  ports/xerces-c/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libe57.json
  versions/x-/xerces-c.json
Labels: category:port-bug, info:reviewed

#32152 [gperftools] update supports expressions
  ports/gperftools/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gperftools.json
Labels: category:port-feature, info:reviewed

#32084 [libmupdf] add ocr feature
  ports/libmupdf/CMakeLists.txt
  ports/libmupdf/portfile.cmake
  ports/libmupdf/vcpkg.json
  versions/baseline.json
  versions/l-/libmupdf.json
Labels: category:port-feature, info:reviewed

#32380 [folly/fbthrift/proxygen/wangle/fizz] update to 2023.07.03.00
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: info:internal, category:port-update, info:reviewed

#31607 [coin-or-cbc] Add new port
  ports/coin-or-cbc/disable_glpk.patch
  ports/coin-or-cbc/pkgconf_win.patch
  ports/coin-or-cbc/portfile.cmake
  ports/coin-or-cbc/vcpkg.json
  versions/baseline.json
  versions/c-/coin-or-cbc.json
Labels: category:new-port, info:reviewed

#31506 [omniverse-physx-sdk] Add new port
  ports/omniverse-physx-sdk/omniverse-physx-sdk-config.cmake
  ports/omniverse-physx-sdk/portfile.cmake
  ports/omniverse-physx-sdk/usage
  ports/omniverse-physx-sdk/vcpkg.json
  versions/baseline.json
  versions/o-/omniverse-physx-sdk.json
Labels: category:new-port, info:reviewed

#32409 [tree-similarity] Fix wrong port name in usage file
  ports/tree-similarity/usage
  ports/tree-similarity/vcpkg.json
  versions/baseline.json
  versions/t-/tree-similarity.json
Labels: category:port-feature, info:reviewed

#32408 [marl] Update to latest commit
  ports/marl/portfile.cmake
  ports/marl/vcpkg.json
  versions/baseline.json
  versions/m-/marl.json
Labels: info:internal, category:port-update, info:reviewed

#32370 [iir1] Update to 1.9.4
  ports/iir1/fix-shared-lib.patch
  ports/iir1/fix-shared-static.patch
  ports/iir1/portfile.cmake
  ports/iir1/vcpkg.json
  versions/baseline.json
  versions/i-/iir1.json
Labels: category:port-update, info:reviewed

#32368 [croncpp] Update to latest commit
  ports/croncpp/0001-fix-cmake.patch
  ports/croncpp/no-test.patch
  ports/croncpp/portfile.cmake
  ports/croncpp/vcpkg.json
  versions/baseline.json
  versions/c-/croncpp.json
Labels: info:internal, category:port-update, info:reviewed

#32420 [omniverse-physx-sdk] Updated omniverse-pysx-sdk to 105.0 (Kit 105.0, PhysX SDK 5.2.1)
  ports/omniverse-physx-sdk/portfile.cmake
  ports/omniverse-physx-sdk/vcpkg.json
  versions/baseline.json
  versions/o-/omniverse-physx-sdk.json
Labels: category:port-update, info:reviewed

#32410 [wampcc] fix feature examples under gcc-11
  ports/wampcc/gcc-11.patch
  ports/wampcc/portfile.cmake
  ports/wampcc/vcpkg.json
  versions/baseline.json
  versions/w-/wampcc.json
Labels: category:port-bug, info:reviewed

#32392 [z_vcpkg_apply_patches] core.filemode=true
  scripts/cmake/z_vcpkg_apply_patches.cmake
Labels: info:reviewed, category:tool-update

#32278 [libev] add port
  ports/libev/libevConfig.cmake
  ports/libev/portfile.cmake
  ports/libev/vcpkg.json
  versions/baseline.json
  versions/l-/libev.json
Labels: category:new-port, info:reviewed

#32330 [vk-bootstrap] Fix CMake config for non-windows
  ports/vk-bootstrap/portfile.cmake
  ports/vk-bootstrap/vcpkg.json
  ports/vk-bootstrap/vk-bootstrap-config.cmake
  ports/vk-bootstrap/vk-bootstrap-targets-debug.cmake
  ports/vk-bootstrap/vk-bootstrap-targets-release.cmake
  versions/baseline.json
  versions/v-/vk-bootstrap.json
Labels: category:port-bug, info:reviewed

#32352 [vcpkg-ci-llvm] Find cacheable feature sets
  scripts/test_ports/vcpkg-ci-llvm/vcpkg.json
Labels: category:port-feature, info:reviewed

#32414 [live555] update to 2023-06-20
  ports/live555/CMakeLists.txt
  ports/live555/fix_operator_overload.patch
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#29093 [rocksdb] update to v8.3.2, add/rework features
  ports/rocksdb/0004-fix-dependency-in-config.patch
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-feature, category:port-update, info:reviewed

#32393 [imgui] Update to 1.89.7
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  ports/implot/fix-build.patch
  ports/implot/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
  versions/i-/implot.json
Labels: category:port-update, info:reviewed

#32406 [mysql-connector-cpp] Fix incorrect usage of MAYBE_UNUSED_VARIABLES
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:port-bug, info:reviewed

#31961 [bde] Updated to 3.117.0
  ports/bde/portfile.cmake
  ports/bde/vcpkg.json
  scripts/ci.baseline.txt
  versions/b-/bde.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32287 [curl] Update libssh2/brotli/c-ares dependencies
  ports/curl/0023-fix-find-cares.patch
  ports/curl/cmake-project-include.cmake
  ports/curl/dependencies.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg-cmake-wrapper.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#32116 [sentry-native] Allow ARM builds outside of macOS
  ports/sentry-native/vcpkg.json
  versions/s-/sentry-native.json
Labels: category:port-bug, info:reviewed

#32391 [google-cloud-cpp] update to latest release (v2.13.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#32467 [fdk-aac] add license field and use vcpkg_install_copyright()
  ports/fdk-aac/portfile.cmake
  ports/fdk-aac/vcpkg.json
  versions/baseline.json
  versions/f-/fdk-aac.json
Labels: info:reviewed, category:code-cleanup

#32462 [ghc-filesystem] update to 1.5.14
  ports/ghc-filesystem/portfile.cmake
  ports/ghc-filesystem/vcpkg.json
  versions/baseline.json
  versions/g-/ghc-filesystem.json
Labels: info:internal, category:port-update, info:reviewed

#32459 [mongo-cxx-driver] Update to 3.7.2
  ports/mongo-cxx-driver/fix-msvc-cxx17.patch
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: category:port-update, info:reviewed

#32450 [libheif] Update to version 1.16.2
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-update, info:reviewed

#32449 [benchmark] Update to 1.8.2
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32444 [Jsonifier] Updating to v0.9.4
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#32194 [pybind11] update to v2.10.4
  ports/pybind11/portfile.cmake
  ports/pybind11/usage
  ports/pybind11/vcpkg.json
  ports/shiva/find_python_and_no_copy_dll.patch
  ports/shiva/no_copy_dll.patch
  ports/shiva/portfile.cmake
  ports/shiva/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pybind11.json
  versions/s-/shiva.json
Labels: category:port-update, info:reviewed

#32441 [CI Baseline] Ports passing, remove from fail list
  scripts/ci.baseline.txt
Labels: category:port-bug

#31772 [vcpkg baseline][graphviz/think-cell-range/geotrans] Fix download error
  ports/geotrans/portfile.cmake
  ports/geotrans/vcpkg.json
  ports/graphviz/portfile.cmake
  ports/graphviz/vcpkg.json
  ports/think-cell-range/portfile.cmake
  ports/think-cell-range/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/geotrans.json
  versions/g-/graphviz.json
  versions/t-/think-cell-range.json
Labels: category:port-bug, info:internal, info:reviewed

#32453 [zydis] hardcode static define
  ports/zydis/portfile.cmake
  ports/zydis/vcpkg.json
  versions/baseline.json
  versions/z-/zydis.json
Labels: category:port-bug, info:reviewed

#32451 [asmtk] Fix downstream usage
  ports/asmtk/portfile.cmake
  ports/asmtk/vcpkg.json
  versions/a-/asmtk.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#32430 [cairo] update license info and add all licenses to copyright file
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-feature, info:reviewed

#32404 [sqlite3] Fix option passing
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-bug, info:reviewed

#32226 Remove entries already covered by support expressions
  scripts/ci.baseline.txt
Labels: info:reviewed, category:infrastructure

#32482 Remove crash workaround skips from ci.baseline.txt.
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#32348 [liblzma] Fix downstream linker warnings
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-bug, info:reviewed

#32389 [RealSense] Update to 2.54.1
  ports/realsense2/fix_config_osx.patch
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-update, info:reviewed

#32440 [libssh2,libgit2,vcpkg-ci-libgit2] Fix, test, cleanup
  ports/libgit2/c-standard.diff
  ports/libgit2/cli-include-dirs.diff
  ports/libgit2/dependencies.diff
  ports/libgit2/fix-configcmake.patch
  ports/libgit2/mingw-winhttp.diff
  ports/libgit2/portfile.cmake
  ports/libgit2/unofficial-config-export.diff
  ports/libgit2/unofficial-git2-config.cmake
  ports/libgit2/unofficial-libgit2-config.cmake
  ports/libgit2/usage
  ports/libgit2/vcpkg.json
  ports/libssh2/portfile.cmake
  ports/libssh2/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-libgit2/portfile.cmake
  scripts/test_ports/vcpkg-ci-libgit2/vcpkg.json
  versions/baseline.json
  versions/l-/libgit2.json
  versions/l-/libssh2.json
Labels: category:port-bug, info:reviewed

#32502 [nghttp3] Update 0.13.0
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#32501 [ngtcp2] update 0.17.0
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-update, info:reviewed

#32498 [libcroco] add license id and use vcpkg_install_copyright()
  ports/libcroco/portfile.cmake
  ports/libcroco/vcpkg.json
  versions/baseline.json
  versions/l-/libcroco.json
Labels: category:port-feature, info:reviewed

#32496 [fribidi] add license id and use vcpkg_install_copyright()
  ports/fribidi/portfile.cmake
  ports/fribidi/vcpkg.json
  versions/baseline.json
  versions/f-/fribidi.json
Labels: category:port-feature, info:reviewed

#32471 [vcpkg baseline][libev]fix conflict file with libevent
  ports/libev/portfile.cmake
  ports/libev/vcpkg.json
  versions/baseline.json
  versions/l-/libev.json
Labels: category:port-bug, info:internal, info:reviewed

#32486 [DiscordCoreAPI] Updating to v1.50
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#32481 [libunifex] Update to 2023-06-07 (v0.3.0)
  ports/libunifex/portfile.cmake
  ports/libunifex/vcpkg.json
  versions/baseline.json
  versions/l-/libunifex.json
Labels: category:port-update, info:reviewed

#32476 [tiff] set correct license id in license field
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-feature, info:reviewed

#32474 [cpp-httplib] Update to v0.13.1
  ports/cpp-httplib/fix-find-brotli.patch
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: info:internal, category:port-update, info:reviewed

#32469 [redis-plus-plus] Update to 1.3.10
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: info:internal, category:port-update, info:reviewed

#32455 [polyhook2] Fix static linkage for downstream consumers.
  ports/polyhook2/fix-dep.patch
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  versions/baseline.json
  versions/p-/polyhook2.json
Labels: category:port-bug, info:reviewed

#32504 [libuuid] add license id and use vcpkg_install_copyright()
  ports/libuuid/portfile.cmake
  ports/libuuid/vcpkg.json
  versions/baseline.json
  versions/l-/libuuid.json
Labels: category:port-feature

#32485 [vcpkg doc] Update doc link in README_zh_CN.md
  README_zh_CN.md
Labels: category:documentation

#32491 [angle] Fix typo
  ports/angle/cmake-buildsystem/CMakeLists.txt
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#32472 [libev] change package name to unofficial-libev
  ports/libev/portfile.cmake
  ports/libev/unofficial-libev-config.cmake
  ports/libev/vcpkg.json
  versions/baseline.json
  versions/l-/libev.json
Labels: category:port-feature, info:reviewed

#32495 [dirent] add license id and use vcpkg_install_copyright()
  ports/dirent/portfile.cmake
  ports/dirent/vcpkg.json
  versions/baseline.json
  versions/d-/dirent.json
Labels: category:port-feature

#32468 [flann] Fix pop_t is not defined under non-gunc platform.
  ports/flann/fix_undefined_pot_t.patch
  ports/flann/portfile.cmake
  ports/flann/vcpkg.json
  versions/baseline.json
  versions/f-/flann.json
Labels: category:port-bug, info:internal, info:reviewed

#32516 [Azure Storage] Update to July Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32510 [lunasvg] Update 2.3.8
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:port-update, info:reviewed

#32489 [harfbuzz] Update to 8.0.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: info:internal, category:port-update, info:reviewed

#32484 Update passing remove from fail lists 2023-07-10.
  ports/chipmunk/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/chipmunk.json
Labels: category:infrastructure

#32523 [nameof] Bump to 0.10.3
  ports/nameof/portfile.cmake
  ports/nameof/usage
  ports/nameof/vcpkg.json
  versions/baseline.json
  versions/n-/nameof.json
Labels: category:port-update

#32525 [libuv] Bump to 1.46.0
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-update

#32536 [geotrans] Passes now on Android.
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#32535 [nghttp2]: update to 1.55.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#32531 [xcb-proto] set license id and use vcpkg_install_copyright()
  ports/xcb-proto/portfile.cmake
  ports/xcb-proto/vcpkg.json
  versions/baseline.json
  versions/x-/xcb-proto.json
Labels: category:port-feature, info:reviewed

#32534 [sentry-native] update to 0.6.5
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#32529 [baresip-libre] Fix incorrect condition in patch file
  ports/baresip-libre/use-c11.patch
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#32544 [cryptopp] Update version to 8.8.0
  ports/cryptopp/fix-git-branch.patch
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: info:internal, category:port-update, info:reviewed

#32533 [curl] Add zstd feature.
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, info:reviewed

#32503 [boost-filesystem]There is a space problem in modifying the file path
  ports/boost-modular-build-helper/Jamroot.jam.in
  ports/boost-modular-build-helper/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#32527 [librsvg] add license id and use vcpkg_install_copyright()
  ports/librsvg/portfile.cmake
  ports/librsvg/vcpkg.json
  versions/baseline.json
  versions/l-/librsvg.json
Labels: category:port-feature, info:reviewed

#32545 [pango] set correct license id and use vcpkg_install_copyright()
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: info:reviewed, category:code-cleanup

#32549 [date] set correct license and use vcpkg_install_copyright()
  ports/date/portfile.cmake
  ports/date/vcpkg.json
  versions/baseline.json
  versions/d-/date.json
Labels: category:port-feature, info:internal, info:reviewed

#32546 [bext-ut] Update to latest commit
  ports/bext-ut/avoid-cpm.patch
  ports/bext-ut/portfile.cmake
  ports/bext-ut/pr-521.patch
  ports/bext-ut/vcpkg.json
  versions/b-/bext-ut.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#21644 [libwebp] Do not emit AVX when not requested by the toolchain
  ports/libwebp/0007-fix-arm-build.patch
  ports/libwebp/vcpkg.json
  versions/baseline.json
  versions/l-/libwebp.json
Labels: category:port-bug, info:internal, info:reviewed

#32558 [vcpkg baseline][polyhook2] remove from ci.baseline
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#32561 [vcpkg baseline][openvino] Disable find pybind11
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-bug, info:internal, info:reviewed

#32500 [qt5-base] fix building with mac dynamic triplet
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug

#30196 [lunasvg] Add usage
  ports/lunasvg/fix-cmake.patch
  ports/lunasvg/fix-install.patch
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:port-feature, info:internal, info:reviewed

#32063 [opentelemetry-fluentd] Add new port
  ports/opentelemetry-fluentd/portfile.cmake
  ports/opentelemetry-fluentd/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-fluentd.json
Labels: category:new-port

#32563 [vcpkg baseline] Update discordcoreapi, jsonifier version
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-bug, info:internal, category:port-update

#31318 [pybind11] Fix debug link failure
  ports/pybind11/fix-debug-link.patch
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-bug, info:internal, info:reviewed

#32323 [gstreamer] simplyfy
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:reviewed

#32526 [uvw] Bump to 3.2.0
  ports/uvw/portfile.cmake
  ports/uvw/usage
  ports/uvw/vcpkg.json
  versions/baseline.json
  versions/u-/uvw.json
Labels: category:port-update, info:reviewed

#32559 [gdal] Update to 3.7.1
  ports/gdal/gdal-pr-8005.diff
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#32562 [nu-book-zxing-cpp] Update to 2.1.0
  ports/nu-book-zxing-cpp/portfile.cmake
  ports/nu-book-zxing-cpp/vcpkg.json
  versions/baseline.json
  versions/n-/nu-book-zxing-cpp.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#32567 Skip OpenVINO in CI due to conflict with oneDNN.
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#32537 Patch Tuesday July 2023
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#32513 [vulkan-memory-allocator] Update port to current ToT
  ports/vulkan-memory-allocator/gcc13.patch
  ports/vulkan-memory-allocator/portfile.cmake
  ports/vulkan-memory-allocator/unofficial-vulkan-memory-allocator-config.cmake
  ports/vulkan-memory-allocator/usage
  ports/vulkan-memory-allocator/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-memory-allocator.json
Labels: category:port-bug, category:port-update, info:reviewed

#32568 [physx] Update to 5.x
  ports/omniverse-physx-sdk/portfile.cmake
  ports/omniverse-physx-sdk/vcpkg.json
  ports/physx/fix-compiler-flag.patch
  ports/physx/omniverse-physx-sdk-config.cmake
  ports/physx/portfile.cmake
  ports/physx/remove-werror.patch
  ports/physx/usage
  ports/physx/vcpkg.json
  versions/baseline.json
  versions/p-/physx.json
Labels: category:port-bug, info:internal, info:reviewed

#32540 [atk] set correct license id and use vcpkg_install_copyright()
  ports/atk/portfile.cmake
  ports/atk/vcpkg.json
  versions/a-/atk.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#31716 [ctbench] Add portfile
  ports/ctbench/portfile.cmake
  ports/ctbench/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/ctbench.json
Labels: category:new-port, info:reviewed

#32058 [bgfx] Update to 1.121.8534-453
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  scripts/ci.baseline.txt
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32564 [glaze] Update to version 1.3.2
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update

#32614 [igraph] update to 0.10.6
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#32609 [armadillo] update to 12.4.1
  ports/armadillo/portfile.cmake
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#32548 [sqlcipher] Fix the sqlcipher.pc file
  ports/sqlcipher/CMakeLists.txt
  ports/sqlcipher/portfile.cmake
  ports/sqlcipher/vcpkg.json
  versions/baseline.json
  versions/s-/sqlcipher.json
Labels: category:port-bug, info:internal, info:reviewed

#32605 [libjxl] Update to version 0.8.2
  ports/libjxl/portfile.cmake
  ports/libjxl/vcpkg.json
  versions/baseline.json
  versions/l-/libjxl.json
Labels: category:port-update

#32629 [strtk] Add feature boost
  ports/strtk/portfile.cmake
  ports/strtk/vcpkg.json
  versions/baseline.json
  versions/s-/strtk.json
Labels: category:port-feature, info:internal, info:reviewed

#32419 [pcl] Update to 1.13.1
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: info:internal, category:port-update, info:reviewed

#32620 [pango] Silence false positive in pango when using GCC 13
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: category:port-bug, info:reviewed

#32625 [antlr4] Update to 4.13
  ports/antlr4/export_guid.patch
  ports/antlr4/fix_build_4.11.1.patch
  ports/antlr4/portfile.cmake
  ports/antlr4/set-export-macro-define-as-private.patch
  ports/antlr4/vcpkg.json
  versions/a-/antlr4.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32628 [quantlib] update to v1.31
  ports/quantlib/portfile.cmake
  ports/quantlib/remove-amortizingbonds-all.patch
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update, info:reviewed

#32621 [manif] Add new port
  ports/manif/portfile.cmake
  ports/manif/vcpkg.json
  versions/baseline.json
  versions/m-/manif.json
Labels: category:new-port, info:reviewed

#32599 [qt5-base] Fix open CVEs
  ports/qt5-base/patches/CVE-2023-24607-qtbase-5.15.diff
  ports/qt5-base/patches/CVE-2023-37369-qtbase-5.15.diff
  ports/qt5-base/patches/CVE-2023-38197-qtbase-5.15.diff
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature

#32645 Skip bde due to conflict with pcre and ryu.
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#32652 [mfl] Disable warnings as errors.
  ports/mfl/portfile.cmake
  ports/mfl/vcpkg.json
  versions/baseline.json
  versions/m-/mfl.json
Labels: category:port-bug, info:internal, info:reviewed

#32650 [implot] Update to 0.15
  ports/implot/fix-build.patch
  ports/implot/portfile.cmake
  ports/implot/vcpkg.json
  versions/baseline.json
  versions/i-/implot.json
Labels: category:port-update, info:reviewed

#32654 [kealib] Block attempting to load gdal's package.
  ports/kealib/portfile.cmake
  ports/kealib/vcpkg.json
  versions/baseline.json
  versions/k-/kealib.json
Labels: category:port-bug, info:internal, info:reviewed

#30893 [salome-med-fichier] new port
  ports/salome-med-fichier/hdf5-2.patch
  ports/salome-med-fichier/hdf5.patch
  ports/salome-med-fichier/more-fixes.patch
  ports/salome-med-fichier/portfile.cmake
  ports/salome-med-fichier/vcpkg.json
  versions/baseline.json
  versions/s-/salome-med-fichier.json
Labels: category:new-port

#32649 Update vcpkg-tool to 2023-07-19.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, info:reviewed, category:infrastructure

#32656 [curl] update to 8.2.0
  ports/curl/dependencies.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: info:internal, category:port-update, info:reviewed

#32678 [daw-json-link] Update version to 3.19.0
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: info:internal, category:port-update, info:reviewed

#32680 [sqlpp11] Fix link sqlite3 error
  ports/sqlpp11/fix_link_sqlite3.patch
  ports/sqlpp11/portfile.cmake
  ports/sqlpp11/vcpkg.json
  versions/baseline.json
  versions/s-/sqlpp11.json
Labels: category:port-bug, info:internal, info:reviewed

#31984 [vcpkg scripts] Fix check the different features have the same feature variable in function vcpkg_check_features
  ports/libsbml/portfile.cmake
  ports/libsbml/vcpkg.json
  ports/mnn/portfile.cmake
  ports/mnn/vcpkg.json
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  scripts/cmake/vcpkg_check_features.cmake
  versions/baseline.json
  versions/l-/libsbml.json
  versions/m-/mnn.json
  versions/o-/ogre.json
Labels: category:port-bug, info:internal, info:reviewed, category:tool-update

#32726 [configcat] Update to version 3.0.0
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:port-update, info:reviewed

#32718 [clipper2] update to 1.2.2
  ports/clipper2/portfile.cmake
  ports/clipper2/vcpkg.json
  versions/baseline.json
  versions/c-/clipper2.json
Labels: info:internal, category:port-update, info:reviewed

#32717 [xxhash] update to 0.8.2
  ports/xxhash/fix_xxhsum1_path.patch
  ports/xxhash/portfile.cmake
  ports/xxhash/vcpkg.json
  versions/baseline.json
  versions/x-/xxhash.json
Labels: info:internal, category:port-update, info:reviewed

#32716 [vcpkg baseline][concurrencpp] remove concurrencpp:x64-linux from ci.baseline
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#32707 [qt5-tools] Fix build fail with mingw
  ports/qt5-declarative/vcpkg.json
  ports/qt5-tools/fix-pkgconfig-qt5uiplugin-not-found.patch
  ports/qt5-tools/portfile.cmake
  ports/qt5-tools/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-declarative.json
  versions/q-/qt5-tools.json
Labels: category:port-bug, info:reviewed

#32705 [brpc] update to 1.5.0
  ports/brpc/fix-build.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32687 [openal-soft] Update to 1.23.1
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-update, info:reviewed
