Repository microsoft/vcpkg, pull requests merged in 2023-01, with the labels that each got.

#23312 [ffmpeg] Update to 5.0
  ports/ffmpeg/0001-create-lib-libraries.patch
  ports/ffmpeg/0003-fix-windowsinclude.patch
  ports/ffmpeg/0004-fix-debug-build.patch
  ports/ffmpeg/0006-fix-StaticFeatures.patch
  ports/ffmpeg/0007-fix-lib-naming.patch
  ports/ffmpeg/0009-Fix-fdk-detection.patch
  ports/ffmpeg/0010-Fix-x264-detection.patch
  ports/ffmpeg/0011-Fix-x265-detection.patch
  ports/ffmpeg/0012-Fix-ssl-110-detection.patch
  ports/ffmpeg/0013-define-WINVER.patch
  ports/ffmpeg/0014-avfilter-dependency-fix.patch
  ports/ffmpeg/0015-Fix-xml2-detection.patch
  ports/ffmpeg/0017-Patch-for-ticket-9019-CUDA-Compile-Broken-Using-MSVC.patch
  ports/ffmpeg/0018-libaom-Dont-use-aom_codec_av1_dx_algo.patch
  ports/ffmpeg/0019-libx264-Do-not-explicitly-set-X264_API_IMPORTS.patch
  ports/ffmpeg/0020-fix-aarch64-libswscale.patch
  ports/ffmpeg/0021-fix-sdl2-version-check.patch
  ports/ffmpeg/0022-fix-iconv.patch
  ports/ffmpeg/0022-fix-m1-hardware-decode-nal-bits.patch
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#28532 [libenvpp] new port
  ports/libenvpp/fix-dependencies.patch
  ports/libenvpp/fix-install.patch
  ports/libenvpp/portfile.cmake
  ports/libenvpp/vcpkg.json
  versions/baseline.json
  versions/l-/libenvpp.json
Labels: category:new-port, info:reviewed

#27717 [nethost] Update to 7.0.0
  ports/nethost/0001-nethost-cmakelists.patch
  ports/nethost/portfile.cmake
  ports/nethost/vcpkg.json
  versions/baseline.json
  versions/n-/nethost.json
Labels: category:port-update, info:reviewed

#28680 [vcpkg baseline][pangolin] Fix regressions
  ports/pangolin/devendor-palsigslot.patch
  ports/pangolin/portfile.cmake
  ports/pangolin/usage
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: category:port-bug, info:reviewed

#28634 [hunspell] Update hunspell in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#28633 [vcpkg baseline][monkeys-audio] Fixing error C2471 and error C1090
  ports/monkeys-audio/fix-C2471.patch
  ports/monkeys-audio/portfile.cmake
  ports/monkeys-audio/vcpkg.json
  versions/baseline.json
  versions/m-/monkeys-audio.json
Labels: category:port-bug, info:internal, info:reviewed

#28352 [vcpkg baseline][marisa-trie] Fix conflict file include/Makefile.am with hunspell
  ports/marisa-trie/portfile.cmake
  ports/marisa-trie/vcpkg.json
  scripts/cmake/vcpkg_install_msbuild.cmake
  versions/baseline.json
  versions/m-/marisa-trie.json
Labels: category:port-bug, info:internal, info:reviewed

#28701 [cryptopp] Avoid redownloading source code
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-bug, info:reviewed

#28696 [spirv-reflect] Remove vulkan dependency
  ports/spirv-reflect/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-reflect.json
Labels: category:port-feature, info:reviewed

#28689 [ChakraCore] Fix Linux build (/lib only)
  ports/chakracore/portfile.cmake
  ports/chakracore/vcpkg.json
  versions/baseline.json
  versions/c-/chakracore.json
Labels: category:port-bug, info:reviewed

#28679 [lapack-reference] Update, fixes
  ports/lapack-reference/cmake-config.patch
  ports/lapack-reference/portfile.cmake
  ports/lapack-reference/usage
  ports/lapack-reference/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/l-/lapack-reference.json
Labels: category:port-update, info:reviewed, category:tool-update

#28672 [hazelcast-cpp-client] update to v5.1.0
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#28670 [tinyexr] update to 1.0.1 and fix compiling with clang on android
  ports/tinyexr/fixtargets.patch
  ports/tinyexr/portfile.cmake
  ports/tinyexr/vcpkg.json
  versions/baseline.json
  versions/t-/tinyexr.json
Labels: category:port-update, info:reviewed

#28669 [cista] Add new port
  ports/cista/portfile.cmake
  ports/cista/vcpkg.json
  versions/baseline.json
  versions/c-/cista.json
Labels: category:new-port, info:reviewed

#28666 [ctpg] Add new port
  ports/ctpg/portfile.cmake
  ports/ctpg/vcpkg.json
  versions/baseline.json
  versions/c-/ctpg.json
Labels: category:new-port, info:reviewed

#28658 [foonathan-lexy] Add new port
  ports/foonathan-lexy/portfile.cmake
  ports/foonathan-lexy/vcpkg.json
  versions/baseline.json
  versions/f-/foonathan-lexy.json
Labels: category:new-port, info:reviewed

#28655 [nghttp2] Update to 1.51.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#28643 [tracy] Fix imgui search path for Linux build
  ports/tracy/003-fix-imgui-path.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-bug, info:reviewed

#28637 [inipp] Add new port
  ports/inipp/portfile.cmake
  ports/inipp/vcpkg.json
  versions/baseline.json
  versions/i-/inipp.json
Labels: category:new-port, info:reviewed

#28636 [igraph] update to 0.10.3
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#28635 [cppwinrt] update to 2.0.221121.5
  ports/cppwinrt/portfile.cmake
  ports/cppwinrt/vcpkg.json
  versions/baseline.json
  versions/c-/cppwinrt.json
Labels: info:internal, category:port-update, info:reviewed

#28625 [cpptoml] Add cmake config to the installation
  ports/cpptoml/portfile.cmake
  ports/cpptoml/vcpkg.json
  versions/baseline.json
  versions/c-/cpptoml.json
Labels: category:port-feature, info:reviewed

#28617 [boost-vcpkg-helpers] Fix incorrect license
  ports/boost-vcpkg-helpers/LICENSE.txt
  ports/boost-vcpkg-helpers/boost-modular-headers.cmake
  ports/boost-vcpkg-helpers/portfile.cmake
  ports/boost-vcpkg-helpers/vcpkg.json
  versions/b-/boost-vcpkg-helpers.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#26768 [node-api] Add new port
  ports/node-api/portfile.cmake
  ports/node-api/unofficial-node-api-config.cmake
  ports/node-api/vcpkg.json
  versions/baseline.json
  versions/n-/node-api.json
Labels: category:new-port, requires:vcpkg-team-review

#28599 [armadillo,ensmallen] Update
  ports/armadillo/add-disable-find-package.patch
  ports/armadillo/cmake-config.patch
  ports/armadillo/dependencies.patch
  ports/armadillo/fix-CMakePath.patch
  ports/armadillo/pkgconfig.patch
  ports/armadillo/portfile.cmake
  ports/armadillo/remove_custom_modules.patch
  ports/armadillo/usage
  ports/armadillo/vcpkg-cmake-wrapper.cmake
  ports/armadillo/vcpkg.json
  ports/ensmallen/dependencies.patch
  ports/ensmallen/portfile.cmake
  ports/ensmallen/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
  versions/e-/ensmallen.json
Labels: category:port-update, info:reviewed

#28571 [entt, libharu, libopensp, minizip, smf, vlpp, vulkan-headers] Fix incorrect versions
  versions/e-/entt.json
  versions/l-/libharu.json
  versions/l-/libopensp.json
  versions/m-/minizip.json
  versions/s-/smf.json
  versions/v-/vlpp.json
  versions/v-/vulkan-headers.json
Labels: category:port-bug, info:reviewed

#28547 [angle] Improve UX for unofficial CMake package
  ports/angle/CMakeLists.txt
  ports/angle/portfile.cmake
  ports/angle/unofficial-angle-config.cmake
  ports/angle/usage
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#28482 [directxmesh, directxtex, directxtk, uvatlas] update ports for Dec 2022 releases
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/openexr.patch
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#28479 [cnats] Update to 3.5.0 and remove system dependency to sodium
  ports/cnats/fix-sodium-dep.patch
  ports/cnats/portfile.cmake
  ports/cnats/vcpkg.json
  versions/baseline.json
  versions/c-/cnats.json
Labels: category:port-update, info:reviewed

#28348 [lz4] update to 1.9.4
  ports/lz4/0001-Fix-potential-memory-corruption-with-negative-memmov.patch
  ports/lz4/CMakeLists.txt
  ports/lz4/portfile.cmake
  ports/lz4/vcpkg.json
  versions/baseline.json
  versions/l-/lz4.json
Labels: category:port-update, info:reviewed

#28332 [ptc-print] Add new port
  ports/ptc-print/portfile.cmake
  ports/ptc-print/usage
  ports/ptc-print/vcpkg.json
  versions/baseline.json
  versions/p-/ptc-print.json
Labels: category:new-port, info:reviewed

#28312 [ncurses] Add compiler option "enable-mixed-case" to supports mixed case file names
  ports/ncurses/portfile.cmake
  ports/ncurses/vcpkg.json
  versions/baseline.json
  versions/n-/ncurses.json
Labels: category:port-bug, info:internal, info:reviewed

#28718 [vcpkg baseline][ideviceinstaller] Fixing error LNK2005: optind already defined in darknet.lib
  ports/darknet/fix-dependence-getopt.patch
  ports/darknet/portfile.cmake
  ports/darknet/vcpkg.json
  versions/baseline.json
  versions/d-/darknet.json
Labels: category:port-bug, info:internal, info:reviewed

#28250 [liblzma] Update to 5.4.0
  ports/liblzma/add_support_ios.patch
  ports/liblzma/build-tools.patch
  ports/liblzma/enable-uwp-builds.patch
  ports/liblzma/fix_config_include.patch
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  ports/liblzma/win_output_name.patch
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-update, info:reviewed

#28725 [cpuinfo] fix #28452
  ports/cpuinfo/portfile.cmake
  ports/cpuinfo/vcpkg.json
  versions/baseline.json
  versions/c-/cpuinfo.json
Labels: category:port-bug, info:reviewed

#28726 [google-cloud-cpp] update to latest release (v2.6.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#28736 [vtk-dicom] update to 0.8.14
  ports/vtk-dicom/portfile.cmake
  ports/vtk-dicom/std.patch
  ports/vtk-dicom/vcpkg.json
  versions/baseline.json
  versions/v-/vtk-dicom.json
Labels: info:internal, category:port-update, info:reviewed

#28711 [ffmpeg] Update to 5.0.2.
  ports/ffmpeg/0021-fix-sdl2-version-check.patch
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#28712 [snappy] fix correct lib name in snappy.pc file
  ports/snappy/snappy.pc.in
  ports/snappy/vcpkg.json
  versions/baseline.json
  versions/s-/snappy.json
Labels: category:port-bug, info:internal, info:reviewed

#28713 [dxut, effects11] ports updated to support spectre-mitigated libraries
  ports/dxut/portfile.cmake
  ports/dxut/vcpkg.json
  ports/effects11/portfile.cmake
  ports/effects11/vcpkg.json
  versions/baseline.json
  versions/d-/dxut.json
  versions/e-/effects11.json
Labels: category:port-feature, category:port-update, info:reviewed

#28311 [mathgl] Update, fix cmake config, dependencies, linkage, usage
  ports/mathgl/cmake-config.patch
  ports/mathgl/cmake-project-include.cmake
  ports/mathgl/dependencies.patch
  ports/mathgl/enable-examples.patch
  ports/mathgl/fix-cross-builds.patch
  ports/mathgl/fix-examples.patch
  ports/mathgl/fix-format-specifiers.patch
  ports/mathgl/fix-glut.patch
  ports/mathgl/fix-mgllab.patch
  ports/mathgl/fix_arma_sprintf.patch
  ports/mathgl/fix_attribute.patch
  ports/mathgl/fix_cmakelists_and_cpp.patch
  ports/mathgl/fix_default_graph_init.patch
  ports/mathgl/fix_mglDataList.patch
  ports/mathgl/linkage.patch
  ports/mathgl/portfile.cmake
  ports/mathgl/usage
  ports/mathgl/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-mathgl/portfile.cmake
  scripts/test_ports/vcpkg-ci-mathgl/vcpkg.json
  versions/baseline.json
  versions/m-/mathgl.json
Labels: category:port-bug, info:reviewed

#28331 [vcpkg_configure_make] Respect host triplet when determining --build
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update

#28349 [scripts|vcpkg_configure_make] Help C(XX)FLAGS survive through libtool
  ports/vcpkg-cmake-get-vars/cmake_get_vars/CMakeLists.txt
  ports/vcpkg-cmake-get-vars/vcpkg.json
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/get_cmake_vars/CMakeLists.txt
  versions/baseline.json
  versions/v-/vcpkg-cmake-get-vars.json
Labels: info:reviewed, category:tool-update

#28746 [yyjson] Update to 0.6.0
  ports/yyjson/portfile.cmake
  ports/yyjson/vcpkg.json
  versions/baseline.json
  versions/y-/yyjson.json
Labels: category:port-update, info:reviewed

#28744 [wxWidgets] Fix build with clang-cl
  ports/wxwidgets/fix_include.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:reviewed

#28741 [gdal] Update to 3.6.2
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#28739 [aom] Enable arm, arm64 target support for Windows Desktop.
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#28738 [flatbuffers] update to 23.1.4
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: info:internal, category:port-update, info:reviewed

#28737 [dav1d] Enable arm, arm64 and x86 target support for Windows.
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-feature, info:reviewed

#28714 [jsoncons] Update to v0.169.0
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: info:internal, category:port-update, info:reviewed

#28708 [cocoyaxi] Update to 3.0.0
  ports/cocoyaxi/portfile.cmake
  ports/cocoyaxi/vcpkg.json
  versions/baseline.json
  versions/c-/cocoyaxi.json
Labels: info:internal, category:port-update, info:reviewed

#28790 [itk] no absolute paths
  ports/itk/portfile.cmake
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-bug, info:reviewed

#28788 [opencv3] no absolute paths
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
Labels: category:port-bug, info:reviewed

#28786 [libxslt] Fix static usage
  ports/libxslt/portfile.cmake
  ports/libxslt/vcpkg.json
  versions/baseline.json
  versions/l-/libxslt.json
Labels: category:port-bug, info:reviewed

#28751 [python3] force disable curses
  ports/python3/0012-force-disable-curses.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#28748 [lz4] depends on xxhash
  ports/lz4/CMakeLists.txt
  ports/lz4/vcpkg.json
  versions/baseline.json
  versions/l-/lz4.json
Labels: category:port-bug, info:reviewed

#28799 [kaitai-struct-cpp-stl-runtime] Added kaitai-struct-cpp-stl-runtime
  ports/kaitai-struct-cpp-stl-runtime/portfile.cmake
  ports/kaitai-struct-cpp-stl-runtime/vcpkg.json
  versions/baseline.json
  versions/k-/kaitai-struct-cpp-stl-runtime.json
Labels: category:new-port, info:reviewed

#28623 [onnxruntime-gpu] Update to version 1.12.1
  ports/onnxruntime-gpu/portfile.cmake
  ports/onnxruntime-gpu/vcpkg.json
  versions/baseline.json
  versions/o-/onnxruntime-gpu.json
Labels: category:port-update, info:reviewed

#28733 [attr] Add new port
  ports/attr/portfile.cmake
  ports/attr/vcpkg.json
  versions/a-/attr.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#28782 [hdf5] no absolute paths
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, info:reviewed

#28810 [gstreamer] fix core build
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-bug, info:reviewed

#28801 [libheif] Update to version 1.14.2
  ports/libheif/gdk-pixbuf.patch
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-update, info:reviewed

#28753 [sdl2] update to 2.26.2
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#28794 [icu] Update to 72.1
  ports/icu/check-autoconf-archive.patch
  ports/icu/portfile.cmake
  ports/icu/vcpkg-cmake-wrapper.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-update, info:reviewed

#28791 [ctpg] no absolute paths
  ports/ctpg/portfile.cmake
  ports/ctpg/vcpkg.json
  versions/baseline.json
  versions/c-/ctpg.json
Labels: category:port-bug, info:reviewed

#28789 [omplapp] no absolute paths
  ports/omplapp/portfile.cmake
  ports/omplapp/vcpkg.json
  versions/baseline.json
  versions/o-/omplapp.json
Labels: category:port-bug, info:reviewed

#28787 [physfs] Cleanup, fix linkage and usage issues
  ports/physfs/portfile.cmake
  ports/physfs/usage
  ports/physfs/vcpkg-cmake-wrapper.cmake
  ports/physfs/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/p-/physfs.json
Labels: info:reviewed, category:community-triplet

#28721 [libadwaita] Add new port
  ports/libadwaita/portfile.cmake
  ports/libadwaita/vcpkg.json
  versions/baseline.json
  versions/l-/libadwaita.json
Labels: category:new-port, info:reviewed

#28749 [spirv-reflect] Don't vendor spirv headers
  ports/spirv-reflect/CMakeLists.txt
  ports/spirv-reflect/portfile.cmake
  ports/spirv-reflect/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-reflect.json
Labels: category:port-bug, info:reviewed

#28758 [ffmpeg] use toolchain
  ports/ffmpeg/build.sh.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug

#28754 [imgui] update to 1.89.2
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update

#28743 [openssl] Add no-ssl3 and no-weak-ssl-ciphers to Configure options
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:internal

#28227 [launch-darkly-server] Update to 2.8.6
  ports/launch-darkly-server/FixStrictPrototypes.patch
  ports/launch-darkly-server/findPCRE.patch
  ports/launch-darkly-server/launch-darkly-server-config.cmake
  ports/launch-darkly-server/portfile.cmake
  ports/launch-darkly-server/usage
  ports/launch-darkly-server/vcpkg.json
  versions/baseline.json
  versions/l-/launch-darkly-server.json
Labels: category:port-update, requires:author-response

#28560 Add release triplets
  triplets/community/arm64-osx-release.cmake
  triplets/community/arm64-windows-static-release.cmake
  triplets/community/x64-windows-static-release.cmake
Labels: category:vcpkg-feature, requires:vcpkg-team-review

#26754 [scripts|world rebuild] Disambiguate saved log files
  docs/maintainers/vcpkg_execute_required_process.md
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_execute_required_process.cmake
  versions/baseline.json
  versions/v-/vcpkg-cmake.json
Labels: category:vcpkg-feature

#28817 [vcpkg baseline][ideviceinstaller] Remove ideviceinstaller:x64-windows-static-md=fail from CI.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#28822 [cocoyaxi] no absolute paths
  ports/cocoyaxi/portfile.cmake
  ports/cocoyaxi/vcpkg.json
  versions/baseline.json
  versions/c-/cocoyaxi.json
Labels: category:port-bug, info:reviewed

#28823 [quill] Update to 2.6.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#28812 [immer] Update to v0.8.0
  ports/immer/portfile.cmake
  ports/immer/vcpkg.json
  versions/baseline.json
  versions/i-/immer.json
Labels: info:internal, category:port-update, info:reviewed

#28779 [efsw] Update to 2023-01-06
  ports/efsw/portfile.cmake
  ports/efsw/vcpkg.json
  versions/baseline.json
  versions/e-/efsw.json
Labels: category:port-update, info:reviewed

#28767 [pystring] Update to v1.1.4
  ports/pystring/portfile.cmake
  ports/pystring/vcpkg.json
  versions/baseline.json
  versions/p-/pystring.json
Labels: info:internal, category:port-update, info:reviewed

#28699 [xaudio2redist] allow static CRT
  ports/xaudio2redist/portfile.cmake
  ports/xaudio2redist/vcpkg.json
  ports/xaudio2redist/xaudio2redist-config.cmake.in
  versions/baseline.json
  versions/x-/xaudio2redist.json
Labels: category:port-feature, info:reviewed

#28628 [`wayland`,`wayland-protocols`] Add `force-build` feature 💪
  ports/wayland-protocols/portfile.cmake
  ports/wayland-protocols/vcpkg.json
  ports/wayland/portfile.cmake
  ports/wayland/vcpkg.json
  versions/baseline.json
  versions/w-/wayland-protocols.json
  versions/w-/wayland.json
Labels: category:port-feature, info:internal

#28405 vcpkg_execute_build_process.cmake: Check if the exit code is a string
  scripts/cmake/vcpkg_execute_build_process.cmake
Labels: info:reviewed, category:tool-update

#28661 [Scenepic] Add new port
  ports/scenepic/fix-CMakeInstall.patch
  ports/scenepic/fix_dependencies.patch
  ports/scenepic/portfile.cmake
  ports/scenepic/vcpkg.json
  versions/baseline.json
  versions/s-/scenepic.json
Labels: category:new-port, info:reviewed

#28759 [hidapi] Update hidapi to version 0.13.1
  ports/hidapi/portfile.cmake
  ports/hidapi/vcpkg.json
  versions/baseline.json
  versions/h-/hidapi.json
Labels: category:port-update, info:reviewed

#28853 [getopt-win32] uses support expression
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#28832 [ableton] Update to 3.0.6
  ports/ableton/portfile.cmake
  ports/ableton/replace_asiosdk_download_by_vcpkg_asiosdk.patch
  ports/ableton/replace_local_catch_by_vcpkg_catch2.patch
  ports/ableton/vcpkg.json
  versions/a-/ableton.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28837 [robin-map] Update to 1.2.1
  ports/robin-map/portfile.cmake
  ports/robin-map/vcpkg.json
  versions/baseline.json
  versions/r-/robin-map.json
Labels: category:port-update, info:reviewed

#28850 [zint] use support expression
  ports/zint/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/z-/zint.json
Labels: category:port-feature, info:reviewed

#27974 [mdnsresponder] update to 1557.140.5.0.1
  ports/mdnsresponder/portfile.cmake
  ports/mdnsresponder/vcpkg.json
  versions/baseline.json
  versions/m-/mdnsresponder.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#28160 [baseline][opengl,mesa] Resolve ambiguities
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  ports/opengl/glu.pc.in
  ports/opengl/opengl.pc.in
  ports/opengl/portfile.cmake
  ports/opengl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mesa.json
  versions/o-/opengl.json
Labels: category:port-bug, info:reviewed

#28819 [acl] Add new port
  ports/acl/portfile.cmake
  ports/acl/vcpkg.json
  versions/a-/acl.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#28882 [zxing-cpp] Update to 2.0.0
  ports/nu-book-zxing-cpp/portfile.cmake
  ports/nu-book-zxing-cpp/vcpkg.json
  versions/baseline.json
  versions/n-/nu-book-zxing-cpp.json
Labels: category:port-update, info:reviewed

#28879 [usockets] Update to 0.8.5
  ports/usockets/portfile.cmake
  ports/usockets/vcpkg.json
  versions/baseline.json
  versions/u-/usockets.json
Labels: info:internal, category:port-update, info:reviewed

#28871 [redis-plus-plus] update to <1.3.7>
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: info:internal, category:port-update, info:reviewed

#28869 [vk-bootstrap] Disable build tests and example
  ports/vk-bootstrap/portfile.cmake
  ports/vk-bootstrap/vcpkg.json
  versions/baseline.json
  versions/v-/vk-bootstrap.json
Labels: category:port-bug, info:internal, info:reviewed

#28860 [wxchartdir] support osx
  ports/chartdir/vcpkg.json
  ports/wxchartdir/CMakeLists.txt
  ports/wxchartdir/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/chartdir.json
  versions/w-/wxchartdir.json
Labels: category:port-feature, info:reviewed

#28851 [ctemplate] use support expression
  ports/ctemplate/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/ctemplate.json
Labels: category:port-feature, info:reviewed

#28852 [ecsutil] use support expression
  ports/ecsutil/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/e-/ecsutil.json
Labels: category:port-feature, info:reviewed

#28854 [libmupdf] uses support expression
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#28856 [at-spi2-core] no absolute paths
  ports/at-spi2-core/portfile.cmake
  ports/at-spi2-core/vcpkg.json
  versions/a-/at-spi2-core.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#28859 [winreg] uses support expression
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#28857 [libheif] no absolute paths
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-bug, info:reviewed

#28858 [marble] uses support expression
  scripts/ci.baseline.txt
Labels: category:port-feature, info:reviewed

#28287 [alsa] Better handle plugin directory
  ports/alsa/fix-plugin-dir.patch
  ports/alsa/portfile.cmake
  ports/alsa/vcpkg.json
  versions/a-/alsa.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#28467 [vcpkg] update gas-preprocessor and clang in vcpkg_find_acquire_program
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: info:reviewed, category:tool-update

#28834 [simd] Update include missing header files
  ports/simd/fix-CMakeLists-install.patch
  ports/simd/portfile.cmake
  ports/simd/vcpkg.json
  versions/baseline.json
  versions/s-/simd.json
Labels: category:port-bug, info:reviewed

#28232 [glfw3] Add wayland feature
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:port-feature

#28863 [simbody] uniform target names and add usage
  ports/simbody/common-name-libs.patch
  ports/simbody/portfile.cmake
  ports/simbody/usage
  ports/simbody/vcpkg.json
  versions/baseline.json
  versions/s-/simbody.json
Labels: category:port-feature, category:port-bug, info:reviewed

#28842 [Azure Storage] Update to January Release
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28907 [foonathan-lexy] Update to v2022.12.1
  ports/foonathan-lexy/portfile.cmake
  ports/foonathan-lexy/vcpkg.json
  versions/baseline.json
  versions/f-/foonathan-lexy.json
Labels: category:port-update, info:reviewed

#28727 [seal] Updated seal to version 4.1.1.
  ports/seal/fix-find_package.patch
  ports/seal/gsl.patch
  ports/seal/portfile.cmake
  ports/seal/vcpkg.json
  versions/baseline.json
  versions/s-/seal.json
Labels: category:port-update, info:reviewed

#28809 [grantlee] Add Grantlee
  ports/grantlee/portfile.cmake
  ports/grantlee/vcpkg.json
  versions/baseline.json
  versions/g-/grantlee.json
Labels: category:new-port, info:reviewed

#28828 [libcsv,hashids] Add new port
  ports/hashids/hashids.patch
  ports/hashids/portfile.cmake
  ports/hashids/vcpkg.json
  ports/libcsv/Makefile.patch
  ports/libcsv/portfile.cmake
  ports/libcsv/vcpkg.json
  versions/baseline.json
  versions/h-/hashids.json
  versions/l-/libcsv.json
Labels: category:new-port, info:reviewed

#28843 [openmvs] update to v2.1.0
  ports/openmvs/fix-build.patch
  ports/openmvs/portfile.cmake
  ports/openmvs/vcpkg.json
  versions/baseline.json
  versions/o-/openmvs.json
Labels: category:port-update, info:reviewed

#28885 [openimageio] fix build on vs2019 and earlier
  ports/openimageio/fix-vs2019-encoding-conversion.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-bug, info:reviewed

#28895 VM update January 2023
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/provision-image.sh
Labels: info:internal, category:infrastructure

#28686 [sentry-native] Fix cmake package import/export
  ports/sentry-native/fix-config-cmake.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/use-zlib-target.patch
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-bug, info:reviewed

#28522 Update cmake to 3.25.1
  ports/libphonenumber/fix-find-protobuf.patch
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ports.cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: info:reviewed, category:tool-update

#28710 [protobuf] update version to 3.21.12
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: info:internal, category:port-update, info:reviewed

#28240 [pixman] update to 0.42.2
  ports/pixman/portfile.cmake
  ports/pixman/remove_test_demos.patch
  ports/pixman/vcpkg.json
  versions/baseline.json
  versions/p-/pixman.json
Labels: category:port-update, info:reviewed

#28243 [harfbuzz] update to 5.3.1
  ports/harfbuzz/fix-win32-build.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#28905 [fastcdr] Update to 1.0.26
  ports/fastcdr/portfile.cmake
  ports/fastcdr/vcpkg.json
  versions/baseline.json
  versions/f-/fastcdr.json
Labels: category:port-update, info:reviewed

#28919 [vcpkg] update msys-libtool version
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: info:internal, info:reviewed, category:tool-update

#28921 [liblzma] Update to 5.4.1
  ports/liblzma/portfile.cmake
  ports/liblzma/usage
  ports/liblzma/vcpkg.json
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-update, info:reviewed

#28923 [sqlite3] Fix typo for the Windows build
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-bug, info:reviewed

#28926 [acl] no absolute paths
  ports/acl/portfile.cmake
  ports/acl/vcpkg.json
  versions/a-/acl.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#28928 [xerces-c] Update to 3.2.4
  ports/xerces-c/dependencies.patch
  ports/xerces-c/portfile.cmake
  ports/xerces-c/vcpkg-cmake-wrapper.cmake
  ports/xerces-c/vcpkg.json
  versions/baseline.json
  versions/x-/xerces-c.json
Labels: category:port-update, info:reviewed

#28935 [libsquish] improve supports expression
  ports/libsquish/vcpkg.json
  versions/baseline.json
  versions/l-/libsquish.json
Labels: category:port-feature, info:reviewed

#28937 [strong-type] add port
  ports/strong-type/portfile.cmake
  ports/strong-type/vcpkg.json
  versions/baseline.json
  versions/s-/strong-type.json
Labels: category:new-port, info:reviewed

#28940 [marisa-trie] Don't install Makefile.am into include. Also remove tests.
  ports/marisa-trie/portfile.cmake
  ports/marisa-trie/remove-windows-tests.patch
  ports/marisa-trie/vcpkg.json
  versions/baseline.json
  versions/m-/marisa-trie.json
Labels: category:port-bug, info:internal, info:reviewed

#28943 [vcpkg] Add x86 Linux community triplet
  triplets/community/x86-linux.cmake
Labels: info:reviewed, category:community-triplet

#28948 [wavpack] Update to 5.6.0 and allow release only builds
  ports/wavpack/portfile.cmake
  ports/wavpack/vcpkg.json
  versions/baseline.json
  versions/w-/wavpack.json
Labels: category:port-feature, category:port-update, info:reviewed

#28954 [rtabmap] Update to 0.20.16.
  ports/rtabmap/0002-fix-opencv46.patch
  ports/rtabmap/0002-fix-opencv47.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/r-/rtabmap.json
Labels: category:port-update, info:reviewed

#28962 [blend2d] Update to 2022-12-31
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
  versions/b-/blend2d.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28963 [libosmium] Trim dependencies
  ports/libosmium/vcpkg.json
  versions/baseline.json
  versions/l-/libosmium.json
Labels: category:port-feature, info:reviewed

#28964 [grpc] Update to 1.51.1
  ports/grpc/00005-fix-uwp-error.patch
  ports/grpc/00014-pkgconfig-upbdefs.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-update, info:reviewed

#28969 [arrow] Fix dataset feature
  ports/arrow/fix-dataset.patch
  ports/arrow/fix-pkgconfig-windows.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#28894 [ffmpeg] Install the usage file
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:internal, info:reviewed

#28991 [openmpi] Enable parallel build
  ports/openmpi/portfile.cmake
  ports/openmpi/vcpkg.json
  versions/baseline.json
  versions/o-/openmpi.json
Labels: category:port-bug, info:reviewed

#28989 [sqlpp11] add postgres support
  ports/sqlpp11/portfile.cmake
  ports/sqlpp11/vcpkg.json
  versions/baseline.json
  versions/s-/sqlpp11.json
Labels: category:port-feature, info:reviewed

#28972 [forge] improve port
  ports/forge/portfile.cmake
  ports/forge/vcpkg.json
  versions/baseline.json
  versions/f-/forge.json
Labels: category:port-feature, info:reviewed

#28949 [opencv4] Update to 4.7.0.
  ports/opencv/vcpkg.json
  ports/opencv4/0013-fix-ceres.patch
  ports/opencv4/0014-fix-ogre.patch
  ports/opencv4/0017-mingw-strsafe-no-deprecate.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv.json
  versions/o-/opencv4.json
Labels: category:port-update, info:reviewed

#28908 [ctpg] Fix portfile
  ports/ctpg/portfile.cmake
  ports/ctpg/vcpkg.json
  versions/baseline.json
  versions/c-/ctpg.json
Labels: category:port-bug, info:reviewed

#28873 [immer] Add export CMake ConfigVersion file
  ports/immer/fix-ExportConfigVersion.patch
  ports/immer/portfile.cmake
  ports/immer/vcpkg.json
  versions/baseline.json
  versions/i-/immer.json
Labels: category:port-feature, info:internal, info:reviewed

#28662 [atk/gdk-pixbuf/graphene/gtk/gtk3/harfbuzz/pango] Add introspection feature
  ports/atk/portfile.cmake
  ports/atk/vcpkg.json
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  ports/graphene/portfile.cmake
  ports/graphene/vcpkg.json
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  ports/gtk3/portfile.cmake
  ports/gtk3/vcpkg.json
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/a-/atk.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
  versions/g-/graphene.json
  versions/g-/gtk.json
  versions/g-/gtk3.json
  versions/h-/harfbuzz.json
  versions/p-/pango.json
Labels: category:port-feature, info:reviewed

#27814 [vcpkg] Add new community triplet arm64ec
  scripts/toolchains/windows.cmake
  triplets/community/arm64ec-windows.cmake
Labels: info:internal, requires:vcpkg-tool-release

#29033 [vcpkg docs] Fix broken url of SPDX license
  docs/maintainers/manifest-files.md
Labels: category:documentation, info:internal

#17199 [libtorch] create a new port
  ports/caffe2/fix-isgloginitialized.patch
  ports/caffe2/fix-protobuf-deprecated.patch
  ports/caffe2/fix-space.patch
  ports/caffe2/msvc-fixes.patch
  ports/caffe2/no-inout-macros.patch
  ports/caffe2/portfile.cmake
  ports/caffe2/vcpkg.json
  ports/libtorch/fix-c10-glog.patch
  ports/libtorch/fix-cmake.patch
  ports/libtorch/fix-fbgemm-include.patch
  ports/libtorch/fix-windows.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/pytorch-pr-85958.patch
  ports/libtorch/use-flatbuffers2.patch
  ports/libtorch/vcpkg-dependencies.cmake
  ports/libtorch/vcpkg.json
  ports/tensorpipe/portfile.cmake
  ports/tensorpipe/vcpkg.json
  ports/xnnpack/portfile.cmake
  ports/xnnpack/use-c-cpp-11.patch
  ports/xnnpack/use-packages.patch
  ports/xnnpack/vcpkg.json
  versions/baseline.json
  versions/c-/caffe2.json
  versions/l-/libtorch.json
  versions/t-/tensorpipe.json
  versions/x-/xnnpack.json
Labels: category:new-port, info:reviewed
