Repository microsoft/vcpkg, pull requests merged in 2023-03, with the labels that each got.

#29842 [pybind11] Update to 2.10.1
  ports/pybind11/fix-usage.patch
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, requires:author-response

#29924 [nghttp2] Disable all the dependencies to fix configure error
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-bug, info:reviewed

#29935 [arpack-ng] Workaround "outdated dynamic CRT"
  ports/arpack-ng/portfile.cmake
  ports/arpack-ng/vcpkg.json
  versions/a-/arpack-ng.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#29941 [buck-yeh-bux] Correct archive path of 1.6.8
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29919 [zeromq] update to latest commit
  ports/zeromq/portfile.cmake
  ports/zeromq/vcpkg.json
  ports/zeromq/zeromq-libzmq-4310-64e6d37ab8.diff
  ports/zeromq/zeromq-libzmq-4311-2b04e0ce47.diff
  versions/baseline.json
  versions/z-/zeromq.json
Labels: info:internal, category:port-update, info:reviewed

#29897 [lua] Fix compiler error of lua[tools]
  ports/lua/CMakeLists.txt
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: category:port-bug, info:reviewed

#29888 [zfp] Fix feature utility
  ports/zfp/portfile.cmake
  ports/zfp/vcpkg.json
  versions/baseline.json
  versions/z-/zfp.json
Labels: category:port-feature, info:reviewed

#29741 [curl] Fix consuming curl via find_package.
  ports/curl/0023-fix-find-cares.patch
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#29867 [Libpq] update to 15.2
  ports/libpq/config.pl
  ports/libpq/patches/fix-configure.patch
  ports/libpq/patches/windows/Solution_DEBUG.patch
  ports/libpq/patches/windows/Solution_RELEASE.patch
  ports/libpq/patches/windows/arm.patch
  ports/libpq/patches/windows/python3_build_DEBUG.patch
  ports/libpq/patches/windows/python3_build_RELEASE.patch
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg-cmake-wrapper.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-update, info:reviewed

#29894 [applocal.ps1] Fix -targetBinary without drive letter (#29890)
  scripts/buildsystems/msbuild/applocal.ps1
Labels: category:vcpkg-bug, info:reviewed

#29570 [rtabmap] Fix CMake config export
  ports/rtabmap/fix-CMake-export.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/r-/rtabmap.json
Labels: category:port-bug, info:internal, info:reviewed

#29956 [google-cloud-cpp] update to latest release (v2.8.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/support_absl_cxx17.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, requires:all-feature-testing

#29958 [pybind11] Update to 2.10.3
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#29954 [cyclonedds-cxx] Fix idllib
  ports/cyclonedds-cxx/portfile.cmake
  ports/cyclonedds-cxx/static-idllib.patch
  ports/cyclonedds-cxx/vcpkg.json
  versions/baseline.json
  versions/c-/cyclonedds-cxx.json
Labels: category:port-bug, info:reviewed

#29953 [flatbuffers] Fix config filename when crosscompiling
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-bug, info:reviewed

#29945 [restbed] Adding unofficial usage
  ports/restbed/fix-cmake.patch
  ports/restbed/portfile.cmake
  ports/restbed/vcpkg.json
  versions/baseline.json
  versions/r-/restbed.json
Labels: category:port-feature, info:internal, info:reviewed

#29942 [nettle] Cleanup, fix cross-builds
  ports/nettle/ccas.patch
  ports/nettle/compile.patch
  ports/nettle/fix-InstallLibPath.patch
  ports/nettle/fix-libdir.patch
  ports/nettle/flags.patch
  ports/nettle/host-tools.patch
  ports/nettle/portfile.cmake
  ports/nettle/remove_gmpd.patch
  ports/nettle/vcpkg.json
  ports/nettle/yasm.patch
  versions/baseline.json
  versions/n-/nettle.json
Labels: category:port-bug, info:reviewed

#29930 [DPP] Bump to version 10.0.23
  ports/dpp/make-pkgconfig-required.patch
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#29929 [ngtcp2] [nghttp3] update
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
  versions/n-/ngtcp2.json
Labels: category:port-update, info:reviewed

#29917 [c4core] update version to 0.1.11 AND [ryml] update to 0.5.0
  ports/c4core/portfile.cmake
  ports/c4core/vcpkg.json
  ports/ryml/portfile.cmake
  ports/ryml/vcpkg.json
  versions/baseline.json
  versions/c-/c4core.json
  versions/r-/ryml.json
Labels: info:internal, category:port-update, info:reviewed

#29910 [libdeflate] New port
  ports/libdeflate/portfile.cmake
  ports/libdeflate/remove_wrong_c_flags_modification.diff
  ports/libdeflate/usage
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: category:new-port, info:reviewed

#29869 [arg-router] Update to v1.2.0
  ports/arg-router/portfile.cmake
  ports/arg-router/usage
  ports/arg-router/vcpkg.json
  versions/a-/arg-router.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29852 [annoy] new port
  ports/annoy/portfile.cmake
  ports/annoy/vcpkg.json
  versions/a-/annoy.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#29442 [rtmfp-cpp] Added rtmfp-cpp library
  ports/rtmfp-cpp/portfile.cmake
  ports/rtmfp-cpp/vcpkg.json
  versions/baseline.json
  versions/r-/rtmfp-cpp.json
Labels: category:new-port, info:reviewed

#29753 [arsenalgear] Add new port
  ports/arsenalgear/portfile.cmake
  ports/arsenalgear/vcpkg.json
  versions/a-/arsenalgear.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#29979 ignore manifest stuff
  .gitignore
Labels: info:reviewed, category:infrastructure

#29848 [hnswlib] new port
  ports/hnswlib/portfile.cmake
  ports/hnswlib/usage
  ports/hnswlib/vcpkg.json
  versions/baseline.json
  versions/h-/hnswlib.json
Labels: category:new-port, info:reviewed

#29754 [poco] Revise netssl, add crypto
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-feature, info:reviewed

#29957 Update vcpkg-tool to 2023-03-01.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#30024 [arg-router] Update to v1.2.2
  ports/arg-router/portfile.cmake
  ports/arg-router/usage
  ports/arg-router/vcpkg.json
  versions/a-/arg-router.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30021 [restbed] Fix usage
  ports/restbed/fix-cmake.patch
  ports/restbed/portfile.cmake
  ports/restbed/usage
  ports/restbed/vcpkg.json
  versions/baseline.json
  versions/r-/restbed.json
Labels: category:port-feature, info:reviewed

#30040 [baseline][ngtcp2] Disable all find_package to fix configure error
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-bug, info:internal, info:reviewed

#29986 [daw-json-link] Update to 3.15.0
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: info:internal, category:port-update, info:reviewed

#29974 [baseline][flatbuffers] backport fixes for Abseil and C++11
  ports/flatbuffers/fix-abseil-cxx14.patch
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-bug, info:reviewed

#30008 [cyclonedds] Fix idlc generation for osx
  ports/cyclonedds/idlc-generate.patch
  ports/cyclonedds/portfile.cmake
  ports/cyclonedds/vcpkg.json
  versions/baseline.json
  versions/c-/cyclonedds.json
Labels: category:port-bug, info:reviewed

#29987 [directx-dxc] port update for March 1, 2023 release
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:port-update, info:reviewed

#29967 [dav1d] Adding usage
  ports/dav1d/portfile.cmake
  ports/dav1d/usage
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-feature, info:internal, info:reviewed

#29107 Tweak link in README
  README.md
  README_es.md
  README_fr.md
  README_ko_KR.md
  README_pt.md
  README_zh_CN.md
Labels: category:documentation, info:reviewed

#29714 [nghttp2-asio] Add nghttp2-asio port
  ports/nghttp2-asio/0001-Fix-exception-in-server.patch
  ports/nghttp2-asio/0002-Honor-BUILD_SHARED_LIBS.patch
  ports/nghttp2-asio/portfile.cmake
  ports/nghttp2-asio/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2-asio.json
Labels: category:new-port, info:reviewed

#29970 [breakpad] Add ATL dependency
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#30054 [sdl2] Bump to 2.26.4
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#30050 [vcpkg script] Fix fish completions
  scripts/vcpkg_completion.fish
Labels: info:reviewed, category:tool-update

#30066 [Azure Storage] Update to March Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30061 [daw-header-libraries] update to 2.88.0
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
Labels: info:internal, category:port-update, info:reviewed

#30075 Geographiclib/2.2
  ports/geographiclib/portfile.cmake
  ports/geographiclib/vcpkg.json
  versions/baseline.json
  versions/g-/geographiclib.json
Labels: category:port-update, info:reviewed

#29210 [community triplet] adds triplets for building for the Xbox platform
  ports/d3dx12/vcpkg.json
  ports/directx-dxc/vcpkg.json
  ports/directx-headers/vcpkg.json
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxsdk/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/dstorage/vcpkg.json
  ports/dxsdk-d3dx/vcpkg.json
  ports/dxut/vcpkg.json
  ports/effects11/vcpkg.json
  ports/ms-gdkx/portfile.cmake
  ports/ms-gdkx/vcpkg.json
  ports/opengl-registry/vcpkg.json
  ports/opengl/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-hpp/vcpkg.json
  ports/vulkan/vcpkg.json
  ports/xaudio2redist/vcpkg.json
  scripts/buildsystems/msbuild/vcpkg.targets
  scripts/buildsystems/vcpkg.cmake
  scripts/toolchains/xbox.cmake
  triplets/community/x64-xbox-scarlett-static.cmake
  triplets/community/x64-xbox-scarlett.cmake
  triplets/community/x64-xbox-xboxone-static.cmake
  triplets/community/x64-xbox-xboxone.cmake
  versions/baseline.json
  versions/d-/d3dx12.json
  versions/d-/directx-dxc.json
  versions/d-/directx-headers.json
  versions/d-/directxmesh.json
  versions/d-/directxsdk.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/d-/dstorage.json
  versions/d-/dxsdk-d3dx.json
  versions/d-/dxut.json
  versions/e-/effects11.json
  versions/m-/ms-gdkx.json
  versions/o-/opengl-registry.json
  versions/o-/opengl.json
  versions/u-/uvatlas.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-hpp.json
  versions/v-/vulkan.json
  versions/x-/xaudio2redist.json
Labels: category:new-port, info:reviewed, category:tool-update, category:community-triplet

#30057 [cxxopts] Update to 3.1.1
  ports/cxxopts/portfile.cmake
  ports/cxxopts/vcpkg.json
  versions/baseline.json
  versions/c-/cxxopts.json
Labels: info:internal, category:port-update, info:reviewed

#30015 [libopnmidi] add new port
  ports/libopnmidi/cmake-build-shared-libs-support.patch
  ports/libopnmidi/cmake-package-export.patch
  ports/libopnmidi/disable-wopn2hpp.patch
  ports/libopnmidi/fix-build-without-sequencer.patch
  ports/libopnmidi/fix-pmdwin-emulator-include.patch
  ports/libopnmidi/portfile.cmake
  ports/libopnmidi/usage
  ports/libopnmidi/vcpkg.json
  versions/baseline.json
  versions/l-/libopnmidi.json
Labels: category:new-port, info:reviewed

#30016 [osmanip] Add new port
  ports/osmanip/portfile.cmake
  ports/osmanip/vcpkg.json
  versions/baseline.json
  versions/o-/osmanip.json
Labels: category:new-port, info:reviewed

#30082 [Azure SDK Key Vault] Update to March Release Settings
  ports/azure-security-keyvault-administration-cpp/portfile.cmake
  ports/azure-security-keyvault-administration-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-administration-cpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#29843 [abseil] Fix activation of `cxx17` feature
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#30020 [ffmpeg] don't enable asm on android for all archs.
  ports/ffmpeg/build.sh.in
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: info:reviewed, category:community-triplet

#30097 [bullet3] Update to version 3.25.
  ports/bullet3/portfile.cmake
  ports/bullet3/vcpkg.json
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30035 [dpp] fix error hash
  ports/dpp/portfile.cmake
  ports/dpp/remove-wrong-header.patch
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-bug, info:internal, info:reviewed

#30093 [libtasn1] Fix android clang
  ports/libtasn1/clang-fortify.patch
  ports/libtasn1/portfile.cmake
  ports/libtasn1/vcpkg.json
  versions/baseline.json
  versions/l-/libtasn1.json
Labels: category:port-bug, info:reviewed

#30091 [qt5-base] Move 'icu' out of 'core' feature
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/qt5/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
  versions/q-/qt5.json
Labels: category:port-feature, info:reviewed

#30089 [mmx] update
  ports/mmx/portfile.cmake
  ports/mmx/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mmx.json
Labels: category:port-update, info:reviewed

#30083 [flatbuffers] update to 23.3.3
  ports/flatbuffers/fix-abseil-cxx14.patch
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: info:internal, category:port-update, info:reviewed

#30087 [jasper] control optional libheif depedency
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
Labels: category:port-bug, info:reviewed

#30062 [daw-utf-range] update to 2.2.3
  ports/daw-utf-range/portfile.cmake
  ports/daw-utf-range/vcpkg.json
  versions/baseline.json
  versions/d-/daw-utf-range.json
Labels: info:internal, category:port-update, info:reviewed

#29800 [Daxa] new port
  ports/daxa/portfile.cmake
  ports/daxa/vcpkg.json
  versions/baseline.json
  versions/d-/daxa.json
Labels: category:new-port, requires:author-response

#30106 [kubernetes] update sha
  ports/kubernetes/portfile.cmake
  ports/kubernetes/vcpkg.json
  versions/baseline.json
  versions/k-/kubernetes.json
Labels: category:port-update, info:reviewed

#30105 [libdivide] no werror et al
  ports/libdivide/no-werror.patch
  ports/libdivide/portfile.cmake
  ports/libdivide/vcpkg.json
  versions/baseline.json
  versions/l-/libdivide.json
Labels: category:port-bug, info:reviewed

#30102 [mfl] fix clang build
  ports/mfl/fix-clang-detection.patch
  ports/mfl/portfile.cmake
  ports/mfl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mfl.json
Labels: category:port-bug, info:reviewed

#30090 [flecs] update to 3.1.5
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#30100 [baseline][cppkafka] Add DISABLE_PARALLEL_CONFIGURE
  ports/cppkafka/portfile.cmake
  ports/cppkafka/vcpkg.json
  versions/baseline.json
  versions/c-/cppkafka.json
Labels: category:port-bug, info:internal, info:reviewed

#30129 [quickfast] add missing dependency
  ports/quickfast/vcpkg.json
  versions/baseline.json
  versions/q-/quickfast.json
Labels: category:port-bug, info:reviewed

#30141 [cminpack] Fix exported config, add usage
  ports/cminpack/portfile.cmake
  ports/cminpack/usage
  ports/cminpack/vcpkg.json
  versions/baseline.json
  versions/c-/cminpack.json
Labels: category:port-bug, info:reviewed

#30110 [plplot] fix example x11
  ports/plplot/vcpkg.json
  versions/baseline.json
  versions/p-/plplot.json
Labels: category:port-bug, info:reviewed

#30104 [libde265] use supports expression
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: category:port-feature, info:reviewed

#30103 [libqrencode] fix feature tools
  ports/libqrencode/portfile.cmake
  ports/libqrencode/vcpkg.json
  versions/baseline.json
  versions/l-/libqrencode.json
Labels: category:port-bug, info:reviewed

#30092 [libiconv] Fix android
  ports/libiconv/clang-fortify.patch
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: info:reviewed, category:community-triplet

#30031 [stdexec] new port
  ports/stdexec/fix-include-location.patch
  ports/stdexec/portfile.cmake
  ports/stdexec/vcpkg.json
  versions/baseline.json
  versions/s-/stdexec.json
Labels: category:new-port, info:reviewed

#29618 [harfbuzz] update to 7.0.0
  ports/harfbuzz/fix-linux-error.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#30149 [llfio,ned14-internal-quickcpplib] Add version 2023-03-13
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
Labels: category:port-update, info:reviewed

#30148 [libphonenumber] update to 8.13.7
  ports/libphonenumber/fix-absl-with-geocoder-off.patch
  ports/libphonenumber/fix-icui18n-lib-name.patch
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/remove-build-test.patch
  ports/libphonenumber/remove-shared-lib.patch
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: info:internal, category:port-update, info:reviewed

#30138 [magnum] fix dependencies
  ports/magnum/vcpkg.json
  versions/baseline.json
  versions/m-/magnum.json
Labels: category:port-bug, info:reviewed

#30134 [szip] Allow cross compiling for arm64-osx
  ports/szip/portfile.cmake
  ports/szip/vcpkg.json
  versions/baseline.json
  versions/s-/szip.json
Labels: category:port-feature, info:reviewed

#30132 [cairo] fix feature cairo
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:reviewed

#30126 [cxsparse] fix feature cxsparse
  ports/ceres/vcpkg.json
  versions/baseline.json
  versions/c-/ceres.json
Labels: category:port-bug, info:reviewed

#30123 [magnum-plugins] fix SHA512
  ports/magnum-plugins/portfile.cmake
  ports/magnum-plugins/vcpkg.json
  versions/baseline.json
  versions/m-/magnum-plugins.json
Labels: category:port-bug, info:reviewed

#29997 [opencc] De-vendor marisa
  ports/opencc/fix-dependencies.patch
  ports/opencc/portfile.cmake
  ports/opencc/vcpkg.json
  versions/baseline.json
  versions/o-/opencc.json
Labels: category:port-feature, info:internal, info:reviewed

#29703 [vtk] Fix proj, trim feature dependencies
  ports/vtk/Findproj.patch
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-feature, info:reviewed

#29984 Restore environment after `make` to avoid mixing-up linker flags
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update

#30168 [libcbor] Update to 0.10.2
  ports/libcbor/portfile.cmake
  ports/libcbor/vcpkg.json
  versions/baseline.json
  versions/l-/libcbor.json
Labels: info:internal, category:port-update, info:reviewed

#30124 [nifticlib] fix installation of cmake config files
  ports/nifticlib/portfile.cmake
  ports/nifticlib/vcpkg.json
  versions/baseline.json
  versions/n-/nifticlib.json
Labels: category:port-bug, info:reviewed

#29966 [openssl,vcpkg-cmake-get-vars] Fix android and emscripten, add feature `tools`
  ports/libpq/patches/windows/host_skip_openssl.patch
  ports/libpq/patches/windows/openssl-version.patch
  ports/libpq/patches/windows/openssl_exe_path.patch
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  ports/openssl/disable-apps.patch
  ports/openssl/portfile.cmake
  ports/openssl/unix/Makefile.emscripten
  ports/openssl/unix/android-cc.patch
  ports/openssl/unix/configure
  ports/openssl/unix/portfile.cmake
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  ports/vcpkg-cmake-get-vars/cmake_get_vars/CMakeLists.txt
  ports/vcpkg-cmake-get-vars/vcpkg.json
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/get_cmake_vars/CMakeLists.txt
  versions/baseline.json
  versions/l-/libpq.json
  versions/o-/openssl.json
  versions/v-/vcpkg-cmake-get-vars.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#30153 [asio-grpc] Update to v2.5.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30107 [simdjson] Update to 3.1.5
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#30085 [sdl2pp] fix dependency error
  ports/sdl2pp/fix-dependencies.patch
  ports/sdl2pp/portfile.cmake
  ports/sdl2pp/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2pp.json
Labels: category:port-bug, info:internal, info:reviewed

#29989 [Openvdb] Build Tools in static
  ports/openvdb/portfile.cmake
  ports/openvdb/vcpkg.json
  versions/baseline.json
  versions/o-/openvdb.json
Labels: category:port-feature, info:internal, info:reviewed

#29792 [vcpkg_fixup_pkgconfig] Fix quoting
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
  scripts/test_ports/unit-test-cmake/test-vcpkg_fixup_pkgconfig.cmake
Labels: info:reviewed, category:tool-update

#29834 [fmilib] Cleanup, de-vendor libs, fix linux
  ports/fmilib/0001-remove-install-prefix.patch
  ports/fmilib/0002-include-sys-stat.h-for-mkdir.patch
  ports/fmilib/devendor-sublibs.diff
  ports/fmilib/fix-mergestaticlibs.diff
  ports/fmilib/portfile.cmake
  ports/fmilib/unofficial-export.diff
  ports/fmilib/unofficial-fmilib-config.cmake
  ports/fmilib/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/fmilib.json
Labels: category:port-bug, info:reviewed

#30165 Update vcpkg-tool to 2023-03-14
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#30194 [llfio] Fix commit reference
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
Labels: category:port-update, info:reviewed

#30151 [opentelemetry-cpp] Update to v1.8.3
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#30171 [qtdeclarative] Add qmlls tool
  ports/qtdeclarative/portfile.cmake
  ports/qtdeclarative/vcpkg.json
  versions/baseline.json
  versions/q-/qtdeclarative.json
Labels: category:port-feature, info:internal, info:reviewed

#29433 [colmap] Update COLMAP port to 3.8
  ports/colmap/fix-dependencies.patch
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  versions/baseline.json
  versions/c-/colmap.json
Labels: category:port-update, info:reviewed

#30173 [libspatialite] Fix android
  ports/libspatialite/fix-linux-configure.patch
  ports/libspatialite/vcpkg.json
  versions/baseline.json
  versions/l-/libspatialite.json
Labels: info:reviewed, category:community-triplet

#30174 [zstd] Fix emscripten
  ports/zstd/emscripten.patch
  ports/zstd/portfile.cmake
  ports/zstd/vcpkg.json
  versions/baseline.json
  versions/z-/zstd.json
Labels: info:reviewed, category:community-triplet

#30119 [Spout2] New Port
  ports/spout2/portfile.cmake
  ports/spout2/usage
  ports/spout2/vcpkg.json
  versions/baseline.json
  versions/s-/spout2.json
Labels: category:new-port, info:reviewed

#29688 [usd] Update to 23.02
  ports/usd/fix_build-location.patch
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-update, info:reviewed

#29996 [openexr] Fix openexr using unrequested intrinsics
  ports/openexr/avx.patch
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  versions/baseline.json
  versions/o-/openexr.json
Labels: category:port-bug, info:reviewed, depends:different-pr

#30098 [libcaer,dv-processing] Port fixes, cleanup
  ports/dv-processing/cmake-project-include.cmake
  ports/dv-processing/portfile.cmake
  ports/dv-processing/usage
  ports/dv-processing/vcpkg.json
  ports/libcaer/fix-libusb.diff
  ports/libcaer/portfile.cmake
  ports/libcaer/vcpkg.json
  versions/baseline.json
  versions/d-/dv-processing.json
  versions/l-/libcaer.json
Labels: category:port-bug, info:reviewed

#29758 [protobuf-c] Fix build error for windows
  ports/protobuf-c/portfile.cmake
  ports/protobuf-c/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf-c.json
Labels: category:port-bug, info:internal, info:reviewed

#30131 [paraview] add missing dependency
  ports/paraview/vcpkg.json
  versions/baseline.json
  versions/p-/paraview.json
Labels: category:port-bug, info:reviewed

#30228 [onnxruntime-gpu] update version to 1.14.1
  ports/onnxruntime-gpu/portfile.cmake
  ports/onnxruntime-gpu/vcpkg.json
  versions/baseline.json
  versions/o-/onnxruntime-gpu.json
Labels: info:internal, category:port-update, info:reviewed

#30073 [catch2] Update to 3.3.2
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#28606 [opentracing] Fix library linkage
  ports/jaeger-client-cpp/fix-CMakeLists.patch
  ports/jaeger-client-cpp/vcpkg.json
  ports/opentracing/fix-cmake.patch
  ports/opentracing/portfile.cmake
  ports/opentracing/repair_mojibake.patch
  ports/opentracing/vcpkg.json
  versions/baseline.json
  versions/j-/jaeger-client-cpp.json
  versions/o-/opentracing.json
Labels: category:port-bug, info:reviewed

#30109 [pcl] fix example feature
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-feature, info:reviewed

#30206 [argparse] bump version to 2.9
  ports/argparse/portfile.cmake
  ports/argparse/vcpkg.json
  versions/a-/argparse.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30193 [libressl] Update to 3.6.2
  ports/libressl/0001-enable-ocspcheck-on-msvc.patch
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: info:internal, category:port-update, info:reviewed

#30226 [libpng] Fix arm-neon-android
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-bug, info:reviewed

#30265 [portmidi] Fix dependency searching
  ports/portmidi/portfile.cmake
  ports/portmidi/search-for-threads-in-config.patch
  ports/portmidi/usage
  ports/portmidi/vcpkg.json
  versions/baseline.json
  versions/p-/portmidi.json
Labels: category:port-bug, info:reviewed

#30266 [cserialport] Update to 4.3.0
  ports/cserialport/portfile.cmake
  ports/cserialport/vcpkg.json
  versions/baseline.json
  versions/c-/cserialport.json
Labels: category:port-update, info:reviewed

#30285 [scope-guard] Update to v1.1.0
  ports/scope-guard/portfile.cmake
  ports/scope-guard/vcpkg.json
  versions/baseline.json
  versions/s-/scope-guard.json
Labels: category:port-update, info:reviewed

#30278 [etcd-cpp-apiv3] Update to v0.14.2
  ports/etcd-cpp-apiv3/0001-do-not-hardcode-cxx-standard.patch
  ports/etcd-cpp-apiv3/0002-use-target-link-libraries.patch
  ports/etcd-cpp-apiv3/portfile.cmake
  ports/etcd-cpp-apiv3/usage
  ports/etcd-cpp-apiv3/vcpkg.json
  versions/baseline.json
  versions/e-/etcd-cpp-apiv3.json
Labels: category:port-update, info:reviewed

#30241 [breakpad] Fix library exports main function
  ports/breakpad/CMakeLists.txt
  ports/breakpad/portfile.cmake
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#30235 [cyclonedds] Fix idl generation for the linux
  ports/cyclonedds/idlc-generate.patch
  ports/cyclonedds/vcpkg.json
  versions/baseline.json
  versions/c-/cyclonedds.json
Labels: category:port-bug, info:reviewed

#30233 [sail] Remove feature svg
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-bug, info:internal, info:reviewed

#30217 [apr] Update to 1.7.2
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30214 [vowpal-wabbit] Update to 9.8.0
  ports/vowpal-wabbit/cmake_remove_bin_targets.patch
  ports/vowpal-wabbit/portfile.cmake
  ports/vowpal-wabbit/vcpkg.json
  versions/baseline.json
  versions/v-/vowpal-wabbit.json
Labels: category:port-update, info:reviewed

#30074 [rocksdb] update to 7.10.2
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#30130 [libmysql] add missing find_dependency
  ports/libmysql/export-cmake-targets.patch
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-feature, info:reviewed

#30158 [qscintilla] update version to 2.13.4
  ports/qscintilla/fix-static.patch
  ports/qscintilla/portfile.cmake
  ports/qscintilla/vcpkg.json
  versions/baseline.json
  versions/q-/qscintilla.json
Labels: category:port-update, info:reviewed

#30172 Use msys2 bash regardless of target and of Windows Apps
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update

#30005 [libredwg] Add new port
  ports/libredwg/fix_arm64_build.patch
  ports/libredwg/fix_dependency.patch
  ports/libredwg/fix_install.patch
  ports/libredwg/portfile.cmake
  ports/libredwg/usage
  ports/libredwg/vcpkg.json
  versions/baseline.json
  versions/l-/libredwg.json
Labels: category:new-port, info:reviewed, depends:different-pr

#30296 [raylib] update to 4.5.0
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: info:internal, category:port-update, info:reviewed

#30295 [mlpack] update to 4.0.1
  ports/mlpack/Fix-build-with-MSVC.patch
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: info:internal, category:port-update, info:reviewed

#30277 [fluidsynth] Disable implicit OpenMP
  ports/fluidsynth/add-usage-requirements.patch
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-bug, info:reviewed

#30238 [openimageio] update to 2.4.9.0
  ports/openimageio/1aa2cf6edf9f2bd57a21998fceeb095cbe1f2b84.patch
  ports/openimageio/fix-vs2019-encoding-conversion.patch
  ports/openimageio/more_qt6.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/qt6.patch
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-update, info:reviewed

#30234 [onnx] update to 1.13.1
  ports/onnx/fix-cmakelists.patch
  ports/onnx/portfile.cmake
  ports/onnx/vcpkg.json
  versions/baseline.json
  versions/o-/onnx.json
Labels: info:internal, category:port-update, info:reviewed

#30177 [gmp] Feature fat couldn't build on Windows
  ports/gmp/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
Labels: category:port-bug, info:internal, info:reviewed

#29973 [cachelib] add new facebook cachelib port
  ports/cachelib/fix-build.patch
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  versions/baseline.json
  versions/c-/cachelib.json
Labels: category:new-port, requires:author-response

#30014 [physx] Fix x86 Linux build errors
  ports/physx/fix-compiler-flag.patch
  ports/physx/vcpkg.json
  versions/baseline.json
  versions/p-/physx.json
Labels: depends:upstream-changes, category:community-triplet

#29995 [fltk] fix narrowing error in clang-cl
  ports/fltk/fix-narrow.patch
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-bug

#29437 [intel-mkl] install mkl instead of requesting the user to install it
  ports/arrayfire/portfile.cmake
  ports/arrayfire/vcpkg.json
  ports/intel-mkl/portfile.cmake
  ports/intel-mkl/usage
  ports/intel-mkl/vcpkg-cmake-wrapper.cmake
  ports/intel-mkl/vcpkg-port-config.cmake
  ports/intel-mkl/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/arrayfire.json
  versions/baseline.json
  versions/i-/intel-mkl.json
Labels: category:port-bug

#28117 [msgpack] update version to 4.1.3
  ports/coolprop/fix-builderror.patch
  ports/coolprop/fix-dependency.patch
  ports/coolprop/fix-install.patch
  ports/coolprop/fmt-fix.patch
  ports/coolprop/portfile.cmake
  ports/coolprop/vcpkg.json
  ports/msgpack/portfile.cmake
  ports/msgpack/vcpkg.json
  versions/baseline.json
  versions/c-/coolprop.json
  versions/m-/msgpack.json
Labels: info:internal, category:port-update, info:reviewed

#30299 [nayuki-qr-code-generator] fix installation path of config files
  ports/nayuki-qr-code-generator/CMakeLists.txt
  ports/nayuki-qr-code-generator/portfile.cmake
  ports/nayuki-qr-code-generator/vcpkg.json
  versions/baseline.json
  versions/n-/nayuki-qr-code-generator.json
Labels: category:port-bug, info:reviewed

#30271 [vcpkg_configure_meson] Update compiler flags parsing
  scripts/cmake/vcpkg_configure_meson.cmake
Labels: info:reviewed, category:tool-update

#30263 [openssl] update openssl to 3.1.0
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  ports/openssl/windows/umul128-arm64.patch
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#30249 [hazelcast-cpp-client] update to v5.2.0
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#30248 [asio-grpc] Update to v2.5.1
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30192 [openblas] disable build in Visual Studio with feature 'dynamic-arch'
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-bug, info:internal, info:reviewed

#30096 UWP toolchain fix and update some supports expressions for uwp/xbox
  ports/cppxaml/vcpkg.json
  ports/cuda/vcpkg.json
  ports/kinectsdk1/vcpkg.json
  ports/kinectsdk2/vcpkg.json
  ports/ms-gdkx/vcpkg.json
  ports/opengl/vcpkg.json
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-hpp/vcpkg.json
  ports/vulkan-memory-allocator-hpp/vcpkg.json
  ports/vulkan-memory-allocator/vcpkg.json
  ports/vulkan/vcpkg.json
  scripts/ci.baseline.txt
  scripts/toolchains/uwp.cmake
  versions/baseline.json
  versions/c-/cppxaml.json
  versions/c-/cuda.json
  versions/k-/kinectsdk1.json
  versions/k-/kinectsdk2.json
  versions/m-/ms-gdkx.json
  versions/o-/opengl.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-hpp.json
  versions/v-/vulkan-memory-allocator-hpp.json
  versions/v-/vulkan-memory-allocator.json
  versions/v-/vulkan.json
Labels: info:reviewed, category:community-triplet, requires:vcpkg-team-review

#29998 [nanosvg] Update and use upstream CMake
  ports/nanosvg/CMakeLists.txt
  ports/nanosvg/fltk.patch
  ports/nanosvg/portfile.cmake
  ports/nanosvg/vcpkg.json
  ports/wxwidgets/nanosvg-ext-depend.patch
  ports/wxwidgets/sdl2.patch
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/n-/nanosvg.json
  versions/w-/wxwidgets.json
Labels: category:port-update, info:reviewed

#30223 VM Updates for Patch Tuesday, March 2023
  ports/cctag/portfile.cmake
  ports/cctag/vcpkg.json
  ports/cuda/portfile.cmake
  ports/cuda/vcpkg-port-config.cmake
  ports/cuda/vcpkg.json
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  ports/popsift/144.patch
  ports/popsift/cuda_12_1.patch
  ports/popsift/portfile.cmake
  ports/popsift/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-cuda.ps1
  scripts/azure-pipelines/windows/deploy-inteloneapi.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cctag.json
  versions/c-/cuda.json
  versions/c-/cudnn.json
  versions/p-/popsift.json
Labels: info:internal, category:infrastructure

#30321 [mpg123] Bump to 1.31.3
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-update, info:reviewed

#29681 [sdl2-mixer] Update features and fix static linking
  ports/sdl2-mixer/fix-deps-link.patch
  ports/sdl2-mixer/fix-deps-targets.patch
  ports/sdl2-mixer/fix-missing-find-opusfile.patch
  ports/sdl2-mixer/fix-windows-static-findfluidsynth.patch
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-feature, category:port-bug, info:reviewed

#29780 [nettle] Update to 3.8.1
  ports/nettle/compile.patch
  ports/nettle/hogweed-x64.def
  ports/nettle/hogweed-x86.def
  ports/nettle/install-dll.patch
  ports/nettle/lib-to-def.cmake
  ports/nettle/libname-windows.patch
  ports/nettle/nettle-x64.def
  ports/nettle/nettle-x86.def
  ports/nettle/portfile.cmake
  ports/nettle/subdirs.patch
  ports/nettle/vcpkg.json
  versions/baseline.json
  versions/n-/nettle.json
Labels: category:port-update, info:reviewed
