Repository microsoft/vcpkg, pull requests merged in 2023-10, with the labels that each got.

#30623 [libcoro] New Port
  ports/libcoro/0001-allow-shared-lib.patch
  ports/libcoro/0002-disable-git-config.patch
  ports/libcoro/portfile.cmake
  ports/libcoro/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libcoro.json
Labels: category:new-port, info:reviewed

#34090 [vcpkg tool] Update jom to 1.1.4
  scripts/cmake/vcpkg_find_acquire_program(JOM).cmake
Labels: category:tool-update

#34080 [civetweb] update to 1.16
  ports/civetweb/fix-fseeko.patch
  ports/civetweb/portfile.cmake
  ports/civetweb/vcpkg.json
  versions/baseline.json
  versions/c-/civetweb.json
Labels: category:port-update

#34085 [kf5solid] Fix baseline regression, cleanup
  ports/kf5solid/002_fix_imobile.patch
  ports/kf5solid/portfile.cmake
  ports/kf5solid/vcpkg.json
  versions/baseline.json
  versions/k-/kf5solid.json
Labels: category:port-bug

#34059 [murmurhash] Add support for arm
  ports/murmurhash/vcpkg.json
  versions/baseline.json
  versions/m-/murmurhash.json
Labels: category:port-feature

#34019 [jsoncons]: update to 0.171.0
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update

#33651 [foonathan-memory] Fix the conflict of libs that tool depend on
  ports/foonathan-memory/portfile.cmake
  ports/foonathan-memory/vcpkg.json
  versions/baseline.json
  versions/f-/foonathan-memory.json
Labels: category:port-bug, info:internal

#33640 [krabsetw] Update to 4.3.1
  ports/krabsetw/portfile.cmake
  ports/krabsetw/vcpkg.json
  versions/baseline.json
  versions/k-/krabsetw.json
Labels: category:port-update

#33435 [ports.cmake] Remove unnecessary variables for better debug experience
  scripts/ports.cmake
Labels: category:code-cleanup

#33999 [vcpkg baseline] Remove fixed triples in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#34184 [bext-mp] Add new port
  ports/bext-mp/fix-build-flags.patch
  ports/bext-mp/portfile.cmake
  ports/bext-mp/usage
  ports/bext-mp/vcpkg.json
  versions/b-/bext-mp.json
  versions/baseline.json
Labels: info:reviewed

#34082 [clickhouse-cpp] update to 2.4.0
  ports/clickhouse-cpp/fix-deps-and-build-type.patch
  ports/clickhouse-cpp/fix-timeval.patch
  ports/clickhouse-cpp/fix-uwp.patch
  ports/clickhouse-cpp/portfile.cmake
  ports/clickhouse-cpp/vcpkg.json
  versions/baseline.json
  versions/c-/clickhouse-cpp.json
Labels: category:port-update

#34135 [libgpg-error,libgcrypt,libassuan,gpgme,libgwenhywfar] Update and fix
  ports/gpgme/disable-tests.patch
  ports/gpgme/fix-c++11.patch
  ports/gpgme/portfile.cmake
  ports/gpgme/vcpkg.json
  ports/libassuan/cross-tools.patch
  ports/libassuan/portfile.cmake
  ports/libassuan/vcpkg.json
  ports/libgcrypt/portfile.cmake
  ports/libgcrypt/upstream-fa21ddc1.patch
  ports/libgcrypt/vcpkg.json
  ports/libgpg-error/gpgrt-config.patch
  ports/libgpg-error/portfile.cmake
  ports/libgpg-error/vcpkg.json
  ports/libgwenhywfar/portfile.cmake
  ports/libgwenhywfar/vcpkg.json
  versions/baseline.json
  versions/g-/gpgme.json
  versions/l-/libassuan.json
  versions/l-/libgcrypt.json
  versions/l-/libgpg-error.json
  versions/l-/libgwenhywfar.json
Labels: info:reviewed

#34036 [hdf5] Update to 1.14.2, [highfive] support parallel HDF5
  ports/hdf5/hdf5_config.patch
  ports/hdf5/pkgconfig-link-order.patch
  ports/hdf5/pkgconfig-requires.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/szip.patch
  ports/hdf5/vcpkg.json
  ports/highfive/portfile.cmake
  ports/highfive/usage
  ports/highfive/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
  versions/h-/highfive.json
Labels: category:port-update, info:reviewed

#34014 [netcdf-c] Fix dependency import/export
  ports/netcdf-c/fix-dependency-libzip.patch
  ports/netcdf-c/fix-pkgconfig.patch
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/use_targets.patch
  ports/netcdf-c/vcpkg.json
  versions/baseline.json
  versions/n-/netcdf-c.json
Labels: category:port-bug, info:reviewed

#33978 [log4cplus] update to 2.1.0
  ports/log4cplus/portfile.cmake
  ports/log4cplus/vcpkg.json
  versions/baseline.json
  versions/l-/log4cplus.json
Labels: category:port-update

#34073 [caf] update to 0.19.3
  ports/caf/fix_cxx17.patch
  ports/caf/portfile.cmake
  ports/caf/vcpkg.json
  versions/baseline.json
  versions/c-/caf.json
Labels: category:port-update

#34224 [openvdb] Add nanovdb feature
  ports/openvdb/fix_nanovdb.patch
  ports/openvdb/portfile.cmake
  ports/openvdb/vcpkg.json
  versions/baseline.json
  versions/o-/openvdb.json
Labels: info:reviewed

#34248 Delete Get-Changelog.ps1
  scripts/Get-Changelog.ps1
Labels: info:internal, info:reviewed, category:infrastructure

#34221 ci.baseline.txt fixes from 2023-09-30
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#34267 Build Fixes for 2023-10-04
  ports/hypre/portfile.cmake
  ports/hypre/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/h-/hypre.json
Labels: info:internal, category:infrastructure

#34220 [atl] new port
  ports/atl/portfile.cmake
  ports/atl/vcpkg.json
  ports/atlmfc/vcpkg.json
  versions/a-/atl.json
  versions/a-/atlmfc.json
  versions/baseline.json
Labels: requires:vcpkg-team-review

#34069 [make-vector] New port
  ports/pravila00-make-vector/portfile.cmake
  ports/pravila00-make-vector/vcpkg.json
  versions/baseline.json
  versions/p-/pravila00-make-vector.json
Labels: category:new-port, info:reviewed

#34285 [qt5-base] fix xcode 15 build
  ports/qt5-base/patches/patch-qtbase-memory_resource.diff
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: info:reviewed

#34151 [vcpkg] Fix GitLab authentication token
  scripts/cmake/vcpkg_from_gitlab.cmake
Labels: requires:vcpkg-team-review

#34054 Improve detection of the target architecture on Apple platforms.
  scripts/buildsystems/vcpkg.cmake
Labels: category:infrastructure

#33255 [libgig] New Port
  ports/libgig/0001-msvc-fix-ssize_t.patch
  ports/libgig/0002-cmake-fixes.patch
  ports/libgig/0003-fix-usage.patch
  ports/libgig/portfile.cmake
  ports/libgig/vcpkg.json
  versions/baseline.json
  versions/l-/libgig.json
Labels: category:new-port, info:reviewed

#33424 [botan] Update to 3.1.1
  ports/botan/arm64-windows.patch
  ports/botan/fix-generate-build-path.patch
  ports/botan/fix-objectfile-list.patch
  ports/botan/pkgconfig.patch
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  ports/botan/verbose-install.patch
  ports/qca/0002-fix-build-error.patch
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
  versions/q-/qca.json
Labels: info:internal, category:port-update, info:reviewed

#33688 [sdl2-net] fix uwp
  ports/sdl2-net/fix-uwp.patch
  ports/sdl2-net/portfile.cmake
  ports/sdl2-net/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/sdl2-net.json
Labels: category:port-bug, info:reviewed

#33713 [drogon] fix cross compilation
  ports/drogon/0005-drogon-cross-compile.patch
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-feature, info:reviewed

#33826 [itk] fix python build
  ports/itk/cxx17.patch
  ports/itk/portfile.cmake
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-bug, info:reviewed

#34306 [liblzma] update to version 5.4.4
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-update, info:reviewed

#34325 [libpqxx] Update to 7.8.1
  ports/libpqxx/fix_build_with_vs2017.patch
  ports/libpqxx/portfile.cmake
  ports/libpqxx/vcpkg.json
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: info:internal, category:port-update, info:reviewed

#34323 [libsmb2] Bump to 2023-08-11
  ports/libsmb2/portfile.cmake
  ports/libsmb2/usage
  ports/libsmb2/vcpkg-cmake-wrapper.cmake
  ports/libsmb2/vcpkg.json
  versions/baseline.json
  versions/l-/libsmb2.json
Labels: category:port-update, info:reviewed

#33629 [canvas-ity] New port
  ports/canvas-ity/portfile.cmake
  ports/canvas-ity/vcpkg.json
  versions/baseline.json
  versions/c-/canvas-ity.json
Labels: category:new-port, info:reviewed

#33879 [sdbus-cpp] New port
  ports/sdbus-cpp/pic.patch
  ports/sdbus-cpp/portfile.cmake
  ports/sdbus-cpp/usage
  ports/sdbus-cpp/vcpkg.json
  versions/baseline.json
  versions/s-/sdbus-cpp.json
Labels: category:new-port, info:reviewed

#34367 [bfgroup-lyra] Bump to 1.6.1
  ports/bfgroup-lyra/portfile.cmake
  ports/bfgroup-lyra/usage
  ports/bfgroup-lyra/vcpkg.json
  versions/b-/bfgroup-lyra.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34365 [cpp-async] Bump to 1.1.0
  ports/cpp-async/portfile.cmake
  ports/cpp-async/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-async.json
Labels: category:port-update, info:reviewed

#34364 [mdns] Update to 1.4.3
  ports/mdns/portfile.cmake
  ports/mdns/vcpkg.json
  versions/baseline.json
  versions/m-/mdns.json
Labels: info:internal, category:port-update, info:reviewed

#34363 [sokol] Bump to 2023-10-07
  ports/sokol/portfile.cmake
  ports/sokol/vcpkg.json
  versions/baseline.json
  versions/s-/sokol.json
Labels: category:port-update, info:reviewed

#34362 [ltla-cppirlba] Bump to 2023-09-20
  ports/ltla-cppirlba/portfile.cmake
  ports/ltla-cppirlba/vcpkg.json
  versions/baseline.json
  versions/l-/ltla-cppirlba.json
Labels: category:port-update, info:reviewed

#34358 [linalg] Bump to 2.2
  ports/linalg/portfile.cmake
  ports/linalg/vcpkg.json
  versions/baseline.json
  versions/l-/linalg.json
Labels: category:port-update, info:reviewed

#34347 [libfreenect2] Update to 0.2.1
  ports/libfreenect2/portfile.cmake
  ports/libfreenect2/vcpkg.json
  versions/baseline.json
  versions/l-/libfreenect2.json
Labels: info:internal, category:port-update, info:reviewed

#34341 [DiscordCoreAPI] to v2.0.1 and [Jsonifier] to v0.9.9
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#34340 [cubeb] no docs
  ports/cubeb/portfile.cmake
  ports/cubeb/vcpkg.json
  versions/baseline.json
  versions/c-/cubeb.json
Labels: category:port-bug, info:reviewed

#34339 [liblsquic] update
  ports/liblsquic/portfile.cmake
  ports/liblsquic/vcpkg.json
  versions/baseline.json
  versions/l-/liblsquic.json
Labels: category:port-update, info:reviewed

#34344 [cppmicroservices] Remove /WX option
  ports/cppmicroservices/portfile.cmake
  ports/cppmicroservices/remove-wx.patch
  ports/cppmicroservices/vcpkg.json
  versions/baseline.json
  versions/c-/cppmicroservices.json
Labels: category:port-bug, info:internal, info:reviewed

#34345 [gstreamer] Change HEAD_REF from master to main
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-bug, info:internal, info:reviewed

#34346 [harfbuzz] Fix build error
  ports/harfbuzz/fix-win32-build.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-bug, info:internal, info:reviewed

#34326 [asiosdk] Fix old hash and usage
  ports/asiosdk/portfile.cmake
  ports/asiosdk/usage
  ports/asiosdk/vcpkg.json
  versions/a-/asiosdk.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#34332 [dbus] Fix features
  ports/dbus/portfile.cmake
  ports/dbus/vcpkg.json
  versions/baseline.json
  versions/d-/dbus.json
Labels: category:port-bug, info:reviewed

#33273 [qcoro] New port
  ports/qcoro/0001-qt6-deprecated-qwebsocket-error.patch
  ports/qcoro/portfile.cmake
  ports/qcoro/usage
  ports/qcoro/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/q-/qcoro.json
Labels: category:new-port, info:reviewed

#34269 [libremidi] update to 4.2.3
  ports/libremidi/portfile.cmake
  ports/libremidi/vcpkg.json
  versions/baseline.json
  versions/l-/libremidi.json
Labels: category:port-update

#33251 [colmap] Update to latest version from 2023-10-01
  ports/colmap/fix-dependencies.patch
  ports/colmap/portfile.cmake
  ports/colmap/usage
  ports/colmap/vcpkg.json
  versions/baseline.json
  versions/c-/colmap.json
Labels: category:port-update, info:reviewed

#34374 [pugixml] Update to 1.14
  ports/pugixml/portfile.cmake
  ports/pugixml/vcpkg.json
  versions/baseline.json
  versions/p-/pugixml.json
Labels: info:internal, category:port-update, info:reviewed

#34368 [libpq] update to 16.0
  ports/libpq/portfile.cmake
  ports/libpq/unix/fix-configure.patch
  ports/libpq/vcpkg.json
  ports/libpq/windows/msbuild.patch
  ports/libpq/windows/win_bison_flex.patch
  versions/baseline.json
  versions/l-/libpq.json
Labels: info:internal, category:port-update, info:reviewed

#34298 [winpcap] fix build
  ports/nmap/portfile.cmake
  ports/nmap/vcpkg.json
  ports/soem/portfile.cmake
  ports/soem/vcpkg.json
  ports/winpcap/bison-flex.patch
  ports/winpcap/create_bin.bat
  ports/winpcap/create_lib.patch
  ports/winpcap/fix-create-lib-batch.patch
  ports/winpcap/portfile.cmake
  ports/winpcap/vcpkg.json
  ports/winpcap/wpcap.vcxproj.in
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/n-/nmap.json
  versions/s-/soem.json
  versions/w-/winpcap.json
Labels: category:port-bug, info:reviewed

#34342 [SDL2] Update version to 2.28.4
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: info:internal, category:port-update, info:reviewed

#34327 [soci] Fix dependencies in, intern, out
  ports/soci/dependencies.diff
  ports/soci/fix-dependency-libmysql.patch
  ports/soci/fix-mysql-feature-error.patch
  ports/soci/portfile.cmake
  ports/soci/usage
  ports/soci/usage-requirements.diff
  ports/soci/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-soci/portfile.cmake
  scripts/test_ports/vcpkg-ci-soci/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-soci/project/main.cpp
  scripts/test_ports/vcpkg-ci-soci/vcpkg.json
  versions/baseline.json
  versions/s-/soci.json
Labels: category:port-bug, info:reviewed

#34316 [talib] New port
  ports/talib/portfile.cmake
  ports/talib/vcpkg.json
  versions/baseline.json
  versions/t-/talib.json
Labels: category:new-port, info:reviewed

#34405 [curl] Update to 8.4.0.
  ports/curl/0002_fix_uwp.patch
  ports/curl/0005_remove_imp_suffix.patch
  ports/curl/0012-fix-dependency-idn2.patch
  ports/curl/0020-fix-pc-file.patch
  ports/curl/0022-deduplicate-libs.patch
  ports/curl/cmake-config.patch
  ports/curl/dependencies.patch
  ports/curl/export-components.patch
  ports/curl/mbedtls-ws2_32.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: info:internal, category:port-update

#33600 [llvm] update to v17.0.2
  ports/halide/portfile.cmake
  ports/halide/vcpkg.json
  ports/llvm/0001-Fix-install-paths.patch
  ports/llvm/0001-fix-install-package-dir.patch
  ports/llvm/0002-Fix-DR-1734.patch
  ports/llvm/0002-fix-tools-install-dir.patch
  ports/llvm/0003-fix-llvm-config.patch
  ports/llvm/0004-Fix-compiler-rt-install-path.patch
  ports/llvm/0004-disable-libomp-aliases.patch
  ports/llvm/0005-remove-numpy.patch
  ports/llvm/0006-create-destination-mlir-directory.patch
  ports/llvm/0007-Fix-install-bolt.patch
  ports/llvm/0007-fix-compiler-rt-warnings.patch
  ports/llvm/0008-llvm_assert.patch
  ports/llvm/0011-missing-include.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  ports/mesa/clover-llvm-move-to-modern-pass-manager.patch
  ports/mesa/gallium-fix-build-with-llvm-17.patch
  ports/mesa/portfile.cmake
  ports/mesa/vcpkg.json
  ports/symengine/portfile.cmake
  ports/symengine/vcpkg.json
  scripts/test_ports/vcpkg-ci-llvm/vcpkg.json
  versions/baseline.json
  versions/h-/halide.json
  versions/l-/llvm.json
  versions/m-/mesa.json
  versions/s-/symengine.json
Labels: category:port-update, info:reviewed

#34136 [fann] update to 2023-01-26
  ports/fann/fix-build_type.patch
  ports/fann/fix-installation.patch
  ports/fann/fix-uwp-build.patch
  ports/fann/portfile.cmake
  ports/fann/remove-nouse-target.patch
  ports/fann/vcpkg.json
  versions/baseline.json
  versions/f-/fann.json
Labels: category:port-update, info:reviewed

#33959 [mpg123] Add patch for wasm triplet, fix checktypesize
  ports/mpg123/fix-checktypesize.patch
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:reviewed

#34428 Build Fixes 2023-10-11.
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#34441 [plplot] Fix download errors
  ports/plplot/portfile.cmake
  ports/plplot/vcpkg.json
  versions/baseline.json
  versions/p-/plplot.json
Labels: category:port-bug, info:internal, info:reviewed

#34010 [gz-cmake3] Update to 3.4.0
  ports/gz-cmake3/portfile.cmake
  ports/gz-cmake3/vcpkg.json
  ports/jsoncpp/portfile.cmake
  ports/jsoncpp/vcpkg.json
  versions/baseline.json
  versions/g-/gz-cmake3.json
  versions/j-/jsoncpp.json
Labels: category:port-update, info:reviewed

#34234 [libidn2] Generally disable autopoint
  ports/libidn2/portfile.cmake
  ports/libidn2/vcpkg.json
  versions/baseline.json
  versions/l-/libidn2.json
Labels: category:port-bug, info:reviewed

#34384 [aws-sdk-cpp] Remove `compute_build_only.cmake`.
  ports/aws-sdk-cpp/compute_build_only.cmake
  ports/aws-sdk-cpp/generateFeatures.ps1
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/usage
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#34404 [libffi] Fix undefined function error
  ports/libffi/fix_undefind_func.patch
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-bug, info:internal, info:reviewed

#34413 [nghttp2] update to 1.57.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#34423 [dav1d] Update to 1.3.0
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-update, info:reviewed

#34458 [mongoose] update to 7.12
  ports/mongoose/portfile.cmake
  ports/mongoose/vcpkg.json
  versions/baseline.json
  versions/m-/mongoose.json
Labels: category:port-update, info:reviewed

#34408 [basisu] Update the source of the port
  ports/basisu/fix-add-libgen-mingw.patch
  ports/basisu/fix-addostream.patch
  ports/basisu/portfile.cmake
  ports/basisu/vcpkg.json
  versions/b-/basisu.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#34419 [shiva-sfml] delist/remove port
  ports/shiva-sfml/portfile.cmake
  ports/shiva-sfml/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
Labels: info:reviewed, category:infrastructure

#34420 [keystone] use python3
  ports/keystone/portfile.cmake
  ports/keystone/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/k-/keystone.json
Labels: category:port-feature, info:reviewed

#34417 [corrade] fix clang-16 build
  ports/corrade/clang-16.patch
  ports/corrade/portfile.cmake
  ports/corrade/vcpkg.json
  versions/baseline.json
  versions/c-/corrade.json
Labels: category:port-bug, info:reviewed

#34414 [tracy] fix tools build
  ports/tracy/002-fix-capstone-5.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-bug, info:reviewed

#34434 [google-cloud-cpp] update to latest release (v2.17.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#34418 [qt5-multimedia] fix xcode 15 build
  ports/qt5-multimedia/portfile.cmake
  ports/qt5-multimedia/vcpkg.json
  ports/qt5-multimedia/xcode15.patch
  versions/baseline.json
  versions/q-/qt5-multimedia.json
Labels: category:port-bug, info:reviewed

#34335 [murmur3] New port
  ports/murmur3/CMakeLists.txt
  ports/murmur3/portfile.cmake
  ports/murmur3/usage
  ports/murmur3/vcpkg.json
  versions/baseline.json
  versions/m-/murmur3.json
Labels: category:new-port, info:reviewed

#34409 [better-enums] New port
  ports/better-enums/portfile.cmake
  ports/better-enums/vcpkg.json
  versions/b-/better-enums.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#34157 [Brotli] Fix emscripten
  ports/brotli/emscripten.patch
  ports/brotli/portfile.cmake
  ports/brotli/vcpkg.json
  versions/b-/brotli.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#34280 [ginkgo] Update to 1.6.0
  ports/ginkgo/portfile.cmake
  ports/ginkgo/vcpkg.json
  versions/baseline.json
  versions/g-/ginkgo.json
Labels: category:port-update, info:reviewed

#34421 [ffmpeg] Enable dav1d feature on osx
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#34430 [fontconfig] Fix FC_TEMPLATEDIR
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-bug, info:reviewed

#34436 [soci] Fix usage
  ports/soci/portfile.cmake
  ports/soci/usage
  ports/soci/vcpkg.json
  versions/baseline.json
  versions/s-/soci.json
Labels: category:port-bug, info:reviewed

#34439 [glib] update to 2.78.0
  ports/glib/fix-build-race-on-gio.patch
  ports/glib/libintl.patch
  ports/glib/portfile.cmake
  ports/glib/suppress-libelf-dependency.patch
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#34459 [BoringSSL] rm debug suffix non-Windows, short name in UNIX pc
  ports/boringssl/install-pc-files.cmake
  ports/boringssl/portfile.cmake
  ports/boringssl/vcpkg.json
  versions/b-/boringssl.json
  versions/baseline.json
Labels: category:port-bug, category:port-update, info:reviewed

#34461 [libtins] Fix include header file cannot be found
  ports/libtins/fix_include.patch
  ports/libtins/portfile.cmake
  ports/libtins/vcpkg.json
  versions/baseline.json
  versions/l-/libtins.json
Labels: category:port-bug, info:internal, info:reviewed

#34465 [breakpad] Fix breakpad use atl not atlmfc
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#34322 [cryptopp] update to 8.9.0
  ports/cryptopp/fix-git-branch.patch
  ports/cryptopp/patch.patch
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: info:internal, category:port-update

#34412 [thomasmonkman-filewatch] New port
  ports/thomasmonkman-filewatch/portfile.cmake
  ports/thomasmonkman-filewatch/vcpkg.json
  versions/baseline.json
  versions/t-/thomasmonkman-filewatch.json
Labels: category:new-port, info:reviewed

#34386 [enkiTS] Adding Port
  ports/enkits/portfile.cmake
  ports/enkits/update_install.patch
  ports/enkits/usage
  ports/enkits/vcpkg.json
  versions/baseline.json
  versions/e-/enkits.json
Labels: category:new-port, info:reviewed

#34433 [ninja] update to v1.11.1
  scripts/vcpkgTools.xml
Labels: category:tool-update, requires:vcpkg-team-review

#34445 [assimp] Fix configure warning when using minizip from assimp library
  ports/assimp/build_fixes.patch
  ports/assimp/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#34431 Patch Tuesday 2023-10-11 (except macOS)
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/changing-linux-packages.md
  scripts/azure-pipelines/linux/managed-image.json
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
Labels: info:internal, info:reviewed, category:infrastructure

#34481 [libosip2, talib] Don't install include/makefile.am.
  ports/libosip2/portfile.cmake
  ports/libosip2/vcpkg.json
  ports/talib/portfile.cmake
  ports/talib/vcpkg.json
  versions/baseline.json
  versions/l-/libosip2.json
  versions/t-/talib.json
Labels: category:port-bug, info:internal

#34480 [libcap, libgpiod] Use tarballs from kernel.org.
  ports/libcap/portfile.cmake
  ports/libcap/vcpkg.json
  ports/libgpiod/portfile.cmake
  ports/libgpiod/vcpkg.json
  versions/baseline.json
  versions/l-/libcap.json
  versions/l-/libgpiod.json
Labels: category:port-feature, info:internal, info:reviewed

#34311 [sdl2] Add feature alsa
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-feature, info:reviewed

#34498 [libmediainfo] Update to 23.10
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  versions/baseline.json
  versions/l-/libmediainfo.json
Labels: category:port-update, info:reviewed

#34497 [gzcmak3] update to 3.4.1
  ports/gz-cmake3/portfile.cmake
  ports/gz-cmake3/vcpkg.json
  versions/baseline.json
  versions/g-/gz-cmake3.json
Labels: category:port-update, info:reviewed

#34494 [imgui-node-editor] Update to 0.9.3
  ports/imgui-node-editor/portfile.cmake
  ports/imgui-node-editor/vcpkg.json
  versions/baseline.json
  versions/i-/imgui-node-editor.json
Labels: category:port-update, info:reviewed

#34477 [libtracepoint,libtracepoint-control,libtracepoint-decode,libeventheader-tracepoint,libeventheader-decode] Update to 1.2.1
  ports/libeventheader-decode/portfile.cmake
  ports/libeventheader-decode/vcpkg.json
  ports/libeventheader-tracepoint/portfile.cmake
  ports/libeventheader-tracepoint/vcpkg.json
  ports/libtracepoint-control/portfile.cmake
  ports/libtracepoint-control/vcpkg.json
  ports/libtracepoint-decode/portfile.cmake
  ports/libtracepoint-decode/vcpkg.json
  ports/libtracepoint/portfile.cmake
  ports/libtracepoint/vcpkg.json
  versions/baseline.json
  versions/l-/libeventheader-decode.json
  versions/l-/libeventheader-tracepoint.json
  versions/l-/libtracepoint-control.json
  versions/l-/libtracepoint-decode.json
  versions/l-/libtracepoint.json
Labels: category:port-update, info:reviewed

#34496 [vcpkg baseline][highs] Fix compiler selection
  ports/highs/fix-cmake-output.patch
  ports/highs/fix-compiler.patch
  ports/highs/portfile.cmake
  ports/highs/usage
  ports/highs/vcpkg.json
  versions/baseline.json
  versions/h-/highs.json
Labels: category:port-bug, info:reviewed

#34486 [libopenmpt] Update, cleanup
  ports/libopenmpt/CMakeLists.txt
  ports/libopenmpt/portfile.cmake
  ports/libopenmpt/vcpkg.json
  versions/baseline.json
  versions/l-/libopenmpt.json
Labels: category:port-update, info:reviewed

#34474 [Thorvg] Update Thorvg port to v0.11.1
  ports/thorvg/install-tools.patch
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  ports/thorvg/windows-build-option.patch
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#34467 [nifticlib] update to 2022-07-04 to add include path to fix breaks app build
  ports/nifticlib/portfile.cmake
  ports/nifticlib/vcpkg.json
  versions/baseline.json
  versions/n-/nifticlib.json
Labels: category:port-feature, info:internal, info:reviewed

#34499 [assimp] Use unofficial-minizip for find_dependency to fix a configure warning
  ports/assimp/build_fixes.patch
  ports/assimp/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#34502 [readline-win32] Fix windows dynamic linking
  ports/readline-win32/portfile.cmake
  ports/readline-win32/vcpkg.json
  versions/baseline.json
  versions/r-/readline-win32.json
Labels: category:port-update, info:reviewed

#34415 [tiff] fix tools feature
  ports/tiff/portfile.cmake
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-feature, info:reviewed

#34528 [nghttp3] update to 1.0.0
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#34526 [libsvm] update to 3.32
  ports/libsvm/portfile.cmake
  ports/libsvm/vcpkg.json
  versions/baseline.json
  versions/l-/libsvm.json
Labels: category:port-update, info:reviewed

#34504 [libcial] Update version to v3.0.17
  ports/libical/portfile.cmake
  ports/libical/vcpkg.json
  versions/baseline.json
  versions/l-/libical.json
Labels: info:internal, category:port-update, info:reviewed

#34301 [ogre] Fix usage of ogre[core]
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-bug, info:reviewed

#34043 [dirent] update to 1.24
  ports/dirent/portfile.cmake
  ports/dirent/vcpkg.json
  ports/libmagic/0016-Fix-file_famagic-function.patch
  ports/libmagic/portfile.cmake
  ports/libmagic/vcpkg.json
  versions/baseline.json
  versions/d-/dirent.json
  versions/l-/libmagic.json
Labels: category:port-update, info:reviewed

#34507 [cpptoml] Disable LIBCXX feature
  ports/cpptoml/portfile.cmake
  ports/cpptoml/vcpkg.json
  versions/baseline.json
  versions/c-/cpptoml.json
Labels: category:port-bug, info:internal, info:reviewed

#34356 [ports/keccak-tiny] New port
  ports/keccak-tiny/CMakeLists.txt
  ports/keccak-tiny/portfile.cmake
  ports/keccak-tiny/usage
  ports/keccak-tiny/vcpkg.json
  versions/baseline.json
  versions/k-/keccak-tiny.json
Labels: category:new-port, info:reviewed

#34463 [ogre-next] fix ogre-next dependencies
  ports/ogre-next/fix-dependencies.patch
  ports/ogre-next/portfile.cmake
  ports/ogre-next/toolchain_fixes.patch
  ports/ogre-next/vcpkg.json
  versions/baseline.json
  versions/o-/ogre-next.json
Labels: category:port-bug, info:reviewed

#34561 [libmaxminddb] update to 1.7.1
  ports/libmaxminddb/fix-linux-build.patch
  ports/libmaxminddb/portfile.cmake
  ports/libmaxminddb/vcpkg.json
  versions/baseline.json
  versions/l-/libmaxminddb.json
Labels: category:port-update, info:reviewed

#34544 [tracy] update to 0.10
  ports/tracy/001-fix-vcxproj-vcpkg.patch
  ports/tracy/004-fix-missing-threads-dep.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-update, info:reviewed

#34538 [libheif] update to version 1.17.0
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-update, info:reviewed

#34547 [gstreamer] fix core build
  ports/gstreamer/base-must-be-enabled.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-bug, info:reviewed

#34515 [cpr] update cpr port and baseline to 1.10.5
  ports/cpr/001-cpr-config.patch
  ports/cpr/disable_werror.patch
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
Labels: category:port-update, info:reviewed

#34513 [idyntree] Update to 10.0.0
  ports/idyntree/portfile.cmake
  ports/idyntree/vcpkg.json
  versions/baseline.json
  versions/i-/idyntree.json
Labels: category:port-update, info:reviewed

#34532 [liblemon] Supports recent compilers.
  ports/liblemon/portfile.cmake
  ports/liblemon/vcpkg.json
  versions/baseline.json
  versions/l-/liblemon.json
Labels: category:port-bug, info:reviewed

#34456 [mosquitto] Update to 2.0.18
  ports/mosquitto/0002-win64-support.patch
  ports/mosquitto/0005-websocket-shared-lib-name.patch
  ports/mosquitto/0006-pthreads-for-windows.patch
  ports/mosquitto/portfile.cmake
  ports/mosquitto/vcpkg.json
  versions/baseline.json
  versions/m-/mosquitto.json
Labels: info:internal, category:port-update, info:reviewed

#34510 [oboe] add new port
  ports/oboe/fix_install.patch
  ports/oboe/portfile.cmake
  ports/oboe/vcpkg.json
  versions/baseline.json
  versions/o-/oboe.json
Labels: category:new-port, info:reviewed

#34506 [aws-sdk-cpp] Fix feature awsmigrationhub build error
  ports/aws-sdk-cpp/fix-awsmigrationhub-build.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#34476 [harfbuzz] Make 'cairo' an optional feature for 'harfbuzz'
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-feature, info:reviewed

#34462 [mpg123] Fix pc file for Windows, update deps
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:reviewed

#34387 [boost-iostreams] Fix mingw
  ports/boost-iostreams/b2-options.cmake
  ports/boost-iostreams/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-iostreams.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#34585 [libmorton] update to 0.2.12
  ports/libmorton/portfile.cmake
  ports/libmorton/vcpkg.json
  versions/baseline.json
  versions/l-/libmorton.json
Labels: category:port-update, info:reviewed

#34563 [realsense2] update to 2.54.2
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: info:internal, category:port-update, info:reviewed

#34555 [libjpeg-turbo] update to 3.0.1
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-update, info:reviewed

#34518 [pravila00-enum-string] New port
  ports/pravila00-enum-string/portfile.cmake
  ports/pravila00-enum-string/vcpkg.json
  versions/baseline.json
  versions/p-/pravila00-enum-string.json
Labels: category:new-port, info:reviewed

#34401 [ankurvdev-embedresource] adding new port
  ports/ankurvdev-embedresource/portfile.cmake
  ports/ankurvdev-embedresource/vcpkg.json
  scripts/test_ports/vcpkg-ci-ankurvdev-embedresource/portfile.cmake
  scripts/test_ports/vcpkg-ci-ankurvdev-embedresource/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-ankurvdev-embedresource/project/main.cpp
  scripts/test_ports/vcpkg-ci-ankurvdev-embedresource/vcpkg.json
  versions/a-/ankurvdev-embedresource.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#34586 [gdal] Add upstream TIFF fix
  ports/gdal/portfile.cmake
  ports/gdal/upstream-b5858ed.diff
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#34587 [gz-cmake3] fix FindGzBullet.cmake
  ports/gz-cmake3/dependencies.patch
  ports/gz-cmake3/portfile.cmake
  ports/gz-cmake3/vcpkg.json
  versions/baseline.json
  versions/g-/gz-cmake3.json
Labels: category:port-bug, info:reviewed

#34574 [baseline] [cpptoml] Passing: remove from fail list
  scripts/ci.baseline.txt
Labels: info:internal, category:code-cleanup

#34591 [glm] Restore version 0.9.9.8
  ports/glm/portfile.cmake
  ports/glm/usage
  ports/glm/vcpkg.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#34548 Update vcpkg-tool to 2023-10-18
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure, category:tool-update

#34392 [community triplet] add mips64-linux to triplets/community
  triplets/community/mips64-linux.cmake
Labels: info:reviewed, category:tool-update, category:community-triplet, requires:vcpkg-tool-release

#34584 [cpr] fix error hash
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
Labels: category:port-bug, info:internal, info:reviewed

#34627 [gz-math7] update to 7.3.0
  ports/gz-math7/portfile.cmake
  ports/gz-math7/vcpkg.json
  versions/baseline.json
  versions/g-/gz-math7.json
Labels: category:port-update, info:reviewed

#34625 [libraqm] update to 0.10.1
  ports/libraqm/portfile.cmake
  ports/libraqm/vcpkg.json
  versions/baseline.json
  versions/l-/libraqm.json
Labels: category:port-update, info:reviewed

#34621 [libphonenumber] update to 8.13.23
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update, info:reviewed

#34614 [webview2] update to 1.0.2088.41
  ports/webview2/portfile.cmake
  ports/webview2/vcpkg.json
  versions/baseline.json
  versions/w-/webview2.json
Labels: info:internal, category:port-update, info:reviewed

#34602 [ade] updated to 0.1.2d
  ports/ade/portfile.cmake
  ports/ade/vcpkg.json
  versions/a-/ade.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#34595 [libheif] update to 1.17.1
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-update, info:reviewed
