Repository microsoft/vcpkg, pull requests merged in 2023-08, with the labels that each got.

#32867 [catch2] Update to 3.4.0
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#32861 [ngtcp2]: update 0.18.0
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-update, info:reviewed

#32860 [nghttp3]: update to 0.14.0
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#32852 [curlpp] Change curl dependency to not include default features
  ports/curlpp/vcpkg.json
  versions/baseline.json
  versions/c-/curlpp.json
Labels: category:port-feature, info:reviewed

#32807 [smpeg2] Cleanup, fix build, export config
  ports/smpeg2/001-correct-sdl-headers-dir.patch
  ports/smpeg2/002-use-SDL2-headers.patch
  ports/smpeg2/CMakeLists.txt
  ports/smpeg2/hufftable-uint.patch
  ports/smpeg2/portfile.cmake
  ports/smpeg2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/smpeg2.json
Labels: category:port-bug, info:reviewed

#32877 [mongoose] update to 7.11
  ports/mongoose/portfile.cmake
  ports/mongoose/vcpkg.json
  versions/baseline.json
  versions/m-/mongoose.json
Labels: category:port-update, info:reviewed

#32873 [ade] Update to v0.1.2
  ports/ade/portfile.cmake
  ports/ade/vcpkg.json
  versions/a-/ade.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32869 [curl] Update to 8.2.1
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: info:internal, category:port-update, info:reviewed

#32881 [google-cloud-cpp] update to latest release (v2.14.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#32892 [fastgltf] fix link simdjson error
  ports/fastgltf/portfile.cmake
  ports/fastgltf/vcpkg.json
  versions/baseline.json
  versions/f-/fastgltf.json
Labels: category:port-bug, info:internal, info:reviewed

#32890 [angle] Avoid link to frameworks with absolute path on macOS
  ports/angle/cmake-buildsystem/PlatformMac.cmake
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#32853 [ogre] update to v14.0.1
  ports/ogre/cfg-rel-paths.patch
  ports/ogre/fix-dependencies.patch
  ports/ogre/fix_override.patch
  ports/ogre/portfile.cmake
  ports/ogre/swig-python-polyfill.patch
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: info:internal, category:port-update, info:reviewed

#32854 [avro-cpp] Fix static build
  ports/avro-cpp/fix-cmake.patch
  ports/avro-cpp/install.patch
  ports/avro-cpp/portfile.cmake
  ports/avro-cpp/usage
  ports/avro-cpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/avro-cpp.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#32882 [portaudio] Add patch that fixes framework linking
  ports/portaudio/framework_link.patch
  ports/portaudio/portfile.cmake
  ports/portaudio/vcpkg.json
  versions/baseline.json
  versions/p-/portaudio.json
Labels: category:port-bug, info:reviewed

#32834 [cpptoml] `version-string` --> `version`
  ports/cpptoml/portfile.cmake
  ports/cpptoml/vcpkg.json
  versions/baseline.json
  versions/c-/cpptoml.json
Labels: category:port-feature, info:reviewed

#32532 [dp-thread-pool] Add port for DeveloperPaul123/thread-pool
  ports/dp-thread-pool/portfile.cmake
  ports/dp-thread-pool/vcpkg.json
  versions/baseline.json
  versions/d-/dp-thread-pool.json
Labels: category:new-port, info:reviewed

#32859 [scotch] add new port
  ports/scotch/fix-build.patch
  ports/scotch/portfile.cmake
  ports/scotch/vcpkg.json
  versions/baseline.json
  versions/s-/scotch.json
Labels: category:new-port, info:reviewed

#32816 [libxdf] Add new port
  ports/libxdf/fix-pugixml-dependency.patch
  ports/libxdf/portfile.cmake
  ports/libxdf/vcpkg.json
  versions/baseline.json
  versions/l-/libxdf.json
Labels: category:new-port, info:reviewed

#32884 [aws-sdk-cpp] Update AWS SDK for C++ and its dependencies to 1.11.132
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-cal/portfile.cmake
  ports/aws-c-cal/vcpkg.json
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-compression/portfile.cmake
  ports/aws-c-compression/vcpkg.json
  ports/aws-c-event-stream/portfile.cmake
  ports/aws-c-event-stream/vcpkg.json
  ports/aws-c-http/portfile.cmake
  ports/aws-c-http/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-c-sdkutils/portfile.cmake
  ports/aws-c-sdkutils/vcpkg.json
  ports/aws-checksums/portfile.cmake
  ports/aws-checksums/vcpkg.json
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/fix-openssl3.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/turn-off-warnings-as-errors.patch
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-cal.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-compression.json
  versions/a-/aws-c-event-stream.json
  versions/a-/aws-c-http.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-c-sdkutils.json
  versions/a-/aws-checksums.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32870 [drogon] fix drogon_ctl command not found error
  ports/drogon/001_vcpkg.patch
  ports/drogon/002_drogon_config.patch
  ports/drogon/003_fix_gcc13.patch
  ports/drogon/004_deps_redis.patch
  ports/drogon/005_drogon_ctl.patch
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-bug, info:reviewed

#32829 [c89stringutils, rhasheq] Update
  ports/c89stringutils/no_flags.patch
  ports/c89stringutils/portfile.cmake
  ports/c89stringutils/usage
  ports/c89stringutils/vcpkg.json
  ports/rhasheq/find-rhash.patch
  ports/rhasheq/portfile.cmake
  ports/rhasheq/vcpkg.json
  versions/baseline.json
  versions/c-/c89stringutils.json
  versions/r-/rhasheq.json
Labels: category:port-update, info:reviewed

#32698 Recommend self-contain repos/submodules regardless of build system.
  README.md
Labels: category:documentation, info:reviewed

#32907 [attr] Fix nls
  ports/attr/portfile.cmake
  ports/attr/vcpkg.json
  versions/a-/attr.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#31065 [libhdfs3] Fix libhdfs3 to build missing dependent libraries libuuid and libgsasl
  ports/libhdfs3/fix_dependency_uuid.patch
  ports/libhdfs3/portfile.cmake
  ports/libhdfs3/vcpkg.json
  versions/baseline.json
  versions/l-/libhdfs3.json
Labels: category:port-bug, info:internal, info:reviewed

#32841 Add CMAKE_MODULE_LINKER_FLAGS to toolchain scripts.
  scripts/toolchains/android.cmake
  scripts/toolchains/freebsd.cmake
  scripts/toolchains/ios.cmake
  scripts/toolchains/linux.cmake
  scripts/toolchains/mingw.cmake
  scripts/toolchains/openbsd.cmake
  scripts/toolchains/osx.cmake
  scripts/toolchains/uwp.cmake
  scripts/toolchains/windows.cmake
  scripts/toolchains/xbox.cmake
Labels: info:reviewed, category:tool-update

#32885 Update vcpkg-tool to 2023-08-02 and add update script.
  scripts/update-vcpkg-tool-metadata.ps1
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#32913 [vcpkg baseline][liblsl] passing remove from fail
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#32959 [libhv] Update version
  ports/libhv/d77287e954f02706502028baadc8c87e7382301b.patch
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:port-update, info:reviewed

#32954 [maddy] Bump to 1.2.0
  ports/maddy/portfile.cmake
  ports/maddy/vcpkg.json
  versions/baseline.json
  versions/m-/maddy.json
Labels: category:port-update, info:reviewed

#32953 [volk] Bump to 1.3.250
  ports/volk/portfile.cmake
  ports/volk/usage
  ports/volk/vcpkg.json
  versions/baseline.json
  versions/v-/volk.json
Labels: category:port-update, info:reviewed

#32952 [fastio] Bump to 2023-07-06
  ports/fastio/portfile.cmake
  ports/fastio/vcpkg.json
  versions/baseline.json
  versions/f-/fastio.json
Labels: category:port-update, info:reviewed

#32951 [librdkafka] Upgrade up to v2.2.0
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#32947 [nanoprintf] Bump to 0.3.4
  ports/nanoprintf/portfile.cmake
  ports/nanoprintf/vcpkg.json
  versions/baseline.json
  versions/n-/nanoprintf.json
Labels: category:port-update, info:reviewed

#32946 [sse2neon] Bump to 1.6.0
  ports/sse2neon/portfile.cmake
  ports/sse2neon/vcpkg.json
  versions/baseline.json
  versions/s-/sse2neon.json
Labels: category:port-update, info:reviewed

#32945 [entt] Bump to 3.12.2
  ports/entt/portfile.cmake
  ports/entt/usage
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:reviewed

#32938 [rsm-binary-io] Update to 2.0.6
  ports/rsm-binary-io/portfile.cmake
  ports/rsm-binary-io/vcpkg.json
  versions/baseline.json
  versions/r-/rsm-binary-io.json
Labels: category:port-update, info:reviewed

#32950 [args] Bump to 6.4.6
  ports/args/portfile.cmake
  ports/args/usage
  ports/args/vcpkg.json
  versions/a-/args.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32934 [Thorvg] Update Thorvg port to v0.10.0
  ports/thorvg/install-tools.patch
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  ports/thorvg/windows-build-option.patch
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#32931 Update async-mqtt port to 1.0.9
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32927 [yoga] Bump to 2.0.0
  ports/yoga/portfile.cmake
  ports/yoga/vcpkg.json
  versions/baseline.json
  versions/y-/yoga.json
Labels: category:port-update, info:reviewed

#32925 [nanobench] Bump to 4.3.11
  ports/nanobench/portfile.cmake
  ports/nanobench/vcpkg.json
  versions/baseline.json
  versions/n-/nanobench.json
Labels: category:port-update, info:reviewed

#32924 [tbb] update to 2021.10.0
  ports/tbb/portfile.cmake
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-update, info:reviewed

#32919 [openssl] update to 3.1.2
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: info:internal, category:port-update, info:reviewed

#32898 [bitsery] Update to v5.2.3
  ports/bitsery/portfile.cmake
  ports/bitsery/vcpkg.json
  versions/b-/bitsery.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32944 [sfml] Fix specify c++ library on macOS
  ports/sfml/portfile.cmake
  ports/sfml/vcpkg.json
  versions/baseline.json
  versions/s-/sfml.json
Labels: category:port-bug, info:internal, info:reviewed

#32936 [google-cloud-cpp] fix opentelemetry feature
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#32914 [szip] Fix build on android
  ports/szip/portfile.cmake
  ports/szip/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/szip.json
Labels: category:port-feature, info:reviewed

#32795 [fins] add libfins
  ports/fins/portfile.cmake
  ports/fins/vcpkg.json
  versions/baseline.json
  versions/f-/fins.json
Labels: category:new-port, info:reviewed

#33007 [vcpkg baseline][c89stringutils] passing remove from fail
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#32997 [azure-iot-sdk-c] Update and fix
  ports/azure-iot-sdk-c/improve-external-deps-preview.patch
  ports/azure-iot-sdk-c/improve-external-deps.patch
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/vcpkg.json
  versions/a-/azure-iot-sdk-c.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#32974 [gperftools] Update version to 2.10
  ports/gperftools/portfile.cmake
  ports/gperftools/vcpkg.json
  versions/baseline.json
  versions/g-/gperftools.json
Labels: category:port-update, info:reviewed

#32988 [ignition-plugin1] bump version to 1.4.0
  ports/ignition-plugin1/portfile.cmake
  ports/ignition-plugin1/vcpkg.json
  versions/baseline.json
  versions/i-/ignition-plugin1.json
Labels: category:port-update, info:reviewed

#32973 [azure-core-amqp-cpp] publish version 1.0.0-beta.2
  ports/azure-core-amqp-cpp/00100-fix_dependency.patch
  ports/azure-core-amqp-cpp/portfile.cmake
  ports/azure-core-amqp-cpp/vcpkg.json
  versions/a-/azure-core-amqp-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32971 [azure-core-cpp] publish version 1.10.2
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32956 [xsimd] Bump to 11.1.0
  ports/xsimd/portfile.cmake
  ports/xsimd/usage
  ports/xsimd/vcpkg.json
  versions/baseline.json
  versions/x-/xsimd.json
Labels: category:port-update, info:reviewed

#32949 [cpp-httplib] Bump to 0.13.3
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/usage
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#32920 [openimageio] Update version to 2.4.13
  ports/openimageio/fix-msvc-build.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: info:internal, category:port-update, info:reviewed

#32899 [libphonenumber] Bump to 8.13.17 & fix linux and macOS build
  ports/libphonenumber/fix-find-protobuf.patch
  ports/libphonenumber/fix-icui18n-lib-name.patch
  ports/libphonenumber/fix-re2-identifiers.patch
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/re2-2023-07-01-compat.patch
  ports/libphonenumber/usage
  ports/libphonenumber/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-bug, category:port-update, info:reviewed

#32815 [ada-url] Update to 2.6.0
  ports/ada-url/portfile.cmake
  ports/ada-url/vcpkg.json
  versions/a-/ada-url.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32989 [ignition-utils1] bump version to 1.5.1
  ports/ignition-utils1/portfile.cmake
  ports/ignition-utils1/vcpkg.json
  versions/baseline.json
  versions/i-/ignition-utils1.json
Labels: category:port-update, info:reviewed

#32993 [c-ares] Update to 1.19.1
  ports/c-ares/fix-uwp.patch
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#32984 [gmp] Avoid libm for x86 msvc host
  ports/gmp/portfile.cmake
  ports/gmp/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
Labels: category:port-bug, info:reviewed

#32982 [imgui-sfml] Fix build and exported config
  ports/imgui-sfml/0001-fix_find_package.patch
  ports/imgui-sfml/004-fix-find-sfml.patch
  ports/imgui-sfml/portfile.cmake
  ports/imgui-sfml/usage
  ports/imgui-sfml/vcpkg.json
  versions/baseline.json
  versions/i-/imgui-sfml.json
Labels: category:port-bug, info:reviewed

#32980 [gperf] Fix error in cpp17 mode
  ports/gperf/portfile.cmake
  ports/gperf/remove_register_keyword_cpp17.patch
  ports/gperf/vcpkg.json
  versions/baseline.json
  versions/g-/gperf.json
Labels: category:port-bug, info:reviewed

#32957 [openssl] Fix win64 perlasm scheme
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  ports/openssl/windows/perlasm-scheme.patch
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#33006 [tuplet] New port
  ports/tuplet/portfile.cmake
  ports/tuplet/vcpkg.json
  versions/baseline.json
  versions/t-/tuplet.json
Labels: category:new-port, info:reviewed

#32541 [glslang] Add support for rtti in glslang port
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-feature, info:reviewed

#32916 [salome-medcoupling] Add new port
  ports/salome-configuration/portfile.cmake
  ports/salome-configuration/vcpkg.json
  ports/salome-med-fichier/portfile.cmake
  ports/salome-med-fichier/vcpkg.json
  ports/salome-medcoupling/fix-missing-symbols.patch
  ports/salome-medcoupling/portfile.cmake
  ports/salome-medcoupling/vcpkg.json
  ports/salome-medcoupling/win.patch
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/salome-configuration.json
  versions/s-/salome-med-fichier.json
  versions/s-/salome-medcoupling.json
Labels: category:new-port, info:reviewed

#32806 [vcpkg-find-acquire-program] Add mirror to nasm.
  scripts/cmake/vcpkg_find_acquire_program(NASM).cmake
Labels: info:reviewed, category:tool-update

#32998 [cpprestsdk] use platform expressions in default-features
  ports/cpprestsdk/vcpkg.json
  ports/microsoft-signalr/vcpkg.json
  ports/signalrclient/vcpkg.json
  versions/baseline.json
  versions/c-/cpprestsdk.json
  versions/m-/microsoft-signalr.json
  versions/s-/signalrclient.json
Labels: category:port-feature, info:reviewed

#31727 [python3] Update to 3.11.4
  ports/gobject-introspection/portfile.cmake
  ports/gobject-introspection/python.patch
  ports/gobject-introspection/vcpkg.json
  ports/libpq/build-msvc.cmake
  ports/libpq/portfile.cmake
  ports/libpq/unix/python.patch
  ports/libpq/vcpkg-libs.props.in
  ports/libpq/vcpkg.json
  ports/mdl-sdk/011-fix-python.patch
  ports/mdl-sdk/portfile.cmake
  ports/mdl-sdk/vcpkg.json
  ports/omniorb/portfile.cmake
  ports/omniorb/python-fixes.patch
  ports/omniorb/vcpkg.json
  ports/paraview/portfile.cmake
  ports/paraview/vcpkg.json
  ports/python3/0001-only-build-required-projects.patch
  ports/python3/0002-static-library.patch
  ports/python3/0003-use-vcpkg-zlib.patch
  ports/python3/0004-devendor-external-dependencies.patch
  ports/python3/0006-restore-support-for-windows-7.patch
  ports/python3/0009-bz2d.patch
  ports/python3/0010-dont-skip-rpath.patch
  ports/python3/0012-force-disable-curses.patch
  ports/python3/0013-configure-no-libcrypt.patch
  ports/python3/portfile.cmake
  ports/python3/usage.unix
  ports/python3/usage.win
  ports/python3/vcpkg.json
  ports/shiva/portfile.cmake
  ports/shiva/vcpkg.json
  ports/vcpkg-get-python-packages/portfile.cmake
  ports/vcpkg-get-python-packages/python310._pth
  ports/vcpkg-get-python-packages/vcpkg.json
  ports/vcpkg-get-python-packages/x_vcpkg_get_python_packages.cmake
  ports/vtk-dicom/portfile.cmake
  ports/vtk-dicom/vcpkg.json
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program(PYTHON3).cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/g-/gobject-introspection.json
  versions/l-/libpq.json
  versions/m-/mdl-sdk.json
  versions/o-/omniorb.json
  versions/p-/paraview.json
  versions/p-/python3.json
  versions/s-/shiva.json
  versions/v-/vcpkg-get-python-packages.json
  versions/v-/vtk-dicom.json
  versions/v-/vtk.json
Labels: category:port-update

#32937 Use 1ES to provision Linux agents.
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/generate-sas-tokens.ps1
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/linux/managed-image.json
Labels: info:internal, info:reviewed, category:infrastructure

#32986 [ignition-math6] Bump to version 6.14.0
  ports/ignition-math6/portfile.cmake
  ports/ignition-math6/vcpkg.json
  versions/baseline.json
  versions/i-/ignition-math6.json
Labels: category:port-update, info:reviewed

#32985 [libwebp] Fix SIMD patch quirks
  ports/libwebp/0003-simd.patch
  ports/libwebp/0007-fix-arm-build.patch
  ports/libwebp/portfile.cmake
  ports/libwebp/vcpkg.json
  versions/baseline.json
  versions/l-/libwebp.json
Labels: category:port-bug, info:reviewed

#33020 [implot] Fix download hash
  ports/implot/portfile.cmake
  ports/implot/vcpkg.json
  versions/baseline.json
  versions/i-/implot.json
Labels: category:port-bug, info:internal, info:reviewed

#33031 [libsodium] Add pkgconfig file
  ports/libsodium/CMakeLists.txt
  ports/libsodium/portfile.cmake
  ports/libsodium/vcpkg.json
  versions/baseline.json
  versions/l-/libsodium.json
Labels: category:port-feature, info:internal, info:reviewed

#32987 [ignition-cmake2] fix pkgconfig usage for finding OGRE
  ports/ignition-cmake2/fix-findogre-pkgconfig.patch
  ports/ignition-cmake2/portfile.cmake
  ports/ignition-cmake2/vcpkg.json
  versions/baseline.json
  versions/i-/ignition-cmake2.json
Labels: category:port-bug, info:reviewed

#32773 [openvino] fixed build with standalone crashpad and onednn
  ports/openvino/004-onednn-build.patch
  ports/openvino/005-rename-utils.patch
  ports/openvino/006-onednn-gpu-build.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-bug, info:reviewed

#33010 [libusb] Use /Z7 to embed the PDB into the executable
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-bug, info:internal, info:reviewed

#33062 Update vcpkg-tool to 2023-08-09.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#33048 [opencv4] Update to 4.8.0.
  ports/opencv/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv.json
  versions/o-/opencv4.json
Labels: info:internal, category:port-update, info:reviewed

#33058 [Azure Storage] Update to August Release
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33051 [azure-messaging-eventhubs-cpp] publish version 1.0.0-beta.1
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#33038 [libosmium] update to 2.19.0
  ports/libosmium/portfile.cmake
  ports/libosmium/vcpkg.json
  versions/baseline.json
  versions/l-/libosmium.json
Labels: category:port-update, info:reviewed

#33011 [tcb-span] Update to 2022-06-15
  ports/tcb-span/portfile.cmake
  ports/tcb-span/vcpkg.json
  versions/baseline.json
  versions/t-/tcb-span.json
Labels: category:port-update, info:reviewed

#32999 [fftw3] Fix build, cleanup
  ports/fftw3/install-subtargets.patch
  ports/fftw3/omp_test.patch
  ports/fftw3/patch_targets.patch
  ports/fftw3/portfile.cmake
  ports/fftw3/vcpkg.json
  versions/baseline.json
  versions/f-/fftw3.json
Labels: category:port-bug, info:reviewed

#33026 [3fd|python3] switch to vcpkg-msbuild
  ports/3fd/portfile.cmake
  ports/3fd/vcpkg.json
  ports/python3/0015-dont-use-WINDOWS-def.patch
  ports/python3/0016-fix-win-cross.patch
  ports/python3/openssl.props.in
  ports/python3/portfile.cmake
  ports/python3/python_vcpkg.props.in
  ports/python3/vcpkg.json
  ports/vcpkg-msbuild/vcpkg.json
  ports/vcpkg-msbuild/vcpkg_msbuild_install.cmake
  versions/3-/3fd.json
  versions/baseline.json
  versions/p-/python3.json
  versions/v-/vcpkg-msbuild.json
Labels: category:port-bug, info:reviewed

#33024 [new port] ZLMediaKit
  ports/zlmediakit/fix-dependency.patch
  ports/zlmediakit/portfile.cmake
  ports/zlmediakit/vcpkg.json
  versions/baseline.json
  versions/z-/zlmediakit.json
Labels: category:new-port, info:reviewed

#33072 [harfbuzz] Update version to 8.1.1
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: info:internal, category:port-update, info:reviewed

#33065 [cnats] Update to 3.6.1
  ports/cnats/portfile.cmake
  ports/cnats/vcpkg.json
  versions/baseline.json
  versions/c-/cnats.json
Labels: category:port-update, info:reviewed

#33016 [azure-iot-sdk-c] LTS_08_2023
  ports/azure-c-shared-utility/improve-dependencies.patch
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/vcpkg.json
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uamqp-c/vcpkg.json
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-uhttp-c/vcpkg.json
  ports/azure-umqtt-c/portfile.cmake
  ports/azure-umqtt-c/vcpkg.json
  versions/a-/azure-c-shared-utility.json
  versions/a-/azure-iot-sdk-c.json
  versions/a-/azure-uamqp-c.json
  versions/a-/azure-uhttp-c.json
  versions/a-/azure-umqtt-c.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33004 [simdutf] Update to 3.2.16
  ports/simdutf/disable-tests-and-benchmarks.patch
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/simdutf.json
Labels: category:port-update, info:reviewed

#33091 [easyhook] msbuild update
  ports/easyhook/portfile.cmake
  ports/easyhook/vcpkg.json
  versions/baseline.json
  versions/e-/easyhook.json
Labels: info:reviewed, category:code-cleanup

#33090 [activemq-cpp] switch msbuild
  ports/activemq-cpp/portfile.cmake
  ports/activemq-cpp/vcpkg.json
  versions/a-/activemq-cpp.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#33089 [ace] switch to vcpkg-msbuild
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#33076 openvino: migrate to 'platforms' in features
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-feature, info:reviewed

#32896 [cgal] update to 5.6
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  ports/cgal/x86_windows.patch
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-update, info:reviewed

#33077 [orc] Bump to 1.9.0 & fix usage
  ports/orc/0003-dependencies-from-vcpkg.patch
  ports/orc/fix-cmake.patch
  ports/orc/fix-linux-error.patch
  ports/orc/portfile.cmake
  ports/orc/usage
  ports/orc/vcpkg.json
  versions/baseline.json
  versions/o-/orc.json
Labels: category:port-update, info:reviewed

#33095 [directx-dxc] Fix missing dxil.dll install
  ports/directx-dxc/directx-dxc-config.cmake.in
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:port-bug, info:reviewed

#33099 [abseil] Bump to 20230802.0
  ports/abseil/core-foundation-deps.patch
  ports/abseil/fix-dll-support.patch
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33105 [libusb] msbuild update
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-feature, info:reviewed

#33107 [Ecsutil] msbuild
  ports/ecsutil/portfile.cmake
  ports/ecsutil/vcpkg.json
  versions/baseline.json
  versions/e-/ecsutil.json
Labels: info:reviewed, category:code-cleanup

#33100 [qoi] New port
  ports/qoi/portfile.cmake
  ports/qoi/vcpkg.json
  versions/baseline.json
  versions/q-/qoi.json
Labels: category:new-port, info:reviewed

#33096 [gdal] control dependency on libspatialite
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#33109 [azure-core-cpp] Don't refer to versions of curl that don't exist.
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#33001 [inih] Build with Meson + update to r57
  ports/inih/CMakeLists.txt
  ports/inih/portfile.cmake
  ports/inih/unofficial-inihConfig.cmake.in
  ports/inih/usage
  ports/inih/vcpkg.json
  versions/baseline.json
  versions/i-/inih.json
Labels: category:port-feature, category:port-update

#33102 [qoixx] New port
  ports/qoixx/portfile.cmake
  ports/qoixx/vcpkg.json
  versions/baseline.json
  versions/q-/qoixx.json
Labels: category:new-port, info:reviewed

#33088 Patch Tuesday August 2023.
  ports/libxt/add-missing-process-h.patch
  ports/libxt/portfile.cmake
  ports/libxt/vcpkg.json
  ports/openslide/fix-win-build.patch
  ports/openslide/vcpkg.json
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/android/create-docker-image.ps1
  scripts/azure-pipelines/android/create-image.ps1
  scripts/azure-pipelines/android/create-vmss.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/generate-sas-tokens.ps1
  scripts/azure-pipelines/linux/create-image.ps1
  scripts/azure-pipelines/linux/create-vmss.ps1
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  versions/baseline.json
  versions/l-/libxt.json
  versions/o-/openslide.json
Labels: info:internal, category:infrastructure

#33119 Add checklist items for Android Docker
  scripts/azure-pipelines/patch-tuesday-checklist.md
Labels: info:internal, info:reviewed, category:infrastructure

#33139 [vcpkg baseline][ace] passing remove from fail
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#33132 [python3] Don't set PYTHON_FOR_REGEN for host builds
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#33125 [libdjinterop] Updated to version 0.19.2
  ports/libdjinterop/portfile.cmake
  ports/libdjinterop/vcpkg.json
  versions/baseline.json
  versions/l-/libdjinterop.json
Labels: category:port-update, info:reviewed

#33123 [arg-router] Update to v1.4.0
  ports/arg-router/portfile.cmake
  ports/arg-router/vcpkg.json
  versions/a-/arg-router.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33122 [zlmediakit] enable mp4/webrtc default
  ports/zlmediakit/portfile.cmake
  ports/zlmediakit/vcpkg.json
  versions/baseline.json
  versions/z-/zlmediakit.json
Labels: category:port-update, info:reviewed

#32813 [simpleble] Add new port
  ports/simpleble/portfile.cmake
  ports/simpleble/vcpkg.json
  versions/baseline.json
  versions/s-/simpleble.json
Labels: category:new-port, info:reviewed

#33092 [xmlsec] Public XMLSEC_NO_SIZE_T XMLSEC_NO_XSLT
  ports/xmlsec/portfile.cmake
  ports/xmlsec/vcpkg.json
  versions/baseline.json
  versions/x-/xmlsec.json
Labels: category:port-bug, info:internal, info:reviewed

#32926 [highway] Bump to 1.0.6 & fix usage
  ports/highway/portfile.cmake
  ports/highway/usage
  ports/highway/vcpkg.json
  versions/baseline.json
  versions/h-/highway.json
Labels: category:port-update, info:reviewed

#33172 [libosip2] msbuild
  ports/libosip2/portfile.cmake
  ports/libosip2/vcpkg.json
  versions/baseline.json
  versions/l-/libosip2.json
Labels: info:reviewed, category:code-cleanup

#33167 [boinc] update to 7.24.1
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33184 [zeroc-ice] msbuild
  ports/zeroc-ice/portfile.cmake
  ports/zeroc-ice/vcpkg.json
  versions/baseline.json
  versions/z-/zeroc-ice.json
Labels: info:reviewed, category:code-cleanup

#33168 [mp3lame] msbuild
  ports/mp3lame/portfile.cmake
  ports/mp3lame/vcpkg.json
  versions/baseline.json
  versions/m-/mp3lame.json
Labels: info:reviewed, category:code-cleanup

#33166 update link in portfile template
  scripts/templates/portfile.in.cmake
Labels: info:internal, info:reviewed, category:tool-update

#33044 [freexl,libspatialite,spatialite-tools] Update, [minizip] Enable DLL, [libkml] Update minizip import
  ports/freexl/dependencies.patch
  ports/freexl/fix-makefiles.patch
  ports/freexl/fix-pc-file.patch
  ports/freexl/fix-sources.patch
  ports/freexl/portfile.cmake
  ports/freexl/subdirs.patch
  ports/freexl/vcpkg.json
  ports/libkml/fix-minizip.patch
  ports/libkml/vcpkg.json
  ports/libspatialite/fix-mingw.patch
  ports/libspatialite/fix-utf8-source.patch
  ports/libspatialite/portfile.cmake
  ports/libspatialite/vcpkg.json
  ports/minizip/CMakeLists.txt
  ports/minizip/lib-to-def.cmake
  ports/minizip/minizip-win32.def
  ports/minizip/portfile.cmake
  ports/minizip/vcpkg.json
  ports/spatialite-tools/portfile.cmake
  ports/spatialite-tools/vcpkg.json
  versions/baseline.json
  versions/f-/freexl.json
  versions/l-/libkml.json
  versions/l-/libspatialite.json
  versions/m-/minizip.json
  versions/s-/spatialite-tools.json
Labels: category:port-update, info:reviewed

#33171 [mdnsresponder] msbuild
  ports/mdnsresponder/portfile.cmake
  ports/mdnsresponder/vcpkg.json
  versions/baseline.json
  versions/m-/mdnsresponder.json
Labels: info:reviewed, category:code-cleanup

#33165 [ocilib] msbuild
  ports/ocilib/portfile.cmake
  ports/ocilib/vcpkg.json
  versions/baseline.json
  versions/o-/ocilib.json
Labels: info:reviewed, category:code-cleanup

#33169 [monkeys-audio] msbuild
  ports/monkeys-audio/fix-outdir.patch
  ports/monkeys-audio/portfile.cmake
  ports/monkeys-audio/vcpkg.json
  versions/baseline.json
  versions/m-/monkeys-audio.json
Labels: category:port-bug, info:reviewed, category:code-cleanup

#33144 [winpcap] msbuild
  ports/winpcap/portfile.cmake
  ports/winpcap/vcpkg.json
  versions/baseline.json
  versions/w-/winpcap.json
Labels: info:reviewed, category:code-cleanup

#33146 [unrar] msbuild
  ports/unrar/portfile.cmake
  ports/unrar/vcpkg.json
  versions/baseline.json
  versions/u-/unrar.json
Labels: info:reviewed, category:code-cleanup

#33148 [unicorn] msbuild
  ports/unicorn/portfile.cmake
  ports/unicorn/vcpkg.json
  versions/baseline.json
  versions/u-/unicorn.json
Labels: info:reviewed, category:code-cleanup

#33162 [pbc] msbuild
  ports/pbc/portfile.cmake
  ports/pbc/vcpkg.json
  versions/baseline.json
  versions/p-/pbc.json
Labels: info:reviewed, category:code-cleanup

#33164 [openni2] msbuild
  ports/openni2/portfile.cmake
  ports/openni2/vcpkg.json
  versions/baseline.json
  versions/o-/openni2.json
Labels: info:reviewed, category:code-cleanup

#33160 [ngspice] msbuild
  ports/ngspice/portfile.cmake
  ports/ngspice/vcpkg.json
  versions/baseline.json
  versions/n-/ngspice.json
Labels: info:reviewed, category:code-cleanup

#33158 [scintilla] msbuild
  ports/scintilla/portfile.cmake
  ports/scintilla/vcpkg.json
  versions/baseline.json
  versions/s-/scintilla.json
Labels: info:reviewed, category:code-cleanup

#33152 [sdl1] msbuild
  ports/sdl1/portfile.cmake
  ports/sdl1/vcpkg.json
  versions/baseline.json
  versions/s-/sdl1.json
Labels: info:reviewed, category:code-cleanup

#33161 [pmdk] msbuild
  ports/pmdk/portfile.cmake
  ports/pmdk/remove_getopt.patch
  ports/pmdk/vcpkg.json
  versions/baseline.json
  versions/p-/pmdk.json
Labels: info:reviewed, category:code-cleanup

#33153 [rsasynccpp] msbuild
  ports/rsasynccpp/portfile.cmake
  ports/rsasynccpp/vcpkg.json
  versions/baseline.json
  versions/r-/rsasynccpp.json
Labels: info:reviewed, category:code-cleanup

#33214 [Thorvg] Update Thorvg port to v0.10.1
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  ports/thorvg/windows-build-option.patch
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#33208 [v8] fix typo
  ports/v8/portfile.cmake
  ports/v8/vcpkg.json
  versions/baseline.json
  versions/v-/v8.json
Labels: category:port-bug, info:reviewed

#33192 [Glaze] Update V1.3.5
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#33204 [libunwind] new port
  ports/libunwind/portfile.cmake
  ports/libunwind/usage
  ports/libunwind/vcpkg.json
  versions/baseline.json
  versions/l-/libunwind.json
Labels: category:new-port, info:reviewed

#33175 [libfabric] msbuild
  ports/libfabric/portfile.cmake
  ports/libfabric/vcpkg.json
  versions/baseline.json
  versions/l-/libfabric.json
Labels: info:reviewed, category:code-cleanup

#33181 [gmsh] update to 4.11.1
  ports/gmsh/portfile.cmake
  ports/gmsh/vcpkg.json
  versions/baseline.json
  versions/g-/gmsh.json
Labels: info:internal, category:port-update, info:reviewed

#33174 [libirecovery] msbuild
  ports/libirecovery/portfile.cmake
  ports/libirecovery/vcpkg.json
  versions/baseline.json
  versions/l-/libirecovery.json
Labels: info:reviewed, category:code-cleanup

#33173 [libmicrohttpd] msbuild
  ports/libmicrohttpd/portfile.cmake
  ports/libmicrohttpd/remove_pdb_install.patch
  ports/libmicrohttpd/vcpkg.json
  versions/baseline.json
  versions/l-/libmicrohttpd.json
Labels: info:reviewed, category:code-cleanup

#33163 [libdeflate] Update to 1.18 and fix an issue within the feature options
  ports/libdeflate/portfile.cmake
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: category:port-update, info:reviewed

#33159 [Python2] msbuild
  ports/python2/portfile.cmake
  ports/python2/vcpkg.json
  versions/baseline.json
  versions/p-/python2.json
Labels: info:reviewed, category:code-cleanup

#33170 [stduuid] Update to 1.2.3
  ports/stduuid/fix-gsl-polyfill.patch
  ports/stduuid/fix-install-directory.patch
  ports/stduuid/portfile.cmake
  ports/stduuid/vcpkg.json
  versions/baseline.json
  versions/s-/stduuid.json
Labels: category:port-update, info:reviewed

#33149 [gsoap] msbuild
  ports/gsoap/portfile.cmake
  ports/gsoap/vcpkg.json
  versions/baseline.json
  versions/g-/gsoap.json
Labels: info:reviewed, category:code-cleanup

#33142 [mpir] cleanup & msbuild
  ports/mpir/portfile.cmake
  ports/mpir/vcpkg.json
  versions/baseline.json
  versions/m-/mpir.json
Labels: info:reviewed, category:code-cleanup

#33191 [opencv4] gen flatbuffers headers
  ports/opencv4/0017-fix-flatbuffers.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug
