Repository microsoft/vcpkg, pull requests merged in 2023-06, with the labels that each got.

#31709 [symengine] Update version to 0.10.1
  ports/symengine/portfile.cmake
  ports/symengine/vcpkg.json
  versions/baseline.json
  versions/s-/symengine.json
Labels: info:internal, category:port-update

#31331 [blingfire] Use Ninja rather than MSBuild in BlingFire to support UWP.
  ports/blingfire/ninja.patch
  ports/blingfire/portfile.cmake
  ports/blingfire/vcpkg.json
  versions/b-/blingfire.json
  versions/baseline.json
Labels: category:port-feature, depends:upstream-changes

#31447 [vtk] patch GCC13 compilation errors
  ports/vtk/missing-include-fixes.patch
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/v-/vtk.json
Labels: depends:upstream-changes

#31681 [icu] fix rpath setting in osx dynamic debug build
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:reviewed

#31314 [libpq,libxslt] Update libpq, fix misc issues
  ports/libpq/Makefile
  ports/libpq/build-msvc.cmake
  ports/libpq/config.pl
  ports/libpq/libpq.props.in
  ports/libpq/patches/windows/MSBuildProject-static-crt.patch
  ports/libpq/patches/windows/MSBuildProject-static-lib.patch
  ports/libpq/patches/windows/MSBuildProject_fix_gendef_perl.patch
  ports/libpq/patches/windows/Mkvcbuild-static-lib.patch
  ports/libpq/patches/windows/Solution.patch
  ports/libpq/patches/windows/Solution_DEBUG.patch
  ports/libpq/patches/windows/Solution_RELEASE.patch
  ports/libpq/patches/windows/arm.patch
  ports/libpq/patches/windows/fix-compile-flag-Zi.patch
  ports/libpq/patches/windows/install.patch
  ports/libpq/patches/windows/minimize_install.patch
  ports/libpq/patches/windows/msgfmt.patch
  ports/libpq/patches/windows/openssl-version.patch
  ports/libpq/patches/windows/python3_build_DEBUG.patch
  ports/libpq/patches/windows/python3_build_RELEASE.patch
  ports/libpq/patches/windows/tcl_version.patch
  ports/libpq/portfile.cmake
  ports/libpq/unix/fix-configure.patch
  ports/libpq/unix/mingw-install.patch
  ports/libpq/unix/no-server-tools.patch
  ports/libpq/unix/python.patch
  ports/libpq/unix/single-linkage.patch
  ports/libpq/vcpkg-cmake-wrapper.cmake
  ports/libpq/vcpkg-libs.props.in
  ports/libpq/vcpkg.json
  ports/libpq/windows/macro-def.patch
  ports/libpq/windows/msbuild.patch
  ports/libpq/windows/python_lib.patch
  ports/libpq/windows/spin_delay.patch
  ports/libpq/windows/win_bison_flex.patch
  ports/libxslt/portfile.cmake
  ports/libxslt/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
  versions/l-/libxslt.json
Labels: category:port-feature, category:port-bug, info:reviewed

#31734 [openssl] update to 3.1.1
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: info:internal, category:port-update, info:reviewed

#31749 [winpcap/SDL1-mixer] Change the extension of the template MSBuild solution
  ports/sdl1-mixer/SDL_mixer_2017.sln.in
  ports/sdl1-mixer/portfile.cmake
  ports/sdl1-mixer/vcpkg.json
  ports/winpcap/Packet.vcxproj.in
  ports/winpcap/portfile.cmake
  ports/winpcap/vcpkg.json
  ports/winpcap/wpcap.vcxproj.in
  versions/baseline.json
  versions/s-/sdl1-mixer.json
  versions/w-/winpcap.json
Labels: info:internal, info:reviewed, category:code-cleanup

#31721 Update Vulkan Headers to 1.3.250
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/usage
  ports/vulkan-headers/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-headers.json
Labels: category:port-update, info:reviewed

#31710 [curl] Update version to 8.1.2
  ports/curl/0005_remove_imp_suffix.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  ports/curl/version-major-7-8.patch
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#31754 [opentelemetry_cpp] Update to 1.9.1
  ports/opentelemetry-cpp/add-missing-dependencies.patch
  ports/opentelemetry-cpp/add-missing-find-dependency.patch
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#31756 [liburing] Update to 2.3
  ports/liburing/portfile.cmake
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: info:internal, category:port-update, info:reviewed

#31758 [libadwaita] update to 1.3.2
  ports/libadwaita/portfile.cmake
  ports/libadwaita/vcpkg.json
  versions/baseline.json
  versions/l-/libadwaita.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#31755 allow blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: info:reviewed, category:infrastructure

#31824 [usockets] update to 0.8.6
  ports/usockets/portfile.cmake
  ports/usockets/vcpkg.json
  versions/baseline.json
  versions/u-/usockets.json
Labels: info:internal, category:port-update, info:reviewed

#31806 [opencascade] Fix shared lib on Linux
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-bug, info:reviewed

#31797 [quickfix]: fix exception specification
  ports/quickfix/00001-fix-build.patch
  ports/quickfix/vcpkg.json
  versions/baseline.json
  versions/q-/quickfix.json
Labels: category:port-bug, info:reviewed

#31794 [daw-header-libraries,daw-json-link]: head-lib update to 2.93.1, json-link 3.17.2
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
  versions/d-/daw-json-link.json
Labels: category:port-update, info:reviewed

#31780 [flatbuffers] Update to 23.5.26
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-update, info:reviewed

#31779 [azure-core-cpp] Update to 1.10.0
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31738 [tbb] added Android as supported platform
  ports/tbb/portfile.cmake
  ports/tbb/vcpkg.json
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
  versions/u-/usd.json
Labels: category:port-feature, info:reviewed

#31773 [vcpkg baseline][sais/stdexec] Remove port sais and fix stdexec hash
  ports/sais/portfile.cmake
  ports/sais/vcpkg.json
  ports/stdexec/portfile.cmake
  ports/stdexec/vcpkg.json
  versions/baseline.json
  versions/s-/stdexec.json
Labels: category:port-bug, info:internal, info:reviewed

#31663 [starlink-ast] Switch tarball, misc fixes
  ports/starlink-ast/cminpack.diff
  ports/starlink-ast/portfile.cmake
  ports/starlink-ast/vcpkg.json
  versions/baseline.json
  versions/s-/starlink-ast.json
Labels: category:port-feature, info:reviewed

#31829 [nghttp3]update to 0.12.0
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#31765 [arrow] Fix the problem that feature acero and dataset cannot be used
  ports/arrow/portfile.cmake
  ports/arrow/usage-acero
  ports/arrow/usage-dataset
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#28806 Use Stale bot to close issues
  .github/workflows/stale.yml
Labels: category:infrastructure, requires:discussion

#31842 Add generate-sas-tokens script.
  scripts/azure-pipelines/generate-sas-tokens.ps1
  scripts/azure-pipelines/patch-tuesday-checklist.md
Labels: info:internal, category:infrastructure

#31826 [dav1d] update to 1.2.1
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: info:internal, category:port-update

#31827 [Exiv2] Add feature to enable BMFF support
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-feature, info:internal

#31764 [abseil] update to 20230125.3 version
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update

#31816 [gdal] Avoid abseil headers
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug

#31839 New port: libtracepoint-decode
  ports/libtracepoint-decode/portfile.cmake
  ports/libtracepoint-decode/vcpkg.json
  versions/baseline.json
  versions/l-/libtracepoint-decode.json
Labels: category:new-port

#31868 [Exiv2] remove duplicate option
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-bug, info:internal, info:reviewed

#31865 [activemq-cpp] Fix activemq-cppConfig.cmake syntax error
  ports/activemq-cpp/activemq-cppConfig.cmake
  ports/activemq-cpp/vcpkg.json
  versions/a-/activemq-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#31863 [kenlm] Update port
  ports/kenlm/fix-boost-imported-targets.patch
  ports/kenlm/fix-const-overloaded.patch
  ports/kenlm/include_functional.patch
  ports/kenlm/portfile.cmake
  ports/kenlm/vcpkg.json
  versions/baseline.json
  versions/k-/kenlm.json
Labels: category:port-update, info:reviewed

#31851 [redis-plus-plus]Update version to 1.3.8
  ports/redis-plus-plus/fix-absolute-path.patch
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: info:internal, category:port-update, info:reviewed

#31843 [vsg] Fix build error when the Vulkan component glslangValidator is already installed
  ports/vsg/devendor-glslang.patch
  ports/vsg/vcpkg.json
  versions/baseline.json
  versions/v-/vsg.json
Labels: category:port-bug, info:internal, info:reviewed

#31835 [crossguid] Fix compilation on gcc v13
  ports/crossguid/missing-include-cstdint.patch
  ports/crossguid/portfile.cmake
  ports/crossguid/vcpkg.json
  versions/baseline.json
  versions/c-/crossguid.json
Labels: category:port-bug, info:reviewed

#31788 [harfbuzz] update to 7.3.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#31786 [glib] Update glib to 2.76.3
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#31761 [imgui] Update to 1.89.6
  ports/imgui/CMakeLists.txt
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#31744 [kissfft] Update to 131.1.0
  ports/kissfft/CMakeLists.txt
  ports/kissfft/exports.def
  ports/kissfft/fix-install-dirs.patch
  ports/kissfft/fix-linkage.patch
  ports/kissfft/portfile.cmake
  ports/kissfft/usage
  ports/kissfft/vcpkg.json
  versions/baseline.json
  versions/k-/kissfft.json
Labels: category:port-update, info:reviewed

#31732 [rubberband] Update to 3.2.1 and use recommended sleef dependecy where supported
  ports/rubberband/portfile.cmake
  ports/rubberband/vcpkg.json
  versions/baseline.json
  versions/r-/rubberband.json
Labels: category:port-update, info:reviewed

#30593 [ngtcp2] enable arm with uwp and update to 0.16.0
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-feature, info:reviewed

#31877 [nghttp2] update to 1.54.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#31871 [imgui] Fix deps of feature allegro5-binding
  ports/allegro5/export-targets.patch
  ports/allegro5/vcpkg.json
  ports/imgui/CMakeLists.txt
  ports/imgui/imgui-config.cmake.in
  ports/imgui/vcpkg.json
  versions/a-/allegro5.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-bug, info:internal, info:reviewed

#31859 [flashlight-text] New port
  ports/flashlight-text/portfile.cmake
  ports/flashlight-text/vcpkg.json
  versions/baseline.json
  versions/f-/flashlight-text.json
Labels: category:new-port, info:reviewed

#31740 [libmicrohttpd] update and various fixes
  ports/libmicrohttpd/portfile.cmake
  ports/libmicrohttpd/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libmicrohttpd.json
Labels: category:port-feature, category:port-bug, category:port-update, info:reviewed

#31553 [nanomsg] Always remove nanomsg_BINDIR check
  ports/nanomsg/portfile.cmake
  ports/nanomsg/vcpkg.json
  versions/baseline.json
  versions/n-/nanomsg.json
Labels: category:port-bug

#31723 Update vcpkg-tool to 2023-06-07 + xbox triplets cleanup
  ports/kf5i18n/portfile.cmake
  ports/kf5i18n/vcpkg.json
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  ports/vcpkg-cmake/vcpkg.json
  ports/vcpkg-cmake/vcpkg_cmake_configure.cmake
  ports/wt/portfile.cmake
  ports/wt/vcpkg.json
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/toolchains/xbox.cmake
  scripts/vcpkg_get_dep_info.cmake
  scripts/vcpkg_get_tags.cmake
  triplets/community/x64-xbox-scarlett-static.cmake
  triplets/community/x64-xbox-scarlett.cmake
  triplets/community/x64-xbox-xboxone-static.cmake
  triplets/community/x64-xbox-xboxone.cmake
  versions/baseline.json
  versions/k-/kf5i18n.json
  versions/q-/qtbase.json
  versions/r-/redis-plus-plus.json
  versions/v-/vcpkg-cmake.json
  versions/w-/wt.json
Labels: info:internal, category:infrastructure

#31896 [raygui] Update to 3.6
  ports/raygui/portfile.cmake
  ports/raygui/vcpkg.json
  versions/baseline.json
  versions/r-/raygui.json
Labels: category:port-update, info:reviewed

#31862 [libunifex]: disable build tests and examples
  ports/libunifex/portfile.cmake
  ports/libunifex/vcpkg.json
  versions/baseline.json
  versions/l-/libunifex.json
Labels: category:port-feature, info:reviewed

#31752 [SObjectizer] update to 5.7.5
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update

#31900 Update vcpkg-tool to 2023-06-08.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#31943 [gtk] Update to 4.10.4
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
Labels: category:port-update, info:reviewed

#31929 [pcre2] Update to 10.42
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
Labels: category:port-update, info:reviewed

#31926 [vcpkg_find_fortran] Update msys2 packages
  scripts/cmake/vcpkg_find_fortran.cmake
  scripts/test_ports/vcpkg-ci-msys2/portfile.cmake
Labels: info:reviewed, category:tool-update

#31924 [vcpkg_find_acquire_program(PKGCONFIG)] Switch to pkgconf, add arm64
  scripts/cmake/vcpkg_find_acquire_program(PKGCONFIG).cmake
  scripts/test_ports/vcpkg-ci-msys2/portfile.cmake
Labels: info:reviewed, category:tool-update

#31923 [magic-enum] Update to v0.9.2
  ports/magic-enum/portfile.cmake
  ports/magic-enum/vcpkg.json
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#31920 [vulkan-memory-allocator] add cstdio import for gcc13
  ports/vulkan-memory-allocator/gcc13.patch
  ports/vulkan-memory-allocator/portfile.cmake
  ports/vulkan-memory-allocator/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-memory-allocator.json
Labels: category:port-bug, info:reviewed

#31919 [blake3] Add version 1.4.0
  ports/blake3/portfile.cmake
  ports/blake3/vcpkg.json
  versions/b-/blake3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31905 [foonathan-memory]: update to 0.7-3
  ports/foonathan-memory/fix-foonathan-memory-include-install-dir.patch
  ports/foonathan-memory/portfile.cmake
  ports/foonathan-memory/vcpkg.json
  versions/baseline.json
  versions/f-/foonathan-memory.json
Labels: category:port-update, info:reviewed

#31874 [vsg] Update to v1.0.6
  ports/vsg/devendor-glslang.patch
  ports/vsg/portfile.cmake
  ports/vsg/vcpkg.json
  versions/baseline.json
  versions/v-/vsg.json
Labels: category:port-update, info:reviewed

#31873 [nrf-ble-driver] Fix incorrect tag, version number & compilation with gcc-11.2.0
  ports/nrf-ble-driver/gcc-11.2.0-compilation.patch
  ports/nrf-ble-driver/portfile.cmake
  ports/nrf-ble-driver/vcpkg.json
  versions/baseline.json
  versions/n-/nrf-ble-driver.json
Labels: category:port-bug, info:reviewed

#31951 Remove [tool-meson]
  ports/libxkbcommon/vcpkg.json
  ports/tool-meson/portfile.cmake
  ports/tool-meson/vcpkg.json
  versions/baseline.json
  versions/l-/libxkbcommon.json
Labels: info:internal, info:reviewed, category:code-cleanup

#31914 [flashlight-sequence] New port
  ports/flashlight-sequence/portfile.cmake
  ports/flashlight-sequence/vcpkg.json
  versions/baseline.json
  versions/f-/flashlight-sequence.json
Labels: category:new-port, info:reviewed

#31762 [qtbase] no absolute paths
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug

#31634 [qt5-base] Remove duplicate flags qt
  ports/qt5-base/cmake/qt_build_submodule.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, info:internal, info:reviewed, category:community-triplet

#31977 [minisat] Fix missing headers
  ports/minisat-master-keying/portfile.cmake
  ports/minisat-master-keying/vcpkg.json
  versions/baseline.json
  versions/m-/minisat-master-keying.json
Labels: category:port-bug, info:internal, info:reviewed

#31968 [gppanel] Fix missing headers
  ports/gppanel/fix-missing-headers.patch
  ports/gppanel/portfile.cmake
  ports/gppanel/vcpkg.json
  versions/baseline.json
  versions/g-/gppanel.json
Labels: category:port-bug, info:internal, info:reviewed

#31917 [openscap] update to 1.3.7
  ports/openscap/fix-build.patch
  ports/openscap/fix-buildflag-and-install.patch
  ports/openscap/portfile.cmake
  ports/openscap/vcpkg.json
  versions/baseline.json
  versions/o-/openscap.json
Labels: category:port-update, info:reviewed

#31976 [mathgl] URL Encode
  ports/mathgl/portfile.cmake
  ports/mathgl/vcpkg.json
  versions/baseline.json
  versions/m-/mathgl.json
Labels: category:port-bug, info:internal, info:reviewed

#31970 [libbf] Fix missing headers
  ports/libbf/portfile.cmake
  ports/libbf/vcpkg.json
  versions/baseline.json
  versions/l-/libbf.json
Labels: category:port-bug, info:internal, info:reviewed

#31965 [braft] Fix GCC11
  ports/braft/portfile.cmake
  ports/braft/vcpkg.json
  versions/b-/braft.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#31959 [mapnik] Fix compile errors using gcc13
  ports/mapnik/portfile.cmake
  ports/mapnik/vcpkg.json
  versions/baseline.json
  versions/m-/mapnik.json
Labels: category:port-bug, info:internal, info:reviewed

#31912 [shaderc, spirv-tools] Fix cmake config, add usage, minor fixes
  ports/shaderc/cmake-config-export.patch
  ports/shaderc/cmake-project-include.cmake
  ports/shaderc/fix-build-type.patch
  ports/shaderc/fix-export-cmakefiles.patch
  ports/shaderc/fix-install-shaderc_util.patch
  ports/shaderc/glslang/CMakeLists.txt
  ports/shaderc/portfile.cmake
  ports/shaderc/spirv-tools/CMakeLists.txt
  ports/shaderc/usage
  ports/shaderc/vcpkg.json
  ports/spirv-tools/cmake-config-dir.diff
  ports/spirv-tools/fix-tool-deps.diff
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/spirv-tools-shared.diff
  ports/spirv-tools/usage
  ports/spirv-tools/vcpkg.json
  versions/baseline.json
  versions/s-/shaderc.json
  versions/s-/spirv-tools.json
Labels: category:port-bug, info:reviewed

#31909 [zydis,polyhook2] update to v4.0, 2023-05-16
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  ports/zydis/fix-arm64-build.patch
  ports/zydis/portfile.cmake
  ports/zydis/vcpkg.json
  ports/zydis/zycore.patch
  versions/baseline.json
  versions/p-/polyhook2.json
  versions/z-/zydis.json
Labels: category:port-update, info:reviewed

#31889 [soem]Update version to latest.
  ports/soem/disable-werror.patch
  ports/soem/portfile.cmake
  ports/soem/vcpkg.json
  ports/soem/winpcap.patch
  versions/baseline.json
  versions/s-/soem.json
Labels: category:port-update, info:reviewed

#31888 [tesseract] Fix training-tools feature compilation error
  ports/tesseract/fix-debug-postfix.patch
  ports/tesseract/fix-tools.patch
  ports/tesseract/fix_static_link_icu.patch
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-bug, info:internal, info:reviewed

#31811 [linux x86] Set -m32 in Linker flags too
  scripts/toolchains/linux.cmake
Labels: info:reviewed, category:tool-update

#31703 [sqlite3] Update to 3.42.0
  ports/sqlite3/portfile.cmake
  ports/sqlite3/sqlite3-vcpkg-config.h.in
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-feature, category:port-update, info:reviewed

#31603 [liblzma] Update to 5.4.3
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  ports/liblzma/win_output_name.patch
  versions/baseline.json
  versions/l-/liblzma.json
Labels: info:internal, category:port-update, info:reviewed

#31967 [dbow3] Remove dynamic exception specs
  ports/dbow3/portfile.cmake
  ports/dbow3/vcpkg.json
  versions/baseline.json
  versions/d-/dbow3.json
Labels: category:port-bug, info:internal, info:reviewed

#31983 [hazelcast-cpp-client] Update to new released version 5.3.0
  ports/hazelcast-cpp-client/portfile.cmake
  ports/hazelcast-cpp-client/vcpkg.json
  versions/baseline.json
  versions/h-/hazelcast-cpp-client.json
Labels: category:port-update, info:reviewed

#31981 [gul14] Update to version 2.9.1
  ports/gul14/portfile.cmake
  ports/gul14/vcpkg.json
  versions/baseline.json
  versions/g-/gul14.json
Labels: category:port-update, info:reviewed

#31978 [asio] Update to v1.28.0
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31949 Updating alpaca to latest release in github
  ports/alpaca/portfile.cmake
  ports/alpaca/vcpkg.json
  versions/a-/alpaca.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31937 [poppler] explicitly control dependencies
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: category:port-feature, info:reviewed

#31894 [hiredis] update to 1.1.0
  ports/hiredis/fix-cmake-conf-install-dir.patch
  ports/hiredis/fix-feature-example.patch
  ports/hiredis/fix-pdb-install.patch
  ports/hiredis/portfile.cmake
  ports/hiredis/support-static.patch
  ports/hiredis/vcpkg.json
  versions/baseline.json
  versions/h-/hiredis.json
Labels: category:port-update, info:reviewed

#31831 [games101-cgl] new port
  ports/games101-cgl/portfile.cmake
  ports/games101-cgl/usage
  ports/games101-cgl/vcpkg.json
  versions/baseline.json
  versions/g-/games101-cgl.json
Labels: category:new-port, info:reviewed

#31807 [usd] Improve CMake and fix Linux
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-bug, info:reviewed

#31796 [matplotplusplus,nodesoup] update to v1.2.0,add new port
  ports/matplotplusplus/fix-dependencies.patch
  ports/matplotplusplus/install-3rd-libraries.patch
  ports/matplotplusplus/portfile.cmake
  ports/matplotplusplus/usage
  ports/matplotplusplus/vcpkg.json
  ports/nodesoup/fix-cmakelists.patch
  ports/nodesoup/portfile.cmake
  ports/nodesoup/usage
  ports/nodesoup/vcpkg.json
  versions/baseline.json
  versions/m-/matplotplusplus.json
  versions/n-/nodesoup.json
Labels: category:new-port, category:port-update, info:reviewed

#32001 [thor] Update to current master
  ports/thor/fix-dependency-sfml.patch
  ports/thor/portfile.cmake
  ports/thor/vcpkg.json
  versions/baseline.json
  versions/t-/thor.json
Labels: info:internal, category:port-update

#31998 [nifly] Fix missing headers
  ports/nifly/portfile.cmake
  ports/nifly/vcpkg.json
  versions/baseline.json
  versions/n-/nifly.json
Labels: category:port-bug, info:internal

#32002 [unicorn-lib] Fix missing headers
  ports/unicorn-lib/fix-missing-headers.patch
  ports/unicorn-lib/portfile.cmake
  ports/unicorn-lib/vcpkg.json
  versions/baseline.json
  versions/u-/unicorn-lib.json
Labels: category:port-bug, info:internal

#32004 [asio,boost-asio] Fix experimental::coro compile error with MSVC
  ports/asio/fix_coro_compile_error_msvc.patch
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  ports/boost-asio/fix_coro_compile_error_msvc.patch
  ports/boost-asio/portfile.cmake
  ports/boost-asio/vcpkg.json
  versions/a-/asio.json
  versions/b-/boost-asio.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#31996 [lightningscanner] Update to 1.0.1
  ports/lightningscanner/portfile.cmake
  ports/lightningscanner/vcpkg.json
  versions/baseline.json
  versions/l-/lightningscanner.json
Labels: category:port-update, info:reviewed

#31902 [async-mqtt] Add new port
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#31985 [flecs] update to 3.2.4
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#32039 Update vcpkg-tool to 2023-06-15.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#30836 [boost] pulling has_synchro bits from https://github.com/microsoft/vcpkg/pull…
  ports/boost-atomic/portfile.cmake
  ports/boost-atomic/vcpkg.json
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/Jamroot.jam.in
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost-modular-build-helper/vcpkg.json
  scripts/boost/generate-ports.ps1
  scripts/boost/post-source-stubs/atomic.cmake
  scripts/ci.baseline.txt
  scripts/test_ports/cmake-user/vcpkg.json
  scripts/test_ports/vcpkg-ci-boost/vcpkg.json
  versions/b-/boost-atomic.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
  versions/v-/vcpkg-cmake-get-vars.json
Labels: category:port-bug, info:internal, info:reviewed

#31708 [vulkan-memory-allocator-hpp] Update to 3.0.1-1
  ports/vulkan-memory-allocator-hpp/portfile.cmake
  ports/vulkan-memory-allocator-hpp/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-memory-allocator-hpp.json
Labels: category:port-update, info:reviewed

#32048 [quill] Update to 3.0.1
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#32040 [async-mqtt] Update to 1.0.3.
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32038 [entt] Update to 3.12.0
  ports/entt/portfile.cmake
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:reviewed

#32034 [clapack] Initialize clapack variables
  ports/clapack/FindLAPACK.cmake
  ports/clapack/vcpkg.json
  versions/baseline.json
  versions/c-/clapack.json
Labels: category:port-feature, info:reviewed

#32031 [qt5] Apply CVE fixes
  ports/qt5-base/patches/CVE-2023-33285-qtbase-5.15.diff
  ports/qt5-base/patches/CVE-2023-34410-qtbase-5.15.diff
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, info:reviewed

#32029 [glaze] update v1.2.6
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#32023 [libosmscout] Fix features and add qt feature
  ports/libosmscout/portfile.cmake
  ports/libosmscout/vcpkg.json
  versions/baseline.json
  versions/l-/libosmscout.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#32021 [sockpp] Update to 0.8.1
  ports/sockpp/portfile.cmake
  ports/sockpp/sockppConfig.cmake
  ports/sockpp/usage
  ports/sockpp/vcpkg.json
  versions/baseline.json
  versions/s-/sockpp.json
Labels: info:internal, category:port-update, info:reviewed

#32019 [indirect-value] add new port
  ports/indirect-value/fix-install.patch
  ports/indirect-value/portfile.cmake
  ports/indirect-value/usage
  ports/indirect-value/vcpkg.json
  versions/baseline.json
  versions/i-/indirect-value.json
Labels: category:new-port, info:reviewed

#32018 [ixwebsocket] update to 11.4.4
  ports/ixwebsocket/fix-C2065-of-errorMsg.patch
  ports/ixwebsocket/portfile.cmake
  ports/ixwebsocket/vcpkg.json
  versions/baseline.json
  versions/i-/ixwebsocket.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#32017 [libxlsxwriter] fix cmake zlib ver required
  ports/libxlsxwriter/fix-zlib-ver-required.patch
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libxlsxwriter.json
Labels: category:port-bug, info:internal, info:reviewed

#32006 [sfml] Fix exported dependencies
  ports/sfml/fix-dependencies.patch
  ports/sfml/vcpkg.json
  versions/baseline.json
  versions/s-/sfml.json
Labels: category:port-bug, info:reviewed

#32003 [yara] Update yara from 4.3.0 to 4.3.2
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-update, info:reviewed

#31995 [google-cloud-cpp] update to latest release (v2.11.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#31979 [folly] Update folly to v2023.05.22.00
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-update, info:reviewed

#31982 [openscap]: fix not install oscap util
  ports/openscap/fix-utils.patch
  ports/openscap/portfile.cmake
  ports/openscap/vcpkg.json
  versions/baseline.json
  versions/o-/openscap.json
Labels: category:port-feature, info:reviewed

#31960 [arrow] Update to 12.0.1
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#31739 [coinutils] Add feature glpk
  ports/coinutils/portfile.cmake
  ports/coinutils/vcpkg.json
  versions/baseline.json
  versions/c-/coinutils.json
Labels: category:port-feature, info:internal, info:reviewed

#31671 [openvino]: new port
  ports/openvino/001-disable-tools.patch
  ports/openvino/portfile.cmake
  ports/openvino/usage
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:new-port, info:reviewed

#30869 [mysql-connector-cpp] upgrade to 8.0.32
  ports/mysql-connector-cpp/dependencies.patch
  ports/mysql-connector-cpp/export-targets.patch
  ports/mysql-connector-cpp/fix-static-build8.patch
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:port-update, info:reviewed

#32014 Patch Tuesday June 2023 + Ubuntu 22.04
  ports/bond/portfile.cmake
  ports/bond/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/create-image.ps1
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-find-acquire-program/portfile.cmake
  versions/b-/bond.json
  versions/baseline.json
Labels: info:internal, category:infrastructure

#32124 [gul14] Update to version 2.9.2
  ports/gul14/portfile.cmake
  ports/gul14/vcpkg.json
  versions/baseline.json
  versions/g-/gul14.json
Labels: category:port-update, info:reviewed

#32121 [concurrencpp] Fix error C2039: 'numeric_limits': is not a member of 'std'
  ports/concurrencpp/fix-missing-limits.patch
  ports/concurrencpp/portfile.cmake
  ports/concurrencpp/vcpkg.json
  versions/baseline.json
  versions/c-/concurrencpp.json
Labels: category:port-bug, info:internal, info:reviewed

#32120 [angle] Fix static build
  ports/angle/cmake-buildsystem/CMakeLists.txt
  ports/angle/portfile.cmake
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#32115 [redis-plus-plus] Add TLS feature and update to 1.3.9
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: category:port-feature, category:port-bug, info:internal, category:port-update, info:reviewed

#32110 [libxmp] Update to v4.6.0
  ports/libxmp/fix-uwp-build.patch
  ports/libxmp/portfile.cmake
  ports/libxmp/vcpkg.json
  versions/baseline.json
  versions/l-/libxmp.json
Labels: category:port-update, info:reviewed

#32100 Update async-mqtt version to 1.0.4.
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#32097 [cgns] fix non hdf5 features
  ports/cgns/portfile.cmake
  ports/cgns/vcpkg.json
  versions/baseline.json
  versions/c-/cgns.json
Labels: category:port-feature, info:reviewed

#32093 [nanoflann] update to 1.5.0
  ports/nanoflann/portfile.cmake
  ports/nanoflann/vcpkg.json
  ports/pdal/fix-dependency.patch
  ports/pdal/portfile.cmake
  ports/pdal/vcpkg.json
  versions/baseline.json
  versions/n-/nanoflann.json
  versions/p-/pdal.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#32091 [dataframe] update to 2.1.0
  ports/dataframe/portfile.cmake
  ports/dataframe/vcpkg.json
  versions/baseline.json
  versions/d-/dataframe.json
Labels: info:internal, category:port-update, info:reviewed

#32082 [openvino] ported patch for default option value
  ports/openvino/002-typo-in-default-option-value.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-bug, info:reviewed

#32080 [libosmscout] Refine feature name
  ports/libosmscout/portfile.cmake
  ports/libosmscout/vcpkg.json
  versions/baseline.json
  versions/l-/libosmscout.json
Labels: category:port-feature, info:reviewed

#32074 [tinyexr] Update to 1.0.5
  ports/tinyexr/fix-uwp.patch
  ports/tinyexr/portfile.cmake
  ports/tinyexr/vcpkg.json
  versions/baseline.json
  versions/t-/tinyexr.json
Labels: category:port-update, info:reviewed

#32073 [openexr] Update to 3.1.8
  ports/openexr/fix-arm64-windows-build.patch
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  versions/baseline.json
  versions/o-/openexr.json
Labels: category:port-update, info:reviewed

#32069 [palsigslot] Update to 1.2.2
  ports/palsigslot/portfile.cmake
  ports/palsigslot/vcpkg.json
  versions/baseline.json
  versions/p-/palsigslot.json
Labels: category:port-update, info:reviewed

#32068 [libprotobuf-mutator] update
  ports/libprotobuf-mutator/portfile.cmake
  ports/libprotobuf-mutator/vcpkg.json
  versions/baseline.json
  versions/l-/libprotobuf-mutator.json
Labels: category:port-update, info:reviewed

#32067 [openblas] Support arm64-uwp builds
  ports/openblas/fix-uwp-build.patch
  ports/openblas/portfile.cmake
  ports/openblas/uwp.patch
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#32065 [breakpad] Fix installation regex
  ports/breakpad/CMakeLists.txt
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#32053 [collada-dom] Fix calling zip.h in minizip
  ports/collada-dom/use-vcpkg-minizip.patch
  ports/collada-dom/vcpkg.json
  versions/baseline.json
  versions/c-/collada-dom.json
Labels: category:port-bug, info:internal, info:reviewed

#32050 [folly] fix openssl dependency
  ports/folly/openssl.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-bug, info:reviewed

#32047 [catch2] Fix catch2-with-main.pc
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-bug, info:reviewed

#32046 [libjpeg-turbo] Fix usage
  ports/libjpeg-turbo/usage
  ports/libjpeg-turbo/vcpkg.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-bug, info:reviewed

#32043 [DiscordCoreAPI] Update to version 2023-06-15
  ports/discordcoreapi/0001-Add-extern-C-to-avcodec.patch
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
Labels: category:port-update, info:reviewed

#32036 [libhsplasma] Update libhsplasma to 2023-05-08
  ports/libhsplasma/portfile.cmake
  ports/libhsplasma/vcpkg.json
  versions/baseline.json
  versions/l-/libhsplasma.json
Labels: category:port-update, info:reviewed

#32033 [directxmesh, directxtex, directxtk, uvatlas, dxut, effects11] June 2023 update
  ports/directxmesh/portfile.cmake
  ports/directxmesh/usage
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/usage
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/usage
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/usage
  ports/directxtk12/vcpkg.json
  ports/dxut/portfile.cmake
  ports/dxut/usage
  ports/dxut/vcpkg.json
  ports/effects11/portfile.cmake
  ports/effects11/usage
  ports/effects11/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/usage
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/d-/dxut.json
  versions/e-/effects11.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#32028 [mp-units] update v0.8.0
  ports/mp-units/config.patch
  ports/mp-units/portfile.cmake
  ports/mp-units/vcpkg.json
  versions/baseline.json
  versions/m-/mp-units.json
Labels: category:port-update, info:reviewed

#31993 [fluidsynth] Update to 2.3.3
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#31803 [libnice-gst] no absolute paths
  ports/libnice-gst/portfile.cmake
  ports/libnice-gst/vcpkg.json
  versions/baseline.json
  versions/l-/libnice-gst.json
Labels: category:port-bug, info:reviewed

#31360 [qtbase] clang source location fix
  ports/qtbase/clang-cl_source_location.patch
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:reviewed
