Repository microsoft/vcpkg, pull requests merged in 2023-02, with the labels that each got.

#28769 [ChakraCore] enable find_package
  ports/chakracore/portfile.cmake
  ports/chakracore/unofficial-chakracore-config.cmake
  ports/chakracore/vcpkg.json
  versions/baseline.json
  versions/c-/chakracore.json
Labels: category:port-feature, info:reviewed

#29223 [libde265] enable on arm linux + ios
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: info:reviewed, category:community-triplet

#29230 [vulkan-memory-allocator]Updating vulkan memory allocator port
  ports/vulkan-memory-allocator/portfile.cmake
  ports/vulkan-memory-allocator/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-memory-allocator.json
Labels: category:port-update, info:reviewed

#29070 [chronoengine] New port
  ports/chronoengine/find_package_required.patch
  ports/chronoengine/fix_dependencies.patch
  ports/chronoengine/portfile.cmake
  ports/chronoengine/vcpkg.json
  versions/baseline.json
  versions/c-/chronoengine.json
Labels: category:new-port

#29266 [leptonica] Update to 1.83.1
  ports/leptonica/fix-CMakeDependency.patch
  ports/leptonica/fix-build-and-pkgconfig.patch
  ports/leptonica/portfile.cmake
  ports/leptonica/private.patch
  ports/leptonica/vcpkg.json
  ports/leptonica/webp.patch
  versions/baseline.json
  versions/l-/leptonica.json
Labels: category:port-update, info:reviewed

#29214 [ned14-internal-quickcpplib,status-code,llfio] Update 2023.01
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  ports/ned14-internal-quickcpplib/sha_manifest.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  ports/status-code/portfile.cmake
  ports/status-code/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
  versions/n-/ned14-internal-quickcpplib.json
  versions/s-/status-code.json
Labels: category:port-update, info:reviewed

#29232 [mchehab-zbar] Fix dependencies
  ports/mchehab-zbar/portfile.cmake
  ports/mchehab-zbar/vcpkg.json
  ports/mchehab-zbar/windows.patch
  versions/baseline.json
  versions/m-/mchehab-zbar.json
Labels: category:port-feature, info:reviewed

#29259 [liblas] fix cmake consumption
  ports/liblas/fix-cmake-config.patch
  ports/liblas/portfile.cmake
  ports/liblas/vcpkg.json
  versions/baseline.json
  versions/l-/liblas.json
Labels: category:port-feature, info:reviewed

#29216 [ffmpeg] Enable openmpt and update feature platforms.
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#29218 [openimageio] add libheif as an optional dependency, remove libsquish as a dependency
  ports/openimageio/fix-dependencies.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-feature, info:reviewed

#28427 [node-addon-api] Add new port
  ports/node-addon-api/portfile.cmake
  ports/node-addon-api/unofficial-node-addon-api-config.cmake
  ports/node-addon-api/usage
  ports/node-addon-api/vcpkg.json
  versions/baseline.json
  versions/n-/node-addon-api.json
Labels: category:new-port, info:reviewed

#29263 [rkcommon] add new port
  ports/rkcommon/fix-static.patch
  ports/rkcommon/portfile.cmake
  ports/rkcommon/usage
  ports/rkcommon/vcpkg.json
  versions/baseline.json
  versions/r-/rkcommon.json
Labels: category:new-port, info:reviewed

#29333 [libe57format] Update to 2.3.0
  ports/libe57format/portfile.cmake
  ports/libe57format/vcpkg.json
  versions/baseline.json
  versions/l-/libe57format.json
Labels: category:port-update, info:reviewed

#28668 [WasmEdge] Add new port
  ports/wasmedge/portfile.cmake
  ports/wasmedge/vcpkg.json
  versions/baseline.json
  versions/w-/wasmedge.json
Labels: category:new-port, info:reviewed

#29312 [ghc-filesystem] Bump to 1.5.12
  ports/ghc-filesystem/portfile.cmake
  ports/ghc-filesystem/vcpkg.json
  versions/baseline.json
  versions/g-/ghc-filesystem.json
Labels: category:port-update, info:reviewed

#29323 [xorstr] Bump to 2021-11-20
  ports/xorstr/portfile.cmake
  ports/xorstr/vcpkg.json
  versions/baseline.json
  versions/x-/xorstr.json
Labels: category:port-update, info:reviewed

#29319 [faad2] Update to 2.10.1
  ports/faad2/0001-Fix-non-x86-msvc.patch
  ports/faad2/0002-Fix-unary-minus.patch
  ports/faad2/0003-Initialize-pointers.patch
  ports/faad2/CMakeLists.txt
  ports/faad2/portfile.cmake
  ports/faad2/vcpkg.json
  versions/baseline.json
  versions/f-/faad2.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#29009 [imageinfo] Add new port
  ports/imageinfo/portfile.cmake
  ports/imageinfo/usage
  ports/imageinfo/vcpkg.json
  versions/baseline.json
  versions/i-/imageinfo.json
Labels: category:new-port, info:reviewed

#29388 [activemq-cpp,apr,arrow] Switch apache urls to pull from "archive"
  ports/activemq-cpp/portfile.cmake
  ports/activemq-cpp/vcpkg.json
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/activemq-cpp.json
  versions/a-/apr.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update

#28892 [abletonlink] Rename ableton port to abletonlink
  ports/ableton/portfile.cmake
  ports/ableton/vcpkg.json
  ports/abletonlink/correct_cmake_include_directory.patch
  ports/abletonlink/no-werror.patch
  ports/abletonlink/portfile.cmake
  ports/abletonlink/replace_asiosdk_download_by_vcpkg_asiosdk.patch
  ports/abletonlink/replace_local_asiostandalone_by_vcpkg_asio.patch
  ports/abletonlink/replace_local_catch_by_vcpkg_catch2.patch
  ports/abletonlink/vcpkg.json
  versions/a-/ableton.json
  versions/a-/abletonlink.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#29317 [itk] Add missing iostream include for CUDA classes
  ports/itk/portfile.cmake
  ports/itk/rtk/Add-missing-include-for-Cuda.patch
  ports/itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-bug, info:internal, info:reviewed

#29343 [directxtex] port update for January 2023 release
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  versions/baseline.json
  versions/d-/directxtex.json
Labels: category:port-update, info:reviewed

#29350 [curl] Use find_package c-ares provided by vcpkg
  ports/curl/0023-fix-find-cares.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:internal, info:reviewed

#29357 [catch2] Update to 3.3.1
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#29381 [embree3] fix Unknown CMake command find_dependency
  ports/embree3/portfile.cmake
  ports/embree3/vcpkg.json
  versions/baseline.json
  versions/e-/embree3.json
Labels: category:port-bug, info:reviewed

#29372 [cnats] Update to 3.6.0
  ports/cnats/portfile.cmake
  ports/cnats/vcpkg.json
  versions/baseline.json
  versions/c-/cnats.json
Labels: category:port-update, info:reviewed

#29360 [status-code] Disable find boost
  ports/status-code/portfile.cmake
  ports/status-code/vcpkg.json
  versions/baseline.json
  versions/s-/status-code.json
Labels: category:port-feature, info:reviewed

#29334 [xerces-c] Fix iOS build
  ports/xerces-c/portfile.cmake
  ports/xerces-c/vcpkg.json
  versions/baseline.json
  versions/x-/xerces-c.json
Labels: category:port-bug, requires:author-response

#29383 [urho3d, xcb-util-wm] Hash fixes
  ports/urho3d/portfile.cmake
  ports/urho3d/vcpkg.json
  ports/xcb-util-wm/portfile.cmake
  ports/xcb-util-wm/vcpkg.json
  versions/baseline.json
  versions/u-/urho3d.json
  versions/x-/xcb-util-wm.json
Labels: category:port-bug, info:internal

#29401 [libxlsxwriter] port update
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libxlsxwriter.json
Labels: category:port-update, info:reviewed

#29399 [WIL] Update to 2023-02-02
  ports/wil/portfile.cmake
  ports/wil/vcpkg.json
  versions/baseline.json
  versions/w-/wil.json
Labels: category:port-update, info:reviewed

#29378 [nanoflann] Update to 1.4.3
  ports/nanoflann/portfile.cmake
  ports/nanoflann/vcpkg.json
  versions/baseline.json
  versions/n-/nanoflann.json
Labels: info:internal, category:port-update, info:reviewed

#29359 [rendergraph] Updated to version 1.2.0.
  ports/rendergraph/portfile.cmake
  ports/rendergraph/vcpkg.json
  versions/baseline.json
  versions/r-/rendergraph.json
Labels: category:port-update, info:reviewed

#29303 [clipper2] Add new port
  ports/clipper2/portfile.cmake
  ports/clipper2/usage
  ports/clipper2/vcpkg.json
  versions/baseline.json
  versions/c-/clipper2.json
Labels: category:new-port, info:reviewed

#29364 [raygui] Add new port
  ports/raygui/portfile.cmake
  ports/raygui/vcpkg.json
  versions/baseline.json
  versions/r-/raygui.json
Labels: category:new-port, info:reviewed

#29375 [kdalgorithms] Add new port
  ports/kdalgorithms/portfile.cmake
  ports/kdalgorithms/usage
  ports/kdalgorithms/vcpkg.json
  versions/baseline.json
  versions/k-/kdalgorithms.json
Labels: category:new-port, info:reviewed

#29408 [libcopp] Mark arm-windows as unsupported.
  ports/libcopp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libcopp.json
Labels: category:port-bug, info:internal, info:reviewed, category:infrastructure

#29352 [libjpeg-turbo] update to 2.1.5
  ports/libjpeg-turbo/add-options-for-exes-docs-headers.patch
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: info:internal, category:port-update, info:reviewed

#29046 [azure-iot-sdk-c] LTS_01_2023_REF01
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/vcpkg.json
  ports/azure-macro-utils-c/portfile.cmake
  ports/azure-macro-utils-c/vcpkg.json
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uamqp-c/vcpkg.json
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-uhttp-c/vcpkg.json
  ports/azure-umqtt-c/portfile.cmake
  ports/azure-umqtt-c/vcpkg.json
  ports/umock-c/portfile.cmake
  ports/umock-c/vcpkg.json
  versions/a-/azure-c-shared-utility.json
  versions/a-/azure-iot-sdk-c.json
  versions/a-/azure-macro-utils-c.json
  versions/a-/azure-uamqp-c.json
  versions/a-/azure-uhttp-c.json
  versions/a-/azure-umqtt-c.json
  versions/baseline.json
  versions/u-/umock-c.json
Labels: category:port-update

#29434 [ableton-link] Fix typo missing dash in name.
  ports/ableton-link/correct_cmake_include_directory.patch
  ports/ableton-link/no-werror.patch
  ports/ableton-link/portfile.cmake
  ports/ableton-link/replace_asiosdk_download_by_vcpkg_asiosdk.patch
  ports/ableton-link/replace_local_asiostandalone_by_vcpkg_asio.patch
  ports/ableton-link/replace_local_catch_by_vcpkg_catch2.patch
  ports/ableton-link/vcpkg.json
  ports/ableton/vcpkg.json
  versions/a-/ableton-link.json
  versions/a-/ableton.json
  versions/baseline.json
Labels: category:port-bug, info:internal

#29427 [azure-core-*] Update azure-core-cpp to 1.8.0 and azure-core-tracing-opentelemetry-cpp to 1.0.0-beta.4
  ports/azure-core-cpp/add-ws232.patch
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-core-tracing-opentelemetry-cpp/portfile.cmake
  ports/azure-core-tracing-opentelemetry-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-core-tracing-opentelemetry-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29409 [platform-folders] update version to 4.2.0
  ports/platform-folders/portfile.cmake
  ports/platform-folders/vcpkg.json
  versions/baseline.json
  versions/p-/platform-folders.json
Labels: info:internal, category:port-update, info:reviewed

#29407 [uwebsockets] update to 20.36.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update, info:reviewed

#28986 [blosc] Update to 1.21.3
  ports/blosc/0001-find-deps.patch
  ports/blosc/0001-fix-CMake-config.patch
  ports/blosc/0002-export-blosc-config.patch
  ports/blosc/portfile.cmake
  ports/blosc/vcpkg.json
  ports/openvdb/0003-fix-cmake.patch
  ports/openvdb/vcpkg.json
  versions/b-/blosc.json
  versions/baseline.json
  versions/o-/openvdb.json
Labels: category:port-update, info:reviewed

#29141 [blend2d|osgearth] Allow blend2d and osgearth[blend2d] on ARM
  ports/blend2d/vcpkg.json
  ports/osgearth/vcpkg.json
  versions/b-/blend2d.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-feature, info:reviewed

#29384 [antlr4] fix MSVC linker errors
  ports/antlr4/portfile.cmake
  ports/antlr4/set-export-macro-define-as-private.patch
  ports/antlr4/vcpkg.json
  versions/a-/antlr4.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#29373 [google-cloud-cpp] upgrade to latest version (v2.7.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#29365 [physac] Add new port
  ports/physac/LICENSE
  ports/physac/portfile.cmake
  ports/physac/vcpkg.json
  versions/baseline.json
  versions/p-/physac.json
Labels: category:new-port

#29316 [minifb] Bump to 2023-02-03
  ports/minifb/fix-arm-build-error.patch
  ports/minifb/fix-build-error.patch
  ports/minifb/fix-install-error.patch
  ports/minifb/portfile.cmake
  ports/minifb/usage
  ports/minifb/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/minifb.json
Labels: category:port-update, info:reviewed

#29390 [hdf5] fix config patch
  ports/hdf5/hdf5_config.patch
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, info:reviewed

#29393 [libusb] Fix undefined symbols on osx
  ports/libusb/vcpkg-cmake-wrapper.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-bug, info:reviewed

#29404 [cryptopp] Update CMake build script
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-update, requires:author-response

#29429 [tracy] add on-demand option for the client lib
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-feature, info:reviewed

#29225 [tesseract] Update and fix feature training-tools build
  ports/tesseract/fix-debug-postfix.patch
  ports/tesseract/fix-tools.patch
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-feature, category:port-update, info:reviewed

#29436 [rapidcheck] Update to 2023-01-13
  ports/rapidcheck/portfile.cmake
  ports/rapidcheck/vcpkg.json
  versions/baseline.json
  versions/r-/rapidcheck.json
Labels: category:port-update, info:reviewed

#29371 [nifticlib] fix feature tools
  ports/nifticlib/portfile.cmake
  ports/nifticlib/vcpkg.json
  versions/baseline.json
  versions/n-/nifticlib.json
Labels: category:port-bug

#29394 [openal-soft] Uses LGPL-2.0-or-later instead of GPL-2.0-or-later
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-bug

#29219 [arg-router] Add new port
  ports/arg-router/portfile.cmake
  ports/arg-router/usage
  ports/arg-router/vcpkg.json
  versions/a-/arg-router.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#29405 [iceoryx] Fix acl dependency
  ports/iceoryx/acl.patch
  ports/iceoryx/portfile.cmake
  ports/iceoryx/vcpkg.json
  versions/baseline.json
  versions/i-/iceoryx.json
Labels: category:port-feature, category:port-bug

#29150 [cyclonedds] Add new port
  ports/cyclonedds/enable-security.patch
  ports/cyclonedds/portfile.cmake
  ports/cyclonedds/usage
  ports/cyclonedds/vcpkg.json
  versions/baseline.json
  versions/c-/cyclonedds.json
Labels: category:new-port, info:reviewed

#29455 [simdjson] Update to 3.1.0
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#28771 [ptc-print] Switch to official usage
  ports/ptc-print/portfile.cmake
  ports/ptc-print/usage
  ports/ptc-print/vcpkg.json
  versions/baseline.json
  versions/p-/ptc-print.json
Labels: category:port-bug, info:internal, info:reviewed

#29452 [superlu] Update to 5.3.0
  ports/superlu/fix-libm.patch
  ports/superlu/portfile.cmake
  ports/superlu/vcpkg.json
  versions/baseline.json
  versions/s-/superlu.json
Labels: category:port-update, info:reviewed

#29376 [sqlite3] Control features with a configuration header
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/add-config-include.patch
  ports/sqlite3/portfile.cmake
  ports/sqlite3/sqlite3-vcpkg-config.h.in
  ports/sqlite3/sqlite3.pc.in
  ports/sqlite3/usage
  ports/sqlite3/vcpkg.json
  ports/sqlitecpp/portfile.cmake
  ports/sqlitecpp/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
  versions/s-/sqlitecpp.json
Labels: category:port-feature, category:port-bug, info:internal

#29484 [sdl2] Bump to 2.26.3
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#29466 [quill] Update to 2.7.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#29430 [efsw] Update to 1.3.1.
  ports/efsw/portfile.cmake
  ports/efsw/vcpkg.json
  versions/baseline.json
  versions/e-/efsw.json
Labels: info:internal, category:port-update, info:reviewed

#29349 [brotli] Fix wasm32-emscripten build
  ports/brotli/portfile.cmake
  ports/brotli/vcpkg.json
  versions/b-/brotli.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#29329 [icu] Add host tool path
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:reviewed

#29468 [nanobench] Bump to 4.3.10
  ports/nanobench/CMakeLists.txt
  ports/nanobench/fix-cmakefile.patch
  ports/nanobench/portfile.cmake
  ports/nanobench/usage
  ports/nanobench/vcpkg.json
  versions/baseline.json
  versions/n-/nanobench.json
Labels: category:port-update, info:reviewed

#29483 [opentelemetry-cpp] Update to v1.8.2
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/support_absl_cxx17.patch
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#29335 [openslide] add port
  ports/openslide/fix-win-build.patch
  ports/openslide/portfile.cmake
  ports/openslide/remove-w-flags.patch
  ports/openslide/vcpkg.json
  versions/baseline.json
  versions/o-/openslide.json
Labels: category:new-port, info:reviewed

#29264 [adios2] add port
  ports/adios2/portfile.cmake
  ports/adios2/usage
  ports/adios2/vcpkg.json
  versions/a-/adios2.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#29363 [etcd-cpp-apiv3] Add etcd-cpp-apiv3 ports.
  ports/etcd-cpp-apiv3/portfile.cmake
  ports/etcd-cpp-apiv3/usage
  ports/etcd-cpp-apiv3/vcpkg.json
  versions/baseline.json
  versions/e-/etcd-cpp-apiv3.json
Labels: category:new-port, info:reviewed

#29439 [xpack] Add new port
  ports/xpack/portfile.cmake
  ports/xpack/vcpkg.json
  versions/baseline.json
  versions/x-/xpack.json
Labels: category:new-port, info:reviewed

#29481 [boost] fix emscripten build
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/boost-modular-build.cmake
  ports/boost-modular-build-helper/vcpkg.json
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: info:reviewed, category:community-triplet

#29512 [pagmo2] Update to 2.19.0
  ports/pagmo2/portfile.cmake
  ports/pagmo2/usage
  ports/pagmo2/vcpkg.json
  versions/baseline.json
  versions/p-/pagmo2.json
Labels: info:internal, category:port-update, info:reviewed

#29493 [brpc] update to 1.3.0
  ports/brpc/brpc-1783.diff
  ports/brpc/fix-build.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29492 [geotrans] Update to 3.9
  ports/geotrans/portfile.cmake
  ports/geotrans/vcpkg.json
  versions/baseline.json
  versions/g-/geotrans.json
Labels: info:internal, category:port-update, info:reviewed

#29491 [dataframe] Update to 1.22.0.
  ports/dataframe/portfile.cmake
  ports/dataframe/vcpkg.json
  versions/baseline.json
  versions/d-/dataframe.json
Labels: info:internal, category:port-update, info:reviewed

#29488 [sdl2-ttf] Bump to 2.20.2
  ports/sdl2-ttf/fix-pkgconfig.patch
  ports/sdl2-ttf/portfile.cmake
  ports/sdl2-ttf/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-ttf.json
Labels: category:port-update, info:reviewed

#29336 [OpenTURNS] add new port
  ports/openturns/link-gmp.patch
  ports/openturns/portfile.cmake
  ports/openturns/reorder-mpc.patch
  ports/openturns/usage
  ports/openturns/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/openturns.json
Labels: category:new-port, info:reviewed

#29501 [realsense2] Update to v2.53.1
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-update, info:reviewed

#29346 [vcpkg] fix proxy hint that should be fixed long time ago
  scripts/cmake/vcpkg_download_distfile.cmake
Labels: info:reviewed, category:tool-update

#29472 [open-dis-cpp] add new port
  ports/open-dis-cpp/portfile.cmake
  ports/open-dis-cpp/usage
  ports/open-dis-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/open-dis-cpp.json
Labels: category:new-port, info:reviewed

#29464 [qt5-base] Remove excess dependency icu[tools]
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, info:reviewed

#29497 [libtorch] Fix libtorch build
  ports/libtorch/vcpkg-dependencies.cmake
  ports/libtorch/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
Labels: category:port-bug, info:internal, info:reviewed

#29478 [libsmacker] add new port
  ports/libsmacker/CMakeLists.txt
  ports/libsmacker/portfile.cmake
  ports/libsmacker/smacker.def
  ports/libsmacker/vcpkg.json
  versions/baseline.json
  versions/l-/libsmacker.json
Labels: category:new-port, info:reviewed

#29504 [wt] Update to 4.9.1
  ports/wt/portfile.cmake
  ports/wt/vcpkg.json
  versions/baseline.json
  versions/w-/wt.json
Labels: category:port-update, info:reviewed

#29551 [libdatachannel] update to 0.18.2
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: info:internal, category:port-update, info:reviewed

#29548 [mongoose] Update to 7.9
  ports/mongoose/portfile.cmake
  ports/mongoose/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mongoose.json
Labels: info:internal, category:port-update, info:reviewed

#29519 [vcpkg baseline] [superlu] Use the correct option to avoid lib conflicts.
  ports/superlu/portfile.cmake
  ports/superlu/vcpkg.json
  versions/baseline.json
  versions/s-/superlu.json
Labels: category:port-bug, info:internal, info:reviewed

#29485 [sdl2-image] Bump to 2.6.3
  ports/sdl2-image/fix-findwebp.patch
  ports/sdl2-image/portfile.cmake
  ports/sdl2-image/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-image.json
Labels: category:port-update, info:reviewed

#29516 [azure-security-attestation-cpp] Update to 1.1.0
  ports/azure-security-attestation-cpp/portfile.cmake
  ports/azure-security-attestation-cpp/vcpkg.json
  versions/a-/azure-security-attestation-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29514 [azure-identity-cpp] Update to 1.4.0
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  versions/a-/azure-identity-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28616 [zfp] update to 1.0.0
  ports/zfp/fix-build-error.patch
  ports/zfp/fix-install-tools.patch
  ports/zfp/portfile.cmake
  ports/zfp/vcpkg.json
  versions/baseline.json
  versions/z-/zfp.json
Labels: info:internal, category:port-update, info:reviewed

#29345 [multiple-ports] Fix missing usage
  ports/angle/portfile.cmake
  ports/angle/vcpkg.json
  ports/boost/usage
  ports/boost/vcpkg.json
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  ports/dcmtk/portfile.cmake
  ports/dcmtk/usage
  ports/dcmtk/vcpkg.json
  ports/farmhash/portfile.cmake
  ports/farmhash/vcpkg.json
  ports/googleapis/usage
  ports/googleapis/vcpkg.json
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  ports/imgui-sfml/portfile.cmake
  ports/imgui-sfml/vcpkg.json
  ports/libgeotiff/portfile.cmake
  ports/libgeotiff/vcpkg.json
  ports/nmap/portfile.cmake
  ports/nmap/vcpkg.json
  ports/opengl/portfile.cmake
  ports/opengl/vcpkg.json
  ports/poppler/portfile.cmake
  ports/poppler/usage
  ports/poppler/vcpkg.json
  ports/unixodbc/portfile.cmake
  ports/unixodbc/vcpkg.json
  ports/vulkan/portfile.cmake
  ports/vulkan/vcpkg.json
  ports/xerces-c/portfile.cmake
  ports/xerces-c/vcpkg.json
  versions/a-/angle.json
  versions/b-/boost.json
  versions/baseline.json
  versions/c-/colmap.json
  versions/d-/dcmtk.json
  versions/f-/farmhash.json
  versions/g-/googleapis.json
  versions/g-/gtest.json
  versions/i-/imgui-sfml.json
  versions/l-/libgeotiff.json
  versions/n-/nmap.json
  versions/o-/opengl.json
  versions/p-/poppler.json
  versions/u-/unixodbc.json
  versions/v-/vulkan.json
  versions/x-/xerces-c.json
Labels: category:port-bug, info:reviewed

#29520 [directxtk, directxtk12, uvatlas] updates for February 2023 release
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#29537 [qwt] Fix missing feature dependency
  ports/qwt/vcpkg.json
  versions/baseline.json
  versions/q-/qwt.json
Labels: category:port-feature, info:reviewed

#29532 [icu] Fix x86 MinGW build
  ports/icu/mingw-dll-install.patch
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:reviewed

#29515 [libssh] Fix Android build
  ports/libssh/0004-file-permissions-constants.patch
  ports/libssh/portfile.cmake
  ports/libssh/vcpkg.json
  versions/baseline.json
  versions/l-/libssh.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#29526 [ftxui] Backport clang ICE workaround
  ports/ftxui/fix_clang_crash-094d8d9d.patch
  ports/ftxui/portfile.cmake
  ports/ftxui/vcpkg.json
  versions/baseline.json
  versions/f-/ftxui.json
Labels: category:port-bug, info:reviewed

#29507 [libsigcpp]fix libsigcpp include path
  ports/libsigcpp/fix_include_path.patch
  ports/libsigcpp/portfile.cmake
  ports/libsigcpp/vcpkg.json
  versions/baseline.json
  versions/l-/libsigcpp.json
Labels: category:port-bug, info:reviewed

#29525 [qt5-base] Fix QMAKE_MACOSX_DEPLOYMENT_TARGET
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, info:reviewed

#29398 Fix coin-or ports.
  ports/cgl/CMakeLists.txt
  ports/cgl/Config.cmake.in
  ports/cgl/portfile.cmake
  ports/clp/CMakeLists.txt
  ports/clp/Config.cmake.in
  ports/clp/portfile.cmake
  ports/coin-or-buildtools/buildtools.patch
  ports/coin-or-buildtools/buildtools2.patch
  ports/coin-or-buildtools/portfile.cmake
  ports/coin-or-buildtools/vcpkg.json
  ports/coin-or-cgl/fix-c1083-error.patch
  ports/coin-or-cgl/portfile.cmake
  ports/coin-or-cgl/vcpkg.json
  ports/coin-or-clp/dep.patch
  ports/coin-or-clp/portfile.cmake
  ports/coin-or-clp/vcpkg.json
  ports/coin-or-ipopt/portfile.cmake
  ports/coin-or-ipopt/vcpkg.json
  ports/coin-or-osi/glpk.patch
  ports/coin-or-osi/portfile.cmake
  ports/coin-or-osi/vcpkg.json
  ports/coinutils/CMakeLists.txt
  ports/coinutils/Config.cmake.in
  ports/coinutils/coinutils.patch
  ports/coinutils/coinutils2.patch
  ports/coinutils/portfile.cmake
  ports/coinutils/vcpkg.json
  ports/glpk/glpk.pc.in
  ports/glpk/portfile.cmake
  ports/glpk/vcpkg.json
  ports/openmvg/build_fixes.patch
  ports/openmvg/fix-coinutils.patch
  ports/openmvg/portfile.cmake
  ports/openmvg/vcpkg.json
  ports/osi/CMakeLists.txt
  ports/osi/Config.cmake.in
  ports/osi/portfile.cmake
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/coin-or-buildtools.json
  versions/c-/coin-or-cgl.json
  versions/c-/coin-or-clp.json
  versions/c-/coin-or-ipopt.json
  versions/c-/coin-or-osi.json
  versions/c-/coinutils.json
  versions/g-/glpk.json
  versions/o-/openmvg.json
Labels: category:new-port, category:port-update, requires:vcpkg-team-review

#29524 [ffmpeg] Don't set incorrect arch flag for multi-arch build
  ports/ffmpeg/build.sh.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#29569 [libcopp] update to 2.1.2
  ports/libcopp/fix-x86-windows.patch
  ports/libcopp/portfile.cmake
  ports/libcopp/vcpkg.json
  versions/baseline.json
  versions/l-/libcopp.json
Labels: info:internal, category:port-update, info:reviewed

#29556 [monkeys-audio] update to 9.04
  ports/monkeys-audio/fix-C2471.patch
  ports/monkeys-audio/portfile.cmake
  ports/monkeys-audio/remove-certificate-step.patch
  ports/monkeys-audio/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/monkeys-audio.json
Labels: info:internal, category:port-update, info:reviewed

#29550 [ocilib] Update to 4.7.5
  ports/ocilib/fix-DisableWC4191.patch
  ports/ocilib/portfile.cmake
  ports/ocilib/vcpkg.json
  versions/baseline.json
  versions/o-/ocilib.json
Labels: category:port-update, info:reviewed

#29530 [OpenSSL] Update to 3.0.8
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  ports/openssl/windows/umul128-arm64.patch
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#29487 [sdl2-mixer] Bump to 2.6.3
  ports/sdl2-mixer/fix-deps-link.patch
  ports/sdl2-mixer/fix-missing-find-opusfile.patch
  ports/sdl2-mixer/fix-windows-static-findfluidsynth.patch
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-update, info:reviewed

#29522 [cppwinrt] Update version to 2.0.230207.1
  ports/cppwinrt/portfile.cmake
  ports/cppwinrt/vcpkg.json
  versions/baseline.json
  versions/c-/cppwinrt.json
Labels: info:internal, category:port-update, info:reviewed

#29566 [nanobench] Revert to library version instead of header-only
  ports/nanobench/CMakeLists.txt
  ports/nanobench/portfile.cmake
  ports/nanobench/vcpkg.json
  versions/baseline.json
  versions/n-/nanobench.json
Labels: category:port-feature, info:reviewed

#29561 [liblzma] fix emscripten build
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  versions/baseline.json
  versions/l-/liblzma.json
Labels: info:reviewed, category:community-triplet

#29562 [collada-dom] fix emscripten build
  ports/collada-dom/fix-emscripten.patch
  ports/collada-dom/portfile.cmake
  ports/collada-dom/vcpkg.json
  versions/baseline.json
  versions/c-/collada-dom.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#29555 [crashpad] fix tool dependencies missing
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug, info:internal, info:reviewed

#26843 [binlog] Add new port
  ports/binlog/portfile.cmake
  ports/binlog/vcpkg.json
  versions/b-/binlog.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#27444 [angle] Update to chromium/5414, improve build system (and future updates)
  ports/angle/CMakeLists.txt
  ports/angle/angle_commit.h
  ports/angle/angle_commit.h.in
  ports/angle/cmake-buildsystem/CMakeLists.txt
  ports/angle/cmake-buildsystem/PlatformLinux.cmake
  ports/angle/cmake-buildsystem/PlatformMac.cmake
  ports/angle/cmake-buildsystem/PlatformWin.cmake
  ports/angle/cmake-buildsystem/cmake/WebKitCommon-minimal.cmake
  ports/angle/cmake-buildsystem/linux.cmake
  ports/angle/portfile.cmake
  ports/angle/third-party-zlib-far-undef.patch
  ports/angle/vcpkg.json
  scripts/angle/maintainer-notes.md
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#28760 [vcpkg_configure_make] Fix almost-native builds
  ports/gmp/portfile.cmake
  ports/gmp/vcpkg.json
  scripts/cmake/vcpkg_configure_make.cmake
  versions/baseline.json
  versions/g-/gmp.json
Labels: info:reviewed, category:community-triplet

#29610 [kdalgorithms ] update version
  ports/kdalgorithms/portfile.cmake
  ports/kdalgorithms/vcpkg.json
  versions/baseline.json
  versions/k-/kdalgorithms.json
Labels: category:port-update, info:reviewed

#29595 [bgfx] Update to v1.118.8417-415
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29584 [libflac] Bump to 1.4.2
  ports/libflac/portfile.cmake
  ports/libflac/usage
  ports/libflac/uwp-createfile2.patch
  ports/libflac/uwp-library-console.patch
  ports/libflac/vcpkg.json
  versions/baseline.json
  versions/l-/libflac.json
Labels: category:port-update, info:reviewed

#29557 [libqcow] Update to 20221124
  ports/libqcow/portfile.cmake
  ports/libqcow/vcpkg.json
  versions/baseline.json
  versions/l-/libqcow.json
Labels: category:port-update, info:reviewed

#29547 [brpc] update to 1.4.0
  ports/brpc/fix-build.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29038 [fluidsynth] Update to 2.3.1
  ports/fluidsynth/fix-dependencies.patch
  ports/fluidsynth/gentables.patch
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: info:internal, category:port-update, info:reviewed

#29543 [mujs] Update to 1.3.2 and add export CMake-config
  ports/mujs/CMakeLists.txt
  ports/mujs/mujsConfig.cmake.in
  ports/mujs/portfile.cmake
  ports/mujs/vcpkg.json
  versions/baseline.json
  versions/m-/mujs.json
Labels: category:port-update, info:reviewed

#29510 [ffmpeg] fix emscripten build
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: info:reviewed, category:community-triplet

#29589 [directxtex] update port to add dx11 default feature
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxtex.json
  versions/u-/uvatlas.json
Labels: category:port-feature, info:reviewed

#29607 [sdl2] Re-enable ibus in build
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-feature, info:reviewed

#29603 [opusfile] Disable opusurl on Windows, update to 9d71834
  ports/opusfile/CMakeLists.txt
  ports/opusfile/portfile.cmake
  ports/opusfile/usage
  ports/opusfile/vcpkg.json
  versions/baseline.json
  versions/o-/opusfile.json
Labels: category:port-update, info:reviewed

#29597 [collada-dom] drop unused dependency
  ports/collada-dom/vcpkg.json
  versions/baseline.json
  versions/c-/collada-dom.json
Labels: category:port-bug, info:reviewed

#29590 [snappy] fix pc file include
  ports/snappy/portfile.cmake
  ports/snappy/vcpkg.json
  versions/baseline.json
  versions/s-/snappy.json
Labels: category:port-bug, info:reviewed

#29577 [libssh] Fix Android build (again)
  ports/libssh/0004-file-permissions-constants.patch
  ports/libssh/vcpkg.json
  versions/baseline.json
  versions/l-/libssh.json
Labels: category:port-feature, info:reviewed

#29639 [otl] update to 4.0.476
  ports/otl/portfile.cmake
  ports/otl/vcpkg.json
  versions/baseline.json
  versions/o-/otl.json
Labels: info:internal, category:port-update, info:reviewed

#29637 [liblsl] Update to 1.16.1
  ports/liblsl/portfile.cmake
  ports/liblsl/vcpkg.json
  versions/baseline.json
  versions/l-/liblsl.json
Labels: category:port-update, info:reviewed

#29636 [fluidsynth] Update patch and portfile
  ports/fluidsynth/add-usage-requirements.patch
  ports/fluidsynth/gentables.patch
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/usage
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#29599 [node-api|node-addon-api] fix and update
  ports/node-addon-api/portfile.cmake
  ports/node-addon-api/unofficial-node-addon-api-config.cmake
  ports/node-addon-api/vcpkg.json
  ports/node-api/portfile.cmake
  ports/node-api/unofficial-node-api-config.cmake
  ports/node-api/unofficial-node-api-config.cmake.in
  ports/node-api/vcpkg.json
  versions/baseline.json
  versions/n-/node-addon-api.json
  versions/n-/node-api.json
Labels: category:port-bug, category:port-update, info:reviewed

#29518 [cairomm] Fix config include path
  ports/cairomm/fix_include_path.patch
  ports/cairomm/portfile.cmake
  ports/cairomm/vcpkg.json
  versions/baseline.json
  versions/c-/cairomm.json
Labels: category:port-bug, info:reviewed

#29640 [opusfile] Fix CMake config on case-sensitive filesystem
  ports/opusfile/portfile.cmake
  ports/opusfile/vcpkg.json
  versions/baseline.json
  versions/o-/opusfile.json
Labels: category:port-bug, info:reviewed

#29659 [imgui] Update to 1.89.3
  ports/imgui/CMakeLists.txt
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#29655 [cxxopts]Update cxxopts version to 3.1.0
  ports/cxxopts/portfile.cmake
  ports/cxxopts/vcpkg.json
  versions/baseline.json
  versions/c-/cxxopts.json
Labels: category:port-update, info:reviewed

#29653 [sentry-native] update to 0.6.0
  ports/sentry-native/fix-config-cmake.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#29654 [wxWidgets] Update to v3.2.2.1
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-update, info:reviewed

#29604 [arg-router] Bump to 1.1.1
  ports/arg-router/portfile.cmake
  ports/arg-router/vcpkg.json
  versions/a-/arg-router.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#29644 [glib] Bump to 2.75.3
  ports/glib/libintl.patch
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#29495 [qtdeclarative] add long path warning
  ports/qtdeclarative/portfile.cmake
  ports/qtdeclarative/vcpkg.json
  versions/baseline.json
  versions/q-/qtdeclarative.json
Labels: category:port-feature, info:internal, info:reviewed

#29341 [libevent] Update the patch and enable uwp support.
  ports/libevent/fix-LibeventConfig_cmake_in_path.patch
  ports/libevent/fix-android-threads.patch
  ports/libevent/fix-uwp.patch
  ports/libevent/portfile.cmake
  ports/libevent/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libevent.json
Labels: category:port-feature, info:reviewed

#29669 Patch Tuesday Feb 2023
  scripts/azure-pipelines/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#29626 [libtorrent] fix build error on windows arm64 target
  ports/libtorrent/0001-fix-build-error-on-Windows-ARM64-by-add-new-define.patch
  ports/libtorrent/portfile.cmake
  ports/libtorrent/vcpkg.json
  versions/l-/libtorrent.json
Labels: category:port-feature, info:reviewed

#29646 [ogre] update to latest version (v13.6.2)
  ports/ogre/cfg-rel-paths.patch
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: info:internal, category:port-update, info:reviewed
