Repository microsoft/vcpkg, pull requests merged in 2023-12, with the labels that each got.

#35436 [podofo] Update to 0.10.2
  ports/podofo/fix-interface-include.patch
  ports/podofo/portfile.cmake
  ports/podofo/vcpkg.json
  versions/baseline.json
  versions/p-/podofo.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#34864 [triton] Version updated and compilation errors fixed
  ports/triton/fix_bin_path.patch
  ports/triton/portfile.cmake
  ports/triton/vcpkg.json
  versions/baseline.json
  versions/t-/triton.json
Labels: category:port-bug, info:internal, info:reviewed

#35432 [tinyorm] Suppress warning STL4043
  ports/tinyorm/portfile.cmake
  ports/tinyorm/suppress-warning-STL4043.patch
  ports/tinyorm/vcpkg.json
  versions/baseline.json
  versions/t-/tinyorm.json
Labels: category:port-bug, info:internal, info:reviewed

#35430 [liburing] update liburing port to version 2.5
  ports/liburing/fix-configure.patch
  ports/liburing/portfile.cmake
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: category:port-update, info:reviewed

#35428 [gdal] Update to 3.8.1
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#35419 [open62541] don't force static CRT anymore
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-bug, info:reviewed

#35412 [libspng]: New port
  ports/libspng/fix-spngconfig-cmake.patch
  ports/libspng/portfile.cmake
  ports/libspng/usage
  ports/libspng/vcpkg.json
  versions/baseline.json
  versions/l-/libspng.json
Labels: category:new-port, info:reviewed

#35410 [xtensor] update to 0.24.7
  ports/xtensor/portfile.cmake
  ports/xtensor/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor.json
Labels: info:internal, category:port-update, info:reviewed

#35391 [freeglut,gl2ps,glui,mdl-sdk] Platform support corrections
  ports/freeglut/portfile.cmake
  ports/freeglut/vcpkg.json
  ports/gl2ps/portfile.cmake
  ports/gl2ps/vcpkg.json
  ports/glui/vcpkg.json
  ports/mdl-sdk/001-freeimage-from-vcpkg.patch
  ports/mdl-sdk/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/freeglut.json
  versions/g-/gl2ps.json
  versions/g-/glui.json
  versions/m-/mdl-sdk.json
Labels: category:port-bug, info:reviewed

#35385 [nlohmann-json] version 3.11.3
  ports/nlohmann-json/portfile.cmake
  ports/nlohmann-json/vcpkg.json
  versions/baseline.json
  versions/n-/nlohmann-json.json
Labels: category:port-update, info:reviewed

#34901 [openxr-loader] update to 1.0.31
  ports/openxr-loader/002-fix-hpp-gen.patch
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/python3_8_compatibility.patch
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-update, info:reviewed

#35283 [sentencepiece] Fix port
  ports/sentencepiece/portfile.cmake
  ports/sentencepiece/vcpkg.json
  versions/baseline.json
  versions/s-/sentencepiece.json
Labels: category:port-feature, info:internal, info:reviewed

#35478 [vcpkg baseline][open62541] passing remove from fail
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#34837 [simdjson]Update to version 3.6.2
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: info:internal, category:port-update, info:reviewed

#34867 [fastrtps] Fix mac address overflow
  ports/fastrtps/portfile.cmake
  ports/fastrtps/vcpkg.json
  versions/baseline.json
  versions/f-/fastrtps.json
Labels: category:port-bug, info:reviewed

#35084 Fix CMake detection of cross-compilers on arm/arm64 build arch
  scripts/toolchains/linux.cmake
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#35409 [opencv3/opencv4] Fix supports QNX
  ports/opencv3/0020-fix-supportqnx.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0022-fix-supportqnx.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:internal, info:reviewed

#35376 [cuda-api-wrappers] new port
  ports/cuda-api-wrappers/portfile.cmake
  ports/cuda-api-wrappers/usage
  ports/cuda-api-wrappers/vcpkg.json
  versions/baseline.json
  versions/c-/cuda-api-wrappers.json
Labels: category:new-port, info:reviewed

#35440 [xsimd] update to 12.0.0
  ports/xsimd/portfile.cmake
  ports/xsimd/vcpkg.json
  versions/baseline.json
  versions/x-/xsimd.json
Labels: info:internal, category:port-update, info:reviewed

#35443 [calceph] update to version 3.5.4
  ports/calceph/portfile.cmake
  ports/calceph/vcpkg.json
  versions/baseline.json
  versions/c-/calceph.json
Labels: category:port-update, info:reviewed

#35445 [aws-sdk-cpp and co] Update to the latest version.
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  ports/s2n/portfile.cmake
  ports/s2n/remove-trycompile.patch
  ports/s2n/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
  versions/s-/s2n.json
Labels: category:port-update, info:reviewed

#35450 [libdatachannel] Update to 0.19.4
  ports/libdatachannel/fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/uwp-warnings.patch
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#35414 [dcmtk] Fix link xml2 error
  ports/dcmtk/fix_link_xml2.patch
  ports/dcmtk/portfile.cmake
  ports/dcmtk/vcpkg.json
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: category:port-bug, info:internal, info:reviewed

#35434 [vcpkg baseline][drogon/libusb]passing remove from fail
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#35435 [vcpkg baseline][treehopper] Only build dynamic libraries
  ports/treehopper/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/t-/treehopper.json
Labels: info:internal, info:reviewed, category:infrastructure

#35451 [google-cloud-cpp] update to the latest release (2.19.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#35454 [copypp] update to 0.1.1
  ports/copypp/portfile.cmake
  ports/copypp/vcpkg.json
  versions/baseline.json
  versions/c-/copypp.json
Labels: category:port-update, info:reviewed

#35456 [proj] Update to 9.3.1
  ports/proj/fix-uwp.patch
  ports/proj/portfile.cmake
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-update, info:reviewed

#35460 [libdeflate] Fix usage
  ports/libdeflate/portfile.cmake
  ports/libdeflate/usage
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: category:port-bug, info:reviewed

#35473 [cpptrace] Add 0.3.1
  ports/cpptrace/nullable_export.patch
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#35474 [Glaze] Update to version 1.8.4
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#35475 [hnswlib] update to 0.8.0
  ports/hnswlib/cmake.patch
  ports/hnswlib/portfile.cmake
  ports/hnswlib/vcpkg.json
  versions/baseline.json
  versions/h-/hnswlib.json
Labels: category:port-update, info:reviewed

#35482 [curlpp] Remove find_dependency from wrapper file
  ports/curlpp/portfile.cmake
  ports/curlpp/vcpkg-cmake-wrapper.cmake
  ports/curlpp/vcpkg.json
  versions/baseline.json
  versions/c-/curlpp.json
Labels: category:port-bug, info:internal, info:reviewed

#35461 [kealib] Cleanup, fix CMake config
  ports/kealib/hdf5_include.patch
  ports/kealib/kealib-target.diff
  ports/kealib/no-kea-config-script.diff
  ports/kealib/portfile.cmake
  ports/kealib/usage
  ports/kealib/vcpkg.json
  versions/baseline.json
  versions/k-/kealib.json
Labels: category:port-bug, info:reviewed

#35292 [libusb] Set host triplet for wasm32
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-feature, info:reviewed

#35495 [allegro5] update to 5.2.9.0
  ports/allegro5/export-targets.patch
  ports/allegro5/portfile.cmake
  ports/allegro5/vcpkg.json
  versions/a-/allegro5.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#34945 [ogre-next] upgrade ogre-next 2.3.3 and fix osx
  ports/gz-cmake3/dependencies.patch
  ports/gz-cmake3/vcpkg.json
  ports/gz-rendering7/fix-dependencies.patch
  ports/gz-rendering7/vcpkg.json
  ports/ogre-next/fix-pc-file.patch
  ports/ogre-next/osx.patch
  ports/ogre-next/portfile.cmake
  ports/ogre-next/toolchain_fixes.patch
  ports/ogre-next/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gz-cmake3.json
  versions/g-/gz-rendering7.json
  versions/o-/ogre-next.json
Labels: category:port-feature, info:reviewed

#35508 [plog] Update to 1.1.10
  ports/plog/portfile.cmake
  ports/plog/vcpkg.json
  versions/baseline.json
  versions/p-/plog.json
Labels: category:port-update, info:reviewed

#35497 [cpprestsdk] Update to 2.10.19
  ports/cpprestsdk/portfile.cmake
  ports/cpprestsdk/vcpkg.json
  versions/baseline.json
  versions/c-/cpprestsdk.json
Labels: category:port-update

#35526 Update Android base image to 2023-12-05.
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/android/create-docker-image.ps1
  scripts/azure-pipelines/android/provision-image.sh
  scripts/azure-pipelines/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#35532 [qcoro] Update to 0.10.0
  ports/qcoro/0001-qt6-deprecated-qwebsocket-error.patch
  ports/qcoro/portfile.cmake
  ports/qcoro/vcpkg.json
  versions/baseline.json
  versions/q-/qcoro.json
Labels: category:port-update, info:reviewed

#35493 [cnats] Repair installation path
  ports/cnats/fix_install_path.patch
  ports/cnats/portfile.cmake
  ports/cnats/vcpkg.json
  versions/baseline.json
  versions/c-/cnats.json
Labels: category:port-bug, info:internal, info:reviewed

#35534 [paho-mqttpp3] Update to 1.3.2
  ports/paho-mqttpp3/fix-dependency.patch
  ports/paho-mqttpp3/portfile.cmake
  ports/paho-mqttpp3/vcpkg.json
  versions/baseline.json
  versions/p-/paho-mqttpp3.json
Labels: info:reviewed

#35519 [qt-advanced-docking-system] update to 4.2.1
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-update

#35527 [fakeit] fix header files copy
  ports/fakeit/portfile.cmake
  ports/fakeit/vcpkg.json
  versions/baseline.json
  versions/f-/fakeit.json
Labels: category:code-cleanup

#35513 [aws-sdk-cpp] Update features.
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-feature, requires:all-feature-testing

#35521 [vcpkg baseline][mongo-c-driver] fix mongo-c-driver when Python3 isn't on the PATH
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-c-driver.json
Labels: category:port-bug, info:internal, info:reviewed

#35520 [rtaudio] update to 6.0.1
  ports/rtaudio/fix-alsa.patch
  ports/rtaudio/portfile.cmake
  ports/rtaudio/vcpkg.json
  versions/baseline.json
  versions/r-/rtaudio.json
Labels: info:internal, category:port-update, info:reviewed

#34228 [pkgconf] Update to 2.1.0
  ports/pkgconf/portfile.cmake
  ports/pkgconf/vcpkg.json
  versions/baseline.json
  versions/p-/pkgconf.json
Labels: category:port-update, info:reviewed

#35086 [ms-gsl] add license
  ports/ms-gsl/vcpkg.json
  versions/baseline.json
  versions/m-/ms-gsl.json
Labels: info:reviewed, category:code-cleanup

#35545 [sol2] Update, fix, don't build anything
  ports/sol2/fix-namespace.patch
  ports/sol2/header-only.patch
  ports/sol2/portfile.cmake
  ports/sol2/vcpkg.json
  versions/baseline.json
  versions/s-/sol2.json
Labels: category:port-bug, info:reviewed

#35257 [liblemon] no uwp
  ports/liblemon/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/liblemon.json
Labels: category:port-feature, info:reviewed

#35394 [sdl2,sdl2-*] allow disabling transitive dependencies
  ports/sdl2-gfx/vcpkg.json
  ports/sdl2-image/vcpkg.json
  ports/sdl2-mixer-ext/vcpkg.json
  ports/sdl2-mixer/vcpkg.json
  ports/sdl2-net/vcpkg.json
  ports/sdl2-ttf/vcpkg.json
  ports/sdl2/vcpkg.json
  ports/sdl2pp/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-gfx.json
  versions/s-/sdl2-image.json
  versions/s-/sdl2-mixer-ext.json
  versions/s-/sdl2-mixer.json
  versions/s-/sdl2-net.json
  versions/s-/sdl2-ttf.json
  versions/s-/sdl2.json
  versions/s-/sdl2pp.json
Labels: category:port-feature, info:internal, info:reviewed

#34273 [breakpad] update to 2023.01.27
  ports/breakpad/CMakeLists.txt
  ports/breakpad/fix-const-char.patch
  ports/breakpad/portfile.cmake
  ports/breakpad/unofficial-breakpadConfig.cmake
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35615 [async-mqtt] Update port to 4.0.0
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35613 [DPP] Bump to version 10.0.29
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#35598 [libsystemd] Add dependency gperf
  ports/libsystemd/portfile.cmake
  ports/libsystemd/vcpkg.json
  versions/baseline.json
  versions/l-/libsystemd.json
Labels: category:port-bug, info:internal, info:reviewed

#35597 [openvdb] update to version 11
  ports/openvdb/fix_cmake.patch
  ports/openvdb/fix_nanovdb.patch
  ports/openvdb/portfile.cmake
  ports/openvdb/vcpkg.json
  versions/baseline.json
  versions/o-/openvdb.json
Labels: category:port-update, info:reviewed

#35596 [fastio] Update to 2023-11-06
  ports/fastio/portfile.cmake
  ports/fastio/vcpkg.json
  versions/baseline.json
  versions/f-/fastio.json
Labels: info:internal, category:port-update, info:reviewed

#35591 [asio-grpc] Update to 2.8.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/usage
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35589 [draco] Revise and fix build
  ports/draco/install-linkage.diff
  ports/draco/portfile.cmake
  ports/draco/vcpkg.json
  versions/baseline.json
  versions/d-/draco.json
Labels: category:port-bug, info:reviewed

#35586 [vcpkg baseline][libbson] Fix race condition during CMake configure
  ports/libbson/disable-dynamic-when-static.patch
  ports/libbson/fix-missing-header.patch
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
Labels: category:port-bug, info:reviewed

#35580 [lpeg] update to 1.1.0
  ports/lpeg/CMakeLists.txt
  ports/lpeg/portfile.cmake
  ports/lpeg/vcpkg.json
  versions/baseline.json
  versions/l-/lpeg.json
Labels: category:port-update, info:reviewed

#35578 [cppcms] Fix dependencies and linkage
  ports/cppcms/dependencies.diff
  ports/cppcms/dllexport.diff
  ports/cppcms/no-tests-and-examples.patch
  ports/cppcms/portfile.cmake
  ports/cppcms/vcpkg.json
  versions/baseline.json
  versions/c-/cppcms.json
Labels: category:port-bug, info:reviewed

#35576 [libzim] Update to 9.0.0
  ports/libzim/cross-builds.diff
  ports/libzim/disable-gtest.diff
  ports/libzim/dllexport.diff
  ports/libzim/portfile.cmake
  ports/libzim/subdirs.diff
  ports/libzim/vcpkg.json
  versions/baseline.json
  versions/l-/libzim.json
Labels: category:port-update, info:reviewed

#35575 [quill] Update to 3.5.1
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#35574 [geos,libspatialite] Fix various quirks
  ports/geos/fix-exported-config.patch
  ports/geos/vcpkg.json
  ports/libspatialite/portfile.cmake
  ports/libspatialite/vcpkg.json
  versions/baseline.json
  versions/g-/geos.json
  versions/l-/libspatialite.json
Labels: category:port-bug, info:reviewed

#35567 [Glaze] Update to 1.9.3
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#35565 [libxslt] do not require default features of libxml2
  ports/libxslt/vcpkg.json
  versions/baseline.json
  versions/l-/libxslt.json
Labels: category:port-feature, info:reviewed

#35522 [qwt] update to 6.2.1 and add CMake config
  ports/qwt/portfile.cmake
  ports/qwt/unofficial-qwt-config.cmake
  ports/qwt/vcpkg.json
  versions/baseline.json
  versions/q-/qwt.json
Labels: category:port-update, info:reviewed

#35327 [veigar] Add new port.
  ports/veigar/portfile.cmake
  ports/veigar/vcpkg.json
  versions/baseline.json
  versions/v-/veigar.json
Labels: category:new-port, info:reviewed

#35413 [darknet] Fix dependence cuda
  ports/darknet/portfile.cmake
  ports/darknet/vcpkg.json
  versions/baseline.json
  versions/d-/darknet.json
Labels: category:port-bug, info:internal, info:reviewed

#35637 Update vcpkg-tool to 2023-12-12.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#35003 [vcpkg-tool-meson] fix pkgconfig data file installation on FreeBSD
  ports/vcpkg-tool-meson/meson-intl.patch
  ports/vcpkg-tool-meson/portfile.cmake
  ports/vcpkg-tool-meson/remove-freebsd-pcfile-specialization.patch
  ports/vcpkg-tool-meson/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-tool-meson.json
Labels: info:reviewed, category:community-triplet, requires:vcpkg-team-review

#35639 [qtwebengine] Fix stuff
  ports/qtwebengine/clang-cl.patch
  ports/qtwebengine/msvc-template.patch
  ports/qtwebengine/portfile.cmake
  ports/qtwebengine/vcpkg.json
  versions/baseline.json
  versions/q-/qtwebengine.json
Labels: category:port-bug

#35667 [glfw3] update to 3.3.9
  ports/glfw3/fix_win32_dllname.pacth
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:port-update, info:reviewed

#35666 [armadillo] update to 12.6.6
  ports/armadillo/portfile.cmake
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#35660 [directx-headers] update port for 1.611.0 release
  ports/directx-headers/portfile.cmake
  ports/directx-headers/usage
  ports/directx-headers/vcpkg.json
  versions/baseline.json
  versions/d-/directx-headers.json
Labels: category:port-update, info:reviewed

#35655 [z3] Update to 4.12.4.
  ports/z3/fix-cstdint-include.patch
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#35668 [cpp-ipc] Update 1.3.0
  ports/cpp-ipc/portfile.cmake
  ports/cpp-ipc/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-ipc.json
Labels: category:port-update, info:reviewed

#35651 [configcat] Update to version 3.2.0
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:port-update, info:reviewed

#35647 [coin] fix clang-cl builds
  ports/coin/fix-typedef.patch
  ports/coin/portfile.cmake
  ports/coin/vcpkg.json
  versions/baseline.json
  versions/c-/coin.json
Labels: category:port-bug, info:reviewed

#35643 [bootstrap] Use official cmake configuration
  ports/vk-bootstrap/portfile.cmake
  ports/vk-bootstrap/vcpkg.json
  ports/vk-bootstrap/vk-bootstrap-config.cmake
  versions/baseline.json
  versions/v-/vk-bootstrap.json
Labels: info:internal, category:port-update, info:reviewed

#35636 [rocksdb] Update to v8.9.1
  ports/rocksdb/0001-fix-dependencies.patch
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#35634 [catch2] Update to 3.5.0
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#35631 [Glaze] Update 1.9.5
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#35630 [qtbase] fix feature dbus
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-feature, info:reviewed

#35625 [Jsonifier] to v0.9.93 and [DiscordCoreAPI] to v2.0.4
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#35622 [utf8-range] New port
  ports/utf8-range/fix-cmake.patch
  ports/utf8-range/portfile.cmake
  ports/utf8-range/vcpkg.json
  versions/baseline.json
  versions/u-/utf8-range.json
Labels: category:new-port, info:reviewed

#35609 [google-cloud-cpp] fix feature sql
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-bug, info:reviewed

#35607 [cglm] Allow building for arm platforms.
  ports/cglm/vcpkg.json
  versions/baseline.json
  versions/c-/cglm.json
Labels: category:port-feature, info:reviewed

#35600 [kerbal] Add new port
  ports/kerbal/portfile.cmake
  ports/kerbal/vcpkg.json
  versions/baseline.json
  versions/k-/kerbal.json
Labels: category:new-port, info:reviewed

#35599 [at-spi2-core, at-spi2-atk] Add dependency dbus
  ports/at-spi2-atk/portfile.cmake
  ports/at-spi2-atk/vcpkg.json
  ports/at-spi2-core/portfile.cmake
  ports/at-spi2-core/vcpkg.json
  versions/a-/at-spi2-atk.json
  versions/a-/at-spi2-core.json
  versions/baseline.json
Labels: info:internal, info:reviewed, category:code-cleanup

#35608 [wavpack] fix usage
  ports/wavpack/portfile.cmake
  ports/wavpack/vcpkg.json
  versions/baseline.json
  versions/w-/wavpack.json
Labels: category:port-feature, info:reviewed

#35550 [aklomp-base64] update to 0.5.1
  ports/aklomp-base64/portfile.cmake
  ports/aklomp-base64/vcpkg.json
  versions/a-/aklomp-base64.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35498 [libusb] Fix usage
  ports/azure-kinect-sensor-sdk/fix-builds.patch
  ports/azure-kinect-sensor-sdk/portfile.cmake
  ports/azure-kinect-sensor-sdk/vcpkg.json
  ports/dv-processing/portfile.cmake
  ports/dv-processing/vcpkg.json
  ports/libcaer/fix-libusb.diff
  ports/libcaer/vcpkg.json
  ports/libfreenect2/fix-dependency-libusb.patch
  ports/libfreenect2/portfile.cmake
  ports/libfreenect2/vcpkg.json
  ports/libirecovery/CMakeLists.txt
  ports/libirecovery/portfile.cmake
  ports/libirecovery/vcpkg.json
  ports/libusb/portfile.cmake
  ports/libusb/usage
  ports/libusb/vcpkg-cmake-wrapper.cmake
  ports/libusb/vcpkg.json
  ports/libuvc/build_fix.patch
  ports/libuvc/portfile.cmake
  ports/libuvc/vcpkg.json
  ports/usbmuxd/CMakeLists.txt
  ports/usbmuxd/vcpkg.json
  versions/a-/azure-kinect-sensor-sdk.json
  versions/baseline.json
  versions/d-/dv-processing.json
  versions/l-/libcaer.json
  versions/l-/libfreenect2.json
  versions/l-/libirecovery.json
  versions/l-/libusb.json
  versions/l-/libuvc.json
  versions/u-/usbmuxd.json
Labels: category:port-bug, info:internal, info:reviewed

#34188 [getdns] update to 1.7.3
  ports/getdns/disable-docs.patch
  ports/getdns/fix-include.patch
  ports/getdns/fix-libuv-deps.patch
  ports/getdns/portfile.cmake
  ports/getdns/vcpkg.json
  versions/baseline.json
  versions/g-/getdns.json
Labels: category:port-update, info:reviewed

#35032 [x-plane] Update to 4.0.1, effectively new port
  ports/x-plane/CMakeLists.txt
  ports/x-plane/portfile.cmake
  ports/x-plane/unofficial-x-plane-config.cmake.in
  ports/x-plane/usage
  ports/x-plane/vcpkg.json
  versions/baseline.json
  versions/x-/x-plane.json
Labels: category:port-update, info:reviewed

#35692 [string-theory] Update to 3.8
  ports/string-theory/portfile.cmake
  ports/string-theory/vcpkg.json
  versions/baseline.json
  versions/s-/string-theory.json
Labels: category:port-update, info:reviewed

#35680 [gstreamer] add feature to enable aom support
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:reviewed

#35689 [mp-units] Update to version 2.1.0
  ports/mp-units/config.patch
  ports/mp-units/portfile.cmake
  ports/mp-units/vcpkg.json
  versions/baseline.json
  versions/m-/mp-units.json
Labels: category:port-update, info:reviewed

#35682 [libtorch] Fix core dependencies
  ports/libtorch/vcpkg-dependencies.cmake
  ports/libtorch/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
Labels: category:port-bug, info:internal, info:reviewed

#35678 [opensubdiv] Fix feature cuda build with opening Visual Studio
  ports/opensubdiv/fix-feature-cuda.patch
  ports/opensubdiv/portfile.cmake
  ports/opensubdiv/vcpkg.json
  versions/baseline.json
  versions/o-/opensubdiv.json
Labels: category:port-bug, info:internal, info:reviewed

#35676 [pcl] fix clang-cl builds
  ports/pcl/fix-clang-cl.patch
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:reviewed

#35675 [mlpack] update to 4.3.0
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: info:internal, category:port-update, info:reviewed

#35673 [breakpad] Fixing find_package(unofficial-breakpad) failure
  ports/breakpad/unofficial-breakpadConfig.cmake
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#35653 [harfbuzz] Update to 8.3.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#35635 [shader-slang] Update to version 2023.5.0
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: category:port-update, info:reviewed

#35658 [node-api-headers/node-addon-api] update node-api-headers to 1.1.0, and update node-addon-api to 7.0.0
  ports/node-addon-api/portfile.cmake
  ports/node-addon-api/vcpkg.json
  ports/node-api-headers/portfile.cmake
  ports/node-api-headers/vcpkg.json
  versions/baseline.json
  versions/n-/node-addon-api.json
  versions/n-/node-api-headers.json
Labels: category:port-update, info:reviewed

#35603 [ableton-link] Fix broken find_package
  ports/ableton-link/portfile.cmake
  ports/ableton-link/vcpkg.json
  versions/a-/ableton-link.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#35640 Update Windows Fleet for December 2023 Patch Tuesday
  ports/folly/disable-uninitialized-resize-on-new-stl.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/qtwebengine/msvc-template.patch
  ports/qtwebengine/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/generate-sas-tokens.ps1
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/roll-sas-tokens.ps1
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/folly.json
  versions/q-/qtwebengine.json
Labels: info:internal, category:infrastructure

#35697 [vcpkg baseline][cppcms] passing remove from fail
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#35585 [gettext] Update to 0.22.4
  ports/gettext-libintl/android.patch
  ports/gettext-libintl/portfile.cmake
  ports/gettext-libintl/uwp.patch
  ports/gettext-libintl/vcpkg.json
  ports/gettext/android.patch
  ports/gettext/config-step-order.patch
  ports/gettext/macosx-libs.patch
  ports/gettext/portfile.cmake
  ports/gettext/subdirs.patch
  ports/gettext/uwp.patch
  ports/gettext/vcpkg.json
  ports/gettext/win-gethostname.patch
  versions/baseline.json
  versions/g-/gettext-libintl.json
  versions/g-/gettext.json
Labels: category:port-update, info:reviewed

#35662 [curl] fix config on iOS
  ports/curl/cmake-config-ios.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#35706 [Openmpi] configuration error
  ports/openmpi/portfile.cmake
  ports/openmpi/vcpkg.json
  versions/baseline.json
  versions/o-/openmpi.json
Labels: category:port-bug, info:reviewed

#35711 [coin] update to version 4.0.2
  ports/coin/disable-cpackd.patch
  ports/coin/fix-typedef.patch
  ports/coin/portfile.cmake
  ports/coin/remove-default-config.patch
  ports/coin/vcpkg.json
  versions/baseline.json
  versions/c-/coin.json
Labels: category:port-update, info:reviewed

#35713 [mimalloc] Fix android, clarify usage
  ports/mimalloc/portfile.cmake
  ports/mimalloc/template-param-types.diff
  ports/mimalloc/usage
  ports/mimalloc/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: category:port-bug, info:reviewed

#35717 [simage] update to 1.8.3
  ports/simage/portfile.cmake
  ports/simage/vcpkg.json
  versions/baseline.json
  versions/s-/simage.json
Labels: category:port-update, info:reviewed

#35721 [aws-sdk-cpp] Update, minor fixes
  ports/aws-sdk-cpp/fix-awsmigrationhub-build.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35726 [freetype-gl] GLEW as default feature
  ports/freetype-gl/portfile.cmake
  ports/freetype-gl/vcpkg.json
  versions/baseline.json
  versions/f-/freetype-gl.json
Labels: category:port-feature, info:reviewed

#35728 [libatomic-ops] Update to v7.8.2
  ports/libatomic-ops/portfile.cmake
  ports/libatomic-ops/vcpkg.json
  versions/baseline.json
  versions/l-/libatomic-ops.json
Labels: category:port-update, info:reviewed

#35729 [imgui] fix allegro feature
  ports/imgui/CMakeLists.txt
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-bug, info:reviewed

#35735 [libcap] Fix native build with prefixed CC
  ports/libcap/configure
  ports/libcap/vcpkg.json
  versions/baseline.json
  versions/l-/libcap.json
Labels: category:port-bug, info:reviewed

#35737 [libsystemd] Fix build when specifying release-only or debug-only build
  ports/libsystemd/portfile.cmake
  ports/libsystemd/vcpkg.json
  versions/baseline.json
  versions/l-/libsystemd.json
Labels: category:port-bug, info:reviewed

#35738 [libmount] Update and fix
  ports/libmount/portfile.cmake
  ports/libmount/vcpkg.json
  versions/baseline.json
  versions/l-/libmount.json
Labels: category:port-update, info:reviewed

#35749 [nng] update to 1.6.0
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: info:internal, category:port-update, info:reviewed

#35748 Update arm64-osx baseline for 2023-12-18
  scripts/ci.baseline.txt
Labels: category:infrastructure

#35756 [flecs] Update to 3.2.10
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update

#35715 [drogon]: list new yaml-cpp dep under yaml feature
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
Labels: category:port-feature, info:reviewed

#35719 [tinygltf] update to 2.8.19
  ports/tinygltf/portfile.cmake
  ports/tinygltf/vcpkg.json
  versions/baseline.json
  versions/t-/tinygltf.json
Labels: category:port-update

#35533 [harfbuzz] Make use of SelectLibraryConfigurations()
  ports/harfbuzz/harfbuzzConfig.cmake.in
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-feature, info:reviewed

#35605 [libvpx] resolve bash by PATH rather then hard-coding its' location
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-bug, info:reviewed

#35657 [qtbase] Add feature for gtk3 platform theme
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-feature, info:reviewed

#35759 [quill] Update to 3.6.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#35767 [llgi] Update to 2023-12-19
  ports/llgi/portfile.cmake
  ports/llgi/vcpkg.json
  versions/baseline.json
  versions/l-/llgi.json
Labels: info:internal, category:port-update, info:reviewed

#35768 [imgui] Fix usage of feature allegro5
  ports/imgui/imgui-config.cmake.in
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-bug, info:internal, info:reviewed

#35758 [unordered-dense] Update to 4.3.1
  ports/unordered-dense/portfile.cmake
  ports/unordered-dense/vcpkg.json
  versions/baseline.json
  versions/u-/unordered-dense.json
Labels: category:port-update, info:reviewed

#35734 [openssl] Update to 3.2.0
  ports/freerdp/openssl-3.patch
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  ports/openssl/asm-comments.patch
  ports/openssl/declspec-align.patch
  ports/openssl/disable-apps.patch
  ports/openssl/disable-install-docs.patch
  ports/openssl/portfile.cmake
  ports/openssl/qt-msvc.patch
  ports/openssl/vcpkg.json
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/f-/freerdp.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#35765 vcpkg_find_acquire_program(BISON).cmake: Also search default brew installation on arm64-osx
  scripts/cmake/vcpkg_find_acquire_program(BISON).cmake
Labels: category:tool-update

#35774 [live555] update to 2023.11.30
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: info:internal, category:port-update, info:reviewed

#35753 [libsodium] update to 1.0.19
  ports/libsodium/CMakeLists.txt
  ports/libsodium/portfile.cmake
  ports/libsodium/vcpkg.json
  versions/baseline.json
  versions/l-/libsodium.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#35788 [podofo] Update to 0.10.3
  ports/podofo/portfile.cmake
  ports/podofo/vcpkg.json
  versions/baseline.json
  versions/p-/podofo.json
Labels: info:internal, category:port-update, info:reviewed

#28619 [vcpkg-ci-boost] All triplets
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-boost/vcpkg.json
Labels: info:reviewed, category:infrastructure

#35798 [libdisasm] add license
  ports/libdisasm/vcpkg.json
  versions/baseline.json
  versions/l-/libdisasm.json
Labels: category:port-feature, info:reviewed

#35196 [openssl] add feature to enable ssl3/weak-ssl-ciphers
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#35480 [treehopper] Fix dependence libusb
  ports/treehopper/fix-dependences.patch
  ports/treehopper/portfile.cmake
  ports/treehopper/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/t-/treehopper.json
Labels: category:port-bug, info:internal, info:reviewed

#35819 [kealib] Update to 1.5.3
  ports/kealib/kealib-target.diff
  ports/kealib/portfile.cmake
  ports/kealib/usage
  ports/kealib/vcpkg.json
  versions/baseline.json
  versions/k-/kealib.json
Labels: category:port-update, info:reviewed

#35824 [realsense2] Add support !arm
  ports/realsense2/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-bug, info:internal, info:reviewed

#35727 [freerdp] Update to 3.0.0
  ports/freerdp/dependencies.patch
  ports/freerdp/export-include.patch
  ports/freerdp/find-dependency.patch
  ports/freerdp/fix-include-path.patch
  ports/freerdp/fix-install-destination.patch
  ports/freerdp/install-layout.patch
  ports/freerdp/keep-dup-libs.patch
  ports/freerdp/openssl-3.patch
  ports/freerdp/portfile.cmake
  ports/freerdp/pr-7060-jni-onload.patch
  ports/freerdp/vcpkg.json
  ports/freerdp/wfreerdp-server-cli.patch
  ports/freerdp/windows-linkage.patch
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-update, info:reviewed

#35810 [gettext] Fix osx
  ports/gettext/assume-modern-darwin.patch
  ports/gettext/config-step-order.patch
  ports/gettext/portfile.cmake
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext.json
Labels: category:port-bug, info:reviewed
