Repository microsoft/vcpkg, pull requests merged in 2023-09, with the labels that each got.

#33491 [aws-sdk-cpp] update to 1.11.155 and update dependencies
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-cal/portfile.cmake
  ports/aws-c-cal/vcpkg.json
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-http/portfile.cmake
  ports/aws-c-http/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-checksums/portfile.cmake
  ports/aws-checksums/vcpkg.json
  ports/aws-crt-cpp/no-werror.patch
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-cal.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-http.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-checksums.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33484 [cfitsio] fix LINK2019 error
  ports/cfitsio/0005-fix-link2019-error.patch
  ports/cfitsio/portfile.cmake
  ports/cfitsio/vcpkg.json
  versions/baseline.json
  versions/c-/cfitsio.json
Labels: category:port-bug, info:internal, info:reviewed

#32250 [nyan-lang] Add new port nyan-lang
  ports/nyan-lang/portfile.cmake
  ports/nyan-lang/vcpkg.json
  versions/baseline.json
  versions/n-/nyan-lang.json
Labels: category:new-port, info:reviewed

#33385 [seasocks] New port
  ports/seasocks/0001-fix-x86-build.patch
  ports/seasocks/portfile.cmake
  ports/seasocks/vcpkg.json
  versions/baseline.json
  versions/s-/seasocks.json
Labels: category:new-port

#33497 [chromaprint] Update to v1.5.1
  ports/chromaprint/fix_lrintf_detection.patch
  ports/chromaprint/portfile.cmake
  ports/chromaprint/vcpkg.json
  versions/baseline.json
  versions/c-/chromaprint.json
Labels: info:internal, category:port-update

#33487 [zeroc-ice] Added icelocatordiscovery feature
  ports/zeroc-ice/portfile.cmake
  ports/zeroc-ice/vcpkg.json
  versions/baseline.json
  versions/z-/zeroc-ice.json
Labels: category:port-feature

#33494 [skia] disable the dev test
  ports/skia/disable-dev-test.patch
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:internal

#33446 [capnproto]: Update to v1.0.1
  ports/capnproto/disable-C-20-co-routines.patch
  ports/capnproto/portfile.cmake
  ports/capnproto/undef-KJ_USE_EPOLL-for-ANDROID_PLATFORM-23.patch
  ports/capnproto/vcpkg.json
  versions/baseline.json
  versions/c-/capnproto.json
Labels: category:port-update, info:reviewed

#33461 [libxml2] Update to 2.11.5
  ports/libxml2/fix_cmakelist.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-update, info:reviewed

#33514 [highway] Bump to 1.0.7
  ports/highway/portfile.cmake
  ports/highway/vcpkg.json
  versions/baseline.json
  versions/h-/highway.json
Labels: category:port-update, info:reviewed

#33526 [gtk] update to 4.10.5
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
Labels: info:internal, category:port-update, info:reviewed

#33535 [rocksdb] update to v8.5.3
  ports/rocksdb/0001-fix-dependencies.patch
  ports/rocksdb/0002-only-build-one-flavor.patch
  ports/rocksdb/0003-use-find-package.patch
  ports/rocksdb/0004-fix-dependency-in-config.patch
  ports/rocksdb/0005-do-not-install-cmake-modules.patch
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#33536 [igraph] update to 0.10.7
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#33537 [imgui] Update to 1.89.9
  ports/imgui/CMakeLists.txt
  ports/imgui/imgui-config.cmake.in
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#33554 [miniupnpc] update to 2.2.5
  ports/miniupnpc/cmakelists.diff
  ports/miniupnpc/portfile.cmake
  ports/miniupnpc/vcpkg.json
  versions/baseline.json
  versions/m-/miniupnpc.json
Labels: info:internal, category:port-update, info:reviewed

#33525 [vcpkg baseline][easyloggingpp/tesseract] passing remove from fail
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#33513 [cpu-features] tools does not build on arm64-osx
  ports/cpu-features/vcpkg.json
  versions/baseline.json
  versions/c-/cpu-features.json
Labels: category:port-feature, info:reviewed

#33515 [openssl] Fix armv8 asm [fastrtps] Fix configure race
  ports/fastrtps/portfile.cmake
  ports/fastrtps/vcpkg.json
  ports/openssl/arm64-asm.patch
  ports/openssl/portfile.cmake
  ports/openssl/unix/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/f-/fastrtps.json
  versions/o-/openssl.json
Labels: category:port-feature, info:reviewed

#33521 [llvm] add missing include
  ports/llvm/0010-missing-include.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:reviewed

#33549 [ngspice] update version to 41
  ports/ngspice/portfile.cmake
  ports/ngspice/vcpkg.json
  versions/baseline.json
  versions/n-/ngspice.json
Labels: info:internal, category:port-update, info:reviewed

#33566 [gdal] don't use jpeg
  ports/gdal/fix-jpeg.patch
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-bug, info:reviewed

#33573 [pcl] fix feature apps
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:reviewed

#33563 [DiscordCoreAPI] to v1.90 and [Jsonifier] to v0.9.7
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#33516 [zeroc-ice] Fixes include files missing IceUtil
  ports/zeroc-ice/portfile.cmake
  ports/zeroc-ice/vcpkg.json
  versions/baseline.json
  versions/z-/zeroc-ice.json
Labels: category:port-bug, info:reviewed

#33531 [mdl-sdk] Fix link freeimage error
  ports/mdl-sdk/001-freeimage-from-vcpkg.patch
  ports/mdl-sdk/vcpkg.json
  versions/baseline.json
  versions/m-/mdl-sdk.json
Labels: category:port-bug, info:internal, info:reviewed

#33581 [luajit] Don't enable LJ_DUALNUM
  ports/luajit/configure
  ports/luajit/vcpkg.json
  versions/baseline.json
  versions/l-/luajit.json
Labels: category:port-bug, info:reviewed

#33577 [paraview] Always use the release exe
  ports/paraview/portfile.cmake
  ports/paraview/vcpkg.json
  versions/baseline.json
  versions/p-/paraview.json
Labels: category:port-bug, info:internal, info:reviewed

#33570 [opencv2] fix missing include
  ports/opencv2/0020-missing-include.patch
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  versions/baseline.json
  versions/o-/opencv2.json
Labels: category:port-bug, info:reviewed

#33568 [minizip-ng] fix pkgconfig file
  ports/minizip-ng/fix-pkgconfig.patch
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: category:port-bug, info:reviewed

#33550 [blend2d] Fix core build
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
  versions/b-/blend2d.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#33547 [mpir] Build include files even when building static
  ports/mpir/fix-static-include-files.patch
  ports/mpir/portfile.cmake
  ports/mpir/vcpkg.json
  versions/baseline.json
  versions/m-/mpir.json
Labels: category:port-bug, info:internal, info:reviewed

#33561 [ffmpeg] enable a feature to support libpng
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#33626 [daw-json-link] update to 3.20.1
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: info:internal, category:port-update, info:reviewed

#33606 [msdfgen] tools no uwp
  ports/msdfgen/portfile.cmake
  ports/msdfgen/vcpkg.json
  versions/baseline.json
  versions/m-/msdfgen.json
Labels: category:port-feature, info:reviewed

#33596 [yyjson] fix feature writer
  ports/yyjson/vcpkg.json
  versions/baseline.json
  versions/y-/yyjson.json
Labels: category:port-feature, info:reviewed

#33588 [glaze] update to 1.4.1
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#33587 [strong-type] Update to v12
  ports/strong-type/portfile.cmake
  ports/strong-type/vcpkg.json
  versions/baseline.json
  versions/s-/strong-type.json
Labels: info:internal, category:port-update, info:reviewed

#33545 [xmlsec,libffi] Fix exported targets
  ports/libffi/libffiConfig.cmake
  ports/libffi/vcpkg.json
  ports/xmlsec/vcpkg.json
  ports/xmlsec/xmlsec-config.cmake
  versions/baseline.json
  versions/l-/libffi.json
  versions/x-/xmlsec.json
Labels: category:port-bug, info:reviewed

#33407 [flux] new port
  ports/flux/portfile.cmake
  ports/flux/targets-fixup.patch
  ports/flux/vcpkg.json
  versions/baseline.json
  versions/f-/flux.json
Labels: category:new-port, info:reviewed

#33508 [imgui-node-editor] New port
  ports/imgui-node-editor/CMakeLists.txt
  ports/imgui-node-editor/portfile.cmake
  ports/imgui-node-editor/vcpkg.json
  versions/baseline.json
  versions/i-/imgui-node-editor.json
Labels: category:new-port, info:reviewed

#33520 [json-rpc-cxx] Add new port
  ports/json-rpc-cxx/fix-config.patch
  ports/json-rpc-cxx/portfile.cmake
  ports/json-rpc-cxx/usage
  ports/json-rpc-cxx/vcpkg.json
  versions/baseline.json
  versions/j-/json-rpc-cxx.json
Labels: category:new-port, info:reviewed

#32415 [llvm] Add option to enable MLIR Python bindings
  ports/llvm/0010-remove-numpy.patch
  ports/llvm/0011-missing-include.patch
  ports/llvm/0012-create-destination-mlir-directory.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-feature

#33623 [directx-dxc, directxtk, directxtk12, directxtex] September 2023 update
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
Labels: category:port-update, info:reviewed

#33477 [python3] Update to 3.11.5
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program(PYTHON3).cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update

#33585 [clipper2] Provide CLIPPER2_UTILS target
  ports/clipper2/portfile.cmake
  ports/clipper2/vcpkg.json
  versions/baseline.json
  versions/c-/clipper2.json
Labels: category:port-feature, info:internal, info:reviewed

#33601 [soci] odbc no uwp
  ports/soci/vcpkg.json
  versions/baseline.json
  versions/s-/soci.json
Labels: category:port-bug, info:reviewed

#33602 [sqlite3] tool no uwp
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-feature, info:reviewed

#33630 [nghttp2]: update to 1.56.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#33595 [devil] does not support uwp
  ports/devil/vcpkg.json
  versions/baseline.json
  versions/d-/devil.json
Labels: category:port-bug, info:reviewed

#33644 [azure-core-amqp-cpp] publish version 1.0.0-beta.3
  ports/azure-core-amqp-cpp/portfile.cmake
  ports/azure-core-amqp-cpp/vcpkg.json
  versions/a-/azure-core-amqp-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33636 [taglib] Update to 1.13.1
  ports/taglib/portfile.cmake
  ports/taglib/vcpkg.json
  versions/baseline.json
  versions/t-/taglib.json
Labels: category:port-update, info:reviewed

#33635 [cpp-httplib] Update to 0.14.0
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#33627 [daw-header-libraries] Update to to v2.96.1
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
Labels: info:internal, category:port-update, info:reviewed

#33608 [ixwebsocket] no uwp for openssl
  ports/ixwebsocket/vcpkg.json
  versions/baseline.json
  versions/i-/ixwebsocket.json
Labels: category:port-feature, info:reviewed

#33518 [libmesh] fix post build checks
  ports/libmesh/portfile.cmake
  ports/libmesh/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libmesh.json
Labels: category:port-bug, info:reviewed

#33647 [ngtcp2] update to 0.19.1
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-update, info:reviewed

#33642 [nghttp3] update to 0.15.0
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#33628 [proj] Update to 9.3.0
  ports/proj/portfile.cmake
  ports/proj/remove-doc.patch
  ports/proj/remove_toolset_restriction.patch
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-update, info:reviewed

#33586 [tbb] Change hwloc into a default feature
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-feature, info:reviewed

#33646 [vcpkg baseline][anari] passing remove from fail
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#33599 [ogre] no uwp
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: category:port-feature

#33475 [DPP] Bump to version 10.0.25
  ports/dpp/fix-compile-defs-10.0.25.patch
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update

#33718 [async-mqtt ] Update port to 2.0.0.
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33733 [Azure Storage] Update to September Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30183 [zstd] Add "tools" feature
  ports/zstd/portfile.cmake
  ports/zstd/vcpkg.json
  versions/baseline.json
  versions/z-/zstd.json
Labels: category:port-feature, info:reviewed

#33605 [oatpp-zlib] add missing deps
  ports/oatpp-zlib/fix-usage.patch
  ports/oatpp-zlib/missing-find_dependency.patch
  ports/oatpp-zlib/portfile.cmake
  ports/oatpp-zlib/vcpkg.json
  ports/oatpp/fix-target.patch
  ports/oatpp/portfile.cmake
  ports/oatpp/vcpkg.json
  versions/baseline.json
  versions/o-/oatpp-zlib.json
  versions/o-/oatpp.json
Labels: category:port-bug, info:reviewed

#33498 [opencascade] Update port to 7.7.2
  ports/opencascade/fix-depend-vtk.patch
  ports/opencascade/fix-find-tbb.patch
  ports/opencascade/fix-pdb-find.patch
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-update, info:reviewed

#32461 [wpilib] update to main
  ports/wpilib/fix-dependency-libuv.patch
  ports/wpilib/fix-usage.patch
  ports/wpilib/missing-find_dependency.patch
  ports/wpilib/no-werror.patch
  ports/wpilib/portfile.cmake
  ports/wpilib/vcpkg.json
  ports/wpilib/windows-install-location.patch
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/w-/wpilib.json
Labels: category:port-update, info:reviewed

#33584 [openimageio] Add dependency python3 for feature pybind11
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-bug, info:internal, info:reviewed

#33656 [seasocks] Update to 1.4.6
  ports/seasocks/0001-fix-x86-build.patch
  ports/seasocks/portfile.cmake
  ports/seasocks/vcpkg.json
  versions/baseline.json
  versions/s-/seasocks.json
Labels: category:port-update, info:reviewed

#33678 [vsgxchange] Update to v1.0.5
  ports/vsgxchange/portfile.cmake
  ports/vsgxchange/vcpkg.json
  versions/baseline.json
  versions/v-/vsgxchange.json
Labels: category:port-update, info:reviewed

#33677 [vsg] Update to v1.0.9
  ports/vsg/portfile.cmake
  ports/vsg/vcpkg.json
  versions/baseline.json
  versions/v-/vsg.json
Labels: category:port-update, info:reviewed

#33609 [influxdb-cxx] no uwp
  ports/influxdb-cxx/vcpkg.json
  versions/baseline.json
  versions/i-/influxdb-cxx.json
Labels: category:port-bug, info:reviewed

#33672 [libdatachannel] Update to 0.18.6
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#33667 [google-cloud-cpp] upgrade to v2.15.1
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#33632 [sqlite3] Bump to 3.43.0
  ports/sqlite3/add-config-include.patch
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#33650 [czmq] code clean up
  ports/czmq/portfile.cmake
  ports/czmq/vcpkg.json
  versions/baseline.json
  versions/c-/czmq.json
Labels: info:internal, info:reviewed, category:code-cleanup

#33730 [qtkeychain] update to 0.14.1
  ports/qtkeychain-qt6/portfile.cmake
  ports/qtkeychain-qt6/vcpkg.json
  ports/qtkeychain/portfile.cmake
  ports/qtkeychain/vcpkg.json
  versions/baseline.json
  versions/q-/qtkeychain-qt6.json
  versions/q-/qtkeychain.json
Labels: category:port-update, info:reviewed

#33728 [gtest] update to 1.14.0
  ports/gtest/001-fix-UWP-death-test.patch
  ports/gtest/fix-main-lib-path.patch
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-update, info:reviewed

#33727 [BitSerializer] Update to v0.65
  ports/bitserializer/portfile.cmake
  ports/bitserializer/vcpkg.json
  versions/b-/bitserializer.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33702 [harfbuzz] update to 8.2.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#33562 [ntf-core] Fix builiding on x86_64 Linux
  ports/ntf-core/dont-use-lib64.patch
  ports/ntf-core/portfile.cmake
  ports/ntf-core/usage
  ports/ntf-core/vcpkg.json
  versions/baseline.json
  versions/n-/ntf-core.json
Labels: category:port-feature, info:reviewed

#33620 [openjpeg] jpip does not support uwp
  ports/openjpeg/vcpkg.json
  versions/baseline.json
  versions/o-/openjpeg.json
Labels: category:port-bug, info:reviewed

#33732 [azure-messaging-eventhubs-cpp] publish version 1.0.0-beta.2
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#33704 [aws-sdk-cpp] Fix and improve the manifest generation script.
  ports/aws-sdk-cpp/compute_build_only.cmake
  ports/aws-sdk-cpp/generateFeatures.ps1
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#33706 README.md fix bad heading link for vcpkg as a submodule in cmake
  README.md
Labels: category:port-feature, info:reviewed

#33684 [apsi] fix uwp buid
  ports/apsi/portfile.cmake
  ports/apsi/vcpkg.json
  versions/a-/apsi.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#33685 [mesa] no uwp
  ports/mesa/vcpkg.json
  versions/baseline.json
  versions/m-/mesa.json
Labels: category:port-feature, info:reviewed

#33682 [boost-fiber] does support arm64-osx
  ports/boost-fiber/vcpkg.json
  ports/boost/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-fiber.json
  versions/b-/boost.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#33689 [proj] tools fix uwp
  ports/proj/fix-uwp.patch
  ports/proj/portfile.cmake
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-bug, info:reviewed

#33686 [libsvm] tools no uwp
  ports/libsvm/vcpkg.json
  versions/baseline.json
  versions/l-/libsvm.json
Labels: category:port-bug, info:reviewed

#33697 [grpc] tools no uwp
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-bug, info:internal, info:reviewed

#33694 [thrift] Update to v0.19.0
  ports/thrift/portfile.cmake
  ports/thrift/vcpkg.json
  versions/baseline.json
  versions/t-/thrift.json
Labels: info:internal, category:port-update, info:reviewed

#33695 [dv-processing] update to 1.7.9
  ports/dv-processing/portfile.cmake
  ports/dv-processing/vcpkg.json
  versions/baseline.json
  versions/d-/dv-processing.json
Labels: info:internal, category:port-update, info:reviewed

#33696 [glib] Update version to 2.76.5
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: info:internal, category:port-update, info:reviewed

#33711 [civetweb] no windows arm
  ports/civetweb/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/civetweb.json
Labels: category:port-feature, info:reviewed

#33683 [exiv2] Fix building for ios
  ports/exiv2/ios.patch
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-bug, info:reviewed

#33674 [simsimd] Add new port
  ports/simsimd/portfile.cmake
  ports/simsimd/vcpkg.json
  versions/baseline.json
  versions/s-/simsimd.json
Labels: category:new-port, info:reviewed

#33676 [usearch] Add new port
  ports/usearch/portfile.cmake
  ports/usearch/vcpkg.json
  versions/baseline.json
  versions/u-/usearch.json
Labels: category:new-port, info:reviewed

#33707 [sigmatch] add new port
  ports/sigmatch/portfile.cmake
  ports/sigmatch/vcpkg.json
  versions/baseline.json
  versions/s-/sigmatch.json
Labels: category:new-port, info:reviewed

#33708 [aws-sdk-cpp] update to 1.11.160 and update dependencies
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-cal/portfile.cmake
  ports/aws-c-cal/vcpkg.json
  ports/aws-c-common/disable-internal-crt-option.patch
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-event-stream/portfile.cmake
  ports/aws-c-event-stream/vcpkg.json
  ports/aws-c-http/portfile.cmake
  ports/aws-c-http/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-c-sdkutils/portfile.cmake
  ports/aws-c-sdkutils/vcpkg.json
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/generateFeatures.ps1
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-cal.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-event-stream.json
  versions/a-/aws-c-http.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-c-sdkutils.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update

#33749 [tesseract] no tool text2image
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-bug, info:reviewed

#33741 [celero] Updated to v2.9.0
  ports/celero/portfile.cmake
  ports/celero/vcpkg.json
  versions/baseline.json
  versions/c-/celero.json
Labels: category:port-update, info:reviewed

#33740 [sdl2] Update to 2.28.3
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: info:internal, category:port-update, info:reviewed

#33722 Update macOS to 13.5 and xcode 14.3.1.
  ports/urho3d/macosx.patch
  ports/urho3d/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/osx/Install-Prerequisites.ps1
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/Setup-VagrantMachines.ps1
  scripts/azure-pipelines/osx/Utilities.psm1
  scripts/azure-pipelines/osx/Vagrantfile-box.rb
  scripts/azure-pipelines/osx/Vagrantfile-vm.rb
  scripts/azure-pipelines/osx/configuration/installables.json
  scripts/azure-pipelines/osx/configuration/installables.schema.json
  scripts/azure-pipelines/osx/configuration/vagrant-box-configuration.json
  scripts/azure-pipelines/osx/configuration/vagrant-box-configuration.schema.json
  scripts/azure-pipelines/osx/configuration/vagrant-configuration.schema.json
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/u-/urho3d.json
Labels: info:internal, info:reviewed, category:infrastructure

#33759 Patch Tuesday September 2023 + arm-uwp=>arm64-uwp
  scripts/Get-Changelog.ps1
  scripts/azure-pipelines/android/create-docker-image.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/ci.baseline.txt
  triplets/arm64-uwp.cmake
  triplets/community/arm-uwp.cmake
Labels: info:internal, category:infrastructure

#33712 [directxtk] fix wrong dep on arm
  ports/directxtk/vcpkg.json
  ports/directxtk12/vcpkg.json
  versions/baseline.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
Labels: category:port-bug

#33834 [vcpkg baseline][wpilib] passing remove from fail
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#33831 [cpu-features] Bump to 0.9.0
  ports/cpu-features/fix-windows.patch
  ports/cpu-features/make_list_cpu_features_optional.patch
  ports/cpu-features/portfile.cmake
  ports/cpu-features/vcpkg.json
  versions/baseline.json
  versions/c-/cpu-features.json
Labels: category:port-update, info:reviewed

#33829 [libdeflate] update to v1.19
  ports/libdeflate/portfile.cmake
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: info:internal, category:port-update, info:reviewed

#33820 [sqlitecpp] update to 3.3.1
  ports/sqlitecpp/portfile.cmake
  ports/sqlitecpp/vcpkg.json
  versions/baseline.json
  versions/s-/sqlitecpp.json
Labels: category:port-update, info:reviewed

#33819 [aws-c-cal] fix linux build
  ports/aws-c-cal/vcpkg.json
  versions/a-/aws-c-cal.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#33815 [date] no uwp
  ports/date/vcpkg.json
  versions/baseline.json
  versions/d-/date.json
Labels: category:port-bug, info:reviewed

#33814 [opencascade] no absolute paths
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-bug, info:reviewed

#33812 [utfcpp] Update to 3.2.4
  ports/utfcpp/portfile.cmake
  ports/utfcpp/vcpkg.json
  versions/baseline.json
  versions/u-/utfcpp.json
Labels: category:port-update, info:reviewed

#33811 [unordered-dense] Update to 4.1.2
  ports/unordered-dense/portfile.cmake
  ports/unordered-dense/vcpkg.json
  versions/baseline.json
  versions/u-/unordered-dense.json
Labels: category:port-update, info:reviewed

#33809 [quill] Update to 3.3.1
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#33801 [mapnik] fix features input-csv
  ports/mapnik/missing-include.patch
  ports/mapnik/portfile.cmake
  ports/mapnik/vcpkg.json
  versions/baseline.json
  versions/m-/mapnik.json
Labels: category:port-bug, info:reviewed

#33793 [skia] Add dependency dlfcn-win32 for feature freetype on windows
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:internal, info:reviewed

#33792 [atk/gdk-pixbuf/gtk/gtk3/harfbuzz/pango] Fix dependency gobject-instrospection of feature instrospection
  ports/atk/portfile.cmake
  ports/atk/vcpkg.json
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  ports/gtk3/vcpkg.json
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/a-/atk.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
  versions/g-/gtk.json
  versions/g-/gtk3.json
  versions/h-/harfbuzz.json
  versions/p-/pango.json
Labels: category:port-bug, info:internal, info:reviewed

#33788 [Jsonifier] To version 0.9.8, [DiscordCoreAPI] To version 2.0
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#33785 [libwebp] Update to 1.3.2
  ports/libwebp/portfile.cmake
  ports/libwebp/vcpkg.json
  versions/baseline.json
  versions/l-/libwebp.json
Labels: category:port-update, info:reviewed

#33783 [civetweb] fix arm64-windows build
  ports/civetweb/portfile.cmake
  ports/civetweb/vcpkg.json
  versions/baseline.json
  versions/c-/civetweb.json
Labels: category:port-bug, info:reviewed

#33782 [osg] Fix debug targets for plugins in unofficial-osg
  ports/osg/portfile.cmake
  ports/osg/vcpkg.json
  versions/baseline.json
  versions/o-/osg.json
Labels: category:port-bug, info:reviewed

#33779 [ableton-link] uwp
  ports/ableton-link/vcpkg.json
  versions/a-/ableton-link.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#33776 [meshoptimizer] gltfpack no uwp
  ports/meshoptimizer/vcpkg.json
  versions/baseline.json
  versions/m-/meshoptimizer.json
Labels: category:port-bug, info:reviewed

#33773 [cairo] no uwp
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug, info:reviewed

#33768 [cpprestsdk] fix uwp
  ports/cpprestsdk/fix-uwp.patch
  ports/cpprestsdk/portfile.cmake
  ports/cpprestsdk/test.patch
  ports/cpprestsdk/vcpkg.json
  ports/microsoft-signalr/portfile.cmake
  ports/microsoft-signalr/vcpkg.json
  versions/baseline.json
  versions/c-/cpprestsdk.json
  versions/m-/microsoft-signalr.json
Labels: category:port-bug, info:reviewed

#33763 [libxml2] Fix post-build errors
  ports/libxml2/fix_cmakelist.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:internal, info:reviewed

#33761 [behaviortree-cpp] Update version to 4.3.7
  ports/behaviortree-cpp/portfile.cmake
  ports/behaviortree-cpp/vcpkg.json
  versions/b-/behaviortree-cpp.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#33748 [pdal] fix cross build
  ports/pdal/install-dimbuilder.patch
  ports/pdal/portfile.cmake
  ports/pdal/vcpkg.json
  versions/baseline.json
  versions/p-/pdal.json
Labels: category:port-bug, info:reviewed

#33709 [ace] tao windows arm
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#33509 [yomm2] Update to v1.4.0
  ports/yomm2/fix_find_boost.patch
  ports/yomm2/portfile.cmake
  ports/yomm2/vcpkg.json
  versions/baseline.json
  versions/y-/yomm2.json
Labels: category:port-update, info:reviewed

#33804 Update vcpkg-tool to 2023-09-15
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#33079 [openvino] 2023.1.0 release
  ports/openvino/002-typo-in-default-option-value.patch
  ports/openvino/004-compilation-with-cpp17.patch
  ports/openvino/004-onednn-build.patch
  ports/openvino/005-rename-utils.patch
  ports/openvino/005-tflite-search.patch
  ports/openvino/006-onednn-gpu-build.patch
  ports/openvino/007-dnnl-library-rename.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update, info:reviewed

#33764 [pbc] fix error path
  ports/pbc/portfile.cmake
  ports/pbc/vcpkg.json
  versions/baseline.json
  versions/p-/pbc.json
Labels: category:port-bug, info:internal, info:reviewed

#33780 [magnum] fix cross compile
  ports/magnum/portfile.cmake
  ports/magnum/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/magnum.json
Labels: category:port-bug, info:reviewed

#33796 [ffmpeg] fix feature vpx
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#33807 [libzippp] Update to v7.0-1.10.1
  ports/libzippp/portfile.cmake
  ports/libzippp/vcpkg.json
  versions/baseline.json
  versions/l-/libzippp.json
Labels: category:port-update, info:reviewed

#33816 [vlpp] tools on osx
  ports/vlpp/vcpkg.json
  versions/baseline.json
  versions/v-/vlpp.json
Labels: category:port-bug, info:reviewed

#33837 [libplist] Add tools feature
  ports/libplist/004_fix_tools_msvc.patch
  ports/libplist/CMakeLists.txt
  ports/libplist/portfile.cmake
  ports/libplist/vcpkg.json
  versions/baseline.json
  versions/l-/libplist.json
Labels: category:port-feature, info:reviewed

#33838 [libusbmuxd] Add tools feature
  ports/libusbmuxd/005_fix_tools_msvc.patch
  ports/libusbmuxd/CMakeLists.txt
  ports/libusbmuxd/portfile.cmake
  ports/libusbmuxd/vcpkg.json
  versions/baseline.json
  versions/l-/libusbmuxd.json
Labels: category:port-feature, info:reviewed

#33851 [octomap] fix c++20 compilation error
  ports/octomap/fix-compilation.patch
  ports/octomap/portfile.cmake
  ports/octomap/vcpkg.json
  versions/baseline.json
  versions/o-/octomap.json
Labels: info:internal, info:reviewed, category:community-triplet

#22650 [leveldb] Install util header files
  ports/leveldb/fix-util-install.patch
  ports/leveldb/portfile.cmake
  ports/leveldb/vcpkg.json
  versions/baseline.json
  versions/l-/leveldb.json
Labels: category:port-feature, info:internal, info:reviewed

#31150 [libsystemd] add new port
  ports/libcap/cap_names.h
  ports/libcap/cap_names.separation.patch
  ports/libcap/configure
  ports/libcap/portfile.cmake
  ports/libcap/vcpkg.json
  ports/libsystemd/pkgconfig.patch
  ports/libsystemd/portfile.cmake
  ports/libsystemd/vcpkg.json
  ports/libxcrypt/portfile.cmake
  ports/libxcrypt/vcpkg.json
  versions/baseline.json
  versions/l-/libcap.json
  versions/l-/libsystemd.json
  versions/l-/libxcrypt.json
Labels: category:new-port, info:reviewed

#33389 [new ports] Add more gz ports
  ports/gz-common5/fix_dependencies.patch
  ports/gz-common5/gz_remotery_vis.patch
  ports/gz-common5/portfile.cmake
  ports/gz-common5/remove_tests.patch
  ports/gz-common5/vcpkg.json
  ports/gz-fuel-tools8/portfile.cmake
  ports/gz-fuel-tools8/remove_docs.patch
  ports/gz-fuel-tools8/vcpkg.json
  ports/gz-msgs9/portfile.cmake
  ports/gz-msgs9/remove_ruby.patch
  ports/gz-msgs9/vcpkg.json
  ports/gz-plugin2/portfile.cmake
  ports/gz-plugin2/vcpkg.json
  ports/gz-transport12/portfile.cmake
  ports/gz-transport12/uuid-osx.patch
  ports/gz-transport12/vcpkg.json
  versions/baseline.json
  versions/g-/gz-common5.json
  versions/g-/gz-fuel-tools8.json
  versions/g-/gz-msgs9.json
  versions/g-/gz-plugin2.json
  versions/g-/gz-transport12.json
Labels: category:new-port, info:reviewed

#33490 [libmad] Detect the FPM flag according to the CMAKE_SYSTEM_PROCESSOR
  ports/libmad/CMakeLists.txt
  ports/libmad/vcpkg.json
  versions/baseline.json
  versions/l-/libmad.json
Labels: category:port-feature, info:reviewed

#33852 [tesseract] update to 5.3.2
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: info:internal, category:port-update, info:reviewed

#33857 [opencv4] Fix ogre dependencies
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#33863 [gstreamer] update to 1.22.5
  ports/gstreamer/fix-clang-cl-bad.patch
  ports/gstreamer/fix-clang-cl-base.patch
  ports/gstreamer/fix-clang-cl-gstreamer.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/srtp_fix.patch
  ports/gstreamer/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: info:internal, category:port-update, info:reviewed
