Repository microsoft/vcpkg, pull requests merged in 2023-04, with the labels that each got.

#30546 [vcpkg] update msys2-runtime version to 3.4.6-1
  scripts/cmake/vcpkg_acquire_msys.cmake
Labels: info:internal, info:reviewed, category:tool-update

#30573 [sqlcipher] Add fts5 support
  ports/sqlcipher/CMakeLists.txt
  ports/sqlcipher/portfile.cmake
  ports/sqlcipher/vcpkg.json
  versions/baseline.json
  versions/s-/sqlcipher.json
Labels: category:port-feature, info:internal, info:reviewed

#30432 [sqlite3] Ability to enable the DBSTAT virtual table feature
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-feature, info:reviewed

#30254 [rtabmap] update to 0.21.0
  ports/rtabmap/0003-fix-qt.patch
  ports/rtabmap/cpp17.patch
  ports/rtabmap/fix-CMake-export.patch
  ports/rtabmap/fix_autouic.patch
  ports/rtabmap/fix_qt_deploy_plugins.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/r-/rtabmap.json
Labels: category:port-update, info:reviewed

#30485 [yara] Update to 4.3.0 and add features
  ports/yara/CMakeLists.txt
  ports/yara/Disable-module-elf.patch
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-feature, info:internal, category:port-update, info:reviewed

#30457 [vcpkg baseline][llvm] Fix file conflicts for libiomp5md.dll
  ports/llvm/0012-disable-libomp-aliases.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:internal, info:reviewed

#30508 [libatomic-ops] Update to v7.8.0
  ports/libatomic-ops/portfile.cmake
  ports/libatomic-ops/vcpkg.json
  versions/baseline.json
  versions/l-/libatomic-ops.json
Labels: category:port-update, info:reviewed

#30568 [amd-amf] update to <v1.4.29>
  ports/amd-amf/portfile.cmake
  ports/amd-amf/vcpkg.json
  versions/a-/amd-amf.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#30523 [rendergraph] Update to v1.3.0.
  ports/rendergraph/portfile.cmake
  ports/rendergraph/vcpkg.json
  versions/baseline.json
  versions/r-/rendergraph.json
Labels: category:port-update, info:reviewed

#30529 [HiGHS] Added new port for the HiGHS optimization library
  ports/highs/fix-cmake-output.patch
  ports/highs/fix-hconfig-path.patch
  ports/highs/fix-threads.patch
  ports/highs/portfile.cmake
  ports/highs/usage
  ports/highs/vcpkg.json
  versions/baseline.json
  versions/h-/highs.json
Labels: category:new-port, info:reviewed

#30553 [libzen] update to v0.4.40
  ports/libzen/portfile.cmake
  ports/libzen/vcpkg.json
  versions/baseline.json
  versions/l-/libzen.json
Labels: category:port-update, info:reviewed

#30557 [dartsim] Compile dartsim in windows x86
  ports/dartsim/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/dartsim.json
Labels: category:port-feature, info:reviewed

#30618 [miniaudio] Update to version 0.11.14
  ports/miniaudio/portfile.cmake
  ports/miniaudio/vcpkg.json
  versions/baseline.json
  versions/m-/miniaudio.json
Labels: category:port-update, info:reviewed

#30610 [ashes] Updated to 2023-03-12.
  ports/ashes/portfile.cmake
  ports/ashes/vcpkg.json
  versions/a-/ashes.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30401 [msgpack] update version to 6.0.0 and switch to the C++ branch
  ports/coolprop/fix-dependency.patch
  ports/coolprop/vcpkg.json
  ports/msgpack/portfile.cmake
  ports/msgpack/vcpkg.json
  versions/baseline.json
  versions/c-/coolprop.json
  versions/m-/msgpack.json
Labels: info:internal, category:port-update, info:reviewed

#30215 [ryu] Fix VS2022 build
  ports/ryu/portfile.cmake
  ports/ryu/usage
  ports/ryu/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/ryu.json
Labels: category:port-feature, info:reviewed

#30341 [cgal] update to 5.5.2
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  ports/colmap/fix-dependencies.patch
  ports/colmap/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
  versions/c-/colmap.json
Labels: category:port-update, info:reviewed

#29724 [hdf5] Ensure mpi usage in downstream ports
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg-port-config.cmake
  ports/hdf5/vcpkg.json
  ports/seacas/portfile.cmake
  ports/seacas/vcpkg.json
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
  versions/s-/seacas.json
  versions/v-/vtk.json
Labels: category:port-bug

#30492 [opentelemetry-cpp] Fix #30491
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-bug, info:reviewed

#30656 [vcpkg baseline][cmake] fix bad hash
  scripts/test_ports/cmake/portfile.cmake
  scripts/test_ports/cmake/vcpkg.json
Labels: category:port-bug, info:internal, info:reviewed

#30648 [vcpkg baseline][stdexec] fix bad hash
  ports/stdexec/portfile.cmake
  ports/stdexec/vcpkg.json
  versions/baseline.json
  versions/s-/stdexec.json
Labels: category:port-bug, info:internal, info:reviewed

#30652 [vcpkg baseline][qwt] Remove qwt in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#30654 [vcpkg baseline][portsmf] fix download failed
  ports/portsmf/portfile.cmake
  ports/portsmf/vcpkg.json
  versions/baseline.json
  versions/p-/portsmf.json
Labels: category:port-bug, info:internal, info:reviewed

#30653 [vcpkg baseline][jsonifier] Fix bad sha512
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/j-/jsonifier.json
Labels: category:port-bug, info:internal, info:reviewed

#30657 [vcpkg baseline][monkeys-audio] Update to 10.08
  ports/monkeys-audio/portfile.cmake
  ports/monkeys-audio/remove-certificate-step.patch
  ports/monkeys-audio/vcpkg.json
  versions/baseline.json
  versions/m-/monkeys-audio.json
Labels: info:internal, category:port-update, info:reviewed

#30661 [vcpkg baseline][libraqm] Fix X64-osx build error
  ports/libraqm/CMakeLists.txt
  ports/libraqm/portfile.cmake
  ports/libraqm/vcpkg.json
  versions/baseline.json
  versions/l-/libraqm.json
Labels: category:port-bug, info:internal, info:reviewed

#30548 [embree3] does supports arm64-osx
  ports/embree3/vcpkg.json
  versions/baseline.json
  versions/e-/embree3.json
Labels: category:port-feature, info:reviewed

#30552 [argumentum] Update to v0.3.2
  ports/argumentum/portfile.cmake
  ports/argumentum/vcpkg.json
  versions/a-/argumentum.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30567 [libnice-gst] Added libnice-gst port at 0.1.18
  ports/libnice-gst/portfile.cmake
  ports/libnice-gst/skip_libnice.patch
  ports/libnice-gst/vcpkg.json
  ports/libnice/portfile.cmake
  ports/libnice/vcpkg.json
  versions/baseline.json
  versions/l-/libnice-gst.json
  versions/l-/libnice.json
Labels: category:new-port, info:reviewed

#30589 [vulkan-headers] Update to v1.3.243
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-headers.json
Labels: category:port-update, info:reviewed

#30655 [restinio] Update, fix exported config, fix build warnings
  ports/restinio/fix-cmake-config.diff
  ports/restinio/fix-project.diff
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
  versions/baseline.json
  versions/r-/restinio.json
Labels: category:port-update, info:reviewed

#30651 [vcpkg baseline][openslide] fix download failed
  ports/openslide/portfile.cmake
  ports/openslide/vcpkg.json
  versions/baseline.json
  versions/o-/openslide.json
Labels: category:port-bug, info:internal

#30658 [gstreamer]: Fixed missing bz2 dependency on Windows in Debug
  ports/gstreamer/fix-bz2-windows-debug-dependency.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-bug

#30650 [libpq] Fix windows build without openssl
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-bug

#30638 [openblas] Fix regression on feature dynamic-arch
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-feature

#30631 X264 features
  ports/x264/portfile.cmake
  ports/x264/vcpkg.json
  versions/baseline.json
  versions/x-/x264.json
Labels: category:port-feature

#30617 [libigl] Always install as header-only lib
  ports/libigl/portfile.cmake
  ports/libigl/vcpkg.json
  versions/baseline.json
  versions/l-/libigl.json
Labels: category:port-bug

#30581 [gul14] Update to version 2.8.0
  ports/gul14/portfile.cmake
  ports/gul14/vcpkg.json
  versions/baseline.json
  versions/g-/gul14.json
Labels: category:port-update

#28236 [Fontconfig] fix internal search paths
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-bug, info:reviewed

#30423 [sail] Fix installing webp and avif features
  ports/sail/avif.patch
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  ports/sail/webp.patch
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-feature, info:reviewed

#30519 [zeroc-ice] fix arm64-osx build
  ports/zeroc-ice/no-werror.patch
  ports/zeroc-ice/portfile.cmake
  ports/zeroc-ice/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/z-/zeroc-ice.json
Labels: category:port-feature, info:reviewed

#30605 [issues] Use issue forms instead of markdown templates
  .github/ISSUE_TEMPLATE/00-report-package-build-failure.yml
  .github/ISSUE_TEMPLATE/01-request-a-new-port.yml
  .github/ISSUE_TEMPLATE/02-request-an-update-to-an-existing-port.yml
  .github/ISSUE_TEMPLATE/03-request-a-feature-or-improvement-to-a-port.yml
  .github/ISSUE_TEMPLATE/04-request-a-feature-or-improvement.yml
  .github/ISSUE_TEMPLATE/05-other-type-of-bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/i-have-a-question.md
  .github/ISSUE_TEMPLATE/report-package-build-failure.md
  .github/ISSUE_TEMPLATE/request-a-feature-or-improvement-to-a-port.md
  .github/ISSUE_TEMPLATE/request-a-feature-or-improvement.md
  .github/ISSUE_TEMPLATE/request-a-new-port.md
  .github/ISSUE_TEMPLATE/request-an-update-to-an-existing-port.md
Labels: info:reviewed, category:infrastructure, requires:vcpkg-team-review, requires:discussion

#30525 [stlab] Update to 1.7.1
  ports/stlab/portfile.cmake
  ports/stlab/vcpkg.json
  versions/baseline.json
  versions/s-/stlab.json
Labels: category:port-update, info:reviewed

#30551 [rubberband] Update to version 3.2.0
  ports/rubberband/portfile.cmake
  ports/rubberband/vcpkg.json
  versions/baseline.json
  versions/r-/rubberband.json
Labels: category:port-update, info:reviewed

#30560 [gtsam] New Port
  ports/gtsam/build-fixes.patch
  ports/gtsam/path-fixes.patch
  ports/gtsam/portfile.cmake
  ports/gtsam/usage
  ports/gtsam/vcpkg.json
  versions/baseline.json
  versions/g-/gtsam.json
Labels: category:new-port, info:reviewed

#30575 [tinyfsm] Add new port
  ports/tinyfsm/portfile.cmake
  ports/tinyfsm/vcpkg.json
  versions/baseline.json
  versions/t-/tinyfsm.json
Labels: category:new-port, info:reviewed

#30612 [qt5-webengine] fix issue 30006 missing includes for msvc
  ports/qt5-webengine/build_3.with_missing_stdbool_include.patch
  ports/qt5-webengine/portfile.cmake
  ports/qt5-webengine/vcpkg.json
  ports/qt5-webengine/workaround-msvc2022-missing-include-in-chromium-ui-accessability.patch
  versions/baseline.json
  versions/q-/qt5-webengine.json
Labels: category:port-bug, info:reviewed

#30688 [qpid-proton] Update, fix dependency control
  ports/qpid-proton/fix-dependencies.patch
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/vcpkg.json
  versions/baseline.json
  versions/q-/qpid-proton.json
Labels: category:port-update, info:reviewed

#30692 [ffmpeg] Osx cross fix
  ports/ffmpeg/build.sh.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: info:reviewed, category:community-triplet

#30714 [vcpkg baseline][libusb] Remove libusb:arm64-windows in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal, info:reviewed

#30722 Fix cancellation, from @dan-shaw's branch:
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#30712 [libcopp] Update to v2.1.4
  ports/libcopp/portfile.cmake
  ports/libcopp/vcpkg.json
  versions/baseline.json
  versions/l-/libcopp.json
Labels: info:internal, category:port-update, info:reviewed

#30711 [yara] Fix feature dotnet build error
  ports/yara/CMakeLists.txt
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-bug, info:internal, info:reviewed

#30702 [vcpkg baseline][qca] Fix pkgconfig dependency properly
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-bug, info:reviewed

#30449 [halide] fix core build
  ports/halide/portfile.cmake
  ports/halide/vcpkg.json
  versions/baseline.json
  versions/h-/halide.json
Labels: category:port-feature, info:reviewed

#30703 [azure-core-cpp] Update to 1.8.1
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30710 [mimalloc] update to 2.1.1 to build failure
  ports/mimalloc/portfile.cmake
  ports/mimalloc/vcpkg.json
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: info:internal, category:port-update, info:reviewed

#30720 [opentelemetry-cpp] unvendor absl polyfills
  ports/opentelemetry-cpp/add-missing-dependencies.patch
  ports/opentelemetry-cpp/add-missing-find-dependency.patch
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/support_absl_cxx17.patch
  ports/opentelemetry-cpp/use-default-cxx-version.patch
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-bug

#30632 [json-c] Fix build with clang
  ports/json-c/fix-build-with-clang.patch
  ports/json-c/portfile.cmake
  ports/json-c/vcpkg.json
  versions/baseline.json
  versions/j-/json-c.json
Labels: category:port-bug, info:internal, info:reviewed

#30737 [cpp-httplib] update to 0.12.2.
  ports/cpp-httplib/fix-find-brotli.patch
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#30724 Update vcpkg-tool to 2023-04-07.
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
Labels: info:internal, category:infrastructure

#30693 [aklomp-base64] fix PACKAGE_NAME
  ports/aklomp-base64/portfile.cmake
  ports/aklomp-base64/vcpkg.json
  versions/a-/aklomp-base64.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#30576 [libmysql] upgrade to 8.0.32
  ports/libmysql/004-added-limits-include.patch
  ports/libmysql/Add-target-include-directories.patch
  ports/libmysql/export-cmake-targets.patch
  ports/libmysql/homebrew.patch
  ports/libmysql/ignore-boost-version.patch
  ports/libmysql/openssl.patch
  ports/libmysql/portfile.cmake
  ports/libmysql/rename-version.patch
  ports/libmysql/system-libs.patch
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-update, info:reviewed

#30750 [ebml] update to 1.4.4 and enable UWP builds
  ports/ebml/include-limits.patch
  ports/ebml/portfile.cmake
  ports/ebml/vcpkg.json
  versions/baseline.json
  versions/e-/ebml.json
Labels: category:port-update, info:reviewed

#30547 [actions] automatically answer missing windows SDK issues
  .github/workflows/check_issues.yml
Labels: category:infrastructure

#29670 [tesseract] Install additional headers
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-bug, info:reviewed

#30735 [libigl] Remove broken features
  ports/libigl/dependencies.patch
  ports/libigl/portfile.cmake
  ports/libigl/vcpkg.json
  versions/baseline.json
  versions/l-/libigl.json
Labels: category:port-feature, info:reviewed

#30740 [dumb] New port
  ports/dumb/check-for-math-lib.patch
  ports/dumb/do-not-overwrite-cflags.patch
  ports/dumb/portfile.cmake
  ports/dumb/vcpkg.json
  versions/baseline.json
  versions/d-/dumb.json
Labels: category:new-port, info:reviewed

#30748 [akali] Remove port
  ports/akali/portfile.cmake
  ports/akali/vcpkg.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#30760 [fizz]: fix library dependency
  ports/fizz/0003-fix-deps.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  versions/baseline.json
  versions/f-/fizz.json
Labels: category:port-bug, info:reviewed

#30765 [vkfft] Update to v1.2.31.
  ports/vkfft/portfile.cmake
  ports/vkfft/vcpkg.json
  versions/baseline.json
  versions/v-/vkfft.json
Labels: category:port-update, info:reviewed

#30777 [stb] Update to 2023-04-11
  ports/stb/portfile.cmake
  ports/stb/vcpkg.json
  versions/baseline.json
  versions/s-/stb.json
Labels: category:port-update, info:reviewed

#30756 Track CI baseline change effect
  scripts/azure-pipelines/test-modified-ports.ps1
Labels: category:tool-update

#30751 [matroska] update to 1.7.1 and enable UWP builds
  ports/matroska/portfile.cmake
  ports/matroska/vcpkg.json
  versions/baseline.json
  versions/m-/matroska.json
Labels: category:port-update

#30663 [licensepp] Update to 2020-11-24
  ports/licensepp/0002-fix-cmake.patch
  ports/licensepp/0002-fix-compilation-macos.patch
  ports/licensepp/portfile.cmake
  ports/licensepp/vcpkg.json
  versions/baseline.json
  versions/l-/licensepp.json
Labels: category:port-update, depends:upstream-changes

#30511 [arrow] update to 11.0.0
  ports/arrow/brotli.patch
  ports/arrow/fix-dataset.patch
  ports/arrow/fix-pkgconfig-windows.patch
  ports/arrow/portfile.cmake
  ports/arrow/thrift.patch
  ports/arrow/utf8proc.patch
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: info:internal, category:port-update

#30510 [LLVM] update to 15.0.7
  ports/llvm/0001-Fix-install-paths.patch
  ports/llvm/0002-Fix-DR-1734.patch
  ports/llvm/0002-fix-install-paths.patch
  ports/llvm/0003-Fix-tools-path.patch
  ports/llvm/0004-Fix-compiler-rt-install-path.patch
  ports/llvm/0005-Fix-tools-install-path.patch
  ports/llvm/0006-Fix-libffi.patch
  ports/llvm/0007-Fix-install-bolt.patch
  ports/llvm/0008-llvm_assert.patch
  ports/llvm/0009-disable-libomp-aliases.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-update

#30410 [libvpx] fix mac osx min version ignored for arm64
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-feature, info:reviewed

#30544 [icu] Fix #30532: trying to set rpath on missing libicutu
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-bug, info:reviewed

#30616 [stb] Install missing stb_vorbis.c file
  ports/stb/portfile.cmake
  ports/stb/vcpkg.json
  versions/baseline.json
  versions/s-/stb.json
Labels: category:port-bug, info:reviewed

#30796 [libmysql] Turn off WITH_BUILD_ID to fix baseline
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-bug, info:internal, info:reviewed

#30809 [glib] update to 2.76.1
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#29743 [node-api] rework port
  ports/node-addon-api/unofficial-node-addon-api-config.cmake
  ports/node-addon-api/vcpkg.json
  ports/node-api-headers/CMakeLists.txt
  ports/node-api-headers/portfile.cmake
  ports/node-api-headers/unofficial-node-api-headers-config.cmake.in
  ports/node-api-headers/vcpkg.json
  ports/node-api/portfile.cmake
  ports/node-api/unofficial-node-api-config.cmake.in
  versions/baseline.json
  versions/n-/node-addon-api.json
  versions/n-/node-api-headers.json
Labels: category:port-feature, category:new-port, info:reviewed

#30770 [opentelemetry-cpp] Add otlp-grpc
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:internal, info:reviewed

#30823 [fastrtps] Replace xtime with _timespec64 for fixing error C2065
  ports/fastrtps/fix-xtime.patch
  ports/fastrtps/portfile.cmake
  ports/fastrtps/vcpkg.json
  versions/baseline.json
  versions/f-/fastrtps.json
Labels: category:port-bug, info:internal, info:reviewed

#30818 Patch Tuesday April 2023
  scripts/azure-pipelines/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#30780 [vcpkg_find_acquire_program] Split out program data
  scripts/cmake/vcpkg_find_acquire_program(7Z).cmake
  scripts/cmake/vcpkg_find_acquire_program(ARIA2).cmake
  scripts/cmake/vcpkg_find_acquire_program(BAZEL).cmake
  scripts/cmake/vcpkg_find_acquire_program(BISON).cmake
  scripts/cmake/vcpkg_find_acquire_program(CLANG).cmake
  scripts/cmake/vcpkg_find_acquire_program(DARK).cmake
  scripts/cmake/vcpkg_find_acquire_program(DOXYGEN).cmake
  scripts/cmake/vcpkg_find_acquire_program(FLEX).cmake
  scripts/cmake/vcpkg_find_acquire_program(GASPREPROCESSOR).cmake
  scripts/cmake/vcpkg_find_acquire_program(GIT).cmake
  scripts/cmake/vcpkg_find_acquire_program(GN).cmake
  scripts/cmake/vcpkg_find_acquire_program(GO).cmake
  scripts/cmake/vcpkg_find_acquire_program(GPERF).cmake
  scripts/cmake/vcpkg_find_acquire_program(JOM).cmake
  scripts/cmake/vcpkg_find_acquire_program(MESON).cmake
  scripts/cmake/vcpkg_find_acquire_program(NASM).cmake
  scripts/cmake/vcpkg_find_acquire_program(NINJA).cmake
  scripts/cmake/vcpkg_find_acquire_program(NUGET).cmake
  scripts/cmake/vcpkg_find_acquire_program(PATCHELF).cmake
  scripts/cmake/vcpkg_find_acquire_program(PERL).cmake
  scripts/cmake/vcpkg_find_acquire_program(PKGCONFIG).cmake
  scripts/cmake/vcpkg_find_acquire_program(PYTHON2).cmake
  scripts/cmake/vcpkg_find_acquire_program(PYTHON3).cmake
  scripts/cmake/vcpkg_find_acquire_program(RUBY).cmake
  scripts/cmake/vcpkg_find_acquire_program(SCONS).cmake
  scripts/cmake/vcpkg_find_acquire_program(SWIG).cmake
  scripts/cmake/vcpkg_find_acquire_program(YASM).cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
Labels: category:tool-update

#30840 [fontconfig] update to 2.14.2
  ports/fontconfig/fix-mingw-gperf-fallback.patch
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-update, info:reviewed

#30854 [qtbase/qt5-base] Add more convenient msg about install the correct dependencies for Ubuntu
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
  versions/q-/qtbase.json
Labels: category:port-feature, info:internal, info:reviewed

#29887 [open62541] update to 1.3.5
  ports/open62541/openssl.patch
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  ports/qtopcua/open62541_v1.3_support.patch
  ports/qtopcua/portfile.cmake
  ports/qtopcua/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
  versions/q-/qtopcua.json
Labels: category:port-update, info:reviewed

#30804 [ktx] Update and fixes
  ports/ktx/0003-libtool.patch
  ports/ktx/0003-mkversion.patch
  ports/ktx/0004-quirks.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-bug, category:port-update, info:reviewed

#30817 [gstreamer, gst-rtsp-server, libnice-gst] Move installed plugins into plugins/gstreamer
  ports/gst-rtsp-server/portfile.cmake
  ports/gst-rtsp-server/vcpkg.json
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  ports/libnice-gst/portfile.cmake
  ports/libnice-gst/vcpkg.json
  versions/baseline.json
  versions/g-/gst-rtsp-server.json
  versions/g-/gstreamer.json
  versions/l-/libnice-gst.json
Labels: category:port-feature, info:reviewed

#30570 [openimageio] Skip building tests
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-bug, info:internal, info:reviewed

#30846 [calceph] update to 3.5.2
  ports/calceph/portfile.cmake
  ports/calceph/vcpkg.json
  versions/baseline.json
  versions/c-/calceph.json
Labels: category:port-update

#30849 [gdk-pixbuf] update to 2.42.10
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
Labels: category:port-update

#30852 [harfbuzz] update to 7.1.0
  ports/harfbuzz/fix-linux-error.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update

#30799 [libxmp] add new port
  ports/libxmp/fix-cmake-config-dir.patch
  ports/libxmp/fix-uwp-build.patch
  ports/libxmp/portfile.cmake
  ports/libxmp/usage
  ports/libxmp/vcpkg.json
  versions/baseline.json
  versions/l-/libxmp.json
Labels: category:new-port, info:reviewed

#30883 [vcpkg baseline][opencv] Let lapack be controlled by the lapack port.
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#30912 [vcpkg baseline][zeroc-ice] Remove zeroc-ice in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: category:port-bug, info:internal

#28372 [many ports] Fix a warning ADDITIONAL_(NATIVE|CROSS)_BINARIES have been deprecated
  ports/at-spi2-core/portfile.cmake
  ports/at-spi2-core/vcpkg.json
  ports/gobject-introspection/portfile.cmake
  ports/gobject-introspection/vcpkg.json
  ports/graphene/portfile.cmake
  ports/graphene/vcpkg.json
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  ports/gtkmm/portfile.cmake
  ports/gtkmm/vcpkg.json
  ports/libsecret/portfile.cmake
  ports/libsecret/vcpkg.json
  ports/pangomm/portfile.cmake
  ports/pangomm/vcpkg.json
  versions/a-/at-spi2-core.json
  versions/baseline.json
  versions/g-/gobject-introspection.json
  versions/g-/graphene.json
  versions/g-/gtk.json
  versions/g-/gtkmm.json
  versions/l-/libsecret.json
  versions/p-/pangomm.json
Labels: category:port-feature, info:reviewed

#30690 [openmama] Fixes
  ports/openmama/fix-dependencies.diff
  ports/openmama/git-no-tags.diff
  ports/openmama/portfile.cmake
  ports/openmama/vcpkg.json
  versions/baseline.json
  versions/o-/openmama.json
Labels: category:port-bug, info:reviewed

#30810 [idyntree] Add new port
  ports/idyntree/portfile.cmake
  ports/idyntree/usage
  ports/idyntree/vcpkg.json
  versions/baseline.json
  versions/i-/idyntree.json
Labels: category:new-port, info:reviewed

#30899 [alsa] Update to 1.2.8
  ports/alsa/portfile.cmake
  ports/alsa/vcpkg.json
  versions/a-/alsa.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#30903 [node-api-headers] add missing compile definitions
  ports/node-api-headers/unofficial-node-api-headers-config.cmake.in
  ports/node-api-headers/vcpkg.json
  versions/baseline.json
  versions/n-/node-api-headers.json
Labels: category:port-bug, info:reviewed

#30904 [rmlui] Update to version 5.1
  ports/rmlui/add-robin-hood.patch
  ports/rmlui/portfile.cmake
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:port-update, info:reviewed

#30914 [log4cxx] Upgrade to 1.0.0
  ports/log4cxx/expat.patch
  ports/log4cxx/linux.patch
  ports/log4cxx/portfile.cmake
  ports/log4cxx/threadutility.patch
  ports/log4cxx/vcpkg.json
  versions/baseline.json
  versions/l-/log4cxx.json
Labels: category:port-update, info:reviewed

#30820 [blend2d, asmjit] Fix blend2d features build and update asmjit to latest commit
  ports/asmjit/portfile.cmake
  ports/asmjit/vcpkg.json
  ports/blend2d/portfile.cmake
  ports/blend2d/vcpkg.json
  versions/a-/asmjit.json
  versions/b-/blend2d.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#30800 [fbthrift]: fix dependency
  ports/fbthrift/0002-fix-dependency.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
Labels: category:port-bug, info:reviewed

#30902 [makeid] Add new port
  ports/makeid/portfile.cmake
  ports/makeid/vcpkg.json
  versions/baseline.json
  versions/m-/makeid.json
Labels: category:new-port, info:reviewed

#30891 [pango] Update to 1.50.14
  ports/pango/freetype2-pc.patch
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: category:port-update

#30929 [flecs] update to 3.2.1
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#30915 [wil] Update to v1.0.230411.1
  ports/wil/portfile.cmake
  ports/wil/vcpkg.json
  versions/baseline.json
  versions/w-/wil.json
Labels: info:internal, category:port-update, info:reviewed

#30364 Only use prebuilt musl libc binary with x86_64 arch
  scripts/bootstrap.sh
Labels: category:port-feature, info:reviewed

#30935 [joltphysics] Update to 3.0.1
  ports/joltphysics/disable-warningC5266.patch
  ports/joltphysics/portfile.cmake
  ports/joltphysics/vcpkg.json
  versions/baseline.json
  versions/j-/joltphysics.json
Labels: category:port-update, info:reviewed

#30847 [libdatachannel] Export static cmake config files
  ports/libdatachannel/0001-fix-for-vcpkg.patch
  ports/libdatachannel/fix-for-vcpkg.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/uwp-warnings.patch
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-bug, info:internal, info:reviewed

#30907 [visit-struct] Update to 1.1.0 and prefix targets with unofficial
  ports/visit-struct/CMakeLists.txt
  ports/visit-struct/portfile.cmake
  ports/visit-struct/vcpkg.json
  versions/baseline.json
  versions/v-/visit-struct.json
Labels: category:port-update, info:reviewed

#30943 [ms-gltf] Disable feature samples on macOS, iOS, and Android
  ports/ms-gltf/fix-apple-filesystem.patch
  ports/ms-gltf/portfile.cmake
  ports/ms-gltf/vcpkg.json
  versions/baseline.json
  versions/m-/ms-gltf.json
Labels: category:port-bug, info:internal, info:reviewed

#30941 [vcpkg baseline] Fix libxmp-lite / starlink-ast regressions
  ports/libxmp-lite/0001-msvc-buildfix.patch
  ports/libxmp-lite/0002-fix-symbols.patch
  ports/libxmp-lite/CMakeLists.txt
  ports/libxmp-lite/portfile.cmake
  ports/libxmp-lite/vcpkg.json
  ports/starlink-ast/portfile.cmake
  ports/starlink-ast/vcpkg.json
  versions/baseline.json
  versions/s-/starlink-ast.json
Labels: category:port-bug

#30932 [llvm] fix feature clang-tools-extra
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#30922 [lua] cmake link library is absolute path
  ports/lua/CMakeLists-cpp.txt
  ports/lua/CMakeLists.txt
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: category:port-bug, info:reviewed

#30668 [scripts] Update Bazel to 6.1.2
  scripts/cmake/vcpkg_find_acquire_program(BAZEL).cmake
Labels: category:tool-update

#30829 [qt5compat] add proper error message
  ports/qt5compat/portfile.cmake
  ports/qt5compat/vcpkg.json
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qt5compat.json
  versions/q-/qtbase.json
Labels: category:port-feature, requires:author-response

#30951 [Scenepic] Update to 1.1.0
  ports/scenepic/portfile.cmake
  ports/scenepic/vcpkg.json
  versions/baseline.json
  versions/s-/scenepic.json
Labels: category:port-update, info:reviewed

#30949 [tensorpipe] fix feature test
  ports/tensorpipe/portfile.cmake
  ports/tensorpipe/support-test.patch
  ports/tensorpipe/vcpkg.json
  versions/baseline.json
  versions/t-/tensorpipe.json
Labels: category:port-bug, info:internal, info:reviewed

#28734 [libleidenalg] shift repo to upstream
  ports/libleidenalg/portfile.cmake
  ports/libleidenalg/vcpkg.json
  versions/baseline.json
  versions/l-/libleidenalg.json
Labels: category:port-update, info:reviewed

#30028 [yomm2 ] Bump yomm2 to 1.3.1
  ports/yomm2/fix_find_boost.patch
  ports/yomm2/fix_uwp_osx.patch
  ports/yomm2/portfile.cmake
  ports/yomm2/vcpkg.json
  versions/baseline.json
  versions/y-/yomm2.json
Labels: category:port-update, info:reviewed

#30330 [paho-mqtt] fix ODR to libuuid and update to 1.3.12
  ports/libuuid/CMakeLists.txt
  ports/libuuid/vcpkg.json
  ports/paho-mqtt/fix-ODR-libuuid-linux.patch
  ports/paho-mqtt/portfile.cmake
  ports/paho-mqtt/vcpkg.json
  versions/baseline.json
  versions/l-/libuuid.json
  versions/p-/paho-mqtt.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#30625 [fluidsynth] Update to 2.3.2
  ports/fluidsynth/add-usage-requirements.patch
  ports/fluidsynth/alsa-libdl.patch
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#30954 [fluidlite] update version; add SF3 feature; shared library support
  ports/fluidlite/fix-dependencies.patch
  ports/fluidlite/portfile.cmake
  ports/fluidlite/usage
  ports/fluidlite/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/fluidlite.json
Labels: category:port-feature, category:port-update, info:reviewed

#30962 [fast-float] Update to 4.0.0
  ports/fast-float/portfile.cmake
  ports/fast-float/vcpkg.json
  versions/baseline.json
  versions/f-/fast-float.json
Labels: category:port-update, info:reviewed

#30963 Update librdkafka up to 2.1.0
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#30490 [libgpg-error] fix arm64 build | [configure_make] fix arm host detection
  scripts/cmake/vcpkg_configure_make.cmake
Labels: info:reviewed, category:tool-update

#30938 [netcdf-c] fix feature nczarr-zip
  ports/netcdf-c/fix-dependency-libzip.patch
  ports/netcdf-c/vcpkg.json
  versions/baseline.json
  versions/n-/netcdf-c.json
Labels: category:port-bug, info:reviewed

#30911 [cdt] update to 1.3.0
  ports/cdt/boost-link.patch
  ports/cdt/portfile.cmake
  ports/cdt/vcpkg.json
  versions/baseline.json
  versions/c-/cdt.json
Labels: info:internal, category:port-update, info:reviewed

#30964 [xxhash] Fix the installation path of the xxhsum.1 file
  ports/xxhash/fix_xxhsum1_path.patch
  ports/xxhash/portfile.cmake
  ports/xxhash/vcpkg.json
  versions/baseline.json
  versions/x-/xxhash.json
Labels: category:port-bug, info:internal

#30325 [tiff] Fix building tiff
  ports/tiff/portfile.cmake
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-bug, info:reviewed

#30897 [gtk] update to 4.10.1
  ports/gtk/0001-build.patch
  ports/gtk/0002-windows-build.patch
  ports/gtk/0004-macos-build.patch
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
Labels: category:port-update, info:reviewed

#30957 [crashpad] Fetch missing dependency for crashpad on linux
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-feature, info:reviewed

#30960 [alsa] Add cmake wrapper
  ports/alsa/portfile.cmake
  ports/alsa/vcpkg-cmake-wrapper.cmake
  ports/alsa/vcpkg.json
  versions/a-/alsa.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#30973 [folly] fix missing dep
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-bug, info:reviewed

#30974 [magnum-integration] fix eigen feature
  ports/magnum-integration/portfile.cmake
  ports/magnum-integration/vcpkg.json
  versions/baseline.json
  versions/m-/magnum-integration.json
Labels: category:port-bug, info:reviewed

#30981 [raylib] Fix incorrect version in raylib-config-version.cmake
  ports/raylib/fix-project-version.patch
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:port-bug, info:internal, info:reviewed

#30970 [opentelemtry-cpp] Fix install feature otlp-http
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#29916 [vcpkg] Move include ports.cmake after defining multiple macros
  scripts/ports.cmake
Labels: category:tool-update, requires:vcpkg-team-review

#30979 [hyperscan] Update to 5.4.2
  ports/hyperscan/portfile.cmake
  ports/hyperscan/vcpkg.json
  versions/baseline.json
  versions/h-/hyperscan.json
Labels: info:internal, category:port-update

#30909 [stackwalker] add new port
  ports/stackwalker/fix-build.patch
  ports/stackwalker/fix-exports.patch
  ports/stackwalker/portfile.cmake
  ports/stackwalker/vcpkg.json
  versions/baseline.json
  versions/s-/stackwalker.json
Labels: category:new-port, info:reviewed

#29802 [miniply] add new port
  ports/miniply/fix-cmake.patch
  ports/miniply/portfile.cmake
  ports/miniply/vcpkg.json
  versions/baseline.json
  versions/m-/miniply.json
Labels: category:new-port, info:reviewed

#30747 [cpr] update to 1.10.2
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  ports/sleepy-discord/portfile.cmake
  ports/sleepy-discord/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
  versions/s-/sleepy-discord.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#30921 [sdl1-mixer] new port
  ports/sdl1-mixer/SDL_mixer.vcxproj.in
  ports/sdl1-mixer/SDL_mixer_2017.sln
  ports/sdl1-mixer/mpg123_ssize_t.patch
  ports/sdl1-mixer/native_midi.vcxproj.in
  ports/sdl1-mixer/playmus.vcxproj.in
  ports/sdl1-mixer/playwave.vcxproj.in
  ports/sdl1-mixer/portfile.cmake
  ports/sdl1-mixer/timidity.vcxproj.in
  ports/sdl1-mixer/usage
  ports/sdl1-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl1-mixer.json
Labels: category:new-port, info:reviewed

#30783 [vulkan] Fix SDK detection fails for official debian packages
  ports/vulkan/CMakeLists.txt
  ports/vulkan/portfile.cmake
  ports/vulkan/usage
  ports/vulkan/vcpkg.json
  ports/vulkan/vulkan-result.cmake.in
  versions/baseline.json
  versions/v-/vulkan.json
Labels: category:port-bug, info:reviewed
