Repository microsoft/vcpkg, pull requests merged in 2024-09, with the labels that each got.

#40723 [zziplib] Update version to 0.13.78
  ports/zziplib/no-release-postfix.patch
  ports/zziplib/portfile.cmake
  ports/zziplib/vcpkg.json
  versions/baseline.json
  versions/z-/zziplib.json
Labels: info:internal, category:port-update, info:reviewed

#40020 [lua] update to 5.4.7
  ports/lua/portfile.cmake
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: info:internal, category:port-update, info:reviewed

#40540 [fenster] Add new port
  ports/fenster/portfile.cmake
  ports/fenster/vcpkg.json
  versions/baseline.json
  versions/f-/fenster.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#40716 [zimpl] Update to 3.6.1
  ports/zimpl/msvc.diff
  ports/zimpl/portfile.cmake
  ports/zimpl/vcpkg.json
  versions/baseline.json
  versions/z-/zimpl.json
Labels: info:internal, category:port-update, info:reviewed

#40715 [enkits] Fixing version 1.11 not properly configured to work as a dynamic library
  ports/enkits/fix_shared_install.patch
  ports/enkits/portfile.cmake
  ports/enkits/update_install.patch
  ports/enkits/vcpkg.json
  versions/baseline.json
  versions/e-/enkits.json
Labels: category:port-bug, info:reviewed

#40714 [ktx] Updating to version 4.3.2
  ports/ktx/0005-no-vendored-libs.patch
  ports/ktx/0006-fix-ios-install.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-update, info:reviewed

#40713 [meshoptimizer] Updating to version 0.21
  ports/meshoptimizer/portfile.cmake
  ports/meshoptimizer/vcpkg.json
  versions/baseline.json
  versions/m-/meshoptimizer.json
Labels: category:port-update, info:reviewed

#40710 [ls-qpack] Fix dependency xxHash for linux
  ports/ls-qpack/portfile.cmake
  ports/ls-qpack/vcpkg.json
  versions/baseline.json
  versions/l-/ls-qpack.json
Labels: category:port-bug, info:reviewed

#40708 Revert "[hwinfo] add new port"
  ports/hwinfo/portfile.cmake
  ports/hwinfo/usage
  ports/hwinfo/vcpkg.json
  versions/baseline.json
  versions/h-/hwinfo.json
Labels: info:reviewed, category:code-cleanup

#40704 [ada-url] update to 2.9.1
  ports/ada-url/no-cpm.patch
  ports/ada-url/portfile.cmake
  ports/ada-url/vcpkg.json
  versions/a-/ada-url.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#40702 [cppwinrt] update to 2.0.240405.15
  ports/cppwinrt/portfile.cmake
  ports/cppwinrt/vcpkg.json
  versions/baseline.json
  versions/c-/cppwinrt.json
Labels: info:internal, category:port-update, info:reviewed

#40701 [cpprealm] Update to 2.2.0
  ports/cpprealm/portfile.cmake
  ports/cpprealm/vcpkg.json
  versions/baseline.json
  versions/c-/cpprealm.json
Labels: info:internal, category:port-update, info:reviewed

#40641 [vcpkg baseline][pipewire] Fix compilation errors under Linux
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: category:port-bug, info:internal, info:reviewed

#40776 [kerbal] update to v2024.8.1
  ports/kerbal/portfile.cmake
  ports/kerbal/vcpkg.json
  versions/baseline.json
  versions/k-/kerbal.json
Labels: category:port-update, info:reviewed

#40772 [avro-cpp] Update to 1.12.0
  ports/avro-cpp/fix-cmake.patch
  ports/avro-cpp/fix-fmt.patch
  ports/avro-cpp/portfile.cmake
  ports/avro-cpp/vcpkg.json
  versions/a-/avro-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40763 [simdjson] update to 3.10.1
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#40757 [sassc] Exclude dependency getopt
  ports/sassc/portfile.cmake
  ports/sassc/vcpkg.json
  versions/baseline.json
  versions/s-/sassc.json
Labels: category:port-bug, info:internal, info:reviewed

#40755 [frozen] Bump port to 1.2.0
  ports/frozen/portfile.cmake
  ports/frozen/vcpkg.json
  versions/baseline.json
  versions/f-/frozen.json
Labels: category:port-update, info:reviewed

#40748 [rmlui] Add feature for SVG rendering using lunasvg
  ports/rmlui/portfile.cmake
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:port-feature, info:reviewed

#40742 [apr] bump to 1.7.5 and did some imporvements, availible from this version of the library.
  ports/apr/fix-configcmake.patch
  ports/apr/portfile.cmake
  ports/apr/unofficial-apr-config.cmake
  ports/apr/vcpkg.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40739 [shiftmedia-libgnutls] Fix mkdir too many arguments
  ports/shiftmedia-libgnutls/mkdir.patch
  ports/shiftmedia-libgnutls/portfile.cmake
  ports/shiftmedia-libgnutls/vcpkg.json
  versions/baseline.json
  versions/s-/shiftmedia-libgnutls.json
Labels: category:port-bug, info:reviewed

#40736 [clipper2] update to 1.4.0
  ports/clipper2/portfile.cmake
  ports/clipper2/usage
  ports/clipper2/vcpkg.json
  versions/baseline.json
  versions/c-/clipper2.json
Labels: category:port-update, info:reviewed

#40733 [libyuv] Add tools feature
  ports/libyuv/cmake.diff
  ports/libyuv/portfile.cmake
  ports/libyuv/vcpkg.json
  versions/baseline.json
  versions/l-/libyuv.json
Labels: category:port-feature, info:reviewed

#40731 [ctbench] update to 1.3.4
  ports/ctbench/portfile.cmake
  ports/ctbench/vcpkg.json
  versions/baseline.json
  versions/c-/ctbench.json
Labels: info:internal, category:port-update, info:reviewed

#40730 [zug] Update to 2024-04-26
  ports/zug/portfile.cmake
  ports/zug/vcpkg.json
  versions/baseline.json
  versions/z-/zug.json
Labels: info:internal, category:port-update, info:reviewed

#40726 [libice] Update version to 1.1.1
  ports/libice/fix_build.patch
  ports/libice/portfile.cmake
  ports/libice/replace_macros.patch
  ports/libice/vcpkg.json
  versions/baseline.json
  versions/l-/libice.json
Labels: info:internal, category:port-update, info:reviewed

#40717 [zyre] Update to 2024-04-10
  ports/zyre/Findczmq.cmake
  ports/zyre/Findlibzmq.cmake
  ports/zyre/portfile.cmake
  ports/zyre/vcpkg.json
  versions/baseline.json
  versions/z-/zyre.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40705 [cimg] Update to 3.4.1
  ports/cimg/portfile.cmake
  ports/cimg/vcpkg.json
  versions/baseline.json
  versions/c-/cimg.json
Labels: info:internal, category:port-update, info:reviewed

#40697 [slikenet] fix wasm32-emscripten build
  ports/slikenet/fix-emscripten.patch
  ports/slikenet/portfile.cmake
  ports/slikenet/vcpkg.json
  versions/baseline.json
  versions/s-/slikenet.json
Labels: category:port-bug, info:reviewed

#40696 [msquic] Fix dynamic CRT linkage
  ports/msquic/portfile.cmake
  ports/msquic/vcpkg.json
  versions/baseline.json
  versions/m-/msquic.json
Labels: category:port-feature, info:reviewed

#40694 [cjson] update version to 1.7.18
  ports/cjson/portfile.cmake
  ports/cjson/vcpkg.json
  versions/baseline.json
  versions/c-/cjson.json
Labels: category:port-update, info:reviewed

#40678 [imguizmo] Remove keyword unofficial of imguizmo's usage
  ports/imguizmo/CMakeLists.txt
  ports/imguizmo/portfile.cmake
  ports/imguizmo/vcpkg.json
  ports/libigl/dependencies.patch
  ports/libigl/install-extra-targets.patch
  ports/libigl/vcpkg.json
  versions/baseline.json
  versions/i-/imguizmo.json
  versions/l-/libigl.json
Labels: category:port-bug, info:internal, info:reviewed

#40677 [openvpn3] Update, adapt upstream build, cleanup, test
  ports/openvpn3/CMakeLists.txt
  ports/openvpn3/dependencies.diff
  ports/openvpn3/mbedtls-compat.diff
  ports/openvpn3/only-library.diff
  ports/openvpn3/portfile.cmake
  ports/openvpn3/unofficial-openvpnConfig.cmake
  ports/openvpn3/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-openvpn3/portfile.cmake
  scripts/test_ports/vcpkg-ci-openvpn3/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-openvpn3/project/main.cpp
  scripts/test_ports/vcpkg-ci-openvpn3/vcpkg.json
  versions/baseline.json
  versions/o-/openvpn3.json
Labels: category:port-bug, category:new-port, category:port-update, info:reviewed

#40673 [nghttp3] Update to v1.5.0
  ports/nghttp3/fix-include-usage.patch
  ports/nghttp3/portfile.cmake
  ports/nghttp3/usage
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#40668 [fontconfig/freetype/fribidi] Update versions
  ports/fontconfig/fix-preprocessor-clang-cl.patch
  ports/fontconfig/libgetopt.patch
  ports/fontconfig/no-etc-symlinks.patch
  ports/fontconfig/portfile.cmake
  ports/fontconfig/vcpkg.json
  ports/freetype/portfile.cmake
  ports/freetype/vcpkg.json
  ports/fribidi/portfile.cmake
  ports/fribidi/vcpkg.json
  ports/ftgl/01_disable_doxygen.patch
  ports/ftgl/fix-cmake.diff
  ports/ftgl/fix-gl-flags.diff
  ports/ftgl/freetype-usage.diff
  ports/ftgl/install-pkgconfig.diff
  ports/ftgl/portfile.cmake
  ports/ftgl/vcpkg.json
  ports/opencascade/fix-freetype.diff
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
  versions/f-/freetype.json
  versions/f-/fribidi.json
  versions/f-/ftgl.json
  versions/o-/opencascade.json
Labels: category:port-update, info:reviewed

#40665 [ngtcp2] Update to v1.7.0
  ports/ngtcp2/export-unofficical-target.patch
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/usage
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-update, info:reviewed

#40316 [libuv] add # ifndef ssize_t
  ports/libuv/portfile.cmake
  ports/libuv/ssize_t.patch
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#40604 [msh3] New port
  ports/msh3/dependencies_fix.patch
  ports/msh3/portfile.cmake
  ports/msh3/vcpkg.json
  ports/msquic/all_headers.patch
  ports/msquic/portfile.cmake
  ports/msquic/vcpkg.json
  versions/baseline.json
  versions/m-/msh3.json
  versions/m-/msquic.json
Labels: category:new-port, info:reviewed

#40607 [tracy] fix 0.11.1 update, install only release tools
  ports/tracy/build-tools.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-bug, info:reviewed

#40655 [gtsam] Update to 4.2.0
  ports/gtsam/portfile.cmake
  ports/gtsam/vcpkg.json
  versions/baseline.json
  versions/g-/gtsam.json
Labels: category:port-update, info:reviewed

#40646 [c-ares] Update port to 1.33.1
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#40662 [vcpkg scripts] Update Strawberry Perl version
  scripts/cmake/vcpkg_find_acquire_program(PERL).cmake
Labels: info:reviewed, category:tool-update

#40751 [ls-qpack] Detect xxhash with pkgconf as upstream
  ports/ls-qpack/cmake-export.patch
  ports/ls-qpack/portfile.cmake
  ports/ls-qpack/vcpkg.json
  ports/ls-qpack/xxhash.patch
  versions/baseline.json
  versions/l-/ls-qpack.json
Labels: category:port-feature, info:reviewed

#40792 [vcpkg baseline][pipewire] Disable optional dependency opus
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: category:port-bug, info:internal, info:reviewed

#40791 [mongo-c-driver,libbson] Update to 1.27.6
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: category:port-update, info:reviewed

#40790 [folly] Fix build folder have special characters
  ports/folly/fix-character-in-folder.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-bug, info:internal, info:reviewed

#40801 [roaring] update to 4.1.2
  ports/roaring/portfile.cmake
  ports/roaring/vcpkg.json
  versions/baseline.json
  versions/r-/roaring.json
Labels: category:port-update, info:reviewed

#40789 [msquic] Update to v2.3.6
  ports/msquic/portfile.cmake
  ports/msquic/vcpkg.json
  versions/baseline.json
  versions/m-/msquic.json
Labels: category:port-update, info:reviewed

#40782 [libnick] Update to 2024.9.1
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#40781 [async-mqtt] update port to 9.0.0
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40778 [boost-cmake] Backport MSVC 19.40 is still vc143
  ports/boost-cmake/portfile.cmake
  ports/boost-cmake/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-cmake.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#40747 [shader-slang] Updating to 2024.10
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: category:port-update, info:reviewed

#40706 [lfreist-hwinfo] Add new port
  ports/lfreist-hwinfo/portfile.cmake
  ports/lfreist-hwinfo/usage
  ports/lfreist-hwinfo/vcpkg.json
  versions/baseline.json
  versions/l-/lfreist-hwinfo.json
Labels: category:new-port, info:reviewed

#40698 [ffmpeg] Fixes error when building in path with spaces in manifest mode
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:internal, info:reviewed

#40682 [baresip-libre] upgrade to 3.15.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#39959 [glfw3] Fix build on wasm32-emscripten
  ports/glfw3/glfw3Config.cmake
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:community-triplet, requires:vcpkg-team-review

#40830 [directxtk(12), directxmesh, directxtex, uvatlas] Update ports for Sept 2024
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#40833 [coin] Update to 4.0.3
  ports/coin/portfile.cmake
  ports/coin/vcpkg.json
  versions/baseline.json
  versions/c-/coin.json
Labels: info:internal, category:port-update, info:reviewed

#40829 [qtkeychain] Upgraded to version 0.14.3
  ports/qtkeychain-qt6/portfile.cmake
  ports/qtkeychain-qt6/vcpkg.json
  ports/qtkeychain/portfile.cmake
  ports/qtkeychain/vcpkg.json
  versions/baseline.json
  versions/q-/qtkeychain-qt6.json
  versions/q-/qtkeychain.json
Labels: category:port-update, info:reviewed

#40828 [folly related] update to 09.02
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/fix-character-in-folder.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#40824 [bext-text] add new port
  ports/bext-text/fix-boost-dependency.patch
  ports/bext-text/portfile.cmake
  ports/bext-text/vcpkg.json
  versions/b-/bext-text.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#40822 [faiss] Don't support arm64-windows
  ports/faiss/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/f-/faiss.json
Labels: category:port-bug, info:internal, info:reviewed

#40817 [snitch] Update version to 1.2.5
  ports/snitch/portfile.cmake
  ports/snitch/vcpkg.json
  versions/baseline.json
  versions/s-/snitch.json
Labels: info:internal, category:port-update, info:reviewed

#40816 [liburing] Prevent undefined memset with Clang
  ports/liburing/portfile.cmake
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: category:port-bug, info:internal, info:reviewed

#40812 [azure-kinect-sensor-sdk] Fix missing header files and adapt to new version of imgui
  ports/azure-kinect-sensor-sdk/fix-build-imgui.patch
  ports/azure-kinect-sensor-sdk/fix-header.patch
  ports/azure-kinect-sensor-sdk/portfile.cmake
  ports/azure-kinect-sensor-sdk/vcpkg.json
  versions/a-/azure-kinect-sensor-sdk.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#40800 [md4c] New port (#40799)
  ports/md4c/cmake.patch
  ports/md4c/portfile.cmake
  ports/md4c/usage
  ports/md4c/vcpkg.json
  versions/baseline.json
  versions/m-/md4c.json
Labels: category:new-port, info:reviewed

#40797 [skia] update to chrome/129
  ports/skia/disable-dev-test.patch
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-update, info:reviewed

#40795 [libtorch] Fix libtorch[core] compilation error
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
Labels: category:port-bug, info:internal, info:reviewed

#40794 [openssl] update to 3.3.2
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: info:internal, category:port-update, info:reviewed

#40777 [tinyexif ] Update to fix missing cstdint include
  ports/tinyexif/portfile.cmake
  ports/tinyexif/vcpkg.json
  versions/baseline.json
  versions/t-/tinyexif.json
Labels: category:port-update, info:reviewed

#40771 [opus] update to v1.5.2 (#40768)
  ports/opus/portfile.cmake
  ports/opus/vcpkg.json
  versions/baseline.json
  versions/o-/opus.json
Labels: category:port-update, info:reviewed

#40729 [vcpkg baseline][openmvs & crashpad] Add OUTPUT_NAME property to common.lib to avoid conflicts
  ports/crashpad/crashpadConfig.cmake.in
  ports/crashpad/fix-lib-name-conflict-1.patch
  ports/crashpad/fix-lib-name-conflict.patch
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  ports/openmvs/fix-build.patch
  ports/openmvs/fix-lib-name-conflict.patch
  ports/openmvs/portfile.cmake
  ports/openmvs/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
  versions/o-/openmvs.json
Labels: category:port-bug, info:internal, info:reviewed

#40720 [libdvdcss] New port
  ports/libdvdcss/portfile.cmake
  ports/libdvdcss/vcpkg.json
  versions/baseline.json
  versions/l-/libdvdcss.json
Labels: category:new-port, info:reviewed

#40703 [audit] update to version 4.0.2 and fix the issue of multiple definitions of a function
  ports/audit/fix-multiple-def.patch
  ports/audit/portfile.cmake
  ports/audit/vcpkg.json
  versions/a-/audit.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40687 [mbedtls] Update to 3.6.1
  ports/mbedtls/enable-pthread.patch
  ports/mbedtls/portfile.cmake
  ports/mbedtls/usage
  ports/mbedtls/vcpkg-cmake-wrapper.cmake
  ports/mbedtls/vcpkg.json
  ports/oatpp-mbedtls/find-mbedtls.patch
  ports/oatpp-mbedtls/mbedtls-3.patch
  ports/oatpp-mbedtls/portfile.cmake
  ports/oatpp-mbedtls/vcpkg.json
  ports/openvpn3/dependencies.diff
  ports/openvpn3/vcpkg.json
  versions/baseline.json
  versions/m-/mbedtls.json
  versions/o-/oatpp-mbedtls.json
  versions/o-/openvpn3.json
Labels: category:port-update, info:reviewed

#40679 [cryptopp] clang-cl: fix compilation with cryptopp/gzip.h
  ports/cryptopp/cryptopp.patch
  ports/cryptopp/portfile.cmake
  ports/cryptopp/vcpkg.json
  versions/baseline.json
  versions/c-/cryptopp.json
Labels: category:port-bug, info:reviewed

#40343 [libusbp] add new port
  ports/libusbp/Config.cmake.in
  ports/libusbp/portfile.cmake
  ports/libusbp/usage
  ports/libusbp/vcpkg.json
  versions/baseline.json
  versions/l-/libusbp.json
Labels: category:new-port, info:reviewed

#40101 [rmqcpp] Update to latest revision
  ports/rmqcpp/disable-tests-and-examples.patch
  ports/rmqcpp/portfile.cmake
  ports/rmqcpp/vcpkg.json
  versions/baseline.json
  versions/r-/rmqcpp.json
Labels: category:port-update, info:reviewed, category:code-cleanup

#40062 [proj] Disable hardcoded definition PROJ_DATA
  ports/proj/portfile.cmake
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-bug, info:internal, info:reviewed

#40805 [apr] add usage
  ports/apr/portfile.cmake
  ports/apr/usage-cmake
  ports/apr/vcpkg.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#40835 [gmsh] Export unofficial config files
  ports/gmsh/fix-install.patch
  ports/gmsh/portfile.cmake
  ports/gmsh/vcpkg.json
  versions/baseline.json
  versions/g-/gmsh.json
Labels: category:port-feature, info:internal, info:reviewed

#40836 [expat] Update to 2.6.3
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: category:port-update, info:reviewed

#40837 [proxy] update to 3.0.0
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#40838 [quill] Update to 7.1.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#40839 [benchmark] update to 1.9.0
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40840 [google-cloud-cpp] update to the latest release (v2.29.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#40842 [fluidsynth] Update to 2.3.6
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#40843 [sdl2] Update to 2.30.7
  ports/sdl2/poll-fix.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#40859 [llfio] update to 2024-09-05
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
Labels: category:port-update, info:reviewed

#40860 [stb] Update to 2024-07-29
  ports/stb/portfile.cmake
  ports/stb/vcpkg.json
  versions/baseline.json
  versions/s-/stb.json
Labels: category:port-update, info:reviewed

#40861 [outcome] update to 2.2.9
  ports/outcome/portfile.cmake
  ports/outcome/vcpkg.json
  versions/baseline.json
  versions/o-/outcome.json
Labels: category:port-update, info:reviewed

#40871 [seal] update to <4.1.2>
  ports/seal/portfile.cmake
  ports/seal/vcpkg.json
  versions/baseline.json
  versions/s-/seal.json
Labels: info:internal, category:port-update, info:reviewed

#40883 [directx-headers] Update port for 1.614.1 release
  ports/directx-headers/portfile.cmake
  ports/directx-headers/vcpkg.json
  versions/baseline.json
  versions/d-/directx-headers.json
Labels: category:port-update, info:reviewed

#40884 [libnick] Update to 2024.9.2
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#40851 [libconfuse] Update, official build, cleanup
  ports/libconfuse/CMakeLists.txt
  ports/libconfuse/config.h.in
  ports/libconfuse/portfile.cmake
  ports/libconfuse/unofficial-libconfuse-config.cmake
  ports/libconfuse/vcpkg.json
  versions/baseline.json
  versions/l-/libconfuse.json
Labels: category:port-update, info:reviewed

#40856 [onednn] Disable docs, examples and tests.
  ports/onednn/portfile.cmake
  ports/onednn/vcpkg.json
  versions/baseline.json
  versions/o-/onednn.json
Labels: category:port-feature, info:reviewed

#40863 [cddlib] new port
  ports/cddlib/0001-disable-doc-target.patch
  ports/cddlib/0002-disable-dd-log.patch
  ports/cddlib/portfile.cmake
  ports/cddlib/vcpkg.json
  versions/baseline.json
  versions/c-/cddlib.json
Labels: category:new-port, info:reviewed

#40881 [openssl] Add upstream patch to fix build with old versions of perl
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#40858 [bluescarni-tanuki] new port
  ports/bluescarni-tanuki/portfile.cmake
  ports/bluescarni-tanuki/vcpkg.json
  versions/b-/bluescarni-tanuki.json
  versions/baseline.json
Labels: category:new-port

#40873 [microsoft-signalr] Add missing header files
  ports/microsoft-signalr/fix-miss-header.patch
  ports/microsoft-signalr/portfile.cmake
  ports/microsoft-signalr/vcpkg.json
  versions/baseline.json
  versions/m-/microsoft-signalr.json
Labels: category:port-bug, info:internal

#40887 [mongo-cxx-driver] Fix compilation error under VS17.11.2
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: category:port-bug, info:internal

#40870 [netcpp] Update to 0.5.0
  ports/netcpp/pkgconfig.patch
  ports/netcpp/portfile.cmake
  ports/netcpp/usage
  ports/netcpp/vcpkg.json
  versions/baseline.json
  versions/n-/netcpp.json
Labels: category:port-update

#40903 [curl] Update to 8.10.0
  ports/curl/0020-fix-pc-file.patch
  ports/curl/0022-deduplicate-libs.patch
  ports/curl/dependencies.patch
  ports/curl/export-components.patch
  ports/curl/gnutls.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  ports/curlcpp/obsolete-curlopt.diff
  ports/curlcpp/portfile.cmake
  ports/curlcpp/vcpkg.json
  ports/curlpp/obsolete-curlopt.diff
  ports/curlpp/portfile.cmake
  ports/curlpp/vcpkg.json
  ports/tesseract/portfile.cmake
  ports/tesseract/target-curl.diff
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
  versions/c-/curlcpp.json
  versions/c-/curlpp.json
  versions/t-/tesseract.json
Labels: category:port-update

#40900 [vcpkg baseline][libconfuse,onednn] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#40935 [nng] update to <1.8.0>
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: info:internal, category:port-update, info:reviewed

#40927 [asio] update to 1.31.0
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40930 [daw-utf-range] update to 2.2.5
  ports/daw-utf-range/portfile.cmake
  ports/daw-utf-range/vcpkg.json
  versions/baseline.json
  versions/d-/daw-utf-range.json
Labels: category:port-update, info:reviewed

#40920 [folly related] update to 09.09
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/fix-build.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#40872 Add instruction to reset port version
  .github/pull_request_template.md
Labels: category:infrastructure, requires:vcpkg-team-review

#40862 [libftdi1] Fix, cleanup, C++ binding, test port
  ports/libftdi1/cmake-version.diff
  ports/libftdi1/disable-config-script.diff
  ports/libftdi1/libconfuse-fix.patch
  ports/libftdi1/libdir.diff
  ports/libftdi1/libftdipp1.diff
  ports/libftdi1/libusb-fix.patch
  ports/libftdi1/libusb.diff
  ports/libftdi1/linkage.diff
  ports/libftdi1/portfile.cmake
  ports/libftdi1/vcpkg.json
  ports/libftdi1/win32.patch
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  scripts/test_ports/vcpkg-ci-libftdi1/portfile.cmake
  scripts/test_ports/vcpkg-ci-libftdi1/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libftdi1/project/cmake-usage/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libftdi1/project/main.cpp
  scripts/test_ports/vcpkg-ci-libftdi1/vcpkg.json
  versions/baseline.json
  versions/l-/libftdi1.json
  versions/l-/libusb.json
Labels: category:port-feature, info:reviewed

#40597 [aliyun-oss-cpp-sdk] add new port
  ports/aliyun-oss-cpp-sdk/cmake-export.patch
  ports/aliyun-oss-cpp-sdk/portfile.cmake
  ports/aliyun-oss-cpp-sdk/usage
  ports/aliyun-oss-cpp-sdk/vcpkg.json
  versions/a-/aliyun-oss-cpp-sdk.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#40947 [msquic] Do not rename binaries
  ports/msquic/portfile.cmake
  ports/msquic/vcpkg.json
  versions/baseline.json
  versions/m-/msquic.json
Labels: category:port-bug

#40949 [volk] Updating port to 1.3.295
  ports/volk/portfile.cmake
  ports/volk/vcpkg.json
  versions/baseline.json
  versions/v-/volk.json
Labels: category:port-update

#40946 [joltphysics] Updating port to properly configure in manifest mode
  ports/joltphysics/portfile.cmake
  ports/joltphysics/vcpkg.json
  versions/baseline.json
  versions/j-/joltphysics.json
Labels: category:port-bug

#40943 [azure-core-amqp-cpp] publish version 1.0.0-beta.11
  ports/azure-core-amqp-cpp/portfile.cmake
  ports/azure-core-amqp-cpp/vcpkg.json
  versions/a-/azure-core-amqp-cpp.json
  versions/baseline.json
Labels: category:port-update

#40924 [libressl] Fail if openssl is installed
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg.json
  scripts/test_ports/vcpkg-ci-libressl/portfile.cmake
  scripts/test_ports/vcpkg-ci-libressl/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: category:port-bug

#40913 [jigson] New port
  ports/jigson/jigson-config.cmake.in
  ports/jigson/portfile.cmake
  ports/jigson/usage
  ports/jigson/vcpkg.json
  versions/baseline.json
  versions/j-/jigson.json
Labels: category:new-port, info:reviewed

#40937 [libheif] Update to 1.18.2
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: info:internal, category:port-update, info:reviewed

#40952 [libphonenumber] update to 8.13.45
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update, info:reviewed

#40955 [gstreamer] update to 1.24.7
  ports/gstreamer/fix-clang-cl-bad.patch
  ports/gstreamer/gstreamer-disable-no-unused.patch
  ports/gstreamer/no-downloads.patch
  ports/gstreamer/plugin-base-disable-no-unused.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/srtp_fix.patch
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: info:internal, category:port-update, info:reviewed

#40960 [cpptrace] Add 0.7.1
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#40961 [libassert] Add 2.1.1
  ports/libassert/portfile.cmake
  ports/libassert/vcpkg.json
  versions/baseline.json
  versions/l-/libassert.json
Labels: category:port-update, info:reviewed

#40963 [Thorvg] update v0.14.10
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#40971 [libjxl] Update to v0.11.0
  ports/libjxl/fix-tools-build.patch
  ports/libjxl/portfile.cmake
  ports/libjxl/vcpkg.json
  versions/baseline.json
  versions/l-/libjxl.json
Labels: category:port-update, info:reviewed

#40967 [wolfssl] Add 'asio' feature flag
  ports/wolfssl/portfile.cmake
  ports/wolfssl/vcpkg.json
  versions/baseline.json
  versions/w-/wolfssl.json
Labels: category:port-feature, info:reviewed

#40976 [fast-float] update to 6.1.6
  ports/fast-float/portfile.cmake
  ports/fast-float/vcpkg.json
  versions/baseline.json
  versions/f-/fast-float.json
Labels: category:port-update

#40974 [cpp-httplib] update to 0.18.0
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update

#40962 [Onnxruntime-gpu] update v1.19.2
  ports/onnxruntime-gpu/portfile.cmake
  ports/onnxruntime-gpu/vcpkg.json
  versions/baseline.json
  versions/o-/onnxruntime-gpu.json
Labels: category:port-update

#40921 Patch Tuesday for September 2024
  ports/cpprestsdk/portfile.cmake
  ports/cpprestsdk/silence-stdext-checked-array-iterators-warning.patch
  ports/cpprestsdk/vcpkg.json
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  ports/ngtcp2/popcnt_intrinsic.patch
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-azure-cli.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  versions/baseline.json
  versions/c-/cpprestsdk.json
  versions/n-/nghttp3.json
  versions/n-/ngtcp2.json
Labels: info:internal, info:reviewed, category:infrastructure

#40759 [projectm-eval] Fix/add "ns-eel2" feature
  ports/projectm-eval/portfile.cmake
  ports/projectm-eval/usage
  ports/projectm-eval/vcpkg.json
  versions/baseline.json
  versions/p-/projectm-eval.json
Labels: category:port-feature

#40977 [caf] update to 1.0.1
  ports/caf/fix_cxx17.patch
  ports/caf/portfile.cmake
  ports/caf/vcpkg.json
  versions/baseline.json
  versions/c-/caf.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40932 [tiff] Do not use CMAKE_FIND_PACKAGE_PREFER_CONFIG
  ports/tiff/portfile.cmake
  ports/tiff/prefer-config.diff
  ports/tiff/vcpkg.json
  scripts/test_ports/vcpkg-ci-gdal/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-bug, info:reviewed

#41026 [blake3] update to 1.5.4
  ports/blake3/portfile.cmake
  ports/blake3/vcpkg.json
  versions/b-/blake3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41046 [tcl] Fix release builds on Windows
  ports/tcl/portfile.cmake
  ports/tcl/vcpkg.json
  versions/baseline.json
  versions/t-/tcl.json
Labels: category:port-bug, info:internal, info:reviewed

#41047 [WinReg] update to v6.3.0
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#40964 [upa-url] new port
  ports/upa-url/cxx-standard.patch
  ports/upa-url/portfile.cmake
  ports/upa-url/vcpkg.json
  versions/baseline.json
  versions/u-/upa-url.json
Labels: category:new-port

#41062 [range-v3, simsimd] Ban $/include/module.modulemap
  ports/range-v3/portfile.cmake
  ports/range-v3/vcpkg.json
  ports/simsimd/portfile.cmake
  ports/simsimd/vcpkg.json
  versions/baseline.json
  versions/r-/range-v3.json
  versions/s-/simsimd.json
Labels: info:internal, category:infrastructure

#41061 [curl] Update to 8.10.1
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update

#41056 [simsimd] Update to 5.4.0 and use the upstream-provided CMake build system
  ports/simsimd/export-target.patch
  ports/simsimd/portfile.cmake
  ports/simsimd/vcpkg.json
  versions/baseline.json
  versions/s-/simsimd.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40503 [vcpkg scripts] toolchain/osx: Fix CMAKE_HOST_SYSTEM_PROCESSOR condition with lower case arm64
  scripts/toolchains/osx.cmake
Labels: info:internal, info:reviewed, category:tool-update

#40954 [aliyun-oss-cpp-sdk] Change to find package config mode
  ports/aliyun-oss-cpp-sdk/0001-dependency-and-targets.patch
  ports/aliyun-oss-cpp-sdk/0002-unofficial-export.cmake
  ports/aliyun-oss-cpp-sdk/0003-suppress-fmt-warning.patch
  ports/aliyun-oss-cpp-sdk/portfile.cmake
  ports/aliyun-oss-cpp-sdk/usage
  ports/aliyun-oss-cpp-sdk/vcpkg.json
  versions/a-/aliyun-oss-cpp-sdk.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#41070 [asio-grpc] Update to 3.2.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40892 [cudnn] Add version v9.4
  ports/cudnn/FindCUDNN.cmake
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  versions/baseline.json
  versions/c-/cudnn.json
Labels: category:port-feature, info:internal, info:reviewed

#41057 [mathter] update to 2.0.0
  ports/mathter/portfile.cmake
  ports/mathter/vcpkg.json
  versions/baseline.json
  versions/m-/mathter.json
Labels: category:port-update

#41071 [mongo-c-driver/libbson] update to 1.28.0
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#41084 [pcapplusplus] Bump PcapPlusPlus to 24.09 and Add documentation link
  ports/pcapplusplus/portfile.cmake
  ports/pcapplusplus/vcpkg.json
  versions/baseline.json
  versions/p-/pcapplusplus.json
Labels: category:port-update, info:reviewed

#41085 [aliyun-oss-cpp-sdk] Add option to disable parallel builds
  ports/aliyun-oss-cpp-sdk/portfile.cmake
  ports/aliyun-oss-cpp-sdk/vcpkg.json
  versions/a-/aliyun-oss-cpp-sdk.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#41087 [openal-soft] Re-enable the DirectSound backend
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-feature, info:internal, info:reviewed

#41081 [xsimd] Fix build error under windows
  ports/xsimd/portfile.cmake
  ports/xsimd/vcpkg.json
  versions/baseline.json
  versions/x-/xsimd.json
Labels: category:port-bug, info:internal, info:reviewed

#40975 [fast-double-parser] update to 0.8.0
  ports/fast-double-parser/portfile.cmake
  ports/fast-double-parser/vcpkg.json
  versions/baseline.json
  versions/f-/fast-double-parser.json
Labels: category:port-update
