Repository microsoft/vcpkg, pull requests merged in 2024-12, with the labels that each got.

#42404 [many ports 2] Include `<chrono>` for `system_clock` and `high_resolution_clock`
  ports/antlr4/add-include-chrono.patch
  ports/antlr4/portfile.cmake
  ports/antlr4/vcpkg.json
  ports/avisynthplus/add-include-chrono.patch
  ports/avisynthplus/portfile.cmake
  ports/avisynthplus/vcpkg.json
  ports/ignition-common1/add-include-chrono.patch
  ports/ignition-common1/portfile.cmake
  ports/ignition-common1/vcpkg.json
  ports/ompl/0004_include_chrono.patch
  ports/ompl/portfile.cmake
  ports/ompl/vcpkg.json
  versions/a-/antlr4.json
  versions/a-/avisynthplus.json
  versions/baseline.json
  versions/i-/ignition-common1.json
  versions/o-/ompl.json
Labels: category:port-bug, info:internal, info:reviewed

#42406 [many ports 3] Include `<chrono>` for `system_clock` and `high_resolution_clock`
  ports/omplapp/add-include-chrono.patch
  ports/omplapp/portfile.cmake
  ports/omplapp/vcpkg.json
  ports/openvino/add-include-chrono.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  ports/realsense2/add-include-chrono.patch
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  ports/wampcc/add-include-chrono.patch
  ports/wampcc/portfile.cmake
  ports/wampcc/vcpkg.json
  ports/zlmediakit/add-include-chrono.patch
  ports/zlmediakit/portfile.cmake
  ports/zlmediakit/vcpkg.json
  versions/baseline.json
  versions/o-/omplapp.json
  versions/o-/openvino.json
  versions/r-/realsense2.json
  versions/w-/wampcc.json
  versions/z-/zlmediakit.json
Labels: category:port-bug, info:internal, info:reviewed

#42419 [grpc] Update to 1.68.1
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: info:internal, category:port-update, info:reviewed

#42423 [qwtw] Include <chrono> for `chrono_literals`
  ports/qwtw/add-include-chrono.patch
  ports/qwtw/portfile.cmake
  ports/qwtw/vcpkg.json
  versions/baseline.json
  versions/q-/qwtw.json
Labels: category:port-bug, info:internal, info:reviewed

#42380 [opentelemetry-cpp] update to 1.18.0
  ports/opentelemetry-cpp/add-missing-find-dependency.patch
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#42428 [proxy] update to 3.1.0
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#42425 [llvm] Include `<chrono>` for `system_clock` and `now`
  ports/llvm/add-include-chrono.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:internal

#42400 [protobuf] Update to 5.29.0
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  ports/protobuf/fix-arm64-msvc.patch
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42418 [gdal] Fix spelling errors
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: info:internal, info:reviewed, category:code-cleanup

#42431 [RESTinio] update to v.0.7.3
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
  versions/baseline.json
  versions/r-/restinio.json
Labels: category:port-update, info:reviewed

#42402 [mysql-connector-cpp] Update to 9.1.0
  ports/mysql-connector-cpp/dependencies.patch
  ports/mysql-connector-cpp/export-targets.patch
  ports/mysql-connector-cpp/fix-static-build8.patch
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#42439 [kealib] Update to 1.6.0
  ports/kealib/portfile.cmake
  ports/kealib/vcpkg.json
  versions/baseline.json
  versions/k-/kealib.json
Labels: category:port-update, info:reviewed

#42441 [duilib] single config fix
  ports/duilib/portfile.cmake
  ports/duilib/vcpkg.json
  versions/baseline.json
  versions/d-/duilib.json
Labels: category:port-bug, info:reviewed

#42443 [gmp] remove embedded compiler info
  ports/gmp/portfile.cmake
  ports/gmp/remove_compiler_info.patch
  ports/gmp/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
Labels: category:port-bug, info:reviewed

#42444 [marble] fix single config builds
  ports/marble/portfile.cmake
  ports/marble/vcpkg.json
  versions/baseline.json
  versions/m-/marble.json
Labels: category:port-bug, info:reviewed

#42445 [shiftmedia-libgnutls] fix single config builds
  ports/shiftmedia-libgnutls/portfile.cmake
  ports/shiftmedia-libgnutls/vcpkg.json
  versions/baseline.json
  versions/s-/shiftmedia-libgnutls.json
Labels: category:port-bug, info:reviewed

#42471 [otl] update hash for 4.0.478 download
  ports/otl/portfile.cmake
  ports/otl/vcpkg.json
  versions/baseline.json
  versions/o-/otl.json
Labels: category:port-bug, info:reviewed

#42447 [xqilla] Fix single config builds
  ports/xqilla/CMakeLists.txt
  ports/xqilla/vcpkg.json
  versions/baseline.json
  versions/x-/xqilla.json
Labels: category:port-bug, info:reviewed

#42357 [arrow] Update to 18.1.0
  ports/arrow/0001-msvc-static-name.patch
  ports/arrow/0002-thrift.patch
  ports/arrow/0003-utf8proc.patch
  ports/arrow/0004-android-musl.patch
  ports/arrow/0005-android-datetime.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update

#42440 [EasyHook] Fix single config builds
  ports/easyhook/portfile.cmake
  ports/easyhook/vcpkg.json
  versions/baseline.json
  versions/e-/easyhook.json
Labels: category:port-feature

#42487 [protopuf] Update to v3.0.0
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-update, info:reviewed

#42432 [vcpkg_find_acquire_program(NASM).cmake] Update to version 2.16.03
  scripts/cmake/vcpkg_find_acquire_program(NASM).cmake
Labels: info:reviewed, category:tool-update

#42465 [scotch] Add ptscotch support
  ports/scotch/portfile.cmake
  ports/scotch/vcpkg.json
  versions/baseline.json
  versions/s-/scotch.json
Labels: category:port-feature, info:internal, info:reviewed

#42117 [cpuid] Update version to 0.7.0 and fix LNK2019
  ports/cpuid/fix-LNK2019.patch
  ports/cpuid/fix-MSVC-warning.patch
  ports/cpuid/fix-build.patch
  ports/cpuid/portfile.cmake
  ports/cpuid/vcpkg.json
  versions/baseline.json
  versions/c-/cpuid.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42492 [mdl-sdk] Fix build of openimageio feature after update to OpenImageIO 3.x.
  ports/mdl-sdk/013-openimageio-3.0.patch
  ports/mdl-sdk/portfile.cmake
  ports/mdl-sdk/vcpkg.json
  versions/baseline.json
  versions/m-/mdl-sdk.json
Labels: category:port-bug

#42486 [lv2] Update to 1.18.10
  ports/lv2/CMakeLists.txt
  ports/lv2/lv2-config.cmake
  ports/lv2/portfile.cmake
  ports/lv2/vcpkg.json
  versions/baseline.json
  versions/l-/lv2.json
Labels: info:internal, category:port-update, info:reviewed

#42484 [libxslt] Update to v1.1.42
  ports/libxslt/fix-gcrypt-deps.patch
  ports/libxslt/libexslt-pkgconfig.patch
  ports/libxslt/msvc-no-suffix.patch
  ports/libxslt/portfile.cmake
  ports/libxslt/python3.patch
  ports/libxslt/skip-install-docs.patch
  ports/libxslt/vcpkg.json
  ports/xcb/vcpkg.json
  versions/baseline.json
  versions/l-/libxslt.json
  versions/x-/xcb.json
Labels: category:port-update, info:reviewed

#42464 [openxr-loader] Update, revise
  ports/openxr-loader/fix-jinja2.patch
  ports/openxr-loader/fix-openxr-sdk-jsoncpp.patch
  ports/openxr-loader/msvc-crt.diff
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-update

#42470 [open62541] Update to 1.3.15, fix android
  ports/open62541/android-librt.diff
  ports/open62541/clang-sanitizer.diff
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-update, info:reviewed

#42513 [libdwarf] Update to 0.11.1
  ports/libdwarf/dependencies.diff
  ports/libdwarf/portfile.cmake
  ports/libdwarf/vcpkg.json
  versions/baseline.json
  versions/l-/libdwarf.json
Labels: category:port-update

#42511 [libheif] disable testing
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-feature, info:internal

#42460 [pcre] fix build failure on s390x
  ports/pcre/portfile.cmake
  ports/pcre/vcpkg.json
  versions/baseline.json
  versions/p-/pcre.json
Labels: category:port-bug

#42498 [libe57format] Update to 3.2.0
  ports/libe57format/portfile.cmake
  ports/libe57format/usage
  ports/libe57format/vcpkg.json
  versions/baseline.json
  versions/l-/libe57format.json
Labels: category:port-update

#42491 [7zip] update to 24.09
  ports/7zip/CMakeLists.txt
  ports/7zip/portfile.cmake
  ports/7zip/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program(7Z).cmake
  scripts/vcpkgTools.xml
  versions/7-/7zip.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#41874 [scripts] More isolation for VFAP(PYTHON3)
  scripts/cmake/vcpkg_find_acquire_program(PYTHON3).cmake
  scripts/cmake/z_vcpkg_make_python_less_embedded.cmake
Labels: category:vcpkg-bug, info:reviewed

#42536 [unordered-dense] update to 4.5.0
  ports/unordered-dense/portfile.cmake
  ports/unordered-dense/vcpkg.json
  versions/baseline.json
  versions/u-/unordered-dense.json
Labels: info:internal, category:port-update, info:reviewed

#42518 [plibsys] Update to 0.0.5 and fix CMake export
  ports/plibsys/fix_configuration.patch
  ports/plibsys/portfile.cmake
  ports/plibsys/usage
  ports/plibsys/vcpkg-cmake-wrapper.cmake
  ports/plibsys/vcpkg.json
  versions/baseline.json
  versions/p-/plibsys.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42461 [reflectcpp] Updated to reflectcpp 0.16.0; added support for various formats in the form of features
  ports/reflectcpp/portfile.cmake
  ports/reflectcpp/vcpkg.json
  versions/baseline.json
  versions/r-/reflectcpp.json
Labels: category:port-update, info:reviewed

#42386 [DiscordCoreAPI] to v2.0.8 and [Jsonifier] to v0.9.98
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#42516 [aws-sdk-cpp] update to 1.11.460
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: info:internal, category:port-update

#42532 [openimageio] Update to v3.0.1.0
  ports/openimageio/fix-openexr-target-missing.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-feature, category:port-update

#42456 [libfabric] Update to 1.22.0, support !windows
  ports/libfabric/add_additional_includes.patch
  ports/libfabric/portfile.cmake
  ports/libfabric/vcpkg.json
  versions/baseline.json
  versions/l-/libfabric.json
Labels: category:port-update, info:reviewed

#42556 Improve asset cache handling for python3 in our pipeline.
  scripts/azure-pipelines/windows/azure-pipelines.yml
Labels: info:internal, info:reviewed, category:infrastructure

#42560 [pipewire] update to 1.2.7
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: info:internal, category:port-update, info:reviewed

#42546 [protobuf] update to the latest release (v5.29.1)
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-update

#42398 [openblas] Revise, enable better cross builds
  ports/blas/portfile.cmake
  ports/blas/vcpkg.json
  ports/openblas/arm32-asm-function.diff
  ports/openblas/cmake-project-include.cmake
  ports/openblas/disable-testing.diff
  ports/openblas/fix-redefinition-function.patch
  ports/openblas/gcc14.patch
  ports/openblas/getarch.diff
  ports/openblas/install-tools.patch
  ports/openblas/portfile.cmake
  ports/openblas/system-check-msvc.diff
  ports/openblas/uwp.patch
  ports/openblas/vcpkg.json
  ports/openblas/win32-uwp.diff
  scripts/ci.baseline.txt
  scripts/test_ports/blas-test/CMakeLists.txt
  scripts/test_ports/blas-test/portfile.cmake
  scripts/test_ports/blas-test/vcpkg.json
  scripts/test_ports/vcpkg-ci-blas/portfile.cmake
  scripts/test_ports/vcpkg-ci-blas/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-blas/project/main.c
  scripts/test_ports/vcpkg-ci-blas/vcpkg.json
  scripts/test_ports/vcpkg-ci-openblas/portfile.cmake
  scripts/test_ports/vcpkg-ci-openblas/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-openblas/project/main.c
  scripts/test_ports/vcpkg-ci-openblas/vcpkg.json
  versions/b-/blas.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-bug, info:reviewed

#42562 [wcslib] Update to 8.4
  ports/wcslib/portfile.cmake
  ports/wcslib/vcpkg.json
  versions/baseline.json
  versions/w-/wcslib.json
Labels: info:internal, category:port-update

#42558 [mysql-connector-cpp] Disable attempting to copy all dependencies into its own package.
  ports/mysql-connector-cpp/dependencies.patch
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:port-bug, info:internal

#42588 [vcpkg baseline][qtquick3d,openxr-loader] Fix config, control dependency
  ports/openxr-loader/fix-openxr-sdk-jsoncpp.patch
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  ports/qt/vcpkg.json
  ports/qtquick3d/portfile.cmake
  ports/qtquick3d/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
  versions/q-/qt.json
  versions/q-/qtquick3d.json
Labels: category:port-bug, info:reviewed

#42596 [sdl2] Update to 2.30.10
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#42594 [efsw] Update to 1.4.1
  ports/efsw/portfile.cmake
  ports/efsw/vcpkg.json
  versions/baseline.json
  versions/e-/efsw.json
Labels: category:port-update, info:reviewed

#42584 [otl] Update to 4.0.480
  ports/otl/portfile.cmake
  ports/otl/vcpkg.json
  versions/baseline.json
  versions/o-/otl.json
Labels: category:port-update, info:reviewed

#42187 [lcms] Update to v2.16
  ports/lcms/CMakeLists.txt
  ports/lcms/fix-shared-library.patch
  ports/lcms/lcms-config.cmake
  ports/lcms/lcms2-config.cmake
  ports/lcms/portfile.cmake
  ports/lcms/remove-register.patch
  ports/lcms/remove_library_directive.patch
  ports/lcms/vcpkg.json
  versions/baseline.json
  versions/l-/lcms.json
Labels: category:port-update, info:reviewed

#42590 [sqlite3] update to 3.47.2
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update

#42586 [mysql-connector-cpp] Revise, add test port
  ports/mysql-connector-cpp/cmake-project-include.cmake
  ports/mysql-connector-cpp/dependencies.patch
  ports/mysql-connector-cpp/depfindprotobuf.diff
  ports/mysql-connector-cpp/disable-telemetry.diff
  ports/mysql-connector-cpp/dont-preload-cache.diff
  ports/mysql-connector-cpp/export-targets.patch
  ports/mysql-connector-cpp/fix-static-build8.patch
  ports/mysql-connector-cpp/merge-archives.diff
  ports/mysql-connector-cpp/mysql-concpp-config.cmake
  ports/mysql-connector-cpp/mysql-connector-cpp-config.cmake.in
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/protobuf-cmake.patch
  ports/mysql-connector-cpp/save-linker-opts.diff
  ports/mysql-connector-cpp/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-mysql-connector-cpp/portfile.cmake
  scripts/test_ports/vcpkg-ci-mysql-connector-cpp/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-mysql-connector-cpp/project/jdbc.cpp
  scripts/test_ports/vcpkg-ci-mysql-connector-cpp/project/main.cpp
  scripts/test_ports/vcpkg-ci-mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:port-feature, category:code-cleanup

#42611 [iir1] Fix pkgconfig, control build
  ports/iir1/fix-shared-lib.patch
  ports/iir1/portfile.cmake
  ports/iir1/vcpkg.json
  versions/baseline.json
  versions/i-/iir1.json
Labels: category:port-bug, info:reviewed

#42614 [h5py-lzf] update to 3.12.1
  ports/h5py-lzf/portfile.cmake
  ports/h5py-lzf/vcpkg.json
  versions/baseline.json
  versions/h-/h5py-lzf.json
Labels: info:internal, category:port-update, info:reviewed

#42605 [grpc] update to the latest release (v1.68.2)
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-update, info:reviewed

#42601 [mpg123] Fix dllexport, fix pkgconfig, add test port
  ports/mpg123/fix-dllexport.diff
  ports/mpg123/pkgconfig.diff
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  scripts/test_ports/vcpkg-ci-mpg123/portfile.cmake
  scripts/test_ports/vcpkg-ci-mpg123/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-mpg123/project/main.c
  scripts/test_ports/vcpkg-ci-mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:reviewed, category:infrastructure

#42658 [mongo-c-driver,libbson] Update to 1.29.1
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#42657 [live555] update to 2024-11-28
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: info:internal, category:port-update, info:reviewed

#42656 [rocksdb] update to 9.8.4
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: info:internal, category:port-update, info:reviewed

#42640 [tgui] Update to 1.6.1
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-update, info:reviewed

#42636 [shader-slang] Update to 2024.15.2
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: info:internal, category:port-update, info:reviewed

#42639 [ginkgo] Update to 1.9.0
  ports/ginkgo/portfile.cmake
  ports/ginkgo/vcpkg.json
  versions/baseline.json
  versions/g-/ginkgo.json
Labels: category:port-update, info:reviewed

#42630 [baresip-libre] Update to version 3.18.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#42624 [kdalgorithms] update to 1.4
  ports/kdalgorithms/portfile.cmake
  ports/kdalgorithms/vcpkg.json
  versions/baseline.json
  versions/k-/kdalgorithms.json
Labels: category:port-update, info:reviewed

#42621 [vsg] update to new release 1.1.8
  ports/vsg/portfile.cmake
  ports/vsg/vcpkg.json
  versions/baseline.json
  versions/v-/vsg.json
Labels: category:port-update, info:reviewed

#42610 [openfbx] Update port openfbx to latest version
  ports/openfbx/portfile.cmake
  ports/openfbx/vcpkg.json
  versions/baseline.json
  versions/o-/openfbx.json
Labels: category:port-update, info:reviewed

#42347 [manifold] Add new port
  ports/manifold/portfile.cmake
  ports/manifold/usage
  ports/manifold/vcpkg.json
  versions/baseline.json
  versions/m-/manifold.json
Labels: category:new-port, info:reviewed

#42632 [c-ares] Update to 1.34.3
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: info:internal, category:port-update, info:reviewed

#42538 [usockets,uwebsockets] Update uwebsockets to 20.71.0, install and test CMake config, Cleanup
  ports/usockets/CMakeLists.txt
  ports/usockets/portfile.cmake
  ports/usockets/unofficial-usockets-config.cmake
  ports/usockets/vcpkg.json
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/unofficial-uwebsockets-config.cmake
  ports/uwebsockets/vcpkg.json
  ports/webthing-cpp/dependencies.diff
  ports/webthing-cpp/portfile.cmake
  ports/webthing-cpp/vcpkg.json
  scripts/test_ports/vcpkg-ci-uwebsockets/portfile.cmake
  scripts/test_ports/vcpkg-ci-uwebsockets/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-uwebsockets/project/main.cxx
  scripts/test_ports/vcpkg-ci-uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/usockets.json
  versions/u-/uwebsockets.json
  versions/w-/webthing-cpp.json
Labels: category:port-update, info:reviewed, category:code-cleanup

#42612 [mysql-connector-cpp] Fix static lib name for MSVC
  ports/mysql-connector-cpp/depfindprotobuf.diff
  ports/mysql-connector-cpp/lib-name-static.diff
  ports/mysql-connector-cpp/portfile.cmake
  ports/mysql-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
Labels: category:port-bug, info:reviewed

#42528 [libxml2] Update to v2.13.5
  ports/librsvg/fix-libxml2-2.13.5.patch
  ports/librsvg/portfile.cmake
  ports/librsvg/vcpkg.json
  ports/libxml2/disable-docs.patch
  ports/libxml2/fix_cmakelist.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/librsvg.json
  versions/l-/libxml2.json
Labels: category:port-update, info:reviewed

#42600 [g2o] Update to 20230806_git
  ports/g2o/csparse.diff
  ports/g2o/fix-absolute.patch
  ports/g2o/portfile.cmake
  ports/g2o/vcpkg.json
  ports/rtabmap/fix-find-g2o.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/g-/g2o.json
  versions/r-/rtabmap.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42629 [wampcc] Update to 2024-07-10 and fix dependencies
  ports/wampcc/fix-dependencies.patch
  ports/wampcc/gcc-11.patch
  ports/wampcc/portfile.cmake
  ports/wampcc/vcpkg.json
  versions/baseline.json
  versions/w-/wampcc.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42684 [glaze] v4.0.3
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#42475 [ceres + downstreams] Update to ceres to 2.2.0
  ports/cartographer/fix-build-error.patch
  ports/cartographer/fix-cmake-location.patch
  ports/cartographer/fix-find-packages.patch
  ports/cartographer/portfile.cmake
  ports/cartographer/vcpkg.json
  ports/ceres/0001_cmakelists_fixes.patch
  ports/ceres/0002_use_glog_target.patch
  ports/ceres/0003_fix_exported_ceres_config.patch
  ports/ceres/0004_remove_broken_fake_ba_jac.patch
  ports/ceres/find-package-required.patch
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  ports/openmvg/0002-eigen-3.4.patch
  ports/openmvg/build_fixes.patch
  ports/openmvg/fix-coinutils.patch
  ports/openmvg/portfile.cmake
  ports/openmvg/vcpkg.json
  ports/openturns/fix-dep.patch
  ports/openturns/link-gmp.patch
  ports/openturns/portfile.cmake
  ports/openturns/reorder-mpc.patch
  ports/openturns/vcpkg.json
  ports/rtabmap/ceres-manifold.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  ports/theia/266.diff
  ports/theia/eigen-3.4.patch
  ports/theia/fix-external-dependencies.patch
  ports/theia/fix-external-dependencies2.patch
  ports/theia/fix-last-openimageio.patch
  ports/theia/portfile.cmake
  ports/theia/vcpkg.json
  versions/baseline.json
  versions/c-/ceres.json
  versions/o-/openmvg.json
  versions/o-/openturns.json
  versions/r-/rtabmap.json
Labels: category:port-update, info:reviewed

#42667 [folly] update to 12.09
  ports/fbthrift/fix-test.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#42663 [cpp-httplib] Update to 0.18.3
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#42660 [dcmtk] Update to 3.6.9
  ports/dcmtk/dependencies.diff
  ports/dcmtk/portfile.cmake
  ports/dcmtk/vcpkg.json
  scripts/test_ports/vcpkg-ci-dcmtk/vcpkg.json
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: info:internal, category:port-update, info:reviewed

#42662 [libpopt] Suppress implicit-function-declaration
  ports/libpopt/CMakeLists.txt
  ports/libpopt/vcpkg.json
  versions/baseline.json
  versions/l-/libpopt.json
Labels: category:port-bug, info:internal, info:reviewed

#42647 [kdsingleapplication] new port
  ports/kdsingleapplication/portfile.cmake
  ports/kdsingleapplication/usage
  ports/kdsingleapplication/vcpkg.json
  versions/baseline.json
  versions/k-/kdsingleapplication.json
Labels: category:new-port, info:reviewed

#42537 [lilv] update to 0.24.24
  ports/lilv/CMakeLists.txt
  ports/lilv/portfile.cmake
  ports/lilv/vcpkg.json
  ports/lv2/portfile.cmake
  ports/lv2/vcpkg.json
  ports/serd/CMakeLists.txt
  ports/serd/portfile.cmake
  ports/serd/vcpkg.json
  ports/sord/CMakeLists.txt
  ports/sord/portfile.cmake
  ports/sord/vcpkg.json
  ports/sratom/CMakeLists.txt
  ports/sratom/portfile.cmake
  ports/sratom/vcpkg.json
  ports/zix/fix-win32.patch
  ports/zix/portfile.cmake
  ports/zix/vcpkg.json
  versions/baseline.json
  versions/l-/lilv.json
  versions/l-/lv2.json
  versions/s-/serd.json
  versions/s-/sord.json
  versions/s-/sratom.json
  versions/z-/zix.json
Labels: category:port-bug, category:new-port, info:internal, category:port-update, info:reviewed

#42735 [ptex] fix single config build
  ports/ptex/portfile.cmake
  ports/ptex/vcpkg.json
  versions/baseline.json
  versions/p-/ptex.json
Labels: category:port-bug, info:reviewed

#42733 [pdcurses] Fix missing platform
  ports/pdcurses/portfile.cmake
  ports/pdcurses/vcpkg.json
  versions/baseline.json
  versions/p-/pdcurses.json
Labels: category:port-bug, info:reviewed

#42714 [asio-grpc] Update to 3.4.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#42688 [buck-yeh-bux] Update to 1.10.2
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#42698 [aws-*,s2n] Update ports to their latest versions and support Windows on ARM64.
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-cal/portfile.cmake
  ports/aws-c-cal/vcpkg.json
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-compression/portfile.cmake
  ports/aws-c-compression/vcpkg.json
  ports/aws-c-event-stream/portfile.cmake
  ports/aws-c-event-stream/vcpkg.json
  ports/aws-c-http/portfile.cmake
  ports/aws-c-http/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-c-sdkutils/portfile.cmake
  ports/aws-c-sdkutils/vcpkg.json
  ports/aws-checksums/portfile.cmake
  ports/aws-checksums/vcpkg.json
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/generateFeatures.ps1
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  ports/s2n/portfile.cmake
  ports/s2n/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-cal.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-compression.json
  versions/a-/aws-c-event-stream.json
  versions/a-/aws-c-http.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-c-sdkutils.json
  versions/a-/aws-checksums.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
  versions/s-/s2n.json
Labels: category:port-update, info:reviewed

#42701 [taglib ] Update to version 2.0.2
  ports/taglib/disable-wchar-t-check-emscripten.patch
  ports/taglib/portfile.cmake
  ports/taglib/vcpkg.json
  versions/baseline.json
  versions/t-/taglib.json
Labels: category:port-update, info:reviewed

#42702 [libjpeg-turbo] Update to version 3.1.0
  ports/libjpeg-turbo/add-options-for-exes-docs-headers.patch
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-update, info:reviewed

#42703 [libmediainfo] update to 24.12
  ports/libmediainfo/msvc-arm.diff
  ports/libmediainfo/no-windows-namespace.diff
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  versions/baseline.json
  versions/l-/libmediainfo.json
Labels: category:port-update, info:reviewed

#42710 [tomsolver] Update to 1.0.1
  ports/tomsolver/portfile.cmake
  ports/tomsolver/vcpkg.json
  versions/baseline.json
  versions/t-/tomsolver.json
Labels: category:port-update, info:reviewed

#42739 [mchehab-zbar] Update to 0.23.93
  ports/mchehab-zbar/c99.patch
  ports/mchehab-zbar/issue219.patch
  ports/mchehab-zbar/portfile.cmake
  ports/mchehab-zbar/vcpkg.json
  ports/mchehab-zbar/windows.patch
  ports/mchehab-zbar/x64.patch
  versions/baseline.json
  versions/m-/mchehab-zbar.json
Labels: category:port-update, info:reviewed

#42477 [colmap] Update to port version 3.11.1
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  versions/baseline.json
  versions/c-/colmap.json
Labels: category:port-update, info:reviewed

#42672 [Thorvg] update v0.15.6
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#42699 [fontconfig] Add features, fix emscripten
  ports/fontconfig/emscripten.diff
  ports/fontconfig/portfile.cmake
  ports/fontconfig/usage
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: category:port-feature, info:reviewed

#42700 [stxxl] Cleanup, enable dynamic linkage on !windows
  ports/stxxl/portfile.cmake
  ports/stxxl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/stxxl.json
Labels: info:reviewed, category:code-cleanup

#42718 [arpack-ng] Export Fortran symbols
  ports/arpack-ng/portfile.cmake
  ports/arpack-ng/vcpkg.json
  versions/a-/arpack-ng.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#42695 [libxml2] Fix compilation on iOS
  ports/libxml2/fix_ios_compilation.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-bug, info:reviewed

#42671 [kdsoap] Fix license, usage and dependencies
  ports/kdsoap/fix-license-text.patch
  ports/kdsoap/portfile.cmake
  ports/kdsoap/usage
  ports/kdsoap/vcpkg.json
  versions/baseline.json
  versions/k-/kdsoap.json
Labels: category:port-feature, info:reviewed

#42723 [fltk] Fix abs path
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-bug, info:reviewed

#42697 [capnproto] Support Windows on ARM64.
  ports/capnproto/portfile.cmake
  ports/capnproto/vcpkg.json
  versions/baseline.json
  versions/c-/capnproto.json
Labels: category:port-feature, info:reviewed

#42730 [libxfont] fix single config builds
  ports/libxfont/portfile.cmake
  ports/libxfont/vcpkg.json
  versions/baseline.json
  versions/l-/libxfont.json
Labels: category:port-bug, info:reviewed

#42728 [Libdshowcapture] fix single config builds
  ports/libdshowcapture/portfile.cmake
  ports/libdshowcapture/vcpkg.json
  versions/baseline.json
  versions/l-/libdshowcapture.json
Labels: category:port-bug, info:reviewed

#42727 [krb5] fix single config builds
  ports/krb5/portfile.cmake
  ports/krb5/vcpkg.json
  versions/baseline.json
  versions/k-/krb5.json
Labels: category:port-bug, info:reviewed

#42726 [Kf5testeditor] fix single config
  ports/kf5texteditor/portfile.cmake
  ports/kf5texteditor/vcpkg.json
  versions/baseline.json
  versions/k-/kf5texteditor.json
Labels: category:port-bug, info:reviewed

#42721 [crashpad] fix single config builds
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug, info:reviewed

#42719 [azure-kinect-sensor-sdk] fix single config builds
  ports/azure-kinect-sensor-sdk/fix-builds.patch
  ports/azure-kinect-sensor-sdk/portfile.cmake
  ports/azure-kinect-sensor-sdk/vcpkg.json
  versions/a-/azure-kinect-sensor-sdk.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#42449 [realsense2] fix single config builds
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-feature, info:reviewed

#42446 [usd] fix single config builds
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-bug, info:reviewed

#42442 [ffnvcodec] fix single config builds
  ports/ffnvcodec/portfile.cmake
  ports/ffnvcodec/vcpkg.json
  versions/baseline.json
  versions/f-/ffnvcodec.json
Labels: category:port-bug, info:reviewed

#42724 [g2o] fix abs compiler path in binary
  ports/g2o/fix-absolute.patch
  ports/g2o/vcpkg.json
  versions/baseline.json
  versions/g-/g2o.json
Labels: category:port-bug, info:reviewed

#42638 [gstreamer] Fix multiple definition of functions
  ports/gstreamer/fix-multiple-def.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-bug, info:internal

#42745 [opencv4] Add carotene feature flag
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:reviewed

#42744 [libdeflate] Update to v1.23
  ports/libdeflate/portfile.cmake
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: category:port-update, info:reviewed

#42743 [vcpkg baseline][openfbx] Remove from fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#42742 [dcmtk] remove ICU
  ports/dcmtk/dependencies.diff
  ports/dcmtk/portfile.cmake
  ports/dcmtk/vcpkg.json
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: category:port-bug, info:reviewed

#42729 [Libtorch] remove abs compiler path
  ports/libtorch/no-abs-path.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
Labels: category:port-bug, info:reviewed

#42722 [curlpp] fix abs path
  ports/curlpp/portfile.cmake
  ports/curlpp/vcpkg.json
  versions/baseline.json
  versions/c-/curlpp.json
Labels: category:port-bug, info:reviewed

#42712 [winsparkle] update to 0.8.3
  ports/winsparkle/portfile.cmake
  ports/winsparkle/vcpkg.json
  versions/baseline.json
  versions/w-/winsparkle.json
Labels: category:port-update, info:reviewed

#42664 [kdstatemachineeditor] new port
  ports/kdstatemachineeditor/portfile.cmake
  ports/kdstatemachineeditor/usage
  ports/kdstatemachineeditor/vcpkg.json
  versions/baseline.json
  versions/k-/kdstatemachineeditor.json
Labels: category:new-port, info:reviewed

#42625 [kdreports] new port
  ports/kdreports/fix-cmake-config.patch
  ports/kdreports/fix-license-text.patch
  ports/kdreports/portfile.cmake
  ports/kdreports/usage
  ports/kdreports/vcpkg.json
  versions/baseline.json
  versions/k-/kdreports.json
Labels: category:new-port, info:reviewed

#42578 [unicorn] update version 2.1.1
  ports/unicorn/fix-build.patch
  ports/unicorn/fix-msvc-shared.patch
  ports/unicorn/portfile.cmake
  ports/unicorn/vcpkg.json
  scripts/test_ports/vcpkg-ci-unicorn/portfile.cmake
  scripts/test_ports/vcpkg-ci-unicorn/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-unicorn/project/main.c
  scripts/test_ports/vcpkg-ci-unicorn/vcpkg.json
  versions/baseline.json
  versions/u-/unicorn.json
Labels: category:port-update, info:reviewed

#42737 [gumbo] update to 0.12.2 and switch homepage
  ports/gumbo/portfile.cmake
  ports/gumbo/vcpkg.json
  versions/baseline.json
  versions/g-/gumbo.json
Labels: info:internal, category:port-update, info:reviewed

#42786 [prometheus-cpp] Update to 1.3.0
  ports/prometheus-cpp/portfile.cmake
  ports/prometheus-cpp/vcpkg.json
  versions/baseline.json
  versions/p-/prometheus-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#42776 [sentry-native] update to 0.7.17
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#42766 [libnick] Update to 2024.12.0
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#42763 [glaze] update to 4.2.0
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#42752 [utf8-range] update to 5.29.1
  ports/utf8-range/portfile.cmake
  ports/utf8-range/vcpkg.json
  versions/baseline.json
  versions/u-/utf8-range.json
Labels: info:internal, category:port-update, info:reviewed

#42711 [shiva] Delist
  ports/shiva/find_python_and_no_copy_dll.patch
  ports/shiva/portfile.cmake
  ports/shiva/vcpkg.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#42770 [lilv] Fix dependencies, tools
  ports/lilv/portfile.cmake
  ports/lilv/vcpkg.json
  versions/baseline.json
  versions/l-/lilv.json
Labels: category:port-bug, info:reviewed

#42772 [zix] Sanitize
  ports/zix/fix-win32.patch
  ports/zix/portfile.cmake
  ports/zix/vcpkg.json
  versions/baseline.json
  versions/z-/zix.json
Labels: info:reviewed, category:code-cleanup

#42720 [cppmicroservices] update and devendor stuff
  ports/cppmicroservices/devendor_boost_absl.patch
  ports/cppmicroservices/portfile.cmake
  ports/cppmicroservices/remove-wx.patch
  ports/cppmicroservices/vcpkg.json
  versions/baseline.json
  versions/c-/cppmicroservices.json
Labels: category:port-update, info:reviewed

#42677 [ffmpeg] add implicit link libs (#42676)
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#42694 [openfbx] Miniz dep was removed in latest version and replaced by libdeflate
  ports/openfbx/CMakeLists.txt
  ports/openfbx/unofficial-openfbxConfig.cmake.in
  ports/openfbx/vcpkg.json
  versions/baseline.json
  versions/o-/openfbx.json
Labels: category:port-bug, info:reviewed

#41864 [usd] update to 24.11
  ports/usd/003-fix-dep.patch
  ports/usd/003-vcpkg_find_opensubdiv.patch
  ports/usd/004-fix_cmake_package.patch
  ports/usd/004-vcpkg_find_openimageio.patch
  ports/usd/005-MaterialX_v1.38-39.patch
  ports/usd/005-vcpkg_find_shaderc.patch
  ports/usd/006-vcpkg_find_spirv-reflect.patch
  ports/usd/007-fix_cmake_hgi_interop.patch
  ports/usd/007-vcpkg_find_vma.patch
  ports/usd/008-fix_clang8_compiler_error.patch
  ports/usd/009-vcpkg_install_folder_conventions.patch
  ports/usd/010-cmake_export_plugin_as_modules.patch
  ports/usd/010-fix_missing_find_dependency_vulkan.patch
  ports/usd/011-TBB-2022.patch
  ports/usd/012-fix-find-vulkan.patch
  ports/usd/015-fix_missing_find_dependency_opengl.patch
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42773 [casadi] Deindex.
  ports/casadi/portfile.cmake
  ports/casadi/usage
  ports/casadi/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
Labels: info:internal, category:infrastructure

#42815 [yalantinglibs] Bump to 0.3.11
  ports/yalantinglibs/portfile.cmake
  ports/yalantinglibs/vcpkg.json
  versions/baseline.json
  versions/y-/yalantinglibs.json
Labels: category:port-update, info:reviewed

#42756 [orange-math] new port
  ports/orange-math/portfile.cmake
  ports/orange-math/vcpkg.json
  scripts/test_ports/vcpkg-ci-orange-math/portfile.cmake
  scripts/test_ports/vcpkg-ci-orange-math/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-orange-math/project/main.cpp
  scripts/test_ports/vcpkg-ci-orange-math/vcpkg.json
  versions/baseline.json
  versions/o-/orange-math.json
Labels: category:new-port, info:reviewed

#42814 [vincentlaucsb-csv-parser] Bump to 2.3.0
  ports/vincentlaucsb-csv-parser/portfile.cmake
  ports/vincentlaucsb-csv-parser/vcpkg.json
  versions/baseline.json
  versions/v-/vincentlaucsb-csv-parser.json
Labels: category:port-update, info:reviewed

#42812 [glslang] Bump to 15.1.0
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-update, info:reviewed

#42811 [xsimd] Bump to 13.1.0
  ports/xsimd/portfile.cmake
  ports/xsimd/vcpkg.json
  versions/baseline.json
  versions/x-/xsimd.json
Labels: category:port-update, info:reviewed

#42807 [gazebo] Fix dependencies and update
  ports/gazebo/0001-Fix-deps.patch
  ports/gazebo/fix-tbb.patch
  ports/gazebo/portfile.cmake
  ports/gazebo/vcpkg.json
  versions/baseline.json
  versions/g-/gazebo.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42805 [mongo-cxx-driver] update to 4.0.0
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  scripts/test_ports/vcpkg-ci-mongo-cxx-driver/portfile.cmake
  scripts/test_ports/vcpkg-ci-mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: category:port-feature, info:internal, category:port-update, info:reviewed

#42803 [bshoshany-thread-pool] Updated to v5.0.0
  ports/bshoshany-thread-pool/portfile.cmake
  ports/bshoshany-thread-pool/vcpkg.json
  versions/b-/bshoshany-thread-pool.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#42753 [vcpkg baseline][g2o] Update to 2024-12-14
  ports/g2o/fix-absolute.patch
  ports/g2o/portfile.cmake
  ports/g2o/vcpkg.json
  versions/baseline.json
  versions/g-/g2o.json
Labels: info:internal, category:port-update, info:reviewed

#41125 [aom] Update to 3.11.0
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42615 [juce] Fix cross builds, cleanup
  ports/juce/0002-build-linux-find_packages.patch
  ports/juce/0003-build-forward-vcpkg-toolchain.patch
  ports/juce/0004-install-paths.patch
  ports/juce/devendor-oboe.diff
  ports/juce/gcc-has-builtin.diff
  ports/juce/install-extras.diff
  ports/juce/juceaide.diff
  ports/juce/missing-modules.diff
  ports/juce/portfile.cmake
  ports/juce/prefer-cmake.diff
  ports/juce/vcpkg-compile-definitions.diff
  ports/juce/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-juce/portfile.cmake
  scripts/test_ports/vcpkg-ci-juce/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-juce/project/main.cpp
  scripts/test_ports/vcpkg-ci-juce/vcpkg.json
  versions/baseline.json
  versions/j-/juce.json
Labels: category:port-bug, info:reviewed

#42879 [nyan-lang] Bump to 0.3.1
  ports/nyan-lang/portfile.cmake
  ports/nyan-lang/vcpkg.json
  versions/baseline.json
  versions/n-/nyan-lang.json
Labels: category:port-update, info:reviewed
