Repository microsoft/vcpkg, pull requests merged in 2024-10, with the labels that each got.

#40053 Update to CMake 3.30.1
  scripts/vcpkgTools.xml
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#41203 [sndfile] Delist sndfile
  ports/pulseaudio/vcpkg.json
  ports/sndfile/portfile.cmake
  ports/sndfile/vcpkg.json
  versions/baseline.json
  versions/p-/pulseaudio.json
Labels: info:reviewed, category:code-cleanup, requires:vcpkg-team-review

#41209 [libnice] Update version to 0.1.22
  ports/libnice-gst/portfile.cmake
  ports/libnice-gst/skip_libnice.patch
  ports/libnice-gst/vcpkg.json
  ports/libnice/portfile.cmake
  ports/libnice/vcpkg.json
  versions/baseline.json
  versions/l-/libnice-gst.json
  versions/l-/libnice.json
Labels: info:internal, category:port-update

#41256 Update Daxa to 3.0.1
  ports/daxa/portfile.cmake
  ports/daxa/vcpkg.json
  versions/baseline.json
  versions/d-/daxa.json
Labels: category:port-update

#41301 [live555] Update to version 2024.09.29
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: category:port-update

#41303 [dataframe] Upgrading C++ DataFrame to version 3.3.0
  ports/dataframe/portfile.cmake
  ports/dataframe/vcpkg.json
  versions/baseline.json
  versions/d-/dataframe.json
Labels: category:port-update

#41249 [boost-stacktrace] Fix default-feature backtrace on arm64-osx-dynamic
  ports/boost-stacktrace/fix_config-check.diff
  ports/boost-stacktrace/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-stacktrace.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#41217 [libxlsxwriter] Updated version 1.1.8
  ports/libxlsxwriter/dependencies.diff
  ports/libxlsxwriter/fix-zlib-ver-required.patch
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libxlsxwriter.json
Labels: category:port-update

#41116 [vcpkg-cmake-get-vars] Handle CMAKE_SYSROOT_COMPILE/CMAKE_SYSROOT_LINK
  ports/vcpkg-cmake-get-vars/cmake_get_vars/CMakeLists.txt
  ports/vcpkg-cmake-get-vars/vcpkg.json
  scripts/get_cmake_vars/CMakeLists.txt
  versions/baseline.json
  versions/v-/vcpkg-cmake-get-vars.json
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#41417 [taskflow] update to 3.8.0
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: info:internal, category:port-update, info:reviewed

#41413 [nghttp3] update to v1.6.0
  ports/nghttp3/fix-include-usage.patch
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#41411 [alembic] update to 1.8.7
  ports/alembic/fix-runtime-destination.patch
  ports/alembic/portfile.cmake
  ports/alembic/vcpkg.json
  versions/a-/alembic.json
  versions/baseline.json
Labels: category:port-update

#41409 [aws-*] update to latest
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41408 [mp-units] update to 2.3.0
  ports/mp-units/portfile.cmake
  ports/mp-units/vcpkg.json
  versions/baseline.json
  versions/m-/mp-units.json
Labels: category:port-update, info:reviewed

#41407 [sese] update usage
  ports/sese/001-msvc-pdbs.patch
  ports/sese/portfile.cmake
  ports/sese/usage
  ports/sese/vcpkg.json
  versions/baseline.json
  versions/s-/sese.json
Labels: category:port-feature, info:reviewed

#41398 [libdeflate] Update to v1.22
  ports/libdeflate/portfile.cmake
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: category:port-update, info:reviewed

#41300 [cgal] update to 6.0
  ports/cgal/PR-8523__CGAL_CGAL-protect_against_macro_free-GF.patch
  ports/cgal/portfile.cmake
  ports/cgal/vcpkg.json
  ports/cgal/x86_windows.patch
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-update

#41263 [xbyak] Update to 7.7
  ports/xbyak/portfile.cmake
  ports/xbyak/vcpkg.json
  versions/baseline.json
  versions/x-/xbyak.json
Labels: info:internal, category:port-update

#41427 [liblzma] update to 5.6.3
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  ports/liblzma/win_output_name.patch
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-update, info:reviewed

#41421 [ace] update to 8.0.1
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#41419 [mongo-cxx-driver] update mongo-cxx-driver to 3.11.0
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: info:internal, category:port-update, info:reviewed

#41415 [wxwidgets] Update to 3.2.6
  ports/wxwidgets/nanosvg-ext-depend.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/sdl2.patch
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: info:internal, category:port-update, info:reviewed

#37473 [glib] Update to 2.80.0
  ports/glib/0005-pr-4133-4143-avoid-package-packaging.patch
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: info:internal, category:port-update, info:reviewed

#41083 [libressl,vcpkg-ci-libressl] Test and fix exported config and wrapper
  ports/libressl/pkgconfig.diff
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg-cmake-wrapper.cmake.in
  ports/libressl/vcpkg.json
  scripts/test_ports/vcpkg-ci-libressl/portfile.cmake
  scripts/test_ports/vcpkg-ci-libressl/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libressl/project/libressl.c
  scripts/test_ports/vcpkg-ci-libressl/project/openssl.c
  versions/baseline.json
  versions/l-/libressl.json
Labels: category:port-feature, info:reviewed

#40916 [vcpkg_find_acquire_program] Fix extraction, cleanup
  scripts/cmake/vcpkg_find_acquire_program.cmake
  scripts/test_ports/vcpkg-find-acquire-program/portfile.cmake
Labels: category:vcpkg-bug, info:reviewed

#41451 [urho3d] Remove from the registry.
  ports/urho3d/add_options.patch
  ports/urho3d/asm_files.patch
  ports/urho3d/externalproject.patch
  ports/urho3d/fix-dependency-readline.patch
  ports/urho3d/fix-install.patch
  ports/urho3d/macosx.patch
  ports/urho3d/portfile.cmake
  ports/urho3d/shared_libs.patch
  ports/urho3d/vcpkg-cmake-wrapper.cmake
  ports/urho3d/vcpkg.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#41444 [exiv2] Fix exiv2 find package expat
  ports/exiv2/dependencies.diff
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-bug, info:reviewed

#41366 [skia] Bump dng_sdk version in portfile.cmake to fix build on musl
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-update, info:reviewed

#41495 [libuv] update to 1.49.0
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-update

#41494 [matio] update to 1.5.27
  ports/matio/portfile.cmake
  ports/matio/vcpkg.json
  versions/baseline.json
  versions/m-/matio.json
Labels: category:port-update

#41493 [marble] update to 24.08.2
  ports/marble/portfile.cmake
  ports/marble/vcpkg.json
  versions/baseline.json
  versions/m-/marble.json
Labels: category:port-update

#41492 [lzav] update to 4.0
  ports/lzav/portfile.cmake
  ports/lzav/vcpkg.json
  versions/baseline.json
  versions/l-/lzav.json
Labels: category:port-update

#41491 [lightgbm] update to 4.5.0
  ports/lightgbm/portfile.cmake
  ports/lightgbm/vcpkg.json
  versions/baseline.json
  versions/l-/lightgbm.json
Labels: category:port-update

#41490 [libsoup] update to 3.6.0
  ports/libsoup/portfile.cmake
  ports/libsoup/vcpkg.json
  versions/baseline.json
  versions/l-/libsoup.json
Labels: category:port-update

#41487 [librdkafka] update to 2.6.0
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update

#41485 [z3] Update to 4.13.3
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update

#41484 [liberasurecode] update to 1.6.4
  ports/liberasurecode/portfile.cmake
  ports/liberasurecode/vcpkg.json
  versions/baseline.json
  versions/l-/liberasurecode.json
Labels: category:port-update

#41477 [libmidi2] Update to v0.13
  ports/libmidi2/portfile.cmake
  ports/libmidi2/vcpkg.json
  versions/baseline.json
  versions/l-/libmidi2.json
Labels: category:port-update, info:reviewed

#41475 [realsense2] Apply upstream arm64 fix
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-bug, info:internal

#41470 [nativefiledialog-extended] update to 1.2.1
  ports/nativefiledialog-extended/portfile.cmake
  ports/nativefiledialog-extended/vcpkg.json
  versions/baseline.json
  versions/n-/nativefiledialog-extended.json
Labels: category:port-update

#41469 [nanopb] update to 0.4.9
  ports/nanopb/fix-cmakelist.patch
  ports/nanopb/portfile.cmake
  ports/nanopb/vcpkg.json
  versions/baseline.json
  versions/n-/nanopb.json
Labels: category:port-update, info:reviewed

#41466 [libvault] update to 0.61.0
  ports/libvault/0001-fix-dependencies.patch
  ports/libvault/portfile.cmake
  ports/libvault/vcpkg.json
  versions/baseline.json
  versions/l-/libvault.json
Labels: category:port-update, info:reviewed

#41464 [libhv] update to 1.3.3
  ports/libhv/portfile.cmake
  ports/libhv/vcpkg.json
  versions/baseline.json
  versions/l-/libhv.json
Labels: category:port-update, info:reviewed

#41460 [libical] update to 3.0.18
  ports/libical/portfile.cmake
  ports/libical/vcpkg.json
  versions/baseline.json
  versions/l-/libical.json
Labels: category:port-update, info:reviewed

#41456 [mongo-c-driver] update to 1.28.1
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update

#41455 [c-ares] update to 1.34.1
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#41387 [nsync] update to 1.29.2
  ports/nsync/export-targets.patch
  ports/nsync/fix-install.patch
  ports/nsync/portfile.cmake
  ports/nsync/vcpkg.json
  versions/baseline.json
  versions/n-/nsync.json
Labels: category:port-update, info:reviewed

#41453 [libpcap] Update to 1.10.5, cleanup
  ports/libpcap/add-disable-packet-option.patch
  ports/libpcap/install-pc-on-msvc.patch
  ports/libpcap/install.diff
  ports/libpcap/mingw-dynamic-libname.diff
  ports/libpcap/portfile.cmake
  ports/libpcap/vcpkg.json
  ports/nmap/pcap_socket.diff
  ports/nmap/portfile.cmake
  ports/nmap/vcpkg.json
  versions/baseline.json
  versions/l-/libpcap.json
  versions/n-/nmap.json
Labels: category:port-update, category:code-cleanup

#41461 [Daxa] Fix missing header <algorithm> for std::sort
  ports/daxa/fix-std-sort.patch
  ports/daxa/portfile.cmake
  ports/daxa/vcpkg.json
  versions/baseline.json
  versions/d-/daxa.json
Labels: category:port-bug, info:internal, info:reviewed

#41439 [directx-dxc] fix libdxil.so not found
  ports/directx-dxc/directx-dxc-config.cmake.in
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:port-bug, info:internal, info:reviewed

#41310 [vxl] Revise deps, enable CI, add test port
  ports/vxl/cmake-package.diff
  ports/vxl/devendor.diff
  ports/vxl/disable-tests.diff
  ports/vxl/file_formats.diff
  ports/vxl/fix_dependency.patch
  ports/vxl/int_64.diff
  ports/vxl/limits.diff
  ports/vxl/mingw.diff
  ports/vxl/omit-broken-install.diff
  ports/vxl/openjpeg.diff
  ports/vxl/portfile.cmake
  ports/vxl/usage
  ports/vxl/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-vxl/portfile.cmake
  scripts/test_ports/vcpkg-ci-vxl/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-vxl/project/main.cpp
  scripts/test_ports/vcpkg-ci-vxl/vcpkg.json
  versions/baseline.json
  versions/v-/vxl.json
Labels: category:port-feature, category:port-bug, info:reviewed

#41548 [libarchive] Update to 3.7.7
  ports/libarchive/portfile.cmake
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-update, info:reviewed

#41543 [openimageio] update to 2.5.16.0
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-update, info:reviewed

#41544 [rapidcsv] update to 8.84
  ports/rapidcsv/portfile.cmake
  ports/rapidcsv/vcpkg.json
  versions/baseline.json
  versions/r-/rapidcsv.json
Labels: category:port-update, info:reviewed

#41537 [async-mqtt] update port to 9.0.2
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41540 [openexr] update to 3.3.1
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  versions/baseline.json
  versions/o-/openexr.json
Labels: category:port-update, info:reviewed

#41531 [zoe] Update to v3.2
  ports/zoe/portfile.cmake
  ports/zoe/vcpkg.json
  versions/baseline.json
  versions/z-/zoe.json
Labels: category:port-update, info:reviewed

#41526 [ffnvcodec] update to 12.2.72.0
  ports/ffnvcodec/portfile.cmake
  ports/ffnvcodec/vcpkg.json
  versions/baseline.json
  versions/f-/ffnvcodec.json
Labels: category:port-update, info:reviewed

#41523 [nlopt] update to 2.8.0
  ports/nlopt/portfile.cmake
  ports/nlopt/vcpkg.json
  versions/baseline.json
  versions/n-/nlopt.json
Labels: category:port-update, info:reviewed

#41535 [ffmpeg] fix cross builds on windows.
  ports/ffmpeg/vcpkg-cmake-wrapper.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: info:reviewed, category:community-triplet

#41530 [libuv] Update to 1.49.1
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-update, info:reviewed

#41522 [nghttp2] update to 1.63.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#41517 [mujs] update to 1.3.5
  ports/mujs/portfile.cmake
  ports/mujs/vcpkg.json
  versions/baseline.json
  versions/m-/mujs.json
Labels: category:port-update, info:reviewed

#41515 [msgpack-c] update to 6.1.0
  ports/msgpack-c/portfile.cmake
  ports/msgpack-c/vcpkg.json
  versions/baseline.json
  versions/m-/msgpack-c.json
Labels: category:port-update, info:reviewed

#41513 [mlpack] update to 4.5.0
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: category:port-update, info:reviewed

#41518 [vxl] Update to 3.5.0
  ports/vxl/file_formats.diff
  ports/vxl/int_64.diff
  ports/vxl/mingw.diff
  ports/vxl/omit-broken-install.diff
  ports/vxl/portfile.cmake
  ports/vxl/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-vxl/project/CMakeLists.txt
  versions/baseline.json
  versions/v-/vxl.json
Labels: category:port-update, info:reviewed

#41558 [quantlib] update to v1.36
  ports/quantlib/portfile.cmake
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update, info:reviewed

#41511 [mapbox-polylabel] update to 2.0.1
  ports/mapbox-polylabel/portfile.cmake
  ports/mapbox-polylabel/vcpkg.json
  versions/baseline.json
  versions/m-/mapbox-polylabel.json
Labels: category:port-update, info:reviewed

#41497 [glib] Disable host introspection
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-bug, info:internal, info:reviewed

#41459 [simd] update to 6.1.142
  ports/simd/portfile.cmake
  ports/simd/vcpkg.json
  versions/baseline.json
  versions/s-/simd.json
Labels: info:internal, category:port-update, info:reviewed

#41547 [tiff] Update to 4.7.0
  ports/tiff/portfile.cmake
  ports/tiff/prefer-config.diff
  ports/tiff/requires-lerc.patch
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-update, info:reviewed

#38751 [dlib] Update to 19.24.6
  ports/dlib/fix-dependencies.patch
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: info:internal, category:port-update, info:reviewed

#41119 [aurora-au] new port
  ports/aurora-au/disable-googletest.patch
  ports/aurora-au/portfile.cmake
  ports/aurora-au/usage
  ports/aurora-au/vcpkg.json
  versions/a-/aurora-au.json
  versions/baseline.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#41282 [tobias-loew-flags] add new port
  ports/tobias-loew-flags/add-install-configuration.patch
  ports/tobias-loew-flags/portfile.cmake
  ports/tobias-loew-flags/vcpkg.json
  versions/baseline.json
  versions/t-/tobias-loew-flags.json
Labels: category:new-port, info:reviewed

#41575 [perfetto] update to 48.1
  ports/perfetto/portfile.cmake
  ports/perfetto/vcpkg.json
  versions/baseline.json
  versions/p-/perfetto.json
Labels: category:port-update, info:reviewed

#41552 [gdcm] Update to 3.0.24, cleanup
  ports/gdcm/Fix-Cmake_DIR.patch
  ports/gdcm/copyright.diff
  ports/gdcm/fix-dependence-getopt.patch
  ports/gdcm/fix-share-path.patch
  ports/gdcm/include-no-namespace.diff
  ports/gdcm/no-absolute-paths.diff
  ports/gdcm/portfile.cmake
  ports/gdcm/prefer-config.diff
  ports/gdcm/use-openjpeg-config.patch
  ports/gdcm/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdcm.json
Labels: category:port-bug, category:port-update, info:reviewed, category:code-cleanup

#41488 [triangle] Revise CMakeLists.txt and exported config
  ports/triangle/CMakeLists.txt
  ports/triangle/portfile.cmake
  ports/triangle/triangleConfig.cmake
  ports/triangle/usage
  ports/triangle/vcpkg.json
  versions/baseline.json
  versions/t-/triangle.json
Labels: category:port-feature, info:reviewed

#41480 [folly related] update to 10.07
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/fix-fmt-patch-for-old-cmake.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/fix-cmake.patch
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#41476 [librtpi] add port
  ports/librtpi/portfile.cmake
  ports/librtpi/unofficial-librtpi-config.cmake
  ports/librtpi/vcpkg.json
  versions/baseline.json
  versions/l-/librtpi.json
Labels: category:new-port, info:reviewed

#41467 [libmupdf] Update to 1.24.10
  ports/libmupdf/dont-generate-extract-3rd-party-things.patch
  ports/libmupdf/portfile.cmake
  ports/libmupdf/vcpkg.json
  versions/baseline.json
  versions/l-/libmupdf.json
Labels: info:internal, category:port-update, info:reviewed

#41486 [skia] Set the win_sdk gn arg to %WindowsSdkDir% on Windows
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:reviewed

#41468 [poselib] add new port
  ports/poselib/portfile.cmake
  ports/poselib/vcpkg.json
  versions/baseline.json
  versions/p-/poselib.json
Labels: category:new-port, info:reviewed

#41442 [libedit] Add new port
  ports/libedit/portfile.cmake
  ports/libedit/vcpkg.json
  versions/baseline.json
  versions/l-/libedit.json
Labels: category:new-port, info:reviewed

#40868 [Jsonifier] to v0.9.97 and [DiscordCoreAPI] to v2.0.7
  ports/discordcoreapi/portfile.cmake
  ports/discordcoreapi/vcpkg.json
  ports/jsonifier/portfile.cmake
  ports/jsonifier/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/discordcoreapi.json
  versions/j-/jsonifier.json
Labels: category:port-update, info:reviewed

#41416 [apr] Add HOST_TOOLS_DIR/gen_test_char for cross-compiling to Windows
  ports/activemq-cpp/vcpkg.json
  ports/apr/0100-add-host-tools-dir.diff
  ports/apr/portfile.cmake
  ports/apr/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/activemq-cpp.json
  versions/a-/apr.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#41584 [direcxtmath] Update for version 3.20
  ports/directxmath/portfile.cmake
  ports/directxmath/vcpkg.json
  versions/baseline.json
  versions/d-/directxmath.json
Labels: category:port-update, info:reviewed

#41569 [libavif] Update to 1.1.1
  ports/libavif/disable-source-utf8.patch
  ports/libavif/find-dependency.patch
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  versions/baseline.json
  versions/l-/libavif.json
Labels: info:internal, category:port-update, info:reviewed

#41602 [fakeit] Update to 2.4.1
  ports/fakeit/portfile.cmake
  ports/fakeit/vcpkg.json
  versions/baseline.json
  versions/f-/fakeit.json
Labels: category:port-update, info:reviewed

#41599 [pangolin] update to 0.9.2
  ports/pangolin/devendor-palsigslot.patch
  ports/pangolin/ffmpeg-vxmc.patch
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: category:port-update, info:reviewed

#41597 [pagmo2] update to 2.19.1
  ports/pagmo2/portfile.cmake
  ports/pagmo2/vcpkg.json
  versions/baseline.json
  versions/p-/pagmo2.json
Labels: category:port-update, info:reviewed

#41593 [aws-*] update to latest
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-common.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41598 [pango] update to 1.54.0
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: category:port-update, info:reviewed

#41578 [vcpkg scripts] enable patchelf on windows for cross-compiling toolchains
  scripts/cmake/vcpkg_find_acquire_program(PATCHELF).cmake
Labels: info:reviewed, category:tool-update

#41564 [gdal] Update to 3.9.3
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#40067 [onnx] Update onnx to 1.16.2 and fix downstream
  ports/libtorch/cmake-fixes.patch
  ports/libtorch/fix-build.patch
  ports/libtorch/more-fixes.patch
  ports/libtorch/vcpkg.json
  ports/onnx-optimizer/fix-cmakelists.patch
  ports/onnx-optimizer/portfile.cmake
  ports/onnx-optimizer/remove-outdate-headers.patch
  ports/onnx-optimizer/vcpkg.json
  ports/onnx/fix-dependency-protobuf.patch
  ports/onnx/portfile.cmake
  ports/onnx/vcpkg.json
  ports/openvino/002-fix-onnx.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
  versions/o-/onnx-optimizer.json
  versions/o-/onnx.json
  versions/o-/openvino.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#41550 [gdcm2] Delist port
  ports/gdcm2/portfile.cmake
  ports/gdcm2/vcpkg.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#41458 [nmap] Delist
  ports/nmap/fix-msvc-prj.patch
  ports/nmap/fix-snprintf.patch
  ports/nmap/fix-ssize_t.patch
  ports/nmap/pcap_socket.diff
  ports/nmap/portfile.cmake
  ports/nmap/usage
  ports/nmap/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#41623 [libnick] Update to 2024.10.0
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#41620 [fastdds] update to 3.1.0
  ports/fastdds/portfile.cmake
  ports/fastdds/vcpkg.json
  versions/baseline.json
  versions/f-/fastdds.json
Labels: category:port-update, info:reviewed

#41612 [pegtl] update to 3.2.8
  ports/pegtl/portfile.cmake
  ports/pegtl/vcpkg.json
  versions/baseline.json
  versions/p-/pegtl.json
Labels: category:port-update, info:reviewed

#41601 [librtpi] include condition_variable.hpp fix
  ports/librtpi/condition_variable-fix-wait_until-predicate-evaluation.patch
  ports/librtpi/portfile.cmake
  ports/librtpi/vcpkg.json
  versions/baseline.json
  versions/l-/librtpi.json
Labels: category:port-bug, info:reviewed

#40911 [openblas] update openblas to 0.3.28
  ports/openblas/portfile.cmake
  ports/openblas/vcpkg.json
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-update, info:reviewed

#41232 [python3] Update port to 3.11.10, tools to 3.12.7
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  ports/vcpkg-get-python-packages/vcpkg.json
  ports/vcpkg-get-python-packages/x_vcpkg_get_python_packages.cmake
  scripts/cmake/vcpkg_find_acquire_program(PYTHON3).cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
  versions/v-/vcpkg-get-python-packages.json
Labels: category:port-update, info:reviewed

#41322 [osgEarth] Update port to osgEarth 3.7
  ports/osgearth/blend2d.patch
  ports/osgearth/export-plugins.patch
  ports/osgearth/find-package.patch
  ports/osgearth/install-plugins.patch
  ports/osgearth/link-libraries.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/protobuf.patch
  ports/osgearth/remove-lerc-gltf.patch
  ports/osgearth/remove-tool-debug-suffix.patch
  ports/osgearth/vcpkg.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-update, info:reviewed

#41630 [reproc] update to 14.2.5
  ports/reproc/fix-gcc13-build-error.patch
  ports/reproc/portfile.cmake
  ports/reproc/vcpkg.json
  versions/baseline.json
  versions/r-/reproc.json
Labels: category:port-update, info:reviewed

#41614 [plasma-wayland-protocols] update to 1.14.0
  ports/plasma-wayland-protocols/portfile.cmake
  ports/plasma-wayland-protocols/vcpkg.json
  versions/baseline.json
  versions/p-/plasma-wayland-protocols.json
Labels: category:port-update, info:reviewed

#41585 Patch Tuesday for October 2024
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-azure-cli.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
Labels: info:internal, category:infrastructure

#41637 [s2n] update to 1.5.5
  ports/s2n/portfile.cmake
  ports/s2n/vcpkg.json
  versions/baseline.json
  versions/s-/s2n.json
Labels: category:port-update, info:reviewed

#41636 [openssl-*] Delist
  ports/openssl-unix/portfile.cmake
  ports/openssl-unix/vcpkg.json
  ports/openssl-uwp/portfile.cmake
  ports/openssl-uwp/vcpkg.json
  ports/openssl-windows/portfile.cmake
  ports/openssl-windows/vcpkg.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#41634 [roaring] update to 4.2.1
  ports/roaring/portfile.cmake
  ports/roaring/vcpkg.json
  versions/baseline.json
  versions/r-/roaring.json
Labels: category:port-update, info:reviewed

#41632 [rkcommon] update to 1.14.2
  ports/rkcommon/fix-static.patch
  ports/rkcommon/portfile.cmake
  ports/rkcommon/vcpkg.json
  versions/baseline.json
  versions/r-/rkcommon.json
Labels: category:port-update, info:reviewed

#41631 [rhash] update to 1.4.5
  ports/rhash/portfile.cmake
  ports/rhash/vcpkg.json
  versions/baseline.json
  versions/r-/rhash.json
Labels: category:port-update, info:reviewed

#41629 [superlu] Update to 7.0.0
  ports/superlu/portfile.cmake
  ports/superlu/vcpkg.json
  versions/baseline.json
  versions/s-/superlu.json
Labels: info:internal, category:port-update, info:reviewed

#41622 [rocksdb] update to 9.7.2
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#41524 [nng] update to 1.9.0
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: category:port-update, info:reviewed

#41566 [proj] Update to 9.5.0
  ports/proj/fix-gcc-version-less-8.patch
  ports/proj/fix-win-output-name.patch
  ports/proj/portfile.cmake
  ports/proj/sqlite.diff
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-update, info:reviewed

#41613 [pipewire] update to 1.2.5
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: category:port-update, info:reviewed

#41616 [redis-plus-plus] update to 1.3.13
  ports/redis-plus-plus/fix-absolute-path.patch
  ports/redis-plus-plus/fix-conversion.patch
  ports/redis-plus-plus/fix-dependency-libuv.patch
  ports/redis-plus-plus/portfile.cmake
  ports/redis-plus-plus/vcpkg.json
  versions/baseline.json
  versions/r-/redis-plus-plus.json
Labels: category:port-update, info:reviewed

#41615 [ptex] update to 2.4.3
  ports/ptex/fix-build.patch
  ports/ptex/portfile.cmake
  ports/ptex/vcpkg.json
  versions/baseline.json
  versions/p-/ptex.json
Labels: category:port-update

#41595 [opentelemetry-cpp] update to 1.17.0
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update

#41586 [vulkan-sdk-*] Update to 1.3.296
  ports/glslang/0001-Fix-glslangValidator-installation.patch
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  ports/lunarg-vulkantools/portfile.cmake
  ports/lunarg-vulkantools/vcpkg.json
  ports/spirv-cross/portfile.cmake
  ports/spirv-cross/vcpkg.json
  ports/spirv-headers/portfile.cmake
  ports/spirv-headers/vcpkg.json
  ports/spirv-reflect/portfile.cmake
  ports/spirv-reflect/vcpkg.json
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/vcpkg.json
  ports/volk/portfile.cmake
  ports/volk/vcpkg.json
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-loader/portfile.cmake
  ports/vulkan-loader/vcpkg.json
  ports/vulkan-sdk-components/vcpkg.json
  ports/vulkan-tools/portfile.cmake
  ports/vulkan-tools/vcpkg.json
  ports/vulkan-utility-libraries/portfile.cmake
  ports/vulkan-utility-libraries/vcpkg.json
  ports/vulkan-validationlayers/portfile.cmake
  ports/vulkan-validationlayers/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
  versions/l-/lunarg-vulkantools.json
  versions/s-/spirv-cross.json
  versions/s-/spirv-headers.json
  versions/s-/spirv-reflect.json
  versions/s-/spirv-tools.json
  versions/v-/volk.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-loader.json
  versions/v-/vulkan-sdk-components.json
  versions/v-/vulkan-tools.json
  versions/v-/vulkan-utility-libraries.json
  versions/v-/vulkan-validationlayers.json
Labels: category:port-update, info:reviewed

#41688 [DPP] Bump to version 10.0.33
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#41661 [srpc] update to 0.10.3
  ports/srpc/portfile.cmake
  ports/srpc/vcpkg.json
  versions/baseline.json
  versions/s-/srpc.json
Labels: category:port-update, info:reviewed

#41686 [conjure-enum] update to 1.1.0
  ports/conjure-enum/portfile.cmake
  ports/conjure-enum/vcpkg.json
  versions/baseline.json
  versions/c-/conjure-enum.json
Labels: category:port-update, info:reviewed

#41672 [libuv] Update to 1.49.2
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-update, info:reviewed

#41662 [stringzilla] update to 3.10.5
  ports/stringzilla/portfile.cmake
  ports/stringzilla/vcpkg.json
  versions/baseline.json
  versions/s-/stringzilla.json
Labels: category:port-update, info:reviewed

#41650 Update vcpkg-tool to 2024-10-18.
  scripts/update-vcpkg-tool-metadata.ps1
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#41554 [directx-dxc] fix error location path
  ports/directx-dxc/directx-dxc-config.cmake.in
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:port-bug, info:internal, info:reviewed

#41527 [oniguruma] update to 6.9.9
  ports/oniguruma/portfile.cmake
  ports/oniguruma/vcpkg.json
  versions/baseline.json
  versions/o-/oniguruma.json
Labels: category:port-update, info:reviewed

#41657 [libspatialindex] update to 2.0.0
  ports/libspatialindex/mingw.patch
  ports/libspatialindex/portfile.cmake
  ports/libspatialindex/static.patch
  ports/libspatialindex/vcpkg.json
  versions/baseline.json
  versions/l-/libspatialindex.json
Labels: category:port-update, info:reviewed

#41674 [libxmlpp] Update to 5.4.0
  ports/libxmlpp/portfile.cmake
  ports/libxmlpp/vcpkg.json
  versions/baseline.json
  versions/l-/libxmlpp.json
Labels: category:port-update, info:reviewed

#41684 [mimicpp] new port
  ports/mimicpp/portfile.cmake
  ports/mimicpp/vcpkg.json
  versions/baseline.json
  versions/m-/mimicpp.json
Labels: category:new-port, info:reviewed

#41667 [freerdp] Update to 3.8.0
  ports/freerdp/install-layout.patch
  ports/freerdp/keep-dup-libs.patch
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  ports/freerdp/winpr_strerror.patch
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-update, info:reviewed

#41638 [simsimd] update to 5.7.3
  ports/simsimd/portfile.cmake
  ports/simsimd/vcpkg.json
  versions/baseline.json
  versions/s-/simsimd.json
Labels: info:internal, category:port-update, info:reviewed

#41691 [baseline] Temporarily skip vcpkg-ci-msys2
  scripts/ci.baseline.txt
Labels: info:reviewed, category:infrastructure

#41706 [fluidsynth] Update to 2.3.7
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#41705 [asio-grpc] Update to 3.2.1
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41660 [sqlite-orm] update to 1.9
  ports/sqlite-orm/fix-uwp.patch
  ports/sqlite-orm/portfile.cmake
  ports/sqlite-orm/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite-orm.json
Labels: category:port-update, info:reviewed

#41673 [folly related] update to 10.14
  ports/fbthrift/fix-deps.patch
  ports/fbthrift/fix-glog.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/fix-cmake.patch
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#41652 [libssh2] Update to 1.11.1
  ports/cppfs/ssh-dependencies.diff
  ports/cppfs/vcpkg.json
  ports/curl/dependencies.patch
  ports/curl/vcpkg-cmake-wrapper.cmake
  ports/curl/vcpkg.json
  ports/libssh2/portfile.cmake
  ports/libssh2/usage
  ports/libssh2/vcpkg.json
  versions/baseline.json
  versions/c-/cppfs.json
  versions/c-/curl.json
  versions/l-/libssh2.json
Labels: category:port-update, info:reviewed

#41420 [asyncplusplus] Update asyncplusplus to v1.2
  ports/asyncplusplus/portfile.cmake
  ports/asyncplusplus/vcpkg.json
  versions/a-/asyncplusplus.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41471 [libfido2] Update to 1.15.0
  ports/libfido2/portfile.cmake
  ports/libfido2/vcpkg.json
  versions/baseline.json
  versions/l-/libfido2.json
Labels: info:internal, category:port-update, info:reviewed

#41689 [vcpkg baseline][vulkan-utility-libraries] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#41714 [nghttp2] update to 1.64.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#41709 [glew] add supports
  ports/glew/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/glew.json
Labels: category:port-feature, info:internal, info:reviewed

#41704 [shiftmedia-libgnutls, nettle] update shiftmedia-libgnutls to 3.8.7, add symbols in nettle for shiftmedia-libgnutls
  ports/nettle/nettle-arm.def
  ports/nettle/nettle-arm64.def
  ports/nettle/nettle-x64.def
  ports/nettle/nettle-x86.def
  ports/nettle/vcpkg.json
  ports/shiftmedia-libgnutls/external-libtasn1.patch
  ports/shiftmedia-libgnutls/fix-warnings.patch
  ports/shiftmedia-libgnutls/mkdir.patch
  ports/shiftmedia-libgnutls/portfile.cmake
  ports/shiftmedia-libgnutls/ssize_t_already_define.patch
  ports/shiftmedia-libgnutls/vcpkg.json
  versions/baseline.json
  versions/n-/nettle.json
  versions/s-/shiftmedia-libgnutls.json
Labels: category:port-update, info:reviewed

#41703 [ms-gsl] update GSL to version 4.1.0
  ports/ms-gsl/portfile.cmake
  ports/ms-gsl/vcpkg.json
  versions/baseline.json
  versions/m-/ms-gsl.json
Labels: category:port-update, info:reviewed

#41663 [vcpkg CI] Skip signalrclient, test microsoft-signalr
  scripts/ci.baseline.txt
Labels: info:reviewed, category:infrastructure

#41677 [fixed-containers] add new port
  ports/fixed-containers/add-install-configuration.patch
  ports/fixed-containers/fixed_containersConfig.cmake.in
  ports/fixed-containers/portfile.cmake
  ports/fixed-containers/vcpkg.json
  versions/baseline.json
  versions/f-/fixed-containers.json
Labels: category:new-port, info:reviewed

#41649 [casadi] first step (no dependencies)
  ports/casadi/portfile.cmake
  ports/casadi/usage
  ports/casadi/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/casadi.json
Labels: category:new-port, info:reviewed
