Repository microsoft/vcpkg, pull requests merged in 2024-04, with the labels that each got.

#37844 [vcpkg scripts] Update msys2 pkgconf to 2.2.0
  scripts/cmake/vcpkg_find_acquire_program(PKGCONFIG).cmake
Labels: info:reviewed, category:tool-update

#37848 [tmx] update to 1.4.0
  ports/tmx/libxml2.patch
  ports/tmx/portfile.cmake
  ports/tmx/vcpkg.json
  versions/baseline.json
  versions/t-/tmx.json
Labels: category:port-update, info:reviewed

#37852 [toml11] update to 3.8.1
  ports/toml11/portfile.cmake
  ports/toml11/vcpkg.json
  versions/baseline.json
  versions/t-/toml11.json
Labels: category:port-update, info:reviewed

#37861 [urdfdom-headers] update to 1.1.1
  ports/urdfdom-headers/fix-include-path.patch
  ports/urdfdom-headers/portfile.cmake
  ports/urdfdom-headers/vcpkg.json
  versions/baseline.json
  versions/u-/urdfdom-headers.json
Labels: category:port-update, info:reviewed

#37862 [aws-c-s3] update to 0.5.4
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  versions/a-/aws-c-s3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#37864 [uthenticode] update to 2.0.1
  ports/uthenticode/openssl.patch
  ports/uthenticode/portfile.cmake
  ports/uthenticode/vcpkg.json
  versions/baseline.json
  versions/u-/uthenticode.json
Labels: category:port-update, info:reviewed

#37894 [uwebsockets] update to 20.62.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: category:port-update, info:reviewed

#37891 [libmediainfo] update to 24.03
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  versions/baseline.json
  versions/l-/libmediainfo.json
Labels: category:port-update, info:reviewed

#37886 [cpptrace] Add v0.5.2
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#37879 [harfbuzz] Update to 8.4.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#37892 [libcap] Fix download URLS from 2.68 to 2.69
  ports/libcap/portfile.cmake
  ports/libcap/vcpkg.json
  versions/baseline.json
  versions/l-/libcap.json
Labels: category:port-bug, info:internal

#37794 [libunibreak] Add the missing header files
  ports/libunibreak/CMakeLists.txt
  ports/libunibreak/fix_export.patch
  ports/libunibreak/portfile.cmake
  ports/libunibreak/vcpkg.json
  versions/baseline.json
  versions/l-/libunibreak.json
Labels: category:port-bug, info:internal, info:reviewed

#37869 [libmount,libsystemd] Updates, fixes
  ports/libmount/hide-private-symbols.diff
  ports/libmount/portfile.cmake
  ports/libmount/vcpkg.json
  ports/libsystemd/disable-warning-nonnull.patch
  ports/libsystemd/only-libsystemd.patch
  ports/libsystemd/pkgconfig.patch
  ports/libsystemd/portfile.cmake
  ports/libsystemd/vcpkg.json
  versions/baseline.json
  versions/l-/libmount.json
  versions/l-/libsystemd.json
Labels: category:port-bug, category:port-update, info:reviewed

#37877 [gklib] Update, fix android
  ports/gklib/android.patch
  ports/gklib/build-fixes.patch
  ports/gklib/fix-mingw.patch
  ports/gklib/portfile.cmake
  ports/gklib/vcpkg.json
  versions/baseline.json
  versions/g-/gklib.json
Labels: category:port-bug, category:port-update, info:reviewed

#37878 [arrow] Fix android
  ports/arrow/android.patch
  ports/arrow/fix-ci-error.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#37896 [Thorvg] Update Thorvg port to v0.12.9
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update

#37880 [orc] update to 2.0.0
  ports/orc/fix-cmake.patch
  ports/orc/portfile.cmake
  ports/orc/vcpkg.json
  versions/baseline.json
  versions/o-/orc.json
Labels: category:port-update

#37856 [tsl-hopscotch-map] update to 2.3.1
  ports/tsl-hopscotch-map/portfile.cmake
  ports/tsl-hopscotch-map/vcpkg.json
  versions/baseline.json
  versions/t-/tsl-hopscotch-map.json
Labels: category:port-update

#37381 [iowa-hills-dsp] Add new port
  ports/iowa-hills-dsp/portfile.cmake
  ports/iowa-hills-dsp/vcpkg.json
  versions/baseline.json
  versions/i-/iowa-hills-dsp.json
Labels: category:new-port

#37654 [zlmediakit] update zlmediakit to 20240330.0
  ports/zlmediakit/fix-dependency.patch
  ports/zlmediakit/portfile.cmake
  ports/zlmediakit/vcpkg.json
  versions/baseline.json
  versions/z-/zlmediakit.json
Labels: category:port-feature, category:port-update, requires:vcpkg-team-review

#37908 [etcd-cpp-apiv3] Update, cleanup
  ports/etcd-cpp-apiv3/portfile.cmake
  ports/etcd-cpp-apiv3/usage
  ports/etcd-cpp-apiv3/vcpkg.json
  versions/baseline.json
  versions/e-/etcd-cpp-apiv3.json
Labels: category:port-update, info:reviewed, category:code-cleanup

#37706 [octomap] update to 1.10.0
  ports/octomap/fix-compilation.patch
  ports/octomap/fix-isnan.patch
  ports/octomap/portfile.cmake
  ports/octomap/vcpkg.json
  versions/baseline.json
  versions/o-/octomap.json
Labels: category:port-update, info:reviewed

#37881 [c-ares] Update to 1.28.0
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  ports/trantor/000-fix-deps.patch
  ports/trantor/001-disable-werror.patch
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
  versions/t-/trantor.json
Labels: category:port-update

#37932 [libsodium] Fix arm builds (android NDK r26)
  ports/libsodium/arm-neon.diff
  ports/libsodium/portfile.cmake
  ports/libsodium/vcpkg.json
  versions/baseline.json
  versions/l-/libsodium.json
Labels: category:port-bug

#36963 [skia] Fix linking issues
  ports/skia/skia-functions.cmake
  ports/skia/unofficial-skia-config.cmake
  ports/skia/vcpkg.json
  scripts/test_ports/vcpkg-ci-skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:reviewed, category:infrastructure

#37944 [vcpkg baseline][blitz] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#37865 [nethost] Bump to .NET 8.0.3
  ports/nethost/portfile.cmake
  ports/nethost/vcpkg.json
  versions/baseline.json
  versions/n-/nethost.json
Labels: category:port-update, info:reviewed

#37915 [hunspell] Add support for feature tools
  ports/hunspell/vcpkg.json
  versions/baseline.json
  versions/h-/hunspell.json
Labels: category:port-bug, info:internal, info:reviewed

#37916 [sail] fix include directory
  ports/sail/fix-include-directory.patch
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-bug, info:internal, info:reviewed

#37930 [folly] Fix exported deps
  ports/folly/fix-deps.patch
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-feature, info:reviewed

#37934 [libassert] Update to 2.0.1
  ports/libassert/portfile.cmake
  ports/libassert/vcpkg.json
  versions/baseline.json
  versions/l-/libassert.json
Labels: category:port-update, info:reviewed

#37936 [valijson] update to 1.0.2
  ports/valijson/portfile.cmake
  ports/valijson/vcpkg.json
  versions/baseline.json
  versions/v-/valijson.json
Labels: category:port-update, info:reviewed

#37949 [vcpkg baseline][tlx] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#37935 [thorvg] update to 0.12.10
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update

#38045 [asio-grpc] Update to 3.1.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38044 [flatbuffers] Update to 24.3.25
  ports/flatbuffers/fix-uwp-build.patch
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-update, info:reviewed

#38038 [soundtouch] Update to 2.3.3, add supports for feature soundtouchdll
  ports/soundtouch/portfile.cmake
  ports/soundtouch/use-o3-emscripten.patch
  ports/soundtouch/vcpkg.json
  versions/baseline.json
  versions/s-/soundtouch.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#38031 [fluidsynth] Update to 2.3.5
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: info:internal, category:port-update, info:reviewed

#38016 [re2] Update to 2024-04-01
  ports/re2/portfile.cmake
  ports/re2/vcpkg.json
  versions/baseline.json
  versions/r-/re2.json
Labels: category:port-update, info:reviewed

#38006 [poco] update to1.13.3
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-update, info:reviewed

#37866 [polyhook2] Update to 2024-02-08
  ports/polyhook2/fix-dep.patch
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  versions/baseline.json
  versions/p-/polyhook2.json
Labels: category:port-update, info:reviewed

#37912 [opencascade] Update to 7.8.1
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: info:internal, category:port-update, info:reviewed

#37925 [skia] update to chrome/124
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-update, info:reviewed

#38051 [joltphysics] Disable OVERRIDE_CXX_FLAGS option
  ports/joltphysics/fix-export.diff
  ports/joltphysics/portfile.cmake
  ports/joltphysics/vcpkg.json
  versions/baseline.json
  versions/j-/joltphysics.json
Labels: info:reviewed, category:code-cleanup

#38046 [qt5] fix build qt5[all] on macos
  ports/qt5/vcpkg.json
  versions/baseline.json
  versions/q-/qt5.json
Labels: category:port-bug, info:reviewed

#38032 [json-schema-validator] Fix CMake install target on Windows
  ports/json-schema-validator/portfile.cmake
  ports/json-schema-validator/usage
  ports/json-schema-validator/vcpkg.json
  versions/baseline.json
  versions/j-/json-schema-validator.json
Labels: category:port-bug, info:internal, info:reviewed

#38029 [proxygen] Get newly added tools
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  versions/baseline.json
  versions/p-/proxygen.json
Labels: category:port-bug, info:internal, info:reviewed

#38020 [vcpkg baseline][minio-cpp] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#38015 [mongo-c-driver][libbson] Update version to 1.26.2
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/disable-dynamic-when-static.patch
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#38014 [enkiTS] Fixing patch for dynamic linking on windows
  ports/enkits/update_install.patch
  ports/enkits/vcpkg.json
  versions/baseline.json
  versions/e-/enkits.json
Labels: category:port-bug, info:reviewed

#37998 [multiple ports] Keep description consistent with upstream
  ports/abseil/vcpkg.json
  ports/benchmark/vcpkg.json
  ports/cachelib/vcpkg.json
  ports/fmt/vcpkg.json
  ports/grpc/vcpkg.json
  ports/gtest/vcpkg.json
  ports/json-spirit/vcpkg.json
  ports/jsoncpp/vcpkg.json
  ports/protobuf/vcpkg.json
  ports/qt5-winextras/vcpkg.json
  ports/qttools/vcpkg.json
  ports/range-v3/vcpkg.json
  ports/spdlog/vcpkg.json
  versions/a-/abseil.json
  versions/b-/benchmark.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/f-/fmt.json
  versions/g-/grpc.json
  versions/g-/gtest.json
  versions/j-/json-spirit.json
  versions/j-/jsoncpp.json
  versions/p-/protobuf.json
  versions/q-/qt5-winextras.json
  versions/q-/qttools.json
  versions/r-/range-v3.json
  versions/s-/spdlog.json
Labels: info:reviewed, category:code-cleanup

#37986 [qtbase] Fix "There should be no absolute paths"
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#37966 [opentelemetry-cpp] Add user-events feature
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#37846 [tinyobjloader] update to 2.0.0rc13
  ports/tinyobjloader/portfile.cmake
  ports/tinyobjloader/vcpkg.json
  versions/baseline.json
  versions/t-/tinyobjloader.json
Labels: category:port-update, info:reviewed

#38069 [baresip-libre] upgrade baresip-libre to version 3.11.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38070 [Thorvg] Update Thorvg port to v0.13.0
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#37953 [hjson-cpp] New port
  ports/hjson-cpp/fix-runtime-destination.patch
  ports/hjson-cpp/portfile.cmake
  ports/hjson-cpp/vcpkg.json
  versions/baseline.json
  versions/h-/hjson-cpp.json
Labels: category:new-port, info:reviewed

#37834 [awlib] Add new port
  ports/awlib/portfile.cmake
  ports/awlib/vcpkg.json
  versions/a-/awlib.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#38100 [lapack-reference] Remove _ in wrapper
  ports/lapack-reference/vcpkg-cmake-wrapper.cmake.in
  ports/lapack-reference/vcpkg.json
  versions/baseline.json
  versions/l-/lapack-reference.json
Labels: category:port-bug

#38063 [wt] Update to 4.10.4
  ports/wt/0002-link-glew.patch
  ports/wt/0005-XML_file_path.patch
  ports/wt/0006-GraphicsMagick.patch
  ports/wt/portfile.cmake
  ports/wt/vcpkg.json
  versions/baseline.json
  versions/w-/wt.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#38104 [QCA] add openssl feature
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-feature, info:reviewed

#38095 [d3d12-memory-allocator] Update to 2.0.1
  ports/d3d12-memory-allocator/0001-output-dirs.patch
  ports/d3d12-memory-allocator/0002-Fix-32b-compilation.patch
  ports/d3d12-memory-allocator/CMakeLists.txt
  ports/d3d12-memory-allocator/portfile.cmake
  ports/d3d12-memory-allocator/vcpkg.json
  versions/baseline.json
  versions/d-/d3d12-memory-allocator.json
Labels: category:port-update, info:reviewed

#37670 [OpenFX] New Port
  ports/openfx/CMakeLists.txt
  ports/openfx/portfile.cmake
  ports/openfx/usage
  ports/openfx/vcpkg.json
  versions/baseline.json
  versions/o-/openfx.json
Labels: category:new-port

#37787 [qscintilla] Add CMake export
  ports/qscintilla/portfile.cmake
  ports/qscintilla/unofficial-qscintilla-config.cmake
  ports/qscintilla/vcpkg.json
  versions/baseline.json
  versions/q-/qscintilla.json
Labels: info:internal, category:port-update, info:reviewed

#38148 [re2] Fix checksum of PATCH_488
  ports/re2/portfile.cmake
  ports/re2/vcpkg.json
  versions/baseline.json
  versions/r-/re2.json
Labels: category:port-bug, info:internal, info:reviewed

#38126 [assimp] Update to version 5.4.0 to fix build error
  ports/assimp/build_fixes.patch
  ports/assimp/portfile.cmake
  ports/assimp/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38047 [freeimage] Don't depend on default features
  ports/freeimage/vcpkg.json
  versions/baseline.json
  versions/f-/freeimage.json
Labels: category:port-feature, info:reviewed

#38189 [proxsuite] Update to v0.6.4
  ports/proxsuite/portfile.cmake
  ports/proxsuite/vcpkg.json
  versions/baseline.json
  versions/p-/proxsuite.json
Labels: category:port-update, info:reviewed

#38186 [tgbot-cpp] Update to v1.7.3
  ports/tgbot-cpp/portfile.cmake
  ports/tgbot-cpp/vcpkg.json
  versions/baseline.json
  versions/t-/tgbot-cpp.json
Labels: category:port-update, info:reviewed

#38164 [c-ares] Update to 1.28.1
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#38162 [openldap] update to 2.5.17
  ports/openldap/portfile.cmake
  ports/openldap/vcpkg.json
  versions/baseline.json
  versions/o-/openldap.json
Labels: category:port-update, info:reviewed

#38154 [entt] update to 3.13.2
  ports/entt/portfile.cmake
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:reviewed

#38091 [gdcm] Update version to 3.0.23
  ports/gdcm/portfile.cmake
  ports/gdcm/vcpkg.json
  versions/baseline.json
  versions/g-/gdcm.json
Labels: info:internal, category:port-update, info:reviewed

#38109 [catch2] Update to 3.5.4
  ports/catch2/fix-arm-build.patch
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#38080 [zstd] Update to version 1.5.6.
  ports/zstd/fix-windows-rc-compile.patch
  ports/zstd/portfile.cmake
  ports/zstd/usage
  ports/zstd/vcpkg.json
  versions/baseline.json
  versions/z-/zstd.json
Labels: category:port-update, info:reviewed

#38160 [curl] fix idn2 dependency
  ports/curl/0012-fix-dependency-idn2.patch
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#38085 [azure-*-cpp] Update to April Releases
  ports/azure-core-amqp-cpp/portfile.cmake
  ports/azure-core-amqp-cpp/vcpkg.json
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-data-tables-cpp/fix_deps.patch
  ports/azure-data-tables-cpp/portfile.cmake
  ports/azure-data-tables-cpp/vcpkg.json
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-core-amqp-cpp.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-data-tables-cpp.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#37971 [pcre2] Fix "There should be no absolute paths"
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  ports/rtabmap/gklib.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
  versions/r-/rtabmap.json
Labels: category:port-bug, info:reviewed

#38173 [openssl] Update to 3.3.0, limited cmake config fixup
  ports/openssl/cmake-config.patch
  ports/openssl/portfile.cmake
  ports/openssl/usage
  ports/openssl/vcpkg.json
  ports/openssl/windows/install-pdbs.patch
  ports/openssl/windows/portfile.cmake
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#37959 [perfetto] initial port of 43.1
  ports/perfetto/CMakeLists.txt
  ports/perfetto/portfile.cmake
  ports/perfetto/vcpkg.json
  versions/baseline.json
  versions/p-/perfetto.json
Labels: category:new-port, info:reviewed

#38197 [ncnn] Support Vulkan feature
  ports/ncnn/portfile.cmake
  ports/ncnn/vcpkg.json
  versions/baseline.json
  versions/n-/ncnn.json
Labels: category:port-feature, info:reviewed

#38205 [perfetto] Update to 44.0 and clean deps and allow x86
  ports/perfetto/portfile.cmake
  ports/perfetto/vcpkg.json
  versions/baseline.json
  versions/p-/perfetto.json
Labels: info:internal, category:port-update, info:reviewed

#38206 [vulkan-memory-allocator-hpp] Apply upstream commit to fix error
  ports/vulkan-memory-allocator-hpp/portfile.cmake
  ports/vulkan-memory-allocator-hpp/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-memory-allocator-hpp.json
Labels: category:port-bug, info:internal, info:reviewed

#38172 [gdal] Update to 3.8.5
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#38209 [LinuxTracepoints] update to v1.3.3
  ports/libeventheader-decode/portfile.cmake
  ports/libeventheader-decode/vcpkg.json
  ports/libeventheader-tracepoint/portfile.cmake
  ports/libeventheader-tracepoint/vcpkg.json
  ports/libtracepoint-control/portfile.cmake
  ports/libtracepoint-control/vcpkg.json
  ports/libtracepoint-decode/portfile.cmake
  ports/libtracepoint-decode/vcpkg.json
  ports/libtracepoint/portfile.cmake
  ports/libtracepoint/vcpkg.json
  versions/baseline.json
  versions/l-/libeventheader-decode.json
  versions/l-/libeventheader-tracepoint.json
  versions/l-/libtracepoint-control.json
  versions/l-/libtracepoint-decode.json
  versions/l-/libtracepoint.json
Labels: category:port-update, info:reviewed

#37418 [vladimirshaleev-ipaddress] Add new port
  ports/vladimirshaleev-ipaddress/portfile.cmake
  ports/vladimirshaleev-ipaddress/usage
  ports/vladimirshaleev-ipaddress/vcpkg.json
  versions/baseline.json
  versions/v-/vladimirshaleev-ipaddress.json
Labels: category:new-port, info:reviewed

#38247 [kerbal] update to v2024.4.1
  ports/kerbal/portfile.cmake
  ports/kerbal/vcpkg.json
  versions/baseline.json
  versions/k-/kerbal.json
Labels: category:port-update, info:reviewed

#38229 [cglm] Update to 0.9.4
  ports/cglm/portfile.cmake
  ports/cglm/vcpkg.json
  versions/baseline.json
  versions/c-/cglm.json
Labels: category:port-update, info:reviewed

#38033 [gdk-pixbuf] Convert option to feature
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
Labels: category:port-feature, info:internal, info:reviewed

#38225 [laszip] Update to 3.4.4
  ports/laszip/compiler-options.diff
  ports/laszip/format-string.diff
  ports/laszip/portfile.cmake
  ports/laszip/vcpkg.json
  versions/baseline.json
  versions/l-/laszip.json
Labels: category:port-update, info:reviewed

#38231 [spirv-reflect] Fix missing usage and include file
  ports/spirv-reflect/export-targets.patch
  ports/spirv-reflect/portfile.cmake
  ports/spirv-reflect/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-reflect.json
Labels: category:port-bug, info:internal, info:reviewed

#38222 [nettle] Update to 3.9.1
  ports/nettle/ccas.patch
  ports/nettle/hogweed-arm.def
  ports/nettle/hogweed-arm64.def
  ports/nettle/hogweed-x64.def
  ports/nettle/hogweed-x86.def
  ports/nettle/msvc-support.patch
  ports/nettle/nettle-arm.def
  ports/nettle/nettle-arm64.def
  ports/nettle/nettle-x64.def
  ports/nettle/nettle-x86.def
  ports/nettle/portfile.cmake
  ports/nettle/vcpkg.json
  versions/baseline.json
  versions/n-/nettle.json
Labels: category:port-update, info:reviewed

#38215 [aws-sdk-cpp] Fix failure to call curl[c-ares]
  ports/aws-sdk-cpp/fix_find_curl.patch
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#38182 [harfbuzz] add new CMake target and new feature
  ports/harfbuzz/harfbuzzConfig.cmake.in
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/usage
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-feature, info:reviewed

#38267 [libdatachannel] update to <0.20.3>
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: info:internal, category:port-update, info:reviewed

#38264 [rocksdb] update to 9.1.0
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#38252 [juce] Update to 7.0.12
  ports/juce/portfile.cmake
  ports/juce/vcpkg.json
  versions/baseline.json
  versions/j-/juce.json
Labels: info:internal, category:port-update, info:reviewed

#38245 [hareflow] Minor update + add vcpkg_cmake_config_fixup
  ports/hareflow/fix-missing-headers.patch
  ports/hareflow/portfile.cmake
  ports/hareflow/vcpkg.json
  versions/baseline.json
  versions/h-/hareflow.json
Labels: category:port-update, info:reviewed

#38238 [sqlite3] update to 3.45.3
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#38214 [sail] Bump version to 0.9.4
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#37950 [netgen] Optional features to reduce dependencies
  ports/netgen/cross-build.patch
  ports/netgen/portfile.cmake
  ports/netgen/vcpkg.json
  scripts/test_ports/vcpkg-ci-netgen/portfile.cmake
  scripts/test_ports/vcpkg-ci-netgen/vcpkg.json
  versions/baseline.json
  versions/n-/netgen.json
Labels: category:port-feature, info:reviewed

#38105 [pcre2] Update to 10.43
  ports/pcre2/fix-cmake.patch
  ports/pcre2/no-static-suffix.patch
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
Labels: info:internal, category:port-update, info:reviewed

#38124 [opus] update to v1.5.1
  ports/opus/portfile.cmake
  ports/opus/vcpkg.json
  versions/baseline.json
  versions/o-/opus.json
Labels: category:port-feature, info:internal, category:port-update, info:reviewed

#38155 [pravila00-enumflag] Add new port
  ports/pravila00-enumflag/portfile.cmake
  ports/pravila00-enumflag/vcpkg.json
  versions/baseline.json
  versions/p-/pravila00-enumflag.json
Labels: category:new-port, info:reviewed

#38198 [cudnn] improve compatibility with v9
  ports/cudnn/FindCUDNN.cmake
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  versions/baseline.json
  versions/c-/cudnn.json
Labels: category:port-feature, info:reviewed

#38113 [linux] Fix compiler in native ARM host builds
  scripts/toolchains/linux.cmake
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#38220 [libgnutls] Update 3.8.5
  ports/libgnutls/link-zlib.patch
  ports/libgnutls/portfile.cmake
  ports/libgnutls/vcpkg.json
  versions/baseline.json
  versions/l-/libgnutls.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#38239 [vcpkg/scripts] Only add pkgconfig_path if it is not already on PATH
  scripts/cmake/z_vcpkg_setup_pkgconfig_path.cmake
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#38294 [vsg] Update to v1.1.2
  ports/vsg/devendor-glslang.patch
  ports/vsg/portfile.cmake
  ports/vsg/vcpkg.json
  versions/baseline.json
  versions/v-/vsg.json
Labels: category:port-update, info:reviewed

#38254 [azure-c-shared-utility] Fix implicitly declare function 'strnlen' in gcc-14
  ports/azure-c-shared-utility/fix-install-location-preview.patch
  ports/azure-c-shared-utility/fix-utilityFunctions-conditions-preview.patch
  ports/azure-c-shared-utility/improve-dependencies-preview.patch
  ports/azure-c-shared-utility/modify-POSIX-c-version.patch
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  versions/a-/azure-c-shared-utility.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#38235 [llvm] Fix error caused by the upcoming By-Design of MSVC
  ports/llvm/0009-add-missing-typename.patch
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:internal, info:reviewed

#38326 [cwapi3d] Updates cwapi3d to version 30.475.1
  ports/cwapi3d/portfile.cmake
  ports/cwapi3d/vcpkg.json
  versions/baseline.json
  versions/c-/cwapi3d.json
Labels: category:port-update, info:reviewed

#38322 [crashpad] Fix std int for linux
  ports/crashpad/fix-stdint.patch
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug, info:internal, info:reviewed

#38319 [libx11] Optimize Build
  ports/libx11/optimize-configure.patch
  ports/libx11/portfile.cmake
  ports/libx11/vcpkg.json
  versions/baseline.json
  versions/l-/libx11.json
Labels: info:reviewed, category:code-cleanup

#38307 [shader-slang] update to v2024.1.7
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: info:internal, category:port-update, info:reviewed

#38298 [libdjinterop] Update to version 0.20.3
  ports/libdjinterop/portfile.cmake
  ports/libdjinterop/vcpkg.json
  versions/baseline.json
  versions/l-/libdjinterop.json
Labels: category:port-update, info:reviewed

#38302 [yomm2] Update to 1.5.0
  ports/yomm2/fix_install.patch
  ports/yomm2/portfile.cmake
  ports/yomm2/vcpkg.json
  versions/baseline.json
  versions/y-/yomm2.json
Labels: category:port-update, info:reviewed

#38295 [arrow] Update to 16.0.0
  ports/arrow/android.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38303 [CI] Don't test stuff which does not work due to static python
  scripts/test_ports/vcpkg-ci-opencv/vcpkg.json
  scripts/test_ports/vcpkg-ci-openimageio/vcpkg.json
Labels: category:port-feature, info:reviewed

#38355 [proxy] update to 2.3.2
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update

#38331 [azure-*-cpp] Add HEAD_REF to manifests
  ports/azure-core-tracing-opentelemetry-cpp/portfile.cmake
  ports/azure-core-tracing-opentelemetry-cpp/vcpkg.json
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  ports/azure-messaging-eventhubs-checkpointstore-blob-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-checkpointstore-blob-cpp/vcpkg.json
  ports/azure-security-attestation-cpp/portfile.cmake
  ports/azure-security-attestation-cpp/vcpkg.json
  ports/azure-security-keyvault-administration-cpp/portfile.cmake
  ports/azure-security-keyvault-administration-cpp/vcpkg.json
  ports/azure-security-keyvault-certificates-cpp/portfile.cmake
  ports/azure-security-keyvault-certificates-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  ports/azure-security-keyvault-secrets-cpp/portfile.cmake
  ports/azure-security-keyvault-secrets-cpp/vcpkg.json
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-core-tracing-opentelemetry-cpp.json
  versions/a-/azure-identity-cpp.json
  versions/a-/azure-messaging-eventhubs-checkpointstore-blob-cpp.json
  versions/a-/azure-security-attestation-cpp.json
  versions/a-/azure-security-keyvault-administration-cpp.json
  versions/a-/azure-security-keyvault-certificates-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/a-/azure-security-keyvault-secrets-cpp.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:code-cleanup

#38313 [cairo] Move hard lzo dependency to feature
  ports/cairo/cairo_add_lzo_feature_option.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-feature, info:reviewed

#38387 [ace] Update to 7.1.4
  ports/ace/portfile.cmake
  ports/ace/vcpkg.json
  versions/a-/ace.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38381 [arrow] Remove the suffix .dll of ws2_32
  ports/arrow/portfile.cmake
  ports/arrow/remove-dll-suffix.patch
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#38204 [google-cloud-cpp] update to the latest release (v2.23)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#38350 [dbus] Fix release only build
  ports/dbus/portfile.cmake
  ports/dbus/vcpkg.json
  versions/baseline.json
  versions/d-/dbus.json
Labels: category:port-bug, info:reviewed

#38345 [curl] add psl feature
  ports/curl/0012-fix-dependency-idn2.patch
  ports/curl/cmake-project-include.cmake
  ports/curl/dependencies.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, info:reviewed

#38382 [amd-amf] Update to 1.4.33
  ports/amd-amf/portfile.cmake
  ports/amd-amf/vcpkg.json
  versions/a-/amd-amf.json
  versions/baseline.json
Labels: info:internal, category:port-update

#38366 [Thorvg] Update Thorvg port to v0.13.1
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update

#38339 Update vcpkg-tool to 2024-04-23.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#38396 [asio] Update to 1.30.2
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38379 [abseil] Update to 20240116.2
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38330 [calceph] update to version 4.0.0
  ports/calceph/portfile.cmake
  ports/calceph/vcpkg.json
  versions/baseline.json
  versions/c-/calceph.json
Labels: category:port-update, info:reviewed

#38279 [folly, fizz, wangle, proxygen, mvfst, fbthrift, cachelib] update to 2024.04.15
  ports/cachelib/fmt-10.patch
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/0001-fix-libsodium.patch
  ports/fizz/0002-fix-libevent.patch
  ports/fizz/fix-build.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/disable-uninitialized-resize-on-new-stl.patch
  ports/folly/fix-deps.patch
  ports/folly/openssl.patch
  ports/folly/portfile.cmake
  ports/folly/reorder-glog-gflags.patch
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/remove-register.patch
  ports/proxygen/vcpkg.json
  ports/rsocket/fix-yarpl.patch
  ports/rsocket/portfile.cmake
  ports/rsocket/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/cachelib.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/r-/rsocket.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#38395 [libjxl] Fix build failures in linux
  ports/libjxl/portfile.cmake
  ports/libjxl/vcpkg.json
  versions/baseline.json
  versions/l-/libjxl.json
Labels: category:port-bug, info:internal, info:reviewed

#38334 [scnlib] fix scnlibConfig.cmake version check
  ports/scnlib/portfile.cmake
  ports/scnlib/remove-simdutf-dependency-version.patch
  ports/scnlib/vcpkg.json
  versions/baseline.json
  versions/s-/scnlib.json
Labels: category:port-bug, info:reviewed

#38413 Update cppslippi to 1.4.3.16
  ports/cppslippi/portfile.cmake
  ports/cppslippi/vcpkg.json
  versions/baseline.json
  versions/c-/cppslippi.json
Labels: category:port-update

#38166 Patch Tuesday for April 2024
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/generate-sas-tokens.ps1
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/linux/managed-image.json
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/roll-sas-tokens.ps1
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows-unstable/job.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
Labels: info:internal, info:reviewed, category:infrastructure

#38397 [quantlib] update to v1.34
  ports/quantlib/portfile.cmake
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update, info:reviewed

#38392 [chakracore] Fix compilation command running path
  ports/chakracore/portfile.cmake
  ports/chakracore/vcpkg.json
  versions/baseline.json
  versions/c-/chakracore.json
Labels: category:port-bug, info:internal, info:reviewed

#38390 [v8] Get WINDOWS_SDK error log from portfile.cmake
  ports/v8/portfile.cmake
  ports/v8/vcpkg.json
  versions/baseline.json
  versions/v-/v8.json
Labels: category:port-feature, info:internal, info:reviewed

#38416 [opensubdiv] Fix build error with feature tbb
  ports/opensubdiv/fix-notfind-header.patch
  ports/opensubdiv/portfile.cmake
  ports/opensubdiv/vcpkg.json
  versions/baseline.json
  versions/o-/opensubdiv.json
Labels: category:port-bug, info:internal, info:reviewed

#37119 [vtkm|vtk|paraview] update ports
  ports/lapack-reference/vcpkg-cmake-wrapper.cmake.in
  ports/lapack-reference/vcpkg.json
  ports/openmvs/fix-static-build.patch
  ports/openmvs/portfile.cmake
  ports/openmvs/vcpkg.json
  ports/paraview/53.diff
  ports/paraview/external_vtk.patch
  ports/paraview/fix-build.patch
  ports/paraview/fix-configure.patch
  ports/paraview/portfile.cmake
  ports/paraview/python_include.patch
  ports/paraview/python_wrapper.patch
  ports/paraview/qt6-all.patch
  ports/paraview/vcpkg.json
  ports/vtk-m/fix-build.patch
  ports/vtk-m/omp.patch
  ports/vtk-m/portfile.cmake
  ports/vtk-m/vcpkg.json
  ports/vtk/10945.diff
  ports/vtk/10972.diff
  ports/vtk/9690.diff
  ports/vtk/devendor_exodusII.patch
  ports/vtk/fast-float.patch
  ports/vtk/fix-exprtk.patch
  ports/vtk/libproj.patch
  ports/vtk/missing-include-fixes.patch
  ports/vtk/ot-dep.patch
  ports/vtk/pegtl.patch
  ports/vtk/portfile.cmake
  ports/vtk/pythonwrapper.patch
  ports/vtk/vcpkg.json
  ports/vtk/vtkioss.patch
  ports/vtk/vtkm.patch
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/lapack-reference.json
  versions/o-/openmvs.json
  versions/p-/paraview.json
  versions/v-/vtk-m.json
  versions/v-/vtk.json
Labels: category:new-port, category:port-update, info:reviewed

#38452 [bext-wintls] Update to 0.9.8
  ports/bext-wintls/portfile.cmake
  ports/bext-wintls/vcpkg.json
  versions/b-/bext-wintls.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38451 [tvision] update to the latest version 2024-02-28
  ports/tvision/portfile.cmake
  ports/tvision/vcpkg.json
  versions/baseline.json
  versions/t-/tvision.json
Labels: info:internal, category:port-update, info:reviewed

#38450 [yomm2] Update to v1.5.1
  ports/yomm2/fix_install.patch
  ports/yomm2/portfile.cmake
  ports/yomm2/vcpkg.json
  versions/baseline.json
  versions/y-/yomm2.json
Labels: category:port-update, info:reviewed

#38424 [spdlog] update to 1.14.0
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-update, info:reviewed

#38435 [amd-amf] Fix SHA512 hash
  ports/amd-amf/portfile.cmake
  ports/amd-amf/vcpkg.json
  versions/a-/amd-amf.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#38443 [google-cloud-cpp] handle features names with `_`
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, info:reviewed

#38432 [crashpad] Fix the order of linked libraries for linux
  ports/crashpad/crashpadConfig.cmake.in
  ports/crashpad/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug, info:reviewed
