Repository microsoft/vcpkg, pull requests merged in 2024-02, with the labels that each got.

#36378 [opentelemetry-cpp] remove otlp feature which doesn't exist
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature

#36471 [json-dto] Update to 0.3.3
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update

#36510 [pulsar-client-cpp] fix deps
  ports/pulsar-client-cpp/vcpkg.json
  versions/baseline.json
  versions/p-/pulsar-client-cpp.json
Labels: category:port-bug, info:reviewed

#36506 [lzav] update to 3.13
  ports/lzav/portfile.cmake
  ports/lzav/vcpkg.json
  versions/baseline.json
  versions/l-/lzav.json
Labels: category:port-update, info:reviewed

#36504 [sqlpp11] Update version to 0.64
  ports/sqlpp11/portfile.cmake
  ports/sqlpp11/vcpkg.json
  versions/baseline.json
  versions/s-/sqlpp11.json
Labels: info:internal, category:port-update, info:reviewed

#36503 [shiftmedia-libgpg-error] Fix include path
  ports/shiftmedia-libgpg-error/portfile.cmake
  ports/shiftmedia-libgpg-error/vcpkg.json
  versions/baseline.json
  versions/s-/shiftmedia-libgpg-error.json
Labels: category:port-bug, info:internal, info:reviewed

#36499 [snitch] Add new port
  ports/snitch/portfile.cmake
  ports/snitch/vcpkg.json
  versions/baseline.json
  versions/s-/snitch.json
Labels: category:new-port, info:reviewed

#36486 [imgui] fix find Allegro
  ports/imgui/CMakeLists.txt
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-bug, info:internal, info:reviewed

#36470 [async-simple] Add new port async-simple
  ports/async-simple/portfile.cmake
  ports/async-simple/usage
  ports/async-simple/vcpkg.json
  versions/a-/async-simple.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#36410 [libjpeg-turbo] Update to 3.0.2
  ports/libjpeg-turbo/add-options-for-exes-docs-headers.patch
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg.json
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-update, info:reviewed

#26301 [poly2tri] Switch to maintained repo and adjust description
  ports/assimp/vcpkg.json
  ports/jhasse-poly2tri/cmake.patch
  ports/jhasse-poly2tri/portfile.cmake
  ports/jhasse-poly2tri/usage
  ports/jhasse-poly2tri/vcpkg.json
  ports/poly2tri/CMakeLists.txt
  ports/poly2tri/fix-sweep-h-codepage.patch
  ports/poly2tri/portfile.cmake
  ports/poly2tri/vcpkg.json
  ports/qtpositioning/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
  versions/j-/jhasse-poly2tri.json
  versions/q-/qtpositioning.json
Labels: category:port-update, info:reviewed

#36373 [community triplet] Add `arm64-ios-release` triplet
  triplets/community/arm64-ios-release.cmake
Labels: info:reviewed, category:tool-update, category:community-triplet

#36466 [avcpp] Update to 2.2.1
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: category:port-update

#36476 [google-cloud-cpp] Add rpc feature
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature

#36507 [pipewire] Update to 1.0.2
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: info:internal, category:port-update

#36523 [libheif] update to v1.17.6
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: info:internal, category:port-update, info:reviewed

#36519 [dataframe] Upgrading C++ DataFrame to version 3.0.0
  ports/dataframe/portfile.cmake
  ports/dataframe/vcpkg.json
  versions/baseline.json
  versions/d-/dataframe.json
Labels: category:port-update, info:reviewed

#36516 [cpp-httplib] Fix httplibConfig.cmake can't find Brotli
  ports/cpp-httplib/fix-find-brotli.patch
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-bug, info:internal, info:reviewed

#36505 [pcl] fix feature examples
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:reviewed

#36407 [qtbase] Add support for building with OpenGL ES 3.0
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-feature, info:reviewed

#36135 [libsrtp] Added openssl feature flag for enabling OpenSSL support
  ports/libsrtp/portfile.cmake
  ports/libsrtp/vcpkg.json
  versions/baseline.json
  versions/l-/libsrtp.json
Labels: category:port-feature, info:reviewed

#36380 [OpenMesh] Use the official usage
  ports/openmesh/fix-library-install-path.patch
  ports/openmesh/portfile.cmake
  ports/openmesh/usage
  ports/openmesh/vcpkg-cmake-wrapper.cmake
  ports/openmesh/vcpkg.json
  versions/baseline.json
  versions/o-/openmesh.json
Labels: category:port-bug, info:internal, info:reviewed

#36489 [libqglviewer] Fix error C2039 when build port with VS2019
  ports/libqglviewer/Fix-error-c2039.patch
  ports/libqglviewer/portfile.cmake
  ports/libqglviewer/vcpkg.json
  versions/baseline.json
  versions/l-/libqglviewer.json
Labels: category:port-bug, info:internal, info:reviewed

#36522 [google-cloud-cpp] update to the latest release (v2.21.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#36581 [cdt] update to 1.4.0
  ports/cdt/portfile.cmake
  ports/cdt/vcpkg.json
  versions/baseline.json
  versions/c-/cdt.json
Labels: category:port-update, info:reviewed

#36568 [sdl2] update to 2.30.0
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: info:internal, category:port-update, info:reviewed

#36579 [libnick] Update to 2024.2.1
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#36580 [capnproto] update to 1.0.2
  ports/capnproto/portfile.cmake
  ports/capnproto/vcpkg.json
  versions/baseline.json
  versions/c-/capnproto.json
Labels: category:port-update, info:reviewed

#36576 [boinc] update to 7.24.3
  ports/boinc/portfile.cmake
  ports/boinc/vcpkg.json
  versions/b-/boinc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36575 [bdwgc] update to 8.2.6
  ports/bdwgc/portfile.cmake
  ports/bdwgc/vcpkg.json
  versions/b-/bdwgc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36567 [cgal] Fix feature qt missing dependency boost-format
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-bug, info:internal, info:reviewed

#36566 [aws-c-auth,aws-c-io,aws-c-s3,aws-c-sdkutils,aws-sdk-cpp] update to 0.7.14,0.14.3,0.5.0,0.1.14,1.11.255
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-c-sdkutils/portfile.cmake
  ports/aws-c-sdkutils/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-c-sdkutils.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36565 [bde] update to 3.124.0.0
  ports/bde/portfile.cmake
  ports/bde/vcpkg.json
  versions/b-/bde.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36562 [audiofile] update to 1.1.1
  ports/audiofile/portfile.cmake
  ports/audiofile/vcpkg.json
  versions/a-/audiofile.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36564 [tinygltf] update to 2.8.20
  ports/tinygltf/portfile.cmake
  ports/tinygltf/vcpkg.json
  versions/baseline.json
  versions/t-/tinygltf.json
Labels: category:port-update, info:reviewed

#36559 [minizip] update to 1.3.1
  ports/minizip/minizip-win32.def
  ports/minizip/portfile.cmake
  ports/minizip/vcpkg.json
  versions/baseline.json
  versions/m-/minizip.json
Labels: category:port-update, info:reviewed

#36551 [json-schema-validator] Fix usage
  ports/json-schema-validator/portfile.cmake
  ports/json-schema-validator/usage
  ports/json-schema-validator/vcpkg.json
  versions/baseline.json
  versions/j-/json-schema-validator.json
Labels: category:port-bug, info:reviewed

#36549 [aom] update to 3.8.1
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36598 Update vcpkg-tool to 2024-02-05.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#36577 [c-ares] update to 1.26.0
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#36526 [libdwarf] Update to v0.9.1
  ports/cpptrace/libdwarf-0.9.0.diff
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  ports/libdwarf/dependencies.diff
  ports/libdwarf/no-suffix.diff
  ports/libdwarf/portfile.cmake
  ports/libdwarf/usage
  ports/libdwarf/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
  versions/l-/libdwarf.json
Labels: category:port-update, info:reviewed

#36602 [cpp-peglib] update to 1.8.6
  ports/cpp-peglib/portfile.cmake
  ports/cpp-peglib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-peglib.json
Labels: category:port-update, info:reviewed

#36601 [clap-cleveraudio] update to 1.2.0
  ports/clap-cleveraudio/portfile.cmake
  ports/clap-cleveraudio/vcpkg.json
  versions/baseline.json
  versions/c-/clap-cleveraudio.json
Labels: category:port-update, info:reviewed

#36591 [jsoncons] Update to 0.173.4
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#36587 [soxr] do not autodetect lib
  ports/soxr/portfile.cmake
  ports/soxr/vcpkg.json
  versions/baseline.json
  versions/s-/soxr.json
Labels: category:port-bug, info:reviewed

#36528 [libalkimia]Update libalkimia to 8.1.72
  ports/libalkimia/dll_names.diff
  ports/libalkimia/fix_explicit_shared_lib.diff
  ports/libalkimia/portfile.cmake
  ports/libalkimia/vcpkg.json
  versions/baseline.json
  versions/l-/libalkimia.json
Labels: category:port-update, info:reviewed

#34381 [json-c] update to 0.17 2023-08-12
  ports/clamav/isnt.patch
  ports/clamav/portfile.cmake
  ports/clamav/vcpkg.json
  ports/json-c/fix-build-with-clang.patch
  ports/json-c/fix-clang-cl.patch
  ports/json-c/portfile.cmake
  ports/json-c/vcpkg.json
  versions/baseline.json
  versions/c-/clamav.json
  versions/j-/json-c.json
Labels: category:port-update, info:reviewed

#36560 [openssl] update to 3.2.1
  ports/openssl/asm-comments.patch
  ports/openssl/declspec-align.patch
  ports/openssl/portfile.cmake
  ports/openssl/qt-msvc.patch
  ports/openssl/unix/disable-quicserver.patch
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#36548 [vcpkg baseline][vcpkg-ci-msys2] Update msys2
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/cmake/vcpkg_find_acquire_program(PKGCONFIG).cmake
  scripts/cmake/vcpkg_find_fortran.cmake
  scripts/test_ports/vcpkg-ci-msys2/portfile.cmake
Labels: info:reviewed, category:tool-update

#36540 [openmesh] Update to 10.0 and apply more love
  ports/openmesh/fix-library-install-path.patch
  ports/openmesh/fix-pkgconfig.patch
  ports/openmesh/portfile.cmake
  ports/openmesh/restore-c++11-compatibility.patch
  ports/openmesh/vcpkg.json
  versions/baseline.json
  versions/o-/openmesh.json
Labels: category:port-update, info:reviewed

#36588 [bot] automatically handle 'Copy issue body from' and 'Please install it via your package manager' issues
  .github/workflows/check_issues.yml
Labels: info:reviewed, category:infrastructure

#36605 [boost-modular-build-helper] Support VS2022 17.10
  ports/boost-modular-build-helper/CMakeLists.txt
  ports/boost-modular-build-helper/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-modular-build-helper.json
  versions/baseline.json
Labels: category:port-bug, info:internal

#36627 [edflib] update to 1.25
  ports/edflib/portfile.cmake
  ports/edflib/vcpkg.json
  versions/baseline.json
  versions/e-/edflib.json
Labels: category:port-update, info:reviewed

#36624 [cyclonedds, cyclonedds-cxx] update to 0.10.4
  ports/cyclonedds-cxx/portfile.cmake
  ports/cyclonedds-cxx/vcpkg.json
  ports/cyclonedds/portfile.cmake
  ports/cyclonedds/vcpkg.json
  versions/baseline.json
  versions/c-/cyclonedds-cxx.json
  versions/c-/cyclonedds.json
Labels: category:port-update, info:reviewed

#36618 [azure-messaging-eventhubs-cpp] Update to 1.0.0-beta.6
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36599 [cgicc] update to 3.2.20
  ports/cgicc/portfile.cmake
  ports/cgicc/vcpkg.json
  versions/baseline.json
  versions/c-/cgicc.json
Labels: category:port-update, info:reviewed

#36619 [cppad] update to 20240000.2
  ports/cppad/portfile.cmake
  ports/cppad/vcpkg.json
  versions/baseline.json
  versions/c-/cppad.json
Labels: category:port-update, info:reviewed

#36589 [cli11] Update to v2.4.0
  ports/cli11/portfile.cmake
  ports/cli11/vcpkg.json
  versions/baseline.json
  versions/c-/cli11.json
Labels: category:port-update, info:reviewed

#36617 [cpp-httplib] update to 0.15.3
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#36613 [portmidi] Scope alsa dependency to Linux/Android/{Free,Open}BSD
  ports/portmidi/vcpkg.json
  versions/baseline.json
  versions/p-/portmidi.json
Labels: category:port-feature, info:reviewed

#36645 [flecs] Update to 3.2.11
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#36633 [alsa,libremidi] update to 1.2.11,4.3.0
  ports/alsa/portfile.cmake
  ports/alsa/vcpkg.json
  ports/libremidi/portfile.cmake
  ports/libremidi/vcpkg.json
  versions/a-/alsa.json
  versions/baseline.json
  versions/l-/libremidi.json
Labels: category:port-update, info:reviewed

#36629 [sdl2-mixer] Update to 2.8.0 and add dependency wavpack
  ports/sdl2-mixer/fix-deps-targets.patch
  ports/sdl2-mixer/fix-pkg-prefix.patch
  ports/sdl2-mixer/fix-pkgconfig.patch
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#36626 [draco] update to 1.5.7
  ports/draco/portfile.cmake
  ports/draco/vcpkg.json
  versions/baseline.json
  versions/d-/draco.json
Labels: category:port-update, info:reviewed

#36607 [dcmtk] Fix dependencies
  ports/dcmtk/fix_link_tiff.patch
  ports/dcmtk/portfile.cmake
  ports/dcmtk/vcpkg.json
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: category:port-bug, info:internal, info:reviewed

#36501 [hello_imgui] New port
  ports/hello-imgui/portfile.cmake
  ports/hello-imgui/usage
  ports/hello-imgui/vcpkg.json
  versions/baseline.json
  versions/h-/hello-imgui.json
Labels: category:new-port, info:reviewed

#36508 [ktx] no vendored libs
  ports/ktx/0005-no-vendored-libs.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-feature

#36654 [poppler] update to 24.02.0
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: info:internal, category:port-update, info:reviewed

#36648 Update vcpkg-tool to 2024-02-07.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#35471 [tiff] Add lerc support
  ports/lerc/cxx-linkage-pkgconfig.patch
  ports/lerc/portfile.cmake
  ports/lerc/vcpkg.json
  ports/tiff/portfile.cmake
  ports/tiff/requires-lerc.patch
  ports/tiff/vcpkg-cmake-wrapper.cmake.in
  ports/tiff/vcpkg.json
  ports/wxwidgets/gtk3-link-libraries.patch
  ports/wxwidgets/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/l-/lerc.json
  versions/t-/tiff.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:reviewed

#36658 [glm] no werror
  ports/glm/disable-werror.patch
  ports/glm/portfile.cmake
  ports/glm/vcpkg.json
  versions/baseline.json
  versions/g-/glm.json
Labels: category:port-bug, info:reviewed

#36663 [uwebsockets] update to 20.59.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update, info:reviewed

#36664 [sdl2-mixer] Fix feature libmodplug build failure
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-bug, info:internal, info:reviewed

#36646 [faad2] Update to 2.11.1
  ports/faad2/CMakeLists.txt
  ports/faad2/fix-install.patch
  ports/faad2/portfile.cmake
  ports/faad2/vcpkg.json
  versions/baseline.json
  versions/f-/faad2.json
Labels: info:internal, category:port-update, info:reviewed

#36657 [netgen] make usable
  ports/netgen/142.diff
  ports/netgen/occ-78.patch
  ports/netgen/portfile.cmake
  ports/netgen/vcpkg.json
  versions/baseline.json
  versions/n-/netgen.json
Labels: category:port-feature, category:port-update, info:reviewed

#36630 [curl] Update version to 8.6.0
  ports/curl/cmake-config-ios.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: info:internal, category:port-update, info:reviewed

#36638 [openimageio] Update to 2.5.8.0
  ports/openimageio/fix-dependencies.patch
  ports/openimageio/fix-static-ffmpeg.patch
  ports/openimageio/imath-version-guard.patch
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-update, info:reviewed

#36398 [vcpkg] update detect compiler to print path
  scripts/detect_compiler/CMakeLists.txt
Labels: info:reviewed, category:tool-update

#36063 [libvhdi] Initial Port
  ports/libvhdi/CMakeLists.txt
  ports/libvhdi/Config.cmake.in
  ports/libvhdi/macos_fixes.patch
  ports/libvhdi/portfile.cmake
  ports/libvhdi/vcpkg.json
  versions/baseline.json
  versions/l-/libvhdi.json
Labels: category:new-port, info:reviewed

#36596 [robotraconteur] Add robotraconteur and robotraconteur-companion ports
  ports/robotraconteur-companion/portfile.cmake
  ports/robotraconteur-companion/usage
  ports/robotraconteur-companion/vcpkg.json
  ports/robotraconteur/portfile.cmake
  ports/robotraconteur/usage
  ports/robotraconteur/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/r-/robotraconteur-companion.json
  versions/r-/robotraconteur.json
Labels: category:new-port, info:reviewed, depends:vm-update

#36572 [cpptrace] Update port to v0.4.0
  ports/cpptrace/libdwarf-0.9.0.diff
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update

#36583 [benchmark] Allow shared library creation, disable docs installation
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-feature

#36623 [taglib] Update to 2.0
  ports/taglib/portfile.cmake
  ports/taglib/usage
  ports/taglib/vcpkg.json
  versions/baseline.json
  versions/t-/taglib.json
Labels: category:port-update

#36892 [webview2] Update to 1.0.2277.86
  ports/webview2/portfile.cmake
  ports/webview2/vcpkg.json
  versions/baseline.json
  versions/w-/webview2.json
Labels: info:internal, category:port-update, info:reviewed

#36890 [daw-utf-range] update to v2.2.4
  ports/daw-utf-range/portfile.cmake
  ports/daw-utf-range/vcpkg.json
  versions/baseline.json
  versions/d-/daw-utf-range.json
Labels: info:internal, category:port-update, info:reviewed

#36884 [libkeyfinder] update to 2.2.8
  ports/libkeyfinder/portfile.cmake
  ports/libkeyfinder/vcpkg.json
  versions/baseline.json
  versions/l-/libkeyfinder.json
Labels: category:port-update, info:reviewed

#36874 [sqlite3] Update to 3.45.1
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#36873 [daw-header-libraries] Update to v2.101.0
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
Labels: info:internal, category:port-update, info:reviewed

#36872 [SDL2-ttf] update to <2.22.0>
  ports/sdl2-ttf/fix-pkgconfig.patch
  ports/sdl2-ttf/portfile.cmake
  ports/sdl2-ttf/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-ttf.json
Labels: info:internal, category:port-update, info:reviewed

#36869 [libdjinterop] update to 0.20.2
  ports/libdjinterop/portfile.cmake
  ports/libdjinterop/vcpkg.json
  versions/baseline.json
  versions/l-/libdjinterop.json
Labels: category:port-update, info:reviewed

#36862 [neargye-semver] use find-package support in vcpkg port
  ports/neargye-semver/portfile.cmake
  ports/neargye-semver/vcpkg.json
  versions/baseline.json
  versions/n-/neargye-semver.json
Labels: category:port-feature, info:reviewed

#36861 [gdal] Update to 3.8.4
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#36856 [opengl-registry/egl-registry] update
  ports/egl-registry/copyright
  ports/egl-registry/portfile.cmake
  ports/egl-registry/vcpkg.json
  ports/opengl-registry/copyright
  ports/opengl-registry/portfile.cmake
  ports/opengl-registry/vcpkg.json
  versions/baseline.json
  versions/e-/egl-registry.json
  versions/o-/opengl-registry.json
Labels: category:port-update, info:reviewed

#36851 [easyloggingpp] Fix pkgconfig and add usage
  ports/easyloggingpp/0003_fix_pkgconfig.patch
  ports/easyloggingpp/portfile.cmake
  ports/easyloggingpp/usage
  ports/easyloggingpp/vcpkg.json
  versions/baseline.json
  versions/e-/easyloggingpp.json
Labels: info:internal, category:port-update, info:reviewed

#36846 [daw-json-link] Update to v3.23.2
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: info:internal, category:port-update, info:reviewed

#36842 [ptex] Update to 2.4.2
  ports/ptex/fix-build.patch
  ports/ptex/fix-config.cmake.patch
  ports/ptex/portfile.cmake
  ports/ptex/usage
  ports/ptex/vcpkg.json
  versions/baseline.json
  versions/p-/ptex.json
Labels: info:internal, category:port-update, info:reviewed

#36835 [FFMpeg] better iOS support
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#36832 [asio-grpc] Update to 3.0.0
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36830 [sdl2-image] Update to 2.8.2
  ports/sdl2-image/fix-findwebp.patch
  ports/sdl2-image/fix-pkgconfig.patch
  ports/sdl2-image/portfile.cmake
  ports/sdl2-image/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-image.json
Labels: info:internal, category:port-update, info:reviewed

#36827 [winreg] Update to 6.1.1
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#36826 [mongo-c-driver/libbson] Update to 1.26.0
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#36823 [libnick] Update to 2024.2.5
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#36822 [qtbase] add official patch for CVE-2024-25580
  ports/qtbase/patches/CVE-2024-25580-qtbase-6.6.diff
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:reviewed

#36820 [qt5-base] appy offical patch for CVE-2024-25580
  ports/qt5-base/patches/CVE-2024-25580-qtbase-5.15.diff
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, info:reviewed

#36816 [opentelemetry-cpp] upgrade to release v1.14.0
  ports/opentelemetry-cpp/fix-nominmax-problems.patch
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  ports/opentelemetry-fluentd/fix_include_path.patch
  ports/opentelemetry-fluentd/portfile.cmake
  ports/opentelemetry-fluentd/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#36815 [bootstrap-vcpkg.sh] Attempt invoking gsha512sum if sha512sum failed
  scripts/bootstrap.sh
Labels: info:reviewed, category:tool-update

#36757 Patch Tuesday for February 2024
  ports/hpx/portfile.cmake
  ports/hpx/vcpkg.json
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/android/create-docker-image.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/managed-image.json
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/roll-sas-tokens.ps1
  scripts/azure-pipelines/windows/create-vmss.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/h-/hpx.json
Labels: info:internal, category:infrastructure

#36910 [libunwind] Update to 1.8.0
  ports/libunwind/portfile.cmake
  ports/libunwind/vcpkg.json
  versions/baseline.json
  versions/l-/libunwind.json
Labels: info:internal, category:port-update, info:reviewed

#36907 [opentelemetry-cpp] add ETW as dependence of Geneva feature
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#36898 [highway] Update to 1.1.0
  ports/highway/portfile.cmake
  ports/highway/vcpkg.json
  versions/baseline.json
  versions/h-/highway.json
Labels: category:port-update, info:reviewed

#36849 [libpq] Update to 16.2
  ports/libpq/portfile.cmake
  ports/libpq/unix/fix-configure.patch
  ports/libpq/vcpkg.json
  ports/libpq/windows/python_lib.patch
  versions/baseline.json
  versions/l-/libpq.json
Labels: info:internal, category:port-update, info:reviewed

#36843 [vcpkg baseline][vcpkg scripts] Drop `${pc_sysrootdir}`
  ports/xcb-util-errors/fix_python.patch
  ports/xcb-util-errors/portfile.cmake
  ports/xcb-util-errors/vcpkg.json
  scripts/cmake/vcpkg_fixup_pkgconfig.cmake
  versions/baseline.json
  versions/x-/xcb-util-errors.json
Labels: category:port-bug, info:reviewed

#36810 [Glaze] Update to 2.1.4
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#35978 [ncnn] Update to 20240102
  ports/ncnn/fix_uwp.patch
  ports/ncnn/portfile.cmake
  ports/ncnn/vcpkg.json
  versions/baseline.json
  versions/n-/ncnn.json
Labels: info:internal, category:port-update, info:reviewed

#36798 [cwapi3d] Add CwAPI3D port
  ports/cwapi3d/portfile.cmake
  ports/cwapi3d/usage
  ports/cwapi3d/vcpkg.json
  versions/baseline.json
  versions/c-/cwapi3d.json
Labels: category:new-port, info:reviewed

#36790 [gts] fix for correctly excluding predicates_init.c file in build
  ports/gts/CMakeLists.txt
  ports/gts/vcpkg.json
  versions/baseline.json
  versions/g-/gts.json
Labels: category:port-feature, info:reviewed

#36786 [blaze] Add lapack and openmp features
  ports/blaze/portfile.cmake
  ports/blaze/vcpkg.json
  versions/b-/blaze.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#35984 [leptonica] update to 1.84.1
  ports/leptonica/fix-build-and-pkgconfig.patch
  ports/leptonica/fix-pc-and-config.patch
  ports/leptonica/portfile.cmake
  ports/leptonica/private.patch
  ports/leptonica/vcpkg.json
  ports/leptonica/webp.patch
  versions/baseline.json
  versions/l-/leptonica.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#36444 [cairo] Update to 1.18.0
  ports/cairo/cairo_static_fix.patch
  ports/cairo/fix-alloca-undefine.patch
  ports/cairo/mingw-dllexport.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: info:internal, category:port-update, info:reviewed

#36680 [skia] Update
  ports/skia/add-cstdlib.patch
  ports/skia/bentleyottmann-build.patch
  ports/skia/dawn-dedup-native-proc-gen.patch
  ports/skia/graphite.patch
  ports/skia/portfile.cmake
  ports/skia/skdebug-stdio.patch
  ports/skia/skia-functions.cmake
  ports/skia/skia-include-string.patch
  ports/skia/uwp.patch
  ports/skia/vcpkg.json
  ports/skia/vulkan-headers.patch
  scripts/test_ports/vcpkg-ci-skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-update, info:reviewed

#36530 [chipmunk] Export targets for usage
  ports/chipmunk/export-targets.patch
  ports/chipmunk/portfile.cmake
  ports/chipmunk/vcpkg.json
  versions/baseline.json
  versions/c-/chipmunk.json
Labels: category:port-feature, info:internal, info:reviewed

#36899 [wyhash] Update to 2023-12-03
  ports/wyhash/portfile.cmake
  ports/wyhash/vcpkg.json
  versions/baseline.json
  versions/w-/wyhash.json
Labels: category:port-update, info:reviewed

#36911 [libnick] Update to 2024.2.7
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#36912 [libredwg] Fix the usage error and cleanup patch
  ports/libredwg/fix_arm64_build.patch
  ports/libredwg/fix_dependency.patch
  ports/libredwg/fix_install.patch
  ports/libredwg/vcpkg.json
  versions/baseline.json
  versions/l-/libredwg.json
Labels: category:port-bug, info:internal, info:reviewed

#36886 [rtabmap] update to 0.21.4
  ports/rtabmap/fix_autouic.patch
  ports/rtabmap/fix_link.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/vcpkg.json
  versions/baseline.json
  versions/r-/rtabmap.json
Labels: category:port-update, info:reviewed

#36916 [jwt-cpp] Update to 0.7.0
  ports/jwt-cpp/portfile.cmake
  ports/jwt-cpp/vcpkg.json
  versions/baseline.json
  versions/j-/jwt-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#36914 [halide] update to 17.0.1
  ports/halide/portfile.cmake
  ports/halide/vcpkg.json
  versions/baseline.json
  versions/h-/halide.json
Labels: info:internal, category:port-update, info:reviewed

#36913 [libtorrent] update to 2.0.10
  ports/libtorrent/portfile.cmake
  ports/libtorrent/vcpkg.json
  versions/baseline.json
  versions/l-/libtorrent.json
Labels: info:internal, category:port-update, info:reviewed

#36897 [mongoose] update to 7.13
  ports/mongoose/portfile.cmake
  ports/mongoose/vcpkg.json
  versions/baseline.json
  versions/m-/mongoose.json
Labels: category:port-update, info:reviewed

#36891 [fdk-aac] Add restriction feature he-aac does not support Android platform
  ports/fdk-aac/vcpkg.json
  versions/baseline.json
  versions/f-/fdk-aac.json
Labels: category:port-feature, info:internal, info:reviewed

#36932 [vcpkg baseline] Adding hpx:x64-windows-static=fail into ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#36931 [WinReg] update to v6.2.0
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#36857 [libheif] x265 as feature to allow non-GPL build
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-feature, info:reviewed

#36979 [glm] update to 1.0.1
  ports/glm/disable-werror.patch
  ports/glm/portfile.cmake
  ports/glm/vcpkg.json
  versions/baseline.json
  versions/g-/glm.json
Labels: category:port-update, info:reviewed

#36964 [sockpp] Update to 1.0.0
  ports/sockpp/portfile.cmake
  ports/sockpp/vcpkg.json
  versions/baseline.json
  versions/s-/sockpp.json
Labels: info:internal, category:port-update, info:reviewed

#36960 [proxy] update to 2.2.0
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#36959 [libdatachannel] Update to 0.20.1
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#36958 [z3] Update to 4.12.6
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#36957 [vcpkg baseline][fdk-aac] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#36954 [tiff] Fix link errors
  ports/tiff/FindCMath.patch
  ports/tiff/vcpkg-cmake-wrapper.cmake.in
  ports/tiff/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-bug, info:reviewed

#36953 [libpng] Update to 1.6.43, fix libm linkage
  ports/libpng/fix-export-targets.patch
  ports/libpng/fix-msa-support-for-mips.patch
  ports/libpng/libm.patch
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-bug, category:port-update, info:reviewed

#36938 Fix the SAS token generation script
  scripts/azure-pipelines/generate-sas-tokens.ps1
Labels: info:internal, info:reviewed, category:infrastructure

#36936 [directxmesh, directxtex, directxtk, uavatlas] Updated for February 2024
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/uvatlas/openexr.patch
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#36935 [dav1d] Update to 1.4.0
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-update, info:reviewed

#36929 [opentelemetry-cpp] Pick up fix for Geneva feature
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#36917 [bddisasm] Update to 2.1.0
  ports/bddisasm/portfile.cmake
  ports/bddisasm/usage
  ports/bddisasm/vcpkg.json
  versions/b-/bddisasm.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36908 [glfw3] update to 3.4
  ports/glfw3/portfile.cmake
  ports/glfw3/vcpkg.json
  versions/baseline.json
  versions/g-/glfw3.json
Labels: category:port-update, info:reviewed

#36906 [matplotplusplus] update to 1.2.1
  ports/matplotplusplus/fix-dependencies.patch
  ports/matplotplusplus/portfile.cmake
  ports/matplotplusplus/vcpkg.json
  versions/baseline.json
  versions/m-/matplotplusplus.json
Labels: category:port-update, info:reviewed

#36876 [libffi] Update to 3.4.6, enable wasm32
  ports/libffi/fix_undefind_func.patch
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-update, info:reviewed

#36828 [bootstrap-vcpkg.sh] Test for ${CC} rather than gcc on systems using vcpkgUseSystem
  scripts/bootstrap.sh
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review
