Repository microsoft/vcpkg, pull requests merged in 2024-08, with the labels that each got.

#40211 [xaudio2redist] Fix XAUDIO_ARCH for x86
  ports/xaudio2redist/portfile.cmake
  ports/xaudio2redist/vcpkg.json
  versions/baseline.json
  versions/x-/xaudio2redist.json
Labels: category:port-bug, info:internal, info:reviewed

#39886 [lib3mf] New port. Introduces version 2.3.2
  ports/lib3mf/lib3mf_vcpkg.patch
  ports/lib3mf/portfile.cmake
  ports/lib3mf/usage
  ports/lib3mf/vcpkg.json
  versions/baseline.json
  versions/l-/lib3mf.json
Labels: category:new-port

#40204 [directx-dxc] Update for July 2024 release
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:port-update, info:reviewed

#39878 [protobuf-c] Update to 1.5.0
  ports/protobuf-c/fix-crt-linkage.patch
  ports/protobuf-c/fix-dependency-protobuf.patch
  ports/protobuf-c/portfile.cmake
  ports/protobuf-c/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf-c.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40102 [curl,vcpkg-ci-curl] Update to curl 8.9.1, Add gnutls feature, Add test gnutls for curl
  ports/curl/gnutls.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  scripts/test_ports/vcpkg-ci-curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, info:reviewed

#40210 [hffix] Update to 1.4.1
  ports/hffix/portfile.cmake
  ports/hffix/vcpkg.json
  versions/baseline.json
  versions/h-/hffix.json
Labels: info:internal, category:port-update, info:reviewed

#40198 Update vcpkg-tool to 2024-08-01 and fix hidden CI failures
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#40216 [cyrus-sasl] Fix path typo
  ports/cyrus-sasl/portfile.cmake
  ports/cyrus-sasl/vcpkg.json
  versions/baseline.json
  versions/c-/cyrus-sasl.json
Labels: category:port-bug, info:internal

#40213 [vcpkg baseline][c-ares] Add unsupported uwp platform
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-bug, info:internal

#40195 [sdl2pp] Allowing disabling SDL2 Satallite library installation via add feature
  ports/sdl2pp/portfile.cmake
  ports/sdl2pp/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2pp.json
Labels: category:port-feature, info:internal, info:reviewed

#40206 [bxzstr] Update to 1.2.2
  ports/bxzstr/portfile.cmake
  ports/bxzstr/vcpkg.json
  versions/b-/bxzstr.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#40207 [cppad] Update to 20240000.6
  ports/cppad/portfile.cmake
  ports/cppad/vcpkg.json
  versions/baseline.json
  versions/c-/cppad.json
Labels: info:internal, category:port-update, info:reviewed

#40208 [hashids] Update to 1.2.2
  ports/hashids/portfile.cmake
  ports/hashids/vcpkg.json
  versions/baseline.json
  versions/h-/hashids.json
Labels: info:internal, category:port-update, info:reviewed

#40173 [protobuf] Add Compiler Condition to use inline assembly optimizations with ARM64
  ports/protobuf/fix-arm64-msvc.patch
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-feature

#40077 [mariadb-connector-cpp] New port
  ports/mariadb-connector-cpp/fix-carray.diff
  ports/mariadb-connector-cpp/install.diff
  ports/mariadb-connector-cpp/libmariadb.diff
  ports/mariadb-connector-cpp/mingw.diff
  ports/mariadb-connector-cpp/portfile.cmake
  ports/mariadb-connector-cpp/unofficial-mariadb-connector-cpp-config.cmake
  ports/mariadb-connector-cpp/vcpkg.json
  versions/baseline.json
  versions/m-/mariadb-connector-cpp.json
Labels: category:new-port

#40203 [azure-security-attestation-cpp] Use non-deprecated syntax
  ports/azure-security-attestation-cpp/context_syntax.patch
  ports/azure-security-attestation-cpp/portfile.cmake
  ports/azure-security-attestation-cpp/vcpkg.json
  versions/a-/azure-security-attestation-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#40166 [vcpkg baseline][graphqlparser] Deindexed
  ports/graphqlparser/portfile.cmake
  ports/graphqlparser/remove-invalid-bison-directive.patch
  ports/graphqlparser/static-compile-fix.patch
  ports/graphqlparser/vcpkg.json
  ports/graphqlparser/win-cmake.patch
  scripts/ci.baseline.txt
  versions/baseline.json
Labels: info:internal, category:infrastructure

#38011 [ffmpeg] Update to 7.0.
  ports/aubio/ffmpeg7.patch
  ports/aubio/portfile.cmake
  ports/aubio/vcpkg.json
  ports/ffmpeg/0004-dependencies.patch
  ports/ffmpeg/0005-fix-nasm.patch
  ports/ffmpeg/0007-fix-lib-naming.patch
  ports/ffmpeg/0024-fix-osx-host-c11.patch
  ports/ffmpeg/0040-ffmpeg-add-av_stream_get_first_dts-for-chromium.patch
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/a-/aubio.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#40212 [libigl] Fix feature imgui's dependency imguizmo
  ports/libigl/dependencies.patch
  ports/libigl/install-extra-targets.patch
  ports/libigl/portfile.cmake
  ports/libigl/vcpkg.json
  versions/baseline.json
  versions/l-/libigl.json
Labels: category:port-feature, category:port-bug, info:internal, info:reviewed

#40223 [mlpack] Change the header file directory structure
  ports/mlpack/portfile.cmake
  ports/mlpack/usage
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: category:port-feature, info:internal, info:reviewed

#40228 [thorvg] Revert _DISABLE_CONSTEXPR_MUTEX_CONSTRUCTOR
  ports/thorvg/portfile.cmake
  ports/thorvg/revert-mutex.patch
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-bug, info:internal

#39894 [librdkafka] add new feature librdkafka[sasl]
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-feature, info:reviewed

#40202 [dingo] new port
  ports/dingo/portfile.cmake
  ports/dingo/vcpkg.json
  versions/baseline.json
  versions/d-/dingo.json
Labels: category:new-port, info:reviewed

#39738 [fmt] update to 11.0.2
  ports/buck-yeh-bux/fix-build-error-with-fmt11.patch
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  ports/fizz/fix-build-error-with-fmt11.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/fmt/fix-visibility.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  ports/folly/fix-fmt11-cmake.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/libtorch/fix-build-error-with-fmt11.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  ports/saucer/fix-build-error-with-fmt11.patch
  ports/saucer/portfile.cmake
  ports/saucer/vcpkg.json
  ports/seacas/fix-build-error-with-fmt11.patch
  ports/seacas/portfile.cmake
  ports/seacas/vcpkg.json
  ports/shogun/fix-build-error-with-fmt11.patch
  ports/shogun/portfile.cmake
  ports/shogun/vcpkg.json
  ports/vowpal-wabbit/fix-build-error-with-fmt11.patch
  ports/vowpal-wabbit/portfile.cmake
  ports/vowpal-wabbit/vcpkg.json
  ports/wasmedge/fix-build-error-with-fmt11.patch
  ports/wasmedge/portfile.cmake
  ports/wasmedge/vcpkg.json
  ports/wpilib/fix-build-error-with-fmt11.patch
  ports/wpilib/portfile.cmake
  ports/wpilib/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/fmt.json
  versions/f-/folly.json
  versions/l-/libtorch.json
  versions/s-/saucer.json
  versions/s-/seacas.json
  versions/s-/shogun.json
  versions/v-/vowpal-wabbit.json
  versions/w-/wasmedge.json
  versions/w-/wpilib.json
Labels: category:port-update, info:reviewed

#40283 [libnick] Update to 2024.8.1
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#40274 [libsystemd] Update to 256.4
  ports/libsystemd/portfile.cmake
  ports/libsystemd/vcpkg.json
  versions/baseline.json
  versions/l-/libsystemd.json
Labels: category:port-update, info:reviewed

#40272 [lmdb] Update, use official gitlab
  ports/lmdb/portfile.cmake
  ports/lmdb/vcpkg.json
  versions/baseline.json
  versions/l-/lmdb.json
Labels: category:port-update, info:reviewed

#40271 [libarchive] Update to 3.7.4.
  ports/libarchive/portfile.cmake
  ports/libarchive/usage
  ports/libarchive/vcpkg-cmake-wrapper.cmake.in
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-update, info:reviewed

#40267 [openal-soft]: Fix config error on android ndk r27
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-bug, info:reviewed

#40265 [bullet3]: Fix config error on android ndk r27
  ports/bullet3/portfile.cmake
  ports/bullet3/vcpkg.json
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#40220 [google-cloud-cpp] update to the latest release (v2.27.0)
  ports/google-cloud-cpp/fix_mocks_dependent_option.patch
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/support_absl_cxx17.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#40224 [c-ares] Update to 1.33.0, fix uwp
  ports/c-ares/portfile.cmake
  ports/c-ares/usage
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-feature, category:port-update, info:reviewed

#40227 [sdl2pp] Clean dependencies
  ports/sdl2pp/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2pp.json
Labels: info:internal, info:reviewed, category:code-cleanup

#40239 [vsg] Update to version 1.1.7
  ports/vsg/devendor-glslang.patch
  ports/vsg/portfile.cmake
  ports/vsg/vcpkg.json
  versions/baseline.json
  versions/v-/vsg.json
Labels: category:port-update, info:reviewed

#40242 [openimageio] update to 2.5.14.0
  ports/openimageio/portfile.cmake
  ports/openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-update, info:reviewed

#40255 [bgfx] Update to v1.128.8786-480
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40245 [netcpp] new port
  ports/netcpp/portfile.cmake
  ports/netcpp/usage
  ports/netcpp/vcpkg.json
  versions/baseline.json
  versions/n-/netcpp.json
Labels: category:new-port, info:reviewed

#40209 [raylib] Cleanup, fix platform support
  ports/raylib/android.diff
  ports/raylib/fix-linkGlfw.patch
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:port-bug, info:reviewed

#40304 [presentmon] Update to 2.1.1
  ports/presentmon/CMakeLists.txt
  ports/presentmon/portfile.cmake
  ports/presentmon/vcpkg.json
  versions/baseline.json
  versions/p-/presentmon.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40297 [abseil] update to 20240722.0
  ports/abseil/0001-revert-integer-to-string-conversion-optimizations.patch
  ports/abseil/0002-Fix-missing-include-random-for-std-uniform_int_distr.patch
  ports/abseil/779a356-test-allocator.diff
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40261 [miniz]: Fix config error on android ndk r27
  ports/miniz/portfile.cmake
  ports/miniz/vcpkg.json
  versions/baseline.json
  versions/m-/miniz.json
Labels: category:port-feature, info:reviewed

#40199 [wabt] Add new port
  ports/wabt/include_picosha2.cmake
  ports/wabt/portfile.cmake
  ports/wabt/vcpkg.json
  versions/baseline.json
  versions/w-/wabt.json
Labels: category:new-port, info:reviewed

#40110 [libpq] Update to 16.3
  ports/libpq/portfile.cmake
  ports/libpq/unix/fix-configure.patch
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-update, info:reviewed

#40324 [argparse] Update to 3.1
  ports/argparse/portfile.cmake
  ports/argparse/vcpkg.json
  versions/a-/argparse.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40306 [mlpack] Update to 4.4.0
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: info:internal, category:port-update, info:reviewed

#40286 [xmlsec] Update version to 1.3.5
  ports/xmlsec/CMakeLists.txt
  ports/xmlsec/portfile.cmake
  ports/xmlsec/vcpkg.json
  versions/baseline.json
  versions/x-/xmlsec.json
Labels: category:port-update, info:reviewed

#40263 [libsquish]: Fix config error on android ndk r27
  ports/libsquish/cmake-version.patch
  ports/libsquish/portfile.cmake
  ports/libsquish/vcpkg.json
  versions/baseline.json
  versions/l-/libsquish.json
Labels: category:port-bug, info:reviewed

#40319 [mongo-c-driver] update version to 1.27.5
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40318 [azure-data-tables-cpp] azure-data-tables-sdk_aug8-2024
  ports/azure-data-tables-cpp/portfile.cmake
  ports/azure-data-tables-cpp/vcpkg.json
  versions/a-/azure-data-tables-cpp.json
  versions/baseline.json
Labels: info:reviewed

#40317 [azure-security-keyvault-cpp] Update to Aug Release for Keyvault Packages
  ports/azure-security-keyvault-administration-cpp/portfile.cmake
  ports/azure-security-keyvault-administration-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-administration-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40315 [azure-identity-cpp] publish version 1.9.0
  ports/azure-identity-cpp/portfile.cmake
  ports/azure-identity-cpp/vcpkg.json
  versions/a-/azure-identity-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40280 [libpng] Remove -DPNG_PREFIX=a option when apng feature enabled
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:vcpkg-feature, info:reviewed

#40346 [imageinfo] Bump to 2024-08-05
  ports/imageinfo/portfile.cmake
  ports/imageinfo/vcpkg.json
  versions/baseline.json
  versions/i-/imageinfo.json
Labels: category:port-update, info:reviewed

#40327 [kddockwidgets] Disable undeclared dependencies and update to 2.1.0
  ports/kddockwidgets/portfile.cmake
  ports/kddockwidgets/vcpkg.json
  versions/baseline.json
  versions/k-/kddockwidgets.json
Labels: category:port-bug, info:internal, category:port-update

#40359 [perfetto] update to 47.0
  ports/perfetto/portfile.cmake
  ports/perfetto/vcpkg.json
  versions/baseline.json
  versions/p-/perfetto.json
Labels: category:port-update, info:reviewed

#40215 [brpc] Update to 1.10.0
  ports/brpc/fix-compilation-error.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40217 [openvino] OpenVINO 2024.3.0 release
  ports/openvino/001-disable-tools.patch
  ports/openvino/002-api-validator.patch
  ports/openvino/002-fix-onnx-codegen.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update, info:reviewed

#40321 [vcpkg-ci-curl] Add mbedtls to curl ci tests
  scripts/test_ports/vcpkg-ci-curl/vcpkg.json
Labels: info:reviewed, category:infrastructure

#40329 [uwebsockets] update to 20.65.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update, info:reviewed

#40341 [libcoro] Update to 0.12.1
  ports/libcoro/portfile.cmake
  ports/libcoro/vcpkg.json
  versions/baseline.json
  versions/l-/libcoro.json
Labels: category:port-update, info:reviewed

#40342 [folly related] update to 08.05
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#40344 [lightgbm] Add Threadless Feature
  ports/lightgbm/portfile.cmake
  ports/lightgbm/vcpkg.json
  versions/baseline.json
  versions/l-/lightgbm.json
Labels: category:port-feature, info:reviewed

#40322 [angle] Fix missing `DetectSSE2.cmake` on x86 builds
  ports/angle/portfile.cmake
  ports/angle/vcpkg.json
  versions/a-/angle.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#40337 [libdatachannel] Update, cleanup
  ports/libdatachannel/dependencies.diff
  ports/libdatachannel/fix-for-vcpkg.patch
  ports/libdatachannel/fix_dependency.patch
  ports/libdatachannel/fix_srtp.patch
  ports/libdatachannel/library-linkage.diff
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/uwp-warnings.patch
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed, category:code-cleanup

#40229 [vcpkg baseline] Add discordcoreapi omplapp to ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#40185 [imgui] Update to 1.91.0
  ports/hello-imgui/fix-upw.patch
  ports/hello-imgui/portfile.cmake
  ports/hello-imgui/vcpkg.json
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/h-/hello-imgui.json
  versions/i-/imgui.json
Labels: info:internal, category:port-update, info:reviewed

#40295 [ecm] update version to 6.4.0 and fix absolute paths
  ports/ecm/fix_canberra.patch
  ports/ecm/fix_libmount.patch
  ports/ecm/portfile.cmake
  ports/ecm/usage
  ports/ecm/vcpkg.json
  versions/baseline.json
  versions/e-/ecm.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40373 [libmysql] Update to 8.0.39
  ports/libmysql/install-exports.patch
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-update, info:reviewed

#40367 [functionalplus] Update to 0.2.25
  ports/functionalplus/portfile.cmake
  ports/functionalplus/vcpkg.json
  versions/baseline.json
  versions/f-/functionalplus.json
Labels: info:internal, category:port-update, info:reviewed

#40362 [lunasvg] Update to 2.4.0
  ports/lunasvg/fix-cmake.patch
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:port-update, info:reviewed

#40330 [zeromq] Fix missing PkgConfig
  ports/zeromq/portfile.cmake
  ports/zeromq/vcpkg.json
  versions/baseline.json
  versions/z-/zeromq.json
Labels: category:port-feature, info:internal, info:reviewed

#40357 [libdeflate] Update to v1.21
  ports/libdeflate/fix_gcc.patch
  ports/libdeflate/portfile.cmake
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: category:port-update, info:reviewed

#40345 [microsoft-signalr] Backport fix compilation with gcc 13
  ports/microsoft-signalr/portfile.cmake
  ports/microsoft-signalr/vcpkg.json
  versions/baseline.json
  versions/m-/microsoft-signalr.json
Labels: category:port-bug, info:internal, info:reviewed

#40403 [google-cloud-cpp] update to the latest release (v2.28.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#40396 [simdutf] update to 5.3.4
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/simdutf.json
Labels: category:port-update, info:reviewed

#40238 [ffmpeg] Update to version 7.0.2
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#40395 [simdjson] update to 3.10.0
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#40389 [robotraconteur] Update to version 1.2.2
  ports/robotraconteur/portfile.cmake
  ports/robotraconteur/vcpkg.json
  versions/baseline.json
  versions/r-/robotraconteur.json
Labels: category:port-update, info:reviewed

#40379 [cpp-httplib] update to 0.16.2
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#40378 [tinygltf] update to 2.9.3
  ports/tinygltf/portfile.cmake
  ports/tinygltf/vcpkg.json
  versions/baseline.json
  versions/t-/tinygltf.json
Labels: category:port-update, info:reviewed

#40375 [libxml2] Update to 2.11.9
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: info:internal, category:port-update, info:reviewed

#40366 [libpqxx] Update version to 7.9.2
  ports/libpqxx/fix_build_cmake_3.30.patch
  ports/libpqxx/fix_build_with_vs2017.patch
  ports/libpqxx/portfile.cmake
  ports/libpqxx/vcpkg.json
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: info:internal, category:port-update, info:reviewed

#40361 [openexr] Update
  ports/openexr/fix-cmake-package.patch
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  versions/baseline.json
  versions/o-/openexr.json
Labels: category:port-update, info:reviewed

#40360 [libwebm] Update, cleanup
  ports/libwebm/Fix-cmake.patch
  ports/libwebm/portfile.cmake
  ports/libwebm/vcpkg.json
  versions/baseline.json
  versions/l-/libwebm.json
Labels: category:port-bug, category:port-update, info:reviewed

#40358 [pkgconf] Update to 2.3.0
  ports/pkgconf/portfile.cmake
  ports/pkgconf/vcpkg.json
  versions/baseline.json
  versions/p-/pkgconf.json
Labels: category:port-update, info:reviewed

#40335 [libjuice] Update to 1.5.2, cleanup
  ports/libjuice/dependencies.diff
  ports/libjuice/fix-for-vcpkg.patch
  ports/libjuice/library-linkage.diff
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libjuice.json
Labels: category:port-bug, category:port-update, info:reviewed

#40417 [libmidi2] Update to v0.11
  ports/libmidi2/portfile.cmake
  ports/libmidi2/vcpkg.json
  versions/baseline.json
  versions/l-/libmidi2.json
Labels: category:port-update, info:reviewed

#40409 [gtest] update to 1.15.2
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-update, info:reviewed

#40404 [sdl2pp] Fix usage error
  ports/sdl2pp/fix-usage.patch
  ports/sdl2pp/portfile.cmake
  ports/sdl2pp/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2pp.json
Labels: category:port-bug, info:internal, info:reviewed

#40332 [sentry-native] update to 0.7.8
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#40273 [lastools] Update to 2.0.3
  ports/lastools/build-tools.diff
  ports/lastools/fix_install_paths_lastools.patch
  ports/lastools/insecure-fprintf.diff
  ports/lastools/portfile.cmake
  ports/lastools/signed-char.diff
  ports/lastools/vcpkg.json
  versions/baseline.json
  versions/l-/lastools.json
Labels: category:port-update, info:reviewed

#40279 [vtk]: Convert dependencies into default features
  ports/opencv3/vcpkg.json
  ports/opencv4/vcpkg.json
  ports/pcl/vcpkg.json
  ports/vtk/no-libharu-for-ioexport.patch
  ports/vtk/no-libproj-for-netcdf.patch
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
  versions/p-/pcl.json
  versions/v-/vtk.json
Labels: category:port-feature, info:reviewed

#40442 [vcpkg baseline][onednn] Update to latest version fix ci error
  ports/onednn/portfile.cmake
  ports/onednn/vcpkg.json
  versions/baseline.json
  versions/o-/onednn.json
Labels: info:internal, category:port-update, info:reviewed

#40440 [7zip] Update to 24.08
  ports/7zip/portfile.cmake
  ports/7zip/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program(7Z).cmake
  scripts/vcpkgTools.xml
  versions/7-/7zip.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#40365 [quill] Update to 6.1.2
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#40457 [glaze] Update to 3.2.5
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: info:internal, category:port-update, info:reviewed

#40443 [curl] Fix curl-config
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#40349 [ilmbase] Delist
  ports/ilmbase/portfile.cmake
  ports/ilmbase/vcpkg.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup, requires:vcpkg-team-review

#40107 [vulkan-sdk-*] Update to 1.3.290.0
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  ports/lunarg-vulkantools/portfile.cmake
  ports/lunarg-vulkantools/vcpkg.json
  ports/spirv-cross/portfile.cmake
  ports/spirv-cross/vcpkg.json
  ports/spirv-headers/portfile.cmake
  ports/spirv-headers/vcpkg.json
  ports/spirv-reflect/export-targets.patch
  ports/spirv-reflect/portfile.cmake
  ports/spirv-reflect/vcpkg.json
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/vcpkg.json
  ports/volk/portfile.cmake
  ports/volk/vcpkg.json
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-loader/portfile.cmake
  ports/vulkan-loader/vcpkg.json
  ports/vulkan-sdk-components/get-vulkan-sdk-components-info.ps1
  ports/vulkan-sdk-components/vcpkg.json
  ports/vulkan-tools/fix-parallel-config.patch
  ports/vulkan-tools/portfile.cmake
  ports/vulkan-tools/vcpkg.json
  ports/vulkan-utility-libraries/portfile.cmake
  ports/vulkan-utility-libraries/vcpkg.json
  ports/vulkan-validationlayers/portfile.cmake
  ports/vulkan-validationlayers/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
  versions/l-/lunarg-vulkantools.json
  versions/s-/spirv-cross.json
  versions/s-/spirv-headers.json
  versions/s-/spirv-reflect.json
  versions/s-/spirv-tools.json
  versions/v-/volk.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-loader.json
  versions/v-/vulkan-sdk-components.json
  versions/v-/vulkan-tools.json
  versions/v-/vulkan-utility-libraries.json
  versions/v-/vulkan-validationlayers.json
Labels: info:internal, category:port-update, info:reviewed

#40334 [colmap] Update to version 3.10
  ports/colmap/fix-link-glog.patch
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  versions/baseline.json
  versions/c-/colmap.json
Labels: category:port-update

#40259 [sdl2] Update to 2.30.6
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#40484 [flecs] Update to 4.0.1
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#40479 [catch2] Update to v3.7.0
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#40471 [re2] update to 2024-07-02
  ports/re2/portfile.cmake
  ports/re2/vcpkg.json
  versions/baseline.json
  versions/r-/re2.json
Labels: category:port-update, info:reviewed

#40470 [scintilla] Update version to 5.5.1
  ports/scintilla/portfile.cmake
  ports/scintilla/vcpkg.json
  versions/baseline.json
  versions/s-/scintilla.json
Labels: info:internal, category:port-update, info:reviewed

#40461 [fast-float] Bump to 6.1.4
  ports/fast-float/portfile.cmake
  ports/fast-float/vcpkg.json
  versions/baseline.json
  versions/f-/fast-float.json
Labels: category:port-update, info:reviewed

#40453 [libnick] Update to 2024.8.2
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#40435 [sqlite3] update to 3.46.1
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#40348 [bzip2] Fix build wrt Android NDK and CMake
  ports/bzip2/CMakeLists.txt
  ports/bzip2/portfile.cmake
  ports/bzip2/vcpkg.json
  versions/b-/bzip2.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#40477 [aom] Update to 3.9.1
  ports/aom/aom-install.diff
  ports/aom/export-config.diff
  ports/aom/portfile.cmake
  ports/aom/vcpkg.json
  versions/a-/aom.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40486 [pybind11] update to 2.13.4
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
Labels: category:port-update, info:reviewed

#40105 [ffmpeg] Add feature harfbuzz
  ports/ffmpeg/0043-fix-miss-head.patch
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:internal, info:reviewed

#40487 [vcpkg baseline][lastools] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#40496 [folly] Update to 2024.08.12.00
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: info:internal, category:port-update, info:reviewed

#40473 [cmake-user,shiftmedia-libgnutls] Test/fix FindGnuTLS
  ports/shiftmedia-libgnutls/portfile.cmake
  ports/shiftmedia-libgnutls/vcpkg-cmake-wrapper.cmake
  ports/shiftmedia-libgnutls/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/s-/shiftmedia-libgnutls.json
Labels: category:port-feature, category:port-bug, info:reviewed, category:infrastructure

#40467 [openscap] Update to 1.4.0
  ports/openscap/fix-build.patch
  ports/openscap/fix-buildflag-and-install.patch
  ports/openscap/fix-utils.patch
  ports/openscap/portfile.cmake
  ports/openscap/vcpkg.json
  versions/baseline.json
  versions/o-/openscap.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#40460 [mfx-dispatch] Fix non-msvc
  ports/mfx-dispatch/portfile.cmake
  ports/mfx-dispatch/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/baseline.json
  versions/m-/mfx-dispatch.json
Labels: category:port-feature, info:reviewed

#40456 [dpdk] Update to 24.07
  ports/dpdk/enable-either-static-or-shared-build.patch
  ports/dpdk/fix-dependencies.patch
  ports/dpdk/portfile.cmake
  ports/dpdk/remove-examples-src-from-datadir.patch
  ports/dpdk/stop-building-apps.patch
  ports/dpdk/vcpkg.json
  versions/baseline.json
  versions/d-/dpdk.json
Labels: info:internal, category:port-update, info:reviewed

#40497 [magma] Update to 2.8.0
  ports/magma/portfile.cmake
  ports/magma/vcpkg.json
  versions/baseline.json
  versions/m-/magma.json
Labels: info:internal, category:port-update

#40491 [bddisasm] update to 2.1.5
  ports/bddisasm/portfile.cmake
  ports/bddisasm/vcpkg.json
  versions/b-/bddisasm.json
  versions/baseline.json
Labels: info:internal, category:port-update

#40495 [tvision] update to 2024-05-22
  ports/tvision/portfile.cmake
  ports/tvision/vcpkg.json
  versions/baseline.json
  versions/t-/tvision.json
Labels: info:internal, category:port-update

#40399 [shapelib] Update to 1.6.1
  ports/shapelib/portfile.cmake
  ports/shapelib/vcpkg.json
  versions/baseline.json
  versions/s-/shapelib.json
Labels: category:port-update

#40534 [microsoft-signalr] Disable WERROR for warning STL4043
  ports/microsoft-signalr/portfile.cmake
  ports/microsoft-signalr/vcpkg.json
  versions/baseline.json
  versions/m-/microsoft-signalr.json
Labels: category:port-bug, info:internal, info:reviewed

#40530 [highfive] update to 2.10.0
  ports/highfive/portfile.cmake
  ports/highfive/vcpkg.json
  versions/baseline.json
  versions/h-/highfive.json
Labels: category:port-update, info:reviewed

#40528 [jsoncons] Update to 0.177.0
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#40526 [joltphysics] Update to 5.1.0
  ports/joltphysics/fix-export.diff
  ports/joltphysics/portfile.cmake
  ports/joltphysics/unofficial-joltphysics-config.cmake
  ports/joltphysics/usage
  ports/joltphysics/vcpkg.json
  versions/baseline.json
  versions/j-/joltphysics.json
Labels: category:port-update, info:reviewed

#40524 [libnick] Update to 2024.8.3
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#40520 [toml11] update to 4.2.0
  ports/toml11/portfile.cmake
  ports/toml11/vcpkg.json
  versions/baseline.json
  versions/t-/toml11.json
Labels: category:port-update, info:reviewed

#40519 [crashpad,vcpkg-ci-crashpad] Fixes, Android, test port
  ports/crashpad/crashpadConfig.cmake.in
  ports/crashpad/ndk-toolchain.diff
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  scripts/test_ports/vcpkg-ci-crashpad/portfile.cmake
  scripts/test_ports/vcpkg-ci-crashpad/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-crashpad/project/main.cpp
  scripts/test_ports/vcpkg-ci-crashpad/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug, info:reviewed

#40518 [dav1d] Update to 1.4.3
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-update, info:reviewed

#40517 [ableton-link] Update port to version 3.1.2
  ports/ableton-link/portfile.cmake
  ports/ableton-link/vcpkg.json
  versions/a-/ableton-link.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#40515 [CLI11] Force C++17 pre-compilation so that C++17 std::filesystem is available
  ports/cli11/portfile.cmake
  ports/cli11/vcpkg.json
  versions/baseline.json
  versions/c-/cli11.json
Labels: category:port-feature, info:reviewed

#40514 [vulkan-headers] Control options
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-headers.json
Labels: category:port-bug, info:reviewed

#40510 [sdl2]: Fix build error on android ndk r27
  ports/sdl2/poll-fix.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#40485 [libpq] Update to 16.4
  ports/libpq/portfile.cmake
  ports/libpq/unix/fix-configure.patch
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-update, info:reviewed

#40472 [libgnutls] Update to 3.8.7.1
  ports/libgnutls/compression-libs.diff
  ports/libgnutls/link-zlib.patch
  ports/libgnutls/portfile.cmake
  ports/libgnutls/use-gmp-pkgconfig.patch
  ports/libgnutls/vcpkg.json
  versions/baseline.json
  versions/l-/libgnutls.json
Labels: category:port-update, info:reviewed

#40423 [libcerf] Update and fix
  ports/libcerf/001-fix-static-build.patch
  ports/libcerf/begin-end-decls.diff
  ports/libcerf/cxx-flags.diff
  ports/libcerf/fix-source.diff
  ports/libcerf/install-dirs.diff
  ports/libcerf/portfile.cmake
  ports/libcerf/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libcerf.json
Labels: info:reviewed, category:code-cleanup

#40420 [ffmpeg] Fix build on windows
  ports/ffmpeg/build.sh.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#40550 [marble] Update to 24.70.90
  ports/marble/portfile.cmake
  ports/marble/vcpkg.json
  versions/baseline.json
  versions/m-/marble.json
Labels: info:internal, category:port-update, info:reviewed

#40545 [folly related] update to 08.19
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/fix-build-error-with-fmt11.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#40511 [thorvg] update to 0.14.6
  ports/thorvg/portfile.cmake
  ports/thorvg/revert-mutex.patch
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#40499 [sciter-js] Update to 5.0.3.14
  ports/sciter-js/portfile.cmake
  ports/sciter-js/vcpkg.json
  versions/baseline.json
  versions/s-/sciter-js.json
Labels: category:port-update, info:reviewed

#40079 [boost-stacktrace] add libbacktrace
  ports/boost-stacktrace/features.cmake
  ports/boost-stacktrace/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-stacktrace.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#40498 [level-zero] added new port
  ports/level-zero/001-patch-install-rules.patch
  ports/level-zero/portfile.cmake
  ports/level-zero/vcpkg.json
  versions/baseline.json
  versions/l-/level-zero.json
Labels: category:new-port, info:reviewed

#40493 [lockpp] Update to 3.0
  ports/lockpp/portfile.cmake
  ports/lockpp/vcpkg.json
  versions/baseline.json
  versions/l-/lockpp.json
Labels: category:port-update, info:reviewed

#40476 [exiv2] Update to 0.28.3, fixes, cleanup
  ports/exiv2/dependencies.diff
  ports/exiv2/dont-find-python.patch
  ports/exiv2/fix-brotli.patch
  ports/exiv2/fix-expat.patch
  ports/exiv2/fix-find_expat.patch
  ports/exiv2/fix-inih.patch
  ports/exiv2/ios.patch
  ports/exiv2/portfile.cmake
  ports/exiv2/usage
  ports/exiv2/vcpkg-cmake-wrapper.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-update, info:reviewed

#40462 [libdwarf] Update to 0.10.1
  ports/libdwarf/dependencies.diff
  ports/libdwarf/dwarfdump-conf.diff
  ports/libdwarf/include-dir.diff
  ports/libdwarf/portfile.cmake
  ports/libdwarf/vcpkg.json
  versions/baseline.json
  versions/l-/libdwarf.json
Labels: category:port-update, info:reviewed

#40391 [ffmpeg] reenable osx platform support for ffmpeg[sdl2]
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed

#40351 [via-httplib] add new port
  ports/via-httplib/portfile.cmake
  ports/via-httplib/vcpkg.json
  versions/baseline.json
  versions/v-/via-httplib.json
Labels: category:new-port, info:reviewed

#40582 [octave] add new port
  ports/octave/portfile.cmake
  ports/octave/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/octave.json
Labels: category:new-port, info:reviewed
