Repository microsoft/vcpkg, pull requests merged in 2024-11, with the labels that each got.

#41887 [folly related] update to 10.28
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#41885 [sqlite3] Prepend whitespace to pkgconfig Requires.private string
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-bug, info:reviewed

#41883 [gtk] Update to 4.16.3
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
Labels: info:internal, category:port-update, info:reviewed

#41882 [ezc3d] Update to 1.5.11
  ports/ezc3d/portfile.cmake
  ports/ezc3d/vcpkg.json
  versions/baseline.json
  versions/e-/ezc3d.json
Labels: info:internal, category:port-update, info:reviewed

#41891 [sese] Backport fix env statement for 2.3.0
  ports/sese/portfile.cmake
  ports/sese/vcpkg.json
  versions/baseline.json
  versions/s-/sese.json
Labels: category:port-feature, info:reviewed

#41881 [vlpp] update to 1.2.10.1
  ports/vlpp/fix-install.patch
  ports/vlpp/portfile.cmake
  ports/vlpp/vcpkg.json
  versions/baseline.json
  versions/v-/vlpp.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#41880 [enet] Update to 1.3.18
  ports/enet/CMakeLists.txt
  ports/enet/fix-export.patch
  ports/enet/portfile.cmake
  ports/enet/vcpkg.json
  versions/baseline.json
  versions/e-/enet.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#41894 [fluidsynth] Update to 2.4.0
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#41890 [rlottie]: add new port
  ports/rlottie/portfile.cmake
  ports/rlottie/vcpkg.json
  ports/rlottie/vcpkg.patch
  versions/baseline.json
  versions/r-/rlottie.json
Labels: category:new-port, info:reviewed

#41877 [cpr] Update cpr to version 1.11.0
  ports/cpr/disable_werror.patch
  ports/cpr/portfile.cmake
  ports/cpr/vcpkg.json
  versions/baseline.json
  versions/c-/cpr.json
Labels: category:port-update, info:reviewed

#41889 [Mygui] Add features obsolete, plugins
  ports/mygui/portfile.cmake
  ports/mygui/vcpkg.json
  versions/baseline.json
  versions/m-/mygui.json
Labels: category:port-feature, info:reviewed

#41884 [bgfx] update to 1.128.8808-482
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#41873 [open62541] update to 1.3.14
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-update, info:reviewed

#41570 [bark] New port v0.3.0
  ports/bark/portfile.cmake
  ports/bark/usage
  ports/bark/vcpkg.json
  versions/b-/bark.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#41866 [sfml] Add different libraries as features
  ports/sfml/portfile.cmake
  ports/sfml/usage
  ports/sfml/vcpkg.json
  versions/baseline.json
  versions/s-/sfml.json
Labels: category:port-feature, info:reviewed

#41860 [pipewire] Update to 1.2.6
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: info:internal, category:port-update, info:reviewed

#40874 [fastgltf] Update to 0.8.0
  ports/fastgltf/portfile.cmake
  ports/fastgltf/vcpkg.json
  versions/baseline.json
  versions/f-/fastgltf.json
Labels: info:internal, category:port-update, info:reviewed

#41852 [libcap] Update to 2.71
  ports/libcap/configure
  ports/libcap/portfile.cmake
  ports/libcap/vcpkg.json
  versions/baseline.json
  versions/l-/libcap.json
Labels: category:port-update, info:reviewed

#41898 [halide] Update version to 18.0.0
  ports/halide/portfile.cmake
  ports/halide/vcpkg.json
  versions/baseline.json
  versions/h-/halide.json
Labels: info:internal, category:port-update, info:reviewed

#41878 [directxmesh, directxtex, directxtk(12), uvatlas] Updated for October 2024 releases
  ports/directxmesh/portfile.cmake
  ports/directxmesh/vcpkg.json
  ports/directxtex/FixStdByteAndCMake.patch
  ports/directxtex/portfile.cmake
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/vcpkg.json
  ports/rsm-bsa/DirectXTexUint8Byte.patch
  ports/rsm-bsa/portfile.cmake
  ports/rsm-bsa/vcpkg.json
  ports/uvatlas/FixCMake.patch
  ports/uvatlas/portfile.cmake
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/r-/rsm-bsa.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#41875 [c-ares] update to 1.34.2
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: info:internal, category:port-update, info:reviewed

#41856 [ffmpeg] Update to 7.1
  ports/ffmpeg/0004-dependencies.patch
  ports/ffmpeg/0005-fix-nasm.patch
  ports/ffmpeg/0012-Fix-ssl-110-detection.patch
  ports/ffmpeg/0043-fix-miss-head.patch
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#41711 [boost-build] Update HASH
  ports/boost-build/portfile.cmake
  ports/boost-build/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-build.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#41945 [vcpkg baseline][gpgmm] Fix duplicate header files
  ports/gpgmm/portfile.cmake
  ports/gpgmm/vcpkg.json
  versions/baseline.json
  versions/g-/gpgmm.json
Labels: category:port-bug, info:internal, info:reviewed

#41965 [caf] update to 1.0.2
  ports/caf/portfile.cmake
  ports/caf/vcpkg.json
  versions/baseline.json
  versions/c-/caf.json
Labels: info:internal, category:port-update, info:reviewed

#41958 [armadillo] remove unused DETECT_HDF5 option
  ports/armadillo/portfile.cmake
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#41952 [tbb] update to 2022.0.0
  ports/tbb/portfile.cmake
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-update, info:reviewed

#41947 [open62541] Do not enable LTO by default.
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-feature, info:reviewed

#41928 [Log4cxx] add features
  ports/log4cxx/portfile.cmake
  ports/log4cxx/vcpkg.json
  versions/baseline.json
  versions/l-/log4cxx.json
Labels: category:port-feature, info:reviewed

#41922 [DPP] Bump to version 10.0.35
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#41915 [sdl2] Update to 2.30.9
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#41910 [sobjectizer] Update to 5.8.3, and so5extra update to 1.6.2
  ports/so5extra/portfile.cmake
  ports/so5extra/vcpkg.json
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/so5extra.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed

#41908 [azure-core-cpp] Update to 1.14.1
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/set_version.patch
  ports/azure-core-cpp/useragent.patch
  ports/azure-core-cpp/vcpkg.json
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/set_version.patch
  ports/azure-messaging-eventhubs-cpp/useragent.patch
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41901 [basisu] update to v1.50.0
  ports/basisu/0001-cmake.patch
  ports/basisu/portfile.cmake
  ports/basisu/vcpkg.json
  versions/b-/basisu.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41897 [libarchive ] Fix fix build on iOS
  ports/libarchive/portfile.cmake
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-feature, info:reviewed

#41924 [qmex] Add new port
  ports/qmex/portfile.cmake
  ports/qmex/vcpkg.json
  versions/baseline.json
  versions/q-/qmex.json
Labels: category:new-port, info:reviewed

#41918 [allegro5] Add Minimp3 support
  ports/allegro5/minimp3-fix.patch
  ports/allegro5/portfile.cmake
  ports/allegro5/vcpkg.json
  versions/a-/allegro5.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41685 [pdal] Update to 2.8.1
  ports/pdal-dimbuilder/namespace-nl.diff
  ports/pdal-dimbuilder/portfile.cmake
  ports/pdal-dimbuilder/vcpkg.json
  ports/pdal/dependencies.diff
  ports/pdal/external-dimbuilder.diff
  ports/pdal/find-library-suffix.diff
  ports/pdal/fix-dependency.patch
  ports/pdal/fix-gcc-13-build.patch
  ports/pdal/fix-unix-compiler-options.patch
  ports/pdal/gdal-3.7.patch
  ports/pdal/install-dimbuilder.patch
  ports/pdal/mingw.patch
  ports/pdal/no-pkgconfig-requires.patch
  ports/pdal/portfile.cmake
  ports/pdal/usage
  ports/pdal/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pdal-dimbuilder.json
  versions/p-/pdal.json
Labels: category:new-port, category:port-update, info:reviewed

#41896 [gdal] Add libarchive support
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  scripts/test_ports/vcpkg-ci-gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-feature, info:reviewed

#41774 [elements] Update to 2024-09-12 and fix dependencies
  ports/elements/asio-headers.patch
  ports/elements/fix-dependencies.patch
  ports/elements/portfile.cmake
  ports/elements/vcpkg.json
  ports/elements/win-find-libraries.patch
  versions/baseline.json
  versions/e-/elements.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#41808 [ngtcp2] update to 1.8.1
  ports/ngtcp2/popcnt_intrinsic.patch
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-update, info:reviewed

#41809 [rubberband] Update to 4.0.0
  ports/rubberband/portfile.cmake
  ports/rubberband/vcpkg.json
  versions/baseline.json
  versions/r-/rubberband.json
Labels: category:port-update, info:reviewed

#41893 [libunwind,gperftools] Fix dependencies
  ports/gperftools/libunwind.diff
  ports/gperftools/portfile.cmake
  ports/gperftools/vcpkg.json
  ports/libunwind/liblzma.diff
  ports/libunwind/portfile.cmake
  ports/libunwind/usage
  ports/libunwind/vcpkg.json
  versions/baseline.json
  versions/g-/gperftools.json
  versions/l-/libunwind.json
Labels: category:port-bug, info:reviewed

#41858 [joltphysics] Add debug build compile definitions features
  ports/joltphysics/portfile.cmake
  ports/joltphysics/vcpkg.json
  versions/baseline.json
  versions/j-/joltphysics.json
Labels: category:port-feature, info:internal, info:reviewed

#41865 [elfutils] Update to 0.192
  ports/elfutils/link-libs.diff
  ports/elfutils/portfile.cmake
  ports/elfutils/vcpkg.json
  versions/baseline.json
  versions/e-/elfutils.json
Labels: info:internal, category:port-update, info:reviewed

#41990 [baresip-libre] bump to version 3.17.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#41977 [robotraconteur] Update to version 1.2.4
  ports/robotraconteur/portfile.cmake
  ports/robotraconteur/vcpkg.json
  versions/baseline.json
  versions/r-/robotraconteur.json
Labels: category:port-update, info:reviewed

#41975 [nanoflann] Update to 1.6.2
  ports/nanoflann/portfile.cmake
  ports/nanoflann/vcpkg.json
  versions/baseline.json
  versions/n-/nanoflann.json
Labels: category:port-update, info:reviewed

#41974 [sentry-native] update to 0.7.12
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#41969 [folly related] update to 11.04
  ports/fbthrift/fix-annotation.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#41968 [msgpack] update to 7.0.0
  ports/msgpack/portfile.cmake
  ports/msgpack/vcpkg.json
  versions/baseline.json
  versions/m-/msgpack.json
Labels: category:port-update, info:reviewed

#41963 [harfbuzz] Update to 10.1.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#41959 [libmodplug] Fix build failure with clang-19
  ports/libmodplug/portfile.cmake
  ports/libmodplug/vcpkg.json
  versions/baseline.json
  versions/l-/libmodplug.json
Labels: category:port-bug, info:reviewed

#41943 [daw-json-link] update to v3.29.2
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: info:internal, category:port-update, info:reviewed

#41942 [tmx] update to 1.10.0
  ports/tmx/libxml2.patch
  ports/tmx/portfile.cmake
  ports/tmx/vcpkg.json
  versions/baseline.json
  versions/t-/tmx.json
Labels: category:port-update, info:reviewed

#41653 [scnlib] update to 4.0.1
  ports/scnlib/portfile.cmake
  ports/scnlib/vcpkg.json
  versions/baseline.json
  versions/s-/scnlib.json
Labels: category:port-update, info:reviewed

#41609 [vcpkg-script] vcpkg_copy_pdbs() modify the regular matching of the pdb file path
  scripts/cmake/vcpkg_copy_pdbs.cmake
Labels: category:port-bug, info:internal, info:reviewed, category:tool-update

#42009 [modern-cpp-kafka] Update to v2024.07.03
  ports/modern-cpp-kafka/portfile.cmake
  ports/modern-cpp-kafka/vcpkg.json
  versions/baseline.json
  versions/m-/modern-cpp-kafka.json
Labels: info:internal, category:port-update, info:reviewed

#42011 [zoe] Update to v3.3
  ports/zoe/portfile.cmake
  ports/zoe/vcpkg.json
  versions/baseline.json
  versions/z-/zoe.json
Labels: category:port-update, info:reviewed

#42008 [zeroc-ice] Update to 3.7.10
  ports/zeroc-ice/fix-missing-functional.patch
  ports/zeroc-ice/portfile.cmake
  ports/zeroc-ice/vcpkg.json
  versions/baseline.json
  versions/z-/zeroc-ice.json
Labels: info:internal, category:port-update, info:reviewed

#42006 [winreg] update to v6.3.2
  ports/winreg/portfile.cmake
  ports/winreg/vcpkg.json
  versions/baseline.json
  versions/w-/winreg.json
Labels: info:internal, category:port-update, info:reviewed

#42003 [armadillo] Update to 14.0.3
  ports/armadillo/portfile.cmake
  ports/armadillo/vcpkg.json
  versions/a-/armadillo.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#41988 [igraph] update to 0.10.15
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#42005 [mongo-c-driver,libbson] update to 1.29.0
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/disable-dynamic-when-static.patch
  ports/mongo-c-driver/fix-mingw.patch
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#41043 [serf] new port (build using scons)
  ports/serf/portfile.cmake
  ports/serf/serf-fix-expat.patch
  ports/serf/serf-use-debug-libs.patch
  ports/serf/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program(SCONS).cmake
  scripts/test_ports/vcpkg-find-acquire-program/portfile.cmake
  versions/baseline.json
  versions/s-/serf.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review, requires:discussion

#41836 [cli]update to 2.2.0
  ports/cli/portfile.cmake
  ports/cli/vcpkg.json
  versions/baseline.json
  versions/c-/cli.json
Labels: category:port-update, info:reviewed

#41886 [delaunator-cpp] Add new port
  ports/delaunator-cpp/portfile.cmake
  ports/delaunator-cpp/vcpkg.json
  versions/baseline.json
  versions/d-/delaunator-cpp.json
Labels: category:new-port, info:reviewed

#42102 [gmsh] Update to 4.13.1
  ports/gmsh/portfile.cmake
  ports/gmsh/vcpkg.json
  versions/baseline.json
  versions/g-/gmsh.json
Labels: info:internal, category:port-update, info:reviewed

#42098 [flecs] Update to 4.0.3
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#42097 [libmediainfo] update to 24.11
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  versions/baseline.json
  versions/l-/libmediainfo.json
Labels: category:port-update, info:reviewed

#42083 [allegro5] Fix versioning
  ports/allegro5/vcpkg.json
  versions/a-/allegro5.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#42017 [vcpkg baseline][openvino] Don't pick OpenCV; cleanup
  ports/openvino/portfile.cmake
  ports/openvino/usage
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-bug, info:reviewed, category:code-cleanup

#42076 [spdlog] update to 1.15.0
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-update, info:reviewed

#42015 [opencv4] Fix [core,contrib]
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-feature, category:port-bug, info:reviewed

#41957 [daw-header-libraries] update to v2.114.1
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  ports/daw-json-link/portfile.cmake
  versions/baseline.json
  versions/d-/daw-header-libraries.json
  versions/d-/daw-json-link.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42062 [capnproto] Remove outdated patch.
  ports/capnproto/disable-C-20-co-routines.patch
  ports/capnproto/portfile.cmake
  ports/capnproto/vcpkg.json
  versions/baseline.json
  versions/c-/capnproto.json
Labels: info:reviewed, category:code-cleanup

#42061 [google-cloud-cpp] update to the latest release (v2.31.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#42038 [ffmpeg] Only enable NASM for x86 and x64
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#42100 [uwebsockets] Update version to 20.70.0
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: info:internal, category:port-update, info:reviewed

#42037 [libvpx] Only enable NASM for x86 and x64
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-feature, info:reviewed

#42036 [gdal] Update to 3.10.0
  ports/gdal/portfile.cmake
  ports/gdal/target-is-valid.patch
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#42068 [vcpkg baseline][sdl3] Improve port
  ports/sdl3/portfile.cmake
  ports/sdl3/usage
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-bug, info:reviewed

#42035 [str-view] v0.5.4 adds fanalyzer and sanitizer fixes
  ports/str-view/portfile.cmake
  ports/str-view/vcpkg.json
  versions/baseline.json
  versions/s-/str-view.json
Labels: category:port-update, info:reviewed

#42027 [flux] Update to version 0.4.0
  ports/flux/portfile.cmake
  ports/flux/targets-fixup.patch
  ports/flux/vcpkg.json
  versions/baseline.json
  versions/f-/flux.json
Labels: category:port-update, info:reviewed

#42014 [fastlz] Update to 2024-08-02
  ports/fastlz/portfile.cmake
  ports/fastlz/vcpkg.json
  versions/baseline.json
  versions/f-/fastlz.json
Labels: info:internal, category:port-update, info:reviewed

#41982 [curl] Update to 8.11.0
  ports/aliyun-oss-cpp-sdk/disable-werror.diff
  ports/aliyun-oss-cpp-sdk/portfile.cmake
  ports/aliyun-oss-cpp-sdk/vcpkg.json
  ports/curl/0020-fix-pc-file.patch
  ports/curl/cmake-project-include.cmake
  ports/curl/dependencies.patch
  ports/curl/export-components.patch
  ports/curl/portfile.cmake
  ports/curl/redact-input-vars.diff
  ports/curl/vcpkg.json
  versions/a-/aliyun-oss-cpp-sdk.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#41927 [log4cxx] Add 1.3.0
  ports/log4cxx/fix-find-package.patch
  ports/log4cxx/portfile.cmake
  ports/log4cxx/vcpkg.json
  versions/baseline.json
  versions/l-/log4cxx.json
Labels: category:port-update, info:reviewed

#41949 [ogre] Update to 14.3.1
  ports/ogre/fix-dependencies.patch
  ports/ogre/pkgconfig.patch
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: info:internal, category:port-update, info:reviewed

#41985 [opencv] update to 4.10
  ports/opencv/vcpkg.json
  ports/opencv4/0002-install-options.patch
  ports/opencv4/0003-force-package-requirements.patch
  ports/opencv4/0008-devendor-quirc.patch
  ports/opencv4/0012-fix-zlib.patch
  ports/opencv4/0013-contrib-fix-ogre.patch
  ports/opencv4/0014-fix-cmake-in-list.patch
  ports/opencv4/0014-fix-supportqnx.patch
  ports/opencv4/0019-opencl-kernel.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv.json
  versions/o-/opencv4.json
Labels: category:port-update, info:reviewed

#42016 [fastor] Update to 0.6.4
  ports/fastor/portfile.cmake
  ports/fastor/vcpkg.json
  versions/baseline.json
  versions/f-/fastor.json
Labels: info:internal, category:port-update, info:reviewed

#42051 [mp-units] update to 2.4.0
  ports/mp-units/portfile.cmake
  ports/mp-units/vcpkg.json
  versions/baseline.json
  versions/m-/mp-units.json
Labels: info:internal, category:port-update, info:reviewed

#42063 [cpp-pinyin] Add new port
  ports/cpp-pinyin/portfile.cmake
  ports/cpp-pinyin/usage
  ports/cpp-pinyin/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-pinyin.json
Labels: category:new-port, info:reviewed

#42066 [cpp-kana] Add new port
  ports/cpp-kana/portfile.cmake
  ports/cpp-kana/usage
  ports/cpp-kana/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-kana.json
Labels: category:new-port, info:reviewed

#42078 [yomm2] Update to v1.6.0
  ports/yomm2/portfile.cmake
  ports/yomm2/vcpkg.json
  versions/baseline.json
  versions/y-/yomm2.json
Labels: category:port-update, info:reviewed

#42101 [Luau] Add new port to luau
  ports/luau/cmake-config-export.patch
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:new-port, info:reviewed

#42104 [curl] wolfssl and openssl features can install alongside
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  scripts/test_ports/vcpkg-ci-curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: info:reviewed, category:code-cleanup

#42113 [opencv2] Use DEBUG_POSTFIX in pkgconfig files
  ports/opencv2/0021-pkgconfig-suffix.patch
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  versions/baseline.json
  versions/o-/opencv2.json
Labels: category:port-feature, info:reviewed

#42115 Update vcpkg-tool to 2024-11-12 and simplify vcpkg_download_distfile.
  scripts/cmake/vcpkg_download_distfile.cmake
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#42148 [bitmagic] fixed clang compilation issues
  ports/bitmagic/fix-clang.patch
  ports/bitmagic/portfile.cmake
  ports/bitmagic/vcpkg.json
  versions/b-/bitmagic.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#42146 [Azure Storage] Update to November Release
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/set_version.patch
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/set_version.patch
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#42020 [openvdb] update to 12.0.0 and fix link error
  ports/openvdb/fix_cmake.patch
  ports/openvdb/fix_nanovdb.patch
  ports/openvdb/portfile.cmake
  ports/openvdb/vcpkg.json
  versions/baseline.json
  versions/o-/openvdb.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42139 [scripts] allow / in WindowsSDKVersion
  scripts/cmake/vcpkg_get_windows_sdk.cmake
Labels: info:reviewed, category:tool-update

#42118 [sfml] update to 2.6.2
  ports/sfml/fix-dep-openal.patch
  ports/sfml/portfile.cmake
  ports/sfml/vcpkg.json
  versions/baseline.json
  versions/s-/sfml.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42126 [librtpi] update to 1.0.1
  ports/librtpi/condition_variable-fix-wait_until-predicate-evaluation.patch
  ports/librtpi/portfile.cmake
  ports/librtpi/vcpkg.json
  versions/baseline.json
  versions/l-/librtpi.json
Labels: category:port-update, info:reviewed

#42125 [folly] change FastFloat dependency to config
  ports/folly/fix-deps.patch
  ports/folly/fix-libunwind.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  versions/baseline.json
  versions/f-/folly.json
Labels: category:port-feature, info:reviewed

#42123 [mp-units] Update repo and Description
  ports/mp-units/portfile.cmake
  ports/mp-units/vcpkg.json
  versions/baseline.json
  versions/m-/mp-units.json
Labels: info:internal, info:reviewed, category:code-cleanup

#40225 [usd] Bump to v24.08
  ports/usd/001-fix_rename_find_package_to_find_dependency.patch
  ports/usd/002-vcpkg_find_tbb.patch
  ports/usd/003-vcpkg_find_opensubdiv.patch
  ports/usd/004-vcpkg_find_openimageio.patch
  ports/usd/005-vcpkg_find_shaderc.patch
  ports/usd/006-vcpkg_find_spirv-reflect.patch
  ports/usd/007-vcpkg_find_vma.patch
  ports/usd/008-fix_cmake_package.patch
  ports/usd/009-fix_cmake_hgi_interop.patch
  ports/usd/010-fix_missing_find_dependency_vulkan.patch
  ports/usd/011-fix_clang8_compiler_error.patch
  ports/usd/012-vcpkg_install_folder_conventions.patch
  ports/usd/013-cmake_export_plugin_as_modules.patch
  ports/usd/014-MaterialX_v1.38-39.patch
  ports/usd/015-fix_missing_find_dependency_opengl.patch
  ports/usd/016-TBB-2022.patch
  ports/usd/fix_build-location.patch
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-update, info:reviewed

#42105 [zoe] Update to v3.5
  ports/zoe/portfile.cmake
  ports/zoe/vcpkg.json
  versions/baseline.json
  versions/z-/zoe.json
Labels: category:port-update, info:reviewed

#41904 [gperftools] Update to 2.16, revise, test
  ports/gperftools/CMakeLists.txt
  ports/gperftools/cmake-project-include.cmake
  ports/gperftools/install.diff
  ports/gperftools/libunwind.diff
  ports/gperftools/portfile.cmake
  ports/gperftools/vcpkg.json
  ports/gperftools/win32-override.diff
  scripts/test_ports/vcpkg-ci-gperftools/portfile.cmake
  scripts/test_ports/vcpkg-ci-gperftools/vcpkg.json
  versions/baseline.json
  versions/g-/gperftools.json
Labels: category:port-feature, category:port-update, info:reviewed

#42096 [tomsolver] Add new port
  ports/tomsolver/portfile.cmake
  ports/tomsolver/vcpkg.json
  versions/baseline.json
  versions/t-/tomsolver.json
Labels: category:new-port, info:reviewed

#42121 [tl-optional] Update to 1.1.0
  ports/tl-optional/portfile.cmake
  ports/tl-optional/vcpkg.json
  versions/baseline.json
  versions/t-/tl-optional.json
Labels: category:port-update, info:reviewed

#42120 [otl] Update to 4.0.478
  ports/otl/portfile.cmake
  ports/otl/vcpkg.json
  versions/baseline.json
  versions/o-/otl.json
Labels: category:port-update, info:reviewed

#41815 [vcpkg_build_nmake] Fix /MP -> /FS transformation
  scripts/cmake/vcpkg_build_nmake.cmake
Labels: info:reviewed, category:tool-update

#42176 [gaussianlib] Update to 2024-11-03
  ports/gaussianlib/portfile.cmake
  ports/gaussianlib/vcpkg.json
  versions/baseline.json
  versions/g-/gaussianlib.json
Labels: info:internal, category:port-update, info:reviewed

#41984 [realsense2] Update to 2.56.2
  ports/realsense2/fix-android-prefix-path.patch
  ports/realsense2/fix-nlohmann_json.patch
  ports/realsense2/fix-osx.patch
  ports/realsense2/portfile.cmake
  ports/realsense2/vcpkg.json
  versions/baseline.json
  versions/r-/realsense2.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42147 [tesseract] Update to 5.5.0
  ports/tesseract/fix-share-build.patch
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: info:internal, category:port-update, info:reviewed

#42172 [veigar] Update to 1.4
  ports/veigar/portfile.cmake
  ports/veigar/vcpkg.json
  versions/baseline.json
  versions/v-/veigar.json
Labels: category:port-update, info:reviewed

#42145 [libressl] Update to v4.0.0
  ports/libressl/0002-suppress-msvc-warnings.patch
  ports/libressl/pkgconfig.diff
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: category:port-update, info:reviewed

#42171 [Thorvg] update v0.15.3
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#38107 [libaec] Add new port
  ports/hdf5/hdf5_config.patch
  ports/hdf5/pkgconfig-requires.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/szip.patch
  ports/hdf5/vcpkg.json
  ports/libaec/cmake-config.patch
  ports/libaec/portfile.cmake
  ports/libaec/static-shared.patch
  ports/libaec/vcpkg.json
  ports/szip/fix-linkage-config.patch
  ports/szip/mingw-lib-names.patch
  ports/szip/portfile.cmake
  ports/szip/szip.pc.in
  ports/szip/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
  versions/l-/libaec.json
Labels: category:new-port, requires:vcpkg-team-review

#42168 [libnick] Update to 2024.11.0
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#42045 [vcpkg] Set CMP0174 NEW
  scripts/ports.cmake
Labels: info:reviewed, category:tool-update

#42138 [lzokay] update to the latest for newer compilers
  ports/lzokay/portfile.cmake
  ports/lzokay/vcpkg.json
  versions/baseline.json
  versions/l-/lzokay.json
Labels: category:port-update, info:reviewed

#42140 [gsl-lite] Update to v0.42.0
  ports/gsl-lite/portfile.cmake
  ports/gsl-lite/vcpkg.json
  versions/baseline.json
  versions/g-/gsl-lite.json
Labels: category:port-update, info:reviewed

#42103 [matio] Merge mat73 and hdf5 features with mat73 name
  ports/matio/portfile.cmake
  ports/matio/vcpkg.json
  versions/baseline.json
  versions/m-/matio.json
Labels: category:port-feature, info:reviewed, requires:vcpkg-team-review

#41525 [itk] Revise, test, fix
  ports/itk/dependencies.diff
  ports/itk/double-conversion.patch
  ports/itk/fftw.diff
  ports/itk/opencl.patch
  ports/itk/openjpeg.patch
  ports/itk/openjpeg2.patch
  ports/itk/portfile.cmake
  ports/itk/rtk/Add-missing-include-for-Cuda.patch
  ports/itk/rtk/already_defined.patch
  ports/itk/rtk/cmp0153.diff
  ports/itk/rtk/getopt-win32.diff
  ports/itk/rtk/unresolved.patch
  ports/itk/vcpkg.json
  ports/vcpkg-tool-castxml/portfile.cmake
  ports/vcpkg-tool-castxml/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-itk/portfile.cmake
  scripts/test_ports/vcpkg-ci-itk/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-itk/project/main.cpp
  scripts/test_ports/vcpkg-ci-itk/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
  versions/v-/vcpkg-tool-castxml.json
Labels: info:reviewed, category:infrastructure

#42124 [libftp] Add new port
  ports/deniskovalchuk-libftp/portfile.cmake
  ports/deniskovalchuk-libftp/vcpkg.json
  versions/baseline.json
  versions/d-/deniskovalchuk-libftp.json
Labels: category:new-port, info:reviewed

#41807 [drogon, trantor] Bump drogon to 1.9.8 and trantor to 1.5.22
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#41903 [vst3sdk] New port for Steinberg Virtual Studio Technology 3 SDK
  ports/vst3sdk/portfile.cmake
  ports/vst3sdk/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/v-/vst3sdk.json
Labels: category:new-port, info:reviewed

#42040 [libwebm] Add export config
  ports/libwebm/fix-export-config.patch
  ports/libwebm/portfile.cmake
  ports/libwebm/vcpkg.json
  versions/baseline.json
  versions/l-/libwebm.json
Labels: category:port-bug, info:internal, info:reviewed

#42206 [sdl3] Fix config fixup
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-bug, info:reviewed

#42218 [libressl] Fix GitHub download URL
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: category:port-bug

#42217 [open62541pp] Update to version 0.16.0
  ports/open62541pp/portfile.cmake
  ports/open62541pp/vcpkg.json
  versions/baseline.json
  versions/o-/open62541pp.json
Labels: info:reviewed

#42211 [spdlog] use '/utf-8' only when compiler is msvc
  ports/spdlog/fix-msvc-utf8.patch
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-bug, info:reviewed

#42207 [kdbindings,kddockwidgets] Update, de-vendor deps
  ports/kdbindings/portfile.cmake
  ports/kdbindings/vcpkg.json
  ports/kddockwidgets/dependencies.diff
  ports/kddockwidgets/portfile.cmake
  ports/kddockwidgets/vcpkg.json
  versions/baseline.json
  versions/k-/kdbindings.json
  versions/k-/kddockwidgets.json
Labels: category:port-update, info:reviewed

#42202 [wolfssl] Enable ECH feature
  ports/wolfssl/portfile.cmake
  ports/wolfssl/vcpkg.json
  versions/baseline.json
  versions/w-/wolfssl.json
Labels: category:port-feature, info:reviewed

#42192 [mailio] update to 0.24.0
  ports/mailio/fix-library-type-and-remove-boost-test-deps.patch
  ports/mailio/portfile.cmake
  ports/mailio/vcpkg.json
  versions/baseline.json
  versions/m-/mailio.json
Labels: category:port-update, info:reviewed

#42184 [cpptrace] Bump to 0.7.3
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#42178 [folly related] update to 11.11
  ports/fbthrift/fix-annotation.patch
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#42170 [alsa] update to 1.2.13
  ports/alsa/portfile.cmake
  ports/alsa/vcpkg.json
  versions/a-/alsa.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#42150 [rapidfuzz] update to 3.1.1
  ports/rapidfuzz/portfile.cmake
  ports/rapidfuzz/vcpkg.json
  versions/baseline.json
  versions/r-/rapidfuzz.json
Labels: category:port-update, info:reviewed

#42214 [libnick] Update to 2024.11.1
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#42203 [cmake-user] Update old CMake to 3.16
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/test_ports/cmake-user/vcpkg.json
Labels: category:tool-update

#42212 [sentry-native] update to 0.7.13
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#42219 [raylib] update to 5.5
  ports/raylib/portfile.cmake
  ports/raylib/vcpkg.json
  versions/baseline.json
  versions/r-/raylib.json
Labels: category:port-update, info:reviewed

#42149 [expat] Update version to 2.6.4
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: info:internal, category:port-update, info:reviewed

#42165 Patch Tuesday for November 2024
  ports/chartdir/vcpkg.json
  ports/freeopcua/boost-1.70.patch
  ports/freeopcua/boost-compatibility.patch
  ports/freeopcua/cmakelists_fixes.patch
  ports/freeopcua/improve_compatibility_with_recent_boost.patch
  ports/freeopcua/portfile.cmake
  ports/freeopcua/uri_facade_win.patch
  ports/freeopcua/vcpkg.json
  ports/gdal/portfile.cmake
  ports/gdal/remove-machine-flag.patch
  ports/gdal/vcpkg.json
  ports/igraph/constant-nan.patch
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  ports/libgit2/fix-arm64-windows.patch
  ports/libgit2/portfile.cmake
  ports/libgit2/vcpkg.json
  ports/librttopo/constant-nan.patch
  ports/librttopo/portfile.cmake
  ports/librttopo/vcpkg.json
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/android/create-docker-image.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/linux/managed-image.json
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-azure-cli.ps1
  scripts/azure-pipelines/windows/deploy-cuda.ps1
  scripts/azure-pipelines/windows/deploy-cudnn.ps1
  scripts/azure-pipelines/windows/deploy-inteloneapi.ps1
  scripts/azure-pipelines/windows/deploy-mpi.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/azure-pipelines/windows/deploy-windows-sdks.ps1
  scripts/azure-pipelines/windows/provision-entire-image.ps1
  scripts/azure-pipelines/windows/utility-prefix.ps1
  scripts/ci.baseline.txt
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/c-/chartdir.json
  versions/f-/freeopcua.json
  versions/g-/gdal.json
  versions/i-/igraph.json
  versions/l-/libgit2.json
  versions/l-/librttopo.json
Labels: info:internal, category:infrastructure

#42231 [meshoptimizer] Update meshoptimizer to version 0.22
  ports/meshoptimizer/portfile.cmake
  ports/meshoptimizer/vcpkg.json
  versions/baseline.json
  versions/m-/meshoptimizer.json
Labels: category:port-update, info:reviewed

#42234 [buck-yeh-bux-mariadb-client] Delist
  ports/buck-yeh-bux-mariadb-client/portfile.cmake
  ports/buck-yeh-bux-mariadb-client/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
Labels: info:internal, info:reviewed, category:code-cleanup

#42190 [protobuf] Update to 5.28.3
  ports/libprotobuf-mutator/portfile.cmake
  ports/libprotobuf-mutator/vcpkg.json
  ports/libprotobuf-mutator/werror.patch
  ports/openvino/003-protobuf.patch
  ports/openvino/vcpkg.json
  ports/protobuf/fix-arm64-msvc.patch
  ports/protobuf/fix-default-proto-file-path.patch
  ports/protobuf/fix-install-dirs.patch
  ports/protobuf/fix-static-build.patch
  ports/protobuf/fix-utf8-range.patch
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/l-/libprotobuf-mutator.json
  versions/o-/openvino.json
  versions/p-/protobuf.json
Labels: category:port-update
