Repository microsoft/vcpkg, pull requests merged in 2024-01, with the labels that each got.

#35708 [libtorch] build failure
  ports/libtorch/missing_include.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
Labels: category:port-bug, info:reviewed

#35524 [mongo-c-driver] update to 1.25.2
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#35806 [curl] update to 8.5.0
  ports/curl/0012-fix-dependency-idn2.patch
  ports/curl/0020-fix-pc-file.patch
  ports/curl/0022-deduplicate-libs.patch
  ports/curl/cmake-config.patch
  ports/curl/export-components.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: info:internal, category:port-update, info:reviewed

#35922 [Glaze] Update to v1.9.9
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#35923 [exiv2] fix target in usage description
  ports/exiv2/usage
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-bug, info:reviewed

#35953 [meshoptimizer] Update to 0.20
  ports/meshoptimizer/portfile.cmake
  ports/meshoptimizer/vcpkg.json
  versions/baseline.json
  versions/m-/meshoptimizer.json
Labels: category:port-update, info:reviewed

#35965 [directxmath, directxmesh, directxtex, directxtk, uvatlas] Update for Dec2023
  ports/directxmath/portfile.cmake
  ports/directxmath/usage
  ports/directxmath/vcpkg.json
  ports/directxmesh/portfile.cmake
  ports/directxmesh/usage
  ports/directxmesh/vcpkg.json
  ports/directxtex/portfile.cmake
  ports/directxtex/usage
  ports/directxtex/vcpkg.json
  ports/directxtk/portfile.cmake
  ports/directxtk/usage
  ports/directxtk/vcpkg.json
  ports/directxtk12/portfile.cmake
  ports/directxtk12/usage
  ports/directxtk12/vcpkg.json
  ports/openexr/portfile.cmake
  ports/openexr/vcpkg.json
  ports/uvatlas/portfile.cmake
  ports/uvatlas/usage
  ports/uvatlas/vcpkg.json
  versions/baseline.json
  versions/d-/directxmath.json
  versions/d-/directxmesh.json
  versions/d-/directxtex.json
  versions/d-/directxtk.json
  versions/d-/directxtk12.json
  versions/o-/openexr.json
  versions/u-/uvatlas.json
Labels: category:port-update, info:reviewed

#35967 [krabsetw] Update to 4.3.2
  ports/krabsetw/portfile.cmake
  ports/krabsetw/vcpkg.json
  versions/baseline.json
  versions/k-/krabsetw.json
Labels: category:port-update, info:reviewed

#35971 [fmt] Update to 10.2.0
  ports/fmt/fix-format-conflict.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  versions/baseline.json
  versions/f-/fmt.json
Labels: category:port-update, info:reviewed

#35982 [qtmultimedia] Fix building of qtmultimedia for Android
  ports/qtmultimedia/portfile.cmake
  ports/qtmultimedia/vcpkg.json
  versions/baseline.json
  versions/q-/qtmultimedia.json
Labels: category:port-bug, info:reviewed

#35997 [directxsdk] Add missing d3d9 header and lib
  ports/directxsdk/portfile.cmake
  ports/directxsdk/vcpkg.json
  versions/baseline.json
  versions/d-/directxsdk.json
Labels: category:port-bug, info:reviewed

#35618 [libdatachannel] Fix dependency not found
  ports/libdatachannel/fix_dependency.patch
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  ports/usrsctp/fix_export.patch
  ports/usrsctp/portfile.cmake
  ports/usrsctp/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
  versions/u-/usrsctp.json
Labels: category:port-bug, info:internal, info:reviewed

#35800 [skia] Fix Debug INTERFACE_COMPILE_COMMANDS
  ports/skia/unofficial-skia-targets-details.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:reviewed

#35902 [vcpkg][workflows] Bold warning output information
  .github/workflows/untrustedPR.yml
Labels: info:internal, info:reviewed, category:infrastructure

#35905 [libxdiff] fix the imported target error
  ports/libxdiff/fix-usage-error.patch
  ports/libxdiff/portfile.cmake
  ports/libxdiff/vcpkg.json
  versions/baseline.json
  versions/l-/libxdiff.json
Labels: category:port-bug, info:internal, info:reviewed

#35907 [kenlm] Fixes and cleanup
  ports/kenlm/cmake-config.patch
  ports/kenlm/devendor.patch
  ports/kenlm/fix-boost-imported-targets.patch
  ports/kenlm/fix-boost.patch
  ports/kenlm/portfile.cmake
  ports/kenlm/vcpkg.json
  versions/baseline.json
  versions/k-/kenlm.json
Labels: category:port-bug, info:reviewed

#36001 [daw-header-libraries] Update to 2.97.0
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
Labels: info:internal, category:port-update, info:reviewed

#35981 [fltk] update to 1.3.9
  ports/fltk/dependencies.patch
  ports/fltk/fix-narrow.patch
  ports/fltk/fix-system-link.patch
  ports/fltk/include.patch
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: info:internal, category:port-update, info:reviewed

#35957 [vcpkg-tool-meson] Fix installation
  ports/vcpkg-tool-meson/install.cmake
  ports/vcpkg-tool-meson/portfile.cmake
  ports/vcpkg-tool-meson/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-tool-meson.json
Labels: category:port-feature, info:reviewed

#35924 [libpng] Search libm in implicit link dirs
  ports/libpng/libm.patch
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#35925 [tiff] Add libdeflate support, add usage
  ports/tiff/portfile.cmake
  ports/tiff/usage
  ports/tiff/vcpkg-cmake-wrapper.cmake.in
  ports/tiff/vcpkg.json
  scripts/test_ports/cmake-user/vcpkg.json
  versions/baseline.json
  versions/t-/tiff.json
Labels: category:port-feature, info:reviewed

#35927 [baresip-libre] update to 3.8.0
  ports/baresip-libre/fix-static-library-build.patch
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#35985 [ffmpeg] Enable JNI and MediaCodec backends on Android
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#35969 [freerdp] remove deprecated client-mac
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-bug, info:reviewed

#35988 [capstone] Add missing arch features
  ports/capstone/portfile.cmake
  ports/capstone/vcpkg.json
  versions/baseline.json
  versions/c-/capstone.json
Labels: category:port-feature, info:reviewed

#35933 [openCV] add vulkan support for openCV dnn
  ports/opencv/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:reviewed

#35972 [ms-ifc-sdk] Add new port
  ports/ms-ifc-sdk/portfile.cmake
  ports/ms-ifc-sdk/usage
  ports/ms-ifc-sdk/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/ms-ifc-sdk.json
Labels: category:new-port, info:reviewed

#36003 [qt*] ios fixes
  ports/qtbase/vcpkg.json
  ports/qtpositioning/vcpkg.json
  ports/qtserialport/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
  versions/q-/qtpositioning.json
  versions/q-/qtserialport.json
Labels: category:port-feature, info:reviewed

#35968 [ogre-next] vulkan no osx
  ports/ogre-next/vcpkg.json
  versions/baseline.json
  versions/o-/ogre-next.json
Labels: category:port-bug, info:reviewed

#35814 [libcoro] Update to 0.10
  ports/libcoro/0003-fix-pkgconfig-includedir.patch
  ports/libcoro/0004-fix-pkgconfig-on-windows.patch
  ports/libcoro/portfile.cmake
  ports/libcoro/vcpkg.json
  versions/baseline.json
  versions/l-/libcoro.json
Labels: category:port-feature, category:port-update, info:reviewed

#35838 [openssl] Disable building quicserver utility.
  ports/openssl/portfile.cmake
  ports/openssl/unix/disable-quicserver.patch
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#35901 [launch-darkly-server] Fix dependence clib symbol Duplicate with openssl
  ports/launch-darkly-server/fix-confilct-with-openssl.patch
  ports/launch-darkly-server/fix-depend-clib.patch
  ports/launch-darkly-server/portfile.cmake
  ports/launch-darkly-server/vcpkg.json
  versions/baseline.json
  versions/l-/launch-darkly-server.json
Labels: category:port-bug, info:internal, info:reviewed

#35920 [lapack-reference] Disable Test program
  ports/lapack-reference/portfile.cmake
  ports/lapack-reference/vcpkg.json
  versions/baseline.json
  versions/l-/lapack-reference.json
Labels: category:port-bug, info:internal, info:reviewed

#36005 [qt5-base] Fix undefined XKB_KEY_dead_lowline under linux
  ports/qt5-base/patches/XKB_KEY_dead_lowline.patch
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, info:internal, info:reviewed

#35999 [Freetype] burn in linkage
  ports/freetype/portfile.cmake
  ports/freetype/vcpkg.json
  versions/baseline.json
  versions/f-/freetype.json
Labels: category:port-bug, info:reviewed

#35930 [libmysql] Fix port on arm64-osx (compiler checks)
  ports/libmysql/cross-build.patch
  ports/libmysql/portfile.cmake
  ports/libmysql/vcpkg.json
  versions/baseline.json
  versions/l-/libmysql.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#35983 [wxwidgets] Update to 3.2.4
  ports/wxwidgets/fix-glegl.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#36023 [qtbase] Add missing "egl1" related system package for linux target
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-feature, info:reviewed

#36027 [folly,fizz,wangle,mvfst,proxygen,fbthrift] update to 2024.01.01.00
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/rsocket/fix-rsockserver-build-error.patch
  ports/rsocket/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/r-/rsocket.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#36034 [google-cloud-cpp] update to the latest release (v2.20.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#35996 [opentelemetry-cpp] Update to 1.13.0
  ports/opentelemetry-cpp/add-missing-dependencies.patch
  ports/opentelemetry-cpp/fix-nominmax-problems.patch
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#36057 [rendergraph] Update to v1.4.0.
  ports/rendergraph/portfile.cmake
  ports/rendergraph/vcpkg.json
  versions/baseline.json
  versions/r-/rendergraph.json
Labels: category:port-update, info:reviewed

#36054 [utfcpp] Update to 4.0.5
  ports/utfcpp/fix-include-path.patch
  ports/utfcpp/portfile.cmake
  ports/utfcpp/vcpkg.json
  versions/baseline.json
  versions/u-/utfcpp.json
Labels: category:port-update, info:reviewed

#36053 [catch2] Update to 3.5.1
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#36045 [xerces-c] Update to 3.2.5
  ports/xerces-c/portfile.cmake
  ports/xerces-c/vcpkg.json
  versions/baseline.json
  versions/x-/xerces-c.json
Labels: category:port-update, info:reviewed

#36069 [paho-mqtt] use high performance
  ports/paho-mqtt/portfile.cmake
  ports/paho-mqtt/vcpkg.json
  versions/baseline.json
  versions/p-/paho-mqtt.json
Labels: category:port-feature, info:reviewed

#36035 [libiconv] Build for ios
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-feature, info:reviewed

#35787 [simonbrunel-qtpromise] add port
  ports/simonbrunel-qtpromise/patches/install_headers.patch
  ports/simonbrunel-qtpromise/patches/remove_error_flags.patch
  ports/simonbrunel-qtpromise/portfile.cmake
  ports/simonbrunel-qtpromise/unofficial-config.cmake.in
  ports/simonbrunel-qtpromise/usage
  ports/simonbrunel-qtpromise/vcpkg.json
  versions/baseline.json
  versions/s-/simonbrunel-qtpromise.json
Labels: category:new-port, info:reviewed

#36055 [gettext-libintl] Avoid conftest triggering debugger window
  ports/gettext-libintl/portfile.cmake
  ports/gettext-libintl/vcpkg.json
  versions/baseline.json
  versions/g-/gettext-libintl.json
Labels: category:port-bug, info:reviewed

#35940 [vcpkg] Add mapping for the None config
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, category:tool-update

#35439 [juce] add port for JUCE
  ports/juce/0001-build-allow-setting-JUCE_PLUGINHOST_LADSPA.patch
  ports/juce/0002-build-linux-find_packages.patch
  ports/juce/0003-build-forward-vcpkg-toolchain.patch
  ports/juce/0004-install-paths.patch
  ports/juce/portfile.cmake
  ports/juce/usage
  ports/juce/vcpkg.json
  versions/baseline.json
  versions/j-/juce.json
Labels: category:new-port, info:reviewed

#36070 [mongo-c-driver] update to 1.25.4
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/disable-dynamic-when-static.patch
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#36059 [dataframe] Upgrading C++ DataFrame to version 2.3.0
  ports/dataframe/portfile.cmake
  ports/dataframe/vcpkg.json
  versions/baseline.json
  versions/d-/dataframe.json
Labels: category:port-update, info:reviewed

#36079 [opencascade] Fix feature freeimage build failure
  ports/opencascade/fix-link-freeimage.patch
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-bug, info:internal, info:reviewed

#36065 [libnick] Add libnick V2024.1.3
  ports/libnick/portfile.cmake
  ports/libnick/usage
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:new-port, info:reviewed

#36098 [orc] update to 1.9.2
  ports/orc/portfile.cmake
  ports/orc/vcpkg.json
  versions/baseline.json
  versions/o-/orc.json
Labels: category:port-update, info:reviewed

#36096 [libnick] Update to 2024.1.4
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#36073 [coin] Add a warning message for installing libgl and libglu
  ports/coin/portfile.cmake
  ports/coin/vcpkg.json
  versions/baseline.json
  versions/c-/coin.json
Labels: category:port-feature, info:internal, info:reviewed

#36091 [thomasmonkman-filewatch] Fix patch for the latest version of FileWatch
  ports/thomasmonkman-filewatch/fix-unix-listen.patch
  ports/thomasmonkman-filewatch/vcpkg.json
  versions/baseline.json
  versions/t-/thomasmonkman-filewatch.json
Labels: category:port-bug, info:reviewed

#36088 [sentry-native] update to 0.7.0
  ports/sentry-native/fix-config-cmake.patch
  ports/sentry-native/fix-warningC5105.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#36097 [cctz] Fix compilation error when vs version is greater than 17.7
  ports/cctz/fix_vs177.patch
  ports/cctz/portfile.cmake
  ports/cctz/vcpkg.json
  versions/baseline.json
  versions/c-/cctz.json
Labels: category:port-bug, info:internal, info:reviewed

#36101 [kd-soap] update to 2.2.0 and rename to kdsoap
  ports/kd-soap/Ensure-KDSoapConfig-finds-Qt-first.patch
  ports/kdsoap/portfile.cmake
  ports/kdsoap/vcpkg.json
  versions/baseline.json
  versions/k-/kdsoap.json
Labels: info:internal, category:port-update, info:reviewed

#36083 [civetweb] add option support USE_ZLIB
  ports/civetweb/portfile.cmake
  ports/civetweb/vcpkg.json
  versions/baseline.json
  versions/c-/civetweb.json
Labels: category:port-feature, info:internal, info:reviewed

#33698 [pmp-library] add port
  ports/pmp-library/portfile.cmake
  ports/pmp-library/vcpkg.json
  versions/baseline.json
  versions/p-/pmp-library.json
Labels: category:new-port, info:reviewed

#35990 Run python in isolate mode
  ports/vcpkg-get-python-packages/vcpkg.json
  ports/vcpkg-get-python-packages/x_vcpkg_get_python_packages.cmake
  scripts/cmake/vcpkg_find_acquire_program.cmake
  versions/baseline.json
  versions/v-/vcpkg-get-python-packages.json
Labels: category:port-bug, info:reviewed, category:tool-update

#36099 [vcpkg baseline][mongo-c-driver] Fix the race condition during CMake configure
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-c-driver.json
Labels: category:port-bug, info:internal, info:reviewed

#36115 Fix paths with single quotes in bootstrap.
  bootstrap-vcpkg.bat
Labels: category:vcpkg-bug, info:internal, info:reviewed

#36118 [bond] Disable example and test
  ports/bond/portfile.cmake
  ports/bond/vcpkg.json
  versions/b-/bond.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed

#36112 [libmaxminddb] Updated version to 1.9.1
  ports/libmaxminddb/CMakeLists.txt
  ports/libmaxminddb/fix-linux-build.patch
  ports/libmaxminddb/portfile.cmake
  ports/libmaxminddb/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libmaxminddb.json
Labels: category:port-update, info:reviewed

#36110 [libraw] Disable default features of jasper
  ports/libraw/vcpkg.json
  versions/baseline.json
  versions/l-/libraw.json
Labels: info:reviewed, category:code-cleanup

#36100 [mpg123] Support system dependency CFLAGS better
  ports/mpg123/fix-modules-cmake-cflags.patch
  ports/mpg123/portfile.cmake
  ports/mpg123/vcpkg.json
  versions/baseline.json
  versions/m-/mpg123.json
Labels: category:port-bug, info:reviewed

#36007 [ktx] Update to v4.3.0-beta1 and fix unix2dos command does not exist
  ports/ktx/0001-Use-vcpkg-zstd.patch
  ports/ktx/0004-quirks.patch
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#36141 Update vcpkg to 2024-01-11.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#36138 [azure-*-cpp] Update to January releases
  ports/azure-core-amqp-cpp/portfile.cmake
  ports/azure-core-amqp-cpp/vcpkg.json
  ports/azure-core-cpp/fix_gcc13.patch
  ports/azure-core-cpp/portfile.cmake
  ports/azure-core-cpp/vcpkg.json
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-core-amqp-cpp.json
  versions/a-/azure-core-cpp.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36127 [json-dto] Update to v.0.3.2
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update, info:reviewed

#36120 [live555] Pass options to fix osx
  ports/live555/CMakeLists.txt
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: category:port-bug, info:internal, info:reviewed

#36137 [libtracepoint] Upgrade to v1.3.0
  ports/libeventheader-decode/portfile.cmake
  ports/libeventheader-decode/vcpkg.json
  ports/libeventheader-tracepoint/portfile.cmake
  ports/libeventheader-tracepoint/vcpkg.json
  ports/libtracepoint-control/portfile.cmake
  ports/libtracepoint-control/vcpkg.json
  ports/libtracepoint-decode/portfile.cmake
  ports/libtracepoint-decode/vcpkg.json
  ports/libtracepoint/portfile.cmake
  ports/libtracepoint/vcpkg.json
  versions/baseline.json
  versions/l-/libeventheader-decode.json
  versions/l-/libeventheader-tracepoint.json
  versions/l-/libtracepoint-control.json
  versions/l-/libtracepoint-decode.json
  versions/l-/libtracepoint.json
Labels: category:port-update, info:reviewed

#36157 [sail] Update to 0.9.1
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-feature, category:port-update, info:reviewed

#36116 [opencv3/opencv4] Check whether TARGET libprotobuf is defined
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:internal, info:reviewed

#36158 Fix typo in vcpkg.cmake
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, category:code-cleanup

#35829 [opencascade] Update to 7.8.0
  ports/opencascade/dependencies.patch
  ports/opencascade/fix-link-freeimage.patch
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  versions/baseline.json
  versions/o-/opencascade.json
Labels: info:internal, category:port-update, info:reviewed

#36156 [curl] Fix android API < 24
  ports/curl/cmake-project-include.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#36145 [cuda-api-wrappers] Update to 0.6.7
  ports/cuda-api-wrappers/portfile.cmake
  ports/cuda-api-wrappers/vcpkg.json
  versions/baseline.json
  versions/c-/cuda-api-wrappers.json
Labels: info:internal, category:port-update, info:reviewed

#31288 [netgen] add new port
  ports/netgen/add_filesystem.patch
  ports/netgen/cgns-scoped-enum.patch
  ports/netgen/cmake-adjustments.patch
  ports/netgen/downstream-fixes.patch
  ports/netgen/git-ver.patch
  ports/netgen/portfile.cmake
  ports/netgen/static-exports.patch
  ports/netgen/vcpkg-fix-cgns-link.patch
  ports/netgen/vcpkg.json
  versions/baseline.json
  versions/n-/netgen.json
Labels: category:new-port, info:reviewed

#36143 Patch Tuesday for January 2023
  ports/jasper/check-for-atomics-support.patch
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  ports/portable-snippets/CMakeLists.txt
  ports/portable-snippets/vcpkg.json
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  versions/baseline.json
  versions/j-/jasper.json
  versions/p-/portable-snippets.json
Labels: info:internal, info:reviewed, category:infrastructure

#36215 [arrow] Fix feature FlightSQL
  ports/arrow/portfile.cmake
  ports/arrow/usage-flightsql
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#36207 [entt] update to 3.13.0
  ports/entt/portfile.cmake
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:reviewed

#36205 [azure-security-keyvault-*-cpp] Update to January releases
  ports/azure-security-keyvault-administration-cpp/portfile.cmake
  ports/azure-security-keyvault-administration-cpp/vcpkg.json
  ports/azure-security-keyvault-certificates-cpp/portfile.cmake
  ports/azure-security-keyvault-certificates-cpp/vcpkg.json
  ports/azure-security-keyvault-keys-cpp/portfile.cmake
  ports/azure-security-keyvault-keys-cpp/vcpkg.json
  ports/azure-security-keyvault-secrets-cpp/portfile.cmake
  ports/azure-security-keyvault-secrets-cpp/vcpkg.json
  versions/a-/azure-security-keyvault-administration-cpp.json
  versions/a-/azure-security-keyvault-certificates-cpp.json
  versions/a-/azure-security-keyvault-keys-cpp.json
  versions/a-/azure-security-keyvault-secrets-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36179 [Thorvg] Update Thorvg port to v0.12.1
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#36163 [jsoncons] Update to 0.173.2
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#36124 [dcmtk] Update to 3.6.8
  ports/dcmtk/fix-pc-format.patch
  ports/dcmtk/portfile.cmake
  ports/dcmtk/usage
  ports/dcmtk/vcpkg.json
  ports/dcmtk/windows-patch.patch
  versions/baseline.json
  versions/d-/dcmtk.json
Labels: category:port-update, info:reviewed

#36147 [pulsar-client-cpp] Fix build failure when CMAKE_BUILD_TYPE is not specified
  ports/pulsar-client-cpp/unofficial-pulsar-config.cmake
  ports/pulsar-client-cpp/vcpkg.json
  versions/baseline.json
  versions/p-/pulsar-client-cpp.json
Labels: category:port-bug, info:reviewed

#34909 [nanojsonc] Add new port
  ports/nanojsonc/portfile.cmake
  ports/nanojsonc/usage
  ports/nanojsonc/vcpkg.json
  versions/baseline.json
  versions/n-/nanojsonc.json
Labels: category:new-port, info:reviewed

#35928 [magma] add port
  ports/magma/clang-cuda.patch
  ports/magma/disable-openmp-msvc.patch
  ports/magma/no-tests.patch
  ports/magma/portfile.cmake
  ports/magma/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/magma.json
Labels: category:new-port, info:reviewed

#36254 [proxy] update to 2.1.2
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#36248 [cargs] update to 1.1.0
  ports/cargs/portfile.cmake
  ports/cargs/vcpkg.json
  versions/baseline.json
  versions/c-/cargs.json
Labels: category:port-update, info:reviewed

#36239 [libe57format] Update to 3.0.2
  ports/libe57format/portfile.cmake
  ports/libe57format/vcpkg.json
  versions/baseline.json
  versions/l-/libe57format.json
Labels: category:port-update, info:reviewed

#36238 [libbacktrace] Update to commit from 2023-11-30.
  ports/libbacktrace/portfile.cmake
  ports/libbacktrace/vcpkg.json
  versions/baseline.json
  versions/l-/libbacktrace.json
Labels: category:port-update, info:reviewed

#36234 [yoga] Update to 2.0.1
  ports/yoga/portfile.cmake
  ports/yoga/vcpkg.json
  versions/baseline.json
  versions/y-/yoga.json
Labels: category:port-update, info:reviewed

#36229 [asio] update to 1.29.0
  ports/asio/portfile.cmake
  ports/asio/vcpkg.json
  versions/a-/asio.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36223 [c-ares] Update to 1.25.0
  ports/c-ares/fix-uwp.patch
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#36211 [botan] Update to 3.2.0
  ports/botan/embed-debug-info.patch
  ports/botan/fix_android.patch
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#36105 [mtlt] Add new port
  ports/mtlt/portfile.cmake
  ports/mtlt/usage
  ports/mtlt/vcpkg.json
  versions/baseline.json
  versions/m-/mtlt.json
Labels: category:new-port, info:reviewed

#36191 [libdatachannel] Delete the redundant dependency libSRTP in the config file
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-bug, info:internal, info:reviewed

#36204 [azure-data-tables-cpp] New port
  ports/azure-data-tables-cpp/portfile.cmake
  ports/azure-data-tables-cpp/vcpkg.json
  versions/a-/azure-data-tables-cpp.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#36222 [azure-*-cpp] Append note to manifest files
  ports/azure-core-tracing-opentelemetry-cpp/portfile.cmake
  ports/azure-core-tracing-opentelemetry-cpp/vcpkg.json
  ports/azure-messaging-eventhubs-checkpointstore-blob-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-checkpointstore-blob-cpp/vcpkg.json
  ports/azure-security-attestation-cpp/portfile.cmake
  ports/azure-security-attestation-cpp/vcpkg.json
  versions/a-/azure-core-tracing-opentelemetry-cpp.json
  versions/a-/azure-messaging-eventhubs-checkpointstore-blob-cpp.json
  versions/a-/azure-security-attestation-cpp.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#36245 [python3] Fix lld-link and add port config for python site
  ports/python3/0016-undup-ffi-symbols.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg-port-config.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#36225 [zeromq] fix warning
  ports/zeromq/portfile.cmake
  ports/zeromq/vcpkg.json
  versions/baseline.json
  versions/z-/zeromq.json
Labels: info:reviewed, category:code-cleanup

#36226 [socket-io-client] Update to latest commit
  ports/socket-io-client/fix-build.patch
  ports/socket-io-client/portfile.cmake
  ports/socket-io-client/vcpkg.json
  versions/baseline.json
  versions/s-/socket-io-client.json
Labels: category:port-update, info:reviewed

#36230 [rapidjson] Modify the version of cmake_minimum_required()
  ports/rapidjson/portfile.cmake
  ports/rapidjson/vcpkg.json
  versions/baseline.json
  versions/r-/rapidjson.json
Labels: category:port-feature, info:internal, info:reviewed

#36235 [open62541] Fix wrong value of OPEN62541_VERSION
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-bug, info:internal, info:reviewed

#36236 [skia] Fixes build error on x64-linux
  ports/skia/add-cstdlib.patch
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:internal, info:reviewed

#36183 [datraw] Add new port
  ports/datraw/portfile.cmake
  ports/datraw/vcpkg.json
  versions/baseline.json
  versions/d-/datraw.json
Labels: category:new-port, info:reviewed

#36237 Add period for some descriptions in the new PR and new issue templates
  .github/ISSUE_TEMPLATE/00-report-package-build-failure.yml
  .github/ISSUE_TEMPLATE/01-request-a-new-port.yml
  .github/ISSUE_TEMPLATE/03-request-a-feature-or-improvement-to-a-port.yml
  .github/ISSUE_TEMPLATE/04-request-a-feature-or-improvement.yml
  .github/ISSUE_TEMPLATE/05-other-type-of-bug-report.md
  .github/pull_request_template.md
Labels: info:internal, info:reviewed, category:infrastructure

#36258 [vcpkg baseline][thorvg] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#36297 [nghttp2] update to 1.59.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#36295 [clickhouse-cpp] update to 2.5.1
  ports/clickhouse-cpp/portfile.cmake
  ports/clickhouse-cpp/vcpkg.json
  versions/baseline.json
  versions/c-/clickhouse-cpp.json
Labels: category:port-update, info:reviewed

#36285 [cglm] update to 0.9.2
  ports/cglm/portfile.cmake
  ports/cglm/vcpkg.json
  versions/baseline.json
  versions/c-/cglm.json
Labels: category:port-update, info:reviewed

#36277 [aws-c-auth,aws-c-common,aws-c-event-stream,aws-c-io,aws-c-mqtt,aws-c-s3,aws-c-sdkutils,aws-crt-cpp,aws-lambda-cpp,aws-sdk-cpp] update to 0.7.11,0.912,0.4.1,0.14.1,0.10.1,0.4.9,0.1.13,0.26.1,0.2.10,0.11.245
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-event-stream/portfile.cmake
  ports/aws-c-event-stream/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-c-sdkutils/portfile.cmake
  ports/aws-c-sdkutils/vcpkg.json
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-lambda-cpp/portfile.cmake
  ports/aws-lambda-cpp/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-event-stream.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-c-sdkutils.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-lambda-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36268 [attr] Update to 2.5.2
  ports/attr/portfile.cmake
  ports/attr/vcpkg.json
  versions/a-/attr.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36267 [asio-grpc] Update to 2.9.2
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36264 [cpp-httplib] update to 0.14.3
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#36263 [cjson] update to 1.7.17
  ports/cjson/portfile.cmake
  ports/cjson/vcpkg.json
  versions/baseline.json
  versions/c-/cjson.json
Labels: category:port-update, info:reviewed

#36257 [imageinfo] Bump to 2024-01-19
  ports/imageinfo/portfile.cmake
  ports/imageinfo/vcpkg.json
  versions/baseline.json
  versions/i-/imageinfo.json
Labels: category:port-update, info:reviewed

#36249 [drogon, trantor] Bump drogon to 1.9.2 and trantor to 1.5.16
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  ports/trantor/000-fix-deps.patch
  ports/trantor/001-uwp.patch
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#36241 [alpaka] Update to version 1.1.0
  ports/alpaka/portfile.cmake
  ports/alpaka/vcpkg.json
  versions/a-/alpaka.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36203 [gettext] Workaround bash substitution failure
  ports/gettext/subdirs.patch
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext.json
Labels: category:port-bug, info:reviewed

#36279 [gobject-introspection] Fixed pkg-config file to follow vcpkg directory layout rule
  ports/gobject-introspection/fix-pkgconfig.patch
  ports/gobject-introspection/portfile.cmake
  ports/gobject-introspection/vcpkg.json
  versions/baseline.json
  versions/g-/gobject-introspection.json
Labels: category:port-feature, info:reviewed

#36309 [daw-json-link] update to 3.23.0
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: category:port-update, info:reviewed

#36307 [ctre] update to 3.8.1
  ports/ctre/portfile.cmake
  ports/ctre/vcpkg.json
  versions/baseline.json
  versions/c-/ctre.json
Labels: category:port-update, info:reviewed

#36284 [libnick] Update to 2024.1.6
  ports/libnick/portfile.cmake
  ports/libnick/usage
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#36302 [sqlite3] Update to 3.45.0, add windows version info
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#36310 [quantlib] update to v1.33
  ports/quantlib/portfile.cmake
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update, info:reviewed

#36312 [wil] Update port to v1.0.240122.1
  ports/wil/portfile.cmake
  ports/wil/vcpkg.json
  versions/baseline.json
  versions/w-/wil.json
Labels: category:port-update, info:reviewed

#36317 [sentry-native] Fix cmake function spelling error
  ports/sentry-native/fix-config-cmake.patch
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-bug, info:internal, info:reviewed

#36278 [libe57format] Update to 3.1.0
  ports/libe57format/portfile.cmake
  ports/libe57format/prevent_warning_as_errors.diff
  ports/libe57format/usage
  ports/libe57format/vcpkg.json
  versions/baseline.json
  versions/l-/libe57format.json
Labels: category:port-update, info:reviewed

#36269 [acl] Add feature nls for gettext dependency
  ports/acl/portfile.cmake
  ports/acl/vcpkg.json
  versions/a-/acl.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#36221 [rocksdb] Update to 8.10.0
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#36015 [materialx] Add various features to control project options
  ports/materialx/portfile.cmake
  ports/materialx/vcpkg.json
  versions/baseline.json
  versions/m-/materialx.json
Labels: category:port-feature, info:reviewed

#36242 [open62541pp] Add port
  ports/open62541pp/portfile.cmake
  ports/open62541pp/usage
  ports/open62541pp/vcpkg.json
  versions/baseline.json
  versions/o-/open62541pp.json
Labels: category:new-port, info:reviewed

#31228 [vcpkg_configure_make] Misc fixes
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  scripts/cmake/vcpkg_build_make.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  versions/baseline.json
  versions/i-/icu.json
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#36339 [clipper2] Update version to 1.3.0
  ports/clipper2/portfile.cmake
  ports/clipper2/vcpkg.json
  versions/baseline.json
  versions/c-/clipper2.json
Labels: info:internal, category:port-update, info:reviewed

#36332 [etl] update to 20.38.10
  ports/etl/portfile.cmake
  ports/etl/vcpkg.json
  versions/baseline.json
  versions/e-/etl.json
Labels: category:port-update, info:reviewed

#36316 [tesseract] Update version to 5.3.4
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: info:internal, category:port-update, info:reviewed

#36298 [arrow] Update to 15.0.0
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#36338 [libdatachannel] Fix LibJuice's find method
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-bug, info:internal, info:reviewed

#36326 [opentelemetry-cpp] Remove feature of Jaeger exporter
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#36228 [7zip] Switch download source to github
  ports/7zip/portfile.cmake
  ports/7zip/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program(7Z).cmake
  scripts/vcpkgTools.xml
  versions/7-/7zip.json
  versions/baseline.json
Labels: category:port-feature, info:internal, info:reviewed, category:tool-update, requires:vcpkg-team-review

#36318 [qtbase] Revert qt.conf.in
  ports/qtbase/qt.conf.in
  ports/qtbase/vcpkg.json
  versions/baseline.json
  versions/q-/qtbase.json
Labels: category:port-bug, info:internal, info:reviewed

#36333 [ezc3d] update to 1.5.7
  ports/ezc3d/portfile.cmake
  ports/ezc3d/vcpkg.json
  versions/baseline.json
  versions/e-/ezc3d.json
Labels: category:port-update
