Repository microsoft/vcpkg, pull requests merged in 2024-05, with the labels that each got.

#38049 [many ports] Don't depend on default features of tiff
  ports/dcmtk/vcpkg.json
  ports/devil/vcpkg.json
  ports/graphicsmagick/vcpkg.json
  ports/itk/vcpkg.json
  ports/libgd/vcpkg.json
  ports/libgxps/vcpkg.json
  ports/libwebp/vcpkg.json
  ports/mapnik/vcpkg.json
  ports/opencv2/vcpkg.json
  ports/opencv3/vcpkg.json
  ports/opencv4/vcpkg.json
  ports/openimageio/vcpkg.json
  ports/openjpeg/vcpkg.json
  ports/openmvg/vcpkg.json
  ports/openmvs/vcpkg.json
  ports/openslide/vcpkg.json
  ports/pangolin/vcpkg.json
  ports/poppler/vcpkg.json
  ports/qt5-imageformats/vcpkg.json
  ports/qtimageformats/vcpkg.json
  ports/sail/vcpkg.json
  ports/sdl2-image/vcpkg.json
  ports/selene/vcpkg.json
  ports/vtk/vcpkg.json
  ports/vxl/vcpkg.json
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/d-/dcmtk.json
  versions/d-/devil.json
  versions/g-/graphicsmagick.json
  versions/i-/itk.json
  versions/l-/libgd.json
  versions/l-/libgxps.json
  versions/l-/libwebp.json
  versions/m-/mapnik.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
  versions/o-/openimageio.json
  versions/o-/openjpeg.json
  versions/o-/openmvg.json
  versions/o-/openmvs.json
  versions/o-/openslide.json
  versions/p-/pangolin.json
  versions/p-/poppler.json
  versions/q-/qt5-imageformats.json
  versions/q-/qtimageformats.json
  versions/s-/sail.json
  versions/s-/sdl2-image.json
  versions/s-/selene.json
  versions/v-/vtk.json
  versions/v-/vxl.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:reviewed

#38369 [gdk-pixbuf] jpeg and tiff support windows
  ports/gdk-pixbuf/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
Labels: category:port-bug, info:reviewed

#37939 [vcpkg-pkgconfig-get-modules] Turn into proper helper port
  ports/vcpkg-pkgconfig-get-modules/portfile.cmake
  ports/vcpkg-pkgconfig-get-modules/vcpkg.json
  ports/vcpkg-pkgconfig-get-modules/x_vcpkg_pkgconfig_get_modules.cmake
  versions/baseline.json
  versions/v-/vcpkg-pkgconfig-get-modules.json
Labels: category:port-bug, info:reviewed

#38255 [OpenVINO] Update to 2024.1.0
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update, info:reviewed

#38461 [kangaru] Update version to 4.3.2
  ports/kangaru/portfile.cmake
  ports/kangaru/vcpkg.json
  versions/baseline.json
  versions/k-/kangaru.json
Labels: info:internal, category:port-update

#38465 [rapidcheck] Upgrade to 2023-12-14.
  ports/rapidcheck/portfile.cmake
  ports/rapidcheck/vcpkg.json
  versions/baseline.json
  versions/r-/rapidcheck.json
Labels: category:port-update

#38518 [libxpm] update homepage
  ports/libxpm/vcpkg.json
  versions/baseline.json
  versions/l-/libxpm.json
Labels: info:reviewed, category:code-cleanup

#38587 [gul14] Update to version 2.11.2
  ports/gul14/portfile.cmake
  ports/gul14/vcpkg.json
  versions/baseline.json
  versions/g-/gul14.json
Labels: category:port-update, info:reviewed

#38586 [catch2] update to 3.6.0
  ports/catch2/fix-arm-build.patch
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#38573 [robotraconteur] Update to version v1.2.0
  ports/robotraconteur/portfile.cmake
  ports/robotraconteur/vcpkg.json
  versions/baseline.json
  versions/r-/robotraconteur.json
Labels: category:port-update, info:reviewed

#38541 [libsystemd] Control dependencies
  ports/libsystemd/portfile.cmake
  ports/libsystemd/vcpkg.json
  versions/baseline.json
  versions/l-/libsystemd.json
Labels: category:port-bug, info:reviewed

#38506 [cuda-api-wrappers] Updated version from 0.6.7 to 0.6.9
  ports/cuda-api-wrappers/portfile.cmake
  ports/cuda-api-wrappers/vcpkg.json
  versions/baseline.json
  versions/c-/cuda-api-wrappers.json
Labels: category:port-update, info:reviewed

#38505 [pcre] Fix android NDK r26
  ports/pcre/pcre-8.4.5_fix_check_function_exists_for_arm-androi_builds.patch
  ports/pcre/vcpkg.json
  versions/baseline.json
  versions/p-/pcre.json
Labels: category:port-bug, info:reviewed

#38563 [async-mqtt] Update to 5.1.0
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update

#38567 [drogon, trantor] Bump drogon to 1.9.4 and trantor to 1.5.18
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
  versions/t-/trantor.json
Labels: category:port-update

#38560 [cpptrace]: Update version to 0.5.4
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#38388 [tinyorm] Update to v0.37.3
  ports/tinyorm/portfile.cmake
  ports/tinyorm/suppress-warning-STL4043.patch
  ports/tinyorm/vcpkg.json
  versions/baseline.json
  versions/t-/tinyorm.json
Labels: category:port-update, info:reviewed

#38613 [simde] update to 0.8.2
  ports/simde/portfile.cmake
  ports/simde/vcpkg.json
  versions/baseline.json
  versions/s-/simde.json
Labels: info:internal, category:port-update, info:reviewed

#37758 [python3, pybind11] Move Py_DEBUG to python, and use python from vcpkg
  ports/pybind11/fix-debug-link.patch
  ports/pybind11/portfile.cmake
  ports/pybind11/vcpkg.json
  ports/python3/vcpkg-cmake-wrapper.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/pybind11.json
  versions/p-/python3.json
Labels: category:port-feature

#38610 [daw-json-link] update to 3.24.0
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: info:internal, category:port-update, info:reviewed

#38608 [mongo-c-driver/libbson] update to 1.27.0
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/disable-dynamic-when-static.patch
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#38603 [daw-header-libraries] Update to v2.106.0
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
Labels: info:internal, category:port-update, info:reviewed

#38598 [igraph] update to 0.10.12
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#38593 [folly related] update to 05.06
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#38600 [vcpkg baseline] Adding qtinterfaceframework as fail in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#38621 [liburing] update to 2.6
  ports/liburing/portfile.cmake
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: category:port-update, info:reviewed

#38619 [azure-*-cpp] Update to May Releases
  ports/azure-core-amqp-cpp/portfile.cmake
  ports/azure-core-amqp-cpp/vcpkg.json
  versions/a-/azure-core-amqp-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38601 Update README_zh_CN.md
  README_zh_CN.md
Labels: category:documentation, info:reviewed

#38524 [google-cloud-cpp] update to the latest release (2.24.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#38599 [libcap] Use official tarballs
  ports/libcap/portfile.cmake
  ports/libcap/vcpkg.json
  versions/baseline.json
  versions/l-/libcap.json
Labels: info:reviewed, category:code-cleanup

#38594 [opencv4] Fix build failure when dnn feature is not enabled
  ports/opencv4/0023-fix-no-flatbuffers.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#38551 [libharu] Fix x64-linux-dynamic
  ports/libharu/portfile.cmake
  ports/libharu/vcpkg.json
  versions/baseline.json
  versions/l-/libharu.json
Labels: info:reviewed, category:community-triplet

#38550 [projectm-eval] Add new port
  ports/projectm-eval/portfile.cmake
  ports/projectm-eval/usage
  ports/projectm-eval/vcpkg.json
  versions/baseline.json
  versions/p-/projectm-eval.json
Labels: category:new-port, info:reviewed

#38514 [discord-rpc] Remove unneeded dependency
  ports/discord-rpc/portfile.cmake
  ports/discord-rpc/vcpkg.json
  versions/baseline.json
  versions/d-/discord-rpc.json
Labels: category:port-feature, info:reviewed

#38589 [vcpkg baseline][omplapp] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#38627 [mongo-c-driver/libbson] update to 1.27.1
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#38617 [async-mqtt] update async-mqtt port to 5.1.1
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38492 [breakpad] update version to v2023.06.01
  ports/breakpad/CMakeLists.txt
  ports/breakpad/fix-const-char.patch
  ports/breakpad/fix-unique_ptr.patch
  ports/breakpad/portfile.cmake
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38484 [crashpad] update to the latest version 2024-04-11
  ports/crashpad/fix-stdint.patch
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-update, info:reviewed

#38629 Add policies to build_info.cmake and write the file only once.
  scripts/build_info.cmake
Labels: info:internal, info:reviewed, category:infrastructure, category:tool-update

#38632 [configcat] Update to version 4.0.1
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:port-update, info:reviewed

#38645 [yara] Update to 4.5.0
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: info:internal, category:port-update, info:reviewed

#38647 [qwt] update to 6.3.0
  ports/qwt/config.patch
  ports/qwt/portfile.cmake
  ports/qwt/vcpkg.json
  versions/baseline.json
  versions/q-/qwt.json
Labels: category:port-update, info:reviewed

#38644 [azure-*-cpp] Update to May Releases
  ports/azure-messaging-eventhubs-cpp/portfile.cmake
  ports/azure-messaging-eventhubs-cpp/vcpkg.json
  versions/a-/azure-messaging-eventhubs-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38643 [libmidi2] Update to v0.10
  ports/libmidi2/portfile.cmake
  ports/libmidi2/vcpkg.json
  versions/baseline.json
  versions/l-/libmidi2.json
Labels: category:port-update, info:reviewed

#38638 [glslang] update to 14.2.0
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-update, info:reviewed

#38625 [rtaudio] Fix feature pulse compilation error
  ports/rtaudio/fix-pulse.patch
  ports/rtaudio/portfile.cmake
  ports/rtaudio/vcpkg.json
  versions/baseline.json
  versions/r-/rtaudio.json
Labels: category:port-bug, info:internal, info:reviewed

#38605 [gl3w] Support to include GL extensions in header file
  ports/gl3w/portfile.cmake
  ports/gl3w/vcpkg.json
  versions/baseline.json
  versions/g-/gl3w.json
Labels: category:port-feature, info:internal, info:reviewed

#38597 [vcpkg_find_acquire(NASM).cmake] add nasm mirror
  scripts/cmake/vcpkg_find_acquire_program(NASM).cmake
Labels: info:internal, info:reviewed, category:tool-update

#38660 [proxy] update to 2.4.0
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#38664 [perfetto] update to 45.0
  ports/perfetto/portfile.cmake
  ports/perfetto/vcpkg.json
  versions/baseline.json
  versions/p-/perfetto.json
Labels: category:port-update, info:reviewed

#38623 [gtk] Only dynamic library
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gtk.json
Labels: category:port-bug, info:reviewed

#38633 [soem] Remove MSVC /WX too, in addition to -Werror.
  ports/soem/disable-werror-and-wx.patch
  ports/soem/portfile.cmake
  ports/soem/vcpkg.json
  versions/baseline.json
  versions/s-/soem.json
Labels: category:port-feature, info:reviewed

#38602 [shader-slang] Update, fix
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: category:port-bug, info:reviewed

#38708 [libobfuscate] update to 20240211
  ports/libobfuscate/portfile.cmake
  ports/libobfuscate/vcpkg.json
  versions/baseline.json
  versions/l-/libobfuscate.json
Labels: category:port-update, info:reviewed

#38680 [Azure Storage] Update to May Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38607 [bext-sml] Update to 1.1.11
  ports/bext-sml/portfile.cmake
  ports/bext-sml/vcpkg.json
  versions/b-/bext-sml.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38398 [openssl] install cmake config wrapper only at the end
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#38669 [imgui/vsgimgui] Update imgui to 1.90.6 and vsgimgui to 0.3.0
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  ports/vsgimgui/devendor.patch
  ports/vsgimgui/portfile.cmake
  ports/vsgimgui/remove-manual-font-creation.patch
  ports/vsgimgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
  versions/v-/vsgimgui.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#38698 Revert "[vcpkg baseline] Adding qtinterfaceframework as fail in ci.baseline.txt"
  scripts/ci.baseline.txt
Labels: category:infrastructure

#38352 [libodb] Fix compilation errors under Linux
  ports/libodb/fix-linux.patch
  ports/libodb/portfile.cmake
  ports/libodb/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libodb.json
Labels: category:port-bug, info:internal, info:reviewed

#38718 [nghttp2] update to 1.62.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#38716 [taskflow] Update to 3.7.0
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: category:port-update, info:reviewed

#38711 [sqlite3] Fix feature dbstat
  ports/sqlite3/sqlite3-vcpkg-config.h.in
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-feature, category:port-bug, info:reviewed

#38333 [gdal] Update to 3.9.0
  ports/gdal/find-link-libraries.patch
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#38732 [baresip-libre] baresip-libre version 3.12.0
  ports/baresip-libre/fix-static-library-build.patch
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38737 [libgpiod] update to 2.1.2
  ports/libgpiod/portfile.cmake
  ports/libgpiod/vcpkg.json
  versions/baseline.json
  versions/l-/libgpiod.json
Labels: category:port-update, info:reviewed

#38724 [harfbuzz] Update to 8.5.0
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#38726 [xbyak] Update to 7.06
  ports/xbyak/portfile.cmake
  ports/xbyak/vcpkg.json
  versions/baseline.json
  versions/x-/xbyak.json
Labels: category:port-update, info:reviewed

#38678 [libfork] update to version 3.8.0
  ports/libfork/portfile.cmake
  ports/libfork/vcpkg.json
  versions/baseline.json
  versions/l-/libfork.json
Labels: category:port-update, info:reviewed

#38742 [simdjson] Update to 3.9.2
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#38274 [ngtcp2] Update to 1.5.0
  ports/ngtcp2/export-unofficical-target.patch
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-update, info:reviewed

#38335 [realm-core] new port
  ports/realm-core/UWP_index_set.patch
  ports/realm-core/portfile.cmake
  ports/realm-core/vcpkg.json
  versions/baseline.json
  versions/r-/realm-core.json
Labels: category:new-port, info:reviewed

#38750 [vcpkg baseline][libsoup] disable search krb5 to fix ci pinpline error
  ports/libsoup/portfile.cmake
  ports/libsoup/vcpkg.json
  versions/baseline.json
  versions/l-/libsoup.json
Labels: category:port-bug, info:internal

#38721 [rest-rpc] Update version to 0.12
  ports/rest-rpc/portfile.cmake
  ports/rest-rpc/usage
  ports/rest-rpc/vcpkg.json
  versions/baseline.json
  versions/r-/rest-rpc.json
Labels: info:internal, category:port-update

#38694 [zycore] Update to 1.5.0
  ports/zycore/fix-install.patch
  ports/zycore/portfile.cmake
  ports/zycore/vcpkg.json
  versions/baseline.json
  versions/z-/zycore.json
Labels: info:internal, category:port-update

#38752 [vcpkg baseline] Adding lunarg-vulkantools and qt5-serialbus as fail in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#38759 [bxzstr] Update to 1.2.1
  ports/bxzstr/portfile.cmake
  ports/bxzstr/vcpkg.json
  versions/b-/bxzstr.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38753 [bddisasm] Update to 2.1.4
  ports/bddisasm/portfile.cmake
  ports/bddisasm/vcpkg.json
  versions/b-/bddisasm.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38727 [arrow] Update to 16.1.0
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update

#38746 [scnlib] Fix include CMAKE_INSTALL_INCLUDEDIR
  ports/scnlib/portfile.cmake
  ports/scnlib/vcpkg.json
  versions/baseline.json
  versions/s-/scnlib.json
Labels: category:port-bug, info:internal, info:reviewed

#38789 [gdk-pixbuf] Update to 2.42.12
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
Labels: category:port-update, info:reviewed

#38670 [vcpkg baseline][qt5-base] Add option disable feature gssapi to fix ci baseline
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, info:internal, info:reviewed

#38733 [wxwidgets] Update to 3.2.5
  ports/wxwidgets/fix-glegl.patch
  ports/wxwidgets/install-layout.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: info:internal, category:port-update, info:reviewed

#38749 [avcpp] Update to 2.3.2
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: info:internal, category:port-update

#38019 [icu] Add reminder to install autoconf-archive
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-feature, info:internal, info:reviewed

#38785 [libjxl] Fix wasm32-emscripten build
  ports/libjxl/portfile.cmake
  ports/libjxl/vcpkg.json
  versions/baseline.json
  versions/l-/libjxl.json
Labels: category:community-triplet

#38803 DevDiv Internal Mint SAS Tokens
  scripts/azure-pipelines/windows-unstable/job.yml
Labels: info:internal, info:reviewed, category:infrastructure

#38830 [mongoose] update to 7.14
  ports/mongoose/portfile.cmake
  ports/mongoose/vcpkg.json
  versions/baseline.json
  versions/m-/mongoose.json
Labels: category:port-update, info:reviewed

#38829 [sail] Bump version to 0.9.5
  ports/sail/portfile.cmake
  ports/sail/vcpkg.json
  versions/baseline.json
  versions/s-/sail.json
Labels: category:port-update, info:reviewed

#38825 [sqlite-orm] Fix test feature to support uwp
  ports/sqlite-orm/fix-uwp.patch
  ports/sqlite-orm/portfile.cmake
  ports/sqlite-orm/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite-orm.json
Labels: category:port-bug, info:internal, info:reviewed

#38819 [glaze] update to v2.6.4
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#38811 [DPP] Bump to version 10.0.30
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#38810 [hdr-histogram] add new port
  ports/hdr-histogram/portfile.cmake
  ports/hdr-histogram/usage
  ports/hdr-histogram/vcpkg.json
  versions/baseline.json
  versions/h-/hdr-histogram.json
Labels: category:new-port, info:reviewed

#38848 [flatbush] update to v1.2.1
  ports/flatbush/portfile.cmake
  ports/flatbush/vcpkg.json
  versions/baseline.json
  versions/f-/flatbush.json
Labels: category:port-update, info:reviewed

#38837 [cgltf] update to v1.14
  ports/cgltf/portfile.cmake
  ports/cgltf/vcpkg.json
  versions/baseline.json
  versions/c-/cgltf.json
Labels: info:internal, category:port-update, info:reviewed

#38832 [vcpkg baseline][realm-core] Fix zlib lookup failure
  ports/realm-core/fix-zlib.patch
  ports/realm-core/portfile.cmake
  ports/realm-core/vcpkg.json
  versions/baseline.json
  versions/r-/realm-core.json
Labels: category:port-bug, info:internal, info:reviewed

#38612 [qttools] remove assistant as a host default feature
  ports/qttools/vcpkg.json
  versions/baseline.json
  versions/q-/qttools.json
Labels: category:port-feature, info:reviewed

#38807 [quill] Update to 3.9.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#38805 [cli11] Update to 2.4.2
  ports/cli11/portfile.cmake
  ports/cli11/revert-1012-pkgconfig.diff
  ports/cli11/vcpkg.json
  versions/baseline.json
  versions/c-/cli11.json
Labels: category:port-update, info:reviewed

#38816 [bgfx]: Update to 1.127.8725.469
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#38815 [boost-interprocess] Fix link libs
  ports/boost-interprocess/portfile.cmake
  ports/boost-interprocess/unused-link-libs.diff
  ports/boost-interprocess/vcpkg.json
  versions/b-/boost-interprocess.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#38806 [boost-container] Fix deps and emscripten
  ports/boost-container/no-static-assert.diff
  ports/boost-container/portfile.cmake
  ports/boost-container/posix-threads.diff
  ports/boost-container/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-container.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#38796 [vcpkg-tool-meson] Fix warnings, cmake, llvm 18
  ports/vcpkg-tool-meson/meson-1.4-llvm-18.diff
  ports/vcpkg-tool-meson/meson.template.in
  ports/vcpkg-tool-meson/portfile.cmake
  ports/vcpkg-tool-meson/vcpkg-port-config.cmake
  ports/vcpkg-tool-meson/vcpkg.json
  ports/vcpkg-tool-meson/vcpkg_configure_meson.cmake
  versions/baseline.json
  versions/v-/vcpkg-tool-meson.json
Labels: category:port-feature, info:reviewed, category:code-cleanup

#38058 [qt5-base,qt5-tools,qt5-doc] Fix dependencies, enable qdoc
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/qt5-doc/portfile.cmake
  ports/qt5-doc/vcpkg.json
  ports/qt5-tools/libclang.patch
  ports/qt5-tools/portfile.cmake
  ports/qt5-tools/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
  versions/q-/qt5-doc.json
  versions/q-/qt5-tools.json
Labels: category:port-feature, info:reviewed

#38786 [curl] Refactor curl port
  ports/curl/dependencies.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  scripts/test_ports/vcpkg-ci-curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, info:reviewed

#38365 [libavif] add dav1d feature
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  versions/baseline.json
  versions/l-/libavif.json
Labels: category:port-feature, info:reviewed

#38590 [avcpp] Update to 2.4.0
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#38637 [fastrtps] Update to 2.14.0
  ports/fastrtps/fix-xtime.patch
  ports/fastrtps/fix_thread.patch
  ports/fastrtps/portfile.cmake
  ports/fastrtps/vcpkg.json
  versions/baseline.json
  versions/f-/fastrtps.json
Labels: category:port-update, info:reviewed

#38888 [libdjinterop] Update to 0.21.0
  ports/libdjinterop/portfile.cmake
  ports/libdjinterop/vcpkg.json
  versions/baseline.json
  versions/l-/libdjinterop.json
Labels: category:port-update, info:reviewed

#38887 [ctre] update to 3.9.0
  ports/ctre/portfile.cmake
  ports/ctre/vcpkg.json
  versions/baseline.json
  versions/c-/ctre.json
Labels: category:port-update, info:reviewed

#38872 [vcpkg-scripts] Update nuget to 6.10.0
  scripts/vcpkgTools.xml
Labels: info:reviewed, category:tool-update

#38802 Patch Tuesday for May 2024
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-azcopy.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
Labels: info:internal, info:reviewed, category:infrastructure

#38866 [sentry-native] update to 0.7.3
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#38858 [ffmpeg] Handle -F from libs
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#38717 [msgpack] Update to 6.1.1
  ports/msgpack/portfile.cmake
  ports/msgpack/vcpkg.json
  versions/baseline.json
  versions/m-/msgpack.json
Labels: category:port-feature, category:port-update, info:reviewed

#38706 [krb5] Add windows
  ports/krb5/portfile.cmake
  ports/krb5/relative_paths.patch
  ports/krb5/vcpkg.json
  ports/krb5/windows_pc_files/krb5-gssapi.pc.in
  ports/krb5/windows_pc_files/krb5.pc.in
  ports/krb5/windows_pc_files/mit-krb5-gssapi.pc.in
  ports/krb5/windows_pc_files/mit-krb5.pc.in
  versions/baseline.json
  versions/k-/krb5.json
Labels: category:port-feature, info:reviewed

#38659 [cpprestsdk] fix bad define in header for clang
  ports/cpprestsdk/fix-clang-dllimport.patch
  ports/cpprestsdk/portfile.cmake
  ports/cpprestsdk/vcpkg.json
  versions/baseline.json
  versions/c-/cpprestsdk.json
Labels: category:port-bug, info:reviewed

#38467 [blas] Resolve baseline problems
  ports/blas/vcpkg.json
  ports/lapack/vcpkg.json
  ports/mathgl/vcpkg.json
  scripts/ci.baseline.txt
  versions/b-/blas.json
  versions/baseline.json
  versions/l-/lapack.json
  versions/m-/mathgl.json
Labels: info:internal, info:reviewed, category:infrastructure

#38923 [type-safe] update to 0.2.4
  ports/type-safe/portfile.cmake
  ports/type-safe/vcpkg.json
  versions/baseline.json
  versions/t-/type-safe.json
Labels: category:port-update, info:reviewed

#38917 [libslirp] Update to 4.8.0
  ports/libslirp/portfile.cmake
  ports/libslirp/vcpkg.json
  versions/baseline.json
  versions/l-/libslirp.json
Labels: info:internal, category:port-update, info:reviewed

#38914 [tinygltf] update to 2.8.22
  ports/tinygltf/portfile.cmake
  ports/tinygltf/vcpkg.json
  versions/baseline.json
  versions/t-/tinygltf.json
Labels: category:port-update, info:reviewed

#38898 [sentry-native] update to 0.7.4
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#38862 [curl] Update to 8.8.0
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#38857 [nghttp2] update to 1.62.1
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#38853 [nanoflann] Update to 1.5.5
  ports/nanoflann/portfile.cmake
  ports/nanoflann/vcpkg.json
  versions/baseline.json
  versions/n-/nanoflann.json
Labels: category:port-update, info:reviewed

#38895 [qtwebengine] Fix error C2275 and C2672 in MSVC
  ports/qtwebengine/fix-error2275-2672.patch
  ports/qtwebengine/portfile.cmake
  ports/qtwebengine/vcpkg.json
  versions/baseline.json
  versions/q-/qtwebengine.json
Labels: category:port-bug, info:internal, info:reviewed

#38859 [gettext-libintl] Link CoreFoundation on apple
  ports/gettext-libintl/vcpkg-cmake-wrapper.cmake
  ports/gettext-libintl/vcpkg.json
  versions/baseline.json
  versions/g-/gettext-libintl.json
Labels: category:port-feature, info:reviewed

#38798 [libmagic] Update dependency specifications.
  ports/libmagic/unofficial-libmagic-config.cmake.in
  ports/libmagic/vcpkg.json
  versions/baseline.json
  versions/l-/libmagic.json
Labels: category:code-cleanup

#38822 [protobuf] fix pc library reference
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: category:port-feature, info:internal, info:reviewed

#38618 [cgal] fix dependency
  ports/cgal/vcpkg.json
  versions/baseline.json
  versions/c-/cgal.json
Labels: category:port-bug, info:reviewed

#38891 Patch Tuesday for May 2024 (Again)
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-azcopy.ps1
  scripts/azure-pipelines/windows/deploy-cuda.ps1
  scripts/azure-pipelines/windows/deploy-cudnn.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/azure-pipelines/windows/test-cudnn.ps1
Labels: info:internal, category:infrastructure

#38425 [luafilesystem] Add cmake files
  ports/luafilesystem/CMakeLists.txt
  ports/luafilesystem/portfile.cmake
  ports/luafilesystem/unofficial-luafilesystem-config.cmake.in
  ports/luafilesystem/usage
  ports/luafilesystem/vcpkg.json
  versions/baseline.json
  versions/l-/luafilesystem.json
Labels: category:port-feature, info:reviewed

#38953 [open62541] Update to 1.3.10 [open62541pp] Update to 0.13.0
  ports/open62541/disable-docs.patch
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  ports/open62541pp/portfile.cmake
  ports/open62541pp/usage
  ports/open62541pp/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
  versions/o-/open62541pp.json
Labels: info:internal, category:port-update, info:reviewed

#38950 [yomm2] update to 1.5.2
  ports/yomm2/fix_install.patch
  ports/yomm2/portfile.cmake
  ports/yomm2/vcpkg.json
  versions/baseline.json
  versions/y-/yomm2.json
Labels: category:port-update, info:reviewed

#38949 [libnick] Update to 2024.5.1
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#38942 [yara] Update yara to version 4.5.1
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-update, info:reviewed

#38939 [robotraconteur] Update to version 1.2.1
  ports/robotraconteur/fix-compatibility-with-boost-1.85.patch
  ports/robotraconteur/portfile.cmake
  ports/robotraconteur/vcpkg.json
  versions/baseline.json
  versions/r-/robotraconteur.json
Labels: category:port-update, info:reviewed

#38924 [live555] update to 2024-05-15
  ports/live555/portfile.cmake
  ports/live555/vcpkg.json
  versions/baseline.json
  versions/l-/live555.json
Labels: info:internal, category:port-update, info:reviewed

#38920 [VTK] Add IOOCCT feature to VTK.
  ports/vtk/opencascade-7.8.0.patch
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/v-/vtk.json
Labels: category:port-feature, info:reviewed

#38918 [brpc] update to 1.9.0
  ports/brpc/fix-boost-ptr.patch
  ports/brpc/fix-build.patch
  ports/brpc/fix-glog.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#38889 [yyjson] Update to 0.9.0
  ports/yyjson/portfile.cmake
  ports/yyjson/vcpkg.json
  versions/baseline.json
  versions/y-/yyjson.json
Labels: info:internal, category:port-update, info:reviewed

#38886 [quill] Update to 4.1.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#38944 [gsl] update to 2.8
  ports/gsl/0001-configure.patch
  ports/gsl/portfile.cmake
  ports/gsl/vcpkg.json
  versions/baseline.json
  versions/g-/gsl.json
Labels: category:port-update, info:reviewed

#38863 [phnt]Update phnt to 1.1.0
  ports/phnt/portfile.cmake
  ports/phnt/vcpkg.json
  versions/baseline.json
  versions/p-/phnt.json
Labels: category:port-update, info:reviewed

#38824 [liborigin] fix x64-linux-dynamic
  ports/liborigin/portfile.cmake
  ports/liborigin/vcpkg.json
  versions/baseline.json
  versions/l-/liborigin.json
Labels: category:port-bug, info:reviewed

#38683 [FFmpeg] chromium patch
  ports/ffmpeg/0040-ffmpeg-add-av_stream_get_first_dts-for-chromium.patch
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-feature, info:reviewed, requires:discussion

#38965 [kf5kio] Fix port quirks
  ports/kf5kio/portfile.cmake
  ports/kf5kio/vcpkg.json
  versions/baseline.json
  versions/k-/kf5kio.json
Labels: category:port-bug, info:reviewed

#38954 [libsodium] Update to 1.0.20
  ports/libsodium/arm-neon.diff
  ports/libsodium/portfile.cmake
  ports/libsodium/vcpkg.json
  versions/baseline.json
  versions/l-/libsodium.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#38399 [libuvc] Support more platforms
  ports/libuvc/build_fix.patch
  ports/libuvc/portfile.cmake
  ports/libuvc/usage
  ports/libuvc/vcpkg.json
  versions/baseline.json
  versions/l-/libuvc.json
Labels: category:port-feature, depends:upstream-changes, info:reviewed
