Repository microsoft/vcpkg, pull requests merged in 2024-03, with the labels that each got.

#37050 [glaze] update to 2.1.7
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#37049 [g3log] update to 2.4
  ports/g3log/portfile.cmake
  ports/g3log/vcpkg.json
  versions/baseline.json
  versions/g-/g3log.json
Labels: category:port-update, info:reviewed

#37056 [vcpkg baseline][openblas] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#37052 [gmp] Update to 6.3.0
  ports/gmp/cross-tools.patch
  ports/gmp/gmp-arm64-asm-fix-5f32dbc41afc.patch
  ports/gmp/portfile.cmake
  ports/gmp/subdirs.patch
  ports/gmp/vcpkg.json
  versions/baseline.json
  versions/g-/gmp.json
Labels: category:port-update, info:reviewed

#37051 [libgnutls] update to 3.8.3
  ports/libgnutls/portfile.cmake
  ports/libgnutls/vcpkg.json
  versions/baseline.json
  versions/l-/libgnutls.json
Labels: category:port-update, info:reviewed

#37044 [qt5-webengine] Work around mixed protobuf issue
  ports/qt5-webengine/portfile.cmake
  ports/qt5-webengine/vcpkg.json
  ports/qt5-webengine/workaround-protobuf-issue.patch
  versions/baseline.json
  versions/q-/qt5-webengine.json
Labels: category:port-bug, info:reviewed

#37028 [libxml2] Update to version 2.11.7
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-update, info:reviewed

#37027 [nu-book-zxing-cpp] update to 2.2.1
  ports/nu-book-zxing-cpp/portfile.cmake
  ports/nu-book-zxing-cpp/vcpkg.json
  versions/baseline.json
  versions/n-/nu-book-zxing-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#37014 [cpptrace] Add 0.4.1
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  ports/libassert/cpptrace-0.4.1.patch
  ports/libassert/portfile.cmake
  ports/libassert/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
  versions/l-/libassert.json
Labels: category:port-bug, category:port-update, info:reviewed

#37009 [libtracepoint] update to v1.3.2
  ports/libeventheader-tracepoint/portfile.cmake
  ports/libeventheader-tracepoint/vcpkg.json
  ports/libtracepoint-control/portfile.cmake
  ports/libtracepoint-control/vcpkg.json
  ports/libtracepoint/portfile.cmake
  ports/libtracepoint/vcpkg.json
  versions/baseline.json
  versions/l-/libeventheader-tracepoint.json
  versions/l-/libtracepoint-control.json
  versions/l-/libtracepoint.json
Labels: category:port-update, info:reviewed

#36989 [c-ares] Update to 1.27.0
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-update, info:reviewed

#36984 [openjpeg] Update to 2.5.2, fixes
  ports/openjpeg/arm.patch
  ports/openjpeg/fix-static.patch
  ports/openjpeg/no-wx.patch
  ports/openjpeg/openjpip-static.diff
  ports/openjpeg/portfile.cmake
  ports/openjpeg/third-party.diff
  ports/openjpeg/usage
  ports/openjpeg/vcpkg.json
  versions/baseline.json
  versions/o-/openjpeg.json
Labels: category:port-bug, category:port-update, info:reviewed

#37125 [google-cloud-cpp] update to latest release (v2.22.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#37120 [gul14] Update to version 2.11.0
  ports/gul14/portfile.cmake
  ports/gul14/vcpkg.json
  versions/baseline.json
  versions/g-/gul14.json
Labels: category:port-update, info:reviewed

#37117 [sse2neon] Bump to 1.7.0
  ports/sse2neon/portfile.cmake
  ports/sse2neon/vcpkg.json
  versions/baseline.json
  versions/s-/sse2neon.json
Labels: category:port-update, info:reviewed

#37109 [inih] update to 58
  ports/inih/portfile.cmake
  ports/inih/vcpkg.json
  versions/baseline.json
  versions/i-/inih.json
Labels: category:port-update, info:reviewed

#37108 [influxdb-cxx] update to 0.7.2
  ports/influxdb-cxx/portfile.cmake
  ports/influxdb-cxx/vcpkg.json
  versions/baseline.json
  versions/i-/influxdb-cxx.json
Labels: category:port-update, info:reviewed

#37105 [taglib] Fix WASM build by patching out `wchar_t` check
  ports/taglib/disable-wchar-t-check-emscripten.patch
  ports/taglib/portfile.cmake
  ports/taglib/vcpkg.json
  versions/baseline.json
  versions/t-/taglib.json
Labels: info:reviewed, category:community-triplet

#36459 [simdutf,scnlib] update to 4.0.9,2.0.2
  ports/scnlib/fix-SCN_HAS_STD_REGEX_MULTILINE-marco.patch
  ports/scnlib/portfile.cmake
  ports/scnlib/vcpkg.json
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/scnlib.json
  versions/s-/simdutf.json
Labels: category:port-update, info:reviewed

#36755 [python3] Update to 3.11.8
  ports/python3/0006-restore-support-for-windows-7.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  scripts/cmake/vcpkg_find_acquire_program(PYTHON3).cmake
  scripts/vcpkgTools.xml
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update, info:reviewed

#36829 [pocketpy] add new port
  ports/pocketpy/portfile.cmake
  ports/pocketpy/vcpkg.json
  versions/baseline.json
  versions/p-/pocketpy.json
Labels: category:new-port, info:reviewed

#36925 [sqlite3] Ability to enable the database snapshot
  ports/sqlite3/portfile.cmake
  ports/sqlite3/sqlite3-vcpkg-config.h.in
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-feature, info:reviewed

#37004 [dlpack] New port
  ports/dlpack/portfile.cmake
  ports/dlpack/usage
  ports/dlpack/vcpkg.json
  versions/baseline.json
  versions/d-/dlpack.json
Labels: category:new-port, info:reviewed

#37103 [soundtouch] Fix WASM build by using -O3 instead of -Ofast
  ports/soundtouch/portfile.cmake
  ports/soundtouch/use-o3-emscripten.patch
  ports/soundtouch/vcpkg.json
  versions/baseline.json
  versions/s-/soundtouch.json
Labels: category:port-bug, info:reviewed

#37101 [rubberband] Use FFTW3 when targeting iOS or WASM
  ports/rubberband/portfile.cmake
  ports/rubberband/vcpkg.json
  versions/baseline.json
  versions/r-/rubberband.json
Labels: category:port-feature, info:reviewed

#37107 [imath] update to 3.1.11
  ports/imath/portfile.cmake
  ports/imath/vcpkg.json
  versions/baseline.json
  versions/i-/imath.json
Labels: category:port-update, info:reviewed

#37094 [iceoryx] update to 2.0.5
  ports/iceoryx/portfile.cmake
  ports/iceoryx/vcpkg.json
  versions/baseline.json
  versions/i-/iceoryx.json
Labels: category:port-update, info:reviewed

#37092 [hexl] update to 1.2.5
  ports/hexl/portfile.cmake
  ports/hexl/vcpkg.json
  versions/baseline.json
  versions/h-/hexl.json
Labels: category:port-update, info:reviewed

#37090 [libmodplug] Fix WASM build by pinning C++ standard to 11
  ports/libmodplug/portfile.cmake
  ports/libmodplug/vcpkg.json
  versions/baseline.json
  versions/l-/libmodplug.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#37006 [liblzf] New port
  ports/liblzf/0001-add-extern-c.patch
  ports/liblzf/0002-fix-macro-expansion-ub.patch
  ports/liblzf/CMakeLists.txt
  ports/liblzf/liblzf.def
  ports/liblzf/portfile.cmake
  ports/liblzf/vcpkg.json
  versions/baseline.json
  versions/l-/liblzf.json
Labels: category:new-port, info:reviewed

#37038 [dimcli] Update to v7.2.0
  ports/dimcli/portfile.cmake
  ports/dimcli/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/d-/dimcli.json
Labels: category:port-update, info:reviewed, category:infrastructure

#37040 [bext-ut] Updated bext-ut to v2.0.1
  ports/bext-ut/portfile.cmake
  ports/bext-ut/usage
  ports/bext-ut/vcpkg.json
  versions/b-/bext-ut.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#37041 [pcl[cuda]] Fix build failure
  ports/pcl/fix-kinfu.patch
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:internal, info:reviewed

#37048 [libfork] new port
  ports/libfork/portfile.cmake
  ports/libfork/usage
  ports/libfork/vcpkg.json
  versions/baseline.json
  versions/l-/libfork.json
Labels: category:new-port, info:reviewed

#37088 [libmad] Fix WASM build by disabling asm-based optimizations
  ports/libmad/portfile.cmake
  ports/libmad/vcpkg.json
  versions/baseline.json
  versions/l-/libmad.json
Labels: category:port-feature, info:reviewed, category:community-triplet

#37086 [libflac] Fix WASM build by disabling stack protector via feature
  ports/libflac/portfile.cmake
  ports/libflac/vcpkg.json
  versions/baseline.json
  versions/l-/libflac.json
Labels: category:port-feature, info:reviewed

#37083 [bot] automatically handle "configure: error: 'autoconf-archive' is missing"
  .github/workflows/check_issues.yml
Labels: info:reviewed, category:infrastructure

#37082 Github Actions Stale Bot: fix permissions
  .github/workflows/stale.yml
Labels: info:reviewed, category:infrastructure

#37078 [rendergraph] Update to v1.4.1
  ports/rendergraph/portfile.cmake
  ports/rendergraph/vcpkg.json
  versions/baseline.json
  versions/r-/rendergraph.json
Labels: category:port-feature, info:reviewed

#37074 [gpgme] update to 1.23.2
  ports/gpgme/portfile.cmake
  ports/gpgme/vcpkg.json
  versions/baseline.json
  versions/g-/gpgme.json
Labels: category:port-update, info:reviewed

#37071 [glog] update to 0.7.0
  ports/braft/fix-glog.patch
  ports/braft/portfile.cmake
  ports/braft/vcpkg.json
  ports/brpc/fix-glog.patch
  ports/brpc/portfile.cmake
  ports/brpc/vcpkg.json
  ports/cachelib/fix-glog.patch
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/evpp/portfile.cmake
  ports/evpp/use-cxx14-standard.patch
  ports/evpp/vcpkg.json
  ports/folly/fix-unistd-include.patch
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/glog/fix_cplusplus_macro.patch
  ports/glog/fix_crosscompile_symbolize.patch
  ports/glog/fix_glog_CMAKE_MODULE_PATH.patch
  ports/glog/glog_disable_debug_postfix.patch
  ports/glog/portfile.cmake
  ports/glog/vcpkg.json
  ports/libtorch/fix-calculate-minloglevel.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  versions/b-/braft.json
  versions/b-/brpc.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/e-/evpp.json
  versions/f-/folly.json
  versions/g-/glog.json
  versions/l-/libtorch.json
Labels: category:port-bug, category:port-update, info:reviewed

#37065 [poco] update to 1.13.2
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: info:internal, category:port-update, info:reviewed

#37063 [liberasurecode] add new port
  ports/liberasurecode/fix-build.patch
  ports/liberasurecode/portfile.cmake
  ports/liberasurecode/vcpkg.json
  versions/baseline.json
  versions/l-/liberasurecode.json
Labels: category:new-port, info:reviewed

#37059 [pcre2] Disable JIT when targeting iOS
  ports/pcre2/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
Labels: category:port-bug, info:reviewed, category:community-triplet

#37130 Change Android docker hosts to CBL-Mariner
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/android/example-ubuntu-provision.sh
  scripts/azure-pipelines/azure-pipelines.yml
Labels: info:internal, info:reviewed, category:infrastructure

#37169 [libphonenumber] update to 8.13.31
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update, info:reviewed

#37155 [libflac] Add `stack-protector` to default features
  ports/libflac/vcpkg.json
  versions/baseline.json
  versions/l-/libflac.json
Labels: category:port-feature, info:reviewed

#37154 [libmad] Add `aso` to default features
  ports/libmad/vcpkg.json
  versions/baseline.json
  versions/l-/libmad.json
Labels: category:port-feature, info:reviewed

#37144 [libnick] Update to 2024.3.0
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#37136 [jasper] update to 4.2.1
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
Labels: category:port-update, info:reviewed

#37073 [kerbal] update to v2024.1.1
  ports/kerbal/portfile.cmake
  ports/kerbal/vcpkg.json
  versions/baseline.json
  versions/k-/kerbal.json
Labels: category:port-update, info:reviewed

#35472 [poppler] Fix poppler/paraview name clash
  ports/poppler/portfile.cmake
  ports/poppler/private-namespace.patch
  ports/poppler/vcpkg.json
  scripts/test_ports/vcpkg-ci-gdal/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: category:port-bug, info:reviewed

#36539 [vcpkg_from_git] Improve diagnostics.
  scripts/cmake/vcpkg_from_git.cmake
  scripts/test_ports/vcpkg-from-git-test/portfile.cmake
Labels: category:vcpkg-bug, category:documentation, info:internal

#35929 [embree3] Remove explicit ISA selection and expose more project options as features
  ports/embree3/001-downgrade-find-package-tbb-2020.patch
  ports/embree3/portfile.cmake
  ports/embree3/vcpkg.json
  versions/baseline.json
  versions/e-/embree3.json
Labels: category:port-feature, info:reviewed

#37212 [libexif] Fix usage
  ports/libexif/unofficial-libexif-config.cmake
  ports/libexif/vcpkg.json
  versions/baseline.json
  versions/l-/libexif.json
Labels: category:port-bug, info:internal, info:reviewed

#37129 Allow uname calls in download mode + Fix handling of files without RPATH
  scripts/cmake/vcpkg_find_acquire_program(NINJA).cmake
  scripts/cmake/vcpkg_find_acquire_program(PATCHELF).cmake
  scripts/cmake/z_vcpkg_fixup_rpath.cmake
  scripts/ports.cmake
  scripts/test_ports/vcpkg-fix-rpath/portfile.cmake
Labels: category:vcpkg-bug, info:internal

#37244 [libfs] update to 1.0.9
  ports/libfs/portfile.cmake
  ports/libfs/vcpkg.json
  versions/baseline.json
  versions/l-/libfs.json
Labels: category:port-update, info:reviewed

#37242 [chakracore] Avoid using MSVC-internal _STRINGIZE
  ports/chakracore/avoid_msvc_internal_STRINGIZE.patch
  ports/chakracore/portfile.cmake
  ports/chakracore/vcpkg.json
  versions/baseline.json
  versions/c-/chakracore.json
Labels: category:port-bug, info:internal, info:reviewed

#37236 [nlopt] fix paths in cmake config being one too deep
  ports/nlopt/portfile.cmake
  ports/nlopt/vcpkg.json
  versions/baseline.json
  versions/n-/nlopt.json
Labels: category:port-bug, info:reviewed

#37235 [dlib] disable asserts on !windows
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: category:port-feature, info:reviewed

#37231 [Eigen3] Fix target check in cmake config.
  ports/eigen3/portfile.cmake
  ports/eigen3/vcpkg.json
  versions/baseline.json
  versions/e-/eigen3.json
Labels: category:port-bug, info:reviewed

#37224 [libsecret] update to 0.21.4
  ports/libsecret/portfile.cmake
  ports/libsecret/vcpkg.json
  versions/baseline.json
  versions/l-/libsecret.json
Labels: category:port-update, info:reviewed

#37222 [libsass] update to 3.6.6
  ports/libsass/portfile.cmake
  ports/libsass/vcpkg.json
  versions/baseline.json
  versions/l-/libsass.json
Labels: category:port-update, info:reviewed

#37220 [libopenmpt] update to 0.7.4
  ports/libopenmpt/portfile.cmake
  ports/libopenmpt/vcpkg.json
  versions/baseline.json
  versions/l-/libopenmpt.json
Labels: category:port-update, info:reviewed

#37209 [ebml] update to 1.4.5
  ports/ebml/portfile.cmake
  ports/ebml/vcpkg.json
  versions/baseline.json
  versions/e-/ebml.json
Labels: category:port-update, info:reviewed

#37208 [libdmx] update to 1.1.5
  ports/libdmx/portfile.cmake
  ports/libdmx/vcpkg.json
  versions/baseline.json
  versions/l-/libdmx.json
Labels: category:port-update, info:reviewed

#37207 [libdc1394] update to 2.2.7
  ports/libdc1394/portfile.cmake
  ports/libdc1394/vcpkg.json
  versions/baseline.json
  versions/l-/libdc1394.json
Labels: category:port-update, info:reviewed

#37206 [libcbor] update to 0.11.0
  ports/libcbor/portfile.cmake
  ports/libcbor/vcpkg.json
  versions/baseline.json
  versions/l-/libcbor.json
Labels: category:port-update, info:reviewed

#37205 [libavif] update to 1.0.4
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  versions/baseline.json
  versions/l-/libavif.json
Labels: category:port-update, info:reviewed

#37204 [libassuan] update to 2.5.7
  ports/libassuan/portfile.cmake
  ports/libassuan/vcpkg.json
  versions/baseline.json
  versions/l-/libassuan.json
Labels: category:port-update, info:reviewed

#37203 [proxy] update to 2.2.1
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#37201 [azure-iot-sdk-c] LTS_03_2024
  ports/azure-c-shared-utility/disable-error.patch
  ports/azure-c-shared-utility/improve-dependencies.patch
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/vcpkg.json
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uamqp-c/vcpkg.json
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-uhttp-c/vcpkg.json
  ports/azure-umqtt-c/portfile.cmake
  ports/azure-umqtt-c/vcpkg.json
  versions/a-/azure-c-shared-utility.json
  versions/a-/azure-iot-sdk-c.json
  versions/a-/azure-uamqp-c.json
  versions/a-/azure-uhttp-c.json
  versions/a-/azure-umqtt-c.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#37198 [catch2] Update to 3.5.3
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update, info:reviewed

#37188 Avoid error when powershell isn't found in path
  scripts/buildsystems/vcpkg.cmake
Labels: info:reviewed, category:tool-update

#37181 [libredwg] update to 0.13.3
  ports/libredwg/portfile.cmake
  ports/libredwg/vcpkg.json
  versions/baseline.json
  versions/l-/libredwg.json
Labels: category:port-update, info:reviewed

#37180 [libmicrohttpd] update to 1.0.1
  ports/libmicrohttpd/portfile.cmake
  ports/libmicrohttpd/vcpkg.json
  versions/baseline.json
  versions/l-/libmicrohttpd.json
Labels: category:port-update, info:reviewed

#37178 [strong-type] Update strong-type to v14
  ports/strong-type/portfile.cmake
  ports/strong-type/vcpkg.json
  versions/baseline.json
  versions/s-/strong-type.json
Labels: category:port-update, info:reviewed

#37175 [poppler] Update to 24.3.0
  ports/poppler/portfile.cmake
  ports/poppler/vcpkg.json
  versions/baseline.json
  versions/p-/poppler.json
Labels: info:internal, category:port-update, info:reviewed

#37173 [kerbal] update to v2024.2.1
  ports/kerbal/portfile.cmake
  ports/kerbal/vcpkg.json
  versions/baseline.json
  versions/k-/kerbal.json
Labels: category:port-update, info:reviewed

#37170 [pipewire] Update to 1.0.3
  ports/pipewire/portfile.cmake
  ports/pipewire/vcpkg.json
  versions/baseline.json
  versions/p-/pipewire.json
Labels: info:internal, category:port-update, info:reviewed

#37168 [libfido2] update to 1.14.0
  ports/libfido2/portfile.cmake
  ports/libfido2/vcpkg.json
  versions/baseline.json
  versions/l-/libfido2.json
Labels: category:port-update, info:reviewed

#37248 [nng] Update to 1.7.3
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: info:internal, category:port-update, info:reviewed

#37163 [lerc] update to 4.0.4
  ports/lerc/create_package.patch
  ports/lerc/cxx-linkage-pkgconfig.patch
  ports/lerc/fix-climits-include.patch
  ports/lerc/include_algorithm_for_std_min.patch
  ports/lerc/portfile.cmake
  ports/lerc/vcpkg.json
  versions/baseline.json
  versions/l-/lerc.json
Labels: category:port-update, info:reviewed

#37161 [asiochan] fix MiSo1289#10
  ports/asiochan/fix-10.patch
  ports/asiochan/portfile.cmake
  ports/asiochan/vcpkg.json
  versions/a-/asiochan.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#37160 [shiftmedia-libgcrypt] Update version to 1.10.3-1
  ports/shiftmedia-libgcrypt/portfile.cmake
  ports/shiftmedia-libgcrypt/vcpkg.json
  versions/baseline.json
  versions/s-/shiftmedia-libgcrypt.json
Labels: info:internal, category:port-update, info:reviewed

#37159 [kfr] update to 6.0.2
  ports/kfr/portfile.cmake
  ports/kfr/vcpkg.json
  versions/baseline.json
  versions/k-/kfr.json
Labels: category:port-update, info:reviewed

#37151 [directxmath] port update to fix include path in pkgconfig
  ports/directxmath/portfile.cmake
  ports/directxmath/vcpkg.json
  versions/baseline.json
  versions/d-/directxmath.json
Labels: category:port-update, info:reviewed

#37147 [liborigin] new port
  ports/liborigin/portfile.cmake
  ports/liborigin/vcpkg.json
  versions/baseline.json
  versions/l-/liborigin.json
Labels: category:new-port, info:reviewed

#37062 [braft] --triplet=arm64-linux bugs
  ports/braft/export-target.patch
  ports/braft/vcpkg.json
  versions/b-/braft.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#37247 [libunibreak] update to 6.1
  ports/libunibreak/portfile.cmake
  ports/libunibreak/vcpkg.json
  versions/baseline.json
  versions/l-/libunibreak.json
Labels: category:port-update, info:reviewed

#37054 [community triplet] Add `arm64-ios-simulator` triplet
  triplets/community/arm64-ios-simulator.cmake
Labels: info:reviewed, category:community-triplet, requires:vcpkg-team-review

#37055 [community triplet] Add `arm64-ios-simulator-release` triplet
  triplets/community/arm64-ios-simulator-release.cmake
Labels: category:community-triplet

#37116 [community triplet] Add `x64-windows-static-md-release` triplet
  triplets/community/x64-windows-static-md-release.cmake
Labels: info:reviewed, category:community-triplet

#37061 [brpc] support arm architecture
  ports/braft/fix-dependency.patch
  ports/braft/vcpkg.json
  ports/brpc/vcpkg.json
  versions/b-/braft.json
  versions/b-/brpc.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#37255 [Libxcvt] add missing meson dep
  ports/libxcvt/vcpkg.json
  versions/baseline.json
  versions/l-/libxcvt.json
Labels: category:port-bug, info:reviewed

#37254 [Libadwaita] add missing meson dep
  ports/libadwaita/vcpkg.json
  versions/baseline.json
  versions/l-/libadwaita.json
Labels: category:port-bug, info:reviewed

#37251 [libnice-gst] meson dep & copy pdb only if it exists
  ports/libnice-gst/portfile.cmake
  ports/libnice-gst/vcpkg.json
  versions/baseline.json
  versions/l-/libnice-gst.json
Labels: category:port-bug, info:reviewed

#37179 [libsercomm] fix C++ compatibility macro usage
  ports/libsercomm/dev-SER_END_DECL-fix.patch
  ports/libsercomm/portfile.cmake
  ports/libsercomm/vcpkg.json
  versions/baseline.json
  versions/l-/libsercomm.json
Labels: category:port-bug, info:reviewed

#36770 [gn] Update gn to 2024-02-22
  ports/vcpkg-gn/portfile.cmake
  ports/vcpkg-gn/vcpkg-port-config.cmake
  ports/vcpkg-gn/vcpkg.json
  ports/vcpkg-gn/vcpkg_gn_configure.cmake
  ports/vcpkg-gn/z_vcpkg_gn_fixup_path.cmake
  ports/vcpkg-tool-gn/portfile.cmake
  ports/vcpkg-tool-gn/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-gn.json
  versions/v-/vcpkg-tool-gn.json
Labels: category:port-update, info:reviewed

#37366 [Avcpp] update to version 2.3.0
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#37363 [atomic-queue] update to 1.6.3
  ports/atomic-queue/portfile.cmake
  ports/atomic-queue/vcpkg.json
  versions/a-/atomic-queue.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#37373 [hello_imgui] Fix target variables
  ports/hello-imgui/portfile.cmake
  ports/hello-imgui/vcpkg.json
  versions/baseline.json
  versions/h-/hello-imgui.json
Labels: category:port-feature, info:reviewed

#32475 [libiconv] use vcpkg_install_copyright()
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-feature, info:reviewed

#37331 [xsimd] update to 12.1.1
  ports/xsimd/portfile.cmake
  ports/xsimd/vcpkg.json
  versions/baseline.json
  versions/x-/xsimd.json
Labels: category:port-update, info:reviewed

#37330 [span-lite] update to 0.11.0
  ports/span-lite/portfile.cmake
  ports/span-lite/vcpkg.json
  versions/baseline.json
  versions/s-/span-lite.json
Labels: category:port-update, info:reviewed

#37329 [rocksdb] update to 8.11.3
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#37333 [xtl] Update to 0.7.7
  ports/xtl/fix-fixup-cmake.patch
  ports/xtl/portfile.cmake
  ports/xtl/vcpkg.json
  versions/baseline.json
  versions/x-/xtl.json
Labels: category:port-update, info:reviewed

#37328 [outcome] update to 2.2.8
  ports/outcome/portfile.cmake
  ports/outcome/vcpkg.json
  versions/baseline.json
  versions/o-/outcome.json
Labels: category:port-update, info:reviewed

#37327 [optional-lite] update to 3.6.0
  ports/optional-lite/portfile.cmake
  ports/optional-lite/vcpkg.json
  versions/baseline.json
  versions/o-/optional-lite.json
Labels: category:port-update, info:reviewed

#37326 [onednn] update to 3.4
  ports/onednn/portfile.cmake
  ports/onednn/vcpkg.json
  versions/baseline.json
  versions/o-/onednn.json
Labels: category:port-update, info:reviewed

#37323 [nss] update to 3.98
  ports/nss/portfile.cmake
  ports/nss/vcpkg.json
  versions/baseline.json
  versions/n-/nss.json
Labels: category:port-update, info:reviewed

#37293 [lunasvg] update to 2.3.9
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:port-update, info:reviewed

#37294 [luasec] update to 1.3.2
  ports/luasec/portfile.cmake
  ports/luasec/vcpkg.json
  versions/baseline.json
  versions/l-/luasec.json
Labels: category:port-update, info:reviewed

#37296 [marble] update to 24.02.0
  ports/marble/portfile.cmake
  ports/marble/vcpkg.json
  versions/baseline.json
  versions/m-/marble.json
Labels: category:port-update, info:reviewed

#37299 [miniupnpc] update to 2.2.6
  ports/miniupnpc/portfile.cmake
  ports/miniupnpc/vcpkg.json
  versions/baseline.json
  versions/m-/miniupnpc.json
Labels: category:port-update, info:reviewed

#37300 [minizip-ng] update to 4.0.5
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: category:port-update, info:reviewed

#37306 [mujs] update to 1.3.4
  ports/mujs/portfile.cmake
  ports/mujs/vcpkg.json
  versions/baseline.json
  versions/m-/mujs.json
Labels: category:port-update, info:reviewed

#37322 [ffnvcodec] update to 12.1.14.0
  ports/ffnvcodec/portfile.cmake
  ports/ffnvcodec/vcpkg.json
  versions/baseline.json
  versions/f-/ffnvcodec.json
Labels: category:port-update, info:reviewed

#37321 [numactl] update to 2.0.18
  ports/numactl/portfile.cmake
  ports/numactl/vcpkg.json
  versions/baseline.json
  versions/n-/numactl.json
Labels: category:port-update, info:reviewed

#37311 [nanomsg] update to 1.2.1
  ports/nanomsg/portfile.cmake
  ports/nanomsg/vcpkg.json
  versions/baseline.json
  versions/n-/nanomsg.json
Labels: category:port-update, info:reviewed

#37307 [libmupdf] update to 1.23.11
  ports/libmupdf/portfile.cmake
  ports/libmupdf/vcpkg.json
  versions/baseline.json
  versions/l-/libmupdf.json
Labels: category:port-update, info:reviewed

#37276 [llhttp] update to 9.2.0
  ports/llhttp/portfile.cmake
  ports/llhttp/vcpkg.json
  versions/baseline.json
  versions/l-/llhttp.json
Labels: category:port-update, info:reviewed

#37266 [libunistring] update to 1.2
  ports/libunistring/portfile.cmake
  ports/libunistring/vcpkg.json
  versions/baseline.json
  versions/l-/libunistring.json
Labels: category:port-update, info:reviewed

#37362 [expat] Update to 2.6.1+patch
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: category:port-update, info:reviewed

#37281 [vk-bootstrap] update to 1.3.279
  ports/vk-bootstrap/portfile.cmake
  ports/vk-bootstrap/vcpkg.json
  versions/baseline.json
  versions/v-/vk-bootstrap.json
Labels: category:port-update, info:reviewed

#37267 [arrow] Update to 15.0.1
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#37259 [z3] Update to 4.13.0
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#37199 [liblzma] update to version 5.6.0
  ports/liblzma/add_support_ios.patch
  ports/liblzma/build-tools.patch
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  ports/liblzma/win_output_name.patch
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-update, info:reviewed

#36111 [glslang] update to 14.0.0 / [shaderc] update to 2023.8
  ports/glslang/cmake.patch
  ports/glslang/portfile.cmake
  ports/glslang/usage
  ports/glslang/vcpkg.json
  ports/shaderc/build-version.inc
  ports/shaderc/cmake-project-include.cmake
  ports/shaderc/fix-python.patch
  ports/shaderc/portfile.cmake
  ports/shaderc/vcpkg.json
  ports/vsg/devendor-glslang.patch
  ports/vsg/vcpkg.json
  ports/vulkan-sdk-components/portfile.cmake
  ports/vulkan-sdk-components/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
  versions/s-/shaderc.json
  versions/v-/vsg.json
  versions/v-/vulkan-sdk-components.json
Labels: category:port-update

#36836 [liblo] Update to 0.32
  ports/liblo/portfile.cmake
  ports/liblo/vcpkg.json
  versions/baseline.json
  versions/l-/liblo.json
Labels: category:port-update, info:reviewed

#37257 [vcpkg baseline][scnlib] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#37064 [graphviz] Update to 10.0.1
  ports/graphviz/disable-pragma-lib.patch
  ports/graphviz/fix-dependencies.patch
  ports/graphviz/no-absolute-paths.patch
  ports/graphviz/portfile.cmake
  ports/graphviz/select-plugins.patch
  ports/graphviz/static-linkage.patch
  ports/graphviz/vcpkg.json
  ports/graphviz/webp-install.patch
  versions/baseline.json
  versions/g-/graphviz.json
Labels: category:port-update, info:reviewed

#37081 [freerdp] Update to 3.3.0
  ports/freerdp/DontInstallSystemRuntimeLibs.patch
  ports/freerdp/install-layout.patch
  ports/freerdp/mingw-tp.patch
  ports/freerdp/msvc-arm64.patch
  ports/freerdp/portfile.cmake
  ports/freerdp/vcpkg.json
  ports/freerdp/wf-rdpsnd.patch
  ports/freerdp/wfreerdp-server-cli.patch
  versions/baseline.json
  versions/f-/freerdp.json
Labels: category:port-update, info:reviewed

#37093 [guile] update to 3.0.9
  ports/guile/portfile.cmake
  ports/guile/vcpkg.json
  versions/baseline.json
  versions/g-/guile.json
Labels: category:port-update, info:reviewed

#37332 [vcpkg baseline][h5py-lzf] Update, use liblzf port, fix export, cleanup
  ports/h5py-lzf/0001-disable-H5PLget_plugin-api.patch
  ports/h5py-lzf/CMakeLists.txt
  ports/h5py-lzf/portfile.cmake
  ports/h5py-lzf/unofficial-h5py-lzf-config.cmake
  ports/h5py-lzf/vcpkg.json
  ports/liblzf/CMakeLists.txt
  ports/liblzf/portfile.cmake
  ports/liblzf/vcpkg.json
  versions/baseline.json
  versions/h-/h5py-lzf.json
  versions/l-/liblzf.json
Labels: category:port-bug, category:port-update, info:reviewed

#37233 [directxtex] Update for March 2024 release
  ports/directxtex/portfile.cmake
  ports/directxtex/usage
  ports/directxtex/vcpkg.json
  versions/baseline.json
  versions/d-/directxtex.json
Labels: category:port-feature, category:port-update, info:reviewed

#37232 [libhsplasma] Update to 2024-03-07
  ports/libhsplasma/portfile.cmake
  ports/libhsplasma/vcpkg.json
  versions/baseline.json
  versions/l-/libhsplasma.json
Labels: category:port-update, info:reviewed

#37264 [libmediainfo] update to 24.01
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  versions/baseline.json
  versions/l-/libmediainfo.json
Labels: category:port-update, info:reviewed

#37356 [gettext*] Update 0.22.5, fix Intl wrapper
  ports/gettext-libintl/portfile.cmake
  ports/gettext-libintl/vcpkg-cmake-wrapper.cmake
  ports/gettext-libintl/vcpkg.json
  ports/gettext/install-autopoint.cmake
  ports/gettext/portfile.cmake
  ports/gettext/uwp.patch
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext-libintl.json
  versions/g-/gettext.json
Labels: category:port-bug, category:port-update, info:reviewed

#37354 [python3] Fix missing _ when discovering internal FindPython vars.
  ports/python3/vcpkg-cmake-wrapper.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-bug, info:reviewed

#37336 Don't require vcpkg-msbuild for mingw
  ports/libmicrohttpd/vcpkg.json
  ports/libusb/vcpkg.json
  ports/libvpx/vcpkg.json
  ports/mp3lame/vcpkg.json
  ports/sdl1/vcpkg.json
  versions/baseline.json
  versions/l-/libmicrohttpd.json
  versions/l-/libusb.json
  versions/l-/libvpx.json
  versions/m-/mp3lame.json
  versions/s-/sdl1.json
Labels: category:port-feature, info:reviewed

#37382 [directx-dxc, directx-headers] Update for March 2024 release
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/usage
  ports/directx-dxc/vcpkg.json
  ports/directx-headers/portfile.cmake
  ports/directx-headers/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
  versions/d-/directx-headers.json
Labels: category:port-update, info:reviewed

#37334 [argh] Fix cmake config fixup
  ports/argh/portfile.cmake
  ports/argh/vcpkg.json
  versions/a-/argh.json
  versions/baseline.json
Labels: info:reviewed, category:code-cleanup

#37283 [botan] Fixes for building with clang/libc++/winpthreads.
  ports/botan/libcxx-winpthread-fixes.patch
  ports/botan/portfile.cmake
  ports/botan/vcpkg.json
  versions/b-/botan.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#37234 [Openturns] burn in linkage and fix deps
  ports/openturns/fix-dep.patch
  ports/openturns/portfile.cmake
  ports/openturns/vcpkg.json
  versions/baseline.json
  versions/o-/openturns.json
Labels: category:port-bug, info:reviewed

#37370 [sdformat6/sdformat9/sdformat10]sets correct environment variable
  ports/sdformat10/portfile.cmake
  ports/sdformat10/vcpkg.json
  ports/sdformat6/portfile.cmake
  ports/sdformat6/vcpkg.json
  ports/sdformat9/portfile.cmake
  ports/sdformat9/vcpkg.json
  versions/baseline.json
  versions/s-/sdformat10.json
  versions/s-/sdformat6.json
  versions/s-/sdformat9.json
Labels: category:port-bug, info:internal, info:reviewed

#37375 [rmlui] Add patch to remove std:: before uint*
  ports/rmlui/portfile.cmake
  ports/rmlui/remove-std-before-uint.patch
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:port-bug, info:internal, info:reviewed

#37157 [faudio] new port
  ports/faudio/portfile.cmake
  ports/faudio/vcpkg.json
  versions/baseline.json
  versions/f-/faudio.json
Labels: category:new-port, info:reviewed

#37367 [libdwarf] Recover deleted historical versions
  versions/l-/libdwarf.json
Labels: info:internal, category:code-cleanup

#37353 [apriltag] update to 3.4.0
  ports/apriltag/fix-config.patch
  ports/apriltag/portfile.cmake
  ports/apriltag/vcpkg.json
  versions/a-/apriltag.json
  versions/baseline.json
Labels: category:port-update, info:reviewed
