Repository microsoft/vcpkg, pull requests merged in 2024-07, with the labels that each got.

#39592 [vcpkg baseline][cachelib] remove from baseline
  scripts/ci.baseline.txt
Labels: info:reviewed, category:infrastructure

#39530 [qt5-webengine] Work around mixed abseil-cpp issue
  ports/qt5-webengine/portfile.cmake
  ports/qt5-webengine/vcpkg.json
  ports/qt5-webengine/workaround-protobuf-issue.patch
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/q-/qt5-webengine.json
Labels: category:port-bug, info:reviewed

#39606 [libmediainfo] update to 24.06
  ports/libmediainfo/portfile.cmake
  ports/libmediainfo/vcpkg.json
  versions/baseline.json
  versions/l-/libmediainfo.json
Labels: category:port-update, info:reviewed

#39601 [magic-enum] update to 0.9.6
  ports/magic-enum/portfile.cmake
  ports/magic-enum/vcpkg.json
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-update, info:reviewed

#39591 [tbb] update to 2021.13.0
  ports/tbb/portfile.cmake
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-update, info:reviewed

#39578 [proj] fix gcc version<8 compile
  ports/proj/fix-gcc-version-less-8.patch
  ports/proj/portfile.cmake
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-bug, info:reviewed

#39612 [openimageio] Fix exported cmake config
  ports/openimageio/fix-dependencies.patch
  ports/openimageio/vcpkg.json
  scripts/test_ports/vcpkg-ci-openimageio/portfile.cmake
  scripts/test_ports/vcpkg-ci-openimageio/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-openimageio/project/main.cpp
  scripts/test_ports/vcpkg-ci-openimageio/vcpkg.json
  versions/baseline.json
  versions/o-/openimageio.json
Labels: category:port-feature, category:port-bug, info:reviewed

#39621 [mongo-cxx-driver] Update to 3.10.2
  ports/mongo-cxx-driver/fix-dependencies.patch
  ports/mongo-cxx-driver/portfile.cmake
  ports/mongo-cxx-driver/vcpkg.json
  versions/baseline.json
  versions/m-/mongo-cxx-driver.json
Labels: info:internal, category:port-update

#39638 [google-cloud-cpp] update to v2.26.0
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#39632 [opentelemetry-cpp] Update to 1.16
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-update, info:reviewed

#39623 [krb5] Update to 1.21.3
  ports/krb5/portfile.cmake
  ports/krb5/vcpkg.json
  versions/baseline.json
  versions/k-/krb5.json
Labels: info:internal, category:port-update, info:reviewed

#39620 [shader-slang] Update to v2024.1.25
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: info:internal, category:port-update, info:reviewed

#39597 [sdbus-cpp] bump version to v2.0.0
  ports/sdbus-cpp/portfile.cmake
  ports/sdbus-cpp/vcpkg.json
  versions/baseline.json
  versions/s-/sdbus-cpp.json
Labels: category:port-update, info:reviewed

#39628 [libyuv] Fix install tools
  ports/libyuv/fix-cmakelists.patch
  ports/libyuv/portfile.cmake
  ports/libyuv/vcpkg.json
  versions/baseline.json
  versions/l-/libyuv.json
Labels: category:port-feature, info:reviewed

#39424 [sqlite3] Add feature recovery
  ports/sqlite3/portfile.cmake
  ports/sqlite3/sqlite3-vcpkg-config.h.in
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-feature, info:internal, info:reviewed

#39602 [qca] Fix qca port not relocatable
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-bug, info:reviewed

#39642 [folly related] update to 07.01
  ports/cachelib/fix-fmt.patch
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#39616 [wxwidgets] Add feature secretstore
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:internal, info:reviewed

#39639 [libidn2] Fix patch
  ports/libidn2/disable-subdirs.patch
  ports/libidn2/vcpkg.json
  versions/baseline.json
  versions/l-/libidn2.json
Labels: category:port-feature, info:reviewed

#39655 Sync README with documentation website
  README.md
  README_es.md
  README_fr.md
  README_ko_KR.md
  README_pt.md
  README_vn.md
  README_zh_CN.md
Labels: category:documentation, info:internal, info:reviewed

#39648 [kerbal] update to v2024.6.1
  ports/kerbal/portfile.cmake
  ports/kerbal/vcpkg.json
  versions/baseline.json
  versions/k-/kerbal.json
Labels: category:port-update, info:reviewed

#39325 Patch Tuesday June 2024
  ports/libtorch/cmake-fixes.patch
  ports/libtorch/cuda-adjustments.patch
  ports/libtorch/fix-build.patch
  ports/libtorch/fix-onnx-case.patch
  ports/libtorch/force-cuda-include.patch
  ports/libtorch/fxdiv.patch
  ports/libtorch/more-fixes.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  ports/unittest-cpp/portfile.cmake
  ports/unittest-cpp/vcpkg.json
  scripts/azure-pipelines/create-vmss-helpers.psm1
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-cuda.ps1
  scripts/azure-pipelines/windows/deploy-cudnn.ps1
  scripts/azure-pipelines/windows/deploy-install-disk.ps1
  scripts/azure-pipelines/windows/deploy-inteloneapi.ps1
  scripts/azure-pipelines/windows/deploy-mpi.ps1
  scripts/azure-pipelines/windows/deploy-psexec.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-settings.txt
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/azure-pipelines/windows/deploy-windows-sdks.ps1
  scripts/azure-pipelines/windows/drop-to-admin-user-prefix.ps1
  scripts/azure-pipelines/windows/provision-entire-image.ps1
  scripts/azure-pipelines/windows/sysprep.ps1
  scripts/azure-pipelines/windows/test-cudnn.ps1
  scripts/azure-pipelines/windows/utility-prefix.ps1
  scripts/toolchains/windows.cmake
  versions/baseline.json
  versions/l-/libtorch.json
  versions/o-/opencv4.json
  versions/u-/unittest-cpp.json
Labels: info:internal, category:infrastructure

#39683 [liborigin] update to 3.0.3
  ports/liborigin/fix-installing-import-library-with-MSVC.patch
  ports/liborigin/portfile.cmake
  ports/liborigin/vcpkg.json
  versions/baseline.json
  versions/l-/liborigin.json
Labels: category:port-update, info:reviewed

#39681 [libnick] Update to 2024.7.0
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#39678 [libass] Update to version 0.17.3
  ports/libass/portfile.cmake
  ports/libass/vcpkg.json
  versions/baseline.json
  versions/l-/libass.json
Labels: category:port-update, info:reviewed

#39587 [audit] new port
  ports/audit/portfile.cmake
  ports/audit/vcpkg.json
  versions/a-/audit.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#39687 [cdt] Update to 1.4.1
  ports/cdt/portfile.cmake
  ports/cdt/vcpkg.json
  versions/baseline.json
  versions/c-/cdt.json
Labels: info:internal, category:port-update, info:reviewed

#39685 [mongo-c-driver/libbson] update to 1.27.4
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#39682 [gtkmm/gtk] update to 4.14.0
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  ports/gtkmm/portfile.cmake
  ports/gtkmm/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
  versions/g-/gtkmm.json
Labels: info:internal, category:port-update, info:reviewed

#39640 [ginkgo] add version 1.8.0
  ports/ginkgo/portfile.cmake
  ports/ginkgo/vcpkg.json
  versions/baseline.json
  versions/g-/ginkgo.json
Labels: category:port-update, info:reviewed

#39690 [libjpeg-turbo] Update to 3.0.3
  ports/libjpeg-turbo/add-options-for-exes-docs-headers.patch
  ports/libjpeg-turbo/portfile.cmake
  ports/libjpeg-turbo/vcpkg.json
  ports/libjpeg-turbo/workaround_cmake_system_processor.patch
  versions/baseline.json
  versions/l-/libjpeg-turbo.json
Labels: category:port-update, info:reviewed

#39686 [minizip-ng] Update, fix dependencies
  ports/minizip-ng/dependencies.diff
  ports/minizip-ng/fix_find_zstd.patch
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  ports/opencolorio/fix-dependency.patch
  ports/opencolorio/vcpkg.json
  scripts/test_ports/vcpkg-ci-openimageio/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
  versions/o-/opencolorio.json
Labels: category:port-bug, category:port-update, info:reviewed

#39664 [abseil] Fix port bugs
  ports/abseil/779a356-test-allocator.diff
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#39618 [yara] Fix linking error with math libary
  ports/yara/CMakeLists.txt
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: category:port-bug, info:internal, info:reviewed

#39677 [glslang] Fix `tools` feature installation
  ports/glslang/0001-Fix-glslangValidator-installation.patch
  ports/glslang/portfile.cmake
  ports/glslang/vcpkg.json
  versions/baseline.json
  versions/g-/glslang.json
Labels: category:port-bug, info:reviewed

#39630 [Asmjit ] Asmjit update - Following pull request #39090
  ports/asmjit/portfile.cmake
  ports/asmjit/vcpkg.json
  ports/fbgemm/vcpkg.json
  ports/polyhook2/fix-dep.patch
  ports/polyhook2/portfile.cmake
  ports/polyhook2/vcpkg.json
  versions/a-/asmjit.json
  versions/baseline.json
  versions/f-/fbgemm.json
  versions/p-/polyhook2.json
Labels: category:port-update, info:reviewed

#39669 [wxwidgets] Restore deleted compile options
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-feature, info:internal, info:reviewed

#39662 [gettext-libintl] Handle atypical Linux installations
  ports/gettext-libintl/detect/CMakeLists.txt
  ports/gettext-libintl/portfile.cmake
  ports/gettext-libintl/vcpkg.json
  versions/baseline.json
  versions/g-/gettext-libintl.json
Labels: category:port-bug, info:reviewed

#39647 [libcgroup] added new port
  ports/libcgroup/portfile.cmake
  ports/libcgroup/vcpkg.json
  versions/baseline.json
  versions/l-/libcgroup.json
Labels: category:new-port, info:reviewed

#39561 [cpprealm] new port
  ports/cpprealm/portfile.cmake
  ports/cpprealm/vcpkg.json
  versions/baseline.json
  versions/c-/cpprealm.json
Labels: category:new-port, info:reviewed

#39756 [vcpkg baseline][stdexec] Fix compilation failure under Windows
  ports/stdexec/fix-version.patch
  ports/stdexec/portfile.cmake
  ports/stdexec/vcpkg.json
  versions/baseline.json
  versions/s-/stdexec.json
Labels: category:port-bug, info:internal, info:reviewed

#39742 [icu] Fix mingw
  ports/icu/mingw-strict-ansi.diff
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  versions/baseline.json
  versions/i-/icu.json
Labels: category:port-feature, info:reviewed

#39725 [edflib] Update to v1.26
  ports/edflib/portfile.cmake
  ports/edflib/vcpkg.json
  versions/baseline.json
  versions/e-/edflib.json
Labels: category:port-update, info:reviewed

#39724 [tinygltf] update to 2.9.2
  ports/tinygltf/portfile.cmake
  ports/tinygltf/vcpkg.json
  versions/baseline.json
  versions/t-/tinygltf.json
Labels: category:port-update, info:reviewed

#39710 [sdl2] update to 2.30.5
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: info:internal, category:port-update, info:reviewed

#39708 [assimp] Update to 5.4.2
  ports/assimp/build_fixes.patch
  ports/assimp/portfile.cmake
  ports/assimp/vcpkg.json
  versions/a-/assimp.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#39739 [sese] update to 2.2.0
  ports/sese/portfile.cmake
  ports/sese/vcpkg.json
  versions/baseline.json
  versions/s-/sese.json
Labels: category:port-update, info:reviewed

#39741 [libsystemd] Update to 256.2
  ports/libsystemd/only-libsystemd.patch
  ports/libsystemd/portfile.cmake
  ports/libsystemd/vcpkg.json
  versions/baseline.json
  versions/l-/libsystemd.json
Labels: category:port-update, info:reviewed

#39734 [libssh] Update, fix, cleanup
  ports/libssh/0001-export-pkgconfig-file.patch
  ports/libssh/0002-mingw_for_Android.patch
  ports/libssh/0003-no-source-write.patch
  ports/libssh/portfile.cmake
  ports/libssh/usage
  ports/libssh/vcpkg.json
  versions/baseline.json
  versions/l-/libssh.json
Labels: category:port-update, info:reviewed, requires:all-feature-testing

#39627 [skia] Fix dll definitions patch
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-feature, info:reviewed

#39493 [spglib] Add a new port
  ports/spglib/portfile.cmake
  ports/spglib/usage
  ports/spglib/vcpkg.json
  versions/baseline.json
  versions/s-/spglib.json
Labels: category:new-port, info:reviewed

#39729 [soapysdr] New Port
  ports/soapysdr/portfile.cmake
  ports/soapysdr/usage
  ports/soapysdr/vcpkg.json
  versions/baseline.json
  versions/s-/soapysdr.json
Labels: category:new-port, info:reviewed

#39790 [libnick] Update to 2024.7.2
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#39783 [nativefiledialog-extended] Update to version 1.2.0
  ports/nativefiledialog-extended/portfile.cmake
  ports/nativefiledialog-extended/vcpkg.json
  versions/baseline.json
  versions/n-/nativefiledialog-extended.json
Labels: category:port-update, info:reviewed

#39767 [folly related] update to 07.08
  ports/cachelib/fix-build.patch
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#39779 [v8] use right var
  ports/v8/portfile.cmake
  ports/v8/vcpkg.json
  versions/baseline.json
  versions/v-/v8.json
Labels: category:port-bug, info:reviewed

#39781 [liblsquic] use right var
  ports/liblsquic/portfile.cmake
  ports/liblsquic/vcpkg.json
  versions/baseline.json
  versions/l-/liblsquic.json
Labels: category:port-bug, info:reviewed

#39780 [liblas] use right var
  ports/liblas/portfile.cmake
  ports/liblas/vcpkg.json
  versions/baseline.json
  versions/l-/liblas.json
Labels: category:port-bug, info:reviewed

#39777 [libsrt] use right var
  ports/libsrt/portfile.cmake
  ports/libsrt/vcpkg.json
  versions/baseline.json
  versions/l-/libsrt.json
Labels: category:port-bug, info:reviewed

#39776 [nanopb] use right var
  ports/nanopb/portfile.cmake
  ports/nanopb/vcpkg.json
  versions/baseline.json
  versions/n-/nanopb.json
Labels: category:port-bug, info:reviewed

#39775 [libsvm] use right var
  ports/libsvm/portfile.cmake
  ports/libsvm/vcpkg.json
  versions/baseline.json
  versions/l-/libsvm.json
Labels: category:port-bug, info:reviewed

#39774 [imgui] fix definitions
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-bug, info:reviewed

#39773 [zlmediakit] fix core build
  ports/zlmediakit/fix-core.patch
  ports/zlmediakit/portfile.cmake
  ports/zlmediakit/vcpkg.json
  versions/baseline.json
  versions/z-/zlmediakit.json
Labels: category:port-bug, info:reviewed

#39769 [ableton-link] use right variables
  ports/ableton-link/portfile.cmake
  ports/ableton-link/vcpkg.json
  versions/a-/ableton-link.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#39794 [mnn] Fix feature opencl compilation error under Linux
  ports/mnn/fix-linux.patch
  ports/mnn/portfile.cmake
  ports/mnn/vcpkg.json
  versions/baseline.json
  versions/m-/mnn.json
Labels: category:port-bug, info:internal, info:reviewed

#39671 [crashpad] Fix build errors under linux
  ports/crashpad/fix-linux.patch
  ports/crashpad/fix-std-20.patch
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug, info:internal, info:reviewed

#39753 [fftw3] Fix the wrong package version
  ports/fftw3/fix-wrong-version.patch
  ports/fftw3/portfile.cmake
  ports/fftw3/vcpkg.json
  versions/baseline.json
  versions/f-/fftw3.json
Labels: category:port-bug, info:internal, info:reviewed

#39750 [dbus] does not build on android and ios
  ports/dbus/vcpkg.json
  ports/qtconnectivity/vcpkg.json
  ports/qtsensors/vcpkg.json
  versions/baseline.json
  versions/d-/dbus.json
  versions/q-/qtconnectivity.json
  versions/q-/qtsensors.json
Labels: category:port-feature, info:reviewed

#39599 [tdscpp] Add new port
  ports/tdscpp/portfile.cmake
  ports/tdscpp/usage
  ports/tdscpp/vcpkg.json
  versions/baseline.json
  versions/t-/tdscpp.json
Labels: category:new-port, info:reviewed

#39704 [libxml2] Update to 2.11.8 [CVE]
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-update

#39709 [sdl2] Fix exported deps for android
  ports/sdl2/alsa-dep-fix.patch
  ports/sdl2/cxx-linkage-pkgconfig.diff
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#39714 [configcat] Update to version 4.0.3
  ports/configcat/portfile.cmake
  ports/configcat/vcpkg.json
  versions/baseline.json
  versions/c-/configcat.json
Labels: category:port-feature, category:port-update, info:reviewed

#39730 [blend2d] update port to 2024-06-28
  ports/blend2d/portfile.cmake
  ports/blend2d/usage_static.txt
  ports/blend2d/vcpkg.json
  ports/osgearth/blend2d.patch
  ports/osgearth/portfile.cmake
  ports/osgearth/vcpkg.json
  versions/b-/blend2d.json
  versions/baseline.json
  versions/o-/osgearth.json
Labels: category:port-update, info:reviewed

#39757 [itk] update to 5.4.0
  ports/itk/cxx17.patch
  ports/itk/double-conversion.patch
  ports/itk/opencl.patch
  ports/itk/openjpeg.patch
  ports/itk/portfile.cmake
  ports/itk/var_libraries.patch
  ports/itk/vcpkg.json
  ports/itk/wrapping.patch
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-update, info:reviewed

#39787 [thrift] Update thrift 0.20.0 git reference
  ports/thrift/portfile.cmake
  ports/thrift/vcpkg.json
  versions/baseline.json
  versions/t-/thrift.json
Labels: category:port-bug, info:reviewed

#39802 [google-cloud-cpp] Skip building mock libraries.
  ports/google-cloud-cpp/fix_mocks_dependent_option.patch
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-bug, info:reviewed

#39801 [sese] fix fmt error
  ports/sese/001-fix-fmt-error.patch
  ports/sese/portfile.cmake
  ports/sese/vcpkg.json
  versions/baseline.json
  versions/s-/sese.json
Labels: category:port-bug, info:reviewed

#39788 [CI][GTK] Fix vulkan_enabled bug in GTK
  ports/gtk/fix_vulkan_enabled.patch
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/gtk.json
Labels: category:port-bug, info:reviewed

#39817 [vcpkg baseline][cnats] Passing remove from fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#39814 [wolfssl] update to 5.7.2
  ports/wolfssl/portfile.cmake
  ports/wolfssl/vcpkg.json
  versions/baseline.json
  versions/w-/wolfssl.json
Labels: category:port-update, info:reviewed

#39813 [lz4] update license expression
  ports/lz4/vcpkg.json
  versions/baseline.json
  versions/l-/lz4.json
Labels: category:port-feature, info:reviewed

#39827 [yyjson] Update to 0.10.0
  ports/yyjson/portfile.cmake
  ports/yyjson/vcpkg.json
  versions/baseline.json
  versions/y-/yyjson.json
Labels: category:port-update, info:reviewed

#39841 [librdkafka] Fix code download URL
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-bug, info:internal, info:reviewed

#39844 Attempt to disable CodeQL
  scripts/azure-pipelines/windows-unstable/job.yml
Labels: info:internal, info:reviewed, category:infrastructure

#39843 [paho-mqttpp3] Update version to 1.4.1
  ports/paho-mqttpp3/portfile.cmake
  ports/paho-mqttpp3/vcpkg.json
  versions/baseline.json
  versions/p-/paho-mqttpp3.json
Labels: info:internal, category:port-update, info:reviewed

#39845 [fastio] update to 2024-07-05
  ports/fastio/portfile.cmake
  ports/fastio/vcpkg.json
  versions/baseline.json
  versions/f-/fastio.json
Labels: info:internal, category:port-update, info:reviewed

#39851 [ctbignum] fix build
  ports/ctbignum/no-boost.patch
  ports/ctbignum/portfile.cmake
  ports/ctbignum/vcpkg.json
  versions/baseline.json
  versions/c-/ctbignum.json
Labels: category:port-bug, info:reviewed

#39798 [hdf5] fix: add support for aarch64 _Float16 16-bit floating point type
  ports/hdf5/add-_Float16-type-on-aarch64.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-feature, info:reviewed

#39654 [toolchain] Fix try compile handling for Xbox
  scripts/toolchains/xbox.cmake
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#37734 Don't unset CMAKE_CROSSCOMPILING when cross-compiling to linux
  scripts/toolchains/linux.cmake
Labels: info:reviewed, category:infrastructure, requires:vcpkg-team-review

#39836 Update vcpkg-tool to 2024-07-10
  scripts/posh-vcpkg/0.0.1/posh-vcpkg.psd1
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#39879 [cxxgraph] Update to 4.1.0
  ports/cxxgraph/portfile.cmake
  ports/cxxgraph/usage
  ports/cxxgraph/vcpkg.json
  versions/baseline.json
  versions/c-/cxxgraph.json
Labels: info:internal, category:port-update, info:reviewed

#39877 [fastgltf] update to 0.7.2
  ports/fastgltf/portfile.cmake
  ports/fastgltf/vcpkg.json
  versions/baseline.json
  versions/f-/fastgltf.json
Labels: info:internal, category:port-update, info:reviewed

#39875 [flecs] Update to 3.2.12
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#39869 [small-gicp] update to 0.1.2
  ports/small-gicp/disable_openmp_osx.patch
  ports/small-gicp/portfile.cmake
  ports/small-gicp/vcpkg.json
  versions/baseline.json
  versions/s-/small-gicp.json
Labels: category:port-update, info:reviewed

#39807 [bgfx] Update to 1.128.8777-475
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#39524 [glaze/saucer] Update glaze to 2.9.2 and saucer to 2.3.0
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  ports/saucer/fix_findpkg.patch
  ports/saucer/portfile.cmake
  ports/saucer/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
  versions/s-/saucer.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#39858 [llvm] fix feature dependencies
  ports/llvm/portfile.cmake
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-bug, info:reviewed

#39854 [curl] fix build
  ports/curl/fix-mbedtls.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug, info:reviewed

#39595 [eCAL] Update to 5.13.2
  ports/ecal/0001-disable-app-plugins.patch
  ports/ecal/0002-fix-build.patch
  ports/ecal/0004-install-cmake-files-to-share.patch
  ports/ecal/0007-allow-static-build-of-core.patch
  ports/ecal/portfile.cmake
  ports/ecal/vcpkg.json
  versions/baseline.json
  versions/e-/ecal.json
Labels: category:port-update

#39806 [magnum] fix build of vk feature
  ports/magnum/006-fix-build.patch
  ports/magnum/portfile.cmake
  ports/magnum/vcpkg.json
  versions/baseline.json
  versions/m-/magnum.json
Labels: category:port-bug

#39924 [nanoflann] Update to 1.6.0
  ports/nanoflann/portfile.cmake
  ports/nanoflann/vcpkg.json
  versions/baseline.json
  versions/n-/nanoflann.json
Labels: category:port-update, info:reviewed

#39922 [breakpad] fix breakpad build issue on VS2022 17.10
  ports/breakpad/add-algorithm-1.patch
  ports/breakpad/portfile.cmake
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#39911 [quill] Update to 5.0.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#39909 [qt-advanced-docking-system] update to 4.3.1
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-update, info:reviewed

#39907 [imageinfo] Bump to 2024-07-14
  ports/imageinfo/portfile.cmake
  ports/imageinfo/vcpkg.json
  versions/baseline.json
  versions/i-/imageinfo.json
Labels: category:port-update, info:reviewed

#39906 [cpptrace] Add 0.6.3
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#39904 [flecs] Update to 4.0.0
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#39650 [mimalloc] update to 2.1.7
  ports/mimalloc/add_ref_to_page_malloc_zero.patch
  ports/mimalloc/fix-cmake.patch
  ports/mimalloc/portfile.cmake
  ports/mimalloc/template-param-types.diff
  ports/mimalloc/usage
  ports/mimalloc/vcpkg.json
  scripts/test_ports/vcpkg-ci-mimalloc/portfile.cmake
  scripts/test_ports/vcpkg-ci-mimalloc/vcpkg.json
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: category:port-bug, category:port-update, info:reviewed

#39795 [stdexec] Move all downloads to portfile, use stable refs
  ports/stdexec/portfile.cmake
  ports/stdexec/vcpkg.json
  versions/baseline.json
  versions/s-/stdexec.json
Labels: category:port-bug, info:reviewed

#39908 [simd] Bump to 6.1.139
  ports/simd/SimdConfig.cmake
  ports/simd/fix-platform-detection.patch
  ports/simd/portfile.cmake
  ports/simd/vcpkg.json
  versions/baseline.json
  versions/s-/simd.json
Labels: category:port-update, info:reviewed

#39703 [vcpkg-ci-ffmpeg, ffmpeg] Require CI pass on all triplets, fix dependencies
  ports/ffmpeg/0004-dependencies.patch
  ports/ffmpeg/FindFFMPEG.cmake.in
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg-cmake-wrapper.cmake
  ports/ffmpeg/vcpkg.json
  ports/libmodplug/004-export-pkgconfig.patch
  ports/libmodplug/portfile.cmake
  ports/libmodplug/vcpkg.json
  ports/libopenmpt/CMakeLists.txt
  ports/libopenmpt/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
  versions/l-/libmodplug.json
  versions/l-/libopenmpt.json
Labels: category:port-feature, info:reviewed, category:infrastructure

#39513 [opentelemetry-cpp-contrib-version] Add port opentelemetry-cpp-contrib-version
  ports/opentelemetry-cpp-contrib-version/portfile.cmake
  ports/opentelemetry-cpp-contrib-version/vcpkg-port-config.cmake
  ports/opentelemetry-cpp-contrib-version/vcpkg.json
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp-contrib-version.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#39824 [libiconv] Deploy on BSDs
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: category:port-feature, info:reviewed

#39679 [vcpkg ci,liburing] Improve license identifier check
  .github/workflows/untrustedPR.yml
  ports/liburing/portfile.cmake
  ports/liburing/usage
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: category:port-feature, info:reviewed, category:infrastructure

#38821 [libuv] Update version to v1.48.0
  ports/libuv/fix-build-type.patch
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: info:internal, category:port-update

#39923 [dav1d] Skip host nasm dependency when targeting non-x86
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-bug

#39916 [geographiclib] Geographiclib/2.4
  ports/geographiclib/portfile.cmake
  ports/geographiclib/remove-broken-and-unnecessary-cross-compile-check.patch
  ports/geographiclib/vcpkg.json
  versions/baseline.json
  versions/g-/geographiclib.json
Labels: category:port-update

#39896 Patch Tuesday for July 2024
  ports/arg-router/always-depend-on-boost.patch
  ports/arg-router/portfile.cmake
  ports/arg-router/vcpkg.json
  ports/qtwebchannel/portfile.cmake
  ports/qtwebchannel/vcpkg.json
  ports/wg21-linear-algebra/portfile.cmake
  ports/wg21-linear-algebra/use-external-mdspan.patch
  ports/wg21-linear-algebra/vcpkg.json
  ports/ztd-cuneicode/fix-cmake-install.patch
  ports/ztd-cuneicode/portfile.cmake
  ports/ztd-cuneicode/vcpkg.json
  ports/ztd-text/fix-cmake-install.patch
  ports/ztd-text/portfile.cmake
  ports/ztd-text/vcpkg.json
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/linux/managed-image.json
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/azure-pipelines.yml
  scripts/azure-pipelines/osx/register-guest.sh
  scripts/azure-pipelines/osx/setup-box.sh
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows-unstable/job.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-azure-cli.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/azure-pipelines/windows/provision-entire-image.ps1
  scripts/vcpkgTools.xml
  versions/a-/arg-router.json
  versions/baseline.json
  versions/q-/qtwebchannel.json
  versions/w-/wg21-linear-algebra.json
  versions/z-/ztd-cuneicode.json
  versions/z-/ztd-text.json
Labels: info:internal, category:infrastructure

#39952 Use Workload Identity Federation for testing MSVC
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#39511 [vtk] Reduce dependencies by adding new features
  ports/seacas/portfile.cmake
  ports/seacas/vcpkg.json
  ports/vtk/usage
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/s-/seacas.json
  versions/v-/vtk.json
Labels: category:port-feature, info:reviewed

#39349 [libsersi] Add new library
  ports/libsersi/portfile.cmake
  ports/libsersi/usage
  ports/libsersi/vcpkg.json
  versions/baseline.json
  versions/l-/libsersi.json
Labels: category:new-port, info:reviewed

#39941 [simdutf] Update to 5.3.0
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/simdutf.json
Labels: category:port-update, info:reviewed

#39862 [netgen] no abolute paths
  ports/netgen/portfile.cmake
  ports/netgen/vcpkg.json
  versions/baseline.json
  versions/n-/netgen.json
Labels: category:port-bug, info:reviewed

#39261 [htslib, htscodecs] New ports
  ports/htscodecs/0001-no-tests.patch
  ports/htscodecs/portfile.cmake
  ports/htscodecs/vcpkg.json
  ports/htslib/0001-set-linkage.patch
  ports/htslib/0002-pthread-flag.patch
  ports/htslib/0003-no-tests.patch
  ports/htslib/0004-fix-find-htscodecs.patch
  ports/htslib/portfile.cmake
  ports/htslib/vcpkg.json
  versions/baseline.json
  versions/h-/htscodecs.json
  versions/h-/htslib.json
Labels: category:new-port, info:reviewed

#39957 [Azure Storage] Update to July Release
  ports/azure-storage-blobs-cpp/portfile.cmake
  ports/azure-storage-blobs-cpp/vcpkg.json
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-datalake-cpp/portfile.cmake
  ports/azure-storage-files-datalake-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  ports/azure-storage-queues-cpp/portfile.cmake
  ports/azure-storage-queues-cpp/vcpkg.json
  versions/a-/azure-storage-blobs-cpp.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-datalake-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/a-/azure-storage-queues-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#39970 [cpp-sort] Update to 1.16.0
  ports/cpp-sort/portfile.cmake
  ports/cpp-sort/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-sort.json
Labels: info:internal, category:port-update, info:reviewed

#39965 [cppgraphqlgen] Update to 4.5.7
  ports/cppgraphqlgen/portfile.cmake
  ports/cppgraphqlgen/vcpkg.json
  versions/baseline.json
  versions/c-/cppgraphqlgen.json
Labels: category:port-update, info:reviewed

#39978 [mbedtls] update to 2.28.8
  ports/mbedtls/enable-pthread.patch
  ports/mbedtls/portfile.cmake
  ports/mbedtls/vcpkg.json
  versions/baseline.json
  versions/m-/mbedtls.json
Labels: category:port-update

#39975 [dstorage] update port for 1.2.3 release
  ports/dstorage/portfile.cmake
  ports/dstorage/vcpkg.json
  versions/baseline.json
  versions/d-/dstorage.json
Labels: category:port-update

#39976 [tracy] update to 0.11.0, cmake build
  ports/tracy/001-fix-vcxproj-vcpkg.patch
  ports/tracy/002-use-internal-imgui.patch
  ports/tracy/build-tools.patch
  ports/tracy/portfile.cmake
  ports/tracy/vcpkg.json
  versions/baseline.json
  versions/t-/tracy.json
Labels: category:port-update

#39989 [flecs] Add documentation link to manifest
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: info:reviewed, category:code-cleanup

#40015 [nettle, shiftmedia-libgnutls] nettle update to 3.10, shiftmedia-libgnutls update to 3.8.4
  ports/nettle/ccas.patch
  ports/nettle/hogweed-arm.def
  ports/nettle/hogweed-arm64.def
  ports/nettle/hogweed-x64.def
  ports/nettle/hogweed-x86.def
  ports/nettle/host-tools.patch
  ports/nettle/portfile.cmake
  ports/nettle/subdirs.patch
  ports/nettle/vcpkg.json
  ports/shiftmedia-libgnutls/portfile.cmake
  ports/shiftmedia-libgnutls/ssize_t_already_define.patch
  ports/shiftmedia-libgnutls/vcpkg.json
  versions/baseline.json
  versions/n-/nettle.json
  versions/s-/shiftmedia-libgnutls.json
Labels: category:port-update, info:reviewed

#39971 [paho-mqttpp3] Cleanup
  ports/paho-mqttpp3/portfile.cmake
  ports/paho-mqttpp3/vcpkg.json
  versions/baseline.json
  versions/p-/paho-mqttpp3.json
Labels: info:reviewed, category:code-cleanup

#40019 [json-dto] update to 0.3.4
  ports/json-dto/portfile.cmake
  ports/json-dto/vcpkg.json
  versions/baseline.json
  versions/j-/json-dto.json
Labels: category:port-update, info:reviewed

#39993 [open62541pp] Update to version 0.14.0
  ports/open62541pp/portfile.cmake
  ports/open62541pp/vcpkg.json
  versions/baseline.json
  versions/o-/open62541pp.json
Labels: category:port-update, info:reviewed

#40005 [conjure-enum] new port
  ports/conjure-enum/portfile.cmake
  ports/conjure-enum/vcpkg.json
  versions/baseline.json
  versions/c-/conjure-enum.json
Labels: category:new-port, info:reviewed

#39984 [libxkbcommon] Update to 1.7.0
  ports/libxkbcommon/build.patch
  ports/libxkbcommon/disable-test.patch
  ports/libxkbcommon/fix_msvc_build.patch
  ports/libxkbcommon/portfile.cmake
  ports/libxkbcommon/vcpkg.json
  versions/baseline.json
  versions/l-/libxkbcommon.json
Labels: info:internal, category:port-update, info:reviewed

#39881 [nvidia-cutlass] New port with v3.3.0
  ports/libtorch/fix-aten-cutlass.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  ports/nvidia-cutlass/portfile.cmake
  ports/nvidia-cutlass/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
  versions/n-/nvidia-cutlass.json
Labels: category:new-port, info:reviewed

#40024 [idyntree] Update to 12.4.0
  ports/idyntree/portfile.cmake
  ports/idyntree/vcpkg.json
  versions/baseline.json
  versions/i-/idyntree.json
Labels: category:port-update

#40036 [folly related] update to 07.22
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#40046 [baresip-libre] upgrade to version 3.14.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update

#39969 [mp3lame] decouple executable as 'frontend' non-default feature
  ports/mp3lame/portfile.cmake
  ports/mp3lame/vcpkg.json
  versions/baseline.json
  versions/m-/mp3lame.json
Labels: category:port-feature, info:reviewed

#39982 [cppgraphqlgen] Fix build error under linux
  ports/cppgraphqlgen/portfile.cmake
  ports/cppgraphqlgen/vcpkg.json
  versions/baseline.json
  versions/c-/cppgraphqlgen.json
Labels: category:port-bug, info:internal, info:reviewed

#40043 [throvg] Update to 0.14.3
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: info:internal, category:port-update

#40041 [boost-build] Fix wrong hash
  ports/boost-build/0003-fix-emscripten.patch
  ports/boost-build/portfile.cmake
  ports/boost-build/vcpkg.json
  versions/b-/boost-build.json
  versions/baseline.json
Labels: category:port-bug, info:internal

#40047 [drogon, trantor] Bump drogon to 1.9.6 and trantor to 1.5.20
  ports/drogon/0006-log.patch
  ports/drogon/portfile.cmake
  ports/drogon/vcpkg.json
  ports/trantor/portfile.cmake
  ports/trantor/vcpkg.json
  versions/baseline.json
  versions/d-/drogon.json
  versions/t-/trantor.json
Labels: category:port-update, info:reviewed

#40026 [qt5-base] add patch for CVE-2024-39936
  ports/qt5-base/patches/CVE-2024-39936-qtbase-5.15.patch
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-bug, info:reviewed

#40063 Add Qt Creator link to README
  README.md
Labels: category:documentation, info:reviewed

#40054 [boost-python] remove features
  ports/boost-mpi/vcpkg.json
  ports/boost-python/vcpkg.json
  scripts/boost/generate-ports.ps1
  scripts/test_ports/vcpkg-ci-boost/vcpkg.json
  versions/b-/boost-mpi.json
  versions/b-/boost-python.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed
