Repository microsoft/vcpkg, pull requests merged in 2025-08, with the labels that each got.

#46620 [opencv4] Turn off CV_TRACE
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-feature, info:reviewed

#46708 [boinc] PASSING_REMOVE_FROM_FAIL_LISTS for android
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#46221 [hpx] Release V1.11.0
  ports/hpx/portfile.cmake
  ports/hpx/vcpkg.json
  ports/msmpi/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/h-/hpx.json
  versions/m-/msmpi.json
Labels: category:port-update, info:reviewed

#46749 [gul14](android) PASSING, REMOVE FROM FAIL LISTS
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#46696 [octave] update to 10.2.0
  ports/octave/add_other_linkage_flags.patch
  ports/octave/dep_pc_names.patch
  ports/octave/portfile.cmake
  ports/octave/run-mk-ops.diff
  ports/octave/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/o-/octave.json
Labels: category:port-update, requires:vcpkg-team-review

#46398 [fmt] update to v11.2.0
  ports/fmt/fix-pass-utf-8-only-if-the-compiler-is-MSVC-at-build.patch
  ports/fmt/fix-write-batch.patch
  ports/fmt/portfile.cmake
  ports/fmt/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/f-/fmt.json
Labels: info:reviewed

#46717 [suitesparse-graphblas] Update, fix cross builds
  ports/suitesparse-graphblas/crossbuild.diff
  ports/suitesparse-graphblas/portfile.cmake
  ports/suitesparse-graphblas/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/s-/suitesparse-graphblas.json
Labels: category:port-update, info:reviewed

#46718 [libffi] Update to 3.5.2
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-update, info:reviewed

#46628 [libczi] add new port
  ports/libczi/portfile.cmake
  ports/libczi/vcpkg.json
  versions/baseline.json
  versions/l-/libczi.json
Labels: category:new-port, requires:vcpkg-team-review

#46701 [abseil,boost-charconv,boost-locale,ceres,protobuf] fix x64-mingw-dynamic
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  ports/boost-charconv/portfile.cmake
  ports/boost-charconv/vcpkg.json
  ports/boost-locale/portfile.cmake
  ports/boost-locale/vcpkg.json
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  ports/protobuf/fix-mingw-tail-call.patch
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  scripts/boost/generate-ports.ps1
  scripts/boost/pre-build-stubs/charconv.cmake
  scripts/boost/pre-build-stubs/locale.cmake
  versions/a-/abseil.json
  versions/b-/boost-charconv.json
  versions/b-/boost-locale.json
  versions/baseline.json
  versions/c-/ceres.json
  versions/p-/protobuf.json
Labels: category:port-bug, info:reviewed

#46147 [openvino] update to 2025.2.0
  ports/openvino/ambient-onednn-fix.patch
  ports/openvino/onednn_gpu_includes.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update, info:reviewed

#46808 [c-ares] Add tools feature
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: category:port-feature, info:reviewed

#41293 Android NDK r28c
  ports/argtable2/portfile.cmake
  ports/argtable2/undef-eoverflow.diff
  ports/argtable2/vcpkg.json
  ports/mygui/portfile.cmake
  ports/mygui/vcpkg.json
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/create-docker-images.ps1
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/a-/argtable2.json
  versions/baseline.json
  versions/m-/mygui.json
Labels: info:reviewed, requires:vcpkg-team-review

#46725 [graphicsmagick] Update to 1.3.45, change to upstream build system, drop cmake export
  ports/graphicsmagick/CMakeLists.txt
  ports/graphicsmagick/dirnet.patch
  ports/graphicsmagick/fix-png.patch
  ports/graphicsmagick/portfile.cmake
  ports/graphicsmagick/vcpkg.json
  versions/baseline.json
  versions/g-/graphicsmagick.json
Labels: info:reviewed, requires:vcpkg-team-review

#46833 [dlib] Fix optional dependencies.
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: category:port-bug

#37471 [eljonny-testcpp]: new port
  ports/eljonny-testcpp/portfile.cmake
  ports/eljonny-testcpp/usage
  ports/eljonny-testcpp/vcpkg.json
  versions/baseline.json
  versions/e-/eljonny-testcpp.json
Labels: category:new-port, info:reviewed

#30811 [irrlicht] Enable build on arm and explicitly disable on android
  ports/irrlicht/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/i-/irrlicht.json
Labels: category:port-feature, info:reviewed

#46826 [dacap-clip] New port
  ports/dacap-clip/fix-install-header-and-force-static-compilation.patch
  ports/dacap-clip/portfile.cmake
  ports/dacap-clip/vcpkg.json
  versions/baseline.json
  versions/d-/dacap-clip.json
Labels: category:new-port, info:reviewed

#46828 [sdl2-mixer] Fix pc file on *-windows-static
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-bug, info:reviewed

#45677 [duckdb] update to 1.3.2
  ports/duckdb/bigobj.patch
  ports/duckdb/excel-libname.patch
  ports/duckdb/extensions.patch
  ports/duckdb/portfile.cmake
  ports/duckdb/t-external-icu.patch
  ports/duckdb/unvendor_icu_and_find_dependency.patch
  ports/duckdb/vcpkg.json
  versions/baseline.json
  versions/d-/duckdb.json
Labels: category:port-update, info:reviewed

#46893 [opentelemetry-cpp] Add support for otlp-file feature/component
  ports/opentelemetry-cpp/portfile.cmake
  ports/opentelemetry-cpp/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp.json
Labels: category:port-feature, info:reviewed

#46538 [bzip3] add new port
  ports/bzip3/disable-man.patch
  ports/bzip3/portfile.cmake
  ports/bzip3/usage
  ports/bzip3/vcpkg.json
  versions/b-/bzip3.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#46985 [libmultisense] Update to `7.2.0`
  ports/libmultisense/0000-platform-specific-links.patch
  ports/libmultisense/0001-find-public-api-dependencies.patch
  ports/libmultisense/0002-disable-error-on-warning.patch
  ports/libmultisense/0003-utilities-cc-unreachable-code.patch
  ports/libmultisense/fix-missing-algorithm.patch
  ports/libmultisense/portfile.cmake
  ports/libmultisense/vcpkg.json
  versions/baseline.json
  versions/l-/libmultisense.json
Labels: category:port-update, info:reviewed

#46998 [behaviortree-cpp] De-vendor lexy
  ports/behaviortree-cpp/fix-dependencies.patch
  ports/behaviortree-cpp/portfile.cmake
  ports/behaviortree-cpp/use-external-lexy.patch
  ports/behaviortree-cpp/vcpkg.json
  versions/b-/behaviortree-cpp.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#34542 [eigen3] update to 3.4.1-250818 from 3.4.0
  ports/eigen3/fix-vectorized-reductions-half.patch
  ports/eigen3/portfile.cmake
  ports/eigen3/remove_configure_checks.patch
  ports/eigen3/update-warning-suppression-to-latest.patch
  ports/eigen3/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/e-/eigen3.json
Labels: category:port-update
