Repository microsoft/vcpkg, pull requests merged in 2025-06, with the labels that each got.

#45726 Provide azcopy via fetch (vcpkg-tools.json)
  scripts/vcpkg-tools.json
Labels: info:reviewed, category:tool-update

#45739 Fix git executable path on Windows ARM64
  scripts/vcpkg-tools.json
Labels: info:reviewed, category:tool-update

#45751 [luau] update to 0.675
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#45750 [fast-double-parser] update to 0.8.1
  ports/fast-double-parser/portfile.cmake
  ports/fast-double-parser/vcpkg.json
  versions/baseline.json
  versions/f-/fast-double-parser.json
Labels: category:port-update, info:reviewed

#45749 [etl] update to 20.41.2
  ports/etl/portfile.cmake
  ports/etl/vcpkg.json
  versions/baseline.json
  versions/e-/etl.json
Labels: category:port-update, info:reviewed

#45748 [rapidhash] update to 3
  ports/rapidhash/portfile.cmake
  ports/rapidhash/vcpkg.json
  versions/baseline.json
  versions/r-/rapidhash.json
Labels: category:port-update, info:reviewed

#45742 [simdutf] Update to 7.3.0
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/simdutf.json
Labels: category:port-update, info:reviewed

#45741 [sfl] add new port
  ports/sfl/portfile.cmake
  ports/sfl/vcpkg.json
  versions/baseline.json
  versions/s-/sfl.json
Labels: category:new-port, info:reviewed

#45736 [openldap] Update 2.6.10
  ports/openldap/android.diff
  ports/openldap/cyrus-sasl.diff
  ports/openldap/m4.patch
  ports/openldap/portfile.cmake
  ports/openldap/vcpkg.json
  versions/baseline.json
  versions/o-/openldap.json
Labels: category:port-update, info:reviewed

#45692 [many ports] Change url http:// -> https:// for those projects that have permanent…
  ports/cgns/vcpkg.json
  ports/chronoengine/vcpkg.json
  ports/itpp/vcpkg.json
  ports/libmad/vcpkg.json
  ports/libopensp/vcpkg.json
  ports/libosmscout/vcpkg.json
  ports/mpc/vcpkg.json
  ports/openctm/vcpkg.json
  ports/otl/vcpkg.json
  ports/portaudio/vcpkg.json
  ports/threadpool/vcpkg.json
  ports/zimpl/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/c-/cgns.json
  versions/c-/chronoengine.json
  versions/i-/itpp.json
  versions/l-/libmad.json
  versions/l-/libopensp.json
  versions/l-/libosmscout.json
  versions/m-/mpc.json
  versions/o-/openctm.json
  versions/o-/otl.json
  versions/p-/portaudio.json
  versions/t-/threadpool.json
  versions/z-/zimpl.json
Labels: category:port-feature, info:reviewed

#45764 [vcpkg baseline][yara] Update to 4.5.4
  ports/yara/portfile.cmake
  ports/yara/vcpkg.json
  versions/baseline.json
  versions/y-/yara.json
Labels: info:internal, category:port-update, requires:vcpkg-team-review

#45668 [ocilib] update to 4.8.0
  ports/ocilib/portfile.cmake
  ports/ocilib/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/o-/ocilib.json
Labels: category:port-update, info:reviewed

#45756 [ggml,llama-cpp,whisper-cpp] Revise, fix features
  ports/ggml/0001-fix-cmakelists.patch
  ports/ggml/cmake-config.diff
  ports/ggml/portfile.cmake
  ports/ggml/relax-link-options.diff
  ports/ggml/vcpkg.json
  ports/ggml/vulkan-shaders-gen.diff
  ports/llama-cpp/0001-external-ggml.patch
  ports/llama-cpp/vcpkg.json
  ports/whisper-cpp/0001-ggml-alias.patch
  ports/whisper-cpp/portfile.cmake
  ports/whisper-cpp/vcpkg.json
  scripts/ci.feature.baseline.txt
  scripts/test_ports/vcpkg-ci-ggml/ggml-test.diff
  scripts/test_ports/vcpkg-ci-ggml/portfile.cmake
  scripts/test_ports/vcpkg-ci-ggml/vcpkg.json
  versions/baseline.json
  versions/g-/ggml.json
  versions/l-/llama-cpp.json
  versions/w-/whisper-cpp.json
Labels: category:port-feature, category:port-update, info:reviewed, category:infrastructure

#45781 [glaze] update to 5.3.1
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#45782 [foonathan-lexy] Update to v2025.05.0
  ports/foonathan-lexy/portfile.cmake
  ports/foonathan-lexy/vcpkg.json
  versions/baseline.json
  versions/f-/foonathan-lexy.json
Labels: category:port-update, info:reviewed

#45800 [nghttp3] update to 1.10.1
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#45810 [nng] update to 1.11
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: category:port-update, info:reviewed

#45813 [plf-colony] Update to 7.5.25.
  ports/plf-colony/portfile.cmake
  ports/plf-colony/vcpkg.json
  versions/baseline.json
  versions/p-/plf-colony.json
Labels: category:port-update, info:reviewed

#45752 [tree-sitter] update to 0.25.5
  ports/tree-sitter/portfile.cmake
  ports/tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter.json
Labels: category:port-update, info:reviewed

#45796 [assimp] Update to 6.0.1
  ports/assimp/build_fixes.patch
  ports/assimp/portfile.cmake
  ports/assimp/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/a-/assimp.json
  versions/baseline.json
Labels: category:port-update

#45789 [argtable3] Improve build system and remove unnecessary patches
  ports/argtable3/Fix-dependence-getopt.patch
  ports/argtable3/portfile.cmake
  ports/argtable3/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/a-/argtable3.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#45699 [podofo] Update to 1.0.0
  ports/podofo/dependencies.diff
  ports/podofo/fix-interface-include.patch
  ports/podofo/portfile.cmake
  ports/podofo/usage
  ports/podofo/vcpkg.json
  scripts/test_ports/vcpkg-ci-podofo/portfile.cmake
  scripts/test_ports/vcpkg-ci-podofo/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-podofo/project/main.cxx
  scripts/test_ports/vcpkg-ci-podofo/vcpkg.json
  versions/baseline.json
  versions/p-/podofo.json
Labels: category:port-update, info:reviewed

#45816 [liburing] update to 2.10
  ports/liburing/add-basic-support.patch
  ports/liburing/portfile.cmake
  ports/liburing/vcpkg.json
  versions/baseline.json
  versions/l-/liburing.json
Labels: category:port-update

#45829 [vcpkg baseline][openldap] REMOVE FROM FAIL LIST
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#45831 [restinio] Update to v0.7.7
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
  versions/baseline.json
  versions/r-/restinio.json
Labels: category:port-update, info:reviewed

#45827 [baresip-libre] upgrade to version 3.23.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45853 [ztd-static-containers] Update hash
  ports/ztd-static-containers/portfile.cmake
  ports/ztd-static-containers/vcpkg.json
  versions/baseline.json
  versions/z-/ztd-static-containers.json
Labels: category:port-bug, info:internal, info:reviewed

#45842 [robin-hood-hashing] Add MIT license
  ports/robin-hood-hashing/vcpkg.json
  versions/baseline.json
  versions/r-/robin-hood-hashing.json
Labels: category:port-feature, info:reviewed

#45898 [luau] update to 0.677
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#45897 [clipper2] update to 1.5.4
  ports/clipper2/portfile.cmake
  ports/clipper2/vcpkg.json
  versions/baseline.json
  versions/c-/clipper2.json
Labels: category:port-update, info:reviewed

#45896 [msdfgen] update to 1.12.1
  ports/msdfgen/portfile.cmake
  ports/msdfgen/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/m-/msdfgen.json
Labels: category:port-update, info:reviewed

#45894 [audiofile] update to 1.1.3
  ports/audiofile/portfile.cmake
  ports/audiofile/vcpkg.json
  versions/a-/audiofile.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45893 [tree-sitter] update to 0.25.6
  ports/tree-sitter/pkgconfig.diff
  ports/tree-sitter/portfile.cmake
  ports/tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter.json
Labels: category:port-update, info:reviewed

#45892 [quill] Update to 10.0.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#45886 [libphonenumber] update to 9.0.6
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update, info:reviewed

#45884 [lua] update to 5.4.8
  ports/lua/portfile.cmake
  ports/lua/vcpkg.json
  versions/baseline.json
  versions/l-/lua.json
Labels: category:port-update, info:reviewed

#45882 [etl] update to 20.41.5
  ports/etl/portfile.cmake
  ports/etl/vcpkg.json
  versions/baseline.json
  versions/e-/etl.json
Labels: category:port-update, info:reviewed

#45881 [roaring] update to 4.3.5
  ports/roaring/portfile.cmake
  ports/roaring/vcpkg.json
  versions/baseline.json
  versions/r-/roaring.json
Labels: category:port-update, info:reviewed

#45879 [glaze] update to 5.4.0
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#45875 [simdjson] update to 3.13.0
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#45871 [sdl2] Update to 2.32.8
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#45865 [cppwinrt] Update to 2.0.250303.1
  ports/cppwinrt/portfile.cmake
  ports/cppwinrt/vcpkg.json
  versions/baseline.json
  versions/c-/cppwinrt.json
Labels: category:port-update, info:reviewed

#45855 [simd] update to 6.1.150
  ports/simd/portfile.cmake
  ports/simd/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/s-/simd.json
Labels: category:port-update, info:reviewed

#45834 [ppqsort] add new port
  ports/ppqsort/portfile.cmake
  ports/ppqsort/remove-cpm.patch
  ports/ppqsort/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/p-/ppqsort.json
Labels: category:new-port, info:reviewed

#45611 [vcpkg-make] Use --build when using --host
  ports/libcap/portfile.cmake
  ports/libcap/vcpkg.json
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  ports/python3/0010-dont-skip-rpath.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  ports/vcpkg-cmake-get-vars/cmake-get-vars.cmake.in
  ports/vcpkg-cmake-get-vars/cmake_get_vars/CMakeLists.txt
  ports/vcpkg-cmake-get-vars/portfile.cmake
  ports/vcpkg-cmake-get-vars/vcpkg.json
  ports/vcpkg-cmake-get-vars/vcpkg_cmake_get_vars.cmake
  ports/vcpkg-make/portfile.cmake
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/vcpkg_make.cmake
  ports/vcpkg-make/vcpkg_make_common.cmake
  ports/vcpkg-make/vcpkg_make_configure.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/portfile.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_vcpkg_make_determine_target_triplet.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_vcpkg_make_get_configure_triplets.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_vcpkg_make_get_crosscompiling.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/vcpkg.json
  versions/baseline.json
  versions/l-/libcap.json
  versions/l-/libffi.json
  versions/p-/python3.json
  versions/v-/vcpkg-cmake-get-vars.json
  versions/v-/vcpkg-make.json
Labels: category:port-feature, info:reviewed

#45210 [livepp] New port
  ports/livepp/portfile.cmake
  ports/livepp/unofficial-liveppConfig.cmake
  ports/livepp/usage
  ports/livepp/vcpkg.json
  versions/baseline.json
  versions/l-/livepp.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#45671 [opencascade] update to 7.9.1
  ports/opencascade/csf-redifinition.patch
  ports/opencascade/dependencies.patch
  ports/opencascade/file-filter-regex.patch
  ports/opencascade/fix-pdb-find.patch
  ports/opencascade/portfile.cmake
  ports/opencascade/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/o-/opencascade.json
Labels: category:port-update, info:reviewed

#45908 [etl] update to 20.41.6
  ports/etl/portfile.cmake
  ports/etl/vcpkg.json
  versions/baseline.json
  versions/e-/etl.json
Labels: category:port-update, info:reviewed

#45890 [voro] Add new port
  ports/voro/portfile.cmake
  ports/voro/vcpkg.json
  versions/baseline.json
  versions/v-/voro.json
Labels: category:new-port, info:reviewed

#45911 [libusb] Switch to vcpkg-make
  ports/libusb/portfile.cmake
  ports/libusb/usage
  ports/libusb/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-bug

#45863 [cwapi3d] Update to 32.519.1
  ports/cwapi3d/portfile.cmake
  ports/cwapi3d/vcpkg.json
  versions/baseline.json
  versions/c-/cwapi3d.json
Labels: category:port-update, info:reviewed

#45928 [opentelemetry-cpp-contrib-version] Update to 2025-05-21
  ports/opentelemetry-cpp-contrib-version/vcpkg-port-config.cmake
  ports/opentelemetry-cpp-contrib-version/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp-contrib-version.json
Labels: category:port-update

#45416 [google-cloud-cpp] update to the latest release (v2.37.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update

#45873 [sdl3] update to 3.2.16
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-update, info:reviewed

#45861 [highs] Update to 1.11.0
  ports/highs/fix-cuda.patch
  ports/highs/fix-hconfig-path.patch
  ports/highs/fix-uwp.patch
  ports/highs/portfile.cmake
  ports/highs/vcpkg.json
  versions/baseline.json
  versions/h-/highs.json
Labels: category:port-update

#45932 [igraph] update to 0.10.16
  ports/igraph/portfile.cmake
  ports/igraph/vcpkg.json
  versions/baseline.json
  versions/i-/igraph.json
Labels: category:port-update, info:reviewed

#45600 [onnx] Use correct Protobuf name
  ports/onnx/fix-dependency-protobuf.patch
  ports/onnx/vcpkg.json
  versions/baseline.json
  versions/o-/onnx.json
Labels: category:port-bug, info:reviewed

#45912 [libusb-win32] Update to 1.4.0.0, cleanup
  ports/libusb-win32/CMakeLists.txt
  ports/libusb-win32/portfile.cmake
  ports/libusb-win32/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/l-/libusb-win32.json
Labels: category:port-update

#45839 [msys2 scripts] Update, adapt to cygwin MACHTYPE
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/wrappers/cl_cpp_wrapper
  scripts/buildsystems/make_wrapper/cl_cpp_wrapper
  scripts/cmake/vcpkg_acquire_msys.cmake
  scripts/cmake/vcpkg_find_acquire_program(PKGCONFIG).cmake
  scripts/cmake/vcpkg_find_fortran.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/portfile.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-cl_cpp_wrapper/configure
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-cl_cpp_wrapper/source.c
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-scripts-cl_cpp_wrapper.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-vcpkg-make-cl_cpp_wrapper.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-make.json
Labels: category:tool-update

#45950 [signalsmith-dsp] Add port for Signalsmiths DSP library
  ports/signalsmith-dsp/portfile.cmake
  ports/signalsmith-dsp/vcpkg.json
  versions/baseline.json
  versions/s-/signalsmith-dsp.json
Labels: category:new-port, info:reviewed

#45943 [vcpkg scripts] Update `azcopy` to `10.29.1` (vcpkg-tools.json)
  scripts/vcpkg-tools.json
Labels: info:reviewed, category:tool-update

#45972 [gtk3] Skip in CI
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
Labels: category:port-bug, info:internal, category:infrastructure

#45954 [glaze] update to 5.4.1
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  ports/saucer/portfile.cmake
  ports/saucer/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
  versions/s-/saucer.json
Labels: category:port-update

#45976 [librdkafka] update to 2.10.1
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update, info:reviewed

#45978 [libjuice] update to 1.6.1
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
  versions/l-/libjuice.json
Labels: category:port-update

#45959 [protobuf] Don't emulate module for find_package(protobuf)
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  ports/sentencepiece/portfile.cmake
  ports/sentencepiece/protobuf.diff
  ports/sentencepiece/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/p-/protobuf.json
  versions/s-/sentencepiece.json
Labels: category:port-bug

#45993 [livepp] Add preference files support and documentation link
  ports/livepp/global_preferences.json
  ports/livepp/portfile.cmake
  ports/livepp/vcpkg.json
  versions/baseline.json
  versions/l-/livepp.json
Labels: category:port-feature, info:reviewed

#46016 [vcpkg baseline][qpid-proton] Update to 0.40.0, cleanup
  ports/qpid-proton/early-cxx.diff
  ports/qpid-proton/fix-dependencies.patch
  ports/qpid-proton/portfile.cmake
  ports/qpid-proton/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/q-/qpid-proton.json
Labels: category:port-bug, category:port-update, info:reviewed

#45985 [proxy] update to 3.4.0
  ports/proxy/portfile.cmake
  ports/proxy/vcpkg.json
  versions/baseline.json
  versions/p-/proxy.json
Labels: category:port-update, info:reviewed

#45987 [etl] update to 20.41.7
  ports/etl/portfile.cmake
  ports/etl/vcpkg.json
  versions/baseline.json
  versions/e-/etl.json
Labels: category:port-update, info:reviewed

#46020 [libcoro] update to 0.15.0
  ports/libcoro/add-experimental-library.patch
  ports/libcoro/portfile.cmake
  ports/libcoro/vcpkg.json
  versions/baseline.json
  versions/l-/libcoro.json
Labels: category:port-update, info:reviewed

#46001 [g3log] update to 2.6
  ports/g3log/portfile.cmake
  ports/g3log/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/g-/g3log.json
Labels: category:port-update, info:reviewed

#46034 [ls-qpack] Update to 2.6.2
  ports/ls-qpack/cmake-config.diff
  ports/ls-qpack/emscripten.diff
  ports/ls-qpack/mingw.diff
  ports/ls-qpack/pkgconfig.diff
  ports/ls-qpack/portfile.cmake
  ports/ls-qpack/vcpkg.json
  versions/baseline.json
  versions/l-/ls-qpack.json
Labels: category:port-update, info:reviewed

#46006 [meshoptimizer] update to 0.24
  ports/meshoptimizer/fix-cmake.patch
  ports/meshoptimizer/portfile.cmake
  ports/meshoptimizer/vcpkg.json
  versions/baseline.json
  versions/m-/meshoptimizer.json
Labels: category:port-update

#46022 [azure-kinect-sensor-sdk] Update to 1.4.2, cleanup
  ports/azure-kinect-depth-engine/k4adeploy.ps1
  ports/azure-kinect-depth-engine/portfile.cmake
  ports/azure-kinect-depth-engine/vcpkg.json
  ports/azure-kinect-sensor-sdk/fix-build-imgui.patch
  ports/azure-kinect-sensor-sdk/fix-builds.patch
  ports/azure-kinect-sensor-sdk/fix-dependency-imgui.patch
  ports/azure-kinect-sensor-sdk/portfile.cmake
  ports/azure-kinect-sensor-sdk/vcpkg.json
  ports/libsoundio/portfile.cmake
  ports/libsoundio/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/a-/azure-kinect-depth-engine.json
  versions/a-/azure-kinect-sensor-sdk.json
  versions/baseline.json
  versions/l-/libsoundio.json
Labels: category:port-update, info:reviewed

#45844 [vulkan-*] Update to version 1.4.309.0
  ports/lunarg-vulkantools/disable-qtdeploy.patch
  ports/lunarg-vulkantools/portfile.cmake
  ports/lunarg-vulkantools/vcpkg.json
  ports/spirv-cross/portfile.cmake
  ports/spirv-cross/vcpkg.json
  ports/spirv-headers/portfile.cmake
  ports/spirv-headers/vcpkg.json
  ports/spirv-reflect/portfile.cmake
  ports/spirv-reflect/vcpkg.json
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/vcpkg.json
  ports/volk/portfile.cmake
  ports/volk/vcpkg.json
  ports/vulkan-extensionlayer/portfile.cmake
  ports/vulkan-extensionlayer/vcpkg.json
  ports/vulkan-headers/fix-headers.patch
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-loader/portfile.cmake
  ports/vulkan-loader/vcpkg.json
  ports/vulkan-sdk-components/vcpkg.json
  ports/vulkan-tools/portfile.cmake
  ports/vulkan-tools/vcpkg.json
  ports/vulkan-utility-libraries/portfile.cmake
  ports/vulkan-utility-libraries/vcpkg.json
  ports/vulkan-validationlayers/portfile.cmake
  ports/vulkan-validationlayers/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/lunarg-vulkantools.json
  versions/s-/spirv-cross.json
  versions/s-/spirv-headers.json
  versions/s-/spirv-reflect.json
  versions/s-/spirv-tools.json
  versions/v-/volk.json
  versions/v-/vulkan-extensionlayer.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-loader.json
  versions/v-/vulkan-sdk-components.json
  versions/v-/vulkan-tools.json
  versions/v-/vulkan-utility-libraries.json
  versions/v-/vulkan-validationlayers.json
Labels: category:port-update

#45608 [glib] suppress sysprof detection
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-feature

#46019 [libnick] Update to 2025.6.3
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#45690 [libpng] update to 1.6.48
  ports/libpng/cmake.patch
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-update, info:reviewed

#46052 [capnproto] update to 1.2.0
  ports/capnproto/portfile.cmake
  ports/capnproto/undef-KJ_USE_EPOLL-for-ANDROID_PLATFORM-23.patch
  ports/capnproto/vcpkg.json
  versions/baseline.json
  versions/c-/capnproto.json
Labels: category:port-update, info:reviewed

#46002 [cpp-channel] add new port
  ports/cpp-channel/portfile.cmake
  ports/cpp-channel/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-channel.json
Labels: category:new-port, info:reviewed

#46010 [mzying2001-sw] Add new port
  ports/mzying2001-sw/portfile.cmake
  ports/mzying2001-sw/vcpkg.json
  versions/baseline.json
  versions/m-/mzying2001-sw.json
Labels: category:new-port

#46070 [libogg] update to 1.3.6
  ports/libogg/portfile.cmake
  ports/libogg/vcpkg.json
  versions/baseline.json
  versions/l-/libogg.json
Labels: category:port-update, info:reviewed

#46042 [usd] Update to 25.05.01
  ports/usd/001-fix_rename_find_package_to_find_dependency.patch
  ports/usd/002-vcpkg_find_tbb.patch
  ports/usd/003-fix-dep.patch
  ports/usd/011-TBB-2022.patch
  ports/usd/012-fix-find-vulkan.patch
  ports/usd/013-openimageio-3.patch
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-update, info:reviewed

#46096 [ezc3d] update to 1.5.19
  ports/ezc3d/portfile.cmake
  ports/ezc3d/vcpkg.json
  versions/baseline.json
  versions/e-/ezc3d.json
Labels: category:port-update, info:reviewed

#46094 [h3] update to 4.3.0
  ports/h3/portfile.cmake
  ports/h3/vcpkg.json
  versions/baseline.json
  versions/h-/h3.json
Labels: category:port-update, info:reviewed

#46093 [cpp-channel] update to 1.3.1
  ports/cpp-channel/portfile.cmake
  ports/cpp-channel/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-channel.json
Labels: category:port-update, info:reviewed

#45902 [enchantum] Add new port
  ports/enchantum/portfile.cmake
  ports/enchantum/vcpkg.json
  versions/baseline.json
  versions/e-/enchantum.json
Labels: category:new-port, info:reviewed

#46101 [vcpkg baseline][vulkan-validationlayers] Passing remove form fail list
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#46099 [directx12-agility] Update to 1.616.1
  ports/directx12-agility/portfile.cmake
  ports/directx12-agility/vcpkg.json
  versions/baseline.json
  versions/d-/directx12-agility.json
Labels: category:port-update

#46088 [qlementine-icons] Update to 1.9.0
  ports/qlementine-icons/portfile.cmake
  ports/qlementine-icons/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/q-/qlementine-icons.json
Labels: category:port-update, info:reviewed

#46112 [pdal] Update to 2.9.0
  ports/pdal-dimbuilder/portfile.cmake
  ports/pdal-dimbuilder/vcpkg.json
  ports/pdal/dependencies.diff
  ports/pdal/h3api.h
  ports/pdal/portfile.cmake
  ports/pdal/spz-zlib.diff
  ports/pdal/vcpkg.json
  versions/baseline.json
  versions/p-/pdal-dimbuilder.json
  versions/p-/pdal.json
Labels: category:port-update, info:reviewed

#46133 [glaze] update 5.5.2
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#46136 [faudio] Update to 25.06
  ports/faudio/portfile.cmake
  ports/faudio/vcpkg.json
  versions/baseline.json
  versions/f-/faudio.json
Labels: category:port-update, info:reviewed

#46062 Fix error in x_vcpkg_install_local_dependencies (#46061)
  scripts/buildsystems/vcpkg.cmake
Labels: category:vcpkg-bug

#46110 [cppzmq] update to 4.11.0
  ports/cppzmq/portfile.cmake
  ports/cppzmq/vcpkg.json
  versions/baseline.json
  versions/c-/cppzmq.json
Labels: category:port-update, info:reviewed

#46078 [zydis] Move tools to a feature
  ports/zydis/portfile.cmake
  ports/zydis/vcpkg.json
  versions/baseline.json
  versions/z-/zydis.json
Labels: category:port-feature

#46007 [icu] Fix wrapper and pkgconfig files
  ports/gdal/cmake-project-include.cmake
  ports/gdal/portfile.cmake
  ports/gdal/sqlite3.diff
  ports/gdal/vcpkg.json
  ports/icu/portfile.cmake
  ports/icu/vcpkg-cmake-wrapper.cmake
  ports/icu/vcpkg.json
  ports/libxml2/cxx-for-icu.diff
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  ports/libxslt/cxx-for-libxml2-icu.diff
  ports/libxslt/portfile.cmake
  ports/libxslt/vcpkg.json
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/portfile.cmake
  ports/sqlite3/sqlite3-config.in.cmake
  ports/sqlite3/vcpkg-cmake-wrapper.cmake
  ports/sqlite3/vcpkg.json
  ports/xmlsec/CMakeLists.txt
  ports/xmlsec/portfile.cmake
  ports/xmlsec/vcpkg.json
  scripts/ci.feature.baseline.txt
  scripts/test_ports/cmake-user/project/CMakeLists.txt
  scripts/test_ports/cmake-user/vcpkg.json
  scripts/test_ports/vcpkg-ci-icu/portfile.cmake
  scripts/test_ports/vcpkg-ci-icu/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-icu/project/main.c
  scripts/test_ports/vcpkg-ci-icu/project/test-functions.cmake
  scripts/test_ports/vcpkg-ci-icu/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
  versions/i-/icu.json
  versions/l-/libxml2.json
  versions/l-/libxslt.json
  versions/p-/python3.json
  versions/q-/qt5-base.json
  versions/s-/sqlite3.json
  versions/x-/xmlsec.json
Labels: category:port-bug, info:reviewed

#46154 [argtable3] update to 3.3.1
  ports/argtable3/portfile.cmake
  ports/argtable3/vcpkg.json
  versions/a-/argtable3.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#46141 [signalsmith-stretch] Add new port
  ports/signalsmith-stretch/portfile.cmake
  ports/signalsmith-stretch/vcpkg.json
  versions/baseline.json
  versions/s-/signalsmith-stretch.json
Labels: category:new-port, info:reviewed

#45058 [gstreamer] add amd-amf feature that enables amfcodec plugin
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-feature, info:reviewed

#45464 [vcpkg scripts] Adding support for visionOS
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/cmake/vcpkg_configure_meson.cmake
  triplets/community/arm64-visionos.cmake
Labels: category:tool-update

#45000 [g2o] Fix cholmod and csparse missing export symbols
  ports/g2o/portfile.cmake
  ports/g2o/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/g-/g2o.json
Labels: category:port-bug, info:reviewed

#46166 [cpp-async] update to 1.2.0
  ports/cpp-async/portfile.cmake
  ports/cpp-async/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-async.json
Labels: category:port-update, info:reviewed

#46151 [vcpkg-tool-meson] Update to 1.8.2
  ports/vcpkg-tool-meson/adjust-args.patch
  ports/vcpkg-tool-meson/fix-libcpp-enable-assertions.patch
  ports/vcpkg-tool-meson/portfile.cmake
  ports/vcpkg-tool-meson/remove-freebsd-pcfile-specialization.patch
  ports/vcpkg-tool-meson/vcpkg-port-config.cmake
  ports/vcpkg-tool-meson/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-tool-meson.json
Labels: category:tool-update

#45428 [harfbuzz] Update to 11.2.0
  ports/harfbuzz/fix-build-ffmpeg-failed.patch
  ports/harfbuzz/fix-win32-build.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update

#46177 [libjxl] Remove libm dependency when building with MSVC
  ports/libjxl/msvc-remove-libm.patch
  ports/libjxl/portfile.cmake
  ports/libjxl/vcpkg.json
  versions/baseline.json
  versions/l-/libjxl.json
Labels: category:port-bug

#46217 [dxcam-cpp] Update to 0.2.4
  ports/dxcam-cpp/portfile.cmake
  ports/dxcam-cpp/vcpkg.json
  versions/baseline.json
  versions/d-/dxcam-cpp.json
Labels: category:port-update, info:reviewed

#46219 [Sqlite3] Update to 3.50.2
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#46223 [z3] Update to 4.15.2
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#46225 [luau] update to 0.680
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#46226 [celero] update to 2.9.1
  ports/celero/portfile.cmake
  ports/celero/vcpkg.json
  versions/baseline.json
  versions/c-/celero.json
Labels: category:port-update, info:reviewed

#46210 [ffmpeg] Fix build on OpenBSD and FreeBSD
  ports/ffmpeg/build.sh.in
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#46200 [cpptrace] Bump to 1.0.2
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#46192 [kubazip] Update to 0.3.4
  ports/kubazip/fix-name-conflict.diff
  ports/kubazip/portfile.cmake
  ports/kubazip/vcpkg.json
  versions/baseline.json
  versions/k-/kubazip.json
Labels: category:port-update, info:reviewed

#46198 [ruckig] Update to 0.15.3
  ports/ruckig/portfile.cmake
  ports/ruckig/third_party.patch
  ports/ruckig/vcpkg.json
  versions/baseline.json
  versions/r-/ruckig.json
Labels: category:port-update, info:reviewed

#46053 [ports/miniz] Upgrade to 3.1.0
  ports/miniz/portfile.cmake
  ports/miniz/vcpkg.json
  versions/baseline.json
  versions/m-/miniz.json
Labels: category:port-update

#46215 [shaderwriter] Update to version 2.9.0
  ports/shaderwriter/portfile.cmake
  ports/shaderwriter/vcpkg.json
  versions/baseline.json
  versions/s-/shaderwriter.json
Labels: category:port-update
