Repository microsoft/vcpkg, pull requests merged in 2025-01, with the labels that each got.

#43070 [nu-book-zxing-cpp] Update to 2.3.0
  ports/nu-book-zxing-cpp/portfile.cmake
  ports/nu-book-zxing-cpp/vcpkg.json
  versions/baseline.json
  versions/n-/nu-book-zxing-cpp.json
Labels: info:internal, category:port-update, info:reviewed

#43069 [wolfssl] update to version 5.7.6
  ports/wolfssl/portfile.cmake
  ports/wolfssl/vcpkg.json
  versions/baseline.json
  versions/w-/wolfssl.json
Labels: category:port-update, info:reviewed

#43064 [folly related] update to 12.30
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#43062 [scenepic] Bump to 1.1.1
  ports/scenepic/portfile.cmake
  ports/scenepic/vcpkg.json
  versions/baseline.json
  versions/s-/scenepic.json
Labels: category:port-update, info:reviewed

#43061 [proxsuite] Bump to 0.6.7
  ports/proxsuite/portfile.cmake
  ports/proxsuite/vcpkg.json
  versions/baseline.json
  versions/p-/proxsuite.json
Labels: category:port-update, info:reviewed

#43060 [tinygltf] Bump to 2.9.4
  ports/tinygltf/portfile.cmake
  ports/tinygltf/vcpkg.json
  versions/baseline.json
  versions/t-/tinygltf.json
Labels: category:port-update, info:reviewed

#43059 [glaze] update to 4.2.3
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: info:internal, category:port-update, info:reviewed

#43058 [sdl2] Update to 2.30.11
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#43055 [octave] Update to 9.3.0
  ports/octave/portfile.cmake
  ports/octave/vcpkg.json
  versions/baseline.json
  versions/o-/octave.json
Labels: info:internal, category:port-update, info:reviewed

#43071 [vcpkg baseline][libgpg-error] Remove from fail list
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#43065 [dataframe]: Upgrading C++ DataFrame to version 3.4.0
  ports/dataframe/portfile.cmake
  ports/dataframe/vcpkg.json
  versions/baseline.json
  versions/d-/dataframe.json
Labels: category:port-update, info:reviewed

#42952 [libb2] Enable windows, cleanup
  ports/libb2/portfile.cmake
  ports/libb2/vcpkg.json
  versions/baseline.json
  versions/l-/libb2.json
Labels: category:port-feature, info:reviewed

#42911 [7zip] restore missing sources and fix compilation on android
  ports/7zip/CMakeLists.txt
  ports/7zip/fix_timespec_get_broken_on_android.patch
  ports/7zip/portfile.cmake
  ports/7zip/vcpkg.json
  versions/7-/7zip.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#42836 [lely-core] new port
  ports/lely-core/portfile.cmake
  ports/lely-core/vcpkg.json
  versions/baseline.json
  versions/l-/lely-core.json
Labels: category:new-port, info:reviewed

#43057 [vsgxchange] Update to 1.1.4
  ports/vsgxchange/portfile.cmake
  ports/vsgxchange/require-features.patch
  ports/vsgxchange/vcpkg.json
  versions/baseline.json
  versions/v-/vsgxchange.json
Labels: category:port-bug, category:port-update

#42997 [ogre] update to 14.3.2
  ports/ogre/portfile.cmake
  ports/ogre/vcpkg.json
  versions/baseline.json
  versions/o-/ogre.json
Labels: info:internal, category:port-update

#42966 [openh264] Update to version 2.5.0
  ports/openh264/0001-respect-default-library-option.patch
  ports/openh264/portfile.cmake
  ports/openh264/vcpkg.json
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/baseline.json
  versions/o-/openh264.json
Labels: category:port-update

#43122 [zlib-ng] update to 2.2.3
  ports/zlib-ng/portfile.cmake
  ports/zlib-ng/vcpkg.json
  versions/baseline.json
  versions/z-/zlib-ng.json
Labels: info:internal, category:port-update, info:reviewed

#43107 [sdl2-image] Update to 2.8.4
  ports/sdl2-image/fix-findwebp.patch
  ports/sdl2-image/portfile.cmake
  ports/sdl2-image/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-image.json
Labels: category:port-update, info:reviewed

#43101 [libassert] Update to 2.1.4
  ports/libassert/portfile.cmake
  ports/libassert/vcpkg.json
  versions/baseline.json
  versions/l-/libassert.json
Labels: category:port-update, info:reviewed

#43100 [cpptrace] Add 0.7.5
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#43094 [rocksdb] update to v9.10.0
  ports/rocksdb/0002-fix-android.patch
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#43092 [BitSerializer] Update to 0.75
  ports/bitserializer/portfile.cmake
  ports/bitserializer/vcpkg.json
  versions/b-/bitserializer.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43088 [libobfuscate] update to 2024-07-10
  ports/libobfuscate/portfile.cmake
  ports/libobfuscate/vcpkg.json
  versions/baseline.json
  versions/l-/libobfuscate.json
Labels: category:port-update, info:reviewed

#43032 [magic-enum] Fix installation directory of CMake configurations
  ports/magic-enum/portfile.cmake
  ports/magic-enum/vcpkg.json
  versions/baseline.json
  versions/m-/magic-enum.json
Labels: category:port-bug, info:reviewed

#43123 [wildmidi] Update to 0.4.6 and fix the usage
  ports/wildmidi/fix-include-path.patch
  ports/wildmidi/portfile.cmake
  ports/wildmidi/vcpkg.json
  versions/baseline.json
  versions/w-/wildmidi.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#43113 [c-ares] update to 1.34.4
  ports/c-ares/portfile.cmake
  ports/c-ares/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
Labels: info:internal, category:port-update, info:reviewed

#43114 [llvm] Modify the license
  ports/llvm/vcpkg.json
  versions/baseline.json
  versions/l-/llvm.json
Labels: category:port-feature, info:internal, info:reviewed

#43072 [protobuf] Update to 5.29.2
  ports/protobuf/portfile.cmake
  ports/protobuf/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf.json
Labels: info:internal, category:port-update, info:reviewed

#43078 [libmupdf] Update to 1.25.2 and fix build error C2099
  ports/libmupdf/fix-NAN-on-Win11.patch
  ports/libmupdf/portfile.cmake
  ports/libmupdf/vcpkg.json
  versions/baseline.json
  versions/l-/libmupdf.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42779 [libsmb2] update to v6.2 and add features to activate krb5
  ports/libsmb2/portfile.cmake
  ports/libsmb2/vcpkg.json
  versions/baseline.json
  versions/l-/libsmb2.json
Labels: category:port-update, info:reviewed

#43051 [eigen3] Update warning suppression to latest.
  ports/eigen3/portfile.cmake
  ports/eigen3/update-warning-suppression-to-latest.patch
  ports/eigen3/vcpkg.json
  versions/baseline.json
  versions/e-/eigen3.json
Labels: category:port-feature, info:reviewed

#43095 [bullet3] Revise, enable Bullet3 libs
  ports/bullet3/cmake-config-export.diff
  ports/bullet3/cmake-fix.patch
  ports/bullet3/cmake-version.diff
  ports/bullet3/opencl.diff
  ports/bullet3/portfile.cmake
  ports/bullet3/tinyxml2.diff
  ports/bullet3/usage
  ports/bullet3/vcpkg.json
  scripts/test_ports/vcpkg-ci-bullet3/portfile.cmake
  scripts/test_ports/vcpkg-ci-bullet3/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-bullet3/vcpkg.json
  versions/b-/bullet3.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#43164 Change tool SHAs to lowercase.
  scripts/vcpkgTools.xml
Labels: category:vcpkg-bug, info:internal, info:reviewed

#43159 [perfetto] update to 49.0
  ports/perfetto/portfile.cmake
  ports/perfetto/vcpkg.json
  versions/baseline.json
  versions/p-/perfetto.json
Labels: category:port-update, info:reviewed

#43149 [libbacktrace] Update to 2024-11-30
  ports/libbacktrace/portfile.cmake
  ports/libbacktrace/vcpkg.json
  versions/baseline.json
  versions/l-/libbacktrace.json
Labels: info:internal, category:port-update, info:reviewed

#43119 [rocksdb] Fix feature numa
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-feature, info:internal, info:reviewed

#42970 [libremidi] add readerwriterqueue dependency on linux
  ports/libremidi/vcpkg.json
  versions/baseline.json
  versions/l-/libremidi.json
Labels: category:port-feature, info:reviewed

#42637 [opencv4] Add include <chrono> for system_clock
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:internal, info:reviewed

#43089 [openssl] Fix build with `"C:\Program Files\<...>\cl.exe"`
  ports/openssl/mkbuildinf.diff
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed, requires:vcpkg-team-review

#43118 [vcpkg-ci-mdl-sdk] Add test port.
  scripts/test_ports/vcpkg-ci-mdl-sdk/portfile.cmake
  scripts/test_ports/vcpkg-ci-mdl-sdk/vcpkg.json
Labels: category:port-feature, info:reviewed

#43124 [opencl] v2024.10.24 release
  ports/opencl/001-remove-extra-install-rules.patch
  ports/opencl/portfile.cmake
  ports/opencl/vcpkg.json
  ports/openvino/004-opencl-v2024.10.24.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/opencl.json
  versions/o-/openvino.json
Labels: category:port-update

#43133 [catch2] Update to 3.8.0
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update

#43091 [vsgchange] Drop patch, cleanup
  ports/vsgxchange/portfile.cmake
  ports/vsgxchange/require-features.patch
  ports/vsgxchange/vcpkg.json
  versions/baseline.json
  versions/v-/vsgxchange.json
Labels: category:port-feature

#43042 [rtlsdr] Update to 2.0.2, cleanup
  ports/rtlsdr/Compile-with-msvc.patch
  ports/rtlsdr/Findlibusb.cmake
  ports/rtlsdr/dependencies.diff
  ports/rtlsdr/fix-version.patch
  ports/rtlsdr/library-linkage.diff
  ports/rtlsdr/portfile.cmake
  ports/rtlsdr/tools.diff
  ports/rtlsdr/usage
  ports/rtlsdr/vcpkg.json
  scripts/test_ports/vcpkg-ci-rtlsdr/portfile.cmake
  scripts/test_ports/vcpkg-ci-rtlsdr/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-rtlsdr/project/main.c
  scripts/test_ports/vcpkg-ci-rtlsdr/vcpkg.json
  versions/baseline.json
  versions/r-/rtlsdr.json
Labels: category:port-update

#43166 [spirv-headers] Fix port usage
  ports/spirv-headers/portfile.cmake
  ports/spirv-headers/vcpkg.json
  versions/baseline.json
  versions/s-/spirv-headers.json
Labels: category:port-bug, info:internal, info:reviewed

#42717 [vtk,vtk-dicom,paraview] Fix/simplify python setup
  ports/paraview/portfile.cmake
  ports/paraview/vcpkg.json
  ports/vtk-dicom/portfile.cmake
  ports/vtk-dicom/vcpkg.json
  ports/vtk/portfile.cmake
  ports/vtk/vcpkg.json
  versions/baseline.json
  versions/p-/paraview.json
  versions/v-/vtk-dicom.json
  versions/v-/vtk.json
Labels: category:port-bug, info:reviewed

#43147 [zlib-ng] Support zlib compatibility mode
  ports/zlib-ng/portfile.cmake
  ports/zlib-ng/vcpkg.json
  versions/baseline.json
  versions/z-/zlib-ng.json
Labels: category:port-feature, info:reviewed, requires:vcpkg-team-review

#43208 Fix compiler testing to use the current OS image.
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
Labels: info:internal, category:infrastructure

#43165 [scripts/vcpkg_install_make] Keep LOGFILE_ROOT undefined since CMake 3.31.0
  scripts/cmake/vcpkg_install_make.cmake
Labels: info:internal, info:reviewed, category:tool-update

#43179 [libmem] Update to 5.0.4
  ports/libmem/0001-CMakeLists.patch
  ports/libmem/libmem-config.cmake.in
  ports/libmem/portfile.cmake
  ports/libmem/usage
  ports/libmem/vcpkg.json
  scripts/test_ports/vcpkg-ci-libmem/portfile.cmake
  scripts/test_ports/vcpkg-ci-libmem/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libmem/project/main.cpp
  scripts/test_ports/vcpkg-ci-libmem/vcpkg.json
  versions/baseline.json
  versions/l-/libmem.json
Labels: category:port-update, info:reviewed

#43138 [sdflib] new port
  ports/sdflib/add_export.patch
  ports/sdflib/portfile.cmake
  ports/sdflib/vcpkg.json
  versions/baseline.json
  versions/s-/sdflib.json
Labels: category:new-port, info:reviewed

#43054 [level-zero] v1.20.0 version
  ports/level-zero/portfile.cmake
  ports/level-zero/vcpkg.json
  versions/baseline.json
  versions/l-/level-zero.json
Labels: category:port-update, info:reviewed

#43190 [joltphysics] Expose rtti option
  ports/joltphysics/portfile.cmake
  ports/joltphysics/vcpkg.json
  versions/baseline.json
  versions/j-/joltphysics.json
Labels: category:port-feature, info:internal, info:reviewed

#43185 [jsoncons] Update to 1.1.0
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#43135 [reflectcpp] Update to 0.17.0
  ports/reflectcpp/portfile.cmake
  ports/reflectcpp/vcpkg.json
  versions/baseline.json
  versions/r-/reflectcpp.json
Labels: category:port-feature, category:port-update, info:reviewed

#43195 [marchingcubecpp] New port
  ports/marchingcubecpp/portfile.cmake
  ports/marchingcubecpp/vcpkg.json
  versions/baseline.json
  versions/m-/marchingcubecpp.json
Labels: category:new-port, info:reviewed

#43209 Update vcpkg-tool to 2025-01-11.
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/posh-vcpkg/0.0.1/posh-vcpkg.psd1
  scripts/posh-vcpkg/0.0.1/posh-vcpkg.psm1
  scripts/posh-vcpkg/posh-vcpkg.psd1
  scripts/posh-vcpkg/posh-vcpkg.psm1
  scripts/vcpkg-tool-metadata.txt
  scripts/vcpkg-tools.json
  scripts/vcpkgTools.xml
Labels: info:internal, category:infrastructure

#43254 [sobjectizer] Update to 5.8.4
  ports/sobjectizer/portfile.cmake
  ports/sobjectizer/vcpkg.json
  versions/baseline.json
  versions/s-/sobjectizer.json
Labels: category:port-update, info:reviewed

#43250 [autodock-vina] update to 1.2.6
  ports/autodock-vina/CMakeLists.txt
  ports/autodock-vina/fix-compatibility-with-boost-1.83.patch
  ports/autodock-vina/fix-compatibility-with-boost-1.85.patch
  ports/autodock-vina/portfile.cmake
  ports/autodock-vina/vcpkg.json
  versions/a-/autodock-vina.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43239 [boost-function] fix dependencies
  ports/boost-function/vcpkg.json
  scripts/boost/generate-ports.ps1
  versions/b-/boost-function.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#43245 [range-v3-vs2015] fix build
  ports/range-v3-vs2015/portfile.cmake
  ports/range-v3-vs2015/vcpkg.json
  versions/baseline.json
  versions/r-/range-v3-vs2015.json
Labels: category:port-bug, info:reviewed

#43238 [seacas]: fix dependencies
  ports/seacas/vcpkg.json
  versions/baseline.json
  versions/s-/seacas.json
Labels: info:reviewed, category:code-cleanup

#43244 [cpuid] Update option ENABLE_DOCS to LIBCPUID_ENABLE_DOCS
  ports/cpuid/portfile.cmake
  ports/cpuid/vcpkg.json
  versions/baseline.json
  versions/c-/cpuid.json
Labels: category:port-bug, info:reviewed

#43228 [poco] Fix consumption
  ports/poco/0003-fix-dependency.patch
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-bug, info:reviewed

#43172 [cnats] Update to 3.9.2
  ports/cnats/fix-sodium-dep.patch
  ports/cnats/fix_install_path.patch
  ports/cnats/fix_test_backtrace_warning.patch
  ports/cnats/lowercase_ws2_32.patch
  ports/cnats/portfile.cmake
  ports/cnats/vcpkg.json
  versions/baseline.json
  versions/c-/cnats.json
Labels: category:port-update, info:reviewed

#43225 [liboqs] New port
  ports/liboqs/portfile.cmake
  ports/liboqs/vcpkg.json
  versions/baseline.json
  versions/l-/liboqs.json
Labels: category:new-port, info:reviewed

#43047 [lwlog] Added new library
  ports/lwlog/portfile.cmake
  ports/lwlog/vcpkg.json
  versions/baseline.json
  versions/l-/lwlog.json
Labels: category:new-port, info:reviewed

#43219 [openal-soft] Update to 1.24.2
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-update, info:reviewed

#43207 [sdl3] Update to 3.1.8-preview
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-update, info:reviewed

#43222 [mimicpp] update to v6
  ports/mimicpp/portfile.cmake
  ports/mimicpp/vcpkg.json
  versions/baseline.json
  versions/m-/mimicpp.json
Labels: category:port-update, info:reviewed

#43221 [harfbuzz] Update to 10.2.0
  ports/harfbuzz/fix-win32-build.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-update, info:reviewed

#43206 [BitSerializer] Delist deprecated aliases
  ports/bitserializer-cpprestjson/portfile.cmake
  ports/bitserializer-cpprestjson/vcpkg.json
  ports/bitserializer-pugixml/portfile.cmake
  ports/bitserializer-pugixml/vcpkg.json
  ports/bitserializer-rapidjson/portfile.cmake
  ports/bitserializer-rapidjson/vcpkg.json
  ports/bitserializer-rapidyaml/portfile.cmake
  ports/bitserializer-rapidyaml/vcpkg.json
  versions/b-/bitserializer-cpprestjson.json
  versions/b-/bitserializer-pugixml.json
  versions/b-/bitserializer-rapidjson.json
  versions/b-/bitserializer-rapidyaml.json
  versions/baseline.json
Labels: info:reviewed, category:infrastructure

#43196 [sbp] Update to 6.2.1
  ports/sbp/portfile.cmake
  ports/sbp/vcpkg.json
  versions/baseline.json
  versions/s-/sbp.json
Labels: info:internal, category:port-update, info:reviewed

#43200 [libpng] update to 1.6.45
  ports/libpng/cmake.patch
  ports/libpng/fix-msa-support-for-mips.patch
  ports/libpng/fix-tools-static.patch
  ports/libpng/libm.patch
  ports/libpng/pkgconfig.patch
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-update, info:reviewed

#43197 [librtmp] Update to 2024-03-01
  ports/librtmp/CMakeLists.txt
  ports/librtmp/dh.patch
  ports/librtmp/handshake.patch
  ports/librtmp/hashswf.patch
  ports/librtmp/pkgconfig.patch
  ports/librtmp/portfile.cmake
  ports/librtmp/usage
  ports/librtmp/vcpkg.json
  versions/baseline.json
  versions/l-/librtmp.json
Labels: category:port-update, info:reviewed

#43205 [neon2sse] Update to 2024-11-24
  ports/neon2sse/portfile.cmake
  ports/neon2sse/vcpkg.json
  versions/baseline.json
  versions/n-/neon2sse.json
Labels: category:port-update, info:reviewed

#43214 [libassuan] Update to 3.0.1
  ports/libassuan/portfile.cmake
  ports/libassuan/upstream-69069bc.diff
  ports/libassuan/vcpkg.json
  versions/baseline.json
  versions/l-/libassuan.json
Labels: category:port-update, info:reviewed

#43220 [flecs] Update to 4.0.4
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#43212 [libgcrypt] Update to 1.11.0
  ports/libgcrypt/cross-tools.patch
  ports/libgcrypt/portfile.cmake
  ports/libgcrypt/upstream-fa21ddc1.patch
  ports/libgcrypt/vcpkg.json
  versions/baseline.json
  versions/l-/libgcrypt.json
Labels: category:port-update, info:reviewed

#43211 [libjuice] Update to 1.5.8
  ports/libjuice/library-linkage.diff
  ports/libjuice/portfile.cmake
  ports/libjuice/vcpkg.json
  versions/baseline.json
  versions/l-/libjuice.json
Labels: category:port-update, info:reviewed

#43199 [rapidxml] Fix gcc and clang build issue
  ports/rapidxml/0001-fix-for-a-bug-in-gcc-that-won-t-let-rapidxml-compile.patch
  ports/rapidxml/portfile.cmake
  ports/rapidxml/vcpkg.json
  versions/baseline.json
  versions/r-/rapidxml.json
Labels: category:port-bug, info:reviewed

#43277 [nng] Update to 1.10.0
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: info:internal, category:port-update, info:reviewed

#43272 [x-plane] Fix download address
  ports/x-plane/portfile.cmake
  ports/x-plane/vcpkg.json
  versions/baseline.json
  versions/x-/x-plane.json
Labels: category:port-bug, info:internal, info:reviewed

#43053 [openvino] 2024.5.0 update
  ports/openvino/002-fix-onnx.patch
  ports/openvino/003-protobuf.patch
  ports/openvino/004-opencl-v2024.10.24.patch
  ports/openvino/add-include-chrono.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update, info:reviewed

#43234 [libtorch] Include `<chrono>` for `high_resolution_clock`
  ports/libtorch/add-include-chrono.patch
  ports/libtorch/portfile.cmake
  ports/libtorch/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
Labels: category:port-bug, info:internal, info:reviewed

#43262 [sentry-native] update to 0.7.18
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#41980 [vcpkg script] ninja 1.12
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  ports/qt5-webengine/portfile.cmake
  ports/qt5-webengine/vcpkg.json
  scripts/ci.baseline.txt
  scripts/cmake/vcpkg_find_acquire_program(NINJA).cmake
  scripts/vcpkg-tools.json
  versions/baseline.json
  versions/l-/libdatachannel.json
  versions/q-/qt5-webengine.json
Labels: info:reviewed, category:tool-update

#43281 [vcpkg baseline][salome-configuration][salome-medcoupling] Update to official download source on GitHub
  ports/salome-configuration/portfile.cmake
  ports/salome-configuration/vcpkg.json
  ports/salome-medcoupling/portfile.cmake
  ports/salome-medcoupling/vcpkg.json
  versions/baseline.json
  versions/s-/salome-configuration.json
  versions/s-/salome-medcoupling.json
Labels: category:port-bug, info:internal, info:reviewed

#43233 [miniupnpc] Update to 2.3.0
  ports/miniupnpc/portfile.cmake
  ports/miniupnpc/vcpkg.json
  versions/baseline.json
  versions/m-/miniupnpc.json
Labels: info:internal, category:port-update, info:reviewed, requires:discussion

#43301 [llfio] update to 2025-01-13
  ports/llfio/portfile.cmake
  ports/llfio/vcpkg.json
  versions/baseline.json
  versions/l-/llfio.json
Labels: info:internal, category:port-update, info:reviewed

#43249 [vcpkg-make] Misc fixes, in particular: parallel builds
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/vcpkg_make.cmake
  ports/vcpkg-make/vcpkg_make_common.cmake
  ports/vcpkg-make/vcpkg_make_configure.cmake
  ports/vcpkg-make/vcpkg_make_install.cmake
  versions/baseline.json
  versions/v-/vcpkg-make.json
Labels: category:port-bug, info:reviewed

#42942 [onnx] Update to 1.17.0 and fix openvino dependency error
  ports/onnx/fix-cxx_standard.patch
  ports/onnx/portfile.cmake
  ports/onnx/vcpkg.json
  versions/baseline.json
  versions/o-/onnx.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#42994 Compiler detection: Cache compiler hash
  scripts/detect_compiler/CMakeLists.txt
  scripts/detect_compiler/portfile.cmake
Labels: info:reviewed, category:tool-update, requires:vcpkg-team-review

#43283 [openvino] update to 2024.6.0
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update, info:reviewed

#43363 [freetype-gl] update to 1.0
  ports/freetype-gl/0005-add-version.patch
  ports/freetype-gl/portfile.cmake
  ports/freetype-gl/vcpkg.json
  versions/baseline.json
  versions/f-/freetype-gl.json
Labels: category:port-update, info:reviewed

#43303 [arrow] Update to 19.0.0
  ports/arrow/0004-android-musl.patch
  ports/arrow/0006-cmake-msvcruntime.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  versions/a-/arrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43288 [opensubdiv] Enable build on arm architecture
  ports/opensubdiv/vcpkg.json
  versions/baseline.json
  versions/o-/opensubdiv.json
Labels: category:port-feature, info:reviewed

#43282 [baresip-libre] upgrade to version 3.19.0
  ports/baresip-libre/portfile.cmake
  ports/baresip-libre/vcpkg.json
  versions/b-/baresip-libre.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43361 [pulsar-client-cpp] Bump to 3.7.0
  ports/pulsar-client-cpp/portfile.cmake
  ports/pulsar-client-cpp/vcpkg.json
  versions/baseline.json
  versions/p-/pulsar-client-cpp.json
Labels: category:port-update, info:reviewed

#43252 [mbedtls] Update to 3.6.2
  ports/mbedtls/portfile.cmake
  ports/mbedtls/vcpkg.json
  versions/baseline.json
  versions/m-/mbedtls.json
Labels: info:internal, category:port-update, info:reviewed

#43357 [pango] Update version to 1.56.1
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  versions/baseline.json
  versions/p-/pango.json
Labels: info:internal, category:port-update, info:reviewed

#43349 [glibmm] Update to 2.80.1
  ports/glibmm/portfile.cmake
  ports/glibmm/vcpkg.json
  versions/baseline.json
  versions/g-/glibmm.json
Labels: category:port-update, info:reviewed

#43346 [imgui] Bump to 1.91.7
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#43341 [folly related] update to 01.13
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/fix-build.patch
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#43316 [poco] include patch to remove libatomic dependency
  ports/poco/0009-remove-libatomic-dependency.patch
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-bug, info:reviewed

#43317 [manif] Update version to 0.0.5
  ports/manif/portfile.cmake
  ports/manif/usage
  ports/manif/vcpkg.json
  versions/baseline.json
  versions/m-/manif.json
Labels: category:port-update, info:reviewed

#43319 [google-cloud-cpp] update to the latest release (v2.34.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#43267 [conjure-enum] Fix usage error
  ports/conjure-enum/portfile.cmake
  ports/conjure-enum/vcpkg.json
  versions/baseline.json
  versions/c-/conjure-enum.json
Labels: category:port-bug, info:internal, info:reviewed

#43266 [sqlite3] update to 3.48.0
  ports/sqlite3/add-config-include.patch
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#43306 [libgit2] Update version to 1.9.0
  ports/libgit2/c-standard.diff
  ports/libgit2/fix-arm64-windows.patch
  ports/libgit2/portfile.cmake
  ports/libgit2/unofficial-config-export.diff
  ports/libgit2/unofficial-git2-config.cmake
  ports/libgit2/unofficial-libgit2-config.cmake
  ports/libgit2/usage
  ports/libgit2/vcpkg.json
  versions/baseline.json
  versions/l-/libgit2.json
Labels: info:internal, category:port-update, info:reviewed

#43278 [x-plane] Update to 4.1.1
  ports/x-plane/portfile.cmake
  ports/x-plane/vcpkg.json
  versions/baseline.json
  versions/x-/x-plane.json
Labels: info:internal, category:port-update, info:reviewed

#43325 [level-zero] version v1.20.2
  ports/level-zero/portfile.cmake
  ports/level-zero/vcpkg.json
  versions/baseline.json
  versions/l-/level-zero.json
Labels: category:port-update, info:reviewed

#43344 [open62541pp] Update to version 0.17.0
  ports/open62541pp/portfile.cmake
  ports/open62541pp/vcpkg.json
  versions/baseline.json
  versions/o-/open62541pp.json
Labels: category:port-update, info:reviewed

#43332 [libuv] update to 1.50.0
  ports/libuv/portfile.cmake
  ports/libuv/vcpkg.json
  versions/baseline.json
  versions/l-/libuv.json
Labels: category:port-update, info:reviewed

#43290 [oscpack] add new port
  ports/oscpack/add-cmake-install-target.patch
  ports/oscpack/link-ws2_32-and-winmm.patch
  ports/oscpack/portfile.cmake
  ports/oscpack/usage
  ports/oscpack/vcpkg.json
  versions/baseline.json
  versions/o-/oscpack.json
Labels: category:new-port, info:reviewed

#43342 [wt] update to 4.11.2
  ports/wt/fix-compatibility-with-boost-1.85.patch
  ports/wt/portfile.cmake
  ports/wt/vcpkg.json
  versions/baseline.json
  versions/w-/wt.json
Labels: category:port-update, info:reviewed

#43339 [quill] Update to 8.0.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#43338 [libdatachannel] Update to 0.22.4
  ports/libdatachannel/dependencies.diff
  ports/libdatachannel/library-linkage.diff
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  scripts/test_ports/vcpkg-ci-libdatachannel/portfile.cmake
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: category:port-update, info:reviewed

#43298 [json-c] Update to 0.18-20240915
  ports/json-c/fix-clang-cl.patch
  ports/json-c/pkgconfig.patch
  ports/json-c/portfile.cmake
  ports/json-c/vcpkg.json
  versions/baseline.json
  versions/j-/json-c.json
Labels: category:port-update, info:reviewed

#42849 [sdl3-image] Add new port sdl3-image
  ports/sdl3-image/cmake-sdl3.patch
  ports/sdl3-image/portfile.cmake
  ports/sdl3-image/usage
  ports/sdl3-image/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3-image.json
Labels: category:new-port, info:reviewed

#43415 [libtar] Enable asset caching.
  ports/libtar/portfile.cmake
  ports/libtar/vcpkg.json
  versions/baseline.json
  versions/l-/libtar.json
Labels: category:port-bug, info:internal, info:reviewed

#43074 [ryml] update to 0.7.2
  ports/jsonnet/0005-use-upstream-rapidyaml.patch
  ports/jsonnet/vcpkg.json
  ports/ryml/cmake-fix.patch
  ports/ryml/portfile.cmake
  ports/ryml/vcpkg.json
  versions/baseline.json
  versions/j-/jsonnet.json
  versions/r-/ryml.json
Labels: category:port-update, info:reviewed

#43397 [quantlib] update to 1.37
  ports/quantlib/portfile.cmake
  ports/quantlib/vcpkg.json
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update, info:reviewed

#43401 [etcd-cpp-apiv3]Add async feature for etcd-cpp
  ports/etcd-cpp-apiv3/portfile.cmake
  ports/etcd-cpp-apiv3/vcpkg.json
  versions/baseline.json
  versions/e-/etcd-cpp-apiv3.json
Labels: category:port-feature, info:reviewed

#43407 [buck-yeh-bux] Update to 1.11.1
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43161 [gdal] Update to 3.10.1
  ports/gdal/portfile.cmake
  ports/gdal/remove-machine-flag.patch
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#43403 [curl] Add rtmp feature to curl
  ports/curl/portfile.cmake
  ports/curl/rtmp.patch
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, info:reviewed

#43404 [skia] shared library compilation of skparagraph
  ports/skia/portfile.cmake
  ports/skia/skparagraph-dllexport.patch
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-feature, info:reviewed

#43374 [luajit] Fix luajit.exe is broken on Windows
  ports/luajit/portfile.cmake
  ports/luajit/vcpkg.json
  versions/baseline.json
  versions/l-/luajit.json
Labels: category:port-bug, info:internal, info:reviewed

#43180 [usd] enable arm64 architecture
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-feature, info:reviewed

#43400 [aliyun-oss-c-sdk] update to 3.11.2
  ports/aliyun-oss-c-sdk/portfile.cmake
  ports/aliyun-oss-c-sdk/vcpkg.json
  versions/a-/aliyun-oss-c-sdk.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#43327 [open62541] added multithreading feature
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
Labels: category:port-feature, info:reviewed

#43395 [dartsim] Disable use spdlog by option `DART_SKIP_spdlog`
  ports/dartsim/portfile.cmake
  ports/dartsim/vcpkg.json
  versions/baseline.json
  versions/d-/dartsim.json
Labels: category:port-bug, info:internal, info:reviewed

#43373 [openmpi] Update to 4.1.7, install wrapper
  ports/mpi/portfile.cmake
  ports/mpi/vcpkg.json
  ports/openmpi/mpi-wrapper.cmake
  ports/openmpi/portfile.cmake
  ports/openmpi/vcpkg.json
  versions/baseline.json
  versions/m-/mpi.json
  versions/o-/openmpi.json
Labels: category:port-update, info:reviewed

#43388 [sentry-native] update to 0.7.19
  ports/sentry-native/fix-usage-runtime.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#43390 [sdl3] Update to 3.2.0
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-update, info:reviewed

#43383 [parallel-hashmap] - bump version to 2.0.0.
  ports/parallel-hashmap/portfile.cmake
  ports/parallel-hashmap/vcpkg.json
  versions/baseline.json
  versions/p-/parallel-hashmap.json
Labels: category:port-update, info:reviewed

#43392 [vcpkg baseline][salome-med-fichier][simpleble][spaceland] Update download URL
  ports/salome-med-fichier/portfile.cmake
  ports/salome-med-fichier/vcpkg.json
  ports/simpleble/portfile.cmake
  ports/simpleble/vcpkg.json
  ports/spaceland/portfile.cmake
  ports/spaceland/vcpkg.json
  versions/baseline.json
  versions/s-/salome-med-fichier.json
  versions/s-/simpleble.json
  versions/s-/spaceland.json
Labels: category:port-bug, info:internal, info:reviewed

#43381 [hypre] update to 2.32.0
  ports/hypre/portfile.cmake
  ports/hypre/vcpkg.json
  versions/baseline.json
  versions/h-/hypre.json
Labels: category:port-update, info:reviewed

#43375 [air-ctl] fix resize error
  ports/air-ctl/fix-resize-error.patch
  ports/air-ctl/portfile.cmake
  ports/air-ctl/vcpkg.json
  versions/a-/air-ctl.json
  versions/baseline.json
Labels: category:port-bug, info:internal, info:reviewed

#43370 [ade] update to v0.1.2e
  ports/ade/portfile.cmake
  ports/ade/vcpkg.json
  versions/a-/ade.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#43188 [anari] Update to 0.12.1
  ports/anari/anari-lib-maybe-static-lib.patch
  ports/anari/portfile.cmake
  ports/anari/vcpkg.json
  versions/a-/anari.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43393 Patch Tuesday for January 2025
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/create-image.ps1
  scripts/azure-pipelines/windows/deploy-azure-cli.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/azure-pipelines/windows/utility-prefix.ps1
  scripts/vcpkg-tools.json
Labels: info:internal, category:infrastructure

#43389 Update vcpkg-tool to 2025-01-20.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#43391 [x265] update to 4.1
  ports/x265/disable-install-pdb.patch
  ports/x265/pkgconfig.diff
  ports/x265/portfile.cmake
  ports/x265/vcpkg.json
  versions/baseline.json
  versions/x-/x265.json
Labels: info:internal, category:port-update, info:reviewed

#43311 [vcpkg baseline][libmem] Remove embedded llvm and use port dependency instead
  ports/libmem/0001-CMakeLists.patch
  ports/libmem/libmem-config.cmake.in
  ports/libmem/portfile.cmake
  ports/libmem/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-libmem/portfile.cmake
  scripts/test_ports/vcpkg-ci-libmem/project/CMakeLists.txt
  versions/baseline.json
  versions/l-/libmem.json
Labels: category:port-bug, info:internal, info:reviewed

#43255 Fix missing FILE_SET in X_VCPKG_APPLOCAL_DEPS_INSTALL
  scripts/buildsystems/vcpkg.cmake
Labels: info:internal, info:reviewed, category:tool-update, requires:vcpkg-team-review

#43432 [tensorflow] fix build
  ports/tensorflow-common/tensorflow-common.cmake
  ports/tensorflow-common/vcpkg.json
  versions/baseline.json
  versions/t-/tensorflow-common.json
Labels: category:port-bug, info:reviewed

#43358 [hdf5] Fix exported config
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, info:reviewed
