Repository microsoft/vcpkg, pull requests merged in 2025-02, with the labels that each got.

#43386 [cgns] Update to 4.5.0, cleanup, fixes
  ports/cgns/hdf5.patch
  ports/cgns/install-lib-linkage.diff
  ports/cgns/portfile.cmake
  ports/cgns/usage
  ports/cgns/vcpkg.json
  versions/baseline.json
  versions/c-/cgns.json
Labels: category:port-update

#43295 [pcl] Fix pcl build when building for arm/arm64
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug

#43335 [graphene] remove arm & windows exclusion
  ports/graphene/vcpkg.json
  ports/gtk/vcpkg.json
  versions/baseline.json
  versions/g-/graphene.json
  versions/g-/gtk.json
Labels: category:port-feature

#41618 [vmaware-vm-detection] add new port
  ports/vmaware-vm-detection/portfile.cmake
  ports/vmaware-vm-detection/vcpkg.json
  versions/baseline.json
  versions/v-/vmaware-vm-detection.json
Labels: category:new-port

#42371 [opencv] add missing features to defaults and improve test matrix
  ports/dv-processing/vcpkg.json
  ports/libcaer/vcpkg.json
  ports/libtorch/vcpkg.json
  ports/opencv/vcpkg.json
  ports/opencv2/0004-enable-pkgconf.patch
  ports/opencv2/0005-fix-config.patch
  ports/opencv2/0007-fix-openexr.patch
  ports/opencv2/0008-missing-include.patch
  ports/opencv2/0009-pkgconfig-suffix.patch
  ports/opencv2/portfile.cmake
  ports/opencv2/vcpkg.json
  ports/opencv3/0003-force-package-requirements.patch
  ports/opencv3/0008-devendor-quirc.patch
  ports/opencv3/0009-fix-protobuf.patch
  ports/opencv3/0010-fix-uwp-tiff-imgcodecs.patch
  ports/opencv3/0011-remove-python2.patch
  ports/opencv3/0013-contrib-fix-ceres.patch
  ports/opencv3/0013-contrib-fix-tesseract.patch
  ports/opencv3/0016-contrib-fix-freetype.patch
  ports/opencv3/0017-enable-gtk.patch
  ports/opencv3/0017-missing-include.patch
  ports/opencv3/0019-enable-pkgconf.patch
  ports/opencv3/0019-fix-tbb.patch
  ports/opencv3/portfile.cmake
  ports/opencv3/vcpkg.json
  ports/opencv4/0002-install-options.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  ports/openimageio/vcpkg.json
  ports/rtabmap/0001-cmakelists-fixes.patch
  ports/rtabmap/0002-fix-link.patch
  ports/rtabmap/0003-multi-definition.patch
  ports/rtabmap/0004-fix-manfold-typo.patch
  ports/rtabmap/0005-fix-opencv3-aruco.patch
  ports/rtabmap/0006-remove-apple-sys-path.patch
  ports/rtabmap/0007-fix-g2o.patch
  ports/rtabmap/ceres-manifold.patch
  ports/rtabmap/gklib.patch
  ports/rtabmap/link-keywords.patch
  ports/rtabmap/portfile.cmake
  ports/rtabmap/rtabmap-res-tool.patch
  ports/rtabmap/sqlite3.patch
  ports/rtabmap/vcpkg.json
  ports/selene/vcpkg.json
  scripts/test_ports/vcpkg-ci-opencv/vcpkg.json
  versions/baseline.json
  versions/d-/dv-processing.json
  versions/l-/libcaer.json
  versions/l-/libtorch.json
  versions/o-/opencv.json
  versions/o-/opencv2.json
  versions/o-/opencv3.json
  versions/o-/opencv4.json
  versions/o-/openimageio.json
  versions/r-/rtabmap.json
  versions/s-/selene.json
Labels: category:port-feature

#40942 [steam-audio] Adding port
  ports/steam-audio/fix-arm64-windows.patch
  ports/steam-audio/portfile.cmake
  ports/steam-audio/usage
  ports/steam-audio/use-vcpkg-deps.patch
  ports/steam-audio/vcpkg.json
  versions/baseline.json
  versions/s-/steam-audio.json
Labels: category:new-port, info:reviewed

#43623 [sqlite-orm] Update to 1.9.1
  ports/sqlite-orm/portfile.cmake
  ports/sqlite-orm/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite-orm.json
Labels: category:port-update

#43630 openvino: fixed GPU plugin with vcpkg's oneDNN
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-bug

#43463 [vcpkg-ci-curl,curl,c-ares,libssh2,librtmp] Elaborate test, fix ports
  ports/c-ares/portfile.cmake
  ports/c-ares/usage
  ports/c-ares/vcpkg.json
  ports/curl/0020-fix-pc-file.patch
  ports/curl/0022-deduplicate-libs.patch
  ports/curl/cmake-project-include.cmake
  ports/curl/dependencies.patch
  ports/curl/pkgconfig-curl-config.patch
  ports/curl/portfile.cmake
  ports/curl/rtmp.patch
  ports/curl/vcpkg-cmake-wrapper.cmake
  ports/curl/vcpkg.json
  ports/librtmp/CMakeLists.txt
  ports/librtmp/vcpkg.json
  ports/libssh2/pkgconfig.diff
  ports/libssh2/portfile.cmake
  ports/libssh2/usage
  ports/libssh2/vcpkg.json
  scripts/ci.baseline.txt
  scripts/test_ports/vcpkg-ci-curl/portfile.cmake
  scripts/test_ports/vcpkg-ci-curl/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-curl/project/main.c
  scripts/test_ports/vcpkg-ci-curl/vcpkg.json
  versions/baseline.json
  versions/c-/c-ares.json
  versions/c-/curl.json
  versions/l-/librtmp.json
  versions/l-/libssh2.json
Labels: category:port-bug, category:code-cleanup

#43635 [libmagic] fix error hash
  ports/libmagic/portfile.cmake
  ports/libmagic/vcpkg.json
  versions/baseline.json
  versions/l-/libmagic.json
Labels: category:port-bug, info:internal, info:reviewed

#34123 [scripts] Remove a redundant manual /D_DEBUG from CMAKE_<LANG>_FLAGS_DEBUG
  scripts/toolchains/uwp.cmake
  scripts/toolchains/windows.cmake
  scripts/toolchains/xbox.cmake
Labels: requires:vcpkg-team-review

#43620 [starlink-ast] Update to 9.2.12
  ports/starlink-ast/install-errors.diff
  ports/starlink-ast/portfile.cmake
  ports/starlink-ast/vcpkg.json
  versions/baseline.json
  versions/s-/starlink-ast.json
Labels: category:port-update, info:reviewed

#43527 [vcpkg-ci-cmake-toolchain-file] Validate toolchain file
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/portfile.cmake
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/project/main.c
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/vcpkg.json
  scripts/toolchains/android.cmake
Labels: info:reviewed, category:infrastructure

#43596 [babl] new port
  ports/babl/portfile.cmake
  ports/babl/vcpkg.json
  versions/b-/babl.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#43629 [curl] 8.12.0
  ports/curl/dependencies.patch
  ports/curl/export-components.patch
  ports/curl/pkgconfig-curl-config.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update

#43644 [abseil] update to 20250127.0
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43637 [gstreamer] Fix gstx265enc.c
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  versions/baseline.json
  versions/g-/gstreamer.json
Labels: category:port-bug, info:internal, info:reviewed

#43193 [exprtk] Update to 0.0.3, and use that version scheme
  ports/exprtk/copyright
  ports/exprtk/portfile.cmake
  ports/exprtk/vcpkg.json
  versions/baseline.json
  versions/e-/exprtk.json
Labels: category:port-update, info:reviewed, requires:vcpkg-team-review

#43540 [octave] add features
  ports/octave/dep_pc_names.patch
  ports/octave/portfile.cmake
  ports/octave/vcpkg.json
  versions/baseline.json
  versions/o-/octave.json
Labels: category:port-feature, info:reviewed

#43662 [oniguruma] update to 6.9.10
  ports/oniguruma/portfile.cmake
  ports/oniguruma/vcpkg.json
  versions/baseline.json
  versions/o-/oniguruma.json
Labels: category:port-update, info:reviewed

#43486 [bgfx] update to 1.129.8866-491
  ports/bgfx/portfile.cmake
  ports/bgfx/vcpkg.json
  versions/b-/bgfx.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43656 [libzip] Add patch to initialize `have_dos_time`
  ports/libzip/initialize-have_dos_time.patch
  ports/libzip/portfile.cmake
  ports/libzip/vcpkg.json
  versions/baseline.json
  versions/l-/libzip.json
Labels: category:port-bug, info:internal, info:reviewed

#43674 [libxlsxwriter] Don't use PkgConfig
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libxlsxwriter.json
Labels: category:port-bug, info:reviewed

#43669 [glaze] update to 4.4.0
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#43670 [steam-audio] Include <chrono> for high_resolution_clock
  ports/steam-audio/add-include-chrono.patch
  ports/steam-audio/portfile.cmake
  ports/steam-audio/vcpkg.json
  versions/baseline.json
  versions/s-/steam-audio.json
Labels: category:port-bug, info:internal, info:reviewed

#43643 [phnt] Update phnt to latest
  ports/phnt/portfile.cmake
  ports/phnt/vcpkg.json
  versions/baseline.json
  versions/p-/phnt.json
Labels: category:port-update, info:reviewed

#43672 [curl] Don't export implicit link dirs
  ports/curl/pkgconfig-curl-config.patch
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-bug

#43735 [usearch] update to 2.17.2
  ports/usearch/portfile.cmake
  ports/usearch/vcpkg.json
  versions/baseline.json
  versions/u-/usearch.json
Labels: category:port-update, info:reviewed

#43730 [simsimd] update to 6.0.0
  ports/simsimd/export-target.patch
  ports/simsimd/portfile.cmake
  ports/simsimd/vcpkg.json
  versions/baseline.json
  versions/s-/simsimd.json
Labels: category:port-update, info:reviewed

#43726 [luau] update to 0.660
  ports/luau/cmake-config-export.patch
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#43731 [sleepy-discord] asio 1.32.0 websockets
  ports/sleepy-discord/portfile.cmake
  ports/sleepy-discord/vcpkg.json
  versions/baseline.json
  versions/s-/sleepy-discord.json
Labels: category:port-update, info:reviewed

#43725 [presentmon] update to 2.3.0
  ports/presentmon/portfile.cmake
  ports/presentmon/vcpkg.json
  versions/baseline.json
  versions/p-/presentmon.json
Labels: info:internal, category:port-update, info:reviewed

#43720 [libenvpp] update to 1.5.1
  ports/libenvpp/fix-dependencies.patch
  ports/libenvpp/fix-install.patch
  ports/libenvpp/portfile.cmake
  ports/libenvpp/vcpkg.json
  versions/baseline.json
  versions/l-/libenvpp.json
Labels: category:port-update, info:reviewed

#43757 [clap-cleveraudio] Update to version 1.2.3
  ports/clap-cleveraudio/portfile.cmake
  ports/clap-cleveraudio/vcpkg.json
  versions/baseline.json
  versions/c-/clap-cleveraudio.json
Labels: category:port-update, info:reviewed

#43712 [usd] update to 25.02
  ports/usd/005-MaterialX_v1.38-39.patch
  ports/usd/portfile.cmake
  ports/usd/vcpkg.json
  versions/baseline.json
  versions/u-/usd.json
Labels: category:port-update, info:reviewed

#43711 [cpp-httplib] update to 0.18.7
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#43709 [jsoncons] Update to 1.2.0
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#43509 Update macOS for January 2025
  ports/juce/avoid-macos-15-deprecations.patch
  ports/juce/portfile.cmake
  ports/juce/vcpkg.json
  ports/msquic/avoid-w-invalid-unevaluated-string.patch
  ports/msquic/portfile.cmake
  ports/msquic/vcpkg.json
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/osx/README.md
  scripts/azure-pipelines/osx/setup-box.sh
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/j-/juce.json
  versions/m-/msquic.json
  versions/q-/qtbase.json
Labels: info:internal, category:infrastructure

#43685 [sqlite3] update to 3.49.0
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#43701 [libpng] update to 1.6.46
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-update, info:reviewed

#43659 [vcpkg baseline][openvino] version 2025.0.0
  ports/openvino/001-disable-tools.patch
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update, info:reviewed

#43758 [libxlsxwriter] update to 1.2.0
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libxlsxwriter.json
Labels: info:reviewed

#43751 [numcpp] update to 2.14.0
  ports/numcpp/portfile.cmake
  ports/numcpp/vcpkg.json
  versions/baseline.json
  versions/n-/numcpp.json
Labels: category:port-update

#43671 [openssl] emscripten toolchain controls thread support
  ports/openssl/unix/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug, info:reviewed

#43706 [sdl2-mixer] update to 2.8.1
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-update

#43737 [fast-float] Package hash update
  ports/fast-float/portfile.cmake
  ports/fast-float/vcpkg.json
  versions/baseline.json
  versions/f-/fast-float.json
Labels: category:port-feature, info:reviewed

#43108 [libshout] New port of icecast-libshout
  ports/libshout/portfile.cmake
  ports/libshout/vcpkg.json
  versions/baseline.json
  versions/l-/libshout.json
Labels: category:new-port, info:reviewed

#43425 [casadi] Add new port
  ports/casadi/disable_fortran.patch
  ports/casadi/namespace.cmake
  ports/casadi/portfile.cmake
  ports/casadi/relocatable.patch
  ports/casadi/usage
  ports/casadi/vcpkg.json
  versions/baseline.json
  versions/c-/casadi.json
Labels: category:new-port, info:reviewed

#43569 [EIPScanner] add new port
  ports/eipscanner/package.patch
  ports/eipscanner/portfile.cmake
  ports/eipscanner/usage
  ports/eipscanner/vcpkg.json
  versions/baseline.json
  versions/e-/eipscanner.json
Labels: category:new-port, info:reviewed

#43516 [crashpad] fix mac build
  ports/crashpad/portfile.cmake
  ports/crashpad/vcpkg.json
  versions/baseline.json
  versions/c-/crashpad.json
Labels: category:port-bug

#43759 [tinyexif] update to 1.0.3 and fix usage
  ports/tinyexif/portfile.cmake
  ports/tinyexif/vcpkg.json
  versions/baseline.json
  versions/t-/tinyexif.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#43756 [lilv,serd,sord,sratom,zix] Updated lv2 related ports to latest version
  ports/lilv/portfile.cmake
  ports/lilv/vcpkg.json
  ports/serd/portfile.cmake
  ports/serd/vcpkg.json
  ports/sord/portfile.cmake
  ports/sord/vcpkg.json
  ports/sratom/portfile.cmake
  ports/sratom/vcpkg.json
  ports/zix/portfile.cmake
  ports/zix/vcpkg.json
  versions/baseline.json
  versions/l-/lilv.json
  versions/s-/serd.json
  versions/s-/sord.json
  versions/s-/sratom.json
  versions/z-/zix.json
Labels: category:port-update, info:reviewed

#43695 [colmap,glew] Avoid GLU
  ports/colmap/no-glu.diff
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  ports/glew/portfile.cmake
  ports/glew/vcpkg.json
  versions/baseline.json
  versions/c-/colmap.json
  versions/g-/glew.json
Labels: category:port-bug, info:reviewed

#43597 [json-glib] new port
  ports/json-glib/portfile.cmake
  ports/json-glib/vcpkg.json
  versions/baseline.json
  versions/j-/json-glib.json
Labels: category:new-port, info:reviewed

#43717 [duckdb] new port
  ports/duckdb/bigobj.patch
  ports/duckdb/portfile.cmake
  ports/duckdb/unvendor_icu_and_find_dependency.patch
  ports/duckdb/usage
  ports/duckdb/vcpkg.json
  versions/baseline.json
  versions/d-/duckdb.json
Labels: category:new-port, info:reviewed

#43766 [restc-cpp] remove unused patches
  ports/restc-cpp/0001-exclude-cmake-external-projects.patch
  ports/restc-cpp/boost-1.86-fix.patch
  ports/restc-cpp/vcpkg.json
  versions/baseline.json
  versions/r-/restc-cpp.json
Labels: info:reviewed, category:code-cleanup

#43663 [wildcards] add new port
  ports/wildcards/install.patch
  ports/wildcards/portfile.cmake
  ports/wildcards/vcpkg.json
  versions/baseline.json
  versions/w-/wildcards.json
Labels: category:new-port, info:reviewed

#43748 [vulkan-sdk] update components to version 1.4.304.1
  ports/lunarg-vulkantools/portfile.cmake
  ports/lunarg-vulkantools/vcpkg.json
  ports/spirv-cross/portfile.cmake
  ports/spirv-cross/vcpkg.json
  ports/spirv-headers/portfile.cmake
  ports/spirv-headers/vcpkg.json
  ports/spirv-reflect/portfile.cmake
  ports/spirv-reflect/vcpkg.json
  ports/spirv-tools/portfile.cmake
  ports/spirv-tools/vcpkg.json
  ports/volk/portfile.cmake
  ports/volk/vcpkg.json
  ports/vulkan-extensionlayer/portfile.cmake
  ports/vulkan-extensionlayer/vcpkg.json
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  ports/vulkan-loader/portfile.cmake
  ports/vulkan-loader/vcpkg.json
  ports/vulkan-sdk-components/portfile.cmake
  ports/vulkan-sdk-components/vcpkg.json
  ports/vulkan-tools/portfile.cmake
  ports/vulkan-tools/vcpkg.json
  ports/vulkan-utility-libraries/portfile.cmake
  ports/vulkan-utility-libraries/vcpkg.json
  ports/vulkan-validationlayers/portfile.cmake
  ports/vulkan-validationlayers/vcpkg.json
  versions/baseline.json
  versions/l-/lunarg-vulkantools.json
  versions/s-/spirv-cross.json
  versions/s-/spirv-headers.json
  versions/s-/spirv-reflect.json
  versions/s-/spirv-tools.json
  versions/v-/volk.json
  versions/v-/vulkan-extensionlayer.json
  versions/v-/vulkan-headers.json
  versions/v-/vulkan-loader.json
  versions/v-/vulkan-sdk-components.json
  versions/v-/vulkan-tools.json
  versions/v-/vulkan-utility-libraries.json
  versions/v-/vulkan-validationlayers.json
Labels: category:port-update, info:reviewed

#43764 [libpqxx] Update to 7.10.0
  ports/libpqxx/portfile.cmake
  ports/libpqxx/vcpkg.json
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: info:internal, category:port-update, info:reviewed

#43765 [utf8proc] update to 2.10.0
  ports/utf8proc/portfile.cmake
  ports/utf8proc/vcpkg.json
  versions/baseline.json
  versions/u-/utf8proc.json
Labels: category:port-update, info:reviewed

#43767 [fastdds] update to 3.1.2
  ports/fastdds/disable-symlink.patch
  ports/fastdds/portfile.cmake
  ports/fastdds/vcpkg.json
  versions/baseline.json
  versions/f-/fastdds.json
Labels: category:port-update, info:reviewed

#43763 [openxr-loader] update to 1.1.45 and fix error Python 3 not found
  ports/openxr-loader/portfile.cmake
  ports/openxr-loader/vcpkg.json
  versions/baseline.json
  versions/o-/openxr-loader.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#43771 [openssl] Update to 3.4.1
  ports/openssl/asm-armcap.patch
  ports/openssl/mkbuildinf.diff
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update

#43775 [python3] Update to 3.11.11
  ports/python3/portfile.cmake
  ports/python3/vcpkg.json
  versions/baseline.json
  versions/p-/python3.json
Labels: category:port-update

#43782 [nng] Update to 1.10.1
  ports/nng/portfile.cmake
  ports/nng/vcpkg.json
  versions/baseline.json
  versions/n-/nng.json
Labels: info:internal, category:port-update

#43182 [qca] making softstore plugin a feature
  ports/qca/portfile.cmake
  ports/qca/vcpkg.json
  versions/baseline.json
  versions/q-/qca.json
Labels: category:port-feature

#43781 [vcpkg baseline][google-cloud-cpp] Fix googleapis download
  ports/google-cloud-cpp/fix-googleapis-download.patch
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-bug, info:internal

#43790 [grpc] remove patch 00019
  ports/grpc/00019-protobuf-generate-with-import-path-correction.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:code-cleanup

#43812 [rapidfuzz] update to 3.3.2
  ports/rapidfuzz/portfile.cmake
  ports/rapidfuzz/vcpkg.json
  versions/baseline.json
  versions/r-/rapidfuzz.json
Labels: category:port-update, info:reviewed

#43809 [flint] Fix download URL
  ports/flint/portfile.cmake
  ports/flint/vcpkg.json
  versions/baseline.json
  versions/f-/flint.json
Labels: category:port-bug, info:reviewed

#43762 [x-plane] The core xplm and xpwidgets libraries are copied into <triplet>\lib
  ports/x-plane/portfile.cmake
  ports/x-plane/vcpkg.json
  versions/baseline.json
  versions/x-/x-plane.json
Labels: category:port-bug, info:internal, info:reviewed

#43733 [ntf-core] Update to 2.5.4
  ports/ntf-core/dont-use-lib64.patch
  ports/ntf-core/portfile.cmake
  ports/ntf-core/vcpkg.json
  versions/baseline.json
  versions/n-/ntf-core.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#43600 [gexiv2] new port
  ports/gexiv2/msvc_def.patch
  ports/gexiv2/portfile.cmake
  ports/gexiv2/vcpkg.json
  versions/baseline.json
  versions/g-/gexiv2.json
Labels: category:new-port, info:reviewed

#43780 [intel-mkl] Fixed usage error under x64-windows-static-md triplet
  ports/intel-mkl/portfile.cmake
  ports/intel-mkl/vcpkg.json
  versions/baseline.json
  versions/i-/intel-mkl.json
Labels: category:port-bug, info:internal, info:reviewed

#43784 [mongo-c-driver,libbson] Update to 1.30.0
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/fix-mingw.patch
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: info:internal, category:port-update, info:reviewed

#43823 [async-mqtt] update port to 10.0.0
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43824 [flatbuffers] update to 25.2.10
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-update

#43818 [protobuf-c] Update to 1.5.1
  ports/protobuf-c/fix-crt-linkage.patch
  ports/protobuf-c/fix-dependency-protobuf.patch
  ports/protobuf-c/portfile.cmake
  ports/protobuf-c/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf-c.json
Labels: info:internal, category:port-update

#43810 [curl] Update to 8.12.1
  ports/curl/dependencies.patch
  ports/curl/pkgconfig-curl-config.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update

#43811 [nlopt] Update to 2.10.0
  ports/nlopt/portfile.cmake
  ports/nlopt/vcpkg.json
  versions/baseline.json
  versions/n-/nlopt.json
Labels: info:internal, category:port-update

#43760 [harfbuzz] Fix missing link library user32.lib
  ports/harfbuzz/fix-build-ffmpeg-failed.patch
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  versions/baseline.json
  versions/h-/harfbuzz.json
Labels: category:port-bug, info:internal, depends:upstream-changes

#43786 [shader-slang] Update to 2025.5
  ports/shader-slang/portfile.cmake
  ports/shader-slang/vcpkg.json
  versions/baseline.json
  versions/s-/shader-slang.json
Labels: info:internal, category:port-update

#43742 [tbb] Fix build for macOS with GCC
  ports/tbb/fix-gcc-without-gas.patch
  ports/tbb/portfile.cmake
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-bug, depends:upstream-changes

#41436 [kfr] Update to 6.0.3
  ports/kfr/portfile.cmake
  ports/kfr/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/k-/kfr.json
Labels: info:internal, category:port-update

#43583 [p-ranav-glob] add new port
  ports/p-ranav-glob/portfile.cmake
  ports/p-ranav-glob/remove_cpm.patch
  ports/p-ranav-glob/usage
  ports/p-ranav-glob/vcpkg.json
  versions/baseline.json
  versions/p-/p-ranav-glob.json
Labels: category:new-port, info:reviewed

#43807 [jhasse-poly2tri] Add LICENSE
  ports/jhasse-poly2tri/portfile.cmake
  ports/jhasse-poly2tri/vcpkg.json
  versions/baseline.json
  versions/j-/jhasse-poly2tri.json
Labels: category:port-feature, info:internal, info:reviewed

#43834 [grpc] update to v1.70.1
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-update

#43555 Promote x64-windows-release out of community
  ports/qtwebengine/vcpkg.json
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/ci.baseline.txt
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/test_ports/unit-test-cmake/test-vcpkg_fixup_pkgconfig.cmake
  triplets/x64-windows-release.cmake
  versions/baseline.json
  versions/q-/qtwebengine.json
Labels: info:internal, category:infrastructure

#43694 [libiconv] Update to 1.18.0
  ports/libiconv/0002-Config-for-MSVC.patch
  ports/libiconv/0004-ModuleFileName.patch
  ports/libiconv/0005-iOS-missing-symbol-fix.patch
  ports/libiconv/clang-fortify.patch
  ports/libiconv/portfile.cmake
  ports/libiconv/vcpkg.json
  versions/baseline.json
  versions/l-/libiconv.json
Labels: info:internal, category:port-update, info:reviewed

#43714 [babl] Revise deps, add feature
  ports/babl/portfile.cmake
  ports/babl/vcpkg.json
  versions/b-/babl.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#43853 [bw-tempdir] update to 1.0.1
  ports/bw-tempdir/portfile.cmake
  ports/bw-tempdir/vcpkg.json
  versions/b-/bw-tempdir.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43888 [gdal] Update to 3.10.2 "Gulf of Mexico"
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#43883 [lunasvg] Update to 3.2.0
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:port-update, info:reviewed

#43881 [libphonenumber] update to 8.13.55
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update, info:reviewed

#43880 [glaze] update to 4.4.2
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#43873 [sdl2-ttf] update to v2.24
  ports/sdl2-ttf/portfile.cmake
  ports/sdl2-ttf/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-ttf.json
Labels: category:port-update, info:reviewed

#43864 [simdjson] update to 3.12.2
  ports/simdjson/portfile.cmake
  ports/simdjson/vcpkg.json
  versions/baseline.json
  versions/s-/simdjson.json
Labels: category:port-update, info:reviewed

#43860 [rapidhash] update to 1.0
  ports/rapidhash/portfile.cmake
  ports/rapidhash/vcpkg.json
  versions/baseline.json
  versions/r-/rapidhash.json
Labels: category:port-update, info:reviewed

#43916 [z3] Update to 4.14.0
  ports/z3/portfile.cmake
  ports/z3/remove-flag-overrides.patch
  ports/z3/vcpkg.json
  versions/baseline.json
  versions/z-/z3.json
Labels: category:port-update, info:reviewed

#43911 [xbyak] update to 7.24
  ports/xbyak/portfile.cmake
  ports/xbyak/vcpkg.json
  versions/baseline.json
  versions/x-/xbyak.json
Labels: category:port-update, info:reviewed

#43900 [zserge-webview] update to 0.12.0
  ports/zserge-webview/portfile.cmake
  ports/zserge-webview/vcpkg.json
  versions/baseline.json
  versions/z-/zserge-webview.json
Labels: info:internal, category:port-update, info:reviewed

#43899 [daw-json-link] update to 3.30.2
  ports/daw-json-link/portfile.cmake
  ports/daw-json-link/vcpkg.json
  versions/baseline.json
  versions/d-/daw-json-link.json
Labels: category:port-update, info:reviewed

#43893 [cpp-httplib] update to 0.19.0
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#43892 [apriltag] update to 3.4.3
  ports/apriltag/portfile.cmake
  ports/apriltag/vcpkg.json
  versions/a-/apriltag.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43891 [libmupdf] Update to 1.25.4
  ports/libmupdf/portfile.cmake
  ports/libmupdf/vcpkg.json
  versions/baseline.json
  versions/l-/libmupdf.json
Labels: info:internal, category:port-update, info:reviewed

#43889 [directxmath] Update URLS to fix build error
  ports/directxmath/portfile.cmake
  ports/directxmath/vcpkg.json
  versions/baseline.json
  versions/d-/directxmath.json
Labels: category:port-bug, info:internal, info:reviewed

#43902 [babl, gexiv2] Add version major_minor
  ports/babl/portfile.cmake
  ports/babl/vcpkg.json
  ports/gexiv2/portfile.cmake
  ports/gexiv2/vcpkg.json
  versions/b-/babl.json
  versions/baseline.json
  versions/g-/gexiv2.json
Labels: category:port-feature, info:reviewed

#43887 [cudnn] fix find_library path for arm64 architecture
  ports/cudnn/FindCUDNN.cmake
  ports/cudnn/portfile.cmake
  ports/cudnn/vcpkg.json
  versions/baseline.json
  versions/c-/cudnn.json
Labels: category:port-bug, info:internal, info:reviewed

#43854 [tgui] Prevent unnecessary dependencies
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-feature, info:reviewed

#43869 [yaml-cpp] add license to the manifest
  ports/yaml-cpp/vcpkg.json
  versions/baseline.json
  versions/y-/yaml-cpp.json
Labels: category:port-feature, info:reviewed

#43870 [polyclipping] add license
  ports/polyclipping/vcpkg.json
  versions/baseline.json
  versions/p-/polyclipping.json
Labels: category:port-feature, info:reviewed

#43909 [epsilon] Deindex.
  ports/epsilon/0001-VS2015-provides-snprintf.patch
  ports/epsilon/0002-Add-CFLAGS-for-CRT-selection-and-warning-supression.patch
  ports/epsilon/0003-Fix-build-error.patch
  ports/epsilon/portfile.cmake
  ports/epsilon/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
Labels: info:internal, info:reviewed, category:infrastructure, category:code-cleanup

#43702 [vcpkg-make,icu,gettext-libintl] use vcpkg-make
  ports/gettext-libintl/portfile.cmake
  ports/gettext-libintl/vcpkg.json
  ports/icu/cleanup_msvc.patch
  ports/icu/portfile.cmake
  ports/icu/vcpkg.json
  ports/vcpkg-make/portfile.cmake
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/vcpkg_make.cmake
  ports/vcpkg-make/vcpkg_make_common.cmake
  ports/vcpkg-make/vcpkg_make_install.cmake
  versions/baseline.json
  versions/g-/gettext-libintl.json
  versions/i-/icu.json
  versions/v-/vcpkg-make.json
Labels: category:port-feature, info:reviewed

#43752 [morphologica] new port
  ports/morphologica/portfile.cmake
  ports/morphologica/vcpkg.json
  versions/baseline.json
  versions/m-/morphologica.json
Labels: category:new-port, info:reviewed

#43835 [salome-med-fichier] Fix tools
  ports/salome-med-fichier/portfile.cmake
  ports/salome-med-fichier/vcpkg.json
  versions/baseline.json
  versions/s-/salome-med-fichier.json
Labels: category:port-bug, info:internal, info:reviewed

#43913 [skia] Update to 134
  ports/skia/bentleyottmann-build.patch
  ports/skia/disable-msvc-env-setup.patch
  ports/skia/graphite.patch
  ports/skia/pdfsubsetfont-uwp.diff
  ports/skia/portfile.cmake
  ports/skia/skia-functions.cmake
  ports/skia/skia-include-string.patch
  ports/skia/skparagraph-dllexport.patch
  ports/skia/vcpkg.json
  ports/skia/vulkan-headers.patch
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-update

#43594 [ada-url] update to 3.1.0
  ports/ada-url/no-cpm.patch
  ports/ada-url/portfile.cmake
  ports/ada-url/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/ada-url.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43929 [daw-header-libraries] update to 2.123.2
  ports/daw-header-libraries/portfile.cmake
  ports/daw-header-libraries/vcpkg.json
  versions/baseline.json
  versions/d-/daw-header-libraries.json
Labels: category:port-update, info:reviewed

#43922 [sqlite3] update to 3.49.1
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, requires:all-feature-testing

#43876 [implot3d] New port
  ports/implot3d/CMakeLists.txt
  ports/implot3d/portfile.cmake
  ports/implot3d/vcpkg.json
  versions/baseline.json
  versions/i-/implot3d.json
Labels: category:new-port, info:reviewed

#43705 [sdl2] update to 2.32.0
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update

#43910 [red0124-ssp] add new port
  ports/red0124-ssp/no-fetchcontent.patch
  ports/red0124-ssp/portfile.cmake
  ports/red0124-ssp/vcpkg.json
  versions/baseline.json
  versions/r-/red0124-ssp.json
Labels: category:new-port, info:reviewed

#43850 [openh264] update to 2.6.0
  ports/openh264/portfile.cmake
  ports/openh264/vcpkg.json
  versions/baseline.json
  versions/o-/openh264.json
Labels: category:port-update

#43930 [pangolin] Update to 0.9.3
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: info:internal, category:port-update

#43932 [pangomm] Update to 2.56.1
  ports/pangomm/portfile.cmake
  ports/pangomm/vcpkg.json
  versions/baseline.json
  versions/p-/pangomm.json
Labels: info:internal, category:port-update

#43601 [libmypaint ,mypaint-brushes] new ports
  ports/libmypaint/portfile.cmake
  ports/libmypaint/vcpkg.json
  ports/mypaint-brushes/portfile.cmake
  ports/mypaint-brushes/vcpkg.json
  versions/baseline.json
  versions/l-/libmypaint.json
  versions/m-/mypaint-brushes.json
Labels: category:new-port, info:reviewed

#43768 [intrusive-shared-ptr] add new port
  ports/intrusive-shared-ptr/portfile.cmake
  ports/intrusive-shared-ptr/usage
  ports/intrusive-shared-ptr/vcpkg.json
  versions/baseline.json
  versions/i-/intrusive-shared-ptr.json
Labels: category:new-port, info:reviewed

#43948 [libslirp] Update to 4.9.0
  ports/libslirp/portfile.cmake
  ports/libslirp/vcpkg.json
  versions/baseline.json
  versions/l-/libslirp.json
Labels: info:internal, category:port-update, info:reviewed

#43946 [cimg] Update to 3.5.2
  ports/cimg/portfile.cmake
  ports/cimg/vcpkg.json
  versions/baseline.json
  versions/c-/cimg.json
Labels: info:internal, category:port-update, info:reviewed

#43953 [ncnn] Update to 20241226
  ports/ncnn/fix_uwp.patch
  ports/ncnn/portfile.cmake
  ports/ncnn/vcpkg.json
  versions/baseline.json
  versions/n-/ncnn.json
Labels: info:internal, category:port-update, info:reviewed

#43952 [avcpp] Update to 2.6.0
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#43954 [avro-c] update to 1.12.0
  ports/avro-c/avro.patch
  ports/avro-c/portfile.cmake
  ports/avro-c/vcpkg.json
  versions/a-/avro-c.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#43955 [bde] Update to 4.18.0.0
  ports/bde/portfile.cmake
  ports/bde/vcpkg.json
  versions/b-/bde.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#43957 [nghttp3] update to 1.8.0
  ports/nghttp3/portfile.cmake
  ports/nghttp3/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp3.json
Labels: category:port-update, info:reviewed

#43962 [poco] Update to 1.14.1
  ports/poco/0003-fix-dependency.patch
  ports/poco/0008-fix-mingw-compilation.patch
  ports/poco/0009-remove-libatomic-dependency.patch
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-update, info:reviewed

#43970 [crow] update to version 1.2.1.2
  ports/crow/portfile.cmake
  ports/crow/vcpkg.json
  versions/baseline.json
  versions/c-/crow.json
Labels: category:port-update, info:reviewed

#43990 [fastcdr] update to v2.2.6
  ports/fastcdr/portfile.cmake
  ports/fastcdr/vcpkg.json
  versions/baseline.json
  versions/f-/fastcdr.json
Labels: category:port-update, info:reviewed

#43992 [fltk] Update 1.3.11
  ports/fltk/fix-build-executable.patch
  ports/fltk/portfile.cmake
  ports/fltk/vcpkg.json
  versions/baseline.json
  versions/f-/fltk.json
Labels: category:port-update, info:reviewed

#43863 [gegl] Add new port
  ports/gegl/disable_tests.patch
  ports/gegl/portfile.cmake
  ports/gegl/remove_execinfo_support.patch
  ports/gegl/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gegl.json
Labels: category:new-port, info:reviewed

#43976 [libsrt] update to v1.5.4
  ports/libsrt/fix-tool.patch
  ports/libsrt/portfile.cmake
  ports/libsrt/vcpkg.json
  versions/baseline.json
  versions/l-/libsrt.json
Labels: category:port-update, info:reviewed

#43915 [asock] new port
  ports/asock/portfile.cmake
  ports/asock/vcpkg.json
  versions/a-/asock.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#44000 [directx-dxc] update to 1.8.2502
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:port-update, info:reviewed

#43997 [zydis] update to 4.1.1
  ports/zydis/portfile.cmake
  ports/zydis/vcpkg.json
  versions/baseline.json
  versions/z-/zydis.json
Labels: category:port-update, info:reviewed

#43982 [ode] Update to 0.16.6, fix, cleanup
  ports/ode/arm64-msvc.diff
  ports/ode/portfile.cmake
  ports/ode/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/o-/ode.json
Labels: category:port-bug, category:port-update, info:reviewed, category:code-cleanup

#43980 [uwebsockets] update to 20.74.0, add libdeflate feature
  ports/uwebsockets/portfile.cmake
  ports/uwebsockets/unofficial-uwebsockets-config.cmake
  ports/uwebsockets/vcpkg.json
  versions/baseline.json
  versions/u-/uwebsockets.json
Labels: category:port-feature, category:port-update, info:reviewed

#43969 [morphologica] update to v3.4.4
  ports/morphologica/portfile.cmake
  ports/morphologica/vcpkg.json
  versions/baseline.json
  versions/m-/morphologica.json
Labels: category:port-update, info:reviewed

#42850 [imgui] sdl3 bindings
  ports/imgui/CMakeLists.txt
  ports/imgui/imgui-config.cmake.in
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/i-/imgui.json
Labels: category:port-feature

#44007 [blpapi] update to 3.25.1
  ports/blpapi/portfile.cmake
  ports/blpapi/vcpkg.json
  versions/b-/blpapi.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#44006 [sentry-native] update to 0.8.0
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#44001 [quill] Update to 8.2.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed
