Repository microsoft/vcpkg, pull requests merged in 2025-09, with the labels that each got.

#47196 [opencl] Fix pkgconfig link libs
  ports/opencl/icd-loader-pkgconfig.diff
  ports/opencl/portfile.cmake
  ports/opencl/vcpkg.json
  versions/baseline.json
  versions/o-/opencl.json
Labels: category:port-bug, info:reviewed

#47041 bootstrap.sh: Fix support for non OS X / Linux systems
  scripts/bootstrap.sh
Labels: category:vcpkg-bug, requires:vcpkg-team-review

#47065 [libgossip] Add New port
  ports/libgossip/portfile.cmake
  ports/libgossip/vcpkg.json
  versions/baseline.json
  versions/l-/libgossip.json
Labels: category:new-port, info:reviewed

#47185 [openvino] update to 2025.3.0
  ports/openvino/portfile.cmake
  ports/openvino/vcpkg.json
  versions/baseline.json
  versions/o-/openvino.json
Labels: category:port-update

#47014 [structopt] Add port
  ports/structopt/0000-vendored-dependencies.patch
  ports/structopt/portfile.cmake
  ports/structopt/usage
  ports/structopt/vcpkg.json
  versions/baseline.json
  versions/s-/structopt.json
Labels: category:new-port

#47084 [mcap] Add port at v2.0.2
  ports/mcap/portfile.cmake
  ports/mcap/unofficial-mcapConfig.cmake.in
  ports/mcap/vcpkg.json
  versions/baseline.json
  versions/m-/mcap.json
Labels: category:new-port

#47357 [libkml] patch to allow build on cmake 4
  ports/libkml/fix-cmake-min-version.patch
  ports/libkml/portfile.cmake
  ports/libkml/vcpkg.json
  versions/baseline.json
  versions/l-/libkml.json
Labels: category:port-bug, info:reviewed

#47214 [libtcod] Update to 2.2.1
  ports/libtcod/portfile.cmake
  ports/libtcod/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#46951 [cadons-ctus] New port
  ports/cadons-ctus/portfile.cmake
  ports/cadons-ctus/vcpkg.json
  versions/baseline.json
  versions/c-/cadons-ctus.json
Labels: category:new-port

#47333 [vcpkg-make] Improve checks and diagnostics
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/vcpkg_make.cmake
  ports/vcpkg-make/wrappers/cl_cpp_wrapper
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-cl_cpp_wrapper/configure
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-vcpkg-make-cl_cpp_wrapper.cmake
  versions/baseline.json
  versions/v-/vcpkg-make.json
Labels: category:port-feature, info:reviewed

#45524 [vcpkg] Add platform support for Solaris and illumos
  scripts/bootstrap.sh
  scripts/buildsystems/vcpkg.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/cmake/vcpkg_configure_cmake.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/toolchains/solaris.cmake
  scripts/update-vcpkg-tool-metadata.ps1
  scripts/vcpkg-tool-metadata.txt
  triplets/community/x64-solaris.cmake
Labels: category:tool-update

#47346 [clipboardxx] update to 0.5
  ports/clipboardxx/portfile.cmake
  ports/clipboardxx/vcpkg.json
  versions/baseline.json
  versions/c-/clipboardxx.json
Labels: category:port-update, info:reviewed

#47341 [thermadiag-seq] add new port
  ports/thermadiag-seq/portfile.cmake
  ports/thermadiag-seq/vcpkg.json
  versions/baseline.json
  versions/t-/thermadiag-seq.json
Labels: category:new-port

#47027 [dawn] New port
  ports/dawn/000-fix-emdawnwebgpu.patch
  ports/dawn/001-fix-windows-build.patch
  ports/dawn/002-fix-uwp.patch
  ports/dawn/003-fix-d3d11.patch
  ports/dawn/004-deps.patch
  ports/dawn/DawnConfig.cmake
  ports/dawn/portfile.cmake
  ports/dawn/unofficial_webgpu_dawn.pc.in
  ports/dawn/usage
  ports/dawn/vcpkg.json
  ports/skia/dawn.patch
  ports/skia/graphite.patch
  ports/skia/portfile.cmake
  ports/skia/skia-functions.cmake
  ports/skia/vcpkg.json
  scripts/ci.feature.baseline.txt
  scripts/test_ports/vcpkg-ci-dawn/portfile.cmake
  scripts/test_ports/vcpkg-ci-dawn/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-dawn/project/main.cpp
  scripts/test_ports/vcpkg-ci-dawn/project/main.html
  scripts/test_ports/vcpkg-ci-dawn/project/webgpu_glfw3.cpp
  scripts/test_ports/vcpkg-ci-dawn/vcpkg.json
  scripts/test_ports/vcpkg-ci-skia/vcpkg.json
  versions/baseline.json
  versions/d-/dawn.json
  versions/s-/skia.json
Labels: category:new-port, info:reviewed

#47495 [ggml] Update, backport vulkan loader patch, restore test integrity
  ports/ggml/portfile.cmake
  ports/ggml/vcpkg.json
  ports/ggml/vulkan-loader-storage.diff
  scripts/test_ports/vcpkg-ci-ggml/portfile.cmake
  scripts/test_ports/vcpkg-ci-llama-cpp/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-llama-cpp/project/main.cxx
  scripts/test_ports/vcpkg-ci-whisper-cpp/project/main.cxx
  versions/baseline.json
  versions/g-/ggml.json
Labels: requires:vcpkg-team-review

#47309 Add VCPKG_TARGET_IS_BSD and VCPKG_HOST_IS_BSD
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/vcpkg_make_configure.cmake
  ports/vcpkg-make/vcpkg_make_install.cmake
  scripts/cmake/vcpkg_common_definitions.cmake
  scripts/cmake/vcpkg_configure_make.cmake
  scripts/ports.cmake
  versions/baseline.json
  versions/v-/vcpkg-make.json
Labels: category:vcpkg-feature, info:reviewed
