Repository microsoft/vcpkg, pull requests merged in 2025-05, with the labels that each got.

#45289 [unicorn] update to 2.1.3
  ports/unicorn/fix-build.patch
  ports/unicorn/fix-msvc-shared.patch
  ports/unicorn/portfile.cmake
  ports/unicorn/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/u-/unicorn.json
Labels: info:internal, category:port-update, info:reviewed

#45285 [fastdds] update to 3.2.2
  ports/fastdds/disable-werror.patch
  ports/fastdds/include-cstdint.patch
  ports/fastdds/portfile.cmake
  ports/fastdds/vcpkg.json
  versions/baseline.json
  versions/f-/fastdds.json
Labels: category:port-update, info:reviewed

#45221 [vcpkg-make] Fix --host and --trace (ios et al.)
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/vcpkg_make.cmake
  ports/vcpkg-make/vcpkg_make_common.cmake
  ports/vcpkg-make/vcpkg_make_install.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/portfile.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_vcpkg_make_normalize_arch.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-make.json
Labels: info:reviewed, category:tool-update

#45273 [libavif] update to 1.2.1
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/l-/libavif.json
Labels: category:port-update, info:reviewed

#45241 [ada-url] update to 3.2.4
  ports/ada-url/portfile.cmake
  ports/ada-url/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/a-/ada-url.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45287 [vcpkg baseline][many ports] Update ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#45392 [buck-yeh-bux] Update to 1.12.4
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45390 [libde265] update to 1.0.16
  ports/libde265/fix-interface-include.patch
  ports/libde265/portfile.cmake
  ports/libde265/vcpkg.json
  versions/baseline.json
  versions/l-/libde265.json
Labels: category:port-update, info:reviewed

#45389 [picosha2] update to 1.0.1
  ports/picosha2/portfile.cmake
  ports/picosha2/vcpkg.json
  versions/baseline.json
  versions/p-/picosha2.json
Labels: category:port-update, info:reviewed

#45388 [cpp-httplib] update to 0.20.1
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#45382 [libressl] Update to 4.1.0
  ports/libressl/portfile.cmake
  ports/libressl/vcpkg.json
  versions/baseline.json
  versions/l-/libressl.json
Labels: category:port-update, info:reviewed

#45376 [sdl2] update to 2.32.6
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#45371 [libdjinterop] Update to 0.26.1
  ports/libdjinterop/portfile.cmake
  ports/libdjinterop/vcpkg.json
  versions/baseline.json
  versions/l-/libdjinterop.json
Labels: category:port-update, info:reviewed

#45368 [cpu-features] update to 0.10.0
  ports/cpu-features/portfile.cmake
  ports/cpu-features/vcpkg.json
  versions/baseline.json
  versions/c-/cpu-features.json
Labels: category:port-update, info:reviewed

#45367 [luau] update to 0.672
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#45346 [atomic-queue] update to 1.6.9
  ports/atomic-queue/portfile.cmake
  ports/atomic-queue/vcpkg.json
  versions/a-/atomic-queue.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45342 [BitSerializer] Update to v0.80
  ports/bitserializer/portfile.cmake
  ports/bitserializer/usage
  ports/bitserializer/vcpkg.json
  versions/b-/bitserializer.json
  versions/baseline.json
Labels: category:port-feature, category:port-update, info:reviewed

#45330 [taskflow] Update to 3.10.0
  ports/taskflow/portfile.cmake
  ports/taskflow/vcpkg.json
  versions/baseline.json
  versions/t-/taskflow.json
Labels: category:port-update, info:reviewed

#45288 [minc] Update to 2.4.06, add test port
  ports/itk/dependencies.diff
  ports/itk/vcpkg.json
  ports/minc/avoid-try-run.diff
  ports/minc/build.patch
  ports/minc/cmake-config.patch
  ports/minc/config.patch
  ports/minc/fix-dependency-hdf5.patch
  ports/minc/portfile.cmake
  ports/minc/usage
  ports/minc/vcpkg.json
  ports/netcdf-c/portfile.cmake
  ports/netcdf-c/vcpkg.json
  scripts/ci.feature.baseline.txt
  scripts/test_ports/vcpkg-ci-minc/portfile.cmake
  scripts/test_ports/vcpkg-ci-minc/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-minc/project/main.c
  scripts/test_ports/vcpkg-ci-minc/vcpkg.json
  versions/baseline.json
  versions/i-/itk.json
  versions/m-/minc.json
  versions/n-/netcdf-c.json
Labels: category:port-update, info:reviewed

#45403 [sdl3] update to 3.2.12
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-update, info:reviewed

#45402 [minizip-ng] update to 4.0.10
  ports/minizip-ng/portfile.cmake
  ports/minizip-ng/vcpkg.json
  versions/baseline.json
  versions/m-/minizip-ng.json
Labels: category:port-update, info:reviewed

#45401 [numcpp] update to 2.14.1
  ports/numcpp/portfile.cmake
  ports/numcpp/vcpkg.json
  versions/baseline.json
  versions/n-/numcpp.json
Labels: category:port-update, info:reviewed

#45400 [simd] update to 6.1.149
  ports/simd/portfile.cmake
  ports/simd/vcpkg.json
  versions/baseline.json
  versions/s-/simd.json
Labels: category:port-update, info:reviewed

#45399 [avcpp] update to 2.7.1
  ports/avcpp/fix-pkgconfig-location.patch
  ports/avcpp/portfile.cmake
  ports/avcpp/vcpkg.json
  versions/a-/avcpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45397 [fluidsynth] update to 2.4.6
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#45396 [directx12-agility] Updated for 1.615.1 release
  ports/directx12-agility/portfile.cmake
  ports/directx12-agility/vcpkg.json
  versions/baseline.json
  versions/d-/directx12-agility.json
Labels: category:port-update, info:reviewed

#45284 [libheif] update to 1.19.8
  ports/libheif/fix-gcc8.patch
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-update, info:reviewed

#45018 [libcamera, liblttng-ust, liburcu] Add libcamera port & dependencies
  ports/libcamera/fix-absolute-paths.patch
  ports/libcamera/portfile.cmake
  ports/libcamera/vcpkg.json
  ports/liblttng-ust/portfile.cmake
  ports/liblttng-ust/vcpkg.json
  ports/liburcu/fix-assert-include.patch
  ports/liburcu/portfile.cmake
  ports/liburcu/vcpkg.json
  versions/baseline.json
  versions/l-/libcamera.json
  versions/l-/liblttng-ust.json
  versions/l-/liburcu.json
Labels: category:new-port, info:reviewed

#45338 [box2d] Test, fix linkage, normalize
  ports/box2d/crt-linkage.diff
  ports/box2d/libm.diff
  ports/box2d/portfile.cmake
  ports/box2d/usage
  ports/box2d/vcpkg.json
  scripts/test_ports/vcpkg-ci-box2d/portfile.cmake
  scripts/test_ports/vcpkg-ci-box2d/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-box2d/project/main.c
  scripts/test_ports/vcpkg-ci-box2d/vcpkg.json
  versions/b-/box2d.json
  versions/baseline.json
Labels: category:port-bug, info:reviewed

#45340 [libaec] Test and fix CMake config, add usage
  ports/libaec/cmake-config.patch
  ports/libaec/portfile.cmake
  ports/libaec/static-shared.patch
  ports/libaec/usage
  ports/libaec/vcpkg.json
  scripts/test_ports/vcpkg-ci-libaec/portfile.cmake
  scripts/test_ports/vcpkg-ci-libaec/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libaec/project/main.c
  scripts/test_ports/vcpkg-ci-libaec/vcpkg.json
  versions/baseline.json
  versions/l-/libaec.json
Labels: category:port-bug, info:reviewed

#45356 [openal-soft] Revise dependencies, cleanup
  ports/openal-soft/devendor-fmt.diff
  ports/openal-soft/pkgconfig-cxx.diff
  ports/openal-soft/portfile.cmake
  ports/openal-soft/usage
  ports/openal-soft/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-feature, info:reviewed

#45363 [pulseaudio] Move gstreamer to feature
  ports/pulseaudio/portfile.cmake
  ports/pulseaudio/vcpkg.json
  versions/baseline.json
  versions/p-/pulseaudio.json
Labels: category:port-feature, info:reviewed

#45391 [gtest] fix debug build failure
  ports/gtest/portfile.cmake
  ports/gtest/vcpkg.json
  versions/baseline.json
  versions/g-/gtest.json
Labels: category:port-bug, info:internal, info:reviewed

#45353 [qt5-base] Support SSL without OpenSSL on Windows
  ports/qt5-base/portfile.cmake
  ports/qt5-base/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
Labels: category:port-feature, info:reviewed

#45422 [cpp-kana] Update cpp kana to 1.0.1
  ports/cpp-kana/portfile.cmake
  ports/cpp-kana/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-kana.json
Labels: category:port-update, info:reviewed

#45420 [xtensor-blas] Update to version 0.22
  ports/xtensor-blas/portfile.cmake
  ports/xtensor-blas/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor-blas.json
Labels: category:port-update, info:reviewed

#45418 [glaze] update to 5.2.0
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#45354 [libheif] Make gdk-pixbuf optional
  ports/libheif/gdk-pixbuf.patch
  ports/libheif/portfile.cmake
  ports/libheif/vcpkg.json
  versions/baseline.json
  versions/l-/libheif.json
Labels: category:port-feature, info:reviewed

#45369 [sqlitemap] add new port
  ports/bw-sqlitemap/portfile.cmake
  ports/bw-sqlitemap/usage
  ports/bw-sqlitemap/vcpkg.json
  versions/b-/bw-sqlitemap.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#45364 [fluidsynth,libsndfile] Fix deps on opensles, pulseaudio, libmp3lame
  ports/fluidsynth/pkgconfig-opensles.diff
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/usage
  ports/fluidsynth/vcpkg.json
  ports/libsndfile/mp3lame-static.diff
  ports/libsndfile/portfile.cmake
  ports/libsndfile/vcpkg.json
  scripts/ci.feature.baseline.txt
  scripts/test_ports/vcpkg-ci-fluidsynth/portfile.cmake
  scripts/test_ports/vcpkg-ci-fluidsynth/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-fluidsynth/project/main.c
  scripts/test_ports/vcpkg-ci-fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
  versions/l-/libsndfile.json
Labels: category:port-feature, category:port-bug, info:reviewed

#45395 [kleidiai] Add new port
  ports/kleidiai/portfile.cmake
  ports/kleidiai/vcpkg.json
  versions/baseline.json
  versions/k-/kleidiai.json
Labels: category:new-port, info:reviewed

#43722 [gobject-introspection] Add test port, revise
  ports/aravis/portfile.cmake
  ports/aravis/vcpkg.json
  ports/atk/portfile.cmake
  ports/atk/vcpkg.json
  ports/gdk-pixbuf/portfile.cmake
  ports/gdk-pixbuf/vcpkg.json
  ports/gobject-introspection/0001-g-ir-tool-template.in.patch
  ports/gobject-introspection/0002-cross-build.patch
  ports/gobject-introspection/0003-fix-paths.patch
  ports/gobject-introspection/portfile.cmake
  ports/gobject-introspection/vcpkg-port-config.cmake
  ports/gobject-introspection/vcpkg.json
  ports/graphene/portfile.cmake
  ports/graphene/vcpkg.json
  ports/gtk/portfile.cmake
  ports/gtk/vcpkg.json
  ports/gtk3/portfile.cmake
  ports/gtk3/vcpkg.json
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/vcpkg.json
  ports/pango/portfile.cmake
  ports/pango/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  scripts/test_ports/vcpkg-ci-gobject-introspection/portfile.cmake
  scripts/test_ports/vcpkg-ci-gobject-introspection/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-gobject-introspection/project/main.c
  scripts/test_ports/vcpkg-ci-gobject-introspection/vcpkg.json
  versions/a-/aravis.json
  versions/a-/atk.json
  versions/baseline.json
  versions/g-/gdk-pixbuf.json
  versions/g-/gobject-introspection.json
  versions/g-/graphene.json
  versions/g-/gtk.json
  versions/g-/gtk3.json
  versions/h-/harfbuzz.json
  versions/p-/pango.json
Labels: category:port-update, requires:vcpkg-team-review

#45438 [libphonenumber] update to 9.0.5
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update, info:reviewed

#45434 [vladimirshaleev-ipaddress] Update to 1.2.0
  ports/vladimirshaleev-ipaddress/portfile.cmake
  ports/vladimirshaleev-ipaddress/vcpkg.json
  versions/baseline.json
  versions/v-/vladimirshaleev-ipaddress.json
Labels: category:port-update, info:reviewed

#45431 [protopuf] update to 3.1.0
  ports/protopuf/portfile.cmake
  ports/protopuf/vcpkg.json
  versions/baseline.json
  versions/p-/protopuf.json
Labels: category:port-update, info:reviewed

#45430 [folly related] update to 05.05
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#45290 [faudio] update to 25.04
  ports/faudio/portfile.cmake
  ports/faudio/vcpkg.json
  versions/baseline.json
  versions/f-/faudio.json
Labels: category:port-update, info:reviewed

#44961 Updated linux bash completion
  scripts/vcpkg_completion.bash
Labels: info:reviewed, category:tool-update

#45441 [vcpkg baseline][libheif] REMOVE FROM FAIL LIST
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#45427 [barkeep] add new port
  ports/barkeep/portfile.cmake
  ports/barkeep/vcpkg.json
  versions/b-/barkeep.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#45474 [luau] update to 0.673
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#45467 [benchmark] Update to 1.9.3
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45466 [libdeflate] Update to 1.2.4
  ports/libdeflate/portfile.cmake
  ports/libdeflate/vcpkg.json
  versions/baseline.json
  versions/l-/libdeflate.json
Labels: category:port-update, info:reviewed

#45465 [simonbrunel-qtpromise] Disable building unit tests
  ports/simonbrunel-qtpromise/portfile.cmake
  ports/simonbrunel-qtpromise/vcpkg.json
  versions/baseline.json
  versions/s-/simonbrunel-qtpromise.json
Labels: category:port-feature, info:reviewed

#45456 [spdlog] update to 1.15.3
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-update, info:reviewed

#45449 [ftxui] update to 6.1.9
  ports/ftxui/portfile.cmake
  ports/ftxui/vcpkg.json
  versions/baseline.json
  versions/f-/ftxui.json
Labels: category:port-update, info:reviewed

#45276 [hdf5] Update to 1.14.6
  ports/hdf5/add-_Float16-type-on-aarch64.patch
  ports/hdf5/hdf5_config.patch
  ports/hdf5/pkgconfig-requires.patch
  ports/hdf5/pkgconfig.patch
  ports/hdf5/portfile.cmake
  ports/hdf5/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/h-/hdf5.json
Labels: category:port-bug, category:port-update, info:reviewed

#45393 [gul17] Add new port
  ports/gul17/portfile.cmake
  ports/gul17/vcpkg.json
  versions/baseline.json
  versions/g-/gul17.json
Labels: category:new-port, info:reviewed

#45462 Facilitate testing of vcpkg-tool PRs
  scripts/azure-pipelines/bootstrap-from-source.sh
  scripts/azure-pipelines/windows/bootstrap-from-source.cmd
Labels: info:reviewed, category:infrastructure

#45479 [mpfr] update to 4.2.2
  ports/mpfr/portfile.cmake
  ports/mpfr/vcpkg.json
  versions/baseline.json
  versions/m-/mpfr.json
Labels: category:port-update, info:reviewed

#45476 [arcticdb-sparrow] Update 0.8.0
  ports/arcticdb-sparrow/portfile.cmake
  ports/arcticdb-sparrow/vcpkg.json
  versions/a-/arcticdb-sparrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45490 [libavif] update to 1.3.0
  ports/libavif/portfile.cmake
  ports/libavif/vcpkg.json
  versions/baseline.json
  versions/l-/libavif.json
Labels: category:port-update, info:reviewed

#45486 [opentelemetry-cpp-contrib-version] Update to 2025-05-12
  ports/opentelemetry-cpp-contrib-version/vcpkg-port-config.cmake
  ports/opentelemetry-cpp-contrib-version/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp-contrib-version.json
Labels: category:port-update, info:reviewed

#45484 [tree-sitter] update to 0.25.4
  ports/tree-sitter/portfile.cmake
  ports/tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter.json
Labels: category:port-update, info:reviewed

#45483 [clipper2] update to 1.5.3
  ports/clipper2/portfile.cmake
  ports/clipper2/vcpkg.json
  versions/baseline.json
  versions/c-/clipper2.json
Labels: category:port-update, info:reviewed

#45455 [jsonnet] update to 0.21.0
  ports/jsonnet/0003-use-upstream-nlohmann-json.patch
  ports/jsonnet/0004-incorporate-md5.patch
  ports/jsonnet/0005-use-upstream-rapidyaml.patch
  ports/jsonnet/001-enable-msvc.patch
  ports/jsonnet/002-fix-dependency-and-install.patch
  ports/jsonnet/portfile.cmake
  ports/jsonnet/vcpkg.json
  versions/baseline.json
  versions/j-/jsonnet.json
Labels: category:port-update, info:reviewed

#45432 [sqlite3] update to 3.49.2
  ports/sqlite3/CMakeLists.txt
  ports/sqlite3/portfile.cmake
  ports/sqlite3/vcpkg.json
  versions/baseline.json
  versions/s-/sqlite3.json
Labels: category:port-update, info:reviewed

#45487 [kf5-coreaddons] Depend only on qt5-base core feature
  ports/kf5coreaddons/vcpkg.json
  versions/baseline.json
  versions/k-/kf5coreaddons.json
Labels: category:port-feature, info:reviewed

#45468 [opencv4] Fix pkgconfig file with freetype feature
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  versions/baseline.json
  versions/o-/opencv4.json
Labels: category:port-bug, info:reviewed

#45300 [itk] Update to 5.4.3
  ports/itk/msvc-static-crt.diff
  ports/itk/portfile.cmake
  ports/itk/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/i-/itk.json
Labels: category:port-bug, category:port-update

#45429 [rapidobj] add new port
  ports/rapidobj/fix-build.patch
  ports/rapidobj/portfile.cmake
  ports/rapidobj/vcpkg.json
  versions/baseline.json
  versions/r-/rapidobj.json
Labels: category:new-port, info:reviewed

#45506 [Ncnn] update v20250503
  ports/ncnn/portfile.cmake
  ports/ncnn/vcpkg.json
  versions/baseline.json
  versions/n-/ncnn.json
Labels: category:port-update, info:reviewed

#45500 [libmypaint] Disable introspection.
  ports/libmypaint/portfile.cmake
  ports/libmypaint/vcpkg.json
  versions/baseline.json
  versions/l-/libmypaint.json
Labels: category:port-bug, info:reviewed

#45501 [elfutils] Update to 0.193, add to libcamera deps
  ports/elfutils/link-libs.diff
  ports/elfutils/portfile.cmake
  ports/elfutils/rpath-link.diff
  ports/elfutils/vcpkg.json
  ports/libcamera/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/e-/elfutils.json
  versions/l-/libcamera.json
Labels: category:port-bug, category:port-update, info:reviewed

#45344 [vcpkg scripts] Improve vcpkg_find_acquire_program GN and tests
  scripts/cmake/vcpkg_find_acquire_program(GN).cmake
  scripts/test_ports/vcpkg-find-acquire-program/portfile.cmake
Labels: info:reviewed, category:tool-update

#45090 [unimail-cpp-sdk] request new port (#45089)
  ports/unimail-cpp-sdk/portfile.cmake
  ports/unimail-cpp-sdk/usage
  ports/unimail-cpp-sdk/vcpkg.json
  versions/baseline.json
  versions/u-/unimail-cpp-sdk.json
Labels: category:new-port, info:reviewed

#45478 [grpc] Fix build upb sources
  ports/grpc/00017-add-src-upb.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-bug, info:reviewed

#45222 [fftw3] add neon support
  ports/fftw3/neon.patch
  ports/fftw3/portfile.cmake
  ports/fftw3/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/f-/fftw3.json
Labels: category:port-feature, info:reviewed

#45503 [vcpkg baseline][libheif] REMOVE FROM FAIL LIST
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#45443 [libpng] update to 1.6.47
  ports/libpng/portfile.cmake
  ports/libpng/vcpkg.json
  versions/baseline.json
  versions/l-/libpng.json
Labels: category:port-update

#45153 [gdal] Update to 3.11.0
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  ports/gz-common/gdal-3.11.diff
  ports/gz-common/portfile.cmake
  ports/gz-common/vcpkg.json
  ports/osgearth/portfile.cmake
  ports/osgearth/vcpkg.json
  ports/pdal/cmake-project-include.cmake
  ports/pdal/gdal-3.11.diff
  ports/pdal/portfile.cmake
  ports/pdal/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/g-/gdal.json
  versions/g-/gz-common.json
  versions/o-/osgearth.json
  versions/p-/pdal.json
Labels: category:port-update

#45244 [arrow] Update to 20.0.0
  ports/arrow/0002-thrift.patch
  ports/arrow/0002-utf8proc.patch
  ports/arrow/0003-android-musl.patch
  ports/arrow/0004-android-datetime.patch
  ports/arrow/0005-cmake-msvcruntime.patch
  ports/arrow/0007-fix-path.patch
  ports/arrow/0008-arrow-parquet-size-statistics-include.patch
  ports/arrow/portfile.cmake
  ports/arrow/vcpkg.json
  ports/rerun-sdk/arrow-20-fix.diff
  ports/rerun-sdk/portfile.cmake
  ports/rerun-sdk/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/a-/arrow.json
  versions/baseline.json
  versions/r-/rerun-sdk.json
Labels: category:port-update, info:reviewed

#45258 [ned14-internal-quickcpplib] fix install
  ports/ned14-internal-quickcpplib/fix-list_filter.patch
  ports/ned14-internal-quickcpplib/portfile.cmake
  ports/ned14-internal-quickcpplib/vcpkg.json
  versions/baseline.json
  versions/n-/ned14-internal-quickcpplib.json
Labels: category:port-bug, info:reviewed

#45134 [gstreamer,libde265,libmodplug,wildmidi] Revise gstreamer features, fix pkgconfig
  ports/gstreamer/duplicate-unused.diff
  ports/gstreamer/fix-clang-cl-bad.patch
  ports/gstreamer/fix-clang-cl-base.patch
  ports/gstreamer/fix-clang-cl-good.patch
  ports/gstreamer/fix-clang-cl-gstreamer.patch
  ports/gstreamer/fix-clang-cl-ugly.patch
  ports/gstreamer/fix-clang-cl.patch
  ports/gstreamer/gstreamer-disable-no-unused.patch
  ports/gstreamer/no-downloads.patch
  ports/gstreamer/plugin-base-disable-no-unused.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/srtp_fix.patch
  ports/gstreamer/vcpkg.json
  ports/gstreamer/x264-api-imports.diff
  ports/libde265/pkgconfig-cxx-linkage.diff
  ports/libde265/portfile.cmake
  ports/libde265/vcpkg.json
  ports/libmodplug/001-automagically-define-modplug-static.patch
  ports/libmodplug/portfile.cmake
  ports/libmodplug/vcpkg.json
  ports/wildmidi/portfile.cmake
  ports/wildmidi/vcpkg.json
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/g-/gstreamer.json
  versions/l-/libde265.json
  versions/l-/libmodplug.json
  versions/w-/wildmidi.json
Labels: category:port-feature, category:port-bug, info:reviewed, category:infrastructure

#45527 [libxlsxwriter] add features
  ports/libxlsxwriter/portfile.cmake
  ports/libxlsxwriter/vcpkg.json
  versions/baseline.json
  versions/l-/libxlsxwriter.json
Labels: category:port-feature

#43410 [nanojsonc] update 1.2.0
  ports/nanojsonc/portfile.cmake
  ports/nanojsonc/vcpkg.json
  versions/baseline.json
  versions/n-/nanojsonc.json
Labels: category:port-update

#45458 [abseil] Add feature "test-helpers"
  ports/abseil/portfile.cmake
  ports/abseil/vcpkg.json
  versions/a-/abseil.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed, requires:vcpkg-team-review

#45440 [cmark-gfm] Add port
  ports/cmark-gfm/add-feature-tools.patch
  ports/cmark-gfm/portfile.cmake
  ports/cmark-gfm/vcpkg.json
  versions/baseline.json
  versions/c-/cmark-gfm.json
Labels: category:new-port, info:reviewed, requires:vcpkg-team-review

#45542 [foonathan-memory] Update to 0.7-4
  ports/fastdds/portfile.cmake
  ports/fastdds/vcpkg.json
  ports/foonathan-memory/config-debug.diff
  ports/foonathan-memory/config_impl.hpp
  ports/foonathan-memory/fix-foonathan-memory-include-install-dir.patch
  ports/foonathan-memory/portfile.cmake
  ports/foonathan-memory/vcpkg.json
  versions/baseline.json
  versions/f-/fastdds.json
  versions/f-/foonathan-memory.json
Labels: category:port-update, info:reviewed

#45539 [pcapplusplus] Bump to 25.05
  ports/pcapplusplus/0001-warn-STL4043-for-v23.09.patch
  ports/pcapplusplus/portfile.cmake
  ports/pcapplusplus/vcpkg.json
  versions/baseline.json
  versions/p-/pcapplusplus.json
Labels: category:port-update, info:reviewed

#45536 [ncurses] fix compilation error on gcc15
  ports/ncurses/portfile.cmake
  ports/ncurses/vcpkg.json
  versions/baseline.json
  versions/n-/ncurses.json
Labels: category:port-bug, info:reviewed

#42917 [libtorch] remove cuda from default features
  ports/libtorch/vcpkg.json
  versions/baseline.json
  versions/l-/libtorch.json
Labels: category:port-feature, info:internal, info:reviewed

#45575 [libqglviewer] No android support
  ports/libqglviewer/vcpkg.json
  versions/baseline.json
  versions/l-/libqglviewer.json
Labels: category:port-feature, info:reviewed

#45543 [gstreamer,gst-rtsp-server] Update to 1.26.1
  ports/gst-rtsp-server/portfile.cmake
  ports/gst-rtsp-server/vcpkg.json
  ports/gstreamer/fix-bz2-windows-debug-dependency.patch
  ports/gstreamer/fix-clang-cl.patch
  ports/gstreamer/portfile.cmake
  ports/gstreamer/vcpkg.json
  ports/gstreamer/x264-api-imports.diff
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/g-/gst-rtsp-server.json
  versions/g-/gstreamer.json
Labels: category:port-update, info:reviewed

#45572 [sdl3] update to 3.2.14
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-update, info:reviewed

#45566 [manifold] update to 3.1.0
  ports/manifold/portfile.cmake
  ports/manifold/vcpkg.json
  versions/baseline.json
  versions/m-/manifold.json
Labels: category:port-update, info:reviewed

#45565 [mlpack] update to 4.6.1
  ports/mlpack/portfile.cmake
  ports/mlpack/vcpkg.json
  versions/baseline.json
  versions/m-/mlpack.json
Labels: category:port-update, info:reviewed

#45564 [libigl] update to 2.6.0
  ports/libigl/dependencies.patch
  ports/libigl/portfile.cmake
  ports/libigl/vcpkg.json
  versions/baseline.json
  versions/l-/libigl.json
Labels: category:port-update, info:reviewed

#45563 [plist] update to 2.7.0
  ports/libplist/001_fix_static_build.patch
  ports/libplist/002_fix_api.patch
  ports/libplist/003_fix_msvc.patch
  ports/libplist/004_fix_tools_msvc.patch
  ports/libplist/CMakeLists.txt
  ports/libplist/portfile.cmake
  ports/libplist/vcpkg.json
  versions/baseline.json
  versions/l-/libplist.json
Labels: category:port-update, info:reviewed

#45557 [libnick] Update to 2025.5.3
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#45550 [glaze] update to 5.2.1
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#45551 [dlib] update to 19.24.9
  ports/dlib/portfile.cmake
  ports/dlib/vcpkg.json
  versions/baseline.json
  versions/d-/dlib.json
Labels: category:port-update, info:reviewed

#45555 [libmodbus] Update to 3.1.11, official build system
  ports/libmodbus/CMakeLists.txt
  ports/libmodbus/cflags.diff
  ports/libmodbus/config.h.cmake
  ports/libmodbus/fix-static-linkage.patch
  ports/libmodbus/libmodbusConfig.cmake
  ports/libmodbus/library-linkage.diff
  ports/libmodbus/pkgconfig.diff
  ports/libmodbus/portfile.cmake
  ports/libmodbus/ssize_t.diff
  ports/libmodbus/vcpkg.json
  scripts/test_ports/vcpkg-ci-libmodbus/portfile.cmake
  scripts/test_ports/vcpkg-ci-libmodbus/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libmodbus/project/main.c
  scripts/test_ports/vcpkg-ci-libmodbus/vcpkg.json
  versions/baseline.json
  versions/l-/libmodbus.json
Labels: category:port-feature, category:port-update, info:reviewed

#45568 [fastdds] Fix dependencies
  ports/fastdds/fix-deps.patch
  ports/fastdds/fix-find-package-asio.patch
  ports/fastdds/portfile.cmake
  ports/fastdds/vcpkg.json
  versions/baseline.json
  versions/f-/fastdds.json
Labels: category:port-bug, info:reviewed

#45377 [poco] Add more features for poco library
  ports/3fd/vcpkg.json
  ports/poco/0009-fix-zip-to-xml-dependency.patch
  ports/poco/portfile.cmake
  ports/poco/vcpkg.json
  versions/3-/3fd.json
  versions/baseline.json
  versions/p-/poco.json
Labels: category:port-feature

#45593 [benchmark] Update to 1.9.4
  ports/benchmark/portfile.cmake
  ports/benchmark/vcpkg.json
  versions/b-/benchmark.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#45586 [luau] update to 0.674
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#45579 [libxslt] update to 1.1.43
  ports/libxslt/portfile.cmake
  ports/libxslt/vcpkg.json
  versions/baseline.json
  versions/l-/libxslt.json
Labels: category:port-update, info:reviewed

#45522 Patch Tuesday for May 2025
  ports/qtwebengine/nested-name-fix.patch
  ports/qtwebengine/portfile.cmake
  ports/qtwebengine/vcpkg.json
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/linux/Dockerfile
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-azure-cli.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/q-/qtwebengine.json
Labels: info:internal, info:reviewed, category:infrastructure

#45607 [libpqxx] Update to 7.10.1
  ports/libpqxx/config-internal-compiler.h.in
  ports/libpqxx/config-public-compiler.h.in
  ports/libpqxx/pkgconfig.diff
  ports/libpqxx/portfile.cmake
  ports/libpqxx/vcpkg.json
  scripts/test_ports/vcpkg-ci-libpqxx/portfile.cmake
  scripts/test_ports/vcpkg-ci-libpqxx/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-libpqxx/project/main.cpp
  scripts/test_ports/vcpkg-ci-libpqxx/vcpkg.json
  versions/baseline.json
  versions/l-/libpqxx.json
Labels: category:port-update, info:reviewed, category:infrastructure

#45592 Update vcpkg-tool to 2025-05-19.
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/ci.feature.baseline.txt
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#45582 [libxml2] update to 2.13.8
  ports/libxml2/fix_ios_compilation.patch
  ports/libxml2/portfile.cmake
  ports/libxml2/vcpkg.json
  versions/baseline.json
  versions/l-/libxml2.json
Labels: category:port-update, info:reviewed

#45569 [libvpx] Fix build on systems where make is not gmake
  ports/libvpx/portfile.cmake
  ports/libvpx/vcpkg.json
  versions/baseline.json
  versions/l-/libvpx.json
Labels: category:port-bug, info:reviewed

#45630 [wolfmqtt, wolftpm] wolfMQTT version update to 1.20.0 and wolfTPM update to 3.9.1
  ports/wolfmqtt/portfile.cmake
  ports/wolfmqtt/vcpkg.json
  ports/wolftpm/portfile.cmake
  ports/wolftpm/vcpkg.json
  versions/baseline.json
  versions/w-/wolfmqtt.json
  versions/w-/wolftpm.json
Labels: category:port-update, info:reviewed

#45628 [sqlpp11] update to 0.65
  ports/sqlpp11/portfile.cmake
  ports/sqlpp11/vcpkg.json
  versions/baseline.json
  versions/s-/sqlpp11.json
Labels: category:port-update, info:reviewed

#45627 [roaring] update to 4.3.2
  ports/roaring/portfile.cmake
  ports/roaring/vcpkg.json
  versions/baseline.json
  versions/r-/roaring.json
Labels: category:port-update, info:reviewed

#45626 [ctre] update to 3.10.0
  ports/ctre/portfile.cmake
  ports/ctre/vcpkg.json
  versions/baseline.json
  versions/c-/ctre.json
Labels: category:port-update, info:reviewed

#45621 [folly related] update to 05.19
  ports/cachelib/portfile.cmake
  ports/cachelib/vcpkg.json
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/remove-register.patch
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/c-/cachelib.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#45620 [simdutf] update to 7.1.0
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/simdutf.json
Labels: category:port-update, info:reviewed

#45619 [frugally-deep] update to 0.18.2
  ports/frugally-deep/portfile.cmake
  ports/frugally-deep/vcpkg.json
  versions/baseline.json
  versions/f-/frugally-deep.json
Labels: category:port-update, info:reviewed

#45616 [glib] update to 2.84.1
  ports/glib/portfile.cmake
  ports/glib/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
Labels: category:port-update, info:reviewed

#45585 [lunasvg] update to 3.3.0
  ports/lunasvg/fix-plutovg.patch
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:port-update, info:reviewed

#42080 [qt] Enable android
  ports/qtbase/cmake/qt_install_submodule.cmake
  ports/qtbase/portfile.cmake
  ports/qtbase/vcpkg.json
  ports/vcpkg-qmake/vcpkg.json
  ports/vcpkg-qmake/vcpkg_qmake_configure.cmake
  scripts/ci.baseline.txt
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/q-/qtbase.json
  versions/v-/vcpkg-qmake.json
Labels: category:port-feature, info:reviewed

#45643 [rapidhash] update to 2.2
  ports/rapidhash/portfile.cmake
  ports/rapidhash/vcpkg.json
  versions/baseline.json
  versions/r-/rapidhash.json
Labels: category:port-update, info:reviewed

#45636 [libdwarf] update to 2.0.0
  ports/libdwarf/portfile.cmake
  ports/libdwarf/vcpkg.json
  versions/baseline.json
  versions/l-/libdwarf.json
Labels: category:port-update, info:reviewed

#45633 [ijg-libjpeg] update to 9f
  ports/ijg-libjpeg/CMakeLists.txt
  ports/ijg-libjpeg/portfile.cmake
  ports/ijg-libjpeg/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/i-/ijg-libjpeg.json
Labels: category:port-update, info:reviewed

#45026 [spimpl] Add spimpl port
  ports/spimpl/portfile.cmake
  ports/spimpl/unofficial-spimpl-config.cmake
  ports/spimpl/vcpkg.json
  versions/baseline.json
  versions/s-/spimpl.json
Labels: category:new-port, info:reviewed

#45573 [giflib,libpq]: Fix wrappers and libpq[nls](windows)
  ports/giflib/vcpkg-cmake-wrapper.cmake
  ports/giflib/vcpkg.json
  ports/libpq/portfile.cmake
  ports/libpq/vcpkg-cmake-wrapper.cmake
  ports/libpq/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/g-/giflib.json
  versions/l-/libpq.json
Labels: category:port-feature, info:reviewed

#45657 [etl] update to 20.41.0
  ports/etl/portfile.cmake
  ports/etl/vcpkg.json
  versions/baseline.json
  versions/e-/etl.json
Labels: category:port-update, info:reviewed

#45661 [kerbal] update to v2025.5.1
  ports/kerbal/portfile.cmake
  ports/kerbal/vcpkg.json
  versions/baseline.json
  versions/k-/kerbal.json
Labels: category:port-update, info:reviewed

#45684 [libunwind] update to 1.8.2
  ports/libunwind/portfile.cmake
  ports/libunwind/vcpkg.json
  versions/baseline.json
  versions/l-/libunwind.json
Labels: category:port-update, info:reviewed

#45695 [dav1d] update to 1.5.1
  ports/dav1d/portfile.cmake
  ports/dav1d/vcpkg.json
  versions/baseline.json
  versions/d-/dav1d.json
Labels: category:port-update, info:reviewed

#45612 [gsl-lite, telnetpp] Update to v1.0.1 and v4.0.0, respectively
  ports/gsl-lite/portfile.cmake
  ports/gsl-lite/usage
  ports/gsl-lite/vcpkg.json
  ports/telnetpp/portfile.cmake
  ports/telnetpp/vcpkg.json
  versions/baseline.json
  versions/g-/gsl-lite.json
  versions/t-/telnetpp.json
Labels: category:port-update, info:reviewed

#45618 [blickfeld-qb2] Add new port
  ports/blickfeld-qb2/portfile.cmake
  ports/blickfeld-qb2/usage
  ports/blickfeld-qb2/vcpkg.json
  versions/b-/blickfeld-qb2.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#45658 [cairo] Do not set ENV{CPP}
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug, info:reviewed

#45667 [glaze] update to 5.3.0
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#45688 [libassuan] update to 3.0.2
  ports/libassuan/portfile.cmake
  ports/libassuan/upstream-69069bc.diff
  ports/libassuan/vcpkg.json
  versions/baseline.json
  versions/l-/libassuan.json
Labels: category:port-update, info:reviewed

#45710 [intx] add new port
  ports/intx/portfile.cmake
  ports/intx/vcpkg.json
  versions/baseline.json
  versions/i-/intx.json
Labels: category:new-port, info:reviewed

#45714 [tesseract] update to 5.5.1
  ports/tesseract/portfile.cmake
  ports/tesseract/vcpkg.json
  versions/baseline.json
  versions/t-/tesseract.json
Labels: category:port-update, info:reviewed

#45723 [cxxopts] update to 3.3.1
  ports/cxxopts/portfile.cmake
  ports/cxxopts/vcpkg.json
  versions/baseline.json
  versions/c-/cxxopts.json
Labels: category:port-update, info:reviewed

#45724 [whisper-cpp] add new port
  ports/whisper-cpp/0001-ggml-alias.patch
  ports/whisper-cpp/portfile.cmake
  ports/whisper-cpp/vcpkg.json
  versions/baseline.json
  versions/w-/whisper-cpp.json
Labels: category:new-port, info:reviewed

#45717 [cmake-user] Test imported targets, fix user toolchain setup
  scripts/ci.baseline.txt
  scripts/test_ports/cmake-user/portfile.cmake
  scripts/test_ports/cmake-user/project/CMakeLists.txt
  scripts/test_ports/cmake-user/vcpkg.json
Labels: info:reviewed, category:tool-update

#45696 [curl] Update to 8.14.0
  ports/curl/cmake-config.patch
  ports/curl/dependencies.patch
  ports/curl/export-components.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg-cmake-wrapper.cmake
  ports/curl/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#45655 [unit-test-cmake,vcpkg-make] Fixes, more triplet checks
  scripts/test_ports/unit-test-cmake/test-macros.cmake
  scripts/test_ports/unit-test-cmake/test-z_vcpkg_setup_pkgconfig_path.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_adapt_lib_link_names.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_vcpkg_make_get_configure_triplets.cmake
Labels: info:reviewed, category:tool-update
