Repository microsoft/vcpkg, pull requests merged in 2025-04, with the labels that each got.

#44725 [qlementine] Update 1.2.0
  ports/qlementine/portfile.cmake
  ports/qlementine/vcpkg.json
  versions/baseline.json
  versions/q-/qlementine.json
Labels: category:port-update, info:reviewed

#44724 [qlementine-icons] Update to 1.8.0
  ports/qlementine-icons/portfile.cmake
  ports/qlementine-icons/vcpkg.json
  versions/baseline.json
  versions/q-/qlementine-icons.json
Labels: category:port-update, info:reviewed

#44710 [spdlog] update to 1.15.2
  ports/spdlog/portfile.cmake
  ports/spdlog/vcpkg.json
  versions/baseline.json
  versions/s-/spdlog.json
Labels: category:port-update, info:reviewed

#44705 [robin-map] Update to 1.4.0
  ports/robin-map/portfile.cmake
  ports/robin-map/vcpkg.json
  versions/baseline.json
  versions/r-/robin-map.json
Labels: category:port-update, info:reviewed

#44704 [audioengine] Update to 1.2
  ports/audioengine/portfile.cmake
  ports/audioengine/vcpkg.json
  versions/a-/audioengine.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44703 [ftxui] Update to 6.0.2
  ports/ftxui/portfile.cmake
  ports/ftxui/vcpkg.json
  versions/baseline.json
  versions/f-/ftxui.json
Labels: category:port-update, info:reviewed

#44700 [fastlz] update minimum required cmake version
  ports/fastlz/CMakeLists.txt
  ports/fastlz/vcpkg.json
  versions/baseline.json
  versions/f-/fastlz.json
Labels: category:port-bug, info:reviewed

#44696 [openal-soft] Update to 1.24.3
  ports/openal-soft/portfile.cmake
  ports/openal-soft/vcpkg.json
  versions/baseline.json
  versions/o-/openal-soft.json
Labels: category:port-update, info:reviewed

#44694 [liblzma] update to 5.8.0
  ports/liblzma/build-tools.patch
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-update, info:reviewed

#44688 [xlnt] Update to version 1.6.0
  ports/xlnt/fix-configure-dependencies.patch
  ports/xlnt/fix-missing-include.patch
  ports/xlnt/portfile.cmake
  ports/xlnt/static-linking-for-windows.patch
  ports/xlnt/usage
  ports/xlnt/vcpkg.json
  versions/baseline.json
  versions/x-/xlnt.json
Labels: category:port-update, info:reviewed

#44687 [buck-yeh-bux] Update to 1.12.1
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44683 [tree-sitter] Update; Use upstream CMakeLists
  ports/tree-sitter/CMakeLists.txt
  ports/tree-sitter/pkgconfig.diff
  ports/tree-sitter/portfile.cmake
  ports/tree-sitter/unofficial-cmake.diff
  ports/tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter.json
Labels: category:port-update, info:reviewed

#44680 [libarchive] Fix build with CMake 4.0
  ports/libarchive/fix-cmake-version.patch
  ports/libarchive/portfile.cmake
  ports/libarchive/vcpkg.json
  versions/baseline.json
  versions/l-/libarchive.json
Labels: category:port-bug, info:reviewed

#44676 [libsrtp] update to 2.7.0
  ports/libsrtp/portfile.cmake
  ports/libsrtp/vcpkg.json
  versions/baseline.json
  versions/l-/libsrtp.json
Labels: category:port-update, info:reviewed

#44675 [xtl] update to 0.8.0
  ports/xtl/fix-fixup-cmake.patch
  ports/xtl/portfile.cmake
  ports/xtl/vcpkg.json
  versions/baseline.json
  versions/x-/xtl.json
Labels: category:port-update, info:reviewed

#44672 [sentry-native] update to 0.8.3
  ports/sentry-native/fix-crashpad-wer.patch
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#44657 [libdmtx] Correct all errors encountered during of #44636
  ports/libdmtx/001-cmake-add-install-target.patch
  ports/libdmtx/portfile.cmake
  ports/libdmtx/vcpkg.json
  versions/baseline.json
  versions/l-/libdmtx.json
Labels: category:port-update, info:reviewed

#44514 [mongo-c-driver] [libbson] update to 1.30.2
  ports/libbson/portfile.cmake
  ports/libbson/vcpkg.json
  ports/mongo-c-driver/portfile.cmake
  ports/mongo-c-driver/vcpkg.json
  versions/baseline.json
  versions/l-/libbson.json
  versions/m-/mongo-c-driver.json
Labels: category:port-update, info:reviewed

#44447 [irsdkcpp] Add new port
  ports/irsdkcpp/portfile.cmake
  ports/irsdkcpp/usage
  ports/irsdkcpp/vcpkg.json
  versions/baseline.json
  versions/i-/irsdkcpp.json
Labels: category:new-port, info:reviewed

#44685 [cmake] Update test port to 4.0.0
  scripts/test_ports/cmake/curl.diff
  scripts/test_ports/cmake/fix-dependency-libuv.patch
  scripts/test_ports/cmake/portfile.cmake
  scripts/test_ports/cmake/vcpkg.json
Labels: info:reviewed, category:infrastructure

#44723 [azure-iot-sdk-c] LTS_03_2025
  ports/azure-c-shared-utility/portfile.cmake
  ports/azure-c-shared-utility/vcpkg.json
  ports/azure-iot-sdk-c/portfile.cmake
  ports/azure-iot-sdk-c/vcpkg.json
  ports/azure-uamqp-c/portfile.cmake
  ports/azure-uamqp-c/vcpkg.json
  ports/azure-uhttp-c/portfile.cmake
  ports/azure-uhttp-c/vcpkg.json
  ports/azure-umqtt-c/portfile.cmake
  ports/azure-umqtt-c/vcpkg.json
  versions/a-/azure-c-shared-utility.json
  versions/a-/azure-iot-sdk-c.json
  versions/a-/azure-uamqp-c.json
  versions/a-/azure-uhttp-c.json
  versions/a-/azure-umqtt-c.json
  versions/baseline.json
Labels: category:port-update

#43774 [glib] Update to 2.83.4
  ports/glib/0005-pr-4133-4143-avoid-package-packaging.patch
  ports/glib/portfile.cmake
  ports/glib/use-libiconv-on-windows.patch
  ports/glib/vcpkg.json
  ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/g-/glib.json
  versions/w-/wxwidgets.json
Labels: category:port-update

#44712 [scripts/get_cmake_vars][scripts/ports.cmake] fix CMake4 on OSX
  scripts/get_cmake_vars/CMakeLists.txt
  scripts/ports.cmake
Labels: category:tool-update

#44751 Update vcpkg-tool to 2025-04-01
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, info:reviewed, category:infrastructure

#44793 [xtensor] update to 0.26.0
  ports/xtensor/fix-find-tbb-and-install-destination.patch
  ports/xtensor/portfile.cmake
  ports/xtensor/vcpkg.json
  versions/baseline.json
  versions/x-/xtensor.json
Labels: category:port-update, info:reviewed

#44790 [sdformat] Remove ruby dep
  ports/sdformat/portfile.cmake
  ports/sdformat/vcpkg.json
  versions/baseline.json
  versions/s-/sdformat.json
Labels: category:port-feature, info:reviewed

#44785 [cpptrace] update to 0.8.2
  ports/cpptrace/portfile.cmake
  ports/cpptrace/vcpkg.json
  versions/baseline.json
  versions/c-/cpptrace.json
Labels: category:port-update, info:reviewed

#44782 [opentelemetry-cpp-contrib-version] Update to 2025-04-02
  ports/opentelemetry-cpp-contrib-version/vcpkg-port-config.cmake
  ports/opentelemetry-cpp-contrib-version/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp-contrib-version.json
Labels: category:port-update, info:reviewed

#44769 [quill] Update to 9.0.0
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#44767 [expat] update to 2.7.1
  ports/expat/portfile.cmake
  ports/expat/vcpkg.json
  versions/baseline.json
  versions/e-/expat.json
Labels: category:port-update, info:reviewed

#44762 [libtcod] Update to 2.1.1
  ports/libtcod/portfile.cmake
  ports/libtcod/vcpkg.json
  versions/baseline.json
  versions/l-/libtcod.json
Labels: category:port-update, info:reviewed

#44768 [arcticdb-sparrow] Update to 0.6.0
  ports/arcticdb-sparrow/portfile.cmake
  ports/arcticdb-sparrow/vcpkg.json
  scripts/ci.baseline.txt
  versions/a-/arcticdb-sparrow.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44554 [ripper37-libbase] Add new port
  ports/ripper37-libbase/01_fix_output_lib_name_conflict.patch
  ports/ripper37-libbase/02_remove_unneeded_find_dependency_calls.patch
  ports/ripper37-libbase/portfile.cmake
  ports/ripper37-libbase/usage
  ports/ripper37-libbase/vcpkg.json
  versions/baseline.json
  versions/r-/ripper37-libbase.json
Labels: category:new-port, info:reviewed

#44747 [libuuid] Fix build with CMake 4.0
  ports/libuuid/CMakeLists.txt
  ports/libuuid/vcpkg.json
  versions/baseline.json
  versions/l-/libuuid.json
Labels: category:port-bug, info:reviewed

#44658 [curl] Update to 8.13.0
  ports/curl/0005_remove_imp_suffix.patch
  ports/curl/dependencies.patch
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-update, info:reviewed

#44754 [ftgl] fix build cmake 4
  ports/ftgl/02_enable-cpp11-std.patch
  ports/ftgl/vcpkg.json
  versions/baseline.json
  versions/f-/ftgl.json
Labels: category:port-bug, info:reviewed

#44459 [ada-idna] add new port
  ports/ada-idna/install.patch
  ports/ada-idna/portfile.cmake
  ports/ada-idna/vcpkg.json
  versions/a-/ada-idna.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#44713 [gdal] new features parquet, arrow
  ports/gdal/cmake-project-include.cmake
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-feature, info:reviewed

#44753 Baseline proxygen:x64-linux.
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#44722 [sdl2] Update to 2.32.4
  ports/sdl2/fix-pipewire.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#44777 [bext-di] update to 1.3.2
  ports/bext-di/portfile.cmake
  ports/bext-di/vcpkg.json
  versions/b-/bext-di.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#43622 [OpenCV] update to 4.11
  ports/opencv/vcpkg.json
  ports/opencv4/0001-disable-downloading.patch
  ports/opencv4/0002-install-options.patch
  ports/opencv4/0003-force-package-requirements.patch
  ports/opencv4/0006-fix-uwp.patch
  ports/opencv4/0008-devendor-quirc.patch
  ports/opencv4/0012-fix-zlib.patch
  ports/opencv4/0012-miss-openexr.patch
  ports/opencv4/0014-fix-cmake-in-list.patch
  ports/opencv4/portfile.cmake
  ports/opencv4/vcpkg.json
  scripts/test_ports/vcpkg-ci-opencv/vcpkg.json
  versions/baseline.json
  versions/o-/opencv.json
  versions/o-/opencv4.json
Labels: category:port-update, info:reviewed

#44761 [tree-sitter-c,vcpkg-tool-tree-sitter] New ports
  ports/tree-sitter-c/pkgconfig.diff
  ports/tree-sitter-c/portfile.cmake
  ports/tree-sitter-c/vcpkg.json
  ports/tree-sitter-cli/portfile.cmake
  ports/tree-sitter-cli/vcpkg.json
  scripts/test_ports/vcpkg-ci-tree-sitter/portfile.cmake
  scripts/test_ports/vcpkg-ci-tree-sitter/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-tree-sitter/project/main.c
  scripts/test_ports/vcpkg-ci-tree-sitter/vcpkg.json
  versions/baseline.json
  versions/t-/tree-sitter-c.json
  versions/t-/tree-sitter-cli.json
  versions/v-/vcpkg-tool-tree-sitter.json
Labels: category:new-port, info:reviewed

#44555 [qtapplicationmanager] Features & platforms
  ports/qt/vcpkg.json
  ports/qtapplicationmanager/portfile.cmake
  ports/qtapplicationmanager/vcpkg.json
  ports/qtapplicationmanager/wrapper-fixes.patch
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/q-/qt.json
  versions/q-/qtapplicationmanager.json
Labels: category:port-feature

#44772 [wxwidgets] update to 3.2.7.
  ports/wxwidgets/install-layout.patch
  ports/wxwidgets/portfile.cmake
  ports/wxwidgets/vcpkg.json
  versions/baseline.json
  versions/w-/wxwidgets.json
Labels: category:port-update

#44378 [systemc] Update to 2.3.4
  ports/systemc/portfile.cmake
  ports/systemc/vcpkg.json
  versions/baseline.json
  versions/s-/systemc.json
Labels: category:port-update

#44667 [aws-*] Update to version 1.11.534
  ports/aws-c-auth/portfile.cmake
  ports/aws-c-auth/vcpkg.json
  ports/aws-c-cal/portfile.cmake
  ports/aws-c-cal/vcpkg.json
  ports/aws-c-common/portfile.cmake
  ports/aws-c-common/vcpkg.json
  ports/aws-c-compression/portfile.cmake
  ports/aws-c-compression/vcpkg.json
  ports/aws-c-event-stream/portfile.cmake
  ports/aws-c-event-stream/vcpkg.json
  ports/aws-c-http/portfile.cmake
  ports/aws-c-http/vcpkg.json
  ports/aws-c-io/portfile.cmake
  ports/aws-c-io/vcpkg.json
  ports/aws-c-mqtt/portfile.cmake
  ports/aws-c-mqtt/vcpkg.json
  ports/aws-c-s3/portfile.cmake
  ports/aws-c-s3/vcpkg.json
  ports/aws-c-sdkutils/portfile.cmake
  ports/aws-c-sdkutils/vcpkg.json
  ports/aws-checksums/portfile.cmake
  ports/aws-checksums/vcpkg.json
  ports/aws-crt-cpp/portfile.cmake
  ports/aws-crt-cpp/vcpkg.json
  ports/aws-sdk-cpp/portfile.cmake
  ports/aws-sdk-cpp/vcpkg.in.json
  ports/aws-sdk-cpp/vcpkg.json
  versions/a-/aws-c-auth.json
  versions/a-/aws-c-cal.json
  versions/a-/aws-c-common.json
  versions/a-/aws-c-compression.json
  versions/a-/aws-c-event-stream.json
  versions/a-/aws-c-http.json
  versions/a-/aws-c-io.json
  versions/a-/aws-c-mqtt.json
  versions/a-/aws-c-s3.json
  versions/a-/aws-c-sdkutils.json
  versions/a-/aws-checksums.json
  versions/a-/aws-crt-cpp.json
  versions/a-/aws-sdk-cpp.json
  versions/baseline.json
Labels: category:port-update

#44799 [blake3] update to version 1.8.1
  ports/blake3/portfile.cmake
  ports/blake3/vcpkg.json
  versions/b-/blake3.json
  versions/baseline.json
Labels: category:port-update

#44791 [gsasl] update to 2.2.2
  ports/gsasl/fix-windows-compilation.patch
  ports/gsasl/portfile.cmake
  ports/gsasl/remove-tests-examples-docs.patch
  ports/gsasl/vcpkg.json
  versions/baseline.json
  versions/g-/gsasl.json
Labels: category:port-update

#44787 [vcpkg-make] Fix cross-builds
  ports/vcpkg-make/vcpkg.json
  ports/vcpkg-make/vcpkg_make.cmake
  ports/vcpkg-make/vcpkg_make_common.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/portfile.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_vcpkg_make_determine_host_arch.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/test-z_vcpkg_make_get_configure_triplets.cmake
  scripts/test_ports/vcpkg-ci-vcpkg-make/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-make.json
Labels: category:infrastructure, category:tool-update

#40779 [future-config] Add new port
  ports/future-config/portfile.cmake
  ports/future-config/usage
  ports/future-config/vcpkg.json
  versions/baseline.json
  versions/f-/future-config.json
Labels: category:new-port, info:reviewed

#44679 [dlpack] update to 1.1
  ports/dlpack/portfile.cmake
  ports/dlpack/vcpkg.json
  versions/baseline.json
  versions/d-/dlpack.json
Labels: category:port-update, info:reviewed

#44845 [sciter-js] Update to 6.0.1.3
  ports/sciter-js/portfile.cmake
  ports/sciter-js/vcpkg.json
  versions/baseline.json
  versions/s-/sciter-js.json
Labels: category:port-update, info:reviewed

#44847 [vcpkg-tool-meson] Update to 1.7.2
  ports/vcpkg-tool-meson/vcpkg-port-config.cmake
  ports/vcpkg-tool-meson/vcpkg.json
  versions/baseline.json
  versions/v-/vcpkg-tool-meson.json
Labels: category:port-update, info:reviewed

#44848 [liblzma] update to 5.8.1
  ports/liblzma/portfile.cmake
  ports/liblzma/vcpkg.json
  versions/baseline.json
  versions/l-/liblzma.json
Labels: category:port-update, info:reviewed

#44855 [restinio] Update to 0.7.5
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
  versions/baseline.json
  versions/r-/restinio.json
Labels: category:port-update, info:reviewed

#44864 [simdutf] update to 6.4.2
  ports/simdutf/portfile.cmake
  ports/simdutf/vcpkg.json
  versions/baseline.json
  versions/s-/simdutf.json
Labels: category:port-update, info:reviewed

#44865 [args] update to 6.4.7
  ports/args/portfile.cmake
  ports/args/vcpkg.json
  versions/a-/args.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44867 [wt] update to 4.11.4
  ports/wt/portfile.cmake
  ports/wt/vcpkg.json
  versions/baseline.json
  versions/w-/wt.json
Labels: category:port-update, info:reviewed

#44868 [thorvg] update to 0.15.12
  ports/thorvg/portfile.cmake
  ports/thorvg/vcpkg.json
  versions/baseline.json
  versions/t-/thorvg.json
Labels: category:port-update, info:reviewed

#44870 [frugally-deep] update to 0.18.0
  ports/frugally-deep/portfile.cmake
  ports/frugally-deep/vcpkg.json
  versions/baseline.json
  versions/f-/frugally-deep.json
Labels: category:port-update, info:reviewed

#44871 [luau] update to 0.668
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#44873 [buck-yeh-bux] Update to 1.12.2
  ports/buck-yeh-bux/portfile.cmake
  ports/buck-yeh-bux/vcpkg.json
  versions/b-/buck-yeh-bux.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44857 [gz-msgs] Fix the port to allow caching of binary files in tools
  ports/gz-msgs/portfile.cmake
  ports/gz-msgs/vcpkg.json
  versions/baseline.json
  versions/g-/gz-msgs.json
Labels: category:port-bug, info:reviewed

#44859 [dartsim] remove freeglut dependency from osx
  ports/dartsim/vcpkg.json
  versions/baseline.json
  versions/d-/dartsim.json
Labels: category:port-feature, info:reviewed

#44715 [tgui] Ensures correct option when using SDL3
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-feature

#44045 [libev] The 'select' backend is available to MSVC
  ports/libev/0001-use-select-with-msvc.patch
  ports/libev/portfile.cmake
  ports/libev/vcpkg.json
  versions/baseline.json
  versions/l-/libev.json
Labels: category:port-bug

#44800 [curl] Add httpsrr and ssls-export features to curl
  ports/curl/portfile.cmake
  ports/curl/vcpkg.json
  scripts/test_ports/vcpkg-ci-curl/vcpkg.json
  versions/baseline.json
  versions/c-/curl.json
Labels: category:port-feature, info:reviewed

#44860 [cpp-exiftool] Add version 1.8.0
  ports/cpp-exiftool/CMakeLists.txt
  ports/cpp-exiftool/portfile.cmake
  ports/cpp-exiftool/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-exiftool.json
Labels: category:new-port

#44863 [commata] add new port
  ports/commata/portfile.cmake
  ports/commata/vcpkg.json
  versions/baseline.json
  versions/c-/commata.json
Labels: category:new-port, info:reviewed

#44889 [gdal] Update to 3.10.3
  ports/gdal/portfile.cmake
  ports/gdal/vcpkg.json
  versions/baseline.json
  versions/g-/gdal.json
Labels: category:port-update, info:reviewed

#44892 Update vcpkg-tool to 2025-04-07.
  scripts/vcpkg-tool-metadata.txt
Labels: info:reviewed, category:tool-update

#44720 [mimalloc] Update to 2.2.3
  ports/mimalloc/add_ref_to_page_malloc_zero.patch
  ports/mimalloc/fix-cmake.patch
  ports/mimalloc/fix-param.patch
  ports/mimalloc/portfile.cmake
  ports/mimalloc/vcpkg.json
  scripts/test_ports/vcpkg-ci-mimalloc/build-type.diff
  scripts/test_ports/vcpkg-ci-mimalloc/portfile.cmake
  scripts/test_ports/vcpkg-ci-mimalloc/vcpkg-tests.cmake
  scripts/test_ports/vcpkg-ci-mimalloc/vcpkg-tests.patch
  scripts/test_ports/vcpkg-ci-mimalloc/vcpkg.json
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: category:port-update, info:reviewed

#44898 [qlementine] Update to 1.2.2
  ports/qlementine/portfile.cmake
  ports/qlementine/vcpkg.json
  versions/baseline.json
  versions/q-/qlementine.json
Labels: category:port-update

#44275 [gz-sim] Add gz-sim port
  ports/gz-gui/portfile.cmake
  ports/gz-gui/vcpkg.json
  ports/gz-sim/cxx_flags.patch
  ports/gz-sim/dependencies.patch
  ports/gz-sim/portfile.cmake
  ports/gz-sim/vcpkg.json
  versions/baseline.json
  versions/g-/gz-gui.json
  versions/g-/gz-sim.json
Labels: category:new-port

#44854 [rerun-sdk] New port at version 0.22.1
  ports/rerun-sdk/arrow-use-built-linkage.diff
  ports/rerun-sdk/arrow-use-find-dependency.diff
  ports/rerun-sdk/portfile.cmake
  ports/rerun-sdk/usage
  ports/rerun-sdk/vcpkg.json
  versions/baseline.json
  versions/r-/rerun-sdk.json
Labels: category:new-port

#44924 [protobuf-c] update to 1.5.2
  ports/protobuf-c/portfile.cmake
  ports/protobuf-c/vcpkg.json
  versions/baseline.json
  versions/p-/protobuf-c.json
Labels: category:port-update, info:reviewed

#44918 [openssl] Update to 3.5.0
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-update, info:reviewed

#44876 [systemc] Update to version 3.0.1
  ports/systemc/portfile.cmake
  ports/systemc/vcpkg.json
  versions/baseline.json
  versions/s-/systemc.json
Labels: category:port-update

#44332 [libcopp] update to 2.3.1
  ports/libcopp/fix-x86-windows.patch
  ports/libcopp/portfile.cmake
  ports/libcopp/vcpkg.json
  versions/baseline.json
  versions/l-/libcopp.json
Labels: category:port-update

#44902 [itlib] add new port
  ports/itlib/portfile.cmake
  ports/itlib/vcpkg.json
  versions/baseline.json
  versions/i-/itlib.json
Labels: category:new-port, info:reviewed

#40996 [python3] Update to 3.12.9, drop Windows 7 support
  ports/gobject-introspection/0001-g-ir-tool-template.in.patch
  ports/gobject-introspection/0002-cross-build.patch
  ports/gobject-introspection/0003-fix-paths.patch
  ports/gobject-introspection/0004-fastcall.patch
  ports/gobject-introspection/fix-pkgconfig.patch
  ports/gobject-introspection/portfile.cmake
  ports/gobject-introspection/vcpkg.json
  ports/omniorb/portfile.cmake
  ports/omniorb/python-fixes.patch
  ports/omniorb/vcpkg.json
  ports/python3/0001-only-build-required-projects.patch
  ports/python3/0002-static-library.patch
  ports/python3/0006-restore-support-for-windows-7.patch
  ports/python3/0008-python.pc.patch
  ports/python3/0011-gcc-ldflags-fix.patch
  ports/python3/0014-fix-get-python-inc-output.patch
  ports/python3/0020-Py_NO_LINK_LIB.patch
  ports/python3/portfile.cmake
  ports/python3/vcpkg-cmake-wrapper.cmake
  ports/python3/vcpkg.json
  ports/vcpkg-get-python-packages/vcpkg.json
  ports/vcpkg-get-python-packages/x_vcpkg_get_python_packages.cmake
  scripts/test_ports/vcpkg-ci-nanobind/portfile.cmake
  scripts/test_ports/vcpkg-ci-nanobind/vcpkg.json
  versions/baseline.json
  versions/g-/gobject-introspection.json
  versions/o-/omniorb.json
  versions/p-/python3.json
  versions/v-/vcpkg-get-python-packages.json
Labels: category:port-update

#44922 Patch Tuesday for April 2025
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/patch-tuesday-checklist.md
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-azure-cli.ps1
  scripts/azure-pipelines/windows/deploy-cuda.ps1
  scripts/azure-pipelines/windows/deploy-cudnn.ps1
  scripts/azure-pipelines/windows/deploy-install-disk.ps1
  scripts/azure-pipelines/windows/deploy-pwsh.ps1
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
Labels: info:internal, info:reviewed, category:infrastructure

#44923 [dirent] update to 1.25
  ports/dirent/portfile.cmake
  ports/dirent/vcpkg.json
  versions/baseline.json
  versions/d-/dirent.json
Labels: category:port-update, info:reviewed

#41397 [fontconfig] Drop unnecessary libuuid dependency
  ports/fontconfig/vcpkg-cmake-wrapper.cmake.in
  ports/fontconfig/vcpkg.json
  versions/baseline.json
  versions/f-/fontconfig.json
Labels: info:reviewed, category:code-cleanup

#44895 [gz-msgs] Cleanup, fix cross-builds
  ports/gz-msgs/cmake-project-include.cmake
  ports/gz-msgs/portfile.cmake
  ports/gz-msgs/pthread.diff
  ports/gz-msgs/vcpkg.json
  ports/gz-transport/nanoseconds.diff
  ports/gz-transport/portfile.cmake
  ports/gz-transport/vcpkg.json
  versions/baseline.json
  versions/g-/gz-msgs.json
  versions/g-/gz-transport.json
Labels: category:port-bug, info:reviewed

#44945 [intrusive-shared-ptr] update to 1.7
  ports/intrusive-shared-ptr/portfile.cmake
  ports/intrusive-shared-ptr/vcpkg.json
  versions/baseline.json
  versions/i-/intrusive-shared-ptr.json
Labels: category:port-update, info:reviewed

#44974 [vcpkg baseline][systemc] REMOVE FROM FAIL LIST
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#44940 [libflac] update to 1.5.0
  ports/libflac/android-cmake.diff
  ports/libflac/cmake-project-include.cmake
  ports/libflac/fix-find-threads.patch
  ports/libflac/portfile.cmake
  ports/libflac/vcpkg.json
  versions/baseline.json
  versions/l-/libflac.json
Labels: category:port-update, info:reviewed

#44946 [libffi] Update to 3.4.8
  ports/libffi/portfile.cmake
  ports/libffi/usage
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-update, info:reviewed

#44957 [duckdb] update to 1.2.2
  ports/duckdb/portfile.cmake
  ports/duckdb/vcpkg.json
  versions/baseline.json
  versions/d-/duckdb.json
Labels: category:port-update, info:reviewed

#44958 [usearch] update to 2.17.6
  ports/usearch/portfile.cmake
  ports/usearch/use-vcpkg-ports.patch
  ports/usearch/vcpkg.json
  versions/baseline.json
  versions/u-/usearch.json
Labels: category:port-update, info:reviewed

#44959 [valijson] update to 1.0.5
  ports/valijson/portfile.cmake
  ports/valijson/vcpkg.json
  versions/baseline.json
  versions/v-/valijson.json
Labels: category:port-update, info:reviewed

#44960 [mysvac-jsonlib]Update to 2.1.0
  ports/mysvac-jsonlib/portfile.cmake
  ports/mysvac-jsonlib/vcpkg.json
  versions/baseline.json
  versions/m-/mysvac-jsonlib.json
Labels: category:port-update, info:reviewed

#44963 [rocksdb] update to 10.0.1
  ports/rocksdb/portfile.cmake
  ports/rocksdb/vcpkg.json
  versions/baseline.json
  versions/r-/rocksdb.json
Labels: category:port-update, info:reviewed

#44970 [lcms] Update to V2.17
  ports/lcms/portfile.cmake
  ports/lcms/vcpkg.json
  versions/baseline.json
  versions/l-/lcms.json
Labels: category:port-update

#44967 [catch2] Update to 3.8.1
  ports/catch2/portfile.cmake
  ports/catch2/vcpkg.json
  versions/baseline.json
  versions/c-/catch2.json
Labels: category:port-update

#44721 [mimalloc] Export C++ linkage in pc file
  ports/mimalloc/pkgconfig-cxx.diff
  ports/mimalloc/portfile.cmake
  ports/mimalloc/vcpkg.json
  scripts/test_ports/vcpkg-ci-mimalloc/vcpkg-tests.cmake
  versions/baseline.json
  versions/m-/mimalloc.json
Labels: category:port-bug, info:reviewed

#44478 [qt5-quick3d][qt5-quicktimeline]Qt5 quick3d and quicktimeline
  ports/qt5-base/cmake/qt_port_hashes.cmake
  ports/qt5-base/vcpkg.json
  ports/qt5-quick3d/portfile.cmake
  ports/qt5-quick3d/vcpkg.json
  ports/qt5-quicktimeline/portfile.cmake
  ports/qt5-quicktimeline/vcpkg.json
  versions/baseline.json
  versions/q-/qt5-base.json
  versions/q-/qt5-quick3d.json
  versions/q-/qt5-quicktimeline.json
Labels: category:new-port, info:reviewed

#45002 [glaze] update to 5.1.0
  ports/glaze/portfile.cmake
  ports/glaze/vcpkg.json
  versions/baseline.json
  versions/g-/glaze.json
Labels: category:port-update, info:reviewed

#44971 [llnl-units] update to 0.13.0
  ports/llnl-units/portfile.cmake
  ports/llnl-units/vcpkg.json
  versions/baseline.json
  versions/l-/llnl-units.json
Labels: category:port-update, info:reviewed

#45006 [vk-bootstrap] Bump version to 1.4.312
  ports/vk-bootstrap/portfile.cmake
  ports/vk-bootstrap/vcpkg.json
  versions/baseline.json
  versions/v-/vk-bootstrap.json
Labels: category:port-update, info:reviewed

#45008 [quill] update to 9.0.1
  ports/quill/portfile.cmake
  ports/quill/vcpkg.json
  versions/baseline.json
  versions/q-/quill.json
Labels: category:port-update, info:reviewed

#45022 [qt-advanced-docking-system] add pdb copy
  ports/qt-advanced-docking-system/portfile.cmake
  ports/qt-advanced-docking-system/vcpkg.json
  versions/baseline.json
  versions/q-/qt-advanced-docking-system.json
Labels: category:port-feature, info:reviewed

#44996 [aws-c-cal] Remove OpenSSL dependency from Windows and macOS.
  ports/aws-c-cal/portfile.cmake
  ports/aws-c-cal/vcpkg.json
  versions/a-/aws-c-cal.json
  versions/baseline.json
Labels: category:port-feature, info:reviewed

#45010 [fluidsynth] Update to 2.4.5
  ports/fluidsynth/portfile.cmake
  ports/fluidsynth/vcpkg.json
  versions/baseline.json
  versions/f-/fluidsynth.json
Labels: category:port-update, info:reviewed

#44550 [marzbanpp] New port Marzbanpp
  ports/marzbanpp/portfile.cmake
  ports/marzbanpp/usage
  ports/marzbanpp/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/marzbanpp.json
Labels: category:new-port, info:reviewed

#45043 [llnl-units] Minor changes
  ports/llnl-units/portfile.cmake
  ports/llnl-units/usage
  ports/llnl-units/vcpkg.json
  versions/baseline.json
  versions/l-/llnl-units.json
Labels: category:port-bug, info:reviewed

#45038 [libraw] update to 0.21.4
  ports/libraw/portfile.cmake
  ports/libraw/vcpkg.json
  versions/baseline.json
  versions/l-/libraw.json
Labels: category:port-update, info:reviewed

#45040 [ktx] Fix broken msys package download links
  ports/ktx/portfile.cmake
  ports/ktx/vcpkg.json
  versions/baseline.json
  versions/k-/ktx.json
Labels: category:port-bug, info:reviewed

#45035 [libadlmidi] Fix build with CMake 4.0; update to the latest
  ports/libadlmidi/cmake-build-shared-libs-support.patch
  ports/libadlmidi/cmake-package-export.patch
  ports/libadlmidi/portfile.cmake
  ports/libadlmidi/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/l-/libadlmidi.json
Labels: category:port-feature, category:port-update

#44965 [open62541pp] Update to version 0.18.0
  ports/open62541pp/portfile.cmake
  ports/open62541pp/vcpkg.json
  versions/baseline.json
  versions/o-/open62541pp.json
Labels: category:port-update

#45044 [vcpkg feature baseline] Remove vxl fails
  scripts/ci.feature.baseline.txt
Labels: info:reviewed, category:infrastructure

#45059 [open62541] Remove amalgamation feature
  ports/open62541/portfile.cmake
  ports/open62541/vcpkg.json
  ports/qtopcua/fix-build.patch
  ports/qtopcua/vcpkg.json
  versions/baseline.json
  versions/o-/open62541.json
  versions/q-/qtopcua.json
Labels: category:port-feature, info:reviewed

#45079 Update vcpkg-tool to 2025-04-16.
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#45071 [vcpkg baseline][marzbanpp] REMOVE FROM FAIL LIST
  scripts/ci.baseline.txt
Labels: info:internal, category:infrastructure

#45062 [opentelemetry-cpp-contrib-version] Update to 2025-04-15
  ports/opentelemetry-cpp-contrib-version/vcpkg-port-config.cmake
  ports/opentelemetry-cpp-contrib-version/vcpkg.json
  versions/baseline.json
  versions/o-/opentelemetry-cpp-contrib-version.json
Labels: category:port-update, info:reviewed

#45009 [ripper37-libbase] Update port to v1.1.0
  ports/ripper37-libbase/01_fix_output_lib_name_conflict.patch
  ports/ripper37-libbase/02_remove_unneeded_find_dependency_calls.patch
  ports/ripper37-libbase/portfile.cmake
  ports/ripper37-libbase/usage
  ports/ripper37-libbase/vcpkg.json
  versions/baseline.json
  versions/r-/ripper37-libbase.json
Labels: category:port-feature, category:port-update, info:reviewed

#45037 [kfr] Update to 6.2.0
  ports/kfr/portfile.cmake
  ports/kfr/vcpkg.json
  scripts/azure-pipelines/test-modified-ports.ps1
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/k-/kfr.json
Labels: category:port-update, info:reviewed

#44998 [ngtcp2] Update to 1.12.0. Compile with openssl.
  ports/ngtcp2/portfile.cmake
  ports/ngtcp2/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/n-/ngtcp2.json
Labels: category:port-update

#43912 [ceres] fix broken SuiteSparse support, add METIS
  ports/ceres/0005_find_package_required.patch
  ports/ceres/0006_use_official_suitesparse_config.patch
  ports/ceres/0007_use_metis_config.patch
  ports/ceres/portfile.cmake
  ports/ceres/vcpkg.json
  ports/metis/build-fixes.patch
  ports/metis/install_config.cmake
  ports/metis/portfile.cmake
  ports/metis/vcpkg.json
  versions/baseline.json
  versions/c-/ceres.json
  versions/m-/metis.json
Labels: category:port-feature, info:reviewed

#45082 [zint] update to 2.15.0
  ports/zint/0004-windows-static-build.patch
  ports/zint/0005-export-include-directories.patch
  ports/zint/portfile.cmake
  ports/zint/vcpkg.json
  versions/baseline.json
  versions/z-/zint.json
Labels: info:internal, category:port-update, info:reviewed

#45086 [tbb] update to 2022.1
  ports/tbb/portfile.cmake
  ports/tbb/vcpkg.json
  versions/baseline.json
  versions/t-/tbb.json
Labels: category:port-update

#44866 [gsasl] Switch to vcpkg-make, add feature tool
  ports/gsasl/configure.patch
  ports/gsasl/portfile.cmake
  ports/gsasl/remove-tests-examples-docs.patch
  ports/gsasl/vcpkg.json
  versions/baseline.json
  versions/g-/gsasl.json
Labels: category:port-feature, info:reviewed

#45083 [wayland,wayland-protocol] Update, cleanup
  ports/wayland-protocols/cross-build.diff
  ports/wayland-protocols/portfile.cmake
  ports/wayland-protocols/vcpkg.json
  ports/wayland/cross-build.diff
  ports/wayland/portfile.cmake
  ports/wayland/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/w-/wayland-protocols.json
  versions/w-/wayland.json
Labels: category:port-update, info:reviewed

#45032 [libpq] fix build with macos 15.4
  ports/libpq/portfile.cmake
  ports/libpq/unix/mac-15.4.patch
  ports/libpq/vcpkg.json
  versions/baseline.json
  versions/l-/libpq.json
Labels: category:port-bug

#45045 [jemalloc] Fix exception specification error for hosts using musl libc
  ports/jemalloc/fix-host-use-libc.patch
  ports/jemalloc/portfile.cmake
  ports/jemalloc/vcpkg.json
  versions/baseline.json
  versions/j-/jemalloc.json
Labels: category:port-bug, info:internal, requires:vcpkg-team-review

#45096 [libusb] Update to 1.0.28
  ports/libusb/portfile.cmake
  ports/libusb/vcpkg.json
  versions/baseline.json
  versions/l-/libusb.json
Labels: category:port-update, info:reviewed

#45109 [duilib] update to 2024-12-23
  ports/duilib/enable-unicode-for-vcpkg.patch
  ports/duilib/fix-arm-build.patch
  ports/duilib/fix-encoding.patch
  ports/duilib/fix-post-build-errors.patch
  ports/duilib/portfile.cmake
  ports/duilib/vcpkg.json
  versions/baseline.json
  versions/d-/duilib.json
Labels: info:internal, category:port-update, info:reviewed

#45080 [openssl] Backport a Windows crash fix patch for 3.5
  ports/openssl/portfile.cmake
  ports/openssl/vcpkg.json
  versions/baseline.json
  versions/o-/openssl.json
Labels: category:port-bug

#45133 [chromaprint] Fix pkgconfig exports
  ports/chromaprint/pkgconfig-cxx-linkage.diff
  ports/chromaprint/pkgconfig-dependencies.diff
  ports/chromaprint/portfile.cmake
  ports/chromaprint/vcpkg.json
  versions/baseline.json
  versions/c-/chromaprint.json
Labels: category:port-feature, info:reviewed

#45127 [toml11] update to 4.4.0
  ports/toml11/portfile.cmake
  ports/toml11/vcpkg.json
  versions/baseline.json
  versions/t-/toml11.json
Labels: category:port-update, info:reviewed

#45132 [woff2] Fix gcc 15 missing header issue
  ports/woff2/0002-stdint-include.patch
  ports/woff2/portfile.cmake
  ports/woff2/vcpkg.json
  versions/baseline.json
  versions/w-/woff2.json
Labels: category:port-bug, info:reviewed

#45126 [zlib-ng] update to 2.2.4
  ports/zlib-ng/portfile.cmake
  ports/zlib-ng/vcpkg.json
  versions/baseline.json
  versions/z-/zlib-ng.json
Labels: category:port-update, info:reviewed

#45120 [qlementine-icons] Update to 1.8.1
  ports/qlementine-icons/portfile.cmake
  ports/qlementine-icons/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/q-/qlementine-icons.json
Labels: category:port-update, info:reviewed

#45145 [luau] update to 0.670
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update

#45084 Add swig to Linux docker container, update and cleanup
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/create-docker-images.ps1
  scripts/azure-pipelines/linux/Dockerfile
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/linux/provision-image.sh
Labels: info:reviewed, category:tool-update

#45140 [safetyhook] update to 0.6.6
  ports/safetyhook/portfile.cmake
  ports/safetyhook/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/s-/safetyhook.json
Labels: category:port-update

#45159 [rmlui] Update to version 6.1 and add lottie plugin
  ports/rmlui/add-itlib-and-robin-hood.patch
  ports/rmlui/portfile.cmake
  ports/rmlui/vcpkg.json
  versions/baseline.json
  versions/r-/rmlui.json
Labels: category:port-feature, category:port-update, info:reviewed

#45129 [librdkafka] update to 2.10.0
  ports/librdkafka/portfile.cmake
  ports/librdkafka/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/l-/librdkafka.json
Labels: category:port-update

#45135 [wavpack] Update to version 5.8.1
  ports/wavpack/CMakeLists-patch.diff
  ports/wavpack/config-patch.diff
  ports/wavpack/portfile.cmake
  ports/wavpack/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/w-/wavpack.json
Labels: category:port-update

#45172 [pkgconf] Add upstream patch for old glibc versions
  ports/pkgconf/portfile.cmake
  ports/pkgconf/vcpkg.json
  versions/baseline.json
  versions/p-/pkgconf.json
Labels: category:port-bug, info:reviewed

#45141 [sdl2-mixer] Add feature to use Timidity MIDI backend
  ports/sdl2-mixer/portfile.cmake
  ports/sdl2-mixer/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/s-/sdl2-mixer.json
Labels: category:port-feature, info:reviewed

#45182 [wavpack] Support Android.
  ports/wavpack/enable-asm.diff
  ports/wavpack/portfile.cmake
  ports/wavpack/vcpkg.json
  versions/baseline.json
  versions/w-/wavpack.json
Labels: category:port-bug, info:internal, info:reviewed

#45144 [zziplib] update to 0.13.79
  ports/zziplib/portfile.cmake
  ports/zziplib/revert-pkgconfig-path.patch
  ports/zziplib/vcpkg.json
  versions/baseline.json
  versions/z-/zziplib.json
Labels: category:port-update

#45121 [libdicom] Add new port
  ports/libdicom/portfile.cmake
  ports/libdicom/vcpkg.json
  versions/baseline.json
  versions/l-/libdicom.json
Labels: category:new-port

#45205 [yalantinglibs] Fix download
  ports/yalantinglibs/portfile.cmake
  ports/yalantinglibs/vcpkg.json
  versions/baseline.json
  versions/y-/yalantinglibs.json
Labels: category:port-bug, info:reviewed

#45198 [libphonenumber] update to 9.0.3
  ports/libphonenumber/disable-werror.patch
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update

#45206 [quantlib] update to 1.38
  ports/quantlib/portfile.cmake
  ports/quantlib/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/q-/quantlib.json
Labels: category:port-update

#45199 [qcoro] Update to 0.12.0
  ports/qcoro/portfile.cmake
  ports/qcoro/vcpkg.json
  scripts/ci.feature.baseline.txt
  versions/baseline.json
  versions/q-/qcoro.json
Labels: category:port-update
