Repository microsoft/vcpkg, pull requests merged in 2025-10, with the labels that each got.

#47570 [vcpkg scripts] Update swigwin to 4.3.1
  scripts/cmake/vcpkg_find_acquire_program(SWIG).cmake
Labels: requires:vcpkg-team-review

#46058 [lunarg-vulkantools] Switch to Qt6 [qtwebengine] Resolve protobuf include quirk
  ports/lunarg-vulkantools/jsoncpp.diff
  ports/lunarg-vulkantools/portfile.cmake
  ports/lunarg-vulkantools/vcpkg.json
  ports/qtwebengine/include-dir-order.diff
  ports/qtwebengine/portfile.cmake
  ports/qtwebengine/vcpkg.json
  versions/baseline.json
  versions/l-/lunarg-vulkantools.json
  versions/q-/qtwebengine.json
Labels: category:port-feature

#38412 [neoslippi] Add neoslippi
  ports/neoslippi/portfile.cmake
  ports/neoslippi/usage
  ports/neoslippi/vcpkg.json
  versions/baseline.json
  versions/n-/neoslippi.json
Labels: category:new-port
