Repository microsoft/vcpkg, pull requests merged in 2025-03, with the labels that each got.

#44125 [restinio] Update to 0.7.4
  ports/restinio/portfile.cmake
  ports/restinio/vcpkg.json
  versions/baseline.json
  versions/r-/restinio.json
Labels: category:port-update, info:reviewed

#44118 [sdl2] Update to 2.32.2
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-update, info:reviewed

#44114 [sdl3] Update to 3.2.6
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-update, info:reviewed

#44104 [mujoco] update to 3.3.0
  ports/mujoco/disable-werror.patch
  ports/mujoco/mesh.patch
  ports/mujoco/portfile.cmake
  ports/mujoco/vcpkg.json
  versions/baseline.json
  versions/m-/mujoco.json
Labels: category:port-update, info:reviewed

#44103 [tdscpp] update to 20250301
  ports/tdscpp/portfile.cmake
  ports/tdscpp/vcpkg.json
  versions/baseline.json
  versions/t-/tdscpp.json
Labels: category:port-update, info:reviewed

#44099 [async-mqtt] update port to 10.1.0
  ports/async-mqtt/portfile.cmake
  ports/async-mqtt/vcpkg.json
  versions/a-/async-mqtt.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44092 [stringzilla] update to 3.12.1
  ports/stringzilla/portfile.cmake
  ports/stringzilla/vcpkg.json
  versions/baseline.json
  versions/s-/stringzilla.json
Labels: category:port-update, info:reviewed

#44090 [zpp_bits] update to 4.5
  ports/zpp-bits/portfile.cmake
  ports/zpp-bits/vcpkg.json
  versions/baseline.json
  versions/z-/zpp-bits.json
Labels: category:port-update, info:reviewed

#44089 [etl] update to 20.40.0
  ports/etl/portfile.cmake
  ports/etl/vcpkg.json
  versions/baseline.json
  versions/e-/etl.json
Labels: category:port-update, info:reviewed

#44083 [sentry-native] update to 0.8.1
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#44082 [cpp-pinyin] update to 1.0.1
  ports/cpp-pinyin/portfile.cmake
  ports/cpp-pinyin/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-pinyin.json
Labels: category:port-update, info:reviewed

#44106 [qlementine-icons] Update to 1.7.0
  ports/qlementine-icons/cmake.patch
  ports/qlementine-icons/portfile.cmake
  ports/qlementine-icons/usage
  ports/qlementine-icons/vcpkg.json
  versions/baseline.json
  versions/q-/qlementine-icons.json
Labels: category:port-update, info:reviewed

#44086 [glew] Fix build with CMake 4.0
  ports/glew/cmake_version.patch
  ports/glew/portfile.cmake
  ports/glew/vcpkg.json
  versions/baseline.json
  versions/g-/glew.json
Labels: category:port-bug, info:reviewed

#44122 [triplet] xbox triplet fixes for handling Build Without Install
  triplets/community/x64-xbox-scarlett-static.cmake
  triplets/community/x64-xbox-scarlett.cmake
  triplets/community/x64-xbox-xboxone-static.cmake
  triplets/community/x64-xbox-xboxone.cmake
Labels: info:reviewed, category:tool-update

#44081 [pcl] Fix missing chrono includes
  ports/pcl/add-chrono-includes.patch
  ports/pcl/portfile.cmake
  ports/pcl/vcpkg.json
  versions/baseline.json
  versions/p-/pcl.json
Labels: category:port-bug, info:reviewed

#44136 Canonicalize sort order in ci.baseline.txt
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:code-cleanup

#44144 [bitserializer] bring this port back
  ports/bitserializer/portfile.cmake
  ports/bitserializer/usage
  ports/bitserializer/vcpkg.json
Labels: category:new-port, info:reviewed

#44172 [triplet] Xbox try-compile fix by using XBOX_CONSOLE_TARGET consistently
  scripts/toolchains/xbox.cmake
  triplets/community/x64-xbox-scarlett-static.cmake
  triplets/community/x64-xbox-scarlett.cmake
  triplets/community/x64-xbox-xboxone-static.cmake
  triplets/community/x64-xbox-xboxone.cmake
Labels: info:reviewed, category:tool-update

#44196 [asock] update to 1.0.6
  ports/asock/portfile.cmake
  ports/asock/vcpkg.json
  versions/a-/asock.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44194 [qlementine-icons] Update to v1.7.1
  ports/qlementine-icons/portfile.cmake
  ports/qlementine-icons/vcpkg.json
  versions/baseline.json
  versions/q-/qlementine-icons.json
Labels: category:port-update, info:reviewed

#44193 [exiv2] update to 0.28.5
  ports/exiv2/dependencies.diff
  ports/exiv2/portfile.cmake
  ports/exiv2/vcpkg.json
  versions/baseline.json
  versions/e-/exiv2.json
Labels: category:port-update, info:reviewed

#44197 [libnick] Update to 2025.3.0
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#44192 [sdl2-image] update to 2.8.8
  ports/sdl2-image/fix-findwebp.patch
  ports/sdl2-image/portfile.cmake
  ports/sdl2-image/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2-image.json
Labels: category:port-update, info:reviewed

#44190 [jsoncons] Update to 1.3.0
  ports/jsoncons/portfile.cmake
  ports/jsoncons/vcpkg.json
  versions/baseline.json
  versions/j-/jsoncons.json
Labels: category:port-update, info:reviewed

#44176 [pixman] Update to 0.44.2, cleanup, use android cpu-features
  ports/pixman/fix_clang-cl.patch
  ports/pixman/portfile.cmake
  ports/pixman/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/p-/pixman.json
Labels: category:port-update, info:reviewed, category:code-cleanup

#44173 [sdl3] Update to 3.2.8
  ports/sdl3/portfile.cmake
  ports/sdl3/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3.json
Labels: category:port-update, info:reviewed

#44164 [simd] update to 6.1.147
  ports/simd/fix-platform-detection.patch
  ports/simd/portfile.cmake
  ports/simd/vcpkg.json
  versions/baseline.json
  versions/s-/simd.json
Labels: category:port-update, info:reviewed

#44162 [folly related] update to 03.03
  ports/fbthrift/portfile.cmake
  ports/fbthrift/vcpkg.json
  ports/fizz/portfile.cmake
  ports/fizz/vcpkg.json
  ports/folly/portfile.cmake
  ports/folly/vcpkg.json
  ports/mvfst/portfile.cmake
  ports/mvfst/vcpkg.json
  ports/proxygen/portfile.cmake
  ports/proxygen/vcpkg.json
  ports/wangle/portfile.cmake
  ports/wangle/vcpkg.json
  versions/baseline.json
  versions/f-/fbthrift.json
  versions/f-/fizz.json
  versions/f-/folly.json
  versions/m-/mvfst.json
  versions/p-/proxygen.json
  versions/w-/wangle.json
Labels: category:port-update, info:reviewed

#44161 [DPP] Update to 10.1.0
  ports/dpp/include.patch
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-update, info:reviewed

#44160 [stringzilla] update to 3.12.2
  ports/stringzilla/portfile.cmake
  ports/stringzilla/vcpkg.json
  versions/baseline.json
  versions/s-/stringzilla.json
Labels: category:port-update, info:reviewed

#44159 [ada-url] Update to 3.1.3
  ports/ada-url/portfile.cmake
  ports/ada-url/vcpkg.json
  versions/a-/ada-url.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44156 [cppitertools] update to 2.2
  ports/cppitertools/portfile.cmake
  ports/cppitertools/vcpkg.json
  versions/baseline.json
  versions/c-/cppitertools.json
Labels: category:port-update, info:reviewed

#44151 [asio-grpc] Update to 3.4.2
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44150 [openblas] Update to 0.3.29
  ports/openblas/arm32-asm-function.diff
  ports/openblas/portfile.cmake
  ports/openblas/vcpkg.json
  ports/openblas/win32-uwp.diff
  versions/baseline.json
  versions/o-/openblas.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#44149 [matio] update to 1.5.28
  ports/matio/portfile.cmake
  ports/matio/vcpkg.json
  versions/baseline.json
  versions/m-/matio.json
Labels: category:port-update, info:reviewed

#44140 [breakpad] update to 2024-02-16
  ports/breakpad/add-algorithm.patch
  ports/breakpad/portfile.cmake
  ports/breakpad/vcpkg.json
  versions/b-/breakpad.json
  versions/baseline.json
Labels: info:internal, category:port-update, info:reviewed

#44133 [otl] update to 4.0.481
  ports/otl/portfile.cmake
  ports/otl/vcpkg.json
  versions/baseline.json
  versions/o-/otl.json
Labels: category:port-update, info:reviewed

#44131 [ffmpeg] Update to version 7.1.1
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-update, info:reviewed

#44124 [double-conversion] Upgrade CMake 3.5
  ports/double-conversion/portfile.cmake
  ports/double-conversion/vcpkg.json
  versions/baseline.json
  versions/d-/double-conversion.json
Labels: category:port-bug, info:internal, info:reviewed

#44087 [plutovg] update to 0.0.13
  ports/plutovg/portfile.cmake
  ports/plutovg/vcpkg.json
  versions/baseline.json
  versions/p-/plutovg.json
Labels: category:port-update, info:reviewed

#44061 [cli11] Update to 2.5.0
  ports/cli11/portfile.cmake
  ports/cli11/vcpkg.json
  ports/paraview/fix-build.patch
  ports/paraview/vcpkg.json
  versions/baseline.json
  versions/c-/cli11.json
  versions/p-/paraview.json
Labels: category:port-update, info:reviewed

#44035 [rapidjson] Update version to 2025-02-26 and fix consumers
  ports/mysql-connector-cpp/cmake-project-include.cmake
  ports/mysql-connector-cpp/vcpkg.json
  ports/rapidjson/portfile.cmake
  ports/rapidjson/vcpkg.json
  ports/vowpal-wabbit/fix-rapidjson-target.patch
  ports/vowpal-wabbit/portfile.cmake
  ports/vowpal-wabbit/vcpkg.json
  versions/baseline.json
  versions/m-/mysql-connector-cpp.json
  versions/r-/rapidjson.json
  versions/v-/vowpal-wabbit.json
Labels: category:port-update, info:reviewed

#44096 [highs] upgrade to version 1.9.0
  ports/highs/fix-compiler.patch
  ports/highs/portfile.cmake
  ports/highs/vcpkg.json
  versions/baseline.json
  versions/h-/highs.json
Labels: category:port-update, info:reviewed

#44050 [harfbuzz,pango,pangomm] Pass C++ linkage, unlock cross builds
  ports/harfbuzz/portfile.cmake
  ports/harfbuzz/usage
  ports/harfbuzz/vcpkg.json
  ports/pangomm/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/h-/harfbuzz.json
  versions/p-/pangomm.json
Labels: category:port-feature, category:port-bug, info:reviewed

#43983 [safetyhook] new port
  ports/safetyhook/portfile.cmake
  ports/safetyhook/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/safetyhook.json
Labels: category:new-port, info:reviewed

#44157 [liquid-dsp] Add new port
  ports/liquid-dsp/portfile.cmake
  ports/liquid-dsp/vcpkg.json
  versions/baseline.json
  versions/l-/liquid-dsp.json
Labels: category:new-port, info:reviewed

#44115 [sdl3-image] Update to 3.2.4
  ports/sdl3-image/pkgconfig-libname.diff
  ports/sdl3-image/portfile.cmake
  ports/sdl3-image/vcpkg.json
  versions/baseline.json
  versions/s-/sdl3-image.json
Labels: category:port-update

#44137 [community triplet] Add arm64-linux-dynamic triplet
  triplets/community/arm64-linux-dynamic.cmake
Labels: info:reviewed, category:community-triplet, requires:vcpkg-team-review

#44230 [hello-imgui] fix depends on features of imgui that does not exists
  ports/hello-imgui/portfile.cmake
  ports/hello-imgui/vcpkg.json
  versions/baseline.json
  versions/h-/hello-imgui.json
Labels: category:port-bug, info:internal, info:reviewed

#44202 [freeglut] update to 3.6.0
  ports/freeglut/gles.patch
  ports/freeglut/no_x64_enforcement.patch
  ports/freeglut/portfile.cmake
  ports/freeglut/vcpkg.json
  ports/freeglut/windows-output-name.patch
  versions/baseline.json
  versions/f-/freeglut.json
Labels: info:internal, category:port-update, info:reviewed

#44203 [imgui-sfml] Fix dependency opengl
  ports/imgui-sfml/0001-fix_find_package.patch
  ports/imgui-sfml/vcpkg.json
  versions/baseline.json
  versions/i-/imgui-sfml.json
Labels: category:port-bug, info:internal, info:reviewed

#44223 [triton] Update to 2025-02-15
  ports/triton/portfile.cmake
  ports/triton/vcpkg.json
  versions/baseline.json
  versions/t-/triton.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#44211 [loguru] Support for stream style logging
  ports/loguru/portfile.cmake
  ports/loguru/vcpkg.json
  versions/baseline.json
  versions/l-/loguru.json
Labels: category:port-feature, info:reviewed

#44198 [google-cloud-cpp] Fix build error on linux
  ports/google-cloud-cpp/fix-googleapis-download.patch
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-bug, info:internal, info:reviewed

#44174 [libffi] Use full CCAS path
  ports/libffi/portfile.cmake
  ports/libffi/vcpkg.json
  versions/baseline.json
  versions/l-/libffi.json
Labels: category:port-bug, info:reviewed

#44225 [vcpkg baseline] Expect plplot:arm-neon-android=fail
  scripts/ci.baseline.txt
Labels: info:reviewed, category:infrastructure

#44145 [tgui] update to 1.8.0,add sdl3 and raylib support
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-feature, info:internal, category:port-update, info:reviewed

#44076 [flann] Update to 2022-10-28
  ports/colmap/fix-flann.patch
  ports/colmap/portfile.cmake
  ports/colmap/vcpkg.json
  ports/flann/fix-build-error.patch
  ports/flann/fix-dep-lz4.patch
  ports/flann/fix_undefined_pot_t.patch
  ports/flann/portfile.cmake
  ports/flann/vcpkg.json
  versions/baseline.json
  versions/c-/colmap.json
  versions/f-/flann.json
Labels: category:port-bug, info:internal, category:port-update, info:reviewed

#44100 [x264] Put x264-164.dll into bin directory
  ports/x264/portfile.cmake
  ports/x264/vcpkg.json
  versions/baseline.json
  versions/x-/x264.json
Labels: category:port-bug

#44068 [gz-*] update gz ports
  ports/gz-cmake/dependencies.patch
  ports/gz-cmake/ffempg_depends_interface.patch
  ports/gz-cmake/portfile.cmake
  ports/gz-cmake/usage
  ports/gz-cmake/vcpkg.json
  ports/gz-cmake/vcpkg/GTS.cmake
  ports/gz-cmake/vcpkg/TINYXML2.cmake
  ports/gz-common/detect_tinyxml.patch
  ports/gz-common/portfile.cmake
  ports/gz-common/vcpkg.json
  ports/gz-fuel-tools/portfile.cmake
  ports/gz-fuel-tools/vcpkg.json
  ports/gz-gui/dependencies.patch
  ports/gz-gui/portfile.cmake
  ports/gz-gui/vcpkg.json
  ports/gz-math/portfile.cmake
  ports/gz-math/vcpkg.json
  ports/gz-msgs/move_bin_to_tools.patch
  ports/gz-msgs/portfile.cmake
  ports/gz-msgs/remove_ruby.patch
  ports/gz-msgs/vcpkg.json
  ports/gz-physics/dependencies.patch
  ports/gz-physics/portfile.cmake
  ports/gz-physics/vcpkg.json
  ports/gz-plugin/portfile.cmake
  ports/gz-plugin/vcpkg.json
  ports/gz-rendering/fix-dependencies.patch
  ports/gz-rendering/portfile.cmake
  ports/gz-rendering/vcpkg.json
  ports/gz-sensors/portfile.cmake
  ports/gz-sensors/vcpkg.json
  ports/gz-tools/portfile.cmake
  ports/gz-tools/vcpkg.json
  ports/gz-transport/portfile.cmake
  ports/gz-transport/uuid-osx.patch
  ports/gz-transport/vcpkg.json
  ports/gz-utils/portfile.cmake
  ports/gz-utils/vcpkg.json
  ports/sdformat/cmake-config.patch
  ports/sdformat/fix-find-urdfdom.patch
  ports/sdformat/no-absolute.patch
  ports/sdformat/portfile.cmake
  ports/sdformat/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/g-/gz-cmake.json
  versions/g-/gz-common.json
  versions/g-/gz-fuel-tools.json
  versions/g-/gz-gui.json
  versions/g-/gz-math.json
  versions/g-/gz-msgs.json
  versions/g-/gz-physics.json
  versions/g-/gz-plugin.json
  versions/g-/gz-rendering.json
  versions/g-/gz-sensors.json
  versions/g-/gz-tools.json
  versions/g-/gz-transport.json
  versions/g-/gz-utils.json
  versions/s-/sdformat.json
Labels: category:port-bug, category:port-update, info:reviewed

#44235 [ptyqt] Update to 0.7.1
  ports/ptyqt/portfile.cmake
  ports/ptyqt/vcpkg.json
  versions/baseline.json
  versions/p-/ptyqt.json
Labels: info:internal, category:port-update

#44271 [msquic] update to 2.4.8
  ports/msquic/portfile.cmake
  ports/msquic/vcpkg.json
  versions/baseline.json
  versions/m-/msquic.json
Labels: category:port-update, info:reviewed

#44265 [libphonenumber] update to 9.0.0
  ports/libphonenumber/portfile.cmake
  ports/libphonenumber/vcpkg.json
  versions/baseline.json
  versions/l-/libphonenumber.json
Labels: category:port-update, info:reviewed

#44255 [openctm] Use 7zip provided by vcpkg
  ports/openctm/CMakeLists.txt
  ports/openctm/portfile.cmake
  ports/openctm/use-7zip.patch
  ports/openctm/vcpkg.json
  versions/baseline.json
  versions/o-/openctm.json
Labels: category:port-feature, info:reviewed

#44247 [libnick] Update to 2025.3.2
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#44244 [google-cloud-cpp] update to the latest release (v2.36.0)
  ports/google-cloud-cpp/portfile.cmake
  ports/google-cloud-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/google-cloud-cpp.json
Labels: category:port-update, info:reviewed

#44120 [nghttp2] update to 1.65.0
  ports/nghttp2/portfile.cmake
  ports/nghttp2/vcpkg.json
  versions/baseline.json
  versions/n-/nghttp2.json
Labels: category:port-update, info:reviewed

#44217 Allow vcpkg.exe to set CURRENT_ variables.
  scripts/ports.cmake
Labels: info:internal, category:infrastructure

#27950 [vcpkg] Controlling top-level find_package
  scripts/buildsystems/vcpkg.cmake
  scripts/test_ports/unit-test-cmake/portfile.cmake
  scripts/test_ports/unit-test-cmake/test-macros.cmake
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/portfile.cmake
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/project/vcpkg_lock_find_package/CMakeLists.txt.in
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/project/vcpkg_lock_find_package/directPackageXConfig.cmake
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/project/vcpkg_lock_find_package/transitiveOptionalAbsentPackageXConfig.cmake
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/project/vcpkg_lock_find_package/transitivePackageXConfig.cmake
  scripts/test_ports/vcpkg-ci-cmake-toolchain-file/vcpkg.json
Labels: category:vcpkg-feature

#44215 [ms-gdk] Added new port for the Microsoft GDK
  ports/ms-gdk/portfile.cmake
  ports/ms-gdk/usage
  ports/ms-gdk/vcpkg.json
  versions/baseline.json
  versions/m-/ms-gdk.json
Labels: category:new-port, info:reviewed

#44293 [stringzilla] update to 3.12.3
  ports/stringzilla/portfile.cmake
  ports/stringzilla/vcpkg.json
  versions/baseline.json
  versions/s-/stringzilla.json
Labels: category:port-update, info:reviewed

#44292 [tinyxml2] update to 10.1.0
  ports/tinyxml2/0003-fix-Android-SDK-below-24-does-not-support-fseeko.patch
  ports/tinyxml2/portfile.cmake
  ports/tinyxml2/vcpkg.json
  versions/baseline.json
  versions/t-/tinyxml2.json
Labels: category:port-update, info:reviewed

#44291 [upa-url] update to 1.1.0
  ports/upa-url/portfile.cmake
  ports/upa-url/vcpkg.json
  versions/baseline.json
  versions/u-/upa-url.json
Labels: category:port-update, info:reviewed

#44304 [cairo] fix mingw build failure
  ports/cairo/dw-extra.patch
  ports/cairo/portfile.cmake
  ports/cairo/vcpkg.json
  versions/baseline.json
  versions/c-/cairo.json
Labels: category:port-bug, info:reviewed

#44286 [vcpkg baseline] [dpp] Fix ci pipeline error
  ports/dpp/portfile.cmake
  ports/dpp/vcpkg.json
  versions/baseline.json
  versions/d-/dpp.json
Labels: category:port-bug, info:internal, info:reviewed

#44250 [hello-imgui] Test, fix
  ports/hello-imgui/cmake-config.diff
  ports/hello-imgui/imgui-test-engine.diff
  ports/hello-imgui/portfile.cmake
  ports/hello-imgui/usage
  ports/hello-imgui/vcpkg.json
  scripts/test_ports/vcpkg-ci-hello-imgui/portfile.cmake
  scripts/test_ports/vcpkg-ci-hello-imgui/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-hello-imgui/project/main.cpp
  scripts/test_ports/vcpkg-ci-hello-imgui/vcpkg.json
  versions/baseline.json
  versions/h-/hello-imgui.json
Labels: category:port-feature, category:port-bug, info:reviewed

#44256 [duckdb] update to 1.2.1
  ports/duckdb/httpfs.patch
  ports/duckdb/portfile.cmake
  ports/duckdb/unvendor_icu_and_find_dependency.patch
  ports/duckdb/vcpkg.json
  versions/baseline.json
  versions/d-/duckdb.json
Labels: category:port-update, info:reviewed

#44290 [anari] Update to SDK version 0.13.0
  ports/anari/portfile.cmake
  ports/anari/vcpkg.json
  versions/a-/anari.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44325 [highfive] update homepage
  ports/highfive/vcpkg.json
  versions/baseline.json
  versions/h-/highfive.json
Labels: category:port-feature, info:reviewed

#44323 [Azure Storage] Update to March Release
  ports/azure-storage-common-cpp/portfile.cmake
  ports/azure-storage-common-cpp/vcpkg.json
  ports/azure-storage-files-shares-cpp/portfile.cmake
  ports/azure-storage-files-shares-cpp/vcpkg.json
  versions/a-/azure-storage-common-cpp.json
  versions/a-/azure-storage-files-shares-cpp.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44311 [yalantinglibs] update to 0.4.0
  ports/yalantinglibs/portfile.cmake
  ports/yalantinglibs/vcpkg.json
  versions/baseline.json
  versions/y-/yalantinglibs.json
Labels: category:port-update, info:reviewed

#43721 [arrow-adbc, nanoarrow, flatcc] add new port
  ports/arrow-adbc/fix_static_build.patch
  ports/arrow-adbc/fix_windows_build.patch
  ports/arrow-adbc/portfile.cmake
  ports/arrow-adbc/unvendor.patch
  ports/arrow-adbc/vcpkg.json
  ports/flatcc/fix_install_dir.patch
  ports/flatcc/portfile.cmake
  ports/flatcc/vcpkg.json
  ports/nanoarrow/fix_install_dir.patch
  ports/nanoarrow/no_werror.patch
  ports/nanoarrow/portfile.cmake
  ports/nanoarrow/vcpkg.json
  versions/a-/arrow-adbc.json
  versions/baseline.json
  versions/f-/flatcc.json
  versions/n-/nanoarrow.json
Labels: category:new-port, info:reviewed

#44186 [gdbm] Add new port, starting on version 1.24
  ports/gdbm/portfile.cmake
  ports/gdbm/vcpkg.json
  versions/baseline.json
  versions/g-/gdbm.json
Labels: category:new-port, info:reviewed

#44216 [sfml] Fix pkg-config
  ports/sfml/portfile.cmake
  ports/sfml/vcpkg.json
  versions/baseline.json
  versions/s-/sfml.json
Labels: category:port-bug, info:reviewed

#43676 [vulkan-headers] Fix vulkan.cppm
  ports/vulkan-headers/fix-headers.patch
  ports/vulkan-headers/portfile.cmake
  ports/vulkan-headers/vcpkg.json
  versions/baseline.json
  versions/v-/vulkan-headers.json
Labels: category:port-bug, info:internal, info:reviewed

#44146 [libogg] Upgrade CMake 3.5
  ports/libogg/portfile.cmake
  ports/libogg/vcpkg.json
  versions/baseline.json
  versions/l-/libogg.json
Labels: category:port-bug, info:internal, info:reviewed

#44307 [pangolin] Add patch to initialise 'pad_'
  ports/pangolin/portfile.cmake
  ports/pangolin/vcpkg.json
  versions/baseline.json
  versions/p-/pangolin.json
Labels: category:port-bug, info:internal, info:reviewed

#44263 [icecream-cpp] add new port
  ports/icecream-cpp/portfile.cmake
  ports/icecream-cpp/vcpkg.json
  versions/baseline.json
  versions/i-/icecream-cpp.json
Labels: category:new-port, info:reviewed

#44317 [cpputest] update to 4.0
  ports/cpputest/fix-arm-build-error.patch
  ports/cpputest/portfile.cmake
  ports/cpputest/vcpkg.json
  versions/baseline.json
  versions/c-/cpputest.json
Labels: category:port-update

#44313 [ms-gltf] Update to v:2024-09-05
  ports/ms-gltf/portfile.cmake
  ports/ms-gltf/vcpkg.json
  versions/baseline.json
  versions/m-/ms-gltf.json
Labels: category:port-update

#44302 [dbus] add supports for x11 feature
  ports/dbus/vcpkg.json
  versions/baseline.json
  versions/d-/dbus.json
Labels: category:port-bug, info:internal

#44296 [boost-mysql] Add missing dependency on boost-compat
  ports/boost-asio/vcpkg.json
  ports/boost-atomic/portfile.cmake
  ports/boost-atomic/vcpkg.json
  ports/boost-cobalt/portfile.cmake
  ports/boost-cobalt/vcpkg.json
  ports/boost-compute/vcpkg.json
  ports/boost-context/portfile.cmake
  ports/boost-context/vcpkg.json
  ports/boost-flyweight/vcpkg.json
  ports/boost-interprocess/portfile.cmake
  ports/boost-interprocess/vcpkg.json
  ports/boost-json/portfile.cmake
  ports/boost-json/vcpkg.json
  ports/boost-lexical-cast/vcpkg.json
  ports/boost-lockfree/vcpkg.json
  ports/boost-mysql/vcpkg.json
  ports/boost-optional/vcpkg.json
  ports/boost-parser/vcpkg.json
  ports/boost-process/portfile.cmake
  ports/boost-process/vcpkg.json
  ports/boost-regex/vcpkg.json
  ports/boost-unordered/portfile.cmake
  ports/boost-unordered/vcpkg.json
  ports/boost/vcpkg.json
  scripts/boost/generate-ports.ps1
  scripts/boost/patch-stubs/interprocess.txt
  scripts/boost/patch-stubs/json.txt
  scripts/boost/patch-stubs/unordered.txt
  scripts/boost/pre-build-stubs/iostreams.cmake
  scripts/boost/pre-source-stubs/interprocess.cmake
  scripts/boost/pre-source-stubs/json.cmake
  scripts/boost/pre-source-stubs/system.cmake
  scripts/boost/pre-source-stubs/unordered.cmake
  versions/b-/boost-asio.json
  versions/b-/boost-atomic.json
  versions/b-/boost-cobalt.json
  versions/b-/boost-compute.json
  versions/b-/boost-context.json
  versions/b-/boost-flyweight.json
  versions/b-/boost-interprocess.json
  versions/b-/boost-json.json
  versions/b-/boost-lexical-cast.json
  versions/b-/boost-lockfree.json
  versions/b-/boost-mysql.json
  versions/b-/boost-optional.json
  versions/b-/boost-parser.json
  versions/b-/boost-process.json
  versions/b-/boost-regex.json
  versions/b-/boost-unordered.json
  versions/b-/boost.json
  versions/baseline.json
Labels: category:port-bug

#43808 [xmlsec] Update to 1.3.7
  ports/xmlsec/CMakeLists.txt
  ports/xmlsec/portfile.cmake
  ports/xmlsec/vcpkg.json
  versions/baseline.json
  versions/x-/xmlsec.json
Labels: category:port-update

#44116 [pcre2] update to 10.45
  ports/pcre2/fix-cmake.patch
  ports/pcre2/no-static-suffix.patch
  ports/pcre2/pcre2-10.35_fix-uwp.patch
  ports/pcre2/portfile.cmake
  ports/pcre2/vcpkg.json
  ports/poco/0001-static-pcre.patch
  ports/poco/vcpkg.json
  versions/baseline.json
  versions/p-/pcre2.json
  versions/p-/poco.json
Labels: category:port-update, info:reviewed

#44231 [directx-dxc] add FILE_PERMISSIONS for dxc
  ports/directx-dxc/portfile.cmake
  ports/directx-dxc/vcpkg.json
  versions/baseline.json
  versions/d-/directx-dxc.json
Labels: category:port-bug, info:internal, info:reviewed

#43925 [llama-cpp] add new port (and its ggml dependency)
  ports/ggml/0001-fix-cmakelists.patch
  ports/ggml/portfile.cmake
  ports/ggml/vcpkg.json
  ports/llama-cpp/0001-external-ggml.patch
  ports/llama-cpp/portfile.cmake
  ports/llama-cpp/vcpkg.json
  versions/baseline.json
  versions/g-/ggml.json
  versions/l-/llama-cpp.json
Labels: category:new-port, info:reviewed

#44329 [ecal] Update to 5.13.3
  ports/ecal/portfile.cmake
  ports/ecal/vcpkg.json
  versions/baseline.json
  versions/e-/ecal.json
Labels: info:internal, category:port-update, info:reviewed

#44344 [asock] update to 1.0.7
  ports/asock/portfile.cmake
  ports/asock/vcpkg.json
  versions/a-/asock.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44345 [workflow] update to 0.11.8
  ports/workflow/portfile.cmake
  ports/workflow/vcpkg.json
  versions/baseline.json
  versions/w-/workflow.json
Labels: info:internal, category:port-update

#44373 [vcpkg baseline][cpputest, ms-gltf] REMOVE FROM FAIL LIST
  scripts/ci.baseline.txt
Labels: info:internal, info:reviewed, category:infrastructure

#44367 [ada-url] update to 3.2.1
  ports/ada-url/portfile.cmake
  ports/ada-url/vcpkg.json
  versions/a-/ada-url.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44368 [xbyak] update to 7.24.2
  ports/xbyak/portfile.cmake
  ports/xbyak/vcpkg.json
  versions/baseline.json
  versions/x-/xbyak.json
Labels: category:port-update, info:reviewed

#44352 [giflib] Fix build with CMake 4.0
  ports/giflib/CMakeLists.txt
  ports/giflib/portfile.cmake
  ports/giflib/vcpkg.json
  versions/baseline.json
  versions/g-/giflib.json
Labels: category:port-bug, info:internal, info:reviewed

#44377 [cpp-pinyin] update to 1.0.2
  ports/cpp-pinyin/portfile.cmake
  ports/cpp-pinyin/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-pinyin.json
Labels: category:port-update

#44375 [jasper] Remove unused opengl deps
  ports/jasper/portfile.cmake
  ports/jasper/vcpkg.json
  versions/baseline.json
  versions/j-/jasper.json
Labels: category:port-feature

#44374 [jhasse-poly2tri] Enable uwp
  ports/jhasse-poly2tri/vcpkg.json
  versions/baseline.json
  versions/j-/jhasse-poly2tri.json
Labels: category:port-feature

#44268 [audioengine] Add new port
  ports/audioengine/portfile.cmake
  ports/audioengine/vcpkg.json
  versions/a-/audioengine.json
  versions/baseline.json
Labels: category:new-port, info:reviewed

#44384 Update vcpkg-tool to 2025-03-13.
  scripts/tls12-download-arm64.exe
  scripts/tls12-download.exe
  scripts/vcpkg-tool-metadata.txt
Labels: info:internal, category:infrastructure

#44278 [pcg] Update to 428802d to fix a known bug
  ports/pcg/portfile.cmake
  ports/pcg/vcpkg.json
  versions/baseline.json
  versions/p-/pcg.json
Labels: category:port-update, info:reviewed

#44436 [ankurvdev-embedresource] Update to v0.0.12
  ports/ankurvdev-embedresource/portfile.cmake
  ports/ankurvdev-embedresource/vcpkg.json
  versions/a-/ankurvdev-embedresource.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44428 [tinycbor] update to 0.6.1
  ports/tinycbor/portfile.cmake
  ports/tinycbor/vcpkg.json
  versions/baseline.json
  versions/t-/tinycbor.json
Labels: category:port-update, info:reviewed

#44426 [nanoflann] Update to 1.7.1
  ports/nanoflann/portfile.cmake
  ports/nanoflann/vcpkg.json
  versions/baseline.json
  versions/n-/nanoflann.json
Labels: category:port-update, info:reviewed

#44423 [reflectcpp] update to 0.18.0
  ports/reflectcpp/portfile.cmake
  ports/reflectcpp/vcpkg.json
  versions/baseline.json
  versions/r-/reflectcpp.json
Labels: category:port-update, info:reviewed

#44394 [proj] Update to 9.6.0
  ports/proj/portfile.cmake
  ports/proj/usage
  ports/proj/vcpkg.json
  versions/baseline.json
  versions/p-/proj.json
Labels: category:port-update, info:reviewed

#44399 [luau] update to 0.665
  ports/luau/portfile.cmake
  ports/luau/vcpkg.json
  versions/baseline.json
  versions/l-/luau.json
Labels: category:port-update, info:reviewed

#44400 [valijson] update to 1.0.4
  ports/valijson/portfile.cmake
  ports/valijson/vcpkg.json
  versions/baseline.json
  versions/v-/valijson.json
Labels: category:port-update, info:reviewed

#44403 [fast-float] update to 8.0.2
  ports/fast-float/portfile.cmake
  ports/fast-float/vcpkg.json
  versions/baseline.json
  versions/f-/fast-float.json
Labels: category:port-update, info:reviewed

#44404 [lunasvg] update to 3.2.1
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
Labels: category:port-update, info:reviewed

#44405 [webthing-cpp] update to 1.2.0
  ports/webthing-cpp/dependencies.diff
  ports/webthing-cpp/portfile.cmake
  ports/webthing-cpp/usage
  ports/webthing-cpp/vcpkg.json
  versions/baseline.json
  versions/w-/webthing-cpp.json
Labels: category:port-update, info:reviewed

#44420 [influxdb-cxx] fix build with new boost
  ports/influxdb-cxx/268.patch
  ports/influxdb-cxx/portfile.cmake
  ports/influxdb-cxx/vcpkg.json
  versions/baseline.json
  versions/i-/influxdb-cxx.json
Labels: category:port-bug, info:reviewed

#44385 [skia] Fix dependency skia
  ports/skia/portfile.cmake
  ports/skia/vcpkg.json
  versions/baseline.json
  versions/s-/skia.json
Labels: category:port-bug, info:reviewed

#44340 [gettext] Fix path related issues with MSVC
  ports/gettext/0001-xgettext-Fix-some-test-failures-on-MSVC.patch
  ports/gettext/portfile.cmake
  ports/gettext/vcpkg.json
  versions/baseline.json
  versions/g-/gettext.json
Labels: category:port-bug, info:reviewed

#44319 [sleef] Allow to crosscompile
  ports/sleef/0001-Add-missing-exe-suffix-for-host-executables.patch
  ports/sleef/portfile.cmake
  ports/sleef/vcpkg.json
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/s-/sleef.json
Labels: category:port-feature, info:reviewed

#44415 [libaribcaption] Add new port
  ports/libaribcaption/portfile.cmake
  ports/libaribcaption/vcpkg.json
  versions/baseline.json
  versions/l-/libaribcaption.json
Labels: category:new-port, info:reviewed

#44354 Patch Tuesday for March 2025
  ports/mnn/portfile.cmake
  ports/mnn/vcpkg.json
  ports/robotraconteur/portfile.cmake
  ports/robotraconteur/remove-openssl-dependencies.patch
  ports/robotraconteur/vcpkg.json
  scripts/azure-pipelines/android/Dockerfile
  scripts/azure-pipelines/android/azure-pipelines.yml
  scripts/azure-pipelines/android/create-docker-image.ps1
  scripts/azure-pipelines/azure-pipelines.yml
  scripts/azure-pipelines/create-docker-images.ps1
  scripts/azure-pipelines/example-ubuntu-provision-for-docker.sh
  scripts/azure-pipelines/linux/Dockerfile
  scripts/azure-pipelines/linux/azure-pipelines.yml
  scripts/azure-pipelines/linux/changing-linux-packages.md
  scripts/azure-pipelines/linux/managed-image.json
  scripts/azure-pipelines/linux/provision-image.sh
  scripts/azure-pipelines/windows-unstable/azure-pipelines.yml
  scripts/azure-pipelines/windows/azure-pipelines.yml
  scripts/azure-pipelines/windows/deploy-visual-studio.ps1
  scripts/bootstrap.sh
  scripts/ci.baseline.txt
  versions/baseline.json
  versions/m-/mnn.json
  versions/r-/robotraconteur.json
Labels: info:internal, category:infrastructure

#44474 [cpp-httplib] update to 0.20.0
  ports/cpp-httplib/fix-find-brotli.patch
  ports/cpp-httplib/portfile.cmake
  ports/cpp-httplib/vcpkg.json
  versions/baseline.json
  versions/c-/cpp-httplib.json
Labels: category:port-update, info:reviewed

#44413 [SDL2] Fix compiling on gcc
  ports/sdl2/fix-pipewire.patch
  ports/sdl2/portfile.cmake
  ports/sdl2/vcpkg.json
  versions/baseline.json
  versions/s-/sdl2.json
Labels: category:port-bug, info:reviewed

#44462 [flatbuffers] update to 25.2.10
  ports/flatbuffers/portfile.cmake
  ports/flatbuffers/vcpkg.json
  versions/baseline.json
  versions/f-/flatbuffers.json
Labels: category:port-update, info:reviewed

#44465 [libcbor] update to 0.12.0
  ports/libcbor/cmake-config.diff
  ports/libcbor/portfile.cmake
  ports/libcbor/vcpkg.json
  versions/baseline.json
  versions/l-/libcbor.json
Labels: category:port-update, info:reviewed

#44466 [plutovg] update to 1.0.0
  ports/lunasvg/fix-plutovg.patch
  ports/lunasvg/portfile.cmake
  ports/lunasvg/vcpkg.json
  ports/plutosvg/fix-plutovg.patch
  ports/plutosvg/portfile.cmake
  ports/plutosvg/vcpkg.json
  ports/plutovg/portfile.cmake
  ports/plutovg/vcpkg.json
  versions/baseline.json
  versions/l-/lunasvg.json
  versions/p-/plutosvg.json
  versions/p-/plutovg.json
Labels: category:port-update, info:reviewed

#44458 [flecs] Update to 4.0.5
  ports/flecs/portfile.cmake
  ports/flecs/vcpkg.json
  versions/baseline.json
  versions/f-/flecs.json
Labels: category:port-update, info:reviewed

#44454 [github workflow] auto close issues about gitlab.freedesktop.org
  .github/workflows/check_issues.yml
Labels: info:reviewed

#44461 [grpc] Update to 1.71.0
  ports/grpc/00006-utf8-range.patch
  ports/grpc/portfile.cmake
  ports/grpc/vcpkg.json
  versions/baseline.json
  versions/g-/grpc.json
Labels: category:port-update, info:reviewed

#44383 [ffmpeg] Fix msvc pc files, update usage, improve test port
  ports/ffmpeg/portfile.cmake
  ports/ffmpeg/usage
  ports/ffmpeg/vcpkg.json
  scripts/test_ports/vcpkg-ci-ffmpeg/portfile.cmake
  scripts/test_ports/vcpkg-ci-ffmpeg/project/CMakeLists.txt
  scripts/test_ports/vcpkg-ci-ffmpeg/project/main.c
  scripts/test_ports/vcpkg-ci-ffmpeg/vcpkg.json
  versions/baseline.json
  versions/f-/ffmpeg.json
Labels: category:port-bug, info:reviewed

#44410 [duckdb] fix icu build
  ports/duckdb/portfile.cmake
  ports/duckdb/t-external-icu.patch
  ports/duckdb/vcpkg.json
  scripts/test_ports/vcpkg-ci-duckdb/portfile.cmake
  scripts/test_ports/vcpkg-ci-duckdb/vcpkg.json
  versions/baseline.json
  versions/d-/duckdb.json
Labels: category:port-bug, info:reviewed

#44444 [lib3mf] update to 2.4.1
  ports/lib3mf/lib3mf_vcpkg.patch
  ports/lib3mf/portfile.cmake
  ports/lib3mf/vcpkg.json
  versions/baseline.json
  versions/l-/lib3mf.json
Labels: category:port-update, info:reviewed

#44452 [tgui] Fix backend check
  ports/tgui/portfile.cmake
  ports/tgui/vcpkg.json
  versions/baseline.json
  versions/t-/tgui.json
Labels: category:port-feature, info:reviewed

#44434 [gperf] Fix CMake 4.0 build
  ports/gperf/CMakeLists.txt
  ports/gperf/vcpkg.json
  versions/baseline.json
  versions/g-/gperf.json
Labels: category:port-bug, info:reviewed

#44443 [projectm-eval] Update port to v1.0.1
  ports/projectm-eval/portfile.cmake
  ports/projectm-eval/vcpkg.json
  versions/baseline.json
  versions/p-/projectm-eval.json
Labels: category:port-update, info:reviewed

#44446 [tinyxml2] update to 11.0.0
  ports/tinyxml2/portfile.cmake
  ports/tinyxml2/vcpkg.json
  versions/baseline.json
  versions/t-/tinyxml2.json
Labels: category:port-update, info:reviewed

#44425 [imgui] update to 1.91.9
  ports/hello-imgui/portfile.cmake
  ports/hello-imgui/support-imgui-1_91_9.patch
  ports/hello-imgui/vcpkg.json
  ports/imgui/portfile.cmake
  ports/imgui/vcpkg.json
  versions/baseline.json
  versions/h-/hello-imgui.json
  versions/i-/imgui.json
Labels: category:port-update, info:reviewed

#44493 [libnick] Update to 2025.3.4
  ports/libnick/portfile.cmake
  ports/libnick/vcpkg.json
  versions/baseline.json
  versions/l-/libnick.json
Labels: category:port-update, info:reviewed

#44491 [libdatachannel] update to 0.22.6
  ports/libdatachannel/portfile.cmake
  ports/libdatachannel/vcpkg.json
  versions/baseline.json
  versions/l-/libdatachannel.json
Labels: info:internal, category:port-update, info:reviewed

#44488 [roaring] update to 4.3.1
  ports/roaring/portfile.cmake
  ports/roaring/vcpkg.json
  versions/baseline.json
  versions/r-/roaring.json
Labels: category:port-update, info:reviewed

#44487 [sdl1] fix linking warning LNK4099
  ports/sdl1/SDL.vcxproj.in
  ports/sdl1/vcpkg.json
  versions/baseline.json
  versions/s-/sdl1.json
Labels: category:port-update, info:reviewed

#44486 [asio-grpc] Update to 3.4.3
  ports/asio-grpc/portfile.cmake
  ports/asio-grpc/vcpkg.json
  versions/a-/asio-grpc.json
  versions/baseline.json
Labels: category:port-update, info:reviewed

#44484 [entt] update to 3.15.0
  ports/entt/portfile.cmake
  ports/entt/vcpkg.json
  versions/baseline.json
  versions/e-/entt.json
Labels: category:port-update, info:reviewed

#44483 [sentry-native] update to 0.8.2
  ports/sentry-native/portfile.cmake
  ports/sentry-native/vcpkg.json
  versions/baseline.json
  versions/s-/sentry-native.json
Labels: category:port-update, info:reviewed

#44477 [qtinterfaceframework] Bump jinja2 from 3.1.5 to 3.1.6
  ports/qtinterfaceframework/requirements_minimal.txt
  ports/qtinterfaceframework/vcpkg.json
  versions/baseline.json
  versions/q-/qtinterfaceframework.json
Labels: category:port-bug, info:internal, info:reviewed

#44475 [libtheora] Update cmake_minimum_required
  ports/libtheora/CMakeLists.txt
  ports/libtheora/vcpkg.json
  versions/baseline.json
  versions/l-/libtheora.json
Labels: category:port-bug, info:internal, info:reviewed
